[2021-11-03 13:20] romani commented on #10778
Checkstyle migrated to free tier in Travis.

[2021-11-03 21:09] strkkk commented on #10920
it looks similar to https://github.com/checkstyle/checkstyle/issues/10837, @nmancus1 can you help?

[2021-11-04 04:41] nmancus1 commented on #10920
@strkkk please approve issue

[2021-11-04 07:37] MUzairS15 commented on #10889
Hello, everyone  I am new to this project and looking for beginner freindly issue, so can I take this?

[2021-11-04 17:05] Venkatesh-24 commented on #9463
I'm on it.

[2021-11-04 20:50] nmancus1 opened #10924 "All checks that use `AbstractCheck#getLine()` should check code points instead of characters for spacing"
Affected checks:
https://checkstyle.sourceforge.io/config_misc.html#CommentsIndentation
https://checkstyle.sourceforge.io/config_blocks.html#RightCurly
https://checkstyle.sourceforge.io/config_blocks.html#LeftCurly
https://checkstyle.sourceforge.io/config_whitespace.html#GenericWhitespace
https://checkstyle.sourceforge.io/config_whitespace.html#NoWhitespaceBefore
https://checkstyle.sourceforge.io/

[2021-11-04 20:54] nmancus1 commented on #10924
Another option to consider is to have `AbstractCheck#getLine()` return an int array of code points, but this would be a significant breaking change.

[2021-11-04 22:42] rnveach commented on #10924
Why not add a `getCodePoints()` method?

[2021-11-04 22:56] nmancus1 commented on #10924
In `AbstractCheck` ? Great idea.

[2021-11-05 04:40] romani commented on #10889
@MUzairS15, please send a PR.

[2021-11-05 13:18] siy commented on #10848
It's too useful to be unused. I guess most teams which will migrate to Java 17 most likely will enable it. Also, this is a second preview, so changes in syntax are unlikely. Delaying support will force users to switch to other alternatives.

[2021-11-05 22:34] nmancus1 commented on #10848
@strkkk This makes sense, but perhaps we should also consider that Java 17 is a LTS release: https://www.oracle.com/java/technologies/java-se-support-roadmap.html

So, even if this syntax ends up changing a bit, many teams would likely still be using Java 17 for some time. Do you think the fact that Java 17 is an LTS makes a difference in this case?

[2021-11-06 16:48] romani commented on #10919
You can find examples of custom Checks at https://github.com/sevntu-checkstyle/sevntu.checkstyle/tree/master/sevntu-checks

I am closing issue, but you can continue ask questions here.

[2021-11-06 16:48] #10919 closed

[2021-11-06 16:50] MUzairS15 commented on #10889
When I ran `mvn test jacoco:restore-instrumented-classes jacoco:report@default-report` this is failing with error  `XdocsJavaDocsTest.testAllCheckSectionJavaDocs:167->examineCheckSection:194`.
Should I push my PR (or a Draft PR)?

[2021-11-06 16:55] romani commented on #10889
Try to understand why it is failing, sounds like you structure of content is damaged a bit

[2021-11-06 17:35] romani commented on #10848
We can try to support it if it doesn't make breaking changes to our AST

[2021-11-06 17:35] pbludov commented on #7368
The good news is that Mockito framework version 4.0.0 is able to mock static classes:
https://www.baeldung.com/mockito-mock-static-methods

It fails to mock the `System` class, but works fine with other JDK classes (for example, `MessageDigest`).

[2021-11-06 20:58] #10910 closed

[2021-11-06 20:58] rnveach commented on #10910
Fix was merged

[2021-11-07 00:44] romani commented on #10778
Reopened as we got build failure

[2021-11-07 06:02] MUzairS15 commented on #10749
@AbhinavRajputEXE are you working on this?

[2021-11-07 17:21] nmancus1 commented on #7504
I think that this check should verify usage of pattern variables, since they are just a special case of local variable. Example:

[code]

Read more about pattern variables at https://openjdk.java.net/jeps/394

[2021-11-07 18:39] pbludov opened #10932 "Remove dependency on Powermock from tests"
We have a number of Powermock powered tests:
https://github.com/checkstyle/checkstyle/tree/master/src/test/java/com/puppycrawl/tools/checkstyle/internal/powermock

We need them for coverage testing. Mostly because Mockito framework does not support mocking of a static methods prior to version 3.4.0. For today, the Powermock is not compatible with JDK17 and abandoned. This is a blocker for the futu

[2021-11-07 22:29] rnveach commented on #10932
As part of this issue, we should also verify if we can combine Mockito with pitest and merge the tests back together into their original tests instead of keeping them split like this.

[2021-11-08 09:14] MUzairS15 commented on #10889
I have raised a PR can you please check and share your thoughts?

[2021-11-08 09:18] MUzairS15 commented on #10749
@rnveach Can I try on this?

[2021-11-08 11:25] strkkk commented on #10749
@MUzairS15 yes, please go ahead

[2021-11-08 13:54] nmancus1 commented on #5389
@rnveach this issue is fairly old, can you take a look at the link you've provided in the issue description to make sure example is still valid?

[2021-11-08 15:12] nick-mancuso opened #10933 "Checkstyle should force logging of AST in checks that require it"
This is a good idea. Developers should be aware of this. We have a [check](https://github.com/checkstyle/checkstyle/blob/38df63e992c1270eac87d5e98d5d8cb281c4a20b/config/checkstyle_sevntu_checks.xml#L215) to forbid some method by its name and number of parameters.

 Unfortunately, the "old" `log` method is still used by Javadoc checks and filters. See #4830 for the details.
This means we should add

[2021-11-08 16:36] blacelle opened #10934 "OutOfMemory following CheckStyle 9.X upgrade"
I consider checkstyle used in a maven multi-module project.

		<maven-checkstyle-plugin.version>3.1.2</maven-checkstyle-plugin.version>

		<checkstyle.version>9.1</checkstyle.version>

I end with OutOfMemory issues in a compilation step going through all modules:

16:03:39,815 [INFO] --- maven-compiler-plugin:3.8.1:compile (default-compile) @ dp-proxy ---
16:03:39,819 [INFO] Changes detected - rec

[2021-11-08 16:40] blacelle commented on #10934
![image](https://user-images.githubusercontent.com/2117911/140782142-a95db84f-a014-4657-8425-8a6344c4aaa2.png)

I suppose the Mojo holds details about classes from all modules.

This may confirm this issue is within the maven plugin code, hence not in this github repo.

[2021-11-08 19:18] pbludov commented on #10934
Look like #10792

[2021-11-09 04:19] MUzairS15 commented on #10889
@romani When you are free pls check

[2021-11-09 06:19] MUzairS15 commented on #10749
Can you help me understand, what MetadataGeneratorUtil does, I am not able to understand clearly what is the use.
Also, how can I run this Util, I mean to check whether my changes are working as expected?

[2021-11-09 07:52] strkkk commented on #10749
It generates metadata files for checkstyle modules. You can check class unit tests to see how to run it and use TDD to implement changes.

[2021-11-09 14:26] romani commented on #10934
@blacelle, do you have open source repo where we can reproduce problem ?

[2021-11-09 16:23] Rahulkhinchi03 commented on #10817
![Untitled](https://user-images.githubusercontent.com/71710042/140963345-c36dcfd0-6365-4103-8610-20f5f8cbddec.png)
I am getting this error: java.lang.StringIndexOutOfBoundsException: begin 73, end -1, length 186

I really don't have any idea of how to resolve this.
Kindly help!

[2021-11-09 17:47] blacelle commented on #10934
Nope, sorry.

[2021-11-09 18:02] nmancus1 commented on #10934
@blacelle thanks for investigation and memory usage information. We have noticed this problem previously, as @pbludov stated above. I see that you cannot share your code, but can you share some details of your project, such as:

1. Roughly how many files are you checking in total?
2. Can you share more of your stack trace?
3. What version of Java does your project use?
4. Does execution always fai

[2021-11-09 20:47] blacelle commented on #10934
`find . | fgrep -c '.java'` -> 2496

A reference for myself: https://app.circleci.com/pipelines/github/solven-eu/mitrust-datasharing/23634/workflows/19538fb6-1e88-428e-900e-42a5d14e1bdc/jobs/110346

Here is the stack from the heapdump: it confirms the failure occurs during a compilation phase. However, it fails as the heap is consumed by Checkstyle data-structures from previous modules.

[code]

J

[2021-11-09 20:55] blacelle commented on #10934
I'm not comfortable with ANTLR4, but maybe we miss some sort of cache cleaning between each maven module  (Beware of parallel builds, processing modules in parallel)?  The JavaLanguageParser class seems to holds a cache a DFA, and a PredictionContextCache.

https://github.com/antlr/antlr4/issues/2182
https://github.com/antlr/antlr4/issues/499

https://github.com/checkstyle/checkstyle/blob/master/s

[2021-11-09 21:39] nmancus1 commented on #10934
You are absolutely correct.

ANTLR4 maintains the DFA cache to improve performance; clearing the DFA cache slows down parsing considerably, but doesn't help much with memory usage. I tried several approaches for reducing memory usage when implementing the parser, such as writing my own cache clearing method, [this method](https://stackoverflow.com/a/28843647/13160102), and lots of other hacks. The

[2021-11-09 23:20] blacelle commented on #10934
It feels reasonnable to clear the cache between each maven modules. I would expect low performance impact.

This looks unexpected to me. The heapdump looks quite straightforward (in my specific case) about the gain of clearing these DFA.

Do you have some WIP branches so I can have a deeper look?

I would expect having a .clearCache available to the caller, and let the Maven Mojo call it where rel

[2021-11-10 10:12] dginelli opened #10939 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-10 15:45] nmancus1 commented on #10934
Customization of `JavaLanguageParser.g4` (and `JavaLanguageLexer.g4` can be accomplished in a number of different ways, depending on exactly what you would like to change.

1. If there is an ANTLR specific class that you would like to extend, this PR is a good example of this: https://github.com/checkstyle/checkstyle/pull/10216. Here we extend the `LexerATNSimulator` class, then use the `@lexer::m

[2021-11-10 17:05] Rahulkhinchi03 commented on #9458
I am on it.

[2021-11-10 17:06] MUzairS15 commented on #10749
I have made a PR, please suggest additional changes if needed, if I misunderstood something.

[2021-11-10 18:48] nmancus1 commented on #10939
Hello @dginelli , I see that you have included links for tools that your bot uses (flacoco and repairinator), but I do not see a link to the repo for flacocobot itself. Can you provide a link?

[2021-11-11 06:07] ygots opened #10941 "Add support for default IntelliJ IDEA formatting"
In particular, I have to change java import order performed by IDEA by default to overcome Checkstyle's error `Wrong order for `. See the issue #525 closed without addressing.

[2021-11-11 11:25] dginelli commented on #10939
Hello @nmancus1,

Thank you for your answer. We are happy to see that you are interested in the project. I give you more details in order to better explain how it works.

The source code of flacocobot is integrated in Repairnator. In this moment, the last updates are not in the main branch, but in a [pull request](https://github.com/eclipse/repairnator/pull/1243). It is still not merged, but I can

[2021-11-11 17:48] mweber03 commented on #10886
You were right, using Gradle 7.3 which added support for JDK17 fixed the issue.

[2021-11-11 18:58] AbhinavRajputEXE commented on #9551
Hey, @romani @pbludov I did not make any modification in the code in any file, I just freshly cloned it and it's still showing me these many errors, is this normal? should I make changes that I need to make for this issue and ignore these warnings?
BTW errors are caused by this JavaLanguageLexer file, it says `cannot resolve symbol JavaLanguageLexer`
![Screenshot (405)](https://user-images.githubu

[2021-11-11 21:33] romani opened #10943 "Message validation in our Inputs should not have trailing and leading '.*'"
detected during code review https://github.com/checkstyle/checkstyle/pull/10839#discussion_r735038465

Message validation in our Inputs should not have trailinng and leading `.*`.

following modification of test should be acceptable
[code]

![image](https://user-images.githubusercontent.com/812984/141371980-7977a8ba-8cea-4354-a212-71f16bf0edfc.png)

But UT failing.
[code]

[2021-11-11 21:39] #10835 closed

[2021-11-11 21:39] romani commented on #10835
fix is merged

[2021-11-12 00:06] romani commented on #10939
Failure in tests in CI is rare case, as all tests are executed on contributors local laptop.
CI care more about integration testing or other code validation tools.

Do you have example how this tool already running on some project ?

[2021-11-12 02:09] Venkatesh-24 commented on #9551
@AbhinavRajputEXE I am also working on it I too got the same error and dont know what to do. 5 days back it didnt show any error but from yesterday its showing this error.

[2021-11-12 03:36] pbludov commented on #9551
You need to generate the parser code. `mvn clean compile` should fix it.

[2021-11-12 03:42] rnveach commented on #10941
@ygots Please provide the necessary information in the template or else the issue may be closed. We need to see what you are using now and how it doesn't match intellij's formatting.

[2021-11-12 08:10] #10920 closed

[2021-11-12 08:10] strkkk commented on #10920
fix is merged

[2021-11-12 08:50] strkkk commented on #6191
@romani @rnveach
Crowdin replied that

"Post-processor" is the feature that can help us to wrap long lines by ourselves.

[2021-11-12 11:44] dginelli commented on #10939
Hello @romani,

You can see an example [here](https://github.com/dginelli/failingProject/pull/13).

I see. For us, it would be enough to run our bot on your project, and then we would have two possibilities:

1) If there will be no failed pull request because, as you wrote, contributors run tests on their machine, we will just ask you to fill a super short questionnaire about software bots in gene

[2021-11-12 12:54] Binita-tech commented on #9450
I am on it.

[2021-11-12 20:16] romani commented on #10939
In this project, where we have 100 % coverage by braches and mutation. I do not see how not can suggest something that is not very obvious.

Your bot might be interesting on local when people do come coding, but in this particular  project, all is under tests, driven by tests.

We now in a state of quality where code does not really matter, what is matter is testing inputs. Even our tests are very

[2021-11-12 22:46] romani commented on #9458
fix is merged

[2021-11-12 22:46] #9458 closed

[2021-11-12 23:39] romani commented on #10941
https://checkstyle.org/config_imports.html#CustomImportOrder

search for `To configure the check so that it matches default IntelliJ IDEA formatter configuration (tested on v14)`

https://checkstyle.org/config_imports.html#ImportOrder

search for `To configure the check so that it matches default IntelliJ IDEA formatter configuration (tested on v2018.2)`

----

if you need to use IDEA default, as

[2021-11-12 23:39] #10941 closed

[2021-11-12 23:42] romani commented on #10941
here is comment https://github.com/checkstyle/checkstyle/issues/525#issuecomment-616154215

[2021-11-13 00:05] romani commented on #97
workaround is possible

Checkstyle supports
https://checkstyle.org/config_filters.html#SuppressionXpathSingleFilter from 8.18
by means of fancy xpath expression we can exclude all not required violations while Check can not support it more easy way.

If somebody make it happen please share here.

[2021-11-13 00:22] romani commented on #6191
https://docs.oracle.com/javase/6/docs/technotes/tools/solaris/javadoc.html as you see this tag always used with wrapping `{`,`}`.
I do not remember why it matter.

[2021-11-13 00:30] romani commented on #6191
I requested opensource license at https://crowdin.com/page/open-source-project-setup-request by hint from @strkkk .

[2021-11-13 00:33] romani commented on #6191
@strkkk , please send PR to extend properties.
I presume it  will be extension of https://github.com/checkstyle/checkstyle/blob/master/crowdin.yml .

[2021-11-13 00:48] romani commented on #10817
There is some problem with header comment in Input file related to Fully qualified name of Check, make sure it is spelled properly.
Recheck other Input files to see difference and spot a problem.

[2021-11-13 01:38] rnveach commented on #10817
Complex exception is partially due to https://github.com/checkstyle/checkstyle/pull/10766 being incomplete. @romani It is waiting on your review.

[2021-11-13 06:32] suman-somu commented on #9393
@romani, can you assign me on this ?
I am working on it.

[2021-11-13 16:27] #9551 closed

[2021-11-13 17:24] romani commented on #9393
Just make a comment "I am on it" it it easier than management by assignee.

[2021-11-13 17:34] robtimus opened #10945 "OperatorWrap with token ASSIGN too strict for annotations"
I have read check documentation: https://checkstyle.sourceforge.io/config_whitespace.html#OperatorWrap
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

In the above example, the array field allows the first element to be on a new line. If

[2021-11-13 17:49] robtimus opened #10946 "UnnecessaryParentheses too strict with combined && and ||"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#UnnecessaryParentheses
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

While technically these parentheses are indeed unnecessary (`LAND` has a higher

[2021-11-13 18:27] suman-somu commented on #9393
I am on it

[2021-11-13 18:28] Vyom-Yadav commented on #10946
'too strict' is relative, it may be for you but for others it might not be, the max that could be possibly done is a property like `strictlyRemoveUnnecessaryParen` or something like that, but then also, strictness is a relative term, can you propose to what level to want parenthesis with few examples of different kinds.

[2021-11-13 18:58] #10764 closed

[2021-11-13 18:58] rnveach commented on #10764
Fix was merged

[2021-11-13 19:04] robtimus commented on #10946
I think that the only issue I have is the example I've shown: combining `LAND` and `LOR`. Probably more precisely, combining one or more statements that use `LAND` with `LOR`, since the other way around already requires parentheses, and Checkstyle doesn't find any violations for that.

So basically, `statement1 || statement2`, where either statement contains `&&`, should not produce any warning.

[2021-11-13 19:06] robtimus commented on #10946
Note that I wouldn't mind a flag to enable this. This flag shouldn't prevent too many violations, otherwise the entire check loses (some of) its value.

[2021-11-13 19:10] romani commented on #10946
Yes, this Check is more fanatic people.
But if we get clear definition of how to ease validation, it would be good, to let other group of people use it.
Main problem what rules to use to soften validation.

[2021-11-13 19:19] romani commented on #10946
@robtimus , please share examples where you still think extra parentheses are good to remove.

[2021-11-13 20:03] romani commented on #10817
@Rahulkhinchi03, referenced PR is merged, please rebase on latest code.

[2021-11-13 21:01] robtimus commented on #10946
@romani, I think that in most cases it's good to remove unnecessary parentheses. Only if it hinders readability would I allow them myself. And maybe "readability" is something that isn't always clear. The combination of `LAND` and `LOR` is one example I encountered, but other people may want more cases.

I'm starting to think that maybe this issue should be closed without any action. If a case is

[2021-11-13 21:22] romani commented on #10946
In case where I wanted to use extra parentheses I use new lines

[code]

Not sure it always works, but I do not remember if I even run into case where it did work.
But I agree that sometime extra parentheses is good, but it is hard to formulate that rule to automate it.

[2021-11-13 21:47] robtimus commented on #10946
I agree, and I like the new line suggestion. That makes it a lot more readable without parentheses.

[2021-11-13 22:58] romani commented on #6191
from support:

We have already approved your request, so feel free to invite translators to your project and translate the content :)
Please don’t hesitate to contact us if any additional assistance is needed!
Sincerely,
Natalia Sahaidak
Customer Success Manager

@strkkk , please continue.

[2021-11-13 23:23] romani commented on #10946
I am closing issue, but discussion can be continued in case somebody find a way how to keep visually useful and helpful parentheses

[2021-11-13 23:23] #10946 closed

[2021-11-14 01:11] romani commented on #10945
There should be no violations on such code. Behavior should be consistent with array for field.
Wrap is for array body, not for `=`.

[2021-11-14 01:43] romani commented on #10859
@Vyom-Yadav, as you reproduced issue, please make a comment with following issue template . I will substitute you comment content to issue description.

[2021-11-14 03:54] #9426 closed

[2021-11-14 04:01] Vyom-Yadav commented on #10859
I have read check documentation: https://checkstyle.sourceforge.io/config_design.html#FinalClass
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**

Check should be able to detect that there is a clas

[2021-11-14 04:03] romani commented on #9993
https://github.com/checkstyle/checkstyle/issues/9993#issuecomment-841191068

This is correct expectation. Content is with all html tags, not a way how it is rendering in browser. We need util method for Summary check

[2021-11-14 04:24] romani commented on #10149
Fixed by https://github.com/checkstyle/checkstyle/issues/10171

[2021-11-14 04:24] #10149 closed

[2021-11-14 05:33] Vyom-Yadav commented on #9993
@romani In that case, #10021 is ready for review.

[2021-11-14 06:27] Rahulkhinchi03 commented on #10817
@romani I am really sorry @romani I have my end-semester exams going on. Kindly give me some days to resolve the issues.

[2021-11-14 15:21] strkkk commented on #10749
fix is merged

[2021-11-14 15:21] #10749 closed

[2021-11-14 15:29] #10778 closed

[2021-11-14 21:43] romani commented on #10625
Look at resources folder, files that is start with "Input" in name. All of them should follow general rule of 100 symbols per line maximum. Choose some of them and send as PR to let us verify that you going to update them properly. After that you can choose more files to update.

[2021-11-14 22:07] romani commented on #8240
I still think it is better to create separate grammar, separate parser ModuleInfoTreeWalker, and make special Check for order

[2021-11-14 22:25] romani commented on #10811
@victorwss , this issue has a lot of items, I agree with all of them, please split this issue in few smaller issues with exact single goal, it will simplify accepting issues and PR review.

[2021-11-14 22:30] romani commented on #10828
@victorwss, is there something left to fix in this issue ?

[2021-11-14 22:41] romani commented on #9719
@mjpt777 , please send pull request

[2021-11-14 22:51] romani commented on #10812
Please move to separate issue and let's review cases. I thought we do testing without much attention to wording of messages. We should only depends on message arguments.

Let's move this discussion to separate ticket, with all details, we live in illusion that execution of "mvm verify" works without any problems on all OSs and in all locales. We even have CI jobs for this.

[2021-11-14 23:54] #2973 closed

[2021-11-15 04:17] pbludov commented on #8240
What should be the output of this parser? `DetaiAst` or `DetailNode`? Or, maybe another one?

[2021-11-15 05:10] romani commented on #8240
New node, it will be like new language support

[2021-11-15 16:51] romani commented on #3544
Fixed.
`Error ==> Violation` was removed

[2021-11-15 17:13] AbhinavRajputEXE commented on #9485
Hey, @pbludov @romani
I ran the mvn clean verify command on Newley cloned repo. which I fetched before cloning it and then I ran the `mvn clean verify` command without making any changes and it is still giving me these errors :(
`[ERROR] Errors:
[ERROR]   MainTest.testNonClosedSystemStreams:408 » InaccessibleObject Unable to make fi...
[ERROR]   AuditEventDefaultFormatterPowerTest » Runtime PowerM

[2021-11-15 17:19] #10144 closed

[2021-11-15 17:20] pbludov commented on #10144
Fix is merged.

[2021-11-15 17:25] mjpt777 commented on #9719
There is an outstanding PR with https://github.com/checkstyle/checkstyle/pull/9766

[2021-11-15 17:47] AbhinavRajputEXE commented on #9485
So previously 15 errors were coming on the clean unedited newly cloned repo. as I explained earlier and even after making the required changes for this issue regardless of those errors it is giving me the same 15 errors on running `mvn clean verify` . can you please verify these changes?
@pbludov

[2021-11-15 20:04] nmancus1 commented on #8240
It would be a breaking change, but it would be nice to have consistent naming of AST nodes, if we are going to have different ones. `DetailAST` -> `JavaDetailAst`, `DetailNode` -> `JavadocDetailAst`, and `ModuleInfoDetailAst`.

[2021-11-15 23:02] rnveach commented on #8240
For a new "TreeWalker" we would need everything under the old one. XPath support and suppression.

Why can't we just hardcode to have TreeWalker ignore `module-info` files and have the new "TreeWalker" only ignore files that aren't `module-info`? Why do users need to configure both TreeWalkers in such a way when the support for parsing is built into both.

[2021-11-16 04:33] MUzairS15 commented on #9421
I am on it

[2021-11-16 09:56] MUzairS15 commented on #10924
Can I work on this?

[2021-11-16 13:39] nmancus1 commented on #10924
@MUzairS15 sure, please be aware that we will need to generate check regression reports for all checks listed in the issue description.

[2021-11-16 14:23] strkkk commented on #6191
@romani PR to change config is https://github.com/checkstyle/checkstyle/pull/10957
after that existing PR for translations https://github.com/checkstyle/checkstyle/pull/10928 and branch should be deleted, after that we can sync crowdin again

[2021-11-17 16:00] MUzairS15 commented on #10924
Thank you for your response.

[2021-11-17 16:22] romani commented on #9485
Fix is merged

[2021-11-17 16:22] #9485 closed

[2021-11-17 16:29] AbhinavRajputEXE commented on #9485
Thank you @romani for guiding me through this PR. 😊

[2021-11-17 16:39] romani commented on #10161
@pbludov , I tried to read your post several times and I do not understand it. Please update it to be more precise.

My question was:
Ctor in nested classes should be allowed to have public scope.
If team agree, we:
- create issue on Check to not violate such cases.
- temporary create xpath suppression for such violations, and update all cases to have public modifier.

[2021-11-17 19:44] pbludov commented on #10161
I want to say that both options have advantages and disadvantages. If we need to choose exactly one, I prefer the `public` scope.

[2021-11-18 06:09] romani opened #10959 "Travis - arch ppc64le: execution of some unexpected command"
Hi Support,
​
https://app.travis-ci.com/github/checkstyle/checkstyle/jobs/548246428
​
failure on:
`mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B --V`

but our repo does not have such command in travis.yml
thanks,
Roman Ivanov

[2021-11-18 13:27] Binita-tech commented on #9450
I have read the above description, Can you please elaborate a little bit about what changes I have to make in Indent?

[2021-11-18 16:22] romani commented on #10959
From support:

It seems like you are building a `language: java` project and you don't overwrite the default `install: ` key in your .travis.yml file. Therefore this command is added by default. You can simply ignore this command addition `install: true` to the root level of your .travis.yml file.

[2021-11-18 16:25] romani commented on #10959
Fix is merged

[2021-11-18 16:25] #10959 closed

[2021-11-18 17:16] Rahulkhinchi03 commented on #10817
@romani sir, you can close this PR now. I created a new pr #10958

[2021-11-18 17:49] AbhinavRajputEXE commented on #9372
I'm on it

[2021-11-19 06:33] Sadashiv opened #10961 "Can we skip via checkstyle via command line or build.gradle"
Hi Team,
sonarqube: 8.9
plugin: checkstyle: 4.29
We have project with huge code can we skip chekcstyle via command line or build.gradle
If yes how we can skip.

Below these are not helped
checkstyleMain {
    ignoreFailures = true
}

checkstyle {
   ignoreFailures = true
}

checkstyleTask.ignoreFailures = true

Please help on this part.

I have read check documentation: https://checkstyle.org/conf

[2021-11-19 10:24] Rahulkhinchi03 commented on #7541
@romani Sir, can you please guide me in resolving this issue and how to get start with it?

[2021-11-19 10:27] strkkk commented on #10961
@Sadashiv this is not an issue of checkstyle itself (we do not support build system plugins such as gradle), please search for answer in stackoverflow

[2021-11-19 10:27] #10961 closed

[2021-11-19 13:26] Venkatesh-24 commented on #9450
First you need to create a AST for the given indent example in TokenTypes.java in a Test Class and check it against mvn clean verify after you updated the TokenTypes.java file please refer to similar successful PRs to get an idea.

[2021-11-19 14:03] romani commented on #9421
fix is merged

[2021-11-19 14:03] #9421 closed

[2021-11-19 15:07] WRupprath opened #10962 "NPE in EqualsAvoidNull check when accessing string from base class with 'this' qualifier"
Checkstyle ends with a NPE when a derived class accesses an String variable from a base class when the variable is accessed via 'this' qualifier. The check runs fine when the 'this.' is omitted.

This error appeared first in the Checkstyle version 8.29 we currently use but can be reprodued with the latest 9.1 version.
It appears on the checkstyle command line (as in the sample below), withing the

[2021-11-19 15:08] WRupprath commented on #10962
Sorry, missed the checkstyle-config.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="fileExtensions" value="java"/>
  <module name="TreeWalker">
    <module name="EqualsAvoidNull"/>
  </module>
</module>

[2021-11-19 15:09] WRupprath commented on #10962
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="fileExtensions" value="java"/>
  <module name="TreeWalker">
    <module name="EqualsAvoidNull"/>
  </module>
</module>
`

[2021-11-19 15:11] WRupprath commented on #10962
[checkstyle-config.zip](https://github.com/checkstyle/checkstyle/files/7571103/checkstyle-config.zip)

[2021-11-19 15:19] strkkk commented on #10962
@WRupprath FYI it is better to paste code using backticks https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks
I edited your first post and removed comments below.

Also, I reproduced issue and it is valid. Interesting that it does not fail if `super` used instead of `this`

[2021-11-20 10:55] developernarendra commented on #7427
hi i am new here how can i start this project pls help someone

[2021-11-20 13:41] #10962 closed

[2021-11-20 13:42] #9372 closed

[2021-11-20 14:10] AbhinavRajputEXE commented on #9450
@pbludov @romani may I work on this too?

[2021-11-20 14:25] Binita-tech commented on #9450
Let me work on this. This is my first time contributing to checkstyle and I am figuring it out.

[2021-11-20 14:27] AbhinavRajputEXE commented on #9450
@Binita-tech sure, fine👍

[2021-11-20 18:31] MUzairS15 commented on #10924
Hello, tests are failing, will require some time.

[2021-11-21 08:38] Vyom-Yadav commented on #7504
@nmancus1 While adding support for pattern variables ( adding support for if-then-else right now, will discuss later adding support for ternary, etc.)  I would need to negate the expression apply de morgans law to an expression to check whether it will exist in else statement.
Examples will explain better-
[code]
So to evaluate the scopes of variables I would have to negate the expression apply de

[2021-11-21 10:19] #10945 closed

[2021-11-21 10:20] strkkk commented on #10945
fix is merged

[2021-11-21 13:43] nmancus1 commented on #7504
@Vyom-Yadav thanks for your investigation and explanation of nuances of implementing pattern variable support. I think in light of complicated implementation, and recent extension of pattern variables proposed by https://openjdk.java.net/jeps/405 and https://openjdk.java.net/jeps/406, perhaps pattern variables are a special enough case to require their own check.

We should clearly mention this li

[2021-11-21 16:17] rnveach commented on #7504
You basically need to track the frames like `RequireThisCheck` to understand if `p` is the first local variable or if it is the pattern variable instead. Also the pattern variable is basically another local variable, so I can see someone wanting it to check those too sometime. You may want to check how `RequireThisCheck` does this.

I think it is better to build the check in small steps and create

[2021-11-21 16:21] nmancus1 commented on #7504
Support for pattern variables is more complicated than this; the expressions in the conditionals must be evaluated to determine the scope of the variable.

[2021-11-21 16:22] rnveach commented on #7504
Which is what `RequireThisCheck` attempts to do with it's "frames". It sees {} as a separate frame and see the distinction between the different scopes.

[2021-11-21 16:30] rnveach commented on #7504
Shouldn't this be the instance variable here? The scope of local p expired after the `if`. The same with some of the others.

[2021-11-21 16:33] nmancus1 commented on #7504
`if (!(o instanceof String p && p.equals("sd"))....` means that pattern variable `p` is in scope of the else block, since the condition is basically `!(o instanceof String p && p.equals("sd"`).

[2021-11-21 17:12] rnveach opened #10969 "RequireThisCheck: pattern variables produce false positives"
Identified at https://github.com/checkstyle/checkstyle/issues/7504#issuecomment-974776332 ,

[code]

As the comments demonstrate, only really lines 16, 19, and 20 should have violations as they are accessing the instance variables.

You can confirm this by running the code, which as is outputs `a:null:null`.

Thanks @nmancus1 for explaining all this to me.

[2021-11-21 17:31] rnveach opened #10970 "FinalLocalVariable: false negative on pattern variables"
Identified at https://github.com/checkstyle/checkstyle/issues/7504#issuecomment-974776332 ,

https://checkstyle.sourceforge.io/config_coding.html#FinalLocalVariable

[code]

I am expecting a violation on line 4 as line 7 shows that the pattern variables can be declared `final` and can be re-written as shown on line 11.

https://openjdk.java.net/jeps/394

[2021-11-21 18:11] rnveach opened #10971 "LocalFinalVariableName: false negative on pattern variable"
https://checkstyle.org/config_naming.html#LocalFinalVariableName

[code]

I am expecting a violation on line 5 since `BAD` is a local, final variable and it doesn't start with a lower case as is default required.

[code]

[2021-11-21 18:12] rnveach opened #10972 "LocalVariableName: false negative on pattern variable"
https://checkstyle.org/config_naming.html#LocalVariableName

[code]

I am expecting a violation on line 5 since BAD is a local variable and it doesn't start with a lower case as is default required.

[2021-11-21 18:17] rnveach commented on #10971
I guess this may require more discussion since we have PatternVariableName ( https://checkstyle.org/config_naming.html#PatternVariableName ) and we don't want to overlap functionality. Not sure if it makes sense to add a new check for final patterns. At the least, we should update documentation to point to the other check for patterns.

[2021-11-21 18:17] rnveach commented on #10972
I guess this may require more discussion since we have PatternVariableName ( https://checkstyle.org/config_naming.html#PatternVariableName ) and we don't want to overlap functionality. Not sure if it makes sense split apart final and non-final patterns. At the least, we should update documentation to point to the other check for patterns.

[2021-11-21 19:59] romani commented on #10972
As we have special Check, others should exclude violating such cases.
I think it is correct to have no violations on code and config above

[2021-11-21 20:03] romani commented on #10971
We need to update documentation to state clearly that this Check validate variables with final modifier.

There are lot of cases when variable becomes final even without modifier.

[2021-11-21 20:07] romani commented on #10970
As we have special Check for this pattern variable , I think it is ok to have no violation.
We might need to mention explicitly final to be a target of Check.

[2021-11-21 20:39] rnveach commented on #10970
That is for naming, which I am not asking for in this issue.
Are you say we should have FinalPatternVariable check or we should not violate this at all?

I am not sure what you are saying here. I am asking for a violation to printed if a pattern variable isn't re-assigned and is not final so the user can write the words final. You say its ok to have to no violation, but then I assume you mention t

[2021-11-21 20:41] rnveach commented on #10971
But this code has a final variable on it, so it needs to be more explicit than that. Also, since we have 2 checks for local variable names, you didn't cover having 2 checks for pattern varaible names.

[2021-11-21 21:26] romani commented on #10970
Yes, no violation at all

[2021-11-21 21:36] rnveach commented on #10970
Then what about a separate check like `FinalPatternVariable`?

[2021-11-22 07:03] Vyom-Yadav opened #10973 "New Check UnusedPatternVariable"
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

Resolving the scope of a pattern variable is not a simple task and requires the implementation of logic mentioned in https://github.com/checkstyle/checkstyle/issues/7504#issuecomment-974776332. Hence a new check would be the best option IMO.

[2021-11-22 13:25] nmancus1 commented on #10934
Leaving some notes here:

From https://github.com/antlr/grammars-v4/issues/2315:

----------------------

[2021-11-22 16:41] nmancus1 commented on #10924
@MUzairS15 circling back on this issue, I see that you edited your comment.

Yes, please do.

[2021-11-22 18:40] AbhinavRajputEXE commented on #10625
@romani , please correct me if I'm wrong, I have to make changes in [checkstyle_non_main_files_suppressions.xml](https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_non_main_files_suppressions.xml) , and add the suppressions for the files in [resources](https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle) folder starting with "

[2021-11-22 21:16] md-5 commented on #10934
Hi @nmancus1

Per the comments on the PR, our project is open source, but unfortunately it requires several hoops to build as it does pull in proprietary components. We have roughly 1300 source files (160k sloccount lines) and Checkstyle 9.x requires 3x the heap.

We do have another fully open source project with roughly 1100 sources (51k sloccount lines), but Checkstyle 9.x doesn't seem to have a

[2021-11-23 04:18] Sadashiv opened #10975 "How to Disable/bypass checkstyle in gradle via ./gradlew sonarqube"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

sonarqube version: 8.7
checkstyle plugin in sonarqube: 4.29

How to skip/bypass checkstyle during ./gradlew

[2021-11-23 04:21] romani commented on #10975
Ask this question in stackoverflow or gradle support.

[2021-11-23 04:21] #10975 closed

[2021-11-23 04:45] MUzairS15 commented on #10924
I have created a draft PR, pls check when you find time,
Yes, I edited because I thought I will manage but I was not able to.

[2021-11-23 11:51] rnveach commented on #7427
@developernarendra Since you are new, find another issue with an easy label.

[2021-11-23 13:18] nmancus1 commented on #10924
@MUzairS15 a good strategy for this update might be:

1. Create `AbstractCheck#getCodePoints`
2. Make changes in already updated checks (`WhitespaceAround`, `NoWhitespaceBefore`) to use this method
3. Update checks that require simpler changes, such as *`CurlyCheck`s and `SingleSpaceSeparatorCheck`
4. `GenericWhitespaceCheck` seems to be the most complicated update, so I would do this last.

This

[2021-11-23 16:15] romani commented on #10934
Checkstyle do not need compilation. As you can confirm that certain code is compilable, it is enough. Checkstyle just need set of java files, as text files

[2021-11-23 20:13] md-5 commented on #10934
Let me rephrase, it requires several hoops to generate the majority of the source files :)

[2021-11-23 21:57] rnveach commented on #9072
Fix was merged

[2021-11-23 21:57] #9072 closed

[2021-11-24 14:07] romani commented on #10934
Can you generate them and put in other open source repository. We just need folder with Java files, we are not going to compile them, we parse text files only  .

[2021-11-24 18:19] AbhinavRajputEXE commented on #9464
I'm on it.

[2021-11-25 15:20] Vyom-Yadav commented on #10943
I am on it.

[2021-11-25 15:41] romani commented on #10625
Suppression is already there.
Find input file that violate this rule, fix it, update Test class if required (due to shift in line numbers). Update suppression to avoid suppression on such input.
Verify that adding new line to this input that is longer than 100 characters failing a build.

[2021-11-25 15:47] AbhinavRajputEXE commented on #10625
@romani sir, thanks for explaining this.
I'm on it.

[2021-11-25 19:35] eorloff opened #10978 "Record inside interface is treated as method"
I have read check documentation: https://checkstyle.org/config_naming.html#MethodName
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

Expected no errors, but the name of the record is marked as an illegal method name.

If `interface Test

[2021-11-25 20:10] strkkk commented on #10978
I reproduced problem.
@nmancus1 AST for this case looks like
[code]

so nested record is parsed as method def. Is there any way to fix parser for this case?

[2021-11-25 21:38] romani commented on #10978
Better to fix AST, but until last is bad Check can have  hack workaround

[2021-11-26 13:05] Binita-tech commented on #9450
@romani , please review this PR

[2021-11-26 13:29] #9464 closed

[2021-11-26 13:30] pbludov commented on #9464
Fix is merged.

[2021-11-26 13:44] nmancus1 opened #10982 "Release notes should mention that `CheckUtil#createFullType` has been removed."
Noticed while running check regression reports for #10979 with Sevntu checks, the commit that removes `CheckUtil#createFullType` (https://github.com/checkstyle/checkstyle/pull/10839/commits/7462b00c2f0d470be6d3d8825f83c717cc5696aa), does not mention that this method has been removed. `createFullType` is used in two sevntu checks:

[code]

It is likely that `CheckUtil#createFullType` is also used i

[2021-11-26 14:23] strkkk commented on #10982
Oh, unfortunately I didn't think about it, I saw it is not used in checkstyle code so I removed this method.

So there are 2 options -
1. add appropriate label to issue and fix senvtu
2. revert this part of changes

@romani @rnveach @pbludov what do you think is best?

I prefer option 1, also it can be easily replaced with `FullIdent.createFullIdent` method

[2021-11-26 15:34] Binita-tech commented on #9422
I am on it.

[2021-11-26 16:31] romani commented on #10982
Util is not API.
Usage of our internals is on their own risk

[2021-11-26 16:42] nmancus1 commented on #10982
Usage of our internals is on their own risk

I agree, but I do not see harm in informing users of such a change in Checkstyle's case. I would expect anyone writing their own checks to use any utility available to them (as was done in Sevntu repo). If nothing else, adding a release note with a link makes it easier for a user to see how usages were replaced, to use as example for their own check.

[2021-11-26 17:48] AbhinavRajputEXE commented on #9412
I'm on it.

[2021-11-27 16:50] #9463 closed

[2021-11-27 16:54] romani commented on #9393
Fixed https://github.com/checkstyle/checkstyle/blob/3895bdee4908f0d8790cdc50dd10dcc38f14b0f6/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java#L4776

[2021-11-27 16:54] #9393 closed

[2021-11-27 16:56] #10943 closed

[2021-11-27 16:59] #9450 closed

[2021-11-27 17:01] #10978 closed

[2021-11-27 17:04] romani commented on #10978
I placed breaking compatibility just warn user who created custom Check during last 2 years.

[2021-11-27 17:46] #9412 closed

[2021-11-27 18:36] AbhinavRajputEXE commented on #9400
I'm on it.

[2021-11-27 18:54] romani commented on #10982
Release notes are taken from issues that are referenced in commits.
Changes are done in https://github.com/checkstyle/checkstyle/commit/7462b00c2f0d470be6d3d8825f83c717cc5696aa

So release notes line will be:
ClassFanOutComplexity fails to count all classes in multicatch and implements clause.

Title from https://github.com/checkstyle/checkstyle/issues/10144

If we want to hint changes in utility

[2021-11-28 05:53] strkkk commented on #10982
I changed issue title

[2021-11-28 05:54] Venkatesh-24 commented on #9867
I am on it.

[2021-11-28 06:09] romani commented on #9867
It might be resolved during our migration to unlined config in Inputs

[2021-11-28 06:21] romani commented on #10982
@nmancus1 , please close this issue if you are satisfied

[2021-11-28 07:15] Venkatesh-24 commented on #9867
Okay

[2021-11-28 12:09] Vyom-Yadav commented on #10752
on it.

[2021-11-28 13:48] #10982 closed

[2021-11-28 13:54] rnveach commented on #9867
@Venkatesh-24 Please check if there is anything to do for this issue. Let us know the result here.

[2021-11-28 14:13] Binita-tech commented on #9420
I am on it.

[2021-11-28 14:39] Venkatesh-24 commented on #9867
Sure I will check @rnveach I looked at good practice files for this issue but the files changed are very large and I could not understand it can you please give me a hint on what should I do and where to start looking from first.

[2021-11-28 16:07] rnveach commented on #9867
Find StaticVariableNameCheckTest . Check the class for all input files that are used. Are any duplicated that the same file appears in 2 different tests? If so, which ones.

[2021-11-28 16:08] romani commented on #9867
https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/naming/StaticVariableNameCheckTest.java

All test methods use unique input files

[2021-11-28 16:08] #9867 closed

[2021-11-28 23:30] rnveach commented on #5389
Issue is still valid.

[2021-11-29 09:47] Vyom-Yadav commented on #10969
On it.

[2021-11-29 16:06] #9400 closed

[2021-11-29 16:55] romani commented on #4799
from https://github.com/checkstyle/checkstyle/pull/9174/files#r612396057

it is not clear why we need two methods `getFirstSentence` and `getSummarySentence`.
Ideally we should have only one method like getSummarySentence that return summary sentence if it present.
Non of this method do this job, we need combine them in single method. All Check validation should done on single string value.

https

[2021-11-29 16:55] romani commented on #9912
Discussion moved to that issue

[2021-11-29 16:55] #9912 closed

[2021-11-29 18:37] nmancus1 commented on #10580
I am closing this issue, since no further details have been provided. It is likely that this was a duplicate of https://github.com/checkstyle/checkstyle/issues/10866.

[2021-11-29 18:37] #10580 closed

[2021-11-29 19:24] nmancus1 commented on #10582
It appears that regression happened in 8.39 release:

[code]

Regression could possibly be related to changes at https://github.com/checkstyle/checkstyle/issues/5951.

Issue is still valid:

[code]

[2021-11-29 19:49] AbhinavRajputEXE commented on #9387
I'm on it.

[2021-11-30 05:41] #9387 closed

[2021-11-30 05:53] AbhinavRajputEXE commented on #9379
can I work on this?

[2021-11-30 05:54] nmancus1 commented on #9379
Sure, please send PR.

[2021-11-30 06:33] Rahulkhinchi03 opened #10995 "Coverage checks have not been met"
I am getting this error of `Coverage checks have not been met` which says:
`[WARNING] Rule violated for class com.puppycrawl.tools.checkstyle.checks.coding.IllegalTypeCheck: branches covered ratio is 0.97, but expected minimum is 1.00`

This issue occurred while resolving the issue: #10817, You can see here: #10958

[2021-11-30 06:39] nmancus1 commented on #10995
@Rahulkhinchi03 this will be resolved in https://github.com/checkstyle/checkstyle/issues/10817, we will not merge PR unless coverage is 100%.

[2021-11-30 06:43] nmancus1 commented on #10969
@Vyom-Yadav it might be a good idea to discuss high level implementation of expression evaluation idea in here first before sending PR.

[2021-11-30 07:45] Rahulkhinchi03 commented on #10995
I got this while running `MVN CLEAN VERIFY`. May I know how to resolve this in my local environment?

[2021-11-30 08:23] Stredsto commented on #7582
This issue still open ?

[2021-11-30 12:11] strkkk commented on #10995
@Rahulkhinchi03 please ask such question in gitter or in issue.

That means that some of your new code lines are not covered by tests.
you can import result jacoco coverage report (in target folder) an see what lines are not covered
https://www.jetbrains.com/help/idea/viewing-code-coverage-results.html

[2021-11-30 12:11] #10995 closed

[2021-11-30 14:07] nmancus1 commented on #10970
I think this is a good idea; perhaps even extending the check (or having another) that verifies that all pattern variables are declared as final. Pattern variable reassignment seems like a bad practice to me.

This check will require expression evaluation as discussed in https://github.com/checkstyle/checkstyle/issues/7504#issuecomment-974820323 to determine exact scope of pattern variable.

[2021-11-30 14:24] Vyom-Yadav commented on #10969
@nmancus1 Of course, the plan is to simplify the boolean expression, and check whether the pattern variable has been introduced or not. Before moving to complicated examples, I will quickly explain what we need to do in basic examples.

 In all examples, there is an instance var `p` present.

### Example 1-
[code]
Pattern var has not been introduced since it is used with `||`.
**Q1.** How will thi

[2021-11-30 14:42] nmancus1 commented on #10969
I was not aware of this nuance; this makes things a bit more complex.

I can't help but wonder if we should implement this pattern variable "expression evaluation" in a simpler check first, such as the new check proposed in https://github.com/checkstyle/checkstyle/issues/10970#issuecomment-974900102 (not approved yet). `RequireThis` is a fairly complex check, and it would be good to see your plan

[2021-11-30 14:47] strkkk commented on #9146
@pbludov is there some blockers for update?

[2021-11-30 14:54] nmancus1 commented on #10969
@Vyom-Yadav how do you plan to store the state of the AST/ expression as it is evaluated?

[2021-11-30 15:13] Vyom-Yadav commented on #10969
@nmancus1

[This](https://docs.oracle.com/en/java/javase/17/language/pattern-matching-switch-expressions-and-statements.html) is also a new feature, although a preview feature, may become permanent in the future.

I also feel the same, resolving the scope of pattern variables can be used in many checks eg - https://github.com/checkstyle/checkstyle/pull/10930 (though a PR right now), `RequireThis`

[2021-11-30 16:30] nmancus1 commented on #10969
@Vyom-Yadav just to be very clear, there can be three results of expression evaluation, right?

1. Given pattern variable is in scope of block (conditional or loop) guarded/ controlled by expression
2. Given pattern variable in in scope of following `else if` and `else` blocks in case of conditionals
3. Given pattern variable is in scope of block enclosing conditional statements/loops mentioned ab

[2021-11-30 16:43] romani commented on #9146
@strkkk, please look at PRs from Pavel, please help to review.

[2021-11-30 16:50] Vyom-Yadav commented on #10969
@nmancus1

Yes, those are the possible scopes **without** including preview features, also I missed one example-
[code]

Understood, shouldn't be a problem using some sort of tree to to do it.

[2021-11-30 19:21] Venkatesh-24 commented on #10015
I am on it

[2021-11-30 19:22] Venkatesh-24 commented on #10015
@romani can you please point me to similar type of solved issues or guide me through to solve this issue

[2021-11-30 23:57] romani commented on #10934
I am approving this issue, but we didn't discuss what exactly a problem and how to resolve it, so PR is not guaranteed to be merged, we will see proposal in PR if it happens.

[2021-12-01 05:08] romani commented on #10015
Please find closed issues with label "indentation" and you will see related PRs/commits.

[2021-12-01 05:29] romani commented on #10970
I removed all my comments, I were confused.
I updated issue description.

I think we should update existing Check. Declared expectations in issue is valid.

@pbludov , @strkkk , please vote.

[2021-12-01 07:54] romani commented on #9146
Eclipse is migrated, jgit is on jdk11 now - https://github.com/checkstyle/checkstyle/pull/10992#issuecomment-983377915

[2021-12-01 14:48] strkkk commented on #10970
it seems a bit weird to me to make a special check for such small case. I think it fits into existing check

[2021-12-01 18:51] Venkatesh-24 commented on #3847
I am on it

[2021-12-01 18:55] Venkatesh-24 commented on #3847
@romani I read the Npath complexity documentation and understood about the complexities can you please tell me what changes do I need to do in order to solve this issue.

[2021-12-02 05:47] romani commented on #3847
All logic at https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/metrics/NPathComplexityCheck.java
Make new input file, make test method and debug Check to understand it.

[2021-12-02 13:23] Venkatesh-24 commented on #3847
Hi @romani when I tested the above code I am getting that expected warning as such now can you please tell me what to do next.

[2021-12-02 13:38] Venkatesh-24 commented on #3847
Hey @romani  complexity = 1 for return + 2 for | but return ignores the last expression so we are excluding the last | and the complexity for |  reduces by 1 so finally we get 2. Am I right??

[2021-12-02 13:40] hd42 opened #10997 "TrailingCommentsCheck ignores first comment character"
We had a rule for our eclipse-plugin projects
`<module name="TrailingComment">
    <property name="legalComment" value="\$NON-NLS" />
</module>`
because Eclipse internationalization requires this trailing comment for Non-Localized Strings.

Since some versions (I believe https://github.com/checkstyle/checkstyle/commit/ebef3bd59fdc2c97587a67bc59d57af6ecbb9072, introduced in 8.41), this did no longe

[2021-12-02 14:54] nmancus1 commented on #10997
@hd42 please update issue description to follow issue template, this helps us to diagnose your problem.

[2021-12-02 16:36] romani commented on #3847
Yes, we need complexity of return.

[2021-12-02 18:15] Venkatesh-24 commented on #3847
Hi @romani I dont know exactly what to do I looked for similar kinds of closed issues but then also I couldnt understand can you please elaborate on what I should do.

[2021-12-02 18:26] pbludov commented on #9146
Yes, NonDex is JDK8 only.
JDK9+ support is stalled: https://github.com/TestingResearchIllinois/NonDex/pull/155

I'm afraid that NonDex is incompatible with JDK 17 anyway. It does nasty hacks in the JDK core modules.
We can drop the NonDex checks for now and restore them later if they become compatible with JDK11.

[2021-12-02 18:57] nmancus1 commented on #10934
@blacelle please evaluate https://github.com/nmancus1/nmancus1.github.io/raw/master/checkstyle-9.3-SNAPSHOT-all.jar built from https://github.com/checkstyle/checkstyle/commit/a703d4b899dafc412a492be44d2ad7905bf54a1c on your project. We should be considering memory consumption and time; this change has caused a non-trivial (1.4x) increase in Checkstyle execution time on openjdk16 repo (66,000+ file

[2021-12-02 22:01] blacelle commented on #10934
Personal notes to reproduce:

[code]

@nmancus1 This custom jar leads to better memory behavior. Performance is not a matter in my context, I've no metric on this aspect. Thanks!

[2021-12-03 06:17] Venkatesh-24 commented on #3847
@romani To get complexity of return should I remove the | operators and just write return a and test it.

[2021-12-03 06:42] hd42 commented on #10997
@nmancus1, I have updated the description as requested.

I still believe that https://github.com/checkstyle/checkstyle/commit/ebef3bd59fdc2c97587a67bc59d57af6ecbb9072#diff-10fc864a1b0cedc1fc52a213219ee796b822378fe705dbed22e1ad7796409007R282 is the root of the problem - why would the first character of a single line comment be irrelevant?

[2021-12-03 08:38] puneetsinghania commented on #7688
Is this issue open to be worked upon? Can you please provide a sample of how the documentation solution should be approached and what should be the potential solution?

[2021-12-03 10:15] Rahulkhinchi03 commented on #9838
@romani sir, I think you should close this issue as this is a duplicate issue of #9532

[2021-12-03 11:45] AbhinavRajputEXE commented on #9379
Hey, @nmancus1, after reading the issue desc. , It looks like the problem was that, the AST was in the Old format and with that extends keyword.
![Screenshot (598)](https://user-images.githubusercontent.com/80591258/144596877-7350ad99-eb22-4333-8e0e-e14987290dc0.png)
But it looks like this was already fixed, so what exactly do I need to change in this now.

[2021-12-03 13:10] nmancus1 commented on #9379
@AbhinavRajputEXE thanks for investigating.

You are correct, I can see that this issue was closed via #9408

[2021-12-03 13:10] #9379 closed

[2021-12-03 16:17] nmancus1 commented on #10997
@hd42 thanks for your example, and the link to the suspicious code.

I can only surmise that the check assumed that comments would be written like `// XXXX` instead of `//XXXX`, but in that case, the call to `trim()` takes care of leading whitespace anyway.

[2021-12-03 16:18] nmancus1 commented on #10997
I am on it

[2021-12-03 17:14] AbhinavRajputEXE commented on #9455
I'm on it

[2021-12-04 00:35] alzimmermsft opened #11001 "Version 9.x Reports Whitespace Before Paren After String with Emojis"
I have read check documentation: https://checkstyle.org/config_whitespace.html#ParenPad
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

For Windows users, please use `type` instead of `cat` and run

[code]

in place of the last 2 commands abo

[2021-12-04 03:37] romani commented on #11001
Series of emoji ticket, so much fun :)

[2021-12-04 03:37] romani commented on #11001
@nmancus1

[2021-12-04 04:39] romani commented on #10997
Regression from 8.41.1
https://github.com/checkstyle/checkstyle/commit/ebef3bd59fdc2c97587a67bc59d57af6ecbb9072#diff-10fc864a1b0cedc1fc52a213219ee796b822378fe705dbed22e1ad7796409007R282

[2021-12-04 04:55] romani commented on #7688
Please read attentively issue description and all linked pages

[2021-12-04 05:05] romani commented on #10970
I approved issue, looks like majority agree to update existing Check

[2021-12-04 05:26] Rahulkhinchi03 commented on #9719
@rnveach sir, I can work on this issue. Kindly clarify what changes you were expecting in:

[2021-12-04 06:34] Vyom-Yadav commented on #10970
I am on it, will first implement the expression evaluator over here and then will solve #10969

[2021-12-04 10:12] pbludov commented on #10970
I think that  pattern variables should be similar to method parameters.

My opinion is:
* No need for `final` modifier for pattern variables.
* We need  a check to ensure that they are not changed, similar to [ParameterAssignment](https://checkstyle.org/config_coding.html#ParameterAssignment).

[2021-12-04 14:48] nmancus1 commented on #10924
We have missed a bunch of instances where we use `getLines()[i]`, which has the same effect: https://github.com/checkstyle/checkstyle/issues/11001

[code]

[2021-12-04 14:50] nmancus1 commented on #11001
While this could be done in https://github.com/checkstyle/checkstyle/issues/10924, I think it is better to provide a quick fix for this issue since scope of https://github.com/checkstyle/checkstyle/issues/10924 just grew significantly and may not make it into next release.

[2021-12-04 14:50] nmancus1 commented on #11001
I am on it.

[2021-12-04 14:51] MUzairS15 commented on #10924
Yes, I was going to ask but wanted to fix those first😅

[2021-12-04 15:16] romani opened #11003 "Fix links to maven web site - maven.apache.org"
problem detected at  https://github.com/checkstyle/checkstyle/runs/4415561291?check_suite_focus=true#step:3:2287

trace each URL like https://wheregoes.com/trace/202110752613/
and update source code to have new URL.

[2021-12-04 15:18] nmancus1 commented on #10924
@pbludov @strkkk @romani @rnveach since scope of this issue has grown, and needs of codepoint compatible methods/ operations is increasing (trimming, checking whitespace, finding first character of type, etc.) Should we consider our own `String` class that implements `CharSequence`, and create such methods in our new class? This will make this update much easier, since we will be able to replace a

[2021-12-04 15:53] romani commented on #10897
CI failures become too frequent.
this file is placed to exclude section - https://github.com/checkstyle/contribution/pull/583

[2021-12-04 20:11] strkkk commented on #10924
I think such way will only bring more mess and confusion. Some custom StringUtil class with all utility methods (I do not think there will be a lot of them) seems a better approach to me.

[2021-12-05 19:17] AbhinavRajputEXE commented on #10625
Hey @romani, I found out that most of the files which are suppressed, `violation` comments in them are exceeding 100 characters in line.
I'm not able to understand the purpose of those comments exactly but. Do those violations needs to be fixed which are mentioned in the comments in front of them?
And how can I 'fix' those files, I mean what exactly should I change in them, can you please give an

[2021-12-05 20:09] ShivanshuPandey007 commented on #10971
May I fix this issue but I am a beginner so please correct me if i am wrong . what i get is you want:

[2021-12-05 20:20] ShivanshuPandey007 commented on #11003
May I fix this issue. what I had to do is:
-check URLs at https://github.com/checkstyle/checkstyle/runs/4415561291?check_suite_focus=true#step:3:2287
-with this tool (https://wheregoes.com/trace/202110752613/)
but how to do >update source code to have new URL.

[2021-12-06 01:15] romani commented on #11003
Search for this URL in source code of this repo, update, send PR.
If url is not present in source code, extend exclude list of linkcheckplugin in pom.xml

[2021-12-06 01:21] romani commented on #10625
Make it like
`    public static final int MAX_INT = 5; // violation 'Variable access definition in wrong order.'`

Or
`    public static final int MAX_INT = Integer.MAX_VALUE; // violation 'Variable access definition'`

Or change indentation of whole file from +4 to +2.

[2021-12-06 01:25] romani commented on #10625
[code]

[2021-12-06 06:52] ShivanshuPandey007 commented on #11003
ok i got it , please explain this "extend exclude list of linkcheckplugin"

[2021-12-06 07:09] ShivanshuPandey007 commented on #11003
please assign me this task.

[2021-12-06 08:15] ShivanshuPandey007 commented on #11003
this is what i corrected:

*{
http://maven.apache.org/POM/4.0.0 changed to https
http://maven.apache.org/ref/3.5.2/maven-model-builder/super-pom.html to https
}
sonar.sh
{
http://localhost:9000/api //this link is not valid
}
pom.xml
{
	https://coveralls.io/r/checkstyle/checkstyle changed to https://coveralls.io/github/checkstyle/checkstyle
}

[2021-12-06 08:21] ShivanshuPandey007 commented on #11003
may i write a pr with above changes

[2021-12-06 08:40] strkkk commented on #11003
@ShivanshuPandey007 you only need to fix links that are in output of the failed job, nothing else
[code]

No need to touch localhost

Also, where did you find coveralls link?

[2021-12-06 12:45] raghav-rama commented on #11003
this has to be done manually one-by-one?(link checking on wheregoes.com)

[2021-12-06 17:32] MUzairS15 commented on #10924
https://github.com/checkstyle/checkstyle/blob/3fec584186c071ff4e13b5b49d8af6232583ff46/src/main/java/com/puppycrawl/tools/checkstyle/checks/TrailingCommentCheck.java#L252

`matcher` accepts a CharSequence so wherever matcher is used, can we use string instead of codepoints?

[2021-12-06 19:10] Binita-tech commented on #9420
@romani , can you please elaborate about expression list, I am not able to figure out.

[2021-12-06 19:39] Binita-tech commented on #7624
I am on it.

[2021-12-06 20:11] nmancus1 commented on #10924
Yes, we do not need exact position of a character in this case.

[2021-12-07 02:32] romani commented on #11003
Yes

[2021-12-07 02:36] romani commented on #9420
Open first link and search in page ELIST.
There number of examples already, choose the most compact.

[2021-12-07 04:34] meSunnySrivastava commented on #7592
Hello @timurt and @romani
I would like to contribute in this 😊

[2021-12-07 11:35] Binita-tech commented on #9420
@romani, I have changed at one place(ELIST) but in my commit, two files changed are showing.
Please have a look.

[2021-12-07 15:29] #10939 closed, assigned to nobody

[2021-12-07 16:20] romani commented on #9420
Please remove your update over INSTANCE_INIT, it should be done in different issue

[2021-12-07 16:21] romani commented on #9455
@AbhinavRajputEXE , please verify why there is no update in master branch

[2021-12-07 16:21] romani commented on #9420
https://github.com/checkstyle/checkstyle/issues/9455#issuecomment-988078054

[2021-12-07 17:30] AbhinavRajputEXE commented on #9455
@romani sir I think @Binita-tech didn't upstream the changes, before making the commit, that's why maybe my changes were showing in her commit too. But now in her second commit, it's gone I guess.

[2021-12-07 18:26] AbhinavRajputEXE commented on #10625
@romani
[code]
Like here that line with the comment is exceeding the 100 char limit just by 4 char
Although this could be fixed by making the file indentation +2 based.
but
like here
[code]
in the second, instead of making that comment after the "if" statement it says "violation below" and it's a line before the if statement.
so
can't I make the comment in that first case before or after the if st

[2021-12-08 03:47] #9455 closed

[2021-12-08 03:57] romani commented on #10625
Change code be:
`if (m.equals("s")).....`
In this input we do not care of names of variables. Any compact form of them is good enough

[2021-12-08 07:36] Zustin opened #11015 "SimplifyBooleanExpression: A false negative about ternary operator"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#SimplifyBooleanExpression
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---
**Describe what you expect in detail.**
---
I have just found a false negative

[2021-12-08 08:48] Vyom-Yadav commented on #11015
@Zustin Please follow the issue template, it will help us figure out what you expect.

[2021-12-08 09:09] Zustin commented on #11015
@Vyom-Yadav Hi Yadav, thanks for your kind reply. I have updated the issue comment. Please check it again. Thanks. :smile:

[2021-12-08 09:13] strkkk commented on #11015
@Zustin it is not quite what is required. Please change config to only check that you need, output should not have any irrelevant violations, see https://github.com/checkstyle/checkstyle/issues/11001 as an example

[2021-12-08 09:14] Vyom-Yadav commented on #11015
@Zustin Hi, Thanks for the update but it's not quite correct, config.xml and CLI output should only include the check about which we are talking right now also please include config.xml as text file and not as a link

[2021-12-08 09:39] Zustin commented on #11015
Hi @strkkk , I have updated my issue. Please refer to it, thanks for your kindest help.

[2021-12-08 09:50] Vyom-Yadav commented on #11015
@strkkk Was able to reproduce and verify this, would be willing to work on this once approved

[2021-12-08 10:07] strkkk commented on #11015
@Vyom-Yadav issue is approved, this case clearly can be detected.
Please note that reversed case `func() ? false : true` should be also checked

P.S. I deleted irrelevant comments

[2021-12-08 10:37] strkkk commented on #11003
I believe there is no need, probably just replacing it with `https:` instead of `http:` will fix it.

[2021-12-08 14:15] nmancus1 commented on #9993
Should PR for this issue include usage of new utility method in `SummaryJavadocCheck` (perhaps as second commit) to show that this method will be useful in practice? We do not have very active development of Javadoc checks, so I am not sure of the value of just creating a utility method to be used "someday". It would be good to at least open issues to refactor current Javadoc checks that can use t

[2021-12-08 14:24] strkkk commented on #9993
I think it is better to have this method used somewhere, may be this will lead to some changes in implementation

[2021-12-08 15:24] Vyom-Yadav commented on #9993
Agreed, will incorporate this in `SummaryJavaocCheck` by creating an additional commit or in another PR (if required)

[2021-12-08 17:24] nmancus1 commented on #9993
I agree, and for this reason, it is probably best to just do this in a separate commit in https://github.com/checkstyle/checkstyle/pull/10021, and bind it to this issue:`minor: refactor SummaryJavadoc to use ... (#10021)`

[2021-12-09 04:30] #10997 closed

[2021-12-09 06:47] pbludov commented on #10997
Fix is merged

[2021-12-09 13:05] chris21k opened #11018 "ParseError of NonEmptyAtclauseDescription"
<module name="NonEmptyAtclauseDescription">
        <property name="javadocTokens" value="PARAM_LITERAL,
         RETURN_LITERAL, THROWS_LITERAL"/>
    </module>

leads to parse error (original in german)

    Der Javadoc-Kommentar an Position 23 führt zu einem Parserfehler. Details: no viable alternative at input '.' beim Parsen von
    JAVADOC_INLINE_TAG [NonEmptyAtclauseDescription]

what is fr

[2021-12-09 14:14] Vyom-Yadav commented on #11018
@chris21k Thanks for the report, though I was able to reproduce and verify this, kindly follow the issue template as it makes it easier for us to identify the problem.
Also, shouldn't it be
`({@link #Player#HUMAN#toString()})` though parsing throws exception for both `.` and `#`.

[2021-12-09 14:39] strkkk commented on #11018
@chris21k please report issue by template. Also, instead of translating violation messages to us, you can run checkstyle cli with -user.language=en cli option

[2021-12-09 22:12] rnveach commented on #10752
Fix was merged.

[2021-12-10 09:38] Venkatesh-24 commented on #3847
Hi @romani can you please help me to proceed with this issue I dont know for what I should make pull request

[2021-12-11 14:55] romani opened #11027 "All scripts in Travis should be single line to return exit code to Travis"
After migration to Free tier Travis execution, we were have to abandon usage of "set -e" in travis.yml
https://github.com/checkstyle/checkstyle/issues/10778#issuecomment-962530901

We refactored almost all embedded executions except for eval of CMD.
Unfortunately this also needs to be moved to travis.sh file too.

problem is detected at https://github.com/checkstyle/eclipse-cs/pull/330#issuecommen

[2021-12-11 18:43] #11001 closed

[2021-12-11 18:44] romani commented on #11001
Fix merged

[2021-12-12 00:51] rnveach opened #11029 "Group Shell Scripts by Activity and not CI"
Re-identified at https://github.com/checkstyle/checkstyle/pull/11028#discussion_r767165973 but discussed at other times. Making sure we have an issue.

It has become common that we have to rotate CIs when one becomes over bloated, one starts to have reliable issues, etc. all of which we have run into before.

We should group all our shell scripts by their activity instead of strictly putting it in

[2021-12-12 05:18] Vyom-Yadav opened #11030 "Enhance logging approach of SummaryJavadocCheck and use AST-based approach to get content of inline tag."
I have downloaded the latest cli from: https://checkstyle.sourceforge.io/config_javadoc.html#SummaryJavadoc
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Describe the solution you'd like**
The logging approach is not optimized, it directly logs the violation at the start of javadoc comment, the least improvement

[2021-12-12 06:56] Zustin opened #11031 "StringLiteralEquality FN about String literal expression"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#StringLiteralEquality
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**

---
Hi, I found a false negative about t

[2021-12-12 07:30] Vyom-Yadav commented on #11031
@Zustin Thanks for the report, I am on it.

[2021-12-12 09:34] strkkk commented on #11031
@Vyom-Yadav you have 4 open PRs at the moment, I do not recommend to take new issues if you have a lot of pending PRs.

[2021-12-12 09:52] Vyom-Yadav commented on #11031
@strkkk Agreed, I will get those merged first and then jump to new issues.

[2021-12-12 10:13] strkkk commented on #11031
note: this should not be only string concat, text block concat should be considered as well. There is same functionality in EqualsAvoidNullCheck
https://github.com/checkstyle/checkstyle/blob/7a9913aa64f911e41eae958b757e73a5d2f93205/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/EqualsAvoidNullCheck.java#L385-L406

StringEquality should have same behavior

[2021-12-12 13:38] Vyom-Yadav commented on #11031
@strkkk What about examples like-
[code]
I believe that this check could be a little smart and store all String variables (by resolving their scope) and should also be able to identify cases like-
[code]
Though `b` could be interned somewhere in the program and using `==` would be fine but still, we can show violation for that case.

[2021-12-12 13:43] strkkk commented on #11031
yes, such enhancement is possible. But definetely outside scope of this issue

[2021-12-12 13:51] #10817 closed

[2021-12-12 13:52] strkkk commented on #10817
fix is merged

[2021-12-12 16:37] MUzairS15 commented on #10924
Working on this, but require more time because, since last week I am busy with college activities exams, and other stuff because of sem-end this month.

[2021-12-12 20:02] pbludov commented on #11018
Note that this is not a correct Javadoc:
[code]

Quote from the [site](https://checkstyle.org/writingchecks.html#Limitations):
* To get valid violations, code have to be compilable, in other case you can get not easy to understand parse errors.

Please fix all Javadoc errors reported by the Javadoc tool.

[2021-12-12 22:07] #9420 closed

[2021-12-12 22:08] romani commented on #9420
Fix is merged

[2021-12-13 00:37] rnveach commented on #11027
Fix was merged

[2021-12-13 00:37] #11027 closed

[2021-12-13 05:27] Vyom-Yadav commented on #11030
@strkkk @nmancus1 Please share your thoughts so we can move forward in #10021

[2021-12-13 13:29] Zustin opened #11033 "Make ModifiedControlVariable detect forEach loop"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#NestedForDepth
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run

[code]

---
**Describe what you expect in detail.**
---
Hi, I found a false negative caused by new java characteristic. Checkstyle should report a warning at line 8, but it doesn't. However, the code

[2021-12-13 13:53] Vyom-Yadav commented on #11033
@Zustin Thanks for the report, just a minor, link to documentation is not correct, should be https://checkstyle.sourceforge.io/config_coding.html#ModifiedControlVariable

[2021-12-13 14:25] Zustin opened #11035 "A false negative about the rule NestedForDepth"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#NestedForDepth
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run

[code]

---
**Describe what you expect in detail.**
---
Hi, I found this rule is also caused by new java characteristic. Checkstyle should report a warning at line 9, but it doesn't. However, the cod

[2021-12-13 14:28] Zustin commented on #11033
@Vyom-Yadav Hi, thanks for your efficient response. I find this rule is also affected by identical cause and submit a new issue #11035 . Thanks for your kind consideration.

[2021-12-13 14:51] nmancus1 commented on #11035
@Zustin please uncomment code in your examples so that we can see exact violation in CLI output. This applies to https://github.com/checkstyle/checkstyle/issues/11033, as well.

[2021-12-13 15:37] Zustin commented on #11035
@nmancus1 Hi, I have updated them, thanks for your prompt reply and kind consideration.

[2021-12-13 17:49] AbhinavRajputEXE commented on #10625
@romani
can I write
`// violation 'Must include @java.lang.Override annotation when '@inheritDoc' Javadoc tag exists.'`
using regex using .* like
`// violation 'include.*@java.lang.Override.*when.*'@inheritDoc''`

[2021-12-13 20:25] romani commented on #11035
from specification of Check:

forEach method ArrayList class is not a `for` block. There could be numerous methods that do kind of `forEach`. We can not track them all.

You might use https://checkstyle.sourceforge.io/config_misc.html#DescendantToken
to catch that lambda will not have more than 2 `for`.
Or do special Xpath matching by https://checkstyle.sourceforge.io/config_coding.html#MatchXpath

[2021-12-13 20:25] #11035 closed

[2021-12-13 20:40] romani opened #11038 "ParameterAssignment does not detect problem for Lambda parameters"
I have read check documentation: https://checkstyle.org/config_coding.html#ParameterAssignment
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

violation is expected at ` i *= 10;  // should report a warning` line

[2021-12-13 20:41] romani commented on #11033
from documentation:

Check is targeting only `for` block variables.

you need to use https://checkstyle.org/config_coding.html#ParameterAssignment to catch such assignments.
but you found a bug in such Check, newly created issue https://github.com/checkstyle/checkstyle/issues/11038

[2021-12-13 21:05] strkkk commented on #11038
I do not think we need a new check for this case. It is not something special, I doubt anybody needs to assign something to lambda parameter. So I would say it should behave in same way as for parameters

[2021-12-13 21:09] AbhinavRajputEXE commented on #10625
@romani
what to do when comments cannot be compressed enough without losing their actual meaning and if they are too long.
should I add them to the next line?

[2021-12-13 21:26] romani commented on #10625
If code can not be shortened by all means (indentation, names, extra spaces...)
So we shortening violation message to comply to 100 rule.

[2021-12-13 21:39] romani commented on #11038
[code]

[2021-12-14 01:26] romani commented on #11003
I pushed commit https://github.com/checkstyle/checkstyle/commit/f9fb95479cc427f824fa89009f4e67d9601c1b80
with some basic upgrade of URLs.

but we need to migrate all link to https for xsd files:
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

[2021-12-14 01:57] romani commented on #11003
one more commit to suppress links that we do not have in sources - https://github.com/checkstyle/checkstyle/commit/3a47d7c25ff2e1b12140b0e1e81419b0af3fa433

[2021-12-14 06:56] Binita-tech commented on #3619
I am on it @romani

[2021-12-14 10:02] Rahulkhinchi03 commented on #9843
@MahmoudAbdelazim are you still working with this issue?

If no,
@romani sir, Can I take this?

[2021-12-14 11:53] Rahulkhinchi03 commented on #9719
@romani sir, I can work on this issue. Kindly clarify what changes you were expecting in:
https://github.com/checkstyle/checkstyle/pull/9766/files#diff-0dce12f372cea7c4f2be5a2a899af69b78944a0a59d487170114a3e22b91395eR137-R138

[2021-12-14 14:55] nmancus1 commented on #11038
I agree.

We should also consider case like:

[code]

Note lack of `PARAMETERS`/`PARAMETER_DEF` node:

[code]

[2021-12-14 17:19] strkkk commented on #11030
@Vyom-Yadav I think it is a better approach than take text and try to replace something in it, as check does now

Can there be something above summary tag? In this case difference in violation positions will be clearer. But it seems to me that it is an enhancement for check

[2021-12-14 19:01] AbhinavRajputEXE commented on #10625
@romani
So... I fixed the [InputMissingOverrideBadOverrideFromOther.java](https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/annotation/missingoverride/InputMissingOverrideBadOverrideFromOther.java) file by making its indentation +2 based and compressing the violation message to make it fall under the 100 char line limit and after doing t

[2021-12-14 20:54] romani commented on #10625
Please send PR to let me see all changes you did.

[2021-12-14 21:01] AbhinavRajputEXE commented on #10625
This PR is different, I will surely make a PR with that error after this.

[2021-12-14 21:02] AbhinavRajputEXE commented on #10625
This PR is different, I will surely make a PR with that error after this.

By the time I was waiting for your reply I decided to make changes in the files which were not giving errors.

[2021-12-15 04:44] Vyom-Yadav commented on #11030
@strkkk There can be something above the `@summary` tag but it will be redundant to do so as it won't be a part of the summary.
Eg-
[code]
Renders as-
![Screenshot from 2021-12-15 10-07-14](https://user-images.githubusercontent.com/73882557/146124196-be9f4dd7-379b-470a-9859-9f2805c1f049.png)

and Javadoc is generated with a warnnig-
[code]
Though you can see it in module details-
![Screenshot from

[2021-12-15 07:26] adityavishwakkarma commented on #11003
I am on it

[2021-12-15 13:38] Vyom-Yadav commented on #11038
I am on it, I have some PR's open but all the work from my side in those PR's is up to date. :)

[2021-12-16 04:42] Binita-tech commented on #7588
I am on it.

[2021-12-16 13:35] Rahulkhinchi03 commented on #5313
Can I work on it @romani sir?

[2021-12-16 13:40] Rahulkhinchi03 commented on #7895
@romani May I work on this PR?

[2021-12-16 14:18] Rahulkhinchi03 commented on #7895
@romani sir,
May I work on it?

Things I want to clarify before I start?
I have to make 2 PR or 2 commits for?
[code]
[code]

[2021-12-16 17:09] nmancus1 commented on #11030
@strkkk After thinking on this a bit, I propose the following:

1. Change this issue to something like "Add support for `JAVADOC_INLINE_TAG` token to `SummaryJavadocCheck`" and show in description that exact line for violation is not shown without it (as demonstrated in https://github.com/checkstyle/checkstyle/pull/10021#issuecomment-989936364).
2. Send PR to update check, using implementation in

[2021-12-17 07:05] strkkk commented on #9993
work will continue in https://github.com/checkstyle/checkstyle/issues/11030

[2021-12-17 07:05] #9993 closed

[2021-12-17 07:06] strkkk commented on #11030
Great, I like your idea. I updated title and closed PR and issue. @Vyom-Yadav Please update description in this issue and send PR.

[2021-12-17 11:16] Vyom-Yadav commented on #11030
Updated Issue description

[2021-12-17 14:13] romani opened #11052 "Rebase Github action is failing due to missed permission"
https://github.com/checkstyle/checkstyle/runs/4561181390?check_suite_focus=true#step:6:24

https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#permissions

[code]

[2021-12-17 14:13] romani commented on #11052
@rcowsill , please suggest a fix.

[2021-12-17 16:02] #7688 closed

[2021-12-18 13:36] rcowsill commented on #11052
It looks like the `GITHUB_TOKEN` doesn't allow this, see:

https://github.community/t/workflows-vs-actions-which-permission-is-correct/178137/2

This is intended to catch workflows updating themselves and running repeatedly. Unfortunately, it also blocks rebase of PRs when either the head or base have workflow changes.

You could use a Personal Access Token instead of `GITHUB_TOKEN`, but I think t

[2021-12-18 13:44] strkkk commented on #11052
@rcowsill may be there is some way to create a specific token with enough permissions (instead of default GITHUB_TOKEN) and use it in this action?

[2021-12-18 16:56] Rahulkhinchi03 commented on #7895
@romani sir, Can I work on it?

[2021-12-18 18:23] romani commented on #11052
We can Update security to user more powerful token by default, and demand all our actions (except rebase) to define permissions in file by CI validation.
Defined permission block in workflow file override all default.

[2021-12-18 18:52] rcowsill commented on #11052
@romani Changing the default GITHUB_TOKEN permissions back to read/write won't help, unfortunately. This issue already existed before the permissions changes, for example:

https://github.com/checkstyle/checkstyle/runs/4422863678?check_suite_focus=true

That workflow had unrestricted permissions, but still failed to push the rebase because it contained an update to `.github/workflows/diff_report.y

[2021-12-18 22:49] romani commented on #11052
as experiment I did token RW at https://github.com/checkstyle/checkstyle/settings/actions
![image](https://user-images.githubusercontent.com/812984/146657500-150016bc-474e-4d8e-a7b7-8101bdb1f2a9.png)

and commented out permission in workflow - https://github.com/checkstyle/checkstyle/commit/f5d651654625f053a8eea833428f5a3da6b8744b

[2021-12-19 00:12] romani commented on #11052
after above changes ...
triggered at https://github.com/checkstyle/checkstyle/pull/10942#issuecomment-997303329
failed the same - https://github.com/checkstyle/checkstyle/runs/4571840746?check_suite_focus=true#step:6:25

[2021-12-19 00:24] romani commented on #11052
@strkkk , do you still have your testing repo where you tested this originally ? is it still works?

[2021-12-19 03:53] romani opened #11054 "RightCurlyCheck.isBlockAloneOnSingleLine might throw NPE"
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues=AXf41WU2KOH-lPjDUOPU&open=AXf41WU2KOH-lPjDUOPU

disabled in Sonar until this issue, so remove Wontfix in Sonar after fix.

![image](https://user-images.githubusercontent.com/812984/146663280-aff33281-d73c-4e54-beda-d9244c152600.png)

[2021-12-19 03:58] romani opened #11055 "AbstractExpressionHandler.getFirstAstNode might throw NPE"
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues=AXyeERcVIEIrBWM4sA6A&open=AXyeERcVIEIrBWM4sA6A

https://github.com/checkstyle/checkstyle/blob/e0aa61acf1f06e6ff0a1db0b90114e1becfdffbb/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/AbstractExpressionHandler.java#L430-L434

disabled in Sonar until this issue, so remove Wontfix in Sonar after fix.

![image]

[2021-12-19 05:14] #11038 closed

[2021-12-19 16:57] nmancus1 commented on #11054
We could resolve all such issues in https://github.com/checkstyle/checkstyle/issues/10557

[2021-12-19 17:03] rnveach commented on #11054
https://github.com/checkstyle/checkstyle/blob/9456a052d88382854b60877fd9959318b3d87296/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L464

There are no exceptions being generated in regression. These properties were not part of our standard regression.
http://rveach.no-ip.org/checkstyle/regression/300/

Unless there is some very special input file needed, I don't

[2021-12-19 17:41] rnveach commented on #11054
After doing an analysis, this is what is needed for an exception here.

At https://github.com/checkstyle/checkstyle/blob/9456a052d88382854b60877fd9959318b3d87296/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L464
* nextToken must be `null`
* `details.nextToken` cannnot be `null` as we have a `null` check, so `Details.getNextToken` has to return `null` after `next

[2021-12-19 17:46] rnveach commented on #11054
As for a rewrite, the best I can see is:

[code]

[2021-12-19 18:34] romani commented on #11003
Fixes are merged

[2021-12-19 18:34] #11003 closed

[2021-12-19 22:26] romani opened #11059 "Wercker failure on no-exception-checkstyle-sevntu over InputIndentationLongConcatenatedString.java"
CI failure https://app.wercker.com/checkstyle/checkstyle/runs/build/61bf7b27237ec9000897316c?step=61bf7baec148e300072ce2ab

command `./.ci/validation.sh no-exception-checkstyle-sevntu`

`Exception in thread "main" java.lang.Error: Error was thrown while processing /pipeline/source/.ci-temp/contribution/checkstyle-tester/src/main/java/local-checkstyle/target/test-classes/com/puppycrawl/tools/checks

[2021-12-19 22:37] romani commented on #11059
I was lucky to reproduce this problem on local:
[code]
content of folder:
[code]

[2021-12-19 22:46] romani commented on #11059
fixed by https://github.com/checkstyle/contribution/commit/589d33bfcb0970ee0e2d2e4772090ec0877a5882

[2021-12-19 23:05] nmancus1 commented on #8134
Closed via https://github.com/checkstyle/checkstyle/pull/11041

[2021-12-19 23:05] #8134 closed

[2021-12-20 15:34] rnveach commented on #7895
@romani Is there anything stopping this issue from being approved since it is actively being worked on?

[2021-12-20 16:44] rnveach commented on #10932
Fixes were merged

[2021-12-20 16:44] #10932 closed

[2021-12-20 16:46] rnveach commented on #7368
Closed via https://github.com/checkstyle/checkstyle/pull/10947 and Issue https://github.com/checkstyle/checkstyle/issues/10932 .

[2021-12-20 17:11] nmancus1 commented on #10934
@romani @rnveach @strkkk @pbludov

Report is here: https://github.com/nmancus1/checkstyle-antlr4-memory-report

Please share your thoughts about how to proceed. If we plan to use idea at https://github.com/checkstyle/checkstyle/pull/10999 (Clearing `ATNConfig` and `DFAState[]`), I will rewrite PR a bit so that we can kill currently surviving mutations and mark ready for review.

[2021-12-20 18:21] romani commented on #7895
approved

[2021-12-20 18:59] romani commented on #7368
Link check validation is not happy :)
https://github.com/checkstyle/checkstyle/runs/4586344242?check_suite_focus=true#step:3:8

[2021-12-20 19:03] romani commented on #10934
I would avoid forked versions

[2021-12-20 19:12] rnveach commented on #10934
I would avoid forked versions that are not properly maintained, especially when the main one is still active. Log4j security is a good example of why an outdated version can become a big issue. As @nmancus1 pointed out to me, it hasn't been updated in a year. Its a sad state ANTLR doesn't actively provide updates to their memory issues.

[2021-12-20 19:20] rnveach commented on #7368
https://github.com/checkstyle/checkstyle/search?q=7368
https://github.com/checkstyle/checkstyle/blob/8129a4f69cf30d059ed7b34b4dca4b8118690526/pom.xml#L292-L298

[2021-12-20 20:04] strkkk commented on #11054
fix is merged, @romani please adjust sonar

[2021-12-20 20:07] rnveach opened #11061 "UnnecessaryParentheses: false negative"
https://checkstyle.org/config_coding.html#UnnecessaryParentheses

[code]

I am expecting a violation on line 4 since the code equates to the same without the parenthesis as with.

Proof:
[code]

[2021-12-20 20:09] romani commented on #11054
![image](https://user-images.githubusercontent.com/812984/146826571-133914c8-5fe1-43a6-98de-4acc44ef6c7d.png)

Wontfix changed to reopened.

[2021-12-20 20:11] romani commented on #11059
still a problem:
[code]

[2021-12-20 20:19] nmancus1 commented on #10934
Before closing this issue, we must open an issue at https://github.com/antlr/antlr4/issues for cache / cache eviction of `ATNConfig` and `DFAState[]`.

[2021-12-20 20:39] romani commented on #11061
without parentheses it will be - yes, same:
[code]

[2021-12-20 21:03] romani commented on #11054
wercker is green, violation still shown in Sonar.
now I marked it as "resolved".
restarting wercker.

[2021-12-20 21:05] romani commented on #11059
might be fixed by commit https://github.com/checkstyle/contribution/commit/c54c502960c40bb1058f8d960b67c83b8790603d
at leas for now wercker is green.

[2021-12-20 21:05] #11059 closed

[2021-12-20 21:31] rnveach opened #11065 "Report unused dependencies in CI"
Thought about at https://github.com/checkstyle/checkstyle/pull/11064 and then identified at https://www.baeldung.com/maven-unused-dependencies ,

We need a way to identify unused dependencies and be alerted that they should be removed.

We should add `mvn dependency:analyze` to our CI to report unused dependencies.

This may not get much usage, but I think it would be good to make sure we don't ha

[2021-12-20 21:32] rnveach commented on #11065
Running this locally on master provided the following output:
[code]

[2021-12-20 21:37] romani commented on #11065
I do not think we can remove any of this dependencies.

but
https://github.com/checkstyle/checkstyle/blob/2a4226995f89d73b675e5209ffba7431c438d4fe/pom.xml#L318-L322
is good catch ... why it is without test scope, @pbludov  ?

[2021-12-20 21:38] blacelle commented on #10934
@nmancus1 Do you feel some of your improvments can be merged without the need of the ANTLR4 fork?

[2021-12-20 21:40] nmancus1 commented on #10934
Yes, I will be proceeding with my PR this week, hopefully our fix should be in next Checkstyle release. We will not be using the fork.

[2021-12-20 21:42] romani commented on #11065
byte-buddy is not our declared dependency. It might be transitive.
picocli is used by our CLI class a tool to do fancy CLI support.

output of this plugin  is not very clear how to interpretate.

[2021-12-20 21:45] #11015 closed

[2021-12-20 21:46] rnveach commented on #11065
Even with test scope, this dependency still shows up. Code fails to compile without it.

Agree. from what I have seen false positives seem possible.

[2021-12-20 21:46] romani commented on #11015
fix is merged

[2021-12-20 21:48] romani commented on #11065
if amount of false positives is too much, we should think twice to use it, it will bother us a lot in maintenance.

[2021-12-20 21:49] rnveach commented on #11065
Plugin allows suppressions. Example:
[code]

Additional information:

[2021-12-20 21:53] romani commented on #11065
@pbludov , @nmancus1 , @strkkk , please share your vote to use this plugin or not ?

for now it caught two probems: missed test scope in mockito, and junit-vintage-engine.

[2021-12-20 22:03] rnveach commented on #11065
Guava is being reported as `Non-test scoped test only dependencies found`. I connected this to an open issue in their issue tracker at https://issues.apache.org/jira/browse/MDEP-753 . Any suppressions added should probably go under this issue.

[2021-12-20 22:09] rnveach commented on #11065
https://stackoverflow.com/questions/4565740/what-are-unused-undeclared-dependencies-in-maven-what-to-do-with-them

[2021-12-20 22:26] romani commented on #11054
Sonar is clean now.

[2021-12-20 22:26] #11054 closed

[2021-12-20 22:54] nmancus1 opened #11067 "Remove `illegal-access=warn` workaround for JDK16"
From discussion in #10947, we can remove this workaround for powermock issue:

https://github.com/checkstyle/checkstyle/blob/e2fa4a1d1e5de4625b4db77cdd4804aa5b13ddbb/pom.xml#L1893-L1902

[2021-12-20 22:54] romani commented on #9719
@rnveach , please answer what you expecting.

[2021-12-20 23:14] romani commented on #9843
@Rahulkhinchi03 , please take ownership of this update.

[2021-12-20 23:37] romani commented on #10924
my recommendation is to NOT do all in one Pull Request. This update can be split in few PRs (at least by affected Check).
in such case it will be easy to review and pass review.

[2021-12-20 23:46] romani commented on #10971
issue is not approved yet, better to avoid it.

--------

I think LocalVariableName should not  have validation on this code as we have PatternVariableName .
but LocalFinalVariableName can validate this , as "final" is explicit in such code, as above example shows - it is verified by compiler that value cannot be changed.

@pbludov , @strkkk , @nmancus1  - please share what is expected behavior.

[2021-12-21 00:00] romani commented on #10970
@pbludov , do think that FinalLocalVariable should not place violation on code that in PR description ?

[2021-12-21 00:03] #9838 closed

[2021-12-21 00:06] romani commented on #10582
@Abhishek-kumar09 , it might be related to fix for https://github.com/checkstyle/checkstyle/issues/5951

[2021-12-21 00:25] romani commented on #10798
if user is alread in jdk17, he can forbit usage of token by https://checkstyle.org/config_coding.html#IllegalToken
so easy.
[code]
instead of (that do the same goal, violate modifier irrespective of jdk):
[code]

In this case it would be better to mention that RedundantModifier documentation that `strictfp` is not covered at all and IllegalToken should be used.

Execution of this Check on code bas

[2021-12-21 03:31] #11067 closed

[2021-12-21 03:32] #7368 closed

[2021-12-21 04:40] nmancus1 commented on #10798
Implementation at https://github.com/checkstyle/checkstyle/pull/10804 requires that user add `STRICTFP` token to their config manually, it is not default.

Yes, this is true. But, this requires more effort from the user, if they want violation to be informative to others (i.e. changing the error message).

Default message from `IllegalTokenCheck`:

(1) `Using STRICTFP is not allowed.`

vs.

Defaul

[2021-12-21 04:48] romani commented on #10798
User can override message to make it same in wording

[2021-12-21 04:51] nmancus1 commented on #10924
@MUzairS15 multiple PR's is a good way to ensure steady progress on this issue, let's do this.

[2021-12-21 05:00] Vyom-Yadav commented on #11061
on it.

[2021-12-21 06:11] shashwatj07 opened #11075 "Investigate problem with messages for filtered violations"
Detected at #https://github.com/checkstyle/checkstyle/pull/10955#discussion_r772854359

[2021-12-21 06:15] rnveach commented on #11075
@shashwatj07 If this issue stays, we need more details here otherwise it will never be approved.

[2021-12-21 06:16] shashwatj07 commented on #11075
I know. Discussed with @romani . I'll investigate and post everything here.

[2021-12-21 06:35] strkkk commented on #11052
@romani yes, I checked it and it still works
https://github.com/strkkk/checkstyle/pull/31

[2021-12-21 06:49] romani commented on #11052
Can you copy yml file from checkstyle repo to your repo to confirm that it works ?

[2021-12-21 07:09] strkkk commented on #11052
it fails with
[code]

[2021-12-21 10:12] strkkk commented on #10971
I think LocalFinalVariableNameCheck should handle such case and issue is valid

[2021-12-21 10:36] strkkk commented on #10798
@romani strictfp is a modifier (see [jls](https://docs.oracle.com/javase/specs/jls/se7/html/jls-15.html#jls-15.4)), so RedundantModifierCheck seems a perfect place for it.

And yes, as mentioned above, STRICTFP token is not in list of default, to allow user to config it by themselves.

[2021-12-21 12:35] MUzairS15 commented on #10924
Did I did in the right way?
Locally coverage checks were met.

[2021-12-21 13:06] pbludov commented on #9987
Fixed by #10932

[2021-12-21 13:06] #9987 closed

[2021-12-21 13:07] pbludov commented on #10053
Fixed by #10932

[2021-12-21 13:07] #10053 closed

[2021-12-21 13:10] pbludov commented on #10052
Fixed by #10932

[2021-12-21 13:10] #10052 closed

[2021-12-21 13:11] pbludov commented on #9325
Fixed by #10932

[2021-12-21 13:11] #9325 closed

[2021-12-21 13:23] pbludov commented on #10905
Local build with JDK17 succeeded. We can replace Java16 build with Java17 one.

[2021-12-21 13:23] nmancus1 commented on #10924
@MUzairS15 as @romani recommended in https://github.com/checkstyle/checkstyle/issues/10924#issuecomment-998349518, let's just do one PR per check update. Use your changes in current PR, and break it up into check by check PR's (with change to one check, and any associated utility that you need). This will make review/ merge faster and easier.

Example: send one PR for `RightCurlyCheck` update only

[2021-12-21 13:28] MUzairS15 commented on #10924
Ok, I thought PR grouping similar checks
Thankyou

[2021-12-21 14:05] nmancus1 commented on #10971
For usual local variables, we have `LocalVariableName` and ` LocalFinalVariableName`. `LocalVariableName` does not check variables declared as `final`.

If we want to check pattern variables declared as `final` differently, then perhaps analogous idea with pattern variables should hold:

[code]

Current behavior:

[code]

So, any fix for this issue should also exclude final pattern variables from

[2021-12-21 15:39] rcowsill commented on #11052
Can you try changing rebase.yml back to what it was in commit [358df70](https://github.com/strkkk/checkstyle/blob/358df70946226db7d4c1bce2496b298867288559/.github/workflows/rebase.yml), then auto-rebase https://github.com/strkkk/checkstyle/pull/31

[2021-12-21 15:48] strkkk commented on #11052
it worked as you can see in PR

[2021-12-21 15:49] nmancus1 commented on #11065
Let's try it, and if exclusions/ updates become annoying, we can revisit usage.

[2021-12-21 15:50] romani commented on #11052
So problem is in yml file do you see critical diff ?

[2021-12-21 15:54] Vyom-Yadav commented on #11031
on it.

[2021-12-21 16:03] pbludov commented on #10971
Why do we even have `LocalFinalVariableName`? Is there any team whose coding style requires different names for variables and for final variables?

Perhaps for someone
[code]
is OK, but
[code]
is not OK.

If so, it is unlikely that such convention suitable for pattern variables.
I think we need only one check for both pattern variables and final pattern variables.
It will be easy to split this che

[2021-12-21 16:19] nmancus1 commented on #10971
This is a good question; I could not find a use case for this.

I agree with @pbludov, let's let user request this; until then, we check any pattern variable with `PatternVariableNameCheck`. If user has immediate need for differentiation, they can use XPathSuppression and two `PatternVariableNameCheck` modules while we split the check.

[2021-12-21 16:21] rcowsill commented on #11052
Sorry, I forgot something important - https://github.com/strkkk/checkstyle/pull/31 never got rebased to include the [84e24c7](https://github.com/strkkk/checkstyle/commit/84e24c7834df376da41f77b8474c3a81f5d75ed3) change. The test passed because there was no workflow yml diff in the [4596920356](https://github.com/strkkk/checkstyle/runs/4596920356?check_suite_focus=true) test run

[2021-12-21 16:32] rnveach commented on #10971
1) It is up to each team on their style. I don't know any, but we also find time and time again the simpler the check, the better.
2) It is because no other check validates it. If it is not validated, then there is no enforcement of a style and users can put in whatever they want.

I am requesting a check to validate this. I have no big preference if it is a new check or update existing one.

[2021-12-21 17:46] romani commented on #10905
fix is merged

[2021-12-21 17:46] #10905 closed

[2021-12-21 18:19] nmancus1 opened #11087 "New check ChainedMethodCallWrap"
Noticed at https://github.com/checkstyle/checkstyle/pull/11081#discussion_r773266420
 and https://github.com/checkstyle/checkstyle/pull/11083/files#r773320264

It would be good to have an easy way to make sure that certain method calls are wrapped for readability. A good example from this repo is google truth assertions:

**How I would like check to work:**

input:

[code]

config:

[code]

expect

[2021-12-21 18:21] nmancus1 commented on #11087
My first thought was to use https://checkstyle.sourceforge.io/config_whitespace.html#OperatorWrap and some suppression for names that do not match, but this check does not accept the `DOT` token.

[2021-12-21 18:32] romani commented on #11052
I removed this commented out code - https://github.com/checkstyle/checkstyle/commit/f1ebb4adff61b0f1732a82a6ecb4f0e93bffa859
triggered - https://github.com/checkstyle/checkstyle/pull/10930#issuecomment-998989665
failed - https://github.com/checkstyle/checkstyle/runs/4598443258?check_suite_focus=true

[2021-12-21 19:51] pavelicii commented on #3379
@ati90ati, thank you for the solution!

If I also want to check inner/nested classes for `RegexpMultilineEmptyRowAfterClassDef`, is it OK to change `format` to:

`^([\t ]*[^\r\n ]+ )*(class|interface|@interface|enum) [^{]*\{[\r]?\n[^\r\n}]`?

(added `[\t ]*` in the beginning to allow spaces/tabs before nested class definition)

[2021-12-21 20:50] romani commented on #3379
it would be awesome if somebody find a time to formalize https://github.com/checkstyle/checkstyle/issues/5313 and even implement it.

[2021-12-21 20:54] romani commented on #11052
and now it works - https://github.com/checkstyle/checkstyle/runs/4599844328?check_suite_focus=true
https://github.com/checkstyle/checkstyle/pull/11089#issuecomment-999081094

looks like only on new commits (that are rebased over my removal of commented out permissions) it become to work.
I am surprised.

[2021-12-21 21:03] JamesGosling commented on #9332
It's _not_ unorthodox!  I use `try { }` this way all the time!  It's one of my reasons for avoiding checkStyle.

[2021-12-21 21:15] romani commented on #11052
So we should update all following workflows to have permissions block:
[code]

and place this bash validation to CI to make sure all further actions specify permissions explicitly

[2021-12-21 21:19] strkkk commented on #11052
@romani if there were changes in workflows, rebase wont work. Only commits without changes in workflows can be rebased. It is a known issue and it was there [before](https://github.com/checkstyle/checkstyle/issues/8842#issuecomment-696708847)

[2021-12-21 21:26] romani commented on #11052
good to know, thanks a lot for reminding, in this case such problem was before and continue to be, irrespective of default permission.

But does it mean that we can update global setting back to "Read permission" and specify permissions as rebase workflow and just pass a period until all PR manually rebased over such update ?

[2021-12-21 21:37] romani opened #11091 "Fail test execution if Input file does nor have message on violation line and Check has not signle message"
it become clear at https://github.com/checkstyle/checkstyle/pull/11051#issuecomment-999107833
that we do need to enforce it.

TODO:
if Check has not single message, and Input file contain `//violation` marker in it, we should fail validation and advice user to specify message in addition.

[2021-12-21 21:44] strkkk commented on #11052
we can just test it on any brand new fork created after this permissions change

[2021-12-21 21:52] romani commented on #10692
Looks like all items are addressed/merged.

[2021-12-21 21:52] #10692 closed

[2021-12-21 21:54] romani commented on #10733
covered in https://github.com/checkstyle/checkstyle/issues/10671

[2021-12-21 21:54] #10733 closed

[2021-12-21 22:04] romani commented on #11052
but in addition I have to revert https://github.com/checkstyle/checkstyle/commit/f1ebb4adff61b0f1732a82a6ecb4f0e93bffa859 and activate all that permissions.

[2021-12-21 22:08] romani commented on #11052
"Read repository contents permission" is set,
rebase workflow permissions are back - https://github.com/checkstyle/checkstyle/commit/68bae70b0b4cff40b6511d9c9f403a476399cf9c

[2021-12-21 22:11] ati90ati commented on #3379
@pavelicii I updated my comment with the latest regex I have. I think your suggestion is accurate if you want to check inner classes too.

[2021-12-21 22:20] romani commented on #11052
I tested this
and it is working !!!
https://github.com/checkstyle/checkstyle/pull/11089#issuecomment-999131013
https://github.com/checkstyle/checkstyle/runs/4600636585?check_suite_focus=true
![image](https://user-images.githubusercontent.com/812984/147005120-f8d393a5-6e10-4cfc-a2a6-7104cb1528ad.png)

[2021-12-21 22:20] #11052 closed

[2021-12-21 22:29] strkkk commented on #11052
@romani I have an idea. We can create a wiki page with possible reasons of failure and add it to failure message of the action.

[2021-12-21 22:59] romani commented on #11052
next time it fails, we need to search in github isue tracker - it will give us solution.

[2021-12-21 23:13] romani commented on #4748
Is charset of how we read file for non java Checks (extended from FileSetCheck)

[2021-12-21 23:13] #4748 closed

[2021-12-22 01:58] romani commented on #10776
[code]
![image](https://user-images.githubusercontent.com/812984/147022117-c4cccf0f-e198-45e0-8a57-81bdc6c96bf2.png)

[2021-12-22 03:45] Vyom-Yadav commented on #11091
On it.

[2021-12-22 05:53] pbludov commented on #10970
`FinalLocalVariable` should process only regular variables, i.e.
[code]
Pattern variables are more like lambdas, their context is shorter, and naming requirements can be less strict.

[2021-12-22 06:12] pbludov commented on #4037
Will be fixed in #10859

[2021-12-22 06:12] #4037 closed

[2021-12-22 06:37] Vyom-Yadav commented on #11091
@romani What is expected for-

- `// X violations`
- `// X violations above`
- `// X violations below`

As in these, we cannot specify the message.

[2021-12-22 11:06] MUzairS15 commented on #10924
@nmancus1 If I make a PR for say check1, then make changes for check2 then should I push changes for check2 on branch of check1?
(Sorry, but Facing trouble splitting PR)

[2021-12-22 11:23] nmancus1 commented on #10924
@MUzairS15 each PR should be atomic (not depends on others); one branch, one PR, one commit, per one check. If you need same utility in a few, you can make a new branch from the first branch that utility lives on, make a new commit for the check you are updating, then drop old commit after the PR for the first ones gets merged.

[2021-12-22 12:19] nmancus1 commented on #10924
@MUzairS15 please make a note in PR description if you do this: "First commit is not under review"

[2021-12-22 13:45] MUzairS15 commented on #10924
I have raised PR for 3 checks, let's review them first, then as they will get merged I will do for the rest.
Will it be ok?

[2021-12-22 14:23] romani commented on #10776
I am approving this issue.
SummaryJavadocCheck should recognize this `{@return }` tag ONLY if it is first in content and do not demand period for it.
I do believe behavior should be very similar to `{@summary}` tag that we already support.
If users use this tag on old jdk, Check behavior should be same on new jdk. Old Jdk  raising error on such content.

[2021-12-22 14:31] strkkk commented on #10776
@Vyom-Yadav it may be interesting for you, since you are working with this check right now

[2021-12-22 14:33] romani commented on #10776
attention there is already a PR - https://github.com/checkstyle/checkstyle/pull/10772 , lets see if author is responding or abandoned his PR.

[2021-12-22 14:52] Vyom-Yadav commented on #10776
If the linked PR is abandoned, I have no problem continuing the work.

[2021-12-22 18:17] AbhinavRajputEXE commented on #10625
@romani
Is it okay, if I write
[code]
like
[code]
to make it fit under 100 char per line.
there are so many files that could be fixed just by doing this.

[2021-12-22 20:17] romani commented on #10625
yes, spaces in this Check does not make any difference.

You can always try to change indentation. If tests are passing and pitest execution are also ok - it is ok.

[2021-12-23 04:59] nmancus1 commented on #10848
I am investigating this, if update is viable without regression/ breaking changes in AST, I will approve and send PR.

[2021-12-23 06:25] chandni-ironfort opened #11099 "intellij codestyle google check is throwing indentation warning"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

For Windows users, please use `type` instead of `cat` and run

[code]

in place of the last 2 comma

[2021-12-23 06:26] chandni-ironfort commented on #11099
how to disable warning from checkstyle --> google checks which says 'member def modifier' has incorrect indentation level 4, expected level should be 2 for this line @Column(name = "company_name", length = 100, nullable = false)

i want 4 indentation level only for better readability

[2021-12-23 08:11] strkkk commented on #11099
@chandni-ironfort please report issue by template, otherwise it will be closed. If it is a question, use discussions or stackoverflow

[2021-12-23 14:19] pavelicii commented on #1141
Having same error loop in 9.2 with plain `<module name="Indentation"/>`  when each enum argument is on new line.

Example:
[code]

Error:
[code]

[2021-12-24 05:02] Vyom-Yadav commented on #11091
@romani Just had a thought, if we have multiple checks in a config file then it is a must to specify violation message irrespective of the number of error messages in the check as it would improve the readibility of violations, what do you think?

[2021-12-24 07:20] romani commented on #1141
@pavelicii, please open new issue

[2021-12-24 14:03] Binita-tech commented on #7657
I am on it

[2021-12-24 19:52] pavelicii opened #11103 "Indentation: Lambda in Enum causes error loop"
Check documentation: https://checkstyle.org/config_misc.html#Indentation
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

I expect Checkstyle to pass without errors. If I try to increase indentation like [ERROR] suggests (from 12 to 16),

[2021-12-24 19:54] AbhinavRajputEXE commented on #10625
@romani
In this test file here:
[code]
It is checking for the `final` keyword on 14,14, and 17 col. no. respectively
and also the violation message in the same line (ie. 31, 37, and 39)
but when I change the line and shift half of the expression to the next line to save space
`final` keyword stays on the same like but the violation message gets shifted to the next like here:

`try (final BufferedR

[2021-12-24 21:10] romani commented on #10625
@AbhinavRajputEXE, please send PR to let me see exact Check and exact line and exact everything , to advice further.
If line is missing "final" expected line should not have it also. Expected array is just a reflection of violations.

[2021-12-25 13:31] #11099 closed

[2021-12-25 19:07] romani commented on #11091
not yet :) , and yes, your proposal is good.
It might be challange to fit few messages in same line, but we might find a way.
We can relax our validation to not demand messages if any of such trailing comments are present.

[2021-12-25 19:08] romani commented on #11091
lets skip such cases completely from validation

[2021-12-25 20:14] romani commented on #10798
It is good Check to do this - no disagreement.
We never used tokens for such behavior and this weird for me. It is more logical to make "jdkVersion" field, it has a lot of potential.
as it will be continue to be issue from jdk to jdk.

https://github.com/checkstyle/checkstyle/pull/10804#discussion_r757823390

[2021-12-26 00:24] rnveach commented on #10932
@romani @pbludov Since powermock is gone, what does this mean for the following things we still have?

In code:
https://github.com/checkstyle/checkstyle/blob/d7f0b83b550aa0f2c6c81b481a06bc539b0157ea/src/test/java/com/puppycrawl/tools/checkstyle/filters/SuppressionsLoaderTest.java#L78

Issue:
https://github.com/checkstyle/checkstyle/blob/d7f0b83b550aa0f2c6c81b481a06bc539b0157ea/src/test/java/com/pu

[2021-12-26 00:52] rnveach commented on #7427
A possible example of what auto-fixing may need to entail: https://github.com/rnveach/checkstyle/commits/truth_replacer

We will run into issues with order of updates, conflicting updates, and updates that need their own updates.

[2021-12-26 02:25] pbludov commented on #10932
We can fix them now. A normal test should not contain `if`s. Such tests should be rewritten with `assumeTrue` or new JUnit5 annotation `@EnabledIf`

Also, we should partially revert #4399. Parameter `checkConstructorIsPrivate` should be removed.

[2021-12-26 02:27] pbludov opened #11107 "Remove checkConstructorIsPrivate from TestUtil#isUtilsClassHasPrivateConstructor"
Parameter `checkConstructorIsPrivate` was added as a workaround for Powermock limitations. It is not required for now and should be removed.

_Originally posted by @pbludov in https://github.com/checkstyle/checkstyle/issues/10932#issuecomment-1001098029_

[2021-12-26 03:04] pbludov commented on #11107
@nmancus1 @rnveach @romani @strkkk
I don't like `...isTrue()` checks. They are unnatural.

We can use Truth [extensions](https://truth.dev/extension) to implement `checkConstructorIsPrivate`. The assertion will be like that:

[code]

What do you think about such an idea?

[2021-12-26 03:12] rnveach commented on #11107
I have nothing against `isTrue`/`isFalse`.

[2021-12-26 03:39] pbludov commented on #11107
The problem with `isTrue/isFalse` is that the error message is less informative.
For example:

[code]
reports
[code]
in turn
[code]
reports
[code]

the first variant only indicates that there are some failed assertions, without any hints.

[2021-12-26 03:43] rnveach commented on #11107
@pbludov can you provide the full message failure with `isTrue`? How does "Some details" plays into the output?

[2021-12-26 03:47] pbludov commented on #11107
Of course, a good message can fix this. But you don't need to rely on him alone.

[2021-12-26 07:57] Vyom-Yadav opened #11109 "False Negative: UnnecessaryParenthesesCheck"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#UnnecessaryParentheses
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**
[code]
Currently, the check does not ide

[2021-12-26 14:20] rnveach commented on #11109
Issue looks valid to me.

[2021-12-26 14:31] rnveach opened #11113 "Resolve Reflection Suppressions and Import Control"
Identified after https://github.com/checkstyle/checkstyle/pull/10899#pullrequestreview-840051213 and became connected to #9142 ,

Not all the suppressions identified at https://github.com/checkstyle/checkstyle/blob/272dbe394e1d581aec6743a7c7eba0aab0d61f9b/config/suppressions.xml#L102 are connected to #9142 and are dealing with assertions. The rest are connected to violations on the now disallowed

[2021-12-26 14:33] rnveach commented on #11113
Until we change how we current handle the reflection classes, the idea is to try to remove usages of `InvocationTargetException` and move the rest to the import control XML file since thats where the majority of the allowances are.

This will allow us to remove more suppressions from the suppression file.

[2021-12-26 15:57] nmancus1 commented on #11109
If all three tokens are part of this false negative issue, please add them to your example.

From the check documentation, we should keep this in mind while evaluating issue:

[2021-12-26 16:15] Vyom-Yadav commented on #11109
Added.

This is partially true, we have started adding some support for operator precedence now, check can now determine unnecessary parentheses around a mix of `||`, `&&` being used with relational, unary and postfix operators, though as the check was not type aware we had to drop some cases.

[2021-12-26 16:18] nmancus1 commented on #11061
We should update documentation to reflect that this check now supports some operator precedence: https://checkstyle.sourceforge.io/config_coding.html#UnnecessaryParentheses

[2021-12-26 16:31] nmancus1 commented on #11107
@pbludov can you show current output and proposed output upon failure of assertion for this case? I am having a hard time tying failure of util class to have private constructor into your example at https://github.com/checkstyle/checkstyle/issues/11107#issuecomment-1001102198

[2021-12-26 16:43] rnveach commented on #11061
@nmancus1 Please add suggestion to PR since it is started.

[2021-12-27 03:53] romani commented on #11065
during release I saw:
[code]

[2021-12-27 04:06] pbludov commented on #11107
Current output
[code]

Proposed output
[code]

[code]

[2021-12-27 04:12] pbludov commented on #11065
SO [suggests](https://stackoverflow.com/questions/22968266/maven-shade-plugin-and-licenses) to use [ApacheLicenseResourceTransformer](https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ApacheLicenseResourceTransformer) to keep all LICENSEs included into the uber jar.

[2021-12-27 05:46] nmancus1 opened #11116 "WhitespaceAfter should support `ELLIPSIS` token"
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

Check documentation at https://checkstyle.sourceforge.io/config_whitespace.html#WhitespaceAfter

**How it works Now:**

[code]

However, `WhitespaceAroundCheck` does support `ELLIPSIS`. But, this is not a freq

[2021-12-27 08:02] pbludov commented on #11116
Some teams may prefer whitespace around style:

https://github.com/treeform/orekit/blob/master/src/main/java/org/orekit/data/PolynomialParser.java#L256

[2021-12-27 08:13] strkkk commented on #11116
in case this code is compliable (which is surprice for me), https://checkstyle.org/config_whitespace.html#NoWhitespaceAfter check can be enhanced with ellipsis token as well (not default ofc)

[2021-12-27 15:10] nmancus1 commented on #11116
@pbludov do you think we should not make `ELLIPSIS` a default token?

[2021-12-27 16:35] nmancus1 commented on #11107
Personally, I think that the current output is "good enough". Proposed output is better, though.

I think that the greatest value of this change would be to have an example of extending truth within the project, to make future extensions easier for maintainers (by having a "template" of sorts).

[2021-12-27 18:11] nmancus1 commented on #10798
As TreeWalker property,
as @pbludov mentioned [above](https://github.com/checkstyle/checkstyle/issues/10798#issuecomment-922429238) ? Or just to this check?

[2021-12-28 06:05] pbludov opened #11120 "Add sb-contrib plugin to spotbugs configuration"
[fb-contrib](https://github.com/mebigfatguy/fb-contrib) is a plugin for FindBugs and SpotBugs.

There are many detectors in this plugin that are not good enough to be accepted by the maintainers of SpotBugs.
Most of them are questionable and should be excluded, but there are a few good detectors.

For example:
https://github.com/checkstyle/checkstyle/blob/ba568256b4dad3e0d0537b747d2d8b62f9f27ce5/s

[2021-12-28 07:05] pbludov commented on #11116
Let's make it and look at the regression tests.

[2021-12-28 14:26] chenrui333 opened #11121 "missing `-all.jar` file in the latest 9.2.1 release"
👋 it looks like the jar file is missed in the latest release, v9.2.1, can you please verify on your end? Thanks!

[2021-12-28 15:56] asalikiryaki commented on #9299
Hello, do you have any update on this problem?
If you use an imported annotation, then you cannot use the solution to add a default value for the array annotation.
And the problem persists:
[code]

[code]

The configuration is as follows:
[code]

The problem seems to have been introduced in version `8.39`. Version `8.38` worked correctly.

[2021-12-28 16:58] Vyom-Yadav commented on #11121
Yes it is missing, @romani kindly take a look, @chenrui333 In the meantime if you want to use the jar file you can download the zip file, cd into the zip file after extracting and run the command
 `mvn clean package -Passembly`
the jar file will be generated and will be located in `target/`, the command requires maven to be installed on your system.

[2021-12-28 17:09] romani commented on #11121
fixed.
generated by command above

https://github.com/checkstyle/checkstyle/releases/tag/checkstyle-9.2.1

[2021-12-28 17:09] #11121 closed

[2021-12-28 17:44] romani commented on #11120
Please introduce new rules gradually

[2021-12-28 18:10] chenrui333 commented on #11121
Thanks @Vyom-Yadav, @romani!

[2021-12-28 18:58] theexplorist commented on #11120
@romani @pbludov Can you please help me figure out what is expected task for this issue? Will be happy to work upon it!

[2021-12-28 19:03] theexplorist commented on #11055
Hi @romani want to work on this but what is the expected fix here?

[2021-12-28 19:11] rnveach commented on #11055
For these type of issues, we should confirm if an Exception is even possible. Do some regression to search for a case.

For this we need to identify which part of the code the exception is possible from.

If we can confirm that an Exception isn't possible logically and in regression, then we need to look to see how we can rewrite the code to hide the possible issue from the static scanner.

See ho

[2021-12-28 19:19] theexplorist commented on #11055
@rnveach Can you please shed some more light on regression if possible, I surely want to work on this!

[2021-12-28 19:23] rnveach commented on #11055
https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#checkstyle-tester
https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/README_MANUAL_EXECUTION.md#executing-diffgroovy
https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#checkstyle-pitest-regression

[2021-12-28 23:50] romani commented on #11120
Activate extension and activate all rules that do not produce any violation.Disable all other rules (that violations) with comment "until #11120".

In next PRs activate single  rule and fix all violations for it.

Repeat previous, until rules are active or disabled for good reason with reason in comment.

[2021-12-29 00:07] romani opened #11123 "All reflection-based test should be reviewed and changed (or whitelisted)"
See details at https://github.com/checkstyle/checkstyle/pull/10899#discussion_r775198891

[2021-12-29 00:10] #11107 closed

[2021-12-29 09:23] kajh opened #11126 "FinalParameters in checkstyle 9.2.1 gives error for records without final on parameters in constructor when having more than one constructor"
I have read check documentation: https://checkstyle.org/config_misc.html#FinalParameters
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---
For records in java constructorparameters should not be required to be final when I use ```<module nam

[2021-12-29 09:33] pbludov commented on #11126
@kajh it is not clear what wrong with this check.

Such code
[code]
compiles fine and has no violations.

[2021-12-29 09:36] kajh commented on #11126
Thanks for looking into this isssue. When running checkstyle 9.2.1 on this file I get one error:
[code]
and I would expect this to not give this error.

[2021-12-29 11:06] romani commented on #11126
@kajh , please fix link to Check in issue description

[2021-12-29 12:16] kajh commented on #11126
@romani Done. Thanks for letting me know! Sorry for not doing this right the first time!

[2021-12-29 17:00] pbludov commented on #11126
Still not clear. Please show the Java code with _one constructor_ and with _no error_.

[2021-12-29 17:20] kajh commented on #11126
Got it! Sorry! Fixed now! Thanks for your patience!

[2021-12-29 19:37] strkkk commented on #11126
@kajh issue can be closed?

[2021-12-29 19:55] kajh commented on #11126
Sorry if I misunderstand here, but from what I understand checkstyle should not give any errors for either of the classes, but it does for DemoRecordTwoConstructors.java. I think that is a bug. Do you agree?

[2021-12-29 21:09] strkkk commented on #11126
No, I do not agree. This check checks parameter name in constructor, this record has a constructor, so name of the parameter is checked.

Can you clarify why you expect no violations here?

[2021-12-30 03:59] pbludov opened #11131 "Replace assertions guarded by 'if' with assumeXXX methods in tests"
Leftover of #10932

There were some if in the tests due to the incompatibility of Powermock with assumeXXX.

Detected by @rnveach at #10932 (comment)

[2021-12-30 07:32] rnveach commented on #9142
Questions to resolve the last of this issue:

1) Is it valid to convert assertSame to isEqualTo for truth? Same ensure it is the same memory location, while I assume equal to ensures the "equal" method returns true.
2) What is the valid way to convert assertThrows to Truth? It uses a lambda and probably has an encapsulation for the try/catch.

[2021-12-30 07:42] kajh commented on #11126
My mistake! You are right! I thought since parameters in the declaration of the records does not need a final, the parameters in the constructors don't need it. That is of cource not right when I'm looking closer at it, since in the constructors the parameters can be changed but not in the declaration. Sorry for the noise and thanks again for your patience!

[2021-12-30 07:42] #11126 closed

[2021-12-30 13:34] #11131 closed

[2021-12-30 14:11] romani commented on #9142
https://truth.dev/api/latest/com/google/common/truth/Subject.html#isSameInstanceAs(java.lang.Object)
But most case that I see in our code, should be converted to isEquals (class type comparison).

yes, we already do this.
https://github.com/checkstyle/checkstyle/blob/84eb861b9486022a273781046a3190c37604824d/src/test/java/com/puppycrawl/tools/checkstyle/utils/CommonUtilTest.java#L122-L128

[2021-12-30 15:43] nrmancuso opened #11134 "Github CI does not run upon `Github, rebase` action"
After PRs are rebased with `Github, rebase`, all other CI runs except for Github CI.

Example from https://github.com/checkstyle/checkstyle/pull/10999:
![image](https://user-images.githubusercontent.com/31252532/147765525-14d99eee-ff91-41d1-b6a9-dd6fea25c1c1.png)

Another example, from https://github.com/checkstyle/checkstyle/pull/11112:

![image](https://user-images.githubusercontent.com/31252532

[2021-12-30 16:44] rnveach commented on #9142
@romani

The code you quoted uses `assertThrows` which is what I am asking how to convert and remove. `assertThrows` is not a Truth assertion, and uses the forbidden library `org.junit.jupiter.api.Assertions` which we are trying to forbid and remove all uses of in this issue.

[2021-12-30 20:32] AbhinavRajputEXE commented on #10625
@romani
Now just only 3 Input files are remaining, and I'm having a little bit of a problem fixing them, all these files are small and have only one suppression each, I just need a few suggestions from you, I'm going to add all of them in the next and hopefully last PR😅 of this issue, please check that.

[2021-12-31 05:41] romani commented on #10625
Send PR and let see what problems you have

[2021-12-31 07:02] #11031 closed

[2021-12-31 07:03] strkkk commented on #11031
fix is merged

[2021-12-31 07:27] Vyom-Yadav commented on #11031
@strkkk Is it miscellaneous? I think it qualifies as a bug.

[2021-12-31 10:32] strkkk commented on #11031
my bad, changed

[2021-12-31 21:08] rnveach commented on #8309
@romani Is this an issue we can close?

[2021-12-31 21:16] rnveach commented on #7229
@romani Is this issue still valid?
[code]

[2022-01-01 04:06] romani commented on #7229
https://cloud.drone.io/checkstyle/checkstyle/7889/1/4

Not an issue anymore

[2022-01-01 04:06] #7229 closed

[2022-01-01 04:08] romani commented on #8309
Fixed a long time ago at https://github.com/checkstyle/checkstyle/commit/97a6af1f59b21eca87e54489725009ee442e2826#diff-dd4fbda47e51f1e35defb9275a9cd9c212ecde0b870cba89ddaaae65c5f3cd28

[2022-01-01 04:08] #8309 closed

[2022-01-01 09:34] AbhinavRajputEXE commented on #10625
@romani
[Comment](https://github.com/checkstyle/checkstyle/pull/11138#issuecomment-1003347437)

[2022-01-01 09:53] romani commented on #10625
Please send PR to reproduce problem that you experience

[2022-01-01 13:32] pbludov commented on #10744
Fix is merged.

[2022-01-01 13:32] #10744 closed

[2022-01-01 13:56] pbludov commented on #11120
Full list of issues:
``
[ERROR] Low: This method com.puppycrawl.tools.checkstyle.AstTreeStringPrinter.printBranch(DetailAST) is declared more permissively than is used in the code base [com.puppycrawl.tools.checkstyle.AstTreeStringPrinter] At AstTreeStringPrinter.java:[lines 147-156] OPM_OVERLY_PERMISSIVE_METHOD
[ERROR] Medium: Constrained method com.puppycrawl.tools.checkstyle.Checker.destroy() c

[2022-01-01 14:00] pbludov commented on #11120
Unique errors:
[code]

[2022-01-01 14:01] pbludov opened #11140 "Solve fb-contrib errors"
[ ] ACEM_ABSTRACT_CLASS_EMPTY_METHODS
[ ] AI_ANNOTATION_ISSUES_NEEDS_NULLABLE
[ ] CE_CLASS_ENVY
[ ] CFS_CONFUSING_FUNCTION_SEMANTICS
[ ] CLI_CONSTANT_LIST_INDEX
[ ] CNC_COLLECTION_NAMING_CONFUSION
[ ] COM_COPIED_OVERRIDDEN_METHOD
[ ] CVAA_CONTRAVARIANT_ELEMENT_ASSIGNMENT
[ ] DLC_DUBIOUS_LIST_COLLECTION
[ ] EXS_EXCEPTION_SOFTENING_NO_CHECKED
[ ] EXS_EXCEPTION_SOFTENING_NO_CONSTRAINTS
[ ] FCCD_FIND_

[2022-01-01 15:28] pbludov commented on #11120
33 more errors reported by JDK11 build:
[code]

[2022-01-01 16:03] pbludov commented on #11120
More errors by drone

[code]

[2022-01-02 02:34] rnveach commented on #11120
@romani @pbludov I assume this issue is finished since new violations are fixed in another issue?

[2022-01-02 03:21] pbludov commented on #11120
I did it in the wrong way. From the [README](https://github.com/mebigfatguy/fb-contrib#fb-contrib)
[code]

so, it should be sb-contrib

[2022-01-02 05:24] Vyom-Yadav commented on #11134
on it.

[2022-01-02 09:48] #11120 closed

[2022-01-02 15:32] yshubham8419 commented on #11103
[code]
this works perfectly fine

[2022-01-02 15:46] pavelicii commented on #11103
@yshubham8419 not sure hot it relates to the described issue.

[2022-01-02 23:57] AbhinavRajputEXE commented on #10625
@romani
All input files have been removed from the line length suppression.

[2022-01-03 00:01] rnveach commented on #10625
Text still exists in the suppression file. If everything is done, lets remove it.
https://github.com/checkstyle/checkstyle/search?q=10625

[2022-01-03 01:20] #11113 closed

[2022-01-03 01:24] rnveach commented on #9142
Still waiting on a resolution for this.
This is the main thing left to handle for this issue.

[2022-01-03 05:00] romani commented on #9142
https://stackoverflow.com/a/38866403

No good API, let's keep assertThrows

[2022-01-03 08:52] Vyom-Yadav commented on #11134
@nmancus1 @romani @strkkk The reason rebase is not triggering new workflows is due to the fact that it uses default `GITHUB_TOKEN` and any PR's made by this default token won't trigger any workflows (GitHub actions based).
https://github.com/checkstyle/checkstyle/blob/6e47445b3a966b6fb39af87177e308570e1b15bb/.github/workflows/rebase.yml#L40-L41
Related documentation-
https://docs.github.com/en/act

[2022-01-04 01:43] shivambhati127 commented on #7662
I am on it .I am resolving is issue

[2022-01-04 05:31] romani commented on #10625
Final fix is merged

[2022-01-04 05:31] #10625 closed

[2022-01-04 06:00] Binita-tech commented on #11103
@pavelicii, I am new to this type of issue, can u please guide me on how to proceed further?

[2022-01-04 07:38] pbludov commented on #11103
@Binita-tech indentations issues are the hardest to fix. Please peek another issue.
If, nevertheless, you want to do it, then look at the closed issues with the `indentation` tag:
https://github.com/checkstyle/checkstyle/issues?q=label%3Aindentation+is%3Aclosed

[2022-01-04 11:54] Vyom-Yadav commented on #11087
on it.

[2022-01-04 13:29] pbludov commented on #11087
Should  be there any violations in this code:

[code]
?

Another idea: we may need to specify the minimum number of call chains (maybe just one) after exceeding which there should be a break for readability:

[code]

[2022-01-04 14:23] Vyom-Yadav commented on #11087
[code]
@pbludov we cannot tell that a method is static or an instance method (AST based approach) so we cannot give an error based on that, lambda is the parameter so we can ignore it (the user may have different rules for methods inside lambda which will be applicable here).

This can be customized, keep reading.

Agreed, along with the minimum number of chain calls, there should also be a proper

[2022-01-04 15:54] Binita-tech commented on #11103
Thank you @pbludov. I will be working on this issue.

[2022-01-04 22:03] AntoineLange opened #11155 "Bracket on new line indentation failure for switch expression that assigned a variable"
[code]

---

We use bracket on new line in our coding standards (like apache https://commons.apache.org/proper/commons-net/code-standards.html). That's why I use "leftCurly" option "nl" in my checkstyle configuration.
We just switch from Java 11 to Java 17 and try to use the new switch expression from Java 14. It went well except when we tried to assign the result of the switch to a new variable i

[2022-01-05 11:37] Stefanqn commented on #4070
yeah, it's kind of sad
[code]
can't be validated

[2022-01-05 11:57] Binita-tech commented on #3619
I am on it.
Do I have to raise one PR or two PR for two problem statements? @romani

[2022-01-05 15:23] Sauvikn98 commented on #7662
Starting with solving this good first issue. I am on it

[2022-01-05 16:30] romani commented on #7662
@Sauvikn98, beware of post from @shivambhati127

[2022-01-06 06:55] pbludov commented on #11087
@nmancus1 @rnveach @romani @strkkk please share your thoughts

[2022-01-06 08:34] pbludov commented on #9146
@romani we need to upgrade https://hub.docker.com/r/checkstyle/jdk-8-groovy-git-mvn/tags to jdk11.

Please share the script you used to create this doker image.

[2022-01-06 10:14] strkkk commented on #9146
@pbludov I believe it is this one https://github.com/checkstyle/contribution/blob/master/devops/docker/no-exception-build-image/jdk-8-groovy-git-mvn/Dockerfile

[2022-01-06 14:49] romani commented on #9267
Fix is merged

[2022-01-06 14:49] #9267 closed

[2022-01-06 16:00] pbludov commented on #9146
@romani we have two blockers:

* need JDK11 docker image for circle CI. Please build and publish https://github.com/checkstyle/contribution/pull/593
* Set up proper JDK version for TeamCity build. I have no idea how to configure it :(

[2022-01-06 16:54] rnveach commented on #9267
@romani Do we have to do any final cleanup in contribution connected to this issue? I remember us making some override since it took the defect an extended time to get reviewed and merged.

[2022-01-06 16:56] romani commented on #9267
See referenced PR in comments above, this all that I remember.

[2022-01-06 18:26] AbhinavRajputEXE commented on #7616
@pbludov @romani
Can I work on this or is it occupied?

[2022-01-07 05:48] romani opened #11163 "Enforce file size on Java inputs"
From https://github.com/checkstyle/checkstyle/pull/11156#pullrequestreview-845293639

We need to get statistics on how long our Input files and get median value and enforce file size to not above this value.

As we usually do:
Enforce rules with long list of suppression
All suppressions can be resolved in separate PRs

Rationale: big input files a hard to review, hard to debug.

[2022-01-07 06:04] romani commented on #11065
![Screenshot_20220106-220151](https://user-images.githubusercontent.com/812984/148499552-e20c7aeb-30b5-4c3e-bd6e-75d8d527d909.png)

Why we got +1Mb ?

[2022-01-07 07:55] rnveach commented on #11065
A new folder, `javaassit`, was added that resulted in 820kb of files.

[2022-01-07 08:17] Vyom-Yadav commented on #11163
@romani Here is some data-
[code]
This includes Input files from both `../resources` and `../resources-noncompilable`.
How I generated the data: https://gist.github.com/Vyom-Yadav/76cedd6a5286496e25cf762b31ac2e10

[2022-01-07 13:07] romani commented on #11065
Eclipse Plugin experienced problems with missed such dependency
https://github.com/checkstyle/eclipse-cs/pull/336#issuecomment-1007159696

[2022-01-07 13:36] rnveach commented on #11065
Yes, after sleeping on it, I find it weird we were excluding a production bound library and figured if it was needed it would have repercussions down the line.

[2022-01-07 14:00] romani commented on #9146
@pbludov , please proceed with https://hub.docker.com/layers/checkstyle/jdk-11-groovy-git-mvn/11.0.13__3.0.9__2.25.1__3.6.3/images/sha256-701c3977b9f732f9f39412cc81cd604c8e380185a62c820bf40d05f1dc3f972d?context=repo

[2022-01-07 16:47] romani commented on #9146
We need to release fix of Nick for memory usage in 9.x  , before me migrate to new jdk that will be new major version bump.

[2022-01-07 20:06] Calixte commented on #11065
javassist is needed at runtime by [MetadataFactory](https://github.com/checkstyle/eclipse-cs/blob/master/net.sf.eclipsecs.core/src/net/sf/eclipsecs/core/config/meta/MetadataFactory.java) after the upgrade to org.reflections 0.10.x ; it's probably also needed by [XmlMetaReader](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/meta/XmlMetaReader.java

[2022-01-08 14:05] Vyom-Yadav commented on #11109
@rnveach @nmancus1 Approved tag?

[2022-01-08 19:11] rnveach commented on #10798
TreeWalker is not responsible for printing violations of JDK version. Its purpose is to parse and pass the parsing results on. It can print violations for parsing errors or children errors, but I don't see it being responsible for printing violations on redundant modifiers.

[2022-01-08 19:28] rnveach commented on #9719
If you are continuing from previous PR, discussions of changes I thought should be added were at https://github.com/checkstyle/checkstyle/pull/9766#pullrequestreview-660570823 .
If a new PR is being started from scratch, then I would need to see that to determine.

[2022-01-08 19:41] AbhinavRajputEXE commented on #7616
@pbludov @romani
[How to update example](https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-examples) guide says

But in existing doc. almost all examples are different so show should I make only one example out of all of them?
and why about the problem in the comment above?
and also...
[Doc.](https://checkstyle.org/config_design.html#VisibilityModifier) says

but even if

[2022-01-08 22:18] romani commented on #7616
@AbhinavRajputEXE , it is really hard to tell what is wrong is we do not se all details as we demand during issue creation.
please follow a format and share your problem in such way - https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-01-08 22:37] romani opened #11166 "Fix existing cases of `getFileContents()` usage"
after https://github.com/checkstyle/checkstyle/issues/9889

We need to fix all existing cases of `getFileContents()` usage.

cases:
- [ ] MissingOverrideCheck.java
- [ ] PackageAnnotationCheck.java
- [ ] AvoidEscapedUnicodeCharactersCheck.java
- [ ] FallThroughCheck.java
- [ ] PackageDeclarationCheck.java
- [ ] ImportControlCheck.java
- [ ] UnusedImportsCheck.java
- [ ] JavadocMethodCheck.java (1)

[2022-01-08 23:14] romani commented on #11163
I am ok to make max limit as 120 lines, I glanced through files, all big files are NOT for good reason.

@pbludov , @rnveach , @nmancus1 , @strkkk , please confirm that you are ok with this.
there definetely might be exceptions, and we can keep them as big files.

[2022-01-08 23:55] rnveach commented on #11163
I would prefer 200.

Configuration javadoc, package, imports, class definitions, and the necessary blank lines add up.

[2022-01-09 02:06] #9142 closed

[2022-01-09 02:07] romani commented on #11163
We do not use imports that much, header comment is not that big. Please show me input file that is good to be above 120 lines. There might few only.

[2022-01-09 02:07] rnveach commented on #11123
List of suppressions are at https://github.com/checkstyle/checkstyle/blob/a1c3c35a53d33bdf0c5ced8c1a9147439c2c04c1/config/suppressions.xml#L104 .
Until suppressions are removed, new forbidden classes can be let in as saw in the Truth issue.

[2022-01-09 04:59] #9889 closed

[2022-01-09 12:45] AbhinavRajputEXE commented on #7616
@romani

[code]

[code]

[code]

[code]

I also tested the `allowPublicImmutableFields` property, in the existing example in doc., it says "no warning" but when I run checkstyle on it gives me these same 5 errors.

and in the Documentation is says `Public` should be allowed when packageAllowed is used but it is still giving me errors.

And all the examples in Documentation are different but [How t

[2022-01-09 14:20] pbludov commented on #11163
Long files list: https://gist.github.com/pbludov/fe3786436e177939e2041e3596626296
355 files > 120 lines
200 files > 200 lines

We can start with a limit of 200 lines, and then reduce the limit to 120.

[2022-01-09 15:34] Rahulkhinchi03 commented on #3082
I am on it.

[2022-01-09 15:34] Rahulkhinchi03 commented on #3082
![abcd](https://user-images.githubusercontent.com/71710042/148689204-a185d456-2a9e-4876-bd25-d124e86896f6.png)

com.puppycrawl.tools.checkstyle.api.CheckstyleException: Config comment not specified properly in C:\Users\ASUS\Desktop\OpenSource\checkstyle\src\test\resources\com\puppycrawl\tools\checkstyle\filters\suppressbymessagefilter\InputSuppressByMessageFilter.java

	at com.puppycrawl.tools.che

[2022-01-09 15:44] romani commented on #11163
count of files is not that I worry about. This task will be perfect for introduction to project, so it will be long lasting and done eventually - ok.

Having two iterations: to 200 and then to 120 will be a lot of efforts. Contributor will spend same time to split files from xxxxx to 200 as to xxxx to 120.

[2022-01-09 16:52] rnveach commented on #3082
@Rahulkhinchi03 Check name and filter name are missing from javadoc. I don't believe `Config:` is valid.
Look at other input files for examples.

[2022-01-09 19:14] AbhinavRajputEXE commented on #7064
@romani
Can you please provide links to some resources to understand how I can make SuppressWithPlainTextCommentFilter support influenceFormat property and what actually influenceFormat property do?
And the files in which I need to make changes to make it happen.
I understood what we are trying to do here by reading the conversation in linked issue and PRs but as a newbie to this kind of issue, I

[2022-01-10 00:26] romani commented on #7064
It is properly from another filter https://checkstyle.org/config_filters.html#SuppressWithNearbyCommentFilter_Properties

[2022-01-10 01:55] coolifewindy commented on #3449
not bad

[2022-01-10 04:49] nmancus1 commented on #11163
I agree that this is a good limit under normal circumstances. Limiting file lengths will help to make violations more clear, and to reduce/ eliminate extension of existing test inputs.

In PR for this issue, we should decide on big files to keep with comment explaining why for each suppression, then have contributors simply select suppression with no comment to work on.

[2022-01-10 04:53] romani commented on #11163
First PR should do suppression "until #11163". If we decide to keep big input, we should make special comment.

[2022-01-10 05:51] pbludov opened #11172 "Replace System.exit with Runtime.exit"
Prerequisite for #9146

Switching to Java11 breaks pitest-main report:
![image](https://user-images.githubusercontent.com/900805/148722335-3682b9e5-49b8-4353-b91a-059f2311866e.png)
There is one "uncovered" line may be related to https://openjdk.java.net/jeps/181
The bytecode generated by JDK8 compiler almost the same as bytecode generated by JDK11 compiler.
With one difference: JDK11 invokes `Exit

[2022-01-10 05:55] Rahulkhinchi03 commented on #3082
Changes done but found new error:
`com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module com.puppycrawl.tools.checkstyle.TreeWalker - TreeWalker is not allowed as a parent of com.puppycrawl.tools.checkstyle.filters.SuppressByMessageFilter Please review 'Parent Module' section for this Check in web documentation if Check is standard.`

[2022-01-10 07:16] strkkk commented on #11163
I think 200 is good enough

[2022-01-10 09:30] Vyom-Yadav commented on #11163
Here is some more data to help you decide whether it will be 120 or 200.
[code]
This number is composed of the following-
[code]
Total num of lines before top-level class declaration - 10 (includes the class declaration)
Total num of empty lines (for readability of code) - 2 (After class declaration)
Total = 10 + 2 = 12
Here is the data for every input file (.java) - https://gist.github.com/Vyom-Y

[2022-01-10 16:37] Binita-tech commented on #11103
I am working on it @yshubham8419, You can pick up another issue.

[2022-01-10 18:52] AbhinavRajputEXE commented on #7064
@romani
If I understand correctly I have to add a property
[code]
To SuppressWithPlainTextCommentFilter right?

I did some findings and found an XML file of [this ](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/com/puppycrawl/tools/checkstyle/meta/filters/SuppressWithPlainTextCommentFilter.xml) filter. and [java file ](https://github.com/checkstyle/checkstyle/blob/master/

[2022-01-10 19:40] yshubham8419 commented on #6024
@romani  is this issue still valid ? Can i work on it  ?

[2022-01-10 20:10] yshubham8419 commented on #11103
@Binita-tech if you haven't made much progress please let me do it.

[2022-01-10 21:04] romani commented on #11163
We come to majority agreement to make it 120.

We can always keep in permanent suppression cases that need more for good reason or we can make limit higher later on.
For now let's try 120.

@Vyom-Yadav , can you send PR that will do validation and placing all files above limit to temporary suppression ?

[2022-01-10 22:49] rnveach commented on #6024
@yshubham8419 Read the details in the first post and show us by using the command line if it is still valid or not with the latest version of checkstyle.

[2022-01-11 03:11] romani commented on #7064
In SuppressWithPlainTextCommentFilter.java

[2022-01-11 05:08] yshubham8419 commented on #6024
@rnveach  here it is

[code]

[2022-01-11 05:30] romani commented on #6024
Issue still exists, @yshubham8419 , please help to fix it

[2022-01-11 05:56] octylFractal opened #11176 "Add validateOnlyAssignment option to RequireThis check"
**Is your feature request related to a problem? Please describe.**
I would only like to enforce `this.` on assignments, rather than on all field accesses. This is similar in desire to #2362, making the check useful without being overly harsh in cases where it doesn't matter.

**Describe the solution you'd like**
[code]

[2022-01-11 13:17] yshubham8419 commented on #6024
I am on it.

[2022-01-11 20:34] nmancus1 commented on #11134
@Vyom-Yadav thanks for investigating and making detailed example. Is it possible to use Github workflow API to run other workflows (Github CI tasks) from `rebase.yml` if rebase action is successful instead of PAT or specially created github app?

[2022-01-11 21:46] nmancus1 commented on #11087
From https://github.com/checkstyle/checkstyle/issues/11087#issuecomment-1004812598:

It depends on user config. I had a very simple implementation in mind, which takes advantage of our treatment of the `DOT` and `METHOD_CALL` tokens (as operators/ parent tokens):

[code]

1. Check would use `METHOD_CALL` token.
2. Verify given regex in config against any method call with direct `IDENT` child (firs

[2022-01-11 22:02] nmancus1 commented on #11109
@Vyom-Yadav wouldn't this require for the check to be type aware? If so, how do we handle case where operand is declared elsewhere (not in current compilation unit)?

[2022-01-11 22:25] rnveach commented on #11087
@pbludov I am biased as I was the one that suggested this check idea to @nmancus1 .

Usually builders are static calls since the builder is the one that will create the instance.

The only thing I wanted to point out is for this example we could allow the user to specify the class as the builder and not need for them to put in all the method name variations. `Truth` in this example is basically th

[2022-01-11 22:25] nmancus1 commented on #10798
I think the idea was to have TreeWalker property like:

[code]
so that during check module initialization, TreeWalker can configure given check with this property.

We could even extend this property to be passed to `JavaParser` by `TreeWalker` as well. This would make it possible to use predicates to "turn off" parts of our grammar that are not needed by a user. This idea was originally proposed

[2022-01-11 23:09] nmancus1 commented on #11176
While new property is being discussed, desired behavior can be achieved with [SuppressionXpathSingleFilter](https://checkstyle.sourceforge.io/config_filters.html#SuppressionXpathSingleFilter) :

[code]

[2022-01-11 23:11] rnveach opened #11178 "Enforce file size on Non-Java inputs"
Split from https://github.com/checkstyle/checkstyle/issues/11163 ,

This issue should specifically look at Non-Java input files. An input file is anything named "Input*.*".

As we usually do:
Enforce rules with long list of suppression
All suppressions can be resolved in separate PRs

Rationale: big input files a hard to review, hard to debug.

[2022-01-12 03:40] romani commented on #11178
If we limit java input file, it will limit ast tree file.
Limit on ast tree file will not be very reliable or useful.
Do you want extra limit on grammar regression files ?

[2022-01-12 05:37] nmancus1 opened #11185 "Run regression testing in CI over openjdk17"
After https://github.com/checkstyle/checkstyle/issues/10848, Checkstyle will fully support Java 17 syntax. We should update `openjdk16-with-checks-nonjavadoc-error` task to parse openjdk 17.

Updated script to generate file filters:

[code]

[2022-01-12 11:06] rnveach commented on #11178
https://github.com/checkstyle/checkstyle/blob/77852dd5ccda0d69e3146b701549b8c49d5a02c2/src/test/java/com/puppycrawl/tools/checkstyle/grammar/AstRegressionTest.java#L68

We may have to relook at file names. Based on test above, this looks more like an output file which is outside the scope of this issue.

I know we have javadoc input files for Javadoc Parser.
I know we have XML input files for test

[2022-01-12 13:50] nmancus1 opened #11187 "`OperatorWrapCheck` throws NPE on guarded patterns"
Link to check documentation: https://checkstyle.sourceforge.io/config_whitespace.html#OperatorWrap

Noticed in https://github.com/checkstyle/checkstyle/pull/11186  at https://github.com/checkstyle/checkstyle/runs/4785736479?check_suite_focus=true :

[code]

I would expect `OperatorWrapCheck` to process `Test.java` without throwing a null pointer exception.

We can remove file filter for this file

[2022-01-12 14:11] romani commented on #11178
Ok to rename ast files to Outputxxxxxx.ast and they should not be validated.
*.javadoc should be limited to 20 lines.
and xml is limited to 20.

[2022-01-12 18:24] rnveach commented on #11178
Sounds reasonable, but I cant see if we don't have any stats like the other issue. I want to look at some things and will try later today.

[2022-01-12 22:38] rnveach commented on #11178
We have the following input files under `test\resources` that are not Java.

[code]

Some small statistics:

Total Number of Files: 355
Grand Total Lines: 55,003
Average Lines Per File: 155

[2022-01-12 22:40] rnveach commented on #11178
The convention I am seeing in the files is "Expected". None use "Output".

[2022-01-13 03:57] romani commented on #11178
Let's use "Expected" prefix

[2022-01-13 06:28] strkkk commented on #11176
it looks like this is not a very common demand, and it is better to just use suppression provided above instead of complicating code of the check even more.

is it ok for you @octylFractal ?

[2022-01-13 06:32] octylFractal commented on #11176
Yes, that works for me.

[2022-01-13 06:32] #11176 closed

[2022-01-13 09:26] Vyom-Yadav commented on #11134
@nmancus1 Intrigued by your suggestion to use workflow API to run workflows I gave it a shot in my https://github.com/Vyom-Yadav/actions-test repo. I was expecting it to fail with the `GITHUB_TOKEN`, as automatic triggers do not support that (so manual also shouldn't support). The results-

- Was able to manually trigger a workflow using PAT but not using `GITHUB_TOKEN`, some commands if you want

[2022-01-13 13:33] Vyom-Yadav commented on #11087
@nmancus1 @strkkk @rnveach I am ok with all suggestions and with using the class name instead of method name though we would lose some fine-grain control doing so as the user may not want to wrap every method in the builder class. I will start working on it as soon as it is approved.

[2022-01-13 19:21] pree-T commented on #11178
Is this issue still open?

[2022-01-13 19:21] pree-T commented on #11155
May I work on it? Can someone help me to fix it as I am new to open source contribution?

[2022-01-13 22:08] romani commented on #11178
Yes, open, ticket a bit not polished on expected results, but we agreed that files with ast tree needs to be renamed as ExpectedXxxx.ast

[2022-01-14 04:32] pree-T commented on #11178
What do I need to do exactly to resolve this issue ? Can someone help me as I am relatively new to open source contribution.?

[2022-01-14 05:44] nrmancuso opened #11193 "Performance Issue with Javadoc Grammar"
Consider a simple javadoc (no tags, inline tags, HTML elements, etc.) like the following, which is taken from https://github.com/checkstyle/checkstyle/blob/b26361760cefb540ac625702ea8639b0c5767107/src/test/java/com/puppycrawl/tools/checkstyle/JavaAstVisitorTest.java:

[code]

Here are some statistics from using our ANTLR Javadoc grammar to parse this javadoc:

[code]

With Checkstyle's javadoc gra

[2022-01-14 06:27] nmancus1 commented on #11193
From https://github.com/checkstyle/checkstyle/pull/10999#discussion_r784001282:

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/pull/10999#discussion_r784001282_

From https://github.com/checkstyle/checkstyle/pull/10999#discussion_r777052132:

_Originally posted by @rnveach in https://github.com/checkstyle/checkstyle/pull/10999#discussion_r777052132_

Clearing the DFA st

[2022-01-14 07:39] Vyom-Yadav commented on #11116
On it.

[2022-01-14 08:34] Vyom-Yadav opened #11194 "Bump year to 2022"
Bump year to 2022
https://github.com/checkstyle/checkstyle/blob/master/.ci/bump-license-year.sh
https://github.com/checkstyle/checkstyle/blob/master/.ci/bump-license-year-in-all-projects.sh

[2022-01-14 12:04] Orachigami commented on #3379
Extended version of @pavelicii pattern:
`^([ \t]{0,}@\w+[ \t]*(\(.*\))?)?[ \t]{0,}([a-z]+ )*(class|@?interface|enum)[^{]+\{[ \t]{0,}(?=\r?\n[ \t]{0,}(?!\})[^\s]|[^\r\n]*[^\s])`

I added annotation checks and empty class declaration ignoring

Demo can be checked here:
https://regex101.com/r/ELsq2R/3

[2022-01-14 12:59] rnveach commented on #11194
Feel free to say you are on it and send a PR.

[2022-01-14 13:02] Vyom-Yadav commented on #11194
on it

[2022-01-14 13:17] jacekmusial commented on #9299
@asalikiryaki is right. I stumbled upon this bug when running CheckStyle `9.2`. Checkstyle version `8.38` doesn't complain about code below.

[code]

I will stick with latest CheckStyle version and use
[code]
for the time being.

[2022-01-14 13:37] Vyom-Yadav commented on #11194
Why don't we set up an action for it with `cron` set to the new year, I can set it up if want.

[2022-01-14 14:21] strkkk commented on #11194
@Vyom-Yadav I like your idea, sound great. PR is welcome.

[2022-01-14 20:45] romani commented on #11194
I completely forgot to do this

[2022-01-15 06:33] Perin-Mangukiya commented on #7657
@romani I want to contribute to this issue.

[2022-01-15 06:52] Perin-Mangukiya commented on #7624
I am on it.

[2022-01-15 13:29] Zustin opened #11197 "A false positive about the document case"
I have read check documentation: https://checkstyle.sourceforge.io/config_naming.html#ClassTypeParameterName
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---
**Describe what you expect in detail.**
---
Actually, this is a document case, it

[2022-01-15 14:35] nmancus1 commented on #11197
Thanks for pointing this out, example should read as follows:

[code]

This config is used to conform to [Google's style guide](https://checkstyle.org/styleguides/google-java-style-20180523/javaguide.html#s5.2.8-type-variable-names). While fixing this issue, we could add an example like `class MyClass6<T2> {}        // ok` to show other acceptable naming per Google style guide.

[2022-01-15 15:21] #10934 closed

[2022-01-15 15:22] romani commented on #10934
Fix is merged and will be released as usual last weekend of January.

Thanks to all participants !!!

Special thanks to @nmancus1 to make it happen.

[2022-01-15 17:48] romani commented on #10934
Deployment of snapshot version is happening after each merge.

https://github.com/checkstyle/checkstyle/wiki/How-to-use-Checkstyle-snapshot-artifacts

[2022-01-15 20:26] AbhinavRajputEXE commented on #7064
@romani
As I'm working on this issue, I understood a lot of things about modules now that I didn't know before, like the working of this filter, etc.
But out of curiosity, and because also I worked on many test files before in the 100 lines issue,
This question may sound dumb 😅, but what is the real use of those test files, like which I removed them from suppression in issue #10625 , as you said b

[2022-01-15 21:38] AbhinavRajputEXE opened #11199 "Update doc for SuppressWithPlainTextCommentFilter"
https://checkstyle.org/config_filters.html#SuppressWithPlainTextCommentFilter_Properties
![Screenshot 2022-01-16 025133](https://user-images.githubusercontent.com/80591258/149638117-c58a2178-4182-4e6c-a5d4-ef209db9b116.png)
Notes section should be placed before the properties section
As we can see in the image above, the notes section is after the properties section, unlike other filters on the sa

[2022-01-15 21:41] AbhinavRajputEXE commented on #11199
@romani
please review this issue, if it is valid or not.
there is one more similar kind of issue on the same page and a few typos also.
should I also add them to this same issue?

[2022-01-16 03:07] romani commented on #7064
We test all Checks and filters by real input files. It means that it is NOT artificial test. It is emulation of ho IDE will highlight violation on this code.

[2022-01-16 05:27] romani commented on #11194
Done

[2022-01-16 05:27] #11194 closed

[2022-01-16 05:48] romani commented on #7064
Please read https://checkstyle.org/writingfilters.html

Each IDE page https://checkstyle.org/idea.html show how to debug.

[2022-01-16 07:29] satob opened #11200 "Improve Japanese message translation"
Messages in `messages_ja.properties` (especially ones added after version 8.24) contain some mistranslated messages.

For example, in `src/main/resources/com/puppycrawl/tools/checkstyle/checks/imports/messages_ja.properties`, the message :
[code]
means the illegal imports in the context of international trades. It should be:
[code]

[2022-01-16 07:30] Vyom-Yadav opened #11201 "Move methods common in UnusedLocalVariableCheck and FinalClassCheck to util"
From https://github.com/checkstyle/checkstyle/pull/10930#discussion_r785397301
To be addressed after merging #10930
UnusedLocalVariableCheck (#10930) and FinalClassCheck (Check +  #10968) has some methods in common-

[code]
Also FinalClassCheck and UnusedLocalVariableCheck have a static nested class in common - `ClassDesc`. We may merge both of these classes and extract it somewhere, there are som

[2022-01-16 11:19] Taniya003 commented on #7588
on it.

[2022-01-16 12:57] AbhinavRajputEXE commented on #7064
Thanks for telling me this, it cleared some of my doubts

yes, thanks for this.

[2022-01-16 13:46] #11172 closed

[2022-01-16 14:20] romani commented on #11201
we need to make sure that after moving to Util classes such methods we will not start covering them by pure unit test. All coverage should be done by Inputs like tests (functional tests).

[2022-01-16 14:22] romani commented on #11199
yes, please do, we already place Notes above properties in other filters - https://checkstyle.org/config_filters.html#SuppressWithNearbyCommentFilter_Notes

[2022-01-16 15:17] Vyom-Yadav commented on #11201
UT's won't be required.

[2022-01-16 15:44] AbhinavRajputEXE commented on #11199
yes, this was the other one, except these, other filter sections are fine.😅
@romani
I have one more question
If a filter's module has "Checker" as the parent module, can it suppress checks that have "Treewalker" as their parent module as well? As it is mentioned in the [notes of SuppressWithPlainTextCommentFilter](https://checkstyle.org/config_filters.html#SuppressWithPlainTextCommentFilter_Notes)

[2022-01-16 16:04] romani commented on #11199
yes, but not by Xpath, not very precisely.

yes, it is mistake, you can fix it also.

[2022-01-16 16:32] nmancus1 opened #11203 "Update `bump-license-year.sh` to use `g4` file extension."
Currently, file name pattern in `find` only specifies `*.g`, which is ANTLR2 file extension:

https://github.com/checkstyle/checkstyle/blob/51159e3f1219622b9b45e827976912f0dd6c8b25/.ci/bump-license-year.sh#L12

 We need to update this to find ANTLR4 files (*.g4) to bump license year, and manually run workflow to send PR for license year bump to show that it works.

[code]

[2022-01-16 16:34] nmancus1 commented on #11203
On it

[2022-01-16 16:37] #11203 closed

[2022-01-16 16:50] rnveach commented on #11203
@nmancus1 @romani Our javadoc grammar doesn't have a license on it as the first post demonstrates. Neither does our DTDs.

[2022-01-16 16:51] rnveach commented on #11203
We should remove the license from inputs.

[2022-01-17 01:21] sukolenvo commented on #10866
I am still getting this error with latest (9.2.1) build. Code to reproduce:
[code]

Config I am using:
[code]

Output:
[code]
Should I create a new issue or reopen this or #10463?

[2022-01-17 02:27] romani commented on #10866
@KENNYSOFT , please create new issue.

[2022-01-17 02:27] romani commented on #10866
@sukolenvo, please create new issue.

[2022-01-17 02:32] KENNYSOFT commented on #10866
@sukolenvo That's not a switch expression, but a switch statement. `->` is just for there are not any implicit continue after the label ends.

[2022-01-17 02:35] sukolenvo opened #11208 "MissingSwitchDefault for switch exception (Java 14+)"
I have read check documentation: https://checkstyle.org/config_coding.html#MissingSwitchDefault
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
**Expected**: no errors. Following code is very similar and does not produce any errors:
[code]
Giv

[2022-01-17 02:39] sukolenvo commented on #10866
Thank you work explaining, makes sense @KENNYSOFT

[2022-01-17 02:41] sukolenvo commented on #11208
Confused `->` with requirement of exhaustive `case`-s.
Thanks https://github.com/checkstyle/checkstyle/issues/10866#issuecomment-1014083535 for clarifying.

Closing.

[2022-01-17 02:41] #11208 closed

[2022-01-17 15:26] romani opened #11212 "ReturnCount does not violate ctor with returns"
I have read check documentation: https://checkstyle.org/config_coding.html#ReturnCount
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

Violation is expected on ctor.

[2022-01-17 16:18] Vyom-Yadav opened #11213 "False positive: SummaryJavadocCheck"
From [comment1](https://github.com/checkstyle/checkstyle/pull/11051/files#r775167621) and [comment2](https://github.com/checkstyle/checkstyle/pull/11051/files#r775200466)
I have read check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#SummaryJavadoc
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and

[2022-01-17 17:40] romani commented on #11213
Please remove `// unexpected violation` from javadoc and update description and actual behavior, you can put such comment outside of javadoc at any place.

[2022-01-17 17:58] Vyom-Yadav commented on #11213
@romani Done

[2022-01-17 18:07] yshubham8419 commented on #6024
actual problem was that the function collectfirstnodes with the help of getNextCurNode  keeps  on iterating over every ast and add them for checking if they are on the start of the line irrespective of anything

also in the MethodCallHandler the checking for nested methods  wasn't allowed

i tried to stop collectfirstnodes  when the method was nested
and enabled the checking for nested methods in

[2022-01-17 19:10] nmancus1 commented on #9146
Once we move newly compilable inputs in final PR, I think we can remove:

https://github.com/checkstyle/checkstyle/blob/c686409accf3025fa26849e0f3e39b09cadc57a4/.ci/validation.sh#L500

[2022-01-17 19:32] pbludov commented on #9146
Yes, after changing `java.version` to 11 all JDK9,10,11 test inputs should be compilable.

[2022-01-17 19:34] #7504 closed

[2022-01-17 21:42] AbhinavRajputEXE commented on #7064
@romani
I read the doc. of all filters, and I understood the use of all of those filters and their properties and also how modules and properties work, and also understood partially, what changes I have to make in the files, but when I was reading the code of SuppressWithPlainTextCommentFilter file and the file which already have influenceFormat property in it, to understand how the code of that p

[2022-01-17 21:49] romani commented on #7064
all rules are expressed in checkstyle config, build violation will suggest you if something need to adjusted to follow rules.
Keep digin in code, it is helpful, please do all investigations by execution in debug of tests and it will guide you on how it works internally.

[2022-01-17 22:01] romani commented on #11176
we can reconsider this decision if more people would like to have option on this, if somebody also see value in this property please leave comment in this issue.

[2022-01-17 22:03] romani commented on #7616
please make input java file compile-able. Execution of checkstyle on non compiled code is not predictable and is not supported.

[2022-01-18 05:56] Vyom-Yadav commented on #7504
@romani The issue is still valid, there are many more types of variables that can be checked https://docs.oracle.com/javase/specs/jls/se17/html/jls-4.html#jls-4.12.3. Method parameters, constructor parameters, etc.

[2022-01-18 09:06] Vyom-Yadav commented on #11030
As pointed out by @romani in https://github.com/checkstyle/checkstyle/pull/11051#discussion_r786310930 we cannot add `JAVADOC_INLINE_TAG` to default tokens as that results in a `FileStatefulCheck`. Instead manual approach of searching for `JAVADOC_INLINE_TAG` will be followed, cost of finding `JAVADOC_INLINE_TAG` will be reduced by solving #11213

[2022-01-18 09:12] Vyom-Yadav commented on #11213
on it.

[2022-01-18 09:26] strkkk commented on #7504
@Vyom-Yadav enhancements can be implemented in separate tickets, no need to make this one big

[2022-01-18 09:54] Binita-tech commented on #11103
In which files do I need to make changes to make it happen?
I understood what we are trying to do here by reading the conversation in linked issue and PRs but as a newbie to this kind of issue, I just don't know in which files we need to make changes.
If you can help a little, I think I would be able to do it. @pbludov

[2022-01-18 09:58] Binita-tech commented on #4121
Can I work on this? @romani
As I have worked on a somewhat similar issue, I have understood the issue but as I am a newbie so I am not able to figure out in which files do I have to do changes? And can you provide some resources to get more understanding of this issue?

[2022-01-18 10:04] Vyom-Yadav opened #11214 "Specify violation messages in input files"
Single Check might have multiple violations messages, we need to see exact violation message if Check has multiple messages, to be sure that violation of correct type is placed at right line.

Violation messages have not been specified in certain input files, a list of checks in which violation message is not specified in the input file and have more than one violation message key has been specifi

[2022-01-18 11:33] Vyom-Yadav opened #11215 "add file filters for non-compilable files in openjdk16"
Failure from https://github.com/checkstyle/checkstyle/runs/4851584619?check_suite_focus=true
Code-
[code]
[code]
Exception is thrown for this file-
https://github.com/openjdk/jdk16/blob/master/test/langtools/tools/javac/annotations/neg/pkg/package-info.java
The code is noncompilable, an annotation attribute value must be a constant expression. This file is a test file for error messages.

[2022-01-18 12:27] nmancus1 commented on #11215
We can add file filter for this file to https://github.com/checkstyle/checkstyle/blob/master/.ci/openjdk16-excluded.files, we do not check code that will not compile. Please send PR as `minor: …`

[2022-01-18 15:12] romani commented on #7504
Parameters are not local variables, should be separate Check or special customization in existing.

[2022-01-18 15:14] Vyom-Yadav commented on #7504
We can extract the core components of the current check and make small checks for parameters, array components, etc.

[2022-01-18 16:32] rnveach commented on #7504
@Vyom-Yadav If you wish to fix up your check, you can also look at https://github.com/checkstyle/checkstyle/pull/11157#issuecomment-1015406885

[2022-01-18 17:39] Vyom-Yadav commented on #11087
@nmancus1 I am a little confused, are you pitching for 2 properties:

- `identifierPattern` - User inputs the name of the builder class `^ClassUtil.*`
- `methodName` - User inputs the method name **if they use star imports**, `^assertWithMessage`

[2022-01-18 17:41] nmancus1 commented on #11087
No, just one. Updated above comment to be more specific.

[2022-01-18 17:44] Vyom-Yadav commented on #11087
Oh ok if the user uses star imports then it is upon them to specify builder methods instead of class, seems good to me.

[2022-01-18 18:10] pbludov commented on #11103
@Binita-tech you should add a test case to `IndentationCheckTest.java` like this [one](https://github.com/checkstyle/checkstyle/pull/10093/files#diff-c28a810048bbe1457a19635f94c854d8faa68ac13025b6a3e80713ae6ad96bda)

Put the submitted code to new input file like [this](https://github.com/checkstyle/checkstyle/pull/10093/files#diff-48584f03d2c127b8823efcdb4c4b9eb9da647d581504e6d91224b7d4147cf563)

[2022-01-18 19:15] strkkk commented on #11212
@romani there is a property maxForVoid for void returns
https://checkstyle.org/config_coding.html#ReturnCount_Properties

it reports violation for this code, so there is no bug.
[code]

[2022-01-18 19:15] #11212 closed

[2022-01-18 19:20] #11061 closed

[2022-01-18 19:21] strkkk commented on #11061
fix is merged

@Vyom-Yadav thanks :)

[2022-01-18 20:02] #11215 closed

[2022-01-19 02:05] nmancus1 commented on #8240
So, to summarize points so far:

- [ ] Implement a new `TreeWalker`, let's call it `ModuleInfoTreeWalker`
- [ ] Add support for XPath, suppressions, etc
- [ ] Create new parser grammar
- [ ] Create new tokens

What else is left to discuss so that we can approve this issue?

[2022-01-19 11:35] Vyom-Yadav commented on #11201
@nmancus1 @romani I want to combine `TypeDeclDesc` and `ClassDesc` and extract them somewhere, what would be the right place to extract them? I am thinking to place it in the util folder, will that be alright?

[2022-01-19 14:57] nmancus1 commented on #11087
@romani first post updated with all details of new check proposal, please take a look.

[2022-01-19 15:04] #11200 closed

[2022-01-19 15:25] nmancus1 opened #11220 "False positive in `MissingSwitchDefault` with pattern in switch label"
After https://github.com/checkstyle/checkstyle/pull/11100#issue-1087470400:

I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#MissingSwitchDefault
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

I would ex

[2022-01-19 15:42] Perin-Mangukiya commented on #7624
![image](https://user-images.githubusercontent.com/79306200/150153417-5e1f413c-c253-42a1-b3de-83d010029b3d.png)
[code]

![image](https://user-images.githubusercontent.com/79306200/150157539-d0398d14-2800-47de-a77b-883cd7f714e1.png)
[code]

![image](https://user-images.githubusercontent.com/79306200/150159398-c79f1ebf-9390-4d52-b703-e4a55a0cb16e.png)
[code]

![image](https://user-images.githubuserc

[2022-01-19 19:51] AbhinavRajputEXE commented on #7064
@romani
The debugger in my IntelliJ is only working with the files with the main function only, but in this https://checkstyle.org/idea.html Doc., the file is used as an example to show how to debug, also does not have the main function, Do you know why this is happening? Why I'm not able to debug the files without a main function like the SuppressWithPlainTextCommentFilter.java file. I've tried r

[2022-01-20 20:53] Perin-Mangukiya commented on #7624
@nmancus1 can you help me with the installation process, I am not able to run. It is asking for adding a new configuration.
![image](https://user-images.githubusercontent.com/79306200/150420454-2d87f66e-2711-48d1-b633-51962cbc2dda.png)

[2022-01-20 20:54] Perin-Mangukiya commented on #7624
I had followed all the steps in documentation but which configuration should I add.

[2022-01-20 21:36] nmancus1 commented on #7624
You should not need to set up any debugger/ execution configuration for this issue, unless you are investigating some inconsistency. In this case, just create a new test and debug it ("configuration" will automatically appear).

[2022-01-21 05:26] Binita-tech commented on #11103
Do I have to create input file by myself?
Here submitted code means code in issue description right?
This is the first time, I will be writing test cases and I have observed by seeing other test cases that test cases are almost similar, In this case, is test case is similar to the test case that you have given above and if not what else do I need to know to write it? @pbludov

[2022-01-21 20:09] pbludov commented on #11103
Yes. It is always better to create new input file.

[2022-01-21 21:32] AbhinavRajputEXE commented on #7064
@romani
I was doing changes and playing with the code of SuppressWithPlainTextCommentFilter.java and comparing its code to SuppressWithNearbyCommentFilter.java file as that file already contains influenceFormat property, to see how the influencrFormat chunk of code was interacting with the rest of the file in SuppressWithNearbyCommentFilter.java file.
and accordingly, I made a few changes in the S

[2022-01-22 09:13] Perin-Mangukiya commented on #7624
Please review it @nmancus1

[2022-01-22 23:27] romani opened #11228 "Let 'site' Github action to generate javadoc"
detected at https://github.com/checkstyle/checkstyle/pull/11100#issuecomment-1019368926

we want to generate websote to validate javadoc generation, but javadoc is not accesible as we skip it
https://github.com/checkstyle/checkstyle/blob/c921d6d276c65a6e39d9dcffd2efd83169f9d38c/.github/workflows/site.yml#L95 ,
https://github.com/checkstyle/checkstyle/blob/c921d6d276c65a6e39d9dcffd2efd83169f9d38c/p

[2022-01-23 00:28] #11228 closed

[2022-01-23 19:04] #10848 closed

[2022-01-23 19:05] rnveach commented on #10848
Fix is merged

[2022-01-23 20:33] AbhinavRajputEXE commented on #7064
@romani
I fixed the config file for it to support the influenceFormat for SuppressWithPlainTextCommentFilter.
and now I'm not getting that second error, only that first error, but I'm still not able to understand it.
Please can you help me understand it?

[code]

and also after making the changes how can I create my OWN checkstyle java package like we download it from the GitHub releases page to c

[2022-01-23 23:24] #11185 closed

[2022-01-23 23:24] rnveach commented on #11185
Fix was merged

[2022-01-24 02:57] sbj42 opened #11230 "FallThrough check false positive with labelled break"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#FallThrough
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

Expected result is no errors.  This code never falls through from case 1 to case 2.  The pr

[2022-01-24 02:58] sbj42 commented on #11230
!3885 is also about a FallThrough false positive, but it focuses on infinite loops, which are harder to detect.

[2022-01-25 08:14] yshubham8419 commented on #6024
@romani

[code]

[code]

expected indent of fourth line(10, 12)  is greater than fifth line(8)
even though fifth line is  continuation of fourth line

I am stuck  please help me with this
i can't pass it

[2022-01-25 08:55] valuetodays opened #11235 "support new checker: UseObjectsNonNull/UseObjectsIsNull"
In my early life as a java beginning, I sometimes mis-use ==/!=, such like the following code.

[code]

Typing `if (user == null)`  to `if (user = null)`, which makes error logic.

Using `if (null == user) ` will be better, if you type `if (user = null) `, comiler will tell.

In Java7, Objects.isNull() or Objects.nonNull() is useful.

In this situation, I think we should use  Objects.isNull(user)

[2022-01-25 18:07] Perin-Mangukiya commented on #7624
For token "TYPECAST" I had tried every possible combination of whitespace with below code but it is not giving any error and I can't give whitespace after ' . ' because it will not satisfy for DOT token.

Config is :
`<module name="NoWhitespaceAfter"/>`

`$ char s = ( char ) it .nextInt ( ) ;`
[code]
I just want to know one example which will cause violation for TYPECAST token.

[2022-01-25 21:09] AbhinavRajputEXE commented on #7064
@romani
I tried reading this: https://github.com/checkstyle/contribution/tree/master/checkstyle-tester
and installed groovy and ran the command from this documentation locally.

but I'm getting this error.
[code]
It says `error: Missing required options: p, l` but I've included -p  and -l in my command.

I read the documentation and found this tool to find the difference between the main and patch

[2022-01-25 22:04] nmancus1 commented on #7064
Please remove whitespace from directory name and try again.

We have an automatic report generation system that is triggered by GitHub action now. It is probably best to send a PR and then generate report from GitHub action.

[2022-01-26 04:30] nmancus1 commented on #11235
This can be checked by[ MatchXPath](https://checkstyle.sourceforge.io/config_coding.html#MatchXpath).

Example:

[code]

[2022-01-26 04:37] nmancus1 commented on #11235
I wonder how many teams follow this style... from the Javadoc for [Objects#nonNull](https://docs.oracle.com/javase/8/docs/api/java/util/Objects.html#nonNull-java.lang.Object-): `This method exists to be used as a Predicate, filter(Objects::nonNull)`.

It seems like this method was introduced at the same time as many other functional programming APIs (to complement streams, etc.), so I would think

[2022-01-26 05:59] valuetodays commented on #11235
Yes, some teams use Objects like `filter(Objects::nonNull)`. And the javadoc of Objects is

[code]
.
Before we replace null != xxx or xxx != null with Objects.nonNull, we check the javadoc, and agree to use this style to avoid `if (xxx = null) ` ,  which should be `if (xxx = null) `.

It is just a team convention.

[2022-01-26 06:01] valuetodays commented on #11235
MatchXpath was introduced Since Checkstyle 8.39.
The version we are current using is 8.29. I will read the release log and upgrade to latest release. Then I will be back to response  again.

[2022-01-26 07:22] strkkk commented on #11235
note - instead of linux script for grepping source code you can use checkstyle https://checkstyle.org/config_regexp.html#RegexpSinglelineJava or https://checkstyle.org/config_regexp.html#RegexpSingleline with format like `null =` or `null !=`

https://checkstyle.org/config_coding.html#InnerAssignment can be useful as well

[2022-01-26 07:50] valuetodays commented on #11235
We decide to upgrade checkstyle version from 8.29 to 8.41.

`MatchXPath`  works for our team. thank @nmancus1

InnerAssignment is very useful. thanks @strkkk

[2022-01-26 07:50] #11235 closed

[2022-01-26 17:36] AbhinavRajputEXE commented on #7064
@nmancus1
Thanks for your reply and

I actually read it before and as you were saying that space between the dir. name was causing the problem but it is still saying
`error: Missing required options: l` after fixing it for -p and removing the space from that folder name.

Yeah, I actually saw this but I didn't want to make a pr yet because I'm [getting an error](https://github.com/checkstyle/check

[2022-01-27 10:12] justdoit254 commented on #7582
Is the issue still open?
I want to work on it.

[2022-01-27 16:53] pavelicii opened #11241 "`EmptyLineSeparator`: false positive in Enum"
I have read check documentation: https://checkstyle.org/config_whitespace.html#EmptyLineSeparator
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

Checkstyle ends without errors, but I expect violation to be found since there are more tha

[2022-01-27 19:52] strkkk commented on #11241
I could reproduce the issue, will fix it soon.

[2022-01-27 20:21] pavelicii commented on #11241
Similar issue that can be closed after the fix is applied: https://github.com/checkstyle/checkstyle/issues/10529

[2022-01-27 20:53] strkkk commented on #10529
will be fixed in https://github.com/checkstyle/checkstyle/issues/11241, @Lranger321 sorry that we missed this before.

[2022-01-28 00:58] rnveach commented on #11241
Doesn't this make it a false negative?

[2022-01-28 04:02] #11187 closed

[2022-01-28 04:03] rnveach commented on #11187
Fix was merged

[2022-01-28 04:04] #11220 closed

[2022-01-28 04:04] rnveach commented on #11220
Fix was merged

[2022-01-28 14:12] strkkk commented on #11241
This is also false negative on interface fields - https://github.com/checkstyle/checkstyle/pull/11245#discussion_r794503755
will be fixed in same pr

[2022-01-28 14:35] nmancus1 commented on #7064
@AbhinavRajputEXE it will be easier to help if you send a PR. Once you do, let's work through `mvn clean verify` failures first, then we can generate report via github action.

[2022-01-28 17:35] nmancus1 opened #11249 "Enforce formatting of `// violation` and `// ok` comments"
Noticed in many PR's, it is difficult to make sure that all BDD and documentation related comments (`// ok` and `// violation`) adhere to consistent format. We can save time in PR reviews by adding `RegexpSingleline` modules to associated configs.

Usual convention:

[code]

We should forbid the following forms of comments:

[code]

While check input files are not a big deal (but should also be fi

[2022-01-28 17:59] rnveach commented on #11249
Not sure, but I would think BDD should enforce consistency of violation text.

[2022-01-29 06:05] Vyom-Yadav commented on #11249
This is quite easy to achieve with the parser itself, just add a pattern for comments not allowed and throw an exception if such comment is encountered.

[2022-01-29 06:23] Vyom-Yadav commented on #8396
I am on it.

[2022-01-29 12:17] Vyom-Yadav commented on #8396
@trbehera It would be awesome if you could reformat the issue to follow the bug template.

[2022-01-29 21:03] AbhinavRajputEXE commented on #7064
@nmancus1 @romani
I created the PR and I ran `groovy diff.groovy` again after making some changes and this time it ran successfully. and
Can you please help me with those errors in my PR, I know I need to make changes in the test file for those errors but I'm not completely sure what changes, altho I'm studying the test file to understand it and I'm also not sure about the changes I made till now,

[2022-01-29 22:59] romani opened #11253 "Gitgub action to generate web site is failing if branch is same repo (not a fork)."
Generation of web site in case branch is not from fork is faling
detected at: https://github.com/checkstyle/checkstyle/pull/11246#issuecomment-1025002079

https://github.com/checkstyle/checkstyle/runs/4993611044?check_suite_focus=true
[code]

[2022-01-29 23:03] romani commented on #11249
lets inforce it by Parser, if not possible by regexp in checkstyle config

[2022-01-29 23:10] #11091 closed

[2022-01-29 23:19] romani commented on #11201
ok, to keep them in 'util' package for now

[2022-01-29 23:23] romani commented on #11109
I do not think we need type for this.
expression parts should be boolean and this is enough for us.

I think we should approve this issue.
@nmancus1 , as you only who have concerns, please put label as you resolve your concerns.

[2022-01-29 23:31] romani commented on #10907
we should update default value of `ignorePattern` to explicitly have/show `^(package|import) .*`
to let it work same for people who did not override value of this property.
and yes it will be breacking changes for people who override this value now, as violations appear on such import/package lines.

@Vyom-Yadav , @rnveach , @nmancus1 , @pbludov , @strkkk
are you agree on this breaking changes ?

[2022-01-30 01:41] rnveach commented on #10907
I don't really see updating the regexp as breaking compatibility. I am ok on the change.
We should also make a similar change in sevntu.
https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/sevntu-checks/src/main/java/com/github/sevntu/checkstyle/checks/sizes/LineLengthExtendedCheck.java#L124

[2022-01-30 08:39] pbludov commented on #10907
This change is easy to fix if someone's working config breaks. I see no problems here.

[2022-01-30 09:25] shreyadenny commented on #7601
I am trying to work on this issue. Could anyone guide me how I should go about it?

[2022-01-30 11:09] Vyom-Yadav commented on #4070
I am on it.

[2022-01-30 13:55] romani commented on #10907
ok , it will be big change of behavior we can classify it as "bug" , as Check always suppressed such lines. It will not be breaking changes of api.

@nmancus1, @strkkk , what are your thoughts ?

[2022-01-30 18:55] nmancus1 commented on #11249
Could we refine existing regexp, and throw an exception if comment doesn't match?

Let's do both, so that we can check documentation, too.

[2022-01-30 20:18] nmancus1 commented on #10907
Yes, I think we can call this a bug. We should add an example to documentation showing new behavior (and change of default value for `ignorePattern`, of course).

[2022-01-30 20:26] nmancus1 commented on #11109
@romani approved, I am not sure if we should consider this a new feature or bug, I think new feature is probably the best fit.

[2022-01-31 05:32] romani commented on #10907
@Vyom-Yadav , issue is approved

[2022-01-31 07:23] Vyom-Yadav commented on #11249
We don't have a pattern for `// ok`, technically it is possible to modify every regex and check for `// ok` with capture groups but that won't be easy for someone in the future to understand. I was thinking to add a regex like - `//\s{1}ok((\s|,).*)?`, this would match-
[code]
but won't match
[code]

Agreed.

[2022-01-31 10:25] pugnascotia opened #11259 "RedundantModifier should include RECORD_DEF in acceptable tokens"
Issue property reported by @Vyom-Yadav

I have read check documentation: http://checkstyle.sourceforge.net/config_modifier.html#RedundantModifier
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**
[co

[2022-01-31 14:42] strkkk commented on #11259
related info https://docs.oracle.com/en/java/javase/17/language/records.html

[2022-01-31 15:04] justdoit254 commented on #7582
@romani I have set up the codebase can I work on the issue?

[2022-01-31 15:52] harshit82 commented on #7587
@romani @timurt
I am a newbie to open source. I am interested to work on this issue but need some guidance.
Can I work on this?

[2022-01-31 16:58] Vyom-Yadav commented on #11259
I am on it.

[2022-01-31 17:06] nmancus1 commented on #11259
It would be a good idea to wait for resolution of https://github.com/checkstyle/checkstyle/issues/10798 before working on this issue.

[2022-01-31 17:40] Vyom-Yadav commented on #11259
@nmancus1 Though both the issues are related to the same check, I feel that we can go ahead with this issue as this one isn't dependent on the java version (afaik) unlike the other issue.

[2022-01-31 19:09] strkkk commented on #11259
I do not think it is necessary, this issue can be fixed separately.

[2022-02-01 03:53] nmancus1 commented on #7582
@justdoit254 feel free to send a PR, note comment from https://github.com/checkstyle/checkstyle/issues/7582#issue-569486937:

[2022-02-01 03:57] nmancus1 commented on #7587
@harshit82 you are welcome to send a PR, please read through all details at https://checkstyle.org/beginning_development.html to set up the project, and take time to read through https://github.com/checkstyle/checkstyle/issues/7587#issue-569522224.

[2022-02-01 09:21] remal commented on #11166
@romani I have some custom checks for JavaDocs and, I'm afraid, it's not quite clear what exactly is supposed to be used instead of `getFileContents()`. Could you (or someone else) explain what is supposed to be used?

My goal is it check that JavaDoc is presented on every element that matches specific condition, has some tag (`@author`) and the tag's value is equal to some constant.

[2022-02-01 12:55] harshit82 commented on #7587
@romani @nmancus1 can you explain what exactly do I need to do. Which files do I need to update and what changes do I need to make? Is it DescendantTokenCheck.xml or DescendantTokenCheck.java?
I have gone through all the links provided.

[2022-02-01 17:09] Vyom-Yadav opened #11268 "False Negative: RedundantModifierCheck"
I have read check documentation: https://checkstyle.sourceforge.io/config_modifier.html#RedundantModifier
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

**Describe what you expect in detail.**
[code]
Every member class or interface decla

[2022-02-01 17:28] Vyom-Yadav commented on #11268
I will send the fix once approved.

[2022-02-01 17:47] nmancus1 commented on #11268
[code]
Please explain why `public` should not be a violation here.

[2022-02-01 17:48] nmancus1 commented on #11268
@Vyom-Yadav issue is approved, please send PR.

[2022-02-02 05:58] Vyom-Yadav commented on #11259
Records are also implicitly final, will be fixed in the same PR.

[2022-02-02 17:04] justdoit254 commented on #7582
Thank you, I am working on it and soon update you.

[2022-02-02 17:09] strkkk commented on #11166
@remal instead of `getContents()` checks should use only AST and do not rely on text in file.
About the case you described - it seems to me that you dont need a custom check for it, MatchXPathCheck can provide same functionality.

[2022-02-03 02:06] nmancus1 commented on #10924
@strkkk I regret not taking a stronger position on comments at https://github.com/checkstyle/checkstyle/issues/10924#issuecomment-986044030.

_Originally posted by @pbludov in https://github.com/checkstyle/checkstyle/pull/11251#discussion_r797911178_

I agree with this statement, and it shows the need for a clearer way to solve this problem: a `UnicodeString` that will become part of our API.

I d

[2022-02-03 13:32] romani opened #11277 "update code base to have javadoc tag to explain noinspection tag content"
detected at https://github.com/checkstyle/checkstyle/pull/11206#discussion_r797996787

code:
https://github.com/checkstyle/checkstyle/blob/d4228cc1c04f6e18392948986b605cf87738c951/src/main/java/com/puppycrawl/tools/checkstyle/Main.java#L628-L635

has problems that such technical excuse of to suppress IDEA inspection is rendered in final javadoc and can confuse users.
we try to keep reasons of supp

[2022-02-03 13:33] romani commented on #11277
@rnveach , @strkkk , @nmancus1 , @pbludov , lets agree on name of annotation or any other way to resolve this problem.