[2020-03-10 15:56] HuGanghui commented on #7762
[code]
In the above, we want to `pass the AST and not the line/column` , but changing `ast.getLineNo()` to `ast` directly maybe impossible, add a overloaded method of log is feasible？Or we have other ways ?

[2020-03-10 16:50] gaurabdg commented on #7801
## 1. Pitest:
https://gaurabdg.github.io/checkstyle-tester-reports/pitest-reports/AvoidStaticImport/com.puppycrawl.tools.checkstyle.checks.imports/AvoidStaticImportCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@46d29511_161

## 2. Mutated Branch:

https://github.com/gaurabdg/checkstyle/blob/d85bcf9cba167c98c29bfe188fd9578aca149046/src/main/java/com/puppycrawl/tools/checkstyle/check

[2020-03-10 16:51] gaurabdg commented on #7801
@rnveach Please review.

[2020-03-10 17:01] wltan commented on #7802
I am on it

[2020-03-10 17:53] ImmortalRabbit commented on #7760
I am on it

[2020-03-10 18:12] RhnSaxena commented on #7756
I am on it.

[2020-03-11 03:35] HuGanghui commented on #7800
I am on it

[2020-03-11 03:55] romani commented on #5482
@wltan , thanks a lot.
Title of other issue is updated.
This issue is closed, as it has no required details.

[2020-03-11 03:55] #5482 closed

[2020-03-11 03:57] wltan commented on #7802
Pitest report:
https://wltan.github.io/checkstyle-reports/2020-03-11/customimport-pitest1/com.puppycrawl.tools.checkstyle.checks.imports/CustomImportOrderCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@4d2b49be_816

Surviving mutation:
`removed conditional - replaced comparison check with false → SURVIVED`

Hardcoded mutation:
https://github.com/wltan/checkstyle/commit/52eab4dd3c551

[2020-03-11 04:02] wltan commented on #7812
Alright, I'll give this a lower priority in favor of the latest pitest issue(s) for now.

[2020-03-11 04:05] romani commented on #7469
@gaurabdg, please send message to mail list and provide list of projects for GSoC you would like to do. We will suggest on next issue to focus more on related code to your future project.

For this issue ... You can take it and start with validation of cycles between packages. We do have cycles, we can not fix the now, but we would like to not make more cycles. So in scope of this issue we should

[2020-03-11 04:11] #7751 closed

[2020-03-11 04:11] gaurabdg commented on #7469
@romani Sure!

[2020-03-11 04:14] #7779 closed

[2020-03-11 04:14] wltan commented on #7806
I am on it. Claiming this as well because it appears to be very closely related to #7802.
- Both issues are part of a single boolean expression
- They are connected by a `&&` operator and the mutations survive when either one is hardcoded to `false`, so any fix is likely to affect both issues at once

[2020-03-11 04:14] romani commented on #7779
Fix is merged

[2020-03-11 04:44] romani commented on #7605
Unfortunately you still didn't get it.
Please look at https://checkstyle.org/google_style.html#a7.1.1 , please review test links, from test code you can find what Inputs files are used , and at such files you will see how it works.

All violations that you get, are from javadoc parser ( phase before validation).

Please read https://checkstyle.org/writingjavadocchecks.html it will give you some id

[2020-03-11 04:46] romani commented on #7809
Please strictly follow issy template to give all required details.

[2020-03-11 04:48] #7658 closed

[2020-03-11 04:48] romani commented on #7658
Fix  is merged

[2020-03-11 05:58] #7754 closed

[2020-03-11 05:59] strkkk commented on #7754
Fix is merged

[2020-03-11 06:05] ritvij14 commented on #7605
@romani sir, sorry for my mistake. I went through the google_style and this what I understood. I think this is the proper thing that we need to show for the examples right?

config.xml
[code]

Test.java
[code]

[code]

Test.java
[code]

[code]

[2020-03-11 06:47] wltan commented on #7802
Regression raised no discrepancies at all. However, I may have found the cause of the surviving mutation.

We already have unit tests in `CustomImportOrderCheckTest.java` that covers the different cases of regex matching, but the problem is that the input file is currently designed such that even if the test were to "fail" with the mutation, the output (violations) does not change, and so the test

[2020-03-11 07:02] strkkk opened #7827 "Remove javaFiveCompatibility from MissingOverride?"
https://checkstyle.sourceforge.io/config_annotation.html#MissingOverride

MissingOverride has property `javaFiveCompatibility`, its description says

I really doubt if there are users with Java 5, this property looks redundant in 2020.

[2020-03-11 07:03] wltan commented on #7806
Pitest report:
https://wltan.github.io/checkstyle-reports/2020-03-11/customimport-pitest1/com.puppycrawl.tools.checkstyle.checks.imports/CustomImportOrderCheck.java.html#grouporg.pitest.mutationtest.report.html.SourceFile@4d2b49be_815

Surviving mutation:
`removed conditional - replaced equality check with false → SURVIVED`

Hardcoded mutation:
https://github.com/wltan/checkstyle/commit/ab81da3d1a

[2020-03-11 08:33] gaurabdg commented on #7801
@rnveach Added an UT. Please review

[2020-03-11 11:40] strkkk commented on #7573
Fix is merged.

[2020-03-11 11:40] #7573 closed

[2020-03-11 12:59] wilcoln commented on #7761
I'm on it.

[2020-03-11 13:03] wilcoln commented on #7757
I'm on it.

[2020-03-11 13:40] wilcoln commented on #7757
I'm on it.

[2020-03-11 13:41] romani commented on #7522
Fix is merged.

[2020-03-11 13:41] #7522 closed

[2020-03-11 14:11] romani commented on #7605
@ritvij14 , you got it !!

please make few more examples to show how each property affects validation.
`violateExecutionOnNonTightHtml` is property should be shown in action too.
You can always find more examples(files with Input prefix) at our UTs - https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SingleLineJavadocCheckTest.java#L65

[2020-03-11 14:56] romani commented on #7762
please share exact problem that you facing (compile error or ....) , see how other do similar update - https://github.com/checkstyle/checkstyle/pull/7791/files#diff-4b7e1779a6c9a82eaf535f0da1044a5fR188

[2020-03-11 18:51] Sadgrinner commented on #7538
@romani

As you requested:

## Current `checkstyle_report.xml` (*before* my proposed update)
[code]

## `checkstyle_report.xml` *after* my proposed changes
[code]

[2020-03-11 18:59] Sadgrinner commented on #7538
@romani I also updated the parent comment, removing all proposed code changes.

[2020-03-11 21:11] ritvij14 commented on #7605
@romani sir, about the `violateExecutionOnNonTightHtml` property, does this look fine?

![Screenshot (6)](https://user-images.githubusercontent.com/51456744/76464232-f7ea4f00-640a-11ea-84d5-202e662a6f53.png)

[2020-03-11 21:16] romani commented on #7827
do we have any problems in support of Check now ?
it will be breaking compatibility ... all plugins will be affected, so it is better to remove it base on some good reason.

[2020-03-11 21:16] ritvij14 commented on #7605
@romani sir, about the `violateExecutionOnNonTightHtml` property, does this look fine?

![Screenshot (7)](https://user-images.githubusercontent.com/51456744/76464612-ad1d0700-640b-11ea-8768-18c48d6af500.png)

[2020-03-11 21:53] #7698 closed

[2020-03-11 21:54] romani commented on #7698
fix is merged

[2020-03-11 21:58] #7661 closed

[2020-03-11 21:59] rnveach commented on #7661
Fix was merged

[2020-03-11 22:05] rnveach commented on #7801
1.
Pitest report looks good and matches line in issue.

2.
Mutated branch is acceptable.

I would personally keep the if and just change the complete condition to `true`. Ex: `if (true) {`.
This keeps the difference looking cleaner and straight forward on what is being changed.

[2020-03-11 22:14] rnveach commented on #7801
4.
Since you have found a UT and started a PR, I feel you understand pitest well enough for what needs to be done. This is usually the hardest part when regression fails us. Without a regression example, it is hard to create cases and even scarier to remove code when we are not sure how well it is used or not.

If you had not found a test case, we would be walking through the code for a negative c

[2020-03-11 22:41] rnveach commented on #7574
Fix was merged

[2020-03-11 22:41] #7574 closed

[2020-03-11 22:48] rnveach commented on #7802
Pitest report looks good.

Hardcoded report looks good.

Regression report looks done correctly. This is a complex check with a lot of properties. If regression didn't help in this case, I would be looking to see if I turned on/off all the right options. Since a PR is started with a test case this probably isn't necessary.

[2020-03-12 00:27] romani commented on #7752
fix is merged

[2020-03-12 00:27] #7752 closed

[2020-03-12 00:34] romani commented on #7801
fix is merged.

[2020-03-12 00:34] #7801 closed

[2020-03-12 03:08] romani opened #7832 "Publish pitest report as artifact at circleci"
https://circleci.com/docs/2.0/artifacts/

We can deploy pitest html report as artifact and it will be available at circleci UI for review.

It will be very useful if contributor stuck with pitest and need help from us

[2020-03-12 03:13] romani opened #7833 "Create code of conduct"
GitHub and GSOC suggest to have code if conduct.
GitHub at https://github.com/checkstyle/checkstyle/community

Some links:
https://opensource.google/docs/releasing/template/CODE_OF_CONDUCT/
https://www.contributor-covenant.org/version/1/4/code-of-conduct/ , or https://www.contributor-covenant.org/version/2/0/code_of_conduct/ , or any latest.
https://adainitiative.org/2014/02/18/howto-design-a-code

[2020-03-12 03:17] romani opened #7834 "Update issue template to new format"
https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md

There is warning

We need to figure out what this means and upgrade to make GitHub happy.

[2020-03-12 04:12] gaurabdg commented on #7801
Okay, I removed it because of the checks. I'll keep in mind from now on.

I thought that supplying random excludes to each project separately wouldn't help me find anything, so went on to analyse the edge cases instead. But I'll keep this in mind from now on.

[2020-03-12 07:29] strkkk commented on #7827
I guess there is no problems in support.
The only reason is that it is supposed to be a property to support java 5 code, but I really doubt there are some.
Property seems to be useless.

[2020-03-12 09:58] rnveach commented on #7190
Fix was merged

[2020-03-12 09:58] #7190 closed

[2020-03-12 10:01] rnveach commented on #7827
I am closing this for now.

[2020-03-12 10:01] #7827 closed

[2020-03-12 12:57] strkkk commented on #7638
Fix is merged

[2020-03-12 12:57] #7638 closed

[2020-03-12 12:58] HuGanghui commented on #7758
I am on it.

[2020-03-12 12:59] HuGanghui commented on #7758
I am on it

[2020-03-12 13:00] HuGanghui commented on #7755
I am on it

[2020-03-12 13:04] HuGanghui commented on #7744
I am on it

[2020-03-12 13:14] romani commented on #6192
From Check documentation:

    There is one blank line between each of two paragraphs and one blank line before the at-clauses block if it is present.

we need to fix this Check, it might be some bug present.

[2020-03-12 13:37] romani commented on #5145
General Google style clearly state

in other words no way for https://en.wikipedia.org/wiki/Hungarian_notation in any form of it.

-------

Javascript style is completely off topic, we care only about styles of java.

If Google Style for Android accept it ... it is completely different story, and in config for AOSP style it should be allowed. unfortunately we do not have config for AOSP at all for

[2020-03-12 13:37] #5145 closed

[2020-03-12 13:40] rnveach commented on #7834
I believe it is referring to https://github.com/checkstyle/checkstyle/issues/templates/edit .

[2020-03-12 13:56] romani commented on #5089
@nmancus1 , this is also good issue to look at as introduction to ANTLR parser.

[2020-03-12 14:38] romani commented on #7538
@Sadgrinner ,
moduleId(user defined) and shortName(class name without "Check" suffix) are unfortunately is not same value inside Checkstyle.

Lets close this issue(it will keep all your patches, ...... ) and create new issue(at the bottom of description it is good to make link to this issue), and try to focus on clear definition of problem and what you would like to have (no java patches). in new

[2020-03-12 15:34] DXTkastb commented on #7733
@rnveach I tried editing ImportOrderCheck.java and ran mvn clean verify but received error:

**Code causing error:**
[code]

``
[ERROR] src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java:[664] (extension) LineLengthExtended: Line is longer than 100 characters. Current line length is 108.
``

The second if statement in the code has 108 length.
Can you please help me

[2020-03-12 15:59] gaurabdg commented on #7832
I am on it

[2020-03-12 16:04] DXTkastb commented on #7636
I'm on it.

[2020-03-12 16:43] nmancus1 commented on #5089
@romani I am changing rules in java.g, but it seems like my changes aren't being applied. What am I missing?

[2020-03-12 17:52] kalakandi commented on #7695
I'm on it

[2020-03-12 17:55] rnveach commented on #7733
Have you tried breaking the line into 2?

[2020-03-12 18:55] DXTkastb commented on #7733
Yes, @rnveach I tried that too but didn't pay attention to the checks errors. I have now resolved them and will revert a PR as soon as possible.

[2020-03-12 18:58] nmancus1 commented on #5089
@romani Ok, so `BufferedReader` is reading the emoji here as two characters (97, 98):
![image](https://user-images.githubusercontent.com/31252532/76556113-50ebce80-646f-11ea-9f91-05e5c0ec0022.png)

Then, in `LineLengthCheck.java`:
[code]
realLength() is counting the 💩 as two chars, which is what's being logged.  I'm not sure how the ANTLR parser is involved here, can you point me in the right dire

[2020-03-12 19:02] rnveach commented on #7802
Fix was merged

[2020-03-12 19:02] #7802 closed

[2020-03-12 19:03] rnveach commented on #7806
Fix was merged via https://github.com/checkstyle/checkstyle/issues/7802

[2020-03-12 19:03] #7806 closed

[2020-03-13 03:54] wilcoln commented on #7799
# 1. Pitest Report
- Link : https://wilcoln.github.io/checkstyle-reports/pit-reports/202003130421/index.html
- Surviving mutations:
     - on line 188: `removed conditional - replaced equality check with false → SURVIVED`  referenced by #7800
     - on line 224: `removed conditional - replaced equality check with true → SURVIVED` we're focusing on it.

# 2. Hardcoded mutation

- checkstyle branch

[2020-03-13 07:23] HuGanghui commented on #7800
Pitest report

Link: https://huganghui.github.io/7800-AvoidStarImportCheck(2)/before-pit-reports/202003131405/
Surviving mutations:
on line 188: removed conditional - replaced equality check with false → SURVIVED I am focusing on it.
on line 224: removed conditional - replaced equality check with true → SURVIVED referenced by #7799, wilcoln is focusing on it.
Hardcoded mutation
mutation cs branch:

[2020-03-13 09:43] wltan commented on #7740
@rnveach,
Some of the violations are currently impossible to log using DetailAST as there is simply no corresponding node attached to it inside comments.

I believe you brought this issue up some time ago in https://github.com/checkstyle/checkstyle/issues/5777#issuecomment-389868308 but I couldn't find any clear resolution from the discussion there. What's the current status for this problem? Do w

[2020-03-13 11:02] HuGanghui commented on #7590
I am on it

[2020-03-13 11:04] wilcoln commented on #7800
Hi bro,

You might want to remove the following part of my comment because it doesn't apply to your case.

I believe what you want to say is

[2020-03-13 12:08] romani commented on #7653
Fix is merged

[2020-03-13 12:08] #7653 closed

[2020-03-13 12:27] romani commented on #7605
Yes, example for violateExecutionOnNonTightHtml is ok. Please create PR.

[2020-03-13 12:57] #7723 closed

[2020-03-13 13:27] romani commented on #7729
@gaurabdg , if you would like your full name to be present in our releasenotes https://travis-ci.org/github/checkstyle/checkstyle/jobs/661935807#L592 , please update your git config to name full name, it will be used in your next commits so become populated to release notes. It is completely ok to stay with nickname.

[2020-03-13 13:38] rnveach commented on #7729
@romani Should other issues be updated to bug? Some are marked as miscellaneous.
https://github.com/checkstyle/checkstyle/issues?q=label%3A%22gsoc+second+issue%22+is%3Aclosed

[2020-03-13 13:45] romani commented on #5089
yes, it is our recent change .... https://checkstyle.org/config_sizes.html#LineLength become a Check that does not depends on java parser at all from https://checkstyle.org/releasenotes.html#Release_8.24

I am removing ANTLR label from it.
We just need to fix util method.

@nmancus1 , please fix this issue if you see a solution.

[2020-03-13 14:11] HuGanghui commented on #7800
@wilcoln ok, Thanks~, your statement is more accurate.

[2020-03-13 14:32] romani commented on #7740
@wltan ,

yes, javadocs check should be skipped for now.
you can update line https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L334 all other violations are placed on line wihtout any AST (they should be skipped, we will deal with this later).

after fixing this single place, please move Check to list `Also, the

[2020-03-13 14:48] romani commented on #7748
fix is merged.

[2020-03-13 14:48] #7748 closed

[2020-03-13 17:13] wilcoln commented on #7799
@rnveach, please review

[2020-03-13 18:13] HuGanghui commented on #7731
I am on it

[2020-03-13 21:31] Abhishek-kumar09 commented on #7803
I am on it.

[2020-03-14 05:04] wltan commented on #7803
I recommend you take a look at #7805 as well, it might be related. Both issues involve the same boolean expression, it's possible that if you fix this one you might fix the other one as well.

[2020-03-14 05:06] wltan commented on #7740
Understood, I am on it.

[2020-03-14 06:24] #7629 closed

[2020-03-14 06:36] wilcoln opened #7846 "Update doc on description of package annotation"
Currently the description of this check says

![pacakge](https://user-images.githubusercontent.com/24209192/76676691-5c054280-65c6-11ea-9c7a-18dbc3fedc34.png)

We can see there's a reference to section [§7.4.1](https://docs.oracle.com/javase/specs/jls/se11/html/jls-7.html#jls-7.4) of the Java Language Specification.

A close look to that JLS section reveals this:

Well, from https://github.com/che

[2020-03-14 07:31] wltan commented on #7740
@romani There are some problems when I tried to do the above. `XpathRegressionTest` wants me to remove from `INCOMPATIBLE_CHECK_NAMES` and also add to `INCOMPATIBLE_JAVADOC_CHECK_NAMES`. However adding to the latter set causes more problems, because `JavadocStyleCheck` inherits from `AbstractCheck` and not `AbstractJavadocCheck`.
[code]
It's possible to make this error go away by specifically addi

[2020-03-14 10:57] rnveach commented on #7740
@romani @wltan

This is not a javadoc check.
https://github.com/checkstyle/checkstyle/blob/0a6a8f3a9dcb209f87d6d324761da28395237254/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L180
When we say Javadoc check, we mean it extends `AbstractJavadocCheck`. There shouldn't be anything stopping the conversion. It is possible this check may not be as simple as the ot

[2020-03-14 11:37] #7761 closed

[2020-03-14 11:38] rnveach commented on #7761
Fix is merged

[2020-03-14 11:54] wltan commented on #7740
There are seven calls to `log` in `JavadocStyleCheck`:
## 1
https://github.com/checkstyle/checkstyle/blob/3953912f63bf368a5c586f276dca0d996cca3124/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L334

This one is easy. Remove the `.getLineNo()`, update the tests and that's about it. This is also the violation mentioned in https://github.com/checkstyle/checkstyle

[2020-03-14 12:03] wltan commented on #7740
@rnveach What I'm having trouble with is complying with this instruction specifically:

It appears that there is a test in place that ensures only subclasses of `AbstractJavadocCheck` (i.e. only javadoc checks) are allowed in the list.
https://github.com/checkstyle/checkstyle/blob/1d152188dcae6b1cd4fe5a414bff576b51f69c06/src/test/java/com/puppycrawl/tools/checkstyle/internal/XpathRegressionTest.ja

[2020-03-14 12:29] rnveach commented on #7740
Correct.

I recommend starting a PR for 1. It looks the easiest. It will not make the entire check xpath complaint so documentation cannot be updated. The check is only xpath complaint when all logs send the AST, and we will need a test for each individual log call.

For 2 and 3, examine the stack of the TextBlock comment (where it comes from, what it is assigned from, how it is passed along to th

[2020-03-14 13:02] rnveach commented on #7740
@romani ping

I missed this part of @romani 's comment.

I am not sure if he realized this isn't a AbstractJavadocCheck or he did and is thinking of the future where this will eventually be converted into a AbstractJavadocCheck . Basically this check uses an outdated regular expression parser and is known to have issues. He said to add it to `Javadoc checks` in the documentation but this is for Ab

[2020-03-14 13:33] romani commented on #7740
@wltan , after private conversation with @rnveach  ...

Please do:
1) Provide update for https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L334  ONLY. Please provide test for it.
2) please move Check to list `Also, the filter does not support suppression inside javadoc reported by Javadoc checks: ` (ATTENTION I

[2020-03-14 13:35] romani commented on #7739
please be aware of https://github.com/checkstyle/checkstyle/issues/7740#issuecomment-599061545 , as most of violation are reported inside javadoc comment, we are not ready to support them in xpath. We should update only places where violation is logged on java AST node.

[2020-03-14 13:36] romani commented on #7741
please be aware of https://github.com/checkstyle/checkstyle/issues/7740#issuecomment-599061545 , as most of violation are reported inside javadoc comment, we are not ready to support them in xpath. We should update only places where violation is logged on java AST node.

[2020-03-14 13:40] Abhishek-kumar09 commented on #7803
OK, I will look on it.

[2020-03-14 13:53] romani opened #7848 "SuppressWarningsHolder should not report violations"
Check documentation: https://checkstyle.org/config_annotation.html#SuppressWarningsHolder

[code]

------------------------

SuppressWarningsHolder should support annotations in all possible places, fact that we probably can not distinguish what violation to suppress is bug of our implementation and should have github issue BUT not a violation in code.

issue is detected at https://github.com/chec

[2020-03-14 14:37] romani commented on #7832
fix is merged.

[2020-03-14 14:37] #7832 closed

[2020-03-14 14:57] romani commented on #7846
@wilcoln , issue is approved, PR is welcome.

[2020-03-14 15:57] rnveach commented on #7848
http://rveach.no-ip.org/checkstyle/regression/reports/290/
Regression shows the only violations produced by this check are in checkstyle. One of them being an exception.

src/test/resources/com/puppycrawl/tools/checkstyle/checks/suppresswarningsholder/InputSuppressWarningsHolder2.java
src/test/resources/com/puppycrawl/tools/checkstyle/checks/suppresswarningsholder/InputSuppressWarningsHolder7.java

[2020-03-14 16:20] DXTkastb commented on #7804
I'm on it.

[2020-03-14 17:07] developerhb commented on #7696
I am on it

[2020-03-14 17:20] developerhb commented on #7696
Sorry I am asking some silly questions but I am new to open source contribution field and will take some time to figure out all the stuff. My questions are,

1) Where I am supposed to do changes?
2) Can you please give me an overview of Pull Request process? I read the guidelines but unable to understand it completely. Can you explain it to me in simple terms?

[2020-03-14 18:35] DXTkastb commented on #7758
I'm on it

[2020-03-14 23:25] romani commented on #7848
yes, and we have such tests only to have some violation.
Please approve removal of this validation, we should support annotations in all places.

[2020-03-15 01:10] AmrDeveloper commented on #7848
I'm on it

[2020-03-15 06:28] akki111singh commented on #7750
I am on it

[2020-03-15 07:04] wltan commented on #7740
Noted. Just to clarify, when you say "provide test for it" do you mean update the UTs only? Or add the Xpath test as well?

Noted, I've changed this on my end. Will make the PR once the point above is clarified.

Noted. I've added JavadocStyleCheck for now, but for the other two (JavadocMethodCheck, JavadocTypeCheck) I'll add them when I get to the respective issues #7739 and #7741.

[2020-03-15 09:30] Malintha1996 commented on #7768
In generating the report should I use the existing my_config.xml or different configurations for base and patch branches? When I generated the report with my_config.xml no differences were shown. Could someone help me on this?

[2020-03-15 10:30] gaurabdg commented on #7523
I am on it.

[2020-03-15 10:35] gaurabdg commented on #7523
@romani I checked the line, column pair in vscode and it's consistent with the "-s" parameter ouput but inconsistent  with "-t". I guess it's just about an offset of 1 in `AstTreeStringPrinter`. Please correct me if I am wrong as it will change a lot of UTs.

[2020-03-15 11:38] rnveach commented on #7755
Fix was merged

[2020-03-15 11:38] #7755 closed

[2020-03-15 11:42] rnveach commented on #7768
It doesn't matter what file name you use for the configuration as long as you modify it to test what you want. Which in this case should be the check mentioned in the issue. You are changing existing functionality and not writing a brand new check or adding a new property, so you just use the same config for base and patch. See mentioned issue if you are still not sure.

[2020-03-15 11:55] strkkk commented on #7800
Fix is merged.

[2020-03-15 11:55] #7800 closed

[2020-03-15 12:31] gaurabdg commented on #7726
I am on it

[2020-03-15 14:36] timurt commented on #7592
@xkarx any update on this issue?

[2020-03-15 14:36] timurt commented on #7588
@sudo-andro are you still working on this issue? do you need help?

[2020-03-15 15:04] timurt commented on #7696
@developerhb hello,
1. See, we have a lot of documentations, but not all cases covered with sample codes.
You have to update `RegexpOnFilenameCheck` java doc and `config_regexp.xml` with additional examples.

For example: `RegexpOnFilename` has different parameters like `ignoreFileNameExtensions`, `fileNamePattern` and so on. You should write sample codes for different cases and demonstrate where

[2020-03-15 15:31] Malintha1996 commented on #7805
I am on it

[2020-03-15 15:38] rnveach commented on #7799
The ast type is IMPORT and allowClassImports is true
We're only interested in the 2nd case here, and in that case there's clearly no violation.

I agree that the 2nd one is the more important one. Regression was expanded to much properties, so I am good regression won't help us.

Please convince me that the best choice is to remove the code, as there is no way this can produce any violation issues

[2020-03-15 15:48] wilcoln commented on #7799
Let's assume the 2nd case's requirements are met for a some import statement.
1. The ast type is `IMPORT` which means the corresponding statement is a class import as opposed to a static member import.
2.  `allowClassImports = true` which means that, since our statement is a class import, we allow it.

That's why there is no violation.

[2020-03-15 15:52] Mishrasubha commented on #7811
I'm on it.

[2020-03-15 15:57] rnveach commented on #7799
I agree with your number 1, but number 2 plays no role here. There are no further checks for `allowClassImports` inside the condition. That property only helped us get to the `else if`, nothing more.

[2020-03-15 16:04] Mishrasubha commented on #7743
I'm on it.

[2020-03-15 16:07] wilcoln commented on #7799
Yeah but since we're in case 2 of https://github.com/checkstyle/checkstyle/issues/7799#issuecomment-598535905, we know for sure that that property's value is `true`

I agree with this completely, and what I am saying is that knowing `allowClassImports = true`, a class import with a star doesn't cause any violation.

At least that's what I thought from the property's description, but maybe I'm misu

[2020-03-15 16:08] Mishrasubha commented on #7797
I'm on it.

[2020-03-15 16:12] rnveach opened #7854 "Resolve Pitest Issues - IllegalImportCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L82

[2020-03-15 16:13] rnveach opened #7855 "Resolve Pitest Issues - IllegalImportCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L83

[2020-03-15 16:14] rnveach opened #7856 "Resolve Pitest Issues - IllegalImportCheck (3)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L84

[2020-03-15 16:15] wilcoln commented on #7799
@rnveach I got proof!

I  just ran `java -jar checkstyle-8.29-all.jar -c config.xml Test.java` on the following source file:
[code]
And
[code]

the results are respectively:

[code]
And

[code]

I believe this prove my point.

[2020-03-15 16:22] developerhb commented on #7696
Thank u @timurt. I got how it works and now I am good go.

[2020-03-15 16:27] rnveach commented on #7799
Yes, but without it being used anymore it is not proof that it has any impact in the condition.

I don't see how this proves what is happening inside the code between 2 versions of checkstyle when you are only using 1 version in your example.  Surely regression would have had this case already.

-----

I suggest we walk through the code line by line inside the condition with a STATIC_IMPORT and IM

[2020-03-15 16:47] rnveach commented on #7797
@Mishrasubha This issue is not open to be worked on. Please see the open child issues.

[2020-03-15 17:46] Malintha1996 commented on #7805
@rnveach May I work on this. This issue has been mentioned by @wltan to @bhishek-kumar09

[2020-03-15 17:56] rnveach commented on #7805
It is possible 2 separate pitest failures could be killed with the same UT if one is found. Nothing has been provided in the other issue, so it is hard to tell if this is the case. If you are worried, there are pitests related to IllegalImportCheck that have not been touched.

[2020-03-15 18:00] gaurabdg commented on #7856
I am on it

[2020-03-15 18:10] Malintha1996 commented on #7805
I understand. I will work on this. If the other issue is resolved with the same UT, I will focus on the one of the IllegalImportCheck pitests.Thanks

[2020-03-15 18:20] Benschio commented on #7769
I've updated the issue description and pushed a commit:
https://github.com/Benschio/checkstyle/commit/7adfc50d2372ad4b88d4f50b35e7cbc3a77f956b

I'm waiting for a review before creating a pull request.

[2020-03-15 18:27] Abhishek-kumar09 commented on #7803
I want a help with this issue.:
What should I do to resolve this issue
It checks that if Import contains `same_package_rule_group`
should I write separate test cases for checking the import orders.
What may be the possible files changes that are needed.

[2020-03-15 18:58] wilcoln commented on #7799
Ok let's do that.
Let's consider the [mutation code](https://github.com/checkstyle/checkstyle/blob/4304bc2e894d9f8a4ae45ef47ca7287a8ded507f/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/AvoidStarImportCheck.java) (i.e there's no check if of the ast type inside the `else if` condition).
Let's assume the 2nd case's requirements are met for some import statement.
-  The ast type is `IM

[2020-03-15 19:02] wilcoln commented on #7799
@rnveach , please your thoughts

[2020-03-15 19:17] strkkk commented on #5089
Fix is merged.

[2020-03-15 19:17] #5089 closed

[2020-03-15 19:23] Abhishek-kumar09 commented on #7753
I am on it

[2020-03-15 19:38] rnveach commented on #7799
This makes more sense now.

There was a small leap not saying how importText got its value but its directly from the AST brought in which is only a `;` in the bad case. I was able to still follow.

I agree now, there is no way to satisfy the code as it is now except to change it somehow, either remove the mutated code or rewrite the code.

[2020-03-15 19:48] rnveach commented on #7803
@Abhishek-kumar09 Read primary steps in https://github.com/checkstyle/checkstyle/issues/7797 . It gives a blow by blow steps to find and test a fix with links and everything.

[2020-03-15 20:06] DXTkastb commented on #7854
I'm on it

[2020-03-15 20:22] AmrDeveloper commented on #7848
@romani
I solved this issue. Then, the problem is what i should do with XpathRegressionSuppressWarningsHolderTest from this PR #7841 ?
This test expects violation but now the code will report no voilation so the test will fail

[2020-03-15 21:05] pelepelin commented on #5145
@romani Please reconsider. The quoted fragment says about prefixes with special meaning. It says that no prefixes has special meaning. It does not prohibit vars with the names like `iPhone` (where `i` has no special meaning), but this rule prohibits it. Trying to forbid special prefixes, this rule forbids all prefixes.

[2020-03-15 21:08] pelepelin commented on #5145
Links to other styles were added just to make sense of the "special prefixes".

[2020-03-15 21:24] rnveach commented on #7848
The xpath test will have to be removed since it won't be possible to create violations. I think we can leave it off documentation too.

[2020-03-15 21:28] romani commented on #5145
it might be not good example. As iPhone become a brand name so it became word, so it should be `iphone`
More details at http://google.github.io/styleguide/javaguide.html#s5.3-camel-case

Checkstyle is smart to recognize prefix on reason or just coincidence.

AOSP style do prefix on reason, but it conflicting with Google general style. It is ok, just customize it up to your needs. I can not change

[2020-03-15 22:08] AmrDeveloper commented on #7848
@rnveach yup but after remove the xpath test and leave it off doc i will got error that i must add it

[2020-03-15 22:13] rnveach commented on #7848
You will need to change UT to not complain about this module.

[2020-03-15 22:21] AmrDeveloper commented on #7848
@rnveach I am already changed SuppressWarningsHolderTest to expect no violations

[2020-03-15 22:48] #7584 closed

[2020-03-15 22:50] romani commented on #7584
fix is merged.

[2020-03-15 22:59] romani commented on #7740
provide Xpath IT test for it. in UT area we already have 100 coverage by tests.
We need verificaction that reporting on line:column helps to suppress by Xpath.

[2020-03-16 00:36] romani commented on #7523
yes, we need  to make it consistent, and what we print in CLI should be reusable as is in `-s`.

[2020-03-16 01:16] RayRCaringal commented on #7637
I am on it

[2020-03-16 02:40] #7799 closed

[2020-03-16 02:41] rnveach commented on #7799
Fix was merged

[2020-03-16 04:17] josephmate commented on #6192
Ok. I think I have a fix coming along here https://github.com/josephmate/checkstyle/commit/1ce30507e35f39debf29691e011ba29ded69dd85

but it needs debugging.

[2020-03-16 05:26] gaurabdg commented on #7523
Why is the column number 0 based in implementations but 1 based in xpathquery generator?

[2020-03-16 06:44] gaurabdg commented on #7523
@romani @timurt Do you want me to change the AST implementations' column number to be 1 based or adapt `-s` and make it zero based in the background?

[2020-03-16 07:04] PrabodDunuwila commented on #7721
I'm on it.

[2020-03-16 11:17] HuGanghui commented on #6707
I am on it

[2020-03-16 14:55] romani commented on #7523
Looks like related https://github.com/checkstyle/checkstyle/issues/4997

@timurt , please provide history context of this problem

[2020-03-16 16:21] nmancus1 commented on #6204
@romani  Ok, I don't think this is ANTLR's fault.  The corresponding AST line:
`CHAR_LITERAL -> 'н' [4:11]`.  This bug has proved to be tougher to track down than I thought, since it only shows up when debugging the jar file, and not when ran in IDEA.  I'm still  working on this, but it's taking longer than expected.  By the way, this has failed for parsing most higher unicode chars (emoji, etc.)

[2020-03-16 16:50] #7768 closed

[2020-03-16 16:50] rnveach commented on #7768
Fix was merged

[2020-03-16 17:20] gaurabdg commented on #7523
I am following the deliverables mentioned in #4997's comment.

[2020-03-16 17:22] paragpachpute commented on #7648
I am taking it!

[2020-03-16 17:50] gaurabdg commented on #7523
Should I resolve as mentioned in #4997 or just make an offset adjustment for cli parameters since there are almost 400 UT errors and will take a lot of time

[2020-03-16 18:23] yajna-pandith commented on #7856
I am on it

[2020-03-16 18:23] yajna-pandith commented on #7855
I am on it

[2020-03-16 18:55] romani commented on #7590
fix is merged.

[2020-03-16 18:55] #7590 closed

[2020-03-16 19:13] akki111singh commented on #7725
I am on it

[2020-03-16 19:14] harsh-kukreja commented on #7745
I'm on it

[2020-03-16 23:00] rnveach opened #7872 "Resolve Pitest Issues - ImportOrderCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L86

[2020-03-16 23:01] rnveach opened #7873 "Resolve Pitest Issues - ImportOrderCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L87

[2020-03-16 23:01] rnveach opened #7874 "Resolve Pitest Issues - ImportOrderCheck (3)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L88

[2020-03-16 23:02] rnveach opened #7875 "Resolve Pitest Issues - ImportOrderCheck (4)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L89

[2020-03-16 23:03] rnveach opened #7876 "Resolve Pitest Issues - ImportOrderCheck (5)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L90

[2020-03-16 23:03] rnveach opened #7877 "Resolve Pitest Issues - ImportOrderCheck (6)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L91

[2020-03-16 23:04] rnveach opened #7878 "Resolve Pitest Issues - ImportOrderCheck (7)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L92

[2020-03-17 05:36] developerhb commented on #7696
Hi @romani , @timurt

I spent some time reading the documentation of RegexpOnFileName from both xml file and java doc. I also surfed google to get information about the RegexpOnFileName. I even added the Eclipse-CS plugin to the Eclipse IDE and tried to figure out the use of RegexpOnFileName. Somehow  I am not able figure out hoe the RegexOnFileName works.

I can't figure out where this check is a

[2020-03-17 05:38] developerhb commented on #7696
Hi @romani , @timurt

I spent some time reading the documentation of RegexpOnFileName from both xml file and java doc. I also surfed google to get information about the RegexpOnFileName. I even added the Eclipse-CS plugin to the Eclipse IDE and tried to figure out the use of RegexpOnFileName. Somehow I am not able to figure out how the RegexOnFileName works.

I can't figure out where this check is

[2020-03-17 06:32] timurt commented on #7523
@romani I tried to recall details, but I think @MEZk 's description in [#4997](https://github.com/checkstyle/checkstyle/issues/4997#issue-252697857) contains all required information regarding this issue

`AstTreeStringPrinter` prints columns starting from 0 and does not consider tabulations
`XpathQueryGenerator` is 1-based and calculates real column number considering tabulation
`AbstractCheck` i

[2020-03-17 06:47] timurt commented on #7696
@developerhb hi

It is correct, this check validates your folder/filename using regular expression.

This check is helpful when you want to specify rules for folder and files, for example:
- class name should not contain digits
- or property and xml files to be located in the resource folder
- or restrict gif formats
- etc

I would highly recommend you to perform the following steps!

Try to play

[2020-03-17 07:15] jokowncode commented on #7644
I am on it

[2020-03-17 07:32] developerhb commented on #7696
@timurt Thank you for your reply. I understood the usage of the RegexOnFileName.

But, I am not aware with Apache - Maven. So, can you please explain me in detail how I can run Checkstyle on my local machine.

[2020-03-17 08:07] timurt commented on #7696
@developerhb

`Maven` is the tool that helps you to manage dependencies, build and run project, run coverage, pitest and etc. Please read about it more, it is very powerful tool!

`mvn -P assembly package` this command will generate usual JAR file and then you can run checkstyle as usual jar using `java -jar`, see example here https://checkstyle.sourceforge.io/cmdline.html#Download_and_Run

To run

[2020-03-17 08:19] developerhb commented on #7696
Thank you @timurt for explaining maven and providing useful links

[2020-03-17 08:53] developerhb commented on #7696
I downloaded the latest jar file of checkstyle and tried to run it and I am getting the following error.
![Error](https://user-images.githubusercontent.com/53093601/76839077-e36ae400-685a-11ea-8313-b7d2555ee1d9.PNG)

[2020-03-17 09:14] developerhb commented on #7696
@timurt I also checked it with /sun_checks.xml and it works fine.

[2020-03-17 09:43] sulkykookie commented on #7750
I'm on it.

[2020-03-17 10:07] timurt commented on #7696
@developerhb Great

You can use downloaded jar for this issue, but you need to learn how to build such jar, it is required skill

Error says that your configuration is not correct, probably you are using `RegexpOnFilename` as root of the xml file, please see example configuration xml from the project, there are plenty of them

First of all, `sun_checks.xml` does not contain your check `RegexpOnFil

[2020-03-17 11:27] developerhb commented on #7696
@timurt I found my mistake. I didn't use `<module name="Checker"> before <module name="RegexpOnFileName">`. Thank you for your response.

[2020-03-17 11:33] developerhb commented on #7696
@timurt I have one question. Here we created a config.xml file and run the checkstyle.jar with it and the test file. But, how this functionality is implemented in real-time.

That is,
When I am working with an IDE like eclipse or netbeans, the Checkstyle is constantly checking for errors and as soon as I make some mistake (in this case wrong filename or file in wrong folder), it notifies me.

How

[2020-03-17 11:46] yajna-pandith commented on #7878
I am on it

[2020-03-17 11:48] yajna-pandith commented on #7877
I am on it

[2020-03-17 11:48] yajna-pandith commented on #7876
I am on it

[2020-03-17 11:48] yajna-pandith commented on #7875
I am on it

[2020-03-17 11:55] developerhb commented on #7696
@timurt After successful running of jar file with config and test file, I was trying some different configurations. I found this,

![XML1](https://user-images.githubusercontent.com/53093601/76853476-58e2ae80-6873-11ea-9eb1-1efb65a5a26d.PNG)

This configuration allows only .gif files in the folder.
The output on running this is,

![Error1](https://user-images.githubusercontent.com/53093601/76853539

[2020-03-17 12:53] romani commented on #7732
This check already reports violation on AST node:
https://github.com/checkstyle/checkstyle/blob/34615b4a3c8f8826fb6961ed9a35449e73c16a2f/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/IllegalCatchCheck.java#L187

[2020-03-17 13:57] romani commented on #7797
@rnveach , I removed label from it to not attract attention

[2020-03-17 13:58] romani commented on #7769
@Benschio , please create PR, we review PRs only.

[2020-03-17 14:02] romani commented on #7769
@Benschio , please try to use CLI https://checkstyle.org/cmdline.html to show current behavior please strictly follow https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md it will help a lot and speedup process of fix acceptance.

[2020-03-17 14:27] sulkykookie commented on #7732
I'm on it.

[2020-03-17 15:11] #7757 closed

[2020-03-17 15:11] romani commented on #7757
fix is merged.

[2020-03-17 15:14] romani commented on #7753
fix is merged.

[2020-03-17 15:14] #7753 closed

[2020-03-17 15:39] romani commented on #6204
we can not afford to make charset detection for each file (it will be too slow), we need to guide users to enforce charset in config to be UTF8 and make it work on our side.

[2020-03-17 17:28] harsh-kukreja commented on #7745
Hey @romani I just need to write the xpathtest file in this, as the column numbers is already there
Can you help me?

[2020-03-17 17:29] harsh-kukreja commented on #7738
Hey @romani I just need to write the xpathtest file in this, as the column numbers is already there
Can you help me?

[2020-03-17 17:42] nmancus1 commented on #6204
Yeah, I see that now.  I have been playing with ANTLR using matching surrogate codepoints, and I think I'm close to a solution. I actually had one rule that came pretty close, but failed one regression test, so I'm continuing to study ANTLR and trying to perfect it.

[2020-03-17 18:19] Sadgrinner opened #7884 "XMLFormatter should include source AND moduleId when moduleId is present"
## PROBLEM

The output `checkstyle_report.xml` is lossy.

Any time users apply a module id (example [here](https://github.com/checkstyle/checkstyle/blob/f71bab0270b8a30ed01ff01f0da6038ed229a2ed/src/main/resources/google_checks.xml#L86)), the XML file will not include the source of the check that was violated.

## Example report showing the problem

[code]

Violations are not easy to distinguish wi

[2020-03-17 18:20] Sadgrinner commented on #7538
Thanks.  Closing this.  The new issue is https://github.com/checkstyle/checkstyle/issues/7884 which has a tighter description of the problem and what I would like to have.

[2020-03-17 19:17] romani opened #7885 "pitest: problem with coverage in SuppressWarningsHolder.java.isSuppressedAfterEventStart"
detected at https://github.com/checkstyle/checkstyle/pull/7836#issuecomment-599329678

[code]

pitest report:
![Screen Shot 2020-03-17 at 12 16 43 PM](https://user-images.githubusercontent.com/812984/76893197-2fad2880-6849-11ea-8a16-47ebbfe69344.png)

--------

This code was added recently in scope of :
https://github.com/checkstyle/checkstyle/commit/648871b6c87c84d3c24d58512a2f4ecd47f62017

WE ne

[2020-03-17 19:35] AmrDeveloper commented on #7885
I'm on it

[2020-03-17 21:05] Gaurav-Punjabi commented on #7750
I'm on it.

[2020-03-17 21:50] rnveach commented on #7523
This was probably so column number reports column position that you would see in an IDE, which is also 1 based.

I feel we should make them consistent, regardless of 0 or 1 based.

I am leaning towards 1 based since that is what will make the most sense to users. All IDEs and notepads use 1 based positioning and they would rather see number and find the exact same number in their editor. Users jus

[2020-03-17 21:52] maheshkulkarni123OS commented on #7609
class Simple{
Simple(){
}
 public static void main(String args[]){
Simple s = new Simple();
}  }
class ABC extends Simple{
}// ok

class Simple{
private Simple(){
}
 public static void main(String args[]){
Simple s = new Simple();
}  }
class ABC extends Simple{
}// violation, error: Simple() has private access in Simple

final class Simple{
 Simple(){
}
 public static void main(String args[]){
Sim

[2020-03-17 22:02] #7538 closed

[2020-03-17 22:38] zielint0 opened #7889 "Broken link - AvoidDoubleBraceInitialization"
https://checkstyle.org/config_misc.html#AvoidDoubleBraceInitialization does not go to rule's description.

[2020-03-17 23:28] rnveach commented on #7889
URL is wrong in checks.xml:
https://github.com/checkstyle/checkstyle/blob/646d90e0237d92cb6ab84dc7083a1d2d636eceb2/src/xdocs/checks.xml#L78
https://github.com/checkstyle/checkstyle/blob/646d90e0237d92cb6ab84dc7083a1d2d636eceb2/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/AvoidDoubleBraceInitializationCheck.java#L56
https://github.com/checkstyle/checkstyle/blob/bb108e472b3746cf913129

[2020-03-18 03:21] jokowncode commented on #7644
Excuse me, I found that Chinese garbled will appear in the output of maven, resulting in the failure of verify, so I added `< argLine >-Dfile.encoding=UTF-8 < / argLine >` to the properties of maven. Is that okay? @strkkk

[2020-03-18 04:04] nmancus1 opened #7892 "Improve clean up of .ci-temp directory"
based on discussion at https://github.com/checkstyle/checkstyle/pull/7870#discussion_r393923576 and https://github.com/checkstyle/checkstyle/pull/7778#discussion_r391285990

We need to improve clean up in the .ci-temp directory after ci scripts run, and should also specify if a directory wasn't able to be removed.
Also, we should use a bash function to make for a cleaner script, and make clear our

[2020-03-18 04:06] jokowncode commented on #7644
When I was doing maven verify, there was an error. How can I solve it?
`[ERROR] ……\ant-phase-verify.xml:164: Checkstyle failed: Got 58 errors and 0 warnings.
[ERROR] around Ant part ...<ant antfile="config/ant-phase-verify.xml"/>... @ 8:47 in ……\target\antrun\build-main.xml
[ERROR] -> [Help 1]`

[2020-03-18 04:49] romani commented on #7884
Please follow issue template (prints of config, input file, CLI output) to show p problem.
I will not reply any more if this not done.

[2020-03-18 04:52] HuGanghui commented on #7889
I am on it.

[2020-03-18 06:24] developerhb commented on #7696
@timurt Is there any way to preview the changes in xml file in html format in browser. I have clone the repository to my local machine after creating its fork.

[2020-03-18 06:45] developerhb commented on #7696
@timurt I did this by editing the https://checkstyle.org/config_regexp.html#RegexpOnFilename using inspect element to preview my changes.

![Example](https://user-images.githubusercontent.com/53093601/76932903-fb516f00-6911-11ea-8cd7-02642f427ea1.PNG)

Are these examples okay?

Please tell me any changes are required

[2020-03-18 07:06] sulkykookie commented on #7732
I need help with getting Xpath of ```java.lang.RuntimeException``` in the following code:
[code]

The corresponding AST is:
[code]

My guess of the correct way to get ```java.lang.RuntimeException``` would be:
[code]

Am I correct?

[2020-03-18 07:46] jokowncode commented on #7644
@strkkk @romani
When I start maven verify ,there are some errors, involves other files, I don not know should I modity them or how I solve it?
`[checkstyle] [ERROR] ……\src\test\java\com\puppycrawl\tools\checkstyle\internal\powermock\AuditEventDefaultFormatterPowerTest.java:23:1: not allowed import： org.mockito.Mockito.when 。 [ImportControlTest]
[checkstyle] [ERROR] ……\src\test\java\com\puppycrawl\

[2020-03-18 07:54] sulkykookie commented on #7732
Can I get help with this? I'm getting this while doing ```mvn clean verify```
[code]
The code is:
[code]

The AST is:
[code]

[2020-03-18 08:09] Malintha1996 commented on #7805
@rnveach ,I have looked deep into this, modifying test cases won't help killing mutators as the two occurrences of the ``` customImportOrderRules.contains(SAME_PACKAGE_RULE_GROUP))``` in  CustomImportOrderCheck class compensate for the error created by each other. Moreover, I tried modifying the source code of  CustomImportOrderCheck as well. But did not work out.  I am trying few other methods.Ho

[2020-03-18 08:49] strkkk commented on #7644
@jokowncode have you made any changes to code?

[2020-03-18 09:14] sulkykookie commented on #7732
Can I get help with the diff file? I'm getting this:
[code]

[2020-03-18 10:06] jokowncode commented on #7644
@strkkk Yes, I haven't changed the code, only the xml file and java doc. And add a `< argLine >-Dfile.encoding=UTF-8 < / argLine >` to the properties of maven to solve the Chinese garbled problem.

[2020-03-18 10:11] strkkk commented on #7732
@sulkykookie try to switch your repo to master branch first

[2020-03-18 10:16] strkkk commented on #7644
Do you run `mvn clean verify`? Because you said that you run `mvn verify`

[2020-03-18 10:28] jokowncode commented on #7644
@strkkk Yes, the result is the same.

[2020-03-18 10:28] sulkykookie commented on #7732
**Doesn't work.**
Also I'm getting this error while diff.groovy fetches checkstyle/springframework repo:
[code]
for a few files and it results in:
[code]

[2020-03-18 10:37] wltan commented on #7128
I am on it

[2020-03-18 12:23] rnveach commented on #7726
Fix was merged

[2020-03-18 12:23] #7726 closed

[2020-03-18 12:28] rnveach commented on #7744
Fixed was merged

[2020-03-18 12:28] #7744 closed

[2020-03-18 12:34] rnveach commented on #7749
Fix was merged

[2020-03-18 12:34] #7749 closed

[2020-03-18 12:37] rnveach commented on #7892
@nmancus1 Please start when you are ready.

[2020-03-18 12:40] rnveach commented on #7805
@Malintha1996 Please follow steps in https://github.com/checkstyle/checkstyle/issues/7797#issue-577522554 , 1 by 1 and post them here as you complete them. This will help guide you in this issue and help me identify where you are stuck.

I also recommend looking at how other students completed this, like https://github.com/checkstyle/checkstyle/issues/7799 .

[2020-03-18 12:42] wilcoln commented on #7504
I'm on it

[2020-03-18 12:44] rnveach commented on #7731
Fix was merged

[2020-03-18 12:44] #7731 closed

[2020-03-18 13:02] rnveach commented on #7732
If you are on Windows or another OS that can't have deeply nested files, you must use the `shortFilePaths` argument. Please see documentation.

[2020-03-18 13:05] romani commented on #6192
@josephmate , there will be violations in our code when this issue is resolved. We need to update our code to resolve violation, please do this as separate commit (do not fix such changes with functional fix). Just follow `mvn verify`  and CI .... it tell you what you have to do.

[2020-03-18 13:06] sulkykookie commented on #7732
Okay.
Also what about the ```Error: Unable to access jarfile C:\Users\Shrey\Desktop\Checkstyle``` error?

[2020-03-18 13:08] rnveach commented on #7644
Can you provide us a full console output of your run `mvn clean verify` run so we can see what you are seeing.

Is your OS set to another language by default?

[2020-03-18 13:12] rnveach commented on #7732
This one I am unsure about. Did the previous maven command finish and build the jar? Can you locate jar in where it seems to be looking? You have read access to the jar?

https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/diff.groovy#L217
After this is a command execution for the JAR and it is executed inside `executeCmd`.
https://github.com/checkstyle/contribution/blob/maste

[2020-03-18 13:19] shashwat70 commented on #7730
I'm on it!

[2020-03-18 13:23] romani commented on #7523
yes, `1` based is what we need, as checkstyle suppose to be used in IDEs a lot. Natural positioning is good.

[2020-03-18 13:26] rnveach commented on #7523
@romani I assume main fix should be in https://github.com/checkstyle/checkstyle/issues/4997 and this issue will just be to ensure the problem here is fixed?

[2020-03-18 13:34] jokowncode commented on #7644
@rnveach Yes,my OS's default language is Chinese.
[maven log.txt](https://github.com/checkstyle/checkstyle/files/4349224/maven.log.txt)

[2020-03-18 13:46] romani commented on #7523
@gaurabdg , I changed label from easy to hard.
With current amount of active PRs it will be hard to update index from 0 to 1 in DetailAst, too much conflict will be.

We will come back to this issue when we start main phase of GSoC, resolving of this issue will be required for xpath related proejcts.

[2020-03-18 13:58] Malintha1996 commented on #7805
### pitest report
https://malintha1996.github.io/checkstyle-tester-reports/pit-reports/202003181856/com.puppycrawl.tools.checkstyle.checks.imports/CustomImportOrderCheck.java.html
#### Surviving mutations

- line 528 : removed conditional - replaced equality check with true → SURVIVED
     ```if (customImportOrderRules.contains(SAME_PACKAGE_RULE_GROUP))```
- line 765: removed conditional - replace

[2020-03-18 14:09] gaurabdg commented on #7523
Sure.

[2020-03-18 14:14] rnveach commented on #7644
Thanks, this explains it all. Checkstyle uses message suppressions for suppressing very specific violations. Unfortunately suppressing by message requires the exact message and most users and CI use english by default. Since your on a chinese OS, the default message used is Chinese and this doesn't match up the english.

To get around this issue, you would need to pass in a maven override for the

[2020-03-18 14:19] rnveach commented on #7805
@Malintha1996 The other issue hasn't provided any details and there is no guarantee they will work or finish the issue. It has been 3 days without an update.

Please continue with this issue. If PR is started and shows multiple mutations can be solved, then that person will be allowed to complete.

[2020-03-18 14:25] jokowncode commented on #7644
ok,thanks for your help. I will try to use the PR to run verify.

[2020-03-18 14:34] romani commented on #7738
@harsh-kukreja , thanks a lot for good question.

yes, part of work is already done, Checks is already upgraded.
But we need to create Xpath test (at https://github.com/checkstyle/checkstyle/tree/master/src/it/java/org/checkstyle/suppressionxpathfilter) for it and upgrade documentation https://checkstyle.org/config_filters.html#SuppressionXpathFilter_Description to remove Checks from list of unsup

[2020-03-18 14:47] romani commented on #7885
fix is merged.

[2020-03-18 14:47] #7885 closed

[2020-03-18 14:52] romani commented on #7625
fix is merged.

[2020-03-18 14:52] #7625 closed

[2020-03-18 15:28] romani commented on #7609
yes, you are on right way to do this, but please do not create samples with `extends`, Chekcstyle do not know class hierarchy, please make all examples base on simple classes (no extends, no implements)

[2020-03-18 15:53] zielint0 commented on #7677
@romani
Any chance to implement it for 8.31?

[2020-03-18 16:10] HuGanghui commented on #7735
I am on it

[2020-03-18 16:10] HuGanghui commented on #7612
I am on it.

[2020-03-18 16:24] timurt commented on #7696
@developerhb

1) First of all to make more readable and not overwhelmed with images, please use `markdown` tags. You can find examples here https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md .
So with markdown you can demonstrate your code, for example if you want to show content of the file please do in the following way

[code]
It also makes your code easier copy

2)

[2020-03-18 17:07] wltan commented on #7473
This is not foolproof either. It's possible to use `throws` outside of any try/catch blocks entirely, which will need to be included as well.

IMO, the most intuitive solution is to count all `throws` uses, but if it's in a `try` block, then include it if and only if:
1. It is not being caught by a `catch` block (using exact class name only)
2. There is no `finally` block (if there is `finally`, e

[2020-03-18 17:59] harsh-kukreja commented on #7738
Okay I'm on it

[2020-03-18 18:06] strkkk commented on #7677
This check is relatively easy to implement, but there is a heavy load because of GSoC.
Anyway, I think I can try to implement it to include it in 8.31.
@romani @rnveach @pbludov  Are ok with this check?

[2020-03-18 18:15] zielint0 opened #7895 "RedundantThis rule proposition"
Is it possible to detect a redundant "this" modifier?

I would like to have an opposite rule to the "RequireThis" rule.

[2020-03-18 19:53] Gaurav-Punjabi commented on #7750
@rnveach I have made the changes. But I'm stuck with generating regression diff report. For how many configurations should I generate diff reports. Also I'm a little confused on how to generate these diff reports.

[2020-03-18 19:56] gaurabdg commented on #2986
@romani Can I take up this issue as it hasn't been worked on for about a month by the person who reserved it?

[2020-03-18 20:05] gaurabdg commented on #7746
I am on it

[2020-03-18 21:49] edwardlee commented on #7694
I am on it.

[2020-03-19 00:01] harsh-kukreja commented on #7738
Hey @rnveach / @romani / @strkkk / @rdiachenko I need some help to write the test case
I have added the configuration
[code]

And my example test is
[code]
I am getting the following Error:

[code]

Now if i write the _//warn_ comment on the above like this
[code]
I get this error:
[code]

Please help me with it what should i do

[2020-03-19 00:14] developerhb commented on #7696
The issue description asks to add examples that shows what code is okay and what code causes violation for each configuration included in **config_regexp.xml** file. But, in this case the check is on file names and folder in which the files are placed and no code is involved. So, we need to provide examples like,

For default configuration - doesn't allow whitespaces in the filename. So,

src/xdoc

[2020-03-19 00:24] josephmate commented on #6192
@romani : 1 PR with two commits, or 2 PRs, each with one commit?

[2020-03-19 00:55] rnveach commented on #7738
For now try something like: `/* warn */ /**`. If it still doesn't work, you will need to look at the UT that is failing and see if it can be expanded to support it to get around the issue.

[2020-03-19 01:16] rnveach commented on #7750
Documentation can be found at https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#checkstyle-tester . If you need additional help, then I need specifics on what your issue is.

As many as it takes to hit all the code in the checks you have changed.

[2020-03-19 03:39] liach commented on #5969
Can confirm that this still exists in 8.25 or 8.30.
An indentation error reported like
https://travis-ci.com/github/FabricMC/fabric/builds/154016809#L1385-L1386
can be fixed by changing the name of the lambda parameter, like
https://github.com/liachmodded/fabric/commit/9ee3831725812a985eb085965d7ddeb1e3aafc09

[2020-03-19 04:54] liach commented on #7675
Duplicate of #5969.

[2020-03-19 05:04] timurt commented on #7696
@developerhb
Yes, sorry, you are right. For every configuration you have to provide positive and negative cases.

but could provide your changes using pull request
It will make for us to review and discuss

[2020-03-19 05:48] developerhb commented on #7696
@timurt Thank you. I will provide changes through pull request. I was just confirming that I am going in the right way. Will soon make a pull request.

[2020-03-19 07:24] developerhb commented on #7696
@timurt I am done editing the java doc and xml file. Now I want to commit changes and send a pull request.

I have created fork of checkstyle. After that I have clone it to my local machine. There I have made changes.
Further, I need to follow following steps. Correct me if I am wrong.

1) Configure remote using
`git remote add main https://github.com/checkstyle/checkstyle`

2)Create new branch
`I

[2020-03-19 07:24] sulkykookie commented on #7732
I installed linux, and it worked perfectly there.

[2020-03-19 08:24] harsh-kukreja commented on #7738
Thanks this worked
[code]
My example looks like this now

[2020-03-19 09:22] AnishaSrivastava1411 commented on #7765
@yajna-pandith Are you still working on this?

[2020-03-19 10:38] strkkk commented on #7725
Fix is merged

[2020-03-19 10:38] #7725 closed

[2020-03-19 10:40] #7636 closed

[2020-03-19 12:30] harsh-kukreja commented on #7738
Hello @rnveach I ma getting this as the diff report can you tell me whether this report is correct

<img width="1440" alt="Screenshot 2020-03-19 at 5 56 54 PM" src="https://user-images.githubusercontent.com/40023562/77067587-32f01200-6a0b-11ea-850f-0b165e488ef9.png">

My my_check.xml file
[code]

And i wrote this command
[code]

[2020-03-19 13:48] maheshkulkarni123OS commented on #7609
@romani thanks for your guidance ,
i'm not able to create new branch to make changes.I am not getting idea how to add these examples to doc.Can you please elaborate in simple words.

[2020-03-19 14:38] romani commented on #7810
fix is merged.

@nmancus1 , please send separate PR to fix https://github.com/checkstyle/checkstyle/pull/7816#discussion_r395072027

[2020-03-19 14:38] #7810 closed

[2020-03-19 14:46] romani commented on #7740
fix is merged.

[2020-03-19 14:46] #7740 closed

[2020-03-19 14:58] romani commented on #7644
@jokowncode , if you find how to provide maven locale settings  it would be awesome , we will place them in our wiki. We try our best to make build process to be less problematic.
We might to force checkstyle build to use EN locale to pass build at any locale/country.

It is valid issue for our issue tracker that build is not passing on Chineese (non English) locale. Please create issue on us.

[2020-03-19 15:28] romani commented on #7473
it is ok to ignore all throws in lamdas for now. It is better to have false-negative (missed violation) rather then false-positive (unwanted violation). Please do. Regression testing will show what we can improve.

-----

I am thinking on other your questions .... I will reply later.

[2020-03-19 15:34] romani commented on #7677
I am ok.

[2020-03-19 15:40] Malintha1996 commented on #7805
@rnveach  Diff report does not suggest any UT that would kill the surviving mutation. The diff report was generated for all projects with 7 distinct configurations.
**My suggestion is to remove the condition.**
When removed, the surviving mutation on line 773 will be killed as well.

## Code analysis
[code]
if the condition is true it sets the  value of  **samePackageDomainsRegExp** which has only

[2020-03-19 15:41] romani commented on #7895
I think it is possible, you can try to implement it, testing will show how reliable this Check can be.
If there be to much of false positives, we can always move it where our controversial/experimental/prone-to-false-positve Checks are hosted - https://github.com/sevntu-checkstyle/sevntu.checkstyle

[2020-03-19 15:59] jokowncode commented on #7747
I am on it.

[2020-03-19 16:01] rnveach commented on #7805
The pitest report, branch and regression look good to me.

This code is a bit more complex, so I may need more information.

Are we basically caching the `samePackageDomainsRegExp` for use later and all its uses are wrapped around another similar `SAME_PACKAGE_RULE_GROUP` check? So we don't have to worry about it being used inappropriately anywhere else and that is why it is completely safe to rem

[2020-03-19 16:10] Malintha1996 commented on #7805
Yes.  it is used under same  `SAME_PACKAGE_RULE_GROUP` check. And only used in that check. There won't be a NPE or any other exception related to `samePackageDomainsRegExp` . Moreover, it is initially assigned an empty string. So no possibility for a NPE.

[2020-03-19 16:11] rnveach commented on #7805
Then I agree with you the code needs to be changed and there is no other way to kill the mutation.

Please start a PR.

[2020-03-19 16:16] rnveach commented on #7738
We will look at the diff report in the PR. If your code is ready, start the PR.

Diff report will have to be uploaded online for us to look at all of it. See https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#deploying-report

[2020-03-19 16:18] rnveach commented on #7677
I am ok.

[2020-03-19 16:19] zielint0 commented on #7895
Any good soul to implement it? :-)

[2020-03-19 17:06] AnishaSrivastava1411 commented on #7727
I am on  it.

[2020-03-19 17:18] Malintha1996 commented on #7805
done

[2020-03-19 17:55] strkkk commented on #7733
Fix is merged

[2020-03-19 17:55] #7733 closed

[2020-03-19 18:25] harsh-kukreja commented on #7738
Okay @rnveach

[2020-03-19 19:20] rnveach commented on #7803
@Abhishek-kumar09 Unfortunately another issue has intertwined with this one and the other issue already has a PR started to resolve both issues. Because of this and no visible progress in 4 days, no one else can work on this issue. I recommend to try looking at another pitest issue to solve.

[2020-03-19 19:33] nmancus1 commented on #7810
Ok, I'm on it.

[2020-03-19 21:21] gaurabdg commented on #2986
I am on it then

[2020-03-19 21:24] Abhishek-kumar09 commented on #7734
I am on it.

[2020-03-19 21:26] maheshkulkarni123OS commented on #7609
Examples :

class Parent{
Parent(){
}}
class Test {
public static void main(String args[]){
Parent s = new Parent();
System.out.println("OK");
}} //OK

class Parent{
private Parent(){
}}
class Test {
public static void main(String args[]){
Parent s = new Parent();
System.out.println("violation");
}}// violation, error: Parent() has private access in Parent
@romani , removed eariler examples as you

[2020-03-19 21:58] harsh-kukreja commented on #7855
I'm on it

[2020-03-20 02:18] jokowncode commented on #7644
Sure,It's my pleasure.
the solution is to add the parameter`-Duser.language=en-Duser.region=GB `when running maven clean verify.
For example, in IDEA, you can modify it in `File-> Setting-> Build,Execution,Deployment-> Build Tools-> Maven-> Runner-> VM options`.
I would like you to add this in [url](https://checkstyle.sourceforge.io/beginning_development.html#Starting_Development) to help people (

[2020-03-20 02:42] jokowncode opened #7911 "build is not passing on Chineese (non English) locale"
If you locale is not English, then you may face some errors when maven verify ,the checkstyle validation cannot pass, like [#7644 error](https://github.com/checkstyle/checkstyle/issues/7644#issuecomment-600472495).

From [# 7644 comment](https://github.com/checkstyle/checkstyle/issues/7644#issuecomment-600646979), We know that checkstyle is strictly tested in the English environment, so the test w

[2020-03-20 02:44] jokowncode commented on #7911
My solution is to add the parameter`-Duser.language=en -Duser.region=GB` when running maven clean verify.
For example, in IDEA, you can modify it in `File-> Setting-> Build,Execution,Deployment-> Build Tools-> Maven-> Runner-> VM options`.

[2020-03-20 03:23] nmancus1 commented on #6064
@romani, I wanted to take a look at this, but I can't reproduce it with newest master. I think we can mark this resolved.

[2020-03-20 03:28] nmancus1 commented on #5629
@romani I think this issue can be closed as well, I can't reproduce this on latest master.

[2020-03-20 04:13] SunJiFengPlus commented on #7873
i am on it

[2020-03-20 04:15] SunJiFengPlus commented on #7874
I am on it

[2020-03-20 04:15] SunJiFengPlus commented on #7873
I am on it

[2020-03-20 04:15] SunJiFengPlus commented on #7872
I am on it

[2020-03-20 04:58] romani commented on #7810
Please make separate PR, it will quickly merged

[2020-03-20 05:03] romani commented on #5629
Please show prove by CLI output

[2020-03-20 05:06] romani commented on #6064
To close issue we need CLI prove that it works.
@zielint0 , please recheck your side.

[2020-03-20 05:10] nmancus1 commented on #5629
[code]

[2020-03-20 05:14] nmancus1 commented on #6064
[code]

[2020-03-20 06:30] akki111singh commented on #7856
I am on it

[2020-03-20 06:52] bmhm commented on #7911
@jokowncode good catch.
Files: https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/beginning_development.xml

This will make a good first issue.

[2020-03-20 08:45] jokowncode commented on #7911
I am on it.

[2020-03-20 08:52] Abhishek-kumar09 commented on #7803
OK, I will work on another one.

[2020-03-20 09:21] akki111singh commented on #7856
# 1.Pitest  Report
* Link : https://akki111singh.github.io/pitest-reports/202003201414/com.puppycrawl.tools.checkstyle.checks.imports/IllegalImportCheck.java.html
* Surviving Mutations:
	on line 398 : 3. removed conditional - replaced equality check with true → SURVIVED
	on line 422 : 3. removed conditional - replaced equality check with true → SURVIVED
	on line 440 : 3. removed conditional - repl

[2020-03-20 10:35] wilcoln commented on #7895
I'm on it.

[2020-03-20 10:39] wilcoln commented on #7721
I'm on it.

[2020-03-20 10:41] wilcoln commented on #7722
I'm on it.

[2020-03-20 10:41] jokowncode commented on #7911
@bmhm When I tried again, I found that the following configuration had to be added to the pom.xml file of maven to take effect.
[code]

[2020-03-20 10:42] wilcoln commented on #7724
I'm on it.

[2020-03-20 10:59] bmhm commented on #7911
An alternative might be to add this to the file `.mvn/jvm.config` file.
See: https://maven.apache.org/configure.html

I think this might be the better option, because not all plugins will obey the `argLine` property when starting a new process. Thoughts?

[2020-03-20 11:15] zielint0 commented on #7895
Merci Wilfried! :-)

[2020-03-20 11:19] jokowncode commented on #7911
@bmhm Yes, but I don't know why such a change does not work when idea is executed, and only the VM parameter can be specified in the idea configuration.
I may not have made it clear that this configuration should be placed in the configuration that loads maven-surefire-plugin, otherwise the `test `phase will report an error.

[2020-03-20 11:49] #7805 closed

[2020-03-20 11:49] strkkk commented on #7803
Fix is merged

[2020-03-20 11:49] #7803 closed

[2020-03-20 11:50] strkkk commented on #7805
Fix is merged

[2020-03-20 12:26] romani commented on #7764
fix is merged

[2020-03-20 12:26] #7764 closed

[2020-03-20 12:36] jokowncode commented on #7911
@bmhm Yeah, that makes sense. But for the time being, the only solution I can think of is the command line argument, and then I have to modify the configuration of the surefire-plugin of maven in pom.xml.

[2020-03-20 12:49] romani commented on #6064
confirmed, resolved in 8.29

[code]

[2020-03-20 12:53] romani commented on #5629
fix is released at 8.29, fixed by @esilkensen at  #3238 or related.

[code]

this issue has a bounty, @esilkensen , please claim a bounty.

[2020-03-20 12:55] romani commented on #6064
fixed by @esilkensen at #3238 or related.

but I think it will be honest to let @nmancus1 to claim a bounty in this issue as he found this issue and helped to close it.
@nmancus1 , when bountysource.com come back online please claim a bounty.

[2020-03-20 13:04] nmancus1 commented on #6064
@romani that's very generous, thank you. Can you recommend another ANTLR issue that would be good for me?

[2020-03-20 13:12] bmhm commented on #7911
@jokowncode then rather use `MAVEN_OPTS="-Duser.language=en"`

See: https://stackoverflow.com/a/12525359/1549977

There is also `JAVA_OPTS`

[2020-03-20 13:18] romani commented on #6376
@nmancus1 , please help us put more details in this issue , to let us approve issue we need CLI ouput to follow issue template.

and please share your ideas on how to resolve it

[2020-03-20 13:20] zielint0 commented on #6064
Thank you for fixing this. Me and Spoon project are grateful :-)

[2020-03-20 13:23] romani commented on #3151
@nmancus1 , please give us insight on what we can do to address this.

[2020-03-20 13:24] romani commented on #6064
@nmancus1 , I mentioned you in few issue , but can choose yourself at https://github.com/checkstyle/checkstyle/issues?q=is%3Aopen+is%3Aissue+label%3Aantlr

[2020-03-20 13:30] romani opened #7913 "Use spoon project to validate our code"
http://spoon.gforge.inria.fr/
https://github.com/INRIA/spoon

We need to figureout how to use it and for what types of validation to to do less during code review.

[2020-03-20 13:36] jokowncode commented on #7911
@bmhm Do not know why , IDEA does not apply MAVEN_OPTS when maven builds, but it is feasible to execute maven commands on the console. In other IDE, I haven't tested

[2020-03-20 13:37] romani commented on #6064
@zielint0 , to be honest I always wanted to try spoon , I never had a time to do this , but we try to apply all possible code analysis tool to your code, we have a lot of them already, but not a http://spoon.gforge.inria.fr/

I created https://github.com/checkstyle/checkstyle/issues/7913, I would appreciate if you help us start using it or explain in what validations checkstyle will benefit.

I wi

[2020-03-20 13:51] nmancus1 commented on #6376
[code]

[2020-03-20 13:58] romani opened #7914 "add spoon project to no-exception testing"
add spoon project to no-exception testing

discussed at
https://github.com/checkstyle/checkstyle/issues/6064#issuecomment-601704892

it is already at https://github.com/checkstyle/contribution/commit/50dcd17d41ba25fc7682816b57c9c4fa6cca0063

we need to activate it wercker config/sh script.
probably at https://github.com/checkstyle/checkstyle/blob/master/.ci/wercker.sh#L305 , so we will do two proj

[2020-03-20 14:54] romani commented on #7911
it is not first time when we make problems in non En locales.

the reason why we do not enforce local in maven for tests is because to check tests in all supported custom locales:
https://github.com/checkstyle/checkstyle/blob/53cddfd752c5a6b410a652ffb2bce2d9f6ff14ab/.travis.yml#L140-L145

but problems is Travis is not running `mvn verify` in Chinese, the most fragile part here is checkstyle part `

[2020-03-20 15:03] nmancus1 commented on #6376
Just to clarify the issue, this is the expected AST, right?
[code]

[2020-03-20 15:06] akki111singh commented on #7856
@romani What I figured is that this mutation is due to the reason that isIllegalImportByPackagesAndClassNames(importText) will always gives the same result as isIllegalImportByRegularExpressions(importText) beacuse.This may be due to reason that the regex will always match the whole package and class Names. So is there any need of isIllegalImportByPackagesAndClassNames(importText) this function

[2020-03-20 15:17] jokowncode commented on #7911
@romani Okay, but what do I have to do to interfere with Travis?

[2020-03-20 15:41] romani commented on #7911
Just update .travis.yml and put shell command in it

[2020-03-20 15:43] rnveach commented on #7856
Pitest is good. Branch is ok. I would actually hard code the `if (true) {` so as to not accidentally change more code than necessary that could affect regression.

Configs should be expanded to also include `illegalClasses` to be sure there is nothing else that could be impacting the mutation. Documentation states you should use all permutations possible for the check to cover as much as possible.

[2020-03-20 15:55] sulkykookie commented on #7737
I'm on it.

[2020-03-20 16:32] nmancus1 commented on #6376
I think if we create a new rule, based off of `classTypeSpec` that excludes Booleans in the parameters, and use that in the `typeParameterBounds` definition, that will solve this issue.

[2020-03-20 17:03] HuGanghui commented on #7914
I am on it.

[2020-03-20 17:35] akki111singh commented on #7856
hey @rnveach There was some misunderstanding
there were three issues:
  * "IllegalImportCheck.java.html:<td class='covered'><pre><span  class='survived'>        if (regexp) {</span></pre></td></tr>"
  * "IllegalImportCheck.java.html:<td class='covered'><pre><span  class='survived'>        if (!result &#38;&#38; illegalClasses != null) {</span></pre></td></tr>"
  * "IllegalImportCheck.java.html:<td

[2020-03-20 17:45] DXTkastb commented on #7854
@akki111singh yeah sure!

[2020-03-20 17:52] akki111singh commented on #7856
@rnveach
I added the test case and the the mutation is killed:
Here is the link to the report:
https://akki111singh.github.io/pit-reports2/20200320225/com.puppycrawl.tools.checkstyle.checks.imports/IllegalImportCheck.java.html

[2020-03-20 17:59] AnishaSrivastava1411 commented on #7765
@rnveach  Please assign the issue to me.

[2020-03-20 18:08] yajna-pandith commented on #7765
It has already been solved .

On Fri, 20 Mar, 2020, 11:29 PM Anisha, <notifications@github.com> wrote:

[2020-03-20 18:13] satakshigarg opened #7917 "Website Template Change"
Hey , I am new to github and being a java coder, I just came across your project. The first thing I researched was browsing the website.
I have a suggestion if it adds any value to your project. The webpage has an innovative logo but the font (red color) does not go well with the theme. In fact I feel, that instead of using white and grey as the background colors, you must go for black and grey, t

[2020-03-20 18:27] AnishaSrivastava1411 commented on #7765
Hi @yajna-pandith ,
I think you have mislabeled me or you want Anirvan Sarkar to work on  the issue?

[2020-03-20 18:53] yajna-pandith commented on #7765
My bad @AnishaSrivastava1411 . Go ahead but i think it is already solved . The below is the master branch with "ast" at all the appropriate places.
![UnnecessaryParantheses](https://user-images.githubusercontent.com/25138248/77196724-eb9c7b00-6b09-11ea-9ae1-0103d0053174.png)

[2020-03-20 20:07] rnveach commented on #7856
@akki111singh move all your comments to the issue you are working on and remove them from the wrong issue. If your ready for PR then start PR on that issue you are working on but if code is removed, as I stated, we need proof that the code can be removed.

[2020-03-20 20:15] rnveach commented on #6376
@nmancus1 Please edit your post at https://github.com/checkstyle/checkstyle/issues/6376#issuecomment-601711646 to be just the problem and remove any miscellaneous code. Such a big example does not help us clearly see the problem. Also combine it with your next post so we can see your resolution right next to problem.

[2020-03-20 21:11] zielint0 commented on #6064
@romani
AFAIK Spoon is a Java library to *low-level* processing Java source code. You can for example use its API to [detect empty catch blocks](http://spoon.gforge.inria.fr/first_analysis_processor.html).
[code]
Spoon has no *high-level* checkers (like FinalClass, HideUtilityClassConstructor, InnerTypeLast in Checkstyle).

[PVS-Studio](https://www.viva64.com/en/pvs-studio/) is a static analysis t

[2020-03-20 21:13] zielint0 commented on #7913
Use case 1: Write a mini static code analyzer based on Spoon to find specific problems in Checkstyle source code.

Use case 2: Use Spoon as a backend for Checkstyle.

[2020-03-20 21:46] rnveach commented on #7765
Issue is not resolved as there are no xpath tests to provide logging by AST is working.
See https://github.com/checkstyle/checkstyle/blob/53cddfd752c5a6b410a652ffb2bce2d9f6ff14ab/src/test/java/com/puppycrawl/tools/checkstyle/internal/XpathRegressionTest.java#L82

[2020-03-20 22:39] rnveach opened #7920 "Resolve Pitest Issues - RedundantImportCheck"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L90

[2020-03-20 22:40] rnveach opened #7921 "Resolve Pitest Issues - UnusedImportsCheck"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L91

[2020-03-20 22:42] rnveach opened #7922 "Resolve Pitest Issues - JavadocMethodCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L182

[2020-03-20 22:53] rnveach opened #7923 "Resolve Pitest Issues - JavadocMethodCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L183

[2020-03-20 22:53] rnveach opened #7924 "Resolve Pitest Issues - JavadocMethodCheck (3)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L184

[2020-03-20 22:54] rnveach opened #7925 "Resolve Pitest Issues - JavadocMethodCheck (4)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L185

[2020-03-21 01:25] AmrDeveloper commented on #7921
I am on it

[2020-03-21 02:22] hornta opened #7926 "[Indentation] Reports incorrect indentation"
Detailed Description is provided by @ksclarke .

Check documentation: https://checkstyle.org/config_misc.html#Indentation

[code]
Checkstyle config file:
[code]
Running Checkstyle audit:
[code]
My expectation is that this should pass the audit with no warnings. The second function passed to the method shouldn't be indented any further than the first one.

[2020-03-21 03:18] romani commented on #7926
Please strictly follow template, all details matters!
Without details .. issue will be closed.

[2020-03-21 05:59] akki111singh commented on #7854
# 1.Pitest  Report
* Link : https://akki111singh.github.io/pitest-reports/202003201414/com.puppycrawl.tools.checkstyle.checks.imports/IllegalImportCheck.java.html
* Surviving Mutations:
	on line 398 : 3. removed conditional - replaced equality check with true → SURVIVED
	on line 422 : 3. removed conditional - replaced equality check with true → SURVIVED
	on line 440 : 3. removed conditional - repl

[2020-03-21 06:14] esilkensen commented on #5629
Thanks @romani!

I "started a solution" on bountyhunter, it says

I wonder if that means this issue would need to be reopened and then closed again... I will try that quickly just to check.

[2020-03-21 06:18] esilkensen commented on #5629
That doesn't seem to have changed anything -- maybe I would have needed to find the issue in bountyhunter and "start working on it" before the original PR was merged.

[2020-03-21 07:10] akki111singh commented on #7854
@rnveach please review

[2020-03-21 07:18] sulkykookie commented on #7742
I'm on it.

[2020-03-21 07:41] Gaurav-Punjabi commented on #7925
I'm on it.

[2020-03-21 09:57] sulkykookie commented on #7922
I'm on it.

[2020-03-21 10:48] hornta commented on #7926
Thats what I did. I don't understand what's the problem?

[2020-03-21 10:56] Gaurav-Punjabi commented on #7920
I'm on it.

[2020-03-21 11:26] Abhishek-kumar09 commented on #7734
Please have a look on the commit:
the regression test for indentation is giving the unexpected error
For instance:
this is the regression test
[code]

The `expectedXpathQueries` and `expectedViolation` are all good and correct.
 Following is the content of `suppressionxpathregressionIndentation3.java` file, for checking wrong indentation in package declaration.
[code]

The error log is :
[code]

T

[2020-03-21 12:40] Abhishek-kumar09 commented on #7914
I am on it.

[2020-03-21 12:47] AmrDeveloper commented on #7848
@rnveach I fixed the problem but I can't find UT that can cover switch default case I think we covered all possible case for parent type so any suggestion what should I do because I got this error

    Rule violated for class com.puppycrawl.tools.checkstyle.checks.SuppressWarningsHolder: lines covered ratio is 0.98, but expected minimum is 1.00

![covered](https://user-images.githubusercontent.com

[2020-03-21 12:50] rnveach commented on #7854
Everything looks good to me.

[2020-03-21 13:10] rnveach commented on #7734
Xpath is failing to suppress the violation this is why no violations are expected.

[2020-03-21 13:15] rnveach commented on #7848
If you are ready, start a PR and we will discuss there.

[2020-03-21 13:39] rnveach commented on #7926
Issues with report:

Link isn't right.

/var/tmp $ java $RUN_LOCALE -jar checkstyle-X.XX-all.jar -c config.xml YOUR_FILE.java
This does not work on Windows.

We need output of CLI and to confirm what version you are using.

[2020-03-21 15:09] romani commented on #7696
no rules, but better to name it with issue name in front so in your case `7696-regexponfile-doc`

no, read https://github.com/checkstyle/checkstyle/blob/master/.github/PULL_REQUEST_TEMPLATE.md

there is no such command, you should use `mvn clean verify` only.

no, just make sure that `mvn clean verify` pass on your local and do PullRequest (PR)

[2020-03-21 15:28] nmancus1 commented on #6064
@romani Bountysource appears to be back up, but I don't see this issue on there.

[2020-03-21 15:36] DXTkastb commented on #7804
@rnveach I am generating pitest regression report for this check on different configurations but I receive this error:
`
Failed to execute goal org.apache.maven.plugins:maven-site-plugin:3.3:site (default-site) on project sample: Error during page generation: Error rendering Maven report: Failed during checkstyle configuration: Exception was thrown while processing /home/kaustubh/ck/contribution-m

[2020-03-21 15:38] Abhishek-kumar09 commented on #7734
Ok, I will do it. Thank you @rnveach

[2020-03-21 15:43] Gaurav-Punjabi commented on #4352
@romani So we need to update the code of `run-link-check-plugin.sh` to skip CI Execution base on commit files. Correct?

[2020-03-21 15:44] rnveach commented on #7804
Please ensure you have the following lines in your config.
https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/my_check.xml#L9-L13

[2020-03-21 16:03] hornta commented on #7926
But that command does not work on Windows

[2020-03-21 16:04] rnveach commented on #6707
@romani Please confirm how this issue should be fixed. ELLIPSIS token was added by user request as seen in PR. Google doc specifies between annotation and `...`. I think we enforce no space before only if there is no annotation.

[2020-03-21 16:22] Abhishek-kumar09 commented on #7734
Should I check it with `checkstyle-8.30-all.jar` (It is giving error: `Exception in thread "main" java.lang.IllegalStateException: Unknown name:suppressions.
`)
[code]
or should I do with other cli commands from checkstyle regression tools.

[2020-03-21 17:46] romani commented on #6192
Either is ok

[2020-03-21 18:42] Abhishek-kumar09 commented on #7923
I am on it.

[2020-03-21 19:07] rnveach commented on #7926
Please use the window's equivalent. This is why I provided the cmdline link. It should have a windows version. You can also provide a PR to update the issue template to specify the windows variant if it is not descriptive enough for Windows users.

[2020-03-21 19:13] rnveach commented on #7734
https://checkstyle.org/cmdline.html#Command_line_usage
Option `-g` will print the xpath suppression for the configuration and file. Use the file that is causing the issue and recreate the configuration from your UT.

After you show us that run, use the suppression it generates as part of the xpath single filter and see if you can suppress the violation.
https://checkstyle.org/config_filters.html#S

[2020-03-21 20:01] shashwat70 commented on #7690
I'm on it!

[2020-03-21 20:04] romani commented on #7675
@Serranya, please share all output  as requested in template. We need version of checkstyle you used, ply make sure it is latest

[2020-03-21 20:23] romani commented on #5629
@esilkensen, reopened, please try again.

[2020-03-21 21:12] esilkensen commented on #5629
Thanks @romani, no luck unfortunately, I tried emailing support@bountysource.com just now so maybe they will have an idea, but if not, no big deal 🙂

[2020-03-21 21:25] romani commented on #5629
https://www.bountysource.com/issues/56305623-mismatchedtokenexception-on-annotated-varargs I see button "solve issue" what happening why you press it ?

[2020-03-21 21:59] esilkensen commented on #5629
I see this screen after pressing it:
![image](https://user-images.githubusercontent.com/94125/77237328-ed5b5280-6b8c-11ea-908c-e7822c627f34.png)

[2020-03-21 22:03] #5629 closed

[2020-03-21 22:03] rnveach commented on #5629
Try now.

[2020-03-21 22:29] romani commented on #5629
@esilkensen , I got notification that you started to work on issue, please try to claim it.

[2020-03-21 22:38] romani commented on #6064
@nmancus1 , issue reopened, there should be button "solve issue" , please try again.

[2020-03-21 22:51] esilkensen commented on #5629
Looks like that worked, I was able to claim it now, thank you both!

[2020-03-21 23:02] romani commented on #6707
it is really sad that I for some reason approved issue that is not followed issue template .... right now it is not very clear what cases we try to resolve.

@HuGanghui , please do me a favor and make a comment in this issue and provide CLI output of current behavior and with `type annotation and [] or ....`.

[2020-03-22 02:26] nmancus1 commented on #6064
Ok! Done.

[2020-03-22 02:33] #6064 closed

[2020-03-22 02:33] romani commented on #6064
Please claim bounty

[2020-03-22 05:33] yajna-pandith commented on #7876
https://yajna-pandith.github.io/site-reports-7876/index.html
Failsafe, surefire, jacoco, dsm, pmd and all the other reports are in the above link.

[2020-03-22 09:15] strkkk commented on #7677
@romani @rnveach I added "approved" label since you are ok with this check

[2020-03-22 09:49] Gaurav-Punjabi commented on #7920
Pitest report :
https://gaurav-punjabi.github.io/checkstyle/issue-7920/pit-reports/202003221458/com.puppycrawl.tools.checkstyle.checks.imports/RedundantImportCheck.java.html#grouporg.pitest.mutationtest.report.html.SourceFile@f8857d3_120

Surviving mutation :
`removed conditional - replaced equality check with true → SURVIVED`

Hardcoded mutation :
[Gaurav-Punjabi@b2a587b](https://github.com/Gaura

[2020-03-22 10:51] Abhishek-kumar09 commented on #7734
`generate-xpath-suppression` is not working for Indentation.

[code]
Thinking that I am doing something wrong, I tried on other module and that worked without an issue and xpathsupression is generated successfully. for instance,
[code]
Am I doing something wrong with indentation test or is it a new checkstyle issue.

Thanks @rnveach

[2020-03-22 12:04] eant60 opened #7940 "Errors parsing new Java-14 switch statements/expressions"
[NI.txt](https://github.com/checkstyle/checkstyle/files/4365163/NI.txt)
Name of affected check:

Not Applicable -- issue is with parsing Java-14.

------------------------
Example code builds under Java-14
------------------------

[redacted]$ cat __javac.sh
#!/bin/bash
###########

JAVAC="${DJAVA_HOME}/bin/javac -Xlint -Xmaxerrs 1000"

echo
echo ===========================
echo doing javac: $(${J

[2020-03-22 13:37] harsh-kukreja commented on #7855
Hey @rnveach
(Pitest Report)
 https://harsh-kukreja.github.io/pitest-report/com.puppycrawl.tools.checkstyle.checks.imports/IllegalImportCheck.java.html
(Line number 422)

Hardcoded commit

https://github.com/harsh-kukreja/checkstyle/commit/335b00f8da662fdce2c53d1f3deb1fc2b91ae703

Diff report
On the way

[2020-03-22 13:48] rnveach commented on #7855
@harsh-kukreja
https://harsh-kukreja.github.io/pitest-report/com.puppycrawl.tools.checkstyle.checks.imports/IllegalImportCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@1194697_422
Pitest report is not correct. Expected line should math line in pitest.sh . It looks like pitest was run on mutated branch and not checkstyle master. Report needs to be run on master so we can see what is

[2020-03-22 14:00] harsh-kukreja commented on #7855
So @rnveach basically you want me to remove the line in pitest.sh and rerun the report command?

[2020-03-22 14:03] rnveach commented on #7855
You must pitest report on a clean checkstyle master branch. We expect no changes to be done to the branch or the report. We want to see what is being reported right now to help us understand how to fix it.

[2020-03-22 14:07] rnveach commented on #7734
You are right, it is my fault. You will need to work with the all jar created from your PR branch. `log(DetailAST)` is required for xpath suppression to work and it is only in your PR branch as this work shows. Sorry.
Command to create jar is `mvn --batch-mode -Pno-validations clean package -Passembly`. It will be stored in target folder.

[2020-03-22 14:19] romani commented on #2986
@gaurabdg , this is very old issue, it was created before we enforced strict issue template, please make a comment and share CLI output as we demand in issue termplate it will make issue absolutely clear on what is behavior now and what we should expect as coorrect, I will copy your comment content to issue description.

[2020-03-22 14:24] rnveach commented on #7920
https://gaurav-punjabi.github.io/checkstyle/issue-7920/pit-reports/202003221458/com.puppycrawl.tools.checkstyle.checks.imports/RedundantImportCheck.java.html#grouporg.pitest.mutationtest.report.html.SourceFile@f8857d3_120

Issue is not shown in pitest report. Pitest shows 100% coverage on class where our CI tells us differently.

Did you run pitest report on a clean checkstyle master branch?

[2020-03-22 14:26] Gaurav-Punjabi commented on #7920
No I updated this report. Let me check.

[2020-03-22 14:26] Marti2203 commented on #7692
I am on it.

[2020-03-22 14:26] gaurabdg commented on #2986
Sure, on it.

[2020-03-22 14:35] Gaurav-Punjabi commented on #7920
@romani Updated the report. Please check again.

[2020-03-22 14:37] Abhishek-kumar09 commented on #7734
[code]
Suppression xpath is not generated with the new checkstyle jar, and the detailLogAST changes are applied.
[code]

[2020-03-22 14:41] rnveach commented on #7734
@romani ping

@Abhishek-kumar09 Can you examine why CLI reports no suppression while IT tests generates a suppression?
If you feel this is too complex, I would move on to another issue.

[2020-03-22 14:48] romani commented on #7734
please move this to another issue, we should merge this PR sooner, in new issue lets mention that IT should be fixed.

[2020-03-22 14:51] Abhishek-kumar09 commented on #7734
I can try.

[2020-03-22 14:56] harsh-kukreja commented on #7855
I have update the same comment @rnveach, please check

[2020-03-22 14:58] rnveach commented on #7734
@Abhishek-kumar09 I am sorry for conflicting messages. @romani thinks its better to just move on. Please save this PR and start a new PR to update documentation that Indentation will not be supported to the issue is resolved. Please put all details of issue into this main issue for us to come back to later.

[2020-03-22 15:41] Abhishek-kumar09 commented on #7734
Should I update release notes of checkstyle 8.30 with the message?

Should a new Issue be created to address this problem about `Suppression xpath is not generated for indentation`?

[2020-03-22 17:22] pkpale commented on #7641
i am on it

[2020-03-22 18:06] nmancus1 commented on #3151
From https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/src/main/resources/com/puppycrawl/tools/checkstyle/grammar/java.g#L825-L829

If we match the SEMI before building `variableDefinitions`, then append add it as a child, like this:
[code]

It will produce a tree like this:

[code]
Is this the expected tree?

[2020-03-22 19:46] Gaurav-Punjabi commented on #6722
@sd1998 are you still working on this?
If not can I work on this one?

[2020-03-22 20:08] DXTkastb commented on #7804
**Pitest report:**
https://dxtkastb.github.io/checkstyle/reports/202003212115/com.puppycrawl.tools.checkstyle.checks.imports/CustomImportOrderCheck.java.html

**Surviving Mutation:**
Line 771: if (bestMatch.group.equals(NON_GROUP_RULE_GROUP)) {
removed conditional - replaced equality check with true → SURVIVED

**Hardcoded Branch:**
https://github.com/DXTkastb/checkstyle/commit/dece5da573a105cbb98

[2020-03-22 20:30] DXTkastb commented on #7924
I'm on it.

[2020-03-22 20:35] nmancus1 commented on #3151
Ok, so I've been studying this for awhile, and the resulting Java code hoping to figure out what is happening here.  As far as I can tell, this:

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/src/main/resources/com/puppycrawl/tools/checkstyle/grammar/java.g#L899-L902

is working as expected, creating comma separated variable definitions. I want to make sure

[2020-03-22 21:28] harsh-kukreja commented on #5826
Hey @romani / @rnveach do we just implement spellcheck in travis or locally too?

[2020-03-22 21:49] romani commented on #7609
it is not good approach, as it will block you ability to produce new code while you are waiting for review, please read https://checkstyle.org/beginning_development.html#Starting_Development on how to manage git.

[2020-03-22 21:53] romani commented on #7609
@maheshkulkarni123OS , please read attentively "PLEASE READ" section in issue, and make code examples as requested(config, java file, CLI output)

[2020-03-22 21:59] gaurabdg commented on #2986
@romani Issue description comment update:
[code]
Before:
[code]

After:
[code]

[2020-03-22 22:04] romani commented on #7874
@SunJiFengPlus , I removing you from assignments, as you need to start from "gsoc first issue", there is not any PR in three days, you should not block issue to resolve.

[2020-03-22 22:24] romani commented on #7917
You can suggest new design, but beware that is we will not like it (it will subjective decision) we will not accept it.
FYI: Current design was proposed a while ago by one of our friend who is artist (out of 4 we selected this). https://github.com/checkstyle/resources/tree/master/img/style_experiments

Here are all resources: https://github.com/checkstyle/resources/tree/master/img

[2020-03-23 00:02] nmancus1 commented on #6064
Claimed! Thanks again.

[2020-03-23 00:33] romani commented on #7913
@zielint0, is there ready to use rules ( validation implementations) for well known problems ?

[2020-03-23 01:45] #7750 closed

[2020-03-23 01:46] romani commented on #7750
Fix is merged

[2020-03-23 02:40] SunJiFengPlus commented on #7925
I'm on it.

[2020-03-23 05:51] nmancus1 commented on #3151
@rnveach is this what you had in mind, as far as the structure goes?  If this is OK, I will go ahead and create a DCL_LIST token and submit a PR.  I think that we can probably replace this https://github.com/checkstyle/checkstyle/blob/38a84fc4152f5a60db2161332c8df35ce7375d61/src/main/resources/com/puppycrawl/tools/checkstyle/grammar/java.g#L880-L887 with the new `VariableDeclaratorList`.

[2020-03-23 06:47] strkkk commented on #7914
Fix is merged

[2020-03-23 06:47] #7914 closed

[2020-03-23 06:48] developerhb commented on #7696
@romani @timurt I am getting build failure error in `mvn clean verify` command. Here is a picture of the error message.

![buildfailure](https://user-images.githubusercontent.com/53093601/77289637-59aa9300-6d00-11ea-821f-f3c693b1c2b0.PNG)

[2020-03-23 06:57] strkkk commented on #7854
Fix is merged

[2020-03-23 06:57] #7854 closed

[2020-03-23 07:01] timurt commented on #7696
@developerhb
Could you please provide some earlier logs?
Somewhere in the logs you can find reason what caused the `BUILD FAILURE`

[2020-03-23 07:59] developerhb commented on #7696
Is there in file which keeps log of this?

[2020-03-23 08:18] timurt commented on #7696
@developerhb you can write results of execution to file `mvn clean verify > text.file`

Just copy paste part of logs, which causes the problem

[2020-03-23 09:03] satakshigarg commented on #7917
Thank you for your reply. I will send you the design as soon as it is
ready. And I will try make sure that you like the design.

Satakshi Garg

On Mon, Mar 23, 2020, 3:54 AM Roman Ivanov <notifications@github.com> wrote:

[2020-03-23 09:44] ritvij14 commented on #7745
I am on it.

[2020-03-23 11:00] zielint0 commented on #7913
@romani

There are [some examples](https://github.com/SpoonLabs/spoon-examples/tree/master/src/main/java/fr/inria/gforge/spoon/analysis) like [finding empty methods](https://github.com/SpoonLabs/spoon-examples/blob/master/src/main/java/fr/inria/gforge/spoon/analysis/EmptyMethodBodyProcessor.java
) but I am not sure if you consider it as a well know problem. PVS-Studio uses Spoon to find problems i

[2020-03-23 11:17] strkkk commented on #7693
Fix is merged

[2020-03-23 11:17] #7693 closed

[2020-03-23 11:58] #7737 closed

[2020-03-23 11:58] rnveach commented on #7737
Fix was merged

[2020-03-23 12:13] #7732 closed

[2020-03-23 12:13] rnveach commented on #7732
Fix was merged

[2020-03-23 12:50] rnveach commented on #7920
Pitest report and regression look good.

[2020-03-23 14:20] developerhb commented on #7696
@timurt @romani

Test:
`[INFO] -------------------------------------------------------`
`[INFO]  T E S T S`
`[INFO] -------------------------------------------------------`
`[INFO] Running com.puppycrawl.tools.checkstyle.ant.CheckstyleAntTaskTest`

Result:
`[WARNING] Tests run: 3198, Failures: 0, Errors: 0, Skipped: 2`

The two skipped tests are:
`[WARNING] Tests run: 2, Failures: 0, Errors: 0, Sk

[2020-03-23 14:22] Gaurav-Punjabi commented on #6722
@romani Can I work on this issue? Since it hasn’t been touched in the last 3 months.

[2020-03-23 15:57] Abhishek-kumar09 commented on #7742
I am on it.

[2020-03-23 16:01] ritvij14 commented on #7745
@MEZk sir, can you please tell me how to work with points 2 and 4 of what you said in #5777.

[2020-03-23 17:32] Ituninant opened #7948 "Add Enhanced Switch support"
This code:
[code]

Fails with "The source file could not be parsed by CheckStyle"

[2020-03-23 17:35] #7948 closed

[2020-03-23 18:04] pkpale commented on #7736
i am on it

[2020-03-23 18:05] pkpale commented on #7736
@romani can you help me to resolve this issue.
I read bit about Xpath and about checkstyle filter from https://checkstyle.org/config_filters.html but didn't get much idea.

[2020-03-23 18:08] pkpale commented on #7923
i am on it

[2020-03-23 19:47] romani commented on #7648
Fix is merged

[2020-03-23 19:47] #7648 closed

[2020-03-23 19:56] Gaurav-Punjabi commented on #2810
I'm on it.

[2020-03-23 21:10] harsh-kukreja commented on #7855
@rnveach should i create a PR or i should wait for your confirmation?

[2020-03-23 21:12] DXTkastb commented on #5573
I'm on it.

[2020-03-23 21:17] rnveach commented on #7855
@harsh-kukreja You can start a PR but you have provided no guidance on what you plan to do since regression showed no cases to go by. If you can analyze the code and create a UT from it, then that is the best path. If you feel the only option is to remove the code to kill the mutation, then you need to prove to us why the code is not needed and won't cause any issues by removing it.

[2020-03-23 21:32] rnveach commented on #7804
Pitest report, mutated branch, and regression look good.

Please point to this code that this statement comes from. So absolutely under no other circumstance will some other rule override those 2 in this scenario? Please provide that proof too.

Is there some other way to rewrite the code to kill the mutation besides removing the if condition? It seems like wasted effort to run `findBetterPatternM

[2020-03-23 22:15] Abhishek-kumar09 commented on #7734
wrong indentaion log is caught at some points, please see https://github.com/Abhishek-kumar09/checkstyle/commit/86a45dca502a2db953f7f0d6336648cd1531387c#r38003427

[2020-03-23 22:40] gaurabdg commented on #6481
I am on it, to expand my understanding of xpath. Planning to work after my existing PRs get merged.

[2020-03-23 22:59] harsh-kukreja commented on #7855
@rnveach I removed `!result` because whatever the input string comes this line will get executed so there is no point adding this !result

if we want the if to not to work we can do the following:

[code]
Or else let the mutation survive

[2020-03-24 01:02] harsh-kukreja commented on #3145
Hey @romani / @rnveach how do i go about changing the grammar? Can you refer me to some documentations?

[2020-03-24 01:09] rnveach commented on #3151
I don't have a preference as long as it makes sense from a programmer who is trying to make a new check that uses the structure. If the structure doesn't follow a pattern, then sometimes you have to make weird overrides in the code when trying to use similar code on different AST types or the same AST type with a small difference added.

We try to replicate the JLS grammar so we can start with tha

[2020-03-24 01:22] rnveach commented on #3145
There is no documentation in checkstyle if that is what you are referring to. We use ANTLR 2.7 so you can google online and learn about ANTLR and find its documentation.

[2020-03-24 01:27] rnveach commented on #7746
Fix was merged

[2020-03-24 01:27] #7746 closed

[2020-03-24 01:46] Gaurav-Punjabi commented on #7599
I'm on it.

[2020-03-24 02:30] nmancus1 commented on #3151
The existing code always appends the SEMI to the first child.  I think that if we modify the `variableDeclarator` rule to grab the SEMI when parsing and attach it to the variable definition, we can avoid this issue.

https://github.com/checkstyle/checkstyle/commit/234a316caa2316b3d98774b4194383b8841a76e4

[2020-03-24 09:19] harsh-kukreja commented on #3145
Okay @rnveach thanks for the reply

[2020-03-24 10:25] harsh-kukreja commented on #7855
@rnveach please rply

[2020-03-24 10:55] timurt commented on #7696
@developerhb Hi
As far as I know `ant-phase-verify.xml` is responsible for validating Checkstyle source code across Checkstyle checks.

`Got 73 errors and 0 warnings` means your changes violates some check rules.
Please, read again your logs and find all logs starting with `[ERROR]`, probably you fill them.
To find these errors you can use pipelines like `mvn clean verify | grep ERROR`

Hope this

[2020-03-24 13:29] strkkk commented on #7666
Fix is merged

[2020-03-24 13:29] #7666 closed

[2020-03-24 13:40] harsh-kukreja commented on #2446
Hey @rnveach / @romani this issue does not reproduce the expected output so i think we can close this opened issue

[2020-03-24 14:26] wltan commented on #7473
I am on it.

Since we prefer false negative to false positive, I'll start with a very simple rule: ignore all `throws` when it is inside lambda or `try` block. This should remove all false positives within the scope of this issue.

[2020-03-24 15:44] strkkk commented on #7612
Fix is merged

[2020-03-24 15:44] #7612 closed

[2020-03-24 15:51] developerhb commented on #7696
Hii @timurt , @romani .

I solved all the errors. I was having some silly errors like unnecessary whitespaces, tabs, lines exceeding 100 characters.

I have created the Pull Request. Please review it.

[2020-03-24 15:55] DXTkastb commented on #7804
private String getImportGroup(boolean isStatic, String importPath) {
        RuleMatchForImport bestMatch = new RuleMatchForImport(NON_GROUP_RULE_GROUP, 0, 0);
        if (isStatic && customImportOrderRules.contains(STATIC_RULE_GROUP)) {
            bestMatch.group = STATIC_RULE_GROUP;
            bestMatch.matchLength = importPath.length();
        }
        else if (customImportOrderRules.contai

[2020-03-24 15:56] DXTkastb commented on #7804
@rnveach please review

[2020-03-24 16:02] gaurabdg commented on #6481
thanks a lot

[2020-03-24 16:48] Gaurav-Punjabi commented on #2813
I'm on it.

[2020-03-24 16:50] harsh-kukreja commented on #5685
Hey @romani according to the conventions we should not allow users to write a code like this, isn't it?

[code]

Instead, Users should write a code
[code]
OR
[code]

[2020-03-24 17:27] Benschio commented on #7769
I've edited the description with the CLI output.
I'm creating a PR as soon as the issue is approved. Thanks a lot for reviewing the issue! :)

[2020-03-24 18:36] DXTkastb commented on #7758
@romani I need some assistance, where should I log() when ast is null?

[2020-03-24 20:03] DXTkastb commented on #7759
I'm on it.

[2020-03-24 20:21] kalakandi commented on #7766
@yajna-pandith are you still working on this issue, i want to work on this one

[2020-03-24 20:30] Sadgrinner commented on #7884
Thanks, @romani !  I've updated my bug report to follow the issue template from https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F as you requested, including prints of config file, input file, the CLI command I used, as well as the xml file generated *by* the CLI call.

I also propose an xml with new fields.

[2020-03-24 23:09] rnveach commented on #3151
Again I would have to see the actual tree being generated to give an opinion. If you have a solution, open a PR and tests will force you to showcase a tree for existing AST prints.

[2020-03-25 00:12] harsh-kukreja commented on #6233
Hey @romani can we solve this issue by amending the tree which is generated by the existing grammar in `Treewalker.java` we can write the following function that basically copies the Shadowed comment node and adds it as a child to the previous method's Modifiers
[code]
Does this look fine?

[2020-03-25 02:17] rnveach commented on #7758
We are not AST to ever be `null` when calling a `log` method. If there is an instance where it can be `null` point out to us the specific code that causes the AST to be null and why it is null.

[2020-03-25 02:34] rnveach commented on #7855
return true;

This is not possible as it would violate our checkstyle rule that there should only be 1 return statement in a method.

We prefer to avoid this at any circumstance if we cannot find a way to kill and we know for sure the code is needed (or atleast sure enough that it is not a good idea to remove it).

As the code is written right now line 423 - 428 will not get executed because the `

[2020-03-25 02:47] rnveach commented on #7736
@pkpale Look at worked done by other contributors for similar issues and it will give you an idea of what needs to be done. https://github.com/checkstyle/checkstyle/issues?q=label%3A%22gsoc+second+issue%22+is%3Aclosed

[2020-03-25 02:52] rnveach commented on #5685
Indentation is not strictly about how could should be written but how it should be formatted, or specifically idented on each line. Users may have their code written like this for a specific reason, like they prefer single lined try/catch when it is 1 statement, but they ran out of space due to max line length and had to split it up into 2 different lines.

To me, based on the user's config, the v

[2020-03-25 02:57] rnveach commented on #2446
@harsh-kukreja Please provide us example as described in https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F to prove to use the issue is no longer present on the current version of checkstyle and we can close this issue.

[2020-03-25 04:30] developerhb commented on #7728
I am on it

[2020-03-25 04:34] developerhb commented on #7728
@rnveach @romani Hii.

Currently I am working on issue #7696. After its completion I would like to work on this issue. Please provide me more details about what I need to do.

Do I need to have prior knowledge about any module? If so, please provide me details of that too.

[2020-03-25 05:09] DXTkastb commented on #7758
@rnveach
https://github.com/checkstyle/checkstyle/blob/18b792ebc5b6d5a2d427ccf61a45b122ba90ff53/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/PackageDeclarationCheck.java#L140-L149

Here ast is null for a test on this file:
https://github.com/checkstyle/checkstyle/blob/18b792ebc5b6d5a2d427ccf61a45b122ba90ff53/src/test/resources/com/puppycrawl/tools/checkstyle/checks/coding/packagedec

[2020-03-25 08:04] esilkensen commented on #6233
@harsh-kukreja I think the code change for this issue might involve updating the [`JavaParser. appendHiddenCommentNodes(DetailAST root)`](https://github.com/checkstyle/checkstyle/blob/18b792ebc5b6d5a2d427ccf61a45b122ba90ff53/src/main/java/com/puppycrawl/tools/checkstyle/JavaParser.java#L150) method.

It sounds like for the example in the original post, which had an AST like
[code]
instead we want

[2020-03-25 08:39] wilcoln commented on #7925
I'm on it.

[2020-03-25 12:55] harsh-kukreja commented on #7855
Yes @rnveach you are right the if line at 422 will not get executed if there is illegalPackage import.
Removing `!result` will just increase our compilation time which we don't want to. So we need to keep the `!result ` in the code
There will be no difference in the output if we put both illegal(package and class) then too the result will be same because the `result` was set to true in the illegal

[2020-03-25 13:01] harsh-kukreja commented on #6233
Yes @esilkensen the code block which i wrote does the same thing. I thought was to traverse the tree again and if get nextSibling as a comment node then to pick the current node and put it in the child of previous modifier.
According to convention our grammar is right because whenever `}` comes it should start a new method_def or modifier.

[2020-03-25 14:06] nmancus1 commented on #3082
I'm on this.

[2020-03-25 14:19] harsh-kukreja commented on #2446
[code]
Here it is @rnveach

[2020-03-25 15:31] HuGanghui commented on #6707
@romani ok,~
Output of configure the check:
$ cat config.xml
[code]
$ cat Test.java
[code]
$ RUN_LOCALE="-Duser.language=en -Duser.country=US"
$ java $RUN_LOCALE -jar /var/tmp/checkstyle-8.31-SNAPSHOT-all.jar -c config.xml Test.java
Starting audit...
[ERROR] /var/tmp/Test.java:7:32: '...' is preceded with whitespace. [NoWhitespaceBefore]
Audit done.
Checkstyle ends with 1 errors.

[2020-03-25 16:17] rnveach commented on #7855
And there is no way to rewrite the code to give us the same benefit as well as removing the mutation?

For example, do we need to execute both loops or can we know ahead to only execute one? In this case this looks to be a yes, but, again, it is just an example.

It is not desirable, but it may be the only solution unless you can provide us another workaround.

[2020-03-25 16:20] wltan opened #7957 "Update type definitions for OneTopLevelClass"
From https://github.com/checkstyle/checkstyle/pull/7905#discussion_r396111327

Currently, our logic defines class, interface, and enum types as candidates for top-level types. It was mentioned in https://github.com/checkstyle/checkstyle/pull/7905#discussion_r396111327 that [annotation type declarations](https://docs.oracle.com/javase/tutorial/java/annotations/declaring.html) should be considered a

[2020-03-25 16:25] harsh-kukreja commented on #7855
How can we execute only one loop as the first loop checks for illegalpackage and other checks for illegalclass the solution i thought was the block of code which i gave

[2020-03-25 16:27] rnveach commented on #7855
@harsh-kukreja As stated above, it was just an example and I already said we couldn't do that and current tests should prove that if we did change the code.

[2020-03-25 19:51] rnveach commented on #2446
Thanks. Doing a little bit of regression, it seems the issue was resolved in version 8.0 with the release of #3134 .
https://checkstyle.org/releasenotes.html#Release_8.0

Since the issue reported can't be reproduced now and is believed to be fixed, I will close the issue.

[2020-03-25 19:51] #2446 closed

[2020-03-25 20:07] DXTkastb commented on #7758
**Update:**
 This solution isn't working correctly if we increase no. of comments in that empty file.

[2020-03-25 20:29] rnveach commented on #7758
I am not a fan of this. AST should be required as it is needed for xpath support. We lose xpath support if we can't provide AST.

Please provide more information if you need guidance form us. This is the method I would prefer us to take for logging the AST when we have it.

[2020-03-25 20:30] rnveach commented on #7758
It seems xpath cannot be fully supported in this check without modifications elsewhere. We should update documentation for this issue that xpath is only partially supported for this check. I think we should change the code for now to call 2 separate logs depending on if we have the AST or not.

@romani ping

[2020-03-25 20:55] DXTkastb commented on #7758
The method I mentioned is not correct as it works fine only when a single comment is given in a file. Incase more or no comments are there` log(1, 0, MSG_KEY_MISSING);` this too fails.(I am assuming that package declaration should be made after the comments from the beggining of the file)
If there is no issue about the location of the package declaration then this solution works fine. It will alwa

[2020-03-25 20:55] harsh-kukreja commented on #7855
Hey @rnveach
[code]

We can write the code like this by concatenating both of them

[2020-03-25 20:58] harsh-kukreja commented on #5826
Hey @romani / @rnveach please rply

[2020-03-25 21:28] jordanjennings commented on #7103
With the release of Java 14 and the second preview of text blocks appearing to be the final syntax per [JEP-378](https://openjdk.java.net/jeps/378), it would be fantastic to add this support. Looks like some good work underway as of January to do it. Any chance of it getting integrated soon?

[2020-03-25 22:21] nmancus1 commented on #3151
Is it ok to submit a PR that won't pass mvn clean verify?  I need some advice since my changes have made the OneStatementPerLineCheck unhappy, and I'm struggling to find a good solution.

[2020-03-25 22:21] ImmortalRabbit commented on #7872
I am on it.

[2020-03-26 00:55] rnveach commented on #7742
Fix was merged

[2020-03-26 00:55] #7742 closed

[2020-03-26 01:18] rnveach commented on #3151
Yes, if you need help, starting PR is the best. I still want to see one case of printing new tree to see what we are now dealing with.

[2020-03-26 01:20] rnveach commented on #5826
I am not sure what you are referring to. We have a spellchecker as part of travis which can be run locally.

[2020-03-26 01:22] rnveach commented on #7758
The most important thing is we don't expect line numbers to change with regression. Adding new column number for the cases where we will now log by AST is ok.

[2020-03-26 02:20] SunJiFengPlus commented on #7873
i am on it

[2020-03-26 04:15] Rainy0707 commented on #7643
I am on it

[2020-03-26 04:16] Rainy0707 commented on #7640
I am on it

[2020-03-26 05:10] DXTkastb commented on #7758
I haven't changed line no,

https://github.com/checkstyle/checkstyle/blob/18b792ebc5b6d5a2d427ccf61a45b122ba90ff53/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/PackageDeclarationCheck.java#L143

log(1, 0, MSG_KEY_MISSING);

DEFAULT_LINE_NUMBER is actually 1. Just a replacement.

[2020-03-26 07:04] strkkk commented on #7920
Fix is merged

[2020-03-26 07:04] #7920 closed

[2020-03-26 07:31] sulkykookie commented on #7922
### 1. Pitest Report
https://sulkykookie.github.io/issue4/202003261154/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html
Surviving Mutation: ```negated conditional → SURVIVED``` at line 1042

### 2. Mutated Branch
Hardcoded commit: a155943
Since the surviving mutation is ```negated conditional → SURVIVED```, it would be better to get rid of the ```if``` statement complete

[2020-03-26 11:00] nmancus1 commented on #3082
Can I work on this?

[2020-03-26 11:56] DXTkastb commented on #7647
i'm on it.

[2020-03-26 14:25] pbludov opened #7969 "Set up JDK 14 build in CI"
Travis and appveyor already support Java 14, so we have to set up a build with it.

[2020-03-26 14:29] pbludov commented on #7969
https://www.appveyor.com/docs/windows-images-software/#java
JDK 14 is only for Visual Studio 2019 image, we have to upgrade

[2020-03-26 14:44] AmplifiedHuman commented on #7643
I am on it

[2020-03-26 15:13] Gaurav-Punjabi commented on #7589
I'm on it.

[2020-03-26 15:42] sulkykookie commented on #7922
@strkkk Please review

[2020-03-26 16:39] rnveach commented on #7922
Pitest and branch look good.

Regression only has the default module and this check has many properties. https://checkstyle.org/config_javadoc.html#JavadocMethod_Properties

We expand regression to more different instances as described in https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#checkstyle-pitest-regression .

[2020-03-26 16:46] harsh-kukreja commented on #7615
I'm on it

[2020-03-26 17:06] DXTkastb commented on #7759
@rnveach This check operates on a plain text file.(java file read as text to obtain any regex pattern)
I don't think AST has any part in this. Passing ast to log() won't make any sense. Please correct me if I am wrong.
https://github.com/checkstyle/checkstyle/blob/3b3f7240264dfb7045fc08ab28c5d731ee989ca7/src/main/java/com/puppycrawl/tools/checkstyle/checks/regexp/RegexpCheck.java#L598-L613

I am a

[2020-03-26 20:43] harsh-kukreja commented on #7626
I'm on it

[2020-03-26 23:24] rnveach commented on #7855
It seems to me that just creates more work than  just removing the condition as we now have to concat them and then turn them back into an array again.

I have thought about this and don't have any ideas either. I can't see a way around just not removing the condition.

Feel free to start a PR to remove the code.

[2020-03-26 23:40] rnveach commented on #7957
Please also include template reporting in description. See https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F .

Check already considers enumerations. https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/design/OneTopLevelClassCheck.java#L134

The same documentation clarifies Class and Interfaces.
https://docs.oracle.com/javase/spec

[2020-03-27 03:07] AmplifiedHuman commented on #7643
I am getting this error after running `mvn clean verify`
`AllTestsTest.testAllTestsHaveProductionCode:68->walk:81->lambda$testAllTestsHaveProductionCode$3:69->grabAllFiles:115->getSimplePath:253 » StringIndexOutOfBounds
`
Is there a specific reason why this is happening?

[2020-03-27 06:40] #5969 closed

[2020-03-27 06:40] #7675 closed

[2020-03-27 06:40] strkkk commented on #5969
Fix is merged

[2020-03-27 06:41] strkkk commented on #7675
Fix is merged

[2020-03-27 09:57] shashwat70 commented on #7873
I'm on it!

[2020-03-27 10:40] wltan commented on #7957
My bad, I forgot that the `ClassDeclaration` and `InterfaceDeclaration` have their own definitions that include enums and annotations. There should be no problems then, just adding annotation types will cover all 4 definitions.

First comment has been updated with the template run.

[2020-03-27 10:58] sulkykookie commented on #7922
@rnveach check now

[2020-03-27 13:19] nmancus1 commented on #7874
I'm on it!

[2020-03-27 17:19] ritvij14 commented on #7745
@romani / @rnveach / @bmhm sir, can you please guide me a little as to what to do with points 2 and 4 of what @MEZk sir said in issue #5777

[2020-03-27 18:04] mradulrathore commented on #7687
I'm on it.

[2020-03-27 21:09] gaurabdg commented on #7469
I am on it.

[2020-03-28 03:26] nmancus1 commented on #7874
Pitest Report: https://nmancus1.github.io/Issue-7874/com.puppycrawl.tools.checkstyle.checks.imports/ImportOrderCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@7ea147e3_820
Surviving mutation: `removed conditional - replaced equality check with false → SURVIVED`
Hardcoded mutation: https://github.com/nmancus1/checkstyle/commit/561eabc1f3060f5c186cf223b65c395c80ef6e08
Diff report: htt

[2020-03-28 05:11] romani commented on #7572
@mradulrathore, please help to fix issue.

[2020-03-28 07:06] mradulrathore commented on #7572
I'm on it.

[2020-03-28 07:36] sulkykookie commented on #7623
I'm on it.

[2020-03-28 09:11] strkkk commented on #7694
Fix is merged

[2020-03-28 09:11] #7694 closed

[2020-03-28 09:13] gaurabdg commented on #3946
I am on it

[2020-03-28 11:24] mradulrathore commented on #7572
@romani, I am getting this error while running mvn -X clean verify:
https://gist.github.com/mradulrathore/fa34a252009d62a5853d221bf1037a49

[2020-03-28 12:18] bmhm opened #7976 "Add OpenJ9 to build chain"
Similar to https://github.com/checkstyle/checkstyle/issues/7969

We only build against oracle openjdk. while most other JDKs do use the same classloading mechanisms and garbage collectors, one does stand out: OpenJ9. It is a former IBM JDK (IBM J9) which now belongs to the Eclipse Foundation.

At https://adoptopenjdk.net  you can download both adopt-hotspot (the oracle openjdk rebuilt) and adopt-o

[2020-03-28 13:16] shashwat70 commented on #7743
Please let me know if I can work on this issue. @romani

[2020-03-28 13:33] romani commented on #7572
[[1;31mERROR[m] testAllCheckSectionJavaDocs  Time elapsed: 0.572 s  <<< ERROR!
java.lang.Error: Error was thrown while processing src/main/java/com/puppycrawl/tools/checkstyle/checks/annotation/MissingDeprecatedCheck.java
	at com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest.examineCheckSection(XdocsJavaDocsTest.java:138)
	at com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest.te

[2020-03-28 14:28] romani commented on #2986
this issue might be fixed without any changes to Check, user need to add one more filter module to his config - use https://checkstyle.org/config_filters.html#SuppressionSingleFilter

[code]

[2020-03-28 14:35] strkkk commented on #7615
Fix is merged

[2020-03-28 14:35] #7615 closed

[2020-03-28 14:39] harsh-kukreja commented on #6233
hey @esilkensen, please reply, if the above method is fine?

[2020-03-28 14:53] esilkensen commented on #6233
I think it sounds good to give it a shot and open a PR as soon as you are ready.

[2020-03-28 15:03] romani commented on #7569
fix is merged.
@PrabodDunuwila , thanks a lot for update, it was big but very valuable update.

[2020-03-28 15:03] #7569 closed

[2020-03-28 15:05] nmancus1 commented on #7874
https://github.com/checkstyle/checkstyle/blob/2625cbbffa197852208f702b11c474d403d717b0/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java#L820-L825

This code is redundant, but I'm not sure it should be removed.  This:
[code]
passes `mvn -Dtest=ImportOrderCheckTest test` and `mvn -Dtest=ImportOrderCheckTest test`, but doesn't make the intention clear that we want to

[2020-03-28 15:08] pbludov commented on #7976
This can be done with [install-jdk.sh raw mode](https://travis-ci.community/t/eclipse-openj9-support/2262/2)

[2020-03-28 15:09] akki111singh commented on #7833
I am on it. Are we supposed to add Code of Conduct here @romani ?

[2020-03-28 15:53] #7721 closed

[2020-03-28 15:53] rnveach commented on #7721
Fix was merged

[2020-03-28 16:01] rnveach opened #7977 "Resolve Pitest Issues - JavadocMethodCheck (5)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L186

[2020-03-28 16:01] rnveach opened #7978 "Resolve Pitest Issues - JavadocMethodCheck (6)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L187

[2020-03-28 16:02] rnveach opened #7979 "Resolve Pitest Issues - JavadocMethodCheck (7)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L188

[2020-03-28 16:03] rnveach opened #7980 "Resolve Pitest Issues - JavadocMethodCheck (8)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L189

[2020-03-28 16:03] wltan commented on #6745
Can I also request that the formatting of the description be slightly adjusted? Right now there are quite a few terms being **bolded**, but I don't think it is necessary to bold all of them.

I propose that all the property names being mentioned (`ignoreAnnotationCanonicalNames`, `allowPublicFinalFields`, `allowPublicImmutableFields`) can remain bolded to be consistent with `ThrowsCount` documenta

[2020-03-28 16:05] rnveach opened #7981 "Resolve Pitest Issues - DetectorOptions"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L51

[2020-03-28 16:06] rnveach opened #7982 "Resolve Pitest Issues - RegexpCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L52

[2020-03-28 16:07] rnveach opened #7983 "Resolve Pitest Issues - RegexpCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/f9131f9536c71d963c83aab1550b7a0371aa9ff5/.ci/pitest.sh#L53

[2020-03-28 16:23] rnveach commented on #7874
Pitest report, mutation branch, and regression look good from what I see.

Please explain more. Since you are now talking about changing code or removing code, we need to have a deeper analysis of why code isn't working like it was probably intended. I suggest walking through the mutated branch where a case goes to opposite condition that the normal code would have prevented and see why the change

[2020-03-28 16:33] wltan commented on #6582
I am on it. Adding the `ignoreStaticFinal` property is doable, but whether or not it is suitable for google style is a question for another day. (answer is probably no for the reasons above)

[2020-03-28 16:37] bmhm commented on #7976
I usually use jabba, but that would also work

[2020-03-28 16:38] rnveach commented on #7922
Multiple config instances can be run inside 1 run. You don't need to split it out for each config.

I assume you mean to remove the if and leave the code inside it? Why does removing the condition but leaving the code have no effect? We don't care if class name has a `$` or not?

It is checking class name, not file name. So are you saying we don't even have an outer class? Are we tracking somethin

[2020-03-28 16:50] rnveach commented on #7759
@romani ping

It looks like this check isn't AST based and shouldn't even be `AbstractCheck` really. It looks like we will have to create an override to ignore this check from being part of xpath suppression and maybe look to convert it to `AbstractFileSetCheck` in the future.

[2020-03-28 16:51] rnveach commented on #7759
@DXTkastb Please move forward like I described. This check will never support xpath so it should be removed to avoid any confusion with users.

[2020-03-28 16:59] sulkykookie commented on #7922
I'm gonna look more into the code.

About the regression report, as there are so many properties with so many possible values, there can be so many permutations. How do I proceed about that?

[2020-03-28 17:09] rnveach commented on #7855
Fix was merged

[2020-03-28 17:09] #7855 closed

[2020-03-28 17:51] wilcoln commented on #7846
I'm on it.

[2020-03-28 17:53] Gaurav-Punjabi commented on #7982
I'm on it.

[2020-03-28 18:32] AMFIRNAS commented on #7619
I am on it

[2020-03-28 19:05] akki111singh commented on #7983
I am on it

[2020-03-28 19:43] nmancus1 commented on #7874
Thanks for encouraging me to dig deeper.  I have found a case.  When we have two static imports like this:
[code]
When evaluated by `if (caseSensitive)` the two containers are correctly evaluated lexicographically, and compareTo returns a positive value (17) meaning that they are in the wrong order, per `isWrongOrder`.  If we mutate caseSensitve to false, these two statements evalute to -15, which

[2020-03-28 20:06] mradulrathore commented on #7572
@romani, how to find jar file for command:
java -jar /var/tmp/checkstyle-8.31-all.jar -c config.xml Test.java

[2020-03-28 20:20] nmancus1 commented on #7874
Here is my fix: https://github.com/nmancus1/checkstyle/commit/63bd1e4bf7949f433a2eda654d2957eab8811a84
Here is the pitest report: https://nmancus1.github.io/Issue-7874/pitest_2/202003281608/com.puppycrawl.tools.checkstyle.checks.imports/ImportOrderCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@59127824_820

Let me know if we're good, then I'll submit a PR.

[2020-03-28 20:53] nmancus1 commented on #7290
Is this what you would expect?

[code]

I haven't ran regression on this yet, but if this is the expected tree, I can start on this. `mvn clean verify` builds no problem with my changes.

[2020-03-28 22:01] romani commented on #7759
Yes, I confirm that this Check is grey area.
It is `AbstractCheck` based on long history, and it looks like it need to be changed to be based on `AbstractFileSetCheck` but it will be huge damage for compatibility. We already did same problem with `LineLenght` it was tough for community to migrate. It is better to avoid such problem again and just keep it in this list of `Currently, filter does not

[2020-03-28 22:01] romani commented on #7760
@ImmortalRabbit , please read https://github.com/checkstyle/checkstyle/issues/7759#issuecomment-605525287
you should do the same update.

[2020-03-28 22:08] rnveach commented on #7874
@nmancus1 If you have found a case that kills pitest mutation without rewriting code, then you are free to start a PR to close this issue.

[2020-03-28 22:19] rnveach commented on #7922
Since you are going to examine the code more, I would use the knowledge you gain to narrow down which properties matter and which don't. Your first batch was a pretty good start and shows blindly doing more regression may not get you anymore answers than you have know. Regression will not be the answer to all pitest problems. It could be a case where we need specific set of properties or a input f

[2020-03-28 22:22] rnveach commented on #7957
@romani I am approving this issue since there seems to be no doubt that annotation definitions should be included.

[2020-03-28 22:27] rnveach commented on #7758
@DXTkastb I am failing to see what assistance you need. If we have an AST we want to log by that. If there is no way we have an AST connected to the line, then we can't convert the log. In my mind, it seems this check will have 1 of each, and it will be half supported and half not. We don't expect any drastic changes in regression except adding the column number to the cases we will support.

[2020-03-28 22:39] romani opened #7984 "AbstractJavadocCheck should have method(s) to log violation by AST"
noticed at https://github.com/checkstyle/checkstyle/pull/7775

The same as Java checks do [logging of violation by AST](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/AbstractCheck.java#L223), we should do this for Javadoc violations.
Right now we do this like `log(textNode.getLineNumber(), textNode.getColumnNumber(), MSG_KEY);`

[2020-03-28 22:39] romani commented on #7984
@rnveach , please review proposal

[2020-03-28 22:53] rnveach commented on #7984
@romani I take it you actually mean to log by AST in a Javadoc Check as we already have an issue to start logging by Javadoc's DetailNode?#5770

[2020-03-29 04:01] #7984 closed

[2020-03-29 04:03] romani commented on #5770
We need to add new method first and start migration of Checks. Some Checks might be reasonable to stay on line:column. We also should give some period for all possible Checks outside our repo to migrate.

[2020-03-29 04:18] rnveach commented on #5770
@romani When you say a new method, do you wish a similar one to the AST? If so, the one problem is the required methods mentioned at https://github.com/checkstyle/checkstyle/issues/5770#issuecomment-386693230 are private and would need to be made protected for us to access them. This would mean any check that extends them would have access too as `AbstractCheck` is not an intermediator like `TreeW

[2020-03-29 05:03] romani commented on #5770
Yes

[2020-03-29 05:21] nmancus1 commented on #7756
@romani I haven't worked on a `gsoc second issue` yet, and all others are taken.  There has been no activity related to this issue in 18 days, can I work on this?

[2020-03-29 05:24] shashwat70 commented on #5624
I'm on it!

[2020-03-29 07:03] wilcoln commented on #7981
I'm on it.

[2020-03-29 07:47] gaurabdg commented on #3946
@rnveach @romani I am done with modifying the parsing and have created an UT to enforce this new fomatting. So shall I submit a PR with all the confi_*.xml fixes because disabling the UT till the end and fixing one file per PR might overlook a few errors.

[2020-03-29 08:57] gaurabdg commented on #7980
I am on it

[2020-03-29 09:11] wltan commented on #7957
This is the regression report for https://github.com/wltan/checkstyle/commit/a7506f2cad0870673efccd5cb978abe8f6218408 which builds off the changes in #7905. I'll open a PR for this once #7905 is resolved.

https://wltan.github.io/checkstyle-reports/2020-03-29/onetoplevel-annotation/

[2020-03-29 09:12] strkkk commented on #7290
@nmancus1 thank you.
Can you please show what is the difference between usual instanceof and enhanced one?
Is it only last ident?

[2020-03-29 09:33] wilcoln commented on #7981
**Pitest report before**
- Link: https://wilcoln.github.io/checkstyle-reports/pit-reports/detector-before/com.puppycrawl.tools.checkstyle.checks.regexp/DetectorOptions.java.html
- Surviving mutations: on line 121 `removed conditional - replaced equality check with true → SURVIVED`

**Hardcoded mutation**
Useless, as class is not a check.

**Regression diff reports**
Useless, as class is not a chec

[2020-03-29 09:41] wilcoln commented on #7981
@rnveach, please review.

[2020-03-29 10:22] kasince2k commented on #7686
I am on it!

[2020-03-29 10:22] sulkykookie commented on #7922
I have a small doubt regarding the traversal of the tree.
So suppose the case:
[code]

In this case, the ```beginTree(DetailAST ast)``` function starts and
https://github.com/checkstyle/checkstyle/blob/fab949ad62a4ec520afe4924c181a1c304533d4c/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L382
executes making ```currentClassName``` as nothing. So when the ast

[2020-03-29 11:40] HuGanghui commented on #7977
I am on it.

[2020-03-29 12:58] nmancus1 commented on #7290
That's correct, I've just modified the `relationalExpression` rule to catch an optional `IDENT` after the `typeSpec`.  I though that would be the simplest way to implement this with the least amount of other changes.

[2020-03-29 13:17] rnveach commented on #3946
If you are ready for a PR, then submit one.

[2020-03-29 13:39] #7623 closed

[2020-03-29 13:39] strkkk commented on #7623
Fix is merged

[2020-03-29 14:33] romani opened #7987 "use RegexpSingleline Check to validate amount of tests in Xpath tests"
there was a lot of comments in PRs that test classes in suppressionxpathfilter should have 2 or more test methods.

This example clearly showed that maintainers tend to forgot this:
https://github.com/checkstyle/checkstyle/pull/7935/files#r399724307

We need Checkstyle to help. There is Check - RegexpSingleline.
Extended doc is at https://github.com/checkstyle/checkstyle/pull/7714

We need to vali

[2020-03-29 14:34] romani commented on #7987
@Malintha1996 , please help us to resolve this issue.

[2020-03-29 14:51] Malintha1996 commented on #7987
on it

[2020-03-29 14:59] romani commented on #7677
fix is merged.

[2020-03-29 14:59] #7677 closed

[2020-03-29 15:03] strkkk commented on #7290
May be it will be better to make this part as VARIABLE_DEF token?
Usually, code like `String s;` is parsed as variable definition.
I seems better, but I guess there is gonna be more regression in this case.

[2020-03-29 17:37] harsh-kukreja commented on #7979
I'm on it

[2020-03-29 17:45] Gaurav-Punjabi commented on #7979
1. Pitest report:
https://gaurav-punjabi.github.io/checkstyle/issue-7982/com.puppycrawl.tools.checkstyle.checks.regexp/RegexpCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@6b957611_524

2. Surviving mutation:
`removed conditional - replaced equality check with false → SURVIVED`

3. Hardcoded mutation:
[Gaurav-Punjabi@a143755](https://github.com/Gaurav-Punjabi/checkstyle/blob/a14375

[2020-03-29 17:46] Gaurav-Punjabi commented on #7982
1. Pitest report:
https://gaurav-punjabi.github.io/checkstyle/issue-7982/com.puppycrawl.tools.checkstyle.checks.regexp/RegexpCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@6b957611_524

2. Surviving mutation:
`removed conditional - replaced equality check with false → SURVIVED`

3. Hardcoded mutation:
[Gaurav-Punjabi@a143755](https://github.com/Gaurav-Punjabi/checkstyle/blob/a14375

[2020-03-29 18:01] pzygielo opened #7989 "Consider adding note to RN of 8.31 about required maven plugin update"
Please consider adding to [Release Notes 8.31](https://checkstyle.org/releasenotes.html#Release_8.31) note, that update of maven plugin is required. With 3.1.0 (only 0.0.1 away from the latest) plugin following happens:
[code]

It seems that plugin was prepared for that in [maven-checkstyle-plugin-3.1.1](https://github.com/apache/maven-checkstyle-plugin/releases/tag/maven-checkstyle-plugin-3.1.1).

[2020-03-29 18:18] nmancus1 commented on #7290
@strkkk How would this be:

[code]

[2020-03-29 18:20] harsh-kukreja commented on #7979
Hey @rnveach or @strkkk

As per my knowledge we can see for each JavadocMethodCheck a new instance will be created so whenever this method is called a new object itself will be created of `currentTypeParams`

Pitest report:
https://harsh-kukreja.github.io/JavadocMethodCheckPitestReport/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html#org.pitest.mutationtest.report.html.S

[2020-03-29 18:31] wltan commented on #6845
I am on it. There seems to be some problems with pitest in #6860, will look into that to see what's going on.

[2020-03-29 20:35] koppor opened #7992 "java 14 switch expression syntax is not supported"
Refs https://github.com/checkstyle/checkstyle/issues/7969 and https://github.com/checkstyle/checkstyle/issues/7103

[JDK 14 has been released](https://openjdk.java.net/projects/jdk/14/). It supports [advanced switch statements](https://openjdk.java.net/jeps/361)

[code]

When checkstyle encounters such code, it just cannot parse the file.

[2020-03-29 20:49] strkkk commented on #7290
I like this approach more.
@romani @rnveach @pbludov what do you think, how AST should look like?

[2020-03-29 20:56] akki111singh commented on #7983
# 1.Pitest  Report
* Link : https://akki111singh.github.io/pit-reports/202003300159/com.puppycrawl.tools.checkstyle.checks.regexp/RegexpCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@20613304_638
* Surviving Mutations:
	removed conditional - replaced equality check with false → SURVIVED
        removed conditional - replaced equality check with true → SURVIVED

[2020-03-29 20:59] zielint0 commented on #7677
Thank you very much Andrei! :-)

[2020-03-29 21:25] srividyavaishnavi commented on #7811
I m on it

[2020-03-29 21:26] srividyavaishnavi commented on #7697
I am on it

[2020-03-29 22:49] #7697 closed

[2020-03-29 22:51] romani commented on #7697
fix is merged.
@Malintha1996 , thanks a lot for your help

[2020-03-30 00:09] romani opened #7996 "LineLength is ignored in codeship config"
detected at https://github.com/checkstyle/checkstyle/pull/7938/files#r399871740

code like:
[code]

does not trigger violation.

[2020-03-30 05:17] wilcoln commented on #7996
I'm on it.

[2020-03-30 07:19] wltan commented on #6845
I tried mirroring the changes in #6860, but it seems to be failing our current set of UTs. I'm guessing something else has been changed since then and this fix is no longer viable.

Going to unassign myself from this for now, anyone is free to pick up this issue.

[2020-03-30 07:22] gaurabdg commented on #2785
@romani What is the status on this?

[2020-03-30 07:48] jflefebvre06 opened #7999 "java 14 pattern Matching for instanceof not supported"
[code]
Error: `antlr.MismatchedTokenException: expecting RPAREN, found 'i'`

[2020-03-30 08:28] strkkk commented on #7999
Closed as duplicate of https://github.com/checkstyle/checkstyle/issues/7290

[2020-03-30 08:28] #7999 closed

[2020-03-30 10:13] #7738 closed

[2020-03-30 10:13] strkkk commented on #7738
Fix is merged

[2020-03-30 11:40] AMFIRNAS commented on #7581
I'am on it

[2020-03-30 13:04] romani commented on #7992
it will be fixed at some time before September 2020.

[2020-03-30 13:06] romani commented on #7969
it might be good to do this in separate commit or PR, there might be more nuances.

[2020-03-30 13:21] romani commented on #6722
@Gaurav-Punjabi , please help us to resolve this issue.

[2020-03-30 13:33] Gaurav-Punjabi commented on #6722
I'm on it.

[2020-03-30 13:54] strkkk commented on #7992
@romani  there is same issue https://github.com/checkstyle/checkstyle/issues/6615
I guess this or other one should be closed

[2020-03-30 14:09] koppor commented on #6615
Updated JEP: [JEP-361](https://openjdk.java.net/jeps/361). Included in [JDK 14](https://openjdk.java.net/projects/jdk/14/).

(Thus closing out https://github.com/checkstyle/checkstyle/issues/7992)

[2020-03-30 14:10] #7992 closed

[2020-03-30 16:51] harsh-kukreja commented on #5826
I thought we need to integrate shellcheck into travis as discussed

[2020-03-30 17:02] AMFIRNAS commented on #7635
I am on it

[2020-03-31 06:36] srividyavaishnavi commented on #7504
I am on it

[2020-03-31 06:38] wilcoln commented on #7504
@srividyavaishnavi  you can't. I claimed it first.

[2020-03-31 06:48] srividyavaishnavi commented on #7940
i am on it

[2020-03-31 06:52] srividyavaishnavi commented on #7911
i am on it

[2020-03-31 07:00] srividyavaishnavi commented on #7576
i am on it

[2020-03-31 07:01] srividyavaishnavi commented on #7575
i am on it

[2020-03-31 07:30] strkkk commented on #7940
Closed as duplicate of https://github.com/checkstyle/checkstyle/issues/6615

[2020-03-31 07:30] #7940 closed

[2020-03-31 09:34] wb9688 opened #8004 "ignoreSetter for HiddenField not working"
I have the following in my `checkstyle.xml`:

[code]

And I have the following code:

[code]

However I'm still getting `'useMiniVariant' hides a field. [HiddenField]` when running Checkstyle 8.31 through the Gradle plugin.

[2020-03-31 09:36] #8004 closed

[2020-03-31 09:37] wb9688 commented on #8004
Sorry, I now see there is a `s` behind my method name.

[2020-03-31 10:31] strkkk commented on #7589
Fix is merged

[2020-03-31 10:31] #7589 closed

[2020-03-31 10:39] shashwat70 commented on #6200
I'm on it!

[2020-03-31 10:43] shashwat70 commented on #7727
Are you working on this? @AnishaSrivastava1411
If not, may I try to fix it?

[2020-03-31 11:39] zielint0 commented on #7889
@HuGanghui
Hi, any progress with it?

[2020-03-31 13:16] wltan opened #8005 "config_naming has inconsistent tag usage"
https://checkstyle.org/config_naming.html
In the documentation, the `<source>` tag is typically used to mark configuration examples.

![image](https://user-images.githubusercontent.com/53135010/78029635-819a9600-7393-11ea-86f5-193f466faa5f.png)

However, this is not the case for some of the examples. The `<pre>` tag is used instead.
![image](https://user-images.githubusercontent.com/53135010/78029

[2020-03-31 15:04] akki111singh commented on #7983
@romani  please review

[2020-03-31 17:32] DXTkastb commented on #7804
@rnveach ping

[2020-03-31 18:19] sulkykookie commented on #7922
@rnveach please check

[2020-03-31 19:54] rnveach commented on #7981
Class is used by a check. It is no different than a utility class or a private static method. They can all be atleast touched on by regression. If we have an external class used by a check, then all checks that use that class must be put through regression.

I agree with the rest of your analysis so I don't feel we need more regression.

[2020-03-31 19:58] #7981 closed

[2020-03-31 19:59] rnveach commented on #7981
Fix was merged

[2020-03-31 21:23] ImmortalRabbit commented on #7759
Are you sure about that?

Because if I do it, the test fails
[code]

Actually, it fails right here:

[code]

I could change XpathRegressionTest.INCOMPATIBLE_CHECK_NAMES but it used in XpathRegressionTest and it fails. Also, we may try to add the bottom of list small paragraph that says `Reason for 'Regexp' can be found here #7759)` or something else.

[2020-03-31 22:23] gaurabdg commented on #7980
I am on it

[2020-03-31 23:51] rnveach commented on #8005
They are being validated. The validation isn't working here because of the wrong tag usage. Using `source` should start the validation and report the invalid XML.

[2020-04-01 00:32] gaurabdg commented on #7980
@rnveach My addition of an UT after analyzing the code logic has solved 3 other issues as well #7923 #7924 #7925 .
How do you want me to go about submitting a PR? Shall I just mention the other 3 in description and this issue in the commit/pr message?

[2020-04-01 01:35] rnveach commented on #7980
@gaurabdg Please post the requested reports when you submit your PR. Reference this PR as the issue number and report to the other issues that your PR solves them. The first to PR gets to finish the issues.

[2020-04-01 05:34] shashwat70 commented on #8005
I'm on it!

[2020-04-01 05:47] nmancus1 commented on #7290
The ANTLR grammar regression test is still running, but here's the results of the normal regression tests, using `checktstyle_checks.xml`, broken into three parts:
https://nmancus1.github.io/Issue-7290/diff_1/index.html
https://nmancus1.github.io/Issue-7290/diff_2/index.html
https://nmancus1.github.io/Issue-7290/diff_3/index.html

I will update this comment with a link to the grammar regression te

[2020-04-01 06:15] HuGanghui commented on #7297
I am on it

[2020-04-01 06:21] wltan commented on #8005
That's good to know. Once everything is converted to `source` the syntax errors will automatically surface.

Go ahead. It's a simple fix anyway.

[2020-04-01 06:25] shashwat70 commented on #8005
I observed a similar issue in https://checkstyle.org/config_blocks.html as well. @wltan

[2020-04-01 08:21] wilcoln commented on #7981
Understood

[2020-04-01 11:42] gaurabdg commented on #7980
## 1. Pitest Report:
https://gaurabdg.github.io/checkstyle-tester-reports/pitest/JavadocMethodCheck/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html#grouporg.pitest.mutationtest.report.html.SourceFile@45cb5b80_1078
Surviving Mutation:  `negated conditional → SURVIVED`

## 2. Mutated Branch:

Hardcoded Mutation Commit: https://github.com/gaurabdg/checkstyle/commit/cd24f3b

[2020-04-01 11:51] Abhishek-kumar09 commented on #525
Hello @romani
Should I start working on this logic https://github.com/checkstyle/checkstyle/issues/525#issuecomment-138905442.

Secondly, we need to add this configuration particularly for IntelliJ IDEA, as configuration below is true for eclipse https://github.com/checkstyle/checkstyle/blob/230e3650c2e718e2fb9eee11d56b8814f7fa06bd/config/checkstyle_checks.xml#L474

Should we  make a new configura

[2020-04-01 13:05] rnveach commented on #7980
This is a slight concern that we had to use reflection.

Maybe I missed it, but can you explain why we need reflection and can't hit this code naturally? If this can't be hit naturally, then can you also explain why we need the code and shouldn't remove it?

[2020-04-01 13:37] harsh-kukreja commented on #7979
@rnveach please rply

[2020-04-01 14:35] gaurabdg commented on #7980
@rnveach It is being hit naturally when `processTypeParams` is being executed, but I wanted to capture the return value of `createClassInfo` to determine the instance whether it is a `RegularClass` or `ClassAlias`.

[2020-04-01 15:15] rnveach commented on #7980
Why doesn't a real case help you determine this and it can only be done during reflection? Is this determination needed to kill the mutation or just an extra check? If it is needed to kill the mutation, then this goes back to why do we need this to kill the mutation and we can't create a natural case.

We prefer natural cases instead of having to use reflection and make the test more complicated t

[2020-04-01 15:21] gaurabdg commented on #7980
@rnveach We cannot check the instance through simple `log`ging. It gets consumed by `ExceptionInfo` and other subsequent method calls and doesn't help to kill the mutation. So, we need to do the checking to kill the mutation at the return value of `createClassInfo`.

I can document why the reflection is needed. On a side note I got the idea of using reflection since it was used to test the `toStri

[2020-04-01 16:34] sulkykookie commented on #7922
@rnveach I can't proceed without knowing where im lacking please help me with this.

[2020-04-01 16:38] #7722 closed

[2020-04-01 16:38] rnveach commented on #7722
Fix was merged

[2020-04-01 16:53] rnveach commented on #7980
Ok, I am getting a bit lost.

https://gaurabdg.github.io/checkstyle-tester-reports/pitest/JavadocMethodCheck/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@45cb5b80_1078

This is the mutation this issue is trying to kill. This has nothing to do with class types, but is checking how many items are in the list. According to

[2020-04-01 17:51] gaurabdg commented on #7980
1. At first, with all the default inputs, ` classInfo = paramMap.get(name)` never got a non null result.
2. But when I introduced the chain of type parameter extension in a new input : X extends Comparable , Z extends X,
it got a non null result from the hashmap
3. `if (classInfo != null)` passed and `break` was executed.
4. So, here we got a non null `classInfo` return.
5. But if we would have ne

[2020-04-01 19:32] rnveach commented on #7983
Please confirm. When all 3 booleans are false (`ignore || illegalPattern || checkForDuplicates`), `errorCount` condition kicks in before they are checked and that is why the mutation survives? What about when `ignore` is true and the others are false, it is still not plays any role? Is there a direct connection why this is?

[2020-04-01 19:33] rnveach commented on #7979
@harsh-kukreja What question am I replying to?

[2020-04-01 19:53] christianhujer opened #8010 "Java: CommentsIndentation false positive for comments in multiline arguments"
https://checkstyle.org/config_misc.html#CommentsIndentation

[code]

Checkstyle reports that the comment `//@formatter:on` is at a wrong level of indentation, which it isn't.

Expected behavior: comments within round parentheses are expected to be indented the same way as other lines within the round parentheses.

Actual behavior: Checkstyle reports a warning `CommentIndentation` about the comment

[2020-04-01 19:56] harsh-kukreja commented on #7979
Is my report correct if i remove that line ?

[2020-04-01 20:14] DXTkastb commented on #7978
I'm on it.

[2020-04-02 02:38] sulkykookie commented on #7692
I'm on it.

[2020-04-02 02:38] sulkykookie commented on #7630
I'm on it.

[2020-04-02 02:39] sulkykookie commented on #7628
I'm on it.

[2020-04-02 02:39] sulkykookie commented on #7627
I'm on it.

[2020-04-02 02:39] sulkykookie commented on #7622
I'm on it.

[2020-04-02 02:39] sulkykookie commented on #7616
I'm on it.

[2020-04-02 02:40] sulkykookie commented on #7611
I'm on it.

[2020-04-02 02:40] sulkykookie commented on #7610
I'm on it.

[2020-04-02 02:40] sulkykookie commented on #7608
I'm on it.

[2020-04-02 04:10] wltan commented on #8010
Before an admin complains about it, here is a sample run from the issue template:
[code]
Agreed that it seems to be related to #2998.

[2020-04-02 06:28] shashwat70 opened #8011 "Wrong tag usage in NeedBraces Check"
https://checkstyle.org/config_blocks.html
The source tag isn't used in the examples section of NeedBraces Check.

![2020-04-02](https://user-images.githubusercontent.com/52609734/78216911-8c127800-74d8-11ea-8dac-8c852cd9bb52.png)

Hence, I'm requesting to change the ```<pre>``` tags to ```<source>``` to ensure that they are validated.

[2020-04-02 08:14] gaurabdg commented on #7175
I am on it

[2020-04-02 09:32] strkkk commented on #7874
Fix is merged

[2020-04-02 09:32] #7874 closed

[2020-04-02 10:44] akki111singh commented on #7983
When ```ignore``` is true and other are false then ```(ignore || illegalPattern || checkForDuplicates)``` will give true and therefore the function depends on the ```errorCount``` condition.

[2020-04-02 12:59] romani commented on #7630
@sulkykookie , I removed your "I am on it" on all issues except for 2, you have no pull requests  (PRs) at all. Please do not assign on yourself a lot of issues, take new assignment only if you are waiting for review of all previous PRs.

[2020-04-02 13:07] sulkykookie commented on #7630
Hi,
I don't have a PR as of now as I'm stuck with a gsoc-third-issue and I haven't got any replies on it since 5 days and that's why im not able to proceed with it.

Link:
https://github.com/checkstyle/checkstyle/issues/7922

[2020-04-02 17:58] DXTkastb commented on #7978
**Pitest report:**
https://dxtkastb.github.io/checkstyle/reports/javadoc/pit-reports/202003280119/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html

**Surviving Mutation:**

line :408
 if (dotIdx == -1) {
 1. negated conditional → SURVIVED

**Hardcoded Branch:**
https://github.com/DXTkastb/checkstyle/blob/7e200cb325fa9bc5a0078f3bba9127f7fe7516de/src/main/java/com/puppycra

[2020-04-02 19:52] gaurabdg commented on #6216
I am on it

[2020-04-02 23:08] gaurabdg commented on #6216
@romani @rnveach Since description attributes are supplied through annotations and they need to be compile time constant how do we plan to implement this. I did all the generation from xdoc content to hashmap in `Main.java` and then realized.
One option is if we refactor the code from annotation based model to a programmatic API based approach: https://picocli.info/picocli-programmatic-api.html

[2020-04-03 00:17] rnveach opened #8014 "Resolve errors reported by Travis Build Config Validation"
Identified at https://travis-ci.org/github/checkstyle/checkstyle/builds/670098380/config when clicking "View Config" and expanding the list in "Build config validation":

[code]

We should look into what is being reported and see if we can resolve them.

[2020-04-03 06:09] Malintha1996 commented on #7987
done

[2020-04-03 08:09] sulkykookie commented on #7922
@rnveach

From what I have gathered from the code until now is the only property requiring the ```currentClassName``` variable is ```validateThrows```. As can be seen in the code:
https://github.com/checkstyle/checkstyle/blob/834b505b9938e93f6950dd20a13e39e295e5ac86/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L485

which further calls ```getThrows``` and ``

[2020-04-03 08:46] uhafner opened #8016 "Improve option `allowMissingPropertyJavadoc` in `MissingJavadocMethod` for Builders"
The check  `MissingJavadocMethod` provides a property `allowMissingPropertyJavadoc`, so that setters like

[code]
 do not require a documentation.

I'm very often using the Builder pattern for my classes (and IntelliJ provides a simple refactoring to create builders.) and they create slightly modified setters that allow method chaining.

[code]
It would be nice if CheckStyle would allow a suppress

[2020-04-03 08:51] shashwat70 commented on #6200
Could you please explain me what needs to be done. I read the comments and went through the discussion in the closed PR.
By what I could figure out, I need to update ```CustomImportOrderCheck.java``` to make sure that static and non static groups aren't separated within themselves and are separated from each other. I need to do this without introducing any new property like those present in ```Imp

[2020-04-03 08:55] pbludov commented on #7969
done.

[2020-04-03 10:00] #7846 closed

[2020-04-03 10:01] strkkk commented on #7846
Fix is merged

[2020-04-03 10:19] harsh-kukreja opened #8018 "OperatorWrapCheck no violation if single line comment after operator"
https://checkstyle.sourceforge.io/config_whitespace.html#OperatorWrap

`javac Test.java`
No output

config.xml
[code]
Test.java
[code]
[code]

Expected Behaviour:
[code]

[2020-04-03 11:07] strkkk commented on #7626
Fix is merged

[2020-04-03 11:07] #7626 closed

[2020-04-03 12:56] romani opened #8019 "resolve FileTabCharacter violations in test resources"
leftover from #4100 , detected at https://github.com/checkstyle/checkstyle/pull/7775#discussion_r402314244

FileTabCharacter is still disabled at `checkstyle_resources_checks.xml`

When activated there bunch violations `File contains tab characters (this is the first instance). [FileTabCharacter]`

Some Inputs are created with tabs by design, so such files should be placed to suppress at `checksty

[2020-04-03 12:59] romani opened #8020 "resolve Trailing whitespace violations in test resources"
leftover from #4100 , detected at https://github.com/checkstyle/checkstyle/pull/7775#discussion_r402314244

FileTabCharacter is still disabled at `checkstyle_resources_checks.xml`

When activated there bunch violations ` Trailing whitespace [RegexpSingleline]`

[code]

[2020-04-03 13:08] romani commented on #7183
new Check is merged.
thanks a lot @0blivious , for make it happen.

[2020-04-03 13:08] #7183 closed

[2020-04-03 13:11] romani commented on #7632
fix is merged.

[2020-04-03 13:11] #7632 closed

[2020-04-03 13:21] #8005 closed

[2020-04-03 13:21] rnveach commented on #8005
Fix was merged

[2020-04-03 13:21] #7812 closed

[2020-04-03 13:22] romani commented on #7812
fix is merged.

[2020-04-03 13:25] shashwat70 commented on #8020
I'm on it!

[2020-04-03 14:14] shashwat70 commented on #8019
I'm on it!

[2020-04-03 15:27] runfalk opened #8023 "Allow unsupported syntax, like record classes"
In a new project we are using Java 14 Record classes (preview feature). The problem is that checkstyle crashes when parsing record classes with methods like:

[code]

It sort of works with an error when there are no methods.

While I appreciate that you may not want to add support for a feature that is subject to change, it would be very helpful to have some way of skipping checks for new syntax.

[2020-04-03 15:41] gaurabdg commented on #7452
I am on it

[2020-04-03 15:48] rnveach commented on #8023
Most likely this won't be possible without excluding the entire file. To be able to skip a record class, we need to know when it starts and when it ends. It is impossible to make this determination without parsing out every little bit and this will require the full implementation to be supported.

You will have to exclude the files from being processed until we add support for this preview feature

[2020-04-03 17:05] runfalk commented on #8023
Maybe this could be supported by allowing plugins to preprocess the files before checkstyle look at them?

[2020-04-03 19:42] pbludov commented on #7290
Note that the docs says this is a __pattern__ rather than a variable def:
[code]
So the tree should be more complicated:
[code]

In the future, the pattern matching may grow to something like

[code]
in this case there still be the `PATTERN_DEF` node and some kind of `RECORD_DEF` of something like that.

[2020-04-03 20:03] strkkk commented on #7599
Fix is merged

[2020-04-03 20:03] #7599 closed

[2020-04-03 20:20] DXTkastb commented on #7596
I'm on it.

[2020-04-04 00:29] romani commented on #8023
Plugins should make decision to run validation or not, non of existing support such approach.
I hope we will be able to provide support  till end of summer.

[2020-04-04 00:38] romani commented on #7989
Release notes are generated based on fixed issues and commits.

User will run into this and google such exception, they will find such issues like this and get answer on migration. It will work as stackoverflow knowledge.

There is migration note at https://github.com/checkstyle/checkstyle/issues/7190

[2020-04-04 00:38] #7989 closed

[2020-04-04 05:05] romani commented on #7892
Please send update to verify that folder is empty.
We also need to check git status - no changes

[2020-04-04 05:59] romani commented on #8014
Is it final fix ?

[2020-04-04 09:28] Abhishek-kumar09 commented on #525
@romani @rnveach @strkkk ping!
This is regarding adding rules for restricting blank-lines between two or more groups in `ImportOrder`.
I think we can attain this goal in two ways.
1. using a `#` between groups that need not to be sepearted by blank line(like customImportOrder), the configuration may look like:
For setting up the configuration to allow blankLines between groups except between `java

[2020-04-04 09:37] DXTkastb commented on #2827
I'm on it.

[2020-04-04 10:16] #7978 closed

[2020-04-04 10:17] strkkk commented on #7978
Fix is merged

[2020-04-04 10:23] #7982 closed

[2020-04-04 10:24] strkkk commented on #7982
Fix is merged

[2020-04-04 11:54] nmancus1 commented on #7892
I can run all others locally and verify that the folder is empty, but I cannot get sonarqube to complete with the token I've generated, unless I'm doing something wrong:

`Caused by: org.sonar.api.utils.MessageException: You're not authorized to run analysis. Please contact the project administrator.
`

This would have to be in Travis, right?

[2020-04-04 12:20] nmancus1 commented on #7290
This is a good point. Regarding `RECORD_DEF`; that should then replace `VARIABLE_DEF`, in the tree you've constructed, correct?

[2020-04-04 13:01] pbludov commented on #7290
I'm not sure. Either replace it or wrap it. From a [possible](https://cr.openjdk.java.net/~briangoetz/amber/pattern-match.html#pattern-matching-and-records) future point of view, the wrap is better.

In this case, we have the ability to extend the patterns. And all existing checks like [VariableName](https://checkstyle.org/config_coding.html#VariableName) will handle such variables.  Especially [H

[2020-04-04 13:50] rnveach commented on #8014
Yes, I don't see a way to enforce the build to fail when new errors come up was my only concern.

[2020-04-04 13:50] rnveach commented on #8014
Closed for now.

[2020-04-04 13:50] #8014 closed

[2020-04-04 15:25] rnveach commented on #6745
@romani ping

Please clarify if this is also being changed or not.

[2020-04-04 15:58] romani commented on #6745
I am ok to change to improve in general, we will see exact wording in PR

[2020-04-04 20:26] harsh-kukreja commented on #8018
I'm on it

[2020-04-04 20:32] strkkk commented on #8018
@harsh-kukreja issue is not approved.

@romani @rnveach is this a relevant bug or such behavior is by design?

[2020-04-04 20:41] harsh-kukreja commented on #8018
Okay will wait for the approval @strkkk

[2020-04-04 23:14] romani commented on #2986
There was long discussion in PR about this fix.

Resolution:
Check will not be updated. Users should use suppression on files that they do not like to have header.

[2020-04-04 23:14] #2986 closed

[2020-04-04 23:20] romani commented on #4352
fix is merged.

[2020-04-04 23:20] #4352 closed

[2020-04-04 23:53] romani opened #8036 "update test inputs to avoid long lines that violate 100 limit"
taken from https://github.com/checkstyle/checkstyle/pull/7997

we need to remove all introduced suppressions.
All Inputs need to be updated to wrap long lines is possible.

[2020-04-05 00:50] romani commented on #4352
I reverted fix as CI looks like not supporting multiline commands.

[2020-04-05 01:00] Gaurav-Punjabi commented on #4352
Okay, so to fix the failure should we use multiple "command" for each step or wait for the support to for multiline commands ?

[2020-04-05 01:02] Gaurav-Punjabi commented on #4352
My bad. I just saw that you have already fixed it 👍
Thanks

[2020-04-05 01:05] Gaurav-Punjabi commented on #8036
So, from what I understand. We need to update all the files that are getting violated due to long lines. Correct?

[2020-04-05 01:10] romani commented on #7734
yes, just copy your example that `-g` does not work for Indentation but works for another Check.

----

In this issue please update Check to report violation on AST node, but keep it in list of unsupported Checks in documentation.

[2020-04-05 04:33] wilcoln commented on #7895
@romani, please can you approve issue?

[2020-04-05 06:07] #7596 closed

[2020-04-05 06:07] pbludov commented on #7596
Fix is merged.

[2020-04-05 06:35] shashwat70 commented on #8011
please approve @rnveach

[2020-04-05 14:27] Abhishek-kumar09 commented on #7734
Ok, I will do it. Thanks.

[2020-04-05 15:48] koppor commented on #6593
I think, the follow up is https://github.com/checkstyle/checkstyle/issues/7388.

[2020-04-05 16:28] shashwat70 commented on #4930
I'm on it!

[2020-04-05 17:05] romani commented on #7892
Please ignore sonarqube, send PR with validation enforcement, we will see what is left not fixed

[2020-04-05 17:45] Abhishek-kumar09 opened #8039 "Xpath-Suppression is not working for Indentation"
`generate-xpath-suppression` is not working for Indentation.
[code]
[code]
[code]

All modules except Indentation can generate their `xpath-suppression` as usual.
A correctly generated XPath-suppression looks like :
[code]
[code]
[code]

[2020-04-05 22:30] romani commented on #7996
fix is merged.

[2020-04-05 22:30] #7996 closed

[2020-04-05 22:42] romani commented on #8036
yes, just wrap lines and update UTs expectations if violations are moved to new lines. If there is some test need it to be single lined ([example](https://github.com/checkstyle/checkstyle/pull/8022)) we should keep it in suppression.

[2020-04-05 22:43] #8020 closed

[2020-04-05 22:43] romani commented on #8020
fix is merged.

[2020-04-05 22:58] gaurabdg commented on #5820
I am on it

[2020-04-05 23:02] romani commented on #7769
@Benschio , please remove Main.java and add print for all messages.properties files.

[2020-04-05 23:11] Gaurav-Punjabi commented on #8036
Alright, I'm on it 👍

[2020-04-05 23:22] romani commented on #7884
@Sadgrinner , thanks a lot, now it become very clear, I did extra formatting to make it very easy to read.

So I have some concerns with such proposal.

`source` - was used for moduleId (if present) or for short name of Check (one more not real but user friendly name of Check that we used in all documentation).

Fact that you would like to know all details of module is clear. But what if we keep `

[2020-04-05 23:26] romani commented on #7728
@developerhb , please start working on this issue, do not wait for review on first issue, we are overloaded with PRs reviews, please do not waste time, keep fixing issues.

[2020-04-05 23:33] romani commented on #6707
@HuGanghui , thanks a lot, I moved your code example to issue, please share PR with fix.

[2020-04-05 23:59] romani commented on #7103
I think we will make support of it till end of August. Watch for this issue, you will be notified when something is done.

[2020-04-06 00:08] romani commented on #7643
@AmplifiedHuman , please share full log of `mvn verify` execution by gitst.github.com , and please share your code changes. Can you send a PR with changes.

[2020-04-06 00:11] romani commented on #7745
@ritvij14 , please review already merged PRs for same changes but in other Checks - https://github.com/checkstyle/checkstyle/pulls?q=is%3Apr+%22to+log+DetailAST%22+is%3Aclosed , you will see what you need to do.

[2020-04-06 00:13] romani commented on #7833
please investigate where github want to keep such file, I presume in  `.github` folder, please recheck this , please send PR with initial proposal for code of conduct.

[2020-04-06 03:52] romani commented on #5826
We can install shell check to Travis if it is standard package. We should make shell script in .ci folder to do validation

[2020-04-06 04:04] romani commented on #7976
I am not sure we should do this in Travis. It is the biggest CI already. We already limit amount of jdks to let and latest only to keep amount of builds on leash. We might change this but we need move bunch of build items out of Travis to some new CIs.

[2020-04-06 06:42] wilcoln commented on #7895
@romani please can you approve this issue? Issue being not approved is the one reason for CI failure. If issue should not be approved please let me know. Thanks.

[2020-04-06 07:40] pbludov commented on #7976
At the first glance this can be achieved with [semaphoreci](https://docs.semaphoreci.com/programming-languages/java/) and official adoptopenjdk [image](https://hub.docker.com/_/adoptopenjdk) from Docker. I will delve further.

[2020-04-06 08:08] strkkk commented on #7976
There is also a https://github.com/features/actions that can be used

[2020-04-06 16:39] strkkk opened #8045 "Add COLON token support to NoWhitespaceBefore"
https://checkstyle.sourceforge.io/config_whitespace.html#NoWhitespaceBefore

[code]
https://checkstyle.sourceforge.io/config_whitespace.html#NoWhitespaceBefore_Properties
Currently list of tokens has no support for COLON, it should be added to report violations at least for labels, `case` and `default`, may be there are some other tokens

[2020-04-06 17:30] wilcoln commented on #8045
I'm on it once it's approved.

[2020-04-06 18:37] Sadgrinner commented on #7884
@romani Your solution has the clear advantage of perfect backwards compatibility.  If we leave `source` as-is, then no code that reads or processes the generated XML file will have to change.

I want to clarify something about current behavior, however:

`source` - in the [XMLLogger](https://github.com/checkstyle/checkstyle/blob/ae9edbd4a8645c8cc1a99ad6890dd0006700d1cb/src/main/java/com/puppycrawl

[2020-04-06 18:40] zielint0 commented on #8045
It is a good rule. Thank you again!

[2020-04-07 00:16] DXTkastb commented on #5573
@romani I need some help on this issue, checkstyle_checks.xml doesn't allow me to catch NPE.

**Catching exception code:**

[code]
**Test code the this issue:**

[code]

The test is working fine but mvn verify clean throws checkstyle error [IllegalCatch].

[2020-04-07 00:32] rnveach commented on #5573
Why do we need to catch the NPE and can't prevent it from happening in the first place?

[2020-04-07 03:06] romani commented on #7832
from CircleCI notifications:

[2020-04-07 05:30] wltan commented on #7619
Looks like the same issue as #5314, maybe that one can be closed instead.

[2020-04-07 05:54] pbludov commented on #5314
The changes should be done in #7619

[2020-04-07 05:54] #5314 closed

[2020-04-07 05:55] pbludov commented on #7619
This is a GSOC issue, it is better to keep this one.

[2020-04-07 06:59] #7610 closed

[2020-04-07 07:00] strkkk commented on #7610
Fix is merged

[2020-04-07 08:23] DXTkastb commented on #5573
Pattern: `-@csl\[(\w{8,}((\||\(|\))\w+)*)\]\((\d+)\) .{10,}`

![regex](https://user-images.githubusercontent.com/38028330/78644307-4b996c80-78d3-11ea-8639-3c1cf6e189f8.png)

With the regex expression provided group 2 and group 3 go null for String:
` -@csl[FinalLocalVariable](5) my comment`

Prevention might be possible by checking each group but eventually, the user will have to be acquainted wit

[2020-04-07 09:25] developerhb commented on #7728
@romani @rnveach

As suggested by @wilcoln on gitter, I spent some time looking at the PR https://github.com/checkstyle/checkstyle/pull/7909. Before I can start working on this issue I have some basic questions.

1) What is AST node?
2) What is XPath?
3) What is SuppressionXpathFilter?
4) What is CustomImportOrder?
5) What changes we need to achieve?

[2020-04-07 11:49] #7630 closed

[2020-04-07 11:50] strkkk commented on #7630
Fix is merged

[2020-04-07 13:03] rnveach commented on #5573
Our utility should not throw any uncaught exceptions within our control, like NPE or out of bounds and such. To me these are seen as issues with bad code than a user configuration problem. If it is something we are stopping from happening, it should be thrown as a CheckstyleException or IllegalArgument or such.

I believe we should be checking for these `null`s and reporting back we are expecting

[2020-04-07 13:31] #6745 closed

[2020-04-07 13:31] romani commented on #6745
fix is merged.

[2020-04-07 13:54] shashwat70 commented on #4930
Do we need to introduce a new property named ``` moduleName ``` ? @romani

[2020-04-07 14:15] DXTkastb commented on #5573
Ok , I got your point and I will try to eradicate the null value situation.

------------------------------------------------------------------------------------------------------------------------------------

This was just a demo try, I will  enhance the code according to needs as far as possible.

[2020-04-07 14:52] shashwat70 commented on #3424
I'm on it!

[2020-04-07 14:58] shashwat70 commented on #7834
I'm on it!

[2020-04-07 21:00] gaurabdg commented on #4356
I am on it.

[2020-04-08 04:22] koppor commented on #3786
@romani It seems that this should be asked at https://travis-ci.community/, shouldn't it?

[2020-04-08 04:24] koppor commented on #6615
For the ones feeling blocked, by checkstyle excpetions on java 14 files, see <https://stackoverflow.com/a/61071633/873282>:

[2020-04-08 09:41] #4921 closed

[2020-04-08 09:41] strkkk commented on #4921
Fix is merged

[2020-04-08 09:44] #7743 closed

[2020-04-08 09:44] strkkk commented on #7743
Fix is merged

[2020-04-08 09:46] strkkk commented on #7735
Fix is merged

[2020-04-08 09:50] wltan opened #8048 "Extract logic for token type checking to separate method"
There is a recurring pattern throughout Checkstyle's code:
https://github.com/checkstyle/checkstyle/blob/a830b92f5ed1f9d2ed3b88440ba4d494105de89d/src/main/java/com/puppycrawl/tools/checkstyle/utils/ScopeUtil.java#L232-L235
https://github.com/checkstyle/checkstyle/blob/a830b92f5ed1f9d2ed3b88440ba4d494105de89d/src/main/java/com/puppycrawl/tools/checkstyle/utils/ScopeUtil.java#L141-L145
https://githu

[2020-04-08 10:05] wltan commented on #5711
I am on it but I want to see what is going on in #8002 first, maybe that PR can fix this issue as well.

[2020-04-08 10:10] pbludov commented on #8048
I like second approach.

[2020-04-08 10:23] shashwat70 commented on #8048
I'm on it as soon as this gets approved.

[2020-04-08 10:29] strkkk commented on #8048
First approach seems more useful because in this case there can be check that given ast is not null, which is very often checked before check of token's type.

[2020-04-08 10:54] #7735 closed

[2020-04-08 12:47] pbludov commented on #3424
There is a nuance with multidimensional arrays:
[code]
There should be an option to exclude nested arrays or a way to suppress such violations.

[2020-04-08 13:32] harsh-kukreja commented on #7979
Hey @rnveach please rply

[2020-04-08 13:34] harsh-kukreja commented on #5826
Travis has a default package @romani I will create a PR

[2020-04-08 13:49] romani commented on #7969
fix is merged.

[2020-04-08 13:49] #7969 closed

[2020-04-08 13:58] romani commented on #6204
fix is merged.

[2020-04-08 13:58] #6204 closed

[2020-04-08 14:48] Abhishek-kumar09 commented on #3899
I am on it.

[2020-04-08 18:43] blerner opened #8050 "Would it be possible to support non-ASCII characters in identifiers?"
According to [Checkstyle's limitations](https://checkstyle.org/writingchecks.html#Limitations), checkstyle does not support UTF-8 characters, and indeed [the grammar](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/com/puppycrawl/tools/checkstyle/grammar/javadoc/JavadocLexer.g4#L267-L269) defines an overly simple regex for recognizing identifiers.  But it's not quite true t

[2020-04-08 19:58] pbludov opened #8051 "Set up Semaphore CI"
From https://github.com/checkstyle/checkstyle/issues/7976#issuecomment-609628603_

[Semaphore CI](https://semaphoreci.com/), free for open source projects.
Quite fast (with .m2 cache):
![image](https://user-images.githubusercontent.com/900805/78828391-4c262600-79ed-11ea-993f-47e2696a903e.png)

We can move some tasks from Travis to Semaphore to speed up the process.

@romani please set up the organ

[2020-04-08 20:07] pbludov commented on #8051
I did some research in my [branch](https://github.com/pbludov/checkstyle/commit/10fb839de8ceff39bd630aacb12f12f7bdcec5ba)

[2020-04-09 07:18] wltan commented on #7739
I am on it.

There are **8** uses of `log` within the check, numbered in order of appearance in the code.

## 1, 3, 6, 7
https://github.com/checkstyle/checkstyle/blob/e5c9f2c828c1098000def9a53ba0a28d14f103b6/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L488-L490
https://github.com/checkstyle/checkstyle/blob/e5c9f2c828c1098000def9a53ba0a28d14f103b6/src/main/j

[2020-04-09 07:30] wltan commented on #7741
I am on it.

There are **5** uses of log within the check, numbered in order of appearance in the code.

## 1, 5
https://github.com/checkstyle/checkstyle/blob/e5c9f2c828c1098000def9a53ba0a28d14f103b6/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocTypeCheck.java#L389-L392
https://github.com/checkstyle/checkstyle/blob/e5c9f2c828c1098000def9a53ba0a28d14f103b6/src/main/java/com/pu

[2020-04-09 10:45] wltan commented on #97
If the concern is only about requiring the presence of javadoc, we have standalone `MissingJavadocMethod` and `MissingJavadocType` (and `JavadocVariable`) checks that do almost what we need already.

https://checkstyle.org/config_javadoc.html#MissingJavadocMethod
https://checkstyle.org/config_javadoc.html#MissingJavadocType
https://checkstyle.org/config_javadoc.html#JavadocVariable

What we can do

[2020-04-09 12:41] wltan commented on #5148
I am on it!

[2020-04-09 12:49] romani commented on #8051
https://checkstyle.semaphoreci.com/dashboards

[2020-04-09 12:58] romani commented on #8050
I do believe it is feasible but very hard, we put it in limitation as we do not see much value for it in comparison to all other features.
But if somebody have time to invest into this ... sure, lets do something. BUT we will not merge "something" it has to pass same quality gate as all other features.

[2020-04-09 13:51] wltan commented on #5148
I believe I am blocked by issue #7747. It so happens that adding `MissingJavadocType` requires support for XPath suppression, which is not supported yet. This test is failing:
[code]
https://github.com/checkstyle/checkstyle/blob/ae9edbd4a8645c8cc1a99ad6890dd0006700d1cb/src/test/java/com/puppycrawl/tools/checkstyle/MainTest.java#L423-L432
https://github.com/checkstyle/checkstyle/blob/3e0e27a4acbda1

[2020-04-09 14:01] wltan commented on #5148
There is another problem that I encountered. I tried using the following config:
[code]
and got this error:
[code]
On one hand, it makes sense to restrict tokens to `CLASS_DEF` because that is the exact specification in google style:

But on the other hand, the validation wants us to use all acceptable tokens for some reason.

[2020-04-09 14:04] harsh-kukreja commented on #8050
Hey @romani this feature is supported in antlr4 right? But our java grammar is still on antlr2 so can you give me some hint on how should we approach

[2020-04-09 14:06] blerner commented on #8050
Certainly, I'm not advocating doing "something" without checking that it works!  Indeed, I'm trying to be particularly cautious, and suggested only a tiny change that seemed to be minimally invasive.  I've downloaded checkstyle, built it, ran the test suite (via Maven -> test in IntelliJ; I'm assuming that's the correct way to run the full test suite) to confirm everything passes in a clean state,

[2020-04-09 14:08] shashwat70 commented on #3812
I'm on it!

[2020-04-09 16:55] developerhb commented on #7728
@romani @rnveach @timurt

If I understand the issue correctly, we need to update the check from logging the line/column to logging on AST Node and for each and every log in that check, we need to write a test.

The Unit Tests are to be written in
`https://github.com/checkstyle/checkstyle/tree/master/src/it/java/org/checkstyle/suppressionxpathfilter`.

The description of issue #5777 says that

_We

[2020-04-09 17:46] shashwat70 commented on #7745
I guess this issue is already resolved. The DetailAST node is already being logged and the error messages have the line and column numbers. Am I right? @rnveach @romani @strkkk

[2020-04-09 20:12] ImmortalRabbit commented on #7606
I am on it.

[2020-04-09 22:03] ImmortalRabbit commented on #7452
I am on it.

[2020-04-09 22:27] ImmortalRabbit commented on #952
I can try to update documentation.

I can put a note that says that usage of "<property name="severity" value="ignore"/>" doesn't work and can put a link to this issue in the Description part of WriteTag.

[2020-04-09 22:52] ImmortalRabbit commented on #7582
I am on it.

[2020-04-09 22:52] ImmortalRabbit commented on #7580
I am on it.

[2020-04-10 04:26] romani commented on #8050
We need to write bunch of test inputs in different languages. It will be very hard to find open source project in non- English, I have never seen such code in my life, so testing should be thought.
We need to make AST regression report to make sure there is no chance in tree.

[2020-04-10 04:40] wltan commented on #8039
I would generally expect this to be within the scope of #7734. We update to log DetailAST so that we can generate XPath suppression, not the other way around.

Your PR #8038 is still logging by line + column numbers and not DetailAST nodes, so there will of course be no XPath suppression. If you are having other difficulties, maybe you could elaborate a bit more on why it doesn't work?

[2020-04-10 04:55] wltan commented on #7728
Look for a `CustomImportOrderCheckTest.java`, which contains unit tests for the check's basic functions. This is independent of the XPath suppression tests in `suppressionxpathfilter` that you mentioned, which is completely missing and needs to be implemented. You can refer to similar PRs that have been merged to get a general idea of what needs to be done.

[2020-04-10 09:01] Abhishek-kumar09 commented on #8039
Thanks for your review @wltan, I am currently busy with another issue. I will definitely look to your valuable advice in  #8038 ., till then I have changed it to draft. Thanks once again.

[2020-04-10 12:24] #7647 closed

[2020-04-10 12:24] strkkk commented on #7647
Fix is merged

[2020-04-10 13:04] DXTkastb commented on #5573
@rnveach The problem actually lies in CommonUtil.java :

[code]
mather.group(i) goes null
I updated the code to :

[code]

I added the respective tests required and they run fine.

But I receive this error on mvn clean verify:
The error was quite long, I have pasted the main part:

[code]
.........

[code]

I was not able to understand this error. Could you please give a try and explain to me the

[2020-04-10 13:10] DXTkastb commented on #5573
On the SuppressWithNearbyCommentFilter.java side, code added :

         catch (final IllegalArgumentException ex){
             if(ex.getMessage().contains("using"))
                 throw ex;
             else
                 throw new IllegalArgumentException("Regex"+filter.influenceFormat,ex); // catch for this issue
           }

filter.influenceFormat : is the regex group provided by user(e

[2020-04-10 16:01] blerner commented on #8050
It seems like a fuzz-based approach here might work well: extract a bunch of test cases from e.g. [Eclipse's Java parser tests](https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/tree/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler), and naively mutate them by substituting anything that matched the original `[a-zA-Z0-9$_]`-based regexs with a few different non-ASCII str

[2020-04-10 17:35] rnveach commented on #5573
The output provided from the maven command is not enough. Lines above what you pasted should be the violation being reported.

[2020-04-10 20:41] shashwat70 commented on #7745
The integration tests weren't there. I've made the necessary additions and sent a PR.

[2020-04-10 21:04] gaurabdg commented on #7469
I'll try to integrate it

[2020-04-10 22:39] harsh-kukreja commented on #6332
Hey @pbludov I came up with a solution which is working with all example

grammar file
[code]

Test.java
[code]
AST TREE
[code]

[2020-04-11 05:09] sulkykookie commented on #7179
I have a little doubt here.
We need to update documentation of every filter, that is to follow the same path as that of ```gsoc-first-issue``` labeled issues but for filters and add the ```Note``` mentioned in the issue, right?

[2020-04-11 05:53] sulkykookie commented on #6981
So we need to rename files/folders and since we do that, we need to update class names in java files as well. Am I right?

[2020-04-11 08:19] pbludov commented on #6332
Looks good, but please explain this AST:
[code]
I'm expecting two `RESOURCE` nodes here. Something like
[code]

[2020-04-11 10:03] DXTkastb commented on #5573
I have pasted the whole error part, there are no violations regarding the checkstyle formatting.

`[ERROR] around Ant part ...<ant antfile="config/ant-phase-verify.xml"/>... @ 8:47 in /home/kaustubh/checkstyle/target/antrun/build-main.xml: Exception was thrown while processing /home/kaustubh/checkstyle/src/it/java/org/checkstyle/suppressionxpathfilter/XpathRegressionNPathComplexityTest.java: Regex

[2020-04-11 10:23] developerhb commented on #7728
@wltan
The `CustomImportOrderCheck.java` contains the log functions.

So I need to change
`log(importObject.getStartLineNumber(), MSG_SEPARATED_IN_GROUP, fullImportIdent);`
to
`log(ast, MSG_SEPARATED_IN_GROUP);`

Do I need to import any addition class to make this change.

[2020-04-11 10:47] wltan commented on #7728
That is the main idea, yes. You may need to keep the `fullImportIdent` argument at the end because that is part of the check's error message to be generated.

The challenge is to find where you can get `ast` from. You need to trace the method calls from `log` all the way back to an appropriate `DetailAST` object, then pass it along so that you can use it when logging the violation. In this case it

[2020-04-11 10:59] wltan commented on #7622
Same issue as #3601, should close the other issue similar to https://github.com/checkstyle/checkstyle/issues/7619#issuecomment-610182689.

[2020-04-11 11:46] wltan commented on #2622
I am on it

[2020-04-11 13:18] rnveach commented on #5573
@DXTkastb Please start a PR to help with problem to finalize code. I am just not seeing the context needed.

[2020-04-11 13:50] rnveach commented on #7622
I am closing this one since other issue has unfinished work that someone could complete

[2020-04-11 13:50] #7622 closed

[2020-04-11 14:23] harsh-kukreja commented on #6332
Hey @pbludov, I've updated the grammar, the action wasn't being applied to the other alternatives.

Updated Grammar:
[code]
Test.java
[code]
The AST Tree looks like this :
[code]

I needed a few suggestions:
1. Should I use variableDefinitions or parameterDeclaration there?
The tree with `variableDefinitions`:
[code]

and with `parameterDeclaration` :
[code]

what should semantically be the best t

[2020-04-11 15:15] strkkk opened #8073 "New check: PreferSeparatedLiterals"
[code]
Rationale: it is a bit difficult to read long numbers, separators are really helpful.
May be there can be some property like "minimalLength", which sets min length of literal, with default value of 4

[2020-04-11 15:26] rnveach commented on #7572
@mradulrathore See https://github.com/checkstyle/checkstyle/releases

[2020-04-11 15:27] rnveach commented on #7756
All "I am on it" comments are considered void after 1 month of no activity.

[2020-04-11 15:56] rnveach commented on #8010
Violation is with the comment on the following lines:
[code]

Checkstyle says violation should be same indentation as `);` and it won't accept it being at the same spot as `P(-1, -1)`.

The following are similar examples from our descriptions at https://checkstyle.org/config_misc.html#CommentsIndentation_Description :
Example 2, 4, 7.

To my eyes, comment looks in a good position.

@romani Please

[2020-04-11 16:17] rnveach commented on #8018
https://checkstyle.org/config_whitespace.html#OperatorWrap
There is nothing in documentation about comments suppressing a violation. This issue seems valid to me.

@romani Please finalize.

[2020-04-11 17:54] DXTkastb commented on #7873
I'm on it.

[2020-04-11 17:56] DXTkastb commented on #7600
I'm on it.

[2020-04-11 20:39] gaurabdg commented on #8073
I am on it, once its approved

[2020-04-11 21:14] rnveach commented on #8073
How is this different from https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/sevntu-checks/src/main/java/com/github/sevntu/checkstyle/checks/coding/NumericLiteralNeedsUnderscoreCheck.java ?

[2020-04-11 22:08] pbludov commented on #6332
It's a variable definition.
[code]
is better version of
[code]

2. According to the Java grammar `try(this){}` is not a valid resource. Should I add it to the grammar?
It's a weird case. It's better to ignore this until someone will write such code. I see nothing like that in the JDK test cases. The [searchcode](https://searchcode.com/) also did not find this.
@romani @rnveach @strkkk @esilkensen

[2020-04-11 22:14] harsh-kukreja commented on #6332
Okay @pbludov. I think we can then finalize this grammar after confirmation on validity of `this` as a resource.
[code]

What should be the next steps?

[2020-04-12 04:42] HuGanghui commented on #7889
@zielint0 I have solved the typo and will add UT to validate URL is correct soon.

[2020-04-12 06:26] shashwat70 commented on #8019
If after fixing tab violations in a certain file, I'm getting build errors due to assertion failures, then should I fix the file or simply suppress tab violations?
I feel fixing the file should comprise a different issue and I should suppress the tab violations for now. What do you suggest? @romani @rnveach @strkkk

[2020-04-12 08:22] sulkykookie commented on #7179
I am on it.

[2020-04-12 09:17] Gaurav-Punjabi commented on #7603
I'm on it.

[2020-04-12 10:07] #7692 closed

[2020-04-12 10:08] strkkk commented on #7692
Fix is merged

[2020-04-12 10:12] strkkk commented on #8073
The idea is the same, I was not aware of sevntu check and it can be closed as duplicate.

As for me, sevntu check looks a bit overloaded with options, in this one I propose to focus on int/long literals.

[2020-04-12 10:44] zielint0 commented on #7889
@HuGanghui
Xie xie!

[2020-04-12 10:56] pbludov commented on #6332
The next step should be a PR with the changes to the grammar and new tests. Use https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/grammar/InputJava7TryWithResources.java as reference. And the regression report to be sure that this issue is solved.
There will be many nuances, for example, the method `com.puppycrawl.tools.checkstyle.utils.ScopeUt

[2020-04-12 13:30] HuGanghui commented on #7889
@zielint0 😊 you can speak Chinese ! Are you Chinese ?

[2020-04-12 13:50] Mmuzaf opened #8078 "Support user list of annotations which should be verified by AnnotationOnSameLineCheck"
Documentation: https://checkstyle.sourceforge.io/config_annotation.html#AnnotationOnSameLine

--------------
## Proposal

I propose to add an additional property to the AnnotationOnSameLine check, so the check will be able to verify only specific annotations from the configured user list. Please, see the examples below.

--------------
## Current State

#### /tmp/UserMessage.java
[code]

#### /tmp

[2020-04-12 14:25] esilkensen commented on #6332
Agreed, I think this makes sense.

[2020-04-12 16:04] rnveach commented on #4930
@shashwat70 See the method `getSourceName()` in this class. The module name is the name of the class reporting the violation.

[2020-04-12 16:15] rnveach commented on #8045
@strkkk The problem with adding a common token is that it is used in a lot of different places and you also need to verify the token you are talking about is the token in our grammar.

case and default are good examples and are the COLON token.

Labels are not COLON token, but are LABELED_STAT.
[code]

However a for-each loop is also a COLON token and it should not be picked up.
[code]

Label look