[2021-03-15 01:04] romani opened #9532 "update SingleLineJavadocCheckTest to use unique Input file in each test method"
SingleLineJavadocCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-15 01:05] romani opened #9533 "update AtclauseOrderCheckTest to use unique Input file in each test method"
AtclauseOrderCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-15 01:06] romani opened #9534 "update AbstractJavadocCheckTest to use unique Input file in each test method"
AbstractJavadocCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-15 01:07] romani opened #9535 "update JavadocParagraphCheckTest to use unique Input file in each test method"
JavadocParagraphCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-15 01:41] romani commented on #7588
here is almost done PR - https://github.com/checkstyle/checkstyle/pull/9035
but abandoned, code from this PR can be used by anybody who wants to fix this issue.

[2021-03-15 01:44] romani commented on #7657
@vivek286 , I am closing abandoned PR, please send new PR.

[2021-03-15 01:48] romani commented on #6943
If somebody want to fix this issue , please reuse code from https://github.com/checkstyle/checkstyle/pull/8218
there is almost done functionality that was abandoned.

[2021-03-15 01:51] romani commented on #5313
there is some progress on fix of this issue, but abandoned - https://github.com/checkstyle/checkstyle/pull/8176

if somebody want to reuse this work to fix issue and send new PR, please be welcome.

[2021-03-15 01:53] romani commented on #8182
here is abandoned PR https://github.com/checkstyle/checkstyle/pull/8194 , some work from it might be reused to create new PR .
everyone is welcome with PR.

[2021-03-15 01:57] romani commented on #4930
abandoned PR - https://github.com/checkstyle/checkstyle/pull/8192
everyone is welcome to reuse this code and send new PR to fix an issue.

[2021-03-15 01:59] romani commented on #7895
there is almost completed (90%) https://github.com/checkstyle/checkstyle/pull/8013 but abandoned on complete .
code from this PR can be reused by anybody who want to fix this issue.

[2021-03-15 02:01] romani commented on #8971
abandoned PR - https://github.com/checkstyle/checkstyle/pull/9067 , everyone is welcome to pickup code from this PR and create new PR to fix issue.

[2021-03-15 02:59] #8928 closed

[2021-03-15 03:00] romani commented on #8928
fix is merged

[2021-03-15 03:13] #9397 closed

[2021-03-15 04:32] aryaniiit002 commented on #9535
i am on it.

[2021-03-15 10:20] denis111 commented on #8979
I think it's not fixed or fixed incorrectly...

[2021-03-15 11:08] mrclmh opened #9540 "WhitespaceAround on enhanced switch empty block"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

/var/tmp $ cat config.xml
[code]

/var/tmp $ cat YOUR_FILE.java
[code]
/var/tmp $ RUN_LOCALE="-Duse

[2021-03-15 11:43] Abhishek-kumar09 commented on #9326
@denis111 #8979 is not related to issue that @olivier-maury has raised.
This is the PR after which the regression that was mentioned by olivier has produced. https://github.com/checkstyle/checkstyle/pull/8059

The enforcement of positive indentation of curlies when placed seperately on newline was discussed here https://github.com/checkstyle/checkstyle/issues/3899#issuecomment-398926204

Still the

[2021-03-15 11:47] Abhishek-kumar09 commented on #8979
@denis111 Could you provide a detailed explanation.
You can also create a new issue describing more about your problem https://github.com/checkstyle/checkstyle/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-03-15 12:27] Vyom-Yadav commented on #9540
The issue lies over here-
This code will parse as ( I modified a bit, but won't make a difference )
[code]
Here the problem is that `LAMBDA` is not the parent of `SLIST` Token. Whereas in the check-
[code]
It checks for `LAMBDA` Token to be parent of `SLIST` Token or grand parent of `RCURLY` Token.
@romani If this issue is approved then I am willing to work on it.

[2021-03-15 13:21] vidhwanshak commented on #5389
Hey @rnveach I would like to work on this issue.
Please clear my concerns:
1. I need to make a new topic on https://checkstyle.sourceforge.io/anttask.html#Installation by the name of `adding custom JAR file` and add the details to it?

[2021-03-15 13:58] theexplorist commented on #9415
I am on it!

[2021-03-15 14:02] vidhwanshak commented on #5982
Hey @ashishpapanai  are you still working on this issue?

[2021-03-15 14:48] vidhwanshak commented on #5982
@romani  If @ashishpapanai is not interested, can you assign this issue to me?

[2021-03-15 14:50] pbludov opened #9543 "update example of AST for TokenTypes.NOT_EQUAL"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#NOT_EQUAL

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Token

[2021-03-15 14:51] pbludov opened #9544 "update example of AST for TokenTypes.NUM_DOUBLE"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#NUM_DOUBLE

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Toke

[2021-03-15 14:51] pbludov opened #9545 "update example of AST for TokenTypes.NUM_FLOAT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#NUM_FLOAT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Token

[2021-03-15 14:52] pbludov opened #9546 "update example of AST for TokenTypes.NUM_INT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#NUM_INT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTy

[2021-03-15 14:53] pbludov opened #9547 "update example of AST for TokenTypes.NUM_LONG"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#NUM_LONG

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 14:54] pbludov opened #9548 "update example of AST for TokenTypes.OBJBLOCK"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#OBJBLOCK

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 14:54] pbludov opened #9549 "update example of AST for TokenTypes.PACKAGE_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PACKAGE_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 14:55] pbludov opened #9550 "update example of AST for TokenTypes.PARAMETER_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PARAMETER_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-T

[2021-03-15 14:55] pbludov opened #9551 "update example of AST for TokenTypes.PARAMETERS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PARAMETERS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Toke

[2021-03-15 14:56] pbludov opened #9552 "update example of AST for TokenTypes.PATTERN_VARIABLE_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PATTERN_VARIABLE_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-A

[2021-03-15 14:57] pbludov opened #9553 "update example of AST for TokenTypes.PLUS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PLUS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 14:57] pbludov opened #9554 "update example of AST for TokenTypes.POST_DEC"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#POST_DEC

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 14:58] pbludov opened #9555 "update example of AST for TokenTypes.PLUS_ASSIGN"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PLUS_ASSIGN

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 14:59] pbludov opened #9556 "update example of AST for TokenTypes.POST_INC"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#POST_INC

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 15:00] pbludov opened #9557 "update example of AST for TokenTypes.QUESTION"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#QUESTION

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 15:03] pbludov opened #9558 "update example of AST for TokenTypes.RBRACK"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RBRACK

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTyp

[2021-03-15 15:04] pbludov opened #9559 "update example of AST for TokenTypes.RCURLY"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RCURLY

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTyp

[2021-03-15 15:04] pbludov opened #9560 "update example of AST for TokenTypes.RECORD_COMPONENT_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RECORD_COMPONENT_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-A

[2021-03-15 15:05] pbludov opened #9561 "update example of AST for TokenTypes.RECORD_COMPONENTS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RECORD_COMPONENTS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-

[2021-03-15 15:05] pbludov opened #9562 "update example of AST for TokenTypes.RECORD_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RECORD_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Toke

[2021-03-15 15:06] pbludov opened #9563 "update example of AST for TokenTypes.RESOURCE"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RESOURCE

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 15:07] pbludov opened #9564 "update example of AST for TokenTypes.RESOURCE_SPECIFICATION"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RESOURCE_SPECIFICATION

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update

[2021-03-15 15:07] pbludov opened #9565 "update example of AST for TokenTypes.RESOURCES"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RESOURCES

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Token

[2021-03-15 15:08] pbludov opened #9566 "update example of AST for TokenTypes.RPAREN"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#RPAREN

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTyp

[2021-03-15 15:08] pbludov opened #9567 "update example of AST for TokenTypes.SEMI"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SEMI

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 15:09] pbludov opened #9568 "update example of AST for TokenTypes.SINGLE_LINE_COMMENT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SINGLE_LINE_COMMENT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AS

[2021-03-15 15:09] pbludov opened #9569 "update example of AST for TokenTypes.SL"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SL

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 15:10] pbludov opened #9570 "update example of AST for TokenTypes.SLIST"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SLIST

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenType

[2021-03-15 15:10] pbludov opened #9571 "update example of AST for TokenTypes.SR"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SR

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 15:11] pbludov opened #9572 "update example of AST for TokenTypes.SR_ASSIGN"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SR_ASSIGN

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Token

[2021-03-15 15:11] pbludov opened #9573 "update example of AST for TokenTypes.STAR"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STAR

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 15:12] pbludov opened #9574 "update example of AST for TokenTypes.STAR_ASSIGN"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STAR_ASSIGN

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 15:13] pbludov opened #9575 "update example of AST for TokenTypes.STATIC_IMPORT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STATIC_IMPORT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-T

[2021-03-15 15:13] pbludov opened #9576 "update example of AST for TokenTypes.STATIC_INIT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STATIC_INIT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 15:14] pbludov opened #9577 "update example of AST for TokenTypes.STRICTFP"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STRICTFP

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 15:14] pbludov opened #9578 "update example of AST for TokenTypes.STRING_LITERAL"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#STRING_LITERAL

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-

[2021-03-15 15:15] pbludov opened #9579 "update example of AST for TokenTypes.SUPER_CTOR_CALL"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SUPER_CTOR_CALL

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in

[2021-03-15 15:15] pbludov opened #9580 "update example of AST for TokenTypes.SWITCH_RULE"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#SWITCH_RULE

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 15:17] pbludov opened #9581 "update example of AST for TokenTypes.TEXT_BLOCK_CONTENT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TEXT_BLOCK_CONTENT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST

[2021-03-15 15:17] nmancus1 commented on #8990
I think one check is good. We should keep in mind that records have "overloaded" the `@param` [tag for documenting record components](https://bugs.openjdk.java.net/browse/JDK-8225055).  I think that the order [specified above](https://github.com/checkstyle/checkstyle/issues/8990#issuecomment-731872072) for type parameters vs. method parameters should hold for record components, too.

I agree this

[2021-03-15 15:17] pbludov opened #9582 "update example of AST for TokenTypes.TEXT_BLOCK_LITERAL_BEGIN"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TEXT_BLOCK_LITERAL_BEGIN

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-upda

[2021-03-15 15:18] pbludov opened #9583 "update example of AST for TokenTypes.TEXT_BLOCK_LITERAL_END"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TEXT_BLOCK_LITERAL_END

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update

[2021-03-15 15:18] pbludov opened #9584 "update example of AST for TokenTypes.TYPE"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes

[2021-03-15 15:18] pbludov opened #9585 "update example of AST for TokenTypes.TYPE_ARGUMENT"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_ARGUMENT

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-T

[2021-03-15 15:19] pbludov opened #9586 "update example of AST for TokenTypes.TYPE_ARGUMENTS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_ARGUMENTS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-

[2021-03-15 15:20] pbludov opened #9587 "update example of AST for TokenTypes.TYPE_EXTENSION_AND"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_EXTENSION_AND

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST

[2021-03-15 15:20] pbludov opened #9588 "update example of AST for TokenTypes.TYPE_LOWER_BOUNDS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_LOWER_BOUNDS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-

[2021-03-15 15:21] pbludov opened #9589 "update example of AST for TokenTypes.TYPE_PARAMETER"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_PARAMETER

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-

[2021-03-15 15:22] pbludov opened #9590 "update example of AST for TokenTypes.TYPE_PARAMETERS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_PARAMETERS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in

[2021-03-15 15:22] pbludov opened #9591 "update example of AST for TokenTypes.TYPE_UPPER_BOUNDS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPE_UPPER_BOUNDS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-

[2021-03-15 15:23] pbludov opened #9592 "update example of AST for TokenTypes.TYPECAST"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#TYPECAST

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenT

[2021-03-15 15:23] pbludov opened #9593 "update example of AST for TokenTypes.UNARY_MINUS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#UNARY_MINUS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Tok

[2021-03-15 15:24] pbludov opened #9594 "update example of AST for TokenTypes.UNARY_PLUS"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#UNARY_PLUS

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-Toke

[2021-03-15 15:24] pbludov opened #9595 "update example of AST for TokenTypes.VARIABLE_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#VARIABLE_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-To

[2021-03-15 15:25] pbludov opened #9596 "update example of AST for TokenTypes.WILDCARD_TYPE"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#WILDCARD_TYPE

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-T

[2021-03-15 15:35] oliviercailloux commented on #9326
Thanks! I suppose that the rule could also behave differently depending on whether there is an instruction “ongoing” when it meets an opening brace. Distinguish:

[code]
and:
[code]
A user might wish its opening brace to be indented (compared to the previous instruction) in the second case (the brace “continues” the if) but not in the first one (the brace introduces a new block of code that starts

[2021-03-15 15:48] nmancus1 commented on #9540
Violations for WhitespaceAround are shown for both types of switch statements:

[code]
There is no `allow*` property for empty switch case blocks, so we would need to implement a new property in WhitespaceAround like `allowEmptySwitch`.

`LAMBDA` token in this case is really the arrow operator (definite assignment, so that `break` is not needed), not really a "lambda" as in a lambda expression, an

[2021-03-15 17:09] Vyom-Yadav commented on #9540
@nmancus1 I think my wording was wrong, I meant to say HERE `LAMBDA` is not the parent of `SLIST`  token whereas it is the parent in situations like `myAdd add = (int a,  int b) -> {return a + b;};`

[2021-03-15 17:50] theexplorist commented on #9415
@romani Hi,
I have send a PR, I followed PR guidelines, ran the verify goal, corrected the errors, passed the verify, generated javadoc, generated jar, but still some checks are not passing, kindly review my PR and help me.
This is my first contribution to checkstyle, kindly help me.
Regrads.

[2021-03-15 18:30] shashwatj07 commented on #9402
I'm on it!

[2021-03-15 18:38] anshuman10398 commented on #9521
Working on it

[2021-03-15 18:50] shashwatj07 commented on #9403
I'm on it!

[2021-03-15 19:02] timurt commented on #7592
issue can be taken

[2021-03-15 19:02] timurt commented on #7587
issue can be taken by anyone

[2021-03-15 19:08] theexplorist commented on #9427
I am on it, please assign me!

[2021-03-15 19:08] theexplorist commented on #9414
I am on it, please assign me!

[2021-03-15 19:24] shashwatj07 commented on #9401
I'm on it!

[2021-03-15 21:40] anshuman10398 commented on #9521
@romani as per my understanding there are around 30 files that need to be added in order to meet the expectation, shall i limit them to 3 4 file changes per PR?

[2021-03-16 02:59] aryaniiit002 commented on #9290
so if somebody add code in XdocsPagesTest and AllChecksTest then it's done no matter in what order properties are written in [xdocs](https://github.com/checkstyle/checkstyle/tree/master/src/xdocs) ?

thumbs up emoji will be considered as `yes`.

[2021-03-16 03:20] rnveach commented on #9290
If you add code to the tests, the test code added must enforce the requested changes in the xdocs. Since most xdocs don't follow this order, that means you will need to make changes to the xdocs. Your new test code should guide you on what xdoc changes to make, not the other way around.

[2021-03-16 03:30] romani commented on #8548
Fix is merged

[2021-03-16 03:30] #8548 closed

[2021-03-16 04:48] vivek286 commented on #9394
@romani Sir I corrected the format for contribution but still, one task fails please guide me on how to resolve it.

[2021-03-16 04:50] theexplorist commented on #9415
@romani Hi the update is all the checks are passed. The documentation provided is quite detailed, from many failing check to no failing checks, I learned a lot. Learned to read logs of CI.
Kindly review my PR, excited to contribute more. I have attached the necessary proofs of Javadoc and CLI and amended my commit to maintain a clean PR.
Regards

[2021-03-16 08:05] Vyom-Yadav commented on #9218
I am on it.

[2021-03-16 08:08] vivek286 commented on #9590
I am on it.

[2021-03-16 08:53] theexplorist commented on #9414
Submitting PR, in the verify phase on my local machine!

[2021-03-16 09:30] vivek286 commented on #9406
@rdiachenko All checks passed please review PR.

[2021-03-16 09:56] vivek286 commented on #7601
I am on it

[2021-03-16 10:08] hiron1999 commented on #9594
hey, I'm working on this issue

[2021-03-16 10:52] shubham11941140 commented on #9515
I am on it

[2021-03-16 10:55] vivek286 commented on #9593
I am on it

[2021-03-16 11:04] shubham11941140 commented on #9515
Can someone tell me how to use the testcases to check whether the example is correct?

[2021-03-16 11:07] shubham11941140 commented on #9515
I dont know how to test my code for a set of testcases
Or do I need to send it and the admin tests it and tells it is correct or wrong

[2021-03-16 11:13] vivek286 commented on #9579
I am on it

[2021-03-16 11:43] theanmolsharma commented on #9553
I am working on it.

[2021-03-16 12:21] vivek286 commented on #9412
I am on it

[2021-03-16 12:40] vivek286 commented on #9593
I am on it

[2021-03-16 12:44] vivek286 commented on #9582
I am on it

[2021-03-16 12:49] vivek286 commented on #9592
I am on it

[2021-03-16 13:21] vivek286 commented on #9578
I am on it

[2021-03-16 13:37] vivek286 commented on #9400
I am on it

[2021-03-16 13:40] shubham11941140 commented on #9515
public static final int MINUS

The - (subtraction) operator.

For Example:

c = a-b;

parses as:

    |       |--EXPR -> EXPR
    |       |   `--ASSIGN -> =
    |       |       |--IDENT -> c
    |       |       `--MINUS -> -
    |       |           |--IDENT -> a
    |       |           `--IDENT -> b
    |       |--SEMI -> ;

[code]

Expected Update for JavaDoc
[code]

[2021-03-16 14:34] nmancus1 commented on #9592
I'm on this.

[2021-03-16 14:49] nmancus1 commented on #9533
I'm on this.

[2021-03-16 15:00] theanmolsharma commented on #9549
I am working on this issue.

[2021-03-16 16:16] vivek286 commented on #9485
I am on it

[2021-03-16 16:29] CryptoSingh1337 commented on #9577
I am bit confused that which method should I choose like example with method, class or interface.

[2021-03-16 16:48] CryptoSingh1337 commented on #9512
I am on it.

[2021-03-16 16:55] gurleennsidhuu commented on #9596
I am on it.

[2021-03-16 17:47] vivek286 commented on #9408
I am on it

[2021-03-16 17:51] theexplorist commented on #9427
Sending PR!

[2021-03-16 19:03] pbludov commented on #9515
You did a commit to your local repo. Now you should open a pull request:

![image](https://user-images.githubusercontent.com/900805/111365290-60fe4580-86a3-11eb-81de-43ef1c34d1c6.png)

[2021-03-16 19:08] theexplorist commented on #9414
@romani Kindly review my PR.
Regards

[2021-03-16 19:47] nmancus1 opened #9620 ""Good practice on how to create Input files for tests" Wiki should be updated with new check input file config policy"
From https://github.com/checkstyle/checkstyle/pull/9613#discussion_r595455931:

Like in all the input test cases of indentationCheckTest, we are enforcing configs to be placed at the top of the file, so we can follow the same here to be more consistent.

_Originally posted by @Abhishek-kumar09 in https://github.com/checkstyle/checkstyle/pull/9613#discussion_r595455931_

Current wiki example shows

[2021-03-16 21:32] anshuman10398 commented on #9373
@romani so @rdiachenko pointed out a small error in the merged PR #9378  ,could you please reopen the issue so i could correct that part and submit a new PR? Thanks.

[2021-03-16 22:27] rdiachenko commented on #9373
@anshuman10398

Reopened, please fix.

[2021-03-17 04:43] SGanguly1999 commented on #9437
@romani please see whether my understanding about the issue is clear or not:

My understanding :--Input files are java files (basically code examples) which test classes use in there methods to check a particular feature is working fine or not. In this issue the input files should be separate for each method.

My doubt:-How to understand which feature the test methods are testing?

[2021-03-17 06:28] theanmolsharma commented on #9589
I am working on it.

[2021-03-17 07:24] theanmolsharma commented on #9589
I have commited the changes to the master branch of my repo. They both can be merged. It will solve 2 issues. #9589 and #9549 .

[2021-03-17 07:45] theanmolsharma commented on #9589
it is ready to be merged. You can merge and close both issues now.

[2021-03-17 09:29] CryptoSingh1337 commented on #9530
I am on it.

[2021-03-17 11:58] #9403 closed

[2021-03-17 12:00] strkkk commented on #9403
Fix is merged

[2021-03-17 12:45] #9401 closed

[2021-03-17 12:45] strkkk commented on #9401
fix is merged

[2021-03-17 12:47] #9415 closed

[2021-03-17 12:48] strkkk commented on #9415
fix is merged

[2021-03-17 13:13] hiron1999 commented on #9594
It seems all the task passed successfully . Please take a look and let me know if any changes need  #9621

[2021-03-17 13:43] gurleennsidhuu commented on #9593
I am on it.

[2021-03-17 13:51] theexplorist commented on #9543
I am on it!

[2021-03-17 13:55] shashwatj07 commented on #9544
I'm on it!

[2021-03-17 14:03] haanhvu commented on #9588
I am on it

[2021-03-17 14:19] bossever commented on #4122
## `TYPE_EXTENSION_AND` Token
In Google Java Style Guide, Section [4.5.1 Where To Break](https://google.github.io/styleguide/javaguide.html#s4.5.1-line-wrapping-where-to-break), it is clearly mentioned that _"when a line is broken at a non-assignment operator the break comes before the symbol"_ and this also applies for an ampersand type bound (<T extends Foo & Bar>).

![image](https://user-images

[2021-03-17 14:32] b-charles commented on #8312
Hello,

Following the bug report template:
[code]
---
**The expectation is that no errors are reported**
We would like to add more tokens to check in NoWhitespaceAfter:
 * at the very least, DO_WHILE, LITERAL_CATCH, LITERAL_FOR, LITERAL_IF, and LITERAL_WHILE,
 * maybe align available tokens for NoWhitespaceAfter, NoWhitespaceBefore and WhitespaceAround,
 * maybe don't restrict at all the available

[2021-03-17 14:45] shashwatj07 commented on #9545
I'm on it!

[2021-03-17 14:59] shashwatj07 commented on #9546
I'm on it!

[2021-03-17 15:13] shashwatj07 commented on #9547
I'm on it!

[2021-03-17 16:03] shashwatj07 commented on #9556
I'm on it!

[2021-03-17 16:15] SGanguly1999 commented on #9584
I am on it.

[2021-03-17 17:06] denis111 commented on #8979
@Abhishek-kumar09
Well I'm not sure if it's a bug or a new behaviour. This code with Google style with `@ApiResponse` intentation 6 gives no warning with v8.36 but with v8.42 it wants indentation 8 or 10:
[code]
Besides I have google style formatter plugin in my IDE and it formats it with intent of 6.

[2021-03-17 17:38] Abhishek-kumar09 commented on #8979
To me what I found here that line 3 should follow lineWrapping indentation fundamentally since block is spanned across multiple lines.

Still if you want to have some different behaviour, please open a new issue and our team is happy to discuss the feasibility.

Will greatly appreciate.

[2021-03-17 19:23] edwardlee commented on #9573
I'm on this

[2021-03-18 04:14] AkMo3 commented on #9513
I am on it.

[2021-03-18 04:18] AkMo3 commented on #9413
I am on it.

[2021-03-18 07:20] bossever commented on #9523
I'm on it.

[2021-03-18 07:24] bossever commented on #9595
I'm on it.

[2021-03-18 08:02] #9402 closed

[2021-03-18 08:03] strkkk commented on #9402
fix is merged

[2021-03-18 09:43] bossever commented on #9576
I'm on it.

[2021-03-18 13:51] romani commented on #9620
I recommend to proceed in any form.
We will do deep analysis and vote and align a format when we come to gsoc project implementation https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-adaptation-of-behavior-driven-development-ideas-for-testing-of-source-code-validation-algorithms

[2021-03-18 13:54] romani opened #9643 "TrailingComment: correction for description in documentation"
detected at https://github.com/checkstyle/checkstyle/pull/9370#issuecomment-800512536

https://checkstyle.org/config_misc.html#TrailingComment

First sentence does not properly explain target of Check and confuse.

Expected:
something like ` The check to ensure that lines do not end with comment.`

[2021-03-18 14:14] #9373 closed

[2021-03-18 14:15] #9414 closed

[2021-03-18 14:20] nmancus1 commented on #9620
I agree, let's do deeper analysis later. I will keep config comment as is in existing PR.

[2021-03-18 14:20] #9620 closed

[2021-03-18 14:28] #7581 closed

[2021-03-18 14:29] shashwatj07 commented on #9643
I'm on it!

[2021-03-18 14:32] #7649 closed

[2021-03-18 14:35] #8117 closed

[2021-03-18 14:36] romani commented on #8117
fix is merged.
@wltan , thanks a lot for fix.

[2021-03-18 15:30] marwatk opened #9647 "Cannot enforce JavaDoc on interface methods when using minLines for class methods"
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

[code]

[code]

[code]

**Describe the solution you'd like**

I would like to be able to keep the `minLines` setting but still enforce JavaDoc on interface and abstract method de

[2021-03-18 15:56] bossever commented on #9575
I'm on it.

[2021-03-18 16:14] rnveach commented on #9643
So to be clear, this check will ignore any comment that either starts the line or is in the middle of the line.
[code]

Should produce no violations at all?

[2021-03-18 16:18] shashwatj07 commented on #9574
I'm on it!

[2021-03-18 17:08] shashwatj07 commented on #9571
I'm on it!

[2021-03-18 17:29] djzenma commented on #9534
I am on it

[2021-03-18 17:30] djzenma commented on #9586
I am on it

[2021-03-18 17:53] shashwatj07 commented on #9569
I'm on it!

[2021-03-18 18:37] vidhwanshak commented on #5389
How can I access the source code of https://checkstyle.sourceforge.io/anttask.html ?

[2021-03-18 18:38] shashwatj07 commented on #9532
I'm on it!

[2021-03-18 18:55] vidhwanshak commented on #5389
Hey @sakshi-1604 are you still working on this issue?

[2021-03-18 19:50] sakshi-1604 commented on #5389
No you can work on it

[2021-03-19 00:06] rnveach commented on #5389
https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/anttask.xml.vm

Make the changes that you think are needed and we will review. It should cover an example of how to configure this with any other descriptions that are needed.

[2021-03-19 03:41] nmancus1 commented on #9647
@marwatk shouldn't the second proposed violation be:
[code]
?

[2021-03-19 03:44] marwatk commented on #9647
Yep, corrected. I added the abstract method after my original creation so tweaked it on the fly. FWIW I can implement this but before I do the work I wanted to get feedback on whether it would be accepted.

[2021-03-19 04:13] nmancus1 commented on #9647
You could use [SuppressionXpathSingleFilter](https://checkstyle.org/config_filters.html#SuppressionXpathSingleFilter) for this:

[code]

We can just use the current config that you have for MissingJavadocMethod, then add another module with a different id property that only checks abstract/ interface methods.

[2021-03-19 06:30] CryptoSingh1337 commented on #9588
@haanhvu are you working on this issue?

[2021-03-19 06:31] #9591 closed

[2021-03-19 06:32] strkkk commented on #9591
fix is merged

[2021-03-19 06:36] #9577 closed

[2021-03-19 06:37] strkkk commented on #9577
fix is merged

[2021-03-19 06:51] strkkk commented on #9647
Actually, both suggested properties are basically same thing, because interface methods without body are implicitly abstract, so there is no reason for separate property for interfaces.

In general, it seems to me as a very specific case and it is better to use workaround provided above, but I might be wrong.

[2021-03-19 07:07] shashwatj07 commented on #9555
I'm on it!

[2021-03-19 07:30] shashwatj07 commented on #9516
I'm on it!

[2021-03-19 07:38] shashwatj07 commented on #9416
I'm on it!

[2021-03-19 08:16] shashwatj07 commented on #9398
I'm on it!

[2021-03-19 08:16] shashwatj07 commented on #9405
I'm on it!

[2021-03-19 09:35] #9572 closed

[2021-03-19 09:35] strkkk commented on #9572
fix is merged

[2021-03-19 10:47] Vyom-Yadav commented on #9581
I am on it.

[2021-03-19 11:13] theexplorist commented on #9427
PR Submitted!

[2021-03-19 11:29] theexplorist commented on #9417
I am on it!

[2021-03-19 11:31] theexplorist commented on #9418
I am on it!

[2021-03-19 12:29] #9544 closed

[2021-03-19 12:29] romani commented on #9544
fix is merged.

[2021-03-19 12:31] #9578 closed

[2021-03-19 12:32] romani commented on #9578
fix is merged

[2021-03-19 13:14] #9555 closed

[2021-03-19 13:14] romani commented on #9555
fix is merged

[2021-03-19 13:15] #9416 closed

[2021-03-19 13:15] romani commented on #9416
fix is merged

[2021-03-19 13:18] #9405 closed

[2021-03-19 13:18] romani commented on #9405
fix is merged

[2021-03-19 13:18] #9398 closed

[2021-03-19 13:19] romani commented on #9398
fix is merged

[2021-03-19 13:20] #9569 closed

[2021-03-19 13:20] romani commented on #9569
fix is merged

[2021-03-19 13:20] #9571 closed

[2021-03-19 13:21] romani commented on #9571
fix is merged

[2021-03-19 13:21] #9574 closed

[2021-03-19 13:22] romani commented on #9574
fix is merged

[2021-03-19 13:26] #9516 closed

[2021-03-19 13:26] romani commented on #9516
fix is merged

[2021-03-19 13:34] #9545 closed

[2021-03-19 13:35] romani commented on #9545
fix is merged

[2021-03-19 13:35] #9546 closed

[2021-03-19 13:36] romani commented on #9546
fix is merged

[2021-03-19 13:36] #9547 closed

[2021-03-19 13:39] #9554 closed

[2021-03-19 13:40] romani commented on #9554
fix is merged

[2021-03-19 13:41] iamishuverma commented on #9587
I am on it.

[2021-03-19 13:46] #9588 closed

[2021-03-19 13:47] romani commented on #9588
fix is merged

[2021-03-19 13:48] #9518 closed

[2021-03-19 13:48] romani commented on #9518
fix is merged

[2021-03-19 13:54] #9394 closed

[2021-03-19 13:55] romani commented on #9394
fix is merged

[2021-03-19 13:56] romani commented on #9592
fix is merged

[2021-03-19 14:02] #9512 closed

[2021-03-19 14:02] romani commented on #9512
fix is merged

[2021-03-19 14:14] haanhvu commented on #9588
I barely started. Now I'm gonna work on another one.

[2021-03-19 14:15] haanhvu commented on #9585
I am on it

[2021-03-19 14:26] bossever commented on #9528
I'm on it.

[2021-03-19 14:55] marwatk commented on #9647
TIL about `SuppressionXpathSingleFilter`, that fits our use-case perfectly. Thanks!

[2021-03-19 14:55] #9647 closed

[2021-03-19 15:03] theanmolsharma commented on #9583
I am working on it.

[2021-03-19 15:41] hiron1999 commented on #9530
I am on this issue

[2021-03-19 23:33] johnlee-jh commented on #9568
I am on it

[2021-03-20 07:21] #9556 closed

[2021-03-20 07:21] pbludov commented on #9556
Fix is merged

[2021-03-20 07:50] AkMo3 commented on #9529
I am on it.

[2021-03-20 09:50] shubham11941140 commented on #9568
I am on it

[2021-03-20 13:03] SGanguly1999 commented on #9570
I am on it

[2021-03-20 14:21] bossever commented on #9522
I'm on it.

[2021-03-20 14:45] CryptoSingh1337 commented on #9525
I am on it.

[2021-03-20 14:50] CryptoSingh1337 commented on #9527
I am on it.

[2021-03-20 17:51] bossever commented on #9524
I'm on it.

[2021-03-20 21:49] SaswatM-62 commented on #9517
I am on it

[2021-03-20 22:35] #9592 closed

[2021-03-20 22:38] #9573 closed

[2021-03-20 22:39] romani commented on #9573
fix is merged

[2021-03-20 22:40] #9513 closed

[2021-03-20 22:41] romani commented on #9513
fix is merged

[2021-03-20 22:51] #9371 closed

[2021-03-20 22:51] romani commented on #9371
fix is merged

[2021-03-20 23:12] #9535 closed

[2021-03-20 23:12] romani commented on #9535
fix is merged

[2021-03-20 23:19] #9594 closed

[2021-03-20 23:19] romani commented on #9594
fix is merged

[2021-03-20 23:46] romani opened #9678 "after mport projec to IDEA there is build problem at InputIllegalImportDefault.java"
reported by students in gitter chat.

Build problems:
[code]

![](https://files.gitter.im/5565e9f015522ed4b3e10439/5RGw/image.png)

[2021-03-20 23:56] romani commented on #9533
fix is merged

[2021-03-21 00:25] #9010 closed

[2021-03-21 00:27] romani commented on #9010
fix is merged

[2021-03-21 02:15] aryaniiit002 commented on #8990
will this check assume that the number of param in method signature is same as in method javadoc?
if not, will this new check do anything if the number is not same?

[2021-03-21 02:28] aryaniiit002 commented on #8990
will this check assume that there are equal number of param in method signature and in method javadoc and are we expecting any property in this check?

[2021-03-21 04:12] SGanguly1999 commented on #8990
@aryaniiit002 that should match because every method parameter should have a description in javadoc.

[2021-03-21 11:31] CryptoSingh1337 commented on #9587
@iamishuverma are you working on this issue?

[2021-03-21 11:36] bossever commented on #9524
I just started work on this, and found that there exist three identical tests with different names, and I couldn't understand what they meant -
https://github.com/checkstyle/checkstyle/blob/ebef3bd59fdc2c97587a67bc59d57af6ecbb9072/src/test/java/com/puppycrawl/tools/checkstyle/checks/javadoc/MissingJavadocMethodCheckTest.java#L96-L121

and also -
https://github.com/checkstyle/checkstyle/blob/ebef3b

[2021-03-21 11:45] SGanguly1999 commented on #9567
I am on it

[2021-03-21 13:46] AkMo3 commented on #9531
I am on it.

[2021-03-21 14:39] romani commented on #9643
yes. for both cases

[2021-03-21 14:39] romani commented on #9643
fix is merged

[2021-03-21 14:39] #9643 closed

[2021-03-21 14:51] suubh commented on #9464
I am on it .

[2021-03-21 15:13] #7602 closed

[2021-03-21 15:13] romani commented on #7602
fix is merged

[2021-03-21 15:15] #9549 closed

[2021-03-21 15:16] romani commented on #9549
fix is merged

[2021-03-21 15:19] romani commented on #9524
it might be mistake, please remove one.

[2021-03-21 15:21] bossever commented on #9524
There are 3 such tests with different names, should I remove 2?

[2021-03-21 15:21] #9583 closed

[2021-03-21 16:57] rnveach opened #9685 "RequireEmptyLineBeforeBlockTagGroup: false positive on line with only single space"
[code]

It is not clear from the report, but the line 5 contains only spaces and the asterisk. What makes this line special is that there is an extra space after the asterisk on the line.

Eclipse's javadoc creation likes to put in these spaces when using it to start the Javadoc.

I am looking for lines like this to not be reported. The line is empty only containing the asterisk and spaces.

[2021-03-21 18:17] AkMo3 commented on #9524
@romani I think these are intentional as same these same duplicate test are present in [avadocMethodCheckTest.java](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheckTest.java) also
https://github.com/checkstyle/checkstyle/blob/34e89144aaeb9a2d41313429ab2c97cdcb71bb13/src/test/java/com/puppycrawl/tools/checkstyle/che

[2021-03-21 20:24] theanmolsharma commented on #9497
I am working on this.

[2021-03-21 20:57] theanmolsharma commented on #9452
I am working on this.

[2021-03-21 22:04] #9427 closed

[2021-03-21 22:04] romani commented on #9427
fix is merged

[2021-03-21 22:05] #9543 closed

[2021-03-21 22:05] romani commented on #9543
fix is merged

[2021-03-21 22:09] romani commented on #9678
fix is merged.

[2021-03-21 22:09] #9678 closed

[2021-03-21 22:20] #9497 closed

[2021-03-21 22:21] #9452 closed

[2021-03-21 22:22] romani commented on #9452
fix is merged

[2021-03-21 22:23] romani commented on #9524
if tests are completely the same - it is mistake.
you can remove them and CI will fail if them was required for something.

[2021-03-21 22:38] AkMo3 opened #9690 "Failure to generate Javadoc tree structure when inline tag inside html list item"
I have read check documentation: https://checkstyle.org/writingjavadocchecks.html
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---
#### Expected:
Successful parsing of file and printing of Javadoc Tree structure

---

Found at [#7202 Comme

[2021-03-22 05:01] #9587 closed

[2021-03-22 05:01] romani commented on #9587
Fix is merged

[2021-03-22 05:20] theanmolsharma commented on #9568
I am working on this.

[2021-03-22 05:37] theanmolsharma commented on #9561
i am working on this.

[2021-03-22 07:51] #9341 closed

[2021-03-22 07:52] pbludov commented on #9341
Fix is merged.

[2021-03-22 07:57] #9584 closed

[2021-03-22 07:57] pbludov commented on #9584
Fix is merged.

[2021-03-22 11:20] theexplorist commented on #9404
I am on it!

[2021-03-22 11:54] theexplorist commented on #9407
I am on it!

[2021-03-22 11:54] theexplorist commented on #9404
@romani PR submitted

[2021-03-22 13:00] theexplorist commented on #9409
I am on it!

[2021-03-22 13:28] theexplorist commented on #9407
PR submitted!

[2021-03-22 14:27] #9359 closed

[2021-03-22 14:28] romani commented on #9359
fix is meged

[2021-03-22 14:38] #7572 closed

[2021-03-22 14:38] romani commented on #7572
fix is merged

[2021-03-22 14:43] #9138 closed

[2021-03-22 14:43] romani commented on #9138
fix is merged

[2021-03-22 14:51] timurt opened #9698 "New check: No Else Return"
It some cases it would be great to have a feature to restrict usage of `else` scope, if there was a return statement or exception was thrown inside `if` scope.

For example:

[code]

Previous method can be rewritten in the following way:

[code]

Examples from other linters:
https://eslint.org/docs/rules/no-else-return
https://www.samanthaming.com/tidbits/23-no-else-return/

[2021-03-22 17:24] shubham11941140 commented on #9525
I am on it!

[2021-03-22 18:36] pbludov commented on #9698
What about this redundant `else`:
[code]
? Both `else` can be dropped.

[2021-03-22 18:39] #9404 closed

[2021-03-22 18:40] pbludov commented on #9404
Fix is merged

[2021-03-22 20:13] theanmolsharma commented on #9590
I would like to work on it. @vivek286 Are you still on it?

[2021-03-22 21:38] AkMo3 commented on #7297
@strkkk Sir, what is the correct format? Should there be no empty line between single line comment and import?

[2021-03-23 03:47] #9561 closed

[2021-03-23 03:48] pbludov commented on #9561
Fix is merged

[2021-03-23 04:06] #9590 closed

[2021-03-23 04:07] pbludov commented on #9590
Fix is merged

[2021-03-23 04:08] #9407 closed

[2021-03-23 04:09] pbludov commented on #9407
Fix is merged

[2021-03-23 04:14] #9417 closed

[2021-03-23 04:15] romani commented on #9417
Fix is merged

[2021-03-23 04:52] AkMo3 opened #9703 "Incorrect parsing in certain cases of <ul>/<ui> html tags"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
#### Expected:
[code]

[2021-03-23 05:23] pbludov commented on #9685
I'm agree. Invisible trailing whitespace should be handled by another check. From the perspective of this check, any line of non-printable symbols is a blank line.

[2021-03-23 06:50] strkkk commented on #7297
@AkMo3 there should be a violation since package declaration and comment has no empty line between them

[2021-03-23 07:02] AkMo3 commented on #7297
I am on it.

[2021-03-23 07:43] theanmolsharma commented on #9562
I am working on it.

[2021-03-23 07:55] theanmolsharma commented on #9560
I am working on this.

[2021-03-23 08:18] theanmolsharma commented on #9480
I am working on this.

[2021-03-23 11:46] theanmolsharma commented on #9443
I am working on this.

[2021-03-23 13:12] #9529 closed

[2021-03-23 13:12] romani commented on #9529
Fix is merged

[2021-03-23 15:18] shashwatj07 commented on #9315
@romani I want to work on this.

is this a bug? or do I need to update the documentation?

[2021-03-23 15:25] CryptoSingh1337 commented on #9548
I am on it.

[2021-03-23 15:25] CryptoSingh1337 commented on #9552
I am on it.

[2021-03-23 16:40] timurt commented on #9698
@pbludov

Probably yes, it can be dropped too

I can try to generalize rule - if every `if` and `else-if` scope contains either jump statements (return, break, continue) or throw exception statement then the following `else` can be omitted

we also have to consider inner `if` branches, for example
[code]

[2021-03-23 18:20] jz20 commented on #9580
I am on it.

[2021-03-23 19:04] AkMo3 commented on #7064
@romani Sir, I would like to work on it. But I have a question, how should `influenceFormat` affect the suppressions like in [SuppressWithNearbyCommentFilter](https://checkstyle.org/config_filters.html#SuppressWithNearbyCommentFilter) we control the number of line we want to suppress . Are we supposed to use the same idea and change the number of lines this can suppress or there is some relation w

[2021-03-23 19:40] shashwatj07 commented on #9143
I don't think we understand the issue correctly.

Something to note:

[code]

I don't think our check is working as expected for text blocks. If it is correct, this issue doesn't make much sense since the example given above shall be a violation anyway.

Please correct me if I'm wrong. @romani @strkkk @pbludov @rnveach

[2021-03-23 20:37] nmancus1 commented on #9143
This is a good find; I think we need to take a look at the pattern that we are using (`ALL_ESCAPED_CHARS`).  The problem seems to be the `\n` (line ending) in between escape characters:

[code]

[2021-03-23 21:43] nmancus1 commented on #9143
Changed the name title of this issue; this check already supported the `\` line continuation escape.

[2021-03-23 22:22] nmancus1 commented on #9143
@shashwatj07 I thought this was a simple oversight on my part during AvoidEscapedUnicodeCharacers text blocks update last summer, but this is not the case. If you would like to work on this issue, please do; I am closing #9712 .

[2021-03-24 01:40] #9357 closed

[2021-03-24 01:40] rnveach commented on #9357
Fix was merged

[2021-03-24 06:54] Devansu-Yadav commented on #9559
I am working on it.

[2021-03-24 06:59] Devansu-Yadav commented on #9504
I am working on it.

[2021-03-24 08:09] theexplorist commented on #9418
PR Submitted

[2021-03-24 09:55] theanmolsharma commented on #9490
I am working on this.

[2021-03-24 11:04] izrobin commented on #8989
Hi! Now that JDK16 is out, and sealed classes is in its second preview, what's the status on this one?

[2021-03-24 11:47] haanhvu commented on #9520
I am on it

[2021-03-24 13:21] strkkk commented on #8989
status is: PRs to fix this issue are welcome

[2021-03-24 13:25] #7618 closed

[2021-03-24 17:26] Mitrajit commented on #9469
I have worked on the issue and gave a PR #9715

[2021-03-24 18:54] Mitrajit commented on #9566
I have worked on the issue and submitted a PR #9718

[2021-03-24 19:40] mjpt777 opened #9719 "Indentation check regression with "new""
[code]

[code]

[code]

---

The indentation check works on 8.39 but not with 8.40 or 8.41 of Checkstyle.

---

[2021-03-25 03:42] nmancus1 commented on #9719
@Abhishek-kumar09 is this related to https://github.com/checkstyle/checkstyle/issues/9341 ?

[2021-03-25 08:14] #9589 closed

[2021-03-25 08:15] pbludov commented on #9589
Fix is merged

[2021-03-25 11:06] Abhishek-kumar09 commented on #9719
No it was only related to try handler, seems like we have issues with "forceStrictCOndition"=true.
When we want to provide more flexibilty in some checks we always get some errors with true forceStrict.

The issue can be approved since there are no duplicates and it's legit expectation.

[2021-03-25 11:39] RuchiGitHu commented on #9557
I am on it!

[2021-03-25 13:09] #9560 closed

[2021-03-25 14:11] SGanguly1999 commented on #9269
I am on it.

[2021-03-25 17:03] AkMo3 opened #9722 "Resolve Pitest Issue - AbstractJavadocCheck"
Pitest to resolve
  `"AbstractJavadocCheck.java.html:<td class='covered'><pre><span  class='survived'>            Arrays.sort(acceptableJavadocTokens);</span></pre></td></tr>"`

[2021-03-25 17:03] AkMo3 commented on #9722
I am on it.

[2021-03-25 17:05] AkMo3 commented on #9722
@romani @strkkk @pbludov Can someone please approve this issue.

[2021-03-25 20:13] SGanguly1999 commented on #9521
@anshuman10398 just to ask you are you still working on this issue?

[2021-03-25 20:56] jz20 commented on #9552
I am on it.

[2021-03-26 03:42] #4122 closed

[2021-03-26 03:42] rnveach commented on #4122
Fix was merged

[2021-03-26 12:43] AkMo3 commented on #8186
I am on it.

[2021-03-26 13:53] aryaniiit002 commented on #9719
there is no issue here
let me explain

[code]
and in the given example by @mjpt777 `new` has 4 extra spaces and that's why it's showing error and forceStrictCondition is true, also `lineWrappingIndentation` don't show any error with

[code]

[2021-03-26 13:55] aryaniiit002 commented on #9719
what's the issue here ?

Here are three acceptable ways to  format ternary expressions:
[code]
and in the given example by @mjpt777 `new` has 4 extra spaces and that's why it's showing error and forceStrictCondition is true, also `lineWrappingIndentation` don't show any error with

[code]

[2021-03-26 14:19] SGanguly1999 commented on #9269
https://github.com/checkstyle/checkstyle/blob/cd9cf0081ef295b9902c8c7074d3fb46a1e4d408/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/AbstractExpressionHandler.java#L592

@nmancus1  I can understand the log error in the first example is generated by this.

But for the second example which  function is generating the log error.Interestingly the log error changed from `'method def

[2021-03-26 14:24] SGanguly1999 commented on #9269
There is another point too, when all the default configuration  are set for identation 4.The log message shows expected indent to be 8

[2021-03-26 16:13] mjpt777 commented on #9719
@aryaniiit002 How are those the only three acceptable ways to format ternary expressions?

The return statement is wrapped in the example and with strict indentation the 4 spaces are not extra.  The ternary expression is wrapped and thus should be indented to show the continuation and that it is not a new expression. This has worked previously and is a regression introduced in 8.40.

[2021-03-26 19:40] Ritik2604 commented on #9698
Hello @timurt  if I change this code
[code]

 to this
noElseif : false
[code]
Correct me if I m wrong I would like to see this issue.

[2021-03-26 21:25] Ritik2604 commented on #9489
I want to work on it. Did I have permission to do so?

[2021-03-27 01:47] #9480 closed

[2021-03-27 01:48] romani commented on #9480
Fix is merged

[2021-03-27 01:49] romani commented on #9489
@Ritik2604 , just place a comment " I am on it" and it yours if nobody claimed it before you

[2021-03-27 01:52] aryaniiit002 commented on #9719
yes i think i get it, i am a slow learner, sorry for the trouble

[2021-03-27 05:09] #9562 closed

[2021-03-27 05:09] romani commented on #9562
Fix is merged

[2021-03-27 06:57] #9722 closed

[2021-03-27 06:57] strkkk commented on #9722
fix is merged

[2021-03-27 08:28] Ritik2604 commented on #9489
Ok, Thank You I will keep this in mind.

[2021-03-27 11:15] theanmolsharma commented on #9506
I am working on this.

[2021-03-27 11:51] Ritik2604 commented on #9698
@timurt Plz acknowledge.

[2021-03-27 13:48] #9581 closed

[2021-03-27 13:49] romani commented on #9581
fix is merged

[2021-03-27 13:52] #9575 closed

[2021-03-27 13:53] romani commented on #9575
fix is merged

[2021-03-27 14:04] romani commented on #7624
everyone is welcome to fix this issue, referenced code could be reused.

[2021-03-27 14:05] romani commented on #7688
everyone is welcome to fix this issue, referenced code could be reused.

[2021-03-27 14:20] #9533 closed

[2021-03-27 14:22] #9418 closed

[2021-03-27 14:22] romani commented on #9418
fix is merged

[2021-03-27 14:24] #9567 closed

[2021-03-27 14:24] romani commented on #9567
fix is merged

[2021-03-27 14:25] #9570 closed

[2021-03-27 14:25] romani commented on #9570
fix is merged

[2021-03-27 14:26] #9532 closed

[2021-03-27 14:27] romani commented on #9532
fix is merged

[2021-03-27 14:34] #9399 closed

[2021-03-27 14:34] romani commented on #9399
fix is merged

[2021-03-27 16:29] RuchiGitHu commented on #9557
hi @pbludov, I am unable to find html file for screenshot, please guide me as this is my first issue for checkstyle. 80% process of this issue is completed. Please let me know that how can I navigate to the respective html file.  I have already go through the good practice link..
Looking forward for your reply...

[2021-03-27 17:10] romani commented on #9515
fix is merged

[2021-03-27 17:10] #9515 closed

[2021-03-27 17:25] romani commented on #9315
it is bug,
nor now, I do not think we need to update docuemntation

[2021-03-27 20:55] MahmoudAbdelazim commented on #9568
I am on it.

[2021-03-27 21:51] jz20 commented on #9410
I am on it.

[2021-03-27 23:50] #9595 closed

[2021-03-27 23:51] romani commented on #9595
Fix is merged

[2021-03-27 23:53] #9576 closed

[2021-03-27 23:54] romani commented on #9576
Fix is merged

[2021-03-28 00:06] #9506 closed

[2021-03-28 00:06] romani commented on #9506
Fix is merged

[2021-03-28 00:24] #9410 closed

[2021-03-28 00:25] romani commented on #9410
Fix is merged

[2021-03-28 00:42] #9490 closed

[2021-03-28 00:43] romani commented on #9490
Fix is merged

[2021-03-28 00:52] #9443 closed

[2021-03-28 00:53] romani commented on #9443
Fix is merged

[2021-03-28 01:34] #9548 closed

[2021-03-28 01:35] romani commented on #9548
Fix is merged

[2021-03-28 01:55] #9568 closed

[2021-03-28 01:56] romani commented on #9568
Fix is merged

[2021-03-28 01:59] romani commented on #9557
https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-TokenTypes is updated

[2021-03-28 03:24] MahmoudAbdelazim commented on #9563
I'm on it.

[2021-03-28 04:26] theanmolsharma commented on #9456
I am working on this.

[2021-03-28 05:07] Pandora-Poison commented on #8396
Hey, There's 404 error for the documentation link

[2021-03-28 05:19] theanmolsharma commented on #9483
I am working on this.

[2021-03-28 05:49] #9456 closed

[2021-03-28 05:50] #9483 closed

[2021-03-28 05:51] romani commented on #9483
Fix is merged

[2021-03-28 06:01] #9523 closed

[2021-03-28 06:02] romani commented on #9523
Fix is merged

[2021-03-28 06:03] shashwatj07 opened #9736 "update ExecutableStatementCountCheckTest to use unique Input file in each test method"
ExecutableStatementCountCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-28 08:53] shashwatj07 commented on #9736
I'm on it!

[2021-03-28 11:09] theanmolsharma commented on #9488
I am working on it.

[2021-03-28 12:02] theanmolsharma commented on #9484
I am working on this.

[2021-03-28 15:47] hiron1999 commented on #9530
The issue #9530  resolved with all tests passed successfully.
@romani  please take a look the PR #9702 if you have time

[2021-03-28 15:51] jz20 opened #9741 "update AvoidStarImportCheckTest to use unique Input file in each test method"
AvoidStarImportCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-28 15:54] jz20 commented on #9741
This issue was opened as a GSoC 2nd issue. @romani Could you please approve it at your convenience?

[2021-03-28 15:54] jz20 commented on #9741
I am on it.

[2021-03-28 18:39] #9504 closed

[2021-03-28 18:40] romani commented on #9504
Fix is merged

[2021-03-28 18:50] #9524 closed

[2021-03-28 18:50] romani commented on #9524
Diy is merged

[2021-03-28 19:16] Thihup opened #9745 "JavadocMethod: new property 'allowInlineReturn' to support for Javadoc return tag as inline"
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

config.xml
[code]

Foo.java
[code]

[code]

**Is your feature request related to a problem? Please describe.**
Add support for Javadoc inline return tag

**Describe the solution

[2021-03-28 19:36] Ritik2604 opened #9746 "update AbstractClassNameCheckTest.java to use unique Input file in each test method"
AbstractClassNameCheckTest.java file reuse some Input files least time in a few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-28 19:36] Ritik2604 commented on #9746
I am on it.

[2021-03-28 19:37] Ritik2604 commented on #9746
This issue was opened as a GSoC 2nd issue. @romani  Could you please approve it at your convenience?

[2021-03-28 19:53] theanmolsharma commented on #9484
I am working on this.

[2021-03-28 20:24] theanmolsharma commented on #9482
I am working on it.

[2021-03-28 22:13] #9741 closed

[2021-03-28 22:13] romani commented on #9741
Fix is merged

[2021-03-28 22:20] #9482 closed

[2021-03-28 22:21] romani commented on #9482
Fix is merged

[2021-03-28 22:22] #9413 closed

[2021-03-28 22:22] romani commented on #9413
Fix is merged

[2021-03-28 22:24] #9484 closed

[2021-03-28 22:24] romani commented on #9484
Fix is merged

[2021-03-29 00:07] MahmoudAbdelazim commented on #9534
Are you still on it or I can work on it instead?

[2021-03-29 00:22] MahmoudAbdelazim opened #9749 "update MethodLengthCheckTest.java to use unique Input file in each test method"
MethodLengthCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-29 00:23] MahmoudAbdelazim commented on #9749
I am on it.

[2021-03-29 00:23] MahmoudAbdelazim commented on #9749
This issue was opened as a GSoC second issue, @romani can you please approve it?

[2021-03-29 00:40] romani commented on #9534
@MahmoudAbdelazim, you can create issue like this for yourself, just double check that issue for same test is not yet created.

[2021-03-29 01:14] #9563 closed

[2021-03-29 01:14] romani commented on #9563
Fix is merged

[2021-03-29 01:26] #9528 closed

[2021-03-29 01:27] romani commented on #9528
Merged

[2021-03-29 01:29] #9522 closed

[2021-03-29 01:29] romani commented on #9522
Merged

[2021-03-29 01:37] #9552 closed

[2021-03-29 01:37] romani commented on #9552
Merged

[2021-03-29 01:39] #9580 closed

[2021-03-29 01:39] romani commented on #9580
Merged

[2021-03-29 01:57] #9736 closed

[2021-03-29 01:57] romani commented on #9736
Merged

[2021-03-29 05:29] #9527 closed

[2021-03-29 05:29] romani commented on #9527
Merged

[2021-03-29 05:51] Fernal73 commented on #6893
Thank you!!!

[2021-03-29 06:32] theanmolsharma commented on #9493
I am working on it.

[2021-03-29 08:28] theanmolsharma commented on #9477
I am working on this.

[2021-03-29 11:22] Powerrr opened #9756 "IllegalIdentifierName doesn't check single no-parentheses lambda parameter"
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#IllegalIdentifierName

[code]

---

Expected are two errors - one for each of the lambdas. But we only see one error.
Looks like when lambda has only one parameter and it's written without parentheses around it then it is not considered an identifier.

[2021-03-29 13:51] nmancus1 commented on #9756
This is because `IllegalIdentifierName` does not check the `LAMBDA` token, but does check the `PARAMETER_DEF` token. Once we put parenthesis around `var` it becomes a CHILD OF `PARAMETER_DEF`, but without parenthesis,  it is simply a child of `LAMBDA`.:

[code]
VS

[code]

 I can work on this once it is approved.

[2021-03-29 14:45] shashwatj07 commented on #9553
I'm on it!

[2021-03-29 15:36] strkkk commented on #9756
It seems to me that check should support both cases, it is clearly a bug

[2021-03-29 15:37] nmancus1 commented on #9756
I'm on it.

[2021-03-29 16:06] SGanguly1999 commented on #9719
I am on it.

[2021-03-29 16:31] AkMo3 commented on #4465
I am on it

[2021-03-29 18:21] timurt commented on #9698
@Ritik2604 thank you for your interest, this issue is on discussion step and hadn't been approved yet, so it can't be taken right now

please check other issues with `approved` label

[2021-03-29 18:32] #9531 closed

[2021-03-29 21:46] atf01 commented on #9507
i'm on it

[2021-03-30 02:21] kimhanui opened #9764 "Why don't we add `<property name="indentationTabWidth" value="4"/>` property as default right on checkstyle.xml?"
As you see, when someone uses 'tab' on indentation, there are yellow lines in source code.
(I just commented FileTabCharacter module to use 'tab' at indenatation)
it seems like Indent logic is not sync with tabWith or IndentLevel.

To solve this problem, I had to...
- add `<property name="indentationTabWidth" value="4"/>` under the `Indentation` module

- or add `<module name="IndentLevel"/>` unde

[2021-03-30 03:52] rnveach commented on #9764
I believe you are looking for https://checkstyle.org/config.html#tabWidth which goes under Checker and will given to all modules including Indentation.

[2021-03-30 08:57] AkMo3 commented on #8010
I am on it.

[2021-03-30 11:48] Whitroy commented on #9551
I am on it

[2021-03-30 12:31] kimhanui commented on #9764
@rnveach Wow, yes you r a genius. That was what I looking for.

However, I realized that this suggestion is not a proper thing because my checkstyle.xml source is based on `google_style.xml`, and google use 2 spaces rather than a tab at Indentation, right? So there isn't any reason to add this feature as default...!

Well, Thank you for pointing it out.

[2021-03-30 15:08] Whitroy commented on #9551
Done #9551

![Capture1](https://user-images.githubusercontent.com/55481516/113011732-b2c0c880-9197-11eb-9157-fe45829483bd.PNG)

![Capture](https://user-images.githubusercontent.com/55481516/113011754-b9e7d680-9197-11eb-8f4d-90456b343316.PNG)

[2021-03-30 16:47] Devansu-Yadav opened #9767 "update LeftCurlyCheckTest to use unique Input file in each test method"
LeftCurlyCheckTest.java file reuses some Input files few times in few different test methods.
Expected: each test method in the Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-30 16:47] Devansu-Yadav commented on #9767
This issue was opened as a GSoC 2nd issue. @romani Could you please approve it at your convenience?

[2021-03-30 16:51] Devansu-Yadav opened #9768 "update RightCurlyCheckTest to use unique Input file in each test method"
RightCurlyCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-30 16:52] Devansu-Yadav commented on #9768
This issue was opened as a GSoC 2nd issue. @romani Could you please approve it at your convenience?

[2021-03-30 16:52] Devansu-Yadav commented on #9768
I am working on it.

[2021-03-30 16:54] Devansu-Yadav commented on #9494
I am working on it.

[2021-03-30 18:49] #9553 closed

[2021-03-31 01:22] MahmoudAbdelazim opened #9773 "update DeclarationOrderCheckTest.java to use unique Input file in each test method"
DeclarationOrderCheckTest.java file reuses some Input files few time in few different test methods.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-31 01:23] MahmoudAbdelazim commented on #9773
I'm on it.

[2021-03-31 02:08] MahmoudAbdelazim commented on #9582
I'm on it.

[2021-03-31 02:13] kimhanui commented on #9764
That's also solved.
I had to set `tabWidth` under `TreeWalker`

[2021-03-31 03:05] MahmoudAbdelazim commented on #9502
I'm on it.

[2021-03-31 03:19] MahmoudAbdelazim commented on #9470
I'm on it.

[2021-03-31 06:10] kimhanui opened #9776 "Why is there difference between `doc` and `google_checks.xml` at `MethodName`?"
This is about `MethodName`
- This is `google_checks.xml` which shows underscore at the final.
![image](https://user-images.githubusercontent.com/30483337/113097878-a63d7e00-9232-11eb-965d-86858a483fc2.png)

- and this is [doc](https://checkstyle.sourceforge.io/config_naming.html#MethodName) which shows no underscore at the final.
![image](https://user-images.githubusercontent.com/30483337/11309790

[2021-03-31 10:56] SGanguly1999 commented on #9526
I am on it

[2021-03-31 12:30] CryptoSingh1337 opened #9780 "update ImportOrderCheckTest.java to use unique input file in each test method"
ImportOrderCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-03-31 12:31] CryptoSingh1337 commented on #9780
@romani please approve this issue.

[2021-03-31 12:57] #9493 closed

[2021-03-31 12:58] #9477 closed

[2021-03-31 12:58] romani commented on #9477
merged

[2021-03-31 14:14] CryptoSingh1337 commented on #9780
I am on it.

[2021-03-31 15:01] romani commented on #9776
Check was created about 15 years ago, and got some default value, Google style appeared later, config was created at 2014.
Check works for any style.

[2021-03-31 19:12] AkMo3 opened #9784 "Prefer Method Reference above lambda expressions"
From https://github.com/sevntu-checkstyle/sevntu.checkstyle/pull/834

Replace lambda operator with method reference for CI to pass in
https://github.com/checkstyle/checkstyle/blob/f868b02a37191ca662bb919f44353b55897793b0/src/test/java/com/puppycrawl/tools/checkstyle/xpath/AttributeNodeTest.java#L57
And
https://github.com/checkstyle/checkstyle/blob/f868b02a37191ca662bb919f44353b55897793b0/src/test/

[2021-03-31 19:13] #9494 closed

[2021-04-01 06:06] SGanguly1999 commented on #9558
I am on it

[2021-04-01 11:21] Ritik2604 commented on #9471
i am on it

[2021-04-01 12:39] Ritik2604 opened #9792 "New check ternaryReturn"
In some cases it would be great to have a feature to restrict usage of If else and use ternary instead

For example:

[code]

Previous method can be rewritten in the following way:

[code]

/var/tmp $ cat Test.java
[code]
Previous method can be rewritten in the following way:

[code]

[2021-04-01 14:03] #8179 closed

[2021-04-01 14:05] romani commented on #8179
merged

[2021-04-01 14:24] #5779 closed

[2021-04-01 14:24] romani commented on #5779
merged

[2021-04-01 15:07] brngylni commented on #9596
Can I work on that ?

[2021-04-01 16:57] #9470 closed

[2021-04-01 17:24] CryptoSingh1337 commented on #9780
@timurt please make this issue approved.

[2021-04-02 02:44] rnveach commented on #9756
Fix was merged

[2021-04-02 02:44] #9756 closed

[2021-04-02 03:18] #9784 closed

[2021-04-02 03:19] romani commented on #9784
Merged

[2021-04-02 03:57] romani opened #9794 "Loggers should use class for printing to output that does only localization"
Detected at https://github.com/checkstyle/checkstyle/pull/9761#discussion_r604926243

All logger classes in checkstyle hacked
 should use special class to print messages to output stream by class LocalizedMessage that  only do location of string and nothing else.

[2021-04-02 04:20] Youssef1313 commented on #7571
@romani Should this issue be closed now?

[2021-04-02 06:21] SGanguly1999 opened #9796 "update MagicNumberCheckTest to use unique Input file in each test method"
MagicNumberCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-02 06:21] SGanguly1999 commented on #9796
I am on it.

[2021-04-02 06:22] SGanguly1999 commented on #9796
@romani @strkkk @pbludov  please approve

[2021-04-02 06:53] theanmolsharma commented on #9519
I am on it.

[2021-04-02 07:20] theanmolsharma commented on #9451
I am working on this.

[2021-04-02 07:39] theanmolsharma commented on #9487
I am working on this.

[2021-04-02 08:36] theanmolsharma commented on #9491
I am working on it.

[2021-04-02 10:19] AkMo3 commented on #9794
I am on it.

[2021-04-02 12:20] MahmoudAbdelazim commented on #9773
@romani can this issue be approved?

[2021-04-02 13:39] romani opened #9803 "EmptyLineSeparator: fix message and documentation"
detected at https://github.com/checkstyle/checkstyle/pull/9707#issuecomment-812521756

TODO:
1) update message
`empty.line.separator=''{0}'' should be separated from previous statement.`
to mention "comments" or "from previous line" or create new message. It should be some thing like `''{0}'' should be separated by empty line from next block or statement or comment``

2) update default example wit

[2021-04-02 14:21] romani commented on #9803
this example shows valid point on why we should validate "after" (not a from previos), there should be no violations on this code at all.
[code]

[2021-04-02 14:32] #7297 closed

[2021-04-02 14:33] romani commented on #7297
fix is merged

[2021-04-02 16:22] AB-san commented on #9510
I am on it

[2021-04-02 16:36] AB-san commented on #9510
I am on it

[2021-04-02 17:03] AB-san commented on #9509
I am on it

[2021-04-02 18:16] timurt commented on #9773
@MahmoudAbdelazim done

[2021-04-02 19:15] AkMo3 opened #9806 "Javadoc summary not processed inside html tags"
I have read check documentation: https://checkstyle.org/config_javadoc.html#SummaryJavadoc
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

**Describe what you expect in detail.**

The summary should not raise any violation

[code]
![Scree

[2021-04-02 19:21] martincalvert commented on #8248
Any update on this? Running into this now as well. And the effort required to refactor the imports across all our packages is a bit too high for a non major bump.

Adding a MISC_PACKAGE to the order and allowing regex defined on that would solve the issue for my cases at least.

[2021-04-02 20:57] Ritik2604 commented on #7911
Why we are not discussing this?? I saw the code related to it that is all commented what happens? No doubt it is an important attribute that your project should be compilable or executable with language independent. @timurt @romani @jokowncode @bmarwell

[2021-04-02 21:37] Ritik2604 commented on #8269
I think the previous contributor is not interested If you want me to work on it I will happily do so @romani @timurt

[2021-04-02 22:48] Ritik2604 commented on #8269
Just found a new easy way to exclude test directories as well as files for checking which is totally different from this mentioned issue.

Issue :#132

Do I add the steps to the Documentation
![Step1](https://user-images.githubusercontent.com/49342895/113459507-5ed21000-9433-11eb-8d6b-756e565535ee.jpg)

![sTEP 2](https://user-images.githubusercontent.com/49342895/113459524-6ee9ef80-9433-11eb-892f-

[2021-04-02 23:02] Ritik2604 commented on #5982
@romani @timurt @pbludov
There is no one working on this issue as the issue needs not so much time I can work on it If you assign me.

[2021-04-03 00:41] rnveach commented on #7911
@Ritik2604 No one has been willing to put the time into fixing this. Admins are constantly busy reviewing and fixing dormant PRs. We rely on community help to resolve issues such as these.

[2021-04-03 04:29] romani commented on #8269
We need update on Filter documentation on how to use this Filter in xml config.

We do not need idea setup, we already have it.
https://checkstyle.org/idea.html

[2021-04-03 04:57] Ritik2604 commented on #8269
@romani that is not an idea setup I just show how to exclude test files directories for checking

[2021-04-03 05:15] Ritik2604 commented on #7911
@rnveach By reading all the discussion on this topic and checking on attack overflow I concluded that we came up with a solution described by @romani but it needs some more discussion and changes and I think that solution might work with some modification I will love to work on this.

[2021-04-03 05:52] #9491 closed

[2021-04-03 05:53] romani commented on #9491
Merged

[2021-04-03 09:15] stonefix commented on #9510
I am working on it.

[2021-04-03 13:55] romani opened #9807 "CI is failing on 'validation.sh no-violation-test-josm'"
https://checkstyle.semaphoreci.com/jobs/50cce6cb-c2d2-405e-9e5a-dbe2e807d5fc

[code]

[2021-04-03 14:30] romani commented on #9807
I disabled CI item until problem is resolved.

[2021-04-03 14:40] romani commented on #9596
@brngylni , yes, please work on this issue.

[2021-04-03 14:47] romani commented on #9586
final fix was done by me

[2021-04-03 14:47] #9586 closed

[2021-04-03 15:10] #9502 closed

[2021-04-03 15:12] #9488 closed

[2021-04-03 15:12] romani commented on #9488
merged

[2021-04-03 15:34] nmancus1 opened #9808 "Possible Check performance Issue detected in report generation for OpenJDK9"
Noticed at:
https://github.com/checkstyle/checkstyle/actions/runs/698637023
https://github.com/checkstyle/checkstyle/actions/runs/668897720
https://github.com/checkstyle/checkstyle/actions/runs/669273124
...

When Openjdk9 is included in the projects to test on, report generation times out for certain checks.

Checks include:
IllegalIdentifierName
JavadocMethodCheck

The repository, at https://git

[2021-04-03 15:34] #9565 closed

[2021-04-03 15:34] romani commented on #9565
merged

[2021-04-03 16:18] djzenma commented on #9534
Ok, I leave it to you.

[2021-04-03 16:29] nmancus1 commented on #7417
PR's opened in the following projects to update their Checkstyle config:
equalsverifier: https://github.com/jqno/equalsverifier/pull/416
xwiki-commons: https://github.com/xwiki/xwiki-commons/pull/140
pmd build-tools: https://github.com/pmd/build-tools/pull/18

[2021-04-03 20:09] AkMo3 commented on #9807
@romani This is happening as cache usage was disabled after the `17647` revision of JSOM. Temporarily when can fix `TESTED` to `17646` to make CI live again. According to [#9049 comment](https://github.com/checkstyle/checkstyle/pull/9049#issuecomment-735446821), if we don't care code, I send a PR right now to fix this.

For a proper solution to allow cache, I am not able implement that right now.

[2021-04-03 23:39] Ritik2604 commented on #5982
![import doc](https://user-images.githubusercontent.com/49342895/113494048-7cba7600-9502-11eb-96b6-a08d219916d7.PNG)
Just for confirmation, I don't think {@code *} should be visible there If you want me to correct that and add examples then please acknowledge.

[2021-04-04 00:55] romani commented on #7911
Can we reproduce issue in CI ? I can not approve something that we can not verify that is become resolved after fix and CI can detect w somebody try to introduce this regression again in some PR.
We already accepted a lot of fix for Chinese locale, but people still have problems. So I try to understand where is a problem.

[2021-04-04 13:12] AkMo3 commented on #9009
I am on it.

[2021-04-04 13:57] MahmoudAbdelazim opened #9814 "update TypecastParenPadCheckTest.java to use unique input file in each test method"
TypecastParenPadCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-04 13:58] MahmoudAbdelazim commented on #9814
This issue is proposed as a GSoC second issue, can you please approve it? @romani @timurt

[2021-04-04 13:58] MahmoudAbdelazim commented on #9814
I'm on it.

[2021-04-04 17:37] #9559 closed

[2021-04-04 17:38] romani commented on #9559
merged

[2021-04-04 17:48] #9780 closed

[2021-04-04 17:50] romani commented on #9780
merged.

[2021-04-05 03:46] aryaniiit002 commented on #9299
Found this
https://github.com/checkstyle/checkstyle/blob/dcbf77c97fbb00a37035faf4ea183f7ea8f3d909/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java#L3990
is this have anything to do with this issue?

[2021-04-05 11:34] bossever opened #9816 "update EmptyBlockCheckTest.java to use unique input file in each test method"
EmptyBlockCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-05 11:35] bossever commented on #9816
@romani @timurt  Please approve.

[2021-04-05 11:35] bossever commented on #9816
I'm on it.

[2021-04-05 13:33] romani commented on #9746
merged

[2021-04-05 13:33] #9746 closed

[2021-04-05 14:18] #9390 closed

[2021-04-05 14:44] CryptoSingh1337 commented on #9514
I am on it.

[2021-04-05 14:47] CryptoSingh1337 commented on #9511
I am on it.

[2021-04-05 15:04] brngylni commented on #9596
I am aware of the test results. I am going to create a new pull request now.

[2021-04-05 19:35] MahmoudAbdelazim commented on #9534
Thanks.

[2021-04-05 21:07] Ritik2604 commented on #5982
@romani Assign this issue to me. There is none working on this issue.

[2021-04-05 21:15] Ritik2604 commented on #5982
[code]
[code]
[code]
@romani here I encounter 2 violations but u r saying that there is no violation.

[2021-04-05 21:27] AB-san commented on #9525
Are you still on it Or can i work on it?

[2021-04-06 02:35] Ritik2604 opened #9821 "Update Doc Sun's Java Style Checkstyle Coverage"
detected at #6490.
project idea refer: https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-open-jdk-code-convention-coverage

updation in DOC: https://checkstyle.sourceforge.io/sun_style.html#a4.1
for formatting or standard refer: google java style : https://checkstyle.org/google_style.html
update row 4.1 Indentation - Line Length
checkstyle check - Size V

[2021-04-06 02:38] Ritik2604 commented on #9821
@romani please approved it. It is a subpart of the project idea - Open JDK Code convention coverage.
I want to work on it.

[2021-04-06 04:18] AB-san commented on #9479
I am on it

[2021-04-06 04:28] AB-san commented on #9449
I am on it

[2021-04-06 05:26] romani commented on #9502
Merged

[2021-04-06 06:23] SGanguly1999 commented on #7546
I am on it.

[2021-04-06 08:53] haanhvu commented on #9564
I am on it

[2021-04-06 14:34] #9514 closed

[2021-04-06 14:35] romani commented on #9514
merged

[2021-04-06 14:46] #9814 closed

[2021-04-06 14:46] romani commented on #9814
merged

[2021-04-06 14:52] #9773 closed

[2021-04-06 14:52] romani commented on #9773
merged

[2021-04-06 15:04] romani commented on #8269
merged

[2021-04-06 15:04] #8269 closed

[2021-04-06 15:22] romani commented on #9449
Merged

[2021-04-06 15:22] #9449 closed

[2021-04-06 15:28] SGanguly1999 opened #9824 "update ParameterNameCheckTest.java to use unique input file in each test method"
ParameterNameCheckTest.java file reuse some Input files few time in few different test method.
Expected: each test method in Test class use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-06 15:29] SGanguly1999 commented on #9824
@romani @timurt could you please approve this issue

[2021-04-06 15:31] SGanguly1999 commented on #9824
I am on it.

[2021-04-06 15:46] CryptoSingh1337 commented on #9525
@shubham11941140 are you working on this issue?

[2021-04-06 17:52] #9749 closed

[2021-04-06 17:54] #9511 closed

[2021-04-06 21:45] nmancus1 commented on #8989
I'm on this.

[2021-04-07 01:45] aryaniiit002 commented on #9803
i am on it

[2021-04-07 06:44] Soist commented on #9550
I am on it.

[2021-04-07 13:38] CryptoSingh1337 commented on #9525
@romani could you please tell me where I have to add `// ok` and `// violation` in JavadocStyleCheckTest.java. Because when I am adding `// ok` or `// violation`, unit test is failing.

[2021-04-07 14:44] abhijeet141 commented on #9461
I am on it

[2021-04-07 16:29] Soist commented on #9495
I am on it.

[2021-04-07 16:45] #9509 closed

[2021-04-08 04:50] AmrBumadian commented on #9550
I am on it

[2021-04-08 07:50] AkMo3 opened #9834 "Rename references of Messages to Violation"
From: #9761

In #9761, LocalizedMessage was renamed to Violation. A lot of API changes were made, but still, a lot of them still remain to be renamed to new reference to give clear context.
Eg:
[getMessages -> getViolations](https://github.com/AkMo3/checkstyle/blob/25796f93a48eba65d7758374b6c052f946bff207/src/main/java/com/puppycrawl/tools/checkstyle/api/AuditEvent.java#L108) , [fileMessages -> fi

[2021-04-08 17:14] Ritik2604 commented on #9821
@timurt please approve it.

[2021-04-08 19:55] brngylni opened #9838 "update SingleLineJavadocCheckTest to use unique Input file in each test method"
SingleLineJavadocCheckTest.java file reuse some Input files few time in a few different test method.
Expected: each test method in the Test class use its own Input file and does not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-09 07:57] brngylni commented on #9838
I can start to work when it approved
@romani @timurt

[2021-04-09 10:46] antalk2 opened #9840 "Unclear message for wrong order Checks"
DeclarationOrderCheck
ImportOrderCheck

"Variable access definition in wrong order"
"Wrong order for 'xxx' import"

These messages do not indicate possible solutions,
not even details of what is "wrong" that is almost certainly
already available without further work, like: '"public static" should be after
"private static"'. They do not even tell whether the thing  should be moved up or down.

With

[2021-04-09 12:52] CryptoSingh1337 commented on #9501
I am on it.

[2021-04-09 18:25] Ritik2604 commented on #9821
@romani  @timurt please approve this issue and review the code. please Acknowledge.

[2021-04-09 20:29] MahmoudAbdelazim opened #9843 "Sun Style Convention Coverage Update - Blank Spaces"
Update the Sun Style Convention Coverage page to ensure that the Blank Spaces guides are supported by Checkstyle using WhiteSpaceAround Test and others.
Add the appropriate test files and reference its place in the page and also the configuration lines inside the sun_style.xml file.

[2021-04-09 20:29] MahmoudAbdelazim commented on #9843
I'm on it.

[2021-04-09 20:33] MahmoudAbdelazim commented on #9843
This issue is created as a little part of the project idea "Open JDK Code Convention Coverage" for GSoC, can you please approve it? @romani @timurt

[2021-04-10 01:00] Ritik2604 commented on #9843
@MahmoudAbdelazim you have to make input files also.

[2021-04-10 01:41] Ritik2604 commented on #9843
you have to make unique input files for each test method in test file and resolve this
[ERROR] XdocsPagesTest.testAllStyleRules
you can refer my pull request for changes. @MahmoudAbdelazim
Also add output of updated HTML page in PR and mention why you are giving blue tick means which functionality didn't covers.

[2021-04-10 04:17] SGanguly1999 commented on #7546
@romani @rnveach  There is a problem I am facing here. All the test functions calls `getModuleConfig()` which returns a single` Configuration` object. If  we want to extend it to load few more modules we have return a list of `Configuration `objects. That will require a lot of changes to be made to the `it `( Like verify() needs to be created that supports `List<Configuration>` and all methods lin

[2021-04-10 07:45] aryaniiit002 commented on #9803
i am on it

[2021-04-10 09:30] #9558 closed

[2021-04-10 09:31] timurt commented on #9838
@brngylni hello, I put labels, you can start working, good luck :)

[2021-04-10 09:32] #9767 closed

[2021-04-10 10:39] timurt commented on #9821
@Ritik2604 I am sorry, maybe I am out of context but I couldn't find initial issue discussing needs of updating sun java style

Links in PR description refer to issues not related to Sun or Google styles

Please provide links and reference to initial issues

[2021-04-10 12:58] Ritik2604 commented on #9821
@timurt https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-open-jdk-code-convention-coverage it is a project idea. The links in PR desc are for contributors. These are the steps one should have to do.
I have updated an issue that is kind of a reference issue .#6490

[2021-04-10 18:38] CryptoSingh1337 commented on #9445
I am on it.

[2021-04-10 19:01] #9508 closed

[2021-04-10 19:02] romani commented on #9508
Merged

[2021-04-10 19:04] #9501 closed

[2021-04-10 19:05] romani commented on #9501
Merged

[2021-04-10 19:08] romani commented on #9596
Merged

[2021-04-10 19:10] romani commented on #9550
Merged

[2021-04-10 19:10] #9550 closed

[2021-04-10 19:13] #9461 closed

[2021-04-10 19:14] romani commented on #9461
Merged

[2021-04-10 19:29] #9441 closed

[2021-04-10 19:31] #9487 closed

[2021-04-10 19:31] romani commented on #9487
Merged

[2021-04-10 19:32] #9451 closed

[2021-04-10 19:36] #9519 closed

[2021-04-10 19:36] romani commented on #9519
Merged

[2021-04-10 19:47] #9585 closed

[2021-04-10 19:48] romani commented on #9585
Merged

[2021-04-10 20:14] romani commented on #5982
It is a bug in example.

From documentation https://checkstyle.org/config_imports.html#ImportOrder_Properties

Match should be done by prefix, start with. Javax and java is the same group. But each group should be ordered inside, so placing java after javax is not good

[2021-04-10 20:23] #9526 closed

[2021-04-10 20:23] romani commented on #9526
Merged

[2021-04-10 20:27] #9525 closed

[2021-04-10 20:27] romani commented on #9525
Merged

[2021-04-10 21:49] #9824 closed

[2021-04-10 21:50] romani commented on #9824
Merged

[2021-04-11 03:18] CryptoSingh1337 commented on #9479
I am on it.

[2021-04-11 04:06] CryptoSingh1337 commented on #9444
I am on it.

[2021-04-11 04:28] CryptoSingh1337 commented on #9442
I am on it.

[2021-04-11 06:17] JasonAchillious commented on #8929
If no one picks this, I would like to have a try.

[2021-04-11 07:58] CryptoSingh1337 commented on #9408
@vivek286 are you working on this issue?

[2021-04-11 08:00] CryptoSingh1337 commented on #9429
@Shubham-Samanta are you working on this issue?

[2021-04-11 10:58] Ritik2604 commented on #5982
@romani That's what I m thinking just want confirmation on  `com...` order why it is a violation as I am giving value ` value=" java,  org"/` from which `com..` become `* or everything else` group and it should be in the last but I getting a violation.

[2021-04-11 19:55] AkMo3 commented on #6706
I am on it.

[2021-04-11 22:29] #9510 closed

[2021-04-11 22:30] romani commented on #9510
merged

[2021-04-11 22:30] #9442 closed

[2021-04-11 22:31] romani commented on #9442
merged

[2021-04-11 22:32] #9495 closed

[2021-04-11 22:32] romani commented on #9495
merged

[2021-04-11 22:33] #9444 closed

[2021-04-11 22:33] romani commented on #9444
merged

[2021-04-11 22:33] #9479 closed

[2021-04-11 22:34] #9445 closed

[2021-04-11 22:34] romani commented on #9479
merged

[2021-04-11 22:34] romani commented on #9445
merged

[2021-04-11 22:35] #9557 closed

[2021-04-11 22:35] romani commented on #9557
merged

[2021-04-12 02:02] nmancus1 opened #9854 "ModiferOrderCheck should support 'sealed' and 'non-sealed'"
I have read check documentation: https://checkstyle.sourceforge.io/config_modifier.html#ModifierOrder
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

Noticed at https://github.com/checkstyle/checkstyle/pull/9827.

[code]
I would expect no violations here.

According to [JLS](https://docs.oracle.com/javase/specs/jls/se16/preview/specs/sealed-classe

[2021-04-12 02:03] nmancus1 commented on #9854
I'm on this once it is approved and https://github.com/checkstyle/checkstyle/pull/9827 is merged.

[2021-04-12 06:27] ajithalbus commented on #8929
@JasonAchillious I haven't picked this. Please feel free to propose a fix.

[2021-04-12 07:07] CryptoSingh1337 opened #9860 "update example of AST for TokenTypes.PARAMETER_DEF"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#PARAMETER_DEF

needs to be extended to show example of AST.
Source to be updated: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java

PLEASE READ for more details: https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-AST-in-T

[2021-04-12 07:08] CryptoSingh1337 commented on #9860
@romani @timurt please approve this issue.

[2021-04-12 07:09] #9860 closed

[2021-04-12 13:26] AmrBumadian commented on #9481
I am on it

[2021-04-12 14:01] nmancus1 opened #9863 "'checkstyle_checks.xml' should check for proper array initialization RCURLY indentation"
Example:

[code]

Since IntelliJ does not enforce/ auto-format array initialization right curly brackets (unless indentation is less than specified) we could add the following modules to `checkstyle_checks.xml` to enforce this style:

[code]

Right now, this config produces 78 violations:
`/home/nick/IdeaProjects/checkstyle/config/ant-phase-verify.xml:174: Checkstyle failed: Got 78 errors and 0 wa

[2021-04-12 15:18] Soist commented on #9500
I am on it.

[2021-04-12 16:12] Soist commented on #9499
I am on it.

[2021-04-12 20:23] AmrBumadian opened #9864 "update coding/VariableDeclarationUsageDistanceCheckTest to use unique input file for each test method"
coding/VariableDeclarationUsageDistanceCheckTest.java file reuse input files several times in different test method.
Expected: each test method in the Test class use its unique input file and does not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-12 20:28] AmrBumadian commented on #9864
Can it be approved? Thanks in advance. @timurt

[2021-04-12 21:01] #8010 closed

[2021-04-12 21:01] rnveach commented on #8010
Fix was merged

[2021-04-13 05:10] Soist opened #9866 "update PackageNameCheckTest to use unique Input file in each test method"
PackageNameCheckTest.java file reuse some Input files few time in a few different test method.
Expected: each test method in the Test class use its own Input file and does not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-13 05:11] Soist commented on #9866
This issue was opened as a GSoC 2nd issue. @romani Could you please approve it at your convenience?

[2021-04-13 07:38] Soist opened #9867 "update StaticVariableNameCheckTest to use unique Input file in each test method"
StaticVariableNameCheckTest.java file reuse some Input files few time in a few different test method.
Expected: each test method in the Test class use its own Input file and does not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-13 07:38] Soist commented on #9867
This issue was opened as a GSoC 2nd issue. Could respected mentors please approve it at your convenience?

[2021-04-13 08:23] strkkk commented on #8989
fix is merged

[2021-04-13 08:23] #8989 closed

[2021-04-13 13:46] #9437 closed

[2021-04-13 13:53] #8237 closed

[2021-04-13 16:00] CryptoSingh1337 commented on #9457
I am on it.

[2021-04-13 16:26] nmancus1 commented on #3145
I am on this.

[2021-04-13 16:31] nmancus1 commented on #3145
How about this:

[code]

[2021-04-13 19:05] timurt commented on #9864
@AmrBumadian done

[2021-04-13 19:06] #9429 closed

[2021-04-13 19:06] #9408 closed

[2021-04-14 03:18] Fernal73 commented on #8240
One rule that I can think of is restrict the use of `open module` only to those modules that are known to be used reflectively. For e.g., module-info.java for test packages that Surefire uses. The rule can either check whether the module definition is under a test directory and/or requires test modules such as those from junit, junit5, testng.

[2021-04-14 04:44] rnveach commented on #3145
It is actually caused because we are creating nodes not built from the source. There is no text that signifies the start of `METHOD_DEF`.
Instead, when the ANTLR gives us no exact line/column, we try to calculate it's position by looking at it's children and siblings.
See https://github.com/checkstyle/checkstyle/blob/13481f2c410e4944ecf5ab93ec49948a523a0c82/src/main/java/com/puppycrawl/tools/check

[2021-04-14 05:54] Devansu-Yadav commented on #9503
I am working on it.

[2021-04-14 05:56] Devansu-Yadav commented on #9492
I am working on it.

[2021-04-14 05:58] Devansu-Yadav commented on #9473
I am working on it.

[2021-04-14 06:02] #9520 closed

[2021-04-14 10:27] nmancus1 commented on #8990
From #9699 :

Should we allow users to specify expected order of param tags?

[2021-04-14 11:00] nmancus1 commented on #3145
That is correct, as I stated above, but the strange production rules for `classTypeSpec` and `builtinTypeSpec` is why we do not use the node that comes first syntactically; both of those rules make the `LBRACK` the root node of that production, so it is that token's location that is being used in this case.

Yes, that is a good idea I agree.

[2021-04-14 11:31] CryptoSingh1337 commented on #9454
I am on it.

[2021-04-14 11:33] CryptoSingh1337 commented on #9428
I am on it.

[2021-04-14 11:34] CryptoSingh1337 commented on #9593
I am on it.

[2021-04-14 12:49] AkMo3 commented on #8990
We can create a property so that users can choose between two options:
1. All parameters should be listed in the order they appear
2. First all arguments are listed in order they appear and then the data type of the arguments they appear (as shown in jdk docs)

[2021-04-14 16:24] #9564 closed

[2021-04-14 16:25] timurt commented on #9564
@haanhvu merged, thank you for contribution

[2021-04-14 16:30] #9428 closed

[2021-04-14 16:30] timurt commented on #9428
@CryptoSingh1337 merged, thank you for contribution :)

[2021-04-14 16:36] #9457 closed

[2021-04-14 16:36] timurt commented on #9457
@CryptoSingh1337 merged

[2021-04-14 16:44] timurt opened #9873 "CI Check links step fails"
It seems like saxonica updated some url paths of their documentations, so that requests to old url will be automatically redirected to the new one.

https://github.com/checkstyle/checkstyle/runs/2345050891?check_suite_focus=true

Here is log from CI:
[code]

It is needed to update these urls in our codebase

[2021-04-14 19:36] AkMo3 commented on #9873
I am on it.

[2021-04-15 02:21] rnveach commented on #8990
Unless @romani disagrees, I would start with the simple check and then expand on it for different behaviors. The more that is added to the check in the first pass, the longer it may take to get merged.

[2021-04-15 09:49] tomas-langer opened #9876 "MissingJavadocMethod misses inner classes of interfaces"
I have read check documentation: https://checkstyle.org/config_javadoc.html#MissingJavadocMethod
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

bash
/var/tmp $ javac YOUR_FILE.java
- yes

/var/tmp $ cat config.xml

[code]

/var/tmp $ cat YOUR_FILE.j

[2021-04-15 11:08] pbludov commented on #8990
I think that default behavior should be `parameters`, then `type parameters`, as shown in [specs](https://docs.oracle.com/en/java/javase/16/docs/specs/javadoc/doc-comment-spec.html#param)

[2021-04-15 11:41] nmancus1 commented on #8990
[code]
![image](https://user-images.githubusercontent.com/31252532/114863652-fafa0080-9dbd-11eb-9723-943078c7cb03.png)

[2021-04-15 14:44] AkMo3 commented on #8990
@nmancus1 I think we agreed to follow the that the first parameter that comes first, should be put first (from [#8990 comment](https://github.com/checkstyle/checkstyle/issues/8990#issue-743144665))

But it should be like:
[code]
I believe it is better to follow the specs as this is required for both [Open JDK Code convention coverage](https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2

[2021-04-15 15:02] nmancus1 commented on #8990
@AkMo3

From the [link](https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-coverage-of-documentation-comments-style-guide) that you provided:

I think that this makes it clear that we should order param tags in the order that they appear in the method signature.

From the comment that you linked:

Also,

The specs do not actually state that this is the co

[2021-04-15 16:10] AkMo3 commented on #8990
Agree. What forced me to believe that this should be the specification is the number of organizations following this system like: pmd, Orekit, guava, Hbase and then the Javadoc examples. (now Java classes also)

What I think this statement what to say `parameter` should be listed in the order they occur, without considering the context of `type-parameter`. But this is just an assumption.

[2021-04-15 16:13] nmancus1 commented on #8990
I agree, but why not extend this logic to all elements that use `@param` tag :)

[2021-04-16 03:38] AkMo3 commented on #9876
@tomas-langer Please see the below screenshots
[code]
Javadoc Tool Output:
![Screenshot from 2021-04-16 08-57-19](https://user-images.githubusercontent.com/69365878/114967635-6f05d880-9e92-11eb-9cd1-1eea7f5de1a6.png)

#### No Summary Above
____
[code]
Javadoc Tool Output:
![Screenshot from 2021-04-16 08-58-22](https://user-images.githubusercontent.com/69365878/114967675-80e77b80-9e92-11eb-8b1b-8f8

[2021-04-16 04:53] rnveach commented on #9876
This does not sound correct.

Check is configurable and can produce different results than the Javadoc tool. The Javadoc tool restricts itself to only pure public information. It is meant to document API that other programs can hook into and use for their own. Other programs can't naturally hook into private classes. Not sure where they stand on protected for extension.

The example check is confi

[2021-04-16 05:55] haanhvu opened #9880 "update ArrayTypeStyleCheckTest to use unique Input file in each test method"
ArrayTypeStyleCheckTest.java file reuse some inputs in few different test method.
Expected: each test method in Test class use it own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

@ mentors: Can this issue be approved as a gsoc second issue? Please review.

[2021-04-16 08:00] bossever commented on #9876
@rnveach Can we use the return value of `getSurroundingScope` to check for a `public` parent class/interface?
https://github.com/checkstyle/checkstyle/blob/13481f2c410e4944ecf5ab93ec49948a523a0c82/src/main/java/com/puppycrawl/tools/checkstyle/utils/ScopeUtil.java#L62-L67

Such that the new `getScopeFromMods` would look something like this -
[code]

Let me know if this seems like a sensible fix.

[2021-04-16 18:59] AmrBumadian opened #9882 "update TrailingCommentCheckTest to use unique input file for each test method"
TrailingCommentCheckTest .java file reuse input files several times in different test method.
Expected: each test method in the Test class use its unique input file and does not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-17 01:17] Ritik2604 commented on #9821
@timurt https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-open-jdk-code-convention-coverage it is a project idea. The links in PR desc are for contributors. These are the steps one should have to do.
I have updated an issue that is kind of a reference issue .#6490 any more changes?

[2021-04-17 01:17] Ritik2604 commented on #5982
@romani any updates?

[2021-04-17 05:47] AkMo3 commented on #9876
@bossever I would like to take up this issue if you had not started working on it, as I think I have solved it.

Also `Scope surroundingScope = getSurroundingScope(node);` actually returns `package` not '`public`.

[2021-04-17 06:29] bossever commented on #9876
@AkMo3

From what I gather, `getSurroundingScope` returns the scope of the **surrounding block** (parent node) of the node passed as parameter, be it `package` or `public`.
Although I have not started working on it, I would very much like to, if you don't mind. Thanks

[2021-04-17 07:08] AkMo3 commented on #9876
Ideally it should but it is not in this case

If you have not started then it would be better if I just take up this once because I have done most of the things, so the fix could be merged quicker.

Ok thanks.
____
I am on this

[2021-04-17 11:02] Devansu-Yadav opened #9887 "update NeedBracesCheckTest to use unique input file for each test method"
NeedBracesCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-17 11:02] Devansu-Yadav commented on #9887
This issue was opened as a GSoC 2nd issue. @romani @timurt  Could you please approve it at your convenience?

[2021-04-17 11:02] Devansu-Yadav commented on #9887
I am working on it.

[2021-04-17 11:10] Devansu-Yadav opened #9888 "update NoWhitespaceAfterCheckTest to use unique input file for each test method"
NoWhitespaceAfterCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-17 11:10] Devansu-Yadav commented on #9888
This issue was opened as a GSoC 2nd issue. @romani @timurt  Could you please approve it at your convenience?

[2021-04-17 11:11] Devansu-Yadav commented on #9888
I am working on it.

[2021-04-17 11:20] Devansu-Yadav commented on #9517
I am working on it.

[2021-04-17 11:24] Devansu-Yadav commented on #9476
I am working on it.

[2021-04-17 13:23] romani commented on #9854
fix is merged.

[2021-04-17 13:23] #9854 closed

[2021-04-17 13:36] #9473 closed

[2021-04-17 13:37] #4465 closed

[2021-04-17 13:37] romani commented on #4465
fix is merged.

[2021-04-17 14:35] romani opened #9889 "Prevent usage of 'getFileContents()' method in code"
detected at https://github.com/checkstyle/checkstyle/pull/9174#discussion_r612387940

create Regexp instance in checkstyle_checks.xml file to violate usage of this method.
there should be comment above suppression block like ``

All existing cases should go to suppression.xml (it will take awhile before we refactor most of such usages to be AST based, some of them still valid usecases if Check is

[2021-04-17 14:38] #9505 closed

[2021-04-17 14:38] #9481 closed

[2021-04-17 14:38] #9596 closed

[2021-04-17 14:39] romani commented on #9471
merged

[2021-04-17 14:39] #9471 closed

[2021-04-17 14:40] #7417 closed

[2021-04-17 14:41] #9489 closed

[2021-04-17 15:22] SGanguly1999 commented on #9105
I am on it.

[2021-04-17 17:23] #9873 closed

[2021-04-17 18:45] evidencebp opened #9893 "Remove NPathComplexity smells from CheckStyle code"
It is not a regular feature request but I didn't find a better way to present the following.

In a recent research that my fellows and I conducted, we evaluate which CheckStyle smells removal improve code quality and productivity.
See pre-print "[Follow Your Nose -Which Code Smells are Worth Chasing?](https://arxiv.org/pdf/2103.01861.pdf)"

The research found out the NPathComplexity is a smell mos

[2021-04-17 19:02] romani commented on #9893
I hope you readhttps://checkstyle.org/config_metrics.html#NPathComplexity already
We use this check over our code already

[2021-04-17 19:21] evidencebp commented on #9893
Thanks, @romani !
I was indeed surprised to find these violations.
That makes much more sense now.

[2021-04-17 19:23] romani commented on #9893
Let me keep this issue open as reminder to read your paper and propose you place where we still have smells and we need help to resolve them

[2021-04-17 20:19] #9593 closed

[2021-04-17 20:19] romani commented on #9593
Merged

[2021-04-17 20:20] #9454 closed

[2021-04-17 23:08] #9864 closed

[2021-04-17 23:08] romani commented on #9864
merged

[2021-04-17 23:10] #9816 closed

[2021-04-17 23:10] romani commented on #9816
merged

[2021-04-17 23:21] #9530 closed

[2021-04-17 23:22] romani commented on #9530
merged

[2021-04-17 23:30] #9803 closed

[2021-04-17 23:31] romani commented on #9803
merged

[2021-04-18 05:15] evidencebp commented on #9893
Thanks a lot, @romani !

[2021-04-18 08:04] haanhvu commented on #9889
I am on it

[2021-04-18 14:03] CryptoSingh1337 commented on #9469
I am on it.

[2021-04-18 14:25] #9503 closed

[2021-04-18 14:26] romani commented on #9503
merged

[2021-04-18 14:27] #9492 closed

[2021-04-18 14:27] romani commented on #9492
merged

[2021-04-18 14:30] CryptoSingh1337 commented on #9500
I am on it.

[2021-04-18 14:32] #9768 closed

[2021-04-18 14:32] romani commented on #9768
merged

[2021-04-18 15:02] CryptoSingh1337 opened #9896 "update IllegalImportCheckTest to use unique input file for each test method"
IllegalImportCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-18 15:02] CryptoSingh1337 commented on #9896
@romani @timurt please approve this issue.

[2021-04-18 16:49] SGanguly1999 commented on #7504
I am on it.

[2021-04-18 16:53] SGanguly1999 commented on #5945
I am on it.

[2021-04-18 18:43] krusche opened #9897 "JDK16: final after instanceof"
Since we use JDK16 features such as Pattern matching for `instanceof`, our checkstyle build fails with the following error

* What went wrong:
Execution failed for task ':checkstyleMain'.

You can try it out by cloning the repository https://github.com/ls1intum/Artemis and running the command

`./gradlew checkstyleMain -x yarn -x webpack`

We use the latest releases `Gradle 7` and `Checkstyle 8.41

[2021-04-18 20:08] romani commented on #9897
Thanks a lot for report, please follow issue template if you want issue to be resolved sooner.

[2021-04-18 20:11] #9469 closed

[2021-04-18 20:21] #9500 closed

[2021-04-18 20:22] romani commented on #9500
Merged

[2021-04-19 02:06] romani commented on #5982
I think it is side effect, of first violation.
Try to remove second group of java imports and check validation results

[2021-04-19 02:29] romani commented on #9821
Please make sure each PR is covering only single Check update.

[2021-04-19 02:58] romani commented on #9840
It is hard to make message very clear, as it depends on config of Check.
But you can customize message as you would like it https://checkstyle.org/config.html#Custom_messages

[2021-04-19 02:58] #9840 closed

[2021-04-19 07:59] antalk2 commented on #9840
For example [in ImportOrderCheck.java](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java)
the config contains the patterns for the groups, which are compiled [here](https://github.com/checkstyle/checkstyle/blob/6502cee5e33cd2de17ebc6e0dc2f0707c60e9d3d/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/I

[2021-04-19 09:09] haanhvu commented on #9880
@timurt hi, can this issue be approved as a gsoc second issue? Please review.

[2021-04-19 09:19] pbludov commented on #9897
@nmancus1 please take a look.

The problematic code is
[code]
Modifier `final` is redundant here. Pattern variables are implicitly final [by design](https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-6.3.1.1). But this is valid Java code and Checkstyle should parse it.
Another (separated) issue is that [RedundantModifier](https://checkstyle.org/config_modifier.ht

[2021-04-19 11:30] onigoetz opened #9900 "Make "all" version available on maven central as well"
**How it works Now:**

I maintain a tool (company internal) That runs checkstyle as a pre-commit and pre-receive hook.
This hook is compiled using an internal build process that does not have access to internet.

**The problem**

For every update of Checkstyle we need to
1. Be aware there is an update
2. Download `checkstyle-all.jar` from your GitHub releases
3. Store it in our servers to retrieve

[2021-04-19 14:35] nmancus1 commented on #9897
In Java 14 and 15, pattern variables were implicity final, I remember that we discussed this last summer, and this is why we did not check for modifiers:

[code]

And pattern variables with `final` modifier will  not compile on Java < 16:

[code]

So, this is a recent change. Easy fix, I am on it.

[2021-04-19 14:54] Ritik2604 commented on #9821
yeah I have covered only one check update.

[2021-04-19 17:36] #9517 closed

[2021-04-20 02:01] luccorr commented on #9880
Thinking about starting to work on this if you haven't already @haanhvu

[2021-04-20 02:59] haanhvu commented on #9880
@luccorr I'm working on it

[2021-04-20 13:15] CryptoSingh1337 commented on #9498
I am on it.

[2021-04-20 18:00] luccorr commented on #8655
Taking a look at this

[2021-04-20 19:34] pbludov opened #9907 "Set up JDK 16 build in CI"
Java16 was released and we have some issues specific to Java16.
We need to drop Java15 build and set up Java16 build in CI.

[2021-04-21 04:55] Ritik2604 commented on #5982
[code]
[code]
[code]

@romani here I encounter still a violation. I am brainstorming too much on it and cant figured out the problem.

[2021-04-21 14:26] romani opened #9912 "SummaryJavadocCheck: remove special internal method getFirstSentence"
from https://github.com/checkstyle/checkstyle/pull/9174/files#r612396057

it is not clear why we need two methods `getFirstSentence` and `getSummarySentence`.
Ideally we should have only one method like getSummarySentence that return summary sentence if it present.
Non of this method do this job, we need combine them in single method. All Check validation should done on single string value.

https

[2021-04-21 15:53] luccorr commented on #9912
I'll take a look at it.

[2021-04-21 19:33] #9796 closed

[2021-04-21 19:34] strkkk commented on #9796
fix is merged

[2021-04-22 03:36] #9476 closed

[2021-04-22 03:37] #9566 closed

[2021-04-22 03:38] #9896 closed

[2021-04-22 03:40] #9887 closed

[2021-04-22 03:42] #9498 closed

[2021-04-22 12:59] Devansu-Yadav commented on #9521
@anshuman10398 Are u still working on this?

[2021-04-22 13:02] Devansu-Yadav opened #9920 "update IllegalThrowsCheckTest to use unique input file for each test method"
IllegalThrowsCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-22 13:03] Devansu-Yadav commented on #9920
@romani @timurt Could you please approve it at your convenience?

[2021-04-22 13:03] Devansu-Yadav commented on #9920
I am working on it.

[2021-04-22 13:05] Devansu-Yadav opened #9921 "update IllegalTypeCheckTest to use unique input file for each test method"
IllegalTypeCheckTest.java file reuses some Input files few times in few different test method.
Expected: each test method in Test class should use its own Input file and do not share it with any other test method.

more details - https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-create-Input-files-for-tests

[2021-04-22 13:05] Devansu-Yadav commented on #9921
@romani @timurt Could you please approve it at your convenience?

[2021-04-22 13:27] Devansu-Yadav commented on #7598
@ImmortalRabbit Are you still working on this issue? @romani @timurt Can I take up this issue if no PR has been made?

[2021-04-22 13:28] Ritik2604 commented on #5982
@romani , ~~~ping

[2021-04-22 13:31] romani commented on #9920
@Devansu-Yadav , thanks a lot for help, but please make this issue as your last issue of this type, we got it that you know how to resolve this type of issues. Please choose issue that is bug fixing in Check to increase complexity of issues that can resolve.

[2021-04-22 13:32] romani commented on #9921
@Devansu-Yadav , thanks a lot for help, but please make this issue as your last issue of this type, we got it that you know how to resolve this type of issues. Please choose issue that is bug fixing in Check to increase complexity of issues that can resolve.

[2021-04-22 14:33] Devansu-Yadav commented on #9920
Yes Sir, I understand that reviewing the PRs for these issues is quite time-consuming. I have commented on one different issue and I am looking to contribute to issues of increased complexity to familiarize myself more with the codebase. Thank you for addressing this.

[2021-04-22 14:49] CryptoSingh1337 commented on #9496
I am on it.

[2021-04-23 00:18] rnveach commented on #9912
duplicate of https://github.com/checkstyle/checkstyle/issues/4799

[2021-04-23 03:30] SGanguly1999 commented on #9486
I am on it.

[2021-04-23 08:27] AkMo3 commented on #8990
@romani Please comment on what you think the behavior should be.

[2021-04-23 09:36] Gogomoe opened #9925 "'isDistributedPreviousStatement' return wrong result when previous line is a comment"
For the following code
[code]
`CommentsIndentationCheck.isDistributedPreviousStatement(comment2)` should return true but returns false.

In some cases, this will produce false warning.
[code]

The reason for this bug is similar to #9105 .
`isDistributedExpression`  try to find the first token of the statement.
It should find `List`, but the comment1 breaks the flow and it returns the comment.

I t

[2021-04-23 13:24] #9496 closed

[2021-04-23 13:29] nmancus1 opened #9927 "Semaphore CI should store build artifacts from all jobs"
Noticed at https://github.com/checkstyle/checkstyle/pull/9922.

Nondex is failing in Semaphore CI: https://checkstyle.semaphoreci.com/jobs/0fe5660a-e294-426d-9b98-da55d26805d7

But not locally:

[code]

As we do not store artifacts from Semaphore CI jobs, as we do for pitest, etc,  I cannot access the nondex report.

Information from Semaphore about store artifacts after build: https://docs.semaph

[2021-04-23 15:06] nmancus1 opened #9928 "Strange ARRAY_DECLARATOR AST production"
This production was creating the `TYPE` ast with the actual type of variable/ method nested within the `[]`:

code:
[code]
resulted in:

[code]
Now, we have at least extracted the type to be the first child of the  `TYPE` AST:

[code]
I will open an issue to "unroll" the nested `[]` next, but this was a good first step, and fixes the issue at hand.

_Originally posted by @nmancus1 in https://githu

[2021-04-23 18:32] nmancus1 commented on #8205
If we close this via #9922 , we can remove the following comments:

[code]

[2021-04-24 03:34] rnveach commented on #9900
I don't understand why you are not using the version that is already there in maven. Any usage in a pom will pull in the dependencies and make it virtually the same as the all jar.

[2021-04-24 06:59] Ritik2604 commented on #5982
@romani , ~~ping

[2021-04-24 07:00] onigoetz commented on #9900
Because using Maven you get many different Jars, but since it's going to be used inside a script, it's very impractical.
It's very practical to be able to run `java -jar checkstyle-all.jar`

[2021-04-24 23:53] romani commented on #9900
We can not upload to maven any jar file, it it restricted to only specific files: non uber jar, javadoc, sources zip, pom.
I would love to host uber jar in maven, but maven repo do not allow this, or I do not know how to bypass such limitation.

[2021-04-25 00:10] romani commented on #9521
Hmm, 10 PRs might be too much, let's try single PR with all updates inside, it will be mostly copy paste introduction, so single PR is ok

[2021-04-25 02:30] rnveach commented on #9900
It seems to me like this restriction is well founded.

I don't understand the exact process where you are using the all jar but want to restrict downloading from only maven, but maven is meant to house individual dependencies and have you build the full executable by combining each dependency through it's process. This naturally happens when you include checkstyle's current maven into a POM. Housi

[2021-04-25 07:36] onigoetz commented on #9900
Thanks for the input :)

I will check our process and see how we can work with this. (If I find something I'll post the solution if somebody else needs it.)

[2021-04-25 07:36] #9900 closed

[2021-04-25 14:33] Ritik2604 opened #9929 "Ensure Sun's Java Style Checkstyle Coverage"
detected at #6490.
project idea refer: https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2021-Project-Ideas#project-name-open-jdk-code-convention-coverage

to update in DOC: https://checkstyle.sourceforge.io/sun_style.html#a4.1
for formatting or standard refer: google java style : https://checkstyle.org/google_style.html
update guideline 1 Introduction -

link to desired check in sun_c

[2021-04-25 14:34] Ritik2604 commented on #9929
@romani Approve this and I am on it.

[2021-04-25 15:34] romani opened #9930 "Linkcheck plugin detected several problems with links"
https://checkstyle.org/linkcheck.html

[code]

strange that our [github action jobs](https://github.com/checkstyle/checkstyle/actions/workflows/run_link_check.yml) does not detect this.

[2021-04-25 16:51] Ritik2604 opened #9935 "Update Doc of CommentIndentation"
https://checkstyle.org/config_misc.html#CommentsIndentation
![1](https://user-images.githubusercontent.com/49342895/116001870-75bfe880-a614-11eb-8c2c-b77d458adfa7.PNG)

Examples should be placed before Example of Usage

![2](https://user-images.githubusercontent.com/49342895/116001889-86705e80-a614-11eb-90f7-bb9d99ccb737.PNG)

As you can see the examples are added under wrong section it should be

[2021-04-25 20:14] nmancus1 commented on #5234
Can we just create a separate issue to deprecate now, then take care of removal after https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/669 ?

[2021-04-25 20:23] rnveach commented on #5234
Deprecating is fine, we should forbid usage by checkstyle now so we aren't adding new cases of it until it is removed. We can't remove it until we can cover all areas of CI that would be using it.

[2021-04-25 20:38] nmancus1 opened #9936 "Deprecate 'DetailAST.branchContains`"
Related to https://github.com/checkstyle/checkstyle/issues/5234.

While we are blocked from removal of `DetailAST.branchContains()`until https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/669, we should deprecate this method in the meantime, so that contributors are not tempted to use it, and so that users know that we will be changing the API in the future.

[2021-04-25 20:40] nmancus1 commented on #9936
I am on this once approved.

[2021-04-26 05:21] Ritik2604 commented on #5982
@rnveach ,~~ping

[2021-04-26 07:27] strkkk commented on #9930
github action checks source code, while this tool runs on generated site

[2021-04-26 08:39] bossever commented on #4175
I'm on it.

[2021-04-26 09:05] Devansu-Yadav commented on #9930
@romani @strkkk I want to work on this issue. How can I run the Linkcheck plugin on my local to reproduce this issue? Should I replace these links with the corrected ones if I can reproduce this issue?

[2021-04-26 12:01] Devansu-Yadav commented on #9930
@romani I am able to reproduce the problems as described by you in the description by generating the Linkcheck report(`linkcheck.xml`) on my local. But I don't seem to have any error messages generated for `apidocs/com/puppycrawl/tools/checkstyle/DefaultLogger.html` in the `linkcheck.xml`.

I am aware that the changes in these links need to be made in the Javadoc. How should I proceed with the iss

[2021-04-26 12:46] Vyom-Yadav commented on #5353
I am on it.

[2021-04-26 13:45] Vyom-Yadav commented on #5353
I am on it.

[2021-04-26 14:40] bossever opened #9940 "Resolve Pitest Issues - CommentsIndentationCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797

https://github.com/checkstyle/checkstyle/blob/de85c1ed1a5819b89ed2a9fb465ff297ff6e2af4/.ci/pitest.sh#L129

[2021-04-26 14:40] bossever commented on #9940
@timurt This issue was opened as a GSoC Third issue, please approve.

[2021-04-26 16:01] dkfellows commented on #7417
It's a shame you didn't fix the other users of `scope` in the area at the same time.

[2021-04-26 16:06] Vyom-Yadav commented on #5353
@rnveach Sorry for pinging for such an old issue, just had a doubt that even if the variable `f` is `final` in the `TestClass`, how can it be referenced from inside the anonymous class without making an object of `TestClass` (As both variables are named `f`). Also you are suggesting not show a violation at all in these type of cases, right?

[2021-04-26 16:16] bossever commented on #9940
### Pitest Report
https://bossever.github.io/issue9940/pit-reports/202104262053/com.puppycrawl.tools.checkstyle.checks.indentation/CommentsIndentationCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@14ab178e_862

### Survived mutation
[code]

Hardcoded mutation is [here](https://github.com/bossever/checkstyle/commit/38766371b42968db13e0cc488e93b98646120c9b).

### Diff Report: https:/

[2021-04-27 00:08] rnveach opened #9941 "AtclauseOrder: Falsely ignores method with annotation"
Identified at https://github.com/checkstyle/checkstyle/pull/9939

[code]

Method without annotation prints 2 violations while one with annotation prints none.

Method annotations should not play into this check's behavior and I expect the same violations between both examples.

[2021-04-27 00:09] rnveach commented on #9941
https://github.com/checkstyle/checkstyle/blob/13481f2c410e4944ecf5ab93ec49948a523a0c82/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AtclauseOrderCheck.java#L267-L277
Issue is method returns the annotation definition instead of the method definition. The code wrongly believes we are looking at an annotation instead of method.

[2021-04-27 04:00] Vyom-Yadav commented on #9941
I am on it.

[2021-04-27 07:16] pbludov commented on #9897
Fix is merged.

[2021-04-27 07:58] krusche commented on #9897
Great. any chance, that this is released sooner than May 30? Potentially in a small bugfix release 8.42.1?

[2021-04-27 10:43] CryptoSingh1337 commented on #9475
I am on it.

[2021-04-27 10:44] CryptoSingh1337 commented on #9474
I am on it.

[2021-04-27 11:28] pbludov commented on #9907
@romani please approve or decline this issue.

[2021-04-27 13:47] SGanguly1999 opened #9945 "Undetected violation of comment indentation after a distributed expression"
I have read check documentation: https://checkstyle.org/config_misc.html#CommentsIndentation
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Expected**

[code]

Checkstyle should report violation on  line 6 of the code.

[2021-04-27 13:54] romani commented on #9897
@krusche , release process is not well automated, and there are huge amount of PRs waiting for reply (bigger priority).

[2021-04-27 13:55] romani commented on #9897
fix is merged.

[2021-04-27 13:55] #9897 closed

[2021-04-27 14:05] #9475 closed

[2021-04-27 14:06] romani commented on #9475
fix is merged

[2021-04-27 14:22] SGanguly1999 commented on #9945
I am on it.

[2021-04-27 17:35] bossever commented on #3082
I'm on it.

[2021-04-28 04:18] #9474 closed

[2021-04-28 04:19] romani commented on #9474
Merged

[2021-04-28 04:38] CryptoSingh1337 commented on #9472
I am on it.

[2021-04-28 04:38] CryptoSingh1337 commented on #9468
I am on it.

[2021-04-28 04:38] CryptoSingh1337 commented on #9467
I am on it.

[2021-04-28 06:39] Ritik2604 commented on #9929
@romani , ~~ping

[2021-04-28 06:40] Ritik2604 commented on #9821
@romani , ~~ping

[2021-04-28 06:40] Ritik2604 commented on #5982
@romani , ~~ping

[2021-04-28 14:33] keshavcodex commented on #9466
Hello, i am beginner, can you help me how to start working on this issue.

[2021-04-29 08:04] AkMo3 opened #9954 "Replace branch name with commit sha in site generation action"
Similar to #9323

From #9930

While generating the site through GitHub actions, branches containing characters like `#` are included in AWS link to the site without any HTML encoding, leading to issue that site is not accessible directly.

Solution: Similar to what done in #9356, we can use commit sha instead of the branch name.

[2021-04-29 08:04] AkMo3 commented on #9954
I am on it

[2021-04-29 08:05] AkMo3 commented on #9954
@strkkk Please approve the issue.

[2021-04-29 11:27] Devansu-Yadav commented on #6336
@romani @rnveach I am working on this issue. Since this is an old issue and some of the files having violations are either updated in the codebase, I am going to reproduce this issue and start working on it.

[2021-04-29 12:56] Devansu-Yadav commented on #6336
violations(updated) from JavadocMethod check
[code]

[2021-04-29 13:48] romani opened #9956 "Error in bash method does not stop execution of whole command"
problem detected at https://checkstyle.semaphoreci.com/jobs/4c7d4083-8c2b-4a13-9b3d-22a6d5a8b5cc#L619

`CMD=mvn -e --no-transfer-progress clean install -Pno-validations && .ci/no-exception-test.sh guava-with-sun-checks`

from code:
https://github.com/checkstyle/checkstyle/blob/62f004053cdf30956668bf319670ea1e7dc4e08f/.ci/no-exception-test.sh#L8-L11

[code]

Expected: fail execution fast.

[2021-04-29 14:03] #9936 closed

[2021-04-29 14:26] inponomarev opened #9957 "UnnecessaryParentheses false positives in 8.42"
This must be related to https://github.com/checkstyle/checkstyle/issues/5779 -- this behavior appeared in 8.42:

[code]

[code]

[code]

[2021-04-29 14:32] strkkk commented on #9957
@Vyom-Yadav please take a look

[2021-04-29 14:46] nmancus1 commented on #8990
I think we should further discuss the behavior of this check. I would expect no violations for `@param` tags that do not exist in method signature. I would also expect no violations for parameters that exist, but no tag is present; we have `JavadocMethodCheck` for this.  I think that we should only verify that the intersection of the tags that exist in the method signature and the `@param` tags in

[2021-04-29 15:01] Devansu-Yadav commented on #6336
@romani @nmancus1  Can you pls suggest where I could locate the Javadoc for Test Support classes? Like I wanted to refer to the javadoc for `AbstractGoogleModuleTestSupport.java` but couldn't locate it in `target` folder.

[2021-04-29 15:52] Vyom-Yadav commented on #9957
I am on it.

[2021-04-29 16:02] rnveach commented on #8990
I in agreement. Order is just about what matches between the 2, not what doesn't match. Excess/Missing should probably be covered by another check. We want to keep what the checks do small and not over complicate. `JavadocMethodCheck` is one example of does too much and is probably on the radar to be split apart for multiple reasons.

I agree. Same as above. This check should not be requiring a ta

[2021-04-29 16:13] rnveach commented on #8990
[code]

I just noticed the code examples had duplicate tags.

I am personally ok if there is a violation saying the 2nd instance of the same tag says it is out of order.

I do not think this check should be validating for duplicate tags. This should be a completely separate check. I am ok if moving the 2 same tags next to each other causes no violation.

[2021-04-29 16:19] #9954 closed

[2021-04-29 16:19] strkkk commented on #9954
fix is merged

[2021-04-29 16:33] #8905 closed

[2021-04-29 16:34] strkkk commented on #8905
Fix is merged

[2021-04-30 02:05] rnveach commented on #9957
It seems to me this is only a false positive because of the types of the variables.
[code]

A compile error occurs with the `()s` removed because we are comparing boolean to integer. The compiler goes from left to right and so it makes sense.

Changing everything to boolean and removing the `()`s, the code compiles fine and I don't see any reason why it isn't valid.
[code]

Additionally, changing

[2021-04-30 02:15] rnveach commented on #6336
`target` folder is only for compiled classes. You won't find javadocs in compiled code.

All the classes are found in the `src` folder as @romani and you specified above.

The whole issue is there are no javadocs for these methods and classes. They will have to be created as part of this.

[2021-04-30 04:21] SGanguly1999 opened #9958 "Comparison of comment indentation with a wrong line."
I have read check documentation: https://checkstyle.org/config_misc.html#CommentsIndentation
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Expected**

[code]

Checkstyle should compare comment indentation with  line 4 instead of line

[2021-04-30 05:31] Ritik2604 commented on #9821
@romani  , ~~ping

[2021-04-30 05:31] Ritik2604 commented on #5982
@romani , ~~ping

[2021-04-30 05:32] Ritik2604 commented on #9929
@romani , ~~ping

[2021-04-30 06:21] haanhvu commented on #6207
@romani hey is this issue still open? If yes, I'll work on it.

[2021-04-30 07:46] Vyom-Yadav commented on #9957
Agreed @rnveach also currently the check analyses based on the token types i.e. `==`, `!=` ,etc. To get no violation for these types will be almost like evaluating the whole expression. We would have to check the type for the identifier and keep a note of it. Even if we keep the note of type of variable, it would further increase complexity whether it is a local or an instance variable. Also by su

[2021-04-30 19:32] SGanguly1999 commented on #6294
I am on it.

[2021-04-30 20:16] nanthony21 opened #9961 "Google style doesn't allow member and parameter names that should be ok."
The regex patterns in the [Google style](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml) for member names, parameter names, etc. do not match names with a single lower case letter at the beginning such as `xLabel`.

The member name uses this pattern: `^[a-z][a-z0-9][a-zA-Z0-9]*$`
The other names use this: `^[a-z]([a-z0-9][a-zA-Z0-9]*)?$`

The Google style

[2021-04-30 22:33] rnveach commented on #9961
https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F

Be more specific. Which checks are wrong, give an example of why they are wrong and should be using your regexp instead?

[2021-04-30 23:11] nanthony21 commented on #9961
Any variable name that has only a single character in lower case letter followed by an upper case character will fail all current "name" checks which are specified in the Google style guide as being "lowerCamelCase"

Here is a list of the checks involved:
[code]

Examples of variable names someone might want to use which will fail when they should not:
[code]

[2021-04-30 23:18] nanthony21 commented on #9961
Upon further testing I found that my suggested regex pattern, as well as the currently used patterns, will allow some variables that technically should not be allowed. Lower camel case should not permit multiple upper case letters in a row. For example the name `drawROI` should not be permitted and should instead be `drawRoi`.

I haven't found a good pattern to catch this.

[2021-04-30 23:25] nanthony21 commented on #9961
It turns out the pattern I suggested won't accept single word variable names such as `variable`. So that shouldn't be used.

A pattern like this `^[a-z]+[A-Za-z0-9]*$` would allow allow all acceptable variables but it still has the issue that it accepts names like `drawROI`

[2021-05-01 05:26] Vyom-Yadav opened #9962 "wrecker.sh no-error-xxxx requires manual intervention to complete the build."
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

Running `./.ci/wercker.sh no-error-pgjdbc` on local after making some changes to checks.
 Relevant Output ([whole log](https://gist.githubusercontent.com/Vyom-Yadav/411a2e93c49f9d7ae8411b974031e542/raw/

[2021-05-01 10:03] anubha-v-ardhan commented on #7624
Hey, I would like to work on this issue.

[2021-05-01 12:53] rnveach commented on #9961
Again, look over https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F as some cases are handled by other things. I would also merge everything into one post and organize it. No one will want to take up a confusing issue.

This should be handled by https://checkstyle.org/google_style.html#a5.3 and shouldn't be an issue.

This may be an issue with https://checkstyle.org/styleguides/google

[2021-05-01 13:04] rnveach commented on #9962
This should not be the condition. Checkstyle snapshot has to be reinstalled every new PR or change in the PR. If you just look for one to be installed, you will get false readings from your runs since you will be executing old code when you are expecting your current code.

Instead, the condition needs to check if the bash script is NOT being run in CI. CI always make sure the PR checkstyle is ins

[2021-05-01 15:47] #9920 closed

[2021-05-01 15:48] pbludov commented on #9920
Fix is merged.

[2021-05-01 19:15] #9961 closed

[2021-05-01 22:05] romani commented on #9907
merged

[2021-05-01 22:05] #9907 closed

[2021-05-01 23:28] romani opened #9967 "Travis is failing on xwiki-platform validation"
build failure in [Travis](https://travis-ci.org/github/checkstyle/checkstyle/jobs/769177295#L6970)
[code]

[2021-05-01 23:29] romani commented on #9967
@tmortagne , please help to fix master build of xwiki-platform

[2021-05-02 01:04] romani commented on #9146
@rnveach and @strkkk , please confirm that you are agree to migrate to jdk11 after release of JDK17 (september of 2021) ?

[2021-05-02 01:07] #9472 closed

[2021-05-02 01:07] romani commented on #9472
merged

[2021-05-02 01:08] #9468 closed

[2021-05-02 01:08] #9467 closed

[2021-05-02 01:47] nmancus1 commented on #9962
Removing `mvn -e clean install -Pno-validations` from the bash script was an intentional decision at https://github.com/checkstyle/checkstyle/pull/8950.

The commit message and PR description from  https://github.com/checkstyle/checkstyle/pull/8950 is : `make semaphore ci commands easy to run on local` . If contributors are struggling to run commands locally, then I think that we have not hit our

[2021-05-02 03:11] rnveach commented on #9962
I'll remove approval so @romani can clarify which path we should take. All in 1 command, or a pre-command with the regression command.

[2021-05-02 03:20] romani commented on #9962
We discussed this before and I agree that it is not very obvious benefit and there is definitely inconvenience for new contributors who has no experience with maven.

check for SNAPSHOT existence is not valid, as it might exists but correspond to incorrect sources.
all such scripts are focused on execution in CI and be reusable between CIs. Convenience to run the same on local is additional featur

[2021-05-02 03:20] #9962 closed

[2021-05-02 03:58] shashwatj07 commented on #9967
PR opened https://github.com/xwiki/xwiki-platform/pull/1622

[2021-05-02 10:48] keshavcodex commented on #8396
Hey, i want to work on this issue can you suggest how can i start

[2021-05-02 11:52] Ritik2604 commented on #9821
@romani ,~~ping

[2021-05-02 11:52] Ritik2604 commented on #5982
@romani , ~~ping

[2021-05-02 11:52] Ritik2604 commented on #9929
@romani ,~~ping

[2021-05-02 12:05] Ritik2604 commented on #9929
@romani , ~~ping

[2021-05-02 12:06] Ritik2604 commented on #9821
@romani , ~~ping

[2021-05-02 12:28] bossever commented on #2506
I want to work on this, can it be approved?

[2021-05-02 12:37] timurt commented on #5982
@Ritik2604 hi

You can request PR review from contributors (upper right corner in pull request window)
We practice pinging, but not on daily basis -_-, could you please stop pinging

Don't worry, we consider not only merged PRs but the open ones as well during GSOC proposal review

We appreciate your persistence, but we may need more time, just be patient

Thank you :)

[2021-05-02 13:14] rnveach commented on #9146
Nothing has changed from me. https://github.com/checkstyle/checkstyle/issues/9146#issuecomment-753428462

[2021-05-02 14:22] romani commented on #9266
moved all to travis,
webhook is removed:
`This action cannot be undone. Future events will no longer be delivered to this webhook (https://577032be3be4f4faa56adb38:YZaGHaoihTo5xlFi@api.shippable.com/projects/577032be3be4f4faa56adb38/newBuild).`

[2021-05-02 14:22] #9266 closed

[2021-05-02 16:38] christianhujer commented on #3709
I just had a failing build because Checkstyle does not follow Semantic Versioning. I expected 8.42 to be a feature addition to 8.41.1 and not have any breaking changes. But #7417 is a breaking change. I would've expected this breaking change to be announced in the version number by the version number changing from 8 to 9. It has become an expectation that software packages follow semantic versioni

[2021-05-02 20:33] tmortagne commented on #9967
@shashwatj07 beat me to it, thanks :)

[2021-05-02 21:23] romani commented on #9967
@tmortagne, should we use stable version/commit of xwiki platform ?
We do not want to be bothered by CI failures on our side if this is not enforced on xwiki side. It makes some mess to fix such problems, as it blocks PRs process.

[2021-05-02 23:23] #9967 closed

[2021-05-02 23:25] romani commented on #9967
fix is merged, but if it happens one more time, I will enforce stable version/commit usage until CI process is enforced in xwiki on code validation.

[2021-05-03 04:26] #9888 closed

[2021-05-03 07:18] strkkk commented on #9146
I am ok

[2021-05-03 07:31] tmortagne commented on #9967
We don't go through mandatory validated pull requests merged in master if that's what you mean and indeed the master branch is definitely not rock solid currently (even if checkstyle failures tend to be rare since most devs have the tooling to spot them before committing, @vmassol was a bit too quick this time I guess). It's something we have in mind for a while, but it's not so easy to setup righ

[2021-05-03 10:42] bossever commented on #2506
Will this check also check for **inline tags**? Or only `JavadocTokenTypes.JAVADOC_TAG` ?

[2021-05-03 10:51] bossever commented on #6723
I would like to work on this.
Before I start, I would like to make sure of a few things -

### 1.
As it will **NOT** be a javadoc check, does that mean the properties left and right will behave like this?
[code]
   Or will they behave differently for block comments and javadoc?
_____________________________
### 2.
This check will **NOT** raise violations for any line that has missed the leading as

[2021-05-03 12:08] pbludov commented on #6723
1. To begin with, let behavior be the same. I don't see any reason for the differences here.
2. Yes. No leading asterisk == no violations. We have a dedicated check for this.
3. If this is not a Javadoc check, then it is possible check the alignment of `COMMENT_END_TOKEN`.

[2021-05-03 13:12] pbludov commented on #2506
I don't think a dedicated check is needed here. We have a [generic check](https://checkstyle.org/config_coding.html#MatchXpath) to forbid any AST node.
The bad news is that the Javadoc AST is currently separated from the main AST. The good news is that this is subject to change.
If everything goes well, it will be possible to use
[code]

[2021-05-03 13:19] Vyom-Yadav commented on #9957
@romani Kindly advise how we should handle this case.

[2021-05-03 14:16] romani opened #9984 "Update verify-no-exception-configs validation"
only maintainers can address this issue.

Make validation to use secure variable to avoid security concern.
[code]

[2021-05-04 05:06] #9930 closed

[2021-05-04 11:58] vmassol commented on #9967
yeah, sorry about that and thanks for the fix!

[2021-05-04 12:51] bossever commented on #6723
Since this check will be dealing with various methods of indentation (tabs vs spaces), I have added an option to specifiy the tab indentation level - `tabIndent` which will have a default value of 4.
Leave a thumbs up if this is the correct way to deal with this.

[2021-05-04 13:32] Devansu-Yadav opened #9987 "Resolve Pitest Issues - AbstractHeaderCheck (1)"
Child Issue of #7797 ,
https://github.com/checkstyle/checkstyle/blob/master/.ci/pitest.sh#L54

[2021-05-04 13:34] Devansu-Yadav commented on #9987
This issue was opened as a GSoC 3rd issue. @romani @rnveach Could you please approve it at your convenience?

[2021-05-04 13:34] Devansu-Yadav commented on #9987
I am working on it.

[2021-05-04 17:17] pbludov commented on #8396
The issue is still valid.

@keshavcodex `IndenttionCheck` is the most complicated check. Even if the solution turns out to be simple, a lot of regression testing will be required. I recommend taking any easy issue to start with (tagged as  `easy` or `gsoc first issue`). However, a pull request is welcome. See #9362 as a reference PR to solve indentation issues.

[2021-05-05 11:48] Ritik2604 commented on #5982
@timurt
I just want to contribute as much as I can. GSOC is just a cherry.

I am not getting how to request PR review as there is no Assignee in my PRs. https://github.com/checkstyle/checkstyle/pull/9828#issuecomment-826133882 In this PR I really need a review as my all work is a bit confusing and I may lose track as I have done some work on checks on local on this topic, so it makes it difficult

[2021-05-05 12:08] Devansu-Yadav commented on #9987
### Pitest Report
https://devansu-yadav.github.io/Devansu-Yadav-Checkstyle-test-reports.github.io/issue9987/pit-reports/202105050706/com.puppycrawl.tools.checkstyle.checks.header/AbstractHeaderCheck.java.html

### Surviving mutation on line 156:
`removed call to java/lang/IllegalArgumentException::<init> → NO_COVERAGE`

Hardcoded mutation is [here](https://github.com/Devansu-Yadav/checkstyle/commi

[2021-05-06 14:04] Paleloser commented on #8929
Hello! Any update on this? I believe #9302 is a duplicate of this one.

[2021-05-06 16:54] Devansu-Yadav commented on #9987
I ran
[code]
to generate diff report, but I am getting errors.

here's a gist [https://gist.github.com/Devansu-Yadav/f4b2a8140a3b33123635d6efdceea46a](https://gist.github.com/Devansu-Yadav/f4b2a8140a3b33123635d6efdceea46a) that consists of the `config.xml` that I have used and the **errors** that I am getting when regression runs on "**sevntu checkstyle**" project. After that the process just stop

[2021-05-07 02:43] rnveach commented on #9987
https://gist.github.com/Devansu-Yadav/f4b2a8140a3b33123635d6efdceea46a#file-diffgroovy_errors-txt-L507

https://gist.github.com/Devansu-Yadav/f4b2a8140a3b33123635d6efdceea46a#file-config_for_regression-xml-L28

Use absolute file locations for these `java.header` files you are giving it.

This check is special compared to others in that you not only have to create unique check configurations, but y

[2021-05-07 05:31] AkMo3 commented on #9987
I had earlier tried to resolve this one long back and these were my observation at that time. I don't remember correctly why I didn't make PR, I think I had low confidence that time :) , but this might help you to resolve this quicker

Here both can `catch` and `throw` expression
https://github.com/checkstyle/checkstyle/blob/96a383ba3cea293e29c1bde4abce8c6885abe827/.ci/pitest.sh#L53-L54
can be rem

[2021-05-07 21:43] XenoAmess commented on #7417
What be the meaning for this change?

Taking consider that this change will break already-exist checkstyles files in nearly ALL java repos.

[2021-05-08 04:44] #9958 closed

[2021-05-08 12:13] Devansu-Yadav opened #9991 "LITERAL_DEFAULT token support in RightCurlyCheck"
Currently [RightCurlyCheck](https://checkstyle.sourceforge.io/config_blocks.html#RightCurly) accepts a lot less tokens (18 tokens) than [LeftCurlyCheck](https://checkstyle.sourceforge.io/config_blocks.html#LeftCurly) (24 tokens).
It is unclear if this is just a mistake or if there is some underlying reason. This issue aims at adding support for `LITERAL_DEFAULT` token in `RightCurlyCheck`.

Solvin

[2021-05-08 12:17] Devansu-Yadav commented on #3547
@rnveach @romani I have created a child issue for this issue #9991 to add support for `LITERAL_DEFAULT` token in `RightCurlyCheck`.

[2021-05-08 15:36] romani commented on #7417
Yes, it is good for future.
Nobody force you to update checkstyle version, so you should be ok until you need some new feature in new releases.

[2021-05-08 15:40] romani commented on #5982
Yes, but please send it in separate PR to merge quicker.

[2021-05-08 17:37] shashwatj07 commented on #9838
This issue may be closed. The tests are already using unique inputs.

[2021-05-08 17:47] Devansu-Yadav commented on #9991
I am working on it!

[2021-05-08 17:59] brngylni commented on #9838
Sorry, I didn't notice it.

[2021-05-08 20:36] Ritik2604 commented on #5982
@romani
Ok, I will and also check the other pull requests of mine.

[2021-05-08 22:49] romani opened #9993 "create util method in JavadocUtil.java to get content of custom tag"
detected at https://github.com/checkstyle/checkstyle/pull/9174#discussion_r618429841

[code]

there is no easy way to get content of summary tag.
We need util method that will traverse AST to concatenate all values.

[2021-05-08 23:53] romani commented on #5982
https://checkstyle.org/config_imports.html#ImportOrder
It looks like a bug, please create ticket or recheck existing.

[2021-05-09 03:38] Vyom-Yadav commented on #9993
I am on it.

[2021-05-09 05:49] strkkk commented on #9993
I remember there is some method like this in metadata generator

[2021-05-09 09:23] #8971 closed

[2021-05-09 12:17] Devansu-Yadav opened #9994 "LITERAL_SWITCH token support in RightCurlyCheck"
Currently [RightCurlyCheck](https://checkstyle.sourceforge.io/config_blocks.html#RightCurly) accepts a lot less tokens (18 tokens) than [LeftCurlyCheck](https://checkstyle.sourceforge.io/config_blocks.html#LeftCurly) (24 tokens).
It is unclear if this is just a mistake or if there is some underlying reason. This issue aims at adding support for `LITERAL_SWITCH` token in `RightCurlyCheck`.

Solving

[2021-05-09 12:20] Devansu-Yadav commented on #9994
@romani @rnveach I am going to work on this issue first and then work on similar new child issue created by me #9991, since I actually realized(after creating the issue) that I should work on adding support for this Token first than `LITERAL_DEFAULT`.

[2021-05-09 12:57] romani commented on #9957
We should not place violation on such code.

Yes.

[2021-05-09 13:38] romani commented on #9957
@Vyom-Yadav , please do a fix. If fix is complicated, we will need to to revert your changes that cause such problems.

[2021-05-09 15:51] dejan2609 commented on #9957
@romani POC _(apache kafka with CheckStule 8.42)_ is provided; LMK in case that you are missing some details or you want me to change something.

FYI @ijuma

[2021-05-10 18:43] pablo-ml commented on #2433
On the first comment, I found this:

""""imports" are not possible to line-wrap so LineLength should skip them from validation. Special option is not required for this, Javadoc/Xdoc should be updated."""

AFAIK, the JLS supports splitting the import:

[code]
So, an import production is of the form:

`import identifier . identifier . identifier .... ;`

ie: a sequence of tokens. AFAIK, whitespaces

[2021-05-10 19:00] pablo-ml opened #9999 "LineLengthCheck should check for import and package statements"
This is related to the fix originated in this bug: https://github.com/checkstyle/checkstyle/issues/2433

On the first comment, I found this:

"""
"imports" are not possible to line-wrap so LineLength should skip them from validation. Special option is not required for this, Javadoc/Xdoc should be updated.
"""

AFAIK, the JLS supports splitting the import:

[code]
So, an import production is of the

[2021-05-10 19:16] Ritik2604 opened #10000 "Import Order Example is not running according to properties"
Bug is detected at #5982

[code]
[code]
 there should not be any error as `import` is at top compare to ` static imports`
and when I keep the `import` at below the `static imports` there is no violation

![Capture](https://user-images.githubusercontent.com/49342895/118727354-3fab0880-b850-11eb-8c20-80ba8bf62277.PNG)

User using `staticGroups` or `useContainerOrderingForStatic`  or having only stat

[2021-05-11 15:44] Devansu-Yadav commented on #9994
I am going through the code for `RightCurlyCheck` and I understand that we would need to implement a separate method (similar to `getBraceFromSwitchMember` in `LeftCurlyCheck`) to get details for validating **left curly brace** with **right curly brace** in `RightCurlyCheck`. I wanted to ask if I should implement this method in this issue(where I am supposed to add support for `LITERAL_SWITCH`) or

[2021-05-11 16:19] nmancus1 commented on #9999
A temporary workaround could be:

[code]

Line wrapped imports do compile:

[code]

[2021-05-11 16:41] anton-erofeev opened #10001 "Share checkstyle.xml config between multiple projects"
Hi team,
I would like to use a single checksty.xml for multiple projects.  Are there any best practices for this?  How to share config between multiple maven projects?

[2021-05-12 02:28] AkMo3 commented on #5819
This might be closed by #9832.

[2021-05-12 03:27] rnveach commented on #5819
Rebasing and re-running test at https://github.com/checkstyle/checkstyle/issues/5819#issuecomment-677909246 will confirm if it is fixed or not. I do not believe test is flawed, but that could also be looked into as well.

[2021-05-12 14:06] pablo-ml commented on #9999
Thanks a lot for the workaround!. I completely forgot about it.

I still want to point out that the rationale on the bug https://github.com/checkstyle/checkstyle/issues/2433 was not accurate, given that the JLS supports splitting import lines. I think that the correct behaviour of the LineLength rule it to also apply to import and package names, and probably add a new flag to optionally exclude im

[2021-05-12 19:15] ladislavlencucha opened #10003 "JavadocMethod to have dedicated switch for type param"
Currently, JavadocMethod supports switches/properties to allow missing param tag and missing return tag:
https://checkstyle.sourceforge.io/config_javadoc.html#JavadocMethod

I'd like to be able to enforce all method parameters to be present in javadoc (fail if missing), but not the generic types (allow missing type param). Therefore, I propose to add one additional property _allowMissingTypeParamT

[2021-05-13 03:59] AkMo3 commented on #5819
@rnveach I ran the test on https://github.com/AkMo3/checkstyle/tree/check_trailing_comment, but after running for nearly 90 min [A loot of files had been added in 3 years :) ], this test fails on file [InputLineLengthUnicodeChars.java](https://github.com/AkMo3/checkstyle/blob/check_trailing_comment/src/test/resources/com/puppycrawl/tools/checkstyle/checks/sizes/linelength/InputLineLengthUnicodeCha

[2021-05-13 12:12] xenoterracide opened #10004 "Improve MagicNumber to allow use of named local variables"
I feel like I should have an option to allow this with checkstyle

[code]

[code]

[2021-05-13 12:16] xenoterracide opened #10005 "suppress warnings isn't working on local var"
[code]
[code]

this doesn't

[code]

[2021-05-13 13:16] nmancus1 commented on #10003
These violations could be suppressed using [SuppressionSingleFilter](https://checkstyle.sourceforge.io/config_filters.html#SuppressionSingleFilter):

[code]

In the future, we will have a better way to suppress by message: https://github.com/checkstyle/checkstyle/issues/3082

[2021-05-13 13:40] ladislavlencucha commented on #10003
Nice workaround, thanks! Anyway, I find my proposal more consistent (those 2 existing properties could have been implemented exactly the same way as you propose).

Anyway, if you think it is of no use I accept. If you think it could be useful I am more than willing to contribute.

Thanks again!

[2021-05-13 13:57] strkkk commented on #10004
@xenoterracide please follow issue template

[2021-05-13 14:00] strkkk commented on #10005
@xenoterracide please follow issue template

[2021-05-13 15:03] nmancus1 commented on #10003
We will see what members have to say, but I know that we have been favoring the suppression/ filter model over adding additional properties to checks, especially those that already have a lot of properties (such as JavadocMethod), especially when a particular suppression is straightforward and reliable, i.e.would not cause false positives/ negatives.

[2021-05-13 15:35] xenoterracide commented on #10005
@strkkk updated

[2021-05-13 15:43] xenoterracide opened #10006 "please make issue template executable"
creating an example shouldn't take so long and only require you to modify a little bit. It looks like you want this to execute, but it is not executable. Suggested unix template

[code]

[2021-05-13 15:45] xenoterracide commented on #10004
@strkkk since this is a feature request, what do you need here?

[2021-05-13 17:55] ladislavlencucha commented on #10003
Makes sense and is actually more flexible. On the other hand, it is also fragile in case somebody changes e.g. the message.
Thanks for explaining what the aim is and your time :-)

[2021-05-14 03:21] rnveach commented on #10005
https://checkstyle.org/config_filters.html#SuppressWarningsFilter
It doesn't look like you are using the required filter for this functionality.

[2021-05-14 03:26] rnveach commented on #10004
See https://checkstyle.org/report_issue.html#How_to_request_new_feature_for_existing_functionality.3F

[2021-05-14 03:33] rnveach commented on #5819
@AkMo3 Yes it is a long running test and doesn't have the full list of suppressions, hence the failure. I started adding to it again in my version but it takes some time to find them all.

https://github.com/AkMo3/checkstyle/commit/da27232396dbee786513d9d125d7f45b23169e4f#diff-f33d58f6f30f581e9d2ad517d3df2b8067424ce018093ed3de915305cf51ad7eR86
Did you remove the suppression for the file?

[2021-05-14 03:46] AkMo3 commented on #5819
@rnveach Yes. I ran again now just for `asttreestringprinter` package after removing suppressions and here`s the log

<details>

<summary> Test log: </summary>

[code]
</details>

[2021-05-14 03:46] #7202 closed

[2021-05-14 03:47] rnveach commented on #7202
Fix was merged

[2021-05-14 04:04] romani commented on #10006
Thanks a lot for suggestion.
Our template is long struggle between  sharing all details , automation, users ability to understand what is required, users laziness, maintainers laziness.

Your template is too fancy, most of our users will not be able to follow it. We validate whole file, some placeholder in main method is not always valid.

No matter how much we try to explain, user keep going to i

[2021-05-14 04:05] romani commented on #7202
@AkMo3, thanks a lot for your time to make it happen.

[2021-05-14 04:14] romani commented on #10001
There are numerous ways:
File in web
Resource in jar
...

https://docs.oracle.com/javase/8/docs/technotes/guides/lang/resources.html#res_names

[2021-05-14 06:05] Devansu-Yadav commented on #9994
@romani @rnveach Could you please approve this issue, so I could continue working on it.

[2021-05-14 06:25] Devansu-Yadav commented on #9991
@romani @rnveach Could you please approve this issue at your convenience?

[2021-05-14 11:40] Vyom-Yadav commented on #9993
@strkkk @romani I have not worked with javadoc tags much but if I am getting it right, if we have an input like this-
[code]
We want an output like-
[code]
And for input like-
[code]
we want output like-
[code]

[2021-05-15 10:01] Ritik2604 commented on #10000
@romani approve this.

[2021-05-15 17:56] xenoterracide commented on #10006
It's ignored in part because it requires too much work to do. Took me 30 minutes just to set the whole damn thing up.

[2021-05-15 21:14] Ritik2604 commented on #9929
@romani @rnveach Approve this issue.

[2021-05-16 03:50] romani commented on #10006
Can y slice and diy how much time you spent to figure out:
Download of latest jar
Creation if config
Creation of test input file

I appreciate your feedback.

[2021-05-16 05:28] #9764 closed

[2021-05-16 10:52] Ritik2604 opened #10009 "Update Doc of Miscellaneous check CommentsIndentation"
https://checkstyle.org/config_misc.html#CommentsIndentation
As you can see the examples are added under wrong section it should be under Exaples sections below it.

- update DOC for src/xdocs/config_misc.xml. under commentsIndentation section
- update the comments in CommentsIndentationCheck under src/main/java/../checks/indentation/CommentsIndentationCheck file
- more details for DOC  please read

[2021-05-16 10:55] #10009 closed

[2021-05-16 10:57] Ritik2604 commented on #10000
@romani Approve it and add label Bug to it.

[2021-05-16 10:58] Ritik2604 commented on #9935
@romani Approve it and add label easy to it.

[2021-05-16 12:52] Devansu-Yadav commented on #9987
@rnveach @romani After researching and thinking about different cases that could hit the `IOException`, I think that this exception won't occur in the `setHeader()` method. I think that we can safely remove the `try-catch` block and just instantiate the `Reader` object and pass it to `loadHeader()` method.

Also, this issue will have to tackle both the mutations [https://github.com/checkstyle/chec

[2021-05-16 13:58] #9269 closed

[2021-05-16 13:59] romani commented on #9269
fix is merged.

[2021-05-16 14:02] #9957 closed

[2021-05-16 14:03] romani commented on #9957
fix is merged

[2021-05-16 14:11] romani commented on #9957
@Vyom-Yadav , thanks a lot for quick fix.

[2021-05-16 14:38] romani commented on #9999
confirmed that it is allowed:
[code]

@rnveach , original issue was created based on your PR experience ...
please recheck this in Eclipse, as Eclipse compiler might have problems with it.
If so, we need to make it configurable.

[2021-05-16 14:50] rnveach commented on #9999
@romani Current version of Eclipse I am using has no issues. I don't remember my Eclipse at the time being having any issues.
Going by PR history at https://github.com/checkstyle/checkstyle/pull/2429 this was related to limiting all lines to 100 characters and I was asking where to break imports to remove suppressions. That was what prompted the issue to be created.

[2021-05-16 19:01] romani commented on #9999
I do not remember rationale at that time.
But it is clear that there are a lot of people who do not care about package and import length, as nobody read such lines usually.
Imports done by IDE and they do not wrap.

So we have a request to keep validation of this, ok let's have an option for such people

[2021-05-16 21:23] romani commented on #9987
@Devansu-Yadav , just send a PR, green CI and no regression in diff report will prove that fix is valid.

[2021-05-16 21:31] romani commented on #10005
two extra modules are required under Treewalker - https://checkstyle.org/config_filters.html#SuppressWarningsFilter_Examples
[code]

[2021-05-16 21:31] #10005 closed

[2021-05-17 05:55] rnveach commented on #9999
I will mark this as approved then to add those 2 properties.

[2021-05-17 08:54] JacquesLeRoux opened #10012 "Whitespaces at the head of line before a cast and after an instanceof or an "enhanced for" results to "'(' should be on the previous line"error"
Hi,

I'm a committer of the [Apache OFBiz project](https://ofbiz.apache.org/). We use a checkstyle configuration corresponding to the OFBiz coding conventions roughly simplified “Sun Coding Standards”  150 characters line length and NewlineAtEndOfFile value="lf_cr_crlf"

Below, first, only the relevant parts are shown (checkstyle and 2 Java classes).
Then, for each, the complete source using the "

[2021-05-17 11:58] tosix1988 opened #10014 "JavadocMethod to allow empty @return tags"
Hello,

at the moment, I am not able to configure the JavadocMethod check to allow empty @return tags. My setup:

[code]
Running the checkstyle produces:
[code]
While it seems that empty @param tags do not cause any issues, empty @return tags do. Is there a way to configure checkstyle so that empty @return tags are considered valid? I tried using `SuppressionSingleFilter` and filter by message, bu

[2021-05-17 13:29] nmancus1 commented on #10012
Jacques, thanks for the detailed report! Could you pare down your code example and config to just the target code, module and specific properties that you are having an issue with? It will make it easier for maintainers to approve and get started on this. If you think that it adds context, you can still include the entire files using the `<details>...</details>` html5 tags. Also, I do not see an e

[2021-05-17 14:47] SGanguly1999 opened #10015 "Unnecessary violation by Indentation check"
Detected in comment: [#9729](https://github.com/checkstyle/checkstyle/pull/9729#issuecomment-841773349)

I have read check documentation: https://checkstyle.sourceforge.io/config_misc.html#Indentation
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[

[2021-05-17 15:36] xenoterracide commented on #10006
It's not the time to comprehend, it's the time to do, each step takes 5 minutes. You may think it shouldn't, but it does.

[2021-05-18 07:39] JacquesLeRoux commented on #10012
Hi,

Sure I'll do that, I guess directly by editing...

[2021-05-18 11:10] BigMichi1 opened #10016 "getText() misses a package part after using FullIdent.createFullIdent()"
i'm writing a new check and found an issue when I use `FullIdent.createFullIdent().getText()`

I have the following java file
[code]
which can be parsed successfully
as I'm interested only in the annotation i have in the check
[code]
now when visitToken is called I can print out the tree by using `AstTreeStringPrinter.printTree(ast)` resulting in

[code]
while walking through the tree I create a F

[2021-05-18 11:14] sumitgsh commented on #9935
@Ritik2604 @romani I am new to this repo!!
Can I work on the issue..

[2021-05-18 13:26] nmancus1 commented on #10016
@BigMichi1 thanks for your bug report. Just to confirm, you are expecting `a.b.c.ClassA.class`, correct?

[2021-05-18 14:09] BigMichi1 commented on #10016
yes I would expect exactly that `a.b.c.ClassA.class`

[2021-05-18 17:39] Ritik2604 commented on #9935
Yes you can

[2021-05-18 19:45] sumitgsh commented on #9935
![image](https://user-images.githubusercontent.com/43777569/118713148-3b2a2400-b83f-11eb-873e-49ee0f2d5afd.png)
@Ritik2604 I am just verifying whether I am going right or not.
Like the above section must go below Examples ,after the <module name="CommentsIndentation"/> section right?

[2021-05-18 22:15] Ritik2604 commented on #5982
After brainstorming for continuously 4Hrs understanding check methods and calls I figure out the check is fine
![Capture](https://user-images.githubusercontent.com/49342895/118727354-3fab0880-b850-11eb-8c20-80ba8bf62277.PNG)

User using `staticGroups` or `useContainerOrderingForStatic` the `option` property` top or bottom` has no significance If we think logically and is wrong in this example
[cod

[2021-05-18 23:40] #10000 closed

[2021-05-19 04:07] xenoterracide commented on #10005
@romani you really should try what you're suggesting before closing stuff, you'll note also that SuppressWarningsFilter can't be under treewalker.

[code]

[2021-05-19 04:12] xenoterracide commented on #10006
also, it's pretty obvious by your closing of the other issue that the real problem is maintainer laziness, nothing can fix that.

[2021-05-19 04:34] xenoterracide commented on #10004
I'm not requesting a new check, and I still don't understand what piece of information is missing. guess I don't care, seems reporting issues here is too complicated for me, must be something wrong with me.

[2021-05-19 04:34] #10004 closed

[2021-05-19 05:04] rnveach commented on #10004
It is up to you if you wish to continue with an issue or not.

To us documentation we pointed to seems clear. Let us know how it is not and what we can do to improve it.

To me, it is not clear what you mean by "named local variables" which is the absolute only thing I have to go on by what you have provided. All variables are given a name, and there is nothing standing out from your small descrip

[2021-05-19 05:20] rnveach commented on #10006
Maintainers have more work to do than you may think. We spend our free time doing this during our personal time for basically nothing. We spend a lot of time helping contributors to contribute and thinking of best ways to implement new issues. Every day the backlog of issues grow while we have few long time contributors help us. We have put a lot of resources into our documentation to help cut dow

[2021-05-19 10:08] Ritik2604 commented on #9935
@sumitgsh yes u r right

[2021-05-19 10:34] xenoterracide commented on #10006
you do realize you're not the only maintainer of an open source project right? I work on some too. I hate when people say this... blah blah blah... I don't have time to maintain everything either.

[2021-05-19 10:34] #10006 closed

[2021-05-19 12:03] nmancus1 commented on #10014
Hello @tosix1988 , thanks for your report. After looking into this a bit, I have a few thoughts:

This is not entirely accurate; in your example, your `@param` tag is not empty:

[code]

The issue is with how Checkstyle parses Javadoc comments; it appears that Checkstyle Javadoc grammar does not allow for empty tags:

[code]

This issue was also noticed at https://github.com/checkstyle/checkstyle/

[2021-05-19 13:29] romani commented on #10006
I know this, but I need know how to make template, I see what you driving at, but it is not easy to make and maintain. I ok with somebody start development of github action of special web service that will guide user on what is requied for good issue content.

yes, judging amount of issues and open PRs, lack of maintainers  - it is priority.
There are a lot of users who has no problems to follow t

[2021-05-19 13:49] romani commented on #9929
no updates, we need to create new set of Inputs and test , same as we did for Google style.

[2021-05-19 14:01] Ritik2604 commented on #9929
Yeah I have created new test files and input files I didn't update the existing ones. Please review and suggest any changes

[2021-05-19 14:56] nmancus1 commented on #10014
After looking into this, the problem lies in our regex to match javadoc tags:

[code]

This pattern is not matching the empty `@return` tags, and therefore they are not being added to our list of tags.

[2021-05-19 17:32] JacquesLeRoux commented on #10012
Done in 1st comment, TIA for reviews

[2021-05-19 17:48] nmancus1 commented on #10012
So, just to be clear, you are not expecting the following violations?

[code]

[2021-05-19 17:53] JacquesLeRoux commented on #10012
No, that's not what I see at https://ci.apache.org/projects/ofbiz/logs/trunk/checkstyle.html where [SeparatorWrap] does not show. I see only '(' should be on the previous line. Maybe I miss something related to SeparatorWrap?

[2021-05-19 18:03] nmancus1 commented on #10012
Your description is a bit confusing, because you refer to two different checks `MethodParamPad` and `SeparatorWrap`, and your config still has several different checks in it.  The violation that you have shown above is from `SeparatorWrap`, so I am not sure how this connects to `MethodParamPad`. **Note** that all Checkstyle checks are modular; none interact with the others, so your config should c

[2021-05-19 19:30] rymader opened #10020 "annotation array initialization indentation issue"
We upgraded Checkstyle from version 8.29 to 8.42, and we're seeing a strange violation around the indentation of annotation arrays.

Example:

[code]
To clear the errors, I have to change the indentation of each @JsonSubTypes.Type in the array to be at the same indentation level as the curly brackets on lines 8 and 13. My understanding is using the default indentation value of 4, each array item s

[2021-05-19 19:41] JacquesLeRoux commented on #10012
OK, I'll thanks

[2021-05-19 22:56] rymader commented on #10020
This might be related to or duplicate of https://github.com/checkstyle/checkstyle/issues/9299, wasn't sure.

[2021-05-20 07:54] Vyom-Yadav commented on #9999
I am on it.

[2021-05-20 09:02] sumitdkhandelwal opened #10022 "Checkstyle-Plugin: cannot initialize module TreeWalker - cannot initialize module IllegalType - Property 'format' does not exist, please check the documentation"
Version 8.42.0.202105120638 not working in Eclipse version java-2021-03. Here is the error log:

[code]

This is the exported [google-checks.xml](https://github.com/checkstyle/checkstyle/files/6514398/google.txt)

[2021-05-20 11:12] #10022 closed

[2021-05-21 04:41] Fernal73 commented on #10006
I can recommend the following newsletter to aspiring product managers:

https://www.linkedin.com/newsletters/notes-on-product-management-6459127807657287680

[2021-05-21 06:58] #9459 closed

[2021-05-21 06:59] strkkk commented on #9459
fix is merged

[2021-05-21 08:24] AkMo3 commented on #9993
For the second one

[code]

The output according to me should be
[code]

[2021-05-21 08:40] Vyom-Yadav commented on #9993
That would result in interpreting the HTML tags alongside, if someone has something like-
[code]
Then the method would have to interpret the HTML tags as well. This is a problem because this will parse as-
[code]
Now to get the output like javadoc tool will be quite tricky, any ideas or something I am missing on?

[2021-05-21 08:48] AkMo3 commented on #9993
Well, this seems still a bit easy until https://github.com/checkstyle/checkstyle/issues/9703 where actually the complexity increase.

Sorry, I could not give any suggestion as I myself was not able to solve this gracefully in my PR, so this issue was created.

[2021-05-21 09:21] tosix1988 commented on #10014
Thanks @nmancus1 for your analysis and time.

I thought actually that it is a feature to report empty return tags, judging from the message, which says: `@return tag should be present and have description`. However, the need to have description would not seem to be correct if you would change the regexp the way you propose. Shouldn't the message be changed somehow as well?

[2021-05-21 10:58] Vyom-Yadav commented on #9993
@AkMo3 I dont think we have to interpret HTML elements, I think in the issue @romani meant just to concatenate the values in summary tag, rest he can only tell better.

[2021-05-21 11:23] Rahulkhinchi03 commented on #9486
Hey, I am trying to resolve this issue!

[2021-05-21 14:09] nmancus1 commented on #10014
Good point. We would need to add another message, something like `@return tag should have description`, which would then allow you to filter by message.

We could use `WriteTag` for your purpose, if it logged violations from AST, but it does not:

[code]

So this config still reports missing return tag on `void` methods...

Just curious, why require `@return` tag at all if it can be empty?

[2021-05-21 18:33] Rahulkhinchi03 commented on #9486
Hey @pbludov, I solved this issue. What things needed except
1.Screenshot of Issue.
2. Java Source Code.
3. AST Format
4.  Expected update for Java Doc.

[2021-05-22 16:45] Vyom-Yadav commented on #9993
@romani Please clarify.

[2021-05-22 16:59] romani commented on #9991
example is not valid.

it should be:
[code]

[2021-05-22 17:39] #9534 closed

[2021-05-23 01:14] pbludov commented on #9745
Similar to #10014
The pattern should be updated to something like
[code]

[2021-05-23 04:57] AkMo3 opened #10028 "Javadoc: Incorrect parsing of white space token as text for link literal"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

Expected White Space Token

This parsing is done correctly for others. Eg:

For
[code]

AST:
[c

[2021-05-23 04:58] AkMo3 commented on #10028
@nmancus1 Please share your view

[2021-05-23 14:14] nmancus1 commented on #10028
This will happen for any alternative in our start rule (`javadoc`) or some other rules (like `description`):

[code]

This is because our `text` rule captures WS:

[code]

Any whitespace encountered upon parsing of the alternatives in the first closure in the `javadoc`, `description`, and similar rules, matches the `text` rule.

I am not sure if this was by design or not, but, changing this would

[2021-05-23 17:36] Devansu-Yadav commented on #9991
@romani Fixed it! I realized that we could have curly braces for `case` and `default` blocks.

[2021-05-23 17:56] #8886 closed

[2021-05-23 18:18] #9486 closed

[2021-05-24 02:54] AkMo3 commented on #10028
I will conduct a feasibility study about how much the change will be. Currently, I see 43 test failure. It would take some time to fix everything.

[2021-05-24 07:54] AkMo3 commented on #10028
@nmancus1

I see this issue in html tags also. Like in
[code]

The ast of our focus is:
[code]

A better ast can be:
[code]

Should I include this issue also along with. I tring to see how much changes is required, and if they are feasibile also becomes what seems from now is it is going to be big change. But since you would soon be starting your work on new ANTLR, your view is important about the

[2021-05-24 09:37] Rahulkhinchi03 commented on #9391
Hey @romani,
I am on it.

[2021-05-24 10:25] tosix1988 commented on #10014
It's just an internal requirement of ours to have javadocs with all tags (@param and @return) present, with their descriptions being optional.

[2021-05-24 12:50] nmancus1 commented on #10028
Correct. As stated above, this will happen with any subrules in the first closure.

After thinking on this a bit, I am not sure if there really is a problem here. These inline tags are part of the initial description of the Javadoc. So, if there is any element in a javadoc that precedes a block tag, it is part of the description. I cannot find a Javavdoc grammar from Oracle (please share if you kn

[2021-05-24 13:05] nmancus1 commented on #10028
Please explain why this is better.

[2021-05-24 13:40] nmancus1 commented on #10014
@pbludov maybe this is a chance to begin replacing JavadocMethod with more granular checks... I propose we introduce `JavadocReturnTagCheck` which can check for the presence of `@return` tags for non-void methods, and their respective content? In regards to https://github.com/checkstyle/checkstyle/issues/9745, we could include support for inline tags in this check, as well. As a migration note, we

[2021-05-24 14:07] rajatshrm648 commented on #9806
Hello @AkMo3  I want to help you in this issue

[2021-05-24 14:40] AkMo3 commented on #9806
@rajatshrm648 Thanks for your interest to contribute to the project. I would advise you first to solve some easy or gsoc first and second issues before working on checks so that you get enough experience about the project. Secondly, this issue is still not approved so, we should not work for a fix for this and rather focus on already pending approved issues.

Welcome to the community

[2021-05-24 16:36] rajatshrm648 commented on #9806
Thank you for your response
I want to be a part of this project and put all my efforts to contribute to
the project

On Mon, May 24, 2021, 20:10 Akash Mondal ***@***.***> wrote:

[2021-05-24 17:00] JacquesLeRoux commented on #10012
Hi,

You are right, MethodParamPad  was confusing and misleading. It came from the allowLineBreaks solution I hastily found on StackOverflow. It's unrelated to the issue at hand that is indeed only related to SeparatorWrap.

You are right with your example above too.  And yes, I'm not expecting the violations for a cast after and instanceof or an "enhanced for".

Now, if I remove LPAREN from
[code

[2021-05-24 17:28] nmancus1 commented on #10012
If it helps at all, our documentation always shows our own usage of checks at the [bottom of each section](https://checkstyle.sourceforge.io/config_whitespace.html#SeparatorWrap_Example_of_Usage). Here is our config for `SeparatorWrap`:

https://github.com/checkstyle/checkstyle/blob/258a4cfb6178c07a9fbe0aabcaf0c168ecfc0c3b/config/checkstyle_checks.xml#L844-L857

[2021-05-24 23:53] pbludov commented on #10014
@nmancus1 you are right. If we need to add new functionality, it is better to do it in a new check.
Since we got the Javadoc parser, parsing Javadoc with regular expressions doesn't make sense. But the implementation of AbstractJavadocCheck is not yet complete. Issue #5770 should be done to allow xpath suppressions.

[2021-05-25 02:07] AkMo3 commented on #10028
I am working on this only, such that all whitespaces before text are classified as `TokenTypes.WS`

1. I believe it is better because in certain cases after getting the text of an element, we are not sure if it empty of not, so we are required to use `JavadocUtil.isEmpty()`

2. For cases like

[code]
    The produced AST for Javadoc is
[code]

    This implementation will come in handy for us whil

[2021-05-25 06:08] JacquesLeRoux commented on #10012
Thanks for the suggestion. It gives the same result (number of errors) than removing LPAREN. I'll check both options on an one year old situation. Currently remain 116 errors, was 35k+ last year.

[2021-05-25 11:58] nmancus1 commented on #10028
Another argument for this is that we should show the leading whitespace separately, because the javadoc tool trims it anyway:

[code]
Renders as (edge of window shown for reference):

![image](https://user-images.githubusercontent.com/31252532/119492615-4690ba00-bd2d-11eb-9ff5-628145e36b3b.png)

But then, it does this for all lines:

[code]
Renders as:
![image](https://user-images.githubuserconten

[2021-05-25 12:53] pbludov commented on #10028
Maybe this space should be part of the leading asterisk.

[2021-05-25 12:59] JacquesLeRoux commented on #10012
OK, there is a difference when using your proposition with a checkout from 1 year ago, 26953 errors with the original and 26761 w/ your changes applied. So we would escape 192 issues. When only removing LPARENT we get 26866 errors, so only 87 issues less. I'm not sure what to do yet. I'll discuss that w/ the team... Thanks again for your help!

[2021-05-25 13:18] #9391 closed

[2021-05-25 14:17] AkMo3 commented on #10028
I am making a draft PR for all changes for all changes where all whitespaces before text are classified as `WS`.

Eg:

File:
[code]

AST:
[code]

[2021-05-25 20:18] xenoterracide commented on #10006
can't view even though I'm logged in

[2021-05-26 00:06] Fernal73 commented on #10006
LinkedIn?
I can.
https://www.linkedin.com/help/linkedin/answer/1187/contact-linkedin-customer-service?lang=en

On Wed, 26 May 2021, 01:48 Caleb Cushing, ***@***.***> wrote:

[2021-05-26 02:21] rnveach opened #10043 "SuppressWarnings: support not working on local variables"
https://checkstyle.org/config_filters.html#SuppressWarningsFilter_Description

[code]

Suppression on line 3 on field works. Ok.
Suppression on line 7 on method works. Ok.
Suppression on line 12 does not work even though the annotation is added. This is the point of this issue.

I don't see why annotations on variables should not be supported as long as the code compiles, which it does.

Since sup

[2021-05-26 15:51] strkkk commented on #9142
What do you think - should we repeat code several times or extract method to make such things as one-liner?
I mean code like
https://github.com/checkstyle/checkstyle/pull/10026/files#diff-cf838e5bbdb7de5a3e0e91f9919a389a0fd2ffdbda60c85a3c6dba07dcf69acdR365-R375
[code]
this can be extracted in one method and be like `assertIsEmpty(message, collection)`

What do you think?

[2021-05-27 05:20] AkMo3 commented on #9685
@rnveach @pbludov This might be fixed in #10042 as the report shows, should this be linked to that PR?

[2021-05-27 13:16] vivekkothari commented on #8929
Any update on this? I am also facing this issue.

[2021-05-29 21:55] #9453 closed

[2021-05-29 21:55] romani commented on #9453
Fix is merged

[2021-05-30 12:27] anjanayraina commented on #9745
I would like to get started on this project, can you please suggest to me any beginner-friendly issues that I could start fixing.

[2021-05-30 12:56] nmancus1 commented on #3145
This fix will change the structure of the `TYPE` ast, allowing us to get the true first column of the `METHOD_DEF` and `VARIABLE_DEF` ast.

### Example:

[code]

AST before this fix:

[code]

AST after this fix:

[code]

So, custom checks may need to make changes like: https://github.com/sevntu-checkstyle/sevntu.checkstyle/pull/845/files#diff-cf22a9a4229906d2b13b60e76c1195bc20e48f81235910bf3764cb2