[2017-03-09 22:19] sabaka commented on #3970
Preassigned to Jabbar Memon: https://groups.google.com/forum/#!topic/checkstyle-devel/urnRIydZGGA

[2017-03-10 01:57] rnveach commented on #3954
@GitToasterhub We can't tell what you have done until we see the PR. Most likely you changed the file when you moved/copied it.

folder name should be `methodparampad`, input files should be `InputMethodParamPad...`.

[2017-03-10 01:59] rnveach commented on #3965
Fix is merged

[2017-03-10 01:59] #3965 closed

[2017-03-10 02:24] rnveach commented on #3961
@Luolc Since its an input file to the test, it should be in the same package as the test.

[2017-03-10 02:33] Luolc commented on #3961
@rnveach Done. Shall we move the discussion to the PR page #3966 ? 😄

[2017-03-10 04:53] rupak0577 commented on #3201
I am on it.

[2017-03-10 04:53] romani commented on #3619
xdoc need to be extended to let other to read it clearly.
It is required to get all logic from code to bring it to xdoc.

[2017-03-10 05:09] romani commented on #3932
http://checkstyle.sourceforge.net/config_whitespace.html#NoLineWrap

[code]

so we consider whole structure before block of content to be not wrapped. So annotation processing will follow processing of other tokens like  CLASS_DEF, METHOD_DEF, CTOR_DEF, ENUM_DEF, INTERFACE_DEF.

So addition of ANNOTATION will not be smth weird for this Check.
But documentation should clearly describe how Check wor

[2017-03-10 05:14] romani commented on #3089
discussion is continued ... please join to https://groups.google.com/forum/#!topic/checkstyle/KZn_d8nC4c0 to share ideas on design of new Check

[2017-03-10 06:15] bansalayush commented on #3931
I followed your instructions.
But during CI test i couldn't pass any of the test. What could i have done wrong . Appreciate your help and patience.

[2017-03-10 09:31] rnveach commented on #3932
@romani Please look over my comment again and [the reason we don't use those 2 tokens in our configuration](https://github.com/checkstyle/checkstyle/blob/cd88872f9db17c838641bcd32ad7f334893827c0/src/test/java/com/puppycrawl/tools/checkstyle/internal/AllChecksTest.java#L134-L141) and [the reason we don't use those and some others in google's configuration](https://github.com/checkstyle/checkstyle/b

[2017-03-10 13:43] romani commented on #3931
please make sure that you can pass tests before your changes on your local, if it pass it mean that your changes caused problems - investigate what change cause first problem.

[2017-03-10 14:28] romani commented on #3814
from https://github.com/checkstyle/checkstyle/pull/3785#issuecomment-281185031

minal paths through tr-catch block is 2 (without exception and with exception). But this again another issue.

[2017-03-10 14:37] romani opened #3974 "NPathComplexity: find a way to calculate nested "?:""
apache-jsecurity/xref/home/zenigata/workspace/contribution/checkstyle-tester/repositories/apache-jsecurity/samples/spring-hibernate/src/org/jsecurity/samples/sprhib/party/Person.java.html#L194

[code]

Find a correct way to calculate Npath value for such structures.

[2017-03-10 15:14] Vladlis commented on #3300
Assigned to https://github.com/Pedro12909

[2017-03-10 15:19] GitToasterhub commented on #3954
@rnveach Oh sure,I made folder not inputmethodparampad but methodinputparampad.I am trying to make pull request using step-by-step guide from here http://checkstyle.sourceforge.net/beginning_development.html

and unfortunately when I do git push origin my-new-check
I get the following:
remote: Permission to checkstyle/checkstyle.git denied to GitToasterhub.
fatal: unable to access 'https://GitToas

[2017-03-10 15:25] rnveach commented on #3954
@GitToasterhub

When you cloned, the URL should be `github.com/GitToasterhub/checkstyle.git`. You will have to modify your remote or re-clone to fix the URL.

[2017-03-10 15:29] Vladlis commented on #3954
@GitToasterhub
you try to push directly to Checkstyle, but you actually need to:
1. Make your own fork of Checkstyle.
2. Clone your fork.
3. Create branch in the cloned project.
4. Make all neccesary changes.
5. Make commit and push.
6. Make pull request from your fork to Checkstyle.

[2017-03-10 16:39] GitToasterhub commented on #3954
@Vladlis Thanks ,your advices are very helpful! I finally made a pull request

[2017-03-10 16:41] GitToasterhub commented on #3954
As I mentioned,7 tests are ran in MethodParamPadCheckTest,and 4 of them are successful 3 are failed.I simply copied classes InputMethodParamPad and InputWhiteSpaceAround to methodparampad folder,having not changed these 2 classes.I trying to explore what can be a problem but yet I am stuck,and I hope for your help.

[2017-03-10 17:52] jabbar86 commented on #3886
Use “some String literal”.equals(myString) instead of myString.equals(“some String literal”). it saves null check..
String myString = getSomeString();
if ("some String literal".equals(myString)) {
  // do something
}

[2017-03-10 17:56] romani opened #3976 "Split and Organize Checkstyle inputs by Test for EmptyForIteratorPad"
subtask of #3891 .

do a copy of all test input files to separate folder for EmptyForIteratorPad .
Not any other Check should use new inputs.

[2017-03-10 17:57] romani commented on #3976
pre-assigned to Shivansh Soni - https://groups.google.com/forum/#!topic/checkstyle-devel/ee95NUc09p0

[2017-03-10 18:53] GitToasterhub commented on #3954
@rnveach Thanks for help! You were right,intellij idea were modifying somehow the class,when I copied it.I copied it simply via notepad and then ran tests in IDEA and everything worked.PR is also ready,It's my first PR ,and I might have done something wrong,I renamed it to Issue #3954 .

[2017-03-10 20:19] demonfiddler commented on #3886
@jabbar86 please re-read my original description - you obviously haven't understood it.

[2017-03-10 21:41] rnveach commented on #3886
@jabbar86 Please give us a demonstration of the issue you are having like I asked in my other comment.

[2017-03-11 00:40] Pedro12909 commented on #3300
Working on it

[2017-03-11 02:26] shivanshsoni commented on #3976
I am on it

[2017-03-11 05:37] nikshinde1996 commented on #3898
I have followed all the steps provided by your description.. Then how come build failed. Please guide me to fix this issue.

[2017-03-11 08:04] MEZk commented on #3755
@rnveach @romani
I reviewed all changes. Here is a quick summary:

Changes in Google Java Syle Guide which do not require additional changes in google_checks.xml or xdoc:

1) https://github.com/google/styleguide/commit/db0a26320f3e930c6ea7225ed53539b4fb31310c#diff-b6c9191ee5ccb7a5ef170e98e51d94d8R40
2) https://github.com/google/styleguide/commit/db0a26320f3e930c6ea7225ed53539b4fb31310c#diff-b6c919

[2017-03-11 13:25] rnveach commented on #3898
@nikshinde1996 See my comments at https://github.com/checkstyle/checkstyle/pull/3982#issuecomment-285866174

[2017-03-11 13:52] romani commented on #852
@xpdavid , can you help us to resolve this issue ?
if you agree I will provide details on how to resolve it.

[2017-03-11 14:30] romani commented on #3755
I am ok with new option. You can split it out in separate issue.

separate to 2 issues.

we need to ease our config.

I do this manually, as I receive PR that covers new version of document. As we can not cover all in one issue, it is ok to update coverage page with links to issue where it will be covered

not as blockers, but as future plans.

==========================

in this issue , I suggest

[2017-03-11 16:28] xpdavid commented on #852
@romani I'd love to.
I have read the comment history. Personally, I agree with throwing exception (if possible) in `default` branch and list all the required enums explicitly in `switch` statement.

[2017-03-11 18:07] romani commented on #852
@xpdavid , please proceed,
- please make a list of Checks to update, I will review them
- please split updates in several PRs (one or two Checks per PR, no more, to ease review)

[2017-03-11 19:37] romani opened #3985 "Split and Organize Checkstyle inputs by Test for EmptyLineSeparator"
subtask of #3891 .

do a copy of all test input files to separate folder for EmptyLineSeparator .
Not any other Check should use new inputs.

[2017-03-11 19:38] romani commented on #3985
pre-assigned to Deepti Verma - https://groups.google.com/forum/#!topic/checkstyle-devel/r6WP256EgxY

[2017-03-11 19:43] romani commented on #2186
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/zFiXoW7k9Co

[2017-03-11 19:51] romani commented on #2974
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/ee95NUc09p0

[2017-03-11 19:56] romani opened #3986 "Split and Organize Checkstyle inputs by Test for AnonInnerLength"
subtask of #3891 .

do a copy of all test input files to separate folder for AnonInnerLength .
Not any other Check should use new inputs.

[2017-03-11 20:03] romani commented on #3502
pre-assigned to @GitToasterhub .

[2017-03-11 21:50] rnveach commented on #3755
@romani

Is there any reason we can't put this as a pure `html` file in git repository, like under the `site` directory?
We wouldn't need a date linked file as we could see the changes directly in git.

[2017-03-11 21:55] #3648 closed

[2017-03-11 21:56] rnveach commented on #3648
Fix is merged
`

[2017-03-12 00:33] romani commented on #3755
no good reason, it was required to be done ones manually (3 years ago), after that I updated it only ones. Now looks like Google team is restored interest to guide, so we could make it more automated. Please make it as separate issue.

[2017-03-12 01:12] nikshinde1996 commented on #2186
I am on it

[2017-03-12 01:26] romani commented on #3309
@soon ,
title of issue is changed, so it is ok to change both classes.

[2017-03-12 01:42] rnveach opened #3987 "Google style report: put it under git control"
Taken from https://github.com/checkstyle/checkstyle/issues/3755#issuecomment-285870120 and https://github.com/checkstyle/checkstyle/issues/3755#issuecomment-285911703 :

Everytime we update our compliance with google's style, romani has to manually update our snapshot of the google style report, see http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html .
Every update requires t

[2017-03-12 02:25] shivanshsoni commented on #2974
I am on it

[2017-03-12 12:25] anudeepti2004 commented on #3985
I am on it.

[2017-03-12 13:25] romani commented on #3986
pre-assigned to https://groups.google.com/forum/#!topic/checkstyle-devel/mlF9yJ9l3AY

[2017-03-12 14:39] GitToasterhub commented on #3974
So,it's needed to find amounts of "?:" in functions?We can simply find amounts of "?"  that are equal to "?:" because they are used togather.Is this what is needed or I understood wrong the task?

[2017-03-12 16:48] GitToasterhub commented on #3502
I am on it

[2017-03-12 16:49] romani commented on #3987
generation of site on local could be done by `mvn site -Pno-validations`

[2017-03-12 17:22] romani commented on #3974
you need to read algorith of Npath, this case is not covered by original algorithm. So by usage of author logic we need to find algorithm for this construct.

This is hard issue, for you I recommend to stay away of it for first period of time.

[2017-03-13 03:19] rnveach commented on #3896
A fix was merged, but the issue is not done yet.
As suggested at https://github.com/checkstyle/checkstyle/pull/3942#pullrequestreview-26450168 , We need to remove all ROOT locales from our tests as they force ignoring localization testing.

@Luolc Since you started this, do you plan to finish?

[2017-03-13 03:27] Luolc commented on #3896
@rnveach Glad to do so 😄  Shall I open new a PR linked to this issue as well when I finished?

[2017-03-13 03:28] rnveach commented on #3685
Fix is merged

[2017-03-13 03:28] #3685 closed

[2017-03-13 03:36] rnveach commented on #3896
@Luolc yes.

[2017-03-13 03:48] RishMeh19 commented on #3900
I am on it

[2017-03-13 04:18] romani opened #3989 "UTs should not use ROOT locale when they test violation/error message"
from #3896 and its PR.

Usage of ROOT in this cases will not do localization at all. It is not really a test for fully localized resources.

The reason of problem is that for this Tests using getCheckMessage from base test class(BaseCheckTestSupport), that do load of file as resource NOT as localized bundle. Checks to loading by ResourceBundle class that is why they are localized.

[2017-03-13 04:18] romani commented on #3896
lets close this issue, as it is merged fix completely cover it.
Lets have more exact issue - #3989.

[2017-03-13 04:18] #3896 closed

[2017-03-13 04:25] romani commented on #3989
Issue is assigned to @Luolc .

@Luolc , I pushed by draft/ugly experiment to fix - branch "i3896-locale-for-UTs" - https://github.com/checkstyle/checkstyle/tree/i3896-locale-for-UTs .
So I failed to load localized bundle .... smth is missed or done in wrong way in my code.
Please look at my fixes and make good solution.

[2017-03-13 04:33] romani opened #3990 "find a reason why Travis localized UTs are passed but failed on local"
to reproduce revert fix of https://github.com/checkstyle/checkstyle/commit/7caba87cc7113bf4484ca6046483a7a9bad58ec8

if build if failing on local it should fail on Travis.

some hints for investigation:
- recheck order of Tests on local and Travis
- make system.out printing to find out what is different (may be localization is not passed to UT correctly from command line or .................).
- a

[2017-03-13 04:43] romani opened #3991 "Split and Organize Checkstyle inputs by Test for ExecutableStatementCount"
subtask of #3891 .

do a copy of all test input files to separate folder for ExecutableStatementCount .
Not any other Check should use new inputs.

[2017-03-13 04:44] romani commented on #3991
pre-assigned to Gabriel Bercaru - https://groups.google.com/forum/#!topic/checkstyle-devel/te3JelPOdGA

[2017-03-13 07:10] GabrielBercaru commented on #3991
I am on it

[2017-03-13 09:37] shivanshsoni commented on #2974
check [commit](https://github.com/shivanshsoni/checkstyle/pull/1/commits/5062c726b1f9d34f5bbca6aca951b9afce914200l)

[2017-03-13 11:04] SchuckBeta opened #3994 "mvn checkstyle:check 报错"
执行 mvn checkstyle:check 报下列异常

---------------

[INFO] Scanning for projects...
[WARNING] The POM for org.apache.maven.plugins:maven-checkstyle-plugin:jar:2.17 is missing, no dependency information available
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building checkstyle-test 0.0.1-SNAPSHOT
[INFO] ---------------------------------------------------

[2017-03-13 14:45] romani commented on #3994
This is a problem in maven-checkstyle-plugin not a checkstyle project. Please report this issue to plugin issue tracker

[2017-03-13 14:45] #3994 closed

[2017-03-13 18:19] Sukrityshrivastava commented on #2899
Can you please provide some more details about what I need to do?

[2017-03-13 19:28] rnveach commented on #2899
@Sukrityshrivastava We need a clear description of the 2 tokens so users can tell what they are and their differences. Description should be clear and a bit more detailed, we should show a Java code example and a AST Tree example.

[2017-03-13 20:01] Sukrityshrivastava commented on #2899
Actually I am new and need help so can you please specify in which file I need to do modifications.

[2017-03-13 20:34] Sukrityshrivastava commented on #3955
Can you please specify what exactly I need to do.

[2017-03-13 20:41] romani opened #3999 "Split and Organize Checkstyle inputs by Test for FileLength"
subtask of #3891 .

do a copy of all test input files to separate folder for FileLength .
Not any other Check should use new inputs.

[2017-03-13 20:41] rnveach commented on #2899
@Sukrityshrivastava Changes need to be done in `TokenTypes` file as described in first post.

[2017-03-13 20:42] romani commented on #3999
preassigned to https://groups.google.com/forum/#!topic/checkstyle-devel/DR94hEnf3fI

[2017-03-13 20:43] johnyleebrown commented on #3999
I am on it.

[2017-03-13 21:30] GitToasterhub commented on #3502
I explored a problem,and the description is a bit confusing.As I understood the problem is that when lines are counted nested braces are ignored,yes?

[2017-03-13 23:31] romani commented on #3502
I do not understand question, but you need to focus on initial description of issue with strict test case.
Comments from  gMan1990 could be ignored.

@rnveach , please confirm that in original test case you expect violation in mode  "validateBetweenScopes=true" .

[2017-03-13 23:39] rnveach commented on #3502
@romani I am expecting a violation with "validateBetweenScopes=false".
I cannot turn on `validateBetweenScopes` because it acts as if the braces do not exist and with a distance of `1` it will ask for variables to be moved inside the braces.
Plus there is already a violation with "validateBetweenScopes=true". Here is an example:
[code]

[2017-03-14 00:03] GabrielBercaru commented on #3991
https://github.com/GabrielBercaru/checkstyle/commit/15e6070d686011b43533eb159e482ebfc8990892

[2017-03-14 00:22] rnveach commented on #3954
Fix is merged

[2017-03-14 00:22] #3954 closed

[2017-03-14 00:25] rnveach commented on #3991
@GabrielBercaru If that is the only input file in the test, then yes, that is the only one that should be in the folder.

[2017-03-14 01:32] romani commented on #3048
Issue is approved, sorry for delay

[2017-03-14 04:36] rnveach commented on #3958
Fix is merged

[2017-03-14 04:36] #3958 closed

[2017-03-14 13:24] romani commented on #3048
pre-assigned to @subkrish

[2017-03-14 13:30] subkrish commented on #3048
I am on it.

[2017-03-14 18:19] romani opened #4003 "Indentation UTs should not use ROOT locale when they test violation/error message"
taken from https://github.com/checkstyle/checkstyle/pull/3993#discussion_r105829337

The `IndentationCheckTest` is quite different from other tests. There are many `verifyWarns` in test methods. The actual assertion of `verifyWarns` is at https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheckTest.java#L1785-L1786, that

[2017-03-14 18:23] romani commented on #3989
fix is merged, but there is continuation #4003

[2017-03-14 18:23] #3989 closed

[2017-03-14 19:27] romani commented on #4003
So problem is test was written in localization consideration.

[code]

so looks like whole problems is due to "getExpectedMessage" method that generate message in English base on some number and string value.
It looks like we can load all localized messages and do substitution of arguments ourself. So in result of this method will be localized message so "endWith" will pass.

@rnveach , am I miss

[2017-03-14 19:40] romani commented on #3961
fix is merged.

[2017-03-14 19:40] #3961 closed

[2017-03-14 19:45] romani commented on #3172
@Luolc , can you help us with this issue ?

[2017-03-14 19:54] MEZk opened #4005 "update google style coverage guide with note that checkstyle can not cover "No static import for classes" chapter"
Based on the discussion at https://github.com/checkstyle/checkstyle/issues/3755#issuecomment-285851574 and according to Google Java Style Guide (3 November 2016 version) [3.3.4 No static import for classes](https://github.com/google/styleguide/commit/db0a26320f3e930c6ea7225ed53539b4fb31310c#diff-b6c9191ee5ccb7a5ef170e98e51d94d8R210) to cover the rule from the guide AvoidStaticImport should have a

[2017-03-14 19:57] MEZk commented on #3755
@romani

Done. #4005

[2017-03-14 20:00] MEZk commented on #4005
@romani @rnveach
If you have any ideas on how to solve the problem with importing of enums and interfaces, please share.

[2017-03-14 20:11] MEZk opened #4006 "Clarification of lambda coverage by in google style"
Based on the discussion at https://github.com/checkstyle/checkstyle/issues/3755#issuecomment-285851574 and according to [Google Java Style Guide (3 November 2016 version) ](https://github.com/google/styleguide/commit/db0a26320f3e930c6ea7225ed53539b4fb31310c#diff-b6c9191ee5ccb7a5ef170e98e51d94d8R422) to cover the rule from the guide NoLineWrap should validate lambdas. It means that LAMBDA should be

[2017-03-14 20:32] rnveach commented on #4003
@romani sounds right. If we are just going to put the arguments into the message, it might be better to drop `endWith` and just do an `equals` on the entire localized string.

[2017-03-14 21:06] romani commented on #4003
@Luolc , please help us to resolve this issue.

[2017-03-14 22:36] GitToasterhub commented on #3502
@rnveach I have few questions . Are the described case#2 here https://github.com/checkstyle/checkstyle/blob/ee700b71b5414720afec1a2e38c7b8b1f77a7813/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/VariableDeclarationUsageDistanceCheck.java#L121
is  a description of issue we are considering it here?And in the example you presented with validateBetweenScopes=true ,issue is in that, for l

[2017-03-14 23:54] romani commented on #3502
@rnveach , looks like issue description and further comments become a mess , please remove all comments from all participants and put all details to issue description and exact Detected/Expected.

[2017-03-15 02:40] rnveach commented on #3999
fix is merged

[2017-03-15 02:40] #3999 closed

[2017-03-15 02:57] rnveach commented on #4005
@MEZk If I am reading this correctly, this looks like something we can't support because it requires knowing the makeup of an external class.

We can identify a static import, but we can't tell if we are importing a class, method, or field. For all we know `MyStaticNestedClass` could be any of those things from just looking at `Main`. It is only when we look at `MyClass` do we know what it is.

[2017-03-15 03:02] rnveach commented on #3502
@GitToasterhub `validateBetweenScopes=true` should be ignored. I am expecting violation with it set to `false`.

@romani I will rework this issue.

[2017-03-15 03:33] romani commented on #4005
We have no information about classes out of single file.
By name we can not certainly tell is class static or not.

In scope of this issues we need to upgrade coverage report to mention that we can not cover this point.

[2017-03-15 04:16] Luolc commented on #4003
@romani

Actually I have tried it in some early commits of #3993 , smth like:
https://github.com/Luolc/checkstyle/blob/e44df4b5803c6e713c8e8e80ff185fa4a07eccf5/src/test/java/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheckTest.java#L1820.
But I failed. As I mentioned in the previous PR, the problem is:

The messages we need to concern about are `indentation.error`, `indentation.

[2017-03-15 04:26] Luolc commented on #3172
@romani I will look over the related codes and get familiar with this issue. Currently I am focusing on  the indentation issue. So I might not be able to solve this immediately.

[2017-03-15 09:25] sabaka commented on #3970
No confirmation.
Reassigned to Samuel Gu: https://groups.google.com/forum/#!topic/checkstyle-devel/f0bIANn3D4w

[2017-03-15 09:35] samuel-gu commented on #3970
I'm on it

[2017-03-15 12:27] romani commented on #4005
issue title has changed, to describe what is required to do.

[2017-03-15 12:37] romani commented on #3837
pre-assigned to @johnyleebrown .

[2017-03-15 12:38] johnyleebrown commented on #3837
I'm on it.

[2017-03-15 12:57] romani commented on #4006
http://checkstyle.sourceforge.net/config_whitespace.html#NoLineWrap
is for simple line wrapping for whole structure like package declaration and import declaration.

Here we have request to certain rules of wrapping in certain place. Even current [OperatorWrap](http://checkstyle.sourceforge.net/config_whitespace.html#OperatorWrap) is not enough.

This guide point should be covered by combination o

[2017-03-15 13:10] romani commented on #4003
@Luolc , Correct me if I am wrong ...

1) Exact validation for message we check in UT method. Here we have a case when we do extra validation for commented content of input file. So we could be less strict in matching or match to 1 of two messages

2) as we have "," in comment we should match to "indentation.error.multi" or "indentation.child.error.multi" (such messages are completely different be

[2017-03-15 13:20] romani commented on #3172
this is not easy issue , you will not do it immediately for sure.

[2017-03-15 13:28] rnveach commented on #4003
@Luolc Sorry, it has been a while since I had to look at this test since I made it.

@romani He is correct. We are missing the 3rd message property, the token type, to fully produce the violation message.

All messages have the indexes in order, but we shouldn't be relying on this as it could change in the future. `comments.indentation` message has them out of order (`1`,`2`,`0`) for `fi`.

Here a

[2017-03-15 14:15] rnveach commented on #4003
@Luolc Me and @romani talked offline.

We will not think about the future of what messages will be. It will probably become a requirement for this check that message properties be in numerical order for this check for testing.
Messages are currently in numerical order, so we will rely on that. Since they are in order, we will continue to chop off property 0, and validate 1 and 2.

So this is what

[2017-03-15 15:39] romani commented on #4003
Confirmed

[2017-03-15 18:46] MEZk commented on #4006
@romani
In the [current implementation](https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/NoLineWrapCheck.java#L98-L98) of the check it is possible to use it for lambdas. For example:

[code]

[getLastChild](https://github.com/MEZk/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/j

[2017-03-15 19:53] romani opened #4012 "Split and Organize Checkstyle inputs by Test for FileLength"
subtask of #3891 .

do a copy of all test input files to separate folder for FileLength .
Not any other Check should use new inputs.

[2017-03-15 19:54] romani commented on #4012
pre-assigned to https://groups.google.com/forum/#!topic/checkstyle-devel/31p8fjzsz2U

[2017-03-15 19:56] romani opened #4013 "Split and Organize Checkstyle inputs by Test for LineLength"
subtask of #3891 .

do a copy of all test input files to separate folder for FileLength .
Not any other Check should use new inputs.

[2017-03-15 19:58] romani opened #4014 "Split and Organize Checkstyle inputs by Test for MethodCount"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodCount .
Not any other Check should use new inputs.

[2017-03-15 19:59] romani commented on #4013
pre-assigned at https://groups.google.com/forum/#!topic/checkstyle-devel/XCfyku5rQ9Y

[2017-03-15 20:07] MaggieMa21 commented on #3110
I am on this.

[2017-03-16 03:09] rnveach commented on #3437
Fix is merged

[2017-03-16 03:09] #3437 closed

[2017-03-16 09:50] Luolc commented on #4003
@rnveach Yes, sounds good. Thanks. 😄  I have a similar idea as yours.
I have made a commit following your suggestions. Since it is impossible to distinguish between `indentation.error` and `indentation.child.error` currently, I only check that message matches either of the valid two.

[2017-03-16 12:32] kukreja-vikramaditya commented on #3802
I am on it

[2017-03-16 13:09] romani opened #4022 "RightCurly: remove obsolete shouldStartLine property"
base on #3919, #3920 , #3921 , #3922

Property `shouldStartLine` looks strange in design and conflicting with `option` property.
`option` property if main property that have bigger priority and clearly define behavior.

`shouldStartLine` was added at https://github.com/checkstyle/checkstyle/commit/78e9ce870170ca3ef88fd78f8e0af0681c958eb3#diff-778fdd60391f2ca28a68b504829bfe82
to cover cases of sing

[2017-03-16 13:13] romani commented on #3919
`shouldStartLine` option need to be removed from Check as it is covered by `option=alone_or_singleline`.

 I created new issue for this - #4022

If you agree and do not see any nuance, please close this issue.

[2017-03-16 13:14] romani commented on #3920
`shouldStartLine` option need to be removed from Check as it is covered by `option=alone_or_singleline`.

 I created new issue for this - #4022

If you agree and do not see any nuance, please close this issue.

[2017-03-16 13:14] romani commented on #3921
`shouldStartLine` option need to be removed from Check as it is covered by `option=alone_or_singleline`.

 I created new issue for this - #4022

If you agree and do not see any nuance, please close this issue.

[2017-03-16 13:14] romani commented on #3922
`shouldStartLine` option need to be removed from Check as it is covered by `option=alone_or_singleline`.

 I created new issue for this - #4022

If you agree and do not see any nuance, please close this issue.

[2017-03-16 14:37] timurt commented on #4012
I am on it

[2017-03-16 15:04] timurt commented on #4012
I have a question, isn't this issue the same as https://github.com/checkstyle/checkstyle/issues/3999?

[2017-03-16 15:53] romani commented on #4012
Yes , sorry

[2017-03-16 15:53] #4012 closed

[2017-03-16 15:55] romani commented on #4014
@timurt , please help us with this issue

[2017-03-16 16:04] romani opened #4024 "Split and Organize Checkstyle inputs by Test for MethodLength"
subtask of #3891 .

do a copy of all test input files to separate folder for  MethodLength .
Not any other Check should use new inputs.

[2017-03-16 16:08] romani commented on #4024
Pre assigned to "Madhu Kiran" from Google groups

[2017-03-16 16:30] madhukiran98 commented on #4024
i am on it

[2017-03-16 16:51] timurt commented on #3234
I am on it

[2017-03-16 16:58] timurt commented on #4014
I am on it

[2017-03-16 17:54] #3976 closed

[2017-03-16 17:55] rnveach commented on #3976
Fix is merged.

[2017-03-16 18:00] famod opened #4026 "JavadocMethod allowMissingPropertyJavadoc=true is less strict than documented"
Using following `JavadocMethod` configuration:
[code]
I expect Checkstyle to complain about missing Javadoc for all three methods of the following class:
[code]
But there is **no** violation.

Checkstyle version: 7.3 (also tried 7.6)

The [documentation](http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod) says:

The emphasis here lies on:

In fact, version 6.19 which I am using in

[2017-03-16 18:11] rnveach commented on #4026
@famod Your value of `true` for `allowMissingPropertyJavadoc` is what is causing there to be no violations on those methods. The property specifically says `Whether to allow missing Javadoc on accessor methods`. If you wish to have violation turn off `allowMissingPropertyJavadoc`.

Example:
[code]

[2017-03-16 18:14] shivanshsoni commented on #3898
@nikshinde1996 Are you still working on this issue?

[2017-03-16 18:22] famod commented on #4026
@rnveach In earlier versions, `allowMissingPropertyJavadoc` worked like documented in the sense that it checked the body of the method to decide whether or not the methode is a simple property getter/setter.
As soon as you add some kind of logic, earlier versions of Checkstyle do _not_ consider such a methode a property getter/setter anymore, thus reporting a violation.
Newer version of CS just se

[2017-03-16 18:48] samuel-gu commented on #3986
@romani Can I work on this since the assignee hasn't accepted it yet?

[2017-03-16 19:43] sagar-shah94 commented on #3907
@romani @rnveach  should i create separate class to check period at the end of sentence or i should add method in summaryjavadoccheck.java we can throw only one exception at a time so it is better to create separate class for this.
What do you say?

[2017-03-16 20:28] MikhailovOlegM commented on #4013
I am on it

[2017-03-16 20:29] rnveach commented on #4026
Using your exact config and code you gave in the first post, I am getting no violations on any earlier versions including 6.19 .
Please provide a case where 7.6 and 6.19 give different results that match your issue to prove your comment.

This is not true, adding an extra statement like `int a = 0;` to your example methods produces violations.
Logic for identifying getter/setter methods can be see

[2017-03-16 20:45] rnveach commented on #3907
We are expecting a fix to `SummaryJavadocCheck`. Issue will have special label for that called `new module`.

Why are we throwing exceptions? Exceptions should be last resort when something out of our hands has gone wrong (file not found, etc.).

[2017-03-16 23:54] romani commented on #3991
fix is merged

[2017-03-16 23:54] #3991 closed

[2017-03-16 23:57] romani commented on #3970
fix is merged

[2017-03-16 23:57] #3970 closed

[2017-03-17 03:04] subkrish commented on #3048
Regarding this issue, is there anything specific I should be looking at? I have gone through the files including and related to ParenPadCheck. Also adding to this, when I added another module TypecastParenPad to the config file it gave another warning from the Test.java file for typecast white space.

[2017-03-17 05:08] MEZk commented on #4022
I'm on it

[2017-03-17 07:55] samuel-gu commented on #3986
I'm on it

[2017-03-17 09:57] kukreja-vikramaditya commented on #3802
The problem is occuring for all exprs with assignment operators and method calls
`=` `+=` `-=` `* /=` `%=` `&=` `^=` `|=` `<<=` `>>=` `>>>=`
[code]

All warn lines except line 3 are ignored by CS. Should I create a new handler for such a specific case of assignment operators or add code to existing MethodCallHandler? Also I don't think MethodCallHandler is being notified of such cases. <- Could so

[2017-03-17 12:20] rnveach commented on #3802
@kukreja-vikramaditya I believe issue is with method call and not any type of assignment operator. We only validate tokens that start the line and the assignment operator doesn't start it in this issue.

That shows it is the method call as line 3 doesn't have a method call.

I have not fully looked into the case, but looking at the AST tree of lines in question, issue could be related to the tree

[2017-03-17 13:24] kukreja-vikramaditya commented on #3802
I removed the part `destPath = ` from  `destpath = destinationPath` but now CS is reporting the issue as expected. Would this have something to do with the `IDENT`?

ast when `IDENT` and `ASSIGN` are present
[code]

ast without the ident and assignment
[code]
I will go through the issue 3135 also as you suggested

[2017-03-17 13:30] kukreja-vikramaditya opened #4030 "Add new setting in Beginning Development for IDEA docs"
It is a common case when copy pasting is required in an IDE but it automatically indents all lines according to it's rules. I would suggest that a solution to this be mentioned in Beginning Development using IDEA [docs](http://checkstyle.sourceforge.net/idea.html) . Other IDE docs should also be edited for a similar setting.

To prevent this in IDEA use
`Settings` > `Editor` > `Smart Keys` > `Refo

[2017-03-17 13:52] sagar-shah94 commented on #3907
@rnveach @romani
i think at this line it violates a condition.this javadoc should not be placed in InputCorrectSummaryJavaDoc.java file .

https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/javadoc/InputCorrectSummaryJavaDoc.java#L19

[2017-03-17 13:55] shivanshsoni commented on #2974
@romani I think it is not that easy to implement this. But I will try for it...
I already solved an issue #3976  and if it is required to solve more than one for GSOC please assign me another issue which can be solved in less time and if not required then I will try this.

[2017-03-17 14:20] rnveach commented on #3907
it is the same as example's `foo1`, so yes, it shouldn't be in `correct` file.

[2017-03-17 15:01] sagar-shah94 commented on #3907
Should i create issue to move that code to another file?

[2017-03-17 15:10] rnveach commented on #3907
@sagar-shah94 no, it can be done in this issue as we are correcting these cases to be violations.

[2017-03-17 15:35] rnveach commented on #3802
@kukreja-vikramaditya If 2 lines are similar but one is causing a violation and the other isn't and it should be, the first place you can start looking at is where the one with the violation is printing it out from in the code.

If we have code:
[code]
violation is coming from `MethodDefHandler` with method `checkLineIndent` called by `checkLinesIndent` called by `checkExpressionSubtree` called by

[2017-03-17 17:36] romani opened #4035 "rename STMT in BlockOption class to STATEMENT"
code https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/BlockOption.java#L49

Message name was changed too from "block.noStmt" to "block.noStatement"

full word should be used.

[2017-03-17 18:56] kukreja-vikramaditya commented on #4035
I am on it.
Just to confirm one thing -
I need to change the field of BlockOption, any other java file using this particular field, messages.properties, config_blocks.xml, and any comments in these respective files right ? Or should I also increase the scope and look for more files in the `blocks` and `test` packages?
Ofcourse including the diff reports for these changes

[2017-03-17 20:03] rnveach commented on #4035
@kukreja-vikramaditya This has checkstyle 8 label. It can't be done yet as we are still in version 7.

[2017-03-17 21:41] romani commented on #2220
logback-classic come from cobertura that conflictng with checkstyle's slf4j-simple test artifact
[code]

[2017-03-17 22:14] romani commented on #2220
if I substitute slf4j-simple with logback-classic in our pom.xml - we have following output:
[code]

[2017-03-17 23:50] romani commented on #2220
I tried to exclude but did not helped:
[code]

it still used in runtime.

configuration of enforcer also did not helped, kind of ignored
[code]

[2017-03-18 08:24] timurt commented on #3449
I am on it.

[2017-03-18 08:31] timurt commented on #3449
"whether the comma separated package or class names should be interpreted as regular expressions"
What do you think about 2 separate regexp flags, one for packages one for classes?

[2017-03-18 10:16] GitToasterhub commented on #3502
I considered what @rnveach  you think about this issue,and theese lines of code
https://github.com/checkstyle/checkstyle/blob/ee700b71b5414720afec1a2e38c7b8b1f77a7813/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/VariableDeclarationUsageDistanceCheck.java#L397

I and I came up with idea that we should simple make
dist += getDistToVariableUsageInChildNode(currentAst, variableIdentAst,

[2017-03-18 10:18] hneemann opened #4037 "FinalClass: If you follow the checkstyle hint, the code breaks."
/var/tmp $ javac Foo.java
/var/tmp $ cat Foo.java
[code]
/var/tmp $ cat digital_checks.xml
[code]
/var/tmp $ java -Duser.language=en -jar checkstyle-7.6-all.jar -c digital_checks.xml Foo.java
[code]

---------------

The class `Test` can not be final because `Test2` inherits from `Test`.  There should be no error at all.
If you decare Test as final, the code does not compile anymore.

------------

[2017-03-18 14:05] romani commented on #4014
fix is merged.

[2017-03-18 14:05] #4014 closed

[2017-03-18 17:04] romani commented on #3985
fix is merged

[2017-03-18 17:04] #3985 closed

[2017-03-18 17:17] Pedro12909 commented on #4030
Working on it

[2017-03-18 17:20] romani commented on #3048
please add user code to input file, make UT method that have the same config as in issue - do debuging.

[2017-03-18 17:21] romani commented on #3986
yes, please do this

[2017-03-18 17:31] romani commented on #525
pre-assigned to @GabrielBercaru

[2017-03-18 17:33] romani commented on #968
pre-assigned to @timurt .

[2017-03-18 17:36] romani opened #4041 "Split and Organize Checkstyle inputs by Test for MethodCount"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodCount .
Not any other Check should use new inputs.

[2017-03-18 17:37] romani commented on #4041
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/K0IW5HYm4x4

[2017-03-18 17:40] romani commented on #2974
keep focusing on this issue, I do not see it as complicated.
If you fix one complicated issue it is even better than few easy issues.

[2017-03-18 17:43] romani commented on #929
@samuel-gu , please help us with this.

[2017-03-18 17:45] shivanshsoni commented on #2974
@romani Ok Sir, I really want to be in GSOC this year that's why I asked about that. I am working day and night to get selected in  GSOC
I am working on above issue and you will see some positive results very soon. :-)

[2017-03-18 17:47] romani opened #4042 "Split and Organize Checkstyle inputs by Test for MethodLength"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodLength .
Not any other Check should use new inputs.

[2017-03-18 17:49] kukreja-vikramaditya commented on #4030
@Pedro12909
I have already sent PR. It wasn't a very imp issue so I didn't add "I am on it". Sorry for the confusion.

[2017-03-18 17:57] romani commented on #1263
pre-assigned to @anudeepti2004

[2017-03-18 17:59] romani opened #4043 "Split and Organize Checkstyle inputs by Test for OuterTypeNumber"
subtask of #3891 .

do a copy of all test input files to separate folder for OuterTypeNumber .
Not any other Check should use new inputs.

[2017-03-18 18:02] romani commented on #4043
pre-assigned to https://groups.google.com/forum/#!topic/checkstyle-devel/tvy6T7W9-SQ

[2017-03-18 18:10] anudeepti2004 commented on #1263
I am on it

[2017-03-18 18:11] kukreja-vikramaditya commented on #3802
@rnveach
Thanks for hint, I figured out that the problem is at [MethodCallHandler#checkIndentation](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/MethodCallHandler.java#L173) .

In the current code base, it is assumed that `EXPR` is the parent node of `METHOD_CALL` (further whose parent is assumed to be `SLIST`) and the check

[2017-03-18 18:52] romani commented on #3449
one should be enough, as you will just compare string in import with user defined string by regexp.
User is completely responsible for proper definition of RegExp.
It is user responsibility to make regexp like `^com.mycompany$, com.company.MyBadClass` to make proper/strict match.
You will add that case in xdoc file as description of property and example to show user what is expected.

[2017-03-18 18:57] romani commented on #3502
@GitToasterhub , we are not sure how exactly to change code.
Our primary care is that behavior of Check is correct and it validates declared cases correctly.
As all works fine - we look at inner design of fix.

Just do fixes to input files , do updates to code , make sure that behavior is correct.

ones you pass UTs and CI, you will need to prove that your changes does not do regression at real co

[2017-03-18 19:26] Vladlis opened #4044 "RightCurly: ALONE option doen't work for a singleline IF"
vlad@vlad-W65-67SB ~/Documents $ javac Input.java
vlad@vlad-W65-67SB ~/Documents $ java -jar checkstyle-7.6-all.jar -c my_check.xml Input.java
Starting audit...
Audit done.
vlad@vlad-W65-67SB ~/Documents $ cat Input.java
[code]
vlad@vlad-W65-67SB ~/Documents $ cat my_check.xml
[code]

Expected: violation on `if` as `option` is `alone`

[2017-03-18 20:18] #3919 closed

[2017-03-18 20:18] #3920 closed

[2017-03-18 20:18] #3921 closed

[2017-03-18 20:19] #3922 closed

[2017-03-18 20:35] GabrielBercaru commented on #525
I am on it.

[2017-03-18 21:12] rnveach commented on #4030
Fix is merged

[2017-03-18 21:12] #4030 closed

[2017-03-18 21:40] romani opened #4045 "NPath for empty block is 1"
What is a Npath for empty block `{}` ?

http://checkstyle.sourceforge.net/config_metrics.html#NPathComplexity

[code]

[code]

else-range can not be 0, as it will meant that NPath become less if `else` is added.
so it mean that NPath of `{}` is 1

[code]
so

[code]

[2017-03-18 21:46] romani commented on #4045
xdoc is extended but real fix in code will be in scope of #56 .

[2017-03-18 21:46] #4045 closed

[2017-03-18 22:19] samuel-gu commented on #929
I'm on it

[2017-03-18 22:26] MEZk commented on #4022
@romani

Not exactly. As it turned out shouldStartLine is a part of logic which deals with [double brace collection initializers](https://github.com/MEZk/checkstyle/blob/b4e884c2ff3bef182b045692b59c1aceae3cb892/src/test/resources/com/puppycrawl/tools/checkstyle/checks/blocks/InputRightCurlyAloneOrSingleline.java#L119) and [anonymous single line classes](https://github.com/checkstyle/checkstyle/blo

[2017-03-18 23:08] MEZk commented on #4044
@romani
I am on it

[2017-03-19 00:16] romani commented on #3888
I cached the page - http://checkstyle.sourceforge.net/reports/google-java-style-20170228.html

[2017-03-19 00:19] romani commented on #4005
update to coverage is provided at https://github.com/checkstyle/checkstyle/commit/ef1efd0e0b851bc9369858ce5d1d93af7b0fc8fa - we can not cover this point.

[2017-03-19 00:19] #4005 closed

[2017-03-19 00:51] romani opened #4052 "SingleLineJavadoc update for new requirements what tags are allowed in singleline javadoc"
parent issue - #3888

guide update - https://github.com/google/styleguide/commit/594d91bfbb8dfcbcac0f148af8175f2b7ec9857b#diff-b6c9191ee5ccb7a5ef170e98e51d94d8L1084

of the Javadoc block (including comment markers) can fit on a single line. Note that this only
applies when there are no block tags such as `@return`.

http://checkstyle.sourceforge.net/config_javadoc.html#SingleLineJavadoc

we alread

[2017-03-19 11:28] MEZk opened #4055 "Perform refactoring of AnnotationLocationCheck to increase code readability"
Points to improve:
1) Many methods of AnnotationLocationCheck class have copy-pasted javadoc.
https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/annotation/AnnotationLocationCheck.java#L275, https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tool

[2017-03-19 12:15] romani commented on #3986
fix is merged

[2017-03-19 12:15] #3986 closed

[2017-03-19 12:21] romani commented on #4022
@MEZk , sad.

It does not sound as easy change, please split in separate issues requests to update logic to support " double brace initializers" and "anonymous classes" properly without usage of `shouldStartLine` field. 2 separate issues, to ease regression testing.

[2017-03-19 13:43] romani commented on #4003
fix is merged.

[2017-03-19 13:43] #4003 closed

[2017-03-19 14:08] MEZk opened #4057 "RightCurly: Update logic for option ALONE and ALONE_OR_SINGLELINE to support double brace initializes handling without shouldStartLine"
RightCurlyCheck should validate double brace initializes without the need of shouldStartLine=true.
For example:
[code]

If shouldStartLine = true, there will be a violation on line 7.

[2017-03-19 14:15] MEZk opened #4058 "RightCurly: false negative in ALONE and anonymous classes"
[code]
74 is a position of `}` for method `finalize`
Expected: 2 violations on line 3 (column 74 and 89).
89 is a position of `}` for anonymous class;

` }  int b = 10; }` this two `}` should be violated.
Note that shouldStartLine (false, true) does not affect the logic. So the problem is in shouldBeAloneOnLine.

[2017-03-19 14:44] kukreja-vikramaditya commented on #3802
@romani
@rnveach
A little unrelated to the issue but just to clarify, what should be the indentation of L5 in this case ? 16?

[code]

[2017-03-19 14:57] MEZk opened #4059 "RightCurly: Update logic for option ALONE and ALONE_OR_SINGLELINE to support annonymous classes handling without shouldStartLine"
[code]

If shoudlStartLine = true there will be a violation on line for ALONE and ALONE_OR_SINGLELINE.
Expected: violation in both cases (shoudlStartLine = true and shoudlStartLine = false).

[2017-03-19 14:57] MEZk commented on #4022
@romani
1) https://github.com/checkstyle/checkstyle/issues/4057 is for double brace initializers.
2) https://github.com/checkstyle/checkstyle/issues/4059 is for anonymous classes.

[2017-03-19 17:58] rnveach commented on #3892
Fix is merged

[2017-03-19 17:58] #3892 closed

[2017-03-19 18:06] rnveach commented on #3491
Fix is merged

[2017-03-19 18:06] #3491 closed

[2017-03-19 18:26] GabrielBercaru commented on #4042
Is this issue pre-assigned to someone or anyone could start working on it?

[2017-03-19 18:42] kukreja-vikramaditya commented on #3625
Is there a requirement of more examples? Above mentioned PR got merged which adds static import examples (both bad and good).

[2017-03-19 19:45] GitToasterhub commented on #3540
Oh.This issue is quite interesting and challenging.What is interesting for me,can we consider this issue like an idea for GSOC?

[2017-03-19 20:00] timurt commented on #4013
@MikhailovOlegM
Ok, every test class (FileLengthChekTest.java, LineLengthCheckTest.java and etc) uses some fake sample classes to test functionality.
Package for sample classes is src.test.resources.com.puppycrawl.toosl.checkstyle.checks, here you can find a lot of classes which main purpose is to be testing rat.
For example, LineLengthCheckTest class uses InputLongImportStatements.java class.
But

[2017-03-19 20:06] MikhailovOlegM commented on #4013
Wow, thank you very much!
I'm confused on the understanding of the interconnection of resources and tests

[2017-03-19 21:21] MikhailovOlegM commented on #4013
Now I have done almost everything, but there is only one mistake:
I changed the package, the name of the file and the path to it, but now it can not see the file

[2017-03-19 21:27] timurt commented on #4013
make sure your paths inside LineLengthCheckTest (getPath, getNonCompilablePath) are the same as actual paths.
Your new package for sample files should be like
`src.test.resources.com.puppycrawl.toosl.checkstyle.checks.sizes.linelength`

[2017-03-19 22:01] MikhailovOlegM commented on #4013
Yes, package is
`package com.puppycrawl.tools.checkstyle.checks.sizes.linelength;`

[2017-03-19 22:02] johnyleebrown commented on #3837
@rnveach I've been trying to find a solution, so i started by editing method `isSingleLineLambda(DetailAST lambda)`:
<img width="1115" alt="screen shot 2017-03-20 at 01 01 18" src="https://cloud.githubusercontent.com/assets/10441153/24085214/d25fe1fc-0d08-11e7-9cfe-e1517feb8840.png">
But when i'm trying to test, this error comes up, can you tell me what does it relate to?Thanks.
<img width="773" a

[2017-03-19 22:04] tashish commented on #4043
I am on it

[2017-03-19 22:18] romani commented on #3540
@GitToasterhub , please stay off issues that do not have "approved" label.
This issue is very complicated , there is no even good idea on how to make it from admins of project.

GSoC have only doable and clear tasks that has to be done and merged to repo on the moment of GSoC completion. List of GSoC projects will not be changed.

[2017-03-19 22:23] romani commented on #3625
I do not see a need for more examples now.
Issue is closed.

[2017-03-19 22:23] #3625 closed

[2017-03-19 22:24] romani commented on #4042
@GabrielBercaru , no, you can take it.

[2017-03-20 01:33] GabrielBercaru commented on #4042
I am on it.

[2017-03-20 05:18] timurt commented on #3449
I finished with java coding, now I am doing config_imports.xml. Should I edit <subsection name="Examples">, if yes how can I preview my editings.

[2017-03-20 05:41] sabaka opened #4062 "Split and Organize Checkstyle inputs by Test for ParentPad"
subtask of #3891 .

do a copy of all test input files to separate folder for ParentPad .
Not any other Check should use new inputs.

[2017-03-20 05:43] sabaka commented on #4062
Preassigned to Sami Bilal: https://groups.google.com/forum/#!topic/checkstyle-devel/r7oUvEnF9cE

[2017-03-20 09:42] sami5596 commented on #4062
I am on it

[2017-03-20 11:48] ps-sp commented on #4058
I am on it.

[2017-03-20 13:11] Vladlis commented on #3449
@timurt
Yes, add new examples. You can generate site to validate changes, take a look at our wiki:
https://github.com/checkstyle/checkstyle/wiki/Build-all-jars-and-generate-maven-site

[2017-03-20 13:29] johnyleebrown commented on #3837
@rnveach maybe I should create a test explicitly for multiple lines lambda, woth the code I added?

I'll create a pr later today.

[2017-03-20 13:32] sami5596 commented on #4062
Can you also provide me with a brief explanation of the issue?

[2017-03-20 13:35] rnveach commented on #3837
Yes, we expect good cases (no violation) and bad cases (violation). Example from issue should be in the test cases and any others that you can generate that are pertinent.

[2017-03-20 13:46] romani commented on #3888
fix is merged.

[2017-03-20 13:46] #3888 closed

[2017-03-20 13:52] johnyleebrown commented on #3837
@rnveach ,got it. Thanks.

[2017-03-20 16:22] MEZk commented on #4058
@ps-sp
It is not a simple issue and requires a lot of effort.

[2017-03-20 16:29] ps-sp commented on #4058
@MEZk Would it be alright if I still try ? I want to give it a shot. Still, if you think that my participation might slow the development down or if I amn't able to do it I shall step aside !

[2017-03-20 16:49] sami5596 commented on #4062
If we are to organize the checkstyle inputs by test for parentpad then we should start by making a directory for one single test like for example, for ParentPad if test name is ParentPadCheckTest then the directory would be
**.../checks/design/ParentPad/**
This directory will contain the ParentPadCheckTest as well as another directory i.e. Inputs
**.../checks/design/ParentPad/Inputs**
This directo

[2017-03-20 19:12] timurt commented on #3449
I have one problem, my last PR has failed check, because TeamCity claims that I should replace
`        for (String illegalClass : illegalClasses) {`
`            illegalClassesRegexps.add(CommonUtils.createPattern(illegalClass));`
`        }`
with collect call,
I rewrote this part to
`illegalClassesRegexps = illegalClasses.parallelStream()`
`                .map(item -> CommonUtils.createPattern(

[2017-03-20 19:26] MEZk commented on #4058
@ps-sp
You are welcome. Just be careful and you are expected to write good UTs as RightCurly behavior is strange when it validates anonymous classes.

[2017-03-20 20:36] subkrish commented on #3048
I wanted to add something I noticed. The warning is first caused in checkstyle-6.8. Also in the config.xml file if the property value for 'option' is changed from 'space' to 'nospace', the warning disappears. Also when I had a look at the code for checkstyle-6.7 it looked like there was no direct check for METHOD_CALL.

[2017-03-20 20:39] romani commented on #4044
fix is merged

[2017-03-20 20:39] #4044 closed

[2017-03-20 21:13] romani commented on #4052
pre-assigned to @divsidhu-26 .

[2017-03-20 21:25] sagar-shah94 commented on #3907
@rnveach @romani
in following case period should be after A or after A {@code Foo.  Foo}?
    /**
     *  A {@code Foo.  Foo}
     */
    public void foo(){

    }
in following case do we have to put period after closing anchor tag or summary java doc is missing?
<a href="mailto:vlad@htmlbook.ru"></a>

[2017-03-21 05:34] samuel-gu commented on #929
@romani @mkordas About 15 files with private static final loggers are input files for tests. They don't have declared constructors. Should I go ahead and change those loggers to private final as well?

[2017-03-21 12:32] romani commented on #4062
please look at commit https://github.com/checkstyle/checkstyle/commit/7fc36c4dbf90c0e880831c5055a11eb59fcf04e0 , there are bunch of similar issues fixed and merged, so please look at them as example .

[2017-03-21 13:36] romani commented on #929
no, inputs should not be changed, we care only about "main" code

[2017-03-21 13:45] romani commented on #3907
we do not know fore sure, only user know,
but in case no period is defined at all we we have to demand at the most end - after `{@code Foo. Foo}`.

at the most end , after closing anchor tag.

[2017-03-21 13:55] kukreja-vikramaditya opened #4070 "IndentationCheck fails for chained method calls"
[code]
[code]
[code]
[code]
---------------

Expected error for L5 as the indentation should have been 12. This problem seems to be line with #3802 . The code for [MethodCallLineWrap](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/MethodCallHandler.java) is not able to handle complex ast structures. Currently it only requires t

[2017-03-21 15:00] GabrielBercaru commented on #4042
Since the input files "InputModifier.java" and "InputSimple.java" are used by multiple check test files, should I copy them inside a new directory "methodlength" and also keep the old ones inside "sizes" package? Should I dupilicate them or should I update all the check test files that use those files?

[2017-03-21 15:58] rnveach commented on #4070
No violation:
[code]
No violation:
[code]
Violation:
[code]

I agree, something is definitely wrong. I am familiar with this check, but there are still things I haven't dived into.

A rewrite will be a long and tedious process. I don't know if we have time during GSoC.
Fixing different cases may lead us to the same destination or may make the code unmanageable more than it already is.

If we are t

[2017-03-21 16:00] rnveach commented on #3802
This sounds like it should in a separate issue. We try to go by what IDEs want as default as people will rely on them more than our check. IMO, it should be 16 since it is wrapping a wrapped line.

The other question seems more suitable for the other issue now.

[2017-03-21 16:09] rnveach commented on #4042
@GabrielBercaru You should copy them to new directory and leave old ones where they are.

[2017-03-21 16:56] divsidhu-26 commented on #4052
I am on it......

[2017-03-21 17:00] kukreja-vikramaditya commented on #3072
I am on it

[2017-03-21 18:54] ps-sp commented on #4058
@MEZk I can't find any `INSTANCE_INIT` token in the tree being traversed. The anonymous class begins with an `OBJBLOCK`. Shouldn't `OBJBLOCK` be an accepted token if `RightCurlyCheck` needs to check anonymous classes ?
So, Would adding OBJBLOCK  to the acceptable tokens be alright ? It gives violation at column 91 that way.

[2017-03-21 19:22] jayvdb opened #4073 "NewlineAtEndOfFile default should be OS agnostic"
Currently the default for `NewlineAtEndOfFile` is `system`, which means that checkstyle *will* fail on a clean repository VCS checkout on either Windows or Unix if the EOLs where not converted to native EOLs by the VCS client, if that is even an option available in the client.

If someone very definitely wanted a certain EOL type, then surely they need a (new?) check which confirms all EOLs throug

[2017-03-21 19:26] jayvdb opened #4074 "NewlineAtEndOfFile=lf does not create error when file uses crlf"
http://checkstyle.sourceforge.net/config_misc.html#NewlineAtEndOfFile

NewlineAtEndOfFile only checks the end of the file for bytes matching the EOL type , for the length of the EOL type.

As `lf` is only one byte, it does not detect that the previous byte `cr` before the `lf`.
Therefore a `crlf` combination at EOF is accepted as a valid match for `lineSeparator=lf`

[code]

Expected: violation as

[2017-03-21 20:27] jayvdb commented on #4073
A scenario that will also fail is a cygwin git clone with a native Windows java.

Also note that the current default on Unix will happily accept files with crlf due to https://github.com/checkstyle/checkstyle/issues/4074 , so the current behaviour on Unix is "crlf or lf".

[2017-03-21 20:53] ajayramesh23 commented on #3151
I am new this eco-system, so picking easy ones related to _antlr_.
@rnveach  - Can I work on this issue ?

[2017-03-21 20:56] ps-sp commented on #4058
@MEZk @romani

class EnumContainerAlone {
    private enum Suit { CLUBS, HEARTS, SPADES, DIAMONDS } // ok
}

why is this ok if `option = "alone"` is being enforced.
shouldn't it be okay only when `option=ALONE_OR_SINGLELINE` ?

[2017-03-21 20:58] rnveach commented on #3151
@ajayramesh23 This one was not tagged as `easy`.
Any changes to ANTLR will have drastic repercussions to all our checks, including external 3rd party checks.
I recommend not touching any ANTLR until you have done a few fixes to get at ease with our review process.

@romani I recommend with mark this with checkstyle 8 label as it will break backwards compatibility.
I will examine other antlr issues

[2017-03-21 21:10] romani commented on #3151
All antlr issues are hard issues, as they required a lot of testing and might cause a lot of changes on Checks or ........... . If user is new to project I would recommend to fix smth in Checks first to get to know how all that tokens are used and what is critical in processing of them.

[2017-03-21 21:21] MEZk commented on #4058
@ps-sp
I think that it is due to the fact that ENUM_DEF is not in the array of [acceptable tokens](https://github.com/checkstyle/checkstyle/blob/d2ddf5c6fc6b816dce7566dd5beaff5c5841f679/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L148-L148).

[2017-03-21 21:22] ps-sp commented on #4058
@MEZk yes ! but it shouldn't be acceptable though right ? There should be violation for it right ?

[2017-03-21 21:23] MEZk commented on #4058
Why?

[2017-03-21 21:31] ps-sp commented on #4058
Because `option = "ALONE"`

[2017-03-21 21:52] ps-sp commented on #4058
@MEZk Ohh sorry ! Now I see the confusion ! I didn't mean to say that ENUM_DEF shoudn't be an acceptable token. I meant to say,  not having that right curly brace alone should be not acceptable.

[2017-03-21 22:23] robertpainsi opened #4078 "DefaultComesLast: new option skipIfLastAndSharedWithCase to raise violation if default doesn't share case"
The [DefaultComesLast](http://checkstyle.sourceforge.net/config_coding.html#DefaultComesLast) check should have a new option to allow the `default` case not to be the last one if it shares another case. e.g.

[code]

The `default` statement shares `case 1`. This is useful if the cases are named (e.g enum) or have an order (e.g. natural, alphabetically). However, if the `default` case doesn't share

[2017-03-22 00:01] romani commented on #3504
pre-assigned to @MikhailovOlegM

[2017-03-22 00:37] romani commented on #3504
This issue might be invalid , as Check might consider only know methods on this class that return String.
If that is case xdoc need to be extended to explain limitations.

[2017-03-22 05:41] sabaka opened #4080 "Split and Organize Checkstyle inputs by Test for SingleSpaceSeparator"
subtask of #3891 .

do a copy of all test input files to separate folder for SingleSpaceSeparator .
Not any other Check should use new inputs.

[2017-03-22 05:44] sabaka commented on #4080
preassigned to Jun Lin: https://groups.google.com/forum/#!topic/checkstyle-devel/2CNx7zxhJug

[2017-03-22 05:45] wate123 commented on #4080
I'm on it

[2017-03-22 06:07] MikhailovOlegM commented on #3504
I am on it

[2017-03-22 08:25] Vladlis commented on #4074
I guess `lf` should not cover neither `crlf` nor `lfcr`.

[2017-03-22 08:57] jayvdb commented on #4074
Sorry my original issue description wrote `lfcr` was allowed; I have corrected that to be `crlf`.

[2017-03-22 10:09] sirdis opened #4081 "Wrong German translation of declaration.order.access in messages_de.properties"
In the file src/main/resources/com/puppycrawl/tools/checkstyle/checks/coding/messages_de.properties, the value of property "declaration.order.access" changed to "Es wird auf eine Variable zugegriffen, bevor diese deklariert wurde." This seems to have happened in commit 165fb0b3135a01875b9adf6838e108aa837bcc04, before that it was correctly "Fehlerhafte Deklarationsreihenfolge für diesen Scope."

If

[2017-03-22 13:14] romani commented on #4081
@sirdis , please send us PR please.

[2017-03-22 13:46] rnveach commented on #3962
Fix is merged

[2017-03-22 13:46] #3962 closed

[2017-03-22 17:26] Luolc opened #4082 "Take "break" into consideration in FinalLocalVariable"
Taken from https://github.com/checkstyle/checkstyle/pull/4060#issuecomment-288284649

There is a regression after the fix in #4060 :
http://www.luolc.com/checkstyle-diff-report/issue3172/openjdk8/xref/Users/LuoLiangchen/personal/develop/java/checkstyle/contribution/checkstyle-tester/repositories/openjdk8/src/share/classes/com/sun/jndi/ldap/LdapCtx.java.html#L2901

The reason is that we didn't take

[2017-03-22 17:40] romani commented on #4082
@Luolc , please update description to follow format - http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug

[2017-03-22 17:42] rnveach commented on #4074
@romani This issue looks valid to me.
We accidentally hit something like this in https://github.com/checkstyle/checkstyle/pull/4075#issuecomment-288479685

File was changed to `\r\n` for last line, and both travis and appveyor passed.
IMO, travis should have failed because it would expect `\n` alone.

[2017-03-22 18:18] Luolc commented on #4082
@romani Done. But I am using a PC without developing environment so that I cannot run the command to confirm it is correct until I get my own PC. 😅

[2017-03-22 18:43] sagar-shah94 commented on #4078
I am on it

[2017-03-22 19:31] kukreja-vikramaditya commented on #3468
I am on it

[2017-03-22 19:45] rnveach commented on #3468
@kukreja-vikramaditya This issue doesn't have approve label on it, so it can't be worked on until then.

[2017-03-22 21:31] Vladlis opened #4085 "RightCurly: update documentation for singleline statements with SAME option"
[code]

Expected: violation on `IF`
This issue is reproducible with the other multiblock statements as well.

If this behaviour is by design, then documentation should be extended.
http://checkstyle.sourceforge.net/config_blocks.html#RightCurly

[2017-03-23 00:06] romani commented on #4085
from documentation http://checkstyle.sourceforge.net/property_types.html#rcurly

[code]

so violation is expected.

[2017-03-23 00:13] wate123 commented on #4080
can you give me some hint? please

[2017-03-23 02:05] rnveach opened #4086 "RightCurlyCheck: split option into 2 properties"
After discussing with @romani on [right curly options for `RightCurlyCheck`]( http://checkstyle.sourceforge.net/property_types.html#rcurly) when reviewing https://github.com/checkstyle/checkstyle/issues/4085#issuecomment-288577541 and how documentation for them should be expanded, it has become apparent that the rules are not so simple to fit into 3 options.

[code]

As example shows, there is no

[2017-03-23 05:40] sirdis commented on #4081
Ok, created the PR. Fixed a few typos in other places of the properties file, too. Furthermore, the keys "fall.through" and "fall.through.last" have values that are syntactically incomplete German sentences. Since I don't understand the intention of the original author, I left them unchanged.

[2017-03-23 08:53] ljacqu opened #4089 "JavadocVariable: add "allowedAnnotations" property"
Akin to the `allowedAnnotations` property on JavadocMethod, I would like to suppress the `JavadocVariable` warning for fields that have a given annotation.

For example, with a configuration:
[code]

I would expect the following behavior:
[code]

[2017-03-23 12:40] romani commented on #4081
if they are incomplete - just provide your translation for such sentences. We do not have maintainers who know German, so we rely on community only.

[2017-03-23 12:42] romani opened #4090 "Split and Organize Checkstyle inputs by Test for ParameterNumber"
subtask of #3891 .

do a copy of all test input files to separate folder for ParameterNumber .
Not any other Check should use new inputs.

[2017-03-23 12:43] romani commented on #4090
pre-asigned to @Icy-flames (request from gitter)

[2017-03-23 16:14] wate123 commented on #4080
After I run the `mvn clean verify`. It give me an error
`Tests run: 2001, Failures: 4, Errors: 0, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 01:14 min
[INFO] Finished at: 2017-03-23T11:13:12-05:00
[INFO] Final Memory: 44M/599M
[INF

[2017-03-23 16:19] rnveach commented on #4080
@wate123 You must look above for list of tests that fail. There are 4 of them.

[2017-03-23 17:05] kukreja-vikramaditya commented on #3468
Should this new property be able to check for character inside a tag? <- thought for future work on this

-----

Javadoc 1
[code]
Javadoc 2
[code]
Is it possible to differentiate between the 2 with some sort of javadoc token detector? What if user has custom tags?

[2017-03-23 17:49] wate123 commented on #4080
`Results :

Failed tests:
  SingleSpaceSeparatorCheckTest.testNoSpaceErrors:45->BaseCheckTestSupport.verify:191->BaseCheckTestSupport.verify:227->BaseCheckTestSupport.verify:261 unexpected output: /home/jun/Downloads/checkstyle/src/test/resources/com/puppycrawl/tools/checkstyle/checks/whitespace/singlespaceseparator/InputSingleSpaceAfterNoErrors.java:0: Got an exception - /home/jun/Downloads/check

[2017-03-23 18:13] romani commented on #3172
fix is merged

[2017-03-23 18:13] #3172 closed

[2017-03-23 18:14] romani commented on #4081
fix is merged, thanks a lot

[2017-03-23 18:14] #4081 closed

[2017-03-23 18:27] rnveach commented on #4080
Carefully look at directory structure and confirm file is in that location. Tests don't lie.

[2017-03-23 18:33] rnveach commented on #3468
IMO, as long as it is part of the first sentence of the javadoc description, it should validate that text inside.
We should use `javadoc` utility to confirm all tags and first sentences.

These are my thoughts:
`<b>` - Bolding/underlining/etc is just to make text flashy, First sentence is inside tag and should still be validated.
`<pre>` - To me, `pre` shouldn't be considered part of first sentenc

[2017-03-23 19:01] Vladlis opened #4091 "RightCurly: False negative on multiblock tokens with ALONE_OR_SINGLELINE option"
[code]
Expected: violation on `IF`
Issue is reproducible with other multiblock tokens as well (for, while...)

[2017-03-23 19:11] MEZk commented on #4086
@rnveach
I do not agree with the proposal for alone option. It will become very difficult to understand.
ALONE means that no other statement except ```}``` should be placed on the same line. That's all.

[2017-03-23 19:25] MEZk commented on #4086
@rnveach
On the other hand, if we name the options NOTHING_AFTER, NOTHING_BEFORE, SAME_AS_NEXT your proposal will make scene. However, I cannot get along with the names proposed by you now.

[2017-03-23 19:35] wate123 commented on #4080
Thanks for your help! I have a last error right now
`Failed tests:
  SingleSpaceSeparatorCheckTest.testSpaceErrors:88->BaseCheckTestSupport.verify:191->BaseCheckTestSupport.verify:227->BaseCheckTestSupport.verify:258 error message 28 expected:<...AfterErrors.java:6:4[2]: Use a single space...> but was:<...AfterErrors.java:6:4[7]: Use a single space...>

Tests run: 2001, Failures: 1, Errors: 0, Ski

[2017-03-23 19:39] rnveach commented on #4080
You should become more familar with Junit and how it works.
This is saying the violation column changed. Inputs should nearly be an exact copy of the original, so violations shouldn't change. Input must have been changed somehow.

[2017-03-23 20:02] rnveach commented on #4086
@MEZk

That is what it means generally, but remember it applies to the `before` and `after` properties. Alone in `before` means it should be `\n}`, and alone in `after` means it should be `}\n`.
Think of this as the definition: `ALONE means that no other tokens should be placed before/after the  '}' on the same line`.

Since the properties are named `before` and `after`, I was trying to avoid usin

[2017-03-23 20:15] MEZk commented on #4086
@rnveach

That is a problem, I guess. You try to suggest adding new options which main purpose is to help to resolve other options problems (SAME, ALONE_OR_SINGLELINE), however, ALONE option does not have these problems at all now. ALONE purpose is clear now and do not need additional workarounds. Could you please give an example what is wrong with ALONE, why do we need to have ```before``` and ``

[2017-03-23 20:22] MEZk commented on #4058
@ps-sp

Let's discuss this in the scope of PR. We both need to read a code a think whether it will be a good solution.

[2017-03-23 20:34] GitToasterhub commented on #3502
Lets consider piece of code from inputVariableDeclarationTest :
public void testMethod14() {
		Session s = openSession();
		Transaction t = s.beginTransaction();
		A a = new A();
		E d1 = new E();
		C1 c = new C1();
		E d2 = new E();
		a.setForward(d1);
		d1.setReverse(a);
		c.setForward(d2); // DECLARATION OF VARIABLE 'c' SHOULD BE HERE (distance = 3)
							// DECLARATION OF VARIABLE 'd2' SHOULD

[2017-03-23 20:43] romani commented on #3612
fix is merged.

[2017-03-23 20:43] #3612 closed

[2017-03-23 20:45] rnveach commented on #4086
Current documentation on `alone` does not go into details on if it should be `\n}` or `}\n` or `\n}\n`. Right now documentation is very subjective so saying it "works" can't be demonstrated in a very meaningful way.

If you run the first post's example against `alone` these are the current false negatives:
`if (true) {doSmth();}` - no violation. imo, brace isn't alone.
`doSmth();     }` -  no viol

[2017-03-23 21:02] MEZk commented on #4086
Right now the documentations says that

It does not say that right curly must be alone on the line with some statement before or after. It clearly states that no other tokens should be on the line.

I meant that the options behavior is not controversial as the behavior of SAME and ALONE_OR_SINGLELINE.

Why should it be applied to before or after the curly? It should be applied to the the whole lin

[2017-03-23 21:10] rnveach commented on #4086
`after` would apply to neither one as they don't have next multi-block statements or continuation of the current statement. It would always require nothing after the brace.
`before` for `CLASS_DEF` would be `alone`. `before` for `METHOD_DEF` would be `singleline`.

[2017-03-23 21:24] wate123 commented on #4080
Hi. I solve all the errors and ready to push my changes into GitHub, after I do `git push origin my-new-check`. I got an error about non-fast-forward, then, I follow the hint, do  `git push origin my-new-check`. this still reject my push.

[2017-03-23 21:38] Vladlis commented on #4091
I am on it

[2017-03-23 21:44] Vladlis commented on #4085
@romani
I've found the reason of such behaviour: https://github.com/checkstyle/checkstyle/issues/1416
Guess documentation should be extended, as this is not obvious.

[2017-03-23 21:49] romani opened #4092 "ClassFanOutComplexity: count complexity base annotations/exetend/implements/methods params"
base on https://github.com/checkstyle/checkstyle/pull/3924#issuecomment-288740206

Check need to consider type usage in:
- annotations
- extends and implements (as interfaces could have behavior from java8)
- method parameters

Examples need to be added to xdoc to show users what affects a calculation.

[2017-03-23 23:05] unrealwork opened #4093 "README: broken link"
![](http://image.prntscr.com/image/b3e635c5a1474f7c820a183943c8d146.png)

You have a broken line in README.md

[2017-03-23 23:34] romani commented on #4085
issue subject is changed , documentation is expected to be updated.

[2017-03-23 23:53] romani commented on #4042
fix is merged

[2017-03-23 23:53] #4042 closed

[2017-03-24 02:55] wate123 commented on #4080
not sure why, but Every time I modify the InputSingleSpaceErrors file will give the error

`SingleSpaceSeparatorCheckTest.testSpaceErrors:88->BaseCheckTestSupport.verify:191->BaseCheckTestSupport.verify:227->BaseCheckTestSupport.verify:258` error message 28 expected:<...aratorErrors.java:6:[42]: Use a single space...> but was:<...aratorErrors.java:6:[51]: Use a single `space...>`
I stuck on this

[2017-03-24 11:58] unrealwork commented on #4037
I am on it!

[2017-03-24 12:29] rnveach commented on #4080
@wate123 Please verify your changes in git history for the file.
I can't see what is wrong until you push changes to PR.

[2017-03-24 13:05] romani opened #4095 "Split and Organize Checkstyle inputs by Test for AbbreviationAsWordInName"
subtask of #3891 .

do a copy of all test input files to separate folder for AbbreviationAsWordInName .
Not any other Check should use new inputs.

[2017-03-24 13:05] romani commented on #4095
pre-assigned to @unrealwork

[2017-03-24 13:08] unrealwork commented on #4095
I am on it.

[2017-03-24 14:14] rnveach commented on #3502
@GitToasterhub

We don't count variable definitions in distance.
Imagine this example:
[code]
If allowed distance is set to 1 and we counted variable declarations, then distance could never be satisfied because no matter if you swapped a and b, one of them would always be too far away from their usage.
This is why a and b's calculated distance is 1 instead of a's being 2.

[2017-03-24 19:04] romani commented on #4092
pre-assigned to @shivanshsoni

[2017-03-24 19:21] romani commented on #3048
[code]

So as you see from AST, METHOD_CALL token is contains methods call and expression of typecast and parentheses around them.
What we can do is skip completely DOT sub tree when user define METHOD_CALL tag and add new token DOT to set of tokens.
This will allow users to define rules separately for METHOD_CALL and any expression/parentheses

@subkrish , please redo PR (you can close PR as fix

[2017-03-24 19:22] romani commented on #4093
fix is merged

[2017-03-24 19:22] #4093 closed

[2017-03-24 19:43] gsmet commented on #3048
Hi @romani ,

The issue is with Hibernate Search: https://github.com/hibernate/hibernate-search .

More specifically, you can find our checkstyle config here: https://github.com/hibernate/hibernate-search/blob/master/build-config/src/main/resources/checkstyle.xml#L131 .

[2017-03-24 20:07] romani commented on #3048
@subkrish , please add hibernate-search repo to your regression testing.

[2017-03-25 01:12] unrealwork opened #4098 "Grammar mistakes in PULL_REQUEST_TEMPLATE.md"
Some grammar mistakes, they are marked on the screenshot.
![](http://image.prntscr.com/image/3394e622593a4977b779de19d42934d0.png)

[2017-03-25 02:33] shivanshsoni commented on #4092
I am on it

[2017-03-25 04:11] rnveach commented on #4095
Fix is merged

[2017-03-25 04:11] #4095 closed

[2017-03-25 10:53] unrealwork commented on #4098
I am on it

[2017-03-25 13:30] romani commented on #4078
This issue was approved only because there is request for new property to allow user case.

Without new property such update damage whole idea of the check.
I personally do not like default to be somewhere in the middle - it is hard to catch when switch is big and have big blocks for cases.  In checkstyle code this property will never be used.

Author of request might be right in his context (whic

[2017-03-25 13:45] romani commented on #3908
fix is merged

[2017-03-25 13:45] #3908 closed

[2017-03-25 15:23] Vladlis commented on #4085
I am on it

[2017-03-25 16:16] subkrish commented on #3048
@romani I will add the hibernate-search repo during regression testing.

[2017-03-25 18:12] romani commented on #4059
pre-assigned to @wate123 .

[2017-03-25 18:35] wate123 commented on #4059
i'm on it

[2017-03-25 19:20] rnveach opened #4100 "Enforce more checks over checkstyle resources"
Expanding on Issue #3072 and from discussions in it's PR https://github.com/checkstyle/checkstyle/pull/4075#discussion_r108035623 .

New configuration will maintain small number of checks on checkstyle's resources. Right now it is being configured with `NewlineAtEndOfFileCheck`.

I would like to propose we add the following checks to the resource:
`OuterTypeFilenameCheck` - main class in input sho

[2017-03-25 19:23] rnveach commented on #4100
There are 2 problems with adding these checks.
1) They may cause an excessive amount of violations in tests that require them to be different for some reason.
2) They require `TreeWalker` and we can't run this on non-compilable code.

For Point 1, I am thinking these input files should be given a special name so an easy suppression can be generated for all them. It depends on how many cases there

[2017-03-25 19:49] rnveach opened #4101 "CacheFile: violation on external resource will invalidate entire cache even if no changes are made"
When we find a violation in a file on a cache run, we remove the file with the violation from the cachefile. https://github.com/checkstyle/checkstyle/blob/6a8730f03c2114a894a583731cc89bc2ec559978/src/main/java/com/puppycrawl/tools/checkstyle/Checker.java#L385

By default, we put all external resources into the cachefile https://github.com/checkstyle/checkstyle/blob/6a8730f03c2114a894a583731cc89bc2

[2017-03-25 20:03] rnveach commented on #4101
I either recommend giving external resources unique names like the configuration, or we don't remove them on violations and don't skip over them if they are in the cachefile.

[2017-03-25 21:34] subkrish commented on #3048
@romani
Referring to what you said

Does that mean it should not raise a warning like this which was raised after I added the the token DOT:

`java -jar checkstyle-7.7-SNAPSHOT-all.jar -c config.xml MyClass.java
Starting audit...
[WARN] /Users/subbudantu/Downloads/MyClass.java:5:28: '(' is not followed by whitespace. [ParenPad]
[WARN] /Users/subbudantu/Downloads/MyClass.java:5:29: ')' is not prece

[2017-03-25 22:11] GitToasterhub commented on #3502
@rnveach should empty space be counted as a distance unit or not,

[2017-03-26 04:39] rnveach commented on #3502
@GitToasterhub I assume you mean completely empty lines or comments.
The answer is no. This check only counts statements. Empty lines and comments should be completely ignored.

[2017-03-26 17:29] sagar-shah94 commented on #4089
@romani Is this issue approved?what is difficulty level of this issue?

[2017-03-26 19:22] MEZk commented on #3650
I'm on it.

[2017-03-26 20:36] MEZk commented on #3650
@rnveach
Not only the tests for PropertyCacheFile, but also [the tests for Checker itself](https://github.com/checkstyle/checkstyle/blob/56cc11416ebdf52dd299d11424fb04fda42fa63f/src/test/java/com/puppycrawl/tools/checkstyle/CheckerTest.java#L351) assert nothing. I think that they also need to be fixed.

[2017-03-27 02:26] rnveach commented on #4098
Fix is merged, thanks.

[2017-03-27 02:26] #4098 closed

[2017-03-27 02:29] rnveach commented on #3650
I am fine with making any tests better.

[2017-03-27 18:15] romani opened #4104 "pitest: skip Uts execution as pitest do this for wihtou mutation mode"
if any UT failing , pitest print message like " ........... did not pass without mutation."

So we can skip UTs execution before pitest, as it will do thsi for no mutation mode.

[2017-03-27 19:41] romani opened #4106 "Split and Organize Checkstyle inputs by Test for AbstractClassName"
subtask of #3891 .

do a copy of all test input files to separate folder for AbstractClassName .
Not any other Check should use new inputs.

[2017-03-27 19:51] rnveach opened #4107 "DefaultComesLastCheck: examine code looking at line/column numbers"
Looking at the code for `DefaultComesLastCheck`.
https://github.com/checkstyle/checkstyle/blob/753537bc2309a51e6b4647bb1c792f2fef9e30df/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/DefaultComesLastCheck.java#L80-L82
[code]

It is not clear why this check is looking at line/column numbers of the input file.
Check is only examining if `default` is last group in switch. It shouldn't ha

[2017-03-27 19:57] romani commented on #4106
pre-assigned to https://groups.google.com/forum/#!topic/checkstyle-devel/WbRmIympNC4

[2017-03-27 19:57] Nimfadora commented on #4106
I'm Valeria Vasylieva, I'm on it.

[2017-03-27 22:26] romani commented on #3616
teamcity is upgraded to new IntelijIdea

in recent PR #4108 :

so we have to fix all that violations asap or suppress .... to unblock PRs .
Next build on master will fail for sure.

[2017-03-27 22:44] romani commented on #3348
@Nimfadora , please help us with this issue.

in addition to fix documentation in xdoc folder should be extended to let user know that we treat variables in try-with-resources as final too.

[2017-03-27 23:08] Nimfadora commented on #3348
Ok, I'm on it.

[2017-03-27 23:18] rnveach commented on #3616
Errors don't look valid again.
I re-posted issue to original issue tracker, https://youtrack.jetbrains.com/issue/TW-48065 .

[2017-03-27 23:27] subkrish commented on #3048
@romani I ran into another issue. Once I added DOT tokentype to the set of tokens, a NullPointerException was raised when I was testing the method testNospaceWithComplexInput() in ParenPadCheckTest.java. I can't seem to find why this exception is being raised.

[2017-03-28 00:03] rnveach commented on #3048
@subkrish We can't see your code until you push it into a PR, especially without a stacktrace.
Trying debugging the test where the stacktrace points to and see why it is `null`. Don't expect code to work as-is without any changes for that specific token.

[2017-03-28 01:04] rnveach commented on #4101
Here is how to reproduce:
Step 1: Environment
[code]

Step 2: the good run
[code]

Please note suppressions file is listed.

Step 3: modify suppressions for a bad run
[code]

Step 4: the bad run
[code]

Please note suppressions file is **NOT** listed.
As code shows at https://github.com/checkstyle/checkstyle/blob/6a8730f03c2114a894a583731cc89bc2ec559978/src/main/java/com/puppycrawl/tools/checkstyl

[2017-03-28 10:18] Luolc commented on #4082
I am on it. :)

[2017-03-28 12:28] rnveach opened #4111 "AbstractCheck: remove tabWidth"
Taken from issue in sonar at https://github.com/checkstyle/sonar-checkstyle/issues/94

We should remove [`tabWidth` from `AbstractCheck`](https://github.com/checkstyle/checkstyle/blob/bd9b4b293fc9b1ba19622ac028a0604bed8fdb5f/src/main/java/com/puppycrawl/tools/checkstyle/api/AbstractCheck.java#L49) as it is making all checks have this property. All checks having it makes it difficult to see which o

[2017-03-28 13:33] GabrielBercaru commented on #4090
@romani Is this issue still active, since nobody commented yet "I am on it" here?

[2017-03-28 14:36] Muselgrusel opened #4112 "Checkstyle will crash if special unicode notation is used"
/var/tmp $ javac YOUR_FILE.java

Nothing

/var/tmp $ cat YOUR_FILE.java

[code]

/var/tmp $ cat config.xml

https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/sun_checks.xml

/var/tmp $ java -jar checkstyle-X.XX-all.jar -c config.xml YOUR_FILE.java

D:\Entwicklung\EclipseWorkspace\Test\src\test>java -jar checkstyle-7.6.1-all.jar -c sun_checks.xml TestClass.java
Starting audit.

[2017-03-28 14:53] rnveach commented on #4112
This is similar to https://github.com/checkstyle/checkstyle/issues/2784

[2017-03-28 14:53] #4112 closed

[2017-03-28 15:20] trajano opened #4113 "maven-linkcheck-plugin giving false negatives on report"
`doxia-linkcheck` and in turn `maven-linkcheck-plugin` and  have issues where the report will give false negative results.

[2017-03-29 12:59] sagar-shah94 commented on #4107
@rnveach I have made more readable code,please verify my pull request.
https://github.com/checkstyle/checkstyle/pull/4084

[2017-03-29 13:13] rnveach commented on #4107
@sagar-shah94 This is a new issue. We are not expecting you to fix this for another issue.
This isn't even `approved`.

[2017-03-29 18:50] rnveach opened #4119 "Verifying tokens in checkstyle config handles default tokens wrong"
Found in https://github.com/checkstyle/checkstyle/pull/4117#discussion_r108739172 , and confirmed by looking in our configuration file https://github.com/checkstyle/checkstyle/blob/e9f6521e0101fb685456ca5548065acbecd5eae1/config/checkstyle_checks.xml#L175-L188.

We do not validate [all tokens in `RightCurly`](https://github.com/checkstyle/checkstyle/blob/e9f6521e0101fb685456ca5548065acbecd5eae1/sr

[2017-03-29 19:39] rnveach opened #4121 "reevaluate tokens in google config for EmptyBlock"
Taken from PR #4120 ,
When reviewing the tokens of EmptyBlockCheck, it is unclear if we should add the following tokens to google configuration.

We should review them and either add them to our google config or explain why they shouldn't be added in a comment.

[2017-03-29 19:40] rnveach opened #4122 "reevaluate tokens in google config for OperatorWrapCheck"
Taken from PR #4120 ,
When reviewing the tokens of OperatorWrapCheck, it is unclear if we should add the following tokens to google configuration.

We should review them and either add them to our google config or explain why they shouldn't be added in a comment.

[2017-03-29 21:14] romani commented on #4119
each change in google config should be proved by quote from style guide.

[2017-03-30 16:07] izishared commented on #4041
I'm on it.

[2017-03-30 18:55] unrealwork commented on #4111
I am on it.

[2017-03-30 19:04] rnveach commented on #4111
@unrealwork This issue has the label `checkstyle8` on it. We are still only version 7, so you can't start this.

[2017-03-30 19:26] MEZk opened #4128 "Expand missing testing for Checker tests"
Apart from #3650 there are 5 UTs which call methods and do not verify any type of result.

1. [testNoModuleFactory](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/CheckerTest.java#L352)
2. [testFinishLocalSetupFullyInitialized](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/CheckerTest.java#L360

[2017-03-30 19:26] MEZk commented on #3650
Will be addressed in the scope of #4128.

[2017-03-30 19:32] GabrielBercaru commented on #4090
I am on it.

[2017-03-31 08:23] izishared commented on #4041
Possible this issue is duplicate https://github.com/checkstyle/checkstyle/issues/4014 which is already closed.

[2017-03-31 08:30] Vladlis commented on #4041
@izishared , It is
@romani , @rnveach , please close

[2017-03-31 13:02] rnveach commented on #4041
closing as duplicate

[2017-03-31 13:02] #4041 closed

[2017-03-31 20:13] romani opened #4136 "Split and Organize Checkstyle inputs by Test for CatchParameterName"
subtask of #3891 .

do a copy of all test input files to separate folder for CatchParameterName .
Not any other Check should use new inputs.

[2017-03-31 20:15] romani commented on #4136
pre-assigned at https://groups.google.com/forum/#!topic/checkstyle-devel/w1p06rhozH4

[2017-03-31 21:15] romani opened #4137 "Split and Organize Checkstyle inputs by Test for ClassTypeParameterName"
subtask of #3891 .

do a copy of all test input files to separate folder for ClassTypeParameterName .
Not any other Check should use new inputs.

[2017-03-31 21:15] romani commented on #4137
pre-assigned to @Samin12

[2017-03-31 22:14] rnveach opened #4138 "ImportControl: can't disallow class of an allowed package"
[code]

I am expecting a violation on line 4.
I want to be able to allow an entire package except for some specific classes in that package.
I expect the disallow to take precedence because the class is more specific than the package.

[2017-04-01 02:11] unrealwork commented on #3201
I am on it.

[2017-04-01 02:17] unrealwork commented on #2785
I am on it.

[2017-04-01 04:29] arnav97 commented on #4136
I am on it

[2017-04-01 18:04] romani opened #4141 "Split and Organize Checkstyle inputs by Test for ConstantName"
subtask of #3891 .

do a copy of all test input files to separate folder for ConstantName .
Not any other Check should use new inputs.

[2017-04-01 18:06] romani commented on #4141
pre-assigned at https://groups.google.com/forum/#!topic/checkstyle-devel/EvWs6iYt2g8

[2017-04-01 18:14] harisriaz17 commented on #4141
I am on it.

[2017-04-01 21:11] romani opened #4142 "Split and Organize Checkstyle inputs by Test for InterfaceTypeParameterName"
subtask of #3891 .

do a copy of all test input files to separate folder for InterfaceTypeParameterName .
Not any other Check should use new inputs.

[2017-04-01 21:13] romani commented on #4142
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/EWgEtsS_N_w

[2017-04-01 22:00] LevanSe commented on #4142
I am on it.

[2017-04-02 13:30] romani opened #4144 "Split and Organize Checkstyle inputs by Test for LocalFinalVariableName"
subtask of #3891 .

do a copy of all test input files to separate folder for LocalFinalVariableName .
Not any other Check should use new inputs.

[2017-04-02 13:31] romani commented on #4144
pre-assigned to @kuri-leo .
@kuri-leo, if you agree on assignment ,please make comment "I am on it"

[2017-04-02 13:36] kuri-leo commented on #4144
I am on it

[2017-04-02 18:24] izishared commented on #3210
I'm on it.

[2017-04-02 20:02] wate123 commented on #4057
i'm on it

[2017-04-02 20:13] wate123 commented on #4059
Sorry that I don't quite understand about this issue. I wish I can have more information on this issue. Thanks

[2017-04-02 21:07] kuri-leo commented on #4144
@romani I'm sorry to disturb you but I have a bug, I've change all the name, and when I did the unit test , found messeages.properties was only copied to `com.puppycrawl.tools.checkstyle.checks.naming` but it should be in `com.puppycrawl.tools.checkstyle.checks.naming.LocalFinalVariableName`. So I'm not sure where I can change the code to fix it, could you please give me a hint?

The exception out

[2017-04-03 02:12] unrealwork commented on #3311
I am on it!

[2017-04-03 06:17] romani commented on #3616
New request to support: https://teamcity-support.jetbrains.com/hc/en-us/requests/919114

[2017-04-03 12:02] Luolc commented on #3951
I am on it.

[2017-04-03 17:24] romani commented on #4144
@Luolc , please take a look at this zh_CN localization problem .

[2017-04-03 17:25] romani opened #4150 "Split and Organize Checkstyle inputs by Test for LocalVariableName"
subtask of #3891 .

do a copy of all test input files to separate folder for LocalVariableName .
Not any other Check should use new inputs.

[2017-04-03 17:26] romani commented on #4150
pre-assigned to @Shubhk15 .
@Shubhk15 , please make comment "I am on it" to confirm assignment.

[2017-04-03 17:53] romani opened #4151 "Split and Organize Checkstyle inputs by Test for MemberName"
subtask of #3891 .

do a copy of all test input files to separate folder for MemberName .
Not any other Check should use new inputs.

[2017-04-03 17:53] romani commented on #4151
pre-assigned to Gaurav Sharma.

[2017-04-03 17:57] Luolc commented on #4144
@romani Sure. :)

[2017-04-03 21:23] MEZk commented on #3775
This issue is waiting for https://github.com/checkstyle/checkstyle/issues/4022
https://github.com/checkstyle/checkstyle/issues/4022 should separate the ALONE logic.

[2017-04-03 21:34] MEZk commented on #4022
This issue is blocked by #4057 and #4059.

[2017-04-03 21:53] MEZk commented on #3607
@romani
Are you sure that we need additional library (Reflections) for this?
We can scan the package and get all file names which end with Check and then instantiate the classes based on the fully qualified class names.

[2017-04-03 22:06] MEZk commented on #3660
@romani
Will we need to resolve https://github.com/checkstyle/checkstyle/issues/3607 if we remove checkstyle_packages.xml ?

[2017-04-04 00:16] rnveach commented on #3660
@MEZk Our `checkstyle_packages.xml` is for only loading our checks. We know where our checks are by the hardcoded list we do in `PackageObjectFactory`.
#3607 is to probably to load external, 3rd party checks which is why we need reflection.
So I don't think this issue relies on another other.

[2017-04-04 00:31] rnveach commented on #3607
We dropped this convention in test's `CheckUtil` because it missed out on our own checks that end with `Holder` instead of `Check`.
I think checking the class' inheritance is enough, who cares what it is named.

@MEZk I don't think we can scan packages without an extra library as you have to look in the JARs that are on the classpath. It is not naturally part of the Java Reflection API. Guava may

[2017-04-04 02:29] subkrish commented on #3930
@romani Since @vrush03 did not continue to work on this, I will be taking this issue over. I am on it.

[2017-04-04 03:11] gvsharma13 commented on #4151
I'm on it

[2017-04-04 06:22] subkrish commented on #2899
@rnveach Since @Sukrityshrivastava did not continue to work on this, I would like to take this issue over. I am on it.

[2017-04-04 09:44] kuri-leo commented on #4144
@Luolc
Thank for your suggestions. This is my first time contributed to a open source project, I will pay more attention to the PR rules next time!

[2017-04-04 15:08] harisriaz17 commented on #4141
Hey romani, I need a little help. Can you point me to the correct source file/source files where I can get started with implementing this feature? There are so many files, I just need you to tell me specifically which files I need to look in.
Thanks.

[2017-04-04 17:56] romani commented on #4151
@gvsharma13 , please review in git history other commits, and do this task in similar way.
please read:
http://checkstyle.sourceforge.net/contributing.html
http://checkstyle.sourceforge.net/beginning_development.html

[2017-04-04 20:34] MEZk commented on #3607
CheckUtil picks up everything fine for our tests.

Agree. Why do we need the extra dependency on Reflections?
We can continue using ClassPath from Guava.

@romani
Please, share your ideas.

[2017-04-04 20:49] MEZk commented on #3660
@rnveach
Now I see.
1. We try to create a module based on NAME_TO_FULL_MODULE_NAME map which contains all fully qualified names of Checkstyle modules. ([createObjectFromMap](https://github.com/checkstyle/checkstyle/blob/fcfacfc6ecc20303998e0522ab655775913a7be1/src/main/java/com/puppycrawl/tools/checkstyle/PackageObjectFactory.java#L124-L124))
2. If the previous attempt fails we try to create a mod

[2017-04-04 21:20] MEZk commented on #3847
I'm on it.

[2017-04-04 21:25] rnveach commented on #3660
@MEZk yes.

[2017-04-04 21:38] MEZk commented on #3847
@romani
Hm, looks like it is blocked by https://github.com/checkstyle/checkstyle/issues/56 since we cannot calculate the complexity of the return statement as NP(( expr )), because NPathComplexity ignores multi-part boolean expressions. Am I right?

[2017-04-04 22:42] LevanSe commented on #4142
can you give me more details about task because I don't understand exactly what I must to do.

[2017-04-05 01:54] romani commented on #3616
I disabled TC triggers, I hope it will stop to appear in Github PR validations.

[2017-04-05 06:51] pbludov opened #4157 "WhitespaceAround: Add support for varargs"
$ javac Test.java
$ cat Test.java
[code]
Actually, we need opposite of https://github.com/checkstyle/checkstyle/issues/3718

[2017-04-05 09:18] romani opened #4158 "Split and Organize Checkstyle inputs by Test for MethodName"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodName .
Not any other Check should use new inputs.

[2017-04-05 09:19] romani commented on #4158
pre-assigned to Levan Surmanidze .

[2017-04-05 10:06] Vladlis commented on #4100
What about enabling:
- `FileTabCharacter`
- `RegexpSingleline` for trailing whitspaces
- maybe even `RegexpOnFilename` on inputs?

[2017-04-05 10:15] LevanSe commented on #4158
I am on it

[2017-04-05 10:17] romani commented on #4101
looks like we have to add "check-resource:" (it will look like protocol) prefix for all internal resources of Checks.
Checks should continue to return us - path to files on filesystem.
so cache files will looks like:
[code]

so we will have special processing of "check-resource:" lines.

@rnveach , Will it work ?
if yes, please squash all our discussion/comments to clear single description.

[2017-04-05 10:25] romani opened #4159 "EmptyBlock should process LITERAL_DEFAULT"
from pull #3918 discussion.

Looks like we have the same problem for ```DEFAULT_TOKEN```. I think that it should be fixed in separate issue.

[code]

[2017-04-05 11:09] romani commented on #3234
fix is merged

[2017-04-05 11:09] #3234 closed

[2017-04-05 11:14] romani opened #4160 "Split and Organize Checkstyle inputs by Test for LineLength"
subtask of #3891 .

do a copy of all test input files to separate folder for FileLength .
Not any other Check should use new inputs.

[2017-04-05 11:15] romani commented on #4013
issue is recreated to #4160 to hide all discussion that are scary for new contributors

[2017-04-05 11:15] #4013 closed

[2017-04-05 11:24] rnveach commented on #4101
@romani that will work as long as a file name can never be named `check-resource:<original filename>`.
Windows prevents `:` and `/` characters in file names.
Linux allows `:` but not `/` characters. It will also allow `*` and `?` in file names as seen in configuration file special naming.

Making it start with a specific string like `check-resource:` should make it harder for a name clash to happe

[2017-04-05 11:27] romani commented on #4013
actually, I merged author changes to master, they were ready.

[2017-04-05 11:28] romani commented on #4160
resolved in #4013

[2017-04-05 11:28] #4160 closed

[2017-04-05 12:02] romani commented on #4104
merged

[2017-04-05 12:02] #4104 closed

[2017-04-05 12:04] romani commented on #4106
fix is merged

[2017-04-05 12:04] #4106 closed

[2017-04-05 12:11] ps-sp commented on #4159
I am on it

[2017-04-05 12:56] rnveach commented on #4085
Fix is merged

[2017-04-05 12:56] #4085 closed

[2017-04-05 13:11] romani commented on #4090
fix is merged

[2017-04-05 13:11] #4090 closed

[2017-04-05 14:21] rnveach commented on #4091
Fix is merged

[2017-04-05 14:21] #4091 closed

[2017-04-05 15:41] rnveach commented on #3839
Fix is merged

[2017-04-05 15:41] #3839 closed

[2017-04-05 15:55] rnveach commented on #4013
Added missing tags.

[2017-04-05 16:14] romani commented on #3847
Let's wait for #56 . As fix for it will be revolution update for Check

[2017-04-05 19:05] kukreja-vikramaditya commented on #2810
I am on it.

[2017-04-05 20:37] rnveach commented on #3072
Fix is merged

[2017-04-05 20:37] #3072 closed

[2017-04-05 21:40] romani opened #4164 "Javadoc parser: custom tags content should not be parsed as HTML"
Parser error on javadoc content of custom tag with `<` (html symbol)
`Non standard {@preformat a<b} parsed with error.`

[code]

Expected: parsing without error.

[2017-04-06 06:17] MikhailovOlegM commented on #4013
i messsed

[2017-04-06 08:25] sagar-shah94 commented on #4164
I am on it

[2017-04-06 09:30] kukreja-vikramaditya commented on #3131
I am on it.

[2017-04-06 10:25] rnveach commented on #4013
@MikhailovOlegM My comment had nothing to do with your work.

[2017-04-06 11:00] Vladlis opened #4165 "Split and Organize Checkstyle inputs by Test for checks in coding package"
subtask of #3891

move / do a copy of all test input files to a separate folder for all checks in `coding` package.
Not any other Check should use new inputs.

[2017-04-06 11:00] subkrish commented on #2186
@rnveach Since @nikshinde1996 did not continue to work on this, I would like to take this issue over. I am on it.

[2017-04-06 11:00] Vladlis commented on #4165
@izishared
Please help us with this issue

[2017-04-06 12:55] romani commented on #3930
fix is merged

[2017-04-06 12:55] #3930 closed

[2017-04-06 13:05] kuri-leo commented on #4144
Hi @romani and @Vladlis ,I also want to help izishared to rename all checks to practice myself and make up my incorrect closing of PR.
So, can I rename all checks in `com.puppycrawl.tools.checkstyle.checks.naming` as a begin? :)

[2017-04-06 13:11] romani commented on #4144
fix is merged

[2017-04-06 13:11] #4144 closed

[2017-04-06 16:58] Kietzmann commented on #4150
I am on it

[2017-04-06 17:58] kukreja-vikramaditya commented on #3131
@rnveach
I'll take it as 12 for now. But what should happen if line wrapping in such a case

[code]

In general what can be done about the indentation of line 6? Are there any style guides that give info about such cases? try resources in general

[2017-04-06 18:19] romani commented on #4165
each Check/Test should be done in separate PR, multiple PRs are expected.
Do not do all at ones!

[2017-04-06 18:23] romani commented on #4100
I am fine with more rules for code, the more the better.

We could do any kind of renaming to make suppression easy and manageable.

[2017-04-06 18:25] romani commented on #4089
this issue is not approved, because whole Check need to be reimplemented completely.

[2017-04-06 18:27] romani commented on #4128
@MEZk , all such problems will be fixed ones we start fixing Pitest coverage. please do not waste time to search for such methods it will be done during GSoC 2017.

[2017-04-06 18:42] romani commented on #4107
I am ok with refactoring, if no regression is proved.

[2017-04-06 18:46] romani commented on #4138
We should honor order of elements in XML to allow/diallow imports - first places - first applied for decision to allow/disallow.

[2017-04-06 19:29] Vladlis commented on #4165
@romani ,
why not combine few commits in PR? but with a separate commit for each Check?

[2017-04-06 20:26] romani commented on #3234
@timurt , for some reason PR was not validated by shippable CI.
Now we have protest failure in our master https://app.shippable.com/github/checkstyle/checkstyle/runs/2147/summary
Please provide fix asap.
Command to test https://github.com/checkstyle/checkstyle/blob/master/shippable.yml#L36

[2017-04-06 22:36] romani commented on #4142
please look at other similar task/fixed (already merged in master) for details.

[2017-04-06 22:38] romani commented on #4165
new contributors have problems to make correct udpate for one Check , for some of them it takes few weeks. I wish @izishared could impress me , but I doubt. Verification of big PR is also time consuming task.

[2017-04-06 22:40] romani opened #4168 "Split and Organize Checkstyle inputs by Test for MethodTypeParameterName"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodTypeParameterName .
Not any other Check should use new inputs.

[2017-04-06 22:40] romani commented on #4168
pre -assigned to Janine Freitas

[2017-04-06 22:45] janiine commented on #4168
I am on it

[2017-04-07 00:35] rnveach commented on #3131
@kukreja-vikramaditya

Our only guide are IDEs. Many IDEs offer auto-formatting of code. Users will rely on that more than our check for uniformity, especially since they can auto-format the code on save without any action from user.
Please try formatting the example in the 3 major IDEs (Eclipse, NetBeans, IntelliJ) with their default formatters and see how they handle the wrapping and post the re

[2017-04-07 01:35] LubainaTariq commented on #4107
I am on it

[2017-04-07 01:41] rnveach commented on #4107
@LubainaTariq I would probably look for another issue.
The PR this issue is created from removed these lines as part of it's fix.
It is still working on being merged.

[2017-04-07 05:25] samuel-gu commented on #4157
I'm on it

[2017-04-07 07:37] LubainaTariq commented on #4107
Then kindly assign me another easy issue just like the one I committed on
before in java.
Thanks

On Fri, Apr 7, 2017 at 6:41 AM, rnveach <notifications@github.com> wrote:

[2017-04-07 10:47] pbludov opened #4169 "Checkstyle ignores javadoc that placed over Annotation type elements"
http://checkstyle.sourceforge.net/config_javadoc.html#AtclauseOrder
http://checkstyle.sourceforge.net/config_javadoc.html#SummaryJavadoc

[code]
---------------

There must be 4 errors from, but Checkstyle does not process second javadoc .
I don't think AbstractJavadocCheck#isCorrectJavadocPosition supports this token.

[2017-04-07 11:18] rnveach commented on #4169
@pbludov
http://checkstyle.sourceforge.net/config_javadoc.html#AtclauseOrder
Specify the targets as those areas are not validated by default.

[code]

@romani
However, setting `ANNOTATION_FIELD_DEF` for the target still doesn't get a violation at line 12.
I don't think `AbstractJavadocCheck#isCorrectJavadocPosition` supports this token.

[2017-04-07 11:36] kukreja-vikramaditya commented on #3131
(no line wrapping. each diff line)
This is the result of an input file I was working on.
Currently the changes I have made to `TryHandler` can only detect error in the starting line of a resource as in my soln I am detecting differences in `RESOURCE_SPECIFICATION`, `RESOURCES` and `RESOURCE` tokens. If works fine but only compares `RESOURCE` with `RESOURCES` for now. Is something like `checkExpres

[2017-04-07 12:52] kukreja-vikramaditya commented on #3131
Also check input file at `src/test/resources/com/puppycrawl/tools/checkstyle/checks/indentation/InputValidTryResourcesIndent.java`

This file uses indent of 4 for multiline resources (no line wrapping). Is this done because there was no check for something similar? Will this be needed to be updated too?

[2017-04-07 16:43] romani commented on #4059
@MEZk , please provide details.
@wate123 , please ask certain question to let us know what is not clear.

[2017-04-07 18:04] romani commented on #4101
ok , lets have prefix `check-resource*?:` so it will looks like
[code]

[2017-04-07 19:24] sagar-shah94 commented on #3351
I am on it.

[2017-04-07 19:47] sagar-shah94 commented on #3218
@romani only replacement of following words need to be done?
beginning/closing tag -> start/end tag
singleton tag -> empty tag

[2017-04-07 21:01] romani commented on #4169
AtclauseOrder should not care on what javadoc it is running.
By its design it should runs on all javadocs and do validation. Why such simple case does not works , I not sure ....

[2017-04-07 21:04] romani opened #4172 "Split and Organize Checkstyle inputs by Test for PackageName"
subtask of #3891 .

do a copy of all test input files to separate folder for PackageName .
Not any other Check should use new inputs.

[2017-04-07 21:49] ps-sp commented on #4159
@romani @rnveach @MEZk Does it benefit to separately check for empty `case` and empty `default` token ? If not perhaps we can remove empty `case` and empty `default` from the list of acceptable tokens and just add `CASE_GROUP` token. But like I mentioned, we won't be then able to check for empty `LITERAL_CASE` and empty `LITERAL_DEFAULT` separately. Please address. Thankyou.

[2017-04-08 00:25] romani commented on #3607
If we can do scan without extra dependencies it is good.

Reuse guava is ok, as we can not drop it as we use their fancy collections.

I do not know the best solution for this problem, we can look at PRs for this.

[2017-04-08 05:34] sagar-shah94 commented on #4169
I am on it.

[2017-04-08 09:21] LubainaTariq commented on #4172
I am on it

[2017-04-08 09:38] LubainaTariq commented on #4172
Please tell me in detail what I need to do and starting from which line of code?

[2017-04-08 14:03] Vladlis commented on #4172
@LubainaTariq
There is a detailed description in the main issue: #3891
It also contains a lot of references from similar completed tasks for other checks.

[2017-04-08 14:16] romani commented on #4169
@sagar-shah94 ,I do not understand your comment, please rephrase.
Check should be executed on each javadoc block, is it happening ?

[2017-04-08 18:58] sagar-shah94 commented on #4169
It is not happening for following comment.
  /**
   * @version 1.0
   * @author Tester Testerson
   */
  @TestClass("foo")
Please verify once because above java doc was not executed when i tried to debug above example.

[2017-04-08 19:29] sagar-shah94 commented on #3593
I am on it

[2017-04-09 05:20] subkrish commented on #2399
I am on it.

[2017-04-09 10:01] sagar-shah94 commented on #2991
I am on it.

[2017-04-09 10:22] sagar-shah94 commented on #3593
@romani @rnveach
https://github.com/checkstyle/checkstyle/pull/4174
above pull request will solve this issue too. please verify.

[2017-04-09 12:44] rnveach commented on #3902
Fix is merged

[2017-04-09 12:44] #3902 closed

[2017-04-09 13:21] rnveach opened #4175 "ParenPad: deep scan picks up excess tokens not set in config"
Identified in https://github.com/checkstyle/checkstyle/pull/4109#issuecomment-291590567 ,

ParenPad is doing a deep scan for tokens to check at https://github.com/checkstyle/checkstyle/blob/e70836bb3dec30734f5fd51b63d4dc6cbe24679d/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/ParenPadCheck.java#L179-L198 .
This caused tokens that were specifically not set in the configuration to

[2017-04-09 13:22] rnveach commented on #3048
Current PR for this issue will be a partial fix.
Main issue with check was identified and be finally fixed in Issue #4175.

[2017-04-09 13:47] romani commented on #3218
@sagar-shah94 , yes.

[2017-04-09 14:11] romani commented on #4169
after discussion with @sagar-shah94 , and @rnveach , I updated original description and title to clearly define problem.

[2017-04-09 14:14] romani commented on #4159
@ps-sp ,

please share a link , where you prove this.

[2017-04-09 14:44] rnveach commented on #3607
@romani I don't think I have anything more to add to issue.
If we are able to find all our checks without issue, I don't see why we need to this new dependency.
If we need this to be able to find 3rd party checks, please give us an example where current implementation fails in this regard or new dependency does it better.

[2017-04-09 16:07] Luolc opened #4176 "Add suppression of .DS_Store for NewlineAtEndOfFile"
We have added https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_non_main_files_checks.xml.

And it didn't suppress `.DS_Store` now. It does not affect the online CI but mac developers would always failed with `mvn verify` now if they enable `.DS_Store` on their PC.

Although we could tell them to banned the generation of `.DS_Store` manually. But I think it is better to add a

[2017-04-09 16:16] rnveach commented on #4176
I think we should add it to the list of excludes in the POM at https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L509 . We should add all `.gitignore` files to the pom exclude so we don't have any other problems.

[2017-04-09 16:39] Vladlis opened #4177 "Add LAMBDA in RightCurly to checkstyle_checks"
taken from [discussion](https://github.com/checkstyle/checkstyle/pull/3969#issuecomment-292750251).

After #3546 is fixed LAMBDA has to be added to checkstyle_ckecks.xml to make that we created functionality that are usable. Unfortunately this case is controversial and we do not have prober mode now in Check

To my current view of issue, we need to treat lambda the same as anonymous classes,  for

[2017-04-09 16:47] Vladlis opened #4178 "Add LAMBDA in RightCurly to google_checks"
After #3546 is fixed LAMBDA has to be added to google_checks.xml

The problem is specified here: https://github.com/checkstyle/checkstyle/pull/3969#issuecomment-292750251

[2017-04-10 09:28] lc-nyovchev commented on #2579
would be nice to work for both

`@NoArgsConstructor(access = AccessLevel.PRIVATE)` and for `@UtilityClass`

[2017-04-10 13:20] ps-sp commented on #4159
@romani I think you misunderstood !

**IN SHORT**
Should we remove `LITERAL_CASE` and `LITERAL_DEFAULT` from the list of acceptable tokens and just add `CASE_GROUP` to the list of acceptable tokens ? It will help us detect both the tokens at the same time.

**What I said was:**

and before that I asked this question:

What I meant was we won't be able to check for empty `LITERAL_CASE` and empty `L

[2017-04-10 13:55] romani commented on #3309
Fix is merged

[2017-04-10 13:55] #3309 closed

[2017-04-10 14:02] Kietzmann commented on #4150
Please, make code review.
Thanks.

[2017-04-10 14:24] ps-sp opened #4180 "Include ENUM_DEF as an accepted token for RightCurlyCheck"
Why is such behaviour 'ok' if the brace policy is set to alone ?

https://github.com/checkstyle/checkstyle/blob/master/src/it/resources/com/google/checkstyle/test/chapter4formatting/rule412nonemptyblocks/InputRightCurlyOtherAlone.java#L125

Is it because ENUM_DEF isn't an accepted token for the check ?

[2017-04-10 14:43] rnveach commented on #4180
@ps-sp Look over http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug . We only accept issues that are clear and in this format.

This is most likely the reason as best I can tell from the given report.
This will be fixed in Issue #3547 .

[2017-04-10 14:43] #4180 closed

[2017-04-10 15:23] Kietzmann commented on #3931
Hi,
May I deal with this issue?

[2017-04-10 15:25] Kietzmann commented on #4137
Hi,
could I deal with it?

[2017-04-10 15:30] Kietzmann commented on #3959
Hi,
May I deal with this issue?

[2017-04-10 15:34] romani commented on #3959
@Kietzmann , yes you can. 1 month is too much, look like it is adandoned

[2017-04-10 15:40] romani commented on #3593
@sagar-shah94 , this Check is based on regex parsing , if fix is complicated please drop it. All such Checks expected to be reimplemented to use AST .

[2017-04-10 15:41] romani commented on #4137
No, time out is 1 month.

[2017-04-10 15:42] romani commented on #3931
@Kietzmann , yes you can

[2017-04-10 16:20] Kietzmann commented on #3959
Please review #4182

[2017-04-10 16:30] kukreja-vikramaditya commented on #3134
I am on it

[2017-04-10 17:33] romani opened #4183 "Split and Organize Checkstyle inputs by Test for PackageName"
subtask of #3891 .

do a copy of all test input files to separate folder for PackageName .
Not any other Check should use new inputs.

[2017-04-10 17:34] romani commented on #4183
pre-assigned to @shreyasabu22 .
@shreyasabu22 , please do "I am on it" comment on issue to confirm assignment.

[2017-04-10 17:35] sagar-shah94 commented on #3593
@romani
Ok sir.

[2017-04-10 17:36] romani commented on #4178
before we put approved label on issue , we need to get to know expected behavior from Google.
Issue on "google style guide" or google-java-format need to be created.

[2017-04-10 18:02] rnveach commented on #3131
Eclipse by default uses tabs for indentation, instead of spaces.

I got different results on my IDEA. It wouldn't break any lines, but it did line up all `BufferedInputStream` resources like your results.

The basic concensus is, it looks like all IDEs treat the resources as wrapped lines as they are all indented by 8 spaces.
offset of a resource should be `try` position + `lineWrappingIndentation

[2017-04-10 20:41] MEZk commented on #3607
@rnveach

Completely agree. I'm against the new dependency. New dependency will bring new problems. There always be a desire to use it once again. As I sad at #3607, we do not introduce new checks very frequently, so we are able to add the checks into the map.

[2017-04-10 20:50] MEZk commented on #4159
@ps-sp @romani

From my point of view, there is no need in checking  LITERAL_CASE and LITERAL_DEFAULT separately.
However, it might be a problem for the user to understand that CASE_GROUP is for case and default statements.

[2017-04-10 21:08] MEZk commented on #4059
@wate123
Look at the issue description. It states that in the check's current implementation ```shoudlStartLine``` affects the behavior of ALONE_OR_SINGLELINE option. If the option is set to true, the violation will appear on line 5, but if the option is set to false the violation will disappear. It is not a correct behavior. Both cases (shouldStartLine = true and shouldStartLine = false) should r

[2017-04-11 00:29] romani commented on #4159
No, you never know user preferences. This Check do validation of first children  in tree, it should continue to do this

[2017-04-11 00:34] romani commented on #4150
Fix is merged

[2017-04-11 00:34] #4150 closed

[2017-04-11 02:22] pbludov commented on #4169
There are two different issues:
1. AtClauseOrder and the like should check all possible doc comments. There is no point in making any exceptions by default.
2. AbstractJavadocCheck#isCorrectJavadocPosition does not process the annotation fields. This blocks the first issue.
If someone fixes the first issue, then I can do the second issue on my own. The last one looks quite easy.

[2017-04-11 04:37] romani commented on #2579
New option will be a list of names, so user could define set of annotations.

[2017-04-11 04:41] romani commented on #2186
Fix is merged

[2017-04-11 04:41] #2186 closed

[2017-04-11 09:29] mkordas commented on #3763
@romani what was wrong with using non-JDK exceptions? Are there any articles or blog posts saying it is a bad practice?

[2017-04-11 10:48] kukreja-vikramaditya commented on #3131
When the first resource is placed directly after the try, the indentation of other lines changes as well as shown here

[code]

[2017-04-11 11:30] Vladlis commented on #4178
@romani
An existing issue on google style guideis updated: https://github.com/google/styleguide/issues/112

And here is like google-java-format plugin for IntelliJ IDEA works:
this **(1)**
[code]
and this **(2)**
[code]
and this **(3)**
[code]
is formatted like this **(1), (2), (3) -> (4)**
[code]

also all of
**(5)**
[code]
**(6)**
[code]
**(7)**
[code]
**(8)**
[code]
**(9)**
[code]
become this *

[2017-04-11 12:41] kukreja-vikramaditya commented on #3131
Take example case where the resource itself has wrong indent,
Ex,  line 4
[code]
Similarly if try has wrong indent

Ex
[code]

[2017-04-11 13:16] rnveach commented on #3131
That is what I am seeing, IDEA doesn't break/merge lines by default. I assumed yours was which was why I was commenting on how I wasn't seeing your broken up like that, but I understand now that you did it to show its indentation level for various breaks.

I am seeing this behavior as well, it is keeping the 2nd+ resources lined up with first resource in the `try`. Unless @romani specifies otherwi

[2017-04-11 13:16] ps-sp commented on #3547
@rnveach ! The `getDetails` method for `RightCurlyCheck` is at thresholds for complexity checks and statement counts. To add new tokens to this check we have to refactor that method. I've already done that in the PR I created for Issue #4058. Please review that PR.

[2017-04-11 14:28] Shubhk15 commented on #4183
I am on it

[2017-04-11 16:17] shreyasabu22 commented on #4183
I am on it

[2017-04-11 16:17] romani commented on #3616
[code]

[2017-04-11 16:23] romani commented on #3616
All triggers are enabled in teamcity service

[2017-04-11 16:29] romani commented on #4165
Fix is merged

[2017-04-11 16:33] romani commented on #4183
@Shubhk15 , please do not work on this issue, it was not created for you

[2017-04-11 16:47] Shubhk15 commented on #4183
Okay

[2017-04-11 17:23] romani opened #4191 "Split and Organize Checkstyle inputs by Test for ParameterName"
subtask of #3891 .

do a copy of all test input files to separate folder for ParameterName .
Not any other Check should use new inputs.

[2017-04-11 17:23] romani commented on #4191
pre-assigned to @Shubhk15 .

@Shubhk15 , please make comment "I am on it" to confirm assignment

[2017-04-11 17:32] Shubhk15 commented on #4191
I am on it

[2017-04-11 18:34] Vladlis commented on #3616
I am on it

[2017-04-11 23:56] romani commented on #4169
pre-asigned to  @kuri-leo .

@kuri-leo , if you agree please make a comment "I am on it"

[2017-04-12 00:40] kuri-leo commented on #4169
I am on it, thanks!

[2017-04-12 02:23] vrozov opened #4196 "ImportOrder option "bottom" allows the same static import placement as "under""

[2017-04-12 02:39] rnveach commented on #4196
@vrozov Please look over http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug and edit your first post to show us the issue you are talking about.

[2017-04-12 03:28] vrozov commented on #4196
@rnveach It is up to you if you want to close the issue instead of fixing it.

[2017-04-12 04:39] timurt commented on #2804
I am on it

[2017-04-12 05:44] romani commented on #3959
Fix is merged

[2017-04-12 05:44] #3959 closed

[2017-04-12 08:53] Kietzmann commented on #3933
May I deal with it?

[2017-04-12 09:07] Vladlis commented on #3933
@Kietzmann ,
After the May 1st : https://github.com/checkstyle/checkstyle/pull/3947#issuecomment-292544442

[2017-04-12 09:32] nstaeger opened #4198 "SuppressionCommentFilter not working properly in multi-thread environment"
Hi there,

we are using the `SuppressionCommentFilter` to disable Checkstyle for specific areas of our code. We are also using the Maven Checkstyle Plugin (version 2.27) to execute a Checkstyle scan when building the project. However, since we upgraded Checkstyle from 6.16 to 7.6.1 the Maven build-process fails sporadically when building with multiple threads (using `-T4C`) because of Checkstyle.

[2017-04-12 10:20] rnveach commented on #2804
@timurt Please read full issue, this is blocked by another issue which I am not sure you can do.

[2017-04-12 10:29] rnveach commented on #4198
Please see the following:
https://groups.google.com/forum/#!topic/checkstyle-devel/ay2CxvaKeQo
https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2017-Project-Ideas#project-name-multi-thread-mode-for-java-files-processing

Checkstyle is not a multi-threaded tool. We don't support it right now, and probably other things will break if you try to run it as such.

[2017-04-12 10:38] rnveach commented on #2899
Fix is merged

[2017-04-12 10:38] #2899 closed

[2017-04-12 11:26] nstaeger commented on #4198
Hey @rnveach,

thanks for your reply! It worked well with version 6.16 but perhaps we just were lucky.

[2017-04-12 11:26] #4198 closed

[2017-04-12 13:17] romani commented on #4196
@vrozov  , please put in description required details. It helps a lot. Easy to reproduce issue are resolved first.

[2017-04-12 14:09] vrozov commented on #4196
@romani It is easy to reproduce the bug with the provided description.

[2017-04-12 16:56] timurt commented on #2804
@rnveach ok, I will look for another issue, thanks

[2017-04-12 18:47] subkrish commented on #4024
@romani @rnveach Since @madhukiran98  did not continue to work on this, I would like to take this issue over. I am on it.

[2017-04-12 19:37] romani commented on #4078
fix is merged

[2017-04-12 19:37] #4078 closed

[2017-04-12 20:02] rnveach commented on #4024
Closing as this was done in another issue

[2017-04-12 20:02] #4024 closed

[2017-04-12 20:05] rnveach commented on #4119
Fix was merged

[2017-04-12 20:05] #4119 closed

[2017-04-12 20:27] MEZk opened #4207 "RequireThis: False positive for lambda parameters"
[code]

http://rveach.no-ip.org/checkstyle/checkstyle.php?action=view&config=2b75d3a2ecffeba47690e0416ccd9906&code=c5b8991fb27367d9bfbf7d120993a7cb&checkstyle=checkstyle-7.6.1-all.jar&printTree=

----------------------------
Expected: no violations as ```this``` cannot be used for ```s1``` on line 8 and column 37 (compile time error); ```s1``` on line 8 and column 43 is a lambda parameter and it d

[2017-04-12 21:50] kukreja-vikramaditya commented on #3134
I resolved the issue by adding these two lines to the HandlerFactory
[code]

where newly created `AnnotationDefHandler` is based on `MethodDefHandler` (instead of `ClassDefHandler`)

However `mvn clean verify` fails as `HandlerFactory` is not allowed to have more than **30** executable statements. Can this limit be changed? If not, should `MethodDefHandler` be edited somehow to include `Annotation

[2017-04-12 23:29] romani commented on #3763
@mkordas , just minimization of dependencies to thirdparty libraries for no reason in our project.
It is not idea for new Check :). Just desire to keep usage of classes under control and do not use smth fancy from thirdparty library is there is analog/similar class in jdk.

[2017-04-12 23:51] #4196 closed

[2017-04-12 23:52] romani commented on #4196
@vrozov , sorry, rules are equal for all.

[2017-04-13 00:48] romani commented on #3423
fix is merged

[2017-04-13 00:48] #3423 closed

[2017-04-13 01:10] romani commented on #3423
For some reason I failed to actually press merge from web.
Now PR is merged.

[2017-04-13 01:15] romani opened #4208 "Split and Organize Checkstyle inputs by Test for StaticVariableName"
subtask of #3891 .

do a copy of all test input files to separate folder for StaticVariableName .
Not any other Check should use new inputs.

[2017-04-13 01:19] romani commented on #4208
Preassigned to @AkshitaKukreja30

[2017-04-13 02:06] ps-sp commented on #4207
I am on it.

[2017-04-13 03:21] vrozov commented on #4196
@romani Sure, it is your product, the next time I will not even bother to report the problem.

[2017-04-13 06:04] AkshitaKukreja30 commented on #4208
I am on it.

[2017-04-13 08:22] Kietzmann commented on #3934
@romani
Looks like that previous contributor stopped the process of development. I observed that patch to config_whitespace.xml is outdated. @romani Could you please give me the latest information about this issue? Thanks.

[2017-04-13 09:27] lc-nyovchev commented on #2579
@romani yes, that'd be okay as well, and I think this option should by default include the above mentioned annotations from lombok as they are fairly widely used to my knowledge.

[2017-04-13 11:34] thetric opened #4211 "HTML report: show only classes with issues"
Currently the HTML reports are bloated with detail table entries for classes that do *not* have errors/warnings. It would be clearer if the report only displays issues (like in FindBugs).

[2017-04-13 13:19] romani commented on #4178
Yes, they treat lambda as anonymous class.
We need new mode to be introduced for Check to focus on  anonymous classes and lambdas.

[2017-04-13 16:54] romani commented on #3451
@timurt , please help us with this issue.
Issue is not certain , so it requires investigation in behavior first.
If "blacklist mode" is already possible, most likely we need to update documentation to make it clear.
if "blacklist mode" is not possible - please provide your ideas for design first on how to make it happen. Please do not code before approval of design.

[2017-04-13 16:55] romani commented on #3898
fix is merged

[2017-04-13 16:55] #3898 closed

[2017-04-13 18:31] romani commented on #4176
fix is merged.

[2017-04-13 18:31] #4176 closed

[2017-04-13 18:32] Shubhk15 commented on #4191
@romani Please verify the PR
Thanks.

[2017-04-13 20:57] romani commented on #4191
fix is merged

[2017-04-13 20:57] #4191 closed

[2017-04-13 21:37] rnveach commented on #3616
@romani According to front page banner, TeamCity is now passing.
This issue is finished then, right?

[2017-04-13 23:56] romani commented on #3616
Yes, let's close it, ones it because problem again we could do reopen or create new issue with new status of validation.

[2017-04-13 23:56] #3616 closed

[2017-04-13 23:57] romani commented on #4168
Fix is merged

[2017-04-13 23:57] #4168 closed

[2017-04-14 00:04] romani commented on #4211
Checkstyle does not provide HTML report .
You probably mean some plugin to some build system. Please open issue against that project.

[2017-04-14 00:04] #4211 closed

[2017-04-14 00:18] romani commented on #4196
We appreciate your feedback.
I could reopen your issue, but nobody will touch it as it unclear, so it is the same as no issue at all ( we already has bunch issue like this in backlog). I just share with you my experience for maintaining of this project for many years. As you report issue as requested you will notice that smb will catch it.

[2017-04-14 02:04] romani commented on #3934
Problem is the same, we need to move for punctuation to new line to minimize diff when new token is added.

[2017-04-14 02:34] vrozov commented on #4196
It is OK, you may keep the issue closed.  If you don't care about the bug in the project you maintain for years, I don't care either. IMO, the description of the bug is clear and provides an easy way to reproduce it (or at least try to reproduce). It took longer to discuss and close the issue than to try to reproduce it.

[2017-04-14 06:28] ps-sp commented on #4207
// The following statement causes the compiler to generate
            // the error "local variables referenced from a lambda expression
            // must be final or effectively final" in statement A:
            //
            // x = 99;

            Consumer<Integer> myConsumer = (y) ->
            {
                System.out.println("x = " + x); // Statement A
                System.out.pri

[2017-04-14 06:50] ps-sp commented on #4207
class foo {

         int x;

         void methodInFirstLevel(int x) {

             //There would be no compiler errors for the statement A
             //because the parameter x is effectively final.

             Consumer<Integer> myConsumer = (y) ->
             {
                 System.out.println("x = " + x);         // Statement A
                 System.out.println("y = " + y);

[2017-04-14 08:30] ps-sp commented on #4207
Also, **lambda expressions don't introduce a new level of scoping and hence don't have any shadowing issues**. All they can access is `final` or _effectively_ `final` local variables and members of the enclosing classes. Hence the user/programmer would/should take that into account and code in the exact way he wants to refer to the variables. Hence, `RequireThis` violations thrown for variables in

[2017-04-14 11:27] rnveach commented on #4207
Since it is a class field, yes, without a doubt.
This check probably shouldn't concern itself with if the variable is `final` (unless someone can provide a reason). Just is it a class field/method being referenced.

Purpose of check is to place `this` on class fields and methods. Yes, code will compile without it but it is about clearly showing the variable being referenced is not a local variable

[2017-04-14 12:16] rnveach opened #4216 "RequireThis: xdoc examples don't produce violations like shown"
Examples taken from http://checkstyle.sourceforge.net/config_coding.html#RequireThis .

https://github.com/checkstyle/checkstyle/blob/db64216a19b480855058d85f489d22fface4ff13/src/xdocs/config_coding.xml#L3472
[code]

https://github.com/checkstyle/checkstyle/blob/db64216a19b480855058d85f489d22fface4ff13/src/xdocs/config_coding.xml#L3522
[code]
Violation missing on line 7 for `field2 = 0;`.

https:/

[2017-04-15 09:53] mureinik opened #4219 "UnusedImports doesn't recognize imports shadowed by inner interfaces"
[code]
---------------

The included HellowWorld class has two `UnusedImports` violations - `java.util.List` and `java.util.Set`. The `java.util.List` violation is indeed reported, but the `java.util.Set` violation isn't, presumably because it's shadowed by the inner interface `Set`.
They should both be reported.

The same behavior was observed with Checkstyle 7.6.1 and 7.6, did not check earlier

[2017-04-15 10:01] mureinik commented on #4219
Fair disclosure: I stumbled across this issue while working on the [ovirt-engine](https://github.com/ovirt/ovirt-engine) (see [this patch](https://gerrit.ovirt.org/#/c/75565/) for details), and then created the aforementioned minimal reproducer in order to report the issue.

[2017-04-15 10:05] MEZk commented on #3607
@romani
Can you share your opinion b ased on https://github.com/checkstyle/checkstyle/issues/3607#issuecomment-293072266 and https://github.com/checkstyle/checkstyle/issues/3607#issuecomment-292790092 to allow us to continue https://github.com/checkstyle/checkstyle/pull/4152 ?

[2017-04-15 10:09] MEZk commented on #4207
@ps-sp

Yes, this is not an assignment.

Yes, this is an assignment.

[2017-04-15 20:09] subkrish opened #4220 "Split and Organize Checkstyle inputs by Test in the blocks package"
subtask of #3891

Move / Make a copy of all test input files to a separate folder for all checks in `blocks` package.
Not any other Check should use new inputs.

[2017-04-15 21:18] romani commented on #4219
@Shubhk15 , can you help us with this issue ?

[2017-04-15 21:32] rnveach commented on #4220
pre-assigned to @subkrish

1 test and it's inputs per PR for now

[2017-04-16 00:15] romani commented on #3048
fix is merged

[2017-04-16 00:15] #3048 closed

[2017-04-16 06:58] AkshitaKukreja30 commented on #4219
@romani It would be a bit hard but I'll try and see if there's a possible solution for this.

[2017-04-16 07:01] Shubhk15 commented on #4219
@romani It would be a bit hard but I'll try and see if there's a possible solution for this.

[2017-04-16 11:34] vanniktech opened #4222 "[Feature Request] - Baseline support"
I'd like to add Checkstyle to and old legacy project however the warnings and errors are in the thousands.

It would be handy if I could let Checkstyle run once, generate a baseline file and then only get new errors / warnings reported from Checkstyle.

[2017-04-16 13:25] gvsharma13 commented on #4151
Sir ,  is there time limit for this bug? Because it's my exam time. Can u extend ?

[2017-04-16 16:30] timurt commented on #3451
@romani Ok, first of all let me describe behaviour shortly.
1. What is not allowed explicitly - is disallowed by default.
2. We start checking from the closest package described inside config file, and moving towards the root.

I have found one way we can do this, but I am not sure is it logically correct
We always start checking allows and disallows in the current package, if there is not certain

[2017-04-16 17:17] romani commented on #3650
fix is merged.

if smt is left, it will be addressed during #3746 .

[2017-04-16 17:18] romani commented on #4128
this issue will be addressed during #3746 .

[2017-04-16 19:37] GabrielBercaru commented on #525
I have read the documentation of `ImportOrderCheck.java` and applied the configurations described there for formatting IntelliJ IDEA imports. I have tried to change the `CustomImportOrder` module inside `checkstyle_checks.xml` to match the default IntelliJ imports formatting.

I have added a new test case inside `CustomImportOrderCheckTest.java` (`public void testIntelliJ() throws Exception { /*..

[2017-04-16 20:01] romani commented on #4222
Checkstyle does not store state of previous validations.
You will be able to archive it by flexible AST based suppressions.

https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2017-Project-Ideas#project-name-flexible-suppression-model

We plan to make generator of suppressions for legacy projects.

Keep an eye on #102

[2017-04-16 20:01] #4222 closed

[2017-04-17 05:21] kuri-leo commented on #4169
Hi @pbludov ,
I've read the source code in past few days and now want to talk to you to make sure I have correct understading of your issue:
The output you expect is “**two errors: one for outer javadoc and one for inner javadoc**”, but right now **there was only one**.
If I misunderstood it, please tell me. then I can begin to debug.
Thanks!

[2017-04-17 12:20] robertpainsi commented on #4078
@sagar-shah94, @romani, @rnveach, tested it, works like a charm! Thank you very much! :kissing_heart:

[2017-04-17 12:25] sagar-shah94 commented on #4078
@robertpainsi Glad to know that.
Thanks .

[2017-04-17 17:15] romani commented on #525
@GabrielBercaru , result of you work should be:
1) new UTs for both Checks (with inputs that matching default IntelijIdea of certain version). Beware that IntelijIdea could change default behavior also, so you need to define on what IntelijIdea version you did configs.
2) update for xdoc examples to let users know how to make it as such configuration example is in demand by users.

[2017-04-17 17:46] romani commented on #3931
fix is merged

[2017-04-17 17:46] #3931 closed

[2017-04-17 17:55] romani commented on #3546
fix is merged, but it is only first part of fix.

**Attention!!!** User should NOT use this new token as it will produce number of false-positives.
This token will become use-able only after #4177  #4178 when we create new mode for RightCurlyCheck  to properly process anonymous classes and lambdas.

[2017-04-17 17:55] #3546 closed

[2017-04-17 18:06] romani commented on #4208
fix is merged

[2017-04-17 18:06] #4208 closed

[2017-04-17 18:42] MEZk commented on #4128
@romani
Should I close the issue?

[2017-04-17 18:55] rnveach commented on #4175
modifying `AbstractParenPadCheck`'s `processLeft` and `processRight` to notify of violations for possible unacceptable token parents comes up with the following list after running `ParenPadCheckTest`:
[code]

Small regression on CS revealed the following extra, unique tokens not seen above:
[code]

Full regression could still show more.

Since `TYPECAST` shows up, if it could be added to `ParenPad

[2017-04-17 20:15] MEZk commented on #4086
@rnveach
I read our discussion once again and finally agreed on the fact that your proposal makes sense, however, I think that we need to concentrate our discussion on the properties names.

**My proposal:**
Property name ```afterBrace``` , values: ```nl``` for mew line or```eol``` for end of line.
Property name ```beforeBrace``` , values: ```nl``` or ```?```. ```?``` means that I cannot find a go

[2017-04-18 00:35] romani commented on #4128
Let's keep it to make sure that whoever takes purest to resolve should confirm that all found cases by you are covered.

[2017-04-18 02:55] romani commented on #4216
@AkshitaKukreja30 , please help us with this issue.

[2017-04-18 02:56] pbludov commented on #4169
Hi @kuri-leo !

As  @rnveach noted, AbstractJavadocCheck#isCorrectJavadocPosition is too strict:

But the parser produces different tags for fields and annotation fields. That is the problem. The tag ANNOTATION_FIELD_DEF is missed in BlockCommentPosition.isOnField.
Or, may be there must be BlockCommentPosition.isOnAnnotationField method and isCorrectJavadocPosition should use it.

Some other cases

[2017-04-18 02:57] romani commented on #4151
you have 1 month to fix it, in your case till 15th May.

[2017-04-18 04:01] romani commented on #3607
lets consider solution without any extra dependency.

[2017-04-18 04:15] romani commented on #3547
@ps-sp , it is fine, we can always suppress violations if that is required and have good reason.
We already have bunch of such cases in code already.

[2017-04-18 05:01] ps-sp commented on #3547
@romani Still, have a look at the refactoring. Perhaps you may like it. Also it makes adding and subtracting to the check easier.

[2017-04-18 14:32] Luolc opened #4224 "FinalLocalVariable: case fall-through false positive"
Taken from https://github.com/checkstyle/checkstyle/pull/4115#discussion_r110142017

[code]

[code]

[code]

Expected: no violations.

[2017-04-18 14:41] Luolc opened #4225 "FinalLocalVariable: "throw" false negative"
Taken from https://github.com/checkstyle/checkstyle/pull/4115#discussion_r110134567

[code]

[code]

[code]

Expect: a violation at line 3.

[2017-04-18 14:46] Luolc opened #4226 "FinalLocalVariable: "return" false negative"
Taken from #4082

[code]

[code]

[code]

Expect: a violation at line 3.

[2017-04-18 14:57] Luolc opened #4228 "FinalLocalVariable: "break" in a loop false negative"
Taken from #4115

[code]

[code]

[code]

Expect: a violation at line 3.

[2017-04-18 19:54] rnveach commented on #4082
Fix is merged

[2017-04-18 19:54] #4082 closed

[2017-04-18 20:51] MEZk commented on #43
@romani
Can I try to reimplement the Check?

[2017-04-18 21:00] MEZk commented on #1517
@romani
Can I try?

[2017-04-18 21:00] MEZk commented on #1525
@romani
I'm on it

[2017-04-18 21:00] MEZk commented on #1571
@romani
I'm on it

[2017-04-18 21:06] MEZk commented on #2600
@romani
Is is still actual? Can I try ?

[2017-04-18 22:12] rnveach commented on #43
@MEZk I think this will be covered by GSoC if the project is picked, https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2017-Project-Ideas#project-name-coverage-of-documentation-comments-style-guide-and-performance-optimization-of-javadoc-parser

[2017-04-19 14:11] Kietzmann commented on #4062
@sabaka
Could you please approve this issue to pass my pull request by CI?
Thanks

[2017-04-19 14:15] rnveach commented on #4062
issue approved

[2017-04-19 15:08] ps-sp opened #4231 "RightCurly: Update logic for option ALONE and ALONE_OR_SINGLELINE to support handling METHOD_DEF and other such tokens without shouldStartLine"
$ cat RightCurlyTest.java

    public class RightCurlyTest {
        public class TestClass {
            int method(int a) {
        	    System.out.println(" "); return ++a; }   //line 4
        }
    }

     $ cat config.xml

     <?xml version="1.0"?>
     <!DOCTYPE module PUBLIC
              "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
              "http://www.puppycrawl.com/dtds/confi

[2017-04-19 15:14] ps-sp commented on #4059
@MEZk Isn't the `rightCurly` on line 5 belonging to METHOD_DEF ? The issue seems to have to do with the method `isAloneOnLine` rather than handling anonymous classes. Have a look at this issue #4231.

[2017-04-19 15:32] rnveach commented on #4107
Closing this as it was fixed in the mentioned PR

[2017-04-19 15:32] #4107 closed

[2017-04-19 18:17] rnveach commented on #4231
@ps-sp If you turn on `shouldStartLine`, a violation will show.

You are specifically telling it that the curly shouldn't start the line by turning the property off, so why should a violation still show?

[2017-04-19 18:41] ps-sp commented on #4231
@rnveach because option `Alone` says:

But it's not the only thing that's on line. Please correct me if I am interpreting it wrong

Also, as #4022 suggests, `shouldStartLine` needs to be taken off !

[2017-04-19 18:50] rnveach commented on #4231
@ps-sp until it is taken off and a better way is found, we should still obey what it's intended use is for.
yes, `option` is the main controller of the lines but I assume `shouldStartLine` was originally added to override `option` in some specific situation otherwise it has no use as `option` would always override it.

@romani @MEZk Your opinions?

[2017-04-19 19:13] ps-sp commented on #4231
@rnveach Yes, and to take `shouldStartLine` off perhaps the right way would be to fix method `isAloneOnLine` and that's what I was trying to point out. Perhaps that can be taken care of in issue 4022 itself or any of the issue blocking 4022 and this issue can be closed.

[2017-04-19 21:11] romani commented on #4175
@janiine , please help us with this issue.

[2017-04-19 21:15] janiine commented on #4175
I am on it

[2017-04-19 21:38] rnveach commented on #3566
After talking with @romani , we came up with the following,

I tried to clarify my posts, when I specify maven, I mean maven's run of the verify phase and ant task and not by using `maven-checkstyle-plugin`. `maven-checkstyle-plugin` currently uses it's own version of the CLI so it still processes ignored checks like our CLI.

By default, when CLI runs a check with the check's severity as `ignore`

[2017-04-20 01:51] romani commented on #4062
fix is merged

[2017-04-20 01:51] #4062 closed

[2017-04-20 01:52] romani commented on #4043
fix is merged.

[2017-04-20 01:52] #4043 closed

[2017-04-20 01:53] romani commented on #3933
fix is merged

[2017-04-20 01:53] #3933 closed

[2017-04-20 13:16] ps-sp commented on #4057
Rcurly of [this](https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/blocks/InputRightCurlyAloneOrSingleline.java#L108) double brace initialisation is considered ok ? But `ALONE_OR_SINGLELINE` should enforce `ALONE` or `SINGLELINE` and that `rightCurly` is neither _alone_ nor on the _sameline_ as the `leftCurly`. Why such exception ?

[2017-04-20 13:28] ps-sp commented on #4057
same goes for [this](https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/blocks/InputRightCurlyAloneOrSingleline.java#L110). If such behavior is desirable than shouldn't xdocs be updated for this ?

[2017-04-20 16:41] Vladlis commented on #3496
I am on it

[2017-04-21 10:44] romani commented on #3451
@timurt ,

confirmed, good summary, please do PR right now to update xdoc to explain users how it works now.
Please also explain user need for disallow tag - it is required to allow bigger package "java.util" and disallow "java.util.stream.Stream".

[2017-04-21 10:57] romani commented on #3358
@dhalperi ,

It should work, we allow bigger package ["java.util"](https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml#L13) and disallow ["java.util.stream.Stream"](https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml#L20) . See our internal config for more examples - https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml

[2017-04-21 11:40] romani commented on #3451
I like your idea ..... with minor correction.
Name of the property should be `strategyOnMismatch` with values `allowed`, `disallowed`, `delegateToParent`(should be default to keep compatibility) .

Rationale of your request is to "allow independent rules for subpackages". It will allow define completely isolated rules for special packages, for example:
- to certainly keep control of `api` package;

[2017-04-21 12:36] romani commented on #4159
fix is merged

[2017-04-21 12:36] #4159 closed

[2017-04-21 13:17] karolhor opened #4249 "IndentationCheck: Wrong indention in chained methods"
Hi, I have problems with indention level in chained methods.

/var/tmp $ javac CheckstyleExample.java

/var/tmp $ cat CheckstyleExample.java

[code]

/var/tmp $ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.6.1-all.jar -c config.xml CheckstyleExample.java

[code]

---------------

As I've mentioned in a comment in example, the align indention of right `)` is reported as incorrect, but

[2017-04-21 13:26] rnveach opened #4250 "Fix new TeamCity violations"
https://teamcity.jetbrains.com/viewLog.html?buildId=1048700&tab=Inspection&buildTypeId=Checkstyle_IdeaInspectionsPullRequest

Number of inspection warnings 192 is 192 more than the provided threshold 0

from logs:
[code]
but latest available to download is 2017.1.1 . So this is just another experiment on TC with Intellij version.

We have repeatedly kept getting these errors in new PRs, so they mu

[2017-04-21 13:59] Vladlis commented on #4250
We might need to reconsider our TC config. I'm not sure that we need to fix this for example:
`Loop can be collapsed with Stream API (Errors) (56)`

[2017-04-21 14:45] romani commented on #4250
Let's disable these rules TC for now, they will be restored and fixed during GSoC project

[2017-04-21 19:06] Shubhk15 commented on #4219
@romani I guess this is a general issue and not just a case with inner interface as marked in the documentation already. This is marked as a limitation of Unsused Imports.
![err](https://cloud.githubusercontent.com/assets/25566346/25292347/60ee8c58-26f3-11e7-9d7f-e8ea851c983d.png)
[http://checkstyle.sourceforge.net/config_imports.html#UnusedImports](url)

[2017-04-21 19:16] AkshitaKukreja30 commented on #4216
I'm on it.

[2017-04-22 00:23] romani commented on #3949
Fix is merged

[2017-04-22 00:23] #3949 closed

[2017-04-22 08:13] mureinik commented on #4219
@romani @Shubhk15 good point. I read that, but didn't "click" it was the same underlying issue. I guess this issue should be closed then?

[2017-04-22 13:16] romani commented on #4220
fix is merged

[2017-04-22 13:23] subkrish commented on #4220
The two remaining checks in this package have not been pushed yet, i.e. `NeedBracesCheckTest.java` and `RightCurlyCheckTest.java`.

[2017-04-22 18:30] romani commented on #4219
issue is still valid.

Import is referencing a type name. In limitation conflict is between Type name and variable name !!!
How it is even possible to compare different elements? It is very weird and not acceptable. Should be fixed.

In this issue almost the same problem: In imports we define type that should be used in types for variables. Matching another class name is NOT correct.

limitation w

[2017-04-22 18:38] romani commented on #2600
Issue is actual, but it will be addressed at https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2017-Project-Ideas#project-name-practice-what-you-preach

[2017-04-22 18:50] romani commented on #1517
@MEZk , I do not know what this issues about :)
Do you see a problem with code ? If yes, please clearly state  it.

[2017-04-22 18:54] romani commented on #1517
@MEZk , you are welcome, as you notice a solution - please discuss it with me before fixing it.
This is not obvious issue.

[2017-04-22 19:01] romani commented on #3566
@rnveach , please squash all that investigation/discussion to single clear description to let anybody catch it and know what to do.

[2017-04-22 19:07] romani commented on #4249
I am not sure what does this mean .... probably "no violation" . Please fix to make it clear.

[2017-04-22 19:12] romani commented on #43
@MEZk , reimplementation is part of GSoC project.
I am not sure if issue be fixed after reimplementation, this issue and reimplementation are two different issues.

[2017-04-22 20:01] MEZk commented on #4057
The exception to the general rule is to relax the validation policy for double brace map initializes. The following code example demonstrates that if we put ```}``` alone on the line, the code will become ugly.

[code]

The main idea of the issues is to reduce the influence of shouldStartLine property on the check's behavior so as to allow to remove the property easily.

[2017-04-22 20:23] Kietzmann opened #4267 "Broken test in master branch"
While running mvn test in master branch I'm receiving the next error:

Failed tests:
  EmptyBlockCheckTest.testAllowEmptyDefaultWithText:206->BaseCheckTestSupport.verify:191->BaseCheckTestSupport.verify:227->BaseCheckTestSupport.verify:258 error message 0 expected:<...utEmptyDefault.java:[11:13: Empty default block.]> but was:<...utEmptyDefault.java:[0: Got an exception - /home/dmytro/IdeaProjects

[2017-04-22 20:29] Shubhk15 commented on #4219
Sorry about that. I was going through the documentation and saw this so i thought it would be the same issue as when you change the interface name to something else in the above example provided in the issue then both the violations would be reported. So i thought it was an issue related to type name only.

[2017-04-22 20:35] rnveach commented on #1509
Fix is merged

[2017-04-22 20:35] #1509 closed

[2017-04-22 20:43] rnveach commented on #4267
@Kietzmann Please provide a PR for fix

[2017-04-22 20:52] Kietzmann commented on #4267
@rnveach
No, it was caused by @subkrish patch definitely.

[2017-04-22 21:12] MEZk commented on #4231
@rnveach @ps-sp
From my point of view there should be a violation in both cases (shouldStartLine = true and shouldStartLine = false). The option should not affect the behavior of the check. The title of the issue needs to be changed in order to state this fact. As we found one more case where shouldStartLine influences the check's behavior, I think that resolving of this issue will help us to deal

[2017-04-22 21:20] MEZk commented on #4059
@ps-sp

Yes.

Yes. However, the issue was found before #4231. UTs for #4231 should contain the test input from #4059.

@romani
I'm closing the issue in favor of #4231.

[2017-04-22 21:20] #4059 closed

[2017-04-22 21:45] rnveach commented on #4267
@Kietzmann Yes, his test modifications is the one that is causing the error, but the input file was created from mentioned commit. They were merged 24 hours apart and subkrish's original commit was made 3 days ago, 2 days before the mentioned commit was merged.
It looks like bad timing that they were working in similar areas and there were no conflicts to warn us during merge.

[2017-04-23 01:22] romani commented on #4219
it is ok, now we know that need to fix xdoc too.

[2017-04-23 01:41] romani commented on #4220
commit 2036e7a4abceddad23311f4fa4bc61460072756a is reverted from master as it caused build failure.
@subkrish , please rebase and send changes again.

[2017-04-23 01:42] romani commented on #4267
problematic commit was reverted , issue is reopened #4220 .

[2017-04-23 01:42] #4267 closed

[2017-04-23 05:19] ps-sp commented on #4231
@MEZk is this title okay ?

[2017-04-23 05:22] ps-sp commented on #4059
@MEZk yes I already had addded UTs from [4057](https://github.com/checkstyle/checkstyle/issues/4057)
, [4059](https://github.com/checkstyle/checkstyle/issues/4059) and from a comment in [3775](https://github.com/checkstyle/checkstyle/issues/3775)

[2017-04-23 05:33] timurt opened #4274 "ImportControl: strategyOnMismatch property"
Previous discussion https://github.com/checkstyle/checkstyle/issues/3451

For `import-control` tag we should use same `strategyOnMismatch` property with one exception, it can not have value `delegateToParent`. We need to make it clear in documentation and throw exception is Check see `delegateToParent` defined on `import-control` (if possible that should be enforced by DTD).

Example:

[code]

@ro

[2017-04-23 10:31] MEZk commented on #4231
@ps-sp
Lets keep the title similar to https://github.com/checkstyle/checkstyle/issues/4057 . Both issues blocks https://github.com/checkstyle/checkstyle/issues/4022 .

[2017-04-23 10:35] karolhor commented on #4249
@romani, I've changed description as you suggested: from "correct" to "no violation"

[2017-04-23 13:48] romani opened #4284 "ImportControl: unable to disallow static import"
http://checkstyle.sourceforge.net/config_imports.html#ImportControl

I failed to disallow `import static junit.framework` by ImportConrol by our config.
Intelllij inspection detected bad import usage - https://github.com/checkstyle/checkstyle/pull/4283/commits/a02397e19508caa4e4048373daae226195fcb64e#diff-737a741c85550b2b090c4d3605764679

I will provide strict issue description a bit later.

[2017-04-23 13:51] romani opened #4285 "ExplicitInitialization: missed violation in Main.java"
http://checkstyle.sourceforge.net/config_coding.html#ExplicitInitialization

test case - https://github.com/checkstyle/checkstyle/pull/4283/commits/a02397e19508caa4e4048373daae226195fcb64e#diff-9a559b3a3dac16c021e3a267a368c6bd

violation was reported by Intellij Inspectio, but not by our check.

I will reformat issue to required format a bit later.

[2017-04-23 13:57] romani commented on #4274
@timurt , issue is approved

[2017-04-23 14:13] romani commented on #4250
problem with rendering of 'Package naming convention (30)' is reported to TC support
https://teamcity-support.jetbrains.com/hc/en-us/requests/968250

[2017-04-23 14:34] rnveach commented on #4285
@romani
`ExplicitInitialization` is only for fields of a class.

`errorCounter` is a local variable and is ignored.

[2017-04-23 14:43] rnveach commented on #4284
@romani Going by our UTs, it is possible to disallow a static import.
https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/test/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportControlCheckTest.java#L93
https://github.com/checkstyle/checkstyle/blob/25a37e5049b7816b34c552899841a978efc37a63/src/test/resources/com/puppycrawl/tools/checkstyle/checks/impor

[2017-04-23 23:45] romani commented on #4250
fix is merged.
All fixes were done on IntellijIdea 2017.1.1 .

[2017-04-23 23:45] #4250 closed

[2017-04-24 00:28] romani commented on #4285
@rnveach , should we extend Check to cover local variables?

[2017-04-24 00:37] romani commented on #4284
@rnveach ,

it is far from obvious ....
if partly defined import works for simple imports the same should be applicable for statics.

If there is a nuance .... during this issue we need to update xdoc to clearly explain behavior.

Do you agree ?

[2017-04-24 02:23] rnveach commented on #4284
@romani I agree and stated that is was not obvious until I saw the UT in my post.

[2017-04-24 02:31] rnveach commented on #4285
@romani I don't think we can do this.

Example code:
[code]

If we extend this to local variables, we could never set these type of variables to their initial position, like example above shows. Removing `= 0` to the example above will not compile and lead to the error `The local variable counter may not have been initialized`.
Class fields are special and are always initialized, which is what lea

[2017-04-25 15:24] ps-sp commented on #4249
I am on it.

[2017-04-25 16:08] cushon opened #4294 "Google Style: Incorrect ParenPad warning"
http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad

The Google Java Style Guide requires a space after `;` [1], so the following warning is incorrect.

[1] https://google.github.io/styleguide/javaguide.html#s4.6.2-horizontal-whitespace

[code]

[code]

[2017-04-25 23:10] romani opened #4297 "TeamCity bulids are failing"
Reported: https://teamcity-support.jetbrains.com/hc/en-us/requests/970719
waiting for reply ....

[2017-04-25 23:13] romani commented on #4080
fix is merged

[2017-04-25 23:13] #4080 closed

[2017-04-26 08:47] Fengcoder commented on #3552
在buildscipt  里面的 dependencies 中添加   classpath 'com.puppycrawl.tools:checkstyle:7.1.2'  ,  classpath 就不会为null

[2017-04-26 13:13] romani commented on #4297
[code]

[2017-04-26 13:13] #4297 closed

[2017-04-26 21:59] rnveach commented on #3951
fix is merged

[2017-04-26 21:59] #3951 closed

[2017-04-27 00:51] rnveach commented on #3566
@romani I squashed all posts into 2 posts.
1st contains issue and what is to be done.
2nd contains analysis to re-produce issue.

[2017-04-27 19:23] romani commented on #4141
fix is merged

[2017-04-27 19:23] #4141 closed

[2017-04-27 19:27] romani commented on #4285
ok, issue is closed

[2017-04-27 19:27] #4285 closed

[2017-04-27 19:28] romani commented on #4137
fix is merged

[2017-04-27 19:28] #4137 closed

[2017-04-28 14:59] Kietzmann commented on #4220
@romani
Seems that this issue should be closed due to complete

[2017-04-28 15:05] rnveach commented on #4220
Agree, I see no inputs left in base folder.
Closing as done.

[2017-04-28 15:05] #4220 closed

[2017-04-28 16:01] Kietzmann commented on #4136
@rnveach
Seems that this issue should be closed due to complete as previous one I mentioned

[2017-04-28 16:40] romani commented on #56
fix is merged.
Thanks a lot @kazachka for such huge contribution !

[2017-04-28 16:40] #56 closed

[2017-04-28 17:01] rnveach commented on #4136
Agree, closed

[2017-04-28 17:01] #4136 closed

[2017-04-28 22:07] romani commented on #929
@samuel-gu , are going to continue ? If you do not have time now please let us know we could give this issue to smb else

[2017-04-28 22:20] romani commented on #3219
@kazachka , please help us this this issue. previous assignments are not valid as there were no actions for more than month

[2017-04-28 22:32] samuel-gu commented on #929
I was planning of finishing it after finals week. I guess I don't have time now

[2017-04-29 00:44] romani commented on #929
@samuel-gu , please define dates when you plan to continue, not let us know till what time keep this on you.

[2017-04-29 14:25] rnveach commented on #4142
fix was merged

[2017-04-29 14:25] #4142 closed

[2017-04-29 15:49] romani commented on #3312
Fix is merged

[2017-04-29 15:49] #3312 closed

[2017-04-30 14:21] Shubhk15 commented on #4219
@romani This issue exist while using inner class/nested class also in a similar way as inner interface. Should that be resolved too?

[2017-04-30 18:32] romani commented on #2399
fix is merged

[2017-04-30 18:32] #2399 closed

[2017-04-30 18:49] romani commented on #4219
@Shubhk15 , yes.

[2017-05-01 14:21] rnveach commented on #1571
Fix is merged.

[2017-05-01 14:21] #1571 closed

[2017-05-01 19:00] rnveach commented on #4158
Fix is merged

[2017-05-01 19:00] #4158 closed

[2017-05-01 19:03] rnveach commented on #4151
Fix is merged

[2017-05-01 19:03] #4151 closed

[2017-05-01 19:29] Kietzmann commented on #4165
@izishared @romani
Can I help with classes that are left?

[2017-05-01 19:32] Kietzmann commented on #3891
@rnveach @romani
Could you please specify which packages(classes) left to move their resources?
Thanks

[2017-05-01 19:38] Kietzmann commented on #3666
@romani
I can't see that method (`setFile[nN]ame`?) in `FileContents.java`. Does this issue was resolved?

[2017-05-01 20:09] romani commented on #3666
@Kietzmann , please do not touch issue with label "chekstyle8" we are in 7.X release.

[2017-05-01 20:10] romani commented on #4165
if smth is left in this package please be welcome to let us close this issue

[2017-05-01 20:12] romani commented on #3891
@Kietzmann , before sending PR, please run "mvn verify" on your local it will economize you bunch of time.

[2017-05-01 20:25] romani commented on #3891
@Kietzmann , thanks a lot for desire to help
while I am thinking how to answer on your question, please help us to finish following PRs and close related issues:
#3984
#3971
#3947

I closed them only by timeout, as authors are not responding for long time.

[2017-05-01 20:33] romani commented on #3601
PRs is closed as we lost connection with contributor, any contributor could continue this work to make it done.
Last referenced commit could be considered as starting point for right fix.

[2017-05-01 20:59] Kietzmann commented on #3891
@romani
Seems that I fixed issue described in PR #4068 and issue #4043

[2017-05-01 21:05] romani commented on #3449
fix is merged

[2017-05-01 21:05] #3449 closed

[2017-05-01 21:08] Kietzmann commented on #4165
@romani
Seems that the latest PR related to this issue from izishared that you approved will done with classes left.

[2017-05-01 22:08] romani commented on #3891
@Kietzmann ,

confirmed, thanks a lot.

Criterias to find what is not done:
1)
Checks that are not covered could be found by simple pattern (taken form ArrayTypeStyleCheckTest)
[code]

but required form is
`return super.getPath("checks" + File.separator + "somecheckname"+ File.separator + filename);`

the same is true for nonCheck - modules.

2)
There should be no input files that are located in n

[2017-05-01 22:14] baihui212 opened #4307 "import checkstyle error The Checkstyle rules file could not be parsed."
When I import into IDEA, it failed:

org.infernus.idea.checkstyle.exception.CheckStylePluginException: <html><b>The Checkstyle rules file could not be parsed.</b><br>cannot initialize module TreeWalker - Token "METHOD_REF" was not found in Acceptable tokens list in check com.puppycrawl.tools.checkstyle.checks.whitespace.SeparatorWrapCheck<br>The file has been blacklisted for 60s.</html>
	at org.in

[2017-05-01 22:23] romani commented on #4183
closed as duplicate of #4172

[2017-05-01 22:23] #4183 closed

[2017-05-01 22:27] romani commented on #4307
@baihui212 ,

what you imported ? Where , Versions, ......

------------------

please follow format of issue described at https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md
if you can not make it - you are not ready to report an issue and your issue  will be closed as incomplete

[2017-05-01 22:37] romani commented on #3752
@kazachka , it would be awesome if you help us to resolve this issue, this is on from two issues that blocks us before new checkstyle8 release.

[2017-05-01 22:38] romani commented on #3775
@MEZk , as blocker issue is marked as checkstyle8 , this issue become checkstyle8 too.
I am unassigning you from this issue for now.

[2017-05-02 01:37] rnveach commented on #4165
@Kietzmann That PR only covered one test. Atleast IllegalThrowsCheck is not done. I don't know if there are others.
https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/coding/IllegalThrowsCheckTest.java#L38

[2017-05-02 02:44] pbludov commented on #3923
I think it is more complicated than "empty_line" or "no_empty_line". The coding style of our team requires one blank line after '{' and no empty line before '}'. Like this:
[code]

[2017-05-02 02:58] rnveach commented on #4172
fix is merged

[2017-05-02 02:58] #4172 closed

[2017-05-02 05:41] samuel-gu commented on #929
Saturday, May 6th

[2017-05-02 10:20] Kietzmann opened #4313 "Split and Organize Checkstyle inputs by Test for checks in annotation package"
subtask of #3891

move / do a copy of all test input files to a separate folder for all checks in `annotation` package.
Not any other Check should use new inputs.

[2017-05-02 10:22] Kietzmann opened #4314 "Split and Organize Checkstyle inputs by Test for checks in design package"
subtask of #3891

move / do a copy of all test input files to a separate folder for all checks in `design` package.
Not any other Check should use new inputs.

[2017-05-02 16:51] #4307 closed

[2017-05-02 16:59] romani opened #4316 "Localized UTs are not stable on Travis"
The same for master and PR builds

Failured as:
[code]
another example - https://travis-ci.org/checkstyle/checkstyle/jobs/228125793#L829

I tried to reproduce this on my local ubunutu - but it works fine for about 700 launches
command was:
`$ time while mvn clean integration-test failsafe:verify -DargLine='-Duser.language=fi -Duser.country=FI'; do :; done`

so might be related to Travis versions o

[2017-05-02 18:17] romani commented on #4294
pre-assigned to @soon

[2017-05-02 20:33] MEZk commented on #4086
After private discussion with @rnveach we both agreed that ```afterBrace``` and ``beforeBrace``` may be considered as a good names for the new options. However, we did not agree on the possible option values. I suggested the following names:

```beforeBrace```: NL, NONL;
```afterBrace```:  NL, NONL,

where NL - new line, NONL - no new line.

In my opinion, the existing option values (ALONE, SAME,

[2017-05-02 23:28] romani commented on #3219
issue is resolved already:
[code]

[2017-05-02 23:28] #3219 closed

[2017-05-02 23:35] rnveach commented on #3219
The problem was fixed in 6.19.

[code]

[2017-05-02 23:38] rnveach commented on #3219
@romani Are you sure this issue is done?
You commented above you don't want it to be displayed as an exception because it would scare users.

https://github.com/checkstyle/checkstyle/issues/3219#issuecomment-222358834

https://github.com/checkstyle/checkstyle/issues/3219#issuecomment-283192570

[2017-05-02 23:44] romani commented on #3219
@rnveach , good point

but we do stacktrace for java grammar error, so for consistency it will be better to print whole stake trace:
[code]

[2017-05-02 23:56] romani commented on #4316
@rnveach , for FYI , I reverted recent version bump for testing in master

[2017-05-03 03:04] soon commented on #4294
I am on it

[2017-05-03 16:26] lordozb commented on #3219
And I went on pulling my hair out for finding the bug.

On 3 May 2017 05:14, "Roman Ivanov" <notifications@github.com> wrote:

[2017-05-03 18:13] romani opened #4329 "Wercker CI is unstable while cloning repositories"
reported to wercker support, no actions from them.

Wercker is periodically failing , and we can not relaunch CI bdue to another issue on wercker that is confirmed and reproduced by them and will be fixed some day.
[code]

[code]

[2017-05-03 18:14] romani commented on #4329
usage of IP does not work ....
[code]

[2017-05-04 01:07] rnveach commented on #4329
Fix was merged, I will leave this issue open for now to verify this solves the issue

[2017-05-04 16:03] rnveach commented on #4316
Issue still happens on merge with master: https://travis-ci.org/checkstyle/checkstyle/jobs/228744792#L820
It also happened on non-UT jobs (test and coverage): https://travis-ci.org/checkstyle/checkstyle/jobs/228744780#L821

[2017-05-04 19:42] romani commented on #4316
If issue is not related to version bump, we should upgrade to most recent, run as "mvn -X ...." And share logs with Apache team for advise

[2017-05-04 20:04] rnveach commented on #4314
@Kietzmann 3 input files remain in package.
https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/design
Can they be removed or moved to their specific sub-folder?

[2017-05-04 21:46] romani commented on #4074
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/NewlineAtEndOfFileCheck.java#L59 is Fileset Check so could be launched on any file type.
So all before required symbol is not our business.
But some people might not care, probably majority.
So we need make new option that will recheck no end of line  control characters before symbol.

@rnveac

[2017-05-04 23:24] rnveach commented on #4074
So if I configure the check to have files end with `\n` and the file has `\n\n\n` at the end, this will be a violation? or will it check for every variation except the one in use?

[2017-05-04 23:26] HSerg opened #4338 "ImportOrder: make imports ordering as in Eclipse"
[code]

[code]
[code]
[code]

Expected: no violations for Eclipse users.

Relates to https://github.com/checkstyle/checkstyle/issues/3101

[2017-05-05 18:59] romani commented on #4338
@HSerg , what version (exact version is required) of eclipse do you use ?

[2017-05-05 19:32] romani commented on #4074
My previous request for new option was bad idea, if new line is requested to be last it mean that previous was also a line that have its end.
Cases where user use checkstyle not on text files we are not considering a correct usage of checkstyle - we will not support this.

So what we have:
[code]

Lets see possible use-cases:
[code]

Problem is that in Check we do read last 1 or 2 chracters only,

[2017-05-05 19:42] HSerg commented on #4338
Neon.3 Release (4.6.3)

[2017-05-05 20:05] romani commented on #4338
@HSerg , why you think Eclipse is right in his sorting ?
"lombok.e..." should be before "lombok.v..."

[2017-05-05 20:32] HSerg commented on #4338
Eclipse style sorting order - compare package names, then class names. See [ImportOrderCheck.compareContainerOrder()](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java#L565)
"lombok" should be before "lombok.experimental".

[2017-05-06 02:06] romani commented on #4338
Issue is approved, but investigation need to be done on "Container ordering".... is it only Eclipse mode of sorting? I am not remember why we did this ordering only for statics few years ago.....

We use that type of sorting for statics now only, probably we need new property to do this for other imports. Special attention should be done on documentation of this new feature.

[2017-05-06 11:31] soon commented on #4294
The `ParenPad` check now contains only `option` parameter, which could be either `SPACE` or `NOSPACE`. I want to add another option like `spaceAfterSemicolon` (or a list of tokens, which should be followed with a space), which will force a user to put a space between a semicolon and a right parenthesis.

Is it acceptable, or there is another solution?

[2017-05-06 20:52] rnveach commented on #4314
fixes have been merged

[2017-05-06 20:52] #4314 closed

[2017-05-06 21:36] rnveach commented on #4316
This one failed on code coverage and didn't end with `ConfigurationLoaderTest` but with `AllChecksTest`.
https://travis-ci.org/checkstyle/checkstyle/jobs/229463744#L915

[2017-05-07 01:31] romani commented on #4316
still a problem...
[code]

[2017-05-07 13:41] romani commented on #4294
AST tree:
[code]

ParenPad is used in default mode in config - https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml#L177

http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad
default tokens are LITERAL_FOR and RESOURCE_SPECIFICATION.

@soon , Why we violation only on  RESOURCE_SPECIFICATION ?

[2017-05-07 13:50] soon commented on #4294
@romani The ParenPad does not check right parenthesis in the for loop if the iterator part is empty (https://github.com/checkstyle/checkstyle/blob/888f258e2b14637cd7447dc4dbecc1c96d711109/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/ParenPadCheck.java#L171). The javadoc refers to the EmptyForIteratorPad check (https://github.com/checkstyle/checkstyle/blob/ce21086e087661553f3a774

[2017-05-07 18:21] romani commented on #4294
ParenPad Check is not able to cover specific nuances language constructions with delimiters inside and optional parts.
Unfortunately in try-with-resources, it is only one part, last separation by ";"  is not required so user can put it or skip it..... that is why we have a problem here.

@cushon , what is a reason to keep extra `;` in `try` ?

[2017-05-07 18:38] romani commented on #4294
Looks like we have two ways to resolve nuance:
1) create special Check that will cover all nuances of try-with-resources as we already have for FOR structure.
2) some changes in ParenPad  ..... let me think

[2017-05-07 21:51] romani commented on #3348
fix is merged, new token was added to getAcceptableTokens

[2017-05-07 21:51] #3348 closed

[2017-05-07 21:55] romani commented on #3950
fix is merged, new token was added to getAcceptableTokens

[2017-05-07 21:55] #3950 closed

[2017-05-07 23:59] romani opened #4341 "publish all dtd schemas to sourceforge site automatically"
base on results #1571

we need find a way to copy dtd files to `target/site` folder during `mvn site -Pno-validations` command.
Right now dtd files were copied by me manually ones before #1571 is merged, so we already have kind of outdated dtd files of our static website.

[2017-05-08 16:12] gayanW commented on #2398
Issue still persist in 2.17.

Repoduce:
See: https://github.com/openmrs/openmrs-module-coreapps/blob/3b67555d587960e0d0161b40bce53d8bbec4aae1/api/src/main/java/org/openmrs/module/coreapps/CoreAppsActivator.java#L44

Processing this fails.

[2017-05-08 16:52] rnveach commented on #2398
@gayanW I'm not sure what version you are referring to. We are in version 7.7 and I get the violation `Expected an @return tag` when running it against the code and no exception.
[code]

[2017-05-09 03:24] romani opened #4342 "upgrade maven-pmd-plugin to version 3.8"
after upgrade we have  these violations:
[code]

[2017-05-10 19:46] rnveach commented on #4313
https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/annotation

`InputAnnotationLocation2.java` is still left.

[2017-05-11 10:43] rnveach commented on #4313
Fixes have been merged

[2017-05-11 10:43] #4313 closed

[2017-05-11 10:55] Kietzmann commented on #4342
Can I modify the pmd's config or only the sources?

[2017-05-12 01:50] rnveach commented on #3496
It looks like only 2 packages are left, coding and indentation.
https://github.com/checkstyle/checkstyle/blob/396a285549e89f618bab45b987c350dd1326379c/config/suppressions.xml#L95

[2017-05-12 04:28] romani commented on #4342
@Kietzmann , I like your activity .... but please pay attention to Project assignment, Projects will be used for GSoC issues.
This issue is part of GSoC 2017 project.

[2017-05-12 04:36] romani commented on #4216
@wate123 , please help us with this issue.

[2017-05-12 05:32] Kietzmann commented on #4342
@romani
Could you please add labels when creating issue? It will save a great amount of wasted time for contributors.
Thanks

[2017-05-12 08:49] Vladlis commented on #3496
@rnveach
Yes, sorry, I forgot to comment, that I've stopped working on this issue as it will be resolved during GSoC.

Also PMD's OnlyOneReturn rule gives a lot more violations, so investigation is required on why our does not find these violations too.

[2017-05-12 12:21] romani commented on #4342
label will be used.
@Kietzmann , if you started to do smth - you can send a PR. But please no more changes.

[2017-05-12 12:35] romani commented on #3496
issue is assigned to GSoC project, label is provided.

[2017-05-12 12:37] rnveach commented on #3496
From another suppression,
https://github.com/checkstyle/checkstyle/blob/396a285549e89f618bab45b987c350dd1326379c/config/suppressions.xml#L87
and from check's default suppression:
https://github.com/checkstyle/checkstyle/blob/396a285549e89f618bab45b987c350dd1326379c/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/ReturnCountCheck.java#L66

[2017-05-12 17:41] blerner opened #4349 "Javadoc parser: Package names should permit digits in their name"
Per the JLS, https://docs.oracle.com/javase/specs/jls/se8/html/jls-7.html#jls-7.4.1, package names are permitted to be any sequence of identifiers.  But JavadocParser.g4 (https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/com/puppycrawl/tools/checkstyle/grammars/javadoc/JavadocParser.g4#L907) specifies that package references use `PACKAGE` names as their leading tokens, which

[2017-05-12 19:04] rnveach opened #4350 "Expand exception violation when haltOnException is off"
http://rveach.no-ip.org/checkstyle/regression/reports/44/apache-ant/index.html#A4

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Checker.java#L330

[code]

Violation message isn't very clear on what the underlying issue is. We don't know what class got the exception or what method. Regression was done on multiple files and checks. It would be ve

[2017-05-13 15:09] MEZk commented on #4338
@romani

There was [the reported bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=473629) in Eclipse which  referred to static imports only. We decided to implement that feature only for static imports as was requested and did not touch unrelated check's logic.

[2017-05-13 15:41] MEZk commented on #4341
@romani
Judging by the Maven Site Plugin documentation it is not possible to download additional content to SourceForge by the plugin. One of the possible solutions can be [Exec Maven Plugin](http://www.mojohaus.org/exec-maven-plugin/index.html). The plugin can execute a shell command or script which will upload dtd schemes to SourceForge. The script invocation can be assigned to site phase.

[2017-05-13 19:31] romani commented on #4316
still a problem ..... looks like it is related to  ConfigurationLoaderTest as it always in logs .... I will try to disable it for some time as experiment.
[code]

[2017-05-13 20:02] romani opened #4352 "codeship: provide ability to skip CI executions base on commit files"
continuation of #3818 .

we need to extend build script to skip CI execution if non-related files are changed only.
wercker , travis, distelli, shippable are already updated.

codeship just run https://github.com/checkstyle/checkstyle/blob/master/.ci/run-link-check-plugin.sh file.
So he need to be updated with same logic as we did at #3818 .

[2017-05-13 22:40] romani opened #4353 "refactoring: remove 'final' modifier from all arguments of method/c-tor at ImportControlCheck and around"
problem was found at https://github.com/checkstyle/checkstyle/pull/4282#discussion_r116366595

New code added a lot of unnecessary `final` in parameters of methods and constructors.
We have a guard Check that catch reusage of argument, so this finals in these areas just make code verbose.
We should remove all `final` in parameters for these areas.

Fix should be done after PR #4282 is merged.

[2017-05-13 22:45] romani commented on #4338
One more point why we missed it, and never run into it before.
We never worked with sources that have classes named from lower character `lombok.val` :) .

[2017-05-13 22:48] romani commented on #4341
@MEZk , you missed a point.
whole site is prepared in `target/site`. All we have to do is to put our files to `target/site/dtds` folder on local, all other will be done by maven site during deploy phase.

[2017-05-13 22:59] romani commented on #4350
@rnveach , it is better to update description to reproduce this problem in CLI, I do believe result will be the same.

------------------------

format of message is `ex.getClass().getName() + ": " + ex.getMessage()`

from your report:
`Got an exception - java.lang.ArrayIndexOutOfBoundsException: 586`

586 is exception message ?? interesting case

`Got an exception - java.lang.NullPointerException

[2017-05-14 00:22] wate123 commented on #4216
I need some hint. what's the TestConfig.xml and TestClass.java come from?

[2017-05-14 02:33] rnveach commented on #3451
Fix is merged

[2017-05-14 02:33] #3451 closed

[2017-05-14 14:03] rnveach commented on #4350
I updated it for the NullPointerException. I have been unable to track down the out of bounds exception right now.

Both are right. `null` will probably be the most common message for exceptions.

Yes, this makes sense. This will be the most ideal for us in our regression reports.

[2017-05-14 18:44] MEZk commented on #1525
@romani

Config
[code]

Reports https://mezk.github.io/i1525-BooleanExpressionComplexity/diff/

Reports show that the above mentioned code is not a common pattern, but exists in the code base of the really big projects such as OpenJDK8, Spring, Struts.

[2017-05-15 04:53] sabaka opened #4354 "Do investigation where to put parallelization in checkstyle"
Measure how much time do we spend on checkstyle phases which potentially can be parallelized.

According to plan we have 3 potential places:
1) Parsing to AST (the most time consuming process)
2) Launching several “Checkstyles” base on pool of AST
3) Launching each visitToken in separate “thread” if Check is completely stateless and this is where light treads will be in demand (probably does not m

[2017-05-15 05:00] wate123 commented on #4216
what are the TestConfig.xml TestClass.java come from? please tell how can I get the result?

[2017-05-15 10:41] rnveach commented on #4216
@wate123 They are nothing more than files that hold the information from the xdocs to show that the examples with the configurations given do not produce violations like they said they should. They could have been named anything, I just happen to use those names.
[We request all issues reported be reproducible by the CLI](http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug), wh

[2017-05-15 10:42] PashaTurok opened #4355 "SuppressionCommentFilter is ignored"
My java class:
[code]
My checkstyle config:
[code]
I do: java -jar checkstyle-7.7-all.jar -c config.xml Test.java
[code]
I expect that magic number errors will be suppressed. However, I see them so filter doesn't work.

[2017-05-15 10:51] rnveach commented on #4355
http://checkstyle.sourceforge.net/config_filters.html#SuppressionCommentFilter

You are missing the `FileContentsHolder`.

[2017-05-15 10:57] PashaTurok commented on #4355
@rnveach Yes, it helped. Thank you very much.

[2017-05-15 11:08] #4355 closed

[2017-05-15 11:41] PashaTurok opened #4356 "Check one line empty before tags in javadoc"
Oracle (in JDK they use it) suggests to insert one empty line in javadoc before tags (param, return etc) see http://www.oracle.com/technetwork/articles/java/index-137868.html. For example like this,

[code]
So I suggest to add to checkstyle such rule.

[2017-05-15 11:53] Vladlis commented on #4356
@romani @rnveach
Should this be a separate check? Something like JavadocEmptyLineSeparator?

[2017-05-15 12:11] rnveach commented on #4356
@Vladlis The document he linked to is the one romani specified in the GSoC document.
https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2017-Project-Ideas#project-name-coverage-of-documentation-comments-style-guide-and-performance-optimization-of-javadoc-parser
So it seems to me this will happen in terms of GSoC.

[2017-05-15 12:34] Vladlis commented on #4165
One file in non-compilable resources is missed: https://github.com/checkstyle/checkstyle/tree/master/src/test/resources-noncompilable/com/puppycrawl/tools/checkstyle/checks/coding

[2017-05-15 12:41] Kietzmann commented on #4165
@Vladlis
I'll try to do it ASAP

[2017-05-15 18:49] PashaTurok opened #4357 "DesignForExtension and javadoc comment"
According to documentation here http://checkstyle.sourceforge.net/config_design.html#DesignForExtension

However, is not clear what javadoc comment such method must contain. When I start my javadoc with "This implementation ..." this check any way gives error.

[2017-05-15 18:55] rnveach commented on #4357
@PashaTurok
Please report problem like http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug so we can help you with your issue.

[2017-05-15 19:18] PashaTurok commented on #4357
@rnveach Sorry my fault. I used old version of checkstyle.

[2017-05-15 19:25] MEZk commented on #4357
@romani
As long as I remember we wanted to extend the check and give the user an ability to specify the start part of the comment message.

[2017-05-15 19:31] PashaTurok commented on #4357
I use checkstyle only few days (very little experience) and I have to use two version at the same time. Because version 5.6 in in Netbeans 8.1 plugin and version 7.7 is used in maven plugin.

But it seems to me that with version 7.7 there is no logic. Because if there is a javadoc (with any contents) then, as I understand, check doesn't give error. I think that for disabling **this** error there m

[2017-05-15 23:28] romani commented on #4357
issue is not reported properly and result is mess . Issue is closed.

[2017-05-15 23:28] #4357 closed

[2017-05-15 23:29] romani commented on #4355
@PashaTurok , please use our mail-list for QnA.

[2017-05-15 23:35] romani commented on #1525
@MEZk , you just found cases where number is bigger than 7, some cases are combination of very different sub-expressions, such cases should continue to be a violation.

But yes, from this report we could see real code which Check should address, starting point for us to analyse problem a bit dipper.

[2017-05-16 07:14] PashaTurok opened #4358 "DesignForExtension: Special comment"
http://checkstyle.sourceforge.net/config_design.html#DesignForExtension

This is Test.java:

[code]
This is checkstyle.xml;
[code]
This is command line:
`java -jar checkstyle-7.7-all.jar -c checkstyle.xml Test.java`

This is output:

As you see the only thing that is necessary to do to suppress this check is to add **any** comment. I think that is not logical, because if javadoc checks are used th

[2017-05-16 12:53] romani commented on #4358
Yes, during testing of this Check new implementation we run into this. We used simple approach (any javadoc) only to simplify upgrade from old implementation to new.
But user do need to control excuse comment content by special new property , I propose `requiredJavadocPhrase`.
To avoid usage of javadoc parser (that will result in perfomance problems) we could convert javadoc to single line string(

[2017-05-16 13:34] Kietzmann commented on #4165
@Vladlis
#4359

[2017-05-16 14:12] romani commented on #4165
@Vladlis , was it last change for this issue ?

[2017-05-16 15:27] Vladlis commented on #4165
@romani
No. I've found 2 files with inappropriate names:
https://github.com/checkstyle/checkstyle/blob/master/src/test/resources-noncompilable/com/puppycrawl/tools/checkstyle/checks/coding/packagedeclaration/InputNoPackage.java
https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/coding/magicnumber/InputIntMethodAnnotation.java
 @Kietzmann

[2017-05-16 15:46] soon commented on #4354
Initial measurements based on guava project:

- Stats: [GDocs](https://docs.google.com/spreadsheets/d/141Z96uYmGayp8O8zAj5XFuVZs2FFJnjxjCP1KuwsYj0/edit?usp=sharing)
- Branch: [github](https://github.com/soon/checkstyle/commit/07208a5fa25d7517a4576de603216a6cd15b2ea9). Dev version only, does not pass `verify`. Build as `mvn -Passembly package` and then run as usual via `java -cp checkstyle-7.8-SNAP

[2017-05-16 16:24] Kietzmann commented on #4165
@Vladlis
Fixed in #4360

[2017-05-16 16:52] rnveach commented on #4354
@soon One problem with your measurements is 'walk comments'.
You aplit apart 'ast' and 'normal walk', but 'walk comments' is a combination of 'walk with comments' and 'javadoc ast'. This is most likely why 'walk' is normally green and yellow, and 'walk comments' is all over the place in colors.
If you accounted for javadoc ast, I expect both walks to be the same.

Some other things I questions:
Is

[2017-05-16 19:32] MEZk commented on #1525
The original problem was found in https://github.com/checkstyle/checkstyle/pull/1468 when we set 'max' property of BooleanExpressionComplexity check to 7. So I decided to do the same and analyze the login in return statements.

These cases show that the above mentioned code pattern can be found in the real projects. The examples are a food for thought.
1) [example 1](https://mezk.github.io/i1525-B

[2017-05-16 19:57] sharang108 commented on #4353
I want to contribute, but I don't know where to begin after pulling the source code.

[2017-05-16 20:03] MEZk commented on #4353
@sharang108
See http://checkstyle.sourceforge.net/contributing.html

[2017-05-16 20:44] MEZk commented on #4341
As I see it, dtds schemes should stay in resources folder. As far as I know, mvn-site plugin cannot move external files to site folder. How can we move dtds from resource folder to site? We cannot just copy-paste them and support two copies which must be identical.

[2017-05-16 21:44] rnveach commented on #4165
@Vladlis we good now?

[2017-05-16 23:17] romani commented on #4341
I do not know solution, any proposals are welcome.

[2017-05-17 07:27] sharang108 commented on #4353
How can I contribute without using IDEs?

[2017-05-17 07:42] jochenvdv commented on #2935
Just as a reminder: I have not forgotten about this and will be finishing this somewhere in the coming weeks.

[2017-05-17 07:50] jochenvdv commented on #4284
This is something I stumbled upon and sort of documented (#3821), but only regarding static inner classes. It seems that this issue pertains to static imports in general and the documentation should reflect this.

[2017-05-17 08:06] jochenvdv commented on #4353
These steps can be applied to any text editor or IDE:

1. Fork the repository
2. Create and switch to a new branch for your fixes
3. Implement your changes using an editor of choice
3. Run tests and code analysis using `mvn clean verify`
4. Commit and push your fixes to your fork
5. View your forked repo on GitHub and create a PR against the original Checkstyle master branch, make sure to adhere t

[2017-05-17 08:19] Vladlis commented on #4165
@rnveach, yes, all inputs seem to be moved in appropriate packages and properly renamed.

@Kietzmann, thanks!

[2017-05-17 08:19] #4165 closed

[2017-05-17 13:55] Vladlis commented on #4354
@soon, when you provide some measurements please also share with us a brief analysis.

Just a thought: doesn't usage of existing checks provide additional inaccuracy to the measurements? What if we use mocks, which will perform some simple (or not simple) actions on AST?

[2017-05-17 15:41] axel3rd commented on #62
Hello,

I spent a couple of time to provide a checkstyle checks extension including xml configuration & *SuppressionFilter*, working with Eclipse checkstyle plugin & Maven checkstyle plugin & with some JUnit (pure Eclipse execution & Tycho Maven execution) => here the synthesis (because this thread was the most helpfull).

The `${config_loc}` works, but when Eclipse located in `c:\Program Files`,

[2017-05-17 17:40] jhickman commented on #2398
I believe version 2.17 above is referring to the maven-checkstyle-plugin, which appears to be using checkstyle version 6.11.2.

[2017-05-17 18:54] MEZk commented on #4341
@romani
Another solution without exec plugin
https://maven.apache.org/plugins/maven-resources-plugin/examples/copy-resources.html

I'll send a PR.

[2017-05-18 03:19] blerner commented on #3332
Out of curiosity: why hard-code the list of tags at all?  Per the javadoc spec, https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javadoc.html#CHDBGGIH,
[code]
And per the HTML5 spec, https://www.w3.org/TR/html5/syntax.html#parsing-main-inbody, any element with an unknown name is handled uniformly by simply creating an HTMLUnknownElement (https://www.w3.org/TR/html5/syntax.html#create-

[2017-05-18 09:53] gayanW commented on #2398
Yeah sorry for posing in the wrong place. It's about maven-checkstyle-plugin.

[2017-05-18 11:55] jhickman commented on #2398
For future reference if anyone else comes across this ticket for the same reason (just as I had), you can change the version of Checkstyle used in the plugin:  https://maven.apache.org/plugins/maven-checkstyle-plugin/examples/upgrading-checkstyle.html

[2017-05-18 13:35] romani commented on #4341
fix is merged

[2017-05-18 13:35] #4341 closed

[2017-05-18 15:11] vanniktech opened #4362 "False positive with OverloadMethodsDeclarationOrder when having static & abstract methods"
### Java File

[code]

### Config file

[code]

### Errors

[code]

---------------

Describe what you expect in detail.

I'd expect `OverloadMethodsDeclarationOrder` to not flag the above mentioned code does not overload any methods.

[2017-05-18 15:21] rnveach commented on #4362
This sounds the same as #3770 .

[2017-05-18 15:37] romani commented on #3770
@ilanKeshet, do you still plan to provide fix ?
It is completely ok to call back your original desire to help. It will let others to make it happen.

[2017-05-18 15:38] romani commented on #4362
Yes, lets close this issue.

[2017-05-18 15:38] #4362 closed

[2017-05-18 15:45] romani commented on #3332
There are bunch of nuances with parsing , but our goal is not to parse but make AST that is convenient for Check creation and allow user with less code create new Check. We keep certain tokens hardcoded to create special AST token, all unknown tags will be in AST to but as general tags.

http://checkstyle.sourceforge.net/writingjavadocchecks.html#Javadoc_parser_behavior_for_current_HTML_version_an

[2017-05-18 20:43] romani commented on #3607
fix is merged.

[2017-05-18 20:43] #3607 closed

[2017-05-19 00:06] romani opened #4363 "add vavr library to our regression testing"
repo: https://github.com/vavr-io/vavr
It use very functional style of java. It will be good testing for our checks.

add to https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/projects-for-wercker.properties
https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/projects-to-test-on.properties

update wercker to actually test NoExceptions on it.

[2017-05-19 01:32] blerner commented on #3332
Thanks for the link.  Yes, parsing is always surprisingly subtle.  The main reason I thought the repetitive grammar rules might be a problem was because of the example I mentioned above.  A student of mine commented out a huge chunk of code containing `Foo<T>` text...but instead of using `/* ... */`, used `/** ... **/`, which marked the code as a Javadoc block  But, parsing this comment (as part o

[2017-05-19 02:06] rnveach commented on #3332
@blerner Your issue sounds very similar to https://github.com/checkstyle/checkstyle/issues/3727#issuecomment-272631389 which hung in a similar area and failed.
I never looked into where it was hanging, but is most likely a different area than the original text grammar issue.

[2017-05-19 02:15] blerner commented on #3332
Yes...that does sound similar.  The reduced test case I was using was basically
[code]
As far as I can tell:
* You need at least two `List<Foo>` lines before the parser chokes
* With ~20 lines of "feefiefoefum", each additional `List<Foo>` line adds ~2 seconds to the parse time
* With more lines of "feefiefoefum", the runtime grows accordingly
* If I replace every `List<Foo>` with `List?Foo?`, so

[2017-05-19 03:00] romani commented on #3332
Let's move this case in separate issue and do discussion in separate thread/issue

[2017-05-19 05:21] sabaka commented on #4354
I did copy to my drive and added average values and pie chart.
[GSheets](https://docs.google.com/spreadsheets/d/1zWtoKA-cq-4i_o_gFqEAum4MAHcWBIOA3XB5roUPXYE/edit?usp=sharing)
Now we can see that in average we spend 42% of time on AST creation, 36% on javadoc and 21% on walk. Javadoc performance is another project and I'm not sure it's correct to mix them right now.

@soon , Could you please add fi

[2017-05-19 05:52] Vladlis commented on #4354
@sabaka, I think mocks would provide fairer results for the time spent on walk. This time might become less dependent on file contents.

[2017-05-19 08:51] soon commented on #4354
@sabaka Added file size column ([GSheets](https://docs.google.com/spreadsheets/d/1_Loc-FrPku1E22xTbtm8BAttJArG95rVr2GJFihSnaE/edit?usp=sharing))

Also collected stats for the openjdk8 ([GSheets](https://docs.google.com/spreadsheets/d/15jH8AEberXBozDFZ9UsRl9YslrnO8rtjSqr1oKJimwY/edit?usp=sharing)) using the following command:

`java -cp /home/soon/Src/Java/checkstyle/target/checkstyle-7.8-SNAPSHOT-