[2020-09-29 12:43] strkkk commented on #8856
@nmancus1 Can you please help with it?

[2020-09-29 13:58] romani commented on #8856
@zml2008 , thanks a lot for reporting issue.
Please let us know how can we run checkstyle validation (cli command) on your project ( https://github.com/SpongePowered/Configurate) ?
Is it possible to change version of Checkstyle from command line ? we will make fix and make sure that it works on your project without problems.

[2020-09-29 14:01] romani commented on #8855
I installed integration of this CI to github.
@pbludov , please send first PR with very very basic config to make sure it works, most likely first PR will not activate it as it will activated only after first merge.

[2020-09-29 14:18] zml2008 commented on #8856
thank you for your help!

I've worked around the issue since the test works either way, but the reproduction has been pushed to a branch.
Normally I use the gradle plugin ([configured here](https://github.com/SpongePowered/Configurate/blob/bug/checkstyle-record/buildSrc/src/main/kotlin/org/spongepowered/configurate/build/ConfigurateDevPlugin.kt#L84)) -- but from cli you can run:
[code]
to reproduc

[2020-09-29 14:34] romani commented on #8856
@zml2008 , can you share how to run checkstyle on whole your project by gradle ?
we will verify that all other code is parse-able before releasing a fix.

[2020-09-29 14:46] zml2008 commented on #8856
Sure -- gradle needs to run with at least java 14 to activate the source set with problems, then to run checkstyle do:
[code]

[2020-09-29 14:55] nmancus1 commented on #8856
@zml2008 thanks for the great report. I am on this now.  @romani should the new semaphore/travis job be in a separate PR?

[2020-09-29 19:15] pbludov commented on #8855
It works. Let's decide which configurations should be kept in appveyor and which move to cirrus.

I suggest JDK 8, 11 (two last stable) in appveyor; JDK 15 (latest) in cirrus.

[2020-09-29 19:48] romani commented on #8856
Separate issue/PR .

[2020-09-29 19:53] romani commented on #8855
I ok with suggestion, please do

[2020-09-29 19:54] nmancus1 opened #8859 "Add SpongePowered/Configurate Checkstyle run to CI to improve coverage of Java14 syntax"
Since parsing all of OpenJDK14 has proven difficult due to the large number of non-compilable files, we need to add more projects that use Java14 syntax.  We have identified a new project to test on in issue #8856:

we will verify that all other code is parse-able before releasing a fix.

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/issues/8856#issuecomment-700747488_

[2020-09-29 19:56] romani commented on #8859
This project is using Google style config with modifications, do it is good for us to keep in testing.

[2020-09-29 19:57] pbludov commented on #8849
Just a note: the Java compiler treats tabs as spaces:
[code]
output:
[code]

Our parser should work in the same way:
[code]
[code]
I think that the most consistent way is 2 (changes to the text block implementation).

[2020-09-29 20:13] nmancus1 commented on #8859
@romani Once we prove that we can parse the `bug/checkstyle-record` branch, we should test on master, right?

So:

create CI item on `bug/checkstyle-record`->
show failure ->
locally merge CI item into #8858 ->
show success ->
merge CI item ->
merge #8858 ->
new PR to change CI to parse main branch of SpongePowered/Configurate
?
___________
@zml2008  does this mean that you have removed these anno

[2020-09-30 00:40] zml2008 commented on #8859
I'm actually just starting to introduce usage of records into my codebase -- so the master branch doesn't use any Java 14 features just yet (still in a PR), and I won't make broad use of newer features since most of my users are stuck on Java 8. However, the project might still be useful for your CI as I add more test coverage using newer language features.

I did remove the usage from the [PR bra

[2020-09-30 04:20] romani commented on #8859
?

You can simply add this project to your regression config to generate diff report. This will be enough to merge a fix.
And in other PR, do addition of this project to CI to test on it.

@zml2008, please let us know if you have variable in Gradle config to let run validation on version that we need (snapshot)

[2020-09-30 04:38] pbludov commented on #8855
Master build failed:
[code]
There should be an `if`.

[2020-09-30 04:40] romani commented on #8855
Please send PR with badge to readme.md if they support it.

It is hard for me to see build failure in some CI if it doesn't have badge.

[2020-09-30 05:31] zml2008 commented on #8859
I've [just updated](https://github.com/SpongePowered/Configurate/commit/62363f4dbfc2c1dbb941949acf2047dfae0620fb) all the relevant branches to add a property for the checkstyle version.

[code]

will run checkstyle (skipping other unit tests), and will continue working even if we change our specific checkstyle task names. I've got that set up to look for checkstyle in maven local (`~/.m2/repositor

[2020-09-30 06:06] pbludov commented on #8855
The workaround for connection reset hits a bug in HttpClient:
https://issues.apache.org/jira/browse/HTTPCORE-634

The bug was fixed in `4.4.14`, but maven version plugin is still [uses version](https://www.mojohaus.org/versions-maven-plugin/dependencies.html) `4.4.11`

[2020-09-30 06:07] pbludov commented on #8855
The failed build
https://cirrus-ci.com/task/6587210826776576?command=test_site_without_verify

[2020-09-30 08:13] ellien-lucky-monkey opened #8863 "AbbreviationAsWordInName check middle row and the last row are inconsistent"
"fristXML" and "fristXMLt" use the getAbbreviation method to return "XML" and "XM" respectively

[2020-09-30 08:15] ellien-lucky-monkey commented on #8863
The middle line checks the length of consecutive uppercase characters minus one

[2020-09-30 08:21] strkkk commented on #8863
@ellien-lucky-monkey please provide issue details in defined template. It is not clear what problem your problem is.

[2020-09-30 08:36] ellien-lucky-monkey commented on #8863
[code]
[code]

[2020-09-30 11:53] pbludov commented on #8855
Master build [succeeded](https://github.com/checkstyle/checkstyle/runs/1186603103)

[2020-09-30 11:54] #8855 closed

[2020-09-30 11:57] pbludov commented on #8852
@Abhishek-kumar09 i'm closing this issue. Please re-open if you a going to work on this issue later.

[2020-09-30 11:57] #8852 closed

[2020-09-30 14:31] pbludov opened #8864 "Use .ci/validation.cmd in appveyor ci"
Appveyor and Cirrus should share one script for validation. Cirrus already uses `.ci/validation.cmd`, we need to update Appveyour only.

Wiki (and xdocs?) should be updated with some readme for this script.

Based on https://github.com/checkstyle/checkstyle/pull/8841#discussion_r492023797

[2020-10-01 14:10] romani commented on #8864
Fix is merged

[2020-10-01 14:10] #8864 closed

[2020-10-01 14:56] romani commented on #8805
@pbludov , in what issue do you plan to move more jobs out of Travis and Appveyor ?

is this issue done ?

[2020-10-01 17:39] pbludov commented on #8805
Yes, this issue can be closed. I'm going to merge `wercker.sh` and `validations.sh`, `shippable.sh` and `non-exceptions-test.sh` in separate issues.

[2020-10-01 17:39] #8805 closed

[2020-10-02 02:44] romani commented on #8805
@pbludov, can we keep in validation.sh all commands for our code verification, and no-error.sh and no-exception.sh, ... .

We should not keep all in one giant she'll file

[2020-10-02 16:15] timurt commented on #6481
interesting issue, @gaurabdg are you still working on it? @romani @rnveach can I take it?

[2020-10-02 16:26] gaurabdg commented on #6481
@timurt No, feel free.

[2020-10-03 10:04] zml2008 opened #8873 "RequireThis: Incorrectly triggers for record fields in compact constructor"
Check documentation: https://checkstyle.org/config_coding.html#RequireThis

[code]

`/var/tmp $ cat checkstyle-recordthis.xml`
[code]

`/var/tmp $ cat RequireThisRecord.java`
[code]

[code]
---------------

I'm back again :) been playing with records some more in Configurate, and came across this issue. The `RequireThis` check seems to treat accesses in the record constructor as acting on the back

[2020-10-03 20:33] romani commented on #7640
@anhminhtran235, thanks a lot for help to fix this issue.

Fix is Merged.

[2020-10-03 20:33] #7640 closed

[2020-10-04 13:56] anhminhtran235 commented on #7983
I am on it

[2020-10-04 14:56] romani opened #8876 "Create Github action to generate web site"
if any documentation is updated it is become a chore to generate web site on local and share images in PR.
author of PR always forget to update images after update of code.
Example of PRs with multiple updates - https://github.com/checkstyle/checkstyle/pull/8847

We can reuse github action and make trigger by "Github, generate web site"  comment (the same as we generate diff report https://github.

[2020-10-04 15:02] romani commented on #7665
fix is merged.

[2020-10-04 15:02] #7665 closed

[2020-10-04 15:06] romani commented on #7685
fix is merged.
@AmrDeveloper , thanks a lot for fix.

[2020-10-04 15:06] #7685 closed

[2020-10-04 15:51] Abhishek-kumar09 commented on #7809
@joca-bt which line?
Please recheck the issue we have tried to fix lambda with #8719

[2020-10-04 15:53] Abhishek-kumar09 commented on #7926
Fixed with https://github.com/checkstyle/checkstyle/pull/8719
[code]
config.xml
[code]
output:
[code]

[2020-10-04 16:03] romani commented on #8849
please use single char for tabs. Tabs are always render differently in applications (as 2 spaces, as 4 spaces or .... ). That is why it is trend to NOT use tabs at all to let code looks same in any IDE and even in browser.

if update for grammar is not simple, it would be awesome to make some hack in Check to avoid exception (I am on to ease pitest/coverage for this case).

during testing we can c

[2020-10-04 16:12] romani commented on #7926
fixed in scope of https://github.com/checkstyle/checkstyle/issues/3342, released in 8.36.2

[2020-10-04 16:12] #7926 closed

[2020-10-04 16:13] romani commented on #7809
issue is not following required template, it is hard to understand it.

[2020-10-04 16:13] #7809 closed

[2020-10-04 16:16] romani commented on #8863
@ellien-lucky-monkey , please strictly follow https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/bug_report.md
to provide us all details that we need to reproduce a problem easily and let somebody fix it.

issue will be closed if not updated till end of October

[2020-10-04 17:54] Abhishek-kumar09 commented on #5362
@romani

This issue covers all the problem related to indentation issue for `new` keyword.
The other linked or similar issue could be: https://github.com/checkstyle/checkstyle/issues/6029

[2020-10-04 18:05] Abhishek-kumar09 commented on #5248
Fixed with #8719
[code]
config:
[code]
output:
[code]

[2020-10-04 18:13] Abhishek-kumar09 commented on #4638
I have checked it on default indentation profile:
[code]
config:
[code]
output:
[code]
I think this should have been covered up in the scope of #8719
you had not provided the config.xml file, so I checked it with default configuration

[2020-10-04 18:18] Abhishek-kumar09 commented on #4453
I can't say under which PR, but it is fixed I guess. The error is no more present in 8.36.2

[2020-10-04 18:25] maggu2810 commented on #4453
I cannot test it myself, but if it is resolved, feel free to close.

[2020-10-04 18:41] Abhishek-kumar09 commented on #4249
@Scrayos, do you remember the config for the code to check against.
It would be better if we could test your code too for resolution.

About @karolhor tests this issue is seemed to be **fixed**:
[code]
[code]
output:
[code]

[2020-10-04 19:08] romani commented on #5248
Fixed in scope of https://github.com/checkstyle/checkstyle/issues/3342
Released as 8.36.2

[2020-10-04 19:08] #5248 closed

[2020-10-04 19:09] romani commented on #4638
Let's close this issue.
Fixed in scope https://github.com/checkstyle/checkstyle/issues/3342
Released at 8.36.2

[2020-10-04 19:09] #4638 closed

[2020-10-04 19:10] romani commented on #4453
I am closing this for now, please open issue if still a problem

[2020-10-04 19:10] #4453 closed

[2020-10-04 19:12] romani commented on #4249
I close issue, as it is not reproduced on latest release. Some fix fixed issue

[2020-10-04 19:12] #4249 closed

[2020-10-04 21:05] romani commented on #8807
not possible for now, we keep profile with all rules in Sonar service.

[2020-10-04 22:32] romani commented on #8859
fix is merged.

[2020-10-04 22:32] #8859 closed

[2020-10-05 05:48] romani commented on #3899
Fix is merged

[2020-10-05 05:48] #3899 closed

[2020-10-05 05:48] romani commented on #6392
Fix is merged

[2020-10-05 05:48] #6392 closed

[2020-10-05 05:59] romani commented on #8695
@Abhishek-kumar09, is it same problem with `new` as #5362 ?

[2020-10-05 08:58] Abhishek-kumar09 commented on #8695
@romani I can't say it now, because return is the top level statement here and `new` is not on a new line . Though I will be more firm once I start working on this. It may or maynot be.

[2020-10-05 09:36] boris-petrov opened #8879 "LocalFinalVariableName false-positive"
cat config.xml
[code]

cat Test.java
[code]

java -Duser.language=en -Duser.country=US -jar checkstyle-8.36.2-all.jar -c config.xml Test.java
[code]

---------------

`try (LOCK)` should be valid and no warning should be emitted.

[2020-10-05 23:53] ndimiduk opened #8881 "Allow single-line if blocks with curly brackets"
Allow single-line if blocks with curly brackets

[code]
---------------

I seek a configuration that allows for simple single-line condition while also requiring While also requiring LeftCurly eol for method definitions.

--------------

# Earlier feature request content

**Is your feature request related to a problem? Please describe.**
I would like checkstyle (perhaps the `LeftCurly` check) to p

[2020-10-06 05:44] romani commented on #8881
Please describe your issue as it it is a bug, as we demand in bug template. This will clarify all details.

You might want https://checkstyle.org/property_types.html#RightCurlyOption but I am not sure.

[2020-10-06 13:39] romani commented on #8856
fix is merged.

[2020-10-06 13:39] #8856 closed

[2020-10-06 14:45] romani commented on #5868
this issue has bounty.

@HuGanghui , please claim a bounty. Thank a lot for review of this issue.

[2020-10-06 14:45] #5868 closed

[2020-10-06 14:56] romani commented on #8227
should be resolved by creation of bad configuration for tokens property to let code do not find tokens. We can create fake Check in test to make it.

[2020-10-06 19:02] ndimiduk commented on #8881
Sorry, I saw it more as a feature request than bug. Let me try again. You want a new issue, or may I make edits to the above? Thanks @romani .

[2020-10-06 21:58] romani commented on #8881
Please edit this issue description

[2020-10-07 03:35] romani commented on #8654
We might not support this as this is very weird way of codding, and we do not support unicode symbols in identifiers

[2020-10-07 07:25] pbludov commented on #8849
Fix is merged.

[2020-10-07 07:25] #8849 closed

[2020-10-08 20:21] ndimiduk commented on #8881
Spent some time building the example as required by the bug template. It looks like `LeftCurly`'s `nlow` loosens up some of the requirements, but not in ways that I expected.

[2020-10-08 23:09] romani commented on #8881
Please update PR description with details to let me see what do you mean

[2020-10-09 01:23] rnveach opened #8884 "MetadataGeneratorUtilTest is modifying files in the main folder"
Identified when backporting 8.36.1 .

Running `MetadataGeneratorUtilTest` by itself is modifying 63 files in `src/main/resources/com/puppycrawl/tools/checkstyle/meta/`.

No test should ever modify our files controlled by git. This is an accident waiting to be staged and committed.

Here is the patch of one of the modifications.
[code]

[2020-10-09 01:25] rnveach commented on #8884
ping @romani @gaurabdg

[2020-10-09 01:44] rnveach commented on #8884
I don't understand the purpose of running `MetadataGeneratorUtil.generate`. As the name suggests, it is the culprit and sounds like it is just something to be run to update checkstyle with a release. Not to be run with a test on every unrelated change.

If this is not to be run as part of the suite, it needs extra safe guards to prevent this issue.
See https://github.com/sevntu-checkstyle/sevntu.c

[2020-10-09 02:41] romani commented on #8884
It was part of design decision that we did to make we update file if metada is changing

[2020-10-09 16:28] rnveach commented on #8884
Since this is part of the test phase and not the compile phase (or something similar to updating production code) I worry that this will cause some unintended issue like above. I am just pointing out the issue.

There is no guarantee that someone will run the tests when making updates. Is there a CI check to ensure this is verified?

Is this issue approved to atleast fix this current issue?

[2020-10-09 18:06] muntyan opened #8885 "Make NonEmptyAtclauseDescription check @return"
There is NonEmptyAtclauseDescription check, which checks that `@param` tags have something in them, it fails for `@param blah` if there is no text that follows that. However it doesn't seem to fail on naked `@return`. Would it be possible to change that, or add a new check for that?

[code]

[2020-10-09 22:13] Abhishek-kumar09 commented on #5362
I am on it.

[2020-10-09 22:20] romani commented on #8885
Please follow issue template to describe it as it is bug https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F

[2020-10-09 23:23] rnveach commented on #8884
What about appveyor? I am on Windows after all.

[2020-10-10 04:02] romani commented on #8884
Does it work differently ?
Do you have changes in files after clone and build ?

[2020-10-10 13:04] rnveach commented on #8884
Yes. See first post. Thats why I started this issue.

[2020-10-10 13:22] rnveach commented on #6916
@pbludov Is all that is left on the upgrade to do parallel execution? (Noted at https://github.com/checkstyle/checkstyle/issues/6916#issuecomment-514506599)
If so, maybe we should move it to a new issue and close this?

[2020-10-10 13:45] rnveach commented on #8710
I have identified the issue.

The scope between [JavadocMethodCheck](https://github.com/checkstyle/checkstyle/blob/43f500fda7ea85a358fcbd1585716f3effcc772d/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L375) and [MissingJavadocMethodCheck](https://github.com/checkstyle/checkstyle/blob/8179a34d87881f480b1b26b44bafcbcc6607cec9/src/main/java/com/puppycrawl/tools

[2020-10-10 14:10] romani opened #8886 "Validate sure that all Regexp modules has id property"
Detected at https://github.com/checkstyle/checkstyle/pull/8878#discussion_r499356249

All Regexp Checks that we have:
https://checkstyle.org/config_regexp.html

We need to make some validation to catch that if Regexp.* module is used it should have "id" property.
[code]

As suggestion we can make shell command in validation.sh that do counts of
`<module name="Regexp.*\n`
and
[code]
and compare tha

[2020-10-10 15:23] romani commented on #8884
looks like we have problems with lineends
[code]

Project has enforced Linux lineends even in Windows OS after clone
https://github.com/checkstyle/checkstyle/blob/32de8909329d4d3f19a3c05f5c5deefe6ffd0b35/.gitattributes#L1-L2

but metadata generator make files with Windows native lineends, we need to force xml writer to use linux lineends.

@gaurabdg , please help to fix issue.

[2020-10-10 15:32] romani commented on #8884
solution might be
https://stackoverflow.com/a/42582639/1015848
to update code at
https://github.com/checkstyle/checkstyle/blob/cd6a36022053d032c9c0bce6e47f4cb2d2707ac5/src/main/java/com/puppycrawl/tools/checkstyle/meta/XmlMetaWriter.java#L177-L184

[2020-10-10 18:30] muntyan opened #8889 "NonEmptyAtclauseDescription does not work for @return"
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#NonEmptyAtclauseDescription

[code]

---------------

Problem: empty `@return` clause is not reported as an error. In the test file above, if you change `@param a xxx` to `@param a`, then it reports an error there, as expected. However `@return` line produces no error.

[2020-10-10 18:31] muntyan commented on #8885
Thank you, opened #8889

[2020-10-10 18:31] #8885 closed

[2020-10-10 18:47] romani commented on #8889
Very strange how we missed that simple case. Even in documentation we claim that Check should validate returns.

[2020-10-11 05:26] pbludov commented on #6916
I'll re-check how stable the OSX parallel tests now. Perhaps the reason is that we need to update the JDK for the OSX CI. This is the only build that has problems with parallel execution. Or may be just disable parallel execution of tests for this setup.

If It fail, I'll make this a separate issue, and close this one.

[2020-10-11 06:41] pbludov commented on #8873
Interesting that
[code]
compiles fine. In the other three places, use of `this.` causes compilation to fail.

[2020-10-11 06:44] pbludov commented on #6916
I must admit that OSX build is stable now. I restarted the build 10 times. None of them had any problems.

[2020-10-11 06:53] pbludov commented on #8873
This compiles too:
[code]
This explains why all tests passed in #8473

[2020-10-11 07:48] pbludov commented on #6916
Finally, make it fail
https://travis-ci.org/github/checkstyle/checkstyle/jobs/734693767#L437
[code]

I'll start a new issue for this

[2020-10-11 07:51] pbludov opened #8891 "OSX CI fails with unit.parallel.mode=concurrent"
OSX fails with
[code]
Example build: https://travis-ci.org/github/checkstyle/checkstyle/jobs/734693767#L437

_Originally posted by @pbludov in https://github.com/checkstyle/checkstyle/issues/6916#issuecomment-706665672_

[2020-10-11 17:40] pbludov commented on #6916
This bug does not affect local OSX builds.

[2020-10-11 17:42] pbludov commented on #8891
This bug does not affect local Linux/Windows/OSX builds.
This bug does not affect local Linux/Windows CI builds.

Only virtual OSX hosts in travis CI are affected.

[2020-10-11 17:48] pbludov commented on #8891
There seems to be some sort of mess with logical cores and real cores. It's not clear where the problem is yet. Maybe in travis ci, maybe in surefire. We need to figure out a way to diagnose the problem.

[2020-10-11 20:49] #8790 closed

[2020-10-11 20:49] romani commented on #8790
Fix is merged

[2020-10-12 01:10] romani commented on #7637
Fix is merged

[2020-10-12 01:10] #7637 closed

[2020-10-12 01:51] zml2008 commented on #8873
What Java version are you testing on? I believe some of the requirements for compact constructors were tightened up in JDK 15 -- at least according to the text in the final JEP issue: https://bugs.openjdk.java.net/browse/JDK-8246771

Testing locally, the examples compile fine on Java 14 but not on Java 15, so the check probably got caught by a change in spec?

[2020-10-12 07:43] pbludov commented on #8873
Java 14. We have Java 15 CI for the latest master: https://cirrus-ci.com/task/4594812944908288
But there are no "correct" cases in the tests, only violations are [here:](https://github.com/checkstyle/checkstyle/blob/master/src/test/resources-noncompilable/com/puppycrawl/tools/checkstyle/checks/coding/requirethis/InputRequireThisRecordAsTopLevel.java)

[2020-10-12 17:06] #8889 closed

[2020-10-12 17:06] romani commented on #8889
Fix is merged

[2020-10-12 17:10] romani opened #8894 "Exception at InputCyclomaticComplexityRecords.java"
Detected at
https://github.com/checkstyle/contribution/blob/529fc836f88e0f88148ab7760a5ec7ba4d100715/checkstyle-tester/projects-for-travis.properties#L9

Todo: report issue properly

[2020-10-12 19:15] romani commented on #8891
If this is only Travis hosts, we can disable parallel execution in Travis commands only

[2020-10-12 20:40] Sadgrinner commented on #7884
@romani Hi, Roman!

I waited until September came and went, as requested.  I hope things have slowed down a bit for you!  What are the next steps for improving XMLLogger output?

[2020-10-12 20:42] #8879 closed

[2020-10-12 20:42] strkkk commented on #8879
Fix is merged

[2020-10-12 20:55] #7983 closed

[2020-10-12 20:55] strkkk commented on #7983
Fix is merged

[2020-10-12 21:51] romani opened #8895 "FinalLocalVariable: NPE in records"
Check documentation: https://checkstyle.org/config_coding.html#FinalLocalVariable

problem was detected during https://github.com/checkstyle/contribution/commit/529fc836f88e0f88148ab7760a5ec7ba4d100715
`**/resources-noncompilable/**/checks/metrics/cyclomaticcomplexity/InputCyclomaticComplexityRecords.java` is name of file in our repo that cause problem.

[code]

after fix we should remove this exc

[2020-10-12 21:51] romani commented on #8895
@anhminhtran235 , can you help us to resole this issue ?

[2020-10-12 22:03] anhminhtran235 commented on #8895
@romani Absolutely! I am on it.

[2020-10-13 05:08] romani commented on #8894
https://github.com/checkstyle/checkstyle/issues/8895

[2020-10-13 05:08] #8894 closed

[2020-10-13 11:55] rnveach commented on #8895
@romani Is this the 2nd NPE found after the fact because of our ignore list? Maybe we should run regression on everything to see if there is anything else.

[2020-10-13 22:33] Sadgrinner commented on #7884
@romani  Hi, Roman!

I waited until September came and went, as requested.  I hope things have slowed down a bit for you!  What are the next steps for improving XMLLogger output?

[2020-10-14 05:59] romani commented on #8895
Please suggest how to run to detect only exceptions. Right now ignore list is for several files only, that are compiled by design on all jdk.

[2020-10-14 14:00] #8876 closed

[2020-10-14 14:02] romani commented on #8876
Fix is merged

[2020-10-15 00:46] rnveach commented on #8895
Ignore unrelated exceptions (Like https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/my_check.xml#L45 ) and either put all check severity to ignore or suppress all non-exception violations from a check.

[2020-10-15 13:31] pbludov commented on #3135
Fix is merged.

[2020-10-15 13:31] #3135 closed

[2020-10-15 13:32] romani commented on #8895
make sense.
But right now checkstyle validation is better form before, we filter out only files (not that much of them) that are non-compilable.
but I agree that this is good model for activation of validation for openjdk14 codebase. We might miss new syntax (same as we do now), but we will not miss exceptions in Checks.

[2020-10-15 13:35] romani opened #8901 "Run regression testing in CI over openjdk14 or newer codebase"
from https://github.com/checkstyle/checkstyle/issues/8895#issuecomment-707688814

we need to run openjdk14 (latest is ok too) with all Checks enabled (chekcstyle config) but with extra filter for parse errors
https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/my_check.xml#L45

it will not find parse errors but it will find exceptions in Checks on weird/test code.

[2020-10-15 13:35] romani commented on #8895
https://github.com/checkstyle/checkstyle/issues/8901

[2020-10-15 16:04] rnveach commented on #8901
Beware of https://github.com/checkstyle/contribution/issues/483 as this file will have to be continued to be ignored to avoid freezing up.

[2020-10-15 17:53] nmancus1 commented on #8901
The files that I had to exclude to run AST regression on openjdk14 were:
[NestedLambdaGenerics.java](https://github.com/openjdk/jdk14/tree/master/test/langtools/tools/javac/lambda/speculative/NestedLambdaGenerics.java)
[NestedLambdaNoGenerics.java](https://github.com/openjdk/jdk14/tree/master/test/langtools/tools/javac/lambda/speculative/NestedLambdaNoGenerics.java)
[DeepStringConcat.java](https:/

[2020-10-16 01:43] romani commented on #8901
Good idea, as regression diff report ignore ignore list in property file

[2020-10-16 01:44] romani commented on #8901
@rnveach , please put approved label if you agree.

[2020-10-16 01:53] rnveach commented on #8901
I approved.

We have full regression config at https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/checks-nonjavadoc-error.xml and https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/checks-only-javadoc-error.xml which is forced to maintain all our checks. I would check if there is some way to reuse it between its current use and for this new JDK14 specifi

[2020-10-16 05:25] anhminhtran235 commented on #8895
It's interesting that a null pointer exception occurred. It shouldn't.
When I look at the exception stack trace:

[code]
Basically `findFinalVariableCandidateForAst` called `isSameVariables`:
[code]
`storedVariable` is checked != null. So it shouldn't be equal to null.
Then `isSameVariables` called `findFirstUpperNamedBlock`:
[code]
`ast1` is `storedVariable`. So it shouldn't be null either.
Then

[2020-10-16 12:09] rnveach commented on #8895
You will have to debug it. Already looking at the code and file, I can see how it will produce an NPE.

I forget the exact name for this, but its an intermediator between 2 methods/fields that can't normally be accessed because of the visibility each is in. It requires Java to create this extra to bridge the gap between the 2 visibilities.

`findFinalVariableCandidateForAst` is inside a separate c

[2020-10-16 12:30] romani commented on #8895
@anhminhtran235 , please copy case code to our UT Inputs, write UT method (there are tons of examples on how to do this) and debug it.
Checkstyle use Test Driven Development model for bug fixes.

[2020-10-16 12:41] romani commented on #7884
@Sadgrinner , sorry for delay.

1) Please provide content of  Test.java to PR description.

2) please update config.xml to have one more module of the same name but without `id` to see clearly inconsistency

this  issue need to be reviewed by few mentors to make sure we will not make big backward compatibility problems, and we decided to break compatibility we did it on good reason.

... I am keep

[2020-10-16 13:17] romani commented on #7884
@Sadgrinner , please update PR descrption and lets agree between you and me on what is expected.

I will remove all non required comments from this issue to make it clear proposal with all details in PR description, to make sure other maintainers have less time to understand a problem and vote on expected behavior.

[2020-10-17 05:55] anhminhtran235 commented on #8895
I ran the unit test and understood how it will produce NPE now. It's because of this

I'm trying to figure out what happens there. I'll tell you guys if there's any questions / updates.

[2020-10-18 00:08] anhminhtran235 commented on #8895
@romani @rnveach I think I figured out what went wrong.

First of all, the error occurs when checking this line:

Conditional expression ` a < 0 ? -1 : 1` is not a problem. In fact, if I change the whole MyRecord2.java to the following:
[code]
The same error occurred.

The reason is simple:

When `isSameVariables` checks if `int a = 1` and `a = 2` are the same variables, it called `findFirstUpperN

[2020-10-18 06:52] strkkk commented on #8895
@anhminhtran235 you need to place your test input to non-compileable resources folder, you can find examples for any check that checks records.

By the way, instead of adding there one more comparison with token, please change whole expression to use util method https://github.com/checkstyle/checkstyle/blob/3c2249b239cbfe002af3649f1f7c1f9ae61df3b1/src/main/java/com/puppycrawl/tools/checkstyle/util

[2020-10-19 03:41] anhminhtran235 commented on #8895
I messed up and now the PR is closed. What should I do? Should I open a new PR / Keep adding commit to current PR?

[2020-10-19 13:48] agigleux commented on #8768
Did you try to use:

[code]

to fix the issue on `final TransformerFactory transformerFactory = TransformerFactory.newInstance();`?

I don't see any commit like this whereas this is the recommended way to fix XXE vulnerabilities for TransformerFactory object.

[2020-10-19 16:14] romani commented on #8895
Reopen PR, always push with force to GitHub

[2020-10-19 17:23] anhminhtran235 commented on #8895
![img](https://user-images.githubusercontent.com/54651212/96489852-db11c780-11f4-11eb-8027-3a0b2c5ba29e.PNG)

I can't. The button is disabled. I tried to push force but nothing happens. I think the PR has been merged and closed. According to [Stack overflow](https://stackoverflow.com/a/12838195/10566888), it cannot be reopened.

[2020-10-19 18:01] nmancus1 commented on #8901
I'm on this.

[2020-10-19 19:38] romani commented on #8901
Please do not place it in Travis, we have new CI for extra load

[2020-10-19 19:39] nmancus1 commented on #8901
I am using Semaphore, is that OK?

[2020-10-20 02:58] adverma98 opened #8905 "Add SARIF as a supported output format"
**Is your feature request related to a problem? Please describe.**
No, it's not related to any existing problems.

**Describe the solution you'd like**

Github's new [code scanning](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/about-code-scanning) product allows for teams to integrate third party static analysis and linting tools.

[2020-10-20 13:56] romani opened #8908 "Do clean in all Travis maven commands"
from https://github.com/checkstyle/checkstyle/pull/8906#issuecomment-712854492

https://travis-ci.org/github/checkstyle/checkstyle/jobs/737307315#L669
[code]

The same at master build
https://travis-ci.org/github/checkstyle/checkstyle/jobs/736045569#L634

problem is caused by fact that we do build to warm up local maven repo
https://travis-ci.org/github/checkstyle/checkstyle/jobs/736045569#L256 (i

[2020-10-20 15:32] nmancus1 commented on #8901
Update:  I have written the new, no-exception test for Semaphore using the `openjdk14`  project in https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/projects-to-test-on.properties . I have created a script:

[code]

This script is creating a file of `BeforeExecutionExclusionFileFilter` modules, one for each file that causes exception.  The semiphore job that I created `sed -

[2020-10-20 17:22] nmancus1 commented on #8901
Ok, so I think that I have compiled the entire list of files in openjdk14 that cause exception, and can generate the checstyle report.  Then, report generation fails with:

[code]
@rnveach this is very similar to the https://github.com/checkstyle/contribution/pull/85.  How did you overcome this?

[2020-10-21 00:26] rnveach commented on #8901
@nmancus1 Sadly I use a completely separate maintained regression scripts than the groovy files. It doesn't use JXR so I don't run into this problem. I am the only one that can regression on sevntu (https://github.com/checkstyle/contribution/issues/340). My changes are located in https://github.com/rnveach/contribution/blob/rvmaster/checkstyle-tester/ with the main script being `launch_diff.sh` .

[2020-10-21 04:48] pbludov opened #8909 "Add markdown lint validation for .md files to CI"
[Markdown lint tool](https://github.com/markdownlint/markdownlint)
A tool to check markdown files and flag style issues.

We don't have a lot of md files, but if there is a tool to validate them, it makes sense to use it.

Current state:
[code]

[2020-10-21 07:14] strkkk commented on #8909
This can be even more useful for contribution repo, there are more docs in markdown

[2020-10-21 09:23] gb-klein opened #8912 "IllegalType should be able to support forbidding types for fields"
In our project we want to forbid declaring java.util.Optional[Int, Double, Long] in fields. I currently found a solution using VARIABLE_DEF. However VARIABLE_DEF also includes local variables (which we want to support for Optional of course). So as a workaround i am able to configure the rule to only look at contexts where modifiers private, protected and public are present (via 'memberModifiers')

[2020-10-21 10:43] strkkk commented on #8912
new token introduction will cause a big regression.
I think it is better to create separate check IllegalFieldType and add there options to check different scopes

[2020-10-21 12:34] romani commented on #8912
@gb-klein , please report issue as bug (by bug template, and strictly follow required format), this will help us to give you workaround easily.

[2020-10-21 12:45] romani commented on #8895
please create new PR and keep it open, even work in incomplete or CI is red or .... .

[2020-10-21 13:11] romani commented on #8768
@agigleux , we moved this code to another project
https://github.com/checkstyle/checkstyle/blob/58bae0f3defcf7ba4a9fa69bed97aadcb35eb2ae/src/main/java/com/puppycrawl/tools/checkstyle/meta/XmlMetaWriter.java#L72-L74

and I do not see any violation on it at https://sonarcloud.io/project/issues?fileUuids=org.checkstyle%3Acheckstyle%3Asrc%2Fmain%2Fjava%2Fcom%2Fpuppycrawl%2Ftools%2Fcheckstyle%2Fmeta%2F

[2020-10-21 15:14] agigleux commented on #8768
The expected issues are indeed not reported on your scan but what is surprising is that when I manual scan the CheckStyle code locally with SonarQube 8.5 or on SonarCloud, I can see the 3 XXE issues:

![image](https://user-images.githubusercontent.com/1057037/96739803-7c00ae00-13c0-11eb-97e2-7e4b48370495.png)

How do you trigger the code scan that is uploaded on SonarCloud? Which command is execut

[2020-10-21 15:29] rnveach commented on #8901
Maybe as an intermediate step, JXR could be changed to ignore all files. This would also help show and prove it isn't needed for regression.
I don't remember what other changes I had to make to my scripts when removing JXR.

[2020-10-21 17:10] nmancus1 commented on #8901
@rnveach Thanks a lot for your idea.  I got this working by doing this:
https://github.com/nmancus1/contribution/commit/94b8492c611132b6252f8cfc93f9c54b47187c57

[code]

The openjdk-14 run now completes successfully. However, is this change to `launch.groovy` acceptable for other our other usages of this script? If nothing else, I could just `sed` that line for this run and add `-Dmaven.jxr.skip=t

[2020-10-21 18:56] ndimiduk commented on #8881
Thank you for your patience, @romani. I'm still waiting on legal approval for posting this code snippet. Sadly, I don't have an ETA.

[2020-10-21 20:29] rnveach commented on #8901
@romani would have to confirm of the uses with `launch.groovy` and the impact to not having it do JXR. If there is an issue, `diff.groovy` should send `launch`  a parameter for disabling/enabling it.

I know we used `launch.groovy` outside regression for standalone runs in CI, but I am now seeing `diff.groovy` being the official way to do runs, even if only on 1 project and even for just 1 branch.

[2020-10-22 04:43] nmancus1 commented on #8901
@rnveach thanks for the feedback.  I will see what @romani thinks, then open up a PR in contribution to resolve this issue; after that is merged, I will submit the PR for this issue.

[2020-10-22 05:29] stegeto22 opened #8914 "Performance 10 times slower for MissingDeprecated check"
I'm having a performance issue with the [MissingDeprecatedCheck](https://checkstyle.sourceforge.io/config_annotation.html#MissingDeprecated) since version 8.24 (possibly because of [#4983](https://github.com/checkstyle/checkstyle/issues/4983))

Previously the check needs only some hundreds of milliseconds. Now it needs many seconds, depending on the amount of javadoc.

---------------
Previous:
`C

[2020-10-22 06:56] strkkk commented on #8914
This may be related to https://github.com/checkstyle/checkstyle/issues/4983, it was included in 8.24

@stegeto22 Please change description to show difference for some file with significant degradation

[2020-10-22 08:23] gb-klein opened #8915 "Support for a checkstyle rule, that allows restricting IllegalType(s) to fields only"
Check documentation: https://checkstyle.org/config_coding.html#IllegalType

/var/tmp $ javac ClassWithOptionalFields.java
[code]

/var/tmp $ cat config.xml
[code]

/var/tmp $ cat ClassWithOptionalFields.java
[code]

set RUN_LOCALE="-Duser.language=en -Duser.country=US"
java %RUN_LOCALE% -jar checkstyle-8.36.2-all.jar -c config.xml ClassWithOptionalFields.java
[code]
---------------

This issue rep

[2020-10-22 08:24] gb-klein commented on #8912
@romani: Done, see https://github.com/checkstyle/checkstyle/issues/8915

[2020-10-22 13:22] romani commented on #8768
@agigleux , thansk a lot for help.

https://github.com/checkstyle/checkstyle/blob/master/.ci/wercker.sh#L27

you can execute it from your local by
https://github.com/checkstyle/checkstyle/blob/58bae0f3defcf7ba4a9fa69bed97aadcb35eb2ae/wercker.yml#L343

[2020-10-22 14:30] romani opened #8916 "Value 'empty' in metadata files for 'tokens' property cause problems in plugins"
https://checkstyle.org/config_misc.html#DescendantToken_Properties
https://checkstyle.org/config_coding.html#IllegalTokenText_Properties

example:
![image](https://user-images.githubusercontent.com/812984/96888503-8b244200-143a-11eb-841c-d4a15732ed15.png)

![image](https://user-images.githubusercontent.com/812984/96887563-9034c180-1439-11eb-95be-6be3d87051e7.png)
but in meta it is:
https://github.

[2020-10-23 02:01] romani commented on #7562
Fix is merged

[2020-10-23 02:01] #7562 closed

[2020-10-23 04:19] stegeto22 commented on #8914
@strkkk
I've changed the headline. The description and the attached [checkstylePerformance.zip](https://github.com/checkstyle/checkstyle/files/5420238/checkstylePerformance.zip) already contain some example files and time measurements. Do you need s.th. else to reproduce it.

[2020-10-23 08:24] landsman commented on #7427
Yes please, look on Javascript world - Prettier tool. Easy, comfortable connected to Husky. Developer is super happy, without thinking about checkstyle.

[2020-10-23 14:41] romani commented on #8914
this degradation of performance is expected :( .
We do such stuff to switch to more reliable validation. So archiving more reliable validation in expense of performance, this is due to the fact that we converted Check to NOT use Regular Expression based logic but do parsing of Javadoc content by parser based on grammar (significantly more comprehensive action).

If you need for some reason old Che

[2020-10-23 14:41] #8914 closed

[2020-10-23 14:56] romani opened #8918 "update Cirrus CI to not print download progress in logs"
https://cirrus-ci.com/task/6125110027354112
logs are hard to scroll, due to download process printed.

Solution: add `--no-progress` to chocolate
taken from https://www.reddit.com/r/chocolatey/comments/fcx3yg/best_practice_when_installing_via_packer/

at https://github.com/checkstyle/checkstyle/blob/master/.cirrus.yml#L40

[2020-10-23 16:36] rnveach commented on #8914
Exact reasoning at https://github.com/checkstyle/checkstyle/issues/1064#issuecomment-200387660 .

We don't have anyone with the expertise or time to help dive into and try and resolve the issue.

@romani We should keep an issue open IMO, to point users to and ask for assistance looking into and one day resolving this issue.

[2020-10-24 04:28] #8918 closed

[2020-10-24 04:29] romani commented on #8918
Fix is merged

[2020-10-24 04:49] romani commented on #8914
@rnveach , please create issue on parsing performance.

[2020-10-24 07:05] pbludov commented on #8918
Sorry for the late response, but this can be turn off in the [config](https://chocolatey.org/docs/chocolatey-configuration#general-1):
`choco feature disable --name showDownloadProgress`

[2020-10-24 07:48] pbludov commented on #8807
@basinilya have you tried to replace `SuppressWithPlainTextCommentFilter` with [SuppressWarningsFilter](https://checkstyle.org/config_filters.html#SuppressWarningsFilter) or [SuppressionXpathSingleFilter](https://checkstyle.org/config_filters.html#SuppressionXpathSingleFilter)?

it makes sense to use [SuppressWithPlainTextCommentFilter](https://checkstyle.org/config_filters.html#SuppressWithPlainT

[2020-10-24 08:16] pbludov commented on #8807
@romani @strkkk  @rnveach The problem with this issue is that the `Filter` interface has only one method: `accept(AuditEvent event)`. There is no way to perform any initialization or cleanup in the filter.

To solve this problem, @basinilya used an ugly [hack](https://github.com/checkstyle/checkstyle/pull/8820/files#diff-c66b169e2477f5776072a4ac21715b4d1fc2ede559f17668817f1f79eb09efe4R425) that I

[2020-10-24 08:19] basinilya commented on #8807
This filter won't allow me to control line length warnings.

[2020-10-24 08:25] basinilya commented on #8807
Or you could add getFileContents() to AuditEvent just like in TreeWalkerAuditEvent

[2020-10-24 13:07] romani commented on #8915
what I see is problem with modifiers in config.
Your particular case probably can resolved by removing property
[code]
Please confirm that this is what you want.

But it reveal another issue is that user can not make custom rule for only "package-private" visibility.

[2020-10-24 13:07] #8912 closed

[2020-10-24 13:31] romani commented on #8901
we use JXR for generation of html pages from source files that are easy to reference by line numbers as http link with anchor to exact number.
If any of you know tool that can do simply this, we do not JXR and can use such tool.

JXR do more that we need, and has parser for fancy code highlighting in web and .... . We do not need all that.
https://maven.apache.org/jxr/maven-jxr-plugin/jxr-mojo.htm

[2020-10-24 13:35] gb-klein commented on #8915
Leaving out memberModifiers property won' work as it will result in not only reporting illegal types for fields but also for local variables, which we of course want to allow. We only want to forbid usage of Optional in fields (independent of modifier).

[2020-10-24 13:37] romani commented on #8881
@ndimiduk ,

you do not need this, and we do not need your exact secret code.
Please minimize your code to what is really required, obfuscate your code as much as required and share simple meaning less code snippet (all we need to just to be compilable code). You can see in other issues examples of code, non of them make any sense but can show a problem.

[2020-10-24 13:49] romani commented on #8915
as workaround you can use suppression - https://checkstyle.org/config_filters.html#SuppressionXpathSingleFilter
provided xpath might not work for all cases, but you can tune it further to be more robust.
[code]

[2020-10-24 14:49] romani commented on #8844
@qxo , please update all your comments to have `<module name="Checker">`, all in Checkstyle is modules, there are no other xml tags.

I do not understand this, examples does not help me also, please try to extend description to let me see what you mean.

lets keep `parent` for now, as all other attributes are nouns.

[2020-10-24 15:17] qxo commented on #8844
ok, you may implement it base on my origin idea:)
I have no time for this  PR anymore
My version of checkstyle work fine for me
[code]

[2020-10-24 15:24] romani commented on #2873
@rnveach ,
you variant is too big update for XML structure and will affect all modules, as all is module in Checkstyle.

I am more leaning to solution of @jochenvdv with modification
[code]

and all modules are merging from parent to current config AND inherited modules loose if matching by name or id module present in config.
Concept: in parent config you can disable whole module or override whol

[2020-10-24 15:24] romani commented on #8844
discussion is moved to #2873

[2020-10-24 15:24] #8844 closed

[2020-10-24 15:33] romani commented on #2873
@pbludov , @strkkk , @esilkensen please share your ideas on this.
@rdiachenko , please share your experience of Google style override/customization.

[2020-10-24 15:48] romani commented on #8122
we should demand space after "//", we do this alredy in our codebase:
https://github.com/checkstyle/checkstyle/blob/dfec36a68198f335475976c47ca7c4f2dd553603/config/checkstyle_checks.xml#L639-L644
it will resolve not all cases, but most of them, unresolved is leading space before `//`

[2020-10-24 15:58] romani commented on #8137
we thy to make module more general to be reused to catch other not good comments.

I did bad name on purpose to not anybody think it is already implemented. Sorry for confusion.

we can make Check to have tokens configured to let user run it only on `//` (single line comment), or or only on multiline comment `/* */`, or both.

[2020-10-24 16:00] romani commented on #8137
@pbludov , @strkkk , can you read this proposal and share ideas to let us approve issue.

[2020-10-24 18:48] nmancus1 opened #8921 "Disable "checkstyle-cli-run-openjdk14" job in travis.sh"
From #8920:

Once #8920 is merged, `checkstyle-cli-run-openjdk14` in `travis.sh` should be removed/disabled.  `checkstyle-cli-run-openjdk14` only parses around 2,000 files; it's replacement, proposed by the changes in #8920, parses around 46,000 files (this excludes `module-info.java` files and non-compilables):

[code]
As we need to pare down the number of jobs for travis anyway, and the test in

[2020-10-24 21:02] rnveach commented on #8901
`patch-diff-report-tool` is what creates our final HTML files which is outside `checkstyle-tester`'s POM.

To be clear, we are talking about removing JXR from `checkstyle-tester`'s POM, NOT `patch-diff-report-tool`'s POM.
See https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/pom.xml#L39-L43

@nmancus1 How does `patch-diff-report-tool` complete on the files that fail in `chec

[2020-10-24 23:45] romani commented on #8901
If can live without jxr, let's remove it.
We already migrated to diff.groovy completely, so let's remove it.

[2020-10-25 07:01] strkkk commented on #8137
@romani it is not clear is this check only for single line comments or not? if yes, it is not clear what should be a violation. Also, description is a bit misleading since it says that check should skip javadocs (why?) and in code example you have javadoc with violation comment.

[2020-10-25 21:15] nvuillam opened #8922 "Add Mega-Linter in "Active Tools" section"
**Is your feature request related to a problem? Please describe.**
No problem :)

**Describe the solution you'd like**
On [Active Tools doc](https://checkstyle.sourceforge.io/#undefined)I'd like to add [Mega-Linter](https://github.com/nvuillam/mega-linter) to the list of tools embedding CheckStyle
URL: https://github.com/nvuillam/mega-linter#readme

Values are the following:
- name: Mega-Linter
-

[2020-10-25 22:20] romani commented on #8922
please send PR.

[2020-10-25 23:14] romani commented on #8609
Do you use our CLI ?
if yes, so you can pipe our output to some tool to sort it as you want.
We will continue to keep violations in order as we do now, it is convenient for us and and it is convenient for a lot other users. Sorry that you have a bit different workflow and this is not convenient for you.

you need custom Audit Listener to print violations as you want.
Or use post report creation co

[2020-10-25 23:14] #8609 closed

[2020-10-25 23:35] nvuillam commented on #8922
It was written "contact us" :)
Ok i'll make a pr, thanks !

Le dim. 25 oct. 2020 à 23:20, Roman Ivanov <notifications@github.com> a
écrit :

[2020-10-25 23:42] romani commented on #8137
all javadoc comments are block comments:
[code]

we can think of some extra simple code to skip comments with javadoc identifier in block comments.

[2020-10-26 00:00] romani commented on #8922
you contacted us :) , just send PR with wording you like to be for your tool.
code is here:
https://github.com/checkstyle/checkstyle/blob/dfec36a68198f335475976c47ca7c4f2dd553603/src/xdocs/index.xml.vm#L153

[2020-10-26 06:54] pbludov commented on #8137
For a block comment, there must be a space before the closing`*/'. But single-line comments will definitely not have it. This means that we need one regular expression for single-line comments and another for block comments. And it will be easier to create two new checks.

[2020-10-26 07:00] #8895 closed

[2020-10-26 07:00] strkkk commented on #8895
Fix is merged

[2020-10-26 09:58] nvuillam commented on #8922
@romani PR done :) #8924

[2020-10-26 10:04] strkkk opened #8925 "Anchor links for active and inactive tools on front page are broken"
Steps to reproduce
1. Go to https://checkstyle.org/index.html
2. Navigate to Active Tools or Inactive / Old Tools section
3. Click on anchor link

Actual link is https://checkstyle.org/index.html#undefined

But it should not be like this
![image](https://user-images.githubusercontent.com/8901354/97159690-4a0a9580-178c-11eb-887d-2051856d5b67.png)

[2020-10-26 10:20] nvuillam commented on #8922
New PR: #8927

(previous one cancelled, as I also reordered the table)

[2020-10-26 14:18] anhminhtran235 commented on #8873
I am on it

[2020-10-26 14:39] #8925 closed

[2020-10-26 14:42] romani commented on #8925
Fix is Merged

[2020-10-27 05:41] romani commented on #8916
Fix is merged

[2020-10-27 05:41] #8916 closed

[2020-10-27 09:38] gb-klein commented on #8915
Yes, this solution does the trick and works perfectly. Thanks!!

[2020-10-27 14:50] romani opened #8928 "Add new prefix "supplemental:" to commit validation"
from
https://github.com/checkstyle/checkstyle/pull/8897#issuecomment-709333159

What about to allow `supplemental: .... for Issue #XXXX`.
for cases there we do fixes for issue but it is not functional fix for issue.

NOTE: we need to add it to [release note builder](https://github.com/checkstyle/contribution/tree/master/releasenotes-builder) also to skip , same as "minor:"

[2020-10-27 16:03] ajithalbus opened #8929 "Indentation: Java14 switch expressions[JEP-361] fails indentation checks when lineWrappingIndentation property of Indentation module is a non-default value"
Check documentation: https://checkstyle.org/config_misc.html#Indentation

[code]

---------------

With Java14 switch expressions[JEP-361], when `lineWrappingIndentation` property of `Indentation` module is set to `8`, checkstyles suggests lower indentation level `case` statements to move to a higher indentation level and at the same time suggests higher indentation level `case` to move to a lower

[2020-10-27 23:16] rnveach commented on #8901
@romani We are not completely migrated to `diff.groovy`. See https://github.com/checkstyle/checkstyle/search?q=%22launch.groovy%22
Hence why I am not sure how much launch needs JXR if it is relying on JXR to create the reports that diff naturally creates through our util.

[2020-10-28 07:15] beingrudraksh commented on #8552
I am on it

[2020-10-28 14:01] romani opened #8930 "IllegalType: update examples to show how to target Check to fields only"
https://checkstyle.org/config_coding.html#IllegalType

update documentation to show example of how to limit IllegalType to validate field types only (not a variable), example:
https://github.com/checkstyle/checkstyle/issues/8915#issuecomment-715918018

we need it as example as we have design problem in Check, but workaround is good enough to not fix Check.

[2020-10-28 14:11] romani opened #8931 "IllegalType: inability to set rules for package-private visibility"
https://checkstyle.org/config_coding.html#IllegalType
[code]

---------------

usage of tokens flexible but does not work for visibility scopes, as one visibility  scope (package-private) is when no java language keyword is defined.

[2020-10-28 14:18] romani opened #8932 "Exception message for invalid token is unclear"
[code]

one more case - https://github.com/checkstyle/sonar-checkstyle/pull/338#issuecomment-705581364

Expected:
`java.lang.IllegalArgumentException: unknown TokenTypes value '' `

[2020-10-28 14:22] romani opened #8933 "IllegalType: inability to set default value for property memberModifiers"
Check documentation: https://checkstyle.org/config_coding.html#IllegalType

[code]

Expected: work as `memberModifiers` is not mentioned in config.

[2020-10-28 14:23] romani commented on #8915
I am closing this issue, few outbound issues are created.

[2020-10-28 14:23] #8915 closed

[2020-10-28 14:24] romani commented on #8931
@strkkk , @pbludov , do you have any ideas on how to resolve this issue and should we address it ? we can keep as limitation by design.

[2020-10-28 15:03] romani commented on #8901
all this cases can be redone to use diff.groovy,
or we can copy code with extraMvOptions to launch.groovy.

[2020-10-28 20:21] nmancus1 opened #8934 "FinalLocalVariable throws a NPE on Switch expression in assignment"
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#FinalLocalVariable

Discovered at https://github.com/checkstyle/checkstyle/pull/8920#pullrequestreview-518815743

FinalLocalVariable is throwing a NPE when a switch expression is used on the RHS of an assignment expression:

[code]
I would expect FinalLocalVariable to be able to successfully check this file.

[2020-10-28 20:25] nmancus1 commented on #8934
Once this fix is merged, we can remove `ExpressionSwitchBugs.java` from the excluded files in `openjdk14-excluded.files`.

[2020-10-28 23:11] #8341 closed

[2020-10-28 23:11] rnveach commented on #8341
Fix was merged

[2020-10-28 23:20] rnveach commented on #8931
Why should this check even care about the modifier being used? Why is there no violation on field 1-3?

It seems to me the code example is not valid and wouldn't compile because `java.util.Optional` has no import statement and it is not automatically imported like `java.lang`.

[2020-10-29 06:06] pbludov commented on #8931
Another issue with this property is that this property

So it is not possible to create a rule for a `final static` constant that does not apply to a regular `static` variable.

And one more: for annotations/interfaces the default modifier is `public`, so the method `foo`
[code]
will not be recognized as a public method.

[2020-10-29 11:14] JarLob opened #8936 "Security policy/contact"
I would like to report a potential security vulnerability in the project.
However there is no Security Policy with a contact I could write to.

[2020-10-29 13:10] romani commented on #8936
Please let us know what specific page you need for "Security Policy", can you show examples in other project?
If there is already some standard for "Security Policy" ?

We have mail-list
https://checkstyle.org/mailing-lists.html
you can find admin emails in it.
you can find my email in my commits, you can clone our repo and see it by "git log".

[2020-10-29 13:29] JarLob commented on #8936
I mean https://github.com/checkstyle/checkstyle/security/policy
@romani I have already sent the email to ivanov-jr mail ru on Oct 14. Could you please check the spam folder or provide an alternative?

[2020-10-29 13:45] romani commented on #8936
I see your email, thanks a lot for contacting/pinning us.
Let me review the issue.

[2020-10-29 13:56] romani opened #8938 "Keep user comment in env variable of git workflow"
from #8936

[2020-10-29 21:00] ndimiduk commented on #8881
I wish you were correct on this, but sadly, that's not how this company works. Anyway, I have approval. Let me make appropriate updates.

[2020-10-30 11:55] strkkk opened #8941 "Default values in meta files for wrapped list of values are incorrect"
For example - ClassDataAbstractionCouplingCheck

metadata: https://github.com/checkstyle/checkstyle/blob/604a3130e97d875f230373e6e4bc6b89df8f8ce9/src/main/resources/com/puppycrawl/tools/checkstyle/meta/checks/metrics/ClassDataAbstractionCouplingCheck.xml#L67
xdoc: https://checkstyle.org/config_metrics.html#ClassDataAbstractionCoupling_Properties
![image](https://user-images.githubusercontent.com/8

[2020-10-30 14:53] nmancus1 opened #8943 "SingleSpaceSeparator Check fails on deeply nested string concatenation"
Identified at #8920
Check documentation: https://checkstyle.sourceforge.io/config_whitespace.html#SingleSpaceSeparator

[code]
I'm not sure I would expect Checkstyle to parse this, but it is compilable.

[2020-10-30 15:03] #8922 closed

[2020-10-30 19:29] nmancus1 opened #8944 "Checkstyle fails on Nested"
[code]

[2020-10-30 19:31] nmancus1 opened #8945 "Checkstyle fails on nested type parameters"
Discovered at #8920 :

[code]
I would expect Checkstyle to be able to parse this code.

[2020-10-30 19:51] nmancus1 commented on #8944
Not sure what happened here, Chrome crashed on me while creating this bug report. This was supposed to be https://github.com/checkstyle/checkstyle/issues/8945,;I am closing this.

[2020-10-30 19:51] #8944 closed

[2020-10-31 05:48] #6346 closed

[2020-10-31 05:49] romani commented on #6346
Fix is Merged

[2020-10-31 10:34] pbludov commented on #6916
The issue is done. Powermock tests will be updated in https://github.com/checkstyle/checkstyle/issues/7368

[2020-10-31 10:34] #6916 closed

[2020-10-31 13:54] #8909 closed

[2020-10-31 14:24] romani commented on #8943
all our implementations are prone to stackoverflow for very very thousand-nested code. But lets try to fix this.

[2020-10-31 18:52] romani commented on #8936
@JarLob , fix is merged, see PR above.
We sent you a bit more questions in email

[2020-10-31 19:22] romani commented on #8315
@shashwatj07, you can work on any issue, just make comment to let others know that you started.

[2020-10-31 19:29] romani commented on #8237
Yes.
Issue is approved.

[2020-10-31 19:32] romani commented on #8537
I am ok to extend default.
@strkkk , if you agree please approve issue.

[2020-10-31 20:17] romani commented on #8936
Security.md page is merged

[2020-10-31 20:17] #8936 closed

[2020-10-31 23:19] romani commented on #8938
security fix is merged.

[2020-10-31 23:19] #8938 closed

[2020-10-31 23:26] romani commented on #8450
done is scope of #8742

[2020-10-31 23:26] #8450 closed

[2020-10-31 23:27] romani commented on #8742
Array default value should have no curly braces
-----

https://github.com/checkstyle/metadata-gen/pull/30/files#diff-ac1ee04184222617b0f18521881c5da0R52

`<property name="legalAbstractClassNames" type="java.lang.String[]" default-value="{}"> `

default value is something that use can copy and put in Check and it should work. Unfortunately `"{}"` is not good value, and It is our visual marker of no

[2020-10-31 23:29] romani commented on #8742
Name of Checks should not have "Check" suffix
------

from generated metadata files:
`<check name="InterfaceMemberImpliedModifierCheck" ....`

it should be `<check name="InterfaceMemberImpliedModifier"`
same as we print in HTML website - https://checkstyle.org/config_modifier.html#InterfaceMemberImpliedModifier

is used want class name he has `fully-qualified-name="com.puppycrawl.tools.checkstyle.

[2020-10-31 23:32] romani commented on #8742
Formatting of Description.
--------

At least what we can do now - is to remove examples (the most ugly part).
All other tags (`<a htef`, `{@code ` .... ) can stay in property description and lets keep it as is, we will think about this later on, or apply smth like `getHtmlLessDesc` in future, we can release with  description like:
![image](https://user-images.githubusercontent.com/812984/90648914

[2020-11-01 00:15] anhminhtran235 commented on #8884
I am on it

[2020-11-01 00:37] anhminhtran235 commented on #8884
@rnveach @romani I'm using Windows 10. When I ran `MetadataGeneratorUtilTest.java`, no files are changed. Here were the steps I took. Please tell me if I did something wrong:

1/ Make sure my local is up to date with checkstyle master.
2/ Run `checkstyle\src\test\java\com\puppycrawl\tools\checkstyle\meta\MetadataGeneratorUtilTest.java`
3/ Type `git status`
4/ Git status result:
[code]

[2020-11-01 01:35] romani commented on #8884
@anhminhtran235 , while  we waiting for reply, can you update appveyor config https://github.com/checkstyle/checkstyle/blob/master/appveyor.yml
To do same validation as Travis does
https://github.com/checkstyle/checkstyle/blob/608389aaf407ccc3ee38b209829dd550f2355ee4/.travis.yml#L353
If after buid status of git is not clean, fail a build

[2020-11-01 02:41] anhminhtran235 commented on #8873
@zml2008 @pbludov  Sorry for the delay.

[code]

Compile with Java 14.0.1: Compile successful
Compile with Java 15.0.1:
[code]

2 java versions give different compiling results.
So that means we need to have different logic for each version?

[2020-11-01 02:50] romani commented on #8873
No, it is mandatory for sources to compile.
If jdk15 give compilation error, it means that bug is not valid. It is very rare case.
We will not support intermediate state of compiler.

[2020-11-01 02:59] anhminhtran235 commented on #8884
@romani  I'm not sure how to write .yml code. Also, do you want me to update appveyor config locally or push to checkstyle master?

[2020-11-01 03:55] romani commented on #8884
Can you write powershell command that return non zero exit code if status in fit is not empty
https://github.com/checkstyle/checkstyle/blob/608389aaf407ccc3ee38b209829dd550f2355ee4/appveyor.yml#L81
And we just need to add such command to be placed in yml.

[2020-11-01 06:39] zml2008 commented on #8873
Sorry, I think there is some misunderstanding @romani. My issue is that using `this` was allowed in the Java 14 record preview but is no longer allowed in Java 15's second preview of records. Checkstyle's existing behaviour is correct for Java 14, but not for Java 15 or [what will be the final records in Java 16](https://openjdk.java.net/jeps/395).

See the original source file I posted -- it is v

[2020-11-01 14:13] romani opened #8951 "Remove Buddy CI config"
all details on why this CI does not work for us at https://github.com/checkstyle/checkstyle/issues/5473

unfortunately we are development mode to be ready for release at any commit (as soon as fix merged to master we can do release, almost done CI/CD), so we need to validate all by CIs in PR.

with our level of PR rate, we will quickly use quote.

so it might be good CI for master only build.
I di

[2020-11-01 14:33] romani commented on #120
implementation is almost done at https://github.com/checkstyle/checkstyle/pull/8232

It is sad that we lost energy to finish it.
This Check looks interesting idea but has a lot uncertainties and in some cases very controversial. If I accept such implementation there will be numerous bugs on us to improve that we unlikely can make.

If somebody has time and interest I recommend to move this impleme

[2020-11-01 14:38] romani commented on #120
if somebody have time to make it happen, please do it https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/825 , it will be much easier to do this in that project.

[2020-11-01 14:38] #120 closed

[2020-11-01 14:46] romani commented on #8873
sorry, you are right, I misread issue and comments.

[2020-11-01 18:11] anhminhtran235 commented on #8873
@romani @zml2008 If I understand correctly, in Java 15 `this` is not allowed in record's constructor at all?
[code]
[code]
So `RequireThis` should be disabled in record's constructor. But in other place, `this` can still be used such as:
[code]
That means we should still `require this` in other places in records (and also take into account that assigning to this.variable is not possible)?
[code]

[2020-11-01 18:15] anhminhtran235 commented on #8884
I've never written powershell command before. I don't quite understand how powershell and appveyor.yml work. Do you want me to learn it and then add the command, or do you want people who know powershell do it?

If you want me to learn it, please suggest a few sources where I can learn about appveyor.yml and powershell.

[2020-11-01 20:11] anhminhtran235 commented on #8934
I am on it

[2020-11-01 20:36] romani commented on #8884
@anhminhtran235 , please skip this issue for now.
@rnveach , we do need your help here, as do not have anybody who can reproduce it. It would be awesome if you can reproduce it in CI.

[2020-11-01 20:38] romani commented on #8873
we should skip in record c-tors for only, all other method should be under validation.

[2020-11-01 21:36] anhminhtran235 commented on #8873
Ok. I will work on that. Please allow me extra time as this is currently a busy period for me.

[2020-11-02 13:50] nmancus1 commented on #8945
Once this is fixed, we can remove the "NestedTypes.java" `BeforeExecutionExclusionFileFilter` from openjdk14-excluded.files.

[2020-11-02 13:52] nmancus1 commented on #8656
Once this is fixed, we can remove the "UnicodeCommentDelimiter.java" `BeforeExecutionExclusionFileFilter` module from `openjdk14-excluded.files`

[2020-11-02 13:56] nmancus1 commented on #8654
Once this issue is fixed, we can remove the following `BeforeExecutionExclusionFileFilter`s from openjdk14-excluded.files:
`LingeredAppWithExtendedChars.java`
`FirstChar2.java`
`HeapDumpTest.java`
`TestPrintingMethods.java`

[2020-11-02 13:59] nmancus1 commented on #8650
Once this issue is fixed, we can remove the "UncommonParamNames.java" `BeforeExecutionExclusionFileFilter` from `openjdk14-excluded.files`.

[2020-11-02 14:02] nmancus1 commented on #8651
Once this issue is fixed, we can remove the following `BeforeExecutionExclusionFileFilter` modules from openjdk14-excluded.files:
`TextBlockLang.java`
`TranslateEscapes.java`

[2020-11-02 14:41] nmancus1 commented on #8655
Once this issue is fixed, we can remove the "UnicodeAtEOL.java" `BeforeExecutionExclusionFileFilter` module from `openjdk14-excluded.files`.

[2020-11-02 14:43] nmancus1 commented on #8291
Once this issue is fixed, we can remove the following `BeforeExecutionExclusionFileFilter` modules for the following files from `openjdk14-excluded.files`:
`NestedLambdaGenerics.java`
`NestedLambdaNoGenerics.java`

[2020-11-02 14:45] nmancus1 commented on #8652
Once this issue is fixed, we can remove the following `BeforeExecutionExclusionFileFilter` modules for the following files from `openjdk14-excluded.files`:
`T8011722.java`
`AllLocations.java`
`AnnoTreeTests.java`

[2020-11-02 14:47] nmancus1 commented on #8653
Once this issue is fixed, we can remove the "TrailingComma.java" `BeforeExecutionExclusionFileFilter' from openjdk14-excluded.files.

[2020-11-02 14:50] nmancus1 commented on #8943
Once this issue is fixed, we can remove the "DeepStringConcat.java" `BeforeExecutionExclusionFileFilter` module from `openjdk14-excluded.files'.

[2020-11-02 17:10] Fernal73 opened #8957 "EmptyLineSeparator flags commas for multiple single type variables on line"
**Check documentation:** https://checkstyle.org/config_whitespace.html#EmptyLineSeparator

[code]

**Expected:** No violations.

[2020-11-04 02:17] rnveach commented on #8943
This seems like an easy fix.

https://github.com/checkstyle/checkstyle/blob/b23b15328f89d798d15a2e1a17fa7e7e00039d45/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/SingleSpaceSeparatorCheck.java#L177
Either we:
1) Have this check do a `visitToken` on every single token, or
2) We basically re-implement the inline recursive "visit every token logic" from `TreeWalker`

[2020-11-04 12:42] nmancus1 opened #8960 "Use diff.groovy in openjdk14-with-checks-nonjavadoc-error semaphore job"
From #8920:

_Originally posted by @rnveach in https://github.com/checkstyle/checkstyle/pull/8920#r516722046_

We need to migrate to using `diff.groovy` in semaphore job `openjdk14-with-checks-nonjavadoc-error`, instead of `launch.groovy`.   This will enable us to rely less on JXR and maven-checkstyle-plugin in the future.

This issue relies on a fix for https://github.com/checkstyle/contribution/

[2020-11-04 15:23] romani opened #8961 "investigate why zero indentation for source tags are not required"
detected at https://github.com/checkstyle/checkstyle/pull/8958

some `source` blocks are not required to be indented to 0 position to be rendered without indentation.
https://checkstyle.org/writingchecks.html#The_Checkstyle_SDK_Gui
https://github.com/checkstyle/checkstyle/blob/3fc9dd98ad6ed963e2cfcd2e630f7031ec5b0c1e/src/xdocs/writingchecks.xml#L191-L201

but in Checks examples we do not  use DIV.

[2020-11-04 15:45] romani commented on #8439
[code]

[2020-11-04 15:52] #8439 closed

[2020-11-04 21:15] rdiachenko commented on #2873
@romani
Nothing interesting. Here's the only difference at the moment between our custom config and the original one:
**original**
[code]
**custom**
[code]

[2020-11-05 00:14] t-rasmud opened #8963 "Nondeterministic order of error messages in Translation check"
I have noticed that Checksytle produces errors in different order on different executions.  This is annoying when comparing the result of Checkstyle on different versions of a program, or when comparing two versions of Checkstyle on the same program, or just when running Checkstyle twice.

This bug is because `TranslationCheck` uses a `HashSet` to store the input `*.properties` files.  I have crea

[2020-11-05 07:08] rdiachenko opened #8965 "Indentation check doesn't give violation when google formatter does"
Checkstyle 8.37, google-java-format 1.9
config (taken from google_checks.xml - https://github.com/checkstyle/checkstyle/blob/checkstyle-8.37/src/main/resources/google_checks.xml#L243):
[code]
code:
[code]
none violations given by Checkstyle:
[code]
but there is a non-empty diff when applying google-java-format (which leads to errors when using https://github.com/coveooss/fmt-maven-plugin):
[code]

[2020-11-05 15:18] romani commented on #8963
I am ok with proposal.

@rnveach , please review and approve issue.

[2020-11-05 15:58] rnveach commented on #8963
I am ok with proposal too, but I want to point out TranslationCheck is a multi-file check. I am sure we had this discussion before, but these type of checks will break the order as it can't be maintained between non-multi-file checks or even other multi-file checks. For example, if you add a RegExp check to violate all message files that TranslationCheck does, I am sure you will see there is again

[2020-11-05 21:00] rnveach commented on #8552
Fix merged

[2020-11-05 21:00] #8552 closed

[2020-11-06 08:07] pbludov commented on #8921
Fix is merged.

[2020-11-06 08:07] #8921 closed

[2020-11-06 09:14] saksham9656 commented on #8881
Hi i am interested in this issue. would you please guide me ?

[2020-11-06 10:25] gdinant opened #8966 "[FEATURE REQUEST] Enhance LambdaBodyLength to something like LambdaBodyExecutableStatementCount"
Hello guys,

Related to the latest introduced functionality https://github.com/checkstyle/checkstyle/issues/8341 . The idea is great and I would definitely vouch for any check styles that favour code readability.

However in that specific scenario, that check isn't applicable to 99% of the violation we could encounter in our code base for the following reasons:

- Counts empty lines (though empty

[2020-11-06 11:01] strkkk commented on #8966
@gdinant Thanks for your feedback.

This check was implemented in same way as other length checks, e.g. AnonInnerLength and MethodLength. It counts number of lines between curly braces or, in case of expression, number of lines between first and last token.

I think what you want is to extend [ExecutableStatementCount](https://checkstyle.org/config_sizes.html#ExecutableStatementCount) check with a

[2020-11-06 12:02] gdinant commented on #8966
Yes @strkkk, it's exactly what I meant.

[2020-11-06 12:06] strkkk commented on #8966
@gdinant please modify first post and describe it in way described (see example) https://checkstyle.org/report_issue.html#How_to_request_new_feature_for_existing_functionality.3F

[2020-11-06 15:39] gdinant commented on #8966
Updated my first comment. Let me know if that's clear enough.

[2020-11-06 20:38] rnveach commented on #8961
I would look at the issue were we implemented the blocks and wraps for the examples. We had discussions on how to implement it and with CSS/HTML changes.

[2020-11-07 03:46] romani commented on #8966
New check need to be created.
Original idea of such Checks to care about visual size of block (lambda, method,...). So all is countable. It helped to detect methods that are above vertical screen size, so scrolling in required to read whole code.

Why  not to increase default size in Check to match your most log builder ?
Again if you have builder bigger than screen, it is better to refactor code.

[2020-11-07 03:53] romani commented on #8881
We need to agree on design before implementation, issue us not approved yet. We need to agree on design and way to implement it first.

[2020-11-07 04:34] saksham9656 commented on #8881
hi, i want to contribute in checkstyle so would you please tell me more about this that what to do and what it is basically about.
I am a beginner so would you please guide me?

[2020-11-07 04:46] romani commented on #7597
@saksham9656,  I recommend you  to start from  this issue. It already has PR but it was abandoned. It will help you to understand contribution process on simple issue. So on more complicated issues we will not focus on process.

[2020-11-07 05:32] saksham9656 commented on #7597
Thank you @romani

[2020-11-07 06:13] pbludov commented on #8951
Fix is merged

[2020-11-07 06:13] #8951 closed

[2020-11-07 08:03] pbludov commented on #8807
This makes sense. Currently, `FileContents` is created in each `AbstractFileSetCheck` descendant. This is redundant, since the file should not change and the result is always the same. This should be done once in the `Checker.processFiles` method.

[2020-11-07 08:07] pbludov opened #8968 "Add FileContents to AuditEvent"
Currently, `FileContents` is created in each `AbstractFileSetCheck` descendant. This is redundant, since the file should not change and the result is always the same. This should be done once in the `Checker.processFiles` method. By doing this, we not only speed up the process, but also provide access to the file contents for `AuditListeners`.

_Originally posted by @pbludov in https://github.com/

[2020-11-07 08:14] pbludov commented on #8968
There will be no breaking changes, just a new method in the interface `FileSetCheck`
[code]
Changes in `AbstractFileSetCheck.process` and `Checker.processFiles` methods will be trivial.

[2020-11-07 09:00] gdinant commented on #8966
@romani It is very unlikely that we have builders longer than a the actual screen size (potentially on entities, but still quite unlikely), however and I must be honest, scrolling "vertically" isn't so much of a big deal compared to scrolling horizontally.

What I care about is keeping the code clean and of a decent complexity => maintanable. Having a lambda with heaps of actions should be avoided

[2020-11-07 09:59] strkkk commented on #8963
Fix is merged

[2020-11-07 09:59] #8963 closed

[2020-11-07 12:06] saksham9656 commented on #7597
@romani  i could not understand the issue so would you please help in it?

[2020-11-07 13:18] pbludov commented on #8968
There is one problematic class: [MessageDispatcher](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/MessageDispatcher.java#L27)
[code]
It should be changed to
[code]
This interface has one known implementation: the `Checker` itself.

[2020-11-07 13:31] romani commented on #7597
@saksham9656 , I updated issue description to be more precise. Please try again.

[2020-11-07 13:37] romani commented on #8966
do you expect violation on:
[code]
if yes, so might want to continue to limit Lambda by size but with exception when Lambda does not have `{ }` or has, in other words it has single statement.

[2020-11-07 13:54] gdinant commented on #8966
@romani Your use cases are slightly different to what I'm referring to (limiting the number of statements / complexity as a whole), for me that feature request would be plenty.

Nonetheless, regarding your second example, as it is an unnecessary affectation I would definitely remove the brackets, but I doubt you can easily distinguish the two scenarios that easily. IDEs are smart enough to provide

[2020-11-07 14:37] romani commented on #8966
@gdinant , please forget about any IDE and any other Checks.

Presume All that we have is LambdaBodyExecuteStatementCount and chunk of code. And Check should put violation (please do not use any other synonym for this word) on code or not.

what limit you think is good for you ?  both cases from your comment has 2 statements but looks like first is OK and second should has violation.

As we go to

[2020-11-07 15:38] gdinant commented on #8966
If we stick solely to the original request and providing the following `config.xml` both scenarios should be invalid.
[code]

[code]

The default limit of `ExecutableStatementCount` is 20, either we keep the same default to stay somewhat consistant with that check or we go with a smaller value. I'd probably override the default with something like a maximum of `5` statements, but it's a very perso

[2020-11-07 15:47] romani opened #8969 "remvoe commit rules from PR description"
based on conversation at https://github.com/checkstyle/checkstyle/pull/8565#issuecomment-723452621

We can try experimental reduction of text in PR description to be less verbose.
I see trend that it does not work, I might forgot how bad it was without it :),
but it is true that it is too late to warn user on commit message as all is done by user, and he can change it after PR creation.

[2020-11-07 15:48] romani commented on #8969
@rnveach , @pbludov , @strkkk , @esilkensen , please share your vote on this to approve issue.

[2020-11-07 16:15] pbludov commented on #8969
I'm OK with current template for PR. It is never to late to do `git commit --amend` and fix the commit message.

[2020-11-07 16:24] romani commented on #8966
So you think that you will be fine with:
[code]
[code]

right ?

[2020-11-07 16:28] rnveach commented on #8969
I do not want a reduction in the commit test validation. I am fine with discussing changes to the wording and synching the 2 up so they are exactly the same so there is no surprises to the user. I think it is a bad idea to remove items from the MD when the test will throw it at them.

[2020-11-07 20:44] romani commented on #8551
Fix in documentation is merged

[2020-11-07 20:44] #8551 closed

[2020-11-07 23:18] gdinant commented on #8966
Yes, that would be fine.

[2020-11-07 23:53] romani commented on #8966
I do not see a benefit from such Check in main project, but want it so much you can implement it in our sandbox/experimental project https://github.com/sevntu-checkstyle/sevntu.checkstyle

You can use https://checkstyle.org/config_misc.html#DescendantToken for task that you have, it might do a job that you want.

[2020-11-08 02:39] anhminhtran235 commented on #8873
@romani @zml2008  Sorry for the delay. I found out 1 more bug:

[code]
Should I fix both bugs in the same PR, or should I create a separate issue for the new bug?

[2020-11-08 08:51] strkkk commented on #8966
@romani I don't understand why extension of ExecutableStatementCount doesn't work?

[code]

I do not see any reason for a specific check

[2020-11-08 12:39] Fernal73 opened #8970 "IllegalIdentifierName need not be case-insensitive"
https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/checks/naming/IllegalIdentifierNameCheck.html

I don't see any reason why the [IllegalIdentifierName](https://checkstyle.sourceforge.io/config_naming.html#IllegalIdentifierName) check has to be case-insensitive by default. Capitalised and all-capitals names are classes and constants respectively (using the naming convention rules).

[2020-11-08 18:27] romani commented on #8966
Good idea, I forgot about this Check.
Do we need add this token to list of supported to this Check ?

[2020-11-08 18:31] #8970 closed

[2020-11-08 18:35] romani commented on #8873
We create new issue only if fixing of it requires a lot other unrelated changes. If code changes are around the same code, ok to fix both issues in scope of one

[2020-11-08 18:44] strkkk commented on #8966
yes

[2020-11-08 23:21] romani opened #8971 "ExecutableStatementCount should allow LAMBDA token"
from discussion at https://github.com/checkstyle/checkstyle/issues/8966

https://checkstyle.org/config_sizes.html#ExecutableStatementCount

[code]

Expected: violation over lambda on line 2

[2020-11-08 23:22] romani commented on #8966
moved to https://github.com/checkstyle/checkstyle/issues/8971

[2020-11-08 23:22] #8966 closed

[2020-11-09 00:29] Fernal73 commented on #8970
I find this flagging class names such as Transitive (when I add transitive to the list of keywords). I have updated my rules xml to make it case-sensitive. I don't think the rule default should be case-insensitive. The rule will still apply to field, variable and method names such as `record, var, yield` etc. I'd assume that Var, Record, RECORD, YIELD, TRANSITIVE would be legal.

[2020-11-09 00:39] Fernal73 commented on #8970
I don't think people will actually be using identifiers such as yiEld, trAnsitiVe, etc. It's too stringent the way it is, IMO.

[2020-11-09 03:00] anhminhtran235 commented on #8873
When logging out the error:

https://github.com/checkstyle/checkstyle/blob/47a6dc8c0b9b81e5e83710080225dcb0aa788e9b/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/RequireThisCheck.java#L459-L464

Checking first if the `ast` is in `COMPACT_CTOR_DEF` solves the current issue.

[code]

[2020-11-09 03:04] anhminhtran235 commented on #8873
The change in Java 15 causes another (small) error in our check too:
[code]

Because 'x' is `final` instance variable, `this.x = x` is not possible. However, the error is at 4:5 (The first 'x'), while it should be at 4:9 (The second 'x').

[2020-11-09 03:32] anhminhtran235 commented on #8873
@romani  I'm working on this one. I guess this should be in this PR too?

[2020-11-09 04:33] romani commented on #8873
Up to you. We can split in few PRs.

[2020-11-09 05:03] anhminhtran235 commented on #8873
It seems that RequireThis hasn't handled the case where an instance variable is final:
[code]

Similar to [my previous comment](https://github.com/checkstyle/checkstyle/issues/8873#issuecomment-723727095), error should occur at 5:9 since `this.x = x` gives a compile error (`x` is `final`).
I think this problem is more about `RequireThis` for `final variable` than about `compact constructor`. I'm g

[2020-11-09 05:58] anhminhtran235 opened #8973 "RequireThis: Incorrectly locates errors for final instance variable"
Check documentation: https://checkstyle.org/config_coding.html#RequireThis
Discovered in #8873
[code]

Since `x` is a `final` instance variable, assigning `this.x = x` will give an error. Therefore, the error should be at 5:9, instead of 5:5 (which would make the code: `x = this.x`)

Similar problems happen for instance variable in `record` (which is `private final` by default) **in java 15**:
[co

[2020-11-09 06:35] gdinant commented on #8971
Looks good! :)

[2020-11-09 10:18] antonmarin opened #8974 "Is there EnumTrailingComma with logic similar to ArrayTrailingComma?"
Is there EnumTrailingComma with logic similar to ArrayTrailingComma?

[2020-11-09 15:14] mchernyakov opened #8975 "Does EmptyLineSeparator ignore custom tokens (8.36.2) ?"
I would like to have `EmptyLineSeparator` without token `STATIC_INIT`.

[code]
I have configured `checkstyle.xml` with:
[code]
But still seeing that my build is failed, because of :
[code]
Have I configured it normally? Or have I missed something?
I am expecting no errors.

[2020-11-09 15:22] harshitmalik03 commented on #7593
Can I work on this ?

[2020-11-09 15:31] timurt commented on #7593
@harshitmalik03 yes, you are welcome)

[2020-11-09 16:20] Fernal73 commented on #8970
I understand that you want the rule to be as strict as possible. But then the reaction to any unexpected flagging is as above!!!🙏🤣

[2020-11-09 16:56] romani commented on #8974
https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/464

There is even PR for it https://github.com/sevntu-checkstyle/sevntu.checkstyle/pull/814

You can have even more PRs for it, non of them succeeded.

[2020-11-09 16:57] #8974 closed

[2020-11-10 04:44] romani commented on #8975
Please report issue as it was required https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-11-10 09:16] aryaniiit002 commented on #7687
Examples for ImportOrder are already present [here](https://checkstyle.org/config_imports.html#ImportOrder)
Does that mean there is no issue here?

[2020-11-10 10:39] Masrepus opened #8976 "Align call arguments"
I would like to use the following style when using multiline lambdas:

[code]

In IntelliJ, this can be achieved by activating `Wrapping and Braces -> Method call arguments -> Align when multiline`. Unfortunately, checkstyle wants me to format the block as follows:

[code]
This is the corresponding output:
[code]
I haven't found out how to configure Checkstyle in a way that it allows the above for

[2020-11-10 11:54] mchernyakov commented on #8975
@romani updated, please check

[2020-11-10 11:56] harshitmalik03 commented on #7593
Can you please attach the link to the doc I need to update

[2020-11-10 12:14] harshitmalik03 commented on #7593
I have learnt how to fork, modify and pull request but im facing difficulty in finding this Translation #7593 doc.

[2020-11-10 12:16] timurt commented on #7593
@harshitmalik03 sure, you have to update examples inside class file [TranslationCheck](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/TranslationCheck.java) and corresponding xdoc documentation [config_misc.xml](https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_misc.xml)

you can find similar resolved issues [here](http

[2020-11-10 12:35] harshitmalik03 commented on #7593
I modified it and created a pull request ... Please do check and tell me if
thats how it works
Thank you

On Tue, 10 Nov, 2020, 5:46 pm Timur Tibeyev, <notifications@github.com>
wrote:

[2020-11-10 14:01] timurt commented on #7593
@harshitmalik03
OK, first of all can you please write here directly, instead of replying to emails. Replying to email puts whole conversation history in expandable box, which is redundant.

Let me explain issue more precisely. The main task of this issue is to provide good examples for configurations in [example section](https://checkstyle.org/config_misc.html#Translation_Examples). So that, every

[2020-11-10 15:04] romani commented on #7687
@aryaniiit002 , we need update for examples to show
default config
code sample for default
config with each property
code example to show how each property change behavior (it is better to have same code sample in each example to visually see a difference, but this not critical is such complicated Check )

I briefly reviewed doc, looks like default example is missed.

[2020-11-10 19:57] jensli opened #8978 "Checks for local variable type inference"
There are multiple style issues that are related to the use of local variable type inference. Many of these issues are related to the fact that code using the feature risks being harder to read. This is because it is no longer immediately apparent which types local variables have.

It would be nice with a Checkstyle module that could check for a couple of the issues with local variable type infere

[2020-11-10 22:48] rdiachenko opened #8979 "Indentation check gives false positive: 'array initialization rcurly' has incorrect indentation"
Checkstyle 8.37, google-java-format 1.9
config (taken from google_checks.xml - https://github.com/checkstyle/checkstyle/blob/checkstyle-8.37/src/main/resources/google_checks.xml#L243):
[code]
code:
[code]
Checkstyle gives indentation violation:
[code]
but there is an empty diff when applying google-java-format:
[code]
**Note:** empty diff when applying google-java-format means it's not expected to

[2020-11-11 07:15] aryaniiit002 commented on #7687
sorry i didnt get it, [ImportOrderCheck](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java)  is already present
so what else i have to do is - what u have mentioned above?

[2020-11-11 10:20] harshitmalik03 commented on #7593
Hey,
Thanks for helping.
Ive learn how to commit, make changes and generate pull request but im not exactly able to figure out on what changes do I have to make . This might sound silly but im new to this and thus in a confusion. I have understood that I have to change the examples section but can you help me by actually making a change and showing it to me ?

[2020-11-11 10:20] #8934 closed

[2020-11-11 10:21] pbludov commented on #8934
Fix is merged

[2020-11-11 15:00] romani commented on #7687
`<module name="ImportOrder"/>` and java code example should be added

[2020-11-11 16:18] romani commented on #7593
Please read https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-update-examples

And it has example of how update should be done https://github.com/checkstyle/checkstyle/pull/7634 but you need to do this for Translation Check, similar update in xdoc file and javadoc of Check class.

[2020-11-11 16:36] romani commented on #3601
fix is merged.

[2020-11-11 16:36] #3601 closed

[2020-11-11 18:13] anhminhtran235 commented on #8973
@romani Is this issue approved? Can I work on it?

[2020-11-11 19:05] Abhishek-kumar09 commented on #5362
@romani
What amount of lineWrappingIndenetation does checkstyle intended to follow. because there are mixed amount of lineWrappingIndentation being used inside the codebase.
![imageedit_5_8025337345](https://user-images.githubusercontent.com/48255244/98852148-3bef9100-247d-11eb-9ad0-5069548e5142.gif)
Since now, the position of new keyword itself is checked there are huge amount of errors raised du

[2020-11-11 19:50] rdiachenko opened #8980 "Indentation check gives false positive: '@' has incorrect indentation level 4"
Checkstyle 8.37, google-java-format 1.9
config (taken from google_checks.xml - https://github.com/checkstyle/checkstyle/blob/checkstyle-8.37/src/main/resources/google_checks.xml#L243):
[code]
code:
[code]
Checkstyle gives indentation violation:
[code]
but there is an empty diff when applying google-java-format:
[code]
**Note:** empty diff when applying google-java-format means it's not expected to

[2020-11-11 20:16] romani commented on #8980
Line 3 looks like new block, so +2 indentation is expected.

[2020-11-11 20:27] romani commented on #8973
Approved

[2020-11-12 00:36] anhminhtran235 commented on #8973
I am on it

[2020-11-12 01:30] romani commented on #8978
I see two problems:
1)Naming variable by names of methods used in expression
2) usage of car with name similar to type or "1)"

To do something in checkstyle we need exact design of rule. This rule is not very obvious. But I ok to help to form idea in design if you be driver of this process.

[2020-11-12 10:06] jarek-przygodzki commented on #893
Concept of having your version control system be opinionated about line endings is rather new and controversial.

I certainly wouldn't say that every setup that does not do line ending normalization on checkout/checkin is  incorrect.

[2020-11-12 14:51] romani commented on #7606
Fix is merged

[2020-11-12 14:51] #7606 closed

[2020-11-12 18:56] abebeos commented on #8980
Is this a regression in 8.37?

Note that this phrase is misleading.

You mean:

"but google-java-format validates the file" (the consequence of an empty diff)

[2020-11-12 19:25] rdiachenko commented on #8980
@abebeos

Empty diff when applying google-java-format means it's not expected to have code formatted in a different way, however Indentation check gives false positive and requires the code to be formatted differently.

I didn't check it against previous versions, so I don't know.

[2020-11-12 19:36] abebeos commented on #8980
No need to explain.

"google-java-format validates the file""

You should, this is standard-procedure when filing issues.

Additionally, this should be catched by your CI test-cases.

[2020-11-13 05:29] anandwana001 commented on #4452
How to modify the severityLevel in command line?
Complete question here - https://stackoverflow.com/questions/64815801/checkstyle-command-line-change-property

[2020-11-13 09:25] rdiachenko commented on #8980
@abebeos

Pull request is welcome

[2020-11-13 13:24] abebeos commented on #8980
Of course, but CI should be provided by the core-team anyways.

The procedure (for the core-team) would be:

- File Issue
- Add a test-case to CI
- Place bounty

Just suggesting here, because not everything is about bugs and codes.

Dev-Processes/procedures are important, too.

[2020-11-13 14:06] romani commented on #7580
Fix is merged

[2020-11-13 14:06] #7580 closed

[2020-11-13 23:29] nmancus1 commented on #2810
I'm on this.

I agree.

@romani @pbludov do you agree this should be the correct ordering of the javadoc `@param` tags?  I would like to make sure before I proceed any further.

[2020-11-14 05:57] nmancus1 commented on #8901
What is left to be done here? Should we open a issue for complete diff.groovy migration and close this one?

[2020-11-14 11:01] xenoterracide commented on #7517
huh, doesn't look closed, I just came wondering if this existed, would be good for autocompletion in IDE's

[2020-11-14 14:32] nmancus1 commented on #8104
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L66
We specifically exclude test java but don't do the same for IT java.
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L69

checkstyle_non_main_files_checks was for resources used as inputs and such.

While there is overlap in the files included in different steps of `ant-phase-verif

[2020-11-14 15:54] romani commented on #7517
@xenoterracide , which IDE you use ?
Is dtd not enough?

[2020-11-14 16:14] xenoterracide commented on #7517
Intellij, I guess it's suggesting tags, but not properties.

[2020-11-14 16:31] romani commented on #7517
good point to know ... yes I agree it would be cool.
But this will force us to have schema to be version specific and bound to checkstyle version, as new values appear all the time, new Checks appear each version. It will hard for us to keep this XSD uptoday manually, so we need generator of it.

But current DTD is stable for very long time.

All DTDs are downloadable by URL, as we have small amou

[2020-11-14 16:38] romani commented on #8104
@nmancus1 , I do not think it worse it.
resolving missed violation will take significantly more time then what we try to optimize.

We have big overlap in validation by all static tools, BUT we keep all of them as it is ok to get numerous same violation as prove it is required to be fixed.

[2020-11-14 16:39] #8104 closed

[2020-11-14 18:00] romani commented on #8901
I am closing this issue, let create new issue in refactoring of launch.groovy and diff.groovy .

[2020-11-14 18:00] #8901 closed

[2020-11-14 18:06] xenoterracide commented on #7517
xsd's are downloadable and you can point them at something like a latest url

[2020-11-14 18:42] romani commented on #7517
We releasing very frequently(each month), most users use very old versions.

[2020-11-14 22:54] romani commented on #2810
@nmancus1, issue is not approved.
We try to avoid big Checks that do all validations over target.
To my mind it is better to accomplish this validation by separate/special Check.
One more problem with https://github.com/checkstyle/checkstyle/blob/5a5cc1bcea1fe9f763c5a416de3f88106e3cb055/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L300 is that it is not base

[2020-11-14 23:02] 100yo opened #8989 "Checkstyle 8.37 parser crashes processing sealed classes or interfaces"
C:\checkstyle-8.37>type checkstyle.xml
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name = "Checker">
  <module name="TreeWalker">
    <module name="OuterTypeFilename"/>
    <module name="IllegalTokenText">
      <property name="tokens" value="STRING_LITERAL, CHA

[2020-11-14 23:04] romani commented on #4452
There is no way to do this as severity could be defined in each module of same config.
You need to use java system variable in config and provide value in command line.
Example at https://checkstyle.org/config.html#Properties

[2020-11-14 23:07] romani commented on #8989
It is jdk15 feature https://openjdk.java.net/jeps/360
We support only jdk14 for now, but yes, we need to support it.

[2020-11-14 23:25] rnveach commented on #2810
You can create new issue if you wish.

[2020-11-14 23:48] romani opened #8990 "New check JavadocParamOrder: to validate method parameter order in javadoc to match parameter order in method"
taken from https://github.com/checkstyle/checkstyle/issues/2810

TestClass.java

[code]

config.xml

[code]

To add less confusion between the javadoc order and the method when reading, I would like the at parameters to be validated in the javadoc so they both agree in terms of order. This will give new readers less headaches as they try to read and understand the method and what it's parameters m

[2020-11-14 23:49] romani commented on #2810
https://github.com/checkstyle/checkstyle/issues/8990

[2020-11-14 23:49] #2810 closed

[2020-11-15 00:43] romani commented on #5573
![image](https://user-images.githubusercontent.com/812984/99160024-7af92e80-2697-11eb-9d00-7c0584758656.png)
![image](https://user-images.githubusercontent.com/812984/99160106-7a14cc80-2698-11eb-9ccd-7b157a75f87f.png)

attention to index of group, it should be 4.

[code]

problem is not in parentheses, problem is in reference of group that match to nothing.

but I agree we can enhance our code to

[2020-11-15 02:05] romani commented on #5362
We can fix our code to follow requirements of Check.
No surprise, no violation from Check, and code is any form, humans can not keep track of this during code review.

We do not use strict mode, so any extra indentation is ok if author think it contribute to code read-abillity. It especially benefitial in IF expression to draw order of execution by indentation.

[2020-11-15 02:29] anhminhtran235 commented on #8973
@romani I need some help, please. There are many tricky cases related to final instance variables.
First of all, there are [3 places](https://stackoverflow.com/questions/18584674/can-a-final-variable-be-initialized-when-an-object-is-created) where we can init a final instance variable:
- in the constructor
- in an instance initialization block.
- when we declare it

As the result, there are edge c

[2020-11-15 02:35] anhminhtran235 commented on #8973
@romani In other places rather than constructor, RequireThis currently behaves differently:

[code]
There should be a violation at 5:9, but currently there isn't. My **second question is**: Should we add this violation? If we do not add violation here, then there should be no violation in Records either, because they are basically the same case.

[2020-11-15 06:16] romani commented on #8976
Unlikely checkstyle has support of this style.
I have never seen such styled code.

[2020-11-15 13:52] timurt commented on #7593
@harshitmalik03

#### How to run checkstyle

Lets start from the beginning, checkstyle can be assembled to jar file (as described [here](https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations)),

To be executed, jar requires configuration file (you can use as example [this](https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml) default o

[2020-11-15 19:39] Masrepus commented on #8976
Well, that's unfortunate, but thanks for your reply

[2020-11-15 19:39] #8976 closed

[2020-11-15 19:47] romani commented on #8973
Yes, we can create bug on such cases and wait for next contributor to do next step.
But as you already did a great job to investigate a problem, we can add test cases to our Inputs codebase, and make comments "// violation until #yournewissue"

[2020-11-15 19:55] romani commented on #8976
If we collect enough votes for this issue, we might consider to support it

[2020-11-15 20:02] romani commented on #8873
Yes, I am ok to fix separate problems in multiple issue, we improve step by step.

[2020-11-15 20:32] Masrepus commented on #8976
That's probably not a popular feature, as this admittedly is a rather unusual code style... If there may eventually be support for this, that would of course be great. But until then I guess I will use some workarounds in my workflow.

[2020-11-16 03:04] anhminhtran235 commented on #8973
You mean I should add comments like this?
[code]

So, I should disable **all** RequireThis check inside Records?

[2020-11-16 08:10] ek08 commented on #7609
I am on it.

[2020-11-16 11:18] #7669 closed

[2020-11-16 11:18] strkkk commented on #7669
Fix is merged

[2020-11-16 13:21] ek08 commented on #7609
I have a doubt, If I have a class with two constructors one is private , the other is public and the class is not declared final.Then is it violation or it's OK.
What I mean is :

class MyClass {
int a;String str;

private MyClass(int a){
this.a=a;
str="dummy value";
}

public MyClass(String str){
this.str=str;
a=0;
}
}
I think this is not violating as it has a public constructor also so it is not

[2020-11-16 13:33] strkkk commented on #8975
@mchernyakov you got response on stackoverflow
https://stackoverflow.com/questions/64856317/checkstyle-emptylineseparator-ignores-custom-tokens

[2020-11-16 13:33] #8975 closed

[2020-11-16 15:38] romani commented on #7593
@harshitmalik03 , this Check might be too complicated for first issue, please let us know if you still have problems, so we will find for your more easy issue to be productive and get knowledge at speed you like.

[2020-11-16 17:18] wltan commented on #7609
The simplest way to find out is to download the latest Checkstyle release and test it out yourself. You will also need to do this  when submitting PRs, so that reviewers know the code you have written does match the expected violations.

This issue is focused on documenting the check's behavior in its current state. If the check does not behave according to what you expect, feel free to raise a bu

[2020-11-17 08:06] ek08 opened #8991 "Unexpected Token:Interface"
The doc says(https://checkstyle.org/config_design.html#FinalClass_Description)
Doesn't check for classes nested in interfaces.

$ cat config.xml
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>
    <module nam

[2020-11-17 08:19] ek08 commented on #8991
Here is the config.xml file

&lt ?xml version="1.0"?&gt
&lt !DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd"&gt

&lt module name="Checker"&gt
    &ltproperty name="severity" value="error"/&gt
    &lt module name="TreeWalker"&gt
		&ltmodule name="FinalClass"/&gt
    &lt/module&gt
&lt/module&gt
`

[2020-11-17 09:06] strkkk commented on #8991
you have Interface (uppercase I) instead of interface (lowercase i) in your code. Checkstyle expects compilable java code.

FYI please try to do `javac your_file.java` before to make sure it compiles (no output in console)

[2020-11-17 09:06] #8991 closed

[2020-11-17 09:27] ek08 commented on #8991
I am so sorry.I did a blunder.

[2020-11-17 10:34] harshitmalik03 commented on #7593
Thanks a lot for helping so much. I did get some of this stuff but as you said this seems to be a bit complicated for first issue so it would be good if i get an easier issue in the beginning.
Thank you so much for guiding.

[2020-11-17 14:31] romani commented on #7662
@harshitmalik03 , please help us to resolve this issue

[2020-11-17 14:33] harshitmalik03 commented on #7662
Ok sure, let me have a look at it.

[2020-11-17 14:38] romani commented on #7609
you found bug, thanks a lot.

Please report it as new issue or search in issue tracker if it exists already.

as bug is found, not need to add it to documentation
please add test case
https://github.com/checkstyle/checkstyle/blob/8a9f57609c3bfbc16bf9ace98c52486e68420cd3/src/test/resources/com/puppycrawl/tools/checkstyle/checks/design/finalclass/InputFinalClass.java#L7-L10
and it will be enough.

[2020-11-17 14:41] romani commented on #8973
will continue to be violation until #8973 is fixed?

yes. yes

no. this code is nonsence.

please move this point to separate issue, if you can prove that `this` can not be used in records, sure, it is bug.
BUT it is separate bug.

[2020-11-17 15:41] harshitmalik03 commented on #7662
@romani Ive tried this for the first time. Have a look at it and see if ive done it how it is supposed to be done.

[2020-11-17 16:09] ek08 commented on #7609
This might be dumb but I didn't understand what the bug is because the result was as  mentioned in the documentation that the class which have private constructors only should be declared final.
Here the class has two constructors one is private and the other is public
class MyClass {
int a;String str;

private MyClass(int a){
this.a=a;
str="dummy value";
}

public MyClass(String str){
this.str=st

[2020-11-17 16:44] romani commented on #7609
Oh, you are right, if there is at least one public ctor, no violation is expected. Please add this to documentation as example

[2020-11-17 16:48] ek08 commented on #7609
Yaa sure I will add this case to the documentation and I will make a PR.

[2020-11-17 18:55] #8957 closed

[2020-11-17 18:56] pbludov commented on #8957
Fix is merged.

[2020-11-17 23:29] Fernal73 commented on #8957
Thanks, @pbludov !

[2020-11-19 02:14] #8941 closed

[2020-11-19 02:15] rnveach commented on #8941
Fix was merged

[2020-11-19 07:17] ek08 commented on #7609
I deleted that fork and forked it again.
![Error](https://user-images.githubusercontent.com/63246960/99633654-43a6cb00-2a65-11eb-831d-d2eb4f4c2e96.png).
These errors I get in the pom.xml

[2020-11-19 08:00] #5362 closed

[2020-11-19 08:01] strkkk commented on #5362
Fix is merged

[2020-11-19 14:28] romani commented on #7609
can you share error message ?

[2020-11-19 14:48] ek08 commented on #7609
It doesn't give any error while running mvn verify

[2020-11-19 15:20] jensli commented on #8978
Hello,

romani wrote:

I don't quite understand what you mean here... I myself unfortunately don't have much time to spend neither on the design nor the implementation.

If another person wants to implement this I suggest starting with the most simple cases. Those cases have the most value and they don't seem to be very complicated to implement.

Example:

[code]

All these checks would restrict w

[2020-11-19 17:55] Abhishek-kumar09 commented on #8980
@romani Its a duplicate to https://github.com/checkstyle/checkstyle/issues/5951. It would be fixed within that scope.

[2020-11-19 18:58] debashisdeb opened #8998 "[Question] Are checks evaluated in a single threaded manner ?"
I wanted to know if the checks under a TreeWalker module are executed in a serial manner, one after the other ? or is multi threading approach used ? I saw a couple of PR's on multi threading but they are all closed. As per the documentation :
`the TreeWalker initiates a recursive descend from the root of the AST to the leaf nodes and calls the Check methods`
Are the check methods all called in pa

[2020-11-19 19:57] debashisdeb commented on #8998
I just got to know of the Checker property `haltOnException`. Setting it to `false`, I'm no more seeing the above issue, but at the same time no other checks are getting triggered. I just wanted to test if any custom check throws any exception, how can I make sure that the other rules work as expected.

[2020-11-19 21:20] rnveach commented on #8998
Checkstyle has no multi-threading support. There are still issues open on it.

TreeWalker contains a list of checks and the tokens they get reports on. We go through the AST tree and send notifications to each check giving them the AST they requested.

Probably something went wrong with initializing the custom check. This will stop all processing if we can't bring your config into memory for use.

[2020-11-20 01:10] anhminhtran235 commented on #8973
@romani Records in java 15:

[code]

We almost never can write `this.variable = [value]` since all variables in Records are `private final` by default. I just found out 1 case where we can assign `this.variable` to a value: inside a normal `constructor` (not `compact constructor`).
Since you said `x = this.x` is nonsense, that means I should disable ALL requireThis inside Record EXCEPT when it's i

[2020-11-20 01:19] anhminhtran235 opened #8999 "RequireThis: Disable the check when inside Records (except when inside a normal constructor)"
Check documentation: https://checkstyle.org/config_coding.html#RequireThis

Records in java 15:
[code]

We can almost never write `this.variable = [value]` since all variables in Records are `private final` by default. There's 1 case where we can assign `this.variable` to a value: inside a normal `constructor` (not `compact constructor`).

When someone writes `x = x`, what they mean is `this.x = x

[2020-11-20 01:20] anhminhtran235 commented on #8999
@romani Is this the correct behavior Checkstyle should follow?

[2020-11-20 01:22] anhminhtran235 commented on #8973
BUT it is separate bug.

New issue created: https://github.com/checkstyle/checkstyle/issues/8999

[2020-11-20 02:06] anhminhtran235 commented on #8973
Input added in PR https://github.com/checkstyle/checkstyle/pull/9000

[2020-11-20 03:32] romani commented on #8978
Do you simply what to violate certain usage of var ? Like "no var for creating by new" ? And others.

[2020-11-20 07:17] debashisdeb commented on #8998
When you said `It all happens single threaded for each check on each AST.` Do you mean to say that all the checks are evaluated in a single thread or there are separate threads for each individual checks ?

For the exception part, I actually intentionally threw an exception, from the `beginTree` method and wanted to see the behaviour. Seems like even with `haltOnException` set to `false`, checksty

[2020-11-20 08:22] strkkk opened #9001 "To top button - different behavior and text on different pages"
Open https://checkstyle.org/index.html - no button on initial screen, button text is "To Top", it appears only after 2-3 scrolls down
![image](https://user-images.githubusercontent.com/8901354/99776853-88dd0280-2b22-11eb-8de4-f63aa1744c1b.png)

Open some other page from Project Documentation section, e.g. https://checkstyle.org/ci-management.html - button is shown on initial screen without any scr

[2020-11-20 08:23] strkkk commented on #9001
@jo2 Can you help with this issue?

[2020-11-20 08:46] jensli commented on #8978
Yes. I point is to disallow the use of `var` with certain types of initialiser expressions.

The motivation is that the use of `var` together with certain types of initialiser expressions is hard to read.

[2020-11-20 11:44] jo2 commented on #9001
@strkkk I'll take a look at it

[2020-11-20 11:58] strkkk commented on #9001
@jo2 no idea, I couldn't find any mention in main repo. It looks like some external thing
@romani do you know where to find code/sources that generates Project Documentation section?

[2020-11-20 13:15] jo2 commented on #9001
The reason for this issue is rather simple. The button text and behaviour are changed and added with javascript. In all files that are created manually, there is a line including the javascript file (https://github.com/checkstyle/checkstyle/blob/432bafd49ed9d801f44a04ad710cc9372538e588/src/xdocs/checks.xml#L13 for example). All files in project documentation are generated by maven using the site d

[2020-11-20 13:17] Abhishek-kumar09 commented on #8546
Issue resolved with https://github.com/checkstyle/checkstyle/pull/8719
[code]
config:
[code]
Output:
[code]

[2020-11-20 13:26] pigliamosche opened #9002 "Apply checkstyle rule only to specific module"
**Goal:** apply a checkstyle rule only in a specific module

___

I tried apply a the following checkstyle rule only with a specific module

[code]
I set the id and in the suppression.xml file the name of the module that I want to exclude with the following regex

[code]

it doesn't work as expected
it works only if I explicitly add all the others module names and excluding `mymodulename`, but thi

[2020-11-20 14:51] strkkk commented on #9001
@jo2 but this button works, so it looks like script is added to page, but for some reasons it has different text and visibility. May be there is something with JS?

[2020-11-20 15:19] romani opened #9003 "nondex tool found issue in token ordering at Indentation"
Identified at https://travis-ci.org/github/checkstyle/checkstyle/jobs/675893545#L3230 and resulted from merging https://github.com/checkstyle/checkstyle/pull/8099 it was reverted and second PR (https://github.com/checkstyle/checkstyle/pull/8140) stuck in blocking state,
initial try to fix was done at https://github.com/checkstyle/checkstyle/pull/8116

I believe the issue is from IndentationCheck a

[2020-11-20 15:46] romani opened #9004 "GUI can not find node by simple xpath"
[code]

`java -cp checkstyle-8.36.2-all.jar com.puppycrawl.tools.checkstyle.gui.Main Test.java`
Xpath is reported as `^ wrong xpath query`

![image](https://user-images.githubusercontent.com/812984/99819544-73f17680-2b04-11eb-9a30-b74e9624a064.png)

[2020-11-20 15:49] romani commented on #9004
@developerhb , please help to resolve

[2020-11-20 17:27] romani commented on #9002
@pigliamosche , can you prove that your regexp on module name is valid and work as expected.
Better to prove in CLI by some shell tool, or  ... https://regex101.com/

[2020-11-21 03:08] rnveach commented on #8998
Yes. Like I said, there is no multi-threading support at all.

`haltOnException` is more for if an exception occurs processing a file, not from initialization errors. If something fails to initialize, it is usually hard to continue. You won't be guaranteed violations would be the same as a good run, so that could cause issues with cache files and anything from the caller.

If you want to test that

[2020-11-21 03:19] rnveach commented on #9002
I think this expression has multiple levels of issues.

1) `[\\\/]` could be matched multiple times if the folder is nested enough, so the not match could be picking up other parts of the path.
Example: `/home/rveach/workspace/folder/mymodulename` could match up on `/home/` as its the first occurrence found.

2) `*` means it could match on nothing which doesn't make sense.

[2020-11-21 04:34] romani commented on #8978
@timurt , can your MatchXpath Check do this validation ?

[2020-11-21 05:48] #8537 closed

[2020-11-21 05:48] pbludov commented on #8537
Fix is merged.

[2020-11-21 05:51] strkkk commented on #9001
I tried to play with it using different options on my local machine and I also failed to add this script with head tag to site.xml
Very weird

[2020-11-21 10:15] pbludov opened #9005 "Phantom description for last "see" tag"
## Source
[code]
## AST
[code]

There is no description for the last `@see` tag. And there should be no `DESCRIPTION` node in the AST.
Discovered while working in #6722

[2020-11-21 10:59] pbludov commented on #9005
Similar case for wrapped inline tags:
[code]
### AST
[code]

[2020-11-21 14:46] developerhb commented on #9004
Okay @romani . I am looking at the issue.

[2020-11-21 15:00] pbludov commented on #8990
I think this check should validate all type parameters, for example
[code]
May be just `JavadocParameterOrder`?

Or two checks `JavadocTypeParameterOrder` and `JavadocMethodParameterOrder`?

[2020-11-21 15:33] developerhb commented on #9004
@romani
I got the problem. The CLASS_DEF AST Node is supported by IDENT[@text='Test']. We cannot mention CLASS_DEF simply as there can be multiple class definitions in a java file. So, we need to also mention IDEN[@text='Test']. So, the correct XPATH Query will be `/CLASS_DEF[./IDENT[@text='Test']]`. We can see this when we click on CLASS_DEF node and generate the xpath query. The result is as sho

[2020-11-21 16:23] romani commented on #9004
whole idea of Xpath to has non-exact queries.

Can select first matching node instead printing error ?
or at least find node and print "^ several results found" to let user be aware of this.

[2020-11-21 16:33] rnveach commented on #9004
https://github.com/checkstyle/checkstyle/blob/3f045f19d40ed017fe4647d6dc2efcda73107e7e/src/main/java/com/puppycrawl/tools/checkstyle/gui/TreeTable.java#L205
Issue from line above looks like it is because we are expecting an EXACT match. Non-exact matches will fail. I expect the GUI doesn't support other non-exact matches like `//CLASS_DEF//IDENT`.

[2020-11-22 00:39] romani commented on #8978
@jensli ,

is it what you expect ?
[code]

[2020-11-22 01:47] romani opened #9007 "Create jdk15 Input files compilation job in Travis"
From https://github.com/checkstyle/checkstyle/pull/8972#discussion_r528243906

[2020-11-22 04:00] romani commented on #8990
Two Checks, in long run it is more beneficial and easy to maintain, as lift shows us all the time that users require for different targets (class, method, ...) different options.

[2020-11-22 04:46] developerhb commented on #9004
The idea was to Find the Node by running Xpath query and selecting particular text in the program. As far as I know Non-Exact Xpath Queries will not be able to identify particular node from the program uniquely. If we deal with Non Exact Xpath Query and give message like `several results found`, then we will get distracted from our functionality i.e `Find Node by Xpath`.

If our functionality is t

[2020-11-22 07:22] Vyom-Yadav commented on #7564
@romani I am on it, would ask if I have any doubt in the process.

[2020-11-22 07:24] pbludov commented on #5148
Fix is merged.

[2020-11-22 07:24] #5148 closed

[2020-11-22 07:34] pbludov commented on #8990
On the other hand, two different checks will not interact with each other. For example, if we have different checks for import order and for static import order, it will be difficult to configure which of them should be declared first in the file.

Here the same:
[code]
versus
[code]
How the order should be set in the config?

[2020-11-22 14:35] #8873 closed

[2020-11-22 14:36] romani commented on #8873
Fix is merged

[2020-11-22 14:55] romani commented on #7609
fix is merged

[2020-11-22 14:55] #7609 closed

[2020-11-22 14:56] #6915 closed

[2020-11-22 14:57] romani commented on #6915
fix is merged

[2020-11-22 15:33] romani opened #9009 "Violations from TrailingComment should possible to suppress by xpath by content of comment"
Identified at https://github.com/checkstyle/checkstyle/pull/8711#issuecomment-731585941

We need to add TokenTypes.COMMENT_CONTENT
to
https://github.com/checkstyle/checkstyle/blob/41769cee1881c8c92cc59762b90b83529406208a/src/main/java/com/puppycrawl/tools/checkstyle/utils/XpathUtil.java#L98-L103

and we need to make sure that can address cases from http://roman-ivanov.blogspot.com/2013/10/trailing

[2020-11-22 15:37] romani opened #9010 "Refactor TrailingComment implementation to be completely AST based"
detected at https://github.com/checkstyle/checkstyle/pull/8711

We need to avoid usage of following code
https://github.com/checkstyle/checkstyle/blob/41769cee1881c8c92cc59762b90b83529406208a/src/main/java/com/puppycrawl/tools/checkstyle/checks/TrailingCommentCheck.java#L191-L195

and use only AST based code, as all content of comments is present in tree.

[2020-11-22 16:04] romani commented on #9004
at least this should be done.
But we should be able to apply any Xpath and select it atleast first of it in tree, as whole reason of this UI is to give user GUI tool to generate/write Xpath whicj will be used in Xpath Filters.
Example: https://github.com/checkstyle/checkstyle/pull/8711#issuecomment-731250709

[2020-11-22 18:33] jensli commented on #8978
Yes, kind of. My suggestion is that all of the examples that you give could be allowed or disallowed depending on a configuration property on the Checkstyle module.

A hard problem is to design the configuration mechanism (the properties of the module) in a simple but flexible way.

I think it is best to start with the simplest cases.

[2020-11-22 23:35] romani opened #9012 "XdocsPagesTest.testAllXmlExamples does not catch that config XML is not valid"
detected at https://github.com/checkstyle/checkstyle/pull/9011#discussion_r528363349

this test should validate all configs to be valid.

[2020-11-23 00:16] romani commented on #8990
order is clear `T` appear first in method signature so it is first.

I did not notice in javadoc they use the same tag `@param`, we can keep one Check, and it simply match order of `@param` with params in class and method signature.

I am ok to keep one Check.

[2020-11-23 00:58] rnveach commented on #9012
See https://github.com/checkstyle/checkstyle/pull/9011#discussion_r528433338

[2020-11-23 01:02] #8998 closed

[2020-11-23 03:58] ek08 commented on #7655
I am on it

[2020-11-23 05:42] developerhb commented on #9004
Okay @romani I will try to implement this. Can anyone guide me how this feature can be implemented?

[2020-11-23 06:14] ek08 commented on #7655
$ cat config.xml
[code]
$ cat MyClass.java
[code]
$ java -jar "-Duser.language=en -Duser.country=US" checkstyle-8.37-all.jar -c config.xml MyClass.java
Starting audit...
[ERROR] /home/ehtesham/MyClass.java:4:18: Assignment of parameter 'parameter1' is not allowed. [ParameterAssignment]
Audit done.
Checkstyle ends with 1 errors.

$ cat MyClass.java
[code]

$ java -jar "-Duser.language=en -Duser.cou

[2020-11-23 12:38] nmancus1 commented on #9007
I'm on it, but can we use another CI for this?

[2020-11-23 13:37] nmancus1 commented on #6036
@romani just to be clear:

[code]
All of these cases (1,2,3) should be violations, and not considered wrapped?

[2020-11-23 14:53] romani commented on #9007
Yes

[2020-11-23 15:07] romani commented on #9004
can you point me where you apply query ?
it should work the same as apply of query from CLI by option "-b", with only difference is to select first matching node.

[2020-11-23 15:32] nmancus1 commented on #9005
For your first example, what should we do with the extra leading asterisk?

[code]
Should it just become a child of the `JAVADOC` node?

Should a `LEADING_ASTERISK` ever be a child of a `DESCRIPTION`?

[2020-11-23 15:47] romani commented on #6036
// should be violation? (2)
// should be violation? (3)

no. because we have something (even empty line) between expression and `{`, we consider all after expression as continuation of expression.
If user did not mean it, he will put comments or empty lines inside `{`.

[2020-11-23 16:03] nmancus1 commented on #6036
[code]

(1), (2), (3) do not cause violations (latest master).  Does this mean that there is no longer an issue, then?

[2020-11-23 16:19] pbludov commented on #9005
I think yes, it should. Both `NEWLINE` and `LEADING_ASTERISK` should be children of `JAVADOC`.
It is very strange that `LEADING_ASTERISK` is not located immediately after the `NEWLINE`.

I guess that the AST structure for `@see #CLASS_DEF` and `@see #INTERFACE_DEF` should be the same.

[2020-11-23 19:36] debashisdeb opened #9015 "[Question] Is there a way to modify the final report xml/html ?"
I want to include few more parameters to the final report XML/HTML, is that possible to do so ?
These additional parameter like `methodLimit` will be set using the config XML and I want that
property to be available in the final XML too. I'm aware of the `id` property, but since I've a couple
of parameters to output, I was thinking if there is a way to make this work.
Should I implement my own Aud

[2020-11-24 05:39] developerhb commented on #9004
@romani

This is the line where are I match exact Xpath Query.

[2020-11-24 08:56] Vyom-Yadav commented on #7564
@romani pls review I have made this for default config.
[code]

[2020-11-24 08:59] Vyom-Yadav commented on #7564
@romani Pls review once, I have made the changes.
![PR](https://user-images.githubusercontent.com/73882557/100071717-60764080-2e61-11eb-8be3-2a726be6d0c9.PNG)

[2020-11-24 09:00] Vyom-Yadav commented on #7564
@romani I have to just change the XML file and make a commit right?

[2020-11-24 09:14] strkkk commented on #7564
@Vyom-Yadav you need to modify both javadoc and xml. Take a look at merged PRs with similar issues

[2020-11-24 09:39] Vyom-Yadav commented on #7564
@strkkk @romani Made the changes in javadoc also, now is it fine?
![PR!](https://user-images.githubusercontent.com/73882557/100076216-f52f6d00-2e66-11eb-9aca-5cdd305ae42d.PNG)

[2020-11-24 09:43] Vyom-Yadav commented on #7564
@strkkk @romani I made a mistake but will correct it, `// violation, name 'thirdConstant'` but will correct them, is the rest fine?

[2020-11-24 09:58] strkkk commented on #7564
@Vyom-Yadav not quite. Please make sure that build is passing on your local machine `mvn clean verify` and please send PR, it will be easier to provide comments there.

[2020-11-24 14:51] romani opened #9019 "Docker limits is reached in wercker"
from wercker:
https://app.wercker.com/checkstyle/checkstyle/runs/build/5fbbfff0237ec900082616df?step=5fbbfff0237ec900082616e4
[code]

it was a problem for a while.

How to resolve:
https://keyes.ie/wercker-docker-pull-rate-limit/
https://www.docker.com/increase-rate-limits

[2020-11-24 15:05] romani commented on #9019
fix is merged

[2020-11-24 15:05] #9019 closed

[2020-11-24 15:12] romani commented on #9019
I pushed changes to all other project that use wercker

[2020-11-24 15:24] romani opened #9021 "Semaphore CI failing on josm project build as local artifact is not found"
was a problem in CI for a while
example https://checkstyle.semaphoreci.com/jobs/16d84f89-8232-4eee-9ba8-d607dfd3e076

reproduced on local
` mvn -e clean install -Pno-validations && .ci/validation.sh no-violation-test-josm`

[code]

[2020-11-24 15:31] romani commented on #9021
@pbludov , can you help to hack semaphore or josm by https://stackoverflow.com/a/34805496/1015848
to resolve a problem ?

[2020-11-24 15:44] romani commented on #9012
We can create multiline regexp instance to catch this problem as we did at
https://github.com/checkstyle/checkstyle/commit/a2772eee96d926dca461422a2168b2edfcf14adb#diff-3a0a81e04acf0df0c9c8adefc1cae87e39da88c3141a7c131bcaf7a8ab12c62cR87

[2020-11-24 16:28] jindalsachin commented on #8269
I would like to work on this and add examples for excluding test files .
But i cannot find the code for the previous Examples in the BeforeExecutionExclusionFileFilter.xml .
 Can you pls tell me what am imissing here and point me in the right direction?

[2020-11-24 17:28] jindalsachin commented on #8269
So shall i add example in documentation of module info file along with test file??

[2020-11-26 06:21] ek08 commented on #7662
@harshitmalik03 are u on it? If not I can start working on it

[2020-11-26 08:31] harshitmalik03 commented on #7662
Can you please work with me and show me how it's done..?

On Thu, 26 Nov, 2020, 11:51 am Ehtesham Khursheed, <notifications@github.com>
wrote:

[2020-11-26 08:55] ek08 commented on #7588
I am on it

[2020-11-26 09:53] ek08 commented on #7662
yaa sure, u need to update two files..one is https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/SuperFinalizeCheck.java

and the other one is https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_coding.xml.
You need to give examples to ensure that overriding finalize() method invokes super.finalize() in both the files a

[2020-11-26 10:19] harshitmalik03 commented on #7662
Can we talk ? Via call or text? I need to ask a few things ...

On Thu, 26 Nov, 2020, 3:23 pm Ehtesham Khursheed, <notifications@github.com>
wrote:

[2020-11-26 12:52] Vyom-Yadav commented on #7564
@strkkk @romani How to make default config in AbstractClassNameCheck? and after that do I have to do some changes in AbstractClassNameCheckTest and AbstarctClassNameCheck XML file? Also the images I uploaded earlier, some changes have to be done there or not? Please I'm very confused. What I mean to say is what all do I have to change?

[2020-11-26 13:46] strkkk commented on #7564
No need to make changes in the code, only javadoc and xml. Default config contains only name of the check, like
`<module name="SomeCheck"/>`
See https://github.com/checkstyle/checkstyle/pull/8988 for example, there are code examples for default configuration added for other check

[2020-11-26 14:10] debashisdeb commented on #9015
As per my investigation, there seems no way to have the final report modified, in terms of the information that it can provide.
The underlying classes which transport these messages are `AuditEvent` and `LocalizedMessage`, both being `final` classes and the underlying `AuditListener` interface directly depending upon them, there seems to be no way to achieve this. I wish the `LocalizedMessage` cla

[2020-11-26 16:05] Vyom-Yadav commented on #7564
@strkkk @romani I ran the command mvn clean verify
It showed 1 error
Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project checkstyle: There are test failures.

Please refer to E:\checkstyle\target\surefire-reports for the individual test results.
Please refer to dump files (if any exist) [date].dump, [date]-jvmRun[N].dump and [date].dumpstream

[2020-11-26 16:14] Vyom-Yadav commented on #7564
java.lang.Error: Error was thrown while processing src\main\java\com\puppycrawl\tools\checkstyle\checks\naming\ConstantNameCheck.java
	at com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest.examineCheckSection(XdocsJavaDocsTest.java:209)
	at com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest.testAllCheckSectionJavaDocs(XdocsJavaDocsTest.java:182)
Caused by: org.opentest4j.AssertionF

[2020-11-26 16:23] romani commented on #7045
first commit - https://github.com/checkstyle/checkstyle/commit/f73dac075f5d294bfe9f84f82ca077fa8f3db166

[2020-11-26 16:26] Vyom-Yadav commented on #7564
@strkkk @romani I ran the command mvn clean verify.
It showed one error. How to fix it?
Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project checkstyle: There are test failures.

Please refer to E:\checkstyle\target\surefire-reports for the individual test results.
Please refer to dump files (if any exist) [date].dump, [date]-jvmRun[N].dump an

[2020-11-26 16:54] ek08 commented on #7662
yaa u can ping me on gitter

[2020-11-27 03:23] aryaniiit002 commented on #7687
I think i got it,
Can i work on this please?
you probably figured out this is my 1st time so please help me on PR later...
Thanks

[2020-11-27 04:10] romani commented on #9007
fix is merged

[2020-11-27 04:10] #9007 closed

[2020-11-27 04:32] Vyom-Yadav commented on #7564
I ran the command mvn clean verify, It showed one error, I went through all similar PR's but couldn't find where I am going wrong.
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 2.259 s <<< FAILURE! - in com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest
[ERROR] testAllCheckSectionJavaDocs  Time elapsed: 2.259 s  <<< ERROR!
java.lang.Error: Error was thrown while p

[2020-11-27 04:33] Vyom-Yadav commented on #7564
Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project checkstyle: There are test failures.

Please refer to E:\checkstyle\target\surefire-reports for the individual test results.
Please refer to dump files (if any exist) [date].dump, [date]-jvmRun[N].dump and [date].dumpstream.

[2020-11-27 04:43] Vyom-Yadav commented on #7564
@strkkk @romani ping

[2020-11-27 06:40] strkkk commented on #7687
Sure

[2020-11-27 06:53] Vyom-Yadav commented on #7564
Also tried the command mvn clean verify -X but I couldn't find where I am going wrong

[2020-11-27 08:19] strkkk commented on #7564
@Vyom-Yadav run your test without maven (as usual junit test), you will see what is expected and actual results are.

Test is failing because contents of javadoc and xml xdoc are different

[2020-11-27 09:09] Vyom-Yadav commented on #7564
@strkkk Yes, I made them the same it showed build success. I Don't have knowledge of Junit but will learn it.

[2020-11-27 14:44] champo opened #9037 "IndentationCheck throws NPE on switch expresion with `->` on new line"
https://checkstyle.org/config_misc.html#Indentation

[code]

I've also tested with non-default settings. Moving the `->` to the previous line avoid the NPE.

[2020-11-27 14:58] nmancus1 commented on #8989
Related grammar: https://docs.oracle.com/en/java/javase/15/docs/specs/sealed-classes-jls.html#jls-8.1.7

Brief article about sealed classes/ interfaces: https://medium.com/better-programming/java-15-features-sealed-and-hidden-classes-pattern-matching-and-text-blocks-38f4efdc8adc

It is interesting to note that while `non-sealed` *is* a keyword, `sealed` and `permits` are restricted identifiers, si

[2020-11-27 15:33] Vyom-Yadav commented on #7567
@romani I am on it.

[2020-11-27 15:34] romani commented on #7045
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#maven

[2020-11-27 15:36] Vyom-Yadav commented on #7567
the default example for `allowClassName` is already there, will add for the rest.

[2020-11-27 19:07] Abhishek-kumar09 commented on #9037
<details><summary>$ cat test.java</summary>
<p>

[code]
</p>
</details>

$ javac test.java

[code]

I am using java amazon-coretto 11.
It is not compiling, should I have to update the jdk to compile it.

[2020-11-27 19:10] champo commented on #9037
Hi! I'm using OpenJDK 14

[2020-11-27 19:14] Abhishek-kumar09 commented on #9037
Oh yes, I guess I have to update to OpenJDK 14 for this. Though amazon-coretto 11 had its own advantages :)

[2020-11-28 04:19] Vyom-Yadav commented on #968
@romani @rnveach Can you give some more information on how to do it.

[2020-11-28 05:53] Vyom-Yadav commented on #7652
@strkkk I am willing to work on it. What was wrong with the commits added by coraljain?

[2020-11-28 13:11] #6722 closed

[2020-11-28 13:11] rnveach commented on #6722
Fix was merged

[2020-11-28 14:02] romani opened #9046 "Travis is failing with error to install mdl package"
master build failure - https://travis-ci.org/github/checkstyle/checkstyle/jobs/746421253#L220
[code]

[2020-11-28 14:02] romani commented on #9046
@pbludov , please help

[2020-11-28 14:10] champo commented on #9037
I guess that the same issue should be present with coretto 15 too!

[2020-11-28 14:27] pbludov commented on #9021
JOSM fails as it uses ANT, so it tries to load `checkstyle-X.XX-SNAPSHOT.jar` from the ivy cache.
This can be done by patching `ivysettings` to load some jars from maven repo as described [here](https://ant.apache.org/ivy/history/2.2.0/resolver/filesystem.html)

[2020-11-28 14:43] romani opened #9050 "Azure pipeline cache failing on post step for newly create task that does not use cache"
from https://dev.azure.com/romanivanovjr/romanivanovjr/_build/results?buildId=61&view=logs&j=6a833393-c551-5000-0916-5000fd3b86e7&t=8e877b72-4354-455f-be21-5b9957f3a9f4&l=22

`/home/vsts/work/1/.m2/repository: Cannot open: No such file or directory`

[code]

after execution

[code]

[2020-11-28 14:46] romani commented on #9050
fixed in https://github.com/checkstyle/checkstyle/commit/bb104e24eaecb922a0ef3b0f98b2a69dd240bdf2

by skip of Cache task

[2020-11-28 14:46] #9050 closed

[2020-11-28 16:08] pbludov commented on #9037
The crash site is [here](https://github.com/checkstyle/checkstyle/blob/9797eadadccf376533480901cc1ad3d4915340b6/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/LambdaHandler.java#L83)
[code]
The main AST is `->[17x20]`, it has no children:
[code]
the code is valid for javac version 14 and later

[2020-11-29 04:48] nmancus1 commented on #9037
I'm on this.

[2020-11-29 04:55] Vyom-Yadav commented on #3619
@romani I am on it.

[2020-11-29 11:54] pbludov commented on #2160
It looks like there is a working solution in https://github.com/google/error-prone/issues/376#issuecomment-336015822

[2020-11-30 01:13] romani commented on #9015
Please fork us , do modification as you need and even deploy by  jitpack https://checkstyle.org/#Download

Please share details on what you would like to have in report, we might consider to do this, as we plan to let users to set report generator in config https://github.com/checkstyle/checkstyle/issues/4956

[2020-11-30 04:23] romani opened #9066 "Update wording of verify-no-exception-configs validation to mention what is expected"
https://travis-ci.org/github/checkstyle/checkstyle/jobs/746668885#L317

There is no reference that contribution PR link need to be placed in PR description to let CI pass

[2020-11-30 06:09] #8933 closed

[2020-11-30 06:10] strkkk commented on #8933
Fix is merged

[2020-11-30 07:08] romani commented on #7564
Please run test in your IDE, it will show violation in better form

[2020-11-30 15:34] romani opened #9070 "update tables in option page to have link to exact line of table"
https://checkstyle.org/property_types.html#LeftCurlyOption

it has bunch of options, sharing a link to table still not precise location target user should read.
I want to have a link to `nlow`.
We already practice exact links to table content at https://checkstyle.org/google_style.html
it would be awesome to have the same links in page property_types.html for all tables.

NOTE: if we like this ...

[2020-11-30 15:35] romani commented on #9070
@rnveach , @pbludov , @strkkk , @nmancus1 , @esilkensen

please share your thought on this issue and vote on it to approve or not.

[2020-11-30 15:44] romani commented on #6036
@pbludov ,
https://checkstyle.org/property_types.html#LeftCurlyOption

so technically current behavior is correct, as extra empty line(or line with comment) is continuation of expression as curly brace is not yet detected.
Such cases are grey area ..... but I think what we have now is correct.

[2020-11-30 15:52] pbludov commented on #6036
I'm ok with current behaviour and ok to close this issue.

[2020-11-30 15:53] #6036 closed

[2020-11-30 21:03] jcamerin opened #9071 "Unresolvable 'new' Indentation Rule conflict introduced in 8.38"
The following code snippet exists in my codebase and passes Checkstyle using 8.37 rules.  When run against the 8.38 rules, I get violations due to updated indentation rules in the release: "'operator new' has incorrect indentation level 24, expected level should be one of the following: 28, 32."

[code]

I changed the indentation level to 28, and got this Checkstyle rule violation:
"'new' has inco

[2020-11-30 21:08] jcamerin commented on #5362
This change introduced https://github.com/checkstyle/checkstyle/issues/9071

[2020-11-30 21:18] Abhishek-kumar09 commented on #9071
Thanks @jcamerin  for raising this issue, could you provide the full function or class body to investigate further.

[2020-11-30 21:44] jcamerin commented on #9071
Full function
[code]

[2020-12-01 06:17] ybiquitous opened #9072 "Checkstyle's special system properties about localisation does not work"
The Checkstyle document says:

https://github.com/checkstyle/checkstyle/blob/6e65ddf942fc95ea47a2cba21b0a98727ea0cb5a/src/xdocs/config_system_properties.xml#L46-L49

https://checkstyle.org/config_system_properties.html#Localisation_Support

So, I try changing the report language, but `checkstyle.locale.language` does not work as I expected.
Please check out the following reproduction for details.

[2020-12-01 07:00] Abhishek-kumar09 commented on #9071
I guess you are checking agains some different config, as I am checking agains default indentation profile and everything looks fine there, with no error at all.
<details>
  <summary>Your code</summary>

[code]
</details>

config:
[code]

output:
[code]

It will be helpful to us if you could share your config too.

[2020-12-01 08:45] pbludov commented on #9070
I like the idea. Also, the "since" column has plain text now. There can be a link to the release.

[2020-12-01 09:22] esilkensen commented on #9070
Agreed, I like it

[2020-12-01 12:45] jcamerin commented on #9071
Ah, good point...
Attached.

[checkstyle.xml.zip](https://github.com/checkstyle/checkstyle/files/5622635/checkstyle.xml.zip)

[2020-12-01 14:05] Abhishek-kumar09 commented on #9071
Thanks I will see and get back to you with fix.

[2020-12-01 15:16] nmancus1 commented on #9070
This is a good idea, I was thinking of something like this the other day when reading the documentation for LeftCurlyCheck, but take it a bit further.  I think it may be good to list the options with a link to each option.  It wouldn't take up additional space in the table, and once you are familiar with the abbreviations, you would only have to look at the table in LeftCurlyCheck to be reminded o

[2020-12-02 05:38] xzer commented on #8978
I would suggest to start from a most simple case: forbidden "var" usage.

[2020-12-02 14:29] romani opened #9074 "create xdoc documetation page to explain details of Xpath support"
We have a lot of Xpath details to share with users
so we need some page to put all that details in one place

To do:
create page under
https://checkstyle.org/config.html
with name "XPath" and put here all details and bunch of examples of xpath
links to CLI options, links to filters/checks.

Remove all links to master code from MatchXpath Check, detected at https://github.com/checkstyle/checkstyle/

[2020-12-02 15:05] romani commented on #9037
fix is merged.

[2020-12-02 15:05] #9037 closed

[2020-12-02 15:07] romani commented on #9037
@champo, let us know you use checkstyle in some open source project that use new jdk features.
we can use this project for regression testing on each commit to make sure we do not regressions in future.

[2020-12-02 15:33] romani commented on #8978
you can do this by https://checkstyle.org/config_coding.html#IllegalType , as checkstyle treat `var` as special type.

[2020-12-02 15:37] romani commented on #9070
lets keep it as separate update.
There is a problem with releasenotes page .... it is become to big already, and I need to move old releases to https://checkstyle.org/releasenotes_old.html but this will damage all links. I still have no idea how to resolve this problem.

[2020-12-02 15:42] romani commented on #9070
good idea, It will require some coding to teach our code to enforce it by unit test.
Lets keep it as separate idea/issue.

[2020-12-02 15:52] romani commented on #7567
fix is merged

[2020-12-02 15:52] #7567 closed

[2020-12-02 16:00] romani commented on #9072
your workaround is good, this is how we use it all the time and recommend other
https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

----

such system variables are very old https://github.com/checkstyle/checkstyle/blame/master/src/xdocs/config_system_properties.xml#L42 , 16 years old, looks like they does not work :( , but we need to fix them.

ATTENTION: We

[2020-12-02 16:06] romani commented on #7763
fix is merged.

[2020-12-02 16:06] #7763 closed

[2020-12-02 16:17] strkkk commented on #9070
I am ok with link

[2020-12-03 04:44] #7564 closed

[2020-12-03 04:45] romani commented on #7564
Fix is merged

[2020-12-03 13:28] romani commented on #9021
fix is merged

[2020-12-03 13:28] #9021 closed

[2020-12-03 13:45] #9066 closed

[2020-12-03 13:45] romani commented on #9066
fix is merged

[2020-12-03 14:01] champo commented on #9037
@nmancus1 thanks for the quick fix!
@romani I don't 🙁 We're usually up to date with checkstyle releases so if anything pops up I'll let you know asap

[2020-12-03 22:29] nmancus1 commented on #7452
After meditating on this for awhile, here is what I think:

1. `OBJBLOCK` is a checkstyle construct, I don't think it is natural for users to want to "check" an `OBJBLOCK` explicitly.  They want to check parents of object blocks, or children of them.
2. Logic in our block checks work around object blocks, since they are always children of the tokens that we *do* want to check.  From [the documenta

[2020-12-03 23:40] mjhipp commented on #9046
I am seeing the same issue in my builds. Is this fix recommended? Thank you!
- https://github.com/ek08/checkstyle/commit/b2861a947d9473f83adfce0fb5b830c9066ffdda

[2020-12-04 02:44] rnveach commented on #9072
We have no system property like this, which is why it doesn't work. The documentation was there before I joined.

The only way currently to override language and country is through a Checker property in configuration.
See https://checkstyle.org/config.html#Checker_Properties and their examples.

You can make this into a property using the property expansion so you can pass it through CLI.
See http

[2020-12-04 04:03] rnveach commented on #9070
Some other websites make a separate page for each version. With that method, all version numbers would have their own link and would never go bad.

Release page could just list short summary of all releases and allow users to click for more details.

If 1 page is too much for a single release, group them by 2 or 3.

[2020-12-04 05:09] romani commented on #9046
Commit in master branch is https://github.com/checkstyle/checkstyle/commit/722318ff78cb302026e2feb09c5ee2faf0732b50

[2020-12-04 05:09] romani commented on #9046
Fix is merged

[2020-12-04 05:09] #9046 closed

[2020-12-04 05:10] #8908 closed

[2020-12-04 05:11] romani commented on #8908
Fix is merged

[2020-12-04 05:46] romani commented on #9072
Let's update documentation

[2020-12-04 13:41] nmancus1 commented on #9003
@romani I have ran `mvn nondex:nondex -DnondexFilter='.*' -DnondexMode=FULL -DnondexSeed=933178 -DnondexStart=0 -DnondexEnd=9223372036854775807 -DnondexPrintstack=false -DnondexDir="/home/travis/build/checkstyle/checkstyle/.nondex" -DnondexJarDir="/home/travis/build/checkstyle/checkstyle/.nondex" -DnondexExecid=KSFBHLJqhU3VzpVTwCrofpz33iuNv66h8ERN4hf2Zg= -DnondexLogging=CONFIG` several times on lo

[2020-12-05 11:35] pbludov commented on #7452
@nmancus1
I think you are right. This should not be a breaking change, since `OBJBLOCK` is handled by `default` case, after `CLASS_DEF`, `INTERFACE_DEF` and all other:
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/LeftCurlyCheck.java#L347
It is possible to get here only from `LITERAL_NEW`. I hope that regression testing will confir

[2020-12-05 12:11] pbludov commented on #7652
Fix is merged.

[2020-12-05 12:11] #7652 closed

[2020-12-05 14:24] Vyom-Yadav commented on #3203
@romani @rnveach I understood whats basically to be done, we need to improve the check so that there is whitespace before the `RCURLY` while initializing an array. Now the doubt I have is that how to proceed to fix it, this is the first bug I am dealing with, so what all needs to be done.

[2020-12-05 14:27] Vyom-Yadav commented on #3203
Also, do I just have to generate the error message or I have to do something so that compiler automatically fixes it.

[2020-12-05 14:51] nmancus1 commented on #7452
To be more clear; I was referring to the possibility that users could have the `OBJBLOCK` token listed explicitly in their config.  Does this constitute a breaking change, or is breaking change more of a code related concept (as opposed to config)?

[2020-12-05 15:51] rnveach commented on #6481
Fix was merged

[2020-12-05 15:51] #6481 closed

[2020-12-05 18:34] romani commented on #9003
CI is source of truth so if CI pass and your local pass also, issue might gone. We will deal with it ones it come back :) in more stable way

[2020-12-05 18:40] nmancus1 commented on #9003
So, change Set to ordered data structure, merge, then merge the nondex update, check CI?  Maybe run CI a few times in the nondex PR?

[2020-12-05 18:42] romani commented on #9003
Do update of nondex and modification of code in same commit. To make it clear all changes are atomic and required for each other

[2020-12-05 18:42] nmancus1 commented on #9003
Ok, thanks for providing details, I'm on it.

[2020-12-05 20:25] romani commented on #3203
Message should be generate on code , human will do fix

[2020-12-05 20:30] pbludov commented on #7452
Now I understand. Yes, it may be breaking change for some teams.

[2020-12-06 04:06] Vyom-Yadav commented on #3203
@romani 3rd last line

[2020-12-06 04:51] Vyom-Yadav commented on #3203
Also if it wouldn't be added in whitespace around as user just wants space before `RCURLY` , then where would it be added and how to configure it?

[2020-12-06 13:11] pbludov commented on #4219
I'm on it

[2020-12-06 13:25] Vyom-Yadav commented on #3203
@nmancus1 can you help, you seem to work on a similar issue

[2020-12-06 13:41] nmancus1 commented on #3203
Personally, for most (all?) check related issues where violations aren't what we expect (false positive/ false negative), I follow the following workflow:

1. Create test input file, that contains both code that should cause violation, and code that is acceptable.
2. Create UT in appropriate file, i.e. WhitespaceAroundCheckTest in this case.
3. Debug checkstyle executing the test you made, tracing

[2020-12-06 18:02] anhminhtran235 commented on #8943
I am on it

[2020-12-06 18:04] anhminhtran235 commented on #8943
I'm back guys :) The last couple of weeks have been a busy period for me!

Can I work on this issue?

[2020-12-06 18:07] anhminhtran235 commented on #9010
I am on it

[2020-12-06 19:46] Abhishek-kumar09 commented on #9071
Test.java
[code]

config:
[code]

# checkstyle 8.38:
[code]
when indented on 16, it generates new error:
[code]
# Checkstyle 8.37 and below:
[code]
when indented on 16, everything passes: (which is desired).

[2020-12-06 19:54] romani commented on #9071
@Abhishek-kumar09, please follow strict on issue template

[2020-12-06 20:11] Abhishek-kumar09 commented on #9071
I didn't do `javac Test.java`, since I wanted to have the original code from the creater, and compling it requires lots of more code.
It is syntaxically correct, and thus no error thrown while processing the file with checkstyle.

[2020-12-06 22:53] KoTurk opened #9085 "IllegalStateException occurred while parsing file <file> unexpected token: record"
Getting an exception when using java 15 records with checkstyle when using in maven, any idea what to do? :-(

[code]

[2020-12-07 03:27] rnveach commented on #5951
Fix was merged

[2020-12-07 03:27] #5951 closed

[2020-12-07 03:37] rnveach commented on #8980
Confirmed the violation goes away.

[code]

[2020-12-07 03:37] #8980 closed

[2020-12-07 03:39] rnveach commented on #9085
Please see https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F .

[2020-12-07 04:06] Vyom-Yadav commented on #3203
@romani In my local when I ran checkstyle on
`final int[] arr = new int[] { 345, 53 };`
                                         ^------'{' is followed by whitespace. (4:38) [NoWhitespaceAfter]
So if its shows a violation for space after `LCURLY` then why would the user want a space before `RCURLY`
There is no violation for whitespace before `RCURLY`. So instead of writing a check for missing spac

[2020-12-07 04:14] Vyom-Yadav commented on #3203
I think that this issue is way old and a lot of changes have been made afterwards in the code base.

[2020-12-07 08:33] strkkk commented on #9085
@KoTurk most likely your checkstyle version is old and has no support for records

[2020-12-07 08:35] KoTurk commented on #9085
@strkkk Thank you for you comment. Already checked, it's the latest version of maven-checkstyle-plugin if I check the mvn repository :-(@str@str

[2020-12-07 08:53] KoTurk commented on #9085
@rnveach and @strkkk thank you for you comment, I found out the problem, I didn't knew you can upgrade the (com.puppycrawl.tools) checkstyle dependency inside the maven-checkstyle-plugin. I added these lines to the pom.xml and it worked! Sorry for bothering.

[code]

[2020-12-07 09:14] #9085 closed

[2020-12-08 04:12] Vyom-Yadav commented on #3203
@romani ping

[2020-12-08 09:43] Abhishek-kumar09 opened #9086 "ForceStrictCondition should not affect individual array elements."
Extended from https://github.com/checkstyle/checkstyle/pull/8083#discussion_r534196175

javac Test.java
[code]

$ cat Test.java
[code]

$ cat config.xml
[code]

# Actual Behaviour
$ java -jar checkstyle-8.38-all.jar -c config.xml Test.java
[code]

# Expected Behaviour
Error on line 2
[code]

<details><summary>Verbal</summary>
<p>

**Concise description:**
Currently after merging PR #8083, annotati

[2020-12-08 21:36] xenoterracide opened #9088 "consider a formatter"
this is arguably out of scope of checkstyles defined goal, but has making checkstyle format java code like prettier formats stuff been something you've considered? it already has configuration for everything, and can parse java. I'm no expert but it seems like it could output it too? just a suggestion.

[2020-12-08 21:39] rnveach commented on #9088
It sounds like you are talking about https://checkstyle.org/config_misc.html#Indentation for the Java code and having the fixes automatically corrected for the user by the tool ( https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2020-Project-Ideas#project-name-auto-fix-module ) ?

[2020-12-08 21:41] xenoterracide opened #9089 "Feature: EmptyLineSeparator define how many lines"
Instead of, e.g. `allowMultipleEmptyLines=true` I propose that either a new option be added, or we change this to an int, then one could write `allowMultipleEmptyLines=2`

[2020-12-08 21:48] xenoterracide opened #9090 "Feature: EmptyLineSeparator disallow empty lines at beginning and end of methods"
given this config
[code]
when you have this, the check would fail
[code]
but this would succeed
[code]

[2020-12-08 21:51] xenoterracide commented on #9088
I would go a lot farther than just indentation, I'm sure their are things that can't be autofixed, but a lot of things could. But yes, the GSoC sounds like more or less what I'm looking for.

[2020-12-08 22:53] romani commented on #9086
@Abhishek-kumar09, please follow issue template

[2020-12-09 03:43] #9088 closed

[2020-12-09 03:58] Vyom-Yadav commented on #3203
@romani give me a yes if I should make a check for extra white space or white space before.

[2020-12-09 05:44] Vyom-Yadav commented on #9070
@rnveach so if I am getting it right, you want links for property name in the table just like there is a link for various tokens like `LITERAL_IF`, etc.

[2020-12-09 09:27] Vyom-Yadav commented on #3203
@nmancus1 please read the conversation and tell whether my point is valid or not and whether I should start to work on adding check for no whitespace before `RCURLY`

[2020-12-09 14:49] Vyom-Yadav commented on #9070
@strkkk ping

[2020-12-09 20:42] Abhishek-kumar09 commented on #9086
@romani is it good.
I followed this template: https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/feature_request.md

[2020-12-09 21:55] xenoterracide opened #9093 "AbstractClassName feature add property to ignore annotated with"
I generally agree with this rule, but some code generation frameworks use abstracts as a base, e.g. immutables, and then when you use it you just treated like an actual class.

http://immutables.github.io/immutable.html#value

[2020-12-10 00:28] samvaity opened #9094 "NoSuchMethodError: CheckUtil.getAccessModifierFromModifiersToken(tools/checkstyle/checks/naming/AccessModifierOption)"
https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/BlacklistedWordsCheck.java#L85

        at com.azure.tools.checkstyle.checks.BlacklistedWordsCheck.isPublicApi(BlacklistedWordsCheck.java:85)
        at com.azure.tools.checkstyle.checks.BlacklistedWordsCheck.visitToken(BlacklistedWordsCheck.java:63)
        at com.puppy

[2020-12-11 01:10] anhminhtran235 commented on #8943
I'm on it

[2020-12-11 23:32] samvaity opened #9098 "NoClassDefFound exception"
Get the following exception when running the checkstyle-idea plugin on a whole module
![image](https://user-images.githubusercontent.com/16845631/101964321-d995c780-3bc5-11eb-93a6-70e887bab551.png)

Checkstyle version 8.37, 3.1.1(plugin)

[2020-12-12 03:41] rnveach commented on #9098
Class not found is `com.azure.tools.checkstyle.checks.Utils`. Please note **azure**.

This is not our package and so there doesn't look like anything we can do about it. There is some compile issue in your own package.

[2020-12-12 03:44] rnveach commented on #9094
This seems similar to https://github.com/checkstyle/checkstyle/issues/9098 . We are not maintainers checkstyle-idea plugin.

We can only help with bugs in our own utility. See https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F .

[2020-12-12 10:13] Vyom-Yadav commented on #3203
@rnveach please read the conversation and tell whether my point is valid or not and whether I should start to work on adding check for no whitespace before `RCURLY`

[2020-12-12 17:38] kshivam953 commented on #2827
@romani @rnveach I wanna work on this issue. Please assign me this since I'm a new to this repo so, please help me through. Please help me finding where to start first.

[2020-12-12 18:05] Abhishek-kumar09 commented on #3203
Because this can go unnoticed: `int[] arr = { 1,2};`. It is important for code to look even from both sides.

[2020-12-12 18:05] kshivam953 commented on #7687
@romani @strkkk I wanna work on this issue. Please assign me this since I'm a new to this repo so, please help me through. Please help me finding where to start first.

[2020-12-12 18:08] Abhishek-kumar09 commented on #3203
I checked the code with config:
[code]
code:
[code]
and got:
[code]
I mean, It is not checking left or right curlies for whitespace.

[2020-12-13 01:39] anhminhtran235 commented on #9009
I am on it

[2020-12-13 01:42] aryaniiit002 commented on #9090
but in module [EmptyLineSeparator](https://checkstyle.org/config_whitespace.html#EmptyLineSeparator) there is no property name NoEmptyLinesAtBeginingOrEndOfClassMembers

[2020-12-13 04:25] Vyom-Yadav commented on #3203
@Abhishek-kumar09 It shows an error if I use a whitespace after `LCURLY`  so that means there should be no whitespace before `RCURLY` also.
![Screenshot (150)](https://user-images.githubusercontent.com/73882557/102003080-d49d5900-3d28-11eb-954d-2fa90dcc2b9f.png)
You can see there is a check saying `{` is followed by whitespace, so the user will correct it and now it will look like `int[] arr = {1,

[2020-12-13 05:08] Vyom-Yadav commented on #3203
![Screenshot (152)](https://user-images.githubusercontent.com/73882557/102003585-2648e200-3d2f-11eb-893e-f22924643028.png)
There is no `LCURLY` token then how is this check being used? Something in `ARRAY_INIT`?

[2020-12-13 05:39] xenoterracide commented on #9090
this is a suggestion for a feature, hence *Feature* in the title.

[2020-12-13 06:30] aryaniiit002 commented on #9090
understood!

[2020-12-13 07:55] pbludov commented on #9089
@xenoterracide, please follow issue template:
https://checkstyle.org/report_issue.html#How_to_request_new_feature_for_existing_functionality.3F

[2020-12-13 08:38] Abhishek-kumar09 commented on #3203
There is the check for that: https://checkstyle.org/config_whitespace.html#NoWhitespaceBefore

But currently we are here concerned with whitespaceAround (where we want whitespace before and after token).
You have to modify this check to work for lcurly, rcurly, where we want space before and after lcurly, and a space before the rcurly.

[2020-12-13 14:46] pbludov opened #9101 "Resolve stack overflow error in ElementNode ctor"
wercker fails on src/test/resources/com/puppycrawl/tools/checkstyle/api/InputJustToMakeStackoverflowError.java
this is a specially crafted file to force stack overflow exception in the `checkTree` methid. See cb44574e46e857e2a31fa11a844ceead927c8b5c

Exception details
[code]

One possible solution might be to make the `getChildren` method lazy, ie.
[code]

_Originally posted by @pbludov in https:/

[2020-12-13 15:42] rnveach commented on #9101
Duplicate of https://github.com/checkstyle/checkstyle/issues/5820

[2020-12-13 15:48] #9101 closed

[2020-12-13 17:20] romani commented on #3203
@Vyom-Yadav , please do not discuss in this issue any other Checks.
All Checks are completely independent and should not reply on any other Check for violation.
please focus on WhitespaceAround only , https://checkstyle.org/config_whitespace.html#WhitespaceAround

[2020-12-13 17:34] romani commented on #9071
@Abhishek-kumar09 ,

after numerous case where we approved issue on invalid compilation, we tried to not rely on humans ability to do this.
Checkstyle can parse incorrect files and generate bad AST, so Check behavior might be weird.
in addition it is very helpful demand as you can copy input to tests quickly.
All code can changed to avoid extra types and variables in input and focus on what is mat

[2020-12-13 19:46] rnveach commented on #9094
I am closing until it can be shown issue is in our repo.

[2020-12-13 19:46] #9094 closed

[2020-12-13 19:46] rnveach commented on #9098
I am closing until it can be shown issue is in our repo.

[2020-12-13 19:46] #9098 closed

[2020-12-13 21:17] anhminhtran235 commented on #9009
@romani @rnveach  I need some help please.

First, please tell me if I understand this issue correctly or not:
- Right now [SuppressionXpathFilter](https://checkstyle.sourceforge.io/config_filters.html#SuppressionXpathFilter) doesn't support TrailingComment, and my task is to make this possible
- I need to make sure that my fix should allow users to suppress violations in http://roman-ivanov.blogs

[2020-12-14 09:56] joca-bt opened #9104 "Add jakarta to CustomImportOrder.standardPackageRegExp"
.

[2020-12-14 13:10] #9104 closed

[2020-12-14 23:17] samvaity opened #9105 "False Positive Comments Indentaion method end, multiline comments"
https://checkstyle.org/config_misc.html#CommentsIndentation

[code]

[code]
Checkstyle reports that the comment ` // END: ..` is at a wrong level of indentation, which it isn't.

**Expected behavior:** comments after method end expected to be indented the same way as other lines before the method start.

**Actual behavior:** Checkstyle reports a warning CommentIndentation about the comment //END.

[2020-12-14 23:36] samvaity commented on #9098
@rnveach Thank you for the reply.

After removing the dependency on `com.azure.tools.checkstyle.checks.Utils` I am seeing the following error which apparently stems from `com.azure.tools.checkstyle.checks.OnlyFinalFieldsForImmutableClassCheck`

![image](https://user-images.githubusercontent.com/16845631/102148838-06deb180-3e22-11eb-8ac3-13454c41816a.png)

Could you help with this?

[2020-12-15 02:23] rnveach commented on #9098
Again, we are not the owners of the package `com.azure` nor do I know where to get the source to even help look at and try to deduce the issue.

We can only help with issues in the checkstyle utility. https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F

[2020-12-15 04:58] pbludov commented on #9105
This is the root case:
[code]
The comment breaks `getDistributedPreviousStatement` flow.

The AST:
[code]
At first glance, it is enough to skip the comment here.

[2020-12-15 15:55] DmitriyKapeliukh opened #9107 "IllegalStateException occurred while parsing file"
+Pre-conditions+
Maven 3.5.4
JDK15

[code]
Code sample
[code]

+Steps+
mvn clean verify

+Result+
Failed during checkstyle configuration: Exception was thrown while processing /Users/../../../MyClass.java: IllegalStateException occurred while parsing file /Users/../../../MyClass.java: . /Users/../../../MyClass.java: :19:67: expecting COLON, found ';'

The exception refers to the end off the line

[2020-12-15 16:10] strkkk commented on #9107
@DmitriyKapeliukh you need to upgrade your checkstyle version to 8.36+, where support of switch expressions [was added](https://checkstyle.org/releasenotes.html#Release_8.36)

[2020-12-15 16:10] #9107 closed

[2020-12-15 17:04] toshetah commented on #8979
@Abhishek-kumar09 , are you working on that? Or can I help with this one?

[2020-12-15 17:25] Abhishek-kumar09 commented on #8979
@toshetah Thanks for your interest, The PR is under review process, I am actively looking for suggestions from mentors. I have done the required changes suggested by mentors. But they too need time to review it thoroughly so that nothing wrong gets deployed.

[2020-12-17 13:47] strkkk commented on #7856
This was fixed in https://github.com/checkstyle/checkstyle/commit/24b077c66e9a3106dc0b2417734a654744cdaf74

[2020-12-17 13:47] #7856 closed

[2020-12-17 15:24] drklen4 opened #9111 "Support for Java 15 Strings"
Running checkstyle validation on a class that contains Strings:
                        """
                        {"records":..."}}
                        """

fails with: IllegalStateException occurred while parsing file ...  unexpected token: "

[2020-12-17 15:33] strkkk commented on #9111
@drklen4 you need to use checkstyle version [8.36](https://checkstyle.org/releasenotes.html#Release_8.36) or higher to process text blocks

[2020-12-17 15:33] #9111 closed

[2020-12-17 16:05] Abhishek-kumar09 commented on #9071
@romani Done, please have  look.

[2020-12-18 08:41] zhangmingshuang opened #9112 "CheckStyle.xml SingleLineJavadoc does not match the GoogleStyle format plugin in idea."
I use the idea's "Google-Style-Format" plugin-in to format my codes. but the plugin-in formats comments no more then one line as:
[code]
However, in ”Check-Style“, if it's a constant or a class, the "Check-Style" wants the comment document to be multi-line.
it said likes: "the java-doc comment should be mulit-line. [SingleLineJavadoc]"

In this case , how should I adjust the relevant configuration

[2020-12-18 23:11] rnveach commented on #9112
Is this related to https://github.com/checkstyle/checkstyle/issues/4052 ?

[2020-12-21 00:12] romani opened #9113 "Indentation: change in violation message 'operator new' to just 'new'"
detected at https://github.com/checkstyle/checkstyle/pull/9079#discussion_r537059728

message is like `'operator new' has incorrect indentation level 20, expected level should be 16.`
but all other messages do not have `operator` in name
![image](https://user-images.githubusercontent.com/812984/102727991-22443380-42de-11eb-8de0-a261f667012c.png)

Expected: remove `operator` word from message.

[2020-12-21 15:52] #7875 closed

[2020-12-21 15:53] romani commented on #7875
fix is merged.

[2020-12-21 16:17] romani commented on #9086
@Abhishek-kumar09 , please use https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F
it is simple bug that we did not noticed before release, but released and users did not upgrade yet to latest version to start complaining.

[2020-12-21 16:22] romani opened #9114 "update ISSUE_TEMPLATE/feature_request.md to make demand to show current beharior by CLI"
It happened several times already that contributors are reading
https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE/feature_request.md

and create issues with bunch of words on what is problem and what is expected.

BUT all we need is clear example of :
1) how it works now (example by CLI) by template of https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F . Like

[2020-12-21 18:15] romani opened #9115 "update CircleCi to try one more time"
example of failure - https://app.circleci.com/pipelines/github/checkstyle/checkstyle/4047/workflows/15be6515-fe3d-4e2c-97b7-581fb3fedba1/jobs/68687

build is required to be restarted only because there was some connection issue.

example of how to do this:
https://support.circleci.com/hc/en-us/articles/360043188514-How-to-Retry-a-Failed-Step-with-when-Attribute-

**Expected:**
if `build-caches` fa

[2020-12-21 18:49] romani opened #9116 "Github actions should reuse maven cache"
sire generation takes a lot of time, more than 7 minutes
most time is spent in download of dependencies

we should reuse dependencies cache

https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-java-with-maven#caching-dependencies
https://docs.github.com/en/free-pro-team@latest/actions/guides/caching-dependencies-to-speed-up-workflows

[2020-12-21 18:52] romani opened #9117 "update trigering of web site generation in github actions by 'website'"
https://www.stratecomm.com/faqs/website/

lets extend
https://github.com/checkstyle/checkstyle/blob/72f2aea1927c58b23aee6c30aa659b7669c6bdb6/.github/workflows/site.yml#L22-L25

with extra phrase `'GitHub, generate website'`

[2020-12-21 20:57] romani commented on #7687
do update in javadoc of this InportOrderCheck and run "mvn verify" it will guide you on what else to update.
you will need to mirror/duplicate changes at javadoc to https://github.com/checkstyle/checkstyle/blob/72f2aea1927c58b23aee6c30aa659b7669c6bdb6/src/xdocs/config_imports.xml#L330

[2020-12-21 23:19] zkiss opened #9118 "Check Method/Constructor Parameter List Wrapping"
I would like to be able to check if the parameter list in methods and constructors is wrapped according to the following rules:

- Either all parameters are on a single line
- Or they are broken up into multiple lines, each on an individual line
- When parameters are on multiple lines, these lines are aligned

To illustrate this, here are a couple of code examples:

### Good

[code]

### Bad

[cod

[2020-12-22 05:35] mihirbachhav025 commented on #7575
Can I work on this
?

[2020-12-22 06:07] mihirbachhav025 commented on #7688
I am on it

[2020-12-22 07:40] pbludov commented on #9118
How will this check handle long class/method names like [this](https://docs.jboss.org/hibernate/orm/4.1/javadocs/org/hibernate/service/jdbc/connections/spi/AbstractDataSourceBasedMultiTenantConnectionProviderImpl.html)?
What about
[code]
}

[2020-12-22 08:21] strkkk commented on #7575
@mihirbachhav025 yes

[2020-12-22 14:13] zkiss commented on #9118
In my opinion line length is not a concern of these checks, there is a separate check for this. All the check is supposed to do is what I described above, which is enforcing the relative alignment and line wrapping of parameters.

Personally, in this specific case I would perhaps wrap it like shown below, but this is really up to code authors to decide, and the approach chosen does not affect how

[2020-12-22 14:21] zkiss commented on #9118
For further clarification on how I imagine the line wrapping and aligment checks to behave, what they would accept and reject, I would recommend taking a look at the tests included in the POC I mentioned above.

[2020-12-22 18:17] #9117 closed

[2020-12-22 18:17] romani commented on #9117
fix is merged.

[2020-12-22 18:18] #9116 closed

[2020-12-22 18:19] romani commented on #9116
fix is merged.

[2020-12-22 19:05] mihirbachhav025 commented on #7575
ok thanks

[2020-12-22 20:02] romani commented on #9118
@zkiss , thanks  a lot for reaching us.

Yes, we encourage contributors to create extensions for all their ideas of code validation - it is always good approach.
we can keep reference to you at https://checkstyle.org/#Related_Tools_Active_Tools

accepting a PR with Checks is definitely not a easy step, as quality bar is very high (all CIs to pass, multiple human very detailed review, ...).

There

[2020-12-22 20:25] Abhishek-kumar09 commented on #9086
@romani updated issue decription :)

[2020-12-22 20:54] mihirbachhav025 commented on #7688
Hey, I have not understood the meaning of Add example for each existing config to show what code is ok and what code causes a violation. Please add examples for all properties of Check. Like in the abstract class example given above examples cover how an abstract class should be written. So for redundant import where can I see the existing config and how to write according to that?

[2020-12-23 00:55] romani commented on #7688
add example code before "Parent ...."
https://github.com/checkstyle/checkstyle/blob/b925c65a07ff1138a66be6ce0372e8ea6cfe7dd2/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/RedundantImportCheck.java#L47-L51

take a look at other Check classes for example.

[2020-12-23 01:11] romani commented on #9112
yes, it is kind of duplicate.
I updated #4052 with current behavior.
@zhangmingshuang , if you have time please contribute a fix, we will guide you on process.

[2020-12-23 01:11] #9112 closed

[2020-12-23 08:00] Vyom-Yadav opened #9123 "NeedBraces property allowEmptyLoopBody not giving error on empty loop body."
https://checkstyle.org/config_blocks.html#NeedBraces
Using checkstyle 8.38 with config-
[code]
Code I used
[code]
Doesn't give an error for an empty loop body.
[code]

[2020-12-23 08:19] strkkk commented on #9123
I do not understand the problem. Check demands curly braces for loop, and loop has curly braces, looks like ok.

[2020-12-23 08:28] Vyom-Yadav commented on #9123
The property `allowEmptyLoopBody` allows loops with empty bodies but here when its value Is false, it should not allow loop with empty body, but here it's allowing.

[2020-12-23 08:39] #9123 closed

[2020-12-23 08:45] Vyom-Yadav commented on #9123
Sorry my bad, I was expecting the check to do something else.

[2020-12-23 17:11] mihirbachhav025 commented on #7688
so I have to add code in this file and not in the config_importsd.xml file present in the config dir?

[2020-12-23 17:21] pbludov opened #9124 "StackOverflowError at ParenPadCheck#processExpression, SingleSpaceSeparatorCheck#visitEachToken"
Check documentation: https://checkstyle.org/config_whitespace.html#ParenPad https://checkstyle.org/config_whitespace.html#SingleSpaceSeparator

/var/tmp $ javac InputMatchXpathNoStackoverflowError.java
(no output)

/var/tmp $ cat InputMatchXpathNoStackoverflowError.java
[code]
/var/tmp $ cat config.xml
[code]
[code]

`ParenPadCheck` failed to process  src/test/resources/com/puppycrawl/tools/checks

[2020-12-23 19:58] pbludov commented on #9124
The issue becomes more complicated. Now it fails on `SingleSpaceSeparatorCheck.visitEachToken`.
All stack overflow issues should be solved in one PR, with one commit per check.

https://app.wercker.com/checkstyle/checkstyle/runs/build/5fe39d01237ec900082dbeca?step=5fe39d405405fc0009630006

[2020-12-24 07:44] pbludov commented on #9124
The work will be done in #5820

[2020-12-24 07:44] #9124 closed

[2020-12-24 14:47] Vyom-Yadav commented on #3110
@rnveach I am not able to fund this file, where is it?

[2020-12-24 15:45] rnveach commented on #3110
https://github.com/checkstyle/checkstyle/commits/master/src/main/java/com/puppycrawl/tools/checkstyle/doclets/TokenTypesDoclet.java
It was removed.

[2020-12-24 16:22] Vyom-Yadav commented on #3110
So are there still any messages which are not translated?

[2020-12-25 23:11] zielint0 opened #9130 "Lack of space: that@SuppressWarnings"
https://checkstyle.sourceforge.io/config_annotation.html#SuppressWarnings

```Allows to specify what warnings that@SuppressWarnings is not allowed to suppress.```

Add space after "that"

[2020-12-26 02:05] romani opened #9131 "update doc for AvoidEscapedUnicodeCharacters"
https://checkstyle.org/config_misc.html#AvoidEscapedUnicodeCharacters

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.
Make xdoc to follow structure as we have in other Checks: config is following by code example where trailing com

[2020-12-26 03:05] romani opened #9132 "Checkstyle failing to parse new escape symbol that was added in jdk15"
https://openjdk.java.net/jeps/368

Escape sequences aren't translated until after incident space stripping, so \s can act as fence to prevent the stripping of trailing white space. Using \s at the end of each line in this example guarantees that each line is exactly six characters long:
String colors = """
    red  \s
    green\s
    blue \s
    """;
The \s escape sequence can be used in both text

[2020-12-26 03:07] romani commented on #9132
@nmancus1 , please help to fix if you are around.
it is found at https://github.com/checkstyle/checkstyle/pull/9129#discussion_r548902300

[2020-12-26 03:17] romani opened #9133 "AvoidEscapedUnicodeCharacters should support '\s' escape symbol"
https://checkstyle.org/config_misc.html#AvoidEscapedUnicodeCharacters

blocked by https://github.com/checkstyle/checkstyle/issues/9132

[code]

Expected: no violations.

[2020-12-26 03:26] nmancus1 commented on #9132
@romani this is a duplicate of https://github.com/checkstyle/checkstyle/issues/8651 I think. I will work on this.

[2020-12-26 03:49] #9132 closed

[2020-12-26 06:31] nmancus1 commented on #9133
I'm on this.

[2020-12-26 09:25] Vyom-Yadav commented on #9133
Also if I use the configuration-
[code]
With code-
[code]
It Shows Audit Done with 0 errors. Property is defined as allow use escapes for non-printable, whitespace characters when its `value="FALSE"` it shouldn't allow the use of escapes for non-printable, whitespace characters. But no error is shown.

[2020-12-26 09:31] Vyom-Yadav commented on #9131
I am on it, currently, I am learning PIT testing and getting familiar with more maven commands, also some Data Structures that were left with a few more things. I will solve better issues when I have a better command of the Language.

[2020-12-26 17:40] ShivamSingh226 commented on #7624
Hello,
I am a beginner and this is my first ever open source contribution. Would you please help me in this issue? I would appreciate if you would advice me too on how to contribute to the open source contribution.
Thank you!

[2020-12-26 17:49] romani opened #9137 "Create MatchXpath instance to forbig usage of 'expected' element in Test annotation of junit"
code like:
[code]

update
https://github.com/checkstyle/checkstyle/blob/8d0b729321faee41bd5fc391d11f0825cefdaa5b/config/checkstyle_checks.xml#L397-L401

to find `expected` element in code instead of search of printstacktrace in code as it is duplicate of other valiidations.
We need to add this config to our javadoc/xdoc/html.

[2020-12-26 18:40] nmancus1 opened #9138 "Create MatchXPath instance to forbid usage of "@Issue" annotation"
I do not think this(`Issue`) annotation is good:
[code]
we have git for this, and while we are strict on format for commit messages it is better to keep such information in git (hidden by default). Reader of code should focus on code first, any distractions(extra code lines) should be avoided.

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/pull/9134#discussion_r54901395

[2020-12-27 04:01] romani opened #9140 "fix TOKEN_TEXT_PATTERN in JavadocMetadataScraper"
`Pattern TOKEN_TEXT_PATTERN = Pattern.compile("([A-Z]+_*+)+[A-Z]+");`

detected at
https://github.com/checkstyle/checkstyle/pull/9128#discussion_r548900637

Shouldn't this be ([A-Z]+_)+[A-Z]+ ?
If there is a case with no underscore, then it should be something like ([A-Z]+_)+?[A-Z]+ .

[2020-12-27 08:27] pbludov opened #9142 "Infra: migrate to Truth in tests"
We [agreed](https://github.com/checkstyle/checkstyle/issues/7239#issuecomment-560147839) to use [Truth](https://github.com/google/truth) in tests. It is more readable and produces better diffs on failure.

This is how a regular unit test should be written:
[code]
Assertion starts with `assertWithMessage(...)`, followed by `that` and number of [assertions](https://truth.dev/benefits#readable-assert

[2020-12-27 08:56] #8651 closed

[2020-12-27 08:56] pbludov commented on #8651
Fix is merged.

[2020-12-27 09:28] Vyom-Yadav commented on #9138
@nmancus1 I can do this, but can you tell me what's exactly to be done?

[2020-12-27 09:40] pbludov commented on #9138
This can be done with JUnit itself. `@Issue` is more then just an annotation.
We can implement custom [Issue Processor](https://junit-pioneer.org/docs/issue/#issueprocessor-api) that asserts that list of issues is empty.

[2020-12-27 09:47] #5820 closed

[2020-12-27 09:49] pbludov commented on #8943
Fixed in #9102.

[2020-12-27 09:49] #8943 closed

[2020-12-27 11:24] pbludov commented on #8018
Fix is merged.

[2020-12-27 19:07] anhminhtran235 commented on #9009
I would like to drop this issue. It is more complex than my current skills. Future contributors feel free to take on this issue.

[2020-12-28 12:38] #8018 closed

[2020-12-28 20:34] himanshurijal commented on #7657
I am on it.

On a side note,
Shouldn't the configuration for not allowing any return statements in constructors be
<img width="412" alt="Screen Shot 2020-12-28 at 1 37 19 PM" src="https://user-images.githubusercontent.com/31570659/103238956-d9116680-4911-11eb-941f-e92034d6dca8.png">

instead of

<img width="1138" alt="Screen Shot 2020-12-28 at 1 39 04 PM" src="https://user-images.githubusercontent

[2020-12-29 18:38] himanshurijal commented on #7643
I am on it.

[2020-12-30 04:15] beastcoder007 commented on #9131
Hey can you assign this issue to me

[2020-12-30 04:27] beastcoder007 commented on #9130
Hey there can you assign this to me

[2020-12-30 04:29] romani commented on #9130
Fix is merged already

[2020-12-30 04:29] #9130 closed

[2020-12-30 04:40] Vyom-Yadav commented on #9131
I have already submitted a PR.

[2020-12-30 04:43] Vyom-Yadav commented on #9140
@romani I am on it.

[2020-12-30 04:44] J-Ankit2020 commented on #8928
Hey assign this to me

[2020-12-30 04:53] romani commented on #8928
But make comment "I am on it" and you are selfassigned

[2020-12-30 14:49] nmancus1 opened #9143 "AvoidEscapedUnicodeCharacters should support trailing '\' escape symbol"
https://checkstyle.org/config_misc.html#AvoidEscapedUnicodeCharacters

From https://github.com/checkstyle/checkstyle/pull/9135#discussion_r550064696:

The above comment is referencing this doc: https://docs.oracle.com/javase/specs/jls/se15/html/jls-3.html#jls-3.10.7

_______________________________________________________

[code]
AvoidEscapedUnicodeCharacters should not report a violation in this

[2020-12-30 19:38] Vyom-Yadav commented on #9140
@romani One test fails if I change the pattern,  `Number of generated metadata files dont match with number of checkstyle module` , the no of files increase, how is this related to the regex I changed?

[2021-01-01 00:59] romani commented on #9140
We need to find way to change pattern to keep the same functional

[2021-01-01 08:02] Vyom-Yadav commented on #9140
shall I do some changes in the test or only in the regex?

[2021-01-01 08:05] strkkk commented on #9140
You need to simplify regex without breaking existing tests. If there are some missing test cases, you are welcome to add it.

[2021-01-01 15:25] nmancus1 commented on #9137
I'm on this.

[2021-01-02 01:06] romani opened #9146 "upgrade minimal required jdk version to 11"
World is moving to jdk11 as minimal requirement.

Eclipse requires jdk11 - https://wiki.eclipse.org/Eclipse/Installation

Sonar requires jdk11 - https://docs.sonarqube.org/latest/requirements/requirements/ (they warning us that our sevntu project is still running under jdk8 and will stop to work very soon)

IDEA requires jdk11 - https://www.jetbrains.com/help/idea/installation-guide.html

we discu

[2021-01-02 01:10] romani commented on #9146
execution on old jdk requires us to use more old OS instances in CI that cause different problems.
we need to add bunch of CI jobs to recheck build process on other JDKs.

I think it is good time for us to migrate to jdk11 as minimal required.
ALL maintainers should agree on this before approving this issue:
@rnveach , @pbludov , @strkkk , @nmancus1 , @esilkensen , @timurt , please vote

[2021-01-02 01:14] romani commented on #9146
email from Sonar, subject `[ACTION REQUIRED] Deprecation of Java <11, upgrade before February 1st!`:
[code]

[2021-01-02 01:59] nmancus1 commented on #9146
I agree.  I can foresee issues with libraries we use dropping support for Java 8, too. A good article with lots of linked articles (at the bottom of the page): https://nipafx.dev/java-11-migration-guide/

Just a few thoughts:
 - We should create an issue move non-compilable test inputs to compilable
 - Would using the `module` system offer us any advantages?
 - Would we create a separate developme

[2021-01-02 02:37] pbludov commented on #9146
One of the blockers for this issue is [NonDex](https://github.com/TestingResearchIllinois/NonDex#prerequisites).
But there is some [activity](https://github.com/TestingResearchIllinois/NonDex/pull/155) in this project. Sooner or later this issue will be resolved. Until that we can disable this tool in the CI.

[2021-01-02 02:58] pbludov commented on #9146
This will be a breaking change for many projects.
For example,  JOSM uses some [internal checks](https://github.com/openstreetmap/josm/tree/master/tools/checkstyle).
We need to maintain the Java8 backport.

[2021-01-02 04:09] rnveach commented on #9146
You may have to loosen that restriction. You will need to give warning to Eclipse-CS and maven-checkstyle-plugin.

[2021-01-02 07:08] stryder2000 commented on #7695
I'm on it

[2021-01-02 11:44] aryaniiit002 commented on #8930
you want to add new property here that "IllegalType" is valid for fields only like others properties?

[2021-01-02 11:56] aryaniiit002 commented on #8930
you want to add new property here that "IllegalType" is valid for only fields like others properties?
[property that "Checks that particular Fields are never used. "]. like memberModifiers?
if yes, further you want to update doc by mentioning that property and code examples?

[2021-01-03 01:53] aryaniiit002 commented on #7608
i want to work on this, can i work on it?

[2021-01-03 01:58] aryaniiit002 commented on #7602
i am on it.

[2021-01-03 07:51] aryaniiit002 commented on #7878
can i work on this?
i still dont know anything about pitest but i will work and learn pitest. I want to know if all the info about pitest can be found in [#7797](https://github.com/checkstyle/checkstyle/issues/7797) here?

[2021-01-03 14:36] rnveach opened #9149 "Xpath suppression matching prone to stack overflow (2)"
Possible a continuation of https://github.com/checkstyle/checkstyle/issues/5820 ,

On my local master, commit 7e76db2, `MatchXpathCheckTest#testNoStackoverflowError` is still failing with a stack overflow.

[code]

[code]

It looks like this might be an issue in saxon itself.

[2021-01-03 14:57] rnveach commented on #9149
I assume CI isn't failing because our test case isn't deep enough for CI, but it could happen if CI gets a random system that can' handle it. Nothing I am seeing saying this is some fluke.

I don't think there is anything we can do. Looking at the code, we are always creating all the children when we are in this `Navigator$DescendantEnumeration` loop. We can't do any sort of delay on the children

[2021-01-03 15:07] timurt commented on #9146
I agree, lets do it

[2021-01-03 17:13] esilkensen commented on #9146
Same here, I'd vote to migrate

[2021-01-03 17:22] nmancus1 commented on #9146
So, @pbludov you think that we should maintain two versions of Checkstyle? Can you elaborate on this idea?

[2021-01-03 18:23] rnveach commented on #9146
This probably won't happen unless @romani has changed his stance. We have enough trobules just maintaining 1 version as seen from 370 approved of 588 issues. We went through this same thing when upgrading to 8 and we didn't create an extra version for that even with all the backlash it presented.

I maintain the Java 6 backport at https://github.com/rnveach/checkstyle-backport-jre6 and you can see

[2021-01-03 18:54] nmancus1 commented on #9146
I am interested in reading through security issues, but I get a 404 for that link.  Navigating to the "security" tab in your repo yields no information either.

[2021-01-03 19:37] rnveach commented on #9146
Sorry it must be restricted to admins/maintainers which I am the only one. It doesn't reside under checkstyle's github.

low severity
by GitHub
pom.xml

https://github.com/advisories/GHSA-269g-pwp5-87pp

moderate severity
by GitHub
pom.xml

https://github.com/advisories/GHSA-4p6w-m9wc-c9c9

moderate severity
by GitHub
pom.xml

https://github.com/advisories/GHSA-mvr2-9pj6-7w5j

[2021-01-04 15:15] izrobin opened #9152 "Record implementing interfaces, indentation faulty"
Hi again, it's me. I've found another caveat with the addition of java records and checkstyle.
I wonder if this is a bug, or what's causing it?

`$ cat rules.xml`

[code]

`$ cat Example.java`

[code]

`$ java -Duser.language=en -Duser.country=US -jar checkstyle-8.39-all.jar -c rules.xml Example.java`

[code]

If I change the property `lineWrappingIndentation` to `0`, it works (but i guess the ent

[2021-01-04 18:36] rnveach commented on #9149
Now we had a CI failure in 1 PR. Example of CI failure at https://app.wercker.com/checkstyle/checkstyle/runs/build/5ff3492ec0593d001ddb5170?step=5ff3496d5405fc000975d1cc

[2021-01-05 04:46] nmancus1 commented on #9152
Thanks for the detailed report.

I think that this is a bug. I would expect no violations from the code that you have posted.
Consider:
`➜  src cat config.xml `
[code]

`➜  src cat Example.java `
[code]

[code]

[code]

I will begin work on this as soon as a member approves.

[2021-01-05 19:16] himanshurijal commented on #7643
I am on it.

[2021-01-05 19:34] pbludov commented on #9149
We can remove all inputs used to trigger a stack overflow to avoid CI failures. A deeply nested AST can be generated directly in a test method.

[2021-01-05 20:28] rnveach commented on #9149
Originally issue was created from CI failure from external project. It may not be so simple to remove files in our repo to fix CI.

Switching same deeply nested file to a deeply nested AST will not solve CI issue as it is all the same depth. Fixing CI has to reduce the depth of the input file (remove lines) so the stack doesn't overflow on low end mahines.

All of this is still a patch fix for CI

[2021-01-06 02:16] nmancus1 commented on #9152
@pbludov I have discovered an issue with the construction of the record definition AST, which affects the functionality of IndentationCheck:
https://github.com/checkstyle/checkstyle/blob/7e76db268f109f658220dc68eaa2dadc31b2dd5f/src/main/resources/com/puppycrawl/tools/checkstyle/grammar/java.g#L562-L570

The `recordComponentsList` and `implementsClause` ASTs order is reversed in the tree constructi

[2021-01-06 04:44] AkMo3 commented on #7202
I am working on it. But I am facing some issue. @romani  @rnveach @pbludov Should I make a draft and then ask questions there or should I ask here only?

[2021-01-06 07:17] pbludov commented on #9152
To me, this looks like a regular mistype.
By replacing `ic, rc` => `rc, ic`, will this issue be solved? If so, after creating a new issue this issue will become empty.
I don't see the benefit of creating a dedicated issue.

[2021-01-06 07:24] nmancus1 commented on #9152
That's correct.  The change in the `java.g` file, and actually removing some code from IndentationCheck solves this issue.

[2021-01-06 07:49] #8710 closed

[2021-01-06 07:50] strkkk commented on #8710
Fix is merged

[2021-01-06 08:02] pbludov commented on #9149
The problem seems to be that different platforms (32 vs 64) have different stack sizes and where the 64-bit JVM works well, the 32-bit one gets a stack overflow.

Another idea is to invoke all such test methods in a custom thread with reduced stack size.
I'll try to explore in this direction.

[2021-01-06 10:40] rnveach commented on #7202
If you need help with **your** implementation, then PR is the best place for it as we don't know what you changed.

[2021-01-06 19:42] bossever commented on #7656
Can I work on this?

[2021-01-06 22:56] rnveach opened #9159 "AvoidEscapedUnicodeCharactersCheck: False positive on text blocks with a line separation"
Taken from https://github.com/checkstyle/checkstyle/pull/9135 ,

[code]

Line 3 and 6 is a false positive and should not report a violation as the leading blank spaces in the text block after the new lines should basically be ignored.

[2021-01-06 23:20] nmancus1 commented on #9159
This is not entirely accurate; it is the leading whitespace (indent) causing the false positives.

This sentence might have given the wrong idea; I grouped the "indent/ initial newline" together since that is the functionality of the `CheckUtil.stripIndentAndInitialNewLineFromTextBlock()` method, sorry for any confusion.

[2021-01-06 23:23] rnveach commented on #9159
I updated the sentence. If you it is still an issue, please provide sentence you would prefer.

[2021-01-06 23:29] nmancus1 commented on #9159
This is correct, please approve.

[2021-01-07 00:39] #9133 closed

[2021-01-07 00:40] rnveach commented on #9133
Fix was merged

[2021-01-07 00:40] rnveach commented on #9159
Fix was merged

[2021-01-07 00:40] #9159 closed

[2021-01-07 07:41] pbludov commented on #9149
@rnveach I now understand what you wrote above. We can't avoid stack overflow in Navigator. next. And the unit test here should somehow magically determine the amount of stack needed for recursive calls to `Navigator.next`, but no more. Otherwise, the stack fill will flow from our code to the Saxon code.

The test should be redesigned so that it has a call to `getChildren`, but without using Saxon

[2021-01-07 12:00] aryaniiit002 commented on #7878
I am on it

[2021-01-07 18:50] rnveach commented on #7452
I agree with this.

It is not clear OBJBLOCK is to only support LITERAL_NEW (anonymous classes). I question even if LITERAL_NEW is enough as people may not make the distinction. I do agree OBJBLOCK is not the way and should be removed.

@romani Please confirm.

[2021-01-07 20:09] nmancus1 opened #9162 "Checkstyle gitter should have a bot to relay common messages"
Checkstyle gitter(https://gitter.im/checkstyle/checkstyle) should have a bot to relay common messages, such as:

`checkstyle-bot: first-issue`:
`Please visit https://github.com/checkstyle/checkstyle/labels/gsoc%20first%20issue , and select an issue.  Create a comment "I am on it"; then...`

`checkstyle-bot: beginning-contribution`:
`Hello! This is a good place to start: https://checkstyle.sourcefo

[2021-01-08 07:22] strkkk commented on #7656
@bossever yes, PR is welcome

[2021-01-08 09:17] pbludov opened #9163 "Minimize the stack size used for unit tests"
After #5820 there is some inputs to prove that our checks don't fail with deep nested AST in the repo. The problem is that these inputs now cause [errors in CI](https://app.wercker.com/checkstyle/checkstyle/runs/build/5ff3492ec0593d001ddb5170?step=5ff3496d5405fc000975d1cc).

As possible solution, we can set the stack size with `-Xss` command line parameter to some small value, allowing us to minim

[2021-01-08 15:31] romani commented on #9146
we can move project to main organization github, we just can make comment that pace of updates might be different from main project.

we can go forward withtout this tool, and and activate it back in 1 year after problems are resolved in library.

It is not realistic at least for me, but I am ok to copy repo aside to let somebody port updates, it should be less painful than port to jdk6.

Eclipse-

[2021-01-08 16:36] bossever commented on #7656
Do we have to update the config files as well, or is that handled by the build process?

[2021-01-08 17:20] strkkk commented on #7656
There is no need to update config files, only xdoc xml and javadoc for check. Please see merged PRs for similar issues

[2021-01-08 17:26] strkkk commented on #9146
I do not see much benefits from upgrade, but a lot of issues for users with java8 and a backport will be necessary.
It is good to see that other tools are migrating to java 11, but checkstyle is utility tool for users. Most of them use 8, not 11, as statistics shows.