[2015-05-25 22:24] mkordas commented on #1129
:+1: - this was very annoying for me when I played with Checkstyle for a first time

[2015-05-25 22:28] romani commented on #1009
merged. Thanks a lot !

[2015-05-25 22:28] #1009 closed

[2015-05-25 22:39] romani commented on #1124
I keep it close, as you already fixed it.

[2015-05-25 22:52] Vladlis commented on #1009
my pleasure

[2015-05-25 23:51] mkordas opened #1133 "Remove noise from Coveralls by using one JDK for coverage builds"
Oracle JDK 8 build (last one) always show about 0.1% higher code coverage:

![enter image description here][2]

Even if the pull request clearly only adds coverage, Coveralls calculates difference between worst coverage in current jobs (JDK 7) with the best one from the previous one (JDK 8), hence causing [comments in pull requests][3] like:

![enter image description here][4]

My idea is to run C

[2015-05-26 16:07] romani commented on #1121
looks like we could already use snap-ci - https://docs.snap-ci.com/speeding-up-builds/test-parallelism/

[2015-05-26 16:09] romani commented on #863
expected location "src/it"

FYI: https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html

[2015-05-26 18:47] romani opened #1136 "ThrowCountCheck should have option to skip private methods"
Assigned to : @Vladlis

base on discussion at https://github.com/checkstyle/checkstyle/pull/1083

and report generated over openjdk, springframework, ........ . Nobody follow that rule of "one throw".

Even user decided to reach that target - it is will be reasonable to spit work and skip private methods as they do not cause problems for other classes and Class can decide itself on what inner leve

[2015-05-26 22:02] romani commented on #1085
merged.

[2015-05-26 22:02] #1085 closed

[2015-05-26 22:28] Vladlis commented on #1136
The option has suppressed 283 violation while running the Check on openjdk7 and spring.framework with default properties (from 3733 to 3450).

[2015-05-27 05:12] romani commented on #1063
assigned to @Vladlis .

[2015-05-27 05:28] romani commented on #1121
i did POC at branch issue#1121 in contribution repo

[2015-05-27 12:12] Vladlis commented on #1107
I guess, this issue can be closed, as https://github.com/checkstyle/checkstyle/pull/1109 is merged.

[2015-05-27 13:30] #1107 closed

[2015-05-27 15:36] romani commented on #1136
merged.

[2015-05-27 15:36] #1136 closed

[2015-05-27 15:39] romani commented on #152
merged

[2015-05-27 15:39] #152 closed

[2015-05-27 16:31] mkordas commented on #1136
What about the case when the user would like to have throws limit on public and protected methods set to 1, but on private and package-private set to e.g. 5?
This might be quite typical use case. First strict limit because of api cleanness, while second to prevent code that is unreadable and polluted.

[2015-05-27 17:26] romani commented on #1136
in next releases we could extend that Check as much as reasonable. I am ok with new option that you described.

[2015-05-27 19:32] kapunga opened #1141 "Indentation: Lambda in Enum indentation error loop"
I'm creating an enum with reusable pieces of code and the indentation is giving me trouble.  We have Checkstyle configured to run as a git commit hook (as well as in out IDE). Here is an example code block for what I am trying to do:

[code]

When I try and commit this, I get checkstyle warnings:

When I fix this to the following (Which I would argue is less readable):

[code]

I get errors as wel

[2015-05-27 21:44] eekboom opened #1142 "FinalLocalVariable: Wrong variable reported because of name shadowing"
http://checkstyle.sourceforge.net/config_coding.html#FinalLocalVariable

Checkstyle reports that the "text" parameter in the "bar" method can be final, which is wrong.
It should report the "text" param in the "foo" method instead.
[code]

[2015-05-27 21:48] Vladlis commented on #1063
@romani, you mean javadoc-tokens, which should ignored by the Check? If so, then which javadoc-tokens should be allowed in this list, any?

[2015-05-27 23:50] romani commented on #1133
merged.

[2015-05-27 23:50] #1133 closed

[2015-05-27 23:57] romani commented on #1142
please provide configuration and what version of checkstyle you are using.
Please try to reproduce problem with our CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-05-28 00:12] romani commented on #1063
Yes, example of javadoc-tokens list please see at http://checkstyle.sourceforge.net/config_javadoc.html#AtclauseOrder

Option could be named as - ignoredAtclauses

as user defined an ignored list he is responsible for that tokens, it is his responsibility to make sure that there is no tokens that require parameter. It even good that user can disable violation of tokens with parameters if he do wan

[2015-05-28 00:28] romani opened #1143 "ThrowCountCheck: change for default value"
base on discussion at https://github.com/checkstyle/checkstyle/pull/1083#issuecomment-106083510

please make a default value to 4.
update javadoc/xdoc with explanation why that value is used.

[2015-05-28 00:45] romani opened #1144 "refactoring to Main.java accounrding to ThrowCountCheck"
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Main.java#L208

ThrowCountCheck limit is 2.

[code]

please try to make it
[code]

to clearly show that from Checkstyle execution user will return only CheckstyleException.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18227633-refact

[2015-05-28 05:05] eekboom commented on #1142
Version 6.6
This is the error message:
D:\stephen\sniff\src\com\acme\MissingFinals.java:8:29: Variable 'text' sollte als final deklariert werden.
(Translation: Variable 'text' should be declared final)
Note the wrong line number '8'!
Here's the config:
[code]

[2015-05-28 11:56] GustavCarlson opened #1145 "JavadocMethod parses allowedAnnotations incorrectly"
According to its [documentation](http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod), `allowedAnnotations` [is a `StringSet`](http://checkstyle.sourceforge.net/property_types.html#stringSet) (referred to as "list of strings") whose documentation states that "The string representation is parsed as a set of comma (',') separated strings.", but `JavadocMethodCheck#setAllowedAnnotatio

[2015-05-28 12:02] luzhanov commented on #281
+1

[2015-05-28 17:08] romani commented on #1145
merged. Thanks a lot !!!

[2015-05-28 17:08] #1145 closed

[2015-05-28 21:19] mkordas commented on #1144
Comment from #1083:

I don't think the above is correct. These exceptions come from `com.puppycrawl.tools.checkstyle.Main#createListener`, not `com.puppycrawl.tools.checkstyle.Main#loadProperties`.

[2015-05-28 21:21] romani commented on #1144
right, but we still need to think how to make design more ideal of that methods.

[2015-05-28 22:00] mkordas commented on #1129
Is it also true for checks that require some external config like `ImportControl`?

[2015-05-28 22:04] romani commented on #1129
yes, even for filters that is true (all elements that we have config xml). they should do nothing in default config, and definitely not crashing.

[2015-05-29 00:19] romani opened #1148 "IllegalArgumentException at SuppressWarningsHolder"
Config:
[code]

code base as of 28 May 2015.

output:
[code]

[2015-05-29 00:22] romani opened #1149 "NullPointerException at PackageDeclarationCheck"
[code]
https://github.com/checkstyle/contribution/tree/master/checkstyle-tester
openjdk|hg|http://hg.openjdk.java.net/jdk7/jdk7/jdk/

output:
[code]

[2015-05-29 07:38] imley commented on #281
+1 on this.

[2015-05-29 15:38] nickswar commented on #281
+1

[2015-05-29 15:56] jamespedwards42 commented on #281
+1

[2015-05-29 20:30] romani commented on #1106
by "token" you mean variable names ?
Example: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/ConstantNameCheck.java#L92

[2015-05-29 22:00] mkordas opened #1151 "Improvemets to Checkstyle 6.7 release notes"
In https://github.com/checkstyle/checkstyle/commit/034c2fa27fb47f1f8498d2d6c3c943dd23b19b27 I see a couple of things that could be improved:
* Move _Breaking backward compatibility_ section below _New_ and _Bug fixes_ as it doesn't matter for normal user
* Throw**s**Count, not ThrowCount
* Instead of using names like _NewlineAtEndOfFileCheck_ IMO it's better to write _NewlineAtEndOfFile check_ - n

[2015-05-29 22:01] mishadoff commented on #1106
Yes.

[2015-05-29 22:28] romani commented on #1106
new option `ignoredNames` have to be created that will store list of variable names separated by ","

[2015-05-29 22:35] romani commented on #1151
New items will not brake anything in users config, but "bracking items" will do Exceptions on first launch.

Instead of using names like NewlineAtEndOfFileCheck IMO it's better to write NewlineAtEndOfFile check - name without Check is easier to google and it is what users use in configs

please provide PR for that changes

not a manual task , should be done by tool that generate release notes, ple

[2015-05-30 15:56] Vladlis opened #1152 "incorrect parsing of attributes in AtclauseOrderCheck"
Here
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AtclauseOrderCheck.java#L102-L122

[2015-05-30 20:07] romani commented on #1152
Trim should be used

[2015-05-31 04:43] romani commented on #1151
merged

[2015-05-31 04:43] #1151 closed

[2015-05-31 17:47] mkordas opened #1158 "SuppressWarningsHolder reports violations with incorrect messages"
Sample report: http://mkordas.github.io/suppress-warnings-holder/checkstyle.html

1. Translations are missing for `suppress.warnings.invalid.target` and `suppress.warnings.missing.value`
2. Should this check report as warning that target is invalid? Should the list of targets be extended?
3. Should this check report empty SuppressWarnings annotation?

[2015-05-31 18:16] mkordas opened #1159 "PMD ExceptionAsFlowControl: Do not use exceptions as flow control to create objects in PackageObjectFactory"
To instantiate each module in Checkstyle multiple exceptions are thrown:
* https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/PackageObjectFactory.java#L90
* https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/PackageObjectFactory.java#L142

This should be refactored to not use exceptions.

[2015-05-31 18:20] mkordas commented on #962
I don't see any false-positives. One class requires bigger refactoring though. Issue created: #1159

[2015-05-31 22:32] mkordas commented on #1129
Are you sure about "doing nothing"?

E.g. _Header_ fails with meaningful exception `cannot initialize module Header - property 'headerFile' is missing or invalid in module Header`
and there are tests for that:
https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/header/HeaderCheckTest.java#L175

I wouldn't remove this logic completely. What abou

[2015-06-01 03:16] romani opened #1162 "Change defaults for IllegaToken"
http://javahow.net/questions/30562563
http://checkstyle.sourceforge.net/config_coding.html#IllegalToken#IllegalToken

Default token should be "label" only - a sign of goto usage, bad practice for all types of projects.

[2015-06-01 14:44] romani commented on #1129
Yes "do noting" is too strict, but we have to choose for user what validation we can do by default.

Throw error us not useful as it will appear on each file, but should exists ones.

For this Check i think will be reasonale to just check existance of header with any text in it.

[2015-06-01 14:54] romani commented on #1158
1) human messages should be added for both cases
2) target list need to be extended, in java8 it even more wide, we need to review all inputs for annotations that we  introduced for java8 and change them to SuppressWarnings base on that results new issues could be created
3) no, if user need that, it should be caught by separare Check, i think we have such Check in sevntu - RequiredParameterForAnn

[2015-06-01 19:51] mkordas commented on #1162
:+1: - this check was very annoying and unusable with its default configuration.

[2015-06-01 20:59] mkordas commented on #1158
Re 1) - is just English enough or should I translate messages to other languages too?

[2015-06-01 21:00] romani commented on #1158
Only english (root locale)

[2015-06-01 23:41] romani commented on #1019
http://checkstyle.sourceforge.net/config_blocks.html#RightCurly
http://checkstyle.sourceforge.net/property_types.html#rcurly

You proposal is reasonable for methods, but not ok for CATCH , FINALLY, ... - multi block statements.
And not on for multi statements single line block, example:
[code]

So we could do new option at http://checkstyle.sourceforge.net/property_types.html#rcurly as "alone_or_s

[2015-06-01 23:49] romani commented on #1110
Looks like it is already implemented https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/sevntu-checks/src/main/java/com/github/sevntu/checkstyle/checks/naming/EnumValueNameCheck.java

But, we are in moratorium period for new Checks, I remember that smth was not clear in that Check - https://groups.google.com/forum/#!searchin/sevntu-checkstyle/pavel/sevntu-checkstyle/c6FvyjXFcHM/cWs

[2015-06-02 05:58] romani commented on #1058
@mkordas , you proposal is not very good, as by configuration, that you provided, it is looks like two configured Check instances will conflict with each other: first will require space at all parentheses, second will demand no space at CTOR_CALL,METHOD_CALL,SUPER_CTOR_CALL but parentheses are indispensable part of that tokens so conflict will happen.

User should look at configuration and options

[2015-06-02 14:08] romani commented on #1152
merged.

[2015-06-02 14:08] #1152 closed

[2015-06-02 15:27] msteiger opened #1165 "New Check: non-ASCII characters in source files"
Some tools are not able to deal with non-ASCII files properly or recognize the encoding. For example not specifying the correct encoding in `javac` can cause problems.

I think that it is rarely useful or even necessary to use these characters in source code files. An exception to that rule could be (javadoc) comments in a different language than English.

Thus, I suggest adding a check for ASCII

[2015-06-02 15:36] romani commented on #1165
Can our Regexp Check help you to do that ?

We are at moratorium period for new Checks for now, all new Checks should go to sandbox/experimental project sevntu.checkstyle .

[2015-06-02 15:45] mkordas commented on #1106
Shouldn't we enable users to provide ignoredNames also as regexp?

[2015-06-02 17:25] dhendriks commented on #1019
@romani I hadn't thought about multiple statements in a block, but I agree in that case you don't want it on a single line. Your proposal makes sense to me. As far as I can see now, it would be a good solution.

[2015-06-02 18:24] jhaber commented on #281
+1

[2015-06-02 18:25] romani commented on #1106
@mkordas , yes that is good idea.

[2015-06-02 18:33] krichter722 opened #1166 "Add an option to specify legal pattern for RegexpSinglelineJava"
Negating regex pattern in java is painful and the absence of an easy way to do that is definitely a large design error in the `java.util.regex` package. Therefore it'd be nice to be able to specify a legal pattern instead of an illegal pattern to `RegexpSinglelineJava` in order to overcome this java shortcoming easily.

[2015-06-02 20:25] romani commented on #1166
what behavior you expect if illegalPatern state FALSE and legalPattern state TRUE (both patterns are specified) ?

[2015-06-02 20:52] krichter722 commented on #1166
They should be exclusive.

[2015-06-03 06:03] amelnikoff commented on #281
+1

[2015-06-03 06:15] romani commented on #1166
please provide examples (not one example) of "legal" usage , I still do not see a real useful use-case for that.

[2015-06-03 15:10] romani commented on #1148
Merged

[2015-06-03 15:10] #1148 closed

[2015-06-03 16:10] ubuntudroid commented on #1058
Sounds exactly like what we need. :) Can't comment on the code changes
though as I don't know anything about the implementation.

Roman Ivanov <notifications@github.com> schrieb am Di., 2. Juni 2015 07:58:

[2015-06-03 22:30] basil commented on #281
+1

[2015-06-04 01:26] romani commented on #962
merged

[2015-06-04 01:26] #962 closed

[2015-06-04 01:32] romani commented on #1159
original problem was at line 142, from original issue
[code]

@mkordas , What is a problem in line 42 ?

[2015-06-04 04:31] romani opened #1167 "Investigate incorrect cobertura code coverage"
Assigned: @MEZk

cobertura show non covered lines of code at ExecutableStatementCountCheck that definitely executed during UTs.
We need to open issue against cobertura about this.
We need to try substitute cobertura maven plugin with jacoco maven plugin

[2015-06-04 06:08] romani commented on #1159
should be removed as it is used only in UTs.

should be moved to the top of Class, below c-tor

are the same form method that try one creation and the another, we need to create method createObjectWithIgnoringProblems(String name, Set<String> secondAttempt) that will do
it will be used as
createObjectWithIgnoringProblems(name, Set.of(name + "Check"))
createObjectWithIgnoringProblems(name, getAllPo

[2015-06-04 16:05] mkordas commented on #1058
@romani, I really like your proposition. It should not be that hard to implement and will make this check really configurable (right now it isn't at all).

[2015-06-04 16:41] romani commented on #1162
merged.

[2015-06-04 16:41] #1162 closed

[2015-06-04 16:56] romani commented on #1149
merged.

[2015-06-04 16:56] #1149 closed

[2015-06-04 16:58] romani commented on #1058
@mkordas , please close that issue and create new one with clear description (without any misleading design suggestion) and link will be used in Release Notes and users need clearly understand what happen.

[2015-06-04 18:57] mkordas commented on #1167
I don't have this problem locally:
![image](https://cloud.githubusercontent.com/assets/5467276/7991972/48f770a2-0afc-11e5-904f-1a77d474c714.png)

Have you tried executing `clean cobertura:cobertura`?

[2015-06-04 19:56] romani commented on #1167
sorry , that was my mistake, I just tried to move private email conversation be public.

problem is at MethodCountCheck . that is the only exclusion left after task for whole package coverage is fixed - https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L854

[2015-06-04 19:56] mkordas opened #1170 "Move Regexp check from miscellaneous to regexp category"
`RegexpCheck` needs to be moved from `com.puppycrawl.tools.checkstyle.checks` to `com.puppycrawl.tools.checkstyle.checks.regexp`.

Documentation needs to be moved from [config_misc.html#Regexp](http://checkstyle.sourceforge.net/config_misc.html#Regexp) to [config_regexp.htm](http://checkstyle.sourceforge.net/config_regexp.htm).

[2015-06-04 20:24] MEZk commented on #1167
@mkordas
cobertura reports 28% line coverage and 31% branch coverage on MethodCountCheck, whereas eclemma plugin for Eclipse and JaCoCo plugin for IDEA report 100% coverage. I've already tried to invoke setters directly in UT but results remain the same. I'm working on this.

[2015-06-04 20:36] mkordas commented on #1167
@MEZk I have the solution already. It's bug in Cobertura. Workaround - instead of:
[code]
it's enough to extract equality check to variable:
[code]
I'll raise PR soon.

[2015-06-04 21:02] MEZk commented on #1167
@romani
Can we exclude if statement? It is the last line that is reported uncovered by cobertura due to conditional coverage 50%.

[code]

 We have already checked all acceptable tokens ( TokenTypes.CLASS_DEF, ENUM_CONSTANT_DEF, ENUM_DEF,  INTERFACE_DEF) for current check except METHOD_DEF in if statement

[code]

[2015-06-04 21:12] romani commented on #1167
@MEZk
yes, but testing on all projects with comparison of validation will be required, you already have bad experience of removing code that looks like dead :) .

@mkordas , please explain changes in UTs, am not expecting that, especially in extra "s" symbol.

[2015-06-04 21:21] mkordas commented on #1167
@romani, I've commited too much by mistake, should be fixed now.
04-06-2015 23:12 użytkownik "Roman Ivanov" <notifications@github.com>
napisał:

[2015-06-04 21:23] mkordas commented on #1167
@romani, I've commited too much by mistake, should be fixed now.

[2015-06-04 21:28] romani commented on #1167
I merged changes of mkordas, but I doubt that it will resolve problem with cobertura completely, and we will not be able to do workaround always. Jacoco is way better.

[2015-06-04 23:24] romani commented on #1021
you need to define third-party group pattern:
[code]
but that will not completely resolve your conflict with Eclipse, as Checkstyle sort alphabetically in a group so expected order is "com ...  js ...  org".

You need to update Eclipse settings to reconcile two tools, see at attaches picture:
![screenshot-eclipse-import-order](https://cloud.githubusercontent.com/assets/812984/7996495/a1e9ed92-0ad5

[2015-06-04 23:24] #1021 closed

[2015-06-04 23:50] MEZk commented on #1167
@romani
https://github.com/checkstyle/checkstyle/pull/1172

[2015-06-05 00:02] romani opened #1173 "Investigate Jacoco maven plugin for test coverage"
Base on #1167 , we can not always do workarounds and play with cobertura to make it happy.

Assignee: @MEZk

Investigate:
0) open github issue against cobertura (it could be done base on workaround at #1167)
1) convert cobertura config to jacoco at pom.xml
2) recheck how convenient HTML report of jacoco maven plugin

[2015-06-05 00:02] #1167 closed

[2015-06-05 00:15] romani commented on #1167
I resolved cobertura problems on may local by appending "clean" to "compile", full command:
```mvn clean compile cobertura:cobertura```

[2015-06-05 14:49] romani commented on #61
from private conversation with KTannenberg :

Making class and all its members final closely resembles Case classes from Scala (but with inheritance being disabled).

However if you make such classes non-final and thus allow inheritance from them (while still designing class as immutable), you can end up in situation where you have child class with mutable behaviour. There are couple of problems I

[2015-06-05 15:11] bananetomate opened #1174 "Indentation check: line wrapping doesn't have expected comportment on anonymous classes"
On version 6.7.

**Test configuration file**
[code]

** And the following test class (which doesn't really compile but...) **
[code]

** Gives the following result **
[code]

I think checkstyle should not treat a method in an anonymous class as a continuity of a previous statement (line wrapping: 8) but as new statement (4).

[2015-06-05 17:16] mkordas opened #1178 "Remove unused MethodCallLineWrapHandler"
Is file [MethodCallLineWrapHandler.java](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/MethodCallLineWrapHandler.java) needed for anything or used anywhere?
If not, it can be safely removed.

[2015-06-05 17:20] romani commented on #1178
remove and launch UTs and google-test project (as it was created for Google's updates), if no problem - remove.

[2015-06-05 20:38] romani opened #1180 "Incorrect config file cause CLI finish with error but no output with details"
Incorrect config file cause problems and no output
[code]

Workaround: use 6.6

[2015-06-05 20:41] romani opened #1181 "defining output file cause CLI to fail as it could not find output file"
[code]

file has to be created, CLI should not expect it to exists

Workaround: use 6.6

[2015-06-05 22:45] mkordas commented on #1108
When migrating Checkstyle Ant Task from Checkstyle 6.7 or older to Checkstyle 6.8, resource name in taskdef needs to be changed from `resource="checkstyletask.properties"` to `resource="checkstyle_ant_task.properties"`.

[2015-06-05 23:01] mkordas commented on #1178
google-test-project works correctly if this class is removed

[2015-06-06 02:01] romani commented on #1178
merged.

[2015-06-06 02:01] #1178 closed

[2015-06-06 09:51] Bhavik3 commented on #1181
hi,
I have solved this issue in my local repository. But I have a small problem that system exit status is here '1'. I think it should be '0'.  Can you have a look on it.

https://github.com/Bhavik3/checkstyle/commit/9c8dd2106b5d58e40f6cd9547dd4ecdcb4f8472d

Thanks,
@romani

[2015-06-06 14:23] Vladlis opened #1184 "custom javadoc inline tags cause parse error"
Custom javadoc inline tags like {@customTag} cause unrecognized parse error
[code]
Although, this must be a valid tag, according to this
https://docs.oracle.com/javase/7/docs/technotes/tools/windows/javadoc.html#spellcheckingtagnames

[2015-06-06 21:10] phudekar commented on #281
+1

[2015-06-06 21:12] mkordas commented on #1165
RegexpSinglelineJava does that easily, please see #1186. The question is if we want to wrap it to separate check or just extend documentation for Regexp check with 'suggested' patterns?

[2015-06-06 22:37] mkordas opened #1187 "Do not generate violation in SuppressWarningsHolder for empty SuppressWarnings"
Follow-up to #1158.

SuppressWarningsHolder generate violation in SuppressWarningsHolder for empty SuppressWarnings. As agreed, there is no point in raising such warning.

`SuppressWarnings` annotation cannot be empty. This is illegal code:
[code]

I wonder why FindBugs has such non-compilable test case: https://code.google.com/p/findbugs/source/browse/findbugsTestCases/src/java/VolatileUsage2.jav

[2015-06-06 22:41] mkordas commented on #1057
@romani, I think this issue can be closed.

[2015-06-06 22:48] romani commented on #1142
On 6.7 I had no problem with line number but issue in confirmed. Output from 6.7:
[code]

Expected: same violation but for variable at line 2.

[2015-06-06 22:50] #1057 closed

[2015-06-06 22:53] mkordas commented on #961
@romani, what do we want to use instead of `RuntimeException`? Is private exception with descriptive name what went wrong good approach for you? Or we should create package with exceptions to choose from?
It's also possible to create `RuntimeCheckstyleException`, but I don't think it is good idea.

[2015-06-06 23:25] romani commented on #1184
you can provide stackstace from UT only if you share that UTs or point to it. As you can not do that so please provide output from CLI - http://checkstyle.sourceforge.net/cmdline.html . Example - https://github.com/checkstyle/checkstyle/issues/1180

[2015-06-06 23:52] romani commented on #1187
It is just smth different: ```import edu.umd.cs.findbugs.annotations.SuppressWarnings;```

[2015-06-07 00:23] romani commented on #961
@mkordas ,

That is very controversial question. As demand for more specific type of Exception is clear , especially when we have a lot of exception types in our disposal (http://docs.oracle.com/javase/7/docs/api/java/lang/RuntimeException.html?is-external=true) even in standard JDK. But some time where is no need to be specific and exception is signal to stop processing. Details in message is goo

[2015-06-07 01:47] romani commented on #1165
I doubt that all of us will benefit with special Check for that, http://checkstyle.sourceforge.net/config_regexp.html#RegexpSingleline check  (not only RegexpSinglelineJava) will do that .

[2015-06-07 01:47] #1165 closed

[2015-06-07 02:11] romani commented on #1170
@mkordas

that move from one package to another looks like will not be compatibility braking :) because http://checkstyle.sourceforge.net/config.html#Packages
That mean we could use "unstable" package for all new Checks instead of separate project so I was wrong rejecting idea to keep all new Checks in special package.

So the only benefit from experimental project we have is to release Check and

[2015-06-07 02:11] #1170 closed

[2015-06-07 02:19] romani commented on #1170
we have to reference that change as bracking compatibility

example of Sonar config (full name is used):
[code]

So it mean that any other static analysis aggregations could have problems potentially.

[2015-06-07 02:29] romani commented on #1181
@ Bhavik3 ,

because 'result' is list of Errors.
All you need is just remove check "if (!file.exists()) { .... " it was done by mistake, it is required only for configuration files that have to exists.

1) Please create following, separate, UTs:
-  with output to nonexisting file (no errors is expected)
- with output to existing file (no errors is expected)
- with output to folder with no RW permi

[2015-06-07 03:56] romani commented on #1166
@krichter722 ,

please provide requested information and examples.
If now information provided in 2 weeks , I will close issue as incomplete.

[2015-06-07 07:47] Bhavik3 commented on #1181
@romani ,
UTs:
with output to nonexisting file (no errors is expected):   DONE
with output to existing file (no errors is expected):         DONE
with output to folder with no RW permissions:
I am changing permission according to this API:
http://www.mkyong.com/java/how-to-set-the-file-permission-in-java/
but, this thing is not working. I don't know why

[2015-06-07 16:08] romani commented on #1181
merged.

[2015-06-07 16:08] #1181 closed

[2015-06-07 18:16] mkordas commented on #1108
Checkstyle Ant Task migration while updating to Checkstyle 6.8:
* replace all occurrences of `checkstyletask.properties` with `com/puppycrawl/tools/checkstyle/ant/checkstyle-ant-task.properties`
* replace all occurrences of `antlib:com.puppycrawl.tools.checkstyle` with `antlib:com.puppycrawl.tools.checkstyle.ant`

[2015-06-07 18:26] mkordas opened #1189 "Add possibility to configure targets for ParenPad check"
Follow-up to #1058.

Right now it is not possible to control where ParenPad check should be applied, because LPAREN and RPAREN tokens are part of multiple constructs and there is no finer-grained control over them.

Proposed solution:
* remove from target LPAREN and RPAREN - user needs to configure only exact targets of interests like CTOR_CALL, METHOD_CALL, SUPER_CTOR_CALL, ANNOTATION, LITERAL_IF

[2015-06-07 18:26] mkordas commented on #1058
Let's continue in #1189.

[2015-06-07 18:26] #1058 closed

[2015-06-07 18:48] mkordas commented on #1187
Apparently I was blind :) Looks like this null-check is needed then, but I'll remove logging warning anyway.

[2015-06-07 19:59] romani commented on #1187
oh yes, even I missed that.

checkstyle is not type aware so, we have to be aware that user could have its own implementation with similar name.  Any attempts to make a decision base on class implementation or methods signature is error prone.

[2015-06-07 20:01] romani commented on #1187
merged.

[2015-06-07 20:01] #1187 closed

[2015-06-08 02:49] romani commented on #863
merged.

[2015-06-08 02:49] #863 closed

[2015-06-08 03:15] romani commented on #863
https://github.com/checkstyle/google-style-config-test will be removed in a week

[2015-06-08 03:18] romani commented on #863
new location https://github.com/checkstyle/checkstyle/tree/master/src/it

[2015-06-08 12:18] rmueller83 opened #1192 "ClassNotFoundException when using inherited exception"
JavadocMethodCheck is used.

I have a custom exception class which extends NestableRuntimeException from commons-lang 2.6:

`public class ApplicationException extends NestableRuntimeException { ... }`

The custom exception and the code calling it are in my own jar file, while the NestableRuntimeException is in a Maven dependency. When I run checkstyle via maven-checkstyle-plugin, this always resul

[2015-06-08 14:14] meowy commented on #281
+1

[2015-06-08 18:43] romani commented on #1180
merged.

[2015-06-08 18:43] #1180 closed

[2015-06-08 20:24] Vladlis commented on #1184
@romani
fixed

[2015-06-10 14:55] romani commented on #1192
all functionality base on loading class from classpath is deprecated now (due to a lot of bugs and no reliable way to do that for now) please try to use option `suppressLoadErrors` with `false` , http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod .

Let me know if that does not help.

[2015-06-10 16:30] Bhavik3 commented on #1062
Solution:
Found CLI violation >> exit(-1)

Found other error (but not CLI violations) >> exit(-2)

Found Audit violations >> exit(0)

Found Audit errors >> exit(numOfErrors)

Is this fine?

[2015-06-10 18:45] romani commented on #1062
looks like typo

should be "Found NO Audit violations >> exit(0)"

the rest is fine,please proceed with implementation and UTs for that.

[2015-06-10 21:51] ivanov-alex opened #1200 "Some integtration tests fail during "mvn verify""
Below is output of "maven-failsafe-plugin":
[code]

[2015-06-11 00:31] romani commented on #1200
I finally reproduced that on one of my boxes.

[2015-06-11 02:03] rs23 commented on #1062
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Hi,

Same comment, exit(0) should signal no problems.

- --RS

Roman Ivanov wrote, On 2015-06-10 20:45:

- --
Reinhard Schiedermeier - Fakultät für Informatik und Mathematik
Hochschule München / Munich University of Applied Sciences
http://sol.cs.hm.edu/rs -- PGP encrypted mail preferred
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1
Comment: Using G

[2015-06-11 04:55] romani opened #1201 "SuppressWarningsCheck fails with exception on its own input file InputSuppressWarningsHolder.java"
Attempt to launch Checkstyle over its own sources (all sources , not only production code ) cause strange Exception "java.lang.IllegalStateException: Should never get here, type: 125 text: +"

my logs ( /home/rivanov/java/git-others/checkstyle/checkstyle is clone of master from github):
[code]

[2015-06-11 04:56] romani commented on #1201
@mkordas , can you please take a look, you updated that Check and input several days ago.

[2015-06-11 07:44] rmueller83 commented on #1192
I think you mean to set `suppressLoadErrors`to `true`, since `false` is the default value. Anyway, this did not help as this setting only seems to suppress the logging call in https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/AbstractTypeAwareCheck.java#L253 but this line is not yet reached as the exception already occurs 2 lines earlier at h

[2015-06-11 14:26] romani commented on #1192
thanks, if you already see how to fix that please be welcome with PR.

[2015-06-11 15:19] rmueller83 commented on #1192
I think it should be sufficient to catch the NoClassDefFoundError in either the isLoadable method of ClassResolver or the resolveClass method of AbstractTypeAwareCheck.
The whole issue confuses me as the error only occurs when I configure checkstyle as a reporting plugin in the root pom.xml, making it run as part of the maven-site-plugin. If I directly run `mvn checkstyle:checkstyle`, there is no

[2015-06-11 15:46] romani commented on #1192
That is classpath managmend that checkstyle-maven-plugin provide. Please report additional issue to that project.

[2015-06-11 19:40] Vladlis commented on #1200
+
I get the same output, not counting problems with NewLineAtEndOfFileTest and cobertura coverage

[2015-06-11 20:09] romani commented on #1200
that issue should be fixed.

[2015-06-11 20:09] #1200 closed

[2015-06-12 05:13] romani commented on #954
Rule CyclomaticComplexity should be used level is 11.

Following code has to be refactored:
com.puppycrawl.tools.checkstyle.Main:139 Rule:CyclomaticComplexity 'validateCli' 12..
com.puppycrawl.tools.checkstyle.checks.ClassResolver:65 Rule:CyclomaticComplexity 'resolve' 13..
com.puppycrawl.tools.checkstyle.checks.DeclarationCollector:97 Rule:CyclomaticComplexity 'collectDeclarations' 12..
com.puppy

[2015-06-12 17:05] tsjensen opened #1205 "Backward compatibility broken by rename of FileContents.getFilename() to getFileName()"
[This recent commit](https://github.com/checkstyle/checkstyle/commit/7dd24c8c35572b5db3e5c905d440e813cfe2538c) causes problems with custom checks compiled against earlier versions of Checkstyle, because the method `getFilename()` in class FileContents has been renamed to `getFileName()`. The effects are simliar to issue #505 because custom checks stop working unless they are recompiled against the

[2015-06-12 17:51] romani commented on #1205
do you want me to return it as Deprecated ? please do PR.

FYI: we will keep that deprecated method for few releases , but it will not stay in code for long time.
Please expect some small braking changes each release. API package will get serious update this year.

[2015-06-12 17:53] romani commented on #1205
please open issue against them to update a version, it is not a big deal for them.

[2015-06-12 18:30] tsjensen commented on #1205
OK - I opened PR #1206

Please keep the deprecated methods for some amount of *time* rather than for a number of releases. A period of one year would give everyone (especially SonarQube) enough time to react, I would suggest.

[2015-06-12 22:42] romani commented on #1205
merged. Thanks a lot!

[2015-06-12 22:42] #1205 closed

[2015-06-13 17:36] romani commented on #1063
merged.

[2015-06-13 17:36] #1063 closed

[2015-06-13 17:46] romani commented on #1192
@Vladlis , please help us with that issue.

[2015-06-13 17:48] romani commented on #1189
@Vladlis , please help us with this issue.

[2015-06-13 17:56] romani commented on #1108
merged.

[2015-06-13 17:56] #1108 closed

[2015-06-13 22:32] romani opened #1208 "use favicon images at web site"
Two images:
images/favicon.ico
images/favicon.png

Apply to all pages.

[2015-06-13 22:33] #1208 closed

[2015-06-13 23:13] romani commented on #637
merged.

[2015-06-13 23:13] #637 closed

[2015-06-14 15:52] ivanov-alex opened #1209 "StringIndexOutOfBoundsException in AvoidStaticImport check trying to exclude inner class"
Checkstyle throws exception
[code]
when running
`java -jar checkstyle-6.7-all.jar -c ./check_static_import.xml StaticImportExample.java`
on following files:
check_static_import.xml:
[code]
StaticImportExample.java:
[code]
StaticExample.java:
[code]

[2015-06-14 16:38] romani commented on #1062
merged.

[2015-06-14 16:38] #1062 closed

[2015-06-15 05:31] romani commented on #1209
merged.

[2015-06-15 05:31] #1209 closed

[2015-06-15 19:30] romani commented on #1201
on completion commit https://github.com/checkstyle/contribution/commit/8bfde0caa0bc526b83e6d4950c06f9e58002012f should be reverted

[2015-06-15 20:03] mkordas commented on #1201
@romani, I've just added new input file that intentionally has some crazy `@SuppressWarnings` annotations.

The issue is that the SuppressWarnings check doesn't know that `@SuppressWarnings("un" + "used")` is equivalent to `@SuppressWarnings("unused")`. Should it calculate it?

Even if you say yes, what about cases like `@SuppressWarnings({('u' + 'n') + ((""+((("used" + ""))))) + "",})`, which is

[2015-06-15 21:36] romani commented on #1201
lets not support that, please put that as LIMITATION to do if you with.

yes, please remove "throw", add a comment to code with example (as it is not obvious at all) and UT that will use that "default" and will not failing.

[2015-06-16 01:41] romani opened #1214 "Update all Checks html docs with link to hosted configurations"
Create new chapter "Example of usage" in each Check. There will be links to all configs that we host (google, checkstyle, sun). Links should be named as: "Google style", "Sun style", "Checkstyle style"
That will help users understand how yo use Check.

[2015-06-16 19:51] romani commented on #1129
@mkordas , are you ok if I assign that issue to @MEZk ?

[2015-06-16 20:10] mkordas commented on #1129
Sure - there's not much left to be done anyway.

[2015-06-16 20:53] romani opened #1217 "Use forbiddenapis static code analizer as maven plugin"
https://github.com/policeman-tools/forbidden-apis

New plugin to build phase:
[code]
Result is
[code]

FYI:
https://github.com/policeman-tools/forbidden-apis/wiki/BundledSignatures , jdk-system-out  can not be used as it give false-positives in Main class that has to use system out.

[2015-06-16 21:16] uschindler commented on #1217
See the documentation, you can use an annotation to exclude Cli classes. I commented on issue https://github.com/policeman-tools/forbidden-apis/issues/56

[2015-06-17 00:59] romani commented on #1217
after conversation with author of library:
 http://jenkins.thetaphi.de/job/Forbidden-APIs/javadoc/check-mojo.html#excludes could be used to let us use  jdk-system-out too.

[2015-06-17 09:13] MEZk commented on #1173
There is a problem with JaCoCo  maven plugin configuration when I'm trying to  specify finer-grained thresholds for certain classes.

When we use Cobertura maven plugin we can specify finer-grained thresholds for certain classes using regular expressions.

For example:

[code]

In accordance with JaCoCo maven plugin [documentation for ```jacoco:check```](http://www.eclemma.org/jacoco/trunk/doc/che

[2015-06-17 19:24] Godin commented on #1173
@MEZk note that you don't need to write rule explicitely for each class - usage of wildcard characters (* and ?) is allowed in includes/excludes

[2015-06-17 19:25] Godin commented on #1173
and answering on jacoco/jacoco#326 - specify "element" as child node instead of attribute

[2015-06-17 19:32] Godin commented on #1173
Also if you have particular requirements for checks and can specify them, or if there is already experimental branch, then speaking as one of JaCoCo developers, I'll be happy to help with configuration to get JaCoCo adopted in such a great project as checkstyle. So don't hesitate to ask.

[2015-06-17 21:32] MEZk commented on #1173
@Godin thank you very much. I use your changes in my [sample project] (https://github.com/MEZk/JaCoCoTest) and it works fine.

@romani The problem with ```<include>``` tag within ```rule``` was resolved. I continue to convert cobertura config to jacoco at pom.xml for whole project.

[2015-06-18 02:13] #954 closed

[2015-06-18 06:23] romani commented on #953
all items are resolved, 2 were suppressed.

[2015-06-18 06:23] #953 closed

[2015-06-18 06:28] romani opened #1218 "NPathComplexity: extend documentation to make clear how it works"
http://checkstyle.sourceforge.net/config_metrics.html#NPathComplexity

just make it clear and easy to read for people that first time see that metric.

[2015-06-18 09:16] Bhavik3 commented on #983
@mkordas
@romani
Hey,
I have changed name of these four classes. Have a look. Here is the commit:
https://github.com/Bhavik3/checkstyle/commit/549c514bd26ab4745822b20cfeea80cdbefda458

But, I think we should exclude renaming Check.java

[2015-06-18 13:54] vorburger commented on #48
I've also just hit this, clearly something wrong in that code: Using CS v6.1.1 which is still the default in maven-checkstyle-plugin:2.15, with a project that I can't easily share, but basically I was scanning A LOT (14746) of *.xml files with RegexpMultiline for "\r\n" for https://github.com/checkstyle/checkstyle/issues/893, which would have led to a lot of errors. But then using the regexp "(?s:

[2015-06-18 16:04] romani commented on #983
-import com.puppycrawl.tools.checkstyle.api.Check;
+import com.puppycrawl.tools.checkstyle.api.AbstractCheck;

yes, please revert changes for Check and put a suppression to checkstyle configuration.
We can not brake compatibility with previous versions that hard.

[2015-06-18 16:53] romani commented on #48
We restored backward compatibility in 6.2 ,http://checkstyle.sourceforge.net/releasenotes.html#Release_6.2 , please update your maven plugin configuration to use latest checkstyle 6.7 .

Please let me know if that still failing.

You can share with us a part(even obfuscated) of file that cause a problem. You try to repproduce a problem by our cli - http://checkstyle.sourceforge.net/cmdline.html#Do

[2015-06-18 19:39] vorburger opened #1221 "StackOverflow at java.util.regex.*"
java.util.regex.Matcher apparently has known issues which cause will cause StackOverflow for certain RegExps on certain input (Google it, there are various blog posts, JDK bug reports which are closed or non-action-ed).

This "fact of live" (the JDK is not going to fix this) can cause Checkstyle to abruptly stop unexpectedly - without any indication as to which input file made it choke for what re

[2015-06-18 19:54] vorburger commented on #1221
Just FTR and for future web searching, here is how this problem actually exactly looks:

[code]

[2015-06-18 19:54] vorburger commented on #1221
https://github.com/checkstyle/checkstyle/pull/1222

[2015-06-18 20:06] vorburger opened #1224 "NullPointerException at java.util.regex.Pattern from com.puppycrawl.tools.checkstyle.checks.regexp.DetectorOptions.getPattern"
I've hit the NPE below, funnily enough when using the Eclipse Checkstyle Plugin (v6.5.0 installed from http://eclipse-cs.sf.net/update today) on checkstyle's own code (this repository, not the Eclipse plug-in), and activating it's very own https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml !! ;-)

This NPE error clearly has nothing much to do with the Eclipse Plugin

[2015-06-18 20:11] vorburger commented on #1224
This or a very similar error has also been raised elsewhere before, e.g. on http://sourceforge.net/p/eclipse-cs/bugs/312/, http://sonarqube.15.x6.nabble.com/NPE-from-Checkstyle-td5028077.html or http://marc.info/?l=sonar-user&m=134572101424647

[2015-06-18 20:24] vorburger commented on #48
@romani actually I've confused this StackOverflow (which I have also hit today, but cannot reproduce anymore now.. BTW is there a good reason why findMatch() is recursive?) with another StackOverflow problem, see https://github.com/checkstyle/checkstyle/issues/1221. However I'm proposing a fix for this one as well in https://github.com/checkstyle/checkstyle/pull/1225 because I'm on fire tonight -

[2015-06-18 20:40] vorburger commented on #1224
see PR https://github.com/checkstyle/checkstyle/pull/1226

[2015-06-18 21:21] vorburger commented on #893
+1 @andrewgaul et al IMHO this is most certainly a good idea and would be great to have built-in! Note "(?s:\r\n.*)" is better because it will only match the first wrong newline, so less spammy logs (and perhaps even faster?). See also my blurb (blog post) about this on http://blog2.vorburger.ch/2015/06/eol.html.

[2015-06-18 21:41] romani commented on #983
merged, Thanks a lot for fix !

[2015-06-18 21:41] #983 closed

[2015-06-18 21:43] romani commented on #1142
merged.

[2015-06-18 21:43] #1142 closed

[2015-06-19 05:36] Bhavik3 commented on #997
@romani
I think we should exclude this. Because if I make empty method as abstract in abstract class, we need to add empty method in every class extending that abstract class. and there are many classes like that. So, It  is not appropriate to add empty method everywhere (instead It is good to add empty method in abstract class only for now).

[2015-06-20 09:23] Bhavik3 commented on #995
I will work on it.

[2015-06-21 05:11] romani commented on #997
com.puppycrawl.tools.checkstyle.api.AbstractFileSetCheck could be excluded - I am not ready to change API for now.

..... I still reviewing other cases....

[2015-06-21 17:02] romani opened #1231 "Fix empty html page for extending Checkstyle"
Page https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/extending.xml is empty but it should as minimum give links too all its child pages http://checkstyle.sourceforge.net/extending.html

[2015-06-21 18:14] Bhavik3 commented on #997
com.puppycrawl.tools.checkstyle.checks.AbstractTypeAwareCheck
it is fixable. no need to suppressed

[2015-06-21 19:34] Vladlis commented on #1231
http://checkstyle.sourceforge.net/style_configs.html is also empty

[2015-06-23 00:16] romani commented on #1231
merged.

[2015-06-23 00:16] #1231 closed

[2015-06-23 00:20] romani commented on #997
ok, if that easier - please do.

[2015-06-23 05:03] Bhavik3 commented on #997
@romani
I have made very basic solution. Have a look and review.
https://github.com/Bhavik3/checkstyle/commit/b591f46076cc560c4cbe769b0ba270e0d174cdd9

[2015-06-23 05:26] romani commented on #997
looks kind of ok , except for changes "AbstractTypeAwareCheck.java" , not sure why code is removed.
I expect changes only in methods removal and addition.

[2015-06-23 05:54] Bhavik3 commented on #997
@romani
That method is not used anywhere. I can understand that it is API and may be used in future. So if you want I can make it as like other methods. (make it abstract and define empty method in child class with reason in comment.)

[2015-06-23 14:23] romani commented on #1015
merged.

[2015-06-23 14:23] #1015 closed

[2015-06-23 14:42] romani commented on #997
AbstractTypeAwareCheck is deprecated and will be removed somewhere at the end of the year. I am ok with any update for it, suppression is also ok.

[2015-06-23 15:09] Bhavik3 commented on #997
@romani
Ok fine then, Review the PR.

[2015-06-23 17:41] guillaumecle opened #1237 "OneStatementPerLine on multiple field initialization"
I don't understand the behavior of OneStatementPerLine on multiple field initialization.
[code]
Is it the expected behavior?

[2015-06-23 19:58] romani commented on #1237
thanks for bug :) report.

[2015-06-23 20:30] guillaumecle commented on #1237
What is exactly the expected behavior?

[code]

Is this legal? In a way it's only one statement per 'file line'.

[2015-06-23 20:39] romani commented on #1237
aField = 0,
    anotherField = 0;

that code should not raise violation.

FYI: http://checkstyle.sourceforge.net/config_coding.html#MultipleVariableDeclarations should raise there violation (
http://www.oracle.com/technetwork/java/javase/documentation/codeconventions-141270.html )
, but is different Check and could be missed in your config.

[2015-06-23 21:43] romani opened #1238 "update list of related Tools"
http://checkstyle.sourceforge.net/#Related_Tools

make two tables:
1) Active tools
2) Inactive/old tools

All proejcts that are below 5.0 release (http://checkstyle.sourceforge.net/releasenotes.html#Release_5.0), should be considered as old and inactive for sure.

All project that use 6.X version should be sorted to the top.

[2015-06-24 00:06] romani commented on #1192
very strange issue as due to javadoc - only ClassNotFoundException is expected.
https://docs.oracle.com/javase/7/docs/api/java/lang/ClassNotFoundException.html
http://docs.oracle.com/javase/7/docs/api/java/lang/NoClassDefFoundError.html

We can not create a test for that as we receive only ClassNotFoundException, so we will do blind extending of code to catch NoClassDefFoundError.

[2015-06-24 00:07] romani commented on #1192
merged.

[2015-06-24 00:07] #1192 closed

[2015-06-24 00:13] romani commented on #1143
merged.

[2015-06-24 00:13] #1143 closed

[2015-06-24 00:16] romani commented on #1166
I am closing issue for now, if smb come-up with examples we will reopen it.

[2015-06-24 00:16] #1166 closed

[2015-06-24 00:18] romani commented on #1158
@mkordas , I reassigned that issue to @Vladlis to speedup fix.

[2015-06-24 00:24] romani commented on #751
in 1-2 weeks I will remove assignment from @pirat9600q , looks like connection is lost.

[2015-06-24 03:22] romani commented on #48
no reason, just somebody contributed that code a while ago. I am open to better implementation.

[2015-06-24 03:59] romani commented on #1224
1)

make it "regexp.empty"

2)

strange, we test our config on each commit by Travis, but that only mean that problem is interesting but not obvious.

3)

Eclipse-CS have problems with options recognition, metadata files have to be updated to reflect actual Check options. That is not automated process, work is manual and boring, that is why owner of Eclispe-cs always behind our library. But you ca

[2015-06-24 04:05] romani commented on #1224
related issue - #1129

[2015-06-24 04:21] romani commented on #997
merged.

[2015-06-24 04:21] #997 closed

[2015-06-24 05:46] #995 closed

[2015-06-24 05:46] romani commented on #995
merged.

[2015-06-24 17:36] ddossot opened #1239 "Ordering issue with nested classes in static imports"
Using CheckStyle `6.7`.

I'm trying to find a configuration of the `ImportOrder` rule that matches Eclipse's default import ordering rules. I'm currently using:

        <module name="ImportOrder">
            <property name="option" value="top" />
            <property name="groups" value="io,/^javax?\./,net,org,com" />
            <property name="ordered" value="true" />
            <property na

[2015-06-25 01:04] romani commented on #1218
merged.

[2015-06-25 01:04] #1218 closed

[2015-06-25 02:16] romani commented on #8
Nobody is interested. Issue if not required

[2015-06-25 02:16] #8 closed

[2015-06-25 03:36] romani commented on #1239
please make caseSensitive=false, see example below:
[code]

[2015-06-25 04:10] romani commented on #1239
html doc was extended to make it clear.

[2015-06-25 04:43] romani opened #1241 "add Content section to config.xml and writinglisteners.xml.vm"
commit: 07d4e016716671b0a5994305cb4a980dd8d5589b

Blocked by: https://issues.apache.org/jira/browse/MSITE-748
##

https://checkstyle.org/writinglisteners.html

[2015-06-25 13:50] WonderCsabo opened #1242 "RedundantModifier for inner classes and enum constructors"
`RedundantModifier` should also check:

* modifier of enum constructor (implicitly **private**)
* modifier of inner type of interface (implicitly **static**)
[code]

[2015-06-25 14:02] romani commented on #1242
Please provide code examples to make this issue clear for future contributor.

[2015-06-25 14:05] WonderCsabo commented on #1242
@romani you are right, i added code examples.

[2015-06-25 14:19] WonderCsabo commented on #281
@romani i am wondering, is it easily possible to skip checking the indentation of lambdas only? That way CS would still allow bad lambda indentation, but most of the code base would been checked. I think it is better then to disable the complete check, until this is resolved (and it seems it is a very hard issue to solve).

[2015-06-25 14:36] romani commented on #281
yes, It would be ideal, by we lack of time/contributors to do that. That Check is the most complicated. Most of our contributors do fixes by small steps. Indentation Check can not be resolved by small steps. Testing is most discouraging phase (as always), but we can not allow regression.
We do not deprecate that Check, we just postponing big fight to do other bugs.

I already lost 2 very active co

[2015-06-25 14:40] WonderCsabo commented on #281
@romani as an OSS project maintainer, i understand your situation. :(

Is it possible to just turn off indentation check on lambdas as i proposed? If yes, how hard is that?

[2015-06-25 17:13] romani commented on #281
I do not remember :( , I only remember that we finished re-factoring to simplify that Check a bit (as it was make sense for Lambda support) and we improved UTs to let it test more reliably, after that smth went wrong  and final step was not done details - https://groups.google.com/forum/#!topic/checkstyle-devel/mKp9oRjzCDE

[2015-06-25 17:17] romani commented on #1189
merged.

[2015-06-25 17:17] #1189 closed

[2015-06-25 17:19] ddossot commented on #1239
Thanks for the question response.

If I switch `caseSensitive` to `false`, I receive tons of errors for non-static imports because ChekStyle wants:

    import com.google.inject.assistedinject.FactoryModuleBuilder;
    import com.google.inject.name.Names;
    import com.google.inject.Provides;
    import com.google.inject.Singleton;

but Eclipse actually does:

    import com.google.inject.Provide

[2015-06-25 17:38] WonderCsabo commented on #281
In that thread it is said the changes are pushed to a remote. Where exactly?

[2015-06-25 18:26] romani commented on #281
Some of them https://github.com/pirat9600q/checkstyle/branches , if you fail to find proper one, i will take a look at several hour.

[2015-06-25 18:32] WonderCsabo commented on #281
This commit  https://github.com/pirat9600q/checkstyle/commit/45a6cde9086d8c220c92cd72a2a88636ff3c79eb added the lambda handler. I really do not know the project. If we do not do anything in the handler `checkIndentation` method, that means the indentation considered correct? Or other things have to be done?

[2015-06-25 18:41] romani commented on #281
Ideally yes, but design of check is not that ideal. please try and launch UT.

[2015-06-25 18:51] WonderCsabo commented on #281
@romani i will the, but i can only find to work on this actually next week. And i do not have the skills to properly fix this, my intention is just to skip lambdas for now. :(

[2015-06-25 19:37] romani commented on #281
Only skip is a good step forward. I will try to review code on next week too. Till monday i completely occupied actives PRs and release 6.8 at weekend.

Lets move any further discussions to mail-list.

[2015-06-26 00:03] romani opened #1243 "Resolve all warnings from Eclipse 4.4.2"
please use Eclipse 4.4.2 , default validation settings, just import checkstyle as "existing project" (we keep Eclipse project files in repo).

resolve all warnings on our project, there are 90 warnings .

Reference: https://github.com/checkstyle/checkstyle/pull/1219#issuecomment-115119836

[2015-06-26 14:51] romani commented on #967
merged.

[2015-06-26 14:51] #967 closed

[2015-06-26 15:30] romani commented on #1024
merged.

[2015-06-26 15:30] #1024 closed

[2015-06-26 17:48] Bhavik3 commented on #1144
@romani
Here, Whenever exception happen, we can surround with try-catch block and throw CheckstyleException(message).
like,
[code]

[2015-06-26 23:55] romani commented on #1144
we need to resolve a design problem but not a put HACKs in our code to satisfy/cheat validation tools.

just wrapping by try-catch is not enough.

[2015-06-27 14:26] mkordas opened #1244 "Improve exception handling in Checker class"
Catching `Exception` is bad practice. The below code from com/puppycrawl/tools/checkstyle/Checker.java:174 needs to be improved:

[code]

Moreover, suppression from `pmd.xml` needs to be removed.

[2015-06-27 14:29] mkordas opened #1245 "Improve exception handling in CheckstyleAntTask class"
Catching `Exception` is bad practice. Code around `com/puppycrawl/tools/checkstyle/ant/CheckstyleAntTask.java:367` needs to be changed.

Discussion from #1195:

Please look at https://github.com/checkstyle/checkstyle/blob/master/config/findbugs-exclude.xml#L13
I do not claim that basic ANT taks are done in right approach, but will follow their pattern.
Here is an example of catching smth specific

[2015-06-27 15:33] mkordas opened #1246 "SuppressWarnings check does not support value pair representation"
[SuppressWarnings check](http://checkstyle.sourceforge.net/config_annotation.html#SuppressWarnings) recognizes annotation `@SuppressWarnings(value = UNUSED)` as empty one and produces warning `The warning '' cannot be suppressed at this location. `.

Before assuming that `SuppressWarnings` is empty, it must be checked for existence of `ANNOTATION_MEMBER_VALUE_PAIR` token.

[2015-06-28 06:25] mkordas opened #1251 "Use SHA-1 instead on non-standard SHA in PropertyCacheFile"
Issue is in [PropertyCacheFile.java:201](../blob/master/src/main/java/com/puppycrawl/tools/checkstyle/PropertyCacheFile.java#L200).

According to http://stackoverflow.com/questions/14903539/what-specific-hash-algorithm-does-messagedigest-getinstancesha-return, `SHA` is non-standard one and `SHA-1` should be used.

[2015-06-28 07:03] mkordas opened #1252 "Add support for more complex annotations in SuppressWarnings check"
Examples of not supported annotation contents in [SuppressWarnings check](http://checkstyle.sourceforge.net/config_annotation.html#SuppressWarnings) :
[code]

[2015-06-28 12:48] miyakawataku opened #1253 "Cannot parse constructor references of array types when the element type is parameterized with "?""
Checkstyle 6.8-SNAPSHOT (ec414646eaf9ceb7de4b6e75b6c11d446cd0971) cannot parse constructor references of array types when the element type is parameterized with "?".

Example source code:

[code]

The source code is valid and accepted by javac, but Checkstyle outputs an error message as follows:

[code]

[2015-06-28 13:45] miyakawataku opened #1254 "JavadocVariable check wrongly reports that local variables in lambda expressions should be documented when the lambda is placed on a field initializer"
When a lambda expression is placed on a field initializer, and the lambda body contains local variables, the local variables are wrongly detected by JavadocVariable check.

For example:

[code]

JavadocVariable reports that `str` should be documented:

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23239934-javadocvariable-che

[2015-06-28 16:09] Bhavik3 opened #1257 "NullPointerException at FinalLocalVariableCheck.findClassOrMethodInWhichItIsDefined"
Configuration:
[code]

File to be Analyzed:
[code]

Output on CLI:
[code]

[2015-06-28 17:04] romani commented on #1257
merged, thanks a lot !!!

[2015-06-28 17:09] romani commented on #1252
@mkordas , Do we need support of this ? I would rather ignore them, even Eclipse have ERROR for such cases "The value for annotation attribute must be a constant expression", I noticed that sometime.
One more point is that we will never be able to support all craziness that human can do in code.

My proposal to add a note to javadoc/xdoc about unsupported cases.

[2015-06-28 17:14] romani commented on #959
merged.

[2015-06-28 17:14] #959 closed

[2015-06-28 17:14] romani commented on #1251
merged.

[2015-06-28 17:14] #1251 closed

[2015-06-28 17:15] mkordas commented on #1252
IntelliJ is fine with these annotations ;)

But I agree, there is no point in supporting such craziness. I've never seen such code in any project.

[2015-06-28 17:15] #1252 closed

[2015-06-28 17:31] romani commented on #1246
merged.

[2015-06-28 17:31] #1246 closed

[2015-06-28 17:32] romani commented on #1201
merged.

[2015-06-28 17:32] #1201 closed

[2015-06-29 02:46] romani commented on #291
that is blocking a release process on java8, have to be resolved with hight priority.

[2015-06-29 20:24] ivanov-alex opened #1262 "CustomImportOrder check: SAME_PACKAGE(n) works incorrectly"
There is a problem with SAME_PACKAGE(n) group. In example below you can see that it tends to include imports from packages that are higher in hierarchy into the SAME_PACKAGE group.
[code]

Configuration file:
[code]

[2015-06-29 20:42] ivanov-alex opened #1263 "CustomImportOrder check: first import which does not belong to any group causes incorrect behavior"
When first import in a file does not belong to any of the groups, Checksyle reports a problem with other imports, not with first one. It should be at the end of the list according to [CustomImportOrder documentation](http://checkstyle.sourceforge.net/config_imports.html#CustomImportOrder))
[code]
Output:
[code]
Configuration file
[code]

[2015-06-30 07:50] stinny opened #1265 "Cannot use config file bundled in jar"
Starting from 6.8, config file bundled in jar can no longer be used.
[code]

The breaking commit is https://github.com/checkstyle/checkstyle/commit/3004b4d8810fae5956864d1493ea94f183b9442c

[2015-06-30 08:13] gunnarmorling commented on #473
FWIW, removing `RedundantThrows` in a minor release such as 6.2 was a bit of an unfortunate move. IMHO, it would have been much better to e.g. make it a no-op and raise a warning that this check is no longer supported and will be removed in a future release such as 7.

Due to the removal you now get the rather unspecific error "cannot initialize module TreeWalker - Unable to instantiate RedundantT

[2015-06-30 14:24] DTecheira opened #1266 "MagicNumber is not detected properly"
There is an inconsistent behaviour on MagicNumber's detection.
Here is a simple example, and some of this lines aren't detected

	public void test() {
		Log.i(TAG, String.valueOf(60L)); //detected
		Log.i(TAG, String.valueOf(getMagicNumberX4(61L))); //detected

		final DummyService dummyService = DummyService.getInstance();
		final DummyObject dummyObject = dummyService.getById(62L); //no detected

[2015-07-01 03:09] romani opened #1267 "Checking existance of config file before processing target file."
https://github.com/checkstyle/checkstyle/commit/3004b4d8810fae5956864d1493ea94f183b9442c that commit was reverted, please review #1265.

Write provide integration tests and UTs for Main to avoid such cases in future.

[2015-07-01 03:12] romani commented on #1267
@Bhavik3 , please address.

[2015-07-01 03:38] romani commented on #1014
merged

[2015-07-01 03:38] #1014 closed

[2015-07-01 03:40] #1224 closed

[2015-07-01 03:41] romani commented on #1224
merged.

[2015-07-01 03:42] #48 closed

[2015-07-01 03:43] romani commented on #48
merged.

[2015-07-01 04:26] romani commented on #1108
ATTENTION: compatibility with gradle plugin was broken (as gradle reused CheckStyleTask class) - https://travis-ci.org/sevntu-checkstyle/checkstyle-samples , plugin has to be updated

[2015-07-01 04:48] #1221 closed

[2015-07-01 05:02] romani commented on #1108
https://discuss.gradle.org/t/checkstyle-6-8-release-brake-compatibility-with-gradle-checkstyle-plugin/10375

[2015-07-01 05:27] romani commented on #1265
merged.

[2015-07-01 05:27] #1265 closed

[2015-07-01 05:36] Bhavik3 commented on #1267
@romani
From Main, How can I check for `-jar` option?

[2015-07-01 05:52] romani commented on #1267
launch as command line from java, smth like https://docs.oracle.com/javase/7/docs/api/java/lang/Runtime.html#exec%28java.lang.String%29

[2015-07-01 05:54] Bhavik3 commented on #1267
My solution is to:
First check for config location as we did before.
If file not exist in that way, check for config location in .classpath
If still not exist then give error message.

Is it fine?

[2015-07-01 05:57] romani commented on #1267
yes

[2015-07-01 06:01] Bhavik3 commented on #1267
ok
I implemented it. works fine.
But, how can I write UT for it.

[2015-07-01 06:05] romani commented on #1267
try to create a file in target folder  ..... need to be investigateds

[2015-07-01 07:16] mkordas commented on #1108
That's quite serious incompatibility. Shouldn't we revert that commit and release as 6.8.2? We can wait for the fix on Gradle side and then bring the commit back. Moreover we should have integration test with Gradle as a lot of people use it these days.

[2015-07-01 14:10] WonderCsabo commented on #1108
[Issue on Gradle's JIRA.](https://issues.gradle.org/browse/GRADLE-3314)

[2015-07-01 14:19] romani commented on #1108
As we remove that fix, there will be incentive for community to upgrade to latest gradle, we would have to keep that fix for long time.

Old version users should stay with 6.7 .

[2015-07-01 15:28] Bhavik3 commented on #1267
Intermediate solution:
https://github.com/Bhavik3/checkstyle/commit/5369f353d5f7dd9086e4e5f109c731c48b0e5e4e

problem is naming of jar file in target folder....(can differ by version)

Or, have other method to generate jar in pre-defined name.

[2015-07-01 18:37] jsotuyod commented on #1108
The same incompatibility is present with Maven's checkstyle plugin.

https://issues.apache.org/jira/browse/MCHECKSTYLE-300

[2015-07-01 19:14] WonderCsabo commented on #1108
@jsotuyod i do not think there is an incompatibility with maven-checkstyle-plugin. It does not use the `CheckStyleTask` class, and actually works with CS 6.8, i just tried it in a big project.

[2015-07-01 19:22] jsotuyod commented on #1108
@WonderCsabo you are absolutely right, thanks!

[2015-07-01 20:11] mkordas opened #1270 "Make coverage 100% for Indentation check"
[Indentation check](../blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheck.java) requires 100% code coverage, as it is pure algorithm.

[2015-07-01 20:33] romani commented on #1108
there should be no problem, we use maven plugin in our regression testing. So we will notice any braking compatibility on PR level.

[2015-07-01 20:54] mkordas opened #1272 "Parameter throwsIndent in Indentation check is unused in code"
That's really interesting one.

There is field [throwsIndentationAmount](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheck.java#L95), but it has just getter and setter. This field is not used anywhere, but we even have it as config in google_checks.xml:
[code]

There are also passing unit tests with various `throw

[2015-07-02 07:54] ivanov-alex opened #1273 "CustomImportOrder check: THIRD_PARTY_PACKAGE should exclude SAME_PACKAGE(n) imports"
According to documentation THIRD_PARTY_PACKAGE imports should exclude SAME_PACKAGE(n) imports: `3) THIRD_PARTY_PACKAGE group. This group sets ordering of third party imports. Third party imports are all imports except STATIC, SAME_PACKAGE(n), STANDARD_JAVA_PACKAGE and SPECIAL_IMPORTS. `

However, in fact they are not. If THIRD_PARTY_PACKAGE preceeds SAME_PACKAGE on a list of rules and SAME_PACKAGE

[2015-07-03 00:57] romani opened #1275 "Incorrect xml structure at google_checks.xml"
problem caused by  "SingleLineJavadoc and inheritDoc" #1063,  reported by #1274.

TODO:
1) update integration tests to pass.
2) update build procedure to validate all XML files against their schemas(XSL, DTD).

[2015-07-03 00:58] romani commented on #1275
@Vladlis , please address ASAP.

[2015-07-03 01:17] romani commented on #1243
https://github.com/checkstyle/checkstyle/pull/1269#issuecomment-118206548

[2015-07-03 15:14] Bhavik3 commented on #1267
@romani
Have check this out?

[2015-07-03 16:03] romani commented on #1267
not yet, but I will for sure.

You can do smth else meanwhile.

[2015-07-03 16:42] romani commented on #1267
1) You need to create integration test , not a UTs
Please review https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html#A_Build_Lifecycle_is_Made_Up_of_Phases
ITs are next step after package.

You need to create new package there:
https://github.com/checkstyle/checkstyle/tree/master/src/it/java
as "com/puppycrawl/tools/checkstyle" and create a new test file , that will be

[2015-07-04 00:21] amahdy commented on #473
I do agree with @gunnarmorling

[2015-07-04 04:34] Bhavik3 opened #1279 "Change default value of property "format" to "^Abstract.*$" in AbstractClassNameCheck"
I can not see any specific reason why class name with pattern "^.*Factory$" has to be defined Abstract. Nobody force Factory named classes to be Abstract according to spring sources.

If anyone can find reason for why Factory named classes should be abstract by default, most welcome to post evidence for the same.

[2015-07-04 13:51] hjmf1954 opened #1281 "Error in checkstyle xml-file Unable to create a checker..."
When running this setting I got the error message:
Unable to create a Checker: cannot initialize module TreeWalker - Property 'ignoreInlineTags' in module TreeWalker does not exist, please check the documentation

Please change the 194 and 195 into:
<img width="525" alt="screen shot 2015-07-04 at 15 52 43" src="https://cloud.githubusercontent.com/assets/3748128/8508140/dada0e9c-2264-11e5-8acf-5299

[2015-07-04 15:06] Bhavik3 commented on #1281
According to error you have written, looks like you have defined property `ignoreInlineTags` under `TreeWalker` module. You need to define it under `SingleLineJavadoc`.
If it is not so, share config.

[2015-07-04 15:11] romani commented on #1281
https://github.com/checkstyle/checkstyle/issues/1275 , the same problem

[2015-07-05 17:29] rdiachenko opened #1286 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.modifier"
Make code coverage 100% for package <b>com.puppycrawl.tools.checkstyle.checks.modifier</b>

[2015-07-05 17:36] rdiachenko opened #1287 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.metrics"
Make code coverage 100% for package <b>com.puppycrawl.tools.checkstyle.checks.metrics</b>

[2015-07-05 17:36] rdiachenko opened #1288 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.naming"
Make code coverage 100% for package <b>com.puppycrawl.tools.checkstyle.checks.naming</b>

[2015-07-05 17:36] rdiachenko opened #1289 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.whitespace"
Make code coverage 100% for package <b>com.puppycrawl.tools.checkstyle.checks.whitespace</b>

[2015-07-05 17:41] romani commented on #1022
work will be continued by new contributor , #1286

[2015-07-05 17:41] #1022 closed

[2015-07-05 17:46] romani commented on #908
assigned to @sabaka .

[2015-07-05 17:47] romani commented on #1010
assigned to @sabaka .

[2015-07-05 17:56] sabaka opened #1290 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks"
We have following in pom:
[code]

after tests improvement(to be 100% cevered) that lines have to be removed from pom.xml.

[2015-07-05 17:58] sabaka opened #1291 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.blocks"
In pom we have:
[code]
after tests improvement(to be 100% cevered) that lines have to be removed from pom.xml.

[2015-07-05 17:59] sabaka opened #1292 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.header"
In pom we have:
[code]
after tests improvement(to be 100% cevered) that lines have to be removed from pom.xml.

[2015-07-05 19:00] romani commented on #1279
discussion of #1260.

merged.

[2015-07-05 19:00] #1279 closed

[2015-07-05 19:11] #1158 closed

[2015-07-05 21:19] baratali opened #1293 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.coding"
Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.coding

[2015-07-06 00:25] romani commented on #1266
@Bhavik3 , do you have to take a look ? that should not be complicated issue.

[2015-07-06 00:31] romani opened #1294 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle"
All that exclusions from pom.xml should be resolved and removed from pom.xml:

[code]

[2015-07-06 00:32] romani opened #1295 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.api"
All that exclusions from pom.xml should be resolved and removed from pom.xml:
[code]

[2015-07-06 00:34] romani opened #1296 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.filters"
All that exclusions from pom.xml should be resolved and removed from pom.xml:

[code]

[2015-07-06 04:36] romani commented on #473
yes, it is not as in all other projects. But Checkstyle have huge expose(api, check names, their options) to public and almost and changes in should be considered as major release (and minor dump only for bugfixing.).

So I decided to keep major version to major update -  changes in AST tree structure, serious API changes.
Minor version will contain braking compatibility too, but minor braking - c

[2015-07-06 05:24] Bhavik3 commented on #1266
@romani
This code will be detected according to new changes. As there is not any logic for not detecting this typical code, should I do hardcode it?

[code]

[2015-07-06 05:51] romani commented on #1266
please explain that.

[2015-07-06 05:53] Bhavik3 commented on #1266
This line of code should be detected according to user feedback.
But Logic saying that it should be detected.
HardCode : dnt change logic but add exception for not detecting Integer() method.

[2015-07-06 20:01] mkordas opened #1300 "Update Maven PMD Plugin to 3.5"
Maven PMD Plugin version 3.5 contains update for PMD to latest 5.3.2.

The biggest functional change is better detection of boolean return that may be simplified [#1320](https://sourceforge.net/p/pmd/bugs/1320/).

[2015-07-07 03:10] romani commented on #1266
it is opposite, cases of usage in c-tor and method should be detected, as I read user request. @DTecheira , am I right ?

[2015-07-07 03:21] romani commented on #1266
that logic was introduced at https://github.com/checkstyle/checkstyle/commit/9dc87c52e507f9ac32ca8e3c85923b616a77c80b

there was request from me to create issue to let user manage Check behaviour - https://github.com/checkstyle/checkstyle/issues/1113#issuecomment-104451725 , looks like that request was missed.

So to resolve that issue, we need to introduce new option to the Check and @DTecheira n

[2015-07-07 03:33] romani opened #1304 "Allow rethrow exception further to caller of Checker"
When exception happen in Checkstyle that is wrapped by eclipse-cs , there is no way to get reason(full stack) of exception.
![eclipsecs-checkstyle-exception](https://cloud.githubusercontent.com/assets/812984/8538169/90bf6270-241d-11e5-9476-35857d864f98.png)

When a check throws an exception it is caught somewhere in Treewalker and logged as a Checkstyle violation with error severity. The exception

[2015-07-07 03:43] romani commented on #1286
resolved, merged.

[2015-07-07 03:43] #1286 closed

[2015-07-07 04:19] Bhavik3 commented on #1266
That means user has not requested for these line to not be detected.
But it should be detected by default. magic number in method or C-tor also a magic number.

logic here was to allow multiple numeric literal.
This is not multiple numeric literal.

[code]

If user want functionality to choose to be detected or not, we can introduce option.

[2015-07-07 06:24] romani commented on #1266
we need new option to let user decide on a level of fanaticism of chasing MagicNumber in their project.

[2015-07-07 12:28] DTecheira commented on #1266
yes, you are correct.

I agree with that.

No, as I said, there are inconsistencies, only some lines are detected as magic number.

[2015-07-07 12:40] Bhavik3 commented on #1266
@DTecheira

Have a look on PR.

[2015-07-07 21:30] mkordas opened #1308 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.checks.javadoc"
All that exclusions from pom.xml should be resolved and removed from pom.xml:
[code]

[2015-07-07 22:46] romani commented on #1308
please beware that some of them need to be reimplemented, so lets discuss what make sense to cover and what to reimplement.

[2015-07-08 04:04] romani opened #1319 "Restore checkstyle validation on nemo.sonarqube.org"
http://nemo.sonarqube.org/dashboard/index?id=com.puppycrawl.tools%3Acheckstyle
Last analysis was done at - Version 6.8-SNAPSHOT / June 2 2015 9:51 PM

Problem is that checkstyle project is failed to build on java7 by sonar team, their command :
[code]

output:
[code]

on java7 cobertura is failing to path "check":
[code]

[2015-07-08 04:19] romani commented on #1319
new profile was created that will be activated only for java8, so all launches on java7 will skip cobertura:check phase, but Travis will catch such contributors.

[2015-07-08 04:19] #1319 closed

[2015-07-08 20:41] Vladlis commented on #1106
I'll do this one

[2015-07-08 21:29] mkordas opened #1325 "Remove usage of deprecated methods from MainTest"
In system-rules library in version 1.10.0 `StandardErrorStreamLog` and `StandardOutputStreamLog` have been replaced by `SystemErrRule` and `SystemOutRule`. These occurrences need to be replaced in `MainTest`.

[2015-07-08 21:43] mkordas commented on #1106
@Vladlis - that's great. I think the most common example that we can put to docs would be `log(ger)?`.

[2015-07-08 21:44] mkordas commented on #1300
@romani - we can close this one, right?

[2015-07-09 01:54] romani commented on #1300
yes, clolsed

[2015-07-09 01:54] #1300 closed

[2015-07-09 01:54] romani commented on #1325
fixed.

[2015-07-09 01:54] #1325 closed

[2015-07-09 01:57] romani commented on #1288
fixed.

[2015-07-09 01:57] #1288 closed

[2015-07-09 08:37] pbaranchikov opened #1332 "JavadocParagraph allows new line before the next paragraph"
http://checkstyle.sourceforge.net/config_javadoc.html#JavadocParagraph
created base on requirements of http://google.github.io/styleguide/javaguide.html#s7.1.2-javadoc-paragraphs

According to documentation:

I could have `<p>` tag, followed by new line. Text is continued from the next line, so the tag is not "immediately before the first word"

[code]
Also, even spaces are not violated:
[code]

[2015-07-09 09:33] Vladlis commented on #1106
@mishadoff, why not just use property 'format' ?

[code]

[2015-07-09 09:42] mishadoff commented on #1106
@Vladlis this is could be an option, any drawbacks and misses?

[2015-07-09 09:52] Vladlis commented on #1106
@mishadoff, I don't see any drawbacks. This example just extends default pattern for the Check.
@romani, @mkordas, what do you think?

[2015-07-09 13:43] Vladlis commented on #1007
I'm working on it

[2015-07-09 13:43] Vladlis commented on #1006
I'm working on it

[2015-07-09 20:42] romani commented on #1064
https://groups.google.com/forum/#!topic/checkstyle-devel/At_bx7gdkA0

[2015-07-09 21:52] Vladlis commented on #1007
Well, as I see from code and [input](https://github.com/checkstyle/checkstyle/blob/master/src/test/resources/com/puppycrawl/tools/checkstyle/InputBracesSingleLineStatements.java#L29) the example above is considered as complex blocks, whereas this code will pass with no violations:
[code]
So, we have to decide, whether to allow all complex blocks, which may make such constructions as this one possi

[2015-07-10 00:34] romani commented on #1237
merged.

[2015-07-10 00:34] #1237 closed

[2015-07-10 00:50] guillaumecle commented on #1237
Thank to both of you!

[2015-07-10 02:05] romani commented on #1237
@guillaumecle ,  it would good if you verify on your code that fix before release.

[2015-07-10 02:07] romani commented on #1332
good point, I do not see any reference in code that it do validation for that, completely missed functionality.

[2015-07-10 09:49] dhendriks commented on #1007
In my opinion, the following should be OK:

[code]

While the following should NOT be ok, as it is missing braces for multiline 'else if' part:

[code]

I'm not sure what you're proposed new 'allow complex blocks' option means for these two cases. Could you elaborate on that?

[2015-07-10 09:49] dhendriks commented on #1007
As far as your example is concerned:

[code]

In my opinion, it should be OK, as the 'if' statements are on a single line, and thus doesn't need braces.

[2015-07-10 09:53] dhendriks commented on #1007
I just realized my previous comments may not have been clear enough. I think we don't need a new 'allow complex blocks' option. The check should just report the proper thing regardless of complex/non-complex ifs. I understand the implementation may need to be different for both case, but for me the definition of multi-line doesn't depend on the 'if' being complex or non-complex. Or am I missing so

[2015-07-10 15:02] pbaranchikov opened #1340 "Create annotation-based suppression filter."
Filter should filter out specified checks for the node (and subnodes), marked with the specified annotations.

Described in Google Groups https://groups.google.com/forum/#!searchin/checkstyle-devel/pavel$20baranchikov/checkstyle-devel/Hb4qYTcBbF8/zTXRYuLDwAIJ

[2015-07-10 16:04] Vladlis opened #1341 "xml-maven-plugin reports violation in site.xml"
xml-maven-plugin reports violation in site.xml
https://github.com/Vladlis/checkstyle/commit/79de7c95a420e00fb358f0f40d0397e916297f0e#diff-600376dffeb79835ede4a0b285078036R1009

[2015-07-10 16:33] Vladlis commented on #1007
Yeah, that's what I'm talking about - if you are sure, that the the code you write won't be confusing for others, then you'll be able to tell the Check not to worry about it and allow such code by setting this newOption to 'true'.
However, there is another question: should we allow only complex 'if' or also allow complex 'for'(#1006), 'while' etc.
Exmple of complex 'for' loop:
[code]
I'm not sure,

[2015-07-10 21:13] mkordas opened #1342 "Checkstyle build does not work on Windows due to case insensitive paths"
When introducing changes for #863, code that is not compiling on Windows was brought to Checkstyle tests.

In Unix environments it is possible to have both class `Writer` and `writer` in one path. On Windows it fails during Maven compilation phase due to case insensitivity.

First error from console:
[code]

[2015-07-10 22:01] romani commented on #1342
I do not see PR, please do.

[2015-07-10 22:04] mkordas commented on #1342
Please see #1342.

[2015-07-10 22:24] #1342 closed

[2015-07-11 00:00] romani opened #1346 "update google_style.xml to point to github.io"
new location of Google Java Style - http://google.github.io/styleguide/javaguide.html

we need to update our HTML (xdoc file google_style.xml) to point to new location.

Guide coverage report page should point to cached web page at our web site.

FYI , there is no way to link HTML version by commit reference as we did before, so we need always cache google style at out site as updated to new conte

[2015-07-11 02:50] romani commented on #1281
please follow #1275 for a status, I am closing this issue.

[2015-07-11 02:50] #1281 closed

[2015-07-11 03:02] romani commented on #300
@liutikas , do you expect violation on "else" on following code:
[code]

[2015-07-11 03:05] romani commented on #1007
Related issues, discussions: #300, #895, #715

@ liutikas , can you share your opinion on code examples that are shown in this issue. https://github.com/checkstyle/checkstyle/issues/1007#issuecomment-120326457

[2015-07-11 03:09] romani commented on #1007
nested IF or any other structures will not be suppressed - user need to switch OFF Check at all to skip such violations.

ELSE-IF - is conner case, I am almost ok to allow that by existing option.

[2015-07-11 03:13] romani commented on #1006
@dhendriks, can you share a code (the more the better) with us where such structures are so meaningful to be a single-line ?

if we allow that, it conflict with the whole idea of Check, and most likely you just do not need NeedBraces to be active in your config.

[2015-07-11 03:45] romani opened #1348 "ITs rule43onestatement/OneStatementPerLineTest is failing"
src/it/java/com/google/checkstyle/test/chapter4formatting/rule43onestatement/OneStatementPerLineTest.java

is failing https://travis-ci.org/checkstyle/checkstyle/jobs/70314374#L699
[code]
, due to build problem it was not noticed.

Test has to be resolved. Problem caused by #1237.

[2015-07-11 03:50] romani commented on #1348
problem was missed due to "The Failsafe Plugin will not fail the build during the integration-test phase,...." https://maven.apache.org/surefire/maven-failsafe-plugin/ . Verify goal was added to Travis.

[2015-07-11 03:51] romani commented on #1348
@MEZk , please take a look at missed/failed test ASAP please.
On a completion please remove Ignore annotation from test.

[2015-07-11 05:14] liutikas commented on #300
@romani yes I would like that to be a violation.

[2015-07-11 06:47] romani commented on #300
@liutikas , can you share your opinion on code examples that are shown in this issue. #1007 (comment)

[2015-07-11 07:50] krzyk opened #1349 "Indentation on annotation parameters is wrong"
When using `<property name="tabWidth" value="4"/><module name="Indentation"/>`, during build checkstyle 6.8.1 complains about:
[code]
with:
[code]

But it should accept such formatting as the right parenthes closes a block that started on indentation level 4, so it should also be on 4, not on 8.

[2015-07-11 08:30] Vladlis commented on #1341
I'll do this

[2015-07-11 10:05] dhendriks commented on #1006
Usually, we write things like this:

[code]

That is, we usually put the body of a a for/if on a new line, and use braces as shown. We don't want to allow the following:

[code]

We believe this leads to subtle issues if you later extend it, with more statements in the body, and forget to add the braces then.

However, in this example, you need 5 lines, and they are barely filled (at most 30 chars

[2015-07-11 10:18] dhendriks commented on #1007
[code]

As far as this example is concerned, I agree that such for/if/for/if/break nesting might be a bit too much. My suggestion would be to add a new MaximumNestedStatementsOnSingleLine check or so. For instance, with a maximum level of 2, the following (which has 3 levels, for/if/for) is not allowed:

[code]

while with a maximum level of 3, it will be allowed. This allows users to decide for t

[2015-07-11 13:49] romani commented on #1275
merged.

[2015-07-11 13:49] #1275 closed

[2015-07-11 13:55] romani commented on #1348
merged.

[2015-07-11 13:55] #1348 closed

[2015-07-11 14:26] romani commented on #1006
for (int i = 0; i < 10; i++)
    if (i == 5)
        break;
[code]

[2015-07-11 14:46] romani commented on #1007
@dhendriks, please move MaximumNestedStatementsOnSingleLine to separate issue .

@dhendriks, please provide more examples of such code format and please with whole logic to let us validate it is really the best form in that cases. The more examples the better. I need to see that such code is reasonable in lots of places. If it is very rare, I would suggest to use suppression.

Even I (personally)

[2015-07-11 16:38] romani commented on #1106
@Vladlis , good catch! no need to add another option.

Please add "ConstantName" to http://checkstyle.sourceforge.net/config_naming.html#Enhancements with such example as it is not obvious :) even for owners of project.

[2015-07-11 18:44] romani opened #1351 "Eclipse report errors on Inputs files with ";;""
/checkstyle/src/test/resources/com/puppycrawl/tools/checkstyle/checks/coding/OneStatementPerLineCheckInput.java
checkstyle/src/it/resources/com/google/checkstyle/test/chapter4formatting/rule43onestatement/OneStatementPerLineInput.java
[code]

That cause compilation problem in Eclipse 4.2.2, please move test of ";;" to non-compilable folder with comment above that it is due to Eclipse compiler (tha

[2015-07-11 18:45] romani commented on #1351
@MEZk , please take a look ASAP.

[2015-07-11 18:58] guillaumecle commented on #1237
I'm not getting any warning anymore. Thank you.

Is there a rule that prevents multiple assignments on one line?
[code]

[2015-07-11 19:12] romani commented on #1237
There is no such Check please create an issue on that, it will very tiny and easy to do Check.

[2015-07-11 19:22] MEZk commented on #1237
@romani
I've already have an idea how to implement this Check. And, for example we can provide an option "multipleAssignmentsNumber" etc to allow user to config this Check.

[2015-07-11 21:58] guillaumecle opened #1354 "Rule to prevent multiple assignments on one line"
Like discussed in #1237, this Check should verify that this code is illegal.
[code]

[2015-07-12 00:44] liutikas commented on #1007
My initial intent when I requested this feature "allowSingleLineStatement" was to allow for simple one like if statements such as:
[code]
However, I do not think that code snippet mentioned in this issue should be allowed:
[code]

This is a style that we use for the Chromium project (style that is very close to Google Java style) and I would like to keep this option as it is or at least make it th

[2015-07-12 05:08] romani commented on #1351
merged.

[2015-07-12 05:08] #1351 closed

[2015-07-12 05:18] romani commented on #1354
we are currently in moratorium period, so no new Checks are accepted - http://checkstyle.sourceforge.net/contributing.html#Introduction . But we will get out of that state soon, so your idea is on pause for now.

[2015-07-12 09:02] dhendriks opened #1358 "Add new MaximumNestedStatementsOnSingleLine check"
Per the discussion in issue #1007, and more specifically https://github.com/checkstyle/checkstyle/issues/1007#issuecomment-120601784, the idea is to add a new MaximumNestedStatementsOnSingleLine check. The check ensures there are no more 'nested statements on a single line' than the configured maximum.

For instance, with a maximum level of 2, the following (which has 3 levels, for/if/for) is not

[2015-07-12 09:35] dhendriks commented on #1006
Here are some examples from our source code of 'for' with nested 'if' on a single line. There are many more, but they are mostly similar to the ones below. I'll comment on each of them, explaining my opinion of whether it should be on a single line or not:

1)

[code]

I agree that this one could be changed to multi line. It would be slightly longer, but in this case that would be ok.

2)

[code]

[2015-07-12 09:45] dhendriks commented on #1007
Here are some examples from our source code of 'if' after 'else' with statement following it on a single line. There may be more of those in our source code, but these should be sufficient for the discussion. I'll comment on each of them.

1)

[code]

This code is from before Java allowed switch over string typed values. It could now probably be changed to a switch. However, there are probably oth

[2015-07-12 16:29] romani commented on #1341
merged.

[2015-07-12 16:29] #1341 closed

[2015-07-12 16:54] romani commented on #1358
we are currently in moratorium period, so no new Checks are accepted - http://checkstyle.sourceforge.net/contributing.html#Introduction . But we will get out of that state soon, so your idea is on pause for now.

[2015-07-12 17:26] romani commented on #1272
please investigate a history of that code , I remember there were some fixes for "throws" in Indentation in past 2 years .

[2015-07-13 13:53] romani commented on #1106
merged

[2015-07-13 13:53] #1106 closed

[2015-07-13 17:19] rnveach opened #1367 "SuperCloneCheck reports error for native method"
I am using checkstyle 6.7 and SuperCloneCheck is reporting an error for a method that doesn't call it's super. The reason this error is wrongly reported is because the method is defined as native, and therefore has no possible java defined implementation. This check should overlook native methods as that is outside the scope of the static checks.

Example:
[code]
Checkstyle 6.7 output:
Test.java:2

[2015-07-13 21:37] WonderCsabo opened #1369 "Option to do not separete static imports"
I already saw #12 which tries to fit CS for Eclipse's default import formatter. But there is one difference: Eclipse do not adds blank lines between groups in static imports, but CS expect to do so. I have this configuration, which should mimic Eclipse:
[code]

However, it adds an error to the last import, which is properly formatted by Eclipse:

[code]

`'org.androidannotations.helper.ModelConsta

[2015-07-14 09:08] WonderCsabo commented on #1369
@romani i have a POC fix for this here https://github.com/WonderCsabo/checkstyle/commit/63a01083b9b53de63b9c62c7ce1f4c9c1c714340. If you think it is a good solution, i can wrap up a PR later.

[2015-07-14 15:09] rnveach opened #1377 "EqualsAvoidNullCheck ignores left side variables with dot in it"
I noticed EqualsAvoidNullCheck will not print errors on lines were the left side of the equals method has a "dot" in the variable like "this.field" or "MyClass.staticVariable". I don't see a reason these can't be swapped so the literals are on the left side and why the checker shouldn't flag them as errors. The source says it "cannot be improved" but I couldn't find any instance were the 2 couldn'

[2015-07-14 23:15] rnveach opened #1382 "windows folder case insensitive issue"
Inside the folder "src/it/resources/com/google/checkstyle/test/chapter5naming" there are 2 folders with the same, case insensitive name which is causing issues with windows. "rule521packageNames" and "rule521packagenames" are the same letters/numbers but one has a captial N and the other has a lowercase n. Windows doesn't allow these 2 folders to exist in the same parent.

[2015-07-15 05:18] ivanov-alex opened #1387 "Problem with UT coverage for "default" branch on switch(enum)"
This issue was entered to write down the problem, research performed to find solution and decision so that it can be changed to better in the future.

ImportOrderCheck contains following peace of code in visitToken:
[code]
getAbstractOption() return enum and case arguments are all options of enum.
As a result, "default" option is never executed affecting UT coverage.

Following options to resolve

[2015-07-15 05:21] romani commented on #1369
Thanks a lot, let me redirect your work to another contributor, I am extremely over occupied with other tasks on a project.

@ivanov-alex , please take a look and do code-review.

[2015-07-15 14:33] romani commented on #1382
on completion, we need to use http://www.appveyor.com/ , configuration example - http://www.yegor256.com/2015/01/10/windows-appveyor-maven.html

[2015-07-15 17:57] WonderCsabo opened #1388 "BaseCheckTestSupport.verify() fails on Windows"
Lots of test are failing on Windows due to this method, like this:

[code]

The problem is that on Windows, full paths contain a `:` sign, which denotes a device in the path: *D:\folder\file*. The method in question ignores this, and reads the string part after the first occurrence of `:`. This is incorrect, and also results in an exception, because that part will not be a number on Windows.

[2015-07-15 18:09] WonderCsabo commented on #1369
@romani okay for me. I am waiting for @ivanov-alex to verify my approach before creating a full PR with tests and docs, then.

[2015-07-16 01:38] rnveach opened #1393 "IllegalToken description: incorrect description"
http://checkstyle.sourceforge.net/config_coding.html#IllegalToken

The description says "By default labels are prohibited." but later it describes the default values as "LITERAL_SWITCH, POST_INC, POST_DEC". Label is not listed as part of the default values.

This was actually a recent change in commit dd47d21, so just the default values in the documentation have to change.

[2015-07-16 14:56] rnveach opened #1395 "FallThroughCheck fails on if with no else"
I am using checkstyle 6.8.1.

Code Example:
[code]
Config:
[code]

Checkstyle Output:
[code]

As you can see checkstyle reports no errors, but if you look closely at case B, it does have a possibility for a fall through when the if statement is false. The issue with checkstyle's source is that it is only looking at the if statement and that it has a break. Since there is no else written, it skips

[2015-07-17 00:30] romani commented on #1387
merged.

[2015-07-17 00:30] #1387 closed

[2015-07-17 04:47] ivanov-alex commented on #1369
@WonderCsabo Looks good, but it appears we have a defect on our side (not every group on static imports triggers violation). I will address a problem and have a closer look on how your changes work with that.

[2015-07-17 05:22] romani commented on #1382
first steps of windows build CI - https://ci.appveyor.com/project/romani/checkstyle
as it become stable I will move it to - checkstyle/checkstyle .

any further steps for build success are welcome.
we could continue after #1389 is fixed.

[2015-07-17 06:18] WonderCsabo commented on #1369
Great, thanks.

[2015-07-17 07:00] ivanov-alex opened #1398 "Inconsistent behavior of ImportOrderCheck"
In some cases ImportOrderCheck requires line separator between static imports, in some cases not.
Checkstyle 6.8 Config:
[code]

[code]
[code]
[code]
[code]
[code]
[code]

[2015-07-17 09:36] ivanov-alex commented on #1398
Based on [this code](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheck.java#L347) I don't think that there was intention to raise separation violations within "import static" group (because that there is a special method to process imports within a group, it is issued when import is from the same group or when we have

[2015-07-17 09:47] ivanov-alex commented on #1369
Hi again!
@WonderCsabo , I have entered #1398 for that and I think that there should be no separation violation on a file in your example.
Could you please provide more information on what are you trying to achieve?
1) Do you just need CS to stop showing false positives on files like that? All static imports will be in one group (default Eclipse formatting, at least on my version).
2) Or you need

[2015-07-17 09:52] WonderCsabo commented on #1369
I want to achieve 1). I thought my patch did exactly that.

[2015-07-17 10:34] ivanov-alex commented on #1398
Short issue description: CS requires separator after first static import from the group defined on config. But it doesn't require separator before import this import.
Lets assume we have only java.* group.

Now we DON'T HAVE violation in:
[code]
And HAVE violation in
[code]

Correct behavior is to have identical behavior in both cases.

[2015-07-17 20:46] ivanov-alex commented on #1369
Well, that is not 100% correct.
What you are trying to achieve is an expected behaviour. However, due to defect, you were not able to experience it. I understand that you were treating actual behaviour as an expected one and were trying to extend it one step further.
Your patch is not solving all aspects of our problem described in #1398 (because it will require separator after "import static com.

[2015-07-17 22:51] WonderCsabo commented on #1369
Okay, thanks, that is totally good for me.

[2015-07-18 08:18] MEZk commented on #1395
@romani @rnveach
I'm working on this issue.

[2015-07-18 10:00] MEZk commented on #1395
@rnveach
See last commit [test inputs](https://github.com/MEZk/checkstyle/commit/29a3d60dfa6a7ab1c6383b68af343f9ce2757d72#diff-a66b9e060d0527888fa4f1cce592b67cR12). Can you check if I missed something, some examples or hard to imagine cases?

[2015-07-18 14:44] romani commented on #1398
@ivanov-alex , can you explain why we specify in configuration "javax,org" but order of imports is :
[code]

[2015-07-18 17:22] romani commented on #1388
merged.

[2015-07-18 17:22] #1388 closed

[2015-07-18 17:31] romani commented on #1382
https://github.com/checkstyle/checkstyle/tree/master/src/it/resources/com/google/checkstyle/test/chapter5naming

There is :
rule521_packagenames
rule521$packagenames
rule521packagenames
rule521packageNamesCamelCase

most likely you look at old sources.

[2015-07-18 18:00] romani commented on #1382
That URL https://ci.appveyor.com/project/romani/checkstyle will official till I figureout how to detach it from my personal account.

Windows build is passing.

[2015-07-18 18:01] #1382 closed

[2015-07-18 18:27] romani commented on #1174
@mkordas , can you validate that issue ?  to put a "approved" tag on it.

[2015-07-18 18:52] robertwhitebit opened #1405 "New RegexpSinglelineJava property ignoreStrings"
[code]
Strings should also be ignorable (like comments already are), because they can contain any valid text and therefore are likely to give false positive results.

[2015-07-18 19:10] romani commented on #1405
please provide example of real use case

[2015-07-18 19:46] robertwhitebit commented on #1405
Sure! I'll just use my current problem. :wink:

[code]

This check prevents from separating tokens with more than one space, e.g.
[code]

But falsely detects strings with multiple whitespaces, e.g.

[code]

[2015-07-18 21:19] romani commented on #1405
Here is how suppression my comment is done:
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/regexp/CommentSuppressor.java

to do the same for constant, we will need to traverse tree by line number to catch that AST token and investigate all other tokens in case match is happen in first String value and then in code

[code]

that will be a l

[2015-07-18 21:31] romani commented on #1405
All RegExp Checks exists to let user be "crazy" with custom validations up to their own responsibility for false-positives. But as soon as validation become a bit more complicated, new Check need to be created.

[2015-07-19 13:13] robertwhitebit commented on #1405
Thanks, I took a quick look at the CommentSuppressor relevant code.

Theoretically there shouldn't be a (big) difference between multi-line comments and strings.
Both have a start and end tag and both can be multi-lined. The content of each is a valid text. The only catch is the escaped double quote ```\"```

Unfortunately I can't. As I can't for the ignoreComments property. My guess is, that many

[2015-07-19 13:32] mkordas commented on #1405
@robertwhitebit - I had exactly the same idea when I was working on #728. There is already sevntu-checkstyle/sevntu.checkstyle#334 issue created for such check - feel free to help us implement it (many people around the world including me will use it for sure).

[2015-07-19 14:20] romani commented on #1332
merged.

[2015-07-19 14:20] #1332 closed

[2015-07-19 15:15] romani commented on #1405
@robertwhitebit , I am voting against extending a RegExp Check, as it is way to making it smart to extend there it will be never reliable (or too much efforts to do validation that should be done in different approach). On implementing that users will report issues about false positives. We will not do implementation that is not reliable to reasonable extend.

One more workaround for you is extend

[2015-07-19 15:15] #1405 closed

[2015-07-19 15:50] Vladlis commented on #1367
The same applies to SuperFinalize check.

[2015-07-19 16:37] romani opened #1415 "javadoc: deperecate overview.html and package.html support"
com.puppycrawl.tools.checkstyle.api.JavadocTagInfo

first of all it is dead code, it was never used in Checkstylem but that is API, so special issue is created to describe a change, and possible braking compatibility.

overview.html:
http://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html#overviewcomment
it is just HTML file, we do not have grammar for HTML to parse it reliably

[2015-07-19 16:39] #1415 closed

[2015-07-19 16:55] MEZk opened #1416 "RightCurlyCheck with RightCurlyOption.SAME rises violation when '}' ends line with single-line block."
RightCurlyCheck with the following configuration:
[code]
rises violation (```'}' should have line break before.```) on the following code example:
[code]
Lets analyse.

To begin with, first ```}``` token. Right curly policy is RightCurlyOption.SAME (by default). It is ok that after ```}``` is finally statement. All right, no violation here.

Next, right curly policy is RightCurlyOption.SAME (by de

[2015-07-19 17:10] romani commented on #1393
merged.

[2015-07-19 17:10] #1393 closed

[2015-07-19 18:41] robertwhitebit commented on #1405
Thanks for your feedback and guiding me to the [sevntu-checkstyle project](https://github.com/sevntu-checkstyle/sevntu.checkstyle), guys! :smiley_cat:

[2015-07-19 19:58] ivanov-alex commented on #1398
Corrected initial comment to have non-static imports sorted correctly.
While preparing original messages, I was paying attention to static imports only and skipped violations for non-static. Now there should be no logical conflicts.

[2015-07-20 07:44] pbaranchikov opened #1421 "JavadocType ignores param tags in InnerClass"
Inner classes are not checked with JavadocType check for missing or extra ``@param`` tags

The following code is Ok, but ``@param`` tags are wrong set in the javadoc
[code]

[2015-07-20 17:03] romani commented on #1395
merged.

[2015-07-20 17:03] #1395 closed

[2015-07-20 17:04] romani commented on #1367
merged

[2015-07-20 17:04] #1367 closed

[2015-07-20 19:29] mkordas opened #1424 "Update Maven Shade Plugin to 2.4.1"
Release Notes - Maven Shade Plugin - Version 2.4.1

https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12317921&version=12332978

Bugs:

 * [MSHADE-148] - Shade Plugin gets stuck in infinite loop building dependency reduced POM
 * [MSHADE-194] - Reporting uses maven-invoker-plugin version 1.9 instead of 1.10

[2015-07-20 19:33] mkordas opened #1426 "Update EqualsVerifier to 1.7.3"
EqualsVerifier Version 1.7.3 - Release Notes

What’s new? Well, you can now …
* …use a protected or default-visibility cachedHashCode field with #withCachedHashCode().
* …have a static final field with null value without getting a NullPointerException.
* …know that several things have been improved behind-the-scenes :).

[2015-07-20 21:08] mkordas opened #1430 "Indentation check do not raise violations for incorrectly indented methods returning arrays"
The following code should raise violation with any reasonable configuration for Indentation check:
[code]
but it doesn't, due to incorrect implementation in https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/MethodDefHandler.java#L55

[2015-07-20 22:26] Vladlis commented on #1377
Well, I also do not see the reason why the following example is ignored
[code]

[2015-07-20 22:41] Vladlis commented on #1377
Looks like it's full of bugs
[code]

[2015-07-20 23:31] romani commented on #1377
that is nonsense, Checkstyle will never catch all craziness of human. NO need to validate that.
We do not put a violation on that code so it is good - too complicated for us.

No need to validate that, as soon as extra symbols is removed (reported by other Check), we will catch that case.

[2015-07-20 23:54] Vladlis commented on #1377
@romani, ok, what about this case?
[code]

[2015-07-21 00:16] romani commented on #1377
no need to check, you do not know type of "foo + bar", so you do not know what "equals" could be called.

[2015-07-21 01:00] rnveach opened #1438 "FallThroughCheck handle finally incorrectly"
Code:
[code]
Config:
[code]
Output:
[code]

Sorry for being late with more issues with this check.
Both A and B cases in the switch are fully terminated, but codestyle says case B isn't fully terminated. It's flaw is that it believes the "finally" section should be the only area to examine, and overrides anything that the try/catch do. if the "finally" section is terminated (thought this is bad pr

[2015-07-21 03:41] romani commented on #1426
merged

[2015-07-21 03:41] #1426 closed

[2015-07-21 03:42] romani commented on #1424
merged

[2015-07-21 03:42] #1424 closed

[2015-07-21 04:12] romani commented on #1398
merged.

[2015-07-21 04:12] #1398 closed

[2015-07-21 16:24] romani commented on #1421
changes of pbaranchikov are merged

[2015-07-21 16:24] #1421 closed

[2015-07-22 00:59] romani commented on #1129
merged.

[2015-07-22 00:59] #1129 closed

[2015-07-22 05:01] romani commented on #1438
That cases should be supported only in case if that will not damage performace dramatically. To cheat Checkstyle is not complicated task for any Check, that is not our target to catch any possible case, it is ok to skip validation if code is complicated.

[2015-07-22 06:47] romani commented on #1006
The main reason of that Check existence is to enforce braces to make each part be on separate line and let user put a break point easily to any line in at complicated code. Single line code is hard to debug .

for (idx = 0; idx <= lastIndex; idx++) if (incomingBlknums.get(idx) == badBlocknum) break;

should be refactored for sure as it is very long line.

for (BDD bdd: aut.invsComps) bdd.free();

[2015-07-22 06:53] ivanov-alex commented on #1369
@WonderCsabo we have merged the changes. Could you please check if it solved your problem? You will need to build snapshot from the master.

[2015-07-22 07:04] ivanov-alex opened #1448 "Add ImportOrder check to default configuration on Checkstyle"
ImportOrder check is not used in default configuration on Checkstyle.
It should be added.

We should also try to minimize amount of conflicts with default configurations of formatters in most common IDEs (Eclipse, IDEA, NetBeans) or advise how formatter settings should be configured to minimize (optimally avoid) conflicts with ImportOrder.

[2015-07-22 07:11] romani commented on #1007
if (name.equals("EBoolean"))              return ePkg.getEBoolean();
        else if (name.equals("EBooleanObject"))   return ePkg.getEBooleanObject();
        else if (name.equals("EByte"))            return ePkg.getEByte();

[code]

How to distinguish simple code from complicated code :) automatically ?
How to catch similarity of code automatically ... ?
That is topic for investigation .
I perso

[2015-07-22 07:26] pbaranchikov commented on #1110
On real code we have not really used enum objects vs enum constants distinguishing. So, we successfully used the check, setting the same regexp for both fields. Other aspects look fine.

[2015-07-22 07:33] MEZk commented on #1448
That would be right. For those who uses IntelliJ IDEA required settings (after we'll decide how to configure ImportOrder) will be:
1) Deselect ```optimize imports```
![optimize imports](https://cloud.githubusercontent.com/assets/7242568/8820272/9b53a4e4-305c-11e5-9389-efc746e64166.png)
2) Select ```Use single class import``` and ```Use fully qualified class names```. Section ```Import Layout``` wi

[2015-07-22 07:40] WonderCsabo commented on #1369
Sure, I am afk till Sunday, then I test it.

[2015-07-22 13:38] romani commented on #1448
That is also required to forbid Idea to use star imports.

[2015-07-22 13:57] romani commented on #1270
coverage is 100% - https://codecov.io/github/checkstyle/checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation?ref=5d967ca3168da2a2d1674683d8a23e921b9f6067

Thanks a lot for your help !

[2015-07-22 13:57] #1270 closed

[2015-07-22 17:55] attatrol commented on #1013
I am on it.

[2015-07-22 19:13] ivanov-alex commented on #1448
"Organize Imports" in Eclipse.
To change settings of "Organize Imports" feature, please go to Window -> Preferences.
In Preferences window select Java->Code Style->Organize Imports.
Default configuration should look as following:
![EclipseDefaults](https://cloud.githubusercontent.com/assets/3833078/8834368/7ec65316-30bc-11e5-85e9-f817d0c5adc3.jpg)
We are going to configure ImportOrder to work with

[2015-07-23 05:31] ivanov-alex commented on #1448
Intellij IDEA settings:
Go to: File->Settings
then in the tree go to: Editor->Code Style->Java
open Import tab and make following settings:
![IDEA settings](https://cloud.githubusercontent.com/assets/3833078/8843671/32ce48b2-3114-11e5-9fe4-5a587e59db99.jpg)
In "Import Layout" on the bottom configure as following:
![IDEA Import Order](https://cloud.githubusercontent.com/assets/3833078/8843722/18867

[2015-07-23 21:06] romani commented on #975
merged

[2015-07-23 21:06] #975 closed

[2015-07-24 04:33] ivanov-alex commented on #1448
NetBeans settings:
On menu select Tools->Options
On Options page go to Editor->Formatting->Java->Imports (see image with markers) and set properties as marked in magenta rectangles.
![NetBeans properties](https://cloud.githubusercontent.com/assets/3833078/8867735/3ee899dc-31d6-11e5-97aa-f57ee4f44ba4.jpg)

[2015-07-24 13:21] msteiger commented on #1002
An alternative might be moving the suppressions into the main config file (suggested in #1051).

[2015-07-25 04:46] romani commented on #1242
assigned to @liscju .

[2015-07-25 05:29] romani commented on #1448
merged.

[2015-07-25 05:29] #1448 closed

[2015-07-25 05:31] romani commented on #1369
I am closing that issue as #1398 is closed, @WonderCsabo as you find smth strange we could do reopen.

[2015-07-25 05:31] #1369 closed

[2015-07-25 05:40] ivanov-alex opened #1464 "Update documentation with Checkstyle configuration for Organize Import in major IDEs"
Default configurations of Eclipse, IDEA, NetBeans should have corresponding Checkstyle configuration of ImportOrder and CustomImportOrder that works from the box

[2015-07-25 13:28] MEZk commented on #965
@romani
1) Why maxLineLength is required?
Answer:
maxLineLength is required only when left curl brace policy is EOL or NLOW. Lets assume that  line's number of characters (here and after line's length) is less than maxLineLength and left curly brace policy is EOL or NLOW then the left curly brace should be placed at the end of line otherwise the Check rises violation. For example:

Lets set maxLin

[2015-07-25 13:59] romani commented on #881
merged.

[2015-07-25 13:59] #881 closed

[2015-07-25 14:17] romani commented on #965
weird, I do not understand explanation, I could understand that it works like that, but I do not understand why "violations" are reported in example. As code is less then maxLineNumber - no violations is expected.
"maxLineLength = 10" is nonsense.

That option is some shade of LineLengthCheck (both of Checks should have the same values for that option), but I do not understand why it is required.

[2015-07-25 14:52] romani commented on #1242
merged.

[2015-07-25 14:52] #1242 closed

[2015-07-25 15:06] ivanov-alex opened #1469 "CustomImportOrder not always reports lexical order violations"
In example below I run ImportOrder and CustomImportOrder on one file.
It has 2 imports in a wrong lexical order. ImportOrder fires 2 violation (message starts with "Wrong order"), while CustomImportOrder fires only one (message starts with "Wrong lexicographical order").

CustomImportOrder should also fire violation for "com.*"

Configuration:
[code]
Source file
[code]
Output
[code]

[2015-07-25 16:29] romani commented on #1469
how IDEs sort such case ? according to ASCII (https://en.wikipedia.org/wiki/ASCII#ASCII_printable_code_chart) "*" has lower code than any letter.

[2015-07-25 19:18] romani opened #1471 "Remove from dependecies deprecated jar commons-beanutils-core.jar"
IDE can not find sources of that library, there is no source in maven
http://central.maven.org/maven2/commons-beanutils/commons-beanutils-core/1.8.3/

Reason:
http://commons.apache.org/proper/commons-beanutils/#BeanUtils_Core_And_Modules

[code]

https://issues.apache.org/jira/browse/BEANUTILS-379
[code]

[2015-07-25 19:21] romani commented on #1471
merged.

[2015-07-25 19:21] #1471 closed

[2015-07-25 19:28] ivanov-alex commented on #1469
IDE also sorts them according to ASCII (* first)

[2015-07-25 19:39] romani commented on #1128
merged.

[2015-07-25 19:39] #1128 closed

[2015-07-26 00:06] romani commented on #1295
all exception are removed from pom.xml , whole package is covered by 100%.

[2015-07-26 00:06] #1295 closed

[2015-07-26 00:42] romani commented on #1464
merged.

[2015-07-26 00:42] #1464 closed

[2015-07-26 00:52] romani commented on #908
all classed are covered.

[2015-07-26 00:52] #908 closed

[2015-07-26 05:47] romani commented on #1289
all Checks are covered as 100%

[2015-07-26 05:47] #1289 closed

[2015-07-27 10:14] WonderCsabo commented on #1369
It seems this fix works for me as expected.

BTW, i think you should push snapshot builds with each commit on `master` to [Sonatype's OSS snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/). That way testing could be easier for users (no need for building CS locally).

[2015-07-27 10:39] ivanov-alex commented on #1239
@ddossot We are reviewing ImportOrder to make it work with major IDEs and reviewed your problem again.
Organize Imports feature works not perfectly in Eclipse. In Mars release they have fixed sorting of non-static imports, but I have checked your case and it still works the same.

I have entered [Eclipse defect](https://bugs.eclipse.org/bugs/show_bug.cgi?id=473629) for your case.
You can vote for

[2015-07-27 10:47] ivanov-alex commented on #525
@mkordas I propose addressing this problem by disabling "blank line" check in CustomImportOrder (separateLineBetweenGroups=false).
Please see below proposed configuration:
[code]

[2015-07-27 16:16] ddossot commented on #1239
@ivanov-alex Thank you for following up on this. I've upvoted the defect :+1:

[2015-07-27 18:31] romani opened #1487 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.ant"
CheckstyleAntTask.java should be covered by 100% UTs.

remove exclude: https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L1164

[2015-07-27 18:37] romani commented on #1487
assigned to @m-mikula

[2015-07-27 20:15] ivanov-alex commented on #1469
One more problem with lexical ordering:

[code]
config:
[code]
Output:
[code]
False positive for 'android.content.Context'. There should be no violation as this is first import in the group.

[2015-07-27 21:23] jshiell opened #1489 "Parse errors can result in a NPE in the SuppressWarningsHolder"
If you have a rules file with a suppression filter configured and you attempt to parse a syntactically invalid file then a NPE will be thrown from the `SuppressWarningsHolder.isSuppressed` method as the `ENTRIES` ThreadLocal has never been populated.

This occurs as the parse exception in `TreeWalker.processFiltered` means that the `walk` methods are never called, and hence the `SuppressWarningsHo

[2015-07-28 15:20] attatrol commented on #56
I am on it.

[2015-07-28 20:15] romani opened #1496 "Investigate TreeWalkerTest.testDestroyNonExistingCache failure on Windows"
https://ci.appveyor.com/project/checkstyle/checkstyle/build/247/job/l23gkyt4msf9liv5#L601

[2015-07-29 06:46] romani commented on #1369
yes, one day I will figure out how to do that automatically by CI (Travis).

[2015-07-29 06:47] romani commented on #525
@mkordas, are you ok with such solution ?

[2015-07-29 06:49] romani commented on #1239
@ddossot and @ivanov-alex  , does it make sense to close this issue as problem is on Eclipse side ?

[2015-07-29 06:51] sabaka commented on #1291
looks like this one is finished

[2015-07-29 06:51] #1291 closed

[2015-07-29 06:52] romani commented on #1287
all checks are covered.

[2015-07-29 06:52] #1287 closed

[2015-07-29 06:53] romani commented on #1292
AbstractHeaderCheck is still not a 100%.

[2015-07-29 07:16] WonderCsabo commented on #1369
No need for that, lots of people already figured that out. :) For example check [our project](https://github.com/excilys/androidannotations) (*.travis.yml*, *settings.xml*). If you want i can send a PR.

[2015-07-29 07:28] romani opened #1509 "ArrayTrailingComma: Extra coma is required in multiline array value"
from MainTest.java of checkstyle source

[code]

veird part is ""3:14", }," checkstyle demand that coma.
Config is checkstyle_checks.xml
##

[2015-07-29 07:46] romani opened #1510 "Investigate UTs failure to MainTest on Windows"
https://ci.appveyor.com/project/Checkstyle/checkstyle/build/285/job/es7cf2tftn4okjby#L664

https://travis-ci.org/checkstyle/checkstyle/jobs/73144166#L739

[2015-07-29 08:32] MEZk commented on #965
@romani
maxLineLength allows user set the maximum amount of characters in line for the Check, user can regulate this amount according to his needs. So if left curly brace policy is EOL this means that left curly should be at the end of line, but there might be a very long lines and if we place left curly at the end of the line it will make the line even longer, but if we do not, the Check will ris

[2015-07-29 14:53] ddossot commented on #1239
Agreed.

[2015-07-29 14:53] #1239 closed

[2015-07-29 16:19] ivanov-alex commented on #1273
It appears that CustomImportOrder handles groups in a pretty strange way.
For example, static imports can be assigned only to STATIC or NON_GROUP. They cannot be assigned to SAME_PACKAGE, STANDARD, THIRD_PARTY or SPECIAL groups.

Example with SPECIAL:
[code]
[code]
`test.java:4: Import statement is in the wrong order. Should be in the 'SPECIAL_IMPORTS' group.`

In a similar way, there is a [UT](ht

[2015-07-29 17:42] romani commented on #965
2 characters is never a root problem of long line.
Please call me to discuss that issue.

[2015-07-29 18:14] mkordas commented on #1510
@romani - what do you want to investigate here? Reason is quite obvious from failure message and the easiest solution would be to use `TemporaryFolder` rule instead of creating file manually in `testLoadProperties_IOException`.

Failure message:
[code]

[2015-07-29 18:32] MEZk opened #1511 "RightCurlyCheck should print user a column number in log message."
When we use right curly policy ALONE  it is not clear to what curly brace is violated in following code example and etc:
[code]
![screenshot](https://cloud.githubusercontent.com/assets/7242568/8966273/2459a1e4-3639-11e5-9dd0-f166e1e16f54.png)

We need to print user a column number to exactly point him to a problem.

[2015-07-29 22:35] romani commented on #1510
that is task for myself , test is created to do coverage , launch on linux and windows works differently and go paths so coverage is not 100% event is it 100% on linux. I will launch it on Windows today

[2015-07-30 03:29] romani commented on #1510
merged.

Reason:
That works fine on Linux/Unix, but ....
It's not possible to make a file unreadable in Windows NTFS for owner.
http://stackoverflow.com/a/4354686
https://github.com/google/google-oauth-java-client/issues/55#issuecomment-69403681

[2015-07-30 03:29] #1510 closed

[2015-07-30 03:57] romani commented on #1496
problem was not reproduced on local Windows7 but reproducible on appveyor, reason was in missed in valid for Windows symbol https://support.microsoft.com/en-us/kb/177506

[2015-07-30 07:10] romani commented on #1496
Fixed, https://ci.appveyor.com/project/romani/checkstyle/build/job/p7eebh07fnjh4jj9
reason was :
// https://support.microsoft.com/en-us/kb/177506 but this only for NTFS
// WindowsServer 2012 use Resilient File System (ReFS), so any name is ok

New problem:
https://ci.appveyor.com/project/Checkstyle/checkstyle/build/302/job/9uhm9vkgr1yei8jp#L1296 , for unclear reason coverage is different on appvey

[2015-07-30 17:15] romani commented on #1496
fixed by using OS depended UTs

[2015-07-30 17:15] #1496 closed

[2015-07-30 19:40] romani commented on #1019
merged.

[2015-07-30 19:40] #1019 closed

[2015-07-30 19:45] romani commented on #1511
additionally please do:

1)

add to javadoc

2)

        final DetailAST rcurly = details.rcurly;
...
        final DetailAST lcurly = details.lcurly;
        validate(details, rcurly, lcurly);

just put as argument "details" only.

3)

we need to make that method static, to clearly indicate that it is pure algorith without side-effects.
It could return key violations message string , and all logg

[2015-07-30 20:12] mkordas commented on #525
Not really - what I want would be rather something like that:
[code]

[2015-07-30 20:36] liscju commented on #693
I created a test case for this issue in commit
https://github.com/liscju/checkstyle/commit/d1c40d50c69e6688c5a7e09318cf120d6fe2655f
and not found specified difference between violations. I dont know whether indentation comments (like //indent:8 exp:8) change anything in checking lines commented already like:
int[] array = { //comment ! //indent:8 exp:8
but if not, issue can be closed.

[2015-07-30 20:38] romani commented on #693
@mkordas , can review that issue.

[2015-07-30 22:28] romani commented on #1296
merged

[2015-07-31 04:34] romani opened #1517 "Investigate how to resolve copy-paste from other projects at ConfigurationLoader"
review https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/ConfigurationLoader.java#L482 and methods below.

Investigate how can we reuse that methods from existing libraries, new dependencies are not very desirable but we could extend our dependencies.

We could move that methods in some util class also

[2015-07-31 06:27] romani commented on #1266
merged

[2015-07-31 06:27] #1266 closed

[2015-07-31 07:35] Bhavik3 commented on #1267
@romani
I am poor working with maven. I can't find how to generate Jar file.
Never work on Integration test. Need help here..

[2015-07-31 10:04] attatrol commented on #56
This is a method from checkstyle/Main.java
<pre><code>
    private static int runCheckstyle(CliOptions cliOptions)
            throws CheckstyleException, UnsupportedEncodingException, FileNotFoundException {
        // setup the properties
        final Properties props =
                cliOptions.propertiesLocation != null
                        ? loadProperties(new File(cliOptions.propertiesL

[2015-07-31 10:08] attatrol commented on #56
@romani
Can you clear the rules of NPath calculation of try-catch-finally construction?
Personally to me it resembles switch operator with catch blocks as cases.

[2015-07-31 18:26] romani commented on #1511
4)
https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/property_types.xml#L288

next statement should be updated to "part of a multi-block statement (one that directly contains multiple blocks: if/else-if/else or try/catch/finally)."

source: http://google.github.io/styleguide/javaguide.html#s4.1.3-braces-empty-blocks

[2015-07-31 19:42] MEZk commented on #1511
@romani
We should also provide internationalization for all new messages in properties according to context, but it should be done by those who are know the language.

From my point of view, we should print column number immediatly after ```}``` in messages this will be a good format for new messages:

```'}' (column ##) should be alone on a line.```

What do you think?

[2015-07-31 21:20] romani commented on #1511
'}'  at column ## should be alone on a line.

[2015-08-01 13:57] #1308 closed

[2015-08-01 13:57] romani commented on #1308
done.

[2015-08-01 14:07] romani opened #1525 "BooleanExpressionComplexity complains about similar and simple expression"
Base on discussion at https://github.com/checkstyle/checkstyle/pull/1468, BooleanExpressionComplexity (http://checkstyle.sourceforge.net/config_metrics.html#BooleanExpressionComplexity) Check should not raise violation (with special property) of code like this:
[code]
It is not always possible to refactor that code and in current form performance is the same be readability is better.

 before impl

[2015-08-01 16:43] #1052 closed

[2015-08-01 18:14] mkordas opened #1530 "Detect nested enums marked as static in RedundantModifier check"
Nested enum types are always static by default.

[code]

[2015-08-01 23:31] mkordas opened #1534 "Remove unnecessary consecutive lines in Checkstyle code"
Two or more consecutive empty lines usually are totally unnecessary.

The following regexp can be used to detect such cases: `\r?\n[\t ]*\r?\n[\t ]*\r?\n`.

Additional step could be to enforce no future violations with RegexpMultiline check.

[2015-08-02 14:09] mkordas opened #1537 "Detect public constructors in non-public classes in RedundantModifier check"
Public modifier for constructors in non-public classes is always obsolete.
[code]

[2015-08-02 15:17] MEZk commented on #333
@romani
The Check throws NPE when running against checkstyle source codes with checkstyle-tester and while use mvn clean verify, but works fine on guava library. I'm trying to resolve these problems.

See [log](https://github.com/MEZk/MEZk.github.io/blob/master/CommentsIndentationLog.txt)

[2015-08-02 17:21] MEZk commented on #333
@romani
I added additional null-check for [nextStatement](https://github.com/alexkravin/checkstyle/blob/CommentsIndentationCheck%23333/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/CommentsIndentationCheck.java#L142) and [prevBlock.getLastChild()](https://github.com/alexkravin/checkstyle/blob/CommentsIndentationCheck%23333/src/main/java/com/puppycrawl/tools/checkstyle/checks/ind

[2015-08-02 17:40] MEZk opened #1539 "MultipleVariableDeclarationsCheck throws NPE when variable is declared inside case block."
MultipleVariableDeclarationsCheckTest throws NPE when variable is declared inside case block.

Example:
[code]

Stack trace:

[code]

Problem location:
[nextNode](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/MultipleVariableDeclarationsCheck.java#L91) can equal to null and should be checked.

[2015-08-02 20:00] mkordas commented on #1539
Thanks for the report. Offending commit: 192a2eecfeb8dcc5e8dd000599c72758ad46868f - @baratali, can you have a look?

[2015-08-02 20:06] MEZk commented on #1539
@mkordas
This issue was discovered when I tried to implement ITs for CommentsIndentationCheck based on UT's input files. So it would be good to resolve that issue to let me use such inputs without problems.

[2015-08-02 20:07] baratali commented on #1539
@mkordas, yes, I'll provide a fix.

[2015-08-02 20:17] MEZk commented on #1173
@romani
Now we have another problem related to this issue.

I tried to add JaCoCo plugin into pom.xml:

[code]

and in reporting section:

[code]
And I have this info-message:
[code]

but result remains  the same.

[2015-08-02 20:57] MEZk commented on #1173
@romani
The problem was resolved.
maven-failsafe-plugin also requires inside configuration section:
[code]
In addition to this the location of jacoco.exec file should be declared directly for prepare-agent and report:

[code]

[code]

[2015-08-02 21:02] baratali commented on #1539
Pull request: https://github.com/checkstyle/checkstyle/pull/1541

[2015-08-02 21:33] MEZk commented on #1173
@romani
Coverage reports with excludes (for JaCoCo is the same as for Cobertura):
1) Cobertura
![cobertura](https://cloud.githubusercontent.com/assets/7242568/9028099/2a89bd7a-3976-11e5-845d-08ddb454dadf.png)
2) JaCoCo
![jacoco](https://cloud.githubusercontent.com/assets/7242568/9028100/2ab1ff56-3976-11e5-9498-ba0c6f5bde19.png)

[FULL REPORTS](http://mezk.github.io)

[2015-08-03 01:42] romani commented on #1534
merged.

[2015-08-03 01:42] #1534 closed

[2015-08-03 01:59] romani commented on #1537
should be added to javadoc and  xdoc as example

[2015-08-03 02:00] #1539 closed

[2015-08-03 02:11] romani commented on #333
ok, all cases should appear in UTs.
As we detected that problem on Checkstyles code, please add checkstyle code to Travis before PR with fix for that issue.

please generate reports for projects and lets see result, please do PR and we will start code review process.

not required, we do not do that for now, you can skip it if you want, but I can not forbid you to do that.

do all that is required

[2015-08-03 02:18] romani commented on #1173
1)

please report issue against Jacoco and put there link to it. For now Cobertura looks better for our project, am I right ?

2) please create jacoco coverage confing in special profile ("-Pjacoco") of pom.xml . We will stay with cobertura till we enforce 100% on all classes (end of August). We could extend our Travis to test coverage by jacoco too, eventually the best tool survive.  On this poin

[2015-08-03 02:24] #1296 closed

[2015-08-03 09:22] MEZk commented on #333
@romani

The problem appeared when I added new test input file at IT's resource folder with code which was mentioned above. Travis CI use checkstyle-tester to check  checkstyle's SNAPSHOTS. ITs input files are not excluded, that is why they are checked? Or did I misunderstand something?

[2015-08-03 20:37] MEZk commented on #1173
@romani
I'll report issue against JaCoCo when you check [PR](https://github.com/checkstyle/checkstyle/pull/1549) with new JaCoCo profile of pom.xml.

I think it will not make sense if JaCoCo's team does not fix bug related with fully uncovered class (in our case ImportOrderCheck and ImportOrderOption), because in this case we can not use haltOnFailure flag properly.

[2015-08-03 20:40] Godin commented on #1173
@MEZk let me quickly check PR #1549 about problem with class ImportOrderCheck

[2015-08-03 20:41] MEZk commented on #1173
@Godin It would be great, maybe I missed something.

[2015-08-03 21:32] Godin commented on #1173
@MEZk ImportOrderCheckTest uses PowerMock, which retransforms classes at runtime, so that what is actually executed isn't an original test and that's why JaCoCo isn't making an association to original source code. This is well-known difficulty" of usage JaCoCo with PowerMock. I believe that usage of offline instrumentation will help you.

[2015-08-03 22:49] MEZk commented on #1173
@Godin
Offline instrumentation is ok for that purpose, thank you for help.

[2015-08-04 00:54] rnveach opened #1551 "FinalLocalVariable doesn't report variable when first assignment is separated"
Example:
[code]

Config:
[code]

Checkstyle reports no errors even though the variable is only assigned once and can be given the "final" modifier. It should report the error on the line declaring the "test" variable.
This fails because Checkstyle doesn't count the number of assignments. It removes the variable on the first assignment it finds, and doesn't realize that the variable declaration gav

[2015-08-04 03:47] romani commented on #1511
merged finctional changes and refactoring.

thanks a lot!

[2015-08-04 03:47] #1511 closed

[2015-08-04 04:53] romani commented on #333
yes, it was my bad, https://github.com/checkstyle/checkstyle/blob/master/.travis.yml#L78
we already do that. please ignore my request.

[2015-08-04 11:17] Vladlis opened #1552 "HiddenFieldCheck doesn't report violation when a class member is defined in static or non-static block"
Here is an example for a static block:
[code]

[2015-08-04 20:14] Godin commented on #1173
@MEZk there is an idea to provide pluggable mechanism for filtering for quite some time, but currently many synthetic constructs are not filtered, so options are
* explicitly cover them - this is definitely possible in cases as enum, private constructors, getters/setters, while might be difficult in case of switch-on-string
* exclude whole class

[2015-08-05 03:52] romani commented on #1267
ITs are just another UTs but working after package phase is done , so they could test binaries as it would be done by user.

https://github.com/checkstyle/checkstyle/blob/master/config/assembly-bin.xml#L14 here is how "-all" jar is generated. Please update that config to gnerate the same content jar but without version there.

Here is maven plugin - https://github.com/checkstyle/checkstyle/blob/ma

[2015-08-05 09:58] Vladlis commented on #1552
My bad, <code>String bar</code> is not a class member and cannot be accessed from <code>void method(int bar)</code>

[2015-08-05 09:58] #1552 closed

[2015-08-05 14:07] romani commented on #1294
now whole package is 100% covered.

[2015-08-05 14:07] #1294 closed

[2015-08-05 18:37] mkordas opened #1555 "Fix issues reported by IntelliJ IDEA inspections in Checkstyle code"
IntelliJ provides a lot of useful inspections: https://www.jetbrains.com/idea/features/code_analysis.html

All reasonable errors and warnings should be fixed.

[2015-08-05 20:56] MEZk commented on #1555
@mkordas
Can I help you to fix IDEA's code inspection issues? I use IDEA too)

[2015-08-05 21:06] mkordas commented on #1555
@MEZk - sure, any help is welcome. Could you maybe focus on Java/Abstraction issues?

Each of these rules can be fixed in separate PR:
* Cast to a concrete class
* Chain of 'instanceof' checks
* Feature envy
* 'instanceof' a concrete class
* Local variable of concrete class
* Magic number
* Method parameter of concrete class
* Method return of concrete class
* Overly strong type cast
* Private met

[2015-08-05 21:11] MEZk commented on #1555
@mkordas
Ok, Abstraction issues are mine.

[2015-08-06 22:45] rdiachenko opened #1566 "Fix violations reported by Checkstyle checks"
All reasonable violations should be fixed.

All Checks have to be applied to Checkstyle code base.

[2015-08-07 03:45] romani opened #1571 "move all dtd schemas to sourceforge site"
http://www.puppycrawl.com/dtds/configuration_1_3.dtd and others dtds from configs need to be hosted at sourceforge site
all configs need to be updated

As a separate commit:
Additionally investigate ability to reuse dtd from local to avoid numerous build failures due to internet connection problems:

http://www.mojohaus.org/xml-maven-plugin/examples/catalog.html

Location of DTD - https://github.c

[2015-08-08 09:02] romani commented on #1087
existing PR has to be finished.

[2015-08-08 10:03] #1262 closed

[2015-08-09 02:37] romani commented on #291
done.

[2015-08-09 02:37] #291 closed

[2015-08-09 05:15] rdiachenko opened #1627 "UnusedImports: make 'processJavadoc' property value 'true' by default"
@rdiachenko:

@romani there is an option in UnusedImports processJavadoc with false default value. I changed it to true so violations disappeared.

@mkordas:

@rdiachenko @romani - shouldn't we make it default option then? Is there any serious impact on performance with this option enabled?

@rdiachenko:

@mkordas there is a reason why we made the default value as false (http://checkstyle.sourcefo

[2015-08-09 17:40] MEZk commented on #1173
@romani
We have another problem with Power Mock and offline instrumentation. If ```mvn -P jacoco clean verify``` is used, 4 NPE will occur during test phase.
See [log](https://raw.githubusercontent.com/MEZk/MEZk.github.io/master/jacoco_run_log.txt).

@Godin
Could you please take a look?

[2015-08-10 07:05] romani commented on #1173
[code]

That exception is happening from our code , please investigate a problem and provide workaround if possible.

[2015-08-10 11:27] MEZk commented on #1173
@romani
I use reflection in tests to avoid 2 NPE:
[code]

We still have 2 NPE:
[code]

testloadSuppressionsURISyntaxException  should invoke loadSuppressions which should throw CheckstyleException, but I can't imagine test input when URISyntaxException is happened [here](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/filters/SuppressionsLoader.ja

[2015-08-10 11:43] Godin commented on #1173
@MEZk I'm currently in the way from vacation back home, so can take a look only very late today or tomorrow. But seems that this is not needed and issue not truly relate to JaCoCo. Isn't it?

[2015-08-10 11:51] MEZk commented on #1173
@Godin
Yes, I think I'll solve that problem with NPE. Thank you for answer.

[2015-08-10 12:30] romani commented on #1173
getResource method could throw such exception, I do not know how to make such use-case, most likely it is not possible if application is written correctly. Testing of that exception is dictated by 100% coverage demand, so I did such a testing with hack by PowerMock.

[2015-08-10 13:43] romani commented on #1173
your update for UTs is ok, lets finish with configuration, see comment in PR

[2015-08-11 20:53] zheller opened #1664 "Indentation check for annotations with arguments on multiple lines blows up"
[code]

[JsonView looks like it came from `org.codehaus`.](http://grepcode.com/file/repo1.maven.org/maven2/org.codehaus.jackson/jackson-mapper-asl/1.9.2/org/codehaus/jackson/map/annotate/JsonView.java)

This expects the final `})` to be indented. This seems wrong. Thanks!

[2015-08-11 20:59] romani commented on #1664
please reproduce that by checkstyle 6.9 release , CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

2.16 - is version of maven plugin, different project and team.

[2015-08-12 05:20] romani commented on #965
merged.

[2015-08-12 05:20] #965 closed

[2015-08-12 12:05] Schattensilber opened #1668 "Documentation: JavadocMethod Examples typo"
In the documentation http://checkstyle.sourceforge.net/config_javadoc.html, in the section for JavadocMethod: Examples, the last example reads:

" To configure the check for ignoring methods named foo(),foo1(),foo2(), etc.:
< module name="JavadocMethodRegex">
 < property name="ignoreMethodNamesRegex" value="^foo.*$"/>
< /module>"

The module name should be "JavadocMethod" instead of "JavadocMethod

[2015-08-12 14:44] romani commented on #56
Sorry for delay, i am on vacation, will answer you on beginning of September

[2015-08-12 17:58] jpraet opened #1669 "JavadocVariableCheck configuration option to skip enum values"
When you activate the JavadocVariableCheck it also requires you to add a javadoc comment to each enum value. It would be nice if there was a configuration option to disable this check for enums.

[2015-08-12 18:58] MEZk commented on #1669
@jpraet
You can specify tokens which are checked by the JavadocVariableCheck.

For example:
[code]

Default tokens: VARIABLE_DEF, ENUM_CONSTANT_DEF.
Acceptable tokens: VARIABLE_DEF, ENUM_CONSTANT_DEF.

@romani
We should update documentation.

[2015-08-12 19:12] romani commented on #1669
Can you suggest smth common for all Checks ?

[2015-08-12 22:27] mkordas opened #1676 "Enable Checkstyle checks for 'gui' package"
Follow-up to #1661.

All Checkstyle check should be enforced also on GUI package.

Exclusion `**/gui/*` needs to be removed from https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L31

[2015-08-12 23:48] snowe2010 opened #1681 "Checkstyle reports errors in comments"
I don't know why this is even a thing, but no static analysis tool should check things in comments.

These lines:
[code]

Give me errors, even though I've made the `system` and `printStackTrace` calls **invalid** by adding a letter in front of them. And no I'm not going to switch to using a logger just to try out a few things that I want to see very obviously in the output. I don't want a logger s

[2015-08-13 04:42] rdiachenko commented on #1676
So, there are two places where we can skip Checkstyle verification for certain packages/classes:
- ant-phase-verify.xml
- suppressions.xml

Why do we have such inconsistency? It is not obvious to have suppressions in two places.

[2015-08-13 04:46] romani commented on #1676
it is history, suppression was not implemented at the beginning. I voting for removal of "exclude" from ant config.

[2015-08-13 14:57] robertwhitebit commented on #618
This problem is far more critical because it effects all methods (not only anonymous classes ones) which are using the @Override annotation or any other annotation.

Using your configuration and checkstyle version 6.9, following simple class does *not* produce a warning as well.
[code]

[2015-08-13 15:37] Bhavik3 commented on #1267
@romani
I don't know how to generate -all jar. You can assign it to someone. I don't think I can find some maven plugin to generate jar with particular name.

[2015-08-13 15:45] romani commented on #1267
It is ok, task is not simple.

Alljar is generated by mvn clean package -Passembly

[2015-08-13 16:09] ivanov-alex commented on #1273
@romani Could you please take a look at my comment above? Is it acceptable? Maybe you have better idea or different vision.

[2015-08-14 13:52] romani commented on #751
merged

[2015-08-15 10:00] MEZk commented on #1668
@romani
You can close the issue.

[2015-08-16 05:46] jsotuyod commented on #1489
I have just came accross this very exception, in a completely different environment.

I injected Checkstyle 6.9into the latest maven checkstyle plugin on Maven 3. Running a simple `mvn checkstyle:checkstyle` works like a charm, BUT the moment I tell Maven to run modules in parallel: havoc.

`mvn checkstyle:checkstyle -T1C`

	at com.puppycrawl.tools.checkstyle.api.FilterSet.accept(FilterSet.java:88

[2015-08-16 11:37] liscju opened #1718 "Checkstyle GUI throws UnsupportedOperationException"
Cause is change : https://github.com/checkstyle/checkstyle/commit/13900919907b38384a0405d349cfc659b2b3d985#diff-f3e21c87ead74b564a9c54eb616d3d6dR217

getLines2position after this change returns unmodifiable copy of lines2positions but its usages use it as modifiable original list:
https://github.com/checkstyle/checkstyle/blob/13900919907b38384a0405d349cfc659b2b3d985/src/main/java/com/puppycrawl/to

[2015-08-16 11:53] romani commented on #1718
that change was done during update for Idea static analysis validation.

@mkordas , please reconcile Idea and GUI

[2015-08-17 03:44] romani commented on #1718
merged , @liscju , please confirm.

[2015-08-17 03:44] #1718 closed

[2015-08-17 04:24] romani commented on #1243
@baratali , please put there link to Eclipse false-positive that we found.

[2015-08-17 04:24] #1243 closed

[2015-08-17 06:53] liscju commented on #1718
@romani checked , now works fine

[2015-08-18 06:45] #1173 closed

[2015-08-19 07:05] liscju commented on #1537
This is an example in which is not obsolete:

[code]
[code]

Making ProtectedClass constructor not public result in not possibility of creating object outside the package in class which extends public class ClassWithProtectedInnerClass.

[2015-08-20 18:42] mmoayyed opened #1804 "Java 8 supported checks?"
I am looking around for Checkstyle checks that strictly enforce Java-8 syntax. Are there any that be configured to force the use of streams or lambdas?

[2015-08-20 20:42] rdiachenko opened #1805 "IllegalType: add 'validateAbstractClassNames' option"
Consider adding a new ```validateAbstractClassNames``` option for <a href="http://checkstyle.sourceforge.net/config_coding.html#IllegalType">IllegalType</a> check. Default value should be ```false```.

**Note:** all the current suppressions for this check should be solved after introducing the aforementioned option.

[2015-08-20 22:26] don-vip opened #1833 "Redundant modifier false positive for abstract classes in interfaces (6.9)"
Hi,
The new check for redundant modifier in version 6.9 triggers one false positive in our project:

https://josm.openstreetmap.de/jenkins/job/JOSM/69/checkstyleResult/NORMAL/

"abstract" is not redundant => removing it causes a compile error.

[code]
[code]

[2015-08-21 17:57] ndbernardi commented on #1489
+1, seeing the same on Maven, but in my case not even disabling parallel execution fixes the issue...

[2015-08-22 13:55] baratali opened #1854 "New option in TrailingCommentCheck"
In some places trailing comments are useful. For example:
[code]
Detailed description of the problem: http://roman-ivanov.blogspot.com/2013/10/trailing-comment-check-false-positives.html

Need to investigate cases when trailing comments are required and update TrailingCommentCheck to have an option which suppresses violations on them.

[2015-08-23 06:52] codemanmeet commented on #1019
@romani Just wanted to understand, even if my option is
``<module name="RightCurly">
      <property name="option" value="same"/>
      <property name="tokens" value="CLASS_DEF,METHOD_DEF,CTOR_DEF,LITERAL_FOR,LITERAL_WHILE,LITERAL_DO,STATIC_INIT,INSTANCE_INIT"/>
    </module>``

the following should not give me any error right?
``public String getTypeText() { return "int"; }``

[2015-08-24 02:31] sabaka commented on #1010
covered

[2015-08-24 07:37] Eijsinkdavid opened #1878 "Incorrect handling of Javadoc for generic type <P>"
I have a generic type P in my class, like this:

    /**
     * @param <P> The type of p
     */
    public class Thing<P> {
    }

Checkstyle gives me a warning that I have to document my generic type (I think it's parsing &lt;P> as an HTML paragraph)

[2015-08-25 12:34] romani commented on #655
merged as FF

[2015-08-25 12:34] #655 closed

[2015-08-25 13:19] romani commented on #1537
1) please update javadoc and xdoc with that code example, it is not obvious.

2) please update commit message to have "issue #xxxxx" (space between)

3) please split checkstyle code update and Check update to different commits of the same PR (each commit should ref to the same issue).

[2015-08-25 13:25] #1010 closed

[2015-08-25 13:29] romani commented on #1804
please provide example of what you want.

[2015-08-25 13:34] romani commented on #1833
please provide code example and config to let us easily reproduce a problem and fix by UT.

you can use out CLI to reproduce a problem - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-08-25 13:39] romani commented on #1878
prove: https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javadoc.html#CHDHJECF

[2015-08-25 13:56] baratali commented on #1878
``<P>`` is parsed as parameter, not as a paragraph.
[code]

[2015-08-25 14:05] romani commented on #1878
@Eijsinkdavid , please provide Check config to let us clearly understand where is problem.
please  reproduce problem by CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-08-25 16:02] mmoayyed commented on #1804
For example, I want all loops be used using the collect() API and I want checkstyle to warn me to strictly use the new syntax.  There are many other similar examples available.

[2015-08-25 16:49] romani commented on #1804
unfortunately, there is no such Checks, it might be possible to implement but all discussion about this should be done in our main-list - https://groups.google.com/forum/#!forum/checkstyle-devel .

[2015-08-25 16:49] #1804 closed

[2015-08-25 21:46] sabaka opened #1898 "Move utils classes to utils package."
Utils shouldn't be spread along all project and especially it shouldn't be placed in api package.

[2015-08-25 22:14] don-vip commented on #1833
Sure, here it is:
[code]
[code]

[2015-08-25 23:19] romani commented on #1833
classes inside of interfaces :) , that is definitely missed point in out UTs.
We need to also recheck all other modifiers of inner classes , example - http://stackoverflow.com/questions/2400828/inner-class-within-interface

[2015-08-26 12:01] romani opened #1900 "Unexpected logic for '}' location with "same" mode"
[code]

1)
/var/tmp/A.java:10:10: '}' should be on a new line.
/var/tmp/A.java:10:10: '}' should be on the same line.

that is problem and weird - the same symbol and opposite demands

2)
/var/tmp/A.java:3:45: '}' should have line break before.

that is not want described in our documentation, and that look like a bug as we have mode "same" it demand to place it on new line as "alone" do.
So we ne

[2015-08-26 12:04] romani commented on #1019
@codemanmeet , thanks for reporting that for now that is how it worked for long time ("same" mean "same with next " not a "same with } ").
But some improvements should be done: https://github.com/checkstyle/checkstyle/issues/1900

[2015-08-26 14:51] codemanmeet commented on #1900
Thanks for taking this forward, @romani

[2015-08-26 15:07] MEZk commented on #1019
@codemanmeet
Right curly brace polisy which is set to ``same`` means that the right curly brace must be on **the same line** as the **next part of a multi-block statement** (one that directly contains multiple blocks, generally: if/else-if/else or try/catch/finally. For example:
[code]

Please check [documentation](http://checkstyle.sourceforge.net/property_types.html#rcurly).

But, I agree that `

[2015-08-26 15:54] MEZk commented on #1900
@romani
1) Why did you use checkstyle-6.9-SNAPSHOT-all.jar ? A few bugs were fixed after my changes in checkstyle-6.9 (RELEASE).
2) I ran checkstyle-6.9-all.jar (RELEASE version) on your test class:

[code]

Correct. Should be on the same line as the next statement.
[code]

Strange behaviour:
[code]
3)
6.10-SNAPSHOT-all.jar report (after fix by @liscju, 1e6dc8f4eab264568db73a663e9c0d9528d2ffe1)
[c

[2015-08-26 16:05] romani commented on #1900
my bad.

We need to change a message as it is not clear what does "same line" mean. Xdoc has to be updated as well as mentioned in issue description.

[2015-08-26 18:32] dkulp opened #1903 "NPE in MutableExceptionCheck.isExtendedClassNamedAsException"
Since Checkstyle 6.7, one of the classes in Apache Camel is resulting in a NPE in MutableExceptionCheck.

[code]

The class in question is:

https://github.com/apache/camel/blob/master/camel-core/src/main/java/org/apache/camel/util/concurrent/AtomicException.java

[2015-08-26 19:52] romani commented on #1903
http://checkstyle.sourceforge.net/config_design.html#MutableException has options , please provide link to checkstyle config.

[2015-08-27 11:30] Eijsinkdavid commented on #1878
Ok I found out the problem and I feel a bit silly now. The Eclipse auto formatter parsed the <P> as a parameter and added some whitespace (newlines and tabs) in the Javadoc comments. I didn't think this whitespace would matter to checkstyle, but it does (which is reasonable). Apparently, my beef is with the Eclipse Javadoc auto-format functionality, not with Checkstyle.

[2015-08-27 12:00] romani commented on #1487
@m-mikula , do you plan to finish that issue?

[2015-08-27 12:15] m-mikula commented on #1487
Jup, but I am currently preparing a wedding I'll finish it on sunday
Am 27.08.2015 14:01 schrieb "Roman Ivanov" <notifications@github.com>:

[2015-08-27 13:16] romani commented on #1878
please confirm one more time that warning that you mentioned is not from Cehckstyle , if so , please close issue.

[2015-08-27 13:17] #1878 closed

[2015-08-27 14:44] Vladlis opened #1930 "EqualsAvoidNull check should should check String concatenations"
Now all concatenations of objects in EqualsAvoidNull check are considered unsafe, however if any String field is concatenated with any other object, then result won't be null

[2015-08-28 13:53] romani commented on #1377
merged

[2015-08-28 13:53] #1377 closed

[2015-08-28 17:48] romani commented on #1805
merged.

[2015-08-28 17:48] #1805 closed

[2015-08-28 17:52] romani commented on #1537
merged

[2015-08-28 17:52] #1537 closed

[2015-08-29 06:33] romani commented on #1469
merged

[2015-08-29 06:33] #1469 closed

[2015-08-29 15:33] lkoe commented on #569
Any update on this? I'd prefer to get rid of my shady workaround one day...

[2015-08-29 15:47] romani commented on #569
sorry I forgot about this, I put special tag to do that ASAP, but it will not be in 6.10 release (31 August)

[2015-08-30 11:41] baratali opened #2029 "New option in CyclomaticComplexityCheck: Treat SWITCH as single desicion point."
The Check should have an option to treat whole SWITCH as one desicion point and skip its CASE blocks.
PMD already has rule with similar behaviour: [ModifiedCyclomaticComplexity](https://pmd.github.io/pmd-5.3.3/pmd-java/rules/java/codesize.html#ModifiedCyclomaticComplexity)

[2015-08-30 13:59] baratali opened #2031 "Option 'ignoreMethods' is useless in DeclarationOrderCheck"
The Check has hardcoded order of class members:
1. Static fields
2. Instance fields
3. Constructors
4 .Methods

The Check warns on class member (i.e. constructor) if something with **bigger index** has been met earlier (i.e. method).

Purpose of ignore* option is to ignore related violation, however it still impacts on other class members.

[Example how ignores work](https://github.com/checkstyle/

[2015-08-30 16:35] romani commented on #2031
merged

[2015-08-30 16:35] #2031 closed

[2015-08-30 16:37] romani commented on #1293
merged

[2015-08-30 16:37] #1293 closed

[2015-08-30 21:01] michael-o opened #2034 "Use StandardCharsets and get rid of UnsupportedEncodingException"
`DefaultLogger` and `XMLLogger` shall use `java.nio.charset.StandardCharsets#UTF_8` in the writer constructors. UTF-8 must be supported by default by any JVM implementation. This will allow to remove the `throws UnsupportedEncodingException` on the constructors.

[2015-08-31 05:08] romani commented on #1245
fixed by 3ef918920c58c550169ccef3cfe1706aede11a6e

[2015-08-31 05:08] #1245 closed

[2015-08-31 05:08] romani commented on #1304
fixed by d740f2e1cdb05f20a48bf7d5dcebdcd0faae6ddd , 5922d5a6730d7582d7d66121eb911ef9426f9e24

[2015-08-31 05:08] #1304 closed

[2015-08-31 19:53] romani commented on #1489
checkstyle work only on compilable sources.

more details at https://github.com/checkstyle/checkstyle/pull/2036#issuecomment-136481616

[2015-08-31 19:53] #1489 closed

[2015-08-31 19:57] romani commented on #1087
#1771 , #1723

[2015-08-31 19:57] #1087 closed

[2015-08-31 19:59] #1898 closed

[2015-08-31 20:30] mkordas opened #2054 "Fix all issues found by Codacy static analysis tool"
Here's current status:
[![Codacy Badge](https://api.codacy.com/project/badge/3adf12d434314ba8b38277ea46d3c44b)](https://www.codacy.com/app/kontakt/checkstyle)

[2015-08-31 23:01] romani commented on #1681
@snowe2010 , please provide config that cause problem on this code.

[2015-09-01 04:16] romani commented on #1566
all violations are resolved or suppressed with reason description

[2015-09-01 04:16] #1566 closed

[2015-09-01 04:16] romani commented on #1555
all violations are resolved.

[2015-09-01 04:16] #1555 closed

[2015-09-01 04:37] sabaka opened #2062 "Message in SummaryJavadocCheck"
I don't understand what does it mean "First sentence should be present.".
Imagine you get it at 4 am by maven and try to find out what you should do.

[2015-09-01 04:38] romani commented on #1676
fixed by https://github.com/checkstyle/checkstyle/commit/3cef81032c4d94b80c7d0780a934f94a988b7290

[2015-09-01 04:38] #1676 closed

[2015-09-01 06:01] romani opened #2063 "create separate web page for old release notes"
release notes page is too big, and people do not need old releases.
we needto create release_notes_old.html and put there all releases that older then 5.8 release.

[2015-09-01 06:24] romani commented on #945
we need a UT that validate that All Checks that exists in our code are referenced at checkstyle_checks.xml

[2015-09-01 09:16] Bananeweizen opened #2064 "contradictory checks require final and no final"
Since using the Eclipse Checkstyle plugin 6.9 (previously 6.8) we have some findings where 2 checks contradict each other:
* "Redundant modifiers" requires to remove the final declaration
* "Final class" requires to add it.

sample code
[code]

[2015-09-01 14:22] romani opened #2065 "broken compatibility with maven-checkstyle-plugin:2.15 at checkstyle:6.10"
caught by https://travis-ci.org/checkstyle/checkstyle/jobs/78162902
reason : https://github.com/checkstyle/checkstyle/compare/aa7b68597a6f...2d8f5576bb30 update of PropertiesExpander

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26361774-broken-compatibility-with-maven-checkstyle-plugin-2-15-at-checkstyle-6-10?utm_campaign=p

[2015-09-01 14:23] romani commented on #2065
@mkordas , fyi.

[2015-09-01 14:41] jonjesbuzz opened #2066 "IllegalAccessError in Apache Commons library"
I can't use CheckStyle at all (ver 6.9 nor 6.10); upon attempting to run it, I get an `IllegalAccessError`.

[code]

[2015-09-01 14:58] snowe2010 commented on #1681
[code]

[2015-09-01 15:57] romani commented on #1681
that is expected behaviour as use Check that does not care about Java syntax - http://checkstyle.sourceforge.net/config_regexp.html#RegexpSingleline.

Please use:
http://checkstyle.sourceforge.net/config_regexp.html#RegexpSinglelineJava
Attention to:
ignoreComments 	Controls whether to ignore text in comments when searching. 	Boolean 	false

[2015-09-01 15:57] #1681 closed

[2015-09-01 16:07] romani commented on #2066
please provide command line or more details on how your run chekcstyle

[2015-09-01 16:10] jonjesbuzz commented on #2066
@romani I used `java -jar checkstyle-6.10.jar -c CS1332-checkstyle.xml MyClass.java`.  It fails to run even without my custom rules file though.

[2015-09-01 16:15] romani commented on #2066
please provide config and input file to be exact

[2015-09-01 16:17] romani commented on #2065
issue id resolved in release 6.10.1, but I will keep issue open to implement smth to prevent such failures in future

[2015-09-01 16:24] romani commented on #2066
my output on my files but with the same names as yours:
[code]

[2015-09-01 16:38] mkordas commented on #2065
@romani, do you know why PR with my change was green? I thought we perform
integration test with Orekit, checkstyle-maven-plugin and freshly built jar.

[2015-09-01 16:43] jonjesbuzz commented on #2066
This is happening on two machines that I've seen - one running OS X Yosemite and another running OS X Mavericks (10.9.5).  It works fine on my personal machine running Yosemite (10.10.5).

Here's my check XML.
https://cloudup.com/cyz2tYjV4ei

[2015-09-01 16:44] romani commented on #2065
your PR build is failed too https://travis-ci.org/checkstyle/checkstyle/builds/78132826

It was my bad to merged it , as I thought that this just another internet connection problem, error was very unclear and strange.

right now Orekit is our braking compatibility build for Maven plugin.

Summary: trust Travis :) , and make it green before merge.

[2015-09-01 19:18] mkordas commented on #2066
@jonjesbuzz - I see that you are using `checkstyle-6.10.jar` instead of `checkstyle-6.10-all.jar` meaning that you somehow provide `org.apache.commons.cli` in classpath. But you provide it in version different than required by Checkstyle thus the error you observe.

[2015-09-01 19:21] jonjesbuzz commented on #2066
@mkordas Good catch, but I had changed the filename (sorry for the confusion).

[2015-09-01 19:25] mkordas commented on #2066
Just to confirm - do you receive the same error with and without `-all`? If yes, it means that you have some default classpath set that overrides classpath from JAR. Without `-all` you should have `NoClassDefFoundError`.

[2015-09-01 19:26] jonjesbuzz commented on #2066
I never tried it without the `-all` JAR.  `CLASSPATH` isn't set as an environment variable either.

[2015-09-01 19:37] mkordas commented on #2066
OK, so can you try without `-all` and confirm that you get something like `java.lang.NoClassDefFoundError: org/apache/commons/cli/CommandLineParser`?

[2015-09-01 20:01] romani commented on #2066
"-all" jar do have all dependencies inside of it. You can not  use checkstyle-6.10.jar without all dependecies. Most likely all dependecies jars are in your system classpath that is why it works on some of your PC.

Here is some examples http://checkstyle.sourceforge.net/cmdline.html#Usage_by_Classpath_update

[2015-09-01 20:01] #2066 closed

[2015-09-01 20:21] MEZk commented on #945
@romani
Should UT be failed If a check exists in classpath but is commented in checkstyle_checks.xml ?

[2015-09-01 20:21] mkordas opened #2067 "EmptyLineSeparator check does not validate newlines before class and after last method"
The following input should cause two violations:
[code]
when the config is set to:
[code]
but it doesn't raise any violation.

Generally this check validates if there is no more than one empty line _above_ some tokens. It works well when there are multiple unnecessary spaces above `import` or `package`. When the check reaches `class` declaration it also would validate lines above, but...

 - at li

[2015-09-01 21:05] mkordas commented on #2065
Stacktrace:
[code]
Lines that caused failure ([DefaultCheckstyleExecutor.java:379](http://svn.apache.org/viewvc/maven/plugins/tags/maven-checkstyle-plugin-2.16/src/main/java/org/apache/maven/plugin/checkstyle/exec/DefaultCheckstyleExecutor.java?view=markup))
[code]
It's just invocation of method that takes `Map<Object, Object>` with `Properties` argument. In Checkstyle code `PropertiesExpander` ar

[2015-09-01 21:15] romani commented on #945
yes, in classpath should be Checks that has to at config file as uncommented and with proper severity.

[2015-09-01 21:21] mkordas commented on #2062
+1 from me. Recently I had situation when person not understating this error message was about to remove that rule completely from configuration.

[2015-09-01 21:40] rnveach opened #2068 "Detect final methods in Enumeration for RedundantModifier"
Code:

[code]

Config:

[code]

Output:

[code]

I expected line 6's and 10's "final" to be marked as a redundant modifier but it is not. Final methods mean it cannot be overridden when the class is inherited but enumerations cannot be inherited anyways as they are not a class. Check style should treat the enumeration as if it were a final class, which it would then mark as redundant.
I am using c

[2015-09-02 04:33] jsotuyod commented on #1489
My issue is on source that is compiling.

Doing `mvn clean package checkstyle:checkstyle -T1C` will break at checkstyle, not at compile stage.

[2015-09-02 05:10] romani commented on #1489
@jsotuyod , please create another issue and provide source file and config, and maybe even a whole project, but most likely problem should be reported to maven plugin first.

[2015-09-02 08:30] Vladlis opened #2074 "CopyPasted ITs"
Some ITs are just copies of [NoFinalizerTest](https://github.com/checkstyle/checkstyle/blob/master/src/it/java/com/google/checkstyle/test/chapter6programpractice/rule64finalizers/NoFinalizerTest.java):
[SummaryJavadocTest](https://github.com/checkstyle/checkstyle/blob/master/src/it/java/com/google/checkstyle/test/chapter7javadoc/rule72thesummaryfragment/SummaryJavadocTest.java)
[AtclauseOrderTest]

[2015-09-02 16:46] rnveach opened #2077 "CommentsIndentationCheck reports some false positives when in the middle of a method"
Code:
[code]
Config:
[code]
Output:
[code]

The code is formatted with the default Eclipse formatter, so all errors are reported incorrectly.
From the source, it seems CommentsIndentationCheck is built to check the next statement while all the correct formattings seem to be more based on the line before it, but I can't specifically come up with a rule that includes line 27 and line 29.

Line 16 wa

[2015-09-02 16:58] rnveach opened #2078 "CommentsIndentationCheck doesn't report errors at end of block"
Code:
[code]
Config:
[code]
Output:
[code]

Line 6 and 9 are not reported because checkstyle is only looking at the next statement, and when there is no next statement it drops the comment.

[2015-09-02 17:01] romani commented on #2078
Can you share with chunk of real code where people put comment at the if the block ? I need to see such a weird code and what content their consider useful at that place

[2015-09-02 17:06] romani commented on #2077
As for me that violation is correct. Please explain why you think it is false positive.

[2015-09-02 17:08] romani commented on #2077
@MEZk , please take a look.

[2015-09-02 17:20] rnveach commented on #2077
@romani
Like I said, I used the default Eclipse (Kepler SR2) formatter. It put the comment there, so I assume it to place things correctly. If I move the comment to the same indentation as line 26, eclipse just moves it back when I run the formatter.

[2015-09-02 17:42] rnveach commented on #2078
These are real examples from my code, just simplified.

Example 1: I like to use a single line border to separate a group of methods in my code.
[code]

Example 2: TODOs that are still missing
[code]

Example 3: Commented out code
[code]

Example 4: Previous line too long for comment
[code]

Example 5: Empty catch area with reason that EmptyCatchBlockCheck requires
[code]

[2015-09-02 17:46] romani commented on #2078
Thanks a lot!

[2015-09-02 17:48] romani commented on #2078
@MEZk , please take a look.

[2015-09-02 18:32] RocusHalbasch opened #2079 "Java8 type-use annotations on qualified types not supported"
Checkstyle fails to parse some code using type annotations on qualified types:

CheckstyleFail.java:
[code]
checkstyle.xml:
[code]

This is similar to bug [#904](https://github.com/checkstyle/checkstyle/issues/904): Java8 type-use annotations on arrays not supported

[2015-09-02 21:46] mkordas opened #2080 "Fix additional issues reported by IntelliJ IDEA inspections in Checkstyle code"
Follow-up to #1555 .

Below is the list of all inspections, that still remain disabled in `config/intellij-idea-inspections.xml`. Some of them are not applicable to Checkstyle code, but others are very reasonable and just require additional work to fix.

[code]
##

[2015-09-02 22:22] MEZk commented on #945
@romani
I implemented the test, but we have one check which is commented out in checkstyle_checks.xml. It is IllegalCatch. So, should I mark the test with ```@Ignore``` annotation or provide ignore list as a parameter for the test and include IllegalCatch there?

[2015-09-03 01:05] rnveach opened #2085 "Remove delay on displaying "Starting audit", flush result after each file processing"
1) When running checkstyle from the command line, I noticed the text "Starting audit..." actually doesn't show up until the auditing is technically done. This isn't really noticably when checkstyle finishes pretty fast, but when it takes more than a few seconds because its analyzing lots of files with many checks, you start to take notice. Sometimes I even question if the program started or not be

[2015-09-03 04:47] romani commented on #945
Good catch!

Please active it, all its violations are already resolved, we just forgot to activate it.

@rdiachenko , fyi .

[2015-09-03 11:43] wstomv opened #2089 "Allow COMMA again in NoWhiteSpaceBefore"
At some point, COMMA was dropped from the tokens to which NoWhiteSpaceBefore can be applied.

I suggest to add it back in, or explain in the documentation why it was removed.

[2015-09-03 11:47] wstomv opened #2090 "Add boolean option allowMultipleWhitespaces to WhiteSpaceAfter and WhiteSpaceAround"
Just as with the check EmptyLineSeparator there is a boolean option allowMultipleEmptyLines, it would be useful to have the ability to enforce single whitespace before/after certain tokens, e.g. using a boolean option allowMultipleWhitespaces.

Code becomes messy when an arbitrary (non-zero) number of spaces are inserted, instead of sticking to a single space where whitespace is required.

This ap

[2015-09-03 12:17] romani commented on #2080
As we suppress validation we need to put a comment for it in a config, as we could change our mind if we know original reason of suppression. For examples take a look at our configs for pmd , findbugs and checkstyle.

[2015-09-03 12:52] romani commented on #2029
discussion at #2069

[2015-09-03 12:52] #2029 closed

[2015-09-03 13:02] romani commented on #2065
IT for maven plugin compatibility should be created (and lets do that for gradle plugin too), to at least be aware of compatibility problems that we might cause.

[2015-09-03 13:11] #945 closed

[2015-09-03 13:18] romani commented on #1903
merged.

[2015-09-03 13:18] #1903 closed

[2015-09-03 13:26] romani opened #2092 "Activate Translation Check in checkstyle_checks.xml"
https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L378

that Check should be activated, missed translation should be added.

[2015-09-03 13:30] #333 closed

[2015-09-03 13:43] romani commented on #1900
merged

[2015-09-03 13:43] #1900 closed

[2015-09-03 13:46] romani commented on #1530
merged

[2015-09-03 13:46] #1530 closed

[2015-09-03 13:52] romani commented on #2089
that was not intentional , we just enforced getAcepptableTokens validaton
list of acceptable tokens was created at 2002-2003 year - https://github.com/checkstyle/checkstyle/blame/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/NoWhitespaceBeforeCheck.java#L85

Please provide your configuration for this check and small code chunk(that followed that format) to let validate you

[2015-09-03 13:55] romani commented on #2090
please join a discussion at https://groups.google.com/forum/#!topic/sevntu-checkstyle/kSCClhhf_hs

please recheck that your idea is the same as https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/334

[2015-09-03 17:53] romani commented on #2063
merged

[2015-09-03 17:53] #2063 closed

[2015-09-03 18:12] romani commented on #2064
merged

[2015-09-03 18:12] #2064 closed

[2015-09-03 18:50] asashour opened #2094 "StringIndexOutOfBoundsException: String index out of range: -1"
Hi all,

With Github version, checking a file with the below JavaDoc (notice the 'period'):

    /**
     * .
     * @throws Exception if an error occurs
     */

with the command:

throws an error:

    Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String inex out of range: -1
        at java.lang.AbstractStringBuilder.charAt(Unknown Source)
        at java.lang.StringBuil

[2015-09-03 18:58] Vladlis opened #2095 "False negative in AtclauseOrder check"
Config:
[code]
Input:
[code]
Result:
[code]

[2015-09-03 22:31] rnveach opened #2103 "Wasted disk access"
While looking into checkstyle and some of its hot spots on my slower machine, I noticed 2 things with how CS is gathering and using files that are creating slowdowns.

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Main.java#L198

If you provide CS with a directory, it will be gathering all the files in every sub-directory here and doing nothing

[2015-09-04 01:19] romani opened #2106 "Problem with site build after update for new tag usage for Idea suppressions"
@mkordas , please take a look.

cmd (we need it to work as it part of release ):
mvn clean site

result in :
[code]

Travis missed that as it is configured to have "-Dmaven.javadoc.skip=true " that should be removed to let it test javadoc.

Problem after commit: a3daead123f0d326e18e30f45b1020c2d194d384

[2015-09-04 02:05] romani commented on #1668
Released as 6.10

[2015-09-04 02:05] #1668 closed

[2015-09-04 06:55] MEZk commented on #2078
@romani @ rnveach
In current implementation CommentsIndentationCheck does not rise violations when comment is splaced immediately before ```}``` (this is checked directly in check's logic). For example,

[code]

If we change check's logic, the following example will rise violation that it should be formatted like this:

[code]

Did I understand correctly?

[2015-09-04 07:06] MEZk commented on #2077
@romani
**Line 16**
See your comments here
https://github.com/checkstyle/checkstyle/pull/808#issuecomment-83128375

**Line 25,27,29**
I'll take a look

[2015-09-04 11:27] rnveach commented on #2078
@MEZk

From what i have seen the formatter do, it puts all direct childs of the block at the same column position. In this case, it won't be same column position as the '}', but one indent over like the line above it.

Example of properly formatted comments using Eclipse:
[code]

[2015-09-04 11:53] Piasy opened #2107 "[gradle checkstyle] java.lang.ClassNotFoundException: com.puppycrawl.tools.checkstyle.CheckStyleTask"
I'm using checkstyle with Android Studio 1.3.2, gradle 2.4, when I apply the checkstyle plugin, and set toolVersion to 6.10.1, the exception is thrown.

[2015-09-04 12:33] romani commented on #1833
merged

[2015-09-04 12:33] #1833 closed

[2015-09-04 12:43] romani opened #2108 "split all modules to be separate at config_naming.html"
http://checkstyle.sourceforge.net/config_naming.html
Almost all modules are described at the same table, but should be described as all other modules - separately. Even that modules are almost the same by description they should be seprate.

Reasons:
- right now there is now way to send link to that exact module
- http://checkstyle.sourceforge.net/google_style.html , "MethodName" reference to page

[2015-09-04 12:49] romani commented on #2107
we need all details of how you run Checkstyle.
Do you use checkstyle through plugin ? if yes please try to contact to plugin team first.
I need to have your checkstyle configuration, file where failure is happen.
Please reproduce issue with our CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-09-04 12:57] romani commented on #2078
no. last comment is still belong to scope of method, and all its content should be indented to the right, comment should be treated as any other statement of that method.

[2015-09-04 13:03] romani commented on #2107
you most likely are facing broken compatibility issue: #1108 ,

FYI: https://issues.gradle.org/browse/GRADLE-3314 is Fixed , Fix Version/s: 2.7-rc-1

[2015-09-04 13:08] romani commented on #2062
merged

[2015-09-04 13:08] #2062 closed

[2015-09-04 13:34] romani commented on #2107
you need to use gradle version 2.7-rc-1 , https://travis-ci.org/sevntu-checkstyle/checkstyle-samples/jobs/78754490#L172 , https://github.com/sevntu-checkstyle/checkstyle-samples/commit/129677111c117af30a1459d260d31ba15dea4295

[2015-09-04 13:34] #2107 closed

[2015-09-04 13:45] Piasy commented on #2107
I'm not use any external plugin, only the built-in gradle checkstyle plugin, the code in my github repo could reproduce the problem with `./gradlew checkstyle` in project root, the code url is: https://github.com/Piasy/vb-android-app-quality/tree/6d60fdac8552eaa7615a813664cd7fccc4f99c76
When I run the checkstyle-6.10.1-all.jar with command `java -jar checkstyle-6.10.1-all.jar -c ~/src/vb-android-a

[2015-09-04 13:46] Piasy commented on #2107
Thanks for your reply, I'll try gradle 2.7-rc-1 later.

[2015-09-04 14:00] Vladlis commented on #1509
As it can be seen from test, this behaviour is expected: [input](https://github.com/Vladlis/checkstyle/blob/i1509-trailing-co/src/test/resources/com/puppycrawl/tools/checkstyle/InputArrayTrailingComma.java#L34) and [test](https://github.com/Vladlis/checkstyle/blob/i1509-trailing-co/src/test/java/com/puppycrawl/tools/checkstyle/checks/coding/ArrayTrailingCommaCheckTest.java#L39).
From documentation

[2015-09-04 15:36] romani opened #2109 "CLI should print a flie name where exception is happen"
[code]

So where is no easy way to find a reason (input file) of problem. File path should be printed.

[2015-09-04 16:01] Myllyenko opened #2110 "Wrong level of method arguments list indentation"
I have the following configuration:

TreeWalker.tabWidth = 4
TreeWalker.Indentation.
TreeWalker.Indentation.
TreeWalker.Indentation.
TreeWalker.Indentation.
TreeWalker.Indentation.
			<property name="basicOffset" value="4"/>
			<property name="braceAdjustment" value="0"/>
			<property name="caseIndent" value="4"/>
			<property name="throwsIndent" value="8"/>
			<property name="lineWrappingIndentat

[2015-09-04 17:38] Vulpios opened #2111 "GenericWhiteSpaces Giving wrong validation error"
GenericWhiteSpaces validation is giving the: '&gt;' is followed by an illegal character. To a valid syntax.

extends SomeClass&lt;E&gt;implements GenericDao&lt;E&gt;

SomeClass&lt;E&gt;implements

Does not have spaces in between then and this is a valid syntax to the compiler (although it is ugly, but I found out that it is a bug on eclipse mars formatter, can't get rid of it)

[2015-09-04 17:38] nanodeath commented on #1537
Ack, this is incorrect! If you have a **nested class** (with no modifier) inside of a **public interface**, that class is implicitly public. Thus, it's valid for the constructor of that class to be public.

[2015-09-04 18:33] romani commented on #2111
if you use such formatting (without spaces) you do not need that Check to be activated - just remove it from your configuration.

Checkstyle is about a style/formatting (that is different form team to team) and not about to help compiler with some problematic code.

If you do not need style that is enforced by a Check - remove Check from configuration.

just report an issue to Eclipse and disable

[2015-09-04 18:33] #2111 closed

[2015-09-04 19:34] Vulpios commented on #2111
Ok then! I've done that. Opened a bug on eclipe. Thank you for faster answer.

[2015-09-04 20:16] lbarowski opened #2112 "IllegalStateException is thrown if non-generic param in doc for class"
/** @param x */
class Test {}

Causes IllegalStateException to be thrown.

In JavadocTypeCheck.checkUnusedTypeParamTags(), generic pattern is assumed to have matched first argument of tag, and first group of matcher is used without a check for group count.

[2015-09-04 22:18] rnveach opened #2116 "Change LineLengthCheck to extend AbstractFileSetCheck"
Why does LineLengthCheck need the java parser to work?
It could be be based on AbstractFileSetCheck and allow any file type to use this check, like property and xml files.

It returns nothing for acceptable/required/default TokenTypes.
The first thing it does is get all the lines of the file, which "processFiltered" will pass it.
It never visits anything or use any of the ASTs.
Only downside is th

[2015-09-04 22:52] romani commented on #2116
the reason my be pure historical, but as you make check as Check (not as FileSetCheck) you skip comments and empty lines (full of spaces and tabs) and you validate only lines of code where code is present.

We can not easily change a parent module , as we will brake all configurations in the world that have such Check. If you do not like such Check, we has to keep it, and create new Check.

For su

[2015-09-04 23:26] romani commented on #2106
https://maven.apache.org/plugins/maven-javadoc-plugin/examples/tag-configuration.html

[2015-09-04 23:31] romani commented on #2106
merged

[2015-09-04 23:31] #2106 closed

[2015-09-04 23:45] mkordas commented on #1509
For me it is still  not intuitive. Training comma brings value usually only if both braces are on different lines.

My proposition is to change the rule to behave as follows:
The check allows leaving out the comma at the end if **either** the left **or** right curly brackets are on the same line.

[2015-09-05 00:10] romani commented on #1509
Intention of this rule is not clear for me at all, but that logic exists for many years and nobody complained about that, and it is clearly documented. That is why I decided to close that issue.

I could connect to author of this update, to get from him his motivation of doing that.

[2015-09-05 00:15] romani commented on #1509
I do not understand meaning of that rule, please rephrase for me and lets start discussion by code examples (with violation and not)

[2015-09-05 17:57] rnveach opened #2122 "Detect final methods in Anonymous Class for RedundantModifier"
Code:
[code]
Config:
[code]
Output:
[code]

I expected line 11's "final" to be marked as a redundant modifier but it is not unless the main class is marked as final itself. It shouldn't have to rely on the main class definition because final methods mean it cannot be overridden when the class is inherited but an anonymous class cannot be inherited anyways as they are anonymous and can't be directl

[2015-09-05 18:41] romani commented on #2092
Merged

[2015-09-05 18:41] #2092 closed

[2015-09-05 18:53] romani commented on #1214
Merged

[2015-09-05 18:53] #1214 closed

[2015-09-05 22:24] romani commented on #2094
merged

[2015-09-05 22:24] #2094 closed

[2015-09-05 22:29] romani opened #2126 "Make coverage 100% for all classes at package com.puppycrawl.tools.checkstyle.doclets"
There only one file to cover by UTs.

following line https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L872 should be removed.

[2015-09-05 22:45] mkordas commented on #1509
@romani - sure.

Main benefit of training comma is that when you add new entry to array, no surrounding lines are changed:
[code]
[code]
If closing brace is on the same line as training comma, this benefit is gone:
[code]
[code]
If opening brace is on the same line as training comma there's also (more arguable) problem:
[code]
[code]

[2015-09-06 12:35] romani opened #2128 "Multiline commit messages and consistency in format of prefixes"
base on discussion of PR #1518 for issue #937
From @mkordas:

## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26484353-multiline-commit-messages-and-consistency-in-format-of-prefixes?utm_campaign=plugin&utm_content=tracker%2F500528&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2015-09-06 12:37] romani commented on #937
merged.

[2015-09-06 12:37] #937 closed

[2015-09-06 13:40] romani opened #2129 "remove non-maven output from test launches"
command "mvn clean test"

in output there are some print from our code, but there should be no output:

[code]

[code]

[2015-09-06 13:53] romani opened #2130 "resolve messages from maven-compiler-plugin"
"mvn clean verify" have some messages from compiler that should be resolved or suppressed.

[code]

[code]

[2015-09-06 14:48] romani opened #2131 "IntelijIdea code inspection config should raise 0 violations"
After importing InteligIdea code inspection config to Idea http://checkstyle.sourceforge.net/idea.html#Inspections - there are 9K violation.

1) There should be 0 violations .

All Input files has to be suppressed from violations, I  found only one way to do that by marking fodler where Input files are located as "Resource" at "File > Project Structure", but there are 1.4K violations in XML, JS, .

[2015-09-06 22:51] liscju commented on #1537
@nanodeath you are totally right, thanks for letting us know. I created new PR to fix this situation - if you are interested you can take a look here:
https://github.com/checkstyle/checkstyle/pull/2134

[2015-09-07 00:26] romani commented on #2080
@mkordas , for some reason I have 27 "Velocity violations" at my local IntelijIdea inspection result.
Example:
[code]

Do you have the same ?
All of them are real false-positive as web page generation works fine.

[2015-09-07 00:57] romani commented on #2128
@mkordas , most likely we should start that discussion by sharing examples where all that is useful.

my comments for each point:

in my experience, if you try to describe smth in multi-line (a lot of text) you should create issue and describe all that without limiting yourself (describe with wide details and examples and links) to commit size. People subconsciously try to be short in commit messa

[2015-09-07 01:19] romani commented on #106
in scope of https://github.com/checkstyle/checkstyle/issues/1304 all errors are rethrown to caller of checkstyle library.

[2015-09-07 01:19] #106 closed

[2015-09-07 01:29] romani commented on #583
@felixpageau , any chance to get chunk of code from you ? (if not possible, I will close issue in a week)

[2015-09-07 01:32] romani commented on #649
resolved at http://checkstyle.sourceforge.net/releasenotes.html#Release_6.9

[2015-09-07 01:32] #649 closed

[2015-09-07 01:33] romani commented on #705
@mkordas , is there any reason to keep that issue as open?

[2015-09-07 01:33] #751 closed

[2015-09-07 01:49] romani commented on #898
@krichter722, any fresh ideas ?

[2015-09-07 08:14] dhendriks opened #2135 "NeedBraces: NPE crash"
For a Java file 'Test.java':

[code]

with Checkstyle configuration 'checkstyle.xml':

[code]

Checkstyle 6.10.1 crashes with a NullPointerException:

[code]

[2015-09-07 08:28] ychulovskyy opened #2136 "SuppressionFilter: Ignore violation for methods"
We have CyclomaticComplexity checkstyle violation for hashCode and equals (autogenerated methods for legacy bean with 10 fields).
Current Suppression  functionality allows to suppress violations for a line or for the whole file.
Is it posible to extend Suppression functionality to suppress violation for a method?
E.g. via config:

[code]

http://checkstyle.sourceforge.net/config_filters.html#Suppr

[2015-09-07 09:44] wstomv commented on #2089
My request is to allow COMMA in NoWhitespaceBefore, and to report errors for it.

My 19-month old configuration file contains this check:

        <module name="NoWhitespaceBefore">
            <property name="tokens" value="COMMA, SEMI"/>
        </module>

and is intended to capture such formatting errors as

[code]

where a comma is preceded by whitespace. Checkstyle 5.7 accepted this configura

[2015-09-07 10:41] krichter722 commented on #898
Only changing the documentation referenced above to contain a hint that the parent module contains constraints and configuration options as well. It's quite straight forward if you think about class inheritance, but that's not granted.

I wouldn't say that because it's just the section header "Parent module" and a link. It's hard (and impossible, of course) to tell what this is supposed to mean.

[2015-09-07 10:57] MEZk commented on #819
@romani
Did you mean to update this UT?
[testAllChecksAreReferencedInConfigFile](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/AllChecksTest.java#L144)

[2015-09-07 11:03] michael-o commented on #2034
Necessary for https://issues.apache.org/jira/browse/MCHECKSTYLE-307.

[2015-09-07 13:47] romani commented on #819
The same priciple, but for html files, please create athoer test method.

[2015-09-07 14:09] romani commented on #2034
@michael-o , I am not sure how you want to update a code to resolve that, can you share some educational links or please do PR.
thanks for making link to depended issue.

[2015-09-07 15:57] michael-o opened #2137 "FileTabCharacterCheckTest.testBadFile fails if locale is non-English"
Build from current master, I receive:

    Results :

    Failed tests:
    FileTabCharacterCheckTest.testBadFile:93->BaseCheckTestSupport.verify:121 error message 0 expected:<...\checkstyle\Claira ([The system cannot find the file specified])> but was:<...\checkstyle\Claira ([Das System kann die angegebene Datei nicht finden])>

    Tests run: 1545, Failures: 1, Errors: 0, Skipped: 1

Looking at

[2015-09-07 16:18] michael-o commented on #2034
I am already working on the PR.

[2015-09-07 16:50] michael-o commented on #2034
Here's the PR. `TokenTypesDoclet` can be rewritten too but the rest accepts string args, so it has to remain as-is

[2015-09-07 20:08] mkordas commented on #2137
@michael-o Thanks for the report, I'm on it. The test is OS-dependent, so if you have localized version of OS it indeed may fail.

[2015-09-07 20:25] mkordas commented on #2135
Thanks, issue confirmed. Looks like this check with this option does not support enhanced for loops at all.
Minimal code to reproduce NPE:
[code]

[2015-09-07 21:25] rnveach commented on #927
@romani
The example file was fixed in the referenced issue.
I eyeballed the remaining loggers in CS and they don't throw an exception with them, and the check in the first post reported nothing.
I don't think this issue is in CS anymore.

[2015-09-07 22:13] romani commented on #2034
I do not see your PR.
do you want to finish PR your self?  or you just show how it should be resolved and want us to fix issue up to the end ?

[2015-09-07 22:19] romani commented on #927
@rnveach, thanks for catching that, that issue was resolved by some other refactoring.

Checks from sevntu projects will be applied to CS code base in scope of other issue.

[2015-09-07 22:19] #927 closed

[2015-09-07 22:25] romani commented on #2137
merged.

[2015-09-07 22:25] #2137 closed

[2015-09-07 23:15] romani commented on #2131
1) is done - https://teamcity.jetbrains.com/viewLog.html?buildId=564657&tab=buildResultsDiv&buildTypeId=Checkstyle_IdeaInspectionsPullRequest.
0 violations in my local Idea - confirmed.

@mkordas , do you have notes why we suppressed some rules during August cleanup ?
Or you plan to do that during #2080 ?

[2015-09-07 23:18] romani commented on #2080
We need to put comments to rules that disabled during August cleanup first.

[2015-09-07 23:19] romani commented on #2131
this issue is merging to #2080

[2015-09-07 23:19] #2131 closed

[2015-09-08 00:49] romani commented on #2077
do you have question or it is just for my information ?

[2015-09-08 03:17] rnveach commented on #851
@romani
I will try to work on this fix. I expect some comment checks may need to change.
It looks like this is not an antlr issue specifically, but is related to TreeWalker#appendHiddenCommentNodes: https://github.com/checkstyle/checkstyle/blob/4d8d047f465f9eb101390da63ee62a735fbedba5/src/main/java/com/puppycrawl/tools/checkstyle/TreeWalker.java#L534
CS is always getting comments from the previous

[2015-09-08 05:36] philwebb opened #2141 "Unused Javadoc tag with annotation @return"
As discussed in [SourceForge Bug 543](http://sourceforge.net/p/checkstyle/bugs/543/) and on the [Google groups](https://groups.google.com/forum/#!topic/checkstyle/VEVFDsZKLzg) the following code:

[code]

Will fail with the message:

[code]

Despite an explicit test for this, I believe that the assumption is wrong and `@return` tags can (and should) be used with annotation types.

[2015-09-08 05:57] mkordas commented on #2080
@romani, how do we want to handle that? Should I create GitHub issue for every reasonable inspection that is not yet fixed? Majority of them require either api changes or just substantial amount of work

[2015-09-08 06:35] michael-o commented on #2034
You see the commit 14 hours ago. You can simply pull from my fork: michael-o/checkstyle@7af59af.

[2015-09-08 08:50] MEZk commented on #2077
@romani

It's information for you, the check was designed to compare indentation between comment and previous statement in thgose cases. But @rnveach was right, now we have the problem that when we try to reseive previous statement fromthe following example:

[code]

it returns **DOT**-token, not **s**-token which begins the previous statement.

[2015-09-08 12:31] robertwhitebit opened #2143 "ImportOrder: Check that import groups aren't separated internally"
Currently, the ImportOrder check ensures that imports are grouped in a specific order. These groups shouldn't be separated internally as well.

e.g.

[code]

The empty line between Check and DetailAST should be removed. Automatically importing classes will never add such a newline. The Android Studio formatter also removes the empty line.
##

<bountysource-plugin>

---
Want to back this issue? **[

[2015-09-08 13:18] romani commented on #2080
No need for separate issues, thare too much of rules.

Can you skim this list and put a comment for rules that disabled on a reason during August, i hope you still remember some of them.

[2015-09-08 13:59] romani commented on #2141
Examples where return tag is not used:
http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/java/lang/SuppressWarnings.java
https://github.com/typetools/checker-framework/blob/master/checker/src/org/checkerframework/checker/tainting/qual/Tainted.java
https://github.com/spring-projects/spring-framework/blob/master/spring-tx/src/main/java/org/springframework/transaction/annot

[2015-09-08 14:08] jsotuyod commented on #1008
+1 to be able to use `@SuppressWarnings` with ids just as it currently uses names.

This is particularly useful when you write custom rules using the regexp checks, since you may want to disable a specific one, and not all of them.

[2015-09-08 14:14] romani commented on #2141
found one example http://grepcode.com/file_/repository.grepcode.com/java/root/jdk/openjdk/8-b132/java/lang/annotation/Repeatable.java/?v=source
but wee need to find more to get to know why it was not used and why it is started to use, we might need to ask community on stackoverflow.

Look like jdk started to do that from java8  http://grepcode.com/file_/repository.grepcode.com/java/root/jdk/openjd

[2015-09-08 14:15] #2141 closed

[2015-09-08 14:16] philwebb commented on #2141
See https://github.com/excilys/androidannotations/pull/1198#issuecomment-59804442 for some discussion on the subject. Java 8 tightened the JavaDoc compiler to actually fail if `@return` tags are missing.

The `@SupressWarnings` example that you gave has been updated in Java 8 to include `@Return` tags. See http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/src/share/classes/java/lang/Suppr

[2015-09-08 17:02] sshashank124 commented on #2143
Until what point should they be grouped. Would you say that these two statements should also be grouped or only the innermost ones:

[code]

[2015-09-08 17:08] mkordas commented on #2143
@sshashank124, I believe that we should just not allow not explicitly allowed newlines in imports to match major IDEs formatting/optimise imports rules

[2015-09-08 17:54] robertwhitebit commented on #2143
@sshashank124: This is a good question!
@mkordas: Exactly.

I tested the Eclipse and Android Studio (IntelliJ) formatter settings. You can configure how and at what level you define groups.
If you're using "java, com" then the formatter of the tested IDEs will group at the first level of the import.

[code]
Inserting a newline between the two com.* imports and running the formatter/optimize import

[2015-09-08 18:09] sshashank124 commented on #2143
So then does it make sense to leave the level of grouping up to the individual or were you thinking of a predefined set of grouping rules

[2015-09-08 19:13] robertwhitebit commented on #2143
Hopefully I didn't misinterpret the question. :worried:

The level of the grouping is already up to the user. You can set the groups property to e.g. `"java,com.oracle.nio,com.oracle.net"`. So the second code example in the previous post is handled by checkstyle already.

Imo, the only thing that has to be done on the user side, is, to add a flag (true/false) if it's allowed to separate these grou

[2015-09-08 19:17] sshashank124 commented on #2143
Ah I see. My bad. Yeah that's a good idea. So now, will someone delegate this to someone to implement if it is finally decided to be added?