[2020-01-13 19:13] nhojpatrick opened #7470 "SuppressionCommentFilter being ignored"
Check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck

[code]

---------------

Describe what you expect in detail.

I've got some auto generated code with is longer than 120 characters, luckly it's nested within;
//------------------------- AUTOGENERATED START -------------------------
//-------------------------- AUTOGENERATED END --------------------------

But chec

[2020-01-13 19:54] rnveach commented on #7470
duplicate of https://github.com/checkstyle/checkstyle/issues/7287

[2020-01-13 19:54] #7470 closed

[2020-01-13 20:44] romani commented on #6210
Fix is merged.
@alinkov , thanks a lot for your help.

[2020-01-13 20:44] #6210 closed

[2020-01-13 20:59] t-rad679 commented on #7464
I had this same issue while using the google_checks.xml file in src/main/resources. Using a stock config should not cause errors.

I do not want to use the config built into the jar because I want to make slight modifications for my own purposes.

[2020-01-13 21:05] romani commented on #7464
@t-rad679 , please share details on what you like to customize in config, we are looking for users feedback and usage of Google config to make ease to override/customize some Checks behavior.

[2020-01-13 22:41] romani opened #7472 "Disable instantiation of modules with private ctor"
Sanar violation: Make sure that this accessibility update is safe here

https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues=AW9t2w4vYD2QG1pPXIVH&open=AW9t2w4vYD2QG1pPXIVH

https://github.com/checkstyle/checkstyle/blob/284278fde3431e33701cad1c3cc6690abcec0bb6/src/main/java/com/puppycrawl/tools/checkstyle/PackageObjectFactory.java#L355-L361

`declaredConstructor.setAccessible(

[2020-01-13 23:51] rnveach commented on #7472
The reason is probably in that same commit. A lot of test modules were changed to private and I believe this is the reason we have the code. Without the code, all our test modules for testing checkstyle would have to be public and I am sure some other checks would ask they be private.

Test failures with code removed:
[code]

[2020-01-13 23:57] romani commented on #7472
Yes, but why not to keep them public as there were, and just force inspection to not raise violation on them? We can disable whole inspection on test code only.

[2020-01-14 07:33] Fernal73 commented on #7427
You can try this as well:

https://spacevim.org/

[2020-01-14 07:35] vlsi commented on #7427
For what?

[2020-01-14 14:00] jdussouillez opened #7473 "JavadocMethod: false positive with validateThrows if catched inside the method"
https://checkstyle.sourceforge.io/config_javadoc.html#JavadocMethod

[code]

---------------

The `NumberFormatException` exception thrown at line 26 is catched inside the method, so `parsePositiveInt` does not throws `NumberFormatException`. Checkstyle should not report this as an error, it's a false positive.

--------------

[2020-01-14 14:10] rnveach commented on #7473
Previous version falsely said `IllegalArgumentException` was not needed to be documented

[code]

[2020-01-14 15:59] Fernal73 commented on #7427
https://spacevim.org/use-vim-as-a-java-ide/

Linting and formatting.

[2020-01-14 16:11] vlsi commented on #7427
Thank you, I'm fine with IntelliJ IDEA.

[2020-01-14 16:17] Fernal73 commented on #7427
https://spacevim.org/layers/lang/elm/
Also, integrated with Elm.
Except that the npm packages are not installable on Android.

[2020-01-14 17:00] romani commented on #7473
@ jdussouillez , thanks a lot for good issue.
The quickest way to get a fix is to send us PR.
whole logic is at https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L697

[2020-01-15 07:18] strkkk commented on #7473
It should work only if catch contains same type?
Because if there is something like
[code]
what is expected in javadoc? Checkstyle cannot check inheritance chain to understand is catch block suitable or not

P.S. offtop - as for me, catching exception in same method looks weird. Is there useful cases for it? @jdussouillez

[2020-01-15 08:50] jdussouillez commented on #7473
@strkkk The Javadoc in your example does not require any `@throws` because your method does not throw any checked exceptions.
IMO I would add the `@throws IllegalArgumentException` even if it's not mandatory, because it's useful for the user to know that this exception can be thrown and why.

---

Well it's not something you see everyday but I sometimes use it for some validation/initialization pr

[2020-01-15 09:23] jdussouillez commented on #7473
I just discovered another unexpected behavior which seems linked to the issue. There are also weird results if the method returns a lambda which throws a RuntimeException :

[code]

----

In this case, no `@throws` are expected in the Javadoc because it's not `getTruncateFunction` which throws the `IllegalArgumentException`, but the function it returns. I know this is a bit far-fetched but I'm jus

[2020-01-15 10:16] victorwss commented on #7329
Removing the "allowUndeclaredRTE" broken one script of mine in a big project. Including sudden breaking changes with few to no forewarning is not a good thing. At least, you could deprecate it first and remove it only at a later version.

[2020-01-15 10:21] victorwss commented on #7329
Also, it would be a good idea to keep in the documentation that those properties once existed and where removed. The last version of the documentation is completely silent about them as they never existed. Users should have no obligation to scan release change logs or github issues to figure out why something that used to work just broken mysteriously after a small minor version bump.

[2020-01-15 15:24] romani commented on #7329
https://checkstyle.org/#Previous_Version_Documentation

Please share problem, we might help.
Nothing is forcing you to upgrade version of checkstyle. If you are affected, sorry, please report problems, if possible we might help to ease or provide quick fix.

We do not follow semi version, our minor version do mean new or breaking is done.
More details at https://checkstyle.org/#Development_Cycle

[2020-01-15 16:00] romani commented on #7473
Good point.
And as we do not know any details on exception hierarchy, it would be very hard to skip actually caught exceptions.

What if we will use only exception thrown catch block, and ignore all other.

[2020-01-16 03:44] romani commented on #5604
https://sonarcloud.io/organizations/checkstyle/rules?open=java%3AS1602&q=java%3AS1602

it "disabled" (severity is changed to "info") by reason:
`there is not option to allow multiline if does not fit a single line, so rule is producing too much "want fix".`

[2020-01-16 03:54] romani opened #7475 "Sonar violation: Cognitive Complexity of methods should not be too high (above 20)"
https://sonarcloud.io/organizations/checkstyle/issues?resolved=false&rules=java%3AS3776

Rule description https://sonarcloud.io/organizations/checkstyle/rules?open=java%3AS3776&q=java%3AS3776

cases:
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues=AW9t2w4mYD2QG1pPXIVE&open=AW9t2w4mYD2QG1pPXIVE
and
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues

[2020-01-16 03:56] romani opened #7476 "Sonar violation: Cognitive Complexity of methods should not be too high (above 15)"
https://sonarcloud.io/organizations/checkstyle/issues?resolved=false&rules=java%3AS3776

Rule description https://sonarcloud.io/organizations/checkstyle/rules?open=java%3AS3776&q=java%3AS3776

We need to try to change limit to 15 and get understanding how it is achievable to reach such limit in our codebase.

It do make sense .... it does conflict a bit with "single return" rule that we follow,  b

[2020-01-16 04:00] romani commented on #5604
https://sonarcloud.io/organizations/checkstyle/rules?open=java%3AS3776&q=java%3AS3776

It do make sense .... it does conflict a bit with "single return" rule that we follow,  but it could be reconciled by raising allowed limit for Cognitive Complexity. For now I set it from 15 to 20 (just based on what we have now in code) to have no violations and fix 2 cases that standout about 20 in scope of #7

[2020-01-16 06:13] romani commented on #5604
@timurt ,

are these violations valid ?
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&resolved=false&rules=java%3AS4144

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/xpath/ElementNode.java#L121-L128

src/.../tools/checkstyle/xpath/ElementNode.java
Update this method so that its implementation is not identical to "getLocalP

[2020-01-16 13:26] AlBundy33 opened #7484 "Is there any migration guide for each new version?"
Currently we have to modify our checkstyle-configuration-xml after each(?) update of the checkstyle plugin.

Sometimes we have errors in the error-log because the xml is invalid and sometime checks are not executed because they have to be configured in additional tags or attributes.

Here are some examples:
LineLength was moved from TreeWalker to Checker.
New(?) Checks MissingJavadocMethod, Missin

[2020-01-16 17:45] romani commented on #7484
We do not know which plugin do you use and what version of checkstyle you use in plugin, so it hard to predict what problems you might encounter during upgrade. Simple googling should help you to find migration notes, review of releasenotes should also help.

Migration notes exists for cases when we break compatibility see `Breaking backward compatibility:` sections at https://checkstyle.org/relea

[2020-01-16 17:45] #7484 closed

[2020-01-16 18:09] timurt commented on #5604
@romani
I have suspicions that we do not need [this](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/xpath/ElementNode.java#L162) method

I have just tried to run unit tests without it and they didn't fail. Can we create separate issue on it?

[2020-01-16 18:16] AlBundy33 commented on #7484
We're using the current plugin from http://eclipse-cs.sourceforge.net/update/ which should be yours https://github.com/checkstyle/eclipse-cs

Checking the release-notes is ok and to be honest the LineLength-Check was good documented although I'd wish that there would be a hint in release-notes that there are migration instructions.

LineLength-Check was a good error because it causes that no check

[2020-01-16 18:28] victorwss commented on #7329
Well, actually I periodically bump version numbers of some of my projects to get bugfixes. Sometimes, it does not goes well, surely, but most of times, it simple works.

Yesterday, it was Checkstyle that didn't went very well. After having some work to get the actual error message (some build tools eat them up and just tell that it failed without telling why), Checkstyle was complaining that some

[2020-01-16 20:07] romani opened #7486 "Xpath implementation: relationship between getLocalPart and getStringValue"
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&resolved=false&rules=java%3AS4144

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/xpath/ElementNode.java#L121-L128

src/.../tools/checkstyle/xpath/ElementNode.java
Update this method so that its implementation is not identical to "getLocalPart" on line 126.
L162

src/.../tools/ch

[2020-01-16 20:10] romani commented on #5604
@timurt ,thanks a lot.
Sure, you can always create issue your self if you see that problem is valid or suspicious code is better to discuss in separate thread. Lets move discussion to #7486

[2020-01-16 20:19] pbludov opened #7487 "Add method hasChildren to DetailAST"
From https://github.com/sevntu-checkstyle/sevntu.checkstyle/pull/794#issue-361850509

The most common usage of the method [getChildCount](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/DetailAST.java#L36) is to compare the count to zero. For [example](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/chec

[2020-01-16 20:26] romani commented on #7484
yes, it is finally end in organization umbrella, but we do need maintainers for it to keep it alive.
We try to release it right after library is released .... But it is still hard to predict from what version you migrate. A lot of users still use very old versions, for many reasons.
So after upgrade, you need to skim release notes [from;to] and glance on "New:" and breaking compatibility sections.

[2020-01-16 20:53] romani commented on #7329
@victorwss , thanks a lot for feedback.

I wish one day checksyle will have same amount of contributors as java .... so we can make more reliable Checks and better design. In addition to 5K issue ... we do have problem with deprecation process, as Checkstyle can not put some message as warning for migration. All we can do is put same violation on all your files in your project. So as you mentioned

[2020-01-16 20:57] romani commented on #7487
I am ok to add this methood.
@rnveach , please review and put label.

[2020-01-16 21:04] rnveach commented on #7487
@romani I was ok with it until I saw the default method in the interface. I personally would just prefer to see the implementation in the class. I am old school.

[2020-01-16 21:09] romani commented on #7487
ok, lets make method in interface as declaration.

[2020-01-16 22:13] AlBundy33 commented on #7484
just some ideas for first start of the plugin after an update
- check if xml-configuration is valid and show error if not - where valid means at least schema-validation and maybe some additional checks (e.g. valid checkes, attributes etc)
- display release notes

[2020-01-16 23:23] romani commented on #7484
:) ok, so please open this issue on special plugin :) (there a lot of plugins), here we discuss only core library validation issues.

[2020-01-17 15:08] rnveach commented on #7458
Fix was merged

[2020-01-17 15:08] #7458 closed

[2020-01-17 15:18] romani commented on #7458
@rnveach , please define label

[2020-01-17 16:47] romani commented on #7363
fix is merged.

[2020-01-17 16:47] #7363 closed

[2020-01-17 17:02] romani commented on #7484
@AlBundy33 , one more note ....

if you see  that checkstyle version is bumped in second digit (minor version in semiversion model) you can be sure that something new or something breaking was done.
Example of release that had only bug fixes - https://checkstyle.org/releasenotes.html#Release_8.10.1

We use sentimental version for first digit (it is definition of very big phase in development or co

[2020-01-17 18:19] romani opened #7488 "LocalizedMessage should accept message argument in string only"
Detected by IDEA inspection and Sonar Inspection `Make "args" transient or serializable.`
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&issues=AW9t2w2MYD2QG1pPXIUJ&open=AW9t2w2MYD2QG1pPXIUJ

Code:
https://github.com/checkstyle/checkstyle/blob/2f9f8c620eaa953a0d5822c17f59fd396f09c2ad/src/main/java/com/puppycrawl/tools/checkstyle/api/LocalizedMessage.java#L84-L89

We did not ch

[2020-01-17 21:44] romani commented on #7472
@rnveach please approve issue.
I think to put "bug" label on it and rename to `Disable instantiation of modules with private ctor` to make it user friendly in relese notes.

[2020-01-17 21:54] romani opened #7492 "Enforce jdk8 verification during build"
We do have enforcer plugin setup for jdk version, but we  forgot to update it from jdk6
[code]

TODO: update to 1.8

Example of failure when extra validation is activated
[code]
output:
[code]

[2020-01-17 21:55] romani commented on #7492
example of failure when i put 1.9 in enforcer:
[code]

[2020-01-18 04:35] romani commented on #7492
Fix is merged

[2020-01-18 04:35] #7492 closed

[2020-01-18 09:30] pbludov commented on #7472
fix is merged.

[2020-01-18 09:30] #7472 closed

[2020-01-18 18:04] joca-bt commented on #6582
Since there's no interest from the maintainers to have this integrated I'm closing this ticket.

[2020-01-18 18:56] romani commented on #6582
@joca-bt , sorry that we can not address all, we have 5K issues, and almost always 10 PRs that we try address first - it is hard.
To put approved label, I need to sure that I will accept implementation of it in PR, please git us some time to come back to this issue. We usually close issues ourself if issue not good to be implemented.

[2020-01-18 19:46] romani commented on #6582
@rnveach , looks like we are waiting for your reply, please try to review this issue.

[2020-01-18 19:54] romani commented on #7472
@pbludov , please do not forget to put label on issue after meet of fix. Absence of label fails master build https://travis-ci.org/checkstyle/checkstyle/jobs/638774526#L557

[2020-01-18 21:04] rnveach commented on #6582
I am sorry I forgot about this issue.

I am fine to add the property, but I am not sure about adding it to google config.

https://checkstyle.org/google_style.html

If we add it, there will be false positives that go against google's rules. The guide shows some specific examples like

Since we are not a type-aware tool, the only way to know if something is mutable or not is by user intervention an

[2020-01-18 22:11] romani commented on #7475
fix is merged.

[2020-01-18 22:11] #7475 closed

[2020-01-19 01:31] romani commented on #7468
from links of Sonar  description, https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html#jaxb-unmarshaller

here is clear example that we do correct disablement BUT there 3 features and we use only 2.
`spf.setFeature("http://xml.org/sax/features/external-parameter-entities", false);` is missed on our side.

[2020-01-19 01:46] romani commented on #5604
all issues are resolved or marked as "Wont fix" or "False positive" - https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&resolutions=FALSE-POSITIVE%2CWONTFIX

last issue, security issue, is moved to #7468.

[2020-01-19 01:46] #5604 closed

[2020-01-19 01:48] romani commented on #7486
I marked Sonar issue as wontfix as they are conflicting with Idea Inspection, but we can still review reason for `getStringValue`, if not required - we need to remove it.

[2020-01-19 01:51] romani commented on #7486
@timurt , we appreciate your help with this issue.

[2020-01-19 02:01] rnveach commented on #7486
Method can't be removed as it is required from `NodeInfo` interface and will cause a compile error when removed. I replaced the implementation with throwing an NPE and all the tests still passed when removed the 1 direct test of it in `RootNodeTest#testGetStringValue`.

[2020-01-19 04:22] romani commented on #5604
I updated Gate "Checkstyle way" https://sonarcloud.io/organizations/checkstyle/quality_gates/show/8515 to check 0 for all issues (except for INFO) on "Conditions on Overall Code" to avoid cases them changed code create issue outside of changes.

[2020-01-19 13:53] timurt commented on #7486
@rnveach Yes, I did the same, throwing `Unsupported Operation` exception inside method.

[2020-01-19 17:56] romani commented on #7486
Before we put exception in such method, @timurt can you explain why it is not required, or what for such method is required in general ? How other xpath implementation use it ?

[2020-01-20 22:26] pbludov commented on #7487
Started https://github.com/hcoles/pitest/issues/725 for the Pitest issue.

[2020-01-20 22:31] pbludov commented on #7468
Fix is merged.

@romani can this issue be a breaking change?

[2020-01-20 22:31] #7468 closed

[2020-01-20 22:52] romani commented on #7468
It should not, but it might, let's keep it misc

[2020-01-20 23:22] romani commented on #6689
It is known that project can not start easily checkstyle, for example Guava is not following google style, but it is hard to start to do so. Good practice - http://cr.openjdk.java.net/~alundblad/styleguide/index-v6.html#toc-when-to-reformat-code
We can regenerate checkstyle report on Guava to show how much it is not following…. And explain why it is hard to start using checkstyle … nobody wants to

[2020-01-21 00:40] romani opened #7498 "Generation and publishing regression diff report base on config in PR description"
We need to remove from contributor responsibility generation of diff reports.

[2020-01-21 00:41] romani commented on #7498
It is kind of continuation of https://github.com/checkstyle/regression-tool
But in this case we make sure it works FIRST on simple config that we will define in a special way in PR description.So all we need is to put config in PR description and trigger CI to send message to some webservice (Richard server hosted or AWS or Heroku, …. , or php-based(it is available!!!) on sourceforge.io) to proces

[2020-01-21 07:55] jamesonwilliams commented on #5088
I encountered this issue while applying Checkstyle via a plugin in an Android `build.gradle`.

When `apply plugin 'checkstyle'` is used, the Checkstyle version is determined by the Gradle version. (See [discussion](https://stackoverflow.com/a/47728884/695787).) I was using Gradle = `5.4.1`, so [I was using Checkstyle `8.17`](https://github.com/gradle/gradle/blob/v5.4.1/subprojects/code-quality/src

[2020-01-21 17:16] JLLeitschuh commented on #7468
Does this need a CVE assigned to it?

[2020-01-21 18:13] romani commented on #7468
I do not know how to reproduce it, so I am not sure that CVE need to be created.
If you can reproduce security, lets create CVE .

[2020-01-21 18:23] t-rad679 commented on #7464
Primarily, we want to use 4 space indent.

But still, the real issue here is the stock example config included in the repo causes errors. Doesn't that seem like a problem to you?

[2020-01-21 18:34] romani commented on #7464
yes :), please point to example and lets make separate issue.

[2020-01-22 14:10] t-rad679 opened #7503 "Standard google_checks.xml throws error: "ENUM_DEF" Not Found"
Check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck

# Compile?

[code]

## OUTPUT

No output

# Config

[code]

## OUTPUT

Using stock google_checks.xml config

# File
[code]
## OUTPUT
[code]

# Checkstyle

[code]

## OUTPUT

[code]

---------------

# What Do I Expect

There to be no error when running with a stock config provided in the checkstyle repo

[2020-01-22 14:11] t-rad679 commented on #7464
Ok! Thanks!

Here's the issue:
https://github.com/checkstyle/checkstyle/issues/7503

[2020-01-22 14:44] furstenheim opened #7504 "New Check: UnusedVariable"
I'd like to request an unused variable module. The following should fail:

    public void foo() {
        Integer bar = 1;
        // This should fail since bar is not used
    }

Where as:

    public Integer foo() {
        Integer bar = 1;
        return bar
    }

Should not since it is used.

Thanks

[2020-01-22 15:21] rnveach commented on #7503
@t-rad679

Since you are using a custom path to your config and you didn't present your config, we can only assume you are using a custom version of the google config. We cannot confirm what your issue is if you don't provide the file. From the exception alone, it looks like you are using a config that has functionality that has not been released yet as mentioned in other issue.

From the descript

[2020-01-22 15:22] rnveach commented on #7503
@t-rad679

You are using a custom version of the google config so we cannot confirm what your issue is if you don't provide it. From the exception alone, it looks like you are using a config that has functionality that has not been released yet.

From the description in the other issue, I was under the impression the issue was with the internal configuration. The one that comes packaged with check

[2020-01-22 16:31] t-rad679 commented on #7503
I am not using a custom config. That is the config that comes with checkstyle in the repo. I gave that path to make it extra clear that I'm using the same config. That is my local clone of the checkstyle repo. I have made no modifications to it.

I generally use the checkstyle command, installed with brew...not a random jar downloaded from the release page. I wasn't aware specifying a file inside

[2020-01-22 16:47] rnveach commented on #7503
Yes, this is why we add the configuration to the JAR. You can load any config file for checkstyle by specifying the classpath. Since the JAR is added to the classpath, you can access configurations stored inside it.

I agree, it is not easy to find. The only example I found online was in https://checkstyle.org/cmdline.html#Download_and_Run . If you know a place to put it that would be straightforw

[2020-01-22 17:23] JLLeitschuh commented on #7468
Hey @romani,

I've got confirmation from someone that there is indeed a vuln here.
Can you open an advisory here: https://github.com/checkstyle/checkstyle/security/advisories

Please add myself and these two security researchers from Snyk.
 - Benji @benjifin
 - Leeya @leeyashalti
(There's a third person to add but I need their GH username first)

[2020-01-22 17:37] romani commented on #7468
Done.
https://github.com/checkstyle/checkstyle/security/advisories/GHSA-763g-fqq7-48wg

[2020-01-24 10:52] aisandbox commented on #7503
This is an understandable error (as I've just done the same thing).

The main checkstyle website (https://checkstyle.org/google_style.html) links to the version of google_checks.xml in master, which is different to the one which works with the latest release. So anybody following the website instructions will see this error.

The link on the website should either be changed to point to the latest

[2020-01-24 15:30] romani commented on #7503
There is no such term, config us versioned, the same as Check implementations. But I agree it might be  not obvious for users.

Yes, when we change Google config, not that frequent event, version in master is for information only.

Good point. There is nuance, we use on this page search feature of GitHub, it is available only for master head code.
What we can do is to put a warning on top of such

[2020-01-24 19:16] mageddo commented on #3208
I'm having this exactly bug. But I'm using the latest version

[2020-01-24 19:20] rnveach commented on #3208
@mageddo Please open a new issue with all the details.

[2020-01-24 19:31] mageddo commented on #6029
I'm getting the very same issue, Is there some workaround?

[2020-01-24 20:01] rnveach commented on #6029
You can always help us by looking into fixing the underlying issue in the code. Otherwise, you could always use suppressions to suppress them until they are fixed. https://checkstyle.org/config_filters.html#SuppressionFilter

[2020-01-24 23:16] romani commented on #3236
fix is merged

[2020-01-24 23:16] #3236 closed

[2020-01-24 23:16] romani commented on #3238
fix is merged

[2020-01-24 23:16] #3238 closed

[2020-01-24 23:17] romani commented on #4589
fix is merged.

@esilkensen , please request bounty.

[2020-01-24 23:17] #4589 closed

[2020-01-25 06:36] romani commented on #7486
@timurt, ping

[2020-01-25 14:29] romani commented on #3236
@esilkensen ,

we forgot to test fix on real code of users, please run some regression test on such projects, to make sure we do not have parse error any more.
@stefanseifert  should be notified to activate checkstyle back if they still want it.
release of fix will be done tomorrow.

[2020-01-25 14:34] rnveach commented on #7488
It seems wrong that a class that deals with message localization will not localize the arguments too.

[2020-01-25 14:40] romani opened #7505 "Add warning message at style coverage pages that referenced config is not released"
taken from #7503

At https://checkstyle.org/google_style.html , https://checkstyle.org/sun_style.html we use links to most recent google style file (not yet released version) on this page as we rely on search feature of GitHub, search feature is available only for master head code.

We can not put here links to previous release, that is absolutely reasonable from users perspective, but unfortunate

[2020-01-25 14:41] romani commented on #7503
issue is moved to #7505

[2020-01-25 14:41] #7503 closed

[2020-01-25 14:47] romani commented on #7505
Proposed wording:
`Links to config in following table reference to latest (not released yet) config, it might be slightly different from what we have in latest release. Please always use config that is embedded to jar or use config that is versioned https://github.com/checkstyle/checkstyle/blob/checkstyle-8.28/src/main/resources/google_checks.xml . Please be sure to use same version of config as y

[2020-01-25 14:51] romani commented on #7488
I am not sure how it can localize something that he do not understand and can not differentiate.
This class is controlling only template string value, so it make good decision on what to use as base, but all other is just some string values that might be not a human words at all.

[2020-01-25 15:33] esilkensen commented on #3236
Sounds good, I will do that and report back here soon.

[2020-01-25 15:53] romani commented on #3236
Please do me extra favor and update https://github.com/checkstyle/contribution/blob/master/checkstyle-tester/projects-to-test-on.properties#L15 to remove file from exclude that now is supported :) as you fixed parse issue.

[2020-01-25 17:40] esilkensen commented on #3236
Here is a regression report comparing current master with the commit right before it: http://esilkensen.github.io/checkstyle-tester/3238-wcm-io/index.html

I will open a checkstyle-tester PR later today.

[2020-01-25 18:28] romani commented on #3236
Hmm, there are still bunch of parse errors, did you had a chance to take a look at what syntax we still do not support ? New issues should be created ...

[2020-01-26 13:05] romani commented on #7487
Fix is merged

[2020-01-26 13:05] #7487 closed

[2020-01-26 22:00] strkkk commented on #7505
May be it is possible to create some branch with name like "latest_release" where config version for last release (and other stuff) will be stored. Can github make a search in this case?
Or just publish config(s) as release artifact.

[2020-01-26 23:12] romani commented on #7505
No such options https://github.com/search/advanced?q=java8&r=checkstyle%2Fcheckstyle&type=Code

[2020-01-27 16:26] #6186 closed

[2020-01-27 16:26] #6333 closed

[2020-01-27 16:45] romani opened #7509 "PMD warnings about duplicate rules"
from https://travis-ci.org/checkstyle/checkstyle/jobs/642243186#L596

[code]

[2020-01-27 17:17] rnveach commented on #7509
@romani can we have ci fail if pmd gives new warnings? I would not have noticed this if I had merged it earlier this morning. Wercker was failing at the time for due to artifact downloads.

[2020-01-27 17:21] romani commented on #7509
I am not sure, but there bunch of false positives ... see #7229

[2020-01-28 08:25] pbludov opened #7512 "Mark DetailAST::getNumberOfChildren as deprecated"
The interface DetailAST currently contains two methods to return the count of children:

    getChildCount
    getNumberOfChildren

Both methods are implemented in the same way (getChildCount has an optimization):

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/DetailAstImpl.java#L166

https://github.com/Distrotech/antlr2/blob/master/antlr/BaseAS

[2020-01-28 20:42] romani commented on #7512
fix is merged.

[2020-01-28 20:42] #7512 closed

[2020-01-28 22:43] romani commented on #7509
fix is merged.

[2020-01-28 22:43] #7509 closed

[2020-01-29 09:25] debashisdeb opened #7517 "xsd for the checkstyle configuration xml file"
**Use Case :**

I'm planning to introduce custom checks for multiple users, in which each project owner can define their own set of checks. I also have a set of default set of checks that needs to run for every project. During the run time of Checkstyle, I want to merge the project specific checks and the default checks. Having a XSD can help me validate if the merged XML configuration file is for

[2020-01-29 11:46] 0blivious commented on #5832
Hi may I know if this issue is still on hold? If not, can I work on this?

[2020-01-29 14:37] romani commented on #5832
It is not on hold, @jack870131 did some updates but he doesn't have to continue. Please be welcome to send Pull Requests.

[2020-01-29 16:09] strkkk opened #7518 "Change line number comparisons to use common isOnSameLine method"
At the moment there is several methods for checking that 2 ASTs are on same line, e.g.
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/NeedBracesCheck.java#L295
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/AbstractExpressionHandler.java#L188

And many occurrence

[2020-01-29 19:04] romani opened #7519 "new check: RightCurlyOfListItems"
based on discussion at #7174
to address cases like:
[code]

Looks like it is named as "list" in specification - https://docs.oracle.com/javase/specs/jls/se9/html/jls-8.html#jls-8.9.1

Check should match modes of RightCurly module, but ignore possible "," in between.
supported token for now: `ENUM_CONSTANT_DEF`

[2020-01-29 19:04] romani commented on #7519
@rnveach , @strkkk , @pbludov , please share ideas on name of Check.

[2020-01-29 19:52] debashisdeb commented on #7517
@romani  any ideas around this ?

[2020-01-29 20:09] pbludov commented on #7519
The last enum constant may ends with `;` (on the same line of course).
Arrays and lambdas can be supported by this check too:
[code]
Other possibility is to add three different checks: `RightCurlyOfEnumConstant`, `RightCurlyOfArray`, `RightCurlyOfLambda`.

[2020-01-29 20:20] romani commented on #7517
Yes, idea to migrate to xsd was around for very long time, but nobody actually willing to start this process.
here is request for XSD for reports - https://github.com/checkstyle/checkstyle/issues/5166

NO.
DTD do validation of xml files for structure, it is old fashion approach, but it works.
So nothing is blocking you right now to generate config file and simply use latest version of DTD (they ar

[2020-01-29 21:55] rnveach commented on #7519
I think it depends on how far the validation we will go for enumeration constants (How do people want to configure it).

Are we expecting are we looking for `}` to be alone with the `,` or `;`. Is there anytime we would want `,` or `;` on the separate line. Do we want to allow `{}` on a single line if they match some specification.

[2020-01-29 22:20] romani commented on #7519
yes, alone will mean line have only `}` and `,` or `;`.

I do not know, if somebody need it, Check could be extended.

yes.

----

even inline class definition might be supported, everything that have `{` `}` and located in list (of arguments or in list of definitions or .... ) might match this.

[2020-01-29 22:23] pbludov commented on #7174
fix is merged.

[2020-01-29 22:23] #7174 closed

[2020-01-29 22:26] rnveach commented on #7519
If this check will only do ENUM_CONSTANT_DEF then I think EnumConstantsRightCurly .

[2020-01-30 18:31] timurt commented on #7486
@romani

**`getLocalPart()`**
method returns name of the current node without namespace.

**`getStringValue()`**
method returns string representation of value of the current node.
`ElementNode` has no value, but can have child nodes. That's why it should throw exception as PMD does or should return concatenation of the descendant nodes

How PMD works, [ElementNode](https://github.com/pmd/pmd/blob/

[2020-01-30 20:18] romani opened #7521 "analyse size of mail-list and Rss audience for announcements"
sharing news about new release is still manual process.
Historically it was done by:
mail-list - https://groups.google.com/forum/#!forum/checkstyle-announce (22 members)
rss - https://sourceforge.net/p/checkstyle/news/ (unknown audience)
twitter - https://twitter.com/checkstyle_java (189 followers)

it would be better to avoid extra manual actions and reduce news channels that are not in use that

[2020-01-30 20:33] romani commented on #7521
we can use https://www.surveymonkey.com to collect votes of people who read notification and care about news.
We need to prepare good wording for announcement of possible change and share it in RSS and Mail-list:
[code]

@rnveach , @pbludov , @strkkk  it is clear message ?

[2020-01-30 20:47] pzygielo commented on #7521
GH releases can also be RSS-watched: https://github.com/checkstyle/checkstyle/releases.atom

[2020-01-30 22:09] mjustin opened #7522 "Exception when using SuppressWarningsHolder with @SuppressWarnings as an annotation property (e.g. in Lombok)"
Check documentation: https://checkstyle.sourceforge.io/config_annotation.html#SuppressWarningsHolder

[code]

---------------

When using Lombok's `@Getter(onMethod_ = @SuppressWarnings("unchecked"))` approach to suppress warnings on a generated getter, Checkstyle will throw an exception when `SuppressWarningsHolder` is specified in the config.  No exception is thrown if `SuppressWarningsHolder` i

[2020-01-30 22:27] romani commented on #7522
method does not expect such AST:
https://github.com/checkstyle/checkstyle/blob/baaac1625cfd2930c20855c3c7bfb9f50c9cd332/src/main/java/com/puppycrawl/tools/checkstyle/checks/SuppressWarningsHolder.java#L396-L409

to expect syntax like this, very rare syntax, but as it is compilable we need to support it.

We need to update to check that it is NOT a annotation as value.
https://github.com/checkstyle

[2020-01-30 22:42] rnveach commented on #4074
Fix was merged

[2020-01-30 22:42] #4074 closed

[2020-01-30 22:50] romani commented on #6807
Tree is like:
[code]

So we need to have Xpath that test that RCURLY is the only child of parent SLIST.
@timurt , do you know if it is possible to make such Xpath expression ?

[2020-01-30 23:01] romani opened #7523 "CLI '-s' option does not match by data from '-t'"
https://checkstyle.org/cmdline.html#Command_line_usage

[code]

by first command, xpath is printed for parent token `SLIST`, but expected `RCURLY`.
by second command, nothing is printed but expected xpath for `SLIST`.

[2020-01-30 23:22] romani commented on #6807
Looks like I got it ....
Here is Xpath:
[code]

@timurt , am I right in my xpath ? if so we can embed this filter in config so it will ease a problem.

[2020-01-30 23:27] romani commented on #6946
@rdiachenko ,

can you check that workaround with suppression at https://github.com/checkstyle/checkstyle/issues/6807#issuecomment-580508583 works for you to ?
if it works well, we can embed such filter in google config and ease a problem.
it is better to make right Check for Google requirements ..... but at least eliminate issue by good suppression.

[2020-01-31 06:05] timurt commented on #6807
@romani
I checked your xpath query with `XpathMapperTest` and it passed

You can see my test [here](https://github.com/timurt/checkstyle/commit/a4c0057fcb4afbee1611d87bfb61c7b09dc3aa1a)

[2020-01-31 11:16] rdiachenko commented on #6807
@romani , replying to your comment https://github.com/checkstyle/checkstyle/issues/6946#issuecomment-580509984:

I checked few projects with the proposed suppression above. The only one violation was detected:
[code]
PS: don't ask me why that class is empty, I have no idea, just found it in one of the projects :)

[2020-01-31 11:17] rdiachenko commented on #6946
Replied here: https://github.com/checkstyle/checkstyle/issues/6807#issuecomment-580693573

[2020-01-31 13:02] rnveach commented on #7486
Fix was merged

[2020-01-31 13:02] #7486 closed

[2020-01-31 13:06] strkkk commented on #7521
@romani I would ask also about preferable ways to get information about news/updates, may be there is some other (not rss/mail/twitter) things.

[2020-01-31 13:11] rnveach commented on #7521
@romani the message is clear to me.

[2020-01-31 14:38] romani commented on #7521
I do not want to give users much freedom, as it helps me to avoid steps that are not automated in release. Release should be done by any maintainer, it should not take long time.
If users want something else that much they will create issue and we will discuss.

[2020-02-01 00:49] romani commented on #6807
structure of AST is a bit different for empty classes:
[code]

[2020-02-02 00:28] romani commented on #6807
Here is working example:
[code]

@rdiachenko , please try to put in your config filter, this version of filter, it should suppress most false positives, BUT it will cause false-negatives on cases like `void method8(int a) {/*:)*/} //ok, should be violation` .... false-negative is better than false-positive and will be addressed only by custom Check.
If you find no bad effects, we can put such filt

[2020-02-02 15:54] rnveach commented on #5832
https://github.com/checkstyle/checkstyle/issues/5832#issuecomment-527400145
3 are left.

[2020-02-02 23:49] romani commented on #7521
https://groups.google.com/forum/#!topic/checkstyle-announce/WKGrxbjbjXg
https://sourceforge.net/p/checkstyle/news/2020/02/checkstyle-team-considers-to-discontinue-rss-feed/

In 3 month (after 2 May 2020), we will review results at https://www.surveymonkey.com/analyze/jahHtK5YC_2B86HCogpBnwxcLy9OECJy5XTPYvKSjY0Uc_3D , make result public and make a decision.

[2020-02-02 23:55] romani commented on #7517
issue is not complete, if no activity happened till end of February, issue will be closed.

[2020-02-03 00:25] romani commented on #7523
@timurt , can you confirm that this valid issue ?

[2020-02-03 00:45] romani commented on #7518
I am ok to move this to util method of some existinig util class.

@pbludov, please confirm and approve issue.

[2020-02-03 00:50] romani commented on #7505
@rnveach  or @pbludov please approve issue.

[2020-02-03 00:54] romani commented on #7448
I am closing this issue, as it is discussion, and compatibility will not be restored.
All future breaking compatibility changes we will try to be accurate.

Discussion can be continued in this issue.

[2020-02-03 00:54] #7448 closed

[2020-02-03 01:29] romani commented on #7388
desired validation could be done as special instance of TodoComment Check:
[code]

But I agree, it is better to do special Check with better name - `RegExpComment` and property `format` and `ignoreCase`.

@rnveach , @strkkk , @pbludov , please validate proposal for new Check. It should serve majority of simple cases that users need to catch.

[2020-02-03 06:56] pbludov commented on #7518
As far as I understand, this is not about optimization, but about code readability?
`if (firstNode.getLineNo() != secondNode.getLineNo())` vs
`if (!CheckUtil.areOnSameLine(firstNode, secondNode))`

I like this.

[2020-02-03 07:23] pbludov commented on #7388
`//No space`
grep -rn "\s//\w" | wc -l
188

`// Exactly one space`
grep -rn "\s//\s\w" | wc -l
1545

`//  Two spaces or more`
grep -rn "\s//\s\s" | wc -l
45

I vote for a new check with one additional parameter: `boolean strict` to allow more than one space after slashes.

[2020-02-03 09:39] vilppuvuorinen commented on #6210
The fix in 8.29 works only if the first line does not contain method chaining. I know, the examples are horrible.

Following snippets use `<property name="lineWrappingIndentation" value="8"/>`.

This case is fine:

[code]

In this case we get flashbacks from 8.28:

[code]

Accepted formatting is:

[code]

[2020-02-03 12:03] strkkk commented on #7518
yes, only readability.

[2020-02-03 16:40] romani commented on #6210
@vilppuvuorinen, please open new issue with all details.

[2020-02-03 19:54] rdiachenko commented on #6807
@romani thanks a lot for the suggestion. Works fine for me, none suspicious behavior was detected.

[2020-02-03 23:46] rnveach commented on #6807
@romani Your xpath fails for one case once we introduce comment aware checks into the configuration which brings up an issue with our xpath implementation.

[code]

[2020-02-03 23:51] rnveach opened #7531 "Update doc to mention that XPath has direct connection to if comment aware checks are added or not"
Identified at https://github.com/checkstyle/checkstyle/issues/6807#issuecomment-581674231 ,

XPath was generated for a single check and it suppressed all issues.

[code]

However, once a comment aware check is added, TodoComment, the suppression fails for one instance, which have comments in the violation path.

[code]

This shows a direct correlation between xpath suppressions and the type of che

[2020-02-03 23:56] rnveach commented on #7531
The issue is when we log a violation we send the AST node to the filter that is in use by the check at the time. TreeWalker, which runs the checks and controls the AST directly, splits the runs between comment and non-comment aware checks. Between runs, TreeWalker will rewrite the same AST tree that was given in violations and add in comment aware checks. Since xpath is directly connected to the A

[2020-02-04 06:58] romani commented on #7388
I do not think new property is requried, as it could be done by regexp.

such cases ..... can force us to use special property like `ignorePattern` (to avoid forcing user to write very complicated regexps that have ignore cases embedded) or ask users to use SuppressionSingleFilter

[2020-02-04 07:02] romani commented on #6807
#7531 is valid issue, we need to think about it.

Xpath that I provided is still good for Google style as style does not allow any content in `{}`, so missed match by xpath is valid violation.

[2020-02-04 19:15] adangel opened #7534 "NPE in MissingDeprecatedCheck"
Check documentation: https://checkstyle.org/config_annotation.html#MissingDeprecated

[code]

---------------

There should be no null pointer exception, even though there are two formal comments at the top level of the class.

To avoid the NPE, I can change the first formal comment into a normal comment or remove the single line comment. Both changes make the NPE go away.

**Attention:**
Update h

[2020-02-04 19:36] rnveach commented on #7534
I can duplicate the exception.

[2020-02-04 19:59] rnveach commented on #7534
The issue is directly related to #7430 . The block comment was not being recognized as a javadoc because of the line comment separating it and the javadoc.

[2020-02-05 04:57] rnveach commented on #7534
Even though the exception happens in the utility, I believe the issue is in the check itself.

https://github.com/checkstyle/checkstyle/blob/ae9edbd4a8645c8cc1a99ad6890dd0006700d1cb/src/main/java/com/puppycrawl/tools/checkstyle/checks/annotation/MissingDeprecatedCheck.java#L172
When looking for the parent node of the javadoc (more specifically the target), we return the single line comment instead

[2020-02-05 05:05] rnveach commented on #6480
Fix was merged

[2020-02-05 05:05] #6480 closed

[2020-02-05 15:15] t-rad679 commented on #7503
Sorry for the delay, yes that sounds fine.

[2020-02-05 22:28] ewencp opened #7535 "JavadocParagraph now emits errors for comments that are ignored by javadoc"
Check documentation: https://checkstyle.org/config_javadoc.html#JavadocParagraph

[code]

---------------

Expected (previous) behavior: first error on line 3 not emitted, second error on line 12 is valid.

In earlier versions of checkstyle, some comments that start with javadoc-like `/**` were ignored by certain checks. I believe this changed in https://github.com/checkstyle/checkstyle/issues/651

[2020-02-06 02:34] romani commented on #7535
@ewencp , I see some commits are detected by GitHub, please do not rush with fix till issue is approved. CI will not accept PR to not approved issue.

This is gray area , we discussed such cases, we have resolution somewhere in issue/PR discussion. I will reply a bit later.

[2020-02-06 02:38] romani commented on #7535
@ewencp , I see some commits are detected by GitHub, please do not rush with fix till issue is approved. CI will not accept PR to not approved issue.

This is gray area , we discussed such cases, we have resolution somewhere in issue/PR discussion. I will reply a bit later.

[2020-02-06 02:38] ewencp commented on #7535
Sure thing. I read contribution guidelines and did not file a PR until you mark it approved, but I'll need to work around this even if the patch is not accepted upstream.

[2020-02-06 02:45] ewencp commented on #7535
Possibly worth some additional context -- I actually have 2 fixes, but one is highly specific to the specific case I encountered (i.e. specific to comments starting on line 1, which for us is always the copyright header), but is completely backwards compatible since it introduces a config for the JavadocParagraphCheck. The one I pushed that you see commits for (and which is already tested against

[2020-02-06 09:38] pbludov commented on #7535
Although this is not [documented](https://docs.oracle.com/en/java/javase/11/docs/specs/doc-comment-spec.html), the Javadoc comments on package are ignored in all files except the `package-info.java`.

There is an issue with [InvalidJavadocPosition](https://checkstyle.org/config_javadoc.html#InvalidJavadocPosition). Such comments are invalid and should be reported.

As for `JavadocParagraph` check,

[2020-02-06 15:37] thomasturrell opened #7537 "separateLineBetweenGroups property has no effect"
Check documentation: https://checkstyle.org/config_imports.html#CustomImportOrder

[code]

---------------

Since separateLineBetweenGroups is true I did not expect any errors. Version 8.29 does not seem to respect the property separateLineBetweenGroups, Version 8.27 does not report any errors.

Version 8.27 output:

[code]

--------------

[2020-02-06 16:17] romani commented on #7537
https://checkstyle.org/config_imports.html#CustomImportOrder_Properties

You are using default for `customImportOrderRules` property that is "all is one group". So behavior is correct. Please adjust such property to reference groups of imports.
Please beware of another Check https://checkstyle.org/config_imports.html#ImportOrder that might give different possibility to enforce order.

[2020-02-06 16:45] romani commented on #7535
Yes, it was like this because all Checks that are created before version 6 were based on parsing by regexp and had tons of bugs. After version 6, we start to do javadoc parsing by grammar. Unfortunately there is not public grammar for javadoc at all. `javadoc` tool is full of bugs too, for many many years user unintentionally used mistake in javadoc content in huge amount of files. So it placed ch

[2020-02-06 18:02] thomasturrell commented on #7537
Thank you @romani for taking the time to explain to me.

I guess I have a different definition of a group to Checkstyle. My idea of a group is com, org, etc. From the error output it wasn't obvious to me that my configuration would have no effect because of the `customImportOrderRules`.

It seems as though the behaviour has changed since 8.27. The following configuration behaves differently in 8.2

[2020-02-06 18:02] #7537 closed

[2020-02-06 19:58] Sadgrinner opened #7538 "Improve XMLFormatter to include sourceName AND moduleId"
I would like to add more information to the output XML generated by the XMLLogger's `writeFileError()` method.

## CURRENT

* [This method](https://github.com/checkstyle/checkstyle/blob/ae9edbd4a8645c8cc1a99ad6890dd0006700d1cb/src/main/java/com/puppycrawl/tools/checkstyle/XMLLogger.java#L186-L205) writes up to five XML properties for each `error`, including:
  * `line`
  * `column`
  * `severity`

[2020-02-07 02:51] romani commented on #7537
Yes, it expected, you can see reference of such Check in release notes
https://checkstyle.org/releasenotes.html#Release_8.28

If that is not possible, so you should ask yourself a question "why your project need to follow Google way for imports order ?". Just match Eclipse setting to checkstyle and keep going. All you need is uniform order of imports to avoid extra diff.  Exact style of order is n

[2020-02-07 02:59] romani commented on #7518
Fix is merged

[2020-02-07 02:59] #7518 closed

[2020-02-07 05:23] romani commented on #7538
@Sadgrinner , please do me a favor and make CLI executions(make some simple test input file) with print of output file and exact look of xml file for cases bases on your proposal.

[2020-02-07 14:02] romani commented on #7535
workaround, attention to `<property name="lines" value="1-5"/>` it should be changed to match your header size:
[code]

or a bit more flexible (offCommentFormat and onCommentFormat, need to be adjusted to match your header first and last sentence.):
[code]

[2020-02-07 14:38] romani commented on #7535
I am closing this issue, suppression should be used.

[2020-02-07 14:38] #7535 closed

[2020-02-09 02:13] romani opened #7541 "new Check: RightCurlyAloneOrEmpty"
based on #6807

This Check is required to avoid inlined suppression and replace `RightCurlyAlone` Check instance completely in google_checks.xml .

new Check with possible name as RightCurlyAloneOrEmpty should be separate from RightCurly but can copy any functionality it needs and cover singe case, ones implemented it should replace existing RightCurly instance in google config.

[2020-02-09 02:15] romani commented on #7541
PR https://github.com/checkstyle/checkstyle/pull/7422 have bunch of useful Inputs that should be reused.

[2020-02-09 02:25] rnveach commented on #7541
Issue needs to follow https://checkstyle.org/report_issue.html#How_to_request_new_feature_for_existing_functionality.3F otherwise there is no clear declaration of the requirements to make such a check and no one will work on it.

[2020-02-10 23:16] Sadgrinner commented on #7538
## Testing and Examples
### Checks Applied
I used [google_checks.xml](https://github.com/checkstyle/checkstyle/blob/8848aaa8f7158b726b3d4b6764a0c16da730fc86/src/main/resources/google_checks.xml#L55-L63) which contains, among many other checks, the following unique/"custom-identified" module checks:

[code]

It also contains the following checks, which aren't uniquely identified but for thoroughnes

[2020-02-11 14:24] romani opened #7543 "WhitespaceAround: violation on empty initializer but google style allow it"
Check documentation: https://checkstyle.org/config_whitespace.html#WhitespaceAround

[code]

Expected: no violations for google config.
New property should be created to `allowEmptyInitializer`.

[2020-02-11 14:31] romani opened #7544 "Suppress violations on empty initializer in google style from WhitespaceAround"
issue is described at #7543

We need to provide temporal suppression of violations by xpath.

[2020-02-11 14:57] pbludov commented on #7505
fix is merged.

[2020-02-11 14:57] #7505 closed

[2020-02-11 18:14] rnveach commented on #6104
Fix was merged

[2020-02-11 18:14] #6104 closed

[2020-02-12 11:26] romani opened #7546 "Extend IT tests to able to load few modules from configs"
discussed in https://github.com/checkstyle/checkstyle/pull/7542#discussion_r378190853

we need to extend AbstractGoogleModuleTestSupport to allow load few modules from config file.

In referenced PR we need to load together for each test:
[code]

**Attention**: `id` property in Filter is occupied for business logic meaning, so load of specific Filter might be problematic. It might require update i

[2020-02-12 11:44] rnveach commented on #7546
Why only a few modules and not the entire config?

[2020-02-12 12:08] romani commented on #7546
load of whole config might result in big list of `expected` violations, I think it will be hard to maintain such tests. I just keep original ideas of `it` to be module based.

Many years ago I thought that I will easily find open source project(s) that completely follow google style, so it will be our "no violations" test base .... it was naive.

We might create new set of ITs to keep input files

[2020-02-12 13:55] rnveach commented on #7546
I don't know how hard it will be to make inputs that strict, but it may be good to show that the entire input is compliant except the spots we tell them it will produce violations.

`<property name="id" value="RightCurlyAlone"/>`

`<property name="id" value="RightCurlyAlone"/>`

We should be able to find config by its module name (like we do now), and if it contains an `id`, find other modules tha

[2020-02-12 16:12] romani commented on #7546
I always ok to have more tests. Please create new issue on this, if you want it.

[2020-02-13 15:21] anubh-v commented on #5982
Is this issue still valid? I'm interested in contributing

[2020-02-13 16:15] romani commented on #5982
It has approved, it is still valid.
Please be welcome to contribute.

[2020-02-14 16:11] marquiswang opened #7549 "Add option for line wrapping of method definition in Indentation module"
When I have the indentation module enabled with basicOffset = 4 and lineWrappingIndentation = 8, I'd like to have this code:

[code]

rather than

[code]
---------------
I'd like to have the option to configure the line wrapping indentation for field definitions separate from the line wrapping indentation for statements.

The reason for wanting this is that the method name should not align with th

[2020-02-17 01:33] romani commented on #7531
Good example of how presence of trailing comments make xpath to become not-matching - https://github.com/checkstyle/checkstyle/pull/7542#issuecomment-586778038

[2020-02-17 09:47] petr-nehez opened #7552 "IllegalStateException: expecting RCURLY, found 'null'"
Unfortunately I cannot give you full decription of the issue and data for it, it has occurred only once in IntelliJ 2019.3.2.
It could happen due to some some unexpected state of file.

Plugin version: `5.35.5`
CheckStyle version: `8.28`

This is the error from IntelliJ's EventLog:
[code]

[2020-02-17 13:04] romani commented on #7552
It is parse error, we need input java file `home/petr/work/src/tipsport/tipsys2/commons/src/main/java/cz/tipsport/common/tools/JsonTools.java`, version of checkstyle, ... All details that template try force you to share

[2020-02-17 13:14] petr-nehez commented on #7552
I don't have the version which has caused the error.
The current version is not causing the problem. I remember I was moving a method from one class to `JsonTools`.

[2020-02-17 14:19] zielint0 opened #7553 "SuperClone - can it ignore uncallable (abstract) clone() methods?"
[code]

cat checkstyle.xml
[code]

/var/tmp $ cat Main.java
[code]

Checkstyle 8.29 (invoked by IntelliJ IDEA CheckStyle 5.35.5 plugin)

**Obtained**
[code]

---------------
**Expected**
[code]
Describe what you expect in detail.

Abstract class `TreeFilter` (existing in a separate jar file) contains abstract method _clone()_:
`protected abstract TreeFilter clone();`
My class named `MyFilter` exte

[2020-02-17 14:32] rnveach commented on #7553
The direct answer is no, we are not a type aware tool. You will need to use https://checkstyle.org/config_filters.html to suppress violations like this.

See https://checkstyle.org/writingchecks.html#Limitations

You cannot see the content of other files.

[2020-02-17 15:33] romani commented on #7552
Please open issue on Idea plugin. Checkstyle validation need to be executed only on compilable java files.
It is limitation by design, plugins need to handle this.

[2020-02-17 15:33] #7552 closed

[2020-02-17 17:28] victornoel opened #7554 "CustomImportOrder: impossible to configure it for Eclipse auto-import"
Check documentation: https://checkstyle.org/config_imports.html#CustomImportOrder

Eclipse (2019-12) auto-organizes the following imports as follow:
[code]

I configured checkstyle as follow:
[code]

But checkstyle 8.29 complains with:
[code]

There was no problem in the past with checkstyle 8.23 and 8.25 for example.

[2020-02-17 17:38] victornoel commented on #7554
My bad, the following settings work for Eclipse:
[code]

[2020-02-17 17:38] #7554 closed

[2020-02-17 23:11] romani commented on #6807
Workaround is merged.
Actual fix will be by new check implementation at #7541

[2020-02-17 23:11] #6807 closed

[2020-02-18 02:08] baron1405 commented on #7534
I can confirm that with 8.29, having a line comment in between a Javadoc command and its code causes the NPE. For example the following causes the NPE in a package-info.java:
[code]

[2020-02-18 02:26] romani commented on #7534
@baron1405 , can you share real life reason to have comments like this? Is it for good reason? Or just coincidence?

[2020-02-18 08:37] petr-nehez commented on #7552
Sorry, I didn't realize that I should report it under plugin repo.

[2020-02-18 12:02] rnveach commented on #5832
@romani Does this complete the issue?

[2020-02-18 16:19] romani commented on #5832
AbbreviationAsWordInName, MethodName needs example for default.

AbstractClassName , CatchParameterName , ClassTypeParameterName, ConstantName,
InterfaceTypeParameterName
 needs default config plus example for it.

[2020-02-18 20:05] adangel commented on #7534
I had this case when upgrading checkstyle in PMD. We have a license header comment - and unfortunately used formal comments for that. The fix is of course, to use simple comments. So, the priority is very low.
But nevertheless, I think checkstyle shouldn't stumble across such files.

[2020-02-18 20:26] Sadgrinner commented on #7538
@romani , do you want anything else to understand my proposed changes?

[2020-02-19 03:09] romani commented on #7538
Sorry for delay, my queue is long.

Please squash all comments to description.
Please focus on how report will looks like before and after update. Please remove all proposed code changes.

[2020-02-19 08:24] cyw3 opened #7558 "Can MemberName ignore `final` variable names？"
here is the code to checked:
[code]
And when checkstyle check it, issue is :
`Name 'TEST' must match pattern '(^[a-z][a-z0-9][a-zA-Z0-9]*$)'.`

However, I think final variable names should be all caps, and i don't know how to ignore that.

Can you help me?

[2020-02-19 08:50] pbludov commented on #7558
@cyw3 Please format the issue as described [here](https://checkstyle.org/report_issue.html).

Common use of ALL CAPS notation is for constants. See [here](https://checkstyle.org/styleguides/google-java-style-20180523/javaguide.html#s5.2.4-constant-names) and [here](https://checkstyle.org/styleguides/sun-code-conventions-19990420/CodeConventions.doc8.html#a367).
The modifier `final` is for **assign

[2020-02-19 09:41] zielint0 commented on #7553
@rnveach
Thank you for answer and clarification.

[2020-02-19 09:42] #7553 closed

[2020-02-19 13:23] #7558 closed

[2020-02-19 14:36] romani commented on #7543
@rnveach , please review issue. I was confident before today about it, that it is issue.
But this is grey area of Google style, empty blocks does not make sense at all to my mind, so it is probably ok that we do violation on such code.

[2020-02-20 14:03] aydinugur commented on #7504
Agree, this would be useful.

[2020-02-20 21:40] rnveach commented on #7543
It is not completely clear. Is the xpath suppression suppose to represent which cases the property will suppress or will we be adding both the xpath and property? If it is the latter, what will the suppression provide that the property won't?

[2020-02-21 16:14] romani commented on #5982
@ashishpapanai , can you help us resolve this issue?

[2020-02-21 16:31] eriklansner-blip commented on #7504
Hello, I would like to work on this issue.

[2020-02-21 17:37] ashishpapanai commented on #5982
I am ready.

[2020-02-21 17:45] ashishpapanai commented on #5982
I am on it

[2020-02-21 20:41] rnveach commented on #7504
@eriklansner-blip If you are new to checkstyle then I would not recommend this issue as a first time. To be able to see if a variable is used or not would require some degree of tracking the variable in the code. There could be name conflicts like a field with the same name, or an anonymous class. It may require some degree of difficulty like the `RequireThisCheck`.

[2020-02-21 23:02] romani opened #7561 "Add default config example for AbstractClassName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#AbstractClassName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how

[2020-02-21 23:03] romani commented on #7561
@haideratGitHub , can you help us to resolve this issue ?

[2020-02-21 23:07] romani opened #7562 "Add default config example for ClassTypeParameterName"
split from #5832

update ClassTypeParameterName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#ClassTypeParameterName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-pract

[2020-02-21 23:08] romani commented on #7562
@amritk07 , please help to resolve.

[2020-02-21 23:10] romani opened #7563 "Add default config example for CatchParameterName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#CatchParameterName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-ho

[2020-02-21 23:11] romani commented on #7563
@promehul , can you help us to resolve this issue ?

[2020-02-21 23:12] romani opened #7564 "Add default config example for ConstantName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#ConstantName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-u

[2020-02-21 23:13] romani commented on #7564
@RhnSaxena , please help to resolve.

[2020-02-21 23:14] romani opened #7565 "Add default config example for AbstractClassName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#AbstractClassName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how

[2020-02-21 23:15] romani commented on #7565
@pkpale , can you help to resolve this issue

[2020-02-21 23:16] romani commented on #5832
InterfaceTypeParameterName
needs default config plus example for it.

we moved to separate issues

[2020-02-21 23:18] romani opened #7566 "Add default and missed property config example for AbbreviationAsWordInName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#AbbreviationAsWordInName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice

[2020-02-21 23:18] romani opened #7567 "Add default config example for MethodName"
split from #5832

update AbstractClassName to make examples for all configs shown in documentation
https://checkstyle.org/config_naming.html#MethodName
this check need default config and example of code that is violates and expect as correct.

See original issues for examples on how to make update.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to-upd

[2020-02-21 23:19] romani commented on #5832
moved to separate issues.

This issue is closed.

[2020-02-21 23:19] #5832 closed

[2020-02-22 02:27] romani commented on #7543
I confused you by my description, as it has xpath, I will redo description

[2020-02-22 02:39] romani commented on #7504
We are welcoming you to make a fix, we will guide you on how to make it and we will assist you.

We just try to warn you in advance that it might be not that easy when it comes to edge cases.

[2020-02-22 03:14] amritk07 commented on #7562
I am on it

[2020-02-22 03:22] RhnSaxena commented on #7564
I am on it.

[2020-02-22 06:15] pkpale commented on #7565
I am on it

[2020-02-22 06:15] pkpale commented on #7565
Can you help me how to proceed further @romani

[2020-02-22 06:17] haideratGitHub commented on #7561
@romani  sure I can, Is it okay if I start working on it after monday because I have exam due on monday so I need to prepare for it ?  After that I'll up to that issue and will ask for some help if needed.

[2020-02-22 08:54] amritk07 commented on #7562
@romani  Do I have to update only AbstractClassName or any other check also

[2020-02-22 10:36] amritk07 commented on #7562
I have resolved the issue and created PR [Link](https://github.com/checkstyle/checkstyle/pull/7568)

[2020-02-22 11:37] rnveach commented on #7562
@amritk07 As the issue describes, this issue is only for ClassTypeParameterName. AbstractClassName is a completely issue and separate from this.

[2020-02-22 12:33] CapTen101 commented on #7566
I'm on this issue @romani

[2020-02-22 13:01] romani commented on #7561
Sure

[2020-02-22 13:14] raghuchandan1 commented on #7567
I am on it!

[2020-02-22 13:34] romani commented on #7190
maven plugin is updated and released version.
https://github.com/checkstyle/checkstyle/pull/7551

We can remove methods completely now.

[2020-02-22 14:25] pkpale commented on #7565
@romani  for adding the config example for InterfaceTypeParameterName  I have to make changes in this file https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_naming.xml

[2020-02-22 14:27] romani commented on #7565
yes, as you update this file , please run `mvn verify` and make sure it pass.
it will force you to do same update in javadoc of Check.

[2020-02-22 15:00] romani opened #7569 "update doc for AnnotationLocation to have config first and code sample after"
https://checkstyle.org/config_annotation.html#AnnotationLocation

There is no example of default configuration of this Check. Please add.
update doc for AnnotationLocation to have config first and code sample after.

Code of documentation is at https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_annotation.xml

Good example of documentation structure is at https://checkstyle.org/

[2020-02-22 15:06] romani opened #7570 "update doc for AnnotationOnSameLine"
https://checkstyle.org/config_annotation.html#AnnotationOnSameLine

add code examples with code that are expected by Check (produce no violations).
add example with configured (non default) `tokens` property ([example](https://checkstyle.org/config_blocks.html#EmptyBlock)).

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means

[2020-02-22 15:11] romani opened #7571 "update doc for AnnotationUseStyle"
https://checkstyle.org/config_annotation.html#AnnotationUseStyle

1) Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

2) Please add example with non default value for `trailingArrayComma`

look at referenced commits of #5832, to see what and how should be changed in code.

please

[2020-02-22 15:18] romani opened #7572 "update doc for MissingDeprecated"
https://checkstyle.org/config_annotation.html#MissingDeprecated

1) Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of https://checkstyle.org/cmdline.html

[2020-02-22 15:20] romani opened #7573 "update doc for MissingOverride"
https://checkstyle.org/config_annotation.html#MissingOverride

1) Add example for each existing config to show what code is ok and what code cause violation.
    Good example is https://checkstyle.org/config_naming.html#AbstractClassName

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of https://checkstyle.org/cmdline.htm

[2020-02-22 15:21] romani opened #7574 "update doc for PackageAnnotation"
https://checkstyle.org/config_annotation.html#PackageAnnotation

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of https://checkstyle.org/cmdline.html to

[2020-02-22 15:24] romani opened #7575 "update doc for SuppressWarnings"
https://checkstyle.org/config_annotation.html#SuppressWarnings

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of https://checkstyle.org/cmdline.html to u

[2020-02-22 15:27] romani opened #7576 "update doc for SuppressWarningsHolder"
https://checkstyle.org/config_annotation.html#SuppressWarningsHolder

Add example of config for each existing code to show examples of usage.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

look at referenced commits of #5832, to see what and how should be changed

[2020-02-22 17:42] yajna-pandith commented on #7476
I am on it.

[2020-02-22 18:38] yajna-pandith commented on #3987
I am on it

[2020-02-22 18:38] yajna-pandith commented on #3730
I am on it

[2020-02-22 18:40] yajna-pandith commented on #2986
I am on it

[2020-02-22 20:03] romani commented on #7476
Each case should be sent in separate PR, we should not damaged readability if code. It might be possible that there is no way to reduce complexity and should mark case as "won't fix".

[2020-02-23 01:01] romani commented on #3987
this issue is already done in scope of #6619

https://github.com/checkstyle/checkstyle/blob/master/src/site/resources/styleguides/google-java-style-20180523/javaguide.html

[2020-02-23 01:01] #3987 closed

[2020-02-23 06:29] promehul commented on #7563
Yeah, I'm on it.

[2020-02-23 10:36] PrabodDunuwila commented on #7574
I'm on it.

[2020-02-23 11:56] rdiachenko opened #7579 "Update doc for AvoidNestedBlocks"
https://checkstyle.org/config_blocks.html#AvoidNestedBlocks

Add code examples for check's default configuration (one which produces violations and one without violations).
Add a config and examples with configured (non default) allowInSwitchCase property.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkst

[2020-02-23 12:00] pkpale commented on #7565
@romani Can you please help me I am bit confused.
Do I need to make changes in this https://checkstyle.org/config_naming.html#InterfaceTypeParameterName or https://checkstyle.org/config_naming.html#AbstractClassName and I have to take reference of whom to make change in another.

[2020-02-23 12:07] rdiachenko opened #7580 "Update doc for EmptyBlock"
https://checkstyle.org/config_blocks.html#EmptyBlock

Add examples for each existing config to show what code is ok and what code causes violations.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/ch

[2020-02-23 12:11] rnveach commented on #7565
@pkpale We are only looking for changes in `AbstractClassName`. You should use `InterfaceTypeParameterName` as an example. We want all properties to be documented to show examples of code it will and will not violate and how they are different than the default configuration.

[2020-02-23 12:19] rdiachenko opened #7581 "Add default config and code examples for EmptyCatchBlock"
https://checkstyle.org/config_blocks.html#EmptyCatchBlock

This check needs a default config and examples of code that gives violations and that is correct.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/check

[2020-02-23 12:22] rdiachenko opened #7582 "Update doc for LeftCurly"
https://checkstyle.org/config_blocks.html#LeftCurly

Add examples for each existing config to show what code is ok and what code causes violations.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how it works.

NOTE: we just need more examples on different modes of  `op

[2020-02-23 12:25] rdiachenko opened #7583 "Update doc for NeedBraces"
https://checkstyle.org/config_blocks.html#NeedBraces

Add examples for each existing config to show what code is ok and what code causes violations.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/ch

[2020-02-23 12:27] rdiachenko opened #7584 "Update doc for RightCurly"
https://checkstyle.org/config_blocks.html#RightCurly

Add examples for each existing config to show what code is ok and what code causes violations.

Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/ch

[2020-02-23 15:04] eriklansner-blip commented on #7504
Thank you for the responses. I am part of a student group that has been tasked with resolving an issue on an open-source project. We chose this particular issue and we understand that it will not be that easy. We will give it some amount of hours and we will get back to you with the results.

[2020-02-23 15:05] PrabodDunuwila commented on #7574
Do I need to provide an example as below?
`@Deprecated`
`package com.example.annotations.packageannotation;`

[2020-02-23 15:08] rnveach commented on #7574
Any examples that help show what the check looks for and prints violations for. It says it checks any package annotations are in `package-info.java`. So yes, you will need an example showing an annotation and explain the file name.

[2020-02-23 16:39] timurt opened #7587 "Update doc for DescendantToken"
https://checkstyle.org/config_misc.html#DescendantToken

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

[2020-02-23 16:40] timurt opened #7588 "Update doc for FinalParameters"
https://checkstyle.org/config_misc.html#FinalParameters

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/

[2020-02-23 16:42] timurt opened #7589 "Update doc for NewlineAtEndOfFile"
https://checkstyle.org/config_misc.html#NewlineAtEndOfFile

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checksty

[2020-02-23 16:44] timurt opened #7590 "Update doc for OuterTypeFilename"
https://checkstyle.org/config_misc.html#OuterTypeFilename

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyl

[2020-02-23 16:45] timurt opened #7591 "Update doc for TodoComment"
https://checkstyle.org/config_misc.html#TodoComment

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki

[2020-02-23 16:45] timurt opened #7592 "Update doc for TrailingComment"
https://checkstyle.org/config_misc.html#TrailingComment

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/

[2020-02-23 16:47] timurt opened #7593 "Update doc for Translation"
https://checkstyle.org/config_misc.html#Translation

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki

[2020-02-23 16:48] timurt opened #7594 "Update doc for UncommentedMain"
https://checkstyle.org/config_misc.html#UncommentedMain

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/

[2020-02-23 16:48] timurt opened #7595 "Update doc for UniqueProperties"
https://checkstyle.org/config_misc.html#UniqueProperties

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle

[2020-02-23 16:49] timurt opened #7596 "Update doc for UpperEll"
https://checkstyle.org/config_misc.html#UpperEll

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName

please play with module/Check by means of https://checkstyle.org/cmdline.html to understand how it works.

------------

PLEASE READ https://github.com/checkstyle/checkstyle/wiki/Go

[2020-02-23 19:04] pkpale commented on #7565
Ok I will do it but after my exams are over as they going on and will end by 29th. I hope it will be fine.

[2020-02-23 21:48] baratali opened #7597 "Update doc for AtclauseOrder"
https://checkstyle.org/config_javadoc.html#AtclauseOrder

We need to have example for each property that we have except for `violateExecutionOnNonTightHtml` to clearly show user how Check works and change behavior when some property is used.

We need to have:
default config + example of code that shows how it work.
config with `target` override + example code to see difference in comparison with d

[2020-02-23 21:54] baratali opened #7598 "Update doc for JavadocMethod"
https://checkstyle.org/config_javadoc.html#JavadocMethod

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-23 21:58] baratali opened #7599 "Update doc for JavadocStyle"
https://checkstyle.org/config_javadoc.html#JavadocStyle

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understan

[2020-02-23 22:00] baratali opened #7600 "Update doc for JavadocTagContinuationIndentation"
https://checkstyle.org/config_javadoc.html#JavadocTagContinuationIndentation

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdl

[2020-02-23 22:00] baratali opened #7601 "Update doc for JavadocType"
https://checkstyle.org/config_javadoc.html#JavadocType

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-23 22:01] baratali opened #7602 "Update doc for JavadocVariable"
https://checkstyle.org/config_javadoc.html#JavadocVariable

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-23 22:02] baratali opened #7603 "Update doc for MissingJavadocMethod"
https://checkstyle.org/config_javadoc.html#MissingJavadocMethod

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to u

[2020-02-23 22:04] baratali opened #7604 "Update doc for NonEmptyAtclauseDescription"
https://checkstyle.org/config_javadoc.html#NonEmptyAtclauseDescription

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.ht

[2020-02-23 22:04] baratali opened #7605 "Update doc for SingleLineJavadoc"
https://checkstyle.org/config_javadoc.html#SingleLineJavadoc

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unde

[2020-02-23 22:07] baratali opened #7606 "Update doc for WriteTag"
https://checkstyle.org/config_javadoc.html#WriteTag

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand ho

[2020-02-24 01:11] romani commented on #3238
@esilkensen , please contact me in gitter chat or send me email.

[2020-02-24 01:22] romani commented on #7605
@ritvij14 , please help us to resolve this issue.

[2020-02-24 01:45] ritvij14 commented on #7605
I am on it.

[2020-02-24 04:26] xkarx commented on #7583
I'm on it.

[2020-02-24 07:54] cyw3 commented on #7558
In my code, final variable is the same as constants.

[code]
`TEST` is a constant. The rule `ConstantName` think `TEST`'s naming style is right while the rule `MemberName` think `TEST`'s naming style is wrong and i get lots of  `MemberName` issues about `TEST`.

So now, I want `MemberName` rule ignore this kind of constants which is a final variable member in a class.

[2020-02-24 12:29] pbludov opened #7608 "Update doc for DesignForExtension"
https://checkstyle.org/config_design.html#DesignForExtension

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unde

[2020-02-24 12:31] pbludov opened #7609 "Update doc for FinalClass"
https://checkstyle.org/config_design.html#FinalClass

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand h

[2020-02-24 12:33] pbludov opened #7610 "Update doc for HideUtilityClassConstructor"
https://checkstyle.org/config_design.html#HideUtilityClassConstructor

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.htm

[2020-02-24 12:35] pbludov opened #7611 "Update doc for InnerTypeLast"
https://checkstyle.org/config_design.html#InnerTypeLast

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understan

[2020-02-24 12:36] pbludov opened #7612 "Update doc for InterfaceIsType"
https://checkstyle.org/config_design.html#InterfaceIsType

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to underst

[2020-02-24 12:37] pbludov opened #7613 "Update doc for MutableException"
https://checkstyle.org/config_design.html#MutableException

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-24 12:42] pbludov opened #7614 "Update doc for OneTopLevelClass"
https://checkstyle.org/config_design.html#OneTopLevelClass

The doc already has some examples, they should be formatted to match the common style.

Update example to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with modu

[2020-02-24 12:43] pbludov opened #7615 "Update doc for ThrowsCount"
https://checkstyle.org/config_design.html#ThrowsCount

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-24 12:45] pbludov opened #7616 "Update doc for VisibilityModifier"
https://checkstyle.org/config_design.html#VisibilityModifier

The doc already has some examples, they should be formatted to match the common style.

Update example to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with mo

[2020-02-24 14:09] pbludov opened #7617 "Update doc for EmptyForInitializerPad"
https://checkstyle.org/config_whitespace.html#EmptyForInitializerPad

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html

[2020-02-24 14:10] pbludov opened #7618 "Update doc for EmptyForIteratorPad"
https://checkstyle.org/config_whitespace.html#EmptyForIteratorPad

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-24 14:12] pbludov opened #7619 "Update doc for EmptyLineSeparator"
https://checkstyle.org/config_whitespace.html#EmptyLineSeparator

Update example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html

[2020-02-24 14:43] JoshMcCullough commented on #5125
@romani -- What additional details do you require in order to consider this new rule? And FWIW I think the rule would be something like called "NewLineBeforeAnnotatedMember".

[2020-02-24 14:49] PrabodDunuwila commented on #7569
I'm on it.

[2020-02-24 15:07] pbludov opened #7620 "Update doc for FileTabCharacter"
https://checkstyle.org/config_whitespace.html#FileTabCharacter

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to un

[2020-02-24 15:08] pbludov opened #7621 "Update doc for GenericWhitespace"
https://checkstyle.org/config_whitespace.html#GenericWhitespace

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to u

[2020-02-24 15:09] pbludov opened #7622 "Update doc for MethodParamPad"
https://checkstyle.org/config_whitespace.html#MethodParamPad

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unde

[2020-02-24 15:10] pbludov opened #7623 "Update doc for NoLineWrap"
https://checkstyle.org/config_whitespace.html#NoLineWrap

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-24 15:11] pbludov opened #7624 "Update doc for NoWhitespaceAfter"
https://checkstyle.org/config_whitespace.html#NoWhitespaceAfter

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to u

[2020-02-24 15:12] pbludov opened #7625 "Update doc for NoWhitespaceBefore"
https://checkstyle.org/config_whitespace.html#NoWhitespaceBefore

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-24 15:12] pbludov opened #7626 "Update doc for OperatorWrap"
https://checkstyle.org/config_whitespace.html#OperatorWrap

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-24 15:13] pbludov opened #7627 "Update doc for ParenPad"
https://checkstyle.org/config_whitespace.html#ParenPad

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-24 15:14] pbludov opened #7628 "Update doc for SeparatorWrap"
https://checkstyle.org/config_whitespace.html#SeparatorWrap

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to under

[2020-02-24 15:15] pbludov opened #7629 "Update doc for SingleSpaceSeparator"
https://checkstyle.org/config_whitespace.html#SingleSpaceSeparator

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html t

[2020-02-24 15:16] pbludov opened #7630 "Update doc for TypecastParenPad"
https://checkstyle.org/config_whitespace.html#TypecastParenPad

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to un

[2020-02-24 15:16] pbludov opened #7631 "Update doc for WhitespaceAfter"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to und

[2020-02-24 15:18] pbludov opened #7632 "Update doc for WhitespaceAround"
https://checkstyle.org/config_whitespace.html#WhitespaceAround

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to un

[2020-02-24 16:48] romani commented on #7427
Investigate one more tool with autofix https://twitter.com/jon_k_schneider/status/1230500526250496001?s=19

[2020-02-24 16:53] rnveach commented on #5125
@JoshMcCullough We need as much information as possible. What is it looking for to issue a violation and what is ignored. The more information the better.

See https://checkstyle.org/report_issue.html#How_to_request_new_Check.2FModule.3F

[2020-02-24 17:45] nmancus1 commented on #7631
I would like to work on this.

[2020-02-24 19:21] nmancus1 commented on #7631
I am on it

[2020-02-25 05:48] romani commented on #7553
some good article on this: https://www.vojtechruzicka.com/java-cloning-problems/

[2020-02-25 06:14] romani commented on #7558
You need to find where is config of checkstyle is stored in your project and read documentation on Checks

[2020-02-25 10:06] zielint0 commented on #7553
Thank you very much Roman!

[2020-02-25 14:05] romani commented on #7543
@rnveach , please review issue. I was confident before today about it, that it is issue.
But this is grey area of Google style, empty blocks does not make sense at all to my mind, so it is probably ok that we do violation on such code.

[2020-02-25 14:07] Pontus-Broberg commented on #7452
I could look at solving this issue.

Should `OBJBLOCK`-support be the only thing that should be added, or should some additional check be added aswell, or should it be used in any existing check?

[2020-02-25 14:15] romani commented on #7544
if original issue #7543 is not valid, this issue should be invalid also.

[2020-02-25 14:22] strkkk opened #7635 "Update doc for DeclarationOrder"
https://checkstyle.org/config_coding.html#DeclarationOrder

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-25 14:23] romani commented on #7452
in scope of this issue we try to understand possibility to add OBJBLOCK token only.
It is better analyse fist reason to add to avoid problems like https://github.com/checkstyle/checkstyle/issues/7174 , where we got understanding that it is not reasonable to add some tokens.

Probably easy approach is to add token to Check and launch our [regression diff report tool](https://github.com/checkstyle/c

[2020-02-25 14:23] strkkk opened #7636 "Update doc for DefaultComesLast"
https://checkstyle.org/config_coding.html#DefaultComesLast

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-25 14:24] strkkk opened #7637 "Update doc for EqualsAvoidNull"
https://checkstyle.org/config_coding.html#EqualsAvoidNull

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to underst

[2020-02-25 14:26] strkkk opened #7638 "Update doc for EqualsHashCode"
https://checkstyle.org/config_coding.html#EqualsHashCode

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-25 14:27] strkkk opened #7639 "Update doc for ExplicitInitialization"
https://checkstyle.org/config_coding.html#ExplicitInitialization

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-25 14:28] strkkk opened #7640 "Update doc for FallThrough"
https://checkstyle.org/config_coding.html#FallThrough

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:29] strkkk opened #7641 "Update doc for HiddenField"
https://checkstyle.org/config_coding.html#HiddenField

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:30] strkkk opened #7642 "Update doc for IllegalCatch"
https://checkstyle.org/config_coding.html#IllegalCatch

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:31] strkkk opened #7643 "Update doc for IllegalInstantiation"
https://checkstyle.org/config_coding.html#IllegalInstantiation

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to un

[2020-02-25 14:31] strkkk opened #7644 "Update doc for IllegalThrows"
https://checkstyle.org/config_coding.html#IllegalThrows

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understan

[2020-02-25 14:32] strkkk opened #7645 "Update doc for IllegalToken"
https://checkstyle.org/config_coding.html#IllegalToken

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:33] strkkk opened #7646 "Update doc for IllegalTokenText"
https://checkstyle.org/config_coding.html#IllegalTokenText

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to unders

[2020-02-25 14:34] strkkk opened #7647 "Update doc for IllegalType"
https://checkstyle.org/config_coding.html#IllegalType

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:35] strkkk opened #7648 "Update doc for MagicNumber"
https://checkstyle.org/config_coding.html#MagicNumber

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:36] strkkk opened #7649 "Update doc for ModifiedControlVariable"
https://checkstyle.org/config_coding.html#ModifiedControlVariable

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-25 14:37] strkkk opened #7650 "Update doc for MultipleStringLiterals"
https://checkstyle.org/config_coding.html#MultipleStringLiterals

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-25 14:38] strkkk opened #7651 "Update doc for NestedForDepth"
https://checkstyle.org/config_coding.html#NestedForDepth

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-25 14:38] strkkk opened #7652 "Update doc for NestedIfDepth"
https://checkstyle.org/config_coding.html#NestedIfDepth

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understan

[2020-02-25 14:39] strkkk opened #7653 "Update doc for NestedTryDepth"
https://checkstyle.org/config_coding.html#NestedTryDepth

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-25 14:47] strkkk opened #7655 "Update doc for ParameterAssignment"
https://checkstyle.org/config_coding.html#ParameterAssignment

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to und

[2020-02-25 14:48] strkkk opened #7656 "Update doc for RequireThis"
https://checkstyle.org/config_coding.html#RequireThis

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:48] strkkk opened #7657 "Update doc for ReturnCount"
https://checkstyle.org/config_coding.html#ReturnCount

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 14:49] strkkk opened #7658 "Update doc for SimplifyBooleanExpression"
https://checkstyle.org/config_coding.html#SimplifyBooleanExpression

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html

[2020-02-25 14:50] strkkk opened #7659 "Update doc for SimplifyBooleanReturn"
https://checkstyle.org/config_coding.html#SimplifyBooleanReturn

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to u

[2020-02-25 14:51] strkkk opened #7660 "Update doc for StringLiteralEquality"
https://checkstyle.org/config_coding.html#StringLiteralEquality

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to u

[2020-02-25 14:52] strkkk opened #7661 "Update doc for SuperClone"
https://checkstyle.org/config_coding.html#SuperClone

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand h

[2020-02-25 14:52] strkkk opened #7662 "Update doc for SuperFinalize"
https://checkstyle.org/config_coding.html#SuperFinalize

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understan

[2020-02-25 14:54] strkkk opened #7663 "Update doc for VariableDeclarationUsageDistance"
https://checkstyle.org/config_coding.html#VariableDeclarationUsageDistance

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdlin

[2020-02-25 14:55] strkkk opened #7664 "Update doc for AvoidInlineConditionals"
https://checkstyle.org/config_coding.html#AvoidInlineConditionals

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to

[2020-02-25 14:56] strkkk opened #7665 "Update doc for EmptyStatement"
https://checkstyle.org/config_coding.html#EmptyStatement

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understa

[2020-02-25 14:59] strkkk opened #7666 "Update doc for InnerAssignment"
https://checkstyle.org/config_coding.html#InnerAssignment

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to underst

[2020-02-25 15:00] strkkk opened #7667 "Update doc for MissingCtor"
https://checkstyle.org/config_coding.html#MissingCtor

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 15:00] strkkk opened #7668 "Update doc for MissingSwitchDefault"
https://checkstyle.org/config_coding.html#MissingSwitchDefault

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to un

[2020-02-25 15:01] strkkk opened #7669 "Update doc for MultipleVariableDeclarations"
https://checkstyle.org/config_coding.html#MultipleVariableDeclarations

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.ht

[2020-02-25 15:02] strkkk opened #7670 "Update doc for NoClone"
https://checkstyle.org/config_coding.html#NoClone

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand how

[2020-02-25 15:03] strkkk opened #7671 "Update doc for NoFinalizer"
https://checkstyle.org/config_coding.html#NoFinalizer

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline.html to understand

[2020-02-25 15:04] strkkk opened #7672 "Update doc for OverloadMethodsDeclarationOrder"
https://checkstyle.org/config_coding.html#OverloadMethodsDeclarationOrder

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Look at referenced commits of #5832, to see what and how should be changed in code.

Please play with module/check by means of https://checkstyle.org/cmdline

[2020-02-25 17:22] amritk07 commented on #7662
i am on it

[2020-02-25 17:22] amritk07 commented on #7662
i am on it

[2020-02-25 17:27] amritk07 commented on #7662
@strkkk sir,  I am new to this community . Could you elaborate the issue in simple word. Please also tell me where or in which file i have to make the changes.

[2020-02-25 18:29] gaurabdg commented on #7660
I am on it.

[2020-02-25 20:21] ritvij14 commented on #7605
@romani sir, sorry for the delay with starting. I created a simple example java file and wrote a Javadoc comment for it. I have checkstyle plugin installed in Eclipse IDE and also have the jar file, which I just ran directly through the command to check the whole file. But both ways, I am not getting any warnings for putting 2 @ tags in a single line. Am I checking the Javadoc the wrong way?

[2020-02-25 20:44] rnveach commented on #7662
@amritk07 Users want to know how check works but sometimes words don't explain it enough. We want to showcase examples of configs and java code added to show what violations will be reported for the config and what won't be.
You will need to find the appropriate file to change in the XDOC folder, which generates our HTML site. A test will verify that the check's Javadoc is also updated in the same

[2020-02-25 20:58] MrHakimov commented on #7665
I am on it

[2020-02-26 13:25] Serranya opened #7675 "Confusing violation of Indentation rule"
Im having a problem with the https://checkstyle.sourceforge.io/config_misc.html#Indentation check.

```/home/serra/dev/cs-repro $ javac Test.java```
[no output here]
```/home/serra/dev/cs-repro $ cat my-checks.xml```
[code]

```/home/serra/dev/cs-repro $ cat Test.java```
[code]
[code]

---------------

I expected the code to be conforming to my rules.
As far as I can recognize I adhere to all the

[2020-02-26 13:33] rnveach commented on #7675
This looks like a bug to me from the information I am seeing, but indentation is always tricky.

Lambda does not start the line and should not have been the one reporting the problem if the indentation was wrong. I would expect the `.` or referenced the message call to be where the failure message to be.

[2020-02-26 13:47] strkkk opened #7677 "New check: UnnecessarySemicolonAfterOuterTypeDeclaration"
https://github.com/checkstyle/checkstyle/issues/6847#issuecomment-508939783
Similar to other UnnecessarySemicolon* checks, this one checks unnecessary semicolon after type declaration.
[code]

[2020-02-26 14:02] romani commented on #6807
additional fix for xpath is required to keep violation for empty initilaizers , see discussion and explanation at https://github.com/checkstyle/checkstyle/issues/7543

PR with fix: #7676

[2020-02-26 15:42] amritk07 commented on #7662
@rnveach Till know, i have understood that I have to write a example for SuperFinalize in appropriate file.  Am i right sir?

[2020-02-26 16:10] romani commented on #7574
@PrabodDunuwila, I extended issue description with more details on what is required to do in PR, please review and update your PR.

[2020-02-26 16:17] PrabodDunuwila commented on #7574
@romani, Thanks. I will update the PR within the weekend.

[2020-02-26 18:21] OmarShawky1 commented on #7671
i'm on it

[2020-02-26 18:35] AmrDeveloper commented on #7668
i'm on it

[2020-02-26 20:59] ritvij14 commented on #7605
I need help @romani @rnveach. My commit cannot pass mvn clean verify. It says build failure. I cannot understand what the error is. I have clicked a screenshot of the error. please tell me what to do so I can make the pr.
![Screenshot (3)](https://user-images.githubusercontent.com/51456744/75387159-e718e400-5908-11ea-9e3b-6022e180c9a3.png)

[2020-02-26 21:30] rnveach commented on #7662
Yes, you need to update 2 files. One is the check's javadoc and the other is for the xdoc. All updates should be for the check `SuperFinalize` as specified in this issue.

[2020-02-26 22:08] rnveach commented on #7605
@ritvij14 If you scroll up you should see more details on the specifics on `XdocsJavaDocsTest`'s failure. If you start a PR, I can point out the lines you have issues with in the CI logs.

This test basically ensures xdoc and javadoc are kept in synch. If it fails, then most likely, you made some change to one and it is not appearing the same in the other. The test failure will give you some speci

[2020-02-27 03:16] nmancus1 commented on #7190
I am on it.

[2020-02-27 04:16] ritvij14 commented on #7605
Ok. I tried looking for it but wasn't able to find it. I will start a PR. Please tell me all the things I need to change.

[2020-02-27 04:44] RhnSaxena commented on #7572
I am on it.

[2020-02-27 04:45] RhnSaxena commented on #7579
I am on it.

[2020-02-27 06:16] thanujayalath commented on #7672
I will work on this

[2020-02-27 07:14] bmhm commented on #7190
Great! Now I can add a warning to checkstyle: If the method call was successful, it means users are using an outdated version. In this case I'd create a WARNING. Just behind this line:

https://github.com/apache/maven-checkstyle-plugin/blob/125a659c6004a48284f0470a100ed58238d211d3/src/main/java/org/apache/maven/plugins/checkstyle/exec/DefaultCheckstyleExecutor.java#L314-L317

What do you think?

[2020-02-27 11:31] rnveach commented on #7190
@romani @bmhm Please look at https://github.com/checkstyle/checkstyle/pull/7680 , the PR trying to remove methods. The methods still exist in maven-checkstyle-plugin so I don't think we can remove them here. maven-checkstyle-plugin needs to switch to using reflection if it is still going to call the method. It can't be a hardcoded method call.

[2020-02-27 12:57] bmhm commented on #7190
The checkstyle-plugin does not need to update to 8.30 right now. If it did we could not check for an old version and warn the user.
Please take a look at the exception handling.

[2020-02-27 13:25] mrrobot-2000 commented on #7669
Hi! I have submitted a PR to fix this. Please see #7681 @strkkk .

[2020-02-27 14:11] 0blivious commented on #7183
Hello, can I try working on this issue?

[2020-02-27 14:19] pbludov commented on #7183
Sure. Just mark it with "I'm on it".

[2020-02-27 15:58] anubh-v commented on #7666
I am on it.

[2020-02-27 17:11] ritvij14 commented on #7605
@rnveach What changes do I have to make to pass all test cases?

[2020-02-27 17:52] sudo-andro commented on #7663
Aren't the examples already there- https://checkstyle.org/config_coding.html#VariableDeclarationUsageDistance_Examples
What should be added as per the issue?

[2020-02-27 17:53] rnveach commented on #7190
The exception handling in `maven-checkstyle-plugin` did not catch the exception we are seeing in our PR to remove the methods.
https://app.wercker.com/checkstyle/checkstyle/runs/build/5e574fbd7b63df001ae37348?step=5e574ffca15bef000885408f

    at org.apache.maven.plugins.checkstyle.exec.DefaultCheckstyleExecutor.executeCheckstyle (DefaultCheckstyleExecutor.java:204)

Our PR CI runs our current che

[2020-02-27 17:57] sudo-andro commented on #7657
I want to work on this.
Should I edit the html page and add a new section called "Examples"?

I also see a column Example Of Usage - Checkstyle Style, what is that for?

Please guide me on how do I go about solving this issue?
My understanding-
Some xml file and javadoc needs to be edited right?

[2020-02-27 17:59] sudo-andro commented on #7656
https://checkstyle.org/config_coding.html#RequireThis_Examples contains the example right? What needs to be added then?

[2020-02-27 18:16] xkarx commented on #7624
I'm on it.

[2020-02-27 19:22] sudo-andro commented on #7613
I'm on it.

[2020-02-27 19:24] xkarx commented on #7609
I am on it

[2020-02-27 19:36] xkarx commented on #7592
I'm on it

[2020-02-27 19:39] sudo-andro commented on #7588
I am on it

[2020-02-27 19:39] nmancus1 commented on #7534
I would like to work on this, but I'm not sure where to start. Could someone point me in the right direction?

[2020-02-27 19:43] sudo-andro commented on #7598
I am on it

[2020-02-27 19:44] rnveach commented on #7534
Please see my comments at https://github.com/checkstyle/checkstyle/issues/7534#issuecomment-582240489 and https://github.com/checkstyle/checkstyle/issues/7534#issuecomment-582240489 . It details my notes on the issue and where the fix should be.

This issue is not marked for GSoC or as easy, so if you are unfamilar with checkstyle it may be too hard.

[2020-02-27 19:46] AmrDeveloper commented on #7591
i'm on it

[2020-02-27 19:47] bmhm commented on #7190
Yes, this plugin needs 8.29 to compile. The fix is only if you change the dependency for running the Maven plugin with the new snapshot version.

This was intended by me and your previous comment did not mention you want to compile the maven checkstyle plugin yourself.

Not a bug until the maven checkstyle plugin updates to 8.30 (non-SNAPSHOT).

[2020-02-27 20:24] rnveach commented on #7190
We are not compiling the maven plugin. I assume you are referencing the following line:

I was just thinking from prospect of the plugin team maintaining compatability with multiple versions. We only work with released versions of checkstyle as we are your users. We are not trying to reduplicate the plugin by compiling it.

What blocking us is not a bug, but maven plugin should not be using deprec

[2020-02-28 03:11] nmancus1 commented on #7534
I believe I have fixed NPE issue, however, when running `mvn clean verify` I get this:
`[WARNING] Rule violated for class com.puppycrawl.tools.checkstyle.checks.annotation.MissingDeprecatedCheck: lines covered ratio is 0.96, but expected minimum is 1.00
[WARNING] Rule violated for class com.puppycrawl.tools.checkstyle.checks.annotation.MissingDeprecatedCheck: branches covered ratio is 0.96, but ex

[2020-02-28 09:23] wltan commented on #7621
I am on it!

[2020-02-28 13:39] romani commented on #7668
@AmrDeveloper , I placed link in description on how PR should looks like - please do.

[2020-02-28 13:40] romani commented on #7666
@anubh-v , I places in description link on how PR should looks like, please do

[2020-02-28 13:41] romani commented on #7665
@MrHakimov , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:42] romani commented on #7663
We need config for each code sample

[2020-02-28 13:43] romani commented on #7662
@amritk07  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:44] romani commented on #7660
@gaurabdg  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:45] romani commented on #7657
@sudo-andro ,  I placed in description link on how PR should looks like , please do.

[2020-02-28 13:45] romani commented on #7656
@sudo-andro  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:51] romani commented on #7624
@xkarx  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:53] romani commented on #7621
@wltan  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:55] romani commented on #7613
@sudo-andro  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:56] romani commented on #7609
@xkarx  , I placed in description link on how PR should looks like , please do.

[2020-02-28 13:57] romani commented on #7605
@ritvij14  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:04] romani commented on #7567
@raghuchandan1  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:04] romani commented on #7566
@CapTen101  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:08] romani commented on #7565
@pkpale  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:08] romani commented on #7564
@RhnSaxena  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:09] romani commented on #7563
@promehul  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:09] romani commented on #7562
@amritk07  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:09] romani commented on #7561
@haideratGitHub  , I placed in description link on how PR should looks like , please do.

[2020-02-28 14:17] raghuchandan1 commented on #7567
Will definitely look into it

[2020-02-28 14:17] romani opened #7684 "update doc for AvoidStarImport"
https://checkstyle.org/config_imports.html#AvoidStarImport

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by mean

[2020-02-28 14:18] romani opened #7685 "update doc for AvoidStaticImport"
https://checkstyle.org/config_imports.html#AvoidStaticImport

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by me

[2020-02-28 14:19] romani opened #7686 "update doc for CustomImportOrder"
https://checkstyle.org/config_imports.html#CustomImportOrder

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by me

[2020-02-28 14:21] romani opened #7687 "update doc for ImportOrder"
https://checkstyle.org/config_imports.html#ImportOrder

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of

[2020-02-28 14:23] romani opened #7688 "update doc for RedundantImport"
https://checkstyle.org/config_imports.html#RedundantImport

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by mean

[2020-02-28 14:24] romani opened #7689 "update doc for BooleanExpressionComplexity"
https://checkstyle.org/config_metrics.html#BooleanExpressionComplexity

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/C

[2020-02-28 14:25] romani opened #7690 "update doc for ClassDataAbstractionCoupling"
https://checkstyle.org/config_metrics.html#ClassDataAbstractionCoupling

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/

[2020-02-28 14:26] romani opened #7691 "update doc for ClassFanOutComplexity"
https://checkstyle.org/config_metrics.html#ClassFanOutComplexity

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check b

[2020-02-28 14:28] romani opened #7692 "update doc for CyclomaticComplexity"
https://checkstyle.org/config_metrics.html#CyclomaticComplexity

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by

[2020-02-28 14:28] romani opened #7693 "update doc for JavaNCSS"
https://checkstyle.org/config_metrics.html#JavaNCSS

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means of ht

[2020-02-28 14:30] romani opened #7694 "update doc for NPathComplexity"
https://checkstyle.org/config_metrics.html#NPathComplexity

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by mean

[2020-02-28 14:31] romani opened #7695 "update doc for RegexpMultiline"
https://checkstyle.org/config_regexp.html#RegexpMultiline

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by means

[2020-02-28 14:32] romani opened #7696 "update doc for RegexpOnFilename"
https://checkstyle.org/config_regexp.html#RegexpOnFilename

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by mean

[2020-02-28 14:33] romani opened #7697 "update doc for RegexpSingleline"
https://checkstyle.org/config_regexp.html#RegexpSingleline

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by mean

[2020-02-28 14:34] romani opened #7698 "update doc for RegexpSinglelineJava"
https://checkstyle.org/config_regexp.html#RegexpSinglelineJava

Add example for each existing config to show what code is ok and what code cause violation.
Good example is https://checkstyle.org/config_naming.html#AbstractClassName
Please add examples for all properties of Check.

look at referenced commits of #5832, to see what and how should be changed in code.

please play with module/Check by

[2020-02-28 14:36] Abhishek-kumar09 opened #7699 "Discussion forum and Mailing list is broken"
GSoC Mailing lists and discussion forum is broken :

_Message Shown_
`This group either doesn't exist, or you don't have permission to access it. If you're sure this group exists, contact the Owner of the group and ask them to give you access.`
please review.

[2020-02-28 14:43] romani commented on #7605
@ritvij14 , please debug UT and look why content does not match.

[2020-02-28 14:45] ritvij14 commented on #7605
Ok

[2020-02-28 16:01] bmhm commented on #7190
Actually I was referring to this section:

Sounds to me as if you were compiling the checkstyle plugin.

As the checkstyle plugin has a compile dependency to an older version of checkstyle, it should have run into the catch block.

Can you show me the failing build? I'd like to see if I can make more sense from it.

[2020-02-28 16:04] rnveach commented on #7699
@Abhishek-kumar09 What URL are you referring to and where did you get it?

[2020-02-28 16:26] romani commented on #7699
Please share link and screenshot, to let us fix quickly

[2020-02-28 16:30] rnveach commented on #7190
Failing build and exception message was referenced in my message at https://github.com/checkstyle/checkstyle/issues/7190#issuecomment-592092027
Unfortunately, it is a CI that is restricted to admins as it does not allow anonymous access. But here is the [log.txt](https://github.com/checkstyle/checkstyle/files/4268007/log.txt) .

When you say plugin, I assume you mean maven-checkstyle-plugin. I wou

[2020-02-28 17:20] wltan commented on #7621
For the right angle bracket `>`, the diamond operator is listed as an exception to the validation rules. However, when I tried `ArrayList<Integer> a = new ArrayList<> ();` I noticed that the violation was coming from the `MethodParamPad` check and not from `GenericWhitespace` as one might expect.
I've highlighted this in the example:
![image](https://user-images.githubusercontent.com/53135010/7557

[2020-02-28 17:40] Abhishek-kumar09 commented on #7699
the link is : https://groups.google.com/forum/#!forum/checkstyle-devel
![Screenshot from 2020-02-28 23-08-53](https://user-images.githubusercontent.com/48255244/75571533-67615580-5a7f-11ea-8cb9-c45a638d752f.png)

[2020-02-28 18:44] CapTen101 commented on #7566
Yes sir. It's just that my exams are too near and thus I'm not able to give proper time to understanding the same. My exams are till 6 march. After that, I can start with full enthusiasm. I hope you'll understand. @romani

[2020-02-28 18:50] thanujayalath commented on #7672
@strkkk this already has examples. Do we need anything else added there?

[2020-02-28 18:58] thanujayalath commented on #7664
I am working on this.

[2020-02-28 19:08] strkkk commented on #7672
@thanujayalath Probably not. Regarding this check - examples section shouldbe modified to follow common template (first config example, after code examples of violations/ok lines), and code examples should be updated to clearly reflect where is violation.

[2020-02-28 20:27] strkkk commented on #7631
Fix is merged

[2020-02-28 20:27] #7631 closed

[2020-02-28 22:19] wilcoln commented on #7699
Same problem here

[2020-02-28 22:20] wilcoln commented on #7698
I'm on it!

[2020-02-28 22:25] strkkk commented on #7699
Looks like it should be https://groups.google.com/forum/#!forum/checkstyle

[2020-02-28 22:29] wilcoln commented on #7699
This works, thanks!

[2020-02-28 23:04] strkkk commented on #7699
@romani it looks like link came from
https://github.com/checkstyle/checkstyle/wiki/To-student-of-GSoC-2020
On this wiki page last 2 links are broken as well (last update 5 years ago)
https://github.com/checkstyle/checkstyle/wiki/Support-by-Mail-Lists

[2020-02-28 23:31] rnveach commented on #7699
@romani Someone posted same issue in chat and the devel link worked for me. It is a valid link and google group. I believe it must be locked behind some required access and thats why I can get in but others are having issues. I do not know the google forms very well to investigate the issue.

[2020-02-28 23:46] rnveach commented on #7672
It is also best to think of this from user who knows not much to little to nothing.

Definition of what an `overloaded` method could be added to make documentation clearer. Template order for examples was discussed. Think about if there is something more to examples that could be added to provide more explanation to user.

[2020-02-28 23:48] wilcoln commented on #7698
I may need some help please.
I'm having troubles with some build failures. Specifically, I'm getting this error:
**[ERROR] Errors:
[ERROR]   XdocsJavaDocsTest.testAllCheckSectionJavaDocs:111->examineCheckSection:138 »  ...
[INFO]
[ERROR] Tests run: 3189, Failures: 0, Errors: 1, Skipped: 0**

You briefly mentioned it on this page https://github.com/checkstyle/checkstyle/wiki/Good-practice-on-how-to

[2020-02-28 23:50] rnveach commented on #7698
@wilcoln Test failure is shown above in the console as all the tests are executing. You are just seeing the summary that gives a brief final result. You can run the test manually in your IDE or set breakpoints. Basically you must change the Javadoc and XDoc related to the check you changed. If one is out of synch, the test fails.

[2020-02-29 00:00] wilcoln commented on #7698
Thanks for your help.
I believe the xdoc should be modified inside the `src/xdocs` folder (which is what I'm doing)
But as for the javadoc, I usually just generate it using the IDE (I'm using IntelliJ Idea)
Is it ok to do so or I must change it manually as well?

[2020-02-29 00:05] rnveach commented on #7698
It must match the xdoc nearly exactly or the test will fail. If the IDE can do that for you, while not changing anything else except what you change then go ahead. Otherwise you will need to do it manually.

[2020-02-29 00:05] wilcoln commented on #7698
Ok I think I get it now,
the java doc should be modified manually, and it can be found in the `src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc` folder

[2020-02-29 01:30] romani commented on #7522
@AmrDeveloper, please help us resolve this issue

[2020-02-29 03:48] coraljain commented on #7652
I am on it.

[2020-02-29 03:48] Rainy0707 commented on #7651
I am on it

[2020-02-29 05:04] wltan commented on #2410
What exactly needs to be done for this issue? I see that `var` is already part of the `ALLOWED_TAGS`:
https://github.com/checkstyle/checkstyle/blob/3e63560eb0fe8c8965abb87ab01a261909096d27/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L209-L218
Is this just to update the javadoc and xdoc files? Should be a simple fix if it's similar to the other `gsoc first is

[2020-02-29 05:06] akki111singh commented on #7696
I am on it

[2020-02-29 05:10] Malintha1996 commented on #7697
I am on it

[2020-02-29 05:11] romani commented on #7621
Please share text output of config+inputfile+ CLI output

[2020-02-29 05:30] wltan commented on #7621
It's in the PR but I'll copy it here:
[code]
If the terminal syntax looks a bit strange, it's because I used Windows + Cygwin. I can change it if it's a problem.

[2020-02-29 06:18] strkkk commented on #7668
Fix is merged

[2020-02-29 06:18] #7668 closed

[2020-02-29 07:30] wilcoln commented on #7698
I'm having troubles with my config.xml file, plz can someone tell me what's wrong?
[code]
java -jar checkstyle-8.29-all.jar -c config.xml Test.java
Exception in thread "main" java.lang.ClassCastException: com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck cannot be cast to com.puppycrawl.tools.checkstyle.api.RootModule
	at com.puppycrawl.tools.checkstyle.Main.getRootModule(Mai

[2020-02-29 07:38] strkkk commented on #7698
@wilcoln you need to add 2 more top elements in xml, TreeWalker and Checker, e.g.
[code]

[2020-02-29 07:42] wilcoln commented on #7698
Thanks, I'm on it.

[2020-02-29 13:15] Abhishek-kumar09 commented on #7653
I am working on it.

[2020-02-29 13:56] rnveach commented on #7660
Fix was merged

[2020-02-29 13:56] #7660 closed

[2020-02-29 14:01] pkpale commented on #7565
@romani   to synchronise the java file I changed /checkstyle/src/xdocs/config_naming.xml and /checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/AbstractClassNameCheck.java but I still getting XdocsJavaDocsTest.testAllCheckSectionJavaDocs:111->examineCheckSection:138 » error.
![Screenshot from 2020-02-29 19-30-49](https://user-images.githubusercontent.com/42895397/75608936-1064

[2020-02-29 14:06] rnveach commented on #7565
@pkpale Your screenshot is the summary of the failures which doesn't give the full details. You should find the failing test further up and it will give you more details. The test ensures the javadoc and xdoc are updated to be identical. If it is failing, then 1 was updated and not the other.

[2020-02-29 14:13] rnveach commented on #7543
I approved this, we should follow google's guide as closely as possible even if we don't agree with it.

[2020-02-29 14:15] rnveach commented on #7544
@romani I am approving this but just to confirm, this issue is to add temporary suppression by xpath. The other issue will remove the xpath suppression and turn it into a configurable property?

[2020-02-29 14:39] OmarShawky1 commented on #7671
Unfortunately, although i know what is traversing tree, token, object.Finalize, i do not understand what is requested from me, i can't see what is messing besides i do not know how does a part of the code work (described in the picture
![image](https://user-images.githubusercontent.com/51538094/75609521-05056500-5b12-11ea-8dba-a048738005b5.png)

[2020-02-29 15:12] romani commented on #7699
thanks a lot for reporting this. There was permission update at Google, looks like something was went not good. Toics were visible for users.
Settings were like
![image](https://user-images.githubusercontent.com/812984/75610042-b9779a80-5ac2-11ea-862e-7500382c66d2.png)
I changed "Group visibility" to "Anyone".

Please try one more time.

[2020-02-29 15:25] rnveach commented on #7699
@Abhishek-kumar09 @wilcoln Please check that you can access devel group now.

[2020-02-29 15:33] wilcoln commented on #7699
@rnveach I can now access the devel group. Thanks.
![Screenshot from 2020-02-29 16-31-58](https://user-images.githubusercontent.com/24209192/75610413-37629280-5b11-11ea-925d-36534416b8bd.png)

[2020-02-29 16:26] pkpale commented on #7565
how I can find the failing test further up which will give me more details.

[2020-02-29 16:40] Abhishek-kumar09 commented on #7699
Ya perfect! it's now reachable. Thanks

[2020-02-29 16:42] #7699 closed

[2020-02-29 16:45] ritvij14 commented on #7605
![Screenshot (4)](https://user-images.githubusercontent.com/51456744/75611462-c20eb600-5b40-11ea-9867-914a98ef83e2.png)
@romani I am trying to run the website but I am getting this error. How should I resolve this?

[2020-02-29 16:52] strkkk commented on #7671
@OmarShawky1 Documentation for check should be extended with example of code with violations

[2020-02-29 16:55] romani opened #7705 "CI should validate checkstyle violations in satelite projects"
during release process we update version of checkstyle in satelites projects
https://github.com/checkstyle/checkstyle/wiki/How-to-make-a-release#update-for-released-version-reference

Example of failure:
https://travis-ci.org/checkstyle/contribution/jobs/656696130#L323

it is not good to have such problems right after release.
It is better to place this projects to our CI and force it to be fixed

[2020-02-29 17:01] wilcoln commented on #7690
I'm on it!

[2020-02-29 17:05] wilcoln commented on #7670
I'm on it!

[2020-02-29 19:18] AmrDeveloper commented on #7522
i'm on it

[2020-02-29 19:23] rnveach commented on #7705
methods-distance is also missed from the list.

[2020-02-29 23:28] AmrDeveloper commented on #7684
I'm on it

[2020-02-29 23:54] romani commented on #7190
problem is that plugin is always try to use such method, even classpath is not defined in config.
https://github.com/bmhm/maven-checkstyle-plugin/blob/2e93263a6c3b1551c86709cc05ec469e29848c62/src/main/java/org/apache/maven/plugins/checkstyle/exec/DefaultCheckstyleExecutor.java#L159

if not possible avoid execution of set
we might need to update catch to catch more exceptions.
https://github.com/bm

[2020-03-01 00:46] akki111singh commented on #7689
I am on it

[2020-03-01 01:37] rnveach commented on #7565
What you are seeing is a print out of an assertion difference between 2 strings. If you are not familar with it, you should read up on junit tests. As the screenshot shows, it is finding the javadoc for AbstractClassName is not the same as what is written in the xdoc for it. You shouldn't have any changes for `AbstractClassName` as this issue is only dealing with `InterfaceTypeParameterName`.

[2020-03-01 04:24] romani commented on #7621
It looks good.

[2020-03-01 04:43] romani commented on #7543
Please re read one more time, it is not required by Google style at all. It is nonsense to have empty initializers, it is better to highlight them.

[2020-03-01 04:46] romani commented on #7544
I really want to close this two issues as invalid, but this is gray area, that why I would like to get your opinion on this and keep read recorded publicly for future reference.

[2020-03-01 04:51] romani commented on #7605
Relaunch one more time, maven is failed to download artifact , some network issue. Keep running eventually maven download all to you local and download will not happen.

[2020-03-01 05:25] haideratGitHub commented on #7561
@romani OKay

[2020-03-01 05:52] romani commented on #7591
Fix is merged

[2020-03-01 05:52] #7591 closed

[2020-03-01 05:53] akki111singh commented on #7689
Current Look
![Screenshot from 2020-03-01 11-07-05](https://user-images.githubusercontent.com/45921807/75620431-ec975800-5bae-11ea-8906-7eed01b26883.png)

[2020-03-01 05:53] akki111singh commented on #7689
Output of added example:
$ cat config.xml

  <?xml version="1.0"?>
  <!DOCTYPE module PUBLIC
      "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
      "https://checkstyle.org/dtds/configuration_1_3.dtd">
  <module name="Checker">
  <module name="TreeWalker">
    <module name="BooleanExpressionComplexity">
      <property name="max" value="2"/>
    </module>
  </module>
  </module>

$ cat Test.

[2020-03-01 05:58] akki111singh commented on #7689
Ouput of default examples
![Screenshot from 2020-03-01 11-24-46](https://user-images.githubusercontent.com/45921807/75620521-d047eb00-5baf-11ea-9573-d787b9278609.png)
![Screenshot from 2020-03-01 11-26-45](https://user-images.githubusercontent.com/45921807/75620523-d4740880-5baf-11ea-9afb-55de1eb8305b.png)

[2020-03-01 06:29] sudo-karx commented on #7688
I am on it.

[2020-03-01 06:32] sudo-karx commented on #7685
I am on it

[2020-03-01 06:34] xkarx commented on #7667
I am on it

[2020-03-01 06:37] sudo-karx commented on #7655
I am on it

[2020-03-01 10:08] pkpale commented on #7565
So, I need to change to InterfaceTypeParameterName, but earlier you told I need to see InterfaceTypeParameterName as a example and should change in AbstarctClassName

[2020-03-01 10:29] wilcoln commented on #7670
I'm on it!

[2020-03-01 11:26] wilcoln commented on #7647
I'm on it!

[2020-03-01 12:14] rnveach commented on #7543
It is not required but is allowed. If guide allows it we should follow it, imo.

[2020-03-01 12:20] wilcoln commented on #7661
I'm on it!

[2020-03-01 12:28] rnveach commented on #7565
@romani ping

Issue title conflicts with issue description. Please confirm.

[2020-03-01 12:54] wilcoln commented on #7659
I'm on it!

[2020-03-01 13:03] rnveach commented on #7621
Fix was merged

[2020-03-01 13:03] #7621 closed

[2020-03-01 14:33] wilcoln commented on #7658
I'm on it!

[2020-03-01 15:11] romani commented on #7565
@pkpale , in this issue we should change AbstractClassName, sorry for confusion. I fixed description now.

[2020-03-01 15:43] pkpale commented on #7565
Ok, I will do it. Do I need to pass all the checks before creating PR. As mentioned int these 2 links
https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md
https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations#how-to-generate-website-only

[2020-03-01 15:50] rnveach opened #7721 "Update AbstractChecks to log DetailAST - AnnotationOnSameLine"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AnnotationOnSameLine.

[2020-03-01 15:51] rnveach opened #7722 "Update AbstractChecks to log DetailAST - AnnotationUseStyle"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AnnotationUseStyle.

[2020-03-01 15:52] rnveach opened #7723 "Update AbstractChecks to log DetailAST - ArrayTrailingComma"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on ArrayTrailingComma.

[2020-03-01 15:53] rnveach opened #7724 "Update AbstractChecks to log DetailAST - AvoidEscapedUnicodeCharacters"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AvoidEscapedUnicodeCharacters.

[2020-03-01 15:54] rnveach opened #7725 "Update AbstractChecks to log DetailAST - AvoidStarImport"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AvoidStarImport.

[2020-03-01 15:55] rnveach opened #7726 "Update AbstractChecks to log DetailAST - AvoidStaticImport"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AvoidStaticImport .

[2020-03-01 15:57] rnveach opened #7727 "Update AbstractChecks to log DetailAST - CommentsIndentation"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on CommentsIndentation.

[2020-03-01 15:58] rnveach opened #7728 "Update AbstractChecks to log DetailAST - CustomImportOrder"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on CustomImportOrder.

[2020-03-01 15:59] rnveach opened #7729 "Update AbstractChecks to log DetailAST - EmptyCatchBlock"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on EmptyCatchBlock.

[2020-03-01 16:00] rnveach opened #7730 "Update AbstractChecks to log DetailAST - EmptyLineSeparator"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on EmptyLineSeparator.

[2020-03-01 16:01] rnveach opened #7731 "Update AbstractChecks to log DetailAST - FinalClass"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on FinalClass.

[2020-03-01 16:03] rnveach opened #7732 "Update AbstractChecks to log DetailAST - IllegalCatch"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on IllegalCatch.

[2020-03-01 16:03] rnveach opened #7733 "Update AbstractChecks to log DetailAST - ImportOrder"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on ImportOrder.

[2020-03-01 16:04] rnveach opened #7734 "Update AbstractChecks to log DetailAST - Indentation"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on Indentation.

[2020-03-01 16:06] rnveach opened #7735 "Update AbstractChecks to log DetailAST - InterfaceIsType"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on InterfaceIsType.

[2020-03-01 16:07] rnveach opened #7736 "Update AbstractChecks to log DetailAST - InterfaceMemberImpliedModifier"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on InterfaceMemberImpliedModifier.

[2020-03-01 16:08] rnveach opened #7737 "Update AbstractChecks to log DetailAST - InvalidJavadocPosition"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on InvalidJavadocPosition.

[2020-03-01 16:09] rnveach opened #7738 "Update AbstractChecks to log DetailAST - JavadocContentLocation"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on JavadocContentLocation.

[2020-03-01 16:10] rnveach opened #7739 "Update AbstractChecks to log DetailAST - JavadocMethod"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on JavadocMethod.

[2020-03-01 16:11] rnveach opened #7740 "Update AbstractChecks to log DetailAST - JavadocStyle"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on JavadocStyle.

[2020-03-01 16:14] rnveach opened #7741 "Update AbstractChecks to log DetailAST - JavadocType"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on JavadocType.

[2020-03-01 16:15] rnveach opened #7742 "Update AbstractChecks to log DetailAST - LambdaParameterName"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on LambdaParameterName.

[2020-03-01 16:16] rnveach opened #7743 "Update AbstractChecks to log DetailAST - MethodCount"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MethodCount.

[2020-03-01 16:17] rnveach opened #7744 "Update AbstractChecks to log DetailAST - MissingCtor"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingCtor.

[2020-03-01 16:18] rnveach opened #7745 "Update AbstractChecks to log DetailAST - MissingJavadocMethod"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingJavadocMethod.

[2020-03-01 16:19] rnveach opened #7746 "Update AbstractChecks to log DetailAST - MissingJavadocPackage"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingJavadocPackage.

[2020-03-01 16:19] rnveach opened #7747 "Update AbstractChecks to log DetailAST - MissingJavadocType"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingJavadocType.

[2020-03-01 16:20] rnveach opened #7748 "Update AbstractChecks to log DetailAST - MissingOverride"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingOverride.

[2020-03-01 16:23] rnveach opened #7749 "Update AbstractChecks to log DetailAST - MissingSwitchDefault"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on MissingSwitchDefault.

[2020-03-01 16:24] rnveach opened #7750 "Update AbstractChecks to log DetailAST - NeedBraces"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on NeedBraces.

[2020-03-01 16:25] rnveach opened #7751 "Update AbstractChecks to log DetailAST - NoClone"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on NoClone.

[2020-03-01 16:26] rnveach opened #7752 "Update AbstractChecks to log DetailAST - NoFinalizer"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on NoFinalizer.

[2020-03-01 16:27] rnveach opened #7753 "Update AbstractChecks to log DetailAST - NoLineWrap"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on NoLineWrap.

[2020-03-01 16:29] rnveach opened #7754 "Update AbstractChecks to log DetailAST - OneTopLevelClass"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on OneTopLevelClass.

[2020-03-01 16:30] rnveach opened #7755 "Update AbstractChecks to log DetailAST - OuterTypeFilename"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on OuterTypeFilename.

[2020-03-01 16:31] rnveach opened #7756 "Update AbstractChecks to log DetailAST - OverloadMethodsDeclarationOrder"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on OverloadMethodsDeclarationOrder.

[2020-03-01 16:31] rnveach opened #7757 "Update AbstractChecks to log DetailAST - PackageAnnotation"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on PackageAnnotation.

[2020-03-01 16:32] rnveach opened #7758 "Update AbstractChecks to log DetailAST - PackageDeclaration"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on PackageDeclaration.

[2020-03-01 16:33] rnveach opened #7759 "Update AbstractChecks to log DetailAST - Regexp"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on [Regexp](https://checkstyle.org/config_regexp.html#Regexp).

[2020-03-01 16:34] rnveach opened #7760 "Explain reason why RegexpSinglelineJava can not be supported by Xpath"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on RegexpSinglelineJava.

[2020-03-01 16:35] rnveach opened #7761 "Update AbstractChecks to log DetailAST - SuppressWarningsHolder"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on SuppressWarningsHolder.

[2020-03-01 16:36] rnveach opened #7762 "Update AbstractChecks to log DetailAST - TodoComment"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on TodoComment.

**ATTENTION**: by fix of this issue Check is changing location of violation from precise line with patched pattern to line where comment is started. Single line comments will not be affected but violation is moved to begin of multiline comment.

[2020-03-01 16:37] rnveach opened #7763 "Update AbstractChecks to log DetailAST - TrailingComment"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on TrailingComment.

[2020-03-01 16:37] rnveach opened #7764 "Update AbstractChecks to log DetailAST - UncommentedMain"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on UncommentedMain.

[2020-03-01 16:38] rnveach opened #7765 "Update AbstractChecks to log DetailAST - UnnecessaryParentheses"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on UnnecessaryParentheses.

[2020-03-01 16:39] rnveach opened #7766 "Update AbstractChecks to log DetailAST - VariableDeclarationUsageDistance"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on VariableDeclarationUsageDistance.

[2020-03-01 16:40] rnveach opened #7767 "move WriteTag Check to list of javadoc Check in XpathSuppressionFilter documentation"
~Child of https://github.com/checkstyle/checkstyle/issues/5777~

This issue specifically focuses on WriteTag.

[2020-03-01 16:40] rnveach opened #7768 "Update AbstractChecks to log DetailAST - AnnotationLocation"
Child of https://github.com/checkstyle/checkstyle/issues/5777

This issue specifically focuses on AnnotationLocation .

[2020-03-01 16:42] rnveach commented on #5777
This issue is being closed as it was split into its children

[2020-03-01 16:42] #5777 closed

[2020-03-01 17:27] wltan commented on #7614
I am on it!

[2020-03-01 17:28] wltan commented on #7754
I am on it! Claiming #7614 as well.

[2020-03-01 18:19] ar283 commented on #7639
I'm on it.

[2020-03-02 07:08] bmhm commented on #7190
Hi @romani

it is a little bit confusing to have two threads. I honestly do not understand why this catch wouldn't work, as even a java champion looked over it (iirc). I will try to run the  precompiled `maven-checkstyle-plugin:3.1.1` with a snapshot build of this repository's master to confirm the behaviour you mention.

[2020-03-02 07:28] bmhm commented on #7190
Hello @romani,

I cloned the current master of the checkstyle library (8.31-SNAPSHOT) and removed the `setClassLoader` method from `Checker.java`.
I then used `maven-checkstyle-plugin:3.1.1` with `checkstyle:8.31-SNAPSHOT` to check my sources and it worked just fine.

My guess is that your CI will recompile `maven-checkstyle-plugin`, which will obviously not work. I do not see any problem in the `

[2020-03-02 07:34] bmhm commented on #7190
@romani  found it!!

Look closer!

`Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:3.1.0:check`

You need to  use `maven-checkstyle-plugin:3.1.1:check` (v3.1.1, but you were using v3.1.0)!

[2020-03-02 07:50] OmarShawky1 commented on #7671
i tried to better explain the function but to no avail, although i really understand what is a finalizer  & token, parent etc.... but i do not know what exactly i should do here.
![image](https://user-images.githubusercontent.com/51538094/75655572-d222b480-5c6a-11ea-9a76-e820dbc7cc3c.png)

i tried to imitate an example such as [https://checkstyle.org/config_regexp.html#RegexpSinglelineJava](url) b

[2020-03-02 08:54] strkkk commented on #7671
This check reports violation if class contains Object#finalize() method.
Doc should be updated to show what is reported and what is ok.

The code is checking method name (that it is equal to "finalize") and then checks there is no parameters for it.

[2020-03-02 09:54] Benschio opened #7769 "TranslationCheck: add option to deactivate check for default resource file"
Check documentation: https://checkstyle.sourceforge.io/config_misc.html#Translation

[code]

Running checkstyle with this configuration fails, as there is no 'messages.properties' file in the project.
What I expect: An option to turn of the check for the default properties file and make this test pass.

-----------------

We have two resource files: messages_de.properties and messages_en.propertie

[2020-03-02 10:36] gaurabdg commented on #7729
I am on it.

[2020-03-02 13:30] OmarShawky1 commented on #7671
I Assume that i created a PR correctly, this is the [PR](https://github.com/checkstyle/checkstyle/pull/7770)

[2020-03-02 15:02] Abhishek-kumar09 commented on #7625
I am on it.

[2020-03-02 15:44] OmarShawky1 commented on #7671
I mentioned an example for the check violation & non-violation, i do not know what is the problem now

[2020-03-02 16:14] romani commented on #7190
Thanks a lot !! We will update our CI or related projects. Sorry for false alarm.

[2020-03-02 16:30] bmhm commented on #7190
Don't mention it. My heart just stopped beating for some minutes because these were my first commits to a Maven project and catching such methods are so basic things to to in java.

I am really glad and relieved it turned out to be something easy to fix. ☺️

[2020-03-02 18:35] Jalend15 commented on #7650
i am working on it

[2020-03-02 21:43] ritvij14 commented on #7605
@romani sir, I am trying to get output for checks of this, but when I run the config file on the test java file, it does not show me any violations, even though I made the whole Javadoc in one line. I made a simple function of addition just like the simple one which was shown in issue #7631 as an example and all I am getting as the output is "Audit done" and no errors.

[2020-03-02 23:34] Rainy0707 commented on #7620
I am on it

[2020-03-03 01:10] coraljain commented on #7617
I’m on it.

[2020-03-03 02:31] Malintha1996 commented on #7768
I am on it.

[2020-03-03 09:21] Gaurav-Punjabi commented on #7693
@romani I'm on it. I just had one query. The default example for JavaNCSS has default value for maximum method of 50. So is it okay if I only display the last 3 methods out of 50. As displaying 50 methods in the example would make it huge.

[2020-03-03 09:44] Gaurav-Punjabi commented on #7693
I'm on it.

[2020-03-03 13:25] HuGanghui commented on #7645
I am on it~

[2020-03-03 16:13] romani commented on #7705
Fix is merged

[2020-03-03 16:29] rnveach commented on #7705
@romani I am re-opening this as this issue has 2 PRs connected to it.

https://github.com/checkstyle/checkstyle/pull/7708 has not been merged yet.

[2020-03-03 18:23] HuGanghui commented on #7645
I try to fix this issue.
<img width="1241" alt="image-20200304021738035" src="https://user-images.githubusercontent.com/50866227/75806428-97319580-5dbe-11ea-846b-a13895354a01.png">
`$ cat config.xml
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <mo

[2020-03-03 18:26] HuGanghui commented on #7645
But I need some help. Because when I run mvn clean verify, a failing test occurs.  Details as follows:
[INFO] --- maven-antrun-plugin:1.8:run (ant-phase-verify) @ checkstyle ---
[INFO] Executing tasks

main:

execute:
     [echo] Checkstyle started (checkstyle_checks.xml): 04/03/2020 02:04:41 上午
[checkstyle] Running Checkstyle  on 1108 files
[checkstyle] [ERROR] /Users/hgh/Documents/GitHub/checkst

[2020-03-03 18:27] HuGanghui commented on #7645
不允许的导入 is Chinese. import.control.disallowed=不允许的导入

[2020-03-03 21:42] rnveach commented on #7645
https://github.com/checkstyle/checkstyle/blob/aa5a9fd19a6c2e05dbfa756e259f7f59b7d676ce/config/suppressions.xml#L102-L103
The issue is how we do some of our suppressions. Some suppressions are based on the message as there is specific violations we want to ignore but allow others as they are real issues. The only way currently in checkstyle to do these type of suppressions is by the violation messa

[2020-03-03 21:52] romani commented on #2410
yes, please update javadoc. It will be enough to close this issue.

"first gsoc issue " is about different, there should be special separate issue for documentation extension with example.

[2020-03-03 22:12] romani commented on #7534
@adangel , can we ask you to update pmd sources to have special maven property for checkstyle (we will substitute it to SNAPSHOT version). We are going to use your project in our regression testing to prevent problem such unfortunate issue on your code base.

[2020-03-04 04:48] HuGanghui commented on #7645
Thank you. I get it, and I fix this through set MAVEN_OPTS=-Duser.language=en as environment variables. I will try to send a PR.

[2020-03-04 05:45] wltan opened #7779 "JavadocStyleCheck incorrectly allows "style" tag"
From https://github.com/checkstyle/checkstyle/pull/7717#issuecomment-593454809
`style` is one of the `ALLOWED_TAGS` in JavadocStyleCheck:
https://github.com/checkstyle/checkstyle/blob/12c6e69fe7de3d462f5ca117dc4a6f0ba51a1d7c/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L209-L218

However this is not reflected in the javadoc or xdoc: https://checkstyle.org/con

[2020-03-04 07:12] strkkk commented on #7684
Fix is merged

[2020-03-04 07:12] #7684 closed

[2020-03-04 09:02] 0blivious commented on #7183
Can I check should the single line comment below cause violation?
[code]

[2020-03-04 11:25] ImmortalRabbit commented on #7639
I would like to do this issue but I have question. It says that I have to add an example for each existing config to show what code is ok and what code cause violation. Does the example  below covers all existing configs or am I missing something? Also, in documentation it was said that "**zero for** numeric types and **char** and false for boolean" which is misleading because according to [docs.o

[2020-03-04 12:06] strkkk commented on #7639
@ImmortalRabbit I suggest to first run checkstyle with this check to make sure this is a violation. In test inputs I see only case for `'\0`, but there is nothing about escape sequences (they maybe missed in check, but it is another issue).

Please also don't forget to add example for final fields (they should not be reported as violation)

[2020-03-04 12:41] Jalend15 commented on #7650
I created a pull request

[2020-03-04 13:11] harsh-kukreja commented on #7690
I'm on it

[2020-03-04 13:53] romani commented on #7670
fix is merged.

[2020-03-04 13:53] #7670 closed

[2020-03-04 13:59] #2410 closed

[2020-03-04 14:00] romani commented on #2410
fix is merged.

[2020-03-04 14:09] romani commented on #7565
@pkpale , yes, please. If PR is not following such rules , we skip it from review.
If you have questions, please ask here.

[2020-03-04 16:49] romani commented on #7605
@ritvij14 , please share input file, config and command line in form of https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md please share text , not a picture.

[2020-03-04 17:11] romani commented on #7769
I agree with such request, name of property is not good but we can discuss better name during implementation.

As such request is not common it is better for you to trigger Pull Request with update, whole logic is at one file https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/TranslationCheck.java .

Please update Issue description to strictly

[2020-03-04 17:20] ritvij14 commented on #7605
I am working on Windows environment so its not in the exact same format as is given in the link.

config.xml >>

`javac test.java

`

[2020-03-04 17:20] ritvij14 commented on #7605
I am working on Windows environment so its not in the exact same format as is given in the link.

`javac test.java
`

[2020-03-04 17:29] romani commented on #7705
I merged it, please recheck issue

[2020-03-04 17:37] rnveach commented on #7705
I updated the 2 external repos I found and know about. If there are any others you want to add, they can be in another issue.

Wiki update discussed at https://github.com/checkstyle/checkstyle/pull/7708#issuecomment-593051728 is not done, but can be done outside this issue.

This can be closed now.

[2020-03-04 17:37] #7705 closed

[2020-03-04 17:43] ritvij14 commented on #7605
@romani shouldn't I get errors for wrong way of writing the Javadoc? Or is it because it is not a valid Javadoc so checkstyle just ignores it?

Also if I run sun_checks.xml, I get a number of errors about all different kinds of checks.

[2020-03-04 17:53] harsh-kukreja commented on #7632
I'm on it.

[2020-03-04 19:24] yajna-pandith commented on #7476
I want to make use of java 8 lambdas , While doing so checkstyle is demanding braces for single line lambda also and this looks unnecessarily complex to read / comprehend. It is possible to over ride this checkstyle rule?

[2020-03-04 23:53] DXTkastb commented on #7638
I'm on it.

[2020-03-05 09:24] gaurabdg commented on #7635
I am on it.

[2020-03-05 10:16] gaurabdg commented on #7642
I am on it.

[2020-03-05 10:16] strkkk commented on #6964
Looks like github now shows linked PRs, so this is not needed anymore
![image](https://user-images.githubusercontent.com/8901354/75971891-79118580-5ee3-11ea-9103-44f3759ed8cc.png)

[2020-03-05 10:16] #6964 closed

[2020-03-05 11:55] strkkk commented on #7645
Fix is merged.

[2020-03-05 11:55] #7645 closed

[2020-03-05 13:33] HuGanghui commented on #7646
I am on it~

[2020-03-05 16:07] Abhishek-kumar09 commented on #7749
I am on it.

[2020-03-05 16:15] romani commented on #7183
This should be violation, if it is not violation, please create separate issue on this and please do not place it in examples.

[2020-03-05 16:30] rnveach commented on #7476
You would have to provide us an exact example, but checkstyle should only require braces if the lambda spans more than 1 line. You can reformat the code to ensure a lambda is only on 1 line. Otherwise, I agree with the rule that it should have braces. It is not easy while reading the lambda to see the start/end when it spans long.

[2020-03-05 18:04] shashwat70 commented on #7691
Sir, I updated the .xml and .java files related to the above issue. But, unfortunately it's giving me a build error when I run mvn verify. The error is as follows. Please guide me.
<img width="960" alt="2020-03-05" src="https://user-images.githubusercontent.com/52609734/76010972-c7ea0a00-5f39-11ea-8ede-15c13d492091.png">

[2020-03-05 21:36] pkpale commented on #7565
@ romani I changed both files located at ~/Desktop/checkstyle/src/xdocs/config_naming.xml and ~/Desktop/checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/AbstractClassNameCheck.java but after runniung "mvn verify" it gives error in the file which I didn't even touched. I have also attached screenshot
![Screenshot from 2020-03-06 02-58-19](https://user-images.githubusercontent.

[2020-03-05 21:37] pkpale commented on #7565
Please help me as I am taking too long to solve even a single simple issue.

[2020-03-06 08:38] AmrDeveloper commented on #7594
I'm on it

[2020-03-06 10:32] adangel commented on #7534
@romani I've added the property "checkstyle.version":
https://github.com/pmd/pmd/blob/68872bec2429c10b3c94e5ef1352ad74771dbf05/pom.xml#L95

(actually introduced checkstyle.plugin.version and reused checkstyle.version for checkstyle....)

[2020-03-06 13:43] HuGanghui commented on #7573
I am on it~

[2020-03-06 16:11] romani commented on #7534
@adangel, thanks a lot, I hope will will not make problems to pmd in future.

Please upgrade checkstyle maven plugin to 3.1.1 , we have PR already to break some compatibility.

Please share a command on how to run checkstyle only on pmd, we will use it in testing.

I appreciate your help and collaboration.

[2020-03-06 17:16] HuGanghui commented on #7748
I am on it~

[2020-03-07 02:57] shashwat70 commented on #7691
@romani please respond.

[2020-03-07 05:16] wilcoln commented on #7751
I'm on it!

[2020-03-07 07:42] strkkk commented on #7659
Fix is merged

[2020-03-07 07:42] #7659 closed

[2020-03-07 08:58] adangel commented on #7534
Thanks for fixing and taking care of this bug.

I've updated the plugin. You should be able to run just checkstyle on pmd with `./mvnw checkstyle:check`.

[2020-03-07 09:23] Malintha1996 commented on #7768
Hi @romani,
   As per my understanding, the requirement is to overload the log function in the AnnotationLocationCheck providing AST. However, I feel like I am missing something. Could you clarify a little on what should be done?
Thanks.

[2020-03-07 11:48] rnveach commented on #7768
@Malintha1996 All checks call a log method to report violations. They can either send a line only, a line and column, or the AST. We are in the process of changing all our `log` calls in AbstractChecks to pass the AST instead of anything else. The reason is for xpath suppressions, it needs the AST to know where the violation is in the tree to determine if it matches a suppression xpath supplied by

[2020-03-07 12:01] rnveach commented on #7691
@shashwat70 The errors are pretty simple. Did you try reading the message and looking in the files at the positions specified? The first one is saying your line has whitespace ending the line and can be removed. The second is saying you have 2 blank lines back to back and one can be removed.

[2020-03-07 13:31] wilcoln commented on #7760
I'm on it.

[2020-03-07 14:09] Malintha1996 commented on #7768
Got it.  Thanks for the assistance.

[2020-03-07 14:37] wilcoln commented on #7723
I'm on it!

[2020-03-07 14:48] romani commented on #7605
it is ok to be on Windows, just share commands and output in text form.

Check does NOT care about all aspects of comment. It cares only about first sentence. It is end with period, it is good.

yes, each Check do some specific validation. In scope of this issue you need to focus only on SingleLineJavadoc

[2020-03-07 14:58] gaurabdg commented on #7762
I am on it

[2020-03-07 15:07] gaurabdg commented on #7764
I am on it.

[2020-03-07 16:13] DXTkastb commented on #7638
**Update:** when I edited EqualsHashCodeCheck.java and run mvn clean verify It shows following errors:
[code]
I found these errors occuring due to JavadocBlockTagLocation and JavadocParagraph checks to meet quality criteria.
 So I edited the code which looks like this( edit :{@Override} ):
[code]
But then I get this warning on mvn clean verify. Build is successfull though.
[code]
I would like assi

[2020-03-07 16:59] shashwat70 commented on #7691
Thank You!

[2020-03-07 20:00] DXTkastb commented on #7733
I'm on it.

[2020-03-08 01:40] romani commented on #6964
I still have dream to look at actions to let us place label "awaiting changes/response" and remove it if author did some comment in PR.

[2020-03-08 02:48] romani commented on #7476
I do not recommend to take this issue for GSoC, you might spend a lot of time to make it better, but if we do not like result ( very subjective), there will be no merge. But we really want you to fix ( when code us merged) few issue successfully.

[2020-03-08 02:52] #7614 closed

[2020-03-08 02:53] romani commented on #7614
Fix is merged

[2020-03-08 04:52] ritvij14 commented on #7605
@romani sir, one more thing. Like in the test.java file I have put multiple at clauses in the same line. Shouldn't there be warnings from that because SingleLineJavadoc checks if there are at multiple at clauses in the same line or not? And also could you suggest some examples I could put in for showing violations of this check?

[2020-03-08 06:48] wltan commented on #5482
Looks like a duplicate of #3351, although this one is easier to find due to having `JavadocStyle` in the title

[2020-03-08 07:44] davidmkwon commented on #7687
I am on it.

[2020-03-08 07:51] strkkk commented on #7638
@DXTkastb Please check test inputs for this check and select some of it.

Also, please use common java formatting and name conventions

[2020-03-08 11:50] gaurabdg commented on #7752
I am on it.

[2020-03-08 13:58] gaurabdg commented on #7504
If @eriklansner-blip is not working on it, I'd be interested to work on it

[2020-03-08 14:04] gaurabdg commented on #7498
@romani @rnveach I have solved both `gsoc-first-issue` and `gsoc-second-issue`. Would you advice me to take up this issue?

[2020-03-08 14:06] rnveach commented on #7498
@gaurabdg This issue is off limits since it is connected to GSoC project. https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2020-Project-Ideas#project-name-generation-and-publishing-regression-diff-report-based-on-configs-in-pull-request-description

[2020-03-08 14:15] gaurabdg commented on #7469
@romani @rnveach I have solved both `gsoc-first-issue` and `gsoc-first-issue`. Would you advice me to work on this issue? If not, is there something else I can work on to better my understanding?

[2020-03-08 14:40] eriklansner-blip commented on #7504
sadly we did not solve the issue of shadowing and stopped working on it.

[2020-03-08 14:40] gaurabdg commented on #7498
Okay!

[2020-03-08 15:04] AnishaSrivastava1411 commented on #7649
I am working on this issue.

[2020-03-08 15:26] romani commented on #7605
SingleLineJavadoc search only for `.` in first sentence, nothing else. Please read code of Check at https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SingleLineJavadocCheck.java#L122

[2020-03-08 15:44] gaurabdg commented on #7504
@rnveach @romani Would you advise me to work on this provided I've completed both the gsoc issue categories?

[2020-03-08 15:57] rnveach opened #7797 "Resolve Pitest Issues"
This issue is the main tracker of all pitest work and will be split into multiple individual issues as new work is identified. Nothing can be done in this issue.

Shown in https://github.com/checkstyle/checkstyle/blob/master/.ci/pitest.sh ,

Checkstyle uses pitest (mutation testing) to test if there is enough tests to cover all code in main source. If new code is written, or existing code is re-wr

[2020-03-08 16:22] DXTkastb commented on #7638
Ok @strkkk, thanks for the help.

[2020-03-08 17:12] yajna-pandith commented on #7476
Please suggest me such issues

On Sun, 8 Mar, 2020, 8:18 AM Roman Ivanov, <notifications@github.com> wrote:

[2020-03-08 17:34] Malintha1996 commented on #7768
@rnveach , Will you briefly mention the XpathRegression tests that should be added.

[2020-03-08 18:40] rnveach opened #7799 "Resolve Pitest Issues - AvoidStarImportCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

This issue specifically focuses on the line https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L74

[2020-03-08 18:41] rnveach opened #7800 "Resolve Pitest Issues - AvoidStarImportCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

This issue specifically focuses on the line https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L75

[2020-03-08 18:42] rnveach opened #7801 "Resolve Pitest Issues - AvoidStaticImportCheck"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

This issue specifically focuses on the line https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L76

[2020-03-08 18:43] rnveach opened #7802 "Resolve Pitest Issues - CustomImportOrderCheck (1)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L77

[2020-03-08 18:44] rnveach opened #7803 "Resolve Pitest Issues - CustomImportOrderCheck (2)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L78

[2020-03-08 18:46] rnveach opened #7804 "Resolve Pitest Issues - CustomImportOrderCheck (3)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L79

[2020-03-08 18:46] rnveach opened #7805 "Resolve Pitest Issues - CustomImportOrderCheck (4)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L80

[2020-03-08 18:47] rnveach opened #7806 "Resolve Pitest Issues - CustomImportOrderCheck (5)"
Child issue of https://github.com/checkstyle/checkstyle/issues/7797 ,

https://github.com/checkstyle/checkstyle/blob/abf829f542023e089c741c55f73098cae52dcb12/.ci/pitest.sh#L81

[2020-03-08 18:50] rnveach commented on #7504
@gaurabdg There is now a 3rd gsoc category if you want to check them out. You are also free to work on multiple issues from any of the categories.

[2020-03-08 20:52] nmancus1 commented on #6204
I would like to look at this.  Would it be better to implement our own fix using antlr, or use an existing library to parse and determine encoding?  I found this: https://github.com/albfernandez/juniversalchardet

[2020-03-09 00:05] AmrDeveloper commented on #7764
I'm on it

[2020-03-09 01:23] rnveach commented on #7729
Fix was merged

[2020-03-09 01:23] #7729 closed

[2020-03-09 01:26] rnveach commented on #7768
@Malintha1996 See https://github.com/checkstyle/checkstyle/issues/7729 and it's final commit as an example of completed work for this issue. Let me know if you have any more questions.

[2020-03-09 01:27] rnveach commented on #7476
@yajna-pandith See https://github.com/checkstyle/checkstyle/wiki/To-student-of-GSoC-2020 and labels like gsoc first, second, third issue.

[2020-03-09 02:47] romani commented on #6204
Utf8 should be enough, please help investigate why it doesn't work

[2020-03-09 05:03] gaurabdg commented on #7504
@rnveach Sure, will check that out.

[2020-03-09 07:09] ritvij14 commented on #7605
@romani sir, I got how the check works. I apologize for the delay in my work. I was getting confused as to how we get the error of this check. This is how I got it.

config.xml
[code]

[2020-03-09 07:24] ritvij14 commented on #7605
@romani sir, I was facing an issue with the ignoredTags property. Does it not make this check ignore certain at clauses?

Because when I tried it, it was giving error.

config.xml
[code]

Test.java
[code]

[code]

[2020-03-09 08:20] sulkykookie commented on #7629
I'm on it

[2020-03-09 09:31] joca-bt opened #7809 "Incorrect lambda indentation"
We're using double indentation for wrapping function calls, however lambdas seem to have some issue with it.

[code]
Flags
[code]
This only happens with lambdas.

Using the default configuration, ie. `<module name="Indentation"/>`.

[2020-03-09 10:09] gaurabdg commented on #7801
I am on it.

[2020-03-09 11:58] wilcoln commented on #7799
I'm on it.

[2020-03-09 12:20] yajna-pandith commented on #7766
I am on it

[2020-03-09 12:20] yajna-pandith commented on #7767
I am on it

[2020-03-09 12:21] yajna-pandith commented on #7765
I am on it

[2020-03-09 12:21] yajna-pandith commented on #7765
I am on it

[2020-03-09 12:22] yajna-pandith commented on #7763
I am on it

[2020-03-09 12:32] strkkk commented on #7646
Fix is merged

[2020-03-09 12:32] #7646 closed

[2020-03-09 13:05] rnveach commented on #7534
Disabled until item not done: https://github.com/checkstyle/checkstyle/pull/7556#issuecomment-596511705

[2020-03-09 13:13] romani opened #7810 "Add pmd to no-error validation build item"
from https://github.com/checkstyle/checkstyle/issues/7534#issuecomment-596064055

we need to create no-error build item for pmd master:HEAD code, example of how we do this for other projects - https://github.com/checkstyle/checkstyle/blob/master/.ci/wercker.sh#L51

command should be used `mvn checkstyle:check` (lets try to avoid mvnw as it might take extra time for download for each build)

FYI:
t

[2020-03-09 13:14] romani commented on #7810
@nmancus1 , please help to resolve this issue.

[2020-03-09 13:15] romani commented on #7534
fix is merged.

[2020-03-09 13:15] #7534 closed

[2020-03-09 13:17] romani commented on #7534
@rnveach , I moved uncommenting of CI item to separate issue.

[2020-03-09 13:19] romani commented on #7810
additionally, as mentioned at https://github.com/checkstyle/checkstyle/issues/7534#issuecomment-596512007
please activate https://github.com/checkstyle/checkstyle/blob/master/wercker.yml#L215

[2020-03-09 13:33] romani opened #7811 "upadate doc of AvoidDoubleBraceInitialization to make example compilable"
detected at https://github.com/checkstyle/sonar-checkstyle/pull/287

Each new `ArrayList<Object>` i smissing braces: `new ArrayList<Object>()` will be correct.

Please recheck that examples are compile-able by javac.

[2020-03-09 13:38] rnveach commented on #7811
It should be shown that all the examples are compilable when fixed.

[2020-03-09 14:43] HuGanghui commented on #7762
I am on it~

[2020-03-09 15:18] wltan opened #7812 "OneTopLevelClass: Improve data structure efficiency"
From https://github.com/checkstyle/checkstyle/pull/7790#discussion_r389439081

In PR #7790 we changed `OneTopLevelClass` to log violations using the DetailAST node itself, rather than just the line number. However that is a very minimal change to the check functionality and was more focused on the changes to unit/integration/regression testing, where we now log the column number as well.

There is

[2020-03-09 15:31] Jalend15 commented on #7650
[ERROR] symbol:   class string
[ERROR] location: class com.puppycrawl.tools.checkstyle.checks.MSL
[ERROR] /home/jalend-15/checkstyle/src/test/java/com/puppycrawl/tools/checkstyle/checks/MSL.java:[127,13] cannot find symbol

i am unable to use string i java program

[2020-03-09 16:38] nmancus1 commented on #7810
I'm on it.

[2020-03-09 19:23] romani opened #7815 "Remove Apex project from usage in testing"
from https://app.wercker.com/checkstyle/checkstyle/runs/build/5e665a287b63df001aea239d?step=5e665a6c1ccc9800088c9e74

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:3.1.1:check (default-cli) on project apex: Failed during checkstyle configuration: cannot initialize module TreeWalker - TreeWalker is not allowed as a parent of LineLength Please review 'Parent Module

[2020-03-09 19:26] romani commented on #7815
I pushed directly to master disablement. We need to revert it when we are ready.

@nmancus1 , please take a look.

[2020-03-09 19:29] romani commented on #7815
We need to update Apex config to have LineLenght in proper place.
if there will be a lot of violations in code after that, we need to drop this project completely from no-error , too might be much efforts to maintain it, we can find some other project for this.

[2020-03-09 19:50] nmancus1 commented on #7815
36 violations to be precise, I've updated apex_checks.xml and Checkstyle version here:
https://github.com/checkstyle/apex-core/pull/3#issuecomment-596738592

[2020-03-10 00:29] rnveach commented on #7594
Fix was merged

[2020-03-10 00:29] #7594 closed

[2020-03-10 00:56] coraljain commented on #7618
I'm on it.

[2020-03-10 01:00] rnveach commented on #7650
@Jalend15 Please point to PR where you have issue. There is no linked PR here.

[2020-03-10 01:07] #7689 closed

[2020-03-10 01:08] rnveach commented on #7689
Fix was merged

[2020-03-10 04:22] romani commented on #7565
@pkpale, you have checkstyle violation in your change, please read error message attentively, you need to remove empty line at line 64

[2020-03-10 07:24] strkkk commented on #7812
It looks like whole check can be rewritten to get rid of internal data structure at all.
For example, it checks every class/interface/enum definition and has internal flag if there already was top level element in this file.
If definition is first - flag is set, all following token checks will report violation.

In my opinion, it will be clearer.

[2020-03-10 07:28] strkkk commented on #7642
Fix is merged.

[2020-03-10 07:28] #7642 closed

[2020-03-10 07:39] wltan commented on #7812
Agreed. It should be possible to just traverse the AST again without needing to store which nodes need to be visited again. The only case I can think of where this would be a bad trade-off is when there are a lot of sibling nodes that are (somehow) not class/interface/enum definitions, which I think is highly unlikely.

Another thing that I'd like to point out is that the current behavior currentl

[2020-03-10 07:53] Malintha1996 commented on #7768
Thanks @rnveach .I am generating the diff report now

[2020-03-10 14:19] HuGanghui commented on #7748
I need some help, when I add IT test, I add some resources in checkstyle/src/it/resources/org/checkstyle/suppressionxpathfilter/missingoverride, but one test failed and I don't know how to solve it, the details as follows:

[ERROR] Tests run: 3, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.406 s <<< FAILURE! - in com.puppycrawl.tools.checkstyle.internal.XpathRegressionTest
[ERROR] validateI

[2020-03-10 14:44] rnveach commented on #7748
One of the words isn't spelled right. Please look closely at the pattern and the file name you created.

[2020-03-10 14:53] HuGanghui commented on #7748
Thanks, my mistake~

[2020-03-10 14:55] rnveach commented on #7812
This issue should only be about improving check efficiency and should avoid any extra change in behavior of check if possible.

This makes sense to me. I would make it a separate issue.

@wltan If you know how to improve check and want to, feel free to. Regression will need to be provided to show that check behaves the same as before. If you feel this would take to long for GSoC, then I would work