[2020-04-12 17:06] rnveach commented on #5148
@wltan This issue is not about xpath support. We just need check added to google config and UTs to show it in action using google config.

Add javadoc to remove violations that can't be suppressed by xpath.

This is not the case. The UT ensures all tokens are used or that they are added to a list of suppressions on why thy don't apply. It ensures that when we add a new token, we review it's use fo

[2020-04-12 17:16] strkkk commented on #8045
@rnveach yes, you need to check parent token of colon to understand that it is case/default, but I think it is ok.
For example, [WhitespaceAround](https://checkstyle.sourceforge.io/config_whitespace.html#WhitespaceAround) also has colon token, but for some cases there should be no whitespace before it, like case/default.

About label - ok, it can be separate issue, I didn't expect that it is named

[2020-04-12 17:19] rnveach commented on #952
@ImmortalRabbit Issue is not that property doesn't work. You will have to look at logic of check and try to document it's logic.

[2020-04-12 18:50] rnveach commented on #6332
We should be following JLS as the starting point for new grammar. If it is compilable, then we have to support it in our grammar. If it isn't compilable, then it is just a coincidence that our grammar still parses it. We only work with compilable code.

[2020-04-12 19:04] rnveach commented on #8019
@shashwat70 It is fine to split this into 2 PRs in that makes it easier. It doesn't have to be all 1 PR.

We would need more information the build errors to provide guidance like what checks, and what test.

[2020-04-12 19:08] DXTkastb commented on #7873
**Pitest report:**
https://dxtkastb.github.io/checkstyle/reports/ImportOrder/repo/com.puppycrawl.tools.checkstyle.checks.imports/ImportOrderCheck.java.html

Better Pitest report:
https://dxtkastb.github.io/checkstyle/reports/ImportOrder/repo-edited/com.puppycrawl.tools.checkstyle.checks.imports/ImportOrderCheck.java.html

**Surviving Mutation:**

https://github.com/checkstyle/checkstyle/blob/abf82

[2020-04-12 19:28] shashwat70 commented on #8019
I mean if I suppress the violations for now, this issue will be resolved. But it would give rise to numerous new issues which will require each file to be unsuppressed and fixed accordingly making sure there are no pitest mutations. Is that fine? @rnveach

[2020-04-12 19:28] AmrDeveloper opened #8082 "New check: RegexRepetitionCheck"
[code]

---------------

New Check to report violation when regex contains {1,} or {0,} because it should be replaced by + or *
The idea of this check comes from IntelliJ IDE

![regex r check](https://user-images.githubusercontent.com/23631699/79077440-15f4e900-7d02-11ea-9d6a-f0296fb5181a.PNG)

We can use this feature in GSoC Auto Fix idea, Once it's approved I can start working on it

-----------

[2020-04-12 19:35] esilkensen commented on #6332
The JLS says (https://docs.oracle.com/javase/specs/jls/se14/html/jls-14.html#jls-14.20.3)
[code]
which would make me think `this` is not a valid `Resource` since it is a `Keyword`, but the following code compiles and runs, printing `test` and then `close`:

[code]

[2020-04-12 19:38] rnveach commented on #8019
Why can't you look into the failures now and determine if the tab is really needed or not?

[2020-04-12 19:41] rnveach commented on #8082
Main.java is not compilable.

How will you identify what is a regular expression and what is just weird characters in a string? To me this seems like it may create too many false positives.

[2020-04-12 19:46] shashwat70 commented on #8019
Yes, I agree. That is an option. But there are around 130 files to take care of and it will take a lot of time as each file has numerous violations. It's possible that keeping one out of twenty may work, but figuring that out for these many files is an ordeal. It will also over crowd the PR.
Hence, I feel that doing it in parts will

[2020-04-12 19:49] AmrDeveloper commented on #8082
@rnveach

Yup because I tested it on IDE, not from CLI and just add it like this for issue format and I can edit it

![tested](https://user-images.githubusercontent.com/23631699/79078215-ff04c580-7d06-11ea-9838-6baf32e1134a.PNG)

You are right it's soo difficult to identify if this string is a normal string or it a regex because just one char string can be both normal string or regex and we can't

[2020-04-12 20:33] rnveach commented on #8082
There is no match method in first issue or explanation how you will achieve this. For the issue to be approved, you need to provide more details.

[2020-04-12 21:20] zielint0 commented on #7889
@HuGanghui
No, but I try to learn a bit from time to time!
Chinese is a very cool language to speak :)

[2020-04-12 21:21] AmrDeveloper commented on #8082
@rnveach

If we assert that the string must be inside matches method we can't identify that if this method is from the string class because of its maybe a method from any other class with the same name

and we can't identify if this string is normal or regex because even Hello world string can be a regex

We can check if the variable name contains pattern or regex word then we should identify it a

[2020-04-12 21:46] romani commented on #8019
We have 105 files with problems.
in first PR please fix all cases that do not require update in tests expected results.
in second PR - please send suppression for all files that need to stay with tabs forever AND temporal suppression for files that require fix in Input and require update in test code or .... .
As third, forth, ..... - please fix Input and test code and remove suppression.

[2020-04-13 02:17] HuGanghui commented on #7889
@zielint0 ok, nice to meet you😄

[2020-04-13 04:26] shashwat70 commented on #8019
Alright. Thanks for suggesting this. I'll work on it. @romani @rnveach

[2020-04-13 07:16] sulkykookie commented on #7628
I'm on it.

[2020-04-13 11:04] #7745 closed

[2020-04-13 11:05] strkkk commented on #7745
Fix is merged

[2020-04-13 11:06] #7767 closed

[2020-04-13 11:07] strkkk commented on #7767
Fix is merged

[2020-04-13 13:01] Gaurav-Punjabi commented on #6217
I'm on it.

[2020-04-13 13:42] zielint0 commented on #7889
@HuGanghui
:-)

[2020-04-13 13:48] harsh-kukreja commented on #6332
Hey @pbludov and @esilkensen can u help me I am getting the following error in `IndendationCheckTest@testTryResourcesNotStrict`, I solved all other errors in other checkes but i cannot find what does this error means can u help me debug it

[code]

[2020-04-13 14:50] #7128 closed

[2020-04-13 14:50] rnveach commented on #7128
Fix was merged

[2020-04-13 15:19] esilkensen commented on #6332
@harsh-kukreja you could try opening a draft PR with your work in progress or sharing a link to your branch

[2020-04-13 15:23] romani commented on #8051
fix is merged.

[2020-04-13 15:23] #8051 closed

[2020-04-13 15:24] harsh-kukreja commented on #6332
@esilkensen here is the link
https://github.com/harsh-kukreja/checkstyle/commit/fc3a401908a9eb280e941945e8c6b3ec073242db

[2020-04-13 17:18] #8011 closed

[2020-04-13 17:18] strkkk commented on #8011
Fix is merged

[2020-04-13 18:38] harsh-kukreja commented on #6332
Also i have created a PR you can rply there @esilkensen  https://github.com/checkstyle/checkstyle/pull/8093

[2020-04-13 19:20] harsh-kukreja commented on #5826
Hey @romani can you tell me how did you generate this report in https://github.com/checkstyle/checkstyle/issues/5826#issuecomment-502486571

[2020-04-13 21:10] Gaurav-Punjabi commented on #6217
@romani LGTM currently does not support forked repository and as I cannot install LGTM on checkstyle/checkstyle, is it okay if I test LGTM on a local repository first, then create a PR with its configuration? Later you'll just need to install LGTM on checkstyle

[2020-04-13 22:06] Gaurav-Punjabi commented on #5890
From what I understand, we need to rename package `com.puppycrawl.tools.checkstyle.utils` to `com.puppycrawl.tools.checkstyle.util` and change the package name in all the classes it's being used. Correct?

[2020-04-13 22:09] Gaurav-Punjabi commented on #7724
I'm on it.

[2020-04-13 23:29] archiecobbs opened #8096 "It is impossible to get sorted import grouping with separation"
A very simple import policy that was previously possible to enforce in older versions of Checkstyle is seemingly no longer possible.

Here's the policy:
* Normal imports before static imports
* Imports sorted alphabetically (case-sensitive/ASCII)
* Group imports by first domain component
* Single blank line between groups

I used to have a recipe for this that worked. With newer checkstyle, it see

[2020-04-14 03:12] rnveach commented on #8096
[code]

[2020-04-14 04:47] romani commented on #7672
Fix is merged

[2020-04-14 04:47] #7672 closed

[2020-04-14 08:23] #7691 closed

[2020-04-14 08:24] strkkk commented on #7691
Fix is merged

[2020-04-14 09:44] shashwat70 commented on #4930
Are moduleName and moduleID both supposed to be used in the compareTo method? Or do I need to replace moduleID with moduleName? @rnveach @romani

[2020-04-14 14:46] archiecobbs commented on #8096
Thanks, but that config is for something slightly different.

I don't want an explicit listing of top level domain components that I have to know about _a priori_.

I want something simpler: to require imports to be sorted alphabetically no matter what random top level domain components may happen to appear.

Shouldn't be hard, right? You'd think a simple `<property name="groups" value="/^[^.]+/"/

[2020-04-14 20:31] rnveach commented on #8096
This doesn't seem possible with the current implementation of ImportOrderCheck.

Taken from https://checkstyle.org/config_imports.html#ImportOrder_Properties ,

Your "catch all" regular expression is doing the same thing. Since there is only 1 group listed by that expression, everything that matches that group must be tied together in that 1 group and not be separated by an empty line. That is why

[2020-04-14 21:07] archiecobbs commented on #8096
OK thanks, now I understand.

But this is a surprising limitation... what I'm trying to do is almost the simplest possible use case.

Hmm... is this worth a new feature request?

We could fix this in a backward-compatible way by adding a new property `separateOnMatch` which is a regular expression that enforces a blank line between any two imports for which the  matching substring is different.

S

[2020-04-15 01:10] #7179 closed

[2020-04-15 01:11] rnveach commented on #7179
Fix was merged

[2020-04-15 01:15] rnveach commented on #7756
Fix was merged

[2020-04-15 01:15] #7756 closed

[2020-04-15 06:30] shashwat70 commented on #7736
I'm on it!

[2020-04-15 06:43] Benschio commented on #7769
Done

[2020-04-15 07:39] #7628 closed

[2020-04-15 07:39] strkkk commented on #7628
Fix is merged

[2020-04-15 08:05] sulkykookie commented on #7627
I'm on it.

[2020-04-15 08:09] sulkykookie commented on #7616
I'm on it.

[2020-04-15 08:38] shashwatj07 opened #8104 "Redundant checking of file in ant task"
```mvn compile antrun:run@ant-phase-verify```
[code]

The same file, namely ```XpathRegressionInterfaceMemberImpliedModifierTest.java``` is being checked for the same violation twice. This is inefficient and redundant.

[2020-04-15 12:32] wltan commented on #5148
Understood. Thanks a lot for the guidance!

[2020-04-15 12:45] wltan commented on #7566
@CapTen101 If you're no longer working on this issue, I'd like to take over. I happen to be doing related documentation in another PR.

[2020-04-15 12:47] CapTen101 commented on #7566
Okay. You may take the charge.

[2020-04-15 15:48] developerhb commented on #7728
@wltan Hello
Here's a log function of `JavaDocContentLocationCheck.java`

[code]
The log function has argument of **DetailAST** object. I would like to see the previous version of this method before implementation of AST. Can you help?

I want this to understand the changes that needs to be done.

[2020-04-15 16:28] wltan commented on #7728
Based on git blame at https://github.com/checkstyle/checkstyle/blob/4cd2b978ac7b8ef6b25590dd1d4d9f6ee4180627/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocContentLocationCheck.java
it seems that when `JavadocContentLocationCheck` was first written it was already made to log DetailAST, so there is no "previous version" to refer to.

If you want some reference you can try looki

[2020-04-15 19:36] DXTkastb commented on #3138
I'm on it.

[2020-04-15 19:36] DXTkastb commented on #2629
I'm on it.

[2020-04-15 22:03] rnveach commented on #8104
It shouldn't be checking the same file in both configs, but I am not seeing how it is happening.
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L66
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L141

[2020-04-15 22:12] rnveach commented on #8104
non_main run is pulling in full list of files but excluding ones it doesn't want to duplicate.
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L66
We specifically exclude test java but don't do the same for IT java.
https://github.com/checkstyle/checkstyle/blob/master/config/ant-phase-verify.xml#L69

We should update the exclude to do the same and confirm if there

[2020-04-15 23:01] rnveach commented on #8104
During my own search it seems both are looking at the xdocs too.

`checkstyle_non_main_files_checks` and `checkstyle_resources` seem to be checking the same files and different files, which may be ok, but now I am not fully sure what is the difference between them.   `checkstyle_resources` is not checking `it\resources-noncompilable` or `site\resources`.

[2020-04-15 23:47] Gaurav-Punjabi commented on #6209
I'm on it.

[2020-04-16 04:57] HuGanghui commented on #7977
Pitest report

Link: https://huganghui.github.io/7977-JavadocMethodCheck-5/before-pitest-reports/

Surviving mutations:
on line 188: removed conditional - replaced equality check with false → SURVIVED I am focusing on it.
on line 224: removed conditional - replaced equality check with true → SURVIVED referenced by #7799, wilcoln is focusing on it.

[2020-04-16 08:36] developerhb commented on #7728
Thank you @wltan . The links provided by you were useful.

According my understanding, the log function in `CustomImportOrderCheck.java` uses startLineNumber attribute of `ImportDetails` class.

Here is the code
[code]

One thing we can do is change the `ImportDetails` class to have one extra attribute which an object of `DetailAST`.

After this change the function would look like
[code]
where get

[2020-04-16 08:55] wltan commented on #7728
Sounds like a good plan.

The `ImportDetails` class is not likely to be used outside of this check. As long as you can fix all the constructor calls inside `CustomImportOrderCheck` itself that should be good enough.

In any case, regression testing is there to make sure functionality is still correct after changes.

[2020-04-16 09:30] shashwat70 commented on #8104
- The configs ```checkstyle_non_main_files_checks``` and ```checkstyle_resources_checks``` are absolutely disjoint. So, I guess there is no problem if they check same files.

- ```src\it\java``` needs to be excluded from ```checkstyle_non_main_files_checks```

- Unfortunately, ```checkstyle_resources_checks``` in not checking the following and they need to be added:

    1. ```it\resources-noncomp

[2020-04-16 09:31] developerhb commented on #7728
Okay @wltan . Think I should go ahead with this plan.

[2020-04-16 11:54] shashwat70 commented on #8104
I've fixed some stuff to the best of my understanding. I'd be glad if you could please take a look at my PR. @rnveach

[2020-04-16 12:12] HuGanghui commented on #6943
@tir38 has not worked on this problem for a long time. If possible, I am on it~

[2020-04-16 14:48] romani opened #8110 "Remove from PackageDeclaration validation for empty files"
Check documentation: https://checkstyle.org/config_coding.html#PackageDeclaration

[code]

---------------

problem is detected at https://github.com/checkstyle/checkstyle/pull/8024/files#r404829803
We need to
1) remove validation from Check, as we would like to have this Check complete support of Xpath suppression.
2) add in our config with RegexpMultiline Check that do this validation
3) update

[2020-04-16 15:11] romani commented on #7922
fix is meged.

[2020-04-16 15:11] #7922 closed

[2020-04-16 17:17] Gaurav-Punjabi commented on #8110
I'm on it.

[2020-04-16 19:40] Abhishek-kumar09 commented on #8039
I have updated the code to give the correct suppression results, I think the issue is worthless now and can be closed.

[2020-04-16 19:40] #8039 closed

[2020-04-16 21:51] Gaurav-Punjabi commented on #8110
@romani do we need to completely remove the package missing validation from check or only for empty files as the validation also validates whether a class has a package or not.
If we remove the validation only for empty files, we'll need to update the logs to log AST.
1. So should I apply this update, in the same PR or should I create another PR for that ?

[2020-04-16 23:02] gaurabdg commented on #4219
I am on it

[2020-04-16 23:31] gaurabdg commented on #5820
I am on it.

[2020-04-17 06:12] shashwat70 commented on #7546
I'm on it!

[2020-04-17 07:33] HuGanghui commented on #7977
@rnveach  please review

[2020-04-17 11:26] #7600 closed

[2020-04-17 11:27] strkkk commented on #7600
Fix is merged

[2020-04-17 12:26] developerhb commented on #7728
@wltan I have edited the check `CustomImportOrderCheck.java` to log **DetailAST**. Now the next step is to write tests. Please guide me for writing tests.

[2020-04-17 13:18] wltan opened #8117 "False negative with validateThrows in JavadocMethod"
While designing additional UTs for #7955 I came across some unexpected behavior.

Check documentation: https://checkstyle.org/config_javadoc.html#JavadocMethod

[code]

Expected: There should be 2 violations, one for `IllegalArgumentException` and another for `UnsupportedOperationException`.

This is a different issue from #7473 which is dealing with false positives. This is a false negative.

---

[2020-04-17 14:03] wltan commented on #7728
For this it's probably just best to refer to existing PRs like #8069 to see how it's done.

For the test input files you will have to come up with it yourself, based on what you know about the check. Make sure you have enough tests to cover every `log` call in the main check at least once.

For the test file (e.g. `XpathRegressionCustomImportOrderTest.java`) what you can do is copy an existing tes

[2020-04-17 14:22] gaurabdg commented on #7878
@yajna-pandith Are you still working on it? Since it has been over a month, can I take it @romani ?

[2020-04-17 14:32] gaurabdg commented on #7297
@HuGanghui are you still working on it? If not the please don't block and allow me to work on it.

[2020-04-17 15:02] rnveach opened #8118 "Enforce -e for all maven commands"
Talked about in https://github.com/checkstyle/checkstyle/pull/8102#issuecomment-614658046 and identified in https://github.com/checkstyle/checkstyle/pull/8099#issuecomment-613768780 ,

We need to enforce all maven commands use `-e` to ensure we get stack trace of issue as it happens to ensure we can debug the issue. It is all too common an issue only happens once and we can never reproduce it agai

[2020-04-17 15:02] yajna-pandith commented on #7878
@gaurabdg sure you can.

[2020-04-17 17:58] developerhb commented on #7728
@wltan
As in https://github.com/checkstyle/checkstyle/pull/8069/files the test class methods like testOne(), testTwo()...

Each test uses a class like `SuppressionXpathRegressionMissingJavadocMethod1`. This class has a method which has no code. What is the importance of these classes? How the testing works?

[2020-04-17 19:21] HuGanghui commented on #7297
@gaurabdg yes I am on it~

[2020-04-18 00:49] ImmortalRabbit commented on #3601
I am on it.

[2020-04-18 05:29] wltan commented on #7728
The point of `MissingJavadocMethod` check is simply to check if required Javadoc is missing, so that is the only thing that the input classes need to demonstrate.

Similarly for `CustomImportOrder` check you will need to show with inputs how violations are produced, so you will set some out-of-order imports. Whatever else goes on in the input class can be as simple as you want, as it is irrelevant

[2020-04-18 07:45] developerhb commented on #7728
Thank you @wltan .
I understand the test and will complete the task soon and create the pull request.

[2020-04-18 07:48] developerhb commented on #7728
@wltan
One more doubt. In the check there is function named `logWrongImportGroupOrder` which calls the `log` function. Should I create the test for `logWrongImportGroupOrder` or only for `log` function.

[2020-04-18 09:23] HuGanghui commented on #8118
I am on it

[2020-04-18 09:35] ImmortalRabbit commented on #952
[code]

This test is passing. I think there is some errors with parsing from xml. Any other ideas what it could be?

@romani @rnveach

[2020-04-18 10:22] ImmortalRabbit commented on #952
I have done some research. And I didn't 100% logic of check but I have found that. Some WriteTagCheckTests doesn't work properly because those tests are passing.

[code]

[2020-04-18 12:16] developerhb commented on #7728
@wltan
Please explain me these two things

1. expectedViolation string
[code]
Here I would like to know the meaning of `4:1:` and the arguments of `getCheckMessage` function. Like when to give what arguments.

2. expectedXpathQueries string
[code]
Here I would like to know how this string is formed. That is, the meaning of `"/IMPORT[./DOT/IDENT[@text='Set']]"`

[2020-04-18 13:10] #6988 closed

[2020-04-18 13:10] rnveach commented on #6988
Fix was merged

[2020-04-18 14:00] romani opened #8121 "remove SuppressWarningsHolder from CheckUtil.getCheckstyleChecks"
detected at https://github.com/checkstyle/checkstyle/pull/7931#discussion_r410255047
and after this PR is merged and #7848 is closed.

we need to remove from CheckUtil.getCheckstyleChecks module SuppressWarningsHolder as it does not report any violation any more, so it is not a Check.

[2020-04-18 14:53] #7741 closed

[2020-04-18 14:54] romani commented on #7741
fix is merged.

[2020-04-18 15:16] romani commented on #8117
issue is approved, but we need to be careful to not produce false-positives, but regression will show as all.

[2020-04-18 15:20] wltan commented on #8117
@romani Thanks! Here is the regression for the basic fix https://github.com/wltan/checkstyle/commit/e74993c0dc1cdc21a81f6e50910e8f01b39079c1: https://wltan.github.io/checkstyle-reports/2020-04-18/javadocmethod-traverse/index.html

Will send a proper PR with UTs soon.

[2020-04-18 15:41] wltan commented on #7728
Each element of the array is a violation, presented exactly as you would see when running a Checkstyle jar.
- `4:1:` is line and column number respectively.
- `getCheckMessage` is to 'build' the violation message.
  - First argument is clearly the `.class` of the check. I don't know for sure what this is for either, but my guess is the `[ImportOrderCheck]` that you get at the end of the violation

[2020-04-18 15:51] shashwatj07 opened #8122 "Google style has improper enforcement of horizontal whitespace"
Leftover from #7988
Reference: https://github.com/checkstyle/checkstyle/pull/7988#discussion_r410706795

Add all tokens left to be added and make ```google_checks``` adhere to Google style's chapter 4.6.2
https://google.github.io/styleguide/javaguide.html#s4.6.2-horizontal-whitespace

The following code should show violations wherever pointed.

[code]

[code]

[2020-04-18 15:55] Gaurav-Punjabi commented on #3201
@romani if @kukreja-vikramaditya is not working on this issue, can I take it?
Since it hasn't been touched for a long time?

[2020-04-18 15:57] strkkk commented on #3201
@Gaurav-Punjabi yes, you can take this issue

[2020-04-18 16:03] Gaurav-Punjabi commented on #3201
I'm on it.

[2020-04-18 16:22] developerhb commented on #7728
@wltan

Line and column of which thing and how can I obtain it?

[2020-04-18 17:01] shashwat70 commented on #7765
Claiming this since there's no activity since almost a month.
I'm on it! :)

[2020-04-18 17:10] wilcoln opened #8124 "Add LABELED_STAT token support to NoWhitespaceBefore"
Check documentation:https://checkstyle.sourceforge.io/config_whitespace.html#NoWhitespaceBefore

[code]
see example - https://checkstyle.sourceforge.io/config_whitespace.html#NoWhitespaceBefore_Properties
Currently list of tokens has no support for LABELED_STAT, it should be added to report violations for labels.

Rationale:
The official [google java style guide](https://google.github.io/styleguid

[2020-04-18 17:30] wilcoln commented on #8121
I'm on it.

[2020-04-18 18:33] wilcoln opened #8126 "Extract reusable logic from RequireThisCheck"
If we take a look at source code of `RequireThisCheck`, we can see that it is a very long class with numerous methods and inner classes.

A lot of the code written in that class is not specific to the check and can be reused else where e.g. to solve https://github.com/checkstyle/checkstyle/issues/7895 and https://github.com/checkstyle/checkstyle/issues/7504

Essentially, the elements (methods and

[2020-04-18 19:34] romani commented on #6582
Fix is merged

[2020-04-18 19:34] #6582 closed

[2020-04-18 19:54] DXTkastb commented on #7728
@developerhb this line: column is the violation location in your test files.
4:1 , so violation is at line 4 and column 1.

We create tests to check if the changed code works properly and we fulfill line coverage.

[2020-04-18 21:02] harsh-kukreja commented on #6173
I'm on it

[2020-04-18 21:02] harsh-kukreja commented on #6173
As per my understanding, I need to update the link  to https://github.com/vim-syntastic/syntastic/ ? @romani

[2020-04-18 23:55] Gaurav-Punjabi commented on #7611
I'm on it.

[2020-04-19 01:58] romani commented on #7892
@nmancus1 , please let us know what is left to do in scope of this issue .

[2020-04-19 02:19] nmancus1 commented on #7892
@romani I think we are good once #8040 is merged.

[2020-04-19 02:19] romani commented on #2785
@gaurabdg , we need to run validation of xml files that are located out of resources, almost all of them in 'config' folder

[2020-04-19 06:29] sulkykookie commented on #6981
I'm on it.

[2020-04-19 06:46] sulkykookie commented on #6981
@rnveach
Just to be on the same page. This issue revolves around the fact that the folders' names such as ```rule331nowildcard``` in https://github.com/checkstyle/checkstyle/tree/master/src/it/java/com/google/checkstyle/test/chapter3filestructure
should be improved, along with the file names inside of such folders, along with the improvements in ITs. Am I right?

[2020-04-19 07:14] esilkensen commented on #8124
@romani @rnveach does this issue look good to get the `approved` label?

[2020-04-19 07:19] wilcoln commented on #8124
It might be useful to mention I've opened this issue as a response to @rnveach https://github.com/checkstyle/checkstyle/issues/8045#issuecomment-612639970

[2020-04-19 07:22] esilkensen commented on #8124
Thanks @wilcoln - looks good to me, then, I will pass to @rnveach

[2020-04-19 07:22] wilcoln commented on #8126
This is issue has been created in response to https://github.com/checkstyle/checkstyle/pull/8049#pullrequestreview-391874442

[2020-04-19 08:51] wltan commented on #8117
@romani There are false positives being added when anonymous class methods are involved e.g.
https://wltan.github.io/checkstyle-reports/2020-04-18/javadocmethod-traverse/apache-ant/index.html#A12
https://wltan.github.io/checkstyle-reports/2020-04-18/javadocmethod-traverse/elasticsearch/index.html#A1

But this is problem is already present in our current release:
[code]

What this change does is th

[2020-04-19 10:56] gaurabdg commented on #2785
@romani Aren't they included already in the maven config?
https://github.com/checkstyle/checkstyle/blob/82be8479d2dc5b120d1b9edbbdb8bf2867816583/pom.xml#L1347

[2020-04-19 12:12] rnveach commented on #8124
@wilcoln Please update issue and to add reasoning for this token which was to support google style.

[2020-04-19 12:26] #7758 closed

[2020-04-19 12:27] romani commented on #7758
fix is merged

[2020-04-19 12:34] rnveach commented on #8126
This is similar to duplicate of https://github.com/checkstyle/checkstyle/issues/5307 .

I started my own experience with this a while back. My branch is: https://github.com/rnveach/checkstyle/commits/frame_tracking_util

While I agree with this idea, I do question how much code from the check is re-usable right now and how much is specific to RequireThis. You can see me start to question this in s

[2020-04-19 12:46] romani opened #8132 "new Cheeck: NoCodeInFile"
to cover functionality that we removed from PackgeDeclaration Check at https://github.com/checkstyle/checkstyle/issues/8110

We need new Check to cover cases where all content is commented out. So file is not empty, but there is no java code .

It should print violations on files like the following:
[code]

[2020-04-19 12:48] gaurabdg commented on #8132
I am on it, if its okay.

[2020-04-19 12:57] romani opened #8133 "Travis execution of nondex is not failing when plugin is failed to even run"
when nondex plugin did not run we mark build as passed, that created leak of failure to master.

This failure doesn't show any `.nondex` folders not being created. Original PR failure (at download of artifactt) at https://travis-ci.org/github/checkstyle/checkstyle/jobs/675825399#L532 had a folder failure because nondex didn't even run since maven failure was with downloading dependencies. https://

[2020-04-19 13:18] developerhb commented on #7728
@wltan How can I run the tests that I have created and check if they are correct?

[2020-04-19 13:22] ImmortalRabbit commented on #7604
I am on it.

[2020-04-19 13:28] wilcoln commented on #8124
@rnveach I've updated Issue description, are you ok with my changes?

[2020-04-19 13:33] romani commented on #6216
I do not see a benefit, please explain.

-----

please do `2)` first, and `3)` as second step, it might be treaky.

[2020-04-19 13:48] romani commented on #8126
yes, or even just regular classes to be used by composition  rather than inheritance.

it is very very last resort. It is better to create special pitest profile to test Checks together. But all tests should be on real Inputs (no fake tests). Let me know if you think that sticking to real testing is not feasible.

[2020-04-19 13:49] nmancus1 opened #8134 "no-exception-test-guava should be removed from travis.sh"
`no-exception-test-guava` option should be removed from `travis.sh` script,  since it has now been split into two other options: `no-exception-test-guava-with-google-checks` and `no-exception-test-guava-with-sun-checks` and is no longer called from `.travis.yml`.

[2020-04-19 13:57] nmancus1 commented on #7892
@rnveach Can you elaborate on your comment at https://github.com/checkstyle/checkstyle/pull/8040#issuecomment-613095114 and outline the best way to implement this for Travis?

[2020-04-19 13:58] romani commented on #8016
@uhafner , thanks a lot for reporting this, BUT please report it as we require in issue template, it is critical for us, and it significantly help for occasional outside contributors to resolve this issue.
Please follow issue template.

[2020-04-19 14:03] rnveach commented on #8126
I agree on real tests and was not talking about splitting pitest profile. We should give it real code and have it validate its internals. Other checks validate it's internals by checking for violations and no violations. This class will not create violations as it is more a utility. So it should be checking the results of its methods and it's captures isntead.

[2020-04-19 14:16] romani commented on #8126
the same for Utils classes, we try to test them from Checks.

I very strong in idea that we should avoid it as much as possible. We do not test methods. We test who such methods works on real code for real Checks. We deliver to user Checks, not Util methods, that is why we moved them(utils) out of API. I understand that life is life and there bunch of limitations and ..... but again pure UT on met

[2020-04-19 14:20] rnveach commented on #8126
I removed my comments on tests. Let me know if there is anything else you need to approve issue.

[2020-04-19 14:24] romani commented on #8126
@wilcoln , I approving issue, but please be caution with fix. Please read our comments on testing above, there will be hidden complications (to satisfy 100% coverage and pitest), please do not hesitate to pin us in PR to guide you on how to make testing (by pure UT or functional Test(full run)).

[2020-04-19 14:32] romani commented on #6200
I can not reproduce issue any more.
there was bunch of changes from @gmshake for this Check that we released at https://checkstyle.org/releasenotes.html#Release_8.28 .

[code]

[2020-04-19 14:32] #6200 closed

[2020-04-19 14:36] romani commented on #3786
before going to Travis, we need to try to execute one more time to make sure that issue is still present.
if still present - we need to send request to Travis support. I do not have time now on this.
 @don-vip you are very welcome to help to resolve this.

[2020-04-19 14:37] wilcoln commented on #8126
Understood, I will do my best.

[2020-04-19 14:50] gaurabdg commented on #6216
For `1)` a lot of refactoring has to be done, so it would be difficult.
@romani I have implemented the second approach only.

[2020-04-19 14:56] romani commented on #525
This issue is already addressed , it was fixed in scope of #5510

https://checkstyle.org/config_imports.html#ImportOrder_Examples , search for "To configure the check so that it matches default IntelliJ IDEA formatter".
It is not very elegant support as extra module/filter should be used to suppress violations.

the only good solution is to implement new Check that counts design of famous IDEs for

[2020-04-19 14:56] #525 closed

[2020-04-19 15:10] romani commented on #525
@Abhishek-kumar09 ,  [CustomImportOrder](https://checkstyle.org/config_imports.html#CustomImportOrder) is very special Check.
There is a problem in design of CustomImportOrder Check ... it is was created for Google style coverage specifically, so matching it default IDEAs format is wrong from the beginning. Users should use ImportOrder Check.

you proposal to have new rule `BLANK LINE`(`#`) will c

[2020-04-19 15:28] romani commented on #6593
@ThexXTURBOXx , you can always help to implement new Check for this - it is not that hard. #7388 already has more ideas on this, there is even workaround (not ideal but it will work to some extend).

I am closing this issue in favor of #7388 , ideas in that ticket are mature.

[2020-04-19 15:28] #6593 closed

[2020-04-19 15:40] rnveach commented on #8045
And it has a bunch of overrides in the code making it non-configurable or needing additional configuration options.
https://github.com/checkstyle/checkstyle/blob/2e8c277c181487d81231170ff4b959edc008114e/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/WhitespaceAroundCheck.java#L702
https://checkstyle.sourceforge.io/config_whitespace.html#WhitespaceAround_Properties - `ignoreEnhance

[2020-04-19 15:43] rnveach commented on #8124
Please copy exact area that you are saving covers labels under their style.

[2020-04-19 15:47] romani opened #8137 "new Check: RegExpComment"
summary from #7388

Although spaces after slashes are optional in the comments, their absence makes the documentation difficult to read. It is the de facto standard to put at least one whitespace after the leading two slashes like so:

`// comment`

and it is style violation to omit the space like so:

`//comment`

This convention is implied in Section 3.7 "Comments" of the [Java Language Specific

[2020-04-19 15:47] wilcoln commented on #8124
![Screenshot from 2020-04-19 17-44-45](https://user-images.githubusercontent.com/24209192/79692455-93ba7680-8265-11ea-808f-38c61186ca43.png)

This is the section I'm referring to.
As you can see, it doesn't explicitly mention labels, but it does list all of the situations where horizontal whitespaces are allowed. Since colon of label is not in the list of special cases. We can infer that whitespac

[2020-04-19 15:49] romani commented on #7388
I did a summary to #8137

@ticehix128 , @koppor please review design and share your ideas.

[2020-04-19 15:49] #7388 closed

[2020-04-19 15:52] rnveach commented on #8121
@romani What is your goal by doing this?

I don't recommend doing this regardless if it reports violations or not. This utility is used to ensure all AbstractChecks pass our regression and used to make sure we don't forget something like adding to our xdoc. Removing any class form these utilities basically will almost make the class disappear from any enforced testing.

[2020-04-19 15:55] Gaurav-Punjabi commented on #8137
I'm on it, once it's approved.

[2020-04-19 16:01] rnveach commented on #8121
It looks like this came up from https://github.com/checkstyle/checkstyle/pull/7931/#discussion_r410701786 because the check is being tested for containing a message and it contains none by default. This utility method is used in other places and not just this one check. I think updating the test to skip the class was the right thing and to leave `CheckUtil.getCheckstyleChecks` untouched for the re

[2020-04-19 16:01] rnveach commented on #7848
Fix was merged

[2020-04-19 16:01] #7848 closed

[2020-04-19 16:07] rnveach commented on #8124
Please add that to first post. It says spaces should **only** appear there so it stands to reason if it isn't listed, it should be removed.

I am fine with adding the token to this check. Even without google this makes sense to me to follow the same pattern of switch cases.

@romani Are you ok to approve?

[2020-04-19 16:14] koppor commented on #8137
Thank you for working on it.

The `module name` reads strange. Never saw underscores in that. - I wonder why I have to config a regular expression. Why can't I just use a module like `SpaceAfterCommentStart`? (Even though it is a very specialized module)

Just for the record - the difference to following (currently working!) check:

[code]

is

([Source](https://github.com/checkstyle/checkstyle/is

[2020-04-19 17:46] Abhishek-kumar09 commented on #525
I think for the Project [Reconcile formatters](https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2020-Project-Ideas#project-name-reconcile-formatters-of-eclipse--netbeans-and-intellij-idea-ides-by-checkstyle-config), it is an important step and a new check is definitely needed that can easily checks import order based on default editor's formatters without much complexity.

[2020-04-19 18:28] rnveach commented on #7281
@pbludov Has there been any testing with JDK 13 and loading custom modules via reflection.

My work has a newer version JDK, 13, and I was testing it out for my work project and all my custom modules for checkstyle are broken and are saying it can't be found. I haven't dived into the issue more to find where the problem lies.

[2020-04-19 18:55] Abhishek-kumar09 commented on #3342
@romani @rnveach
For confirmation:
[code]
the code above is not formatted correctly, It should be something like this:
[code]
1. But since force line conndition is `false`, should we allow that first formatting?

2. Should it be allowed by checkstyle?

[2020-04-19 21:12] DXTkastb commented on #2827
@rnveach , I missed your comment on this issue before working on this. I have another small patch which might fix this issue:

if (ast.getType()== TokenTypes.METHOD_DEF && as.getType() == TokenTypes.LITERAL_NEW)

this condition checks if ast node is method and also method ast node parent's parent is 'new' type node
![gghghghghg](https://user-images.githubusercontent.com/38028330/79699846-9a6ddb80-

[2020-04-19 21:44] DXTkastb commented on #2827
Also,
I some pitest related issue:

https://dxtkastb.github.io/javadocpit/202004200142/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html#org.pitest.mutationtest.report.html.SourceFile@36782bf3_447

I removed condition: && nodeScope.isIn(scope);
and pitest goes fine with it. I think tests must be added for this?

https://dxtkastb.github.io/javadocpit/202004200149/com.puppy

[2020-04-20 04:54] wltan commented on #7728
On IntelliJ I know that you can run an individual test by right-clicking the editor and running from the context menu.

The only other way that I know of that works for sure is to just `mvn clean verify`, there might be other ways but I've never had to try them.

[2020-04-20 06:41] wilcoln commented on #7728
@developerhb
- To run a test class :  `mvn test -Dtest=MyTestClass`
- To run multiple test classes : `mvn test -Dtest=MyTestClassOne,MyTestClassTwo` (and so on)
- To run a specific method of a test cass: `mvn test -Dtest=MyTestClass#mymethod`

I know that they work because I use those commands on a daily basis.
You can checkout https://mkyong.com/maven/how-to-run-unit-test-with-maven/ for more inf

[2020-04-20 07:15] developerhb commented on #7728
Thank you @wilcoln . This is helpful

[2020-04-20 09:37] Gaurav-Punjabi opened #8141 "MissingJavadocMethod: unexpected violation when scope is private"
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#MissingJavadocMethod

[code]

#### Description
When the `scope` of `MissingJavadocMethod` is set to private, it throws a violation for public methods as well. As specified in its documentation, it must only check the fields/methods with the given scope.

#### Expected Output
The check must throw violation only for the given

[2020-04-20 14:01] sulkykookie commented on #7570
I'm on it.

[2020-04-20 14:57] wltan commented on #8141
According to https://checkstyle.sourceforge.io/property_types.html#scope,

So a scope setting of `private` will check for `public`, `protected`, and `package` methods as well.

[2020-04-20 18:05] Gaurav-Punjabi commented on #8141
Got it, thanks 👍 I'm closing the issue

[2020-04-20 18:06] #8141 closed

[2020-04-20 18:21] Gaurav-Punjabi opened #8142 "NeedBraces: xdoc rendering issue in examples"
Check documentation: https://checkstyle.sourceforge.io/config_blocks.html#NeedBraces

One of the example in xdocs of `NeedBracesCheck` has some rendering issue as shown in the screenshot below:
<img width="1249" alt="Screen Shot 2020-04-20 at 11 50 06 PM" src="https://user-images.githubusercontent.com/36587580/79866937-29d3d580-83fb-11ea-9ef2-d5798a13b9b5.png">

[2020-04-21 00:22] Gaurav-Punjabi commented on #6036
I'm on it

[2020-04-21 05:04] wltan commented on #7811
It doesn't look like any work has happened yet so I am on it.

[2020-04-21 06:24] sulkykookie commented on #7727
Since there hasnt been an update since more than a month, I'm claiming it.

[2020-04-21 07:38] ImmortalRabbit commented on #7597
I am on it.

[2020-04-21 07:40] ImmortalRabbit commented on #7571
I am on it.

[2020-04-21 08:11] shashwat70 commented on #7417
I'm on it!

[2020-04-21 08:16] #7811 closed

[2020-04-21 08:17] strkkk commented on #7811
Fix is merged

[2020-04-21 08:22] strkkk commented on #8142
@Gaurav-Punjabi please highlight where the rendering issue is, it is not clear from screenshot

[2020-04-21 09:21] ImmortalRabbit commented on #7608
I am on it.

[2020-04-21 09:46] ImmortalRabbit commented on #7602
I am on it.

[2020-04-21 11:06] ImmortalRabbit commented on #7595
I am on it.

[2020-04-21 11:42] ikosarim commented on #7258
mveach, you are wrong! This is problem not only him. Why you close this issue???

[2020-04-21 12:18] romani commented on #8121
@rnveach , make sense, thanks a lot for details.
Lets keep skip in test.

[2020-04-21 12:18] #8121 closed

[2020-04-21 12:34] romani commented on #8045
yes, many many years ago we there was idea that we can cover all by general Checks. Unfortunately it cost us a lot of problems. Right now we try to avoid general solutions. Specific checks are more user friendly and have more ways to customize expected behavior without conflicting with other tokens.

It is better to do special Check for this.

I am ok with this.

----

@strkkk , are you ok with ne

[2020-04-21 12:40] romani commented on #8124
issue is approved, I think such token is not used in any other part of grammar.
We should extra attention to regression report.

[2020-04-21 12:40] Gaurav-Punjabi commented on #8142
@strkkk I have updated the screenshot. As you can see the code of these examples are not enclosed inside a box (a source tag).

[2020-04-21 12:44] strkkk commented on #8045
Ok, but name like `NoWhitespaceBeforeCaseDefaultColon` seems more understandable for me

[2020-04-21 12:46] romani commented on #8045
yes, much better name.

@wilcoln , please create new Issue on this, sorry for this incomplete issue.

[2020-04-21 12:46] #8045 closed

[2020-04-21 12:48] rnveach commented on #7258
@ikosarim Because nothing was provided to us and the little information that was provided I showed is just a configuration problem.

If you have a problem, please open a new issue and provide all the details we ask for in template. https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F

Failure to provide the basic template will not give us enough information to help anyone or how to fix

[2020-04-21 12:54] wilcoln commented on #8045
Will do asap.

No problem.

[2020-04-21 12:54] ImmortalRabbit commented on #7601
I am on it.

[2020-04-21 12:57] baratali commented on #4356
Same issue: https://github.com/checkstyle/checkstyle/issues/6192

[2020-04-21 12:57] rnveach commented on #7417
@shashwat70 If you want to finish this PR, go ahead as I have no time. Feel free to start with the changes I had in my PR at https://github.com/checkstyle/checkstyle/pull/7418 so you don't have to start from scratch.

I recommend taking my name out of the commit and ensure it only has your name.

[2020-04-21 13:01] ImmortalRabbit commented on #7663
I am on it.

[2020-04-21 13:02] ImmortalRabbit commented on #7598
I am on it.

[2020-04-21 13:53] romani opened #8151 "Update Xpath unit tests to have at least two test methods"
see list of Tests at fix for https://github.com/checkstyle/checkstyle/issues/7987

It make sense to create separate PRs for each check.

#### Suppressed Checks
- [x] XpathRegressionAnonInnerLengthTest
- [x] XpathRegressionAvoidDoubleBraceInitializationTest
- [x] XpathRegressionAvoidNoArgumentSuperConstructorCallTest
- [x] XpathRegressionJavadocStyleTest
- [x] XpathRegressionNestedForDepthTest
- [x

[2020-04-21 14:00] #7759 closed

[2020-04-21 14:02] romani commented on #7760
fix is merged.

[2020-04-21 14:02] #7760 closed

[2020-04-21 15:25] Gaurav-Punjabi commented on #7987
I'm on it.

[2020-04-21 15:25] Gaurav-Punjabi commented on #8151
I'm on it

[2020-04-21 15:34] Gaurav-Punjabi commented on #8151
@romani What about checks that have only one config (default). Should we suppress them or should I add another test case with the same config but different Input file?

[2020-04-21 17:15] GuyLewin commented on #3379
@ati90ati for Windows support, I added `\r`:
[code]

[2020-04-21 18:13] #5624 closed

[2020-04-21 18:14] romani commented on #5624
Fix is merged

[2020-04-21 18:51] DXTkastb commented on #6915
I'm on it.

[2020-04-21 19:56] gaurabdg opened #8155 "XdocsJavaDocsTest fails to detect the absence of class javadoc"
XdocsJavaDocsTest only validates the `xdocs` file description and corresponding class javadoc when it is non empty.
If someone is adding a new check and adds the description in xdocs only, no error is reported

[2020-04-21 20:46] rnveach commented on #8155
There should be an error reported by one of our other checks that the class needs a javadoc.

[2020-04-21 20:51] gaurabdg commented on #8155
Okay, got it! I am closing this then.

[2020-04-21 20:51] #8155 closed

[2020-04-22 04:17] #7987 closed

[2020-04-22 04:17] romani commented on #7987
Fix is merged

[2020-04-22 07:23] DXTkastb commented on #4216
I'm on it.

[2020-04-22 07:42] m1shaq commented on #43
Hi, I have switched to version 8.30 and all of a sudden, the checkstyle has stopped noticing me of no javadoc comments before any method or before the constructor. Here is my JavadocMethod module

[code]

I don't know what else I should provide, since it's my first post here, so sorry for any obvious goofs.

[2020-04-22 10:18] wltan commented on #8151
Just a suggestion: You might want to leave out the `Fixes ...` in each PR description as right now merging **any** of the PRs will automatically close the issue. From what I understand you need **all** the PRs to be merged before the issue is fully resolved.

Keeping the issue number reference as required by the PR rules is fine, but remove the autolink keywords.

[2020-04-22 10:20] Gaurav-Punjabi commented on #8151
Sure, thanks 👍

[2020-04-22 10:36] strkkk commented on #8151
@Gaurav-Punjabi if you are actively working on it, please add here checklist of all issues that require such changes. It can be marked as done after PR merge. In this case we will understand when to close this issue. Like

- [ ] check1

- [ ] check2

[2020-04-22 10:38] Gaurav-Punjabi commented on #8151
@strkkk Sure will do that. Also can you please answer this query  https://github.com/checkstyle/checkstyle/issues/8151#issuecomment-617254295

[2020-04-22 10:43] strkkk commented on #8151
@Gaurav-Punjabi I am not sure what should be done for this case. Lets first correct checks where not only default config is possible. @romani is pretty busy now, I hope he will clarify this later

[2020-04-22 10:47] Gaurav-Punjabi commented on #8151
#### Suppressed Checks
- [ ] XpathRegressionAnonInnerLengthTest
- [ ] XpathRegressionAvoidDoubleBraceInitializationTest
- [ ] XpathRegressionAvoidNoArgumentSuperConstructorCallTest
- [ ] XpathRegressionJavadocStyleTest
- [ ] XpathRegressionNestedForDepthTest
- [ ] XpathRegressionNestedIfDepthTest
- [ ] XpathRegressionNestedTryDepthTest
- [ ] XpathRegressionNoWhitespaceAfterTest
- [ ] XpathRegressi

[2020-04-22 11:43] ati90ati commented on #3379
@GuyLewin I've checked your suggestion.

For me, the first stopped working. It's not supposed to have this in regex: `[^[\r]?\n ]`
Bracket in bracket not supposed to be used.

My current approach is this (I adapted your Windows support, this is my best guess however I have not tested it on Windows):

[code]

[2020-04-22 11:47] strkkk commented on #8151
@Gaurav-Punjabi I have added your checklist to first post, thank you.

[2020-04-22 13:11] romani commented on #7696
fix is merged.

[2020-04-22 13:11] #7696 closed

[2020-04-22 13:33] sulkykookie commented on #6475
I'm on it.

[2020-04-22 13:42] romani opened #8168 "remove from configs hardcode caused by MCHECKSTYLE-332"
https://issues.apache.org/jira/browse/MCHECKSTYLE-332 is released and we use latest plugin
[code]

Expected:
remove comment and do changes in config if required.

[2020-04-22 13:44] developerhb commented on #7696
Thank you @romani @timurt and everyone else for guiding me in my first PR. It was great working with you.

[2020-04-22 13:48] #8124 closed

[2020-04-22 13:48] Gaurav-Punjabi commented on #8168
I’m on it, once it’s approved.

[2020-04-22 13:49] romani commented on #8124
fix is merged.

[2020-04-22 14:08] romani commented on #8048
We need to use first approach to make it Util method.
If it become so well used we can always move it to API class with very simple refactoring.

[2020-04-22 14:38] HuGanghui opened #8169 "Making regex to validate missed space in comments in non main files"
As mentioned in https://github.com/checkstyle/checkstyle/pull/8164#discussion_r412945036. Like <!--This .... there is missed space and non of our checks complain about this. So we need to make regexp to validate missed space in comments.
I am pleasure to work on it.

[2020-04-22 14:38] romani commented on #3424
@shashwat70 , please investigate point from @pbludov , if the will be false positives, we can not add it new token, and it will force us to make special Check for this.

[2020-04-22 14:40] Maria198336 opened #8170 "maria.ramirez.ramirezx@romani any updates?"
@romani any updates?

_Originally posted by @strkkk in https://github.com/checkstyle/checkstyle/issues/6847#issuecomment-508476359_

[2020-04-22 14:41] romani commented on #7739
@wltan , #7955 is on last review , please start doing this update.

[2020-04-22 15:27] shashwat70 commented on #8122
I've listed down the list of stuff we need to do.

**Point 1:**
This if for ```for (int i:ll) { // violation as per 4.6.2.4```
We can tweak ```WhitespaceAround``` to consider ```COLON``` that are a part of for each.

**Point 2:**
This is for ```List<String>list; // violation as per 4.6.2.7```
This extends to another case like ```int[]arr;```
We can add token support for ```RBRACK``` and ```GENERIC

[2020-04-22 15:50] strkkk commented on #8170
@Maria198336 I guess you missclicked.
In case you don't, please follow template or reply in original topic.

[2020-04-22 15:50] #8170 closed

[2020-04-22 16:08] rnveach commented on #8168
Not all configurations are being used by maven. `ant-phase-verify` has some which is not being invoked by `maven-checkstyle-plugin`. We need to look at all configurations and identify who is executing them.

If the config is run by Maven, we should remove the comment and hardcoded `cacheFile` property from the config. We need to verify the cache file is being created without the property. It shoul

[2020-04-22 16:29] Maria198336 commented on #8170
estoy tratando de recuperar mi canal

[2020-04-22 16:55] wltan commented on #7739
Ok. I already have the tests for the other three cases (2, 4, 5) done, will work on the last one (8) soon.

[2020-04-22 18:05] DXTkastb commented on #4216
@romani  @strkkk
Unfortunately I couldnt find an example where CLI with config:
[code]
will throw violations.

The examples I have tried show violations for this config only when I set `validateOnlyOverlapping` to false.
I will make the changes in examples provided in the documentation to show correct violations.
The only issue is with the above-mentioned config, please suggest some code that migh

[2020-04-22 19:08] Gaurav-Punjabi commented on #8168
@rnveach I played around with `maven-checkstyle-plugin` and came to know that only `config/checkstyle_sevntu_checks.xml` config is being used by this plugin. Also, I removed the property from `checkstyle_sevntu_checks.xml` and executed the plugin, it is still generating the cache file just with a different name `checkstyle-cache`.. I think this needs to be configured with the plugin. Should I do t

[2020-04-22 20:54] AMFIRNAS commented on #8142
I am on it

[2020-04-22 22:07] uhafner commented on #8016
Hmm, using your template would make the issue more cryptic than it is by now. I already provided a link to the code, should that be removed as well?

I'll give my best to update the issue.

[2020-04-22 22:43] Gaurav-Punjabi commented on #8142
@AMFIRNAS I think you should first wait for the issue to get approved.

[2020-04-23 00:38] rnveach commented on #8142
@Gaurav-Punjabi You will need to provide more information as I see no highlighting in your image or even a basic description of what the rendering issue is.

When looking at the page I see the examples have no box around them while the others do. Is this what you are referring to? If so, did the current fixes for #8011 not fix this, which are still not yet released?

[2020-04-23 01:03] Gaurav-Punjabi commented on #8142
Yes, that's the rendering issue.

Yes, this PR fixes the rendering issue for `NeedBraces`. But the same issue is present in many checks at https://checkstyle.org/config_naming.html.
Example:
1. https://checkstyle.org/config_naming.html
2. https://checkstyle.org/config_naming.html#CatchParameterName_Examples
3. https://checkstyle.org/config_naming.html#AbstractClassName_Examples
4. https://checksty

[2020-04-23 02:54] wltan commented on #8142
config_naming should already be fixed under #8005/#8007.

You can try looking for other examples. I know that the first few PRs I opened used `<source>` for the config and `<pre>` for the example code because there wasn't a clear convention yet.

[2020-04-23 07:37] #8073 closed

[2020-04-23 07:43] #7611 closed

[2020-04-23 09:34] Gaurav-Punjabi commented on #5313
I'm on it.

[2020-04-23 09:34] Gaurav-Punjabi commented on #5313
@romani What is the difference between `empty-line` and `empty-line-allowed` option?

[2020-04-23 11:54] Gaurav-Punjabi commented on #8142
Yeah, it's fixed 👍
Closing the issue

[2020-04-23 11:54] #8142 closed

[2020-04-23 12:39] rnveach commented on #8168
Like I stated in my write up, we should remove it if we can rework the same behavior through the plugin itself. If it can't be reworked exactly, but close, let us know what will be different.

[2020-04-23 14:00] wltan commented on #8048
@shashwat70 I think it would be nicer to use a declarative approach.
[code]

[2020-04-23 14:14] shashwat70 commented on #8048
https://github.com/checkstyle/checkstyle/blob/e3d947cc313858fac6aca4452bcd0be8633c9ab1/src/main/java/com/puppycrawl/tools/checkstyle/utils/TokenUtil.java#L205-L210

I think we can pass ast.getType() directly to the function instead of the AST node. If we do that, it can be extended to theses cases also.

[2020-04-23 15:27] #7627 closed

[2020-04-23 15:28] strkkk commented on #7627
Fix is merged

[2020-04-23 18:40] sulkykookie commented on #5303
I'm on it.

[2020-04-23 21:01] DXTkastb commented on #2629
@rnveach, I have a small doubt regarding this, Line no.4 should not throw an error that's true but 2nd class I guess is correctly indented, please confirm this. According to me, it is line-wrapping indentation situation and is done correctly.

[2020-04-24 02:12] HuGanghui commented on #7064
I am on it

[2020-04-24 09:19] developerhb commented on #7728
@wltan I am done with editing files. Now I am generating diff report.

I am running following command
` groovy diff.groovy --localGitRepo ../../checkstyle --baseBranch master --patchBranch 7728-updateabtractchecks-customimportorder --config my_check.xml --listOfProjects projects-to-test-on.properties`

I am getting following error.

[code]
Please help.

[2020-04-24 10:02] wltan commented on #7728
Sounds like a problem with your local file system.

Unfortunately I can't help you with that, maybe you can try asking on Gitter?

[2020-04-24 10:03] AMFIRNAS commented on #8142
ok, that's good.

[2020-04-24 11:24] rnveach commented on #8118
Fix is merged

[2020-04-24 11:24] #8118 closed

[2020-04-24 11:26] #8168 closed

[2020-04-24 11:26] rnveach commented on #8168
Fix was merged

[2020-04-24 11:53] #7957 closed

[2020-04-24 11:53] rnveach commented on #7957
Fix was merged

[2020-04-24 12:24] rnveach commented on #7892
@nmancus1

When wercker runs, it is using the same workspace between items in the same PR CI job. A file you save for one part (regression on ABC project), will still be there in another item (regression on XYZ project). So you are able to tell at the end if any of the previous jobs did or did not clean up after themselves.

Travis is completely different. It allows 4 items to run in parallel in t

[2020-04-24 12:34] rnveach commented on #2813
@romani Please confirm if new functionality should do this part too:

IndentationCheck has a special option for strict enforcement. Should we move this item to its own issue?
Asked in PR https://github.com/checkstyle/checkstyle/pull/8002#issuecomment-615133226

[2020-04-24 12:50] romani commented on #2813
this Check, as all other in [version 6.0](https://checkstyle.org/releasenotes.html#Release_6.0) are created for Google style.

https://checkstyle.org/google_style.html#a7.1.3
https://checkstyle.org/styleguides/google-java-style-20180523/javaguide.html#s7.1.3-javadoc-at-clauses

from google style:

main part is `are indented four (or more) spaces` BUT for block tags only.

[2020-04-24 13:11] DXTkastb commented on #3138
@rnveach  @romani  this issue is related to: https://github.com/checkstyle/checkstyle/issues/1430#issuecomment-277704319

Should I move on to other issues as this might be solved by antlr4??

[2020-04-24 13:15] romani commented on #7258
to fix such problem please read migration note at https://github.com/checkstyle/checkstyle/issues/2116

[2020-04-24 13:18] Gaurav-Punjabi commented on #2813
@romani This sounds good 👍

[2020-04-24 13:34] romani commented on #8078
please update description to show what is behavior now and as next example with new property.

[2020-04-24 13:42] romani commented on #5826
@harsh-kukreja , I just did execution of Inspections in IDEA that are related to bash language, yu can google on it to get to know how to do this in recent IDEA.

[2020-04-24 13:43] romani commented on #6217
yes, please test it on your personal repo, and this experience we will apply to chekcstyle later on, when we know most nuances of this service.

[2020-04-24 13:45] Gaurav-Punjabi commented on #6217
@romani I have configured LGTM on https://github.com/Gaurav-Punjabi/checkstyle-lgtm successfully. Now I just need to add queries on it. Do I need to add all java queries provided by LGTM ?

[2020-04-24 14:02] Mmuzaf commented on #8078
@romani Hello, I've updated the issue.

[2020-04-24 14:06] romani commented on #5890
unfortunately I am changing my mind about packages.
I more leaning to concept that is described at https://softwareengineering.stackexchange.com/a/75929

As in `utils` package we store only Util classes - content is homogeneous - so plural form should be used.

------

![image](https://user-images.githubusercontent.com/812984/40002103-8dc83486-5744-11e8-81eb-7131243b34b1.png)

ant - package with w

[2020-04-24 14:06] #5890 closed

[2020-04-24 14:13] Gaurav-Punjabi commented on #5890
Okay 👍

[2020-04-24 14:47] shashwatj07 opened #8179 "EmptyLineSeparator: Inability to use xpath for violation on empty line"
Split from #7956
https://github.com/checkstyle/checkstyle/blob/a8a90cf2423c27fb3fe227fc1906fdfc255f5d9b/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/EmptyLineSeparatorCheck.java#L419
There is no AST node associated an empty line for which the violations are logged. This results the inability of such violations to be xpath suppressed. We may need to change the violation a bit to

[2020-04-24 14:49] shashwat70 commented on #8179
I propose the following solution:
[code]

In the above example it is clear that when we have to log violation for a similar case, outside the class members, we do it in a single go.
```Test.java:5: 'METHOD_DEF' has more than 1 empty lines before. [EmptyLineSeparator]```
This can be extended to solve this issue as well, where instead of logging for every empty line, we can log violation for the abo

[2020-04-24 15:01] romani commented on #4930
@shashwat70 ,

yes. You meant `sourceName` instead `moduleName`.
We need both fields to be used in compare method.

we need to rename it to be `moduleName` to match naming convention with `moduleId` (could be done as separate issue, as it is API, we need to deprecate `getSourceName` method and keep it for some time before deletion).

[2020-04-24 15:09] gaurabdg opened #8181 "Remove cli options -C and -W"
Discussion at https://github.com/checkstyle/checkstyle/pull/8035#discussion_r410905300

[2020-04-24 16:49] nmancus1 commented on #7892
@rnveach Ok.  That makes sense.  So, since both Travis and Shippable run jobs in parallel, should I have each job clean up after itself AND validate that .ci-temp/ is empty after it's done? If so, I will just make a bash function in the script that every job calls as the last step, to validate that .ci-temp/ is empty.

[2020-04-24 17:16] rnveach opened #8182 "JavadocTagContinuationIndentation: add strict enforcement of indentation"
Split from https://github.com/checkstyle/checkstyle/issues/2813#issue-125702063 ,

https://checkstyle.org/config_javadoc.html#JavadocTagContinuationIndentation

TestClass.java

[code]

config.xml

[code]

output from: `java -jar checkstyle-6.14.1-all.jar -c config.xml TestClass.java`

[code]

Expected **extra** output:

[code]

Line 8 is covered in https://github.com/checkstyle/checkstyle/issues/2

[2020-04-24 17:17] rnveach commented on #2813
@Gaurav-Punjabi I split the new property into a new issue and removed it from this issue.

[2020-04-24 17:19] Gaurav-Punjabi commented on #8182
I'm on it, once https://github.com/checkstyle/checkstyle/pull/8002 is merged. As it will change the core logic.

[2020-04-24 17:31] #7724 closed

[2020-04-24 17:32] rnveach commented on #7724
Fix was merged

[2020-04-24 17:43] #7566 closed

[2020-04-24 17:43] rnveach commented on #7566
Fix was merged

[2020-04-24 17:47] Gaurav-Punjabi opened #8183 "JavadocTagContinuationIndentation: doesn't report violations for html elements"
https://checkstyle.org/config_javadoc.html#JavadocTagContinuationIndentation
1. Test.java:
[code]
2. Config file:
[code]

3. Output:
[code]

#### Expected
Line 8 should be reported as a violation, it is not correctly indented.

#### Explaination
JavadocTagContinutation does not report indentation violations for `HTML_ELEMENT`. As discussed in here https://github.com/checkstyle/checkstyle/pull/8002

[2020-04-24 18:31] DXTkastb commented on #6137
@romani As far as I have noticed, I don't think this tool is used in CI.

[2020-04-24 19:01] gaurabdg commented on #8181
@romani Please approve, CI is failing because of it.

[2020-04-24 19:49] DXTkastb commented on #6915
@strkkk  just a small doubt , do we need to skip checking for `for` and `do-while` loops (no violation whatsoever)
Or
 we have to keep in mind the situation:  `for (;u=true;)`
because in this case Check throws violation too.

[2020-04-24 23:55] wltan commented on #8183
I should be able to handle it under the scope of #8177, the root cause is similar to #5711.

[code]

[2020-04-24 23:57] Gaurav-Punjabi commented on #8183
@wltan That would be great 👍

[2020-04-25 00:49] patrickdevivo opened #8184 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/checkstyle/checkstyle)](https://www.tickgit.com/browse?repo=github.com/checkstyle/checkstyle)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in publi

[2020-04-25 03:41] octylFractal commented on #6615
I have written support for this and made a new PR https://github.com/checkstyle/checkstyle/pull/8185.

[2020-04-25 08:07] strkkk commented on #6915
@DXTkastb it should be skipped for expressions in loops condition

[2020-04-25 08:39] wilcoln opened #8186 "new Check: NoWhitespaceBeforeCaseDefaultColon"
The idea of this check originates from https://github.com/checkstyle/checkstyle/issues/8045
This check should report whitespaces before colon token of switch cases and default.
[code]

Rationale:
The official [google java style guide](https://google.github.io/styleguide/javaguide.html#s4.6-whitespace) does not allow whitespaces before the colon of switch cases and default. Adding this check will i

[2020-04-25 08:51] wltan commented on #8184
There is already a TodoComment check that is being used to validate internal Checkstyle code, so there shouldn't be that many `TODO` comments lying around in the first place.
https://checkstyle.org/config_misc.html#TodoComment

It seems like most of the `TODO`s being reported by the badge are from UT input files, so maybe they might have been left there intentionally?

That's just my two cent's wo

[2020-04-25 12:31] #7603 closed

[2020-04-25 12:39] Gaurav-Punjabi commented on #7664
I'm on it as it hasn't been updated in the last 2 months.

[2020-04-25 12:39] rnveach commented on #7892
Yes, this is the only way.

[2020-04-25 14:28] pbludov commented on #8048
I would like to have both methods, with `DetailAST` and `int`.

[2020-04-25 14:50] shashwat70 commented on #4930
https://github.com/checkstyle/checkstyle/compare/master...shashwat70:compareto?expand=1
@romani @rnveach can you please take a look at these changes and let me know if this is what was expected? There are some issues with pitest. I'll send a PR as soon as I resolve them.

[2020-04-25 14:53] shashwat70 commented on #8048
I'll add both and push changes in a while. Thanks.

[2020-04-25 14:58] romani commented on #8184
Thanks a lot but we do not need this service, our code is verified by checkstyle.
We do not need extra dependency

[2020-04-25 14:58] #8184 closed

[2020-04-25 15:12] #8181 closed

[2020-04-25 15:16] romani commented on #8181
Fix is merged

[2020-04-25 15:29] romani commented on #8179
@shashwat70 , please update issue description to follow issue template, define input, config, show violation, and exaplain inability to suppress violation by Xpath

[2020-04-25 16:33] patrickdevivo commented on #8184
Understood! Thank you for considering and for your time!

[2020-04-25 17:28] pbludov commented on #8186
Also, no whitespace is expected in [LabeledStatements](https://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-LabeledStatement):
[code]
If we come up with a good name, we can also handle them.

[2020-04-25 17:33] wilcoln commented on #8186
@pbludov, we handle this already.
See Issue https://github.com/checkstyle/checkstyle/issues/8124 and corresponding PR https://github.com/checkstyle/checkstyle/pull/8125

[2020-04-25 17:41] pbludov commented on #8186
Sorry, I missed it. Well, it looks weird: actually, it should be "no whitespace **after** labeled statement." @romani may be it is better to revert #8124 and add this to the new check?

[2020-04-25 17:57] wilcoln commented on #8186
@pbludov I agree with you that it seems weird, but I think the weirdness comes from the name `LABELED_STAT` which is given to a token that is actually just the colon ':' of a labeled statement.
I personally think a name like `LABEL_COLON` would have been more appropriate. But that's another matter.

What we wanted was a check that reports whitespace before the colon of a label statement.
That colo

[2020-04-25 18:02] wilcoln commented on #8186
colons of labels are not `COLON` token, but are `LABELED_STAT`.

    |      |--LABELED_STAT -> : [4:24]
    |      |  |--IDENT -> mylabel [4:16]
    |      |  |--SINGLE_LINE_COMMENT -> // [4:27]
    |      |  |  `--COMMENT_CONTENT ->  expected violation\n [4:29]

[2020-04-25 21:31] romani commented on #8096
@archiecobbs , please share a version of checkstyle where it is worked (and prove this by CLI) and where it stop to work.

[2020-04-25 21:40] romani commented on #7769
@Benschio , I still see Main.java in issue description, is it required ?

[2020-04-25 21:41] #7736 closed

[2020-04-25 21:42] romani commented on #7736
fix is merged

[2020-04-25 23:08] archiecobbs commented on #8096
Hi @romani ,

I was previously using version 6.18 and it used to "work", though I didn't have options "option" and "sortStaticImportsAlphabetically" configured.  This all started when I upgraded checkstyle and suddenly my build started failing.

Here's what I was doing before the upgrade:

[code]
[code]
Even with the new config, the old checkstyle still seems to work (though it may simply be ignor

[2020-04-26 01:06] Gaurav-Punjabi commented on #3313
@baratali [JavadocStyle](https://checkstyle.sourceforge.io/config_javadoc.html#JavadocStyle) already checks for unclosed HTML tags. Do you want any other violations regarding HTML content  ?

[2020-04-26 02:30] HuGanghui commented on #8169
@romani please review this issue and approve~

[2020-04-26 07:52] wltan opened #8191 "OneTopLevelClass: Log violations after annotation modifiers"
From https://github.com/checkstyle/checkstyle/pull/8030#issuecomment-608999013:

Check documentation: https://checkstyle.org/config_design.html#OneTopLevelClass

[code]
---------------
When we talk about a type definition, we generally refer to the literal (`class`, `interface`, `enum`, `@interface`) and the identifier (e.g. `MyClass`). However, `OneTopLevelClassCheck` is not logging at this locat

[2020-04-26 07:53] wltan commented on #8191
AST for the above example as reference:

[code]

[2020-04-26 08:43] #7570 closed

[2020-04-26 08:57] shashwat70 commented on #8179
@romani I've updated the issue description and removed the comment. Please shed some light on the proposed solution and the node that should be logged.

[2020-04-26 09:26] Benschio commented on #7769
I'm afraid I misunderstood your last comment, I thought you wanted me to only remove the contents of the file. I was also confused by the request, because the content of the .properties files is completely irrelevant to the issue as well (in fact they can be empty), so I don't understand why one has to be included while the other must not be included.

Nevertheless, I've removed all mentions of th

[2020-04-26 10:18] gaurabdg commented on #7541
I am on it.

[2020-04-26 12:26] #2622 closed

[2020-04-26 12:27] romani commented on #2622
fix is merged.

[2020-04-26 13:04] developerhb commented on #7925
I am on it

[2020-04-26 15:06] romani commented on #8110
@Gaurav-Punjabi , we need to skip validation only on empty files (and where whole file is commented out)

[2020-04-26 15:09] Gaurav-Punjabi commented on #8110
Done 👍

[2020-04-26 15:21] romani commented on #7979
fix is merged

[2020-04-26 15:21] #7979 closed

[2020-04-26 17:00] gaurabdg commented on #6943
@HuGanghui Are you still working on it?

[2020-04-26 17:01] DXTkastb commented on #7587
I'm on it.

[2020-04-26 17:02] DXTkastb commented on #7616
I'm on it.

[2020-04-26 17:27] pbludov commented on #5313
Both properties `top/bottom separator` has three options:
* do nothing (allow-empty-line)
* requre (empty-line)
* forbid (no-empty-line)

The default config should process only classes/interfaces/annotations/enums and require that there is one empty line after opening `{` and one empty line before closind `}`.

The following config should enforce that methods/constructors has NO empty line in the

[2020-04-26 17:41] pbludov commented on #7763
This Check should be rewritten completely to use `TokenTypes.SINGLE_LINE_COMMENT`.
Now it is RegExp based and has no `DetailAst` nodes at all. This ussue is too hard to be a first GSOC issue.

[2020-04-26 18:00] Gaurav-Punjabi commented on #5313
Okay, understood.
Thanks 👍

[2020-04-26 18:06] gaurabdg commented on #4358
I am on it.

[2020-04-26 18:26] Gaurav-Punjabi commented on #2090
@romani Just wanted to confirm. We need to add a property `allowMultipleWhitespaces` to `WhiteSpaceAfter` and `WhiteSpaceAround` that allows user to have more than one space around or after. Is that correct?

[2020-04-26 20:32] DXTkastb commented on #4226
I'm on it.

[2020-04-26 22:52] Gaurav-Punjabi commented on #7452
@ImmortalRabbit are you still working on this issue ?

[2020-04-27 06:27] pbludov commented on #4226
Hold on. The default value for the `format` property is `"^[a-z][a-zA-Z0-9]*$"`.
The name `a` matches this pattern. There is no false negatives.
To issue a violation here, this config should be changed to something like
[code]
@Luolc please close this issue.

[2020-04-27 08:49] #7664 closed

[2020-04-27 10:42] shashwat70 commented on #8122
Since ```WhitespaceAround``` is not for comments, will it be okay to solve this issue using ```RegexpSingleline```?
I'm suggesting this:
[code]
@romani @rnveach

[2020-04-27 14:07] shashwat70 commented on #7417
I just read all the conversations in the PR. It looks as if most of the stuff is resolved. I believe https://github.com/checkstyle/checkstyle/pull/7418#discussion_r368346196 is all that is left. Can you confirm? @rnveach

[2020-04-27 14:27] shashwat70 opened #8198 "Unclear beginning development instructions"
https://checkstyle.org/beginning_development.html
The point number 6 given in this document results in a ton of commits being pulled from the main master and being pushed to the **current branch**. All these commits are visible and reflect in the PR, if already created.

I think we should make this addition to the 6th point:
[code]
Then point 7 becomes:
[code]
This will avoid confusion save a lot

[2020-04-27 15:42] Gaurav-Punjabi commented on #7667
I'm on it

[2020-04-27 16:16] Mmuzaf commented on #8078
@romani
Can I start preparing PR?
Do we need something else to proceed?

[2020-04-27 17:03] developerhb opened #8200 "Add trailing asterisk(*) to folderPattern in RegexpOnFilename doc"
Check documentation: https://checkstyle.org/config_regexp.html#RegexpOnFilename

The below given configuration is taken from above given link to documentation

*This is to configure the check to only allow Java and XML files only in your source folder and ignore any other folders*
#### config.xml

[code]
*This check tests the name of test file. So, contents of test file are not provided*

#### Cur

[2020-04-27 17:04] Gaurav-Punjabi commented on #5741
I'm on it

[2020-04-27 19:40] Gaurav-Punjabi commented on #4224
I'm on it

[2020-04-28 02:55] wltan commented on #8200
If you only need to check for 0 or 1 occurrence, I think `?` might be a more suitable quantifier instead of `*`.

Also, since you found that it is a problem with the Windows platform in general, it might be good to note this fact in the check description as well, not just examples.

[2020-04-28 03:28] developerhb commented on #8200
Thank you for mentioning this. We can use `?` for 0 or 1 ocuurence.

You mean in check documentation we should mention this thing. In that case we can add one more example for windows and keep current examples unchanged.

[2020-04-28 07:58] rajadilipkolli commented on #7969
how to ensure that checkstyle is using JDK 14 in a maven project.

[2020-04-28 13:30] pbludov commented on #7969
Please clarify your question. Checkstyle does not run checks in a separate VM. They are executed in the same process as the main build. If Maven uses Java 14, then Checkstyle will use Java 14 too.

[2020-04-28 14:16] romani commented on #6707
[code]

[2020-04-28 14:50] developerhb commented on #7925
@rnveach
Pitest Report on clean checkstyle master

https://developerhb.github.io/Checkstyle/Issue%207295-PitestIssue-JavadocMethodCheck/pitest-report/202004281038/com.puppycrawl.tools.checkstyle.checks.javadoc/JavadocMethodCheck.java.html

For this issue the line is `if (child.getType() == TokenTypes.TYPE_PARAMETER) {`
and mutation is `negated conditional → SURVIVED`

*I will update this comment w

[2020-04-28 15:53] rnveach commented on #7833
Fix was merged

[2020-04-28 15:53] #7833 closed

[2020-04-28 16:00] HuGanghui opened #8205 "fix all false-negatives about there is no single space between a type annotation and [] or .... for Google Style"
According to the latest Google Style  https://checkstyle.org/styleguides/google-java-style-20180523/javaguide.html#s4.6.2-horizontal-whitespace,

So valid cases are:
`String...` `String[]`, `String @NotNull []`, `String @NotNull ...`
Invalid cases:
`String ...` `String []`, `String @NotNull[]`, `String @NotNull...`

As we removing ELIPSIS token from config in #6707 to avoid false-positives (unwant

[2020-04-28 16:08] #3201 closed

[2020-04-28 16:09] rnveach commented on #3201
Fix was merged

[2020-04-28 18:27] pbludov opened #8206 "Resolve PMD warning deprecated attribute 'ClassOrInterfaceDeclaration/@Image'"
PMD issues a warnings for each suppression:
[code]

PMD configuration files should be updated to illuminate these warnings.

[2020-04-28 19:06] #7727 closed

[2020-04-28 19:06] rnveach commented on #7727
Fix was merged

[2020-04-28 21:44] Gaurav-Punjabi commented on #8206
I'm on it, once it's approved

[2020-04-28 22:23] Gaurav-Punjabi commented on #8151
@romani What should I do in these type of checks?

[2020-04-29 03:31] pbludov commented on #8206
To run just PMD check, please use `mvn pmd:check`. Once all warnings are gone, please do full `mvn clean verify`.

[2020-04-29 03:34] rnveach commented on #8151
This. All checks should have atleast 2 cases. If we only have 1 log statement, then we need to have another input file with another case that is different from the original as much as possible.

[2020-04-29 06:59] #7667 closed

[2020-04-29 07:12] Gaurav-Punjabi commented on #8151
Got it 👍

[2020-04-29 12:29] rnveach commented on #7473
Fix was merged

[2020-04-29 12:29] #7473 closed

[2020-04-29 12:32] romani commented on #8205
@HuGanghui , please report issue as defined in issue template. In title state a problem briefly, proposed solution should be inside description.
in my comment I already did almost all required.

[2020-04-29 13:21] #8110 closed

[2020-04-29 13:22] romani commented on #8110
fix is merged

[2020-04-29 14:03] #7563 closed

[2020-04-29 14:21] #6216 closed

[2020-04-29 14:21] romani commented on #6216
fix is merged.

[2020-04-29 16:44] DXTkastb commented on #4225
I'm on it.

[2020-04-29 19:52] #8198 closed

[2020-04-29 19:52] romani commented on #8198
Fix is merged

[2020-04-30 09:16] HuGanghui commented on #8205
As mentioned in https://github.com/checkstyle/checkstyle/issues/6707#issuecomment-602116682, and https://github.com/checkstyle/checkstyle/pull/7916#issuecomment-620637555, in order to fix all false-negatives, I think we need to create a new check——WhitespaceBefore.

[2020-04-30 09:17] HuGanghui commented on #8205
I am pleasure to work on it when it is approved.

[2020-04-30 09:32] warden commented on #5748
Opened up https://issues.apache.org/jira/browse/MCHECKSTYLE-394.

[2020-04-30 15:21] #6475 closed

[2020-04-30 15:22] romani commented on #6475
fix is merged.

[2020-04-30 15:43] HuGanghui commented on #6943
@gaurabdg yes, I am on it

[2020-04-30 20:14] mttjj opened #8215 "AvoidDoubleBraceInitialization Documentation Link Incorrect"
The [main checks page](https://checkstyle.org/checks.html) links to AvoidDoubleBraceInitialization in the config_misc.html but it actually exists in the config_coding.html.

Bad link (existing): https://checkstyle.org/config_misc.html#AvoidDoubleBraceInitialization
Good link (correct): https://checkstyle.org/config_coding.html#AvoidDoubleBraceInitialization

I would have opened this issue on the [

[2020-04-30 20:21] Gaurav-Punjabi commented on #8215
Yes, the links is broken. I'm on it once it's approved.

[2020-05-01 06:53] strkkk commented on #8215
Closed as duplicate of #7889
@mttjj FYI - pr for fix is in review, hopefully link will be fixed in next release

[2020-05-01 06:53] #8215 closed

[2020-05-01 10:48] timurt commented on #7739
@wltan @romani

I made a small research, how we can match `JavadocTag` object to corresponding `DetailAst` element. I noticed that `AbstractCheck.log(DetailAST ast, String key, Object... args)` and `AbstractCheck.log(int lineNo, int colNo, String key, Object... args)` use same logic for line and column number calculations, so I made conclusion that line and column in `JavadocTag` and corresponding

[2020-05-01 14:08] wltan commented on #7739
@timurt I tried the changes you suggested for case 3 and the expected violation output does match, but the Xpath query is completely empty which is not very useful.
[code]
[code]
[code]
To add on, I have no idea how to make the expected query match the actual in this case. I have tried `Collections.singletonList("")`, `Collections.emptyList()`, and `new ArrayList<>()` and none of them match.

[2020-05-01 14:36] Gaurav-Punjabi commented on #8151
@romani @rnveach  I have added PR's for all the checks except `JavadocStyleCheck` and `UpperEllCheck`. I could not find any input cases for these that would be different from the first test case. What should I do? Should I add these similar cases to remove suppression?

[2020-05-02 06:39] timurt commented on #7739
@wltan yes, you are right,
Currently, resulting detail ast of `JavaParser.parseFile(file, JavaParser.Options.WITH_COMMENTS)` does not contain Javadoc nodes, so it is impossible to access to these nodes using xpath

@romani
We need to rethink about xpath query generator to parse javadoc comment blocks into `DetailAst` objects or add new option `JavaParser.Options.WITH_JAVADOC` to have resulting ast

[2020-05-02 08:22] harsh-kukreja commented on #8018
Sorry @pbludov i didn't see the comment here.
The very first code i wrote including the comment
But me and rnvech decided to not to include the comment nodes in the ast but instead we check the line

[2020-05-02 16:03] romani opened #8219 "Jacoco coverage report should have grammar classes"
found during https://github.com/checkstyle/checkstyle/pull/8093#issuecomment-622661127

when  we generate coverage report - https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations#how-to-generate-ut-coverage-report

we do not see data on grammar classes, so it is hard to detect improvements.

It should be:
![image](https://user-images.githubusercontent.com/812984/80

[2020-05-02 16:06] rnveach commented on #8219
It is probably because they are being excluded.

https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L828-L830

[2020-05-02 16:28] romani commented on #8219
yes, it is excludes for report

no, it is excludes for rules to fail `check` phase.

[2020-05-02 17:55] baratali commented on #3313
@Gaurav-Punjabi , purpose of this task is to print a warning if any Javadoc Check cannot check javadoc comment if there is an unclosed html tag (because AST tree breaks). So we would warn that a Check cannot do its work untill there is an unclosed tag.

Actually, this is already done, but in a different way. New property `violateExecutionOnNonTightHtml` was added in #3311.
If its value is true, Ch

[2020-05-02 18:02] rnveach commented on #8219
Fix was merged

[2020-05-02 18:02] #8219 closed

[2020-05-03 02:26] rnveach commented on #2813
Fix was merged

[2020-05-03 02:26] #2813 closed

[2020-05-03 02:37] #8206 closed

[2020-05-03 02:37] rnveach commented on #8206
Fix was merged

[2020-05-03 07:54] timurt commented on #6943
@romani @rnveach
Can I ask several questions regarding this issue:
1. As name of the check is `NullBeforeInstance`, it means `null` checking is strictly before `instanceOf` checking.
But what about:
[code]
I think here `myObj != null` is redundant as in initial case, does this test should throw violation?

2. Should we check properties of the objects?
For example `node.next` property:
[code]

[2020-05-03 16:12] romani commented on #6332
fix is merged

[2020-05-03 16:12] #6332 closed

[2020-05-03 16:15] romani commented on #6332
@harsh-kukreja , please claim bounty.

[2020-05-03 19:29] #8036 closed

[2020-05-03 19:30] romani commented on #8036
Fix is merged

[2020-05-04 02:23] rnveach opened #8224 "SuppressionsLoader: misleading file not found message when it is found but internal file is not"
Identified at https://stackoverflow.com/questions/61574901/checkstyle-checkstyleexception-unable-to-find-but-file-exists ,

[code]

The message `Unable to find: TestSuppressions.xml` is misleading. The file was found, it was the internal DTD URL we could not find because it is outdated.

https://github.com/checkstyle/checkstyle/blob/2e8c277c181487d81231170ff4b959edc008114e/src/main/java/com/puppyc

[2020-05-04 07:49] antoinetran commented on #5476
Hi, I just want to add my two cents here since our project set `separated=false` for whatever reason, and share the Checkstyle configuration to our subcontractors. Now each time we change a shared configuration, it must undergo a review and there can be financial impacts (especially for a change from our initiative).
Thus, making a breaking change like this without a retro-compatibility option is

[2020-05-04 18:12] shashwat70 opened #8225 "Add check to verify all files start with SuppressionXpathRegression in suppressionxpathfilter"
RegexpOnFilename should be used to ensure all files follow the naming convention in https://github.com/checkstyle/checkstyle/tree/master/src/it/resources/org/checkstyle/suppressionxpathfilter

[2020-05-04 18:14] harsh-kukreja commented on #6332
Hey @romani I have claimed it.

[2020-05-05 00:39] jonmbake commented on #5476
I used the workaround w/ the CustomImportOrder so this is no longer an issue for me. I still hold my opinion in https://github.com/checkstyle/checkstyle/issues/5476#issuecomment-359971988, but since there is a workaround, it is less of an issue IMO.

[2020-05-05 08:50] antoinetran commented on #5476
Ok, after I looked at how to adapt CustomImportOrder to reproduce ImportOrder module... I discovered that this code:
[code]
does absolutely nothing so I just removed it! And the workaround does not seem that hard to get so to my mind, ok for only the workaround. As for me, I removed this module.

[2020-05-05 14:48] koppor commented on #8137
Note that the above rule was applied at https://github.com/checkstyle/checkstyle/commit/dbac7fb8e605c3f29172d7f4a894b1b91e380edc. One could use the parent commit as test case maybe?

[2020-05-06 10:55] don-vip commented on #3786
Can you please rename this issue to "Use JOSM in our CI"? JOSM is one of the many OSM projects. You cannot "use" OpenStreetMap.

[2020-05-08 04:11] dampcake commented on #6024
I don't know if this should be part of the same bug, but if there is an assignment as well parameter indentation seems not to be checked at all:

[code]

shows no errors at all.

[2020-05-08 04:36] dampcake commented on #6633
Setting `basicOffset` also seems to break `forceStrictCondtion` as well:

config.xml
[code]

Example class:
[code]

[2020-05-08 15:14] Harshit-Dandriyal commented on #4249
I think I should give it a try.

[2020-05-08 15:16] Harshit-Dandriyal commented on #4249
How can I start approaching this problem?

[2020-05-09 07:01] wltan opened #8227 "Resolve Pitest Issues - AbstractJavadocCheck"
Sub-issue of #7797/#6295

This issue is to discuss possible methods of resolving the 4 surviving mutations in `AbstractJavadocCheck`.

https://github.com/checkstyle/checkstyle/blob/9fa7233f42c1ed96e849b1d8d6cb9a7cab1cb52e/.ci/pitest.sh#L171-L174

Pitest report: https://wltan.github.io/checkstyle-reports/2020-05-09/pitest-abstractjavadoccheck/com.puppycrawl.tools.checkstyle.checks.javadoc/AbstractJ

[2020-05-09 07:09] wltan commented on #8227
## 5 (bonus)
There is one more line where the mutation is `TIMED_OUT` instead of `SURVIVED`.
https://github.com/checkstyle/checkstyle/blob/2e8c277c181487d81231170ff4b959edc008114e/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.java#L377

Mutation: `377 1. negated conditional → TIMED_OUT`

This is not under the 4 suppressions above, but can also be explored as par

[2020-05-09 16:28] cemo commented on #6615
Any workaround for this?

[2020-05-09 17:07] romani opened #8228 "Update CIs to validate empty outpu of 'git status' after execution"
we discussed this a lot but never made any action on this.
It become problem at https://github.com/checkstyle/checkstyle/pull/8136#discussion_r419466250 again.
We wasting time in updates and conversations that can be caught at the very begining.

Rationale:
We execute CIs commands on local for testing, pollution in git repo make it ease to put in commit/PR unwanted changes, extra files, ......

It

[2020-05-09 17:12] nmancus1 commented on #8228
I can take care of this right now, I should just add a job like `validate-git-status` to each ci script?

[2020-05-10 11:53] strkkk commented on #6615
@cemo the only workaround for now is to use [file filter](https://checkstyle.sourceforge.io/config_filefilters.html#BeforeExecutionExclusionFileFilter) to avoid processing of such files

[2020-05-10 14:15] romani commented on #8228
Yes, we need to print output and fail build it is not empty.

[2020-05-10 14:24] romani commented on #3786
Renamed

[2020-05-11 20:47] jgerken opened #8231 "[IndentCheck] check for wrapped method calls is broken when forceStrictCondition is enabled"
Check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck

[code]

---------------

Enabling the `forceStrictCondition` of the `IndentationCheck` breaks the check of wrapped method calls when the call is the first statement on the line. In such a case, the rule wants the wrapped part of the call to start at the same indentation level as the call itself. For a chained metho

[2020-05-12 16:20] developerhb commented on #7925
@rnveach
I can probably explain why we don't need the following condition,
`if (child.getType() == TokenTypes.TYPE_PARAMETER) {`

Here is the full code of function which uses this condition,
[code]

-----------
`TYPE_PARAMETERS` can have following childs,
1. GENERIC_START (`<`)
2. TYPE_PARAMETER
3. COMMA (`,`)
4. GENERIC_END (`>`)

So, our condition checks whether the child is of type `TYPE_PARAME

[2020-05-12 21:22] baratali commented on #6746
JavadocMethodCheck also does not require description for `@throws` tag. But it's useful for this check (or a new check) to ask for a description in `@throws` tag in javadoc comment. Probably it should be configurable as well.
Please see this example https://github.com/checkstyle/checkstyle/pull/8071#issuecomment-625545952

[2020-05-13 20:06] rnveach commented on #7980
I am sorry for long delay.

For me, `testGenerics1` is returning some non-null results from `paramMap.get(name)`.

I was able to follow your flow through 7 but it didn't go much after that and dive into why null versus non-null matters after and that is where the reasoning for why we need the code would lie.

As 7a and 7b say, null and non-null seem the difference between `RegularClass` and `Class

[2020-05-13 20:11] rnveach commented on #7980
@romani It can be logically proven a big chunck of this code doesn't serve a purpose and can be removed. Are you ok and agree to this? It is possible removing big chunks like this will show other chunks that need to be removed as well and could cascade.

[2020-05-14 04:17] romani commented on #7980
I am ok to remove.
I ok to remove any code that we can not cover (we do not know test inputs). Live will show us it in worse case, it is better to make bug to users than hesitate over some code.

[2020-05-14 07:17] muhlba91 opened #8236 "JavadocMissingWhitespaceAfterAsteriskCheck property violateExecutionOnNonTightHtml missing"
The new check `JavadocMissingWhitespaceAfterAsteriskCheck` defines a property `violateExecutionOnNonTightHtml ` in the documentation: https://checkstyle.sourceforge.io/config_javadoc.html#JavadocMissingWhitespaceAfterAsterisk

However, while adding this check to the SQ plugin, no property is defined on the check implementation, also #7775 does not define it, except in the documentation.

[2020-05-14 10:06] pbaranchikov opened #8237 "WhitespaceAround ignores empty constructor whitespaces"
Check documentation: https://checkstyle.org/config_whitespace.html#WhitespaceAround
[code]
Expected: violation on the 4th line (constructor declaration). There should be space between `){`

Note, that this violation works Ok without `allowEmptyConstructors` option, but an extra violation is reported about empty constructors:
[code]

I tested on Chekcstyle 8.32

[2020-05-14 23:14] rnveach commented on #8236
The property exists.
[code]

If it didn't Checkstyle would throw an error that said it doesn't exist.

The property is defined in the abstract class that all Javadocs extends.
See https://github.com/checkstyle/checkstyle/blob/2e8c277c181487d81231170ff4b959edc008114e/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.java#L97

Is there a problem for this?

[2020-05-15 04:47] shashwat70 commented on #8122
@romani @rnveach ping

[2020-05-15 07:43] muhlba91 commented on #8236
Interesting because our test does not discover this property but I'd assume we have loads of those properties which are defined in an abstract class - all javadoc cecks in fact, actually.

[2020-05-15 08:49] pbludov commented on #8237
@pbaranchikov please update the issue description as described here https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F

[2020-05-15 09:57] strkkk commented on #7671
Fix is merged

[2020-05-15 09:57] #7671 closed

[2020-05-16 05:51] shashwat70 opened #8239 "Unnecessary Parentheses does not report violation on assignment within conditional"
Check documentation: https://checkstyle.org/config_coding.html#UnnecessaryParentheses

[code]

---------------

There is a redundant set of parentheses on line 5 which should have been reported.

[2020-05-16 06:14] pbludov commented on #8239
Same for
[code]

the AST:
[code]

The check should be updated to detect nested parentheses.
May be we need a new check for this, but a see no reason to allow nested parentheses and forbid unnecessary parentheses or vice versa.

[2020-05-16 06:25] pbludov commented on #8239
Another missing violation:
[code]

[2020-05-16 07:28] pbludov opened #8240 "Java Grammar: module-info.java support"
Original issue https://github.com/checkstyle/checkstyle/issues/3059

We should extend our grammar to support module-info.java

- there are may be comments and Javadoc. We should validate them.
- there may be annotations. We have checks for annotations.
- we may add checks specifically for modules. For example, `ModuleName` check.

After completion we should close https://github.com/checkstyle/chec

[2020-05-16 13:26] astappiev opened #8241 "One more group is required for CustomImportOrder"
I would like to create an Eclipse-like rule for imports. The documentation has a few examples in that direction, but they are missing that fact that Eclipse also separates `java.*` and `javax.*` packages.

Using this rule from documentation
[code]

I'm getting the following error
[code]

For that class
[code]

And to fix that, I need to create a separate group for `javax.*` imports, but there are

[2020-05-16 13:48] astappiev commented on #8241
Nevermind, I changed to use of `ImportOrder` rule.

[2020-05-16 13:48] #8241 closed

[2020-05-16 14:31] romani commented on #8241
Please share more details on this, we can change wording to make them better.

[2020-05-16 14:42] romani commented on #8240
To approve this issue we to clearly decide is it java file or something else.
This will lead us to point of how to fix it:
- update java parser
- create new parser, new Treewalker with file filter(to work only on `module-info.java`)

[2020-05-16 18:36] astappiev commented on #8241
Current message looks like
[code]

But I would like to have something similar to what I get with `CustomImportOrder`:
[code]
or
[code]

[2020-05-16 19:54] rnveach commented on #7728
Fix was merged

[2020-05-16 19:54] #7728 closed

[2020-05-16 21:25] Scrayos commented on #4249
I additionally found out that this is only reported if the statement is not part of an assignment. If anyone would start working on this, maybe this information could be of help.
[code]

[2020-05-17 03:19] #7873 closed

[2020-05-17 03:19] rnveach commented on #7873
Fix was merged

[2020-05-17 03:27] #7804 closed

[2020-05-17 03:27] rnveach commented on #7804
Fix was merged

[2020-05-17 07:32] developerhb commented on #7728
The PR is merged. Thank you @wltan @DXTkastb @wilcoln for guiding me in this issue.

[2020-05-17 12:24] pbludov commented on #8240
That's a good point.
Although the JLS explicitly [refers](https://docs.oracle.com/javase/specs/jls/se11/html/jls-7.html#jls-7.7) to the modules as configuration dependency, at the same document it states, that a module name consists of one or more Java identifiers.

On the other hand, it is possible to use "module", "requires", etc as keywords in Java. So it is easier for us to implement a separat

[2020-05-17 15:42] romani commented on #8240
It is not enough to consider file as java file. C++, C# have a lot in common with Java, but it is not a Java

It is better to create new Check for this. In future such config will have more features unrelated to java. Our current Treewalker checks will continue follow java requirements and demands

[2020-05-17 22:47] romani commented on #7921
fix is merged.

@AmrDeveloper , thanks a lot !!

[2020-05-17 22:47] #7921 closed

[2020-05-17 23:43] romani commented on #3786
fix is merged.

[2020-05-17 23:43] #3786 closed

[2020-05-18 01:18] rnveach commented on #8236
Which test are you referring to?

[2020-05-18 01:29] rnveach commented on #8227
It is too much to discuss all in one issue, which is why we had separate issues for each item.

There is no guarantee that users will always sort their tokens. It returns an array and not a set. We can't change our implementation or impose this on users. If we need unsorted tokens, then this sounds like an easy matter to add a test for to kill the mutation.

See above. When you look at mutations,

[2020-05-18 07:33] jo2 opened #8244 "Expandable menu for mobile website"
As mentioned below, during the implementation of the mobile version of the checkstyle website there were thoughts about having the menu being expandable. Is this stil something wanted? If so, I can take a look at it.

"Let's think about expandable menu in separate issue"

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/issues/7083#issuecomment-554383874_

Demo: https://jo

[2020-05-19 09:11] Benschio commented on #7769
Is there something else missing in the issue description?
If the issue description is resolved, I would like to create a pull request.

[2020-05-19 13:26] #7923 closed

[2020-05-19 13:26] #7924 closed

[2020-05-19 13:26] #7925 closed

[2020-05-19 13:26] #7980 closed

[2020-05-19 13:27] romani commented on #7980
fix is merged.

[2020-05-19 13:27] romani commented on #7923
fixed in scope of https://github.com/checkstyle/checkstyle/issues/7980

[2020-05-19 13:28] romani commented on #7924
fixed in scope of https://github.com/checkstyle/checkstyle/issues/7980

[2020-05-19 13:28] romani commented on #7925
fixed in scope of https://github.com/checkstyle/checkstyle/issues/7980

[2020-05-19 14:03] rnveach commented on #7977
fixed in scope of https://github.com/checkstyle/checkstyle/issues/7980

[2020-05-19 14:03] #7977 closed

[2020-05-19 15:15] romani commented on #8244
@jo2, thanks a lot for helping us.
It would be awesome is make a demo of how it will work on single page before you update whole site.

Let me know if you need any help, your site update is awesome, I love it each day when I reply to contributors and users.

[2020-05-19 19:00] jo2 commented on #8244
Will work on it and psuh an example to mit github pages when its ready.

[2020-05-20 06:50] wltan commented on #8227
That is true. I think I may have worded my original post a bit strangely, I did not mean to say that it can just be removed like that and be done with it, but rather that currently the tokens may be coincidentally already all sorted for each check, which is why the mutation survives.

So in order to kill the mutation caused by sorting, I would like to propose building a `Set` and querying it inste

[2020-05-20 09:17] strkkk commented on #8228
Fix is merged

[2020-05-20 09:17] #8228 closed

[2020-05-20 12:40] furstenheim opened #8245 "Forbid annotations unless class is annotated"
Hi
This is a feature request.
When using Guice there is the annotation "WithCache" And "Cacheable", first applies to a class and second to a method.

In general, if you forget the first one it is an error because the second one wouldn't take place.

It might be a bit of a stretch, but it might make sense to have a checkstyle rule for this.
Something like forbid annotation x, except if class is ann

[2020-05-20 13:32] jo2 commented on #8244
At [https://jo2.github.io/checkstyle-menu-suggestion/](https://jo2.github.io/checkstyle-menu-suggestion/) I made a suggestion how it could look. Please tell me what you think.

[2020-05-20 15:15] rnveach commented on #8244
This is just me and my thoughts, but I dislike having a collapsed menu that takes a new page just to load the expansion and the expansion isn't even scrolled into view (that I saw) to help with the transition. I am not sure how well we can do this since the same links are used for real pages that can be loaded.

If we do go the way of keeping things collapsed, I think I would like to see "Checks"

[2020-05-20 16:21] developerhb commented on #4944
@romani Is anyone working on this issue? If not, I would like to work on this.

[2020-05-20 18:13] rnveach commented on #8227
We would probably discuss this in a PR. Is there any performance impact from switching like this?

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/TreeWalker.java#L209
We do the same thing in TreeWalker, so it could also be looked into killing the mutation.

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/ch

[2020-05-21 08:09] jo2 commented on #8244
Oh, i was so focused on mobile view that i didn't notice that these menu entries are collapsed in desktop view, too. I'll fix that.

To fix the first aspect you mentioned, we can use menu entries without a page and add something like an overview page where the content from the original page is. I'll update the suggestion in the next fiew days.

[2020-05-21 08:57] rnveach commented on #8244
@romani Share your thoughts so we are on the same page.

[2020-05-21 09:40] rnveach commented on #7889
Fix is merged

[2020-05-21 09:40] #7889 closed

[2020-05-21 10:03] rnveach commented on #8169
Fix was merged

[2020-05-21 10:06] #8169 closed

[2020-05-22 03:08] developerhb commented on #4944
@MEZk @romani @timurt
I have created PR https://github.com/checkstyle/checkstyle/pull/8247 with the Layout Implementation. For further implementations I have following questions.

1. What is the functionality of AND, OR and NOT buttons?
2. What is the functionality of Reset button?

[2020-05-22 13:59] romani commented on #8244
Desktop should not be affected.
General Font on desktop is very small, it is old issue ... , separate issue, but yes it is not good, I use 120-130% zoom all the time for our pages to read text and navigate easily.

I play periodically with your version of web site on phone, I have some concerns:
- with fact that some pages have child pages but there is no navigation to them inside page
- not sure

[2020-05-23 20:24] #8132 closed

[2020-05-23 20:25] rnveach commented on #8132
Fix was merged

[2020-05-23 21:35] Flowdalic opened #8248 "CustomImportOrder should allow for a newline between java.* and javax.* imports"
Since checkstyle 8.28, due #7119, CustomImportOrder ensures that there is no superflous separation between import groups. While this is sensible, there is an issue: Eclipse's "Organize Imports" feature does not allow regex when specifying groups. This means that java.* and javax.* imports are always different groups and hence separated by newlines in eclipse. Checkstyle versions < 8.28 did not com

[2020-05-23 22:52] romani opened #8249 "Sonar violations: Refactor the body of this try/catch to have only one invocation throwing an exception"
master bulid failure - https://sonarcloud.io/organizations/checkstyle/rules?open=java%3AS5778&rule_key=java%3AS5778

https://rules.sonarsource.com/java/RSPEC-5778

When verifying that code raises a runtime exception, a good practice is to avoid having multiple method calls inside the tested code, to be explicit about which method call is expected to raise the exception.
It increases the clarity of

[2020-05-23 23:00] romani commented on #8249
There is a conflict between Eclipse and Sonar
![image](https://user-images.githubusercontent.com/812984/82742099-736f5300-9d0e-11ea-9153-980e39db6938.png)

What we value most ?
I think Eclipse should win.

[2020-05-23 23:12] romani commented on #8249
false positive: c-tor of Hashset do not throw exception.
![image](https://user-images.githubusercontent.com/812984/82742225-27251280-9d10-11ea-850d-59451d2ceaca.png)

[2020-05-23 23:29] romani commented on #8249
wont fix.

technically it is valid violation, but such cases Rule should skip as they are in `fail`.
![image](https://user-images.githubusercontent.com/812984/82742396-710ef800-9d12-11ea-97fe-c0688a85cb8c.png)

[2020-05-24 00:19] romani opened #8252 "Sonar violations: JUnit5 test classes and methods should have default package visibility"
https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&open=AXItYgyWEeM3Dea7mBcs&resolved=false&severities=INFO

https://rules.sonarsource.com/java/RSPEC-5786

![image](https://user-images.githubusercontent.com/812984/82742993-96533480-9d19-11ea-9dc5-4fb470ea305e.png)

[2020-05-24 00:20] romani commented on #8252
Should we follow this rule ?

[2020-05-24 02:48] rnveach commented on #8252
I am fine with test only code removing the modifiers.

[2020-05-24 03:00] rnveach commented on #8249
A more lenient reading of the rules means to avoid extra method calls, regardless if they can throw an exception or not, to avoid any confusion. Runtime exceptions are not usually documented, and some are possible to have anywhere like NPE. I think this rule is just finding 1 method with an exception being thrown and ensure there are no other method calls on the same line.

[2020-05-24 04:33] sumitkp18 commented on #8231
Hi,
I am Sumit from Bengaluru, India.
I am a full-time android developer and have a good experience in Java.
I am interested in contributing to this project, can I work on this issue?

[2020-05-24 05:00] romani commented on #8249
Ok, but still "won't fix" , as compliant code will be a bit weird

[2020-05-24 12:16] pbludov commented on #8252
The transition to JUnit5 was automated by IntellyJ IDEA. The access modifiers were not changed during that process, we agreed that this can be done in a separate issue.

At first glance, it looks like an easy sed task:
`sed -i "s/public void test/void test/g"`
since we already has a rule to enforce the `test` prefix in all test methods.

[2020-05-24 12:24] pbludov commented on #8252
I think that all test classes should be non-public and even final, to make it impossible to use one test from another and create unnecessary dependencies.

[2020-05-24 13:59] romani commented on #8252
please read - https://stackoverflow.com/a/55230350/1015848 nothing about encapsulation and less visibility (that I agreee), just a matter of style.

it is separate issue ... we can do it even for public classes.

still be possible in the same package. Inheritance from tests classes is very weird, I have never see this in my life.

[2020-05-24 14:37] romani commented on #4944
lets ignore them for now, I do not understand this also.

it might be mean clean of xpath text area, we can skip this button. user can easily remove content himself.

[2020-05-24 14:39] romani commented on #4944
for generation of xpath, please refer to https://checkstyle.org/cmdline.html#Command_line_usage `-g,--generate-xpath-suppression`

[2020-05-24 16:20] timurt commented on #4944
As far as I remember these buttons were for query building, by selecting elements and clicking or/and/not buttons you could construct xpath queries.

But @romani is right, it can be ignored for now

[2020-05-24 17:00] developerhb commented on #4944
Okay @romani @timurt
For now I will remove those buttons and only keep a single button `Run`

[2020-05-25 08:52] pbaranchikov commented on #8237
@pbludov done, thank you.

[2020-05-25 09:54] jo2 commented on #8244
@romani how about we make the top line containing date and version sticky to the top in mobile version? This would also make the menu open / hide button sticky to the top.

[2020-05-25 11:38] Fernal73 commented on #4037
https://groups.google.com/forum/m/#!msg/checkstyle/Szdb6677DWM/cCAH59EYAAAJ

Another example Java source that exhibits the above scenario.

[2020-05-25 12:02] hisener opened #8255 "`allowedAbbreviations` property in `AbbreviationAsWordInNameCheck` does not support abbreviations that contain digit(s)"
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#AbbreviationAsWordInName

[code]

---------------

`allowedAbbreviations` does not support abbreviations that contain digit(s). In the example above, checkstyle flags `createPBKDF2` and `createPBKDF2Hash` even though PBKDF2 is listed in `allowedAbbreviations` property.

IIUC, the reason is the check only looks for the upperc

[2020-05-25 12:34] strkkk commented on #8255
@hisener PRs are always welcome. There is same(?) issue https://github.com/checkstyle/checkstyle/issues/6694 you can see other discussion and share your thoughts there.

[2020-05-25 13:11] hisener commented on #8255
Thanks for pointing that. 👍

Closing this issue as it duplicates #6694.

[2020-05-25 13:11] #8255 closed

[2020-05-25 16:51] pbludov commented on #8237
Yes, this check works that way. There will be either none or three violations.

@romani @rnveach @strkkk should this check be changed to enforce a whitespace between `)` and `{`? Like this:
[code]
The docs say that empty constructor, method, class, enum, interface, loop bodies

[2020-05-26 03:58] romani commented on #8244
Sounds interesting, please do some hack to make demo of it in GitHub.io .
Current demo version doesn't work properly ( menu is not hiding).

[2020-05-26 12:11] jo2 commented on #8244
I updated it at [https://jo2.github.io/checkstyle-menu-suggestion/](https://jo2.github.io/checkstyle-menu-suggestion/). Please let me know what you think.

[2020-05-26 14:02] romani opened #8256 "Checkstyle verification in printed as WANRING during build"
detected:
[code]

expected:
[code]

https://ant.apache.org/manual/Tasks/echo.html

[2020-05-26 15:37] strkkk commented on #8256
Fix is merged

[2020-05-26 15:37] #8256 closed

[2020-05-27 04:44] nmancus1 commented on #8023
@pbludov @romani How would this be?
[code]

[2020-05-27 06:26] furstenheim opened #8258 "IntegerEqualityCheck"
This is a feature request.
There is already a StringLiteralEqualityCheck, I'd like to propose a similar rule for Integers. For those, it is specially tricky because of cache:

        Integer a = 10;
        Integer b = 10;
        System.out.println(a.equals(b));

        Integer a = 155;
        Integer b = 155;
        System.out.println(a.equals(b));

If there is interest I could implement it

[2020-05-27 12:31] pbludov commented on #8023
I like the idea of using some kind of "record component def" instead of `PARAMETER_DEF`.
These parameters are also fields. It is better to create a new token type here.

As for the record body, we have one "OBJBLOCK" for all types, including enums. And it works well.

So I'd like to see two new token types in the AST: `RECORD_COMPONENT_DEF` and `RECORD_CTOR_DEF` to support parameteless ctors in re

[2020-05-27 13:03] nmancus1 commented on #8023
@pbludov Ok, sounds great. I am going to start a new issue for the full tree/ full support, referencing your comment above.  To close **this** issue, we would just need a tree like this, right?

[code]

[2020-05-27 14:11] pbludov commented on #8023
yes

[2020-05-27 15:12] rnveach commented on #8244
@jo2 When on the desktop and scrunch the window very small to simulate a mobile, the actual page contents go away completely and all I can see is the left menu and nothing else. I am on Firefox.

[2020-05-27 18:50] thomasrockhu opened #8259 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-28 07:35] pbludov commented on #8249
fix is merged

[2020-05-28 07:35] #8249 closed

[2020-05-28 07:53] pbludov opened #8262 "Suppress Spotbugs violation for internal JaCoCo field"
Confirmed. The command line should be
`mvn -e clean test-compile pmd:check spotbugs:check`

But this command fails with
`[ERROR] The field com.puppycrawl.tools.checkstyle.DefaultConfiguration.$jacocoData is transient but isn't set by deserialization [com.puppycrawl.tools.checkstyle.DefaultConfiguration] In DefaultConfiguration.java SE_TRANSIENT_FIELD_NOT_RESTORED`

There should be exception for th

[2020-05-28 09:23] jo2 commented on #8244
@rnveach can you please post a screenshot of this behaviour? I'm using Firefox, too, and either I don't understand what you mean or I can't reproduce it.

[2020-05-28 10:43] jo2 opened #8264 "Increase font size for website"
As menttioned [here](https://github.com/checkstyle/checkstyle/issues/8244#issuecomment-632704253) the general font size fo the documentation is an issue. If this issue is approved I can start a PR.

[2020-05-28 13:07] binoternary opened #8265 "List of checks in checkstyle.org has incorrect link for AvoidDoubleBraceInitialization"
**Problem description:**
https://checkstyle.org/checks.html contains a list of checks. This list includes `AvoidDoubleBraceInitialization`.

Clicking on the respective link takes the user to https://checkstyle.org/config_misc.html#AvoidDoubleBraceInitialization

But the check is documented under https://checkstyle.org/config_coding.html#AvoidDoubleBraceInitialization

(**config_misc** vs **config_

[2020-05-28 13:27] ChrisTrenkamp opened #8266 "MissingJavadocMethod flagging private methods even target scope is public methods only"
https://checkstyle.sourceforge.io/config_javadoc.html#MissingJavadocMethod

[code]
[code]

[code]

[code]
---------------
Expected - no violation.

When an interface has a private static method that goes beyond the line limit, it gets flagged as needing a javadoc comment, even though private methods are supposed to be exempt.

--------------

[2020-05-28 14:07] romani commented on #7892
fix is merged

[2020-05-28 14:07] #7892 closed

[2020-05-28 14:11] strkkk commented on #8265
@binoternary thanks for reporting this.
Issue has been fixed in https://github.com/checkstyle/checkstyle/issues/7889, and link will be fixed in next release 8.33

[2020-05-28 14:11] #8265 closed

[2020-05-28 14:11] #7690 closed

[2020-05-28 14:12] romani commented on #7690
fix is merged.

[2020-05-28 14:13] nmancus1 opened #8267 "Implement full records support"
Per discussion at https://github.com/checkstyle/checkstyle/issues/8023#issuecomment-634424931 and https://github.com/checkstyle/checkstyle/issues/8023#issuecomment-634628277. While a superficial implementation of Java 14 records will close Issue #8023, we need to make an issue for full records support, extending our support of records to build the full AST under the RECORD_DEF token.

### Topics o

[2020-05-28 14:15] romani commented on #7565
fix is merged.

[2020-05-28 14:15] #7565 closed

[2020-05-28 14:28] #8019 closed

[2020-05-28 14:29] romani commented on #8019
fix is merged.

[2020-05-28 14:54] strkkk commented on #8266
@ChrisTrenkamp Please correct your config example to only one failing check.
Issue is in line
https://github.com/checkstyle/checkstyle/blob/6275303e6b5fd4d5e9a6504b390efd0e4aee564d/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/MissingJavadocMethodCheck.java#L453-L455
interfaced can have private methods since Java 9
So it looks like a bug

[2020-05-28 15:18] ChrisTrenkamp commented on #8266
Done.

[2020-05-29 03:41] romani opened #8268 "Cleanup .ci-temp folder after release notes generation"
https://travis-ci.org/github/checkstyle/checkstyle/jobs/692192105#L1082

[code]

[2020-05-29 03:42] romani commented on #8268
@nmancus1 , please help, it is leftover.

[2020-05-29 03:47] romani opened #8269 "Update documentation for BeforeExecutionExclusionFileFilter"
Check documentation: https://checkstyle.org/config_filefilters.html#BeforeExecutionExclusionFileFilter

We need to have example of how user can exclude test folders in projects.

Detected at https://github.com/checkstyle/eclipse-cs/issues/132

[2020-05-29 05:04] romani commented on #8259
We have no problem with this.
We will think about it later on, after amount of open PR come to less than 5.

[2020-05-29 05:04] #8259 closed

[2020-05-29 08:27] Abhishek-kumar09 opened #8270 "Pitest Issue: Indentation"
https://github.com/checkstyle/checkstyle/blob/6275303e6b5fd4d5e9a6504b390efd0e4aee564d/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/ArrayInitHandler.java#L102

[2020-05-29 11:16] strkkk commented on #6707
Fix is merged

[2020-05-29 11:16] #6707 closed

[2020-05-29 12:38] developerhb commented on #4944
@romani I am still somewhat confuse with the generation of xpath query. Can you please provide more information about it.

[2020-05-29 13:22] nmancus1 commented on #8268
Hi, just trying to run `xtr_releasenotes-gen.sh` locally to verify clean `.ci-temp/`, but `READ_ONLY_TOKEN=9ffd28f` results in `"message":"Bad credentials"`.  Does this token need to be updated?

[2020-05-29 13:46] romani commented on #8268
Let's fix this issue in blind way, without verification on local.

[2020-05-29 14:56] romani commented on #8268
@nmancus1 , thanks a lot.

[2020-05-29 14:56] #8268 closed

[2020-05-29 15:11] romani commented on #4937
fix is merged.

[2020-05-29 15:11] #4937 closed

[2020-05-29 17:22] nmancus1 opened #8274 "Update java.g to allow new tokens to be added"
We need to update java.g `tokens` block to reflect last tokens added.  This must be done to preserve the ordering of tokens and correctly allow new tokens to be added.

### Tokens to add to the end of the list:

- `SINGLE_LINE_COMMENT_CONTENT`
- `BLOCK_COMMENT_CONTENT`
- `STD_ESC`
- `BINARY_DIGIT`
- `ID_START`
- `ID_PART`
- `INT_LITERAL`
-  `LONG_LITERAL`
- `FLOAT_LITERAL`
- `DOUBLE_LITERAL`
- `HE

[2020-05-30 08:32] #3934 closed

[2020-05-30 08:32] #3946 closed

[2020-05-30 09:59] pbludov opened #8275 "Spotbugs should validate tests"
Sounds suspicious, we need to make sure that tests are not ignored

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/pull/8254#issuecomment-633796675_

[2020-05-30 10:39] pbludov commented on #8262
Fix is merged.

[2020-05-30 10:39] #8262 closed

[2020-05-30 12:30] romani commented on #7281
https://sonarcloud.io/documentation/upcoming/ , at October 2020, sonar will stop accepting jdk8 executions

[2020-05-30 12:47] romani opened #8277 "'travis.sh no-violation-test-josm' is not stable"
https://travis-ci.org/github/checkstyle/checkstyle/jobs/692854071#L468
it is not first time I see it.
[code]

[2020-05-30 13:03] romani commented on #8275
fix is merged

[2020-05-30 13:03] #8275 closed

[2020-05-30 13:26] romani opened #8279 "Sonar API Token has no access rights"
stable problem in master https://app.wercker.com/checkstyle/checkstyle/runs/build/5ed253e4765d2a000768c16c?step=5ed25409ee64ed0008c45405
reproduced on local.
I regeneraetd new token but problem is still the same
[code]

[2020-05-30 14:01] romani commented on #8279
There is some problem with certificate on sonar side:
[code]

[2020-05-30 14:04] romani opened #8281 "Execution of spell shecker on ubuntu 16.04 is failing"
it works in CI , but on my local always failing
[code]

[2020-05-30 14:12] pbludov commented on #8274
All of them are already in the grammar, right?

[2020-05-30 14:16] nmancus1 commented on #8274
Yes.

[2020-05-30 14:54] rnveach commented on #8281
I get the same errors when I run it as "sudo". Without sudo, I get:

[code]

[2020-05-30 14:58] romani commented on #8279
workaround is merged.

[2020-05-30 14:58] #8279 closed

[2020-05-30 15:34] romani commented on #8281
it is not the same problem, you have some different issue.
[code]

[2020-05-30 16:55] romani commented on #6943
Yes, make sense to validate this also.
New name: NullTestAroundInstanceOf ?

Yes.

[2020-05-30 17:03] timurt commented on #6943
Totally agree with it,
@HuGanghui I will write comments about these changes in your PR

[2020-05-30 19:09] pbludov commented on #7281
So it's time to move on. We need this build to be successful:
[code]
I'll start a new issue.

[2020-05-30 19:21] pbludov opened #8283 "Make test inputs compatible with Java 10+"
[code]

There is minor incompatibility introduced in Java9. A star import, i.e. `import org.*;` will fail, if such package contains no classes at that level.

All test inputs should be updated to be compatible with all Java versions up to the latest available.
We can use semathoreci to configure builds.

[2020-05-30 19:45] romani commented on #8244
Feedback:
- It would be much better to have menu on right side
- It would be good to not collapse all menu items, because if menu is easy to hide, size of it is not a problem. But it is problem to navigate in tree of pages.

[2020-05-30 22:51] romani commented on #8277
one more time - https://travis-ci.org/github/checkstyle/checkstyle/jobs/692924303

[2020-05-30 23:22] romani commented on #4944
@developerhb , probably it would be good if ask questions or share some concerns.

When use click on node we print path to it as simple as list of all node from root to selected node.
`/CLASS_DEF/OBJBLOCK/CTOR_DEF/SLIST`
It is very basic implementation and it will not work always, because if there is on some level few nodes of same type - xpath will be confused. So you need to provide `IDENT[@text

[2020-05-31 05:18] developerhb commented on #4944
@romani
I understand the point.

one PR - user put xpath and you find it in tree.
second PR - generation of xpath

I am working on it.

[2020-05-31 14:50] romani commented on #7521
result of survey:
![image](https://user-images.githubusercontent.com/812984/83355258-29403000-a313-11ea-9a59-c92762c76a21.png)

rss and mail-list will be discontinued from this day. We might come back to to post to such channels but there should be full automation of publishing provided.

[2020-05-31 15:07] romani opened #8286 "Remove rss and sourceforge banners from website"
base on https://github.com/checkstyle/checkstyle/issues/7521#issuecomment-636481431
we need to remove from our web site badges to sourceforge and rss.

Sourceforge banner is removed because we moving from sourceforge to github, after RSS is deprecared, Sourceforge is backup hosting of website only.
We still have historic web sites (for each version) on sourceforege, but only this, till we decide h

[2020-05-31 15:07] #7521 closed

[2020-05-31 16:47] pbludov commented on #8283
This actually makes Checkstyle compatible fully with Java 11 at source level.
The one stopper is https://github.com/spotbugs/spotbugs/issues/811

Spotbugs [error list](https://gist.github.com/pbludov/9f1c8e450b8562219cee8c87f0117d92).

[2020-05-31 17:01] developerhb commented on #4944
@romani
I would like to know what is difference between `DetailAST` and `DetailNode`. I understand the Xpath Generation for `DetailAST`. But, I don't know much about `DetailNode`. Please guide me.

[2020-05-31 18:02] developerhb commented on #4944
@romani
I figured out that there is already an existing method `XpathQueryGenerator.java` in package `com.puppycrawl.tools.checkstyle.xpath`. But it only works with `DetailAST`. I tried to implement it and it worked.

Now question is for `DetailNode`. In which condition we have a `DatailNode`.

[2020-05-31 19:02] romani commented on #4944
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/DetailNode.java

is `DetailAST` for javadoc trees. We do not support xpath on javadoc for now. when you user want to get xpath on it, you can print in Xpath text area `xpath is not supported yet for javadoc nodes`

[2020-05-31 20:56] #7469 closed

[2020-06-01 04:25] nmancus1 commented on #8023
@pbludov @esilkensen I have made a preliminary attempt at the record grammar, and ran a check behavior regression report on three projects, that can be found here: https://nmancus1.github.io/diff_5_13_initial-records-support/

I think the most challenging part of implementing records will be working around variable declarations such as `LogRecord record = log();`  I have tried a few different sema

[2020-06-01 04:25] developerhb commented on #4944
@romani
Okay I got it. Now, the PR https://github.com/checkstyle/checkstyle/pull/8247 is for layout changes. I want to create a new PR for `generation of Xpath`. But it is completely dependent on the PR that has layout changes. What can I do in such situations?

[2020-06-01 04:39] nmancus1 commented on #8023
Also, I wanted to post some links to articles I found about records here, to make it easy for mentors to find any information and examples of records implementation.

1. A great tool: https://github.com/Randgalt/record-builder
2. Nice article here about records: https://www.baeldung.com/java-record-keyword
3. Another, more in depth article: https://alidg.me/blog/2020/2/9/java14-records-in-depth
4.

[2020-06-01 05:19] pbludov commented on #8267
The checks to be reviewed:
* All annotation checks, as `RECORD_COMPONENT` may  be annotated
* All type-specific checks, as records are another kind of type
* Some whitespace checks, as `{}` (empty body) is common for records

[2020-06-01 05:26] nmancus1 commented on #8267
Thank you, I will make note of any insight for supporting these checks while I work on #8023.

[2020-06-01 08:31] pbaranchikov commented on #8237
My personal point of view is that the main goal of

is to make it possible to create emty construcots/methods etc. with empty body without a space between curly branckets, i.e. `{}`

[2020-06-01 14:29] jo2 commented on #8244
I've updated my suggestion on [https://jo2.github.io/checkstyle-menu-suggestion/](https://jo2.github.io/checkstyle-menu-suggestion/)

@rnveach I managed to reproduce the behaviour you've mentioned. It is an issue with sticky position of the menu. Sticky position was used for displaying the menu at the top of the current window no matter at which scroll position the page is. I now removed the stick

[2020-06-01 14:51] rnveach opened #8291 "Checkstyle freezes on deeply nested lambdas"
Identified at https://github.com/checkstyle/contribution/issues/483 ,

[code]

Checkstyle completely freezes after that and does not respond. It does not seem related to the check being run but the AST.

[2020-06-01 14:55] romani commented on #8291
please share thread dump for this process to see stacktrace of execution during hanginig.

[2020-06-01 15:02] rnveach commented on #8291
How do I share thread dump? Process just hangs and never gives a stack trace.

[2020-06-01 19:24] #8283 closed

[2020-06-02 07:46] #7175 closed

[2020-06-02 07:47] strkkk commented on #7175
Fix is merged

[2020-06-02 14:10] #7765 closed

[2020-06-02 14:10] romani commented on #7765
fix is merged.

[2020-06-02 14:26] romani commented on #7763
I agree full re-implementation is required. But it is doable and backward compatible, so users will not notice anything. I moving this issue to be done at the end of project "Patch suppression".

[2020-06-02 14:48] romani commented on #7762
yes, we place violation on exact line in multiline comments, this is a problem.
single line comments is not a problem.

We need to break behavior compatibility a bit and report violation on beginning of multiline comment (on AST node).
We should value xpath suppression more than convenience of user to position violation on exact line. Such Check unlikely be autofixable and user can easily search r

[2020-06-02 15:06] jo2 commented on #8264
I've uploaded a suggestion on [https://jo2.github.io/checkstyle-font-size/](https://jo2.github.io/checkstyle-font-size/). The size is oriented twoards the 120% to 130% zoom you've mentioned. Please let me know what you think.

We might increase the width of the menu. so the entries are in one line though.

[2020-06-02 15:21] strkkk commented on #8264
@jo2 it looks good but left menu items have like to space between, it looks a bit ugly.
So may it make sense to increase margin for items and make left menu wider.
![image](https://user-images.githubusercontent.com/8901354/83537675-8a2b5c00-a4fd-11ea-91ac-2128f042439b.png)

[2020-06-02 17:19] jo2 commented on #8264
I've added some margin between the menu items and increased the menu width so that every menu item is displayed in a single row.

An aspect which I can't change that easiyl is that the images are stil in the same size, for example the "follow on twitter" image. If you want, I can take a look at this though.

[2020-06-03 02:21] Fernal73 opened #8299 "RedundantModifierCheck throws NullPointerException"
Check documentation:
[RedundantModifier](https://checkstyle.sourceforge.io/config_modifier.html#RedundantModifier)

[code]

---------------

Describe what you expect in detail.

Checkstyle should complete successfully either emitting violations or no error messages when there are none. No NullPointerException as above must occur.

--------------

First reported at Checkstyle Google group:

https:/

[2020-06-03 13:34] romani commented on #7747
fix is merged

[2020-06-03 13:34] #7747 closed

[2020-06-03 13:43] romani commented on #7762
fix is merged.

[2020-06-03 13:43] #7762 closed

[2020-06-03 14:35] HuGanghui commented on #7730
/var/tmp $ cat Test.java
[code]
/var/tmp $ cat config.xml
[code]
/var/tmp $ RUN_LOCALE="-Duser.language=en -Duser.country=US"
/var/tmp $  java $RUN_LOCALE -jar /var/tmp/checkstyle-8.31-SNAPSHOT-all.jar -c config.xml Test.java
Starting audit...
Checkstyle ends with 1 errors.
[ERROR] /Users/hgh/Downloads/my_file/IDEA_workspace/Leetcode_maven/engineering_ability/src/main/java/checkstyle_demo/ast_empt

[2020-06-03 17:36] rnveach commented on #8299
Exception occurs in 8.33 and not in 8.32 .

[2020-06-03 21:34] Fernal73 commented on #8299
Thanks @rnveach , for stripping out the config and properties file.

[2020-06-04 03:05] rnveach commented on #8299
The AST of the resource changed from https://github.com/checkstyle/checkstyle/issues/6332 .

[code]

became

[code]

https://github.com/checkstyle/checkstyle/blob/2e8c277c181487d81231170ff4b959edc008114e/src/main/java/com/puppycrawl/tools/checkstyle/checks/modifier/RedundantModifierCheck.java#L424
Check was written with modifiers always being listed. This is not the case for this field and thus th

[2020-06-04 04:04] Fernal73 commented on #8299
Thanks, @rnveach, for printing out the diff in the ASTs from the two
versions. That beats running the source through the debugger.

The line number printed against the exception does not match the occurence
of the error.

What I'm more concerned with is how auto closing the resource in the try
block of the run method precludes reuse of the Runnable (as it is).

On Thu, 4 Jun 2020, 08:36 rnveach, <

[2020-06-04 09:24] Fernal73 commented on #8299
This is the output in my errors output file for the same with the full configuration that includes all suppression filters.

[code]

[2020-06-04 10:30] Fernal73 commented on #8299
As an aside, I'm open to Checkstyle using my repository to test their new rules when integrating pull requests. You might wish to override the existing suppressions when you do, though.

[2020-06-04 13:58] romani commented on #7766
fix is merged.

[2020-06-04 13:58] #7766 closed

[2020-06-04 14:06] romani commented on #8286
it is possible but not very easy, it is ok to generate file, but we do not print in it that is already done.

[2020-06-04 14:06] #8286 closed

[2020-06-04 14:28] romani commented on #4944
you can make new branch that is based on branch of #8247 and continue development (but keep all new changes in seperate commit - 2 commits) and event send PR. in PR description just mention that first commit should not be reviewed as it is from #8247 and such PR depends on another PR.
no matter how much changes will be in #8247 , you do not reabse on that branch.
Ones #8247  is merged, you will re

[2020-06-04 16:54] nmancus1 commented on #7290
Additional information about and examples of enhanced instanceof with pattern matching for mentors:
1. https://www.baeldung.com/java-pattern-matching-instanceof
2. https://blog.solidsoft.pl/2020/03/03/improved-instanceof-operator-in-java-14/
     this article has a nice tie in with groovy, as well.
3. https://javaalmanac.io/features/instanceof-patterns/
4. https://cr.openjdk.java.net/~briangoetz/a

[2020-06-04 20:39] rnveach commented on #8274
Fix was merged.

[2020-06-04 20:39] #8274 closed

[2020-06-05 13:46] romani commented on #8179
it is not critical on what node to print violation as in java you always have some character after - end of class scope. It would be good to report on previous token, as we always know it is existed and we do not know what will be on next line, this will be more reliable approach I think.

[2020-06-05 14:57] Mmuzaf commented on #8078
@romani @pbludov

Folks,
does everything OK with this issue?
Can I proceed or you need something else?

[2020-06-06 08:54] pbludov commented on #8078
@Mmuzaf sorry for the delay, we have a huge amount of PR during GSOC. And they are in priority while GSOC is underway. As for this issue, there is no need for a dedicated property in the check.

Checkstyle has many ways to suppress violations that don't match the coding style of your team.
For example, you can do this with [XPathSuppression filter](https://checkstyle.org/config_filters.html#Suppre

[2020-06-06 23:48] gaurabdg opened #8306 "Javadoc Modification for Metadata Generation Support"
This issue is to keep track of the changes made to the class level javadocs of checks and filters.

### The corresponding PRs(having 10 checks each) will add
- Datatype of each property
- Parent module of the check/filter
- Violation message keys
- Modified javadoc UTs

### Changes in javadoc HTML pages

- Datatypes
![Screenshot_20200608_054808](https://user-images.githubusercontent.com/23253816/8

[2020-06-06 23:56] rnveach commented on #8306
IMO,

![Screenshot_20200605_235021](https://user-images.githubusercontent.com/23253816/83910058-8874c900-a787-11ea-9627-0fbb330b5d58.png)

Javadoc tries to be as user friendly as possible. When we redid all javadocs, we made sure property descriptions follow a strict pattern, which was grueling in the beginning. IMO, `Datatype - XXX` is not very user friendly. Even default value follows a nice sen

[2020-06-07 04:00] romani commented on #8306
Ok let's try to put type before default value, to match xdoc.

After private discussion with @rnveach , it is ok to use simply "Type is xxxx"

[2020-06-07 09:48] gaurabdg commented on #8306
@romani Okay. Can you please approve for CI to pass?

[2020-06-07 09:51] gaurabdg commented on #8306
@romani @rnveach The reason why type came after default value is that, `Default value is` is not always present in a new line and was getting difficult for me to parse, since I automated the whole process. Similarly when I will write the javadoc parsing utility, I would face some issues. So, in these PRs I would also like to change all such occurences to a new line.

[2020-06-08 02:19] HuGanghui commented on #8179
@romani it' ok to move violation report on previous token, right? If yes, I will plan to solve this issue.

[2020-06-09 05:23] developerhb commented on #4944
@romani before I can create PR for `xpath generation`, I have few questions.

There is existing class named `XpathQueryGenerator.java` which generates xpath query. It has several methods. Out if those, `generateXpathQuery(ast)` is useful in our case. It gives the xpath query of AST Node from the root AST node. But this is private. So, I created following method in `XpathQueryGenerator.java`.

[cod

[2020-06-09 05:29] developerhb commented on #4944
@romani another question is, I added following code in the `TreeTable.java` class. This code is used to generate the xpath of the node selected.

[code]

Here the statement `final FileText fileText = new FileText(file,StandardCharsets.UTF_8.name());` throws an **IOException**. So, I used try and catch block. But I cannot figure out what task to perform in catch block.

Please guide me in this.

[2020-06-09 05:48] romani commented on #7730
Fox is merged

[2020-06-09 05:48] #7730 closed

[2020-06-09 13:26] strkkk commented on #8264
@jo2 I think it is better now, but still items are overlapping
![image](https://user-images.githubusercontent.com/8901354/84152907-ee09d380-aa6d-11ea-9203-7179195f5138.png)

[2020-06-09 14:38] jo2 commented on #8264
I increased the margin at the top and the bottom of the menu entries. I hope it works now

[2020-06-09 14:39] romani commented on #7739
Fix is merged

[2020-06-09 14:39] #7739 closed

[2020-06-09 14:55] strkkk commented on #8264
@jo2 lgtm. I think PR can be created to review changes.

[2020-06-09 16:49] ksclarke commented on #7926
I think I have the same issue so will just update on this ticket rather than create a new one:

Rule: ```https://checkstyle.org/config_misc.html#Indentation```

Test code compiles cleanly:
[code]
Test code:
[code]
Checkstyle config file:
[code]
Running Checkstyle audit:
[code]
My expectation is that this should pass the audit. The second function passed to the method shouldn't be indented any furt

[2020-06-09 19:45] nmancus1 opened #8308 "Java Grammar: need to introduce "id" rule to solve keyword as identifier problem"
In order to facilitate the proper implementation of records grammar, in addition to mitigating other future "keyword as identifier" issues, we need to introduce an "id" rule in the parser, which will replace the use of IDENT:

`id: IDENT;`

### Why?
In the case of 'records':

The basic grammar for records will consist of something similar to `classDefinition`:
[code]
The inclusion of "record" auto

[2020-06-09 20:22] romani opened #8309 "update dependanbot to use it as github feature"
https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

migrate config to native Github support.

[2020-06-09 23:21] rnveach commented on #8308
Won't this cause confusion in the grammar? The text "record" is an "IDENT" already. I can write a java program with that as the variable name with no compile errors.

According to http://cr.openjdk.java.net/~gbierman/jep359/jep359-20191031/specs/records-jls.html#jls-8.10 , record is a whole new declaration and must be written as such.

[2020-06-10 00:10] nmancus1 commented on #8308
I would certainly leave some comments in the grammar as an explanation, but this is the preferred way to deal with this issue.

Once "record" is in the literals table, this becomes a "keyword as identifier" problem. There is definitely other ways to handle this (I've tried at least 50 different implementations ) , but they require too much noise and complexity in the lexer, and will prove difficul

[2020-06-10 01:56] rnveach commented on #8308
I was referring to how antlr processes the grammar. If antlr gets confused or needs to guess to identify the language will cause slowdowns like https://github.com/checkstyle/checkstyle/issues/1064#issuecomment-200387660 and https://github.com/checkstyle/checkstyle/issues/8291 .

If this is necessary for another change than I just wasn't seeing the full picture. It would be helpful to showcase why

[2020-06-10 02:06] nmancus1 commented on #8308
My apologies, I will re-work the issue above, and give more detail.

Is there a good way to quantify this?

[2020-06-10 05:13] esilkensen commented on #8308
Could the regression report tools be configured to optionally include something in the report like, for each project, checkstyle execution time on base branch = A, and on patch branch = B?

[2020-06-10 05:21] pbludov commented on #8267
From #8308

Adding new keywords to a language is very difficult, since they are probably used as identifiers in the existing code. Our parser should accept such keyword as an identifier, but we need a new check. Something like `AvoidUsingKeywordsAsIdentifiers`.

[2020-06-10 05:39] pbludov commented on #8308
@rnveach Our parser should be able to parse existing Java 8 code like [this](https://github.com/CS-SI/Orekit/blob/develop/src/main/java/org/orekit/bodies/JPLEphemeridesLoader.java#L499) and Java 14 code where the `record` is a keyword. And here we come to _positional_ keywords. The approach suggested by Nick is the common way in such cases. We have a keyword, but it can be used as an identifier. A

[2020-06-10 05:57] esilkensen commented on #8308
I wonder if `record` will become an actual keyword by the time it makes it into an official, non-preview release, or if it will continue on as a valid identifier... I'd guess it is a pretty common one.

[2020-06-10 06:15] pbludov commented on #8240
The list of module-info keywords:
`open, module, requires, transitive, exports, opens, to, uses, provides, with`
[The specs](https://docs.oracle.com/javase/specs/jls/se11/html/jls-3.html#jls-3.9) allows to use them as identifiers in the Java code.

[2020-06-10 13:25] romani opened #8311 "Change name of checkstyle types to be close to real java types"
as we agreed at https://github.com/checkstyle/checkstyle/pull/8305#discussion_r436750608

we need to change names of our types in html(xdoc) documentations, it will not be change in functionality, just make naming for exact.

https://checkstyle.org/property_types.html

**Types:**
| old name  | new name  | Comment  |
|---        |---        |---        |
| integer   |  numeric  | it is **not** Inte

[2020-06-10 14:58] 4tuw2tuv0 opened #8312 "NoWhitespaceAfter: Allow for use of DO_WHILE, LITERAL_CATCH, LITERAL_FOR, LITERAL_IF, and LITERAL_WHILE"
https://checkstyle.org/checks/whitespace/nowhitespaceafter.html#NoWhitespaceAfter

[code]
---
**The expectation is that no errors are reported**
We would like to add more tokens to check in NoWhitespaceAfter:
 * at the very least, DO_WHILE, LITERAL_CATCH, LITERAL_FOR, LITERAL_IF, and LITERAL_WHILE,
 * maybe align available tokens for NoWhitespaceAfter, NoWhitespaceBefore and WhitespaceAround,
 * m

[2020-06-11 12:52] gaurabdg commented on #8311
Changes to be made:
`stringSet` -> `stringCollection`

[2020-06-11 13:42] romani commented on #8244
I have very weird behavior :) (chrome on android), hamburger is always jumping from one position to another position in
Here it is in the middle
![Screenshot_20200611-063548](https://user-images.githubusercontent.com/812984/84391714-33cdb580-abae-11ea-94f8-a1fe87b05e7e.png)
but when you operate with it, it may go to be first in this line or last or middle.
Please help to fix it.

additional proble

[2020-06-11 16:01] strkkk commented on #8311
@romani
I suggest change `numeric` to `Number` and `numericCollection` to `numberCollection`
Other things looks fine

[2020-06-12 06:58] pbludov commented on #8308
Most likely, this will remain a restricted name (like ' var`):
[code]
The compiler already issues an error here.

[2020-06-12 12:48] nmancus1 commented on #8308
It should be noted that it is still a valid identifier, just not for classes:
[code]

[2020-06-12 13:42] romani commented on #8311
@strkkk , https://docs.oracle.com/javase/8/docs/api/java/lang/Number.html is type in java, we do not support all sub classes.
`numeric` was used as it is not a type

[2020-06-12 13:59] pbludov commented on #8308
Even this one compiles:
[code]

[2020-06-13 14:12] romani commented on #4944
lets make method public.

yes, we do not have any place  in UI where to show exception, lets print exception to textarea where generated xpath suppose to appear. User will notice it it quickly and I hope it will help him to resolve issue.

[2020-06-13 14:32] developerhb commented on #4944
Okay I will make it public.

Okay. Do we need to make it red in color?
Also, do we need the exception to be printed as it as (default message by java) or we need to process it?

[2020-06-13 15:21] romani commented on #4944
static means that you can use method withtout object `XpathQueryGenerator.generateXpathQuery`.

no need. Simple print is enough.

[2020-06-13 16:17] developerhb commented on #4944
This method was meant to be used inside the class only. So, it was `private` and `static`. Now, we need to call this method for an object. Like,

[code]
The above code cannot be written if the method is static.

Also, if I make the method non-static, it creates problem in below given method. Which is also of class `XpathQueryGenerator`

[code]

[2020-06-13 16:18] developerhb commented on #4944
This also not possible since it uses number of other methods of class `XpathQueryGenerator`. So, we need to find some other way.

[2020-06-13 22:03] romani opened #8315 "Improve violation message of ImportOrder"
Check documentation:
https://checkstyle.org/config_imports.html#CustomImportOrder
https://checkstyle.org/config_imports.html#ImportOrder

detected at https://github.com/checkstyle/checkstyle/issues/8241#issuecomment-629688932

[code]

ImportOrder message is very obscure. Should be close/similar to CustomImportOrder message.

**Migration notes:**
any suppression that uses message content should be

[2020-06-13 22:04] romani commented on #8241
@astappiev , I moved your concern to https://github.com/checkstyle/checkstyle/issues/8315, you are welcome with PR.

[2020-06-14 03:43] developerhb commented on #4944
@romani
I solved the above problem.

I made the method `generateXpathQuery()` **public** and **non-static** and made following changes in method `generate()`

[code]
I used `lambda-expression`

[2020-06-14 03:48] developerhb commented on #4944
@romani
Please help me in solving the following error is `mvn clean verify`

[code]

[2020-06-14 05:39] romani commented on #4944
You need to allow import at https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml#L158 we do this to control dependencies between packages and ... We are library project, not a final application, so it makes sense.

[2020-06-14 05:53] romani commented on #8179
Right. You are welcome to send PR

[2020-06-14 06:32] developerhb commented on #4944
@romani
Also I am getting this error.

[code]

[2020-06-14 07:08] developerhb commented on #4944
@romani

In this code,
[code]

I am getting this error.

[code]
How can I solve this? I have used lambda expressions for first time. So, I can't figure out this error.

[2020-06-14 14:48] romani commented on #8270
fix is merged

[2020-06-14 14:48] #8270 closed

[2020-06-14 15:56] rnveach commented on #8227
Issue is approved, but we should look to build cases to kill issues before removing/changing code.

[2020-06-15 01:58] rnveach commented on #8311
I am fine with names but I would like to consistency with casing. Some start with uppercase, some start with lowercase. I think all should upper case to follow class names.

After seeing list, do we want to have another issue to change all enum class names to be `XxxOption`?

[2020-06-15 03:24] romani commented on #8311
All lowercase are intentional, I try clearly show that it is not a type of java and it is something special.

[2020-06-15 11:33] jo2 commented on #8244
In regards to your second problem: I think [this example](https://jo2.github.io/checkstyle-menu-suggestion/config_design.html#InnerTypeLast) represents what you've mentioned. The menu opens (you can see it in the scroll position in the scrollbar) but the menu is at the top of the page (as mentioned [here](https://github.com/checkstyle/checkstyle/issues/8244#issuecomment-634729047).

In regards to

[2020-06-15 13:57] strkkk commented on #8311
I am ok

[2020-06-15 14:36] rnveach commented on #8311
My remark was that not all are lowercase. String is uppercase, while numeric is lowercase. All the enums are uppercase.

We can keep Scope as is as I think we will remove this enum eventually.

I agree.

[2020-06-16 05:16] developerhb commented on #4944
@romani The above errors are resolved.

[2020-06-16 14:36] romani commented on #8311
confusion with lowercase can be resolved is we convert our some specific parsing to exact java type
and unhide all hidden details of `integer` and other less frequent types.

PROPOSAL:

remove `integer` and `intSet` and use show user real types we support(taken from our code):

boolean
Boolean
boolean[]

char
Character
char[]

byte
Byte
byte[]

short
Short
short[]

int
Integer
int[]

long
Long
lon

[2020-06-16 15:16] rnveach commented on #8311
Converter never played a part in type display for xdoc. It is literally only for making setters a bit nicer, and have common functionality. So I agree to ignore them.

I don't see how this will help the users. We will say type is String which will either point to our area that says String is free form or will be known as free form, but then we will display another notice that you are restricted to

[2020-06-16 16:52] shashwat70 commented on #8315
May I work on this? @romani

[2020-06-16 18:59] romani commented on #8311
Are you ok if we be exact on type in javadoc and metadata file BUT we will simplify it in xdoc to hide non required details?

[2020-06-16 20:04] rnveach commented on #8311
I am hesitant to say yes to javadoc, but it is more technical documentation so there is some merit in making it known there. I won't put up a fuss on that.

Technically everything is a String once we remove the converters. As we said, converters won't play a role here. If we remove the converters, everything would have a String setter, so we would need to specify everything as a String as an alter

[2020-06-16 21:44] nmancus1 commented on #7103
@esilkensen @pbludov if this looks good, I should be able to submit a PR this week:

[code]

[2020-06-17 07:58] esilkensen commented on #7103
Thanks @nmancus1, that looks good to me

[2020-06-17 09:35] pbludov commented on #7103
One thought is that the Java compiler removes whitespace at the beginning of the each line. AST can be similar to AST for Javadoc:
[code]

But I'm not sure it's a good idea. For this block
[code]
The text will be
[code]
So it's not obvious where the whitespace ends and the text begins.

I agree with this proposal. It can be improved in the future, if necessary.

[2020-06-17 17:29] Strontsitskyi opened #8323 "'Optional.ifPresentOrElse()' else block produces Indentation error"
Check documentation: https://checkstyle.org/config_misc.html#Indentation

D:\>type config.xml
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="Indentation"/>
      <property name="basicOffset" value="4"/

[2020-06-17 17:51] Strontsitskyi commented on #8323
![image](https://user-images.githubusercontent.com/62109022/84931931-2fd4f280-b0dc-11ea-87fe-d64f34d73675.png)
for some reason i can't add config.xml content, so added screan

[2020-06-17 17:55] Strontsitskyi commented on #8323
![image](https://user-images.githubusercontent.com/62109022/84932263-b7bafc80-b0dc-11ea-9251-84b24182af34.png)
same behavior in IDE

[2020-06-17 18:09] rnveach commented on #8323
@Strontsitskyi Please see https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F on how to report a bug. We need the text version and with better formatting to be able to read it and to be able to reproduce your issue.

[2020-06-17 19:00] Strontsitskyi commented on #8323
@rnveach please see description updated

[2020-06-19 08:46] pbludov opened #8325 "Use JDK11 for wercker"
Wercker build are failing with
[code]
example build: https://app.wercker.com/checkstyle/checkstyle/runs/build/5eeb7b817b63df001a1e91a2?step=5eeb7bbf1ccc980008b812b3

This is due to Hibernate team recently [set 11 as minimal Java version](https://github.com/hibernate/hibernate-search/commit/d1d5243f59fb8bdb6f3150551c9e9cfa178f5357)

The wercker is already compatible with Java 11, we should update m

[2020-06-19 10:25] pbludov commented on #8325
Now it fails on no-error-sevntu-checks

[code]

[2020-06-19 10:27] pbludov commented on #8325
The root case is cobertura:

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.codehaus.mojo:cobertura-maven-plugin:2.7:instrument (default) on project sevntu-checks: Execution default of goal org.codehaus.mojo:cobertura-maven-plugin:2.7:instrument failed: Plugin org.codehaus.mojo:cobertura-maven-plugin:2.7 or one of its dependencies could not be resolved: Could no

[2020-06-19 15:27] romani commented on #8311
Right now we have both case:
- Exact type
- String that hide exact type

The reason behind usage of "String that hide exact type" is because exact types usage in Checks properties/setters force us to make converter, but converters are located in API package . We afraid to extend API by such item, and we would like to keep exact type of property close to Check and let it have the same lifecycle as

[2020-06-19 16:04] gaurabdg commented on #8311
@romani Why are not all enum types appended with "Option" suffix? (`closingParens`, `elementStyle` ...)

[2020-06-19 16:17] rnveach commented on #8311
Most likely, it was from a lack of detailed review for the naming convention when they were first implemented. We only cared about the xdoc name and didn't think much of the enum since it wasn't being documented to users. With documentation now in extract file, it is coming more to light and thats why we said we would fix all their names.

[2020-06-19 17:46] nmancus1 commented on #7103
@pbludov What do you think about this:
[code]

[2020-06-20 17:31] Abhishek-kumar09 commented on #5951
@romani @rnveach

Should `AnnotationArrayInit` follow the same rulesets as `arrayInit` does. Or it should have different rulesets.

[2020-06-20 19:06] #7834 closed

[2020-06-20 19:07] romani commented on #7834
fix is merged

[2020-06-20 22:36] romani opened #8328 "Change name of checkstyle types to match real java types"
as we agreed at https://github.com/checkstyle/checkstyle/pull/8305#discussion_r436750608
discussed at https://github.com/checkstyle/checkstyle/issues/8311

we need to change names of our types in html(xdoc) documentations, it will not be change in functionality, just make naming for exact.

https://checkstyle.org/property_types.html

**Types:**
| old name  | new name  | Comment  |
|---        |---

[2020-06-20 22:43] romani commented on #8311
all actions will be #8328

[2020-06-20 22:43] #8311 closed

[2020-06-21 08:37] #8325 closed

[2020-06-21 08:37] pbludov commented on #8325
The fix is merged.

[2020-06-21 08:44] pbludov commented on #7103
I don't see how this option is good. For text blocks, we may need two views: the original (raw) one, as in the file: with all whitespace, and the one that the compiler produces after removing the initial spaces. Let's leave the raw version, and use some utility method to get the trimmed version if need.

[2020-06-21 12:12] nmancus1 commented on #7103
I haven't removed any white space; this is just as it is in the file, line by line. I believe this approach is superior since you can clearly see what text is on which line, and what column that the text ends on. This approach also allows users to easily discern between a true newline, and one that is typed in the text block. After seeing your idea above, it became clear to me that it would be bac

[2020-06-21 16:29] esilkensen commented on #7103
I think the AST in https://github.com/checkstyle/checkstyle/issues/7103#issuecomment-645028044 matches what I would it expect it to be after reading the spec, i.e. "A text block consists of zero or more content characters, enclosed by opening and closing delimiters." It makes me think of those 3 AST nodes:
- `TEXT_BLOCK_LITERAL_BEGIN` "The opening delimiter is a sequence of three double quote char

[2020-06-21 19:15] esilkensen commented on #7103
I'm not sure I follow here: what do you mean by true newline vs. one typed in a text block?

If the only reason to add the extra `NEWLINE` structure to the AST is visualizing it / human readability of the printed tree, then it seems better to me to keep the simpler tree that you described in https://github.com/checkstyle/checkstyle/issues/7103#issuecomment-645028044.

On the other hand if there we

[2020-06-21 22:54] nmancus1 commented on #7103
Since we can use escaped characters such as `\n` (as in the `String escape` example above), when you read example 1, you see: `<html>\u000D\u000A\n\n`.  In example 2, you only see `<html>\u000D\u000A\n` that is intended to be the "content" of the text block, not the real control characters. the "real" newline is the newline that is after the first TEXT_BLOCK_CONTENT node.

This is a good point, an

[2020-06-22 03:13] Fernal73 opened #8330 "Add granularity to switch -g when generating Xpath suppressions."
**Checkstyle Xpath suppression generation with -g outputs suppressions for all existing violations. **

The -g option to output Xpath suppressions covers all existing violations. No granularity exists to specify that suppressions for only a single rule or set of specific, multiple rules be targeted.

**Describe the solution you'd like**
Another switch that allows user to specify set of rules for w

[2020-06-23 15:24] romani commented on #7734
@Abhishek-kumar09 , thanks a lot for your hard work. It is the most complicated module in checkstyle, but you managed to make change with proper testing.
I am looking forward for new contributions.

[2020-06-23 15:24] #7734 closed

[2020-06-23 15:28] Abhishek-kumar09 commented on #7734
Thanks for your kind comment @romani :)

[2020-06-24 14:35] romani opened #8336 "Resolve Sonar violation 'This branch's code block is the same as the block for the branch on line'"
Sonar violation https://sonarcloud.io/project/issues?id=org.checkstyle%3Acheckstyle&open=AXLiCslKkpVZ0x1TON5t&resolved=false&severities=MAJOR

![image](https://user-images.githubusercontent.com/812984/85576306-27554e00-b5ed-11ea-827b-c114472a0c03.png)

Code looks very strange, lets investigate it.

code was recently added in https://github.com/checkstyle/checkstyle/blame/master/src/main/java/com/p

[2020-06-24 14:36] romani commented on #8336
@Abhishek-kumar09 , please address

[2020-06-24 16:37] Abhishek-kumar09 commented on #8336
OK @romani , I am on it.

[2020-06-25 10:10] Fernal73 opened #8340 "Allow Ant task to support generation of Xpath suppressions."
**Is your feature request related to a problem? Please describe.**
Ant task does not support generation of Xpath suppressions.

**Describe the solution you'd like**

It would be nice to have the [Ant task](https://checkstyle.sourceforge.io/anttask.html) modified to generate Xpath suppressions as currently possible through the CLI using the -g switch.

https://checkstyle.sourceforge.io/cmdline.html

[2020-06-25 11:04] strkkk commented on #8340
@Fernal73 It is not clear what do you mean. Please follow issue template to show what the problem is.

[2020-06-25 11:43] strkkk opened #8341 "New check: LambdaBodyLength"
Idea came from https://stackoverflow.com/questions/62565319/how-to-forbid-multi-line-lambdas-by-static-analysis
There is no way to control size of lambdas, but long lambdas are hard to read.
https://checkstyle.org/config_sizes.html#AnonInnerLength has similar idea.

Options:
max - number of max lines to produce violation. By default, it is 10 (?)

[code]
Violation should occur on line with `// vio

[2020-06-25 11:54] Fernal73 commented on #8340
What's not clear, @strkkk ?
My post or the command line documentation for -g?
Updated post above with link to discussion on Maven User Group...

[2020-06-25 12:52] Fernal73 commented on #8340
What do you mean, @strkk? I'm simply asking for the feature of generating Xpath suppressions to be added to the ant task as well. Is this still an experimental feature?

[2020-06-25 14:04] romani commented on #8308
fix is merged

[2020-06-25 14:04] #8308 closed

[2020-06-25 15:54] Fernal73 commented on #8340
Wrt to the command line usage, is there any particular reason to disallow specifying a directory to be processed? Should I raise another issue for that?

[2020-06-26 02:31] Fernal73 opened #8344 "Checkstyle CLI should accept directories as input"
**Is your feature request related to a problem? Please describe.**
The CLI does not accept directories as input. This must be allowed.

**Describe the solution you'd like**
Process all files under the directories specified. The input can be a mix of directories and files.

Referred from:

https://github.com/checkstyle/checkstyle/issues/8340#issuecomment-649640571

http://maven.40175.n5.nabble.com/

[2020-06-26 13:49] #8266 closed

[2020-06-26 13:50] romani commented on #8266
fix is merged.

[2020-06-27 16:47] pbludov opened #8345 "Add TokenUtil.isTypeDeclaration method"
There is number of code fragments like
[code]
This becomes clearer if we wrap such checks in a utility method. Something like `TokenUtil.isTypeDeclaration(tokenType)`
After #8267 there should be a check for `TokenTypes.RECORD_DEF` too.

_Originally posted by @pbludov in https://github.com/checkstyle/checkstyle/pull/8175_

[2020-06-28 23:43] romani commented on #8336
fix is merged.

[2020-06-28 23:43] #8336 closed

[2020-06-28 23:55] #8299 closed

[2020-06-28 23:55] romani commented on #8299
fix is merged.

[2020-06-29 14:28] nmancus1 opened #8350 "SuppressWarnings throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_annotation.html#SuppressWarnings
Identified at #8294
[code]

---------------

I expect this code to be successfully parsed by checkstyle.  The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `findFirstAnnotation()` tries to reference t

[2020-06-29 14:33] nmancus1 opened #8351 "Indentation check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.org/config_misc.html#Indentation
Identified at #8294

[code]
---------------
I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `checkIndentation()` tries to reference the modifiers AST, it is nul

[2020-06-29 14:38] nmancus1 opened #8352 "ConstantName check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#ConstantName
Identified at #8294

[code]
---------------

I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `mustCheckName()` tries to reference the modifiers AS

[2020-06-29 14:42] nmancus1 opened #8353 "LocalVariableName check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#LocalVariableName
Identified at #8294

[code]

---------------

I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `mustCheckName()` tries to reference the modifi

[2020-06-29 14:45] nmancus1 opened #8354 "MemberName check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#MemberName
Identified at #8294

[code]

---------------

I expect this code to be successfully parsed by checkstyle, and a violation shown for `Object obj = "string"`. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `mu

[2020-06-29 14:47] nmancus1 opened #8355 "StaticVariableName check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#StaticVariableName
Identified at #8294

[code]

---------------

I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `mustCheckName()` tries to reference the modif

[2020-06-29 14:50] nmancus1 opened #8356 "LocalFinalVariableName check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#LocalFinalVariableName
Identified at #8294

[code]

---------------

I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the` PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `mustCheckName()` tries to reference the m

[2020-06-29 15:01] nmancus1 opened #8357 "FinalLocalVariable check throws NPE when used on Java14 enhanced instanceof syntax"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#FinalLocalVariable
Identified at #8294

[code]

---------------

I expect this code to be successfully parsed by checkstyle. The issue is that since the `VARIABLE_DEF` child of the `PATTERN_DEF` AST has no modifiers AST (unlike a typical variable definition), when `visitToken()` tries to reference the modifier

[2020-06-29 18:55] nmancus1 opened #8359 "Java14 enhanced instanceof check validation: AnnotationOnSameLineCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_annotation.html#AnnotationOnSameLine
Identified at #8294 (comment)

We need to validate that AnnotationOnSameLineCheck works as intended once #8294 is merged.

[2020-06-29 18:55] nmancus1 opened #8360 "Java14 enhanced instanceof check validation: AnnotationLocationCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_annotation.html#AnnotationLocation
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that AnnotationLocationCheck works as intended once #8294 is merged.

[2020-06-29 18:56] nmancus1 opened #8361 "Java14 enhanced instanceof check validation: DeclarationOrderCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#DeclarationOrder
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that DeclarationOrderCheck works as intended once #8294 is merged.

[2020-06-29 18:58] nmancus1 opened #8362 "Java14 enhanced instanceof check validation: EqualsAvoidNullCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#EqualsAvoidNull
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that EqualsAvoidNullCheck works as intended once #8294 is merged.

[2020-06-29 18:59] nmancus1 opened #8363 "Java14 enhanced instanceof check validation: ExplicitInitializationCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#ExplicitInitialization
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that ExplicitInitializationCheck works as intended once #8294 is merged.

[2020-06-29 19:00] nmancus1 opened #8364 "Java14 enhanced instanceof check validation: HiddenFieldCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#HiddenField
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that HiddenFieldCheck works as intended once #8294 is merged.

From check documentation:
_Checks that a local variable or a parameter does not shadow a field that is defined in the same clas

[2020-06-29 19:02] nmancus1 opened #8365 "Java14 enhanced instanceof check validation: IllegalTypeCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#IllegalType
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that IllegalTypeCheck works as intended once #8294 is merged.

[2020-06-29 19:04] nmancus1 opened #8366 "Java14 enhanced instanceof check validation: InnerAssignmentCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#InnerAssignment
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that InnerAssignmentCheck works as intended once #8294 is merged.
[code]
InnerAssignment check seems to be working as intended, I think we can close this one @pbludov @esilkensen

[2020-06-29 19:05] nmancus1 opened #8367 "Java14 enhanced instanceof check validation: MagicNumberCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#MagicNumber
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that MagicNumberCheck works as intended once #8294 is merged.

From [JLS](https://docs.oracle.com/javase/specs/jls/se14/preview/specs/patterns-instanceof-jls.html):

_Four kinds of variable

[2020-06-29 19:07] nmancus1 opened #8368 "Java14 enhanced instanceof check validation: ModifiedControlVariableCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#ModifiedControlVariable
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that ModifiedControlVariableCheck works as intended once #8294 is merged.

[2020-06-29 19:09] nmancus1 opened #8369 "Java14 enhanced instanceof check validation: MultipleVariableDeclarationsCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#MultipleVariableDeclarations
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that MultipleVariableDeclarationsCheck works as intended once #8294 is merged.

[2020-06-29 19:10] nmancus1 opened #8370 "Java14 enhanced instanceof check validation: RequireThisCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#RequireThis
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that RequireThisCheck works as intended once #8294 is merged.

[2020-06-29 19:11] nmancus1 opened #8371 "Java14 enhanced instanceof check validation: UnnecessarySemicolonAfterTypeMemberDeclarationCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#UnnecessarySemicolonAfterTypeMemberDeclaration
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that UnnecessarySemicolonAfterTypeMemberDeclarationCheck works as intended once #8294 is merged.

[2020-06-29 19:13] nmancus1 opened #8372 "Java14 enhanced instanceof check validation: VariableDeclarationUsageDistanceCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_coding.html#VariableDeclarationUsageDistance
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that VariableDeclarationUsageDistanceCheck works as intended once #8294 is merged.

[2020-06-29 19:14] nmancus1 opened #8373 "Java14 enhanced instanceof check validation: HideUtilityClassConstructorCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_design.html#HideUtilityClassConstructor
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that HideUtilityClassConstructorCheck works as intended once #8294 is merged.

[2020-06-29 19:15] nmancus1 opened #8374 "Java14 enhanced instanceof check validation: InnerTypeLastCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_design.html#InnerTypeLast
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that InnerTypeLastCheck works as intended once #8294 is merged.

[2020-06-29 19:16] nmancus1 opened #8375 "Java14 enhanced instanceof check validation: InterfaceIsTypeCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_design.html#InterfaceIsType
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that InterfaceIsTypeCheck works as intended once #8294 is merged.

[2020-06-29 19:17] nmancus1 opened #8376 "Java14 enhanced instanceof check validation: MutableExceptionCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_design.html#MutableException
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that MutableExceptionCheck works as intended once #8294 is merged.

[2020-06-29 19:18] nmancus1 opened #8377 "Java14 enhanced instanceof check validation: VisibilityModifierCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_design.html#VisibilityModifier
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that VisibilityModifierCheck works as intended once #8294 is merged.

[2020-06-29 19:22] nmancus1 opened #8378 "Java14 enhanced instanceof check validation: FinalParametersCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_misc.html#FinalParameters
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that FinalParametersCheck works as intended once #8294 is merged.

[2020-06-29 19:24] nmancus1 opened #8379 "Java14 enhanced instanceof check validation: UnusedImportsCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_imports.html#UnusedImports
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From check documentation:
_Checks for unused import statements_

This check should not apply to pattern variables.

[2020-06-29 19:25] nmancus1 opened #8380 "Java14 enhanced instanceof check validation: AtclauseOrderCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#AtclauseOrder
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From the documentation:
_Checks the order of javadoc block-tags or javadoc tags._

This check should not apply to pattern variables.

[2020-06-29 19:26] nmancus1 opened #8381 "Java14 enhanced instanceof check validation: JavadocStyleCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#JavadocStyle
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From documentation:
_Validates Javadoc comments to help ensure they are well formed._

This check does not apply to pattern variables.

[2020-06-29 19:31] nmancus1 opened #8382 "Java14 enhanced instanceof check validation: JavadocVariableCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#JavadocVariable
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From documentation:
_Checks that a variable has a Javadoc comment. Ignores serialVersionUID fields._
_..._
_subset of tokens ENUM_CONSTANT_DEF_

This check should not apply to pattern variables.

[2020-06-29 19:32] nmancus1 opened #8383 "Java14 enhanced instanceof check validation: JavaNCSSCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_metrics.html#JavaNCSS
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From check documentation:
_Determines complexity of methods, classes and files by counting the Non Commenting Source Statements (NCSS)...  the NCSS metric is calculated by counting the source lines which are not

[2020-06-29 19:34] nmancus1 opened #8384 "Java14 enhanced instanceof check validation: InterfaceMemberImpliedModifierCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_modifier.html#InterfaceMemberImpliedModifier
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From check documentation:
_This check is effectively the opposite of RedundantModifier. It checks the modifiers on interface members, ensuring that certain modifiers are explicitly specifie

[2020-06-29 19:36] nmancus1 opened #8385 "Java14 enhanced instanceof check validation: ModifierOrderCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_modifier.html#ModifierOrder
Identifed at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From [JEP](https://openjdk.java.net/jeps/305):
_RelationalExpression:_
     _..._
     _RelationalExpression_ instanceof _ReferenceType_
     _RelationalExpression_ instanceof _Pattern_

_Pattern:_
     _Ref

[2020-06-29 19:38] nmancus1 opened #8386 "Java14 enhanced instanceof check validation: RedundantModifierCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_modifier.html#RedundantModifier
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

We need to validate that RedundantModifierCheck works as intended once #8294 is merged.

[2020-06-29 19:39] nmancus1 opened #8387 "Java14 enhanced instanceof check validation: AbbreviationAsWordInNameCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#AbbreviationAsWordInName

From check documentation:
_Validates abbreviations (consecutive capital letters) length in identifier name, it also allows to enforce camel case naming._

This check should apply to enhanced instanceof syntax, but currently, PATTERN_VARIABLE_DEF is not an acceptable token.
[code]

[2020-06-29 19:41] nmancus1 opened #8388 "Java14 enhanced instanceof check validation: EmptyLineSeparatorCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_whitespace.html#EmptyLineSeparator
Identified at https://github.com/checkstyle/checkstyle/pull/8294#issuecomment-650896023

From check documentation:
_Checks for empty line separators after header, package, all import declarations, fields, constructors, methods, nested classes, static initializers and instance initializer

[2020-06-30 12:25] nmancus1 opened #8391 "Validation of All Checks Related to Addition of Java14 Enhanced instanceof Grammar"
This issue will be the main tracker of all work related to checks impacted by merging https://github.com/checkstyle/checkstyle/pull/8401.

## SUMMARY
Possibly affected checks, and those that should apply to this syntax, are listed below. Since we have created a new token, we will need to add this token to specific checks that do apply.  The below list was determined by grep'ing the checks director

[2020-06-30 13:40] romani commented on #8364
it is syntax sugar, and it is local variable with scope in IF expression and blocks.

I think it should be violation. As hiding is happening printed value will not be value of field.

[2020-06-30 15:50] #8264 closed

[2020-06-30 15:51] rnveach commented on #8264
Fix was merged.

[2020-06-30 18:00] gaurabdg commented on #8328
## Inconsistency in Regular Expression properties
There are almost 71 properties having `regexp` type.
But only 43 have `Pattern` in their setter, others have `String`. So how do we go about this? Mentioning String in property type in xdoc will create confusion and not give the user guidance that the string will be later compiled into a Pattern and might have illegal pattern errors.

[2020-07-01 12:40] jo2 commented on #8244
I made previews for both alternatives now:
* [menu in relative position](https://jo2.github.io/checkstyle-menu-relative/)
* [menu sticky at the top of the screen](https://jo2.github.io/checkstyle-menu-sticky/)

Please let me know what you think.

[2020-07-01 14:12] romani commented on #8328
We should face reality, if Check has it as "String" it is string, and no matter what is intention or future plans, we should be just honest and transparent with user. If String is interpretet as Regexp this should be referenced in description of property.
Ones in future we decide to upgrade all Checks to have Pattern as type metadata file will be updated automatically.

Please match on what we hav

[2020-07-01 16:46] rnveach commented on #8386
Pattern variables are considered `final` so I would think `final` should be seen as redundant.
https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-4.12.4

[2020-07-01 16:47] rnveach commented on #8378
Pattern variables are considered `final` so I would think there should be no violation on these.
https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-4.12.4

[2020-07-01 16:51] rnveach commented on #8356
Pattern variables are considered `final` and are essentially local so I would think these variables should be examined for the naming convention and possible violations.
https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-4.12.4

[2020-07-01 16:52] rnveach commented on #8357
Pattern variables are considered `final` so I would expect them to not print any violations.
https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-4.12.4

[2020-07-02 02:03] nmancus1 commented on #8355
From [JLS](https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-6.3.1):

_A variable declared in a pattern is known as a pattern variable (14.30). Pattern variables differ from other local variables in that they can only be assigned a value by pattern matching (14.30.3). This process is conditional; a pattern variable is only assigned a value if the pattern match s

[2020-07-02 02:41] rnveach commented on #8328
Field takes precedence over setter in verifying what should be put in documentation. Only ones listed in `PROPERTIES_ALLOWED_GET_TYPES_FROM_METHOD` are we allowed to retrieve type from method, and that is still only if field is not found.

I don't think it is a good idea to display the type as String when it is really handled as a Pattern. It is misleading and will just cause confusion on what the

[2020-07-02 11:22] nmancus1 commented on #8386
I agree, but there are no modifiers allowed in a pattern.

From [JEP](https://openjdk.java.net/jeps/305):
_RelationalExpression:_
     _..._
     _RelationalExpression_ instanceof _ReferenceType_
     _RelationalExpression_ instanceof _Pattern_

_Pattern:_
     _ReferenceType Identifier_

This check should not apply to #8294.

[2020-07-02 11:31] nmancus1 commented on #8328
@rnveach I'm confused about what you are referencing in this comment.

[2020-07-02 11:52] rnveach commented on #8328
But only 43 have Pattern in their setter, others have String.

It was referencing this comment. I wasn't matching up with your numbers, but I may have rushed to creating a dump to look at the issue to see if there was a way to fix it without going to documenting regular expression as string. This is why I provided my full dump to see if something could be identified as I missed or got wrong.

[2020-07-02 11:55] nmancus1 commented on #8328
@rnveach that is @gaurabdg's comment: https://github.com/checkstyle/checkstyle/issues/8328#issuecomment-651952351

[2020-07-02 12:01] gaurabdg commented on #8328
@rnveach I ran a project search with the regex `void.*set.*\(Pattern`. It returned 43 matches, the rest I think are `String` setters. So I guess its more than 5, since total Pattern properties according to your dump is 60.

[2020-07-02 12:04] rnveach commented on #8328
Sorry. My bad.

[2020-07-02 12:59] pbludov commented on #8367
I don't understand the relationship between `MagicNumberCheck` and the operator `instanceof`.
The variable inside the new `instanceof` operator does not have an initializer. So it can not be an ancestor of a numeric literal in the AST. Thus, there will be no new violations.

[2020-07-02 13:04] nmancus1 commented on #8367
@pbludov We can close this, right?

[2020-07-02 13:08] pbludov commented on #8366
I agree. `InnerAssignmentCheck` handles the assignment operator (in all forms) and there are no changes here.

[2020-07-02 13:10] pbludov commented on #8367
Yes, I think this issue can be closed.

[2020-07-02 13:11] #8366 closed

[2020-07-02 13:11] #8367 closed

[2020-07-02 21:00] rnveach commented on #8369
Can we have 2 different pattern variables in the same if condition? If so, it sounds to me like this would be a violation.

[2020-07-02 21:06] nmancus1 commented on #8369
This is valid, so yes.

[code]

[2020-07-03 00:48] romani commented on #8328
SuppressionSingleFilter - checks - Pattern - String
SuppressionXpathSingleFilter - files - Pattern - String
IllegalTokenTextCheck - format - Pattern - String
ImportOrderCheck - groups - Pattern[] - String[]
ImportOrderCheck - staticGroups - Pattern[] - String[]

[2020-07-04 02:17] romani commented on #8369
No, this Check should ignore this, each variable has separate type mentioning.

https://checkstyle.sourceforge.io/styleguides/sun-code-conventions-19990420/CodeConventions.doc5.html#a2992

[code]

[2020-07-04 02:20] romani commented on #8366
Please remove JavadocPackage from issue description

[2020-07-04 03:07] romani commented on #8244
Unfortunately non of them I like, user experience is weird.

What if address it differently.
We had a problem when user navigate in menu but due to long menu user do not see that he actually on different pages - this was original problem.

So we can make for mobile mode menu to be colabsed to single row by default, with link to expand. User control himself how to show it. When use scrolled to midd

[2020-07-04 06:10] pbludov commented on #8374
This check validates the order of members for a class. This check should be not affected by  #8294.

[2020-07-04 06:10] #8374 closed

[2020-07-04 06:38] pbludov opened #8394 "InnerTypeLast should handle ctors and static init blocks"
https://checkstyle.sourceforge.io/config_design.html#InnerTypeLast
From the Check description:

It is a bit unclear whether **constructors** should be declared before an inner type. I think they should be.

$ javac TestClass.java
[code]

$ cat config.xml
[code]

$ cat TestClass.java
[code]

$ RUN_LOCALE="-Duser.language=en -Duser.country=US"
$ java $RUN_LOCALE -jar checkstyle-8.34-all.jar -c confi

[2020-07-04 19:22] trbehera opened #8396 "Indent issue with multiline method call"
Check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck

[code]

For Windows users, please use `type` instead of `cat` and run
[code]
in place of the last 2 commands above.

---------------

**The issue is being observed since commit 284278fde Issue #6210: Use lineWrappingIndentation in multiline method call**

--------------

Still not clear ???
see example - https://ch

[2020-07-04 22:28] romani opened #8397 "Ability to keep mobile mode when mobie phone is vertical position"
web site in horizontal layout of mobile phone should be in mobile mode (left panel should be on top).
Here is how it looks like:
![Screenshot_20200704-151539](https://user-images.githubusercontent.com/812984/86521727-64012080-be09-11ea-80c5-8ad789975291.png)
 table content is cut:
![Screenshot_20200704-152004](https://user-images.githubusercontent.com/812984/86521791-146f2480-be0a-11ea-8391-306862

[2020-07-04 22:28] romani commented on #8397
@jo2 , your help is much appreciated.

[2020-07-04 22:41] romani commented on #8328
@gaurabdg , please fix ordering in types.
![image](https://user-images.githubusercontent.com/812984/86522022-c0b20a80-be0c-11ea-8455-56671e595fa3.png)

please make it simply alphabetical but please put lowercased in front it will looks better to my mind (in ASCII uppercase goes in front )

[2020-07-05 15:58] gaurabdg commented on #8328
A few cases were missed here. There are total 9 occurences where field class and setterr type is different.

[code]
Code added to `getFieldClass`:
At the beginning:
`        final PropertyDescriptor descriptor1 = PropertyUtils.getPropertyDescriptor(instance,
                propertyName);
        Class<?> type1 = descriptor1.getPropertyType();`
At the end:
`        System.out.println(sectionName +

[2020-07-05 16:37] nik9000 opened #8399 "super::clone breaks SuperCloneCheck"
https://checkstyle.org/config_coding.html#SuperClone
https://checkstyle.org/config_coding.html#SuperFinalize

[code]

---------------

**Describe what you expect in detail.**
I'm unsure if the built in check should pass when you make a reference to the superclass implementation. I was looking at extending `AbstractSuperCheck` to force calling `super.close()` in implementations of `close`. In my ca

[2020-07-05 18:07] nik9000 commented on #8399
It looks like I was a bit confused. You can't actually call `super.close` when there isn't a concrete superclass implementation. And checkstyle can't really check for that because it doesn't have type information. So I can't get what I was looking for anyway. But the NPE still stands, I guess.

[2020-07-06 00:24] romani commented on #8328
detected at https://github.com/checkstyle/checkstyle/pull/8400 , there is type "regexp", should it be renamed to "Regular Expression" ?

[2020-07-06 02:23] rnveach commented on #8369
The documentation also states.

int foo,  fooarray[]; //WRONG!

[2020-07-06 02:37] rnveach commented on #8344
We do accept directories as input.
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Main.java#L227

We would need to know more information about your issue to help.

[2020-07-06 02:40] rnveach commented on #8340
Why do you want ant task to generate suppressions for you? Ant is more for batch commands and I don't see xpath suppression generation as really being batch friendly since it doesn't save to any file.

[2020-07-06 02:46] Fernal73 commented on #8340
[code]

My workflow for Xpath suppressions. Could this be done in an ant task?

The Xpath suppression file value matches the one in the config file.

[2020-07-06 03:19] rnveach commented on #8394
I agree ctors should be included. I question static ctors and instance ctors without the method declaration, but I think it does make some sense they are included too.

[2020-07-06 03:41] #8350 closed

[2020-07-06 03:42] #8352 closed

[2020-07-06 03:42] #8353 closed

[2020-07-06 03:43] nmancus1 commented on #8350
Since we have changed the implementation of #8294, and this check no longer causes NPE, I am closing this issue.

[2020-07-06 03:45] Fernal73 commented on #8344
Hmm.... so it seems.
Let me check out and see what is the problem again.
I had a problem running Checkstyle through the javaexec goal of the Exec Maven plugin.
It was not finding the <files> parameter despite specifying the directory.
The directory works currently through the command line though it picks up more than just the Java sources under the directory.

[2020-07-06 03:46] nmancus1 commented on #8351
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:49] nmancus1 commented on #8352
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:49] nmancus1 commented on #8353
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:50] nmancus1 commented on #8355
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:50] #8355 closed

[2020-07-06 03:50] nmancus1 commented on #8354
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:50] #8354 closed

[2020-07-06 03:50] nmancus1 commented on #8356
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 03:51] #8356 closed

[2020-07-06 03:51] nmancus1 commented on #8357
Since we have changed the implementation of #8294, closed that PR, and this check no longer causes null pointer exception with the new PR #8401, I am closing this issue.

[2020-07-06 04:12] nmancus1 opened #8402 "Java14 enhanced instanceof check validation: SuppressWarningsCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_annotation.html#SuppressWarnings

From the documentation:
_Allows to specify what warnings that@SuppressWarnings is not allowed to suppress. You can also specify a list of TokenTypes that the configured warning(s) cannot be suppressed on._

Currently, the subset of tokens is:

`CLASS_DEF` , `INTERFACE_DEF` , `ENUM_DEF` ,

[2020-07-06 04:32] nmancus1 opened #8403 "Java14 enhanced instanceof check validation: Indentation"
Child of #8391
Check documentation: https://checkstyle.org/config_misc.html#Indentation

[code]

This check works as intended after #8401, and isn't directly related to PATTERN_VARIABLE_DEF, but since the check looks at variable definitions, we should make a UT to make sure we don't get false positives.

[2020-07-06 04:44] nmancus1 opened #8404 "Java14 enhanced instaceof check validation: ConstantNameCheck"
Child of #8391
Check documentation: https://checkstyle.sourceforge.io/config_naming.html#ConstantName

From documentation:
_Checks that constant names conform to a specified pattern. A constant is a static and final field or an interface/annotation field, except serialVersionUID and serialPersistentFields._

Since a pattern variable is not a field, nor is it static, this check should not apply, bu

[2020-07-06 05:21] Fernal73 commented on #8344
[code]
The above is the XML fragment that sets out the Checkstyle executable in maven. This gives me the <files> parameter missing error.

Am I missing something?

[2020-07-06 06:29] Fernal73 commented on #8344
It appears that the arguments have to be nested with `argument` elements within container `arguments`.

http://www.vineetmanohar.com/2009/11/3-ways-to-run-java-main-from-maven/

[2020-07-06 06:29] #8344 closed

[2020-07-06 07:11] pbludov commented on #8399
If this is valid Java code successfully compiled by javac, then Checkstyle should be able to process it.

[2020-07-06 07:23] pbludov commented on #8399
This bug also affects `SuperFinalizeCheck`

[2020-07-06 10:06] Fernal73 opened #8406 "Checkstyle CLI return code must return 0 if failOnViolations is false"
**Is your feature request related to a problem? Please describe.**
The CLI returns the number of errors as return code breaking the maven exec plugin  when it wants to continue with the next execution.

**Describe the solution you'd like**
It should return 0 when property failOnViolations is set to false.

**Additional context**
PMD provides something similar.

https://pmd.github.io/latest/pmd_use

[2020-07-06 10:34] jo2 commented on #8397
@romani the mobile view is dependant on the viewport width and not the screen resolution. When the phone is in horizontal mode, the viewport width is higher than the trigger which is set for mobile view. The following screenshots were made with Firefox mobile device simulation, the simulated device is a Galaxy S9/S9+ with a resolution of 1440x1960 and a viewport of 360x740:

vertical:
![image](htt

[2020-07-06 12:05] jo2 commented on #8244
If I understand you correctly, you want some additional features to the first version.
* the burger icon to toggle the menu in the fixed line
* a floating button with a scroll to top function which is shown when the user scrolled to out of the menu

What exactly do you mean with "user control how to show"? should the user configure preferences which version they receive?

[2020-07-06 13:10] nmancus1 opened #8407 "new Check: PatternVariableName"
Child of #8391
Similar Check: https://checkstyle.sourceforge.io/config_naming.html#LocalVariableName

This check applies to the variable defined in the pattern definition.
From [JLS](https://docs.oracle.com/en/java/javase/14/docs/specs/patterns-instanceof-jls.html#jls-6.3.1):
_Pattern variables are implicitly final by design._

This check should not apply to pattern variable definitions, but since