[2015-09-08 19:20] mkordas commented on #2143
@sshashank124, anyone can take it and submit a PR. All contributions are welcome, also from you guys :)

[2015-09-08 19:23] sshashank124 commented on #2143
@mkordas, nice. I don't know enough about checkstyle at the moment to contribute. Definitely on future issues

[2015-09-08 19:39] robertwhitebit commented on #2143
An interesting case is a comment in a group. Like

[code]

Eclipse and IntelliJ move or remove them. See https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/373 for more details. I think that in these cases, the formatter does more than it should. But I justed wanted to share this information here as well.

[2015-09-08 23:34] romani commented on #2135
merged

[2015-09-08 23:34] #2135 closed

[2015-09-09 07:48] MEZk commented on #215
**checkstyle-6.11-SNAPSHOT. Use of ```mvn clean verify```**
[code]
1) Without changes by commit 02e6ed40387d10a17db48446e8856bbd644f04da and 85265a9b287ec860ee5c4b690bd913874d60f03a
[code]
ParameterNumber works fine.

2) With changes by commit 02e6ed40387d10a17db48446e8856bbd644f04da
[code]
ParameterNumber works fine.

3) With changes by commit 02e6ed40387d10a17db48446e8856bbd644f04da and 85265a9b

[2015-09-09 08:11] MEZk commented on #215
Finally. I checkedout revision on 39ad631113210aadd4ab2a1e58514f55c7012328. I opened suppression.xml  and found
[code]
It looks like that when commit 02e6ed40387d10a17db48446e8856bbd644f04da was done, it changed line numbers for suppressions that is why the build was failed.

[2015-09-09 10:12] MEZk commented on #606
@romani
Eclipse IDE for Java Developers has Maven Integration.
http://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/marsr
I'll made some screenshots. Also before starting playing around with checkstyle ```mvn clean compile``` should be executed to generate antlr's resources.

[2015-09-09 12:13] romani commented on #606
Please update instructions to mention how to install all required plugins and how to disable all warnings in generated/input folders.
Please follow instructions few times from scratch to make sure that nothing missed.

[2015-09-09 13:14] romani commented on #525
IntelijIdea format is multi-line:
[code]

if we force them to be single line , it will looks like:
```all other imports###<blank line>###javax.* in alphabetical order###java.* in alphabetical order###<blank line>###static imports in alphabetical order```

So format will looks like (in out notation):
ALL_IMPORTS###BLANK_LINE###STANDARD###BLANK_LINE##STATIC

So we need to introduce new macros - BLAN

[2015-09-09 16:32] romani commented on #215
I do not see that config now.

So, what is a resolution ? if issue was due to problem in config that does not exists now - lets close issue

[2015-09-09 16:54] romani commented on #2128
@mkordas, can you comment this issue?

[2015-09-09 16:55] MEZk commented on #215
@romani
Your commit https://github.com/checkstyle/checkstyle/commit/02e6ed40387d10a17db48446e8856bbd644f04da deleted the line 56 and all line numbers in LocalizedMessage were changed. So suppressions did not work.  The problem was due to suppressions in suppression.xml which do not exist now, but, nevertheless, ParameterNumber check will rise violations on LocalizedMessage with default configurati

[2015-09-09 17:03] romani commented on #215
That violations are ok, class is immutable, we need that amount of arguments.

But as we di not have suppressions for that class why we do not violations durung build ?

[2015-09-09 17:07] MEZk commented on #215
Because property
[code]
for ParameterNumber is set to 9 in checkstyle_checks.xml:
 https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L182

[2015-09-09 17:26] MEZk commented on #67
@romani
Is it a good idea to implement setter for printSeverity variable?

[2015-09-09 17:30] romani commented on #67
Not the best, i think that one mor c-tor will be better solution

[2015-09-09 18:27] romani commented on #215
it was added by me as workaround https://github.com/checkstyle/checkstyle/blame/master/config/checkstyle_checks.xml#L182

please update back to use default value, and put suppressions for that class of this check.

[2015-09-09 18:29] romani commented on #606
merged.

[2015-09-09 18:29] #606 closed

[2015-09-09 21:00] romani commented on #215
merged

[2015-09-09 21:00] #215 closed

[2015-09-09 22:00] mkordas commented on #2128
@romani

No ability to extend messages (with extra details/context) after it was merged to master.

I agree, provided we will capture all the details in GitHub issues and PR descriptions (and we are not going to replace GitHub with something else anytime soon):
* Summary of changes
* Why is this change necessary?
* How does it address the issue?
* What side effects does this change have?

Agreed,

[2015-09-10 04:46] romani commented on #1273
Logic is correct, please proceed witg implementation

[2015-09-10 12:54] mkordas commented on #2054
All issues are fixed.

[2015-09-10 12:54] #2054 closed

[2015-09-10 13:28] romani commented on #67
merged

[2015-09-10 13:28] #67 closed

[2015-09-10 13:57] romani commented on #2128
We will stay at github for a while, github helped to gave Checkstyle new life, and for now the best sourcecode system I know. But that will change in 10 years for sure :). I am ok to loose wide details one day. It is better then abandonment of project.
We still demand some brief message, so this will be enough.

    Why is this change necessary?
    How does it address the issue?
    What side eff

[2015-09-10 13:59] romani commented on #1273
please do not forget to put this examples to javadoc/xdoc - this will help a lot to user to understand a rule.

[2015-09-10 15:37] mkordas commented on #2130
I don't think we can fully resolve that issue. We have warnings like
[code]
 or
[code]
 in generated sources or
[code]
where we test fall-through.

What do you think @romani?

[2015-09-10 15:41] mkordas commented on #2130
We have also deprecated import: `[WARNING] /C:/IdeaProjects/checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java:[39,46] com.puppycrawl.tools.checkstyle.checks.AbstractTypeAwareCheck in com.puppycrawl.tools.checkstyle.checks has been deprecated`

The only solutions I fount at [StackOverflow](http://stackoverflow.com/questions/1858021/suppress-deprecated-i

[2015-09-10 20:52] mkordas commented on #705
@romani, let's close it, we just should keep in mind that sometimes users may need a guide how to upgrade to the newest version easily

[2015-09-10 20:52] #705 closed

[2015-09-10 21:03] mkordas commented on #2080
OK, let's start discussing a few first items

**AbstractClassExtendsConcreteClass**
We have two such classes in API package:
* class `AbstractLoader` is declared 'abstract', and extends a concrete class `DefaultHandler`
* class `AbstractViolationReporter` is declared 'abstract', and extends a concrete class `AutomaticBean`
@romani, do you have any ideas what should we do with those?

**AbstractCla

[2015-09-10 21:18] mkordas commented on #2128
I also do it. But then, do you want commits like `doc: Fix typos` or `minor: Reconfigure Travis CI` starting with small letter but having capital one after colon?

The only thing I'd like to automate is to prohibit ending first word with `ed` to teach contributors when they use regular verbs as first word like `Added`, `Fixed`.

I thought that we agreed to keep everything in GitHub, not in commit

[2015-09-10 22:04] romani commented on #2128
For now I am ok with that. It do not really mater, and we already enforced rules that most of other projects do not have. I would rather extend rules (make them more strict) then we first run into a problems with not ideal commit messages.

and after enforced that, you will notice smth different (it always happen), because different users have different problems in spelling. An we will embed a spe

[2015-09-10 23:09] romani commented on #2080
that is strange design, but I would make API changes only at 7.0, we need to postpone fix of that.

AbstractViolationReporter is abstract as it has abstract methods. I do not see any problems with such classes. Abstract does not imply that all his parents are abstracts. My be not ideal design, but for now I do not see problem with it.

not sure that is problem, we could look case by case, but in g

[2015-09-11 13:54] romani commented on #56
@attatrol ,

1)

first of all lets not mix all problems in one issue. In scope of this issue please resolve problem that is reported in description "multi-part bool". Please move all posts of try-catch-finally to another issue.

2)

yes, because paper is almost 30 years old , there was not structure like try-catch-finally at that time.

3)

I do not know for sure, I only can presume that we could

[2015-09-11 15:50] romani commented on #759
merged

[2015-09-11 15:50] #759 closed

[2015-09-11 20:02] damianszczepanik opened #2159 "fileExtensions is skipped by maven-checkstyle-plugin"
So I wanted to add checkstyle to build process.

I used second example from this page https://maven.apache.org/plugins/maven-checkstyle-plugin/usage.html and linked with https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/sun_checks.xml

When typing `mvn validate' I got error
[code]
If I'm right the given message is not what I see https://github.com/checkstyle/checkstyle/blob/m

[2015-09-11 20:33] mkordas opened #2160 "Use Error Prone tool to detect issues with code during compile time"
Project GitHub: https://github.com/google/error-prone
Documentation: http://errorprone.info

Integration with Checkstyle should be straightforward. We just need to invoke compiler second time for input files without Error Prone.
##

[2015-09-11 20:35] mkordas opened #2161 "Unify naming of all files with test inputs"
1) All files with code that is bad on purpose should be named in the same way. Let's start their names with 'Input' word.

2) All Input files should be located in the same package as UTest file and Check.

[2015-09-12 00:50] romani commented on #2130
1)
[code]

[WARNING] checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java:[39,46] com.puppycrawl.tools.checkstyle.checks.AbstractTypeAwareCheck in com.puppycrawl.tools.checkstyle.checks has been deprecated
[INFO] checkstyle/src/main/java/com/puppycrawl/tools/checkstyle/api/AutomaticBean.java: Some input files use unchecked or unsafe operations.

Fixed onl

[2015-09-12 08:10] MEZk commented on #2161
@mkordas
Good point. As for me, It is also would be a good idea to place input files for UT in folders to follow project structure. Same package-structure: class -> UT -> Input file. On the other hand,  some tests reuse input files. Does it make sense?

[2015-09-12 10:17] MEZk opened #2166 "TranslationCheck does not catch that some translation files are missed"
**Problem:**
TranslationCheck checks keys only for existing properties files. If file does not exist (like messages_ja.properties in [checkstyle/src/main/resources](https://github.com/checkstyle/checkstyle/tree/master/src/main/resources/com/puppycrawl/tools/checkstyle)), TranslationCheck will not rise violation.

**Proposal:**
Create special property for TranslationCheck. Using the property user c

[2015-09-12 12:44] romani commented on #2161
yes, we try to do that, but there are a lot of files that required to be reviewed.

yes, but that is old approach, reusage of Inputs cause dependency between tests. UTs should always be independent. It will cost us bigger amount of files in repo but will not force to update MethodCountTest and HiddenFieldCheckTest in the same update.

[2015-09-12 13:16] romani commented on #2034
@michael-o, please do PR https://help.github.com/articles/creating-a-pull-request/ that help to not forget to do a merge and also helps me be sure that you are done completely and it is not a intermediate update.

[2015-09-12 13:19] romani commented on #2034
@michael-o , additionally PR will trigger CI builds and we will be sure that no violations are introduced. For now I see that commit message is not done required format, please run "mvn clean verify" to get details.

[2015-09-12 13:36] romani commented on #1509
@mkordas

I do not see changes to first line, I do not understand how "{" location affect the rule for "," presence. Please extend examples for this case.

[2015-09-12 13:45] romani commented on #1509
@os97673 , looks like you were an original author or this rule https://github.com/checkstyle/checkstyle/blame/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/ArrayTrailingCommaCheck.java#L25 , it would be so kind if you can bring from a history, of 2003 year :) , why "," is required (please see issue description).

[2015-09-12 13:59] romani commented on #1121
we already did that in Travis, the only missed point is testing over JDK, sources of JDK are huge we need to find a way to split them in chunks and do testing part by part.

note: due to java grammar problem we can not use jdk8-9 , we can parse only jdk7. For details please see all issues with "ANTLR" label

[2015-09-12 14:01] #583 closed

[2015-09-12 14:10] romani opened #2167 "Deploy snapshot version of checkstyle to public maven repository"
request: https://github.com/checkstyle/checkstyle/issues/1369#issuecomment-125867116
and a lot of other users.

It will be so good to let Travis deploy to Maven snapshot repo ready to use jar file.

Note: most users need generation of "checkstyle-X.X-all.jar" , but it is hosted only at soureforge, we need to automate generation-deploy of it to https://bintray.com/

We will not build binaries for P

[2015-09-12 14:10] romani commented on #1369
@WonderCsabo , right now we have a time to make it happen, please provide PR as you have experience with that.

All work should be done in scope of #2167

[2015-09-12 14:38] romani opened #2169 "Update HTML documentation to describe token option in each Check"
based not a rare case : https://github.com/checkstyle/checkstyle/issues/1669#issuecomment-130411907

it is not obvious from documentation that each Check has option "token". We need to review all Checks and put in options description all options that has Check (all setters of Check and all setters of abstract classes of that Check)

[2015-09-12 14:38] romani commented on #1669
further discussion will be at https://github.com/checkstyle/checkstyle/issues/2169

[2015-09-12 14:38] #1669 closed

[2015-09-12 17:06] MEZk commented on #382
@romani
Do we need some other improvements?

[2015-09-12 18:58] os97673 commented on #1509
Well, the check is supposed to be used when you either write one-line arrays
[code]
or place keep curly braces on separate lines and one element per line
[code]
if you do not require this then the check is (almost) useless.
So the check should be always used in combination with another one (for array formatting).
Thus I'd keep the check as is and do suggest do not use it in some cases :)
Hope I've

[2015-09-12 19:26] romani commented on #382
@mkordas pointed to missed tests for lambdas in PR, please extend inputs .

[2015-09-12 21:06] mkordas commented on #2130
We can also use it as fully qualified name in the code and suppress IDEA/PMD. Would you accept this solution?

[2015-09-12 22:38] romani commented on #2130
It is easier to ignore that during maven build, i created an issue with hope it is easy to fix, that is even not a warning in logs. Are you ok this this ?

[2015-09-13 20:46] MEZk opened #2175 "HiddenFieldCheck does not rise violation, when lambda parameter, which type is omitted, hides a field"
If parameter types of lambda expression are omitted, HiddenFieldCheck will not rise any violations. The problem is due to the fact that ANTLR parses parameters (which types are omitted) as identifiers and HiddenFieldCheck does not take into account those cases.

Example:
[code]

[2015-09-14 01:33] romani commented on #2129
both issues are resolved

[2015-09-14 01:33] #2129 closed

[2015-09-14 09:58] ingeke opened #2178 "StringIndexOutOfBoundsException in JavadocStyleCheck"
The following javadoc:
[code]
causes this exception:

Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: -1
        at com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocStyleCheck.trimTail(JavadocStyleCheck.java:315)
        at com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocStyleCheck.getCommentText(JavadocStyleCheck.java:269)
        at com.puppycrawl.tool

[2015-09-14 11:13] Vladlis commented on #2178
Duplicate #2094

[2015-09-14 12:15] #2178 closed

[2015-09-14 12:50] romani commented on #2159
@damianszczepanik, please pay attention to plugin version and what chekcstyle version it use - http://maven.apache.org/components/plugins/maven-checkstyle-plugin/history.html. Plugin is always behind and we do not have historical tracking of options (since tag).

please upgrade to latest checkstyle release http://maven.apache.org/components/plugins/maven-checkstyle-plugin/examples/upgrading-checks

[2015-09-14 13:12] romani commented on #2136
Your proposed format, looks similar to https://github.com/checkstyle/checkstyle/blob/master/config/findbugs-exclude.xml#L44 , http://findbugs.sourceforge.net/manual/filter.html

We have a plan to implement smth like AST based suppression (too much occupied with bug fixing to start doing it):
https://github.com/checkstyle/checkstyle/wiki/Checkstyle-GSoC-2015-Project-Ideas#project-name-flexible-supp

[2015-09-14 13:14] romani commented on #2128
@mkordas , do you have any new thoughts ?

[2015-09-14 13:45] romani commented on #2089
merged, added as default token also, enforced over Checkstyle code.

[2015-09-14 13:45] #2089 closed

[2015-09-14 17:00] romani commented on #157
Merged

[2015-09-14 17:00] #157 closed

[2015-09-14 18:10] damianszczepanik commented on #2159
Much better with new configuration. I still cannot force to scan only java files. When set file `fileExtensions` in `pom.xml` then it has no effect, when in `checkstyle.xml` it says `Failed during checkstyle configuration: Property 'fileExtensions' in module Checker does not exist, please check t
he documentation -> [Help 1]`

[2015-09-14 18:47] romani commented on #2159
Please share config code if you want me to help you

[2015-09-14 19:52] damianszczepanik commented on #2159
damianszczepanik/silencio/pull/42

So I want to skip properties files or whole resources directory. Both solutions are accepted.

[2015-09-14 20:49] mkordas commented on #2128
There's one reason to validate that - we generate release notes from commits, and all entries there should begin with uppercase letter I believe

Right, that's why we should automate as much as possible. I don't want to make comments in PRs to fix commit message wordings.

Not in message, just at the end - to save comments during review. Kind of review automation :)

[2015-09-14 20:51] mkordas commented on #1509
@romani

Example I've given should be enough. If `{` is on the same line as `,` you have more work to duplicate the line. Instead of duplicating and changing just value, you also need to remove `{` from duplicated line.

[2015-09-14 21:01] mkordas commented on #693
@romani - issue raised by @pirat9600q is valid.

@liscju, in liscju@d1c40d5 you have one difference compared to original issue report:
[code]
vs.
[code]
Moving that comment reveals the issue.

@romani, what do you think? Should allowed indentation depend on comment placement?

[2015-09-14 21:04] mkordas commented on #2080
@romani

Inspection **AbstractClassWithoutAbstractMethods** is not about class name, it's about not having abstract methods. What do you think?

[2015-09-14 21:05] mkordas commented on #525
ALL_IMPORTS###BLANK_LINE###STANDARD###BLANK_LINE##STATIC

What about `java` and `javax` groups?

[2015-09-14 21:06] mkordas commented on #2065
@romani, I believe we already have such tests - what else you'd like?

Agreed

[2015-09-14 21:26] pietern opened #2184 "Indentation check for statement-only lambda"
Follow up on #1548.

Indentation is not yet checked for statement-only lambda's like this:

[code]

The `.range` and `.forEach` calls may have any indentation without any warning being emitted.

[2015-09-14 22:52] romani commented on #1008
@bananetomate , sorry for long delay

No, you did not get my proposal because I did few mistakes. Your Check configs is ok, Suppression module configuration is missed, here is how it will looks like:
[code]
will allow to skip violations near code that have comment like "//@cs-: <ID>", so for your test cases it will be "//@cs-: systemout" and "//@cs-: ignore". No need to have a prefix of Check name

[2015-09-14 22:59] jsotuyod commented on #1008
Yes.

[code]

Is exactly what I would expect! (prefix `checkstyle:` being optional of course)

[2015-09-15 04:54] hchan opened #2185 "ant with failOnViolation="false" will FAIL"
http://checkstyle.sourceforge.net/anttask.html

If I use
[code]

[2015-09-15 07:03] mkordas opened #2186 "Exception message not informative enough for users on incorrect parent"
When running Checkstyle with the following config:

[code]

I get not very informative message:

[code]

I'd expect information that RegexpMultiline has parent `TreeWalker`, but should have `Checker` as parent.
##

[2015-09-15 07:11] altair2010 opened #2187 "IT : Google Style naming convention"
Google use lower Camel case for varaible and member names (see 5.2.5 Non-constant field names
5.2.6 Parameter names, 5.2.7 Local variable names) but in rules you uses "^[a-z][a-z0-9][a-zA-Z0-9]*$" format insteed of ^[a-z][a-zA-Z0-9]*$

so xMargin or yPos will be a wrong parameter name

[2015-09-15 07:33] krzyk opened #2188 "Reduntant modifier on inner class constructor inside interface"
Here's code example:
[code]

I get ` Redundant 'public' modifier` on line with `public Find(final String key) {`, which is not correct because without public I can't construct the inner class.

[2015-09-15 13:17] ivanov-alex commented on #525
With current functionality we can use SPECIAL for one of the java groups:
[code]

[2015-09-15 14:10] romani commented on #2108
@Vladlis,

MemberName, ParameterName links still referencing to page without anchor to specific Check - please recheck all naming Checks on that page and fix.

[2015-09-15 14:29] romani commented on #281
TO ALL,

@pietern did a amazing work and contributed a PR with fix for LAMBDA support.

Please get his PR, build it "mvn clean package -Passembly" and share your testing results. If no problems detected this fix appear in 6.11 release (end of September).

If smb have a problem with build of binary yourself , I could share binaries.

[2015-09-15 14:37] romani commented on #2187
please give a link to google opensource project who follow Google Style Guide and has code like you described.

As far as I remember we did that intentionally after testing over Guava sources.

Your format will allow prefixes to variables like "mFieldMember", "aFirstArgument"

[2015-09-15 14:41] romani commented on #2188
Duplicate of https://github.com/checkstyle/checkstyle/pull/2134 .

@krzyk , please help to test that PR on your code, you can build all binaries by "mvn clean package -Passembly".

[2015-09-15 14:51] romani commented on #2186
this issue might be related #898 .

[2015-09-15 14:55] romani commented on #693
No. Comment is placed at the end of line, indentation is metric of line beginning.

[2015-09-15 15:17] romani commented on #2080
Abstract modifier should be removed, name should be changed if required.

[2015-09-15 16:01] ivanov-alex commented on #941
So there are 2 requests:
1) Changing 'com.google' from SPECIAL to SAME_PACKAGE
2) Adding an option to check line separator for "one group per top-level package"

Regarding *#*1:
- It will not 100% match [Google Style guide](http://google.github.io/styleguide/javaguide.html#s3.3.3-import-ordering-and-spacing) as it is says `com.google imports (only if this source file is in the com.google package s

[2015-09-15 16:18] romani commented on #2112
merged.

[2015-09-15 16:18] #2112 closed

[2015-09-15 17:35] jshiell opened #2189 "Checkstyle fails to parse files with non-ASCII characters on Windows"
Files with non-ASCII characters in method/variable names result in a TokenStreamRecognitionException on Windows 7 (both 32 and 64 bit). On OS X, the files parses successfully.

Using a very basic rules file:

[code]

And a simple sample file:

[code]

We receive the following output on Windows 7 (32bit, en_US - Windows 7/IE 11 VMWare VM from https://dev.modern.ie/tools/vms/mac/):

[code]

CheckSty

[2015-09-16 00:09] romani opened #2191 "Resovle unstability of SuppressionsLoaderTest.testLoadFromURL"
That test fail too much and demand manual relaunch from admins.

https://travis-ci.org/checkstyle/checkstyle/jobs/80531821#L724

[code]

assumption return false - build is failed.
We need to skip a test if we are not online.
Please also update Test to try to download it from github location if sourceforge is not available.

[2015-09-16 00:28] romani commented on #1292
merged

[2015-09-16 00:28] #1292 closed

[2015-09-16 04:00] #2108 closed

[2015-09-16 08:47] krzyk commented on #2188
@romani I'll test it, but right now I have trouble building, probably because I'm behind proxy, and some of the tests (`SuppressionsLoaderTest.testLoadFromURL:75 » AssumptionViolated got: <false>, e...`) and xml-maven-plugin (`While parsing /tmp/checkstyle/src/site/resources/files/suppressions_none.xml: null: NullPointerException`) probably need direct internet connection.

I'll try to test it lat

[2015-09-16 09:21] michael-o commented on #2034
@romani I am already working on it.

[2015-09-16 10:58] bananetomate commented on #1008
Yes, this looks good to me as well.

Thank you!

[2015-09-16 11:15] michael-o opened #2193 "Several integration tests fail if locale is non-English"
See:

    [INFO]
    [INFO] --- xml-maven-plugin:1.0:validate (default) @ checkstyle ---
    [INFO]
    [INFO] --- maven-jar-plugin:2.6:jar (default-jar) @ checkstyle ---
    [INFO] Building jar: D:\Projekte\checkstyle\target\checkstyle-6.11-SNAPSHOT.jar
    [INFO]
    [INFO] --- maven-jar-plugin:2.6:test-jar (default) @ checkstyle ---
    [INFO] Building jar: D:\Projekte\checkstyle\target\checkst

[2015-09-16 11:47] michael-o commented on #2034
I am currently not able to pass `mvn clean verify` because of issue #2193.

[2015-09-16 12:08] romani commented on #2167
One more reason why snapshot distributions is in demand https://github.com/checkstyle/checkstyle/issues/2188#issuecomment-140674340

[2015-09-16 12:53] romani commented on #2188
@krzyk ,

Links to snapshots:
checkstyle-6.11-SNAPSHOT-all.jar - https://drive.google.com/open?id=0B3LUiB4ZPKNjVFdmc2RJR0s5MTA
checkstyle-6.11-SNAPSHOT.jar - https://drive.google.com/open?id=0B3LUiB4ZPKNjNUlJeHh6dHVHVHc

that is really strange why you have UTs running, them should be skipped - https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L1120 ,

yes, where is no skip option at thi

[2015-09-16 13:56] romani commented on #1551
PR #1722 is non completed

[2015-09-16 20:54] Vladlis commented on #2126
I need help with this issue. The problem is that I cannot make method [start](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/doclets/TokenTypesDoclet.java#L58) work on a correct input, such as [TokenTypes](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/TokenTypes.java).
Here is my [attempt](

[2015-09-16 22:12] mkordas opened #2195 "Remove errors from Maven output in TokenTypesDocletTest"
The following errors appear in logs after merge of #2158
[code]

[2015-09-16 22:19] romani commented on #2126
@Vladlis , that doclet works fine on TokenTypes class when it is lauched by ANT, please find me in onlin for voice discussion.

[2015-09-16 23:20] Vladlis commented on #2126
Well, after the conversation with @romani I guess I will be able to tackle the issue :)

[2015-09-16 23:50] rdiachenko commented on #2193
I'm on it

[2015-09-17 13:08] altair2010 commented on #2187
I'm agree with the intention to block mFieldMember and aFirstArgument or other Prefix/Hungarian notation.
But there's no regExp expression whith can reject Prefix/Hungarian notation.

With actual rules i can use msName (with "member string" prefix) but i can't use xPos or yPos for coordinate (nor x or y like in java.awt.geom.Point2D)

Sorry but i don't have opensource project.

[2015-09-17 13:30] mkordas commented on #2187
I agree with @altair2010 - right now it's not possible to declare variable `mBean`, which is perfectly fine name for bean visible via JMX.

[2015-09-17 14:00] romani commented on #2187
@altair2010 ,

absolutely agree. But we use regexp instead of very complicated algorithm as it work in 95% cases. Rest of cases could be suppressed. Non of the Check have 100% correct validation on all sources in the word, exceptional cases always exists.

Checkstyle can only give a hint to user that name is not correct, we can not recheck that variable is named correctly. I do not know a tool whi

[2015-09-17 14:08] romani commented on #2187
please prove this by examples.

http://docs.oracle.com/javase/tutorial/jmx/mbeans/ here we most likely have example of human abbreviation term that passed to CamelCase naming convention incorrectly. Please see our Check - http://checkstyle.sourceforge.net/config_naming.html#AbbreviationAsWordInName
Old code in Java have a lot of abbreaviations  (I also created a lot of classes at the past) but it

[2015-09-17 20:04] romani commented on #2095
merged

[2015-09-17 20:04] #2095 closed

[2015-09-17 21:03] nmx opened #2199 "RedundantModifier incorrectly flags public constructor on nested class inside interface"
public interface Iface {
        class Inner {
            public Inner(final int x) {
            }
        }
    }

I get:
src/x/Iface.java:3:9: Redundant 'public' modifier.

It's not redundant; inner classes of interfaces are inherently public, so leaving out the public modifier on the constructor makes the constructor package-private instead.

[2015-09-17 21:34] romani commented on #2199
duplicate of #2167 , #2188.

please help to test a patch - https://github.com/checkstyle/checkstyle/issues/2188#issuecomment-140732833

[2015-09-17 21:34] #2199 closed

[2015-09-17 22:06] nmx commented on #2188
do we really need users to test this patch? this is something a unit test can easily capture...

[2015-09-17 22:26] romani commented on #2188
@nmx , if that is ease for you, please confirm that such fix resolve all your false-positives.

We did one regression, I do not want to have one more.

if you have opensource project - please share a link to it.

[2015-09-18 03:24] romani commented on #2126
Merged.

[2015-09-18 03:24] #2126 closed

[2015-09-18 06:06] michael-o opened #2200 "POM still references nexus.codehaus.org repo"
That repo is already gone with all other Codehaus services. Remove that repo, it causes some build exceptions.

[2015-09-18 09:17] dennisl opened #2201 "JavadocStyle checkHtml changed in 5.8"
It seems that some change in Checkstyle 5.8 broke the checkHtml feature of JavadocStyle. I suspect it might be #58 or #119 which relates to this check.

I have tested using command line version of Checkstyle and errors are detected in version 5.7, but not in version 5.8. Here is an example:
[code]

Results with 5.7:
[code]
Results with 5.8:
No error reported.

[2015-09-18 10:06] rdiachenko commented on #2193
@michael-o could you please provide more details about your environment: java version, os, locale, etc.?
I tried to run tests in German locale, changed my system locale but without success. All tests passed. In code when we run tests we use Locale.ROOT. ResourceBundle always loads ```messages.properties``` if locale is set to Locale.ROOT but in your case it somehow loads ```messages_de.properties`

[2015-09-18 10:44] krzyk commented on #2188
@romani @nmx In either case, I can confirm that on my code base checkstyle from the URLs above is not complaining on inner classes in interfaces

[2015-09-18 11:23] mkordas commented on #2187
Here are examples:
* **mBean** - on [Wikipedia](https://en.wikipedia.org/wiki/Java_Management_Extensions) it is official name for JMX managed bean, GitHub shows [hundreds of thousands of occurences](https://github.com/search?utf8=%E2%9C%93&q=mbean), name `beanM` doesn't make sense
* **xPath** - you woudn't name local variable holding some XPath like `pathX` or `xmlPathLanguage` - it must stay `xPa

[2015-09-18 11:37] michael-o commented on #2193
I ran this on Git Bash in Windows XP SP3, Java version 1.7, locale is `de_DE.UTF-8`.

[2015-09-18 11:38] krzyk opened #2202 "SuppressWarnings should support CamelCase"
Following annotation `@SuppressWarnings("checkstyle:redundantmodifier")` is less readable than `@SuppressWarnings("checkstyle:RedundantModifier")`.
Maybe there is a reason why all lower case annotations were introduced, but it makes excluding checkstyle warnings very unreadable in comparison to PMD (`@SuppressWarnings("PMD.AvoidCatchingGenericException")`) ones.

Moreover `SuppressWithNearbyCommen

[2015-09-18 12:55] philipa opened #2203 "RedundantModifier check incorrectly rejects final, abstract modifiers of classes nested in interfaces"
Since 6.9, the RedundantModifier check incorrectly rejects final, abstract modifiers of classes nested in interfaces.

Example that fails the check:

[code]

gives

[code]

[2015-09-18 13:01] romani commented on #1273
merged

[2015-09-18 13:01] #1273 closed

[2015-09-18 13:07] romani commented on #2200
link is changed to https://oss.sonatype.org/content/repositories/codehaus-snapshots/

[2015-09-18 13:09] #2200 closed

[2015-09-18 13:16] romani commented on #2201
can you explain why you think that validation of 5.7 was right ?

[2015-09-18 13:21] #2188 closed

[2015-09-18 13:36] romani commented on #2203
Problem with "abstract on class" is resolved at #2134 (fix will be in 6.11)
Problem with "final on class in interface" is still a problem.
[code]

[2015-09-18 13:37] #2195 closed

[2015-09-18 13:51] romani commented on #2187
All these are words, new words of code vocabular. They need to be mbean , xpath .

If smb do not like to do this, they have to use suppressions

[2015-09-18 13:52] philipa commented on #64
I agree with the above, but this fails OneStatementPerLine for me:

[code]

[2015-09-18 14:00] romani commented on #64
@philipa, please create new issue for this

[2015-09-18 14:32] dennisl commented on #2201
No, I can't. It might be that the new behavior is the correct one :-)
Its just that I couldn't find anything in the releasenotes that suggested that something had been changed.

[2015-09-18 15:22] romani commented on #2201
such tags are part of HTML 4 standard http://www.w3.org/TR/html4/struct/lists.html#h-10.3 , so javadoc have to support them.

[2015-09-18 15:22] #2201 closed

[2015-09-18 15:27] romani commented on #2189
@mkordas , can you verify that issue ?

I doubt that we could fix this issue easily, but at least we can confirm it existance.

[2015-09-18 15:30] romani commented on #2185
I do not see violation messages in output, and this option is failing build if violation present.

Please share more information/context for this issue

[2015-09-18 15:42] romani commented on #2159
is it possible to use more latest verson https://github.com/damianszczepanik/silencio/commit/f47867b16b6b5f22324a7547c034b9c56776df70#diff-600376dffeb79835ede4a0b285078036R169 , we are already 6.10.1 , from history we implemented this in 6.3 - http://checkstyle.sourceforge.net/releasenotes.html#Release_6.3

[2015-09-18 16:04] michael-o commented on #2193
@rdiachenko Just tried on Window command prompt, same result. This is my env:

    [ERROR] For more information about the errors and possible solutions, please read the following articl
    [ERROR] [Help 1] http://cwiki.apache.org/confluence/display/MAVEN/MojoFailureException
    D:\Projekte\checkstyle>mvn --version
    Apache Maven 3.2.5 (12a6b3acb947671f09b81f49094c53f426d8cea1; 2014-12-14T18:29

[2015-09-18 16:26] michael-o commented on #2191
I am suffering from this to in a corporate environment because outbound traffic is routed through a proxy:

    Tests run: 14, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 71.883 sec <<< FAILURE! - in com.puppycrawl.tools.checkstyle.filters.SuppressionsLoaderTest
    testLoadFromURL(com.puppycrawl.tools.checkstyle.filters.SuppressionsLoaderTest)  Time elapsed: 71.699 sec  <<< ERROR!
    org.j

[2015-09-18 17:00] damianszczepanik commented on #2159
Upgrading to given version and put property in config file solved the problem

[2015-09-18 17:00] #2159 closed

[2015-09-18 17:09] MEZk opened #2204 "Add 'baseName' option and remove 'basenameSeparator' option of TranslationCheck"
Based on https://github.com/checkstyle/checkstyle/pull/2177 and discussion https://github.com/MEZk/checkstyle/commit/4b282073d8b37fc11881f5f1e834f55ca33ed2c0#commitcomment-13272046 Translation check needs new option which allows to specify resource bundles names which should be skipped while validating existence of translations. Default value should be empty String Set which means that all resourc

[2015-09-18 17:17] hchan commented on #2185
FailsOnViolation (expected) on version 6.9 but not 6.10

[2015-09-18 17:55] damianszczepanik opened #2205 "Property excludeScope in JavadocMethod check does not work correctly"
Based on this http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod documentation I understand that by default it checks all scopes except private. In other words this is relevant to:

[code]

However I found in damianszczepanik/silencio/pull/42 that above comments generates 0 errors while following one
[code]
complains that https://github.com/damianszczepanik/silencio/blob/b65764da8

[2015-09-18 22:06] rdiachenko commented on #2193
@michael-o thanks for details. They really helped!

[2015-09-18 22:12] mkordas commented on #2205
The problem is in [JavadocMethodCheck.java#L465-L468](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheck.java#L465-L468).
I'm on it.

[2015-09-18 22:23] mkordas commented on #2205
There is also another problem with `excludeScope` property. If it is set to `protected` as in [com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocMethodCheckTest#testExcludeScope](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocMethodCheckTest.java#L349), it still reports missing Javadoc on `protected` members. Test proves

[2015-09-18 23:21] #2205 closed

[2015-09-19 00:26] romani opened #2210 "create MacOS matrix item for Travis CI"
workaround from: https://github.com/travis-ci/travis-ci/issues/2839#issuecomment-73199188

We need only "mvn clean verify" just to be sure that users can do contribution from MacOS.

[2015-09-19 10:20] philipa opened #2211 "OneStatementPerLine: false match with try-with-resources"
According to discussion on #64, the following should by allowed by OneStatementPerLine:

[code]

It isn't.
[code]

[2015-09-19 21:18] mkordas commented on #2203
I'm on it.

[2015-09-19 22:04] mkordas opened #2213 "Print cause of exception to console when using Checkstyle from CLI"
Follow-up to #2189.

Latest version of Checkstyle doesn't print any cause of exception to console:
[code]

Checkstyle 6.9
[code]

[2015-09-19 22:33] mkordas commented on #2189
@romani, Issue is present, I'm able to reproduce it. #2213 created to handle decreased amount of logging.

@jshiell, did you make sure that on this run you've saved file with UTF-8 encoding?

[2015-09-19 22:35] mkordas commented on #2187
@romani - thanks, sounds reasonable. Should we close this issue?

[2015-09-19 22:57] mkordas opened #2215 "Rename test classes to match production class name + "Test""
All test classes dedicated for checks should be named the same as check class with additional suffix "Test".
It's not always the case. For example `SummaryJavadocCheck` has its test `SummaryJavadocTest` while it should be `SummaryJavadocCheckTest`.
When following this pattern IDE navigation becomes easier, as tests are detected automatically.

<bountysource-plugin>
---
Want to back this issue? **[

[2015-09-19 23:20] mkordas commented on #2160
Error Prone has been integrated with the build.

[2015-09-19 23:20] mkordas opened #2216 "Update Error Prone to 2.0.5"
Changelog: https://github.com/google/error-prone/compare/v2.0.4...v2.0.5

[2015-09-20 10:22] jshiell commented on #2189
@mkordas confirmed via `file`:

    Sample.java: UTF-8 Unicode C++ program text

The same file was copied between OSs with no further editing, so I'm confident it was UTF-8 on both.

I encountered a similar problem to this some time ago in my plugin, and it turned out to be a stream that didn't force the character encoding. This lead to all sorts of fun as it just inherited the default JVM encodin

[2015-09-20 12:50] romani commented on #2203
merged.

[2015-09-20 12:50] #2203 closed

[2015-09-20 13:05] romani commented on #2216
merged.

[2015-09-20 13:05] #2216 closed

[2015-09-20 13:05] romani commented on #2213
merged

[2015-09-20 13:05] #2213 closed

[2015-09-20 13:12] romani commented on #2215
does it sound like a new Check ? ( we could fix it now , but it is so easy to miss that in future PRs)

Is such Check too specific to Checkstyle code and in real life will not be practical ? (some time people create two test files for one class, or use non-exiting name of class to show that this tests are functional(not a pure Utests) )

Side proposal:
production class name  ===> main class name.

[2015-09-20 13:35] romani commented on #2187
more examples of how abbreviation become a word - https://en.wikipedia.org/wiki/Acronym

the best known for software engineers are XML and URL - they have to appear in code as a word url,Url,xml,Xml

to help users to enforce no abbreviations there is - http://checkstyle.sourceforge.net/config_naming.html#AbbreviationAsWordInName

One more prove (see table):
https://google.github.io/styleguide/java

[2015-09-20 13:35] #2187 closed

[2015-09-20 13:49] romani commented on #2210
caching for MacOS does not work - https://github.com/travis-ci/travis-ci/issues/4011

we need cache to avoid very long build (that could be cancelled and fail the whole build status) as it downloads huge Maven repo again and again - https://travis-ci.org/checkstyle/checkstyle/jobs/81111572

The main reason of MacOS build as users reported a difference of result of MacOS and Linux for verify(covera

[2015-09-20 13:52] #2193 closed

[2015-09-20 13:52] romani commented on #2193
merged

[2015-09-20 14:01] romani commented on #2175
merged

discussion and testing results are at https://github.com/checkstyle/checkstyle/pull/2176.

[2015-09-20 14:01] #2175 closed

[2015-09-20 14:03] mkordas commented on #2210
Can we run just `mvn test` until caching will be possible?

[2015-09-20 14:06] MEZk commented on #382
@romani

Done in scope of https://github.com/checkstyle/checkstyle/issues/2175

[2015-09-20 18:26] michael-o commented on #2193
Works now, thanks!

[2015-09-20 18:57] WonderCsabo opened #2218 "NPE when running CS with cache with Maven plugin using NewlineAtEndOfFile"
I am not sure this is the problem of the Maven plugin or CS itself.

I am seeing this stacktrace after executing `mvn checkstyle:check` twice:

[code]

This only happens when the `checkstyle-cachefile` file is present, from a previous execution. If i delete that file, i do not see this problem.
Also if i remove the `NewlineAtEndOfFile` check, this crash does not happen.

I created a minimal exampl

[2015-09-20 20:47] mkordas commented on #2218
@WonderCsabo
Thanks for the reproducer, it really helped a lot and speeded up investigation. Here is explanation what happends:

* List containing all suppresions is initialized only when tree analysis begins at [SuppressWarningsHolder.java:186](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/SuppressWarningsHolder.java#L186)
* On the secon

[2015-09-20 20:58] mkordas commented on #2215
Yes, we could have check for that. It would require that every class has corresponding test. Enums and interfaces should be probably excluded from that.

That's not a problem, we can require at least one class matching pattern MainClassName*Test, meaning that there can be additional description where star is placed.

Benefits:
* simple convention
* unit tests are easy to find
* detection if class

[2015-09-20 21:13] romani commented on #2215
we might need to go not from main class but from test. If test exists it should be named as one of  main classes of the same package. In this case we will not demand from user anything but convention of names (Checkstyle is not a position to demand tests and be smart of calculating what is required to have a test).

If you agree, please update original description and remove all our discussion fro

[2015-09-20 21:21] romani commented on #2218
Yes , we have several problems (bad designs) with our cache file, some of them already registered as issues.

YES.

there should be a benefit from this in all scenarios.

I have a rule to put a test method to Test class that combine all classes where changed during a fix.
I would put it to Checker (Treewalker, FileSetChecks, Cache).

[2015-09-20 21:26] mkordas commented on #2215
Going from the test will not work, as there's nothing bad in having additional tests named as modules, components or functionality areas covered. Then we have also integration, system and end-to-end which obviously won't have any corresponding classes. Typical pattern is to use also AbstractTests to group some testing functionality.

[2015-09-20 21:41] romani commented on #2215
going from both sides will require long list of what to suppress. But main point is to raise violation on moment test file is created, and we do not demand from user tests (that might be another Check).

[2015-09-20 21:58] mkordas commented on #2215
Going from main class names is enough. You just take the name and check that in the same package under 'test' root there is something beginning with this name and ending with Test. It is restrictive, but at leas simple convention, that each class should have it's own unit test(s), even if the class has 100% code coverage indirectly.

[2015-09-20 21:58] WonderCsabo commented on #2218
OK, i just found this issue is partly covered in #407.

[2015-09-20 22:51] romani commented on #2215
non of my commercial projects had that, only in Checkstyle we are so modular and fanatic to do this.
Idea of pure UTs are non-efficient and impractical.

Looks like we speak about different things , please give me a name of Check to let me be sure we speak about the same.

[2015-09-20 23:00] mkordas commented on #2215
My commercial project has that with only a few exceptions. Usually it is needed anyway to achieve 100% code coverage.
Name of the check would be something like Test ForEachClass.

[2015-09-21 06:12] rdiachenko commented on #2191
I'm on it

[2015-09-21 06:13] michael-o commented on #2191
Great, if you have something to test, I'll fetch and test it at work.

[2015-09-21 06:18] rdiachenko commented on #2191
NOTE: PowerMock has a bug (https://github.com/jayway/powermock/issues/428) with assumeTrue(false) that is why our test is not ignored when ```online = false```.

[2015-09-21 07:29] hustodemon opened #2219 "NoWhitespaceAfter, NoWhitespaceBefore and WhitespaceAround don't support GENERIC_START nor GENERIC_END tokens"
Hi,
recently I've upgraded from CS 5.8 to 6.10.1 and I'm experiencing the problem mentioned in $subj - we have been using this rules-token combination for eternity and now we must upgrade to CS ver. 6 (because of Java 8).

I wonder if this is a regression (seems that was a lot of refactoring regarding acceptable tokens, like in #342) or an intended behavior (the documentation says that this combin

[2015-09-21 09:35] michael-o commented on #2191
OK, the issue is pending for two months.

[2015-09-21 13:32] #2074 closed

[2015-09-21 13:42] romani commented on #2191
@rdiachenko , just remove Assume and use a standard statements to skip a test, and put a comment on it, to avoid changing it back in future till powermock issue is resolved

[2015-09-21 13:45] romani commented on #2219
Thanks for reporting this, it is a regression.

[2015-09-21 14:04] romani opened #2220 "non blocking test failures during cobertura coverage check"
caused by fix of #2129

`mvn clean verify`

in output:

[code]

update might be related to introduction of slf4j-simple artifact to avoid another warning.
##

[2015-09-21 14:07] romani commented on #2219
FYI: GenericWhitespace(http://checkstyle.sourceforge.net/config_whitespace.html#GenericWhitespace)  was updated to follow Generic rules from http://google.github.io/styleguide/javaguide.html#s4.6.2-horizontal-whitespace.

but yes, such a generic Checks should give you ability to make your own style.

[2015-09-21 14:07] #2219 closed

[2015-09-21 15:27] romani commented on #2210
on Friday even "mvn test" failed, now looks ok.

[2015-09-21 15:31] romani commented on #1346
style guide already cached

[2015-09-21 15:31] #1346 closed

[2015-09-21 18:49] rnveach opened #2221 "Allow finishProcessing for Checks"
I am trying to write a TreeWalker check that must do some final processing, and error reporting, after all the files have been processed.
My check is: All non-abstract classes must be final if they are not inherited.
I am implementing it by collecting all the classes, and their parents from the 'extends' clause, into 2 lists and finding which classes aren't in the other list.

Since this requires

[2015-09-21 21:11] rnveach commented on #2221
Here is what I have done in my own fork to implement this.

The overall changes to CS' base files: https://github.com/rnveach/checkstyle/commit/548a5193ac58e97cac724ea7e2c6754f6cad5542
My check that uses the above changes: https://github.com/rnveach/checkstyle/blob/159b459b8790900f049d9a61ed445f218d601764/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/FinalClassCheck.java#L98

[2015-09-22 06:13] hustodemon commented on #2219
Thanks for the fast reaction!

[2015-09-22 12:56] romani commented on #941
@ekuefler, can you share what IDE settings your team use to sort imports?

Examples: http://checkstyle.sourceforge.net/eclipse.html#Organize_Imports , http://checkstyle.sourceforge.net/idea.html#Organize_Imports

[2015-09-22 13:46] romani commented on #941
@ivanov-alex ,

I tested on Guava "STATIC###SAME_PACKAGE(2)###THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE" vs "STATIC###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE", both give a 0 violations.
so we are ok to change this because:
- there is no guaranty that Google specified their rules correctly, it is know issue that not all team in Google agree on all rules, see discussion at ht

[2015-09-22 14:05] romani commented on #941
We could describe in documentation that option is applicable to THIRDPARTY and STANDARD groups only. It is better then deprecate existing option and provide two new options.
I presume we already do separation and problem only in documentation.

I thought it is possible to make config like following to avoid problems you describe.
Eclipse:
[code]

IntelijIdea:
[code]

[2015-09-23 11:50] mkordas opened #2225 "New check: NoEmptyLinesBeforeClosingBrace"
This check would prevent any amount of empty lines before `}`:
[code]

This would be effectively the same as prohibiting occurrence of `\s*\n\s*\}` regexp in codebase.

Rationale: Empty lines before closing braces make code longer and they do not improve readability.

[2015-09-23 16:13] mkordas opened #2226 "Replace line-based suppressions with inline ones for Checkstyle's suppressions.xml"
All line-based suppressions from https://github.com/checkstyle/checkstyle/blob/checkstyle-6.10.1/config/suppressions.xml should be replaced with code-inline suppressions.

Code-inline suppressions are temporary solution until AST-based suppressions will be implemented.

Rationale - any change in the files with line-based suppressions may cause build failure even if an author was not modifying code

[2015-09-24 01:42] romani opened #2229 "Cyclomatic complexity of switch with fallthrough error"
from SourceForge issue 471
checkstyle computes the cyclomatic complexity of this method to be 16, I believe it should be 2, as the cases should all be one node.

[code]

Normand Rivard 2007-06-01

I disagree with this. The proof is that it would take 16 test cases to prove the code is working fine. Technically speaking, the code can (and probably is) compiled into a set of 15 decisions.

On the ot

[2015-09-24 01:52] romani opened #2230 "InnerAssignment docs need to mention while idiom"
Created: 2006-03-11
Creator: Jason Bennett
SF issue: 418

InnerAssignment code specifically checks for the "while
idiom" (while ( ( str = in.readLine() ) != null )) and
allows it, but the documentation does not mention this.
Documentation should be updated to specifically mention
that code like this is allowed.

[2015-09-24 06:14] romani commented on #2191
@rdiachenko, thanks a lot  for fix.

@michael-o , please let us know if you need some fixes to ease(make it more frequest) release process of maven plugin.

[2015-09-24 06:14] #2191 closed

[2015-09-24 10:55] michael-o commented on #2191
Just pulled from canonical master while the issue seems to be fixed, I see now:

    [INFO] --- xml-maven-plugin:1.0:validate (default) @ checkstyle ---
    [INFO] ------------------------------------------------------------------------
    [INFO] BUILD FAILURE
    [INFO] ------------------------------------------------------------------------
    [INFO] Total time: 10:33 min
    [INFO] Finished a

[2015-09-24 13:45] romani commented on #941
Interesting examples of google's code - https://github.com/android/platform_development/tree/master/ide

IntelijIdea config is not following Style guide (static are below, no alphabetical order) - https://github.com/android/platform_development/blob/master/ide/intellij/codestyles/AndroidStyle.xml#L19 , BUT we see how "com.google" is separated to the top as it demand style guide.

Eclipse config -

[2015-09-24 13:59] romani opened #2231 "restore "url" option at ImportControl"
base on discussion at #2227.

Option need to be restored as we broke compatibility at 6.9 release and did not declared it.

Please update 6.9 release notes (http://checkstyle.sourceforge.net/releasenotes.html#Release_6.9) and add this to  "Breaking backward compatibility:" with note that option will be restored at 6.11.

[2015-09-24 15:57] tgyurci commented on #2068
Enum members can be subclasses of the enum type and some member can override the base enum class's method:
[code]

That's why it makes sense that enum member functions are final or not. In addition the RedundantModifierCheck marks `final` redunant in enum member declarations:

[code]

[2015-09-24 16:39] romani commented on #2068
We need to extend input code base with example from tgyurci . It is not obvious.

[2015-09-24 21:30] rdiachenko commented on #2191
@michael-o, could you please provide more full log?

[2015-09-24 21:40] mkordas commented on #2230
I'm on it.

[2015-09-24 22:06] romani commented on #2191
That happens some time when internet is not stable. Please try one more time. This happens a lot on Travis too.
xml-maven-plugin have no "skip" option and I did not found any way to report issue for this project. If you know this project it would be great to share a link to issue tracker.

[2015-09-24 22:09] mkordas commented on #2191
@romani, isn't it just https://github.com/mojohaus/xml-maven-plugin/issues?

[2015-09-24 22:11] JanPesta commented on #1257
I have to reopen this - I have still NPX in FinalLocalVariableCheck with 6.10.1
[code]
Class file:
[code]
Configuration:
[code]

[2015-09-24 22:36] romani commented on #2191
@mkordas , thanks a lot. I will file an issue to it

[2015-09-24 22:39] romani commented on #1257
Thanks a lot for reporting this in clear form !

[2015-09-24 23:36] rnveach commented on #1257
I will fix this.
The issue is FinalLocalVariableCheck is looking for the top class when it finds a variable with another assignment (in example "downState = state;"), and is skipping over the Enumeration class definition and going past the head of the tree, resulting in a NPE.

[2015-09-25 01:11] sabaka commented on #157
Hello,
I have such error

[ERROR] TokenStreamRecognitionException occurred during the analysis of file /home/idubinin/git/OS/contribution/checkstyle-tester/src/main/java/checkstyle/src/test/resources/com/puppycrawl/tools/checkstyle/grammars/UnicodeEscape.java.

after commit: https://github.com/checkstyle/checkstyle/commit/59483db973f264aee8a693e271ad6ce1e7bca0d1

It happens when I run this: https:

[2015-09-25 12:23] #382 closed

[2015-09-25 12:26] holub opened #2237 "Concurrent execution from maven failed"
I'm using checkstyle from maven with -T option. Sometime the build failed. Most likely it's concurrent issue but I'm not sure on which side it must be fixed: checkstyle or maven plugin.
[code]

[2015-09-25 12:48] romani commented on #2230
merged

[2015-09-25 12:48] #2230 closed

[2015-09-25 12:48] romani commented on #1005
merged

[2015-09-25 12:48] #1005 closed

[2015-09-25 12:56] romani commented on #1257
merged.

[2015-09-25 12:56] #1257 closed

[2015-09-25 13:10] michael-o commented on #2237
Here is the reference: http://stackoverflow.com/q/32769955/696632

[2015-09-25 13:51] mkordas commented on #2237
I've tried to fix that issue in #1122, but PR was not accepted.

[2015-09-25 13:57] michael-o commented on #2237
One can mark a Maven plugin as not threadsafe but that is supported with Maven 3.0+. The current plugin still supports 2.2.1+.

[2015-09-25 13:58] romani commented on #157
@sabaka , We need more details.

1) Travis is not failing - https://travis-ci.org/checkstyle/checkstyle/jobs/82142815 , we close latest code each time.

2)
I did manual test on my local PC
[code]

In report there are 76754 warnings and 0 Errors.

[2015-09-25 17:13] romani commented on #2237
Is it time to reconsider this issue ?

[2015-09-25 18:37] Vladlis opened #2239 "RequireThis check message is not clear enough"
Input:
[code]
Result:
[code]

Shouldn't we extend the message? For instance:

[2015-09-25 18:41] mkordas commented on #2239
@Vladlis, what is the output that you'd expect here?

[2015-09-25 18:46] Vladlis commented on #2239
@mkordas, there should be no violations. Adding ```this``` causes compilation error.

[2015-09-25 19:15] mkordas commented on #2239
But this check is about requiring `this` in all cases. Shouldn't there be `Test.this.foo++` in code? But I agree that violation message is not helpful in this case.

[2015-09-25 19:26] mkordas commented on #2237
@romani, as I wrote in the comment, using `static` mutable cache is bad practice anyway. `ThreadLocal` is solution to maintain performance within one thread but enable safe multithreaded usage. Should I raise PR for that?

[2015-09-25 19:38] Vladlis commented on #2239
@mkordas, yes, you're right.

[2015-09-25 20:31] mkordas commented on #2239
Unfortunately I don't see test cases covering that. Also xdoc could be updated to make behaviour clear. @Vladlis, would you be able to repair it properly?

[2015-09-25 20:47] romani commented on #2237
lets try to use ThreadLocal , all Javadoc Checks need to be reimplemented, so we need some temporal solution.

[2015-09-25 21:26] Vladlis opened #2240 "False negative in RequireThis check"
Input:
[code]
Config:
[code]
Result:
[code]
The check should require ```this``` for ```foo```.
The problem is in check's superclass: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/AbstractDeclarationCollector.java#L193 - it searches by name without checking the line of variable declaration.

[2015-09-25 21:36] Vladlis commented on #2239
@mkordas, yes, I guess I can handle this.

[2015-09-26 00:44] romani commented on #2191
issue is created - https://github.com/mojohaus/xml-maven-plugin/issues/2

[2015-09-26 00:53] romani opened #2242 "Localization maven report to our site"
Example:
https://maven.apache.org/plugins/maven-linkcheck-plugin/l10n-status.html

It should be fun to have it, as our messages are controlled by TranslationCheck already.

Plugin:
https://code.google.com/p/l10n-maven-plugin/
https://code.google.com/p/l10n-maven-plugin/wiki/Usage

Plugin should just do reporting for "site" phase (command to build our site : "mvn clean site -Dlinkcheck.skip=true").

[2015-09-26 13:59] romani commented on #2237
fixed in 6.11 .

But I would NOT make it official that we are multi-threading.

[2015-09-26 13:59] #2237 closed

[2015-09-26 14:12] holub commented on #2237
Thanks! What is the schedule fro 6.11?

[2015-09-26 14:17] romani commented on #2237
this weekends - please pay attention to milestones https://github.com/checkstyle/checkstyle/milestones

[2015-09-26 19:33] MEZk opened #2243 "cobertura:check goal fails the build while executing on Travic CI"
**Problem**
cobertura:check goal fails the build while executing on Travis CI.

**Reason**
TranslationCheck is reported as not fully covered with UT.
See https://travis-ci.org/checkstyle/checkstyle/jobs/82176441 .

**Details of investigation**
On local PC cobertura:check does not fail the build.
AppVeyor also does not fail the build. See https://github.com/checkstyle/checkstyle/pull/2177#issuecomm

[2015-09-26 22:00] romani commented on #2231
fixed.

[2015-09-26 22:00] #2231 closed

[2015-09-26 22:30] romani commented on #2166
fixed.

[2015-09-26 22:30] #2166 closed

[2015-09-27 00:35] sabaka commented on #157
Magic :)
I did it several times today and first failed, but other went fine.
I suppose I might get bad combination of commits for test; or now it fine because I did pull in contribution repository; or something else.
Anyway now it's fine and you can include this commit to release

[2015-09-27 02:14] romani commented on #2169
fixed.

[2015-09-27 02:14] #2169 closed

[2015-09-28 02:24] romani opened #2245 "problem of custom javadoc tags during mvn release:prepare"
noinspection tag blocked be a release.
`mvn release:prepare -DdryRun=true -Darguments='-DskipTests -DskipITs -Dcobertura.skip=true  -Dpmd.skip=true -Dfindbugs.skip=true -Dcheckstyle.ant.skip=true -Dgpg.passphrase=xxxxxxxxxxxx'
`
commit to fix - d98c79e9be2ff038a4cfc2def20d04e7237d3991

we need to figure out, how to explain maven release plugin that such tag is known.

@mkordas , please take a look

[2015-09-28 15:43] mkordas commented on #2245
@romani, I cannot reproduce. Command `mvn release:prepare -DdryRun=true -Darguments='-DskipTests -DskipITs -Dcobertura.skip=true -Dpmd.skip=true -Dfindbugs.skip=true -Dcheckstyle.ant.skip=true -Dgpg.passphrase=xxxxxxxxxxxx'` works for me fine on Java 8.

Moreover, d98c79e removes just one `noinspection` while we have two of them in the code: https://github.com/checkstyle/checkstyle/search?utf8=%E2

[2015-09-28 15:51] romani commented on #2245
I noticed a warning in logs about extra tag during site build, but it was not failed a build so I ignored it, release was in more priority.

Ok, I will try to reproduce a problem.

[2015-09-29 15:27] romani commented on #2245
@mkordas , your command reproduce problem easily on my laptop
https://gist.github.com/romani/72b5c9263fdd2d4dc2a3

[2015-09-29 16:26] Vladlis commented on #905
Actually, these warnings are not from JDepend, you can check it by running ```mvn clean site``` without this plugin.

I suppose these warnings are reported by Doxia Site Renderer, which is used by maven-site-plugin, and cannot be suppressed. At least, I could not find such a property: https://maven.apache.org/doxia/doxia-sitetools/doxia-site-renderer/ (at the bottom of the page: "When doxia-site-r

[2015-09-29 17:24] romani commented on #905
Please give me a link to line that you propose to remove

[2015-09-29 18:26] Vladlis commented on #905
Yes, it is optional and looks like it doesn't change the appearance of the site.

[2015-09-29 21:33] romani commented on #905
please do not trust to eyes, make a diff by files content.

[2015-09-29 23:44] romani commented on #905
the difference is only missed lines like ``` <meta name="author" content="Oliver Burn" />``` , it is ok.

[2015-09-29 23:46] #905 closed

[2015-09-30 01:24] romani commented on #2090
from @wstomv  at mail-list that really extend a meaning of new option and extends a scope of update:

Hi all,

I suggested in issue #2090 to add a boolean option allowMultipleWhitespaces to WhiteSpaceAfter and WhiteSpaceAround, in analogy to boolean option allowMultipleEmptyLines in check EmptyLineSeparator.

By relating it as an option to specific checks, it allows better fine tuning.

On the oth

[2015-09-30 01:28] romani commented on #2090
most likely yes, and your approach will allow user to skip cases like https://github.com/checkstyle/checkstyle/issues/1007#issuecomment-120704053 .

But I still think separate Check could be useful when It get maturity especially to support javadoc/comments.

[2015-09-30 18:19] WonderCsabo opened #2250 "@SuppressWarnings does not suppress missing Javadoc on inner class"
I have this class:

[code]
and this rule file:

[code]

When i run CS i get this output:

[code]

But this is incorrect, since the `javadoctype` violation is suppressed by the annotation.

[2015-10-01 00:57] romani opened #2251 "Translation Check: wrong support for resources with language, country, variant"
Original problem:
SForge: 433
Creator: Tom Cunningham
Created: 2006-06-13

Translation check doesn't support filenames that contain the character "_" other than within the
language/country/variant - for example:
home_errors_en.properties resolves to basename "home" ( expected "home_errors"),
home_messages_en.properties resolves to basename "home" (expected  "home_messages")

Properties consept:
ht

[2015-10-01 01:20] romani commented on #569
sorry that we did not address this issue in 6.11 , too much activity with active PRs.

[2015-10-01 01:25] romani commented on #2204
#2251 issue need to be resolved first to make it clear what is logic of basename and language/country/variant processing.

[2015-10-01 13:56] romani commented on #281
https://github.com/checkstyle/checkstyle/pull/1548 is merged, will be release as 6.11.1 asap.

[2015-10-01 13:57] ensirius commented on #281
gg

[2015-10-01 13:58] romani commented on #281
From @romani:

false positives in "after":
1)
infinispan/core/src/main/java/org/infinispan/interceptors/distribution/DistributionBulkInterceptor.java
Severity Category Rule Message Line
Warning indentation Indentation 'lambda arguments' have incorrect indentation level 17, expected level should be 15. 135
https://pietern.github.io/checkstyle-reports/lambda-1548/after/infinispan/site/xref/infinispa

[2015-10-01 14:03] romani commented on #2245
I need to do release 6.11.1and this issue is still a problem.

@mkordas , Does it make sense to remove tag and suppress this IntelijIdea rule till issue is resolved ?

Additionally we need to put this command (mvn release:prepare -DdryRun ....... ) to Travis , it is not a first time a have problem right during release.

[2015-10-02 13:22] romani commented on #281
First implementation of Lambda support was released - http://checkstyle.sourceforge.net/releasenotes.html#Release_6.11.1 , please use and be welcome with feedback.

Issue is not closed as we still have some problems (see comment above).

[2015-10-02 16:07] Dru89 commented on #281
Thanks @romani!  Will there be a maven release of this as well?  I noticed that the [maven repo](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.puppycrawl.tools%22%20AND%20a%3A%22checkstyle%22) wasn't showing it yet.

[2015-10-02 16:27] romani commented on #281
Telease always mean depoly to maven cetral. Web ui always late, please take a look at apache folders http://repo1.maven.org/maven2/com/puppycrawl/tools/checkstyle/.

[2015-10-03 17:31] lkoe opened #2258 "Documentation: NoWhiteSpaceAfter, WhiteSpaceAround do not list GENERIC_START and GENERIC_END as acceptable token"
Regarding issue #2219, documentation of both NoWhiteSpaceAfter and WhiteSpaceAround are missing new tokens GENERIC_START and GENERIC_END from the list of acceptable tokens.

[2015-10-03 17:38] lkoe opened #2259 "Documentation: NoWhiteSpaceBefore does not list COMMA as acceptable token"
Regarding changes from #2089, the change is not reflected in the documentation, as token COMMA is missing from the list of acceptable tokens.

[2015-10-03 18:17] lkoe opened #2260 "API ConfigurationLoader.loadConfiguration(InputSource, PropertyResolver, boolean) has been removed in 6.10/6.11"
ConfigurationLoader.loadConfiguration(InputSource, PropertyResolver, boolean) has been made private somewhere after Checkstyle 6.9 - without notice I might add.
The eclipse-cs plugin uses this method to load Checkstyle configuration from various sources.
It is unclear to me whether ConfigurationLoader.loadConfiguration(String, PropertyResolver, boolean) is a sufficient replacement - and I am not i

[2015-10-03 19:29] romani commented on #2260
@mkordas , https://github.com/checkstyle/checkstyle/blame/master/src/main/java/com/puppycrawl/tools/checkstyle/ConfigurationLoader.java#L222 to restore access we need to reconsile this with Teamcity.

@lkoe , do you expect from us 6.11.2 ?

[2015-10-03 20:26] lkoe commented on #2260
@romani well, I was about to prepare a new eclipse-cs version using 6.11.x - I'll leave the decision up to you whether to spin a 6.11.2 fix or wait until 6.12. In any case I will only be able to upgrade once this is resolved.

[2015-10-03 21:08] romani commented on #2260
Btw, why you think that ConfigurationLoader is Api ? It is not in api folder, we will not notify about on non api changes in releasenotes.

[2015-10-03 21:32] lkoe commented on #2260
It's the only means for an integration vendor to get hold of a Configuration object.
A Configuration instance is needed to create/setup a Checker object - which is needed, well, to run Checkstyle.
Even though classes like Configuration, Checker, PropertyResolver are not technically located in the API package (for historical reasons probably) they are central cornerstones for interaction with the C

[2015-10-03 23:44] #2259 closed

[2015-10-03 23:45] #2258 closed

[2015-10-04 00:49] romani commented on #2260
release 6.11.2 will be on Sunday, @lkoe , please recheck your latest code to make sure that you do not have any other problems with us.

[2015-10-05 08:14] pbaranchikov opened #2266 "EmptyLineSeparator does not report problem, if next method is documented using Javadoc"
Absence of empty line is not reported, if the bottom method has JavaDoc.
[code]
If I remove the JavaDoc for methodNext(), violation is reported

[2015-10-05 08:24] pbaranchikov opened #2267 "JavadocMethod false positive when @{code ...} is at the beginning of the line"
Checkstyle reports "First sentence should end with a period" for the following Javadoc block:
[code]
The following is treated without false positive:
[code]

[2015-10-05 08:27] #2267 closed

[2015-10-05 12:07] romani commented on #2266
Thanks for reporting this, that also problem for fields. There are a lot of code that miss line separator in Checkstyle code.

[2015-10-05 12:32] #819 closed

[2015-10-05 12:51] romani opened #2268 "Usage of all modules in chekstyle_checks.xml"
base on #819 and #2261 .

We need to extend UT that check that all Checks are present in checkstyle_checks.xml to let it validate that all modules(Filters and AuditListeners, .... ) are used in our own config.
Documentation should be updated to provide link from example section to that configuration.

Usage of some modules (most likely some filters) will be artificial , need to be discussed with b

[2015-10-05 12:51] holub opened #2269 "Concurrency issue in JavadocParagraph check"
Non-deterministic exception with maven concurrent build (-T):
[code]
maven-checkstyle-plugin: 2.16
checkstyle: 6.11

plugin exception:
[code]

[2015-10-05 12:53] romani commented on #2269
@holub , can you report issue like it done at https://github.com/checkstyle/checkstyle/issues/2250 . thanks in advance.

[2015-10-05 12:55] holub commented on #2269
@romani Working on it. Just hit [enter] accidentally.

[2015-10-05 13:29] holub commented on #2269
Ooops. It was actual issue. Sorry!

[2015-10-05 13:29] #2269 closed

[2015-10-05 15:20] dawidnejman commented on #1238
Hi. I would like to start contributing to checkstyle and I think this would be an easy task for me to begin. Could you assign me to it?

[2015-10-05 15:23] romani commented on #2260
@lkoe , 6.11.2 is released.

[2015-10-05 15:24] romani commented on #1238
assigned to @dawidnejman .

[2015-10-05 15:47] pbaranchikov opened #2270 "SuppressionFilter's name attribute format is OS-dependent."
Checkstyle's suppression filter identify to ignore using *files* attribute. Values in the attribute use system-dependent path separator.

Reporting from [stackoverflow] (http://stackoverflow.com/questions/13874582/what-is-the-correct-syntax-to-suppress-specific-checkstyle-rules-on-certain-file) suggest very nasty form of workaround:

[code]

There should be an ability to specify uniformed paths, f

[2015-10-05 19:32] romani commented on #2243
fixed by #2257

[2015-10-05 19:32] #2243 closed

[2015-10-05 20:21] mkordas opened #2271 "Fix all issues for Java found by Codacy static analysis tool"
Recently Codacy added support for Java analysis. All issues from https://www.codacy.com/app/checkstyle/checkstyle/issues should be analyzed and fixed or suppressed in their GUI.

Github integration could give us ability to use it during PR verification - https://support.codacy.com/hc/en-us/articles/207280219-GitHub

[2015-10-05 20:57] lkoe commented on #2260
@romani thanks. Have you come to a conclusion on the API vs. non-API topic?

[2015-10-05 21:00] romani commented on #2260
I keep this issue open to let me open another issue base on api and nonapi topic we toucht there. Api changes is something that we need reconsider in checkstyle.

[2015-10-06 09:19] MEZk commented on #2077
@rnveach
As concerns line 25.

Comments in general describe the next statement or code block. Exception is 'fall throught' comment in case block.

[code]

Comment on line 25 should describe the statement on line 26 and should have the same indentation as line 26.

[code]

We can not control all settings of Eclipse or other IDEs. Please, try to set up formatter properly, like I've done in IntelliJ

[2015-10-06 13:41] rnveach commented on #2077
@MEZk
I don't know other IDEs, so this could be IDE specific, but there doesn't seem to be a way to disable this in Eclipse.
I played with all the Formatting values in Eclipse Luna, nothing under the "Comments" will specifically make code and comments the same column position for consecutive lines. The closest option is "Line Wrapping" (specifically "Binary expressions" for my example) but this ju

[2015-10-06 13:53] romani opened #2273 "rename CheckUtils.isVoidMethod to isNonVoidMethod"
base on https://github.com/checkstyle/checkstyle/commit/a21164df1fbaff36ba020968b3a6128ab8476756#commitcomment-13570539

name is wrong, "Non" was missed.

[2015-10-06 13:57] romani commented on #2273
fixed in e2b4e687d7b8f9d6d5e1346d874b90e4567aff81

[2015-10-06 13:57] #2273 closed

[2015-10-06 14:28] rnveach commented on #2273
@romani
Doesn't the JavaDoc of the method have to be changed as well?
https://github.com/checkstyle/checkstyle/blob/e2b4e687d7b8f9d6d5e1346d874b90e4567aff81/src/main/java/com/puppycrawl/tools/checkstyle/utils/CheckUtils.java#L401

[2015-10-06 15:32] romani commented on #2077
@MEZk

please prove that is possible by IntelijIdea

[2015-10-06 15:42] MEZk commented on #2271
@mkordas @romani Could you share Codace rule set. please? Just for my interest.

[2015-10-06 15:43] romani commented on #2077
@rnveach

Wording in Google style guide is known problem already, we have long discussion with Google to fix uncertain text,  Google team agree and do nothing :) .  All we could presume it is looking at their opensource code, that if full of violations for formatting. Each team in Google use its own style.

And we have Checkstyle's limitations to clearly detect user intention of explanation target

[2015-10-06 15:53] romani commented on #2273
@rnveach , fixed, thank a lot for pointing this.

[2015-10-06 19:18] mkordas commented on #2271
@MEZk, here is their config: https://github.com/codacy/codacy-pmdjava/blob/master/src/main/resources/docs/patterns.json

[2015-10-06 22:01] oburn commented on #2270
I like the idea.

You will need to consider that the import-control `<suppress>` element has the attribute `regex` which is used to flag whether the package or class name is interpreted as a regular expression (the example above is missing this).

Suggest consider adding support for a `glob` attribute to support the behaviour your want.

Specifying both `regex` and `glob` as `true` would be an err

[2015-10-06 23:54] romani commented on #973
released in 6.10

[2015-10-06 23:54] #973 closed

[2015-10-06 23:58] romani commented on #961
resolved already by some other commit, such exclude does not exists anymore in pmd configuration

[2015-10-06 23:58] #961 closed

[2015-10-07 02:32] romani commented on #985
@mkordas ,

Please share your thought on naming of following problematic variables: ex, sb, id
They are pretty well spread.

Should we stay with minimum size 2 or 3 ?

--- maven-pmd-plugin:3.5:check (default-cli) @ checkstyle --- Rule:ShortVariable Priority:3

.ConfigurationLoader:277  Avoid variables with short names like sb.
.DefaultLogger:132  Avoid variables with short names like sb.
.XMLLogge

[2015-10-07 02:46] romani commented on #985
http://checkstyle.sourceforge.net/config_naming.html#LocalVariableName should be reconfigured to catch variables who are less then min size (in default form it allow one-char variables).

[2015-10-07 07:03] MEZk commented on #2077
@rnveach, @romani

For IntelliJ IDEA:

1) Go to File -> Settings -> Editor -> Code & Style -> Java -> Tabs and Intends and set the parameters of the editor as the following:

![screenshot](https://cloud.githubusercontent.com/assets/7242568/10330932/f8c8fb42-6cd9-11e5-8690-302e8bfd0f80.png)

2) Select the code you want to format and press Ctrl + Alt + I or go to Code -> Auto Indent Lines.

Before f

[2015-10-07 08:55] gallandarakhneorg opened #2275 "SuppressWarningHolder may support the special warning id "all""
In several cases (generated code, etc.), it is useful to put a `@SuppressWarnings("all")` at the top of the code.
Unfortunately, this special warning id is recognized by Eclipse, but not by checkstyle.

I suggest to add this special warning id in the implementation of SuppressWarningHolderCheck.

[2015-10-07 13:45] romani commented on #974
false positives that has to be suppressed, sequential IF_ELSE-IF-ELSE-IF can not be refactored
[code]

[2015-10-07 20:09] romani commented on #1159
for this rule we have an suppression - https://github.com/checkstyle/checkstyle/blob/master/config/pmd.xml#L220

@mkordas , do you have ideas how to make code to pass a Rule, if no ideas , lets close this issue and put description comment to configuration.

[2015-10-07 20:25] mkordas commented on #1159
I will look into it during the weekend. I'm sure we can do something about it.

[2015-10-08 01:13] romani commented on #996
merged

[2015-10-08 01:13] #996 closed

[2015-10-08 01:13] romani commented on #974
merged.

[2015-10-08 01:13] #974 closed

[2015-10-08 08:57] MEZk commented on #2077
@rnveach, @romani,
For NetBeans:

1) Go to Tools -> Options -> Editor -> Formatting.
2) Chose Java language.
3) Chose category 'Tabs and Intends'
4) Set up indentation parameters as in the following example:

![screenshot](https://cloud.githubusercontent.com/assets/7242568/10361846/82aa28d4-6db3-11e5-89aa-e3ed596feed1.png)

5) Select the code you want to format and press Alt + Shift + F or go to S

[2015-10-08 13:36] romani commented on #2077
@MEZk , good job.

@rnveach , now you have evidences that Eclipse is not corect, please open issue on Eclipse and put a link to it here, for future reference.

[2015-10-08 13:47] romani commented on #2275
merged.

[2015-10-08 13:47] #2275 closed

[2015-10-08 15:13] Jurax opened #2283 "NPE with NeedBraces/allowSingleLineStatement"
With NeedBraces/allowSingleLineStatement enabled the following code causes a NullPointerException. (Using Checkstyle 6.11.2 / 6.11.1)

[code]

[code]

[code]

[2015-10-08 17:21] romani commented on #851
Discussion of issue with examples and details https://groups.google.com/forum/m/#!topic/checkstyle-devel/OMdHltbB5jc

[2015-10-08 18:11] lkoe opened #2284 "NPE in SuppressWarningsHolder"
I got a bug filed agains eclipse-cs (https://sourceforge.net/p/eclipse-cs/bugs/395/)

[code]

[2015-10-08 18:16] lkoe opened #2285 "Checkstyle internal exceptions lack contextual information"
Referencing bug #2284 this seems to indicate more general issue.

The "new" error handling in Checkstyle (bubble exceptions up to the caller) is not yet ideal.
Although the stacktrace is now available in eclipses error log, there is no contextual information on the exception, e.g. file (and possibly AST location).

This makes it very hard currently to track down the source file and location which

[2015-10-08 18:21] gallandarakhneorg commented on #2275
thank you.

[2015-10-08 18:29] romani commented on #2284
We use that module in default configuration and it works fine in our build system:
https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L286

we need more details on how to reproduce this problem.
Please try to reproduce problem by CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-10-08 19:39] romani commented on #1416
released as 6.10

[2015-10-08 19:39] #1416 closed

[2015-10-08 20:10] sabaka commented on #1290
@romani could you close it?

[2015-10-08 20:10] #1290 closed

[2015-10-09 00:33] romani opened #2290 "ParameterName: new option to skip methods Override annotation"
base on discussion in #985 .

1) we need an option for http://checkstyle.sourceforge.net/config_naming.html#ParameterName
to skip violations on parameter that are for methods with annotation ```@Override```.

reason:
[code]

2) We need to update default usage of ```<module name="ParameterName"/>``` at
https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L180
to custom

[2015-10-09 00:42] rnveach opened #2291 "Inconsistent violations for NeedBraces/allowSingleLineStatement"
Code:
[code]
Config:
[code]
Output:
[code]

I was expecting both lines to be reported as errors, since they are identical for loops, but the for-each loop isn't reported.
I used CS 6.11.2.

[2015-10-09 00:44] romani commented on #985
I mark issue as resolved, for now we have limit 2 for names , discussion for https://github.com/checkstyle/checkstyle/issues/985#issuecomment-146061360  could be continued in this issue.

[2015-10-09 00:44] #985 closed

[2015-10-09 07:34] pbaranchikov commented on #2290
Hi, @romani

to skip violations on parameter that are for methods with annotation @Override.

I still cannot understand, why do we need this change. If I override the method with malformed parameter names, I can rename formal parameters in a way that they conform my LocalVariableName requirements.

[2015-10-09 09:24] mvdan commented on #524
I would also appreciate this.

[2015-10-09 11:48] romani commented on #2160
we have problem with compilation in Eclipse (I tested it on 4.5):
[code]

I did not found a way to do it by lifecycle-mapping plugin configuration, while problem exists I comment out Error Prone usage in pom.xml, we value ability to work in Eclipse easily more than any plugin.

[2015-10-09 12:52] romani commented on #2290
@pbaranchikov ,

1) When user "Override" , he kind of position to follow style of method author, it is better to not change signature. Most of engineers just follow IDEs auto-generation and that is right way. We just need to let Checkstyle easily ignore cases when class/method is coming from outside(thirdparty library with different style) and we can not fix this, but we have to use it.

2) please

[2015-10-09 13:03] pbaranchikov commented on #2290
We can face the following problem
[code]
This should not be restricted. WIth the option, you will be free to name method parameters as you want, despite of any styling rules in overridden methods.

If you insist on adding this option, I vote to make it disabled by default.

- ttCr
- treeTableCR
- ttCellRenderer
...

[2015-10-09 13:18] romani commented on #2283
merged.

[2015-10-09 13:18] #2283 closed

[2015-10-09 13:28] romani commented on #2290
:) , default should work for most users. Can you show me examples in opensource where people change name of arguments from original ?
If no example found but If you are in a team where such code(from your example) is likely to happen, you need to use specially configured Check. Very strict defaults force user to disable Check completely without considering reading documentation for Check.

I meant

[2015-10-09 13:35] romani commented on #1238
@dawidnejman , just want to remind you that it better to tackle this task in several atomic PRs. It is ok to send PR with update only to one tool. If you have very limited amount of time to spend on project, approach of micro but atomic PRs is best choice - continuous integration (even by small steps).

[2015-10-09 16:30] romani opened #2292 "xdoc: Sort Checks alphabetically in content sections"
Example: http://checkstyle.sourceforge.net/config_misc.html

It is hard to find Indentation Check, but content should be sorted alphabetically.

One more reference https://sourceforge.net/p/checkstyle/feature-requests/511/

[2015-10-09 20:45] dawidnejman commented on #1238
@romani Below you can see my progress and internal documentation at the same time. I will do as you have suggested with first PR covering those inactive tools that I have discovered.

Plugin name | CheckStyle version used | Comment
----------------- | --------------------------------- | -------------
SCM-Manager Plugin Page | 5.6 | Last update: 2014-05-22
jGRASP | 5.0 | Tool allows user to select

[2015-10-09 20:51] romani commented on #1238
I recommend you to do PRs with these changes, we will discuss in actual patch of xml file content that need to be changed.

[2015-10-09 20:55] dawidnejman commented on #1238
Sure

[2015-10-09 20:56] mkordas commented on #1238
@dawidnejman, [checkstyle-idea](https://github.com/jshiell/checkstyle-idea/issues/189) has just added support for Checkstyle 6.11.2

[2015-10-09 21:23] dawidnejman commented on #1238
@mkordas thanks for pointing this out. Things change very fast.

[2015-10-10 21:47] romani commented on #2292
assigned to @ufltysi .

[2015-10-10 22:18] rdiachenko commented on #1217
I'm on it

[2015-10-11 02:08] romani commented on #2167
maven snapshot artifacts are at https://oss.sonatype.org/content/repositories/snapshots/com/puppycrawl/tools/checkstyle/

[2015-10-11 08:54] dawidnejman commented on #1238
Roman, instead having one table separated by empty row, how about using sub-sections?
I think it would be more readable:
![image](https://cloud.githubusercontent.com/assets/2310862/10416083/5249421a-7006-11e5-8fe8-b4595da396ca.png)

[2015-10-11 09:42] mkordas commented on #1238
+1 from me

[2015-10-11 14:00] romani commented on #1238
Very good.

fyi: Checkstyle for Bamboo is inactive

[2015-10-11 14:05] dawidnejman commented on #1238
Bitbucket page for checkstyle for Bamboo looks alive: https://bitbucket.org/atlassian/bamboo-checkstyle-plugin

[2015-10-11 15:03] romani commented on #1238
:) , ok , please reconcile both link of this project in our table, second show that it is inactive.

[2015-10-11 16:01] robtimus commented on #903
I am running into the same issue with a _ThreadSafe_ annotation. When applied to a method it should indicate that the method is thread safe, when applied to a return type it should indicate that the return type is thread safe. Technically it should be possible to annotate both using the same annotation, but javac doesn't allow that yet as it cannot make a distinction between the method annotation

[2015-10-11 18:05] mkordas commented on #957
My proposition is to upgrade our PMD to 5.4.0 and use two new things that would help a lot solving this issue:
* https://sourceforge.net/p/pmd/bugs/1410/
* https://pmd.github.io/pmd-5.4.0/pmd-java/rules/java/comments.html#CommentDefaultAccessModifier

@romani, can I proceed with the update? Do you want separate issue to track this (several new interesting rules were added too)?

[2015-10-11 18:18] robtimus commented on #903
Note that CheckStyle gives no warning if the return type annotation is preceded by a generic type:
[code]

[2015-10-11 22:21] mkordas commented on #2245
Done in #2253

[2015-10-11 22:21] #2245 closed

[2015-10-11 23:36] Vampire opened #2326 "If you reuse a class based on AbstractJavadocCheck, you can get stale error messages with wrong information"
We use SonarQube with CheckStyle checks.
We recently activated the AtclauseOrderCheck.
But this caused the whole SQ analysis to fail.

The reason is the following:

We have a file A.java with JavaDoc:

[code]

which causes a parse error because of unclosed HTML tag, which of course means that in this case the angle brackets should be escaped correctly.

Later in the analysis there is a file B.java

[2015-10-12 10:02] clausfod opened #2327 "ModifiedControlVariableCheck: NPE when SuppressWarnings is used"
Test case:
[code]

[2015-10-12 10:04] mkordas commented on #2327
@clausfod, Can you also provide stacktrace?

[2015-10-12 10:05] clausfod commented on #2327
There is no stacktrace - only this: Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin: 2.16:checkstyle (default-cli) on project xxxx.xxx: Execution default-cli of goal org.apache.maven.plugins:maven-checkstyle-plugin:2.16 :checkstyle failed. NullPointerException -> [Help 1]

[2015-10-12 10:07] mkordas commented on #2327
You need to add "-e" as parameter.

[2015-10-12 10:19] clausfod commented on #2327
´´´´xml
project xxx: Execution default-cli of goal org.a
pache.maven.plugins:maven-checkstyle-plugin:2.16:checkstyle failed.
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor
.java:224)
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor
.java:153)
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor
.java:145)

[2015-10-12 11:21] Vampire commented on #2326
I created a pull request which fixes this issue.

[2015-10-12 12:35] romani commented on #957
Fix that you mentioned , is in 5.3.4 , maven plugin is using 5.3.2. We can update to 5.3.4 without major update to other rules.

Fix for this rule is only for Annotation that we should not use. I do not see a good reason to upgrade to new version of pmd.

5.4 version will trigger more Rules and new violations in our code, lets do this in separate issue. I recommend to wait for pmd maven plugin rel

[2015-10-12 12:45] robertwhitebit opened #2329 "Javadoc isn't parsed correctly in files with only CR newlines"
Printing the javadoc tree by using the [JavadocTreePrinter](https://github.com/checkstyle/contribution/blob/d3b74a1ae272ba15bd6a913c7686f1fcb2ec7622/javadoc-tree-serializer/JavadocTreePrinter.java) from the contribution repository for the checkstyle test file [InputNewlineCrAtEndOfFile.java](https://github.com/checkstyle/checkstyle/blob/aaf606ee0268f140c3694baba4c13b03f7839522/src/test/resources/c

[2015-10-12 19:50] romani commented on #2329
parsing should be the same no matter what line-ending is in file, the same as for java files.

@baratali , please comment on this issue

[2015-10-12 19:54] romani commented on #2327
please prove that issue exists by our CLI on latest released version (6.11.2) to remove maven plugin from consideration(maven plugin use old version - https://maven.apache.org/plugins/maven-checkstyle-plugin/history.html). We need config and input file from you to reproduce a problem.

Example of perfectly reported issue - https://github.com/checkstyle/checkstyle/issues/2250 .

[2015-10-12 20:05] romani opened #2344 "create HTML web page to describe how to open issues agains Checkstyle"
It is not rare case when user open issue in appropriate way, so we need to make a html page
https://github.com/checkstyle/checkstyle/issues/2327

Good example:
https://github.com/checkstyle/checkstyle/issues/2250

Location of page should be some where under http://checkstyle.sourceforge.net/contributing.html, no need to show it on left panel.

[2015-10-12 21:30] rdiachenko commented on #1217
hello @uschindler, currently to exclude the file from the check I use such a maven config:
[code]

but in this way ```GeneratedJavaLexer.class``` will be excluded from checking against all the bundled signatures which is not good as for me. Is there any way to specify the excluded files for each bundled signature separately? For instance, for ```jdk-unsafe``` exclude ```a.class``` but for ```jdk-s

[2015-10-13 07:56] uschindler commented on #1217
Hi,
this is not possible to combine signatures with seperate excludes per signature. This is one reason why we added the @SuppressForbidden annotation. By that you can exclude specific methods directly in source code. E.g. for command line tools, Lucene uses a @SuppressForbidden on the method where the system printlns are done.

For generated classes this does not help (like parsers generated with

[2015-10-13 08:31] clausfod commented on #2327
Hi,

Thanks for trying to help solving the problem with Checkstyle. I can't attach a specific java file, because I don't know which one of the 10.000+ java classes in the "src" folder has the problem.

You can overwrite the checkstyle maven plugin to use another version by doing this (as stated in the initally comment):

[code]

So the checkstyle maven plugin fails with 6.11.2 of Checkstyle. I hav

[2015-10-13 08:38] baratali commented on #2329
@romani , according to the Javadoc Antlr grammar a newline symbol is '\n' or '\r\n'
https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/com/puppycrawl/tools/checkstyle/grammars/javadoc/JavadocLexer.g4#L62

[2015-10-13 10:22] MEZk commented on #2327
@romani
See https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/ModifiedControlVariableCheck.java#L278

When [ast token](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/ModifiedControlVariableCheck.java#L276) does not have children than identAST is equal to null. And we hav

[2015-10-13 11:14] MEZk commented on #2284
@romani
Looks like we did some changes in SuppressWarningsHolder, because there is the "}" on line 207.
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/SuppressWarningsHolder.java#L207

@lkoe
Could you specify what checkstyle version do you use?

[2015-10-13 11:19] MEZk commented on #2268
@romani
We can use [getCheckstyleModules](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/AllChecksTest.java#L215) to get all checkstyle modules classes or just [getCheckstyleChecks](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/AllChecksTest.java#L188) to get checkstyle checks classe only.

The

[2015-10-13 12:47] romani commented on #2326
@Vampire , thanks for reporting an issue.

1) Please share a error or stacktrace that you have

2) Please read your description again and update it to have more details, looks like you miss paragraph before "As it seems SQ is reusing the same". Please focus on details of what problem you have rather then on how to fix it.

3) Please reproduce a problem by our CLI (http://checkstyle.sourceforge.net

[2015-10-13 13:14] romani opened #2346 "Description of getDefaultTokens(), getAcceptableTokens(), getRequiredTokens() methods"
In preparation for moratorium period removal we need to explain user reason and difference between methods: getDefaultTokens(), getAcceptableTokens(), getRequiredTokens() . Even contributor of Chekcstyle right now have problems with understanding of this.

Page should be a section at:
http://checkstyle.sourceforge.net/writingchecks.html

[2015-10-13 13:17] Vampire commented on #2326
1) I don't have an error or stacktrace, besides the subsequent error in SonarQube, but that is not really Checkstyle related. The effect in Checkstyle is, that you get the wrong finding for the second file.

**Example:**
*Wrong:*
[code]
*Correct:*
[code]

2) Well as far as I can see I clearly described the situation we have, the problem we have and proposed a possible cause. I don't really see wha

[2015-10-13 17:05] romani commented on #2326
@baratali , can you comment on this issue and PR ?

[2015-10-13 17:08] romani commented on #2109
Getting details failure is almost impossible now, we need to address this ASAP.

See #2327 , #2326 .

[2015-10-13 17:43] lkoe commented on #2284
@MEZk Personally, I did not get the error - I just relayed a bug reported against eclipse-cs
The original poster probably was using Checkstyle 6.11.2 via the eclipse-cs plugin.

My intention was to use this bug as a vehicle for a more common issue, see #2285.

[2015-10-13 18:08] Vampire commented on #2109
I don't think this is related to #2326, there the real error is not shown at all, but the previously found one :-)

[2015-10-13 21:56] romani commented on #957
@mkordas , Please add known/complicated cases to suppression/exclude and enforce a Rule on the rest of the code.

[2015-10-13 22:59] Vampire commented on #2326
Ok, I took some minutes and gave it another try.
Actually in master it was easier than in the 6.4.1 tag, or a fresh look made it easier.
Whatever, I added test coverage now.

[2015-10-13 23:49] rdiachenko commented on #2161
'forbiddenapis' verification tool was activated in scope of #1217. Input sources for tests were added to exclude list (see PR #2347). **This exclude list should be reviewed and updated after tests inputs will be renamed in scope of the current issue.**

[2015-10-14 03:04] romani commented on #1217
Merged

[2015-10-14 03:04] #1217 closed

[2015-10-14 13:49] romani commented on #2327
@clausfod , sorry that we can not help you quickly, we have registered issue for printing problematic file in logs.

To let you catch a problem please remove from config all Checks except for ModifiedControlVariable, and try to remove launch CLI on subfolders of your "src" folder, validation will be quick, by means of this approach you will step down to problematic lowest package quickly, file you

[2015-10-14 14:02] romani commented on #2326
@Vampire , Sorry for late focus on your issue/pr, we support whole project in our "little spare-time", I put a priority to issues that are completely clear and ready with PRs. We have a lot of proposed PRs per day.

I need to review our old intentions (there were some nuances) and your fix, it will takes some time. On first site your change is reasonable, but let me recheck.

[2015-10-14 14:04] Vampire commented on #2326
Sure, no problem. :-)

[2015-10-15 09:54] maseev opened #2357 "checkstyle doesn't work with the prebuilt google_checks.xml"
Hello there!

We have run into a problem recently when checkstyle was refusing to work with the prebuilt google_checks rules. checkstyle passed all checks even though there were a lot of code style violations. After a short investigation we noticed that google_checks.xml contained the following line:

[code]

We decided to move the google_checks.xml file from the jar to the project's resource fold

[2015-10-15 09:58] pbaranchikov commented on #2266
@romani, I found, that in test inputs there are:
[code]
So, is a single-line comment a legal separator?
[Google Java Style] (https://google.github.io/styleguide/javaguide.html#s4.6.1-vertical-whitespace) says

so, single-line comments are not legal separator for this check according to Google Style.
Should the check count single line comments for empty lines?

[2015-10-15 15:37] baratali commented on #2326
Looks like it can be reproduced on a single file. For example:
[code]

I'll test it today...

[2015-10-15 15:39] romani commented on #2357
first of all this Checkstyle and chekstyle-maven-plugin are different projects.....

1) please share error message or stacktrace or ....
2) please reproduce this with our CLI - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

FYI:
we have bunch of ITs over goolge_checks.xml - https://github.com/checkstyle/checkstyle/blob/master/src/it/java/com/google/checkstyle/test/base/Configurat

[2015-10-15 16:42] maseev commented on #2357
Couldn't reproduce this behaviour by using the CLI. It seems that the problem is on the maven-checkstyle-plugin's side.

[2015-10-15 17:23] maseev commented on #2357
I think I could figure this problem out. maven-checkstyle-plugin has the following property which enables the console output:

[code]

That's why I didn't see any output messages from the plugin. Because the google_checks.xml has the severity level = "warning" and it's less severe than "error".

The other thing is the severity level, which has a value "error" by default. The severity level can be

[2015-10-15 17:23] #2357 closed

[2015-10-16 05:55] romani opened #2362 "RequireThis: new option validateOnlyOverlapping"
http://checkstyle.sourceforge.net/config_coding.html#RequireThis
This is Check is non-usable in modern world, to make it applicable we need to update
it with option validateOnlyOverlapping with TRUE by default. It is ok to brake compatibility to let this Check be used by all, and only by minority.

It is used a lot https://github.com/search?l=xml&q=RequireThis&type=Code&utf8=%E2%9C%93

If TRUE, Ch

[2015-10-16 05:55] romani commented on #2362
@mkordas , please review and approve idea.

[2015-10-16 08:55] Vampire commented on #2326
Yeah, actually this should reproduce the probelm also, you are right. Do you prefer that the test works with just that one file and my changes about being able to test with errors from multiple files reverted?

[2015-10-16 09:09] baratali commented on #2326
It is reproduced on single file. However, only one message is printed. I guess, the same errors is logged by checkstyle.
[code]

@Vampire , I don't mind about two-files test. This PR should resolve this issue with single file as well.

[2015-10-16 09:14] Vampire commented on #2326
I think so, yes

[2015-10-16 11:12] Vampire commented on #2326
Yes, it fixed it also. I also added the one-file check to my PR as I had to rework and rebase it anyway.

[2015-10-16 13:05] romani commented on #2326
@Vampire , thank you very mush for your time.

lets keep both tests, the more tests the better, and your tests are a bit different.

last required updates:
1)

Keeping warning in Javadoc never works well - code should force engineer to do things in right way.
And we are almost done with removing dependency to commons-lang3 .
Lets look on a problem from different side - we should not demand from au

[2015-10-16 13:08] romani commented on #2326
discussion is at #2328

[2015-10-16 17:21] romani commented on #2266
That is mistake in Check, single line comment is not a an empty line.

[2015-10-16 20:32] cperry-gpsw commented on #1108
How do I get this fix into my build?

[2015-10-16 20:35] romani commented on #1108
switch to latest gradle. Example that works (verified by Travis) - https://github.com/sevntu-checkstyle/checkstyle-samples/tree/master/gradle-project

[2015-10-17 21:31] mkordas opened #2376 "Typo in Javadoc tag name"
Checkstyle supports Javadoc tag named `basefront`: https://github.com/checkstyle/checkstyle/search?utf8=%E2%9C%93&q=basefront&type=Code

That's a typo - correct name of the tag is `basefont`: http://www.w3schools.com/tags/tag_basefont.asp

Grammar file should be changed to fix the issue.

[2015-10-18 04:30] romani commented on #2376
@baratali , please assist.

[2015-10-18 12:13] romani commented on #1238
Intersting project, please add it.
https://marketplace.atlassian.com/plugins/at.apogeum.bitbucket.checkstyle

[2015-10-18 12:19] romani commented on #1238
One more: http://roman-ivanov.blogspot.com/2015/10/checkstyle-integration-to.html?m=1

[2015-10-18 12:52] #2266 closed

[2015-10-19 04:49] #2326 closed

[2015-10-19 11:31] clausfod commented on #2327
Here is the code with the problem:
[code]

If I remove the @SuppressWarnings(value = "unchecked") in the for loop the check is running fine... I guess you need to implement what @MEZk mentioned earlier in this issue.

Kind regards
Claus

[2015-10-19 19:05] GoofyHTS opened #2387 "JavadocStyleCheck: If a class contains /**/ then "String index out of range: -1 is thrown""
If a class contains javadoc like the following:   /**/   the following error is thrown:

"Exception in thread "main" java.lang.StringIndexOutOfBoundsException: String index out of range: -1"

Example  class below:
[code]

[2015-10-19 20:15] romani commented on #2387
Can you provide config , we need to know what Check cause exception

[2015-10-19 20:22] bananetomate opened #2388 "JavadocType ignore value INTERFACE_DEF"
It seems that JavadocType is now ignoring ```value="INTERFACE_DEF"```:
[code]

This was first reported in Checkstyle-IDEA here: https://github.com/jshiell/checkstyle-idea/issues/193

As reported in that bug:
Looks to be a CheckStyle bug, I fear.

With CheckStyle 6.8 (from June this year):

$ java -jar ../checkstyle-6.8-all.jar -c issue-193.xml ../src/main/java/org/infernus/idea/checkstyle/checker/

[2015-10-19 20:23] GoofyHTS commented on #2387
It's the original config from the checkstyle-6.11.2-bin.zip, "\config\checkstyle_checks.xml".
Inside checkstyle_checks.xml the originals in the zip was used as well:

SuppressionFilter.file=\config\suppressions.xml
Header.headerFile=\config\java.header
RegexpHeader.headerFile=\config\java.header
ImportControl=\config\import-control.xml

Hope this helps.

[2015-10-19 20:23] romani commented on #2387
I can presume that this is caused by core class, comment indentuficator is missed, this is a problem for parser. Should be fixed

[2015-10-20 05:34] romani commented on #2388
few problems there :
1) "tokens" should be possible to set only one TokenType from set of acceptable tokens
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocTypeCheck.java#L179

2) Checkstyle should give an error to user (fail-fast) when he try to put in "tokens" incomplete set of tokens according to getRequiredTokens.

[2015-10-20 14:08] rnveach opened #2396 "Refactor Comments AST Test"
We have one test file for building an entire AST tree from scratch to verify it matches an input file.
https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/grammars/comments/CommentsTest.java#L85

I recently had the joy of understanding the flow and where new code fits in for updating it for a simple package name change.

Even if you look at my changes

[2015-10-20 15:07] johnerikhalse opened #2398 "JavaDocMethod: Exception thrown for incomplete @return tag if next line is empty"
For a `@return` tag with no description of what it returns, a message like `Expected an @return tag.` is expected. But if this `@return` tag is followed by a blank line, an exception is thrown instead.

This reports the expected error:
[code]

This throws an exception:
[code]

This is the important part of the stack trace:
[code]

A solution which seems to work is to add an if statement, but I'm n

[2015-10-20 15:54] robertwhitebit opened #2399 "New option 'onlyObjectReferences' for ExplicitInitialization"
http://checkstyle.sourceforge.net/config_coding.html#ExplicitInitialization

Imo it's useful to assign default values to primitive member variables and I normally don't care if people do so. e.g.

[code]

However, I don't see any advantages assigning null to members. e.g.

[code]

Maybe it's worth a new option?

Off-Issue: A stackoverflow topic about "Why are Explicit Initiallizations of the defau

[2015-10-20 16:11] romani commented on #2398
Please send that patch as Pull Request

[2015-10-20 16:46] romani commented on #2396
@baratali , please share your thoughts

[2015-10-20 17:19] romani commented on #2399
Please provide name of option and its description.

Please provide detaoled set of test cases where you expect violations and do not expect if option is activated.

[2015-10-21 06:32] johnerikhalse commented on #2398
Sure, just did (#2403).

I also added this case to the unit tests.

[2015-10-21 08:51] swisstofu opened #2404 "constructor String(byte bytes[], String charsetName) should not throw IllegalInstantiation"
Hello everybody,

I'm using the  following code to read a file into a string (`java.nio.file.Files`) :

[code]

This should be accepted, as there is to my knowledge no other way to instantiate a String from a byte array, but checkstyle gives the following error `(coding) IllegalInstantiation: Instantiation of java.lang.String should be avoided.`

what is your opinion ? shouldn't an exception be ad

[2015-10-21 11:34] Vladlis opened #2405 "FinalLocalVariable false-positive in SWITCH"
Input:
[code]
Config:
[code]
Result:
[code]
If foo is declared <code>final</code> on the line 5, then a compilation error appears on the line 8.

[2015-10-21 14:32] rnveach opened #2406 "VisibilityModifierCheck false negative on full class path"
From CS' source:
https://github.com/checkstyle/checkstyle/blob/6a8584adbd9ad33ae2b89c0deb6481f62dd14257/src/test/java/com/puppycrawl/tools/checkstyle/checks/design/VisibilityModifierCheckTest.java#L216

The test has the annotation package as "com.puppycrawl.tools.checkstyle.AnnotatedVisibility.CustomAnnotation" but we recently moved it to a new location and it should be "com.puppycrawl.tools.check

[2015-10-21 20:50] romani opened #2408 "JavadocMethod: unclear message for incomplete tag"
[code]

Expected message:
[ERROR] /var/tmp/Test.java:10: @return tag should present and have description. [JavadocMethod]
##

[2015-10-21 20:57] romani opened #2409 "JavadocMethod: generic type is not recognized"
[code]

Expected: no warnings.

[2015-10-21 21:17] romani opened #2410 "JavadocStyleCheck: need to support VAR html tag"
http://www.w3.org/TR/html4/struct/text.html#edef-VAR

please add tag to supported list https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocStyleCheck.java#L75
##

[2015-10-21 21:29] romani opened #2411 "JavadocStyle: false "end with a period" reports when inheritDoc is used"
from SourceForge:
Created: 2009-04-20
Creator: Toby Byron

[code]

Expected: no violations for first sentence.

[2015-10-21 21:34] romani opened #2412 "JavadocStyle: generates false "Unclosed HTML tag" when inner comment is used"
From SourceForge:
Created: 2009-04-20
Creator: Toby Byron

This fragment of javadoc

[code]

causes the JavadocStyle check to report a false problem:
	Unclosed HTML tag found: ```<ol>```
If I remove the html comment which occurs after the first ```<li>``` tag, then the error is not reported.  Clearly, the JavadocStyle check is tripping up over the html comment.

[2015-10-21 21:42] romani opened #2413 "JavadocStyle: problem with inline tags that contain non-escaped HTML symbols"
from SourceForge:
Created: 2009-03-27
Creator: Ralf

Something is wrong with the JavadocStyleCheck regarding unclosed HTML-tags.

[code]

FALSE POSITIVE: Text inside ```{@code }``` and ```{@literal }``` must not be treated as HTML. (also see bug 1524767)

MISSED: If you generate Javadoc from the comment, ```<Long>``` will be copied verbatim to the output html file.
In Firefox, IE or the Javadoc-Pr

[2015-10-21 21:47] romani commented on #2411
from SF issue
Created: 2006-12-11
Creator: DGardner

[code]

[2015-10-22 08:26] lennartj opened #2415 "IllegalTypeCheck ignores "tokens" configuration parameter"
The IllegalTypeCheck ignores its "token" configuration parameter which implies that it always checks all scopes (parameter, variable, method return type) for illegal type compliance.

This bug implies that one cannot configure the IllegalType check to validate the public API of classes while having another set of rules for the class's internal state.

This - in turn - creates problems for entity c

[2015-10-22 08:30] lennartj commented on #2415
Patched the error.
Provided unit test to verify the solution.
Created PR.

[2015-10-22 12:52] romani commented on #2398
merrged.

[2015-10-22 12:52] #2398 closed

[2015-10-22 13:53] romani opened #2419 "Consider moving Custom Checks of Tim Tyler"
SourceForge feature requests have a lot of reference to project
http://timtyler.org/checkstyle/ where bunch of custom Checks are implemented.

One we get out of moratorium period for new Checks, we need to review them and try to merge to main project.
##

[2015-10-22 14:30] rnveach commented on #2161
@romani @mkordas
I believe the 2 items are done, once PR #2418 is merged. All other changes are in master already.
Please feel free to look over everything if you desire, and make any comments/suggestions you see.

[2015-10-22 18:30] rnveach opened #2421 "Run CheckStyle on Full Test Directory"
CS isn't being run on the entire "test/java" directory because of its pattern matching in "ant-phase-verify".
https://github.com/checkstyle/checkstyle/blob/3cef81032c4d94b80c7d0780a934f94a988b7290/config/ant-phase-verify.xml#L30
We are matching only "*Test", but this is hiding violations for files like "BaseCheckTestSupport".
If we remove the "Test" portion, 40 violations appear on our master code

[2015-10-22 18:39] rnveach commented on #2421
Some of these new violations, for "GeneratedJava14LexerTest.java", are being hidden by the exclude pattern in the same file.
https://github.com/checkstyle/checkstyle/blob/3cef81032c4d94b80c7d0780a934f94a988b7290/config/ant-phase-verify.xml#L31

It will have to be changed to pick up that test file.

[2015-10-22 19:38] rnveach commented on #2421
@romani I will work on this.

[2015-10-22 20:44] ndtaylor opened #2423 "WhitespaceAround check reports error on variables starting with "if""
I have a variable named `ifStatement` which is in a code generation library. The WhitespaceAround check reports that there should be a space after the "if", which is incorrect.

The LITERAL_IF check (and similar ones) should look instead for `if(` and if found report that there is a missing whitespace instead of looking for `if` followed by a non-whitespace character.

[2015-10-23 03:04] rnveach opened #2425 "XML Examples must have a valid structure"
All XML examples under the xdocs must have a valid XML structure so users can copy them as is for testing and won't get atleast parse errors.

My thoughts on requirements:
A starting XML tag ("<?xml..>") is not required.
Each example must be a single standalone. We do this sometimes and not others. It will make testing and reading easier if we go full standalone I think.
"..." can be used to denot

[2015-10-23 03:10] romani commented on #2425
To make xml valid and ready for launch we need schema definition and Checker and Treewalker module. See cat of config at https://github.com/checkstyle/checkstyle/issues/2411 as example

[2015-10-23 12:40] romani commented on #2421
we still need to enforce Checkstyle over https://github.com/checkstyle/checkstyle/tree/master/src/it/java, that folder need to be added to configuration.

to avoid such problems (new folder is introduced and we forgot to update config) in future lets have config like:
includes="src/**/*.java,src/**/*.properties"
excludes="xdocs/**/*, site/**/*, src/main/resources/**/*, src/it/resources/**/*, src/t

[2015-10-23 12:48] romani commented on #2085
merged. Thanks a lot !

[2015-10-23 13:19] romani commented on #2410
assigned to @Miky38395 .

[2015-10-23 15:45] rnveach opened #2427 "JavaDoc checks missing customizable JavaDoc tokens"
https://github.com/checkstyle/checkstyle/blob/fff24e89001ce2ad9c30d1f573639cd640183669/src/xdocs/config_javadoc.xml#L978

CS' documentation makes reference to customizing what JavaDoc tags the checks process.
The issue is the checks actually do not support this feature currently.

When trying the example above, I get the following exception:

AbstractJavadocCheck should have the following methods:

[2015-10-23 16:00] romani commented on #2427
@baratali , please take a look, we need your assistance there.

[2015-10-23 16:40] rnveach commented on #2421
Current violations on IT folder is 1461, but nothing is being suppressed and I think some Test suppressions will follow to the IT.

I think we should include XML files and the XDOCS folder for checking. We can atleast make sure the regular expression violations don't show up like "\s+$" and tab characters.

[2015-10-23 16:44] romani commented on #2421
we can introduce custom suppression for most angry Checks, and fix them gradually. We do the same with PMD and Findbugs. Example: https://github.com/checkstyle/checkstyle/blob/master/config/pmd.xml#L94

yes, please do, sorry, missed it. We should be strict to maximum.

[2015-10-23 18:21] romani opened #2428 "remove dependency to commons-lang3 library"
That task is good for somebody who want to start contribution to Checkstyle

https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L214

we need to remove that dependency, as right now we depend only util fields of that library, we could copy them to our [CommonUtils.java](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/utils/CommonUtils.ja

[2015-10-24 00:07] romani commented on #2425
merged, thanks  a lot for fix !

[2015-10-24 00:07] #2425 closed

[2015-10-24 12:12] romani opened #2431 "LeftCurly: add Anonymous class to allowed tokens"
source: https://groups.google.com/forum/#!topic/checkstyle/9yBBV_dQxOM

Solution is to add OBJBLOCK token to allowed Tokens.

![screenshot-objblock](https://cloud.githubusercontent.com/assets/812984/10710392/e4a41138-7a0d-11e5-8052-435415c4b175.png)

[code]

[2015-10-24 12:33] romani opened #2433 "LineLength: skip imports lines from validation"
Raised by https://github.com/checkstyle/checkstyle/pull/2429
Long packages names and static import of long constants.

"imports" are not possible to line-wrap so LineLength should skip them from validation. Special option is not required for this, Javadoc/Xdoc should be updated.

On completion, suppression for tests should be removed.

[2015-10-24 13:03] romani commented on #2431
merged.

[2015-10-24 13:03] #2431 closed

[2015-10-24 13:37] romani opened #2434 "Inconvenience to debug UTs after recent changes in BaseCheckTestSupport"
Before commit:
![before_commit](https://cloud.githubusercontent.com/assets/812984/10710704/9d191dd4-7a19-11e5-9e6e-24a486f345c1.png)

After commit:
![after_commit](https://cloud.githubusercontent.com/assets/812984/10710706/a09149aa-7a19-11e5-9417-b5f98b91df24.png)

caused by commit:
https://github.com/checkstyle/checkstyle/blob/44cc8b53c90117295151ea6723f859287f51dda5/src/test/java/com/puppycrawl/

[2015-10-24 14:13] romani commented on #2434
merged

[2015-10-24 14:13] #2434 closed

[2015-10-24 15:04] romani opened #2436 "NeedBraces: allow no body loops"
Created: 2005-05-27
Creator: Jon Schewe

Currently the check for need braces checks to ensure that single
line loops have braces. However I have found there to be 3
classes of loops:
1) those with multiple lines (braces are required)
2) those with a single line (braces are optional, checkstyle
should make them required)
3) those with 0 lines (braces are optional, checkstyle should
allow them to be

[2015-10-24 19:26] mkordas commented on #2433
I'm on it.

[2015-10-24 23:12] romani commented on #2433
Previous implementation tried to force user to use ignorePattern for import. But default was not defined to have such suppress. It might be obvious fix would be to make ignorePattern="^import .*;$" as default value.
But on practice it is not obvious to user why he need to be bothered with stuff that already enforced by compiler. So imports suppression is hardcoded in Check again and ignorePattern

[2015-10-24 23:13] romani commented on #2433
merged.

[2015-10-24 23:13] #2433 closed

[2015-10-24 23:26] rnveach commented on #2433
@romani I thought this would include the "package" definition by your wording? If an import is long, without the static, chances are the package line will be just as long too.

[2015-10-24 23:38] romani commented on #2433
I want to see such code :) before fix, where package is more then 100 symbols, I need to know name of this project :).

[2015-10-25 00:49] romani commented on #2421
@rnveach , I splitted suppression, do not fanatically apply them, some of them should stay suppressed, if you are not sure - lets discuss. Example : I am not sure that "final" is good for code.

[2015-10-25 17:45] romani opened #2442 "UTs for Xdoc validation of package subsection"
Raised by @rnveach ,

https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_annotation.xml#L604
This is the 'package' section for 'AnnotationLocation'. It says "com.puppycrawl.tools.checkstyle.checks" but the check is located in "com.puppycrawl.tools.checkstyle.checks.annotation". The display should always be the check's package location, right?

So we need UT to validate "package"

[2015-10-25 17:47] romani opened #2443 "UT to validate tokens option in Check Xdoc"
problem was found and fixed https://github.com/checkstyle/checkstyle/commit/edd8b1222205f82f8bfa4e87b9eda9472f4811ef

We need UT to make sure we will never make another problem like this, validate getDefaultTokens and getAcceptableTokens.
We skip reference in xdoc if acceptable==default==required.

[2015-10-25 17:56] romani commented on #1238
release 6.12 is planned to be done at end of the month (in 7 days).

@dawidnejman , do you have time to finish this issue ? do you need help ?

[2015-10-25 18:07] rnveach commented on #2442
this and 2443 are about the same in terms this is all about missing check information from the xdocs.
And there is more.

For example:
We tell the users about 'allowNewlineParagraph' in 'JavadocParagraphCheck'. https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_javadoc.xml#L1275
But we don't document it as a property. https://github.com/checkstyle/checkstyle/blob/master/src/xdoc

[2015-10-25 19:22] rnveach commented on #2442
I am working on this.

[2015-10-25 19:22] rnveach commented on #2443
I am working on this.

[2015-10-25 19:43] dawidnejman commented on #1238
@romani sorry for delay. I took some time to figure out the checkstyle versions for those three missing projects. I will update the page today.

[2015-10-25 19:53] mkordas commented on #2409
@romani, why no warnings are expected here?

[2015-10-25 19:55] mkordas commented on #2408
@romani

/var/tmp/3.java:11:62: error: Expected @param tag for 'mpIdParm' with description.

But isn't `das` the description for  'mpIdParm'?

[2015-10-25 19:58] romani commented on #1238
Please do not hesitate to ask questions in our char room or mail-list. If something is not clear, it is sigh for us to improve.

[2015-10-25 20:31] romani commented on #2409
I do not see what violation should be there, please point to it

[2015-10-25 20:36] romani commented on #2408
yes, Tags are exist with description.

Not clear:
Why we report violatio;
Message should be extended to specify that we expect description too (just change wording for all other cases)

[2015-10-25 20:37] mkordas commented on #2409
I'd expect just:
[code]
Source: http://docs.oracle.com/javase/1.5.0/docs/tooldocs/windows/javadoc.html#@param

[2015-10-25 20:43] jakubadamek opened #2446 "Indentation check is incorrect on inner annotations"
For example

[code]

fails and checkstyle demands for field C to be at indentation 4, not 8.
##

[2015-10-25 20:46] romani commented on #2446
Please provide config that was used

[2015-10-25 20:51] dawidnejman commented on #1238
The three projects we were missing are: *fawkeZ*, *tIDE* and *JArchitect*:

**fawkeZ** - the project that *checkstyle* page is originally referring to, was renamed to *[fawkeZ-old](https://github.com/jCoderZ/fawkez-old)* and new version was splitted into few other projects. The part which is responsible for report generation is *[fawkez-code-report](https://github.com/jCoderZ/fawkez-code-report)*.

[2015-10-25 20:55] romani commented on #1238
Ok, add them to table

[2015-10-26 00:42] romani commented on #792
merged

[2015-10-26 00:42] #792 closed

[2015-10-26 12:59] romani commented on #2409
yes , you are right, Check works correctly.

[code]

[2015-10-26 12:59] #2409 closed

[2015-10-26 13:11] romani commented on #2415
so, you want to validate method return types for Illegal Classes only and allow such classes for variables and parameters , am I right ?

[2015-10-26 13:20] romani commented on #2405
Checkstyle works only on compilable sources , we could be launched on noncompilbale sources but behaviour could be unpredictable.

@Vladlis , Please give compilable input file , or close the issue.

[2015-10-26 13:31] romani commented on #2404
Check is general - http://checkstyle.sourceforge.net/config_coding.html#IllegalInstantiation
not only String type related. Your custom configuration force Checkstyle control String type implementation.

Checkstyle can not distinguish c-tors, as we unaware of Types completely.

Counting on params amount does not make sense too - http://docs.oracle.com/javase/7/docs/api/java/lang/String.html , Strin

[2015-10-26 13:31] #2404 closed

[2015-10-26 13:45] romani commented on #2421
@rnveach , ReturnCount is resolved.

[2015-10-26 14:12] rnveach opened #2451 "Remove access to undocumented check properties"
As stated in PR #2450, there are several checks that have valid properties, not documented by us, that can be used in CS. Access to these properties shouldn't be allowed by the users as they were never meant to be used by them.

**Example:**

http://checkstyle.sourceforge.net/config_coding.html#ReturnCount

It actually has an undocument property, "compileFlags", coming from "AbstractFormatCheck".

[2015-10-26 15:55] romani commented on #2451
no need to refactor setters usage, the less Hierarchy for Check the better, abstract functionally from "Check.java" class is enough.

[2015-10-26 17:11] Vladlis commented on #2405
@romani, the one I've provided is compilable for sure.
Here's one more example: https://github.com/Vladlis/sevntu.checkstyle/commit/d9beb6838cc729685d4c8037c02f115cee85a4c5#diff-1e91aff95af191f32c4f71b5cdc59ad2R125

[2015-10-26 17:20] rnveach opened #2453 "Unable to access samePackageMatchingDepth in CustomImportOrder"
http://checkstyle.sourceforge.net/config_imports.html#CustomImportOrder

We document the property "samePackageMatchingDepth" but we don't have a "setter" method that the users can use.

We should create a setter, and remove the hard coded ignore in XDocsPagesTest.

[2015-10-26 18:52] rnveach opened #2454 "xdoc token columns are unclear and possibly missing information the user needs"
We have 2 columns of information on tokens in xdocs, but it is based on 3 fields (acceptable, required, default).
It is unclear how the column are built from the 3 fields and may need to change?
example: the columns could be direct copies of acceptable/default, or could be acceptable/default minus required tokens

Does the user need to know this information, or just enough to customize the check t

[2015-10-26 18:59] rnveach commented on #2454
my opinion:
We should always append "required" tokens to the user's config input. They are literally required. The user can't run without them no matter what. They should only be allowed to specify 'acceptable - required'.
The documentation should then show only these properties the user can add/remove (acceptable/default minus required).
We should then add a new row to the "Properties" table call

[2015-10-26 21:52] MEZk commented on #2454
@rnveach
You're right, It's no use to specify acceptable and required tokens in xdocs when required tokens fully includes default tokens and/or acceptable tokens. User does not have an opportunity to configure tokens for such checks.

+1 for adding required tokens as a column in xdocs.

[2015-10-26 22:29] romani commented on #2428
assigned to @chrismacias .

[2015-10-26 23:30] romani commented on #2421
final fix is merged.

[2015-10-26 23:30] #2421 closed

[2015-10-26 23:41] romani commented on #1238
final change is merged

[2015-10-26 23:41] #1238 closed

[2015-10-26 23:52] chrismacias commented on #2428
it seems that after taking out the dependency from pom.xml it asks for ArrayUtils, and StingUtils. Those classes also have dependencies and we end up needing:
import org.apache.commons.lang3.BooleanUtils;
import org.apache.commons.lang3.CharUtils;
import org.apache.commons.lang3.builder.EqualsBuilder;
import org.apache.commons.lang3.builder.HashCodeBuilder;
import org.apache.commons.lang3.builder.

[2015-10-26 23:57] romani commented on #2428
we just need to copy required methods from ArrayUtils and StingUtils to our CommonUtils.java.
and put a comment on them that they are copy paste from .... .

[2015-10-27 14:35] romani opened #2460 "Test more project on drone.io"
https://cloud.drone.io/

Drone.io implemented matrix items, so we can reuse it as additional testing platform:
http://readme.drone.io/build/matrix.html

It is required to review all java projects from http://www.yegor256.com/txt/2015/award-2015.txt that use checkstyle by maven plugin or gradle plugin.
Choose candidates that enforce checkstyle in its build process and use them as we use Orekit proj

[2015-10-27 18:43] rgoers opened #2461 "java.lang.IllegalStateException: No match found in getMultilineNoArgTags."
When running checkstyle on a large project under Maven I am getting the following error which causes the build to fail. I have no idea how to determine what the problem is. Any help would be appreciated.

Adding text after the @return fixes the problem. Instead of reporting an error on the missing text Checkstyle is getting an exception.

[code]

[2015-10-27 19:39] romani commented on #2461
please report issue in a form of https://github.com/checkstyle/checkstyle/issues/2411, by CLI of certain config and certain input file.

[2015-10-27 22:01] rgoers commented on #2461
Not sure exactly what you want. The command being run is mvn checkstyle:checkstyle.

The pom.xml contains:
             <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-checkstyle-plugin</artifactId>
                <version>2.17</version>
                <dependencies>
                  <dependency>
                    <groupId>com.nextiva</gr

[2015-10-27 22:24] romani commented on #2461
1) this project is not a maven plugin
2) we do need compilable java file where problem is happen or chunk of it, that cause an Exception.
3) Please remove from config all Checks except for JavadocMethodCheck to simplify investigation.
3) please switch to CLI and would be simpler for you and us .
4) if you are opensouce - send a link to a project.

[2015-10-27 22:26] romani commented on #2461
CLI is so easy to use - http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2015-10-28 12:38] romani commented on #2442
Only one code violation remains from CS. if you have any thoughts on how to fix it, feel free to say.

    XDocsPagesTest.java:342:5: error: Cyclomatic Complexity is 13 (max allowed is 10).

[2015-10-28 12:56] rnveach commented on #2443
This was added and fixed via PR #2450 .
When tokens are displayed, the list is made up of: default/acceptable tokens minus all required tokens

[2015-10-28 13:05] #2443 closed

[2015-10-28 16:52] rnveach commented on #2453
@romani
I will work on this.

Are we sure we want the user to be allowed to change it directly?
Now that I am looking at this closer, currently "samePackageMatchingDepth" is only set and used when the "customImportOrderRules" contains "SAME_PACKAGE". Hence the variable's name.
https://github.com/checkstyle/checkstyle/blob/eeec3dc1d23916462560403a27a4ae94260d61f3/src/main/java/com/puppycrawl/tools/

[2015-10-28 17:05] romani commented on #2453
this is invalid issue, such field is internal state it is setup by order property.

[2015-10-28 17:07] rnveach commented on #2453
Ok, I will set up a PR to remove it from the xdoc.

[2015-10-28 18:30] romani commented on #2453
merged.

[2015-10-28 18:30] #2453 closed

[2015-10-28 18:53] rgoers commented on #2461
This java class demonstrates the problem.

[code]

[2015-10-28 18:57] rgoers commented on #2461
Adding text after the @return fixes the problem. Instead of reporting an error on the missing text Checkstyle is getting an exception.

[2015-10-28 19:38] romani commented on #2461
@rgoers , thanks for catching a problem.

[2015-10-28 20:34] mkordas commented on #957
@romani, I don't think we should do that, as I disagree with this rule. There's nothing bad in package-private visibility modifier. It's much better than marking things as public. See talk of Simon Brown at 56:13 - https://www.parleys.com/tutorial/software-architecture-code-1

The only drawback of package-private access modifier in Java is that it is default one. And people use it by mistake or la

[2015-10-28 20:46] mkordas commented on #957
We even have comments `// Package visible for testing purposes` like in https://github.com/checkstyle/checkstyle/blob/7d5db23ad528c95e0fbdfcd1293424c6240db07b/src/main/java/com/puppycrawl/tools/checkstyle/ConfigurationLoader.java#L267 and I think that replacing them with `@VisibleForTesting` is not a bad idea.

[2015-10-28 21:58] mkordas commented on #2461
Duplicate of #2398, already fixed, will be released in 6.12.

[2015-10-28 21:58] #2461 closed

[2015-10-28 22:22] rnveach commented on #2451
This applies to all checks?
MissingCtorCheck and MissingSwitchDefaultCheck extends DescendantTokenCheck. Since DescendantTokenCheck isn't abstract, I can see why we should possible do it here.
AbstractFormatCheck is extended by 10 different checks. This is one of the main classes with undocumented properties.
I assume AbstractJavadocCheck is excluded? It is the heart of our javadoc checks.

So the

[2015-10-28 23:01] romani commented on #957
https://github.com/checkstyle/checkstyle/blame/7d5db23ad528c95e0fbdfcd1293424c6240db07b/src/main/java/com/puppycrawl/tools/checkstyle/ConfigurationLoader.java#L267

2004 year, in that year I would do the same. 10 years passed .... now design approaches are changed, all approaches were tested for years real life support life cycles.

For your previous commit, I will reply later.

[2015-10-29 06:34] romani commented on #2451
Checkstyle is 15 years old project, the whole history of OOP is in it. On early 2000 every one tried to create hierarchy of classes to describe model and have minimum of code copy paste. Right now most of engineers understand that it was wrong philosophy, but code is written and works, so nobody refactor it.

But it do have problems:
- abstract classes introduce behaviour that Check does not need.

[2015-10-29 12:50] attatrol opened #2465 "Wrong behaviour of processing token type ARRAY_DECLARATOR in NoWhitespaceAfterCheck"
NoWhitespaceAfterCheck will generate warning if subject token has no whitespace after it.
This behavious is correct for all token types but <code>ARRAY_DECLARATOR</code> and <code>INDEX_OP</code>, for which it is checked that there is no whitespace <i>before</i> it. So processing of token types <code>ARRAY_DECLARATOR</code> and <code>INDEX_OP</code> should be separated from the check.<br>
Example

[2015-10-29 13:25] romani commented on #957
I will take a look for sure. I will answer to this video in separate comment. Mean while some my comments below.

Yes, it is hard to understand if that is intentional or just missed by human factor.

In general project, that have no time for refactoring - yes. But in a projects who care about inner structure, and we have an issue for this, it is not OK.

yes, I know that with idea of 100% coverage

[2015-10-29 13:51] romani commented on #2465
please make an issue with code example and config example, Example of good issue - https://github.com/checkstyle/checkstyle/issues/2461

[2015-10-29 15:40] romani commented on #957
@mkordas , this video does not work for any of my browser and OSes, smth is broken on their side. Can you give me a name of this talk and representer to find it on other resource.

[2015-10-29 21:30] rnveach commented on #2268
@romani I am working on this.

getCheckstyleModules/getCheckstyleChecks will not pickup FileContentsHolder/SuppressWarningsHolder because they call "isCheckstyleNonAbstractCheck" and it requires the class name to end with "Check".
https://github.com/checkstyle/checkstyle/blob/3a2cb4d787e3c626bb0e2e02915cc1c37deb9d0b/src/test/java/com/puppycrawl/tools/checkstyle/AllChecksTest.java#L246

Should we m

[2015-10-29 21:40] MEZk commented on #2268
@rnveach
SuppressWarningsHolder  will be picked.
See https://github.com/checkstyle/checkstyle/blob/3a2cb4d787e3c626bb0e2e02915cc1c37deb9d0b/src/test/java/com/puppycrawl/tools/checkstyle/AllChecksTest.java#L260

Just add "FileContentsHolder" into isCheckstyleModule.

I used reflection to find the subclasses of Check class and filter the subclasses (pick only those classes which end with "Check" and

[2015-10-29 21:53] mkordas commented on #2433
I did a search over my commercial project and found packages over 120 characters long, so it happens in real word :) Here it is how it looks:
[code]

[2015-10-29 22:17] romani commented on #2433
ok, please create an issue on this :), no option is required , Check should skip "package".

[2015-10-29 23:27] romani commented on #951
Pretty UI was created at #1492, but it introduce extra dependency, so merge was not done.

[2015-10-30 12:43] clausfod opened #2474 "NullPointerException in EqualsAvoidNull Check"
I get a NullPointerException when running EqualsAvoidCheck on this file:
[code]

with this checkstyle.xml

[code]

java -jar checkstyle-6.11.2-all.jar -c checkstyle_no_suppression.xml NKKLaanType.java

Exception in thread "main" java.lang.NullPointerException
        at com.puppycrawl.tools.checkstyle.checks.coding.EqualsAvoidNullCheck.ge
tFieldType(EqualsAvoidNullCheck.java:453)
        at com.pu

[2015-10-30 12:47] romani commented on #2474
@Vladlis , can you take look ?

[2015-10-30 14:09] Vladlis commented on #2474
@romani, I'll address PR today

[2015-10-30 15:25] romani commented on #2109
@mkordas , do you have better approach to fix this ? (see my non merged commit and PR)

[2015-10-30 15:56] vrozov opened #2477 "lineWrappingIndentation does not enforce wrapping indentation in while()"
Expected 4 errors (2 additional for while, the same as if), not 2:
[code]

[2015-10-30 16:17] romani commented on #2109
We need to catch and rethrow with context information (file path) in Exception as we do not know how our code is used (plugin, embedded, ....), we can not reply on logger, as it could be switched off.

[2015-10-30 19:41] romani opened #2480 "WhitespaceAround: allowEmptyTypes skip validation for non empty class"
[code]

Expected: violation on first line.
```/var/tmp/test.java:1:28: error: '{' is not preceded with whitespace.```

[2015-10-31 01:37] rnveach opened #2482 "LineLength: skip package lines from validation"
raised by #2433

we skip imports with long lines, we should do the same for packages.
Special option is not required for this, Javadoc/Xdoc should be updated.

[2015-10-31 12:42] jakubadamek commented on #2446
cat checkstyle.xml
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://jee-qa/jee-qa/trunk/checkstyle/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="Indentation"/>
    </module>
</module>

[2015-10-31 13:09] mkordas commented on #2482
will be released in 6.12

[2015-10-31 13:09] #2482 closed

[2015-10-31 14:28] mkordas commented on #2388
@romani, are you sure about 2)? The original intention of `tokens` was rather to specify additional tokens, not all. But even if we decided to change this behaviour, this should be separate issue, as amount of work is significant. There are multiple tests failing after introducing such validation - currently tests rely on the fact that not all required tokens must be specified.

[2015-10-31 14:51] #2085 closed

[2015-10-31 15:09] romani commented on #922
maven checkstyle plugin is released as 2.17.

But it is still problematic to remove such method as most of integrations/plugins still use it and they are still on old versions  of our library (good example is [Sonar plugin](http://docs.sonarqube.org/display/PLUG/Checkstyle+Plugin), still 6.4.1).

So final removal of deprecated method should be done after some time.... lets make in half of the year

[2015-10-31 15:15] mkordas commented on #2387
I'm on it. The thing here is that `/**/` should not be recognized as Javadoc - it's just a normal comment.

[2015-10-31 15:42] mkordas commented on #2290
@pbaranchikov
If you want to prevent situation when parent parameter is `barVar` while overridden one is `BAR_VAR` you should use other check like IntelliJ's `Parameter name differs from parameter in overridden method`.

[2015-10-31 15:44] mkordas commented on #2239
@Vladlis, are you going to work on this one?

[2015-10-31 16:24] mkordas commented on #2412
@romani, isn't it duplicate of #119?

[2015-10-31 20:13] mkordas commented on #2413
Partial duplicate of #1023

[2015-10-31 20:17] mkordas commented on #1263
@ivanov-alex, do you plan to finish work on this issue?

[2015-10-31 20:38] mkordas commented on #432
The thing here is simple. In Checkstyle 6.0 `validateThrows` option was added to JavadocMethod and it's default value is `false`. This means that by default `@throws` is not validated at all. @romani, any idea why it is so? You were merging #329.

[2015-10-31 20:40] ivanov-alex commented on #1263
A bit later, slightly overloaded on work. I'm going to return to checkstyle in several weeks

[2015-10-31 20:42] mkordas commented on #1627
@romani
I think it is already done: https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L200
Can you confirm?

[2015-10-31 20:48] mkordas commented on #1244
Done in d740f2e1cdb05f20a48bf7d5dcebdcd0faae6ddd

[2015-10-31 20:48] #1244 closed

[2015-10-31 21:31] mkordas commented on #2109
@romani, I like the approach.

[2015-10-31 21:53] romani commented on #2474
merged.

[2015-10-31 21:53] #2474 closed

[2015-10-31 22:00] romani commented on #2411
merged.

[2015-10-31 22:00] #2411 closed

[2015-10-31 22:10] romani opened #2492 "Verification of Tokens by getRequiredToken method"
triggered by https://github.com/checkstyle/checkstyle/issues/2388 .

We need to decided what to do when user specify in "tokens" not all tokens that are in requiredTokens list.

Possible approaches:
1) Checkstyle should give an error to user (fail-fast) when he try to put in "tokens" incomplete set of tokens according to getRequiredTokens.

2) The original intention of tokens was rather to specify

[2015-10-31 22:11] romani commented on #2388
merged .

further discussion is moved to #2492.

[2015-10-31 22:11] #2388 closed

[2015-10-31 22:12] romani commented on #2387
merged.

[2015-10-31 22:12] #2387 closed

[2015-10-31 22:15] romani commented on #2202
merged.

[2015-10-31 22:15] #2202 closed

[2015-10-31 22:18] GoofyHTS commented on #2387
Thank you

[2015-10-31 22:20] romani commented on #1013
merged.

[2015-10-31 22:20] #1013 closed

[2015-10-31 22:53] romani commented on #2078
merged

[2015-10-31 22:53] #2078 closed

[2015-10-31 22:54] romani commented on #2077
fixed by #2286 .

[2015-10-31 22:54] #2077 closed

[2015-11-01 00:19] romani commented on #2415
By PR #2496 , I make requiredTokens to be IMPORT only to let user configure Check as it want to.
IMPORT is required to make sure that no false-positives are happen during type matching.

[2015-11-01 05:02] romani commented on #2412
duplicate.

[2015-11-01 05:02] #2412 closed

[2015-11-01 13:42] romani commented on #1551
merged.

[2015-11-01 13:42] #1551 closed

[2015-11-01 13:56] romani commented on #2109
merged.

See discussions at #2476 , #2487 .

[2015-11-01 13:56] #2109 closed

[2015-11-01 13:58] romani commented on #2415
merged.

[2015-11-01 13:58] #2415 closed

[2015-11-01 14:24] romani opened #2502 "Deploy checkstyle-X.X-SNAPSHOT-all.jar to some public binaries repo"
subtasked from #2167.

Note: most users need generation of "checkstyle-X.X-all.jar" , but it is hosted only at soureforge, we need to automate generation-deploy of it to https://bintray.com/ (or any other)

[2015-11-01 14:24] #2167 closed

[2015-11-01 22:47] rnveach commented on #2492
This is similar to #2454

[2015-11-01 23:56] romani commented on #2327
released in 6.12

[2015-11-01 23:56] #2327 closed

[2015-11-02 00:17] rnveach commented on #2268
@romani I believe this issue can be closed now.

[2015-11-02 00:44] romani commented on #2268
Done, released in 6.12

[2015-11-02 00:44] #2268 closed

[2015-11-02 04:35] romani commented on #56
@attatrol , do you have time to finish this issue ?

[2015-11-02 04:44] romani commented on #898
right now each Module have section http://checkstyle.sourceforge.net/config_regexp.html#RegexpSingleline "Example of Usage", that good approach to show how module should be used.

[2015-11-02 04:44] #898 closed

[2015-11-02 04:56] romani commented on #1627
It is not done yet.

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/UnusedImportsCheck.java#L77

https://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html , default value for boolean is FALSE.

[2015-11-02 05:25] romani commented on #2423
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/WhitespaceAroundCheck.java
There are no hard coded "if".

Issue is not reproduced on latest release

[code]

[2015-11-02 05:25] #2423 closed

[2015-11-02 05:47] romani opened #2505 "Add ENUM_CONSTANT_DEF support to MethodParamPad"
Created: 2012-04-10
Creator: Eric Milles
SForge feature request: 569

Add support for the token type ENUM_CONSTANT_DEF to the MethodParamPad check.

http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#ENUM_CONSTANT_DEF , ENUM_CONSTANT_DEF is looks like Constructor,
we need to add it to https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/

[2015-11-02 06:20] romani opened #2506 "new Check: IllegalJavaDocTag"
Created: 2011-08-24
Creator: Zack Grossbart

Many projects prohibit @author tags in their code since they encourage individual code ownership and discourage team ownership of code. Checkstyle currently has a check to require @author tags, but not to warn if they are there.

Check should forbid "author" tag by default.

as it is implemented, we need to remove from checkstyle WriteTag module complet

[2015-11-02 06:43] romani opened #2507 "add example to DescendantToken for catching ASSIGN under EXPR token"
http://checkstyle.sourceforge.net/config_misc.html#DescendantToken

please add example of forbidding ASSIGN at expressions. Requested at https://sourceforge.net/p/checkstyle/feature-requests/539/

[code]

[2015-11-02 11:22] attatrol commented on #56
i'm going to start on weekend.

[2015-11-02 15:47] maisonobe opened #2508 "RedundantModifier flags public constructor that are really needed in serialized class"
After issue #1537, RedundantModifier flags public constructors in non-public classes.
It seemed fair at first but if such a class isserialized and deserialized, this triggers a runtime error
at deserialization (java.io.ClassException : no valid constructor, thrown by java.io.ObjectStream).

The class was simply a class with package scope, intended to be used for a field in a public class
in the sa

[2015-11-02 20:22] mkordas commented on #2508
@maisonobe
Is error thrown when you just change constructor visibility from public to package-private? If yes, how frameworks can access package-private class but cannot invoke their package-private constructors?

[2015-11-02 20:33] maisonobe commented on #2508
Yes, the error is triggered when the constructor does not have any modifier, i.e. when it is package-private. I guess this is a corner case and that deserialization is handled in a special way under the hood, either by the JVM itself or using reflection. It seems to really look for a public constructor without argument and to complain if none is found.

[2015-11-02 20:39] mkordas commented on #2508
Can you check if marking constructor as `protected` works fine? If yes, we'll just need to update documentation.

[2015-11-02 20:51] maisonobe commented on #2508
Sure.
... a few minutes pass ...
It doesn't work. Same error is triggered: no valid constructor.

If you want to see the problem in its context, it happens in the Apache Commons Math project  at http://git-wip-us.apache.org/repos/asf/commons-math.git. You can look in the master branch, class org.apache.commons.math4.ode.nonstiff.DormandPrince853StepInterpolator and run in the junit tests the test

[2015-11-02 21:38] mkordas commented on #2508
Thanks, I can reproduce exception locally. First, we need to understand why `protected` is not enough. To be honest I have no idea... Maybe we should ask on StackOverflow?

[2015-11-02 22:09] rnveach commented on #2508
@mkordas
"protected" probably isn't enough because the class creating the instance, "java.io.ObjectStream", isn't part of the package of the class he's trying to create.
All code is still restricted by the modifer rules, even with reflection, unless they are specifically disabled. Ex: "constructor.setAccessible(true);"

I wrote a little test and I get this exception when trying to instance a prote

[2015-11-03 00:23] romani commented on #2292
I lost a contact with @ufltysi , issue become unassigned again.

[2015-11-03 00:39] rnveach commented on #2292
@romani I will work on this since I am already familar with the xdocs test.

[2015-11-03 01:13] romani commented on #2292
thanks a lot !!!

[2015-11-03 13:50] romani commented on #2122
merged.

[2015-11-03 13:50] #2122 closed

[2015-11-03 14:03] romani opened #2516 "Create test for checkstyle-X.X-all.jar on Travis"
From: #1267 , #2504

Task is not simple to be done in scope of ITs as generation of "checkstyle-X-X-all.jar" is not done by maven cycles and simple maven generation of jars. It is done by special command "mvn -Passembly clean package" but ITs are intended to test what is generated by maven before deploy them to maven central.
We could create Travis build item to build "......-all.jar" and test it,

[2015-11-03 14:07] romani commented on #1267
merged.

[2015-11-03 14:07] #1267 closed

[2015-11-03 14:22] romani commented on #2292
merged.

[2015-11-03 14:22] #2292 closed

[2015-11-03 14:29] rnveach opened #2517 "update xdoc validator to validate checkstyle_checks.xml line numbers"
taken from #2500

We need a validation to keep xdoc links and checkstyle_checks.xml and other configs line numbers in sync.

we also need to control lines of "config" link at http://checkstyle.sourceforge.net/google_style.html

[2015-11-03 14:35] rnveach opened #2518 "add extra lines to checkstyle_checks.xml"
taken from issues in #2500

We should add fluff lines (empty lines) to each module in checkstyle_checks.xml so we have room to expand our checks with new options and comments without having to redo the XDOC each time. This will also have the added benefit of making the modules stand out more when the user clicks the link as the modules will be separated and not scrunched together.

[2015-11-03 14:42] romani commented on #2518
we will not be able completely avoid lines updates, but we will minimize it a bit. We need 2 extra lines in config for singleline Checks-tags (one line for ```</module>``` second line for one new option).

[2015-11-03 14:57] rnveach commented on #2518
I was thinking along the line of atleast 5-10 empty lines.
Some of our comments are alone 3-5 lines, and we should have space for more than one new option.

We could also require modules to start on lines divisible by 5 or 10, so we always remember to add new extra space once we fill up or go over the current space.

[2015-11-03 15:01] romani commented on #2518
if we do 5 empty lines for each - config will be unreadable.

it is a rare case when check have many option. Most of them have no options. if we put 3 empty lines one check could use all of them and even more, but we could move Check below on extra line down without updating any other Checks below.

[2015-11-03 18:02] rnveach opened #2519 "remove xdoc link reliance on master"
Right now the links in XDOCs point straight to master.
Example: https://github.com/checkstyle/checkstyle/blob/c10d886b139e2d92cca65a14b9b63fb126ea3d1c/src/xdocs/config_javadoc.xml#L989
[code]

This creates issues after a release when the file keeps getting updated and causes the links to point to the wrong location.

[2015-11-03 18:25] romani commented on #1627
merged.

[2015-11-03 18:25] #1627 closed

[2015-11-03 20:04] mkordas commented on #2519
In my opinion we shouldn't have any links to hardcoded line numbers. They are too hard in maintenance. Instead the links should look similar to `checkstyle_checks.xml#NonEmptyAtclauseDescription` instead of `checkstyle_checks.xml#L268`. First one in not possible on GitHub, but we could host copy of the `checkstyle_checks.xml` at our page.

If we want to stick to GitHub here's working solution: htt

[2015-11-03 20:59] romani commented on #2519
I like this idea with search links.

[2015-11-03 21:10] rnveach commented on #2519
@romani
Let me know if we are going to go with changing the links to searches.
This will change #2517 to be a simpler validation. And we will expand this to sun and google configs, correct?

[2015-11-03 21:46] romani commented on #2519
I do not see any drawbacks with such approach. I am ok with it.

yes, all "Example of usage" and http://checkstyle.sourceforge.net/google_style.html should be affected.

[2015-11-03 22:04] mkordas commented on #957
@romani
Unfortunately I don't see this talk anywhere else.

There are also cases where default visibility is used properly - to encapsulate things within package, eg. in GUI. That's why I'd like to put there comment `/* default */` rather than making them `public`. But it's another discussion.

Would you accept PR with commit 95492743b12765d3d840fc678561a3af106ea266?

[2015-11-03 22:18] romani commented on #2346
merged.

[2015-11-03 22:18] #2346 closed

[2015-11-03 22:27] romani commented on #957
Yes, I am ok when "package" scope is reasonable part of design (not a hack, legacy, lazyness ..... ), I am ok to keep some of them in suppression area with a description as we often do.

Yes, but only if you agree the such annotation is transitional till we find time to refactor appropriate UTs (during separate issue). PMD rule need to to be updated to temporary suppress such cases with comment "t

[2015-11-04 03:20] romani commented on #2428
@chrismacias , do you need help ?

[2015-11-04 12:12] MEZk commented on #2290
@romani
Right now the Check does not take into account method parameters at all.

**Example**

Test.java:
[code]

Config (my_check.xml):
[code]

Checkstyle's  6.12 RELEASE version output:
[code]

Problem is caused by [ScopeUtils.isLocalVariableDef(DetailAST aAST)](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/utils/ScopeUtils.java#L251) method w

[2015-11-04 13:41] romani opened #2523 "Make DetectorOptions as final and immutable"
Base on #2495.

Complicated setters are always search for a problem. As we touched this functionality lets refactor it to make it Builder (or move all arguments to c-tor) to make DetectorOptions class and related classes as immutable.

[2015-11-04 14:03] romani commented on #2480
merged.

[2015-11-04 14:03] #2480 closed

[2015-11-04 14:04] romani commented on #2436
merged.

[2015-11-04 14:04] #2436 closed

[2015-11-04 14:28] MEZk commented on #2290
@romani
To save compatibility with other checks I propose to implement fix directly in LocalVariableName and do not change ScopeUtils.isLocalVariableDef .

[2015-11-04 14:53] romani commented on #2290
yes, we have special Check for this - http://checkstyle.sourceforge.net/config_naming.html#ParameterName, let me review whole issue.

[2015-11-04 15:01] MEZk commented on #2290
@romani
I guess, that PARAMETER_DEF token is used only for catch blocks, not for the methods.

[2015-11-04 15:02] romani commented on #2290
@MEZk , please recheck why ParameterName is not reporting such names in our code. I do not see override annotation in its code, default value of check is also does not looks like allow one character names.

[2015-11-04 15:06] MEZk commented on #2290
@romani
For ParameterName format is ^[a-z][a-zA-Z0-9]*$ by default.
Quantifier  * means zero or more times. That is why the Check allows single character names.

Proof: https://regex101.com/
![screenshot-1](https://cloud.githubusercontent.com/assets/7242568/10941915/a8c519cc-831e-11e5-9aef-b37f49c56d9e.png)
![screenshot](https://cloud.githubusercontent.com/assets/7242568/10941914/a8be2414-831e-11e

[2015-11-04 16:59] rnveach opened #2526 "organize checkstyle_checks.xml"
Since we removed our reliance on actual line numbers in links, we can now organize checkstyle_checks.xml however we want.

We should have all Checker checks on top, TreeWalker should always be last.
Each check should be grouped by package with a comment on the package above it.
Each group of package should then ordered by check name alphabetically like we do on the "config_XXXXX.html".

[2015-11-04 17:01] mkordas commented on #2526
@rnveach, can I also reopen #2244?

[2015-11-04 17:07] rnveach commented on #2526
@mkordas" xdocs/google_style.xml" still has line links. I will be finishing this soon as part of #2519.
These changes won't go in until we release anyways, so I don't think order matters, but confirm with @romani.

[2015-11-04 17:21] romani commented on #2526
We cat make release as soon as we merged your changes.

[2015-11-04 17:56] chrismacias commented on #2428
thanks, im divinding into smaller pull request. i should start on same branch right?

[2015-11-04 18:28] romani commented on #2428
please make such PRs independent from each other , each of them should be base on our master.

[2015-11-04 21:47] romani commented on #2290
@MEZk ,

https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L180
to custom config to enforce name to be 2 or more symbols in size. Format "^[a-z][a-zA-Z0-9]+$".

not completed yet.

not completed yet.

[2015-11-04 23:09] Vladlis commented on #2405
Suppression can be removed after the fix:
https://github.com/sevntu-checkstyle/sevntu.checkstyle/commit/cf877fba57ab81a75513bfea26c433106f56c182

[2015-11-04 23:27] romani opened #2530 "Code review of CommentsIndentationCheck.java"
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/CommentsIndentationCheck.java

@MEZk ,

1)

            DetailAST comment) {

make it single return

2)

handleFallThroughtSingleLineComment()
handleSIngleLineCommentAtTheEndOfTheCodeBlock()
handleSingleLineCommentInEmptyCodeBlock()

does it make sense to move "log" to upper level

[2015-11-05 16:25] romani commented on #2526
merged

[2015-11-05 16:25] #2526 closed

[2015-11-05 18:20] robertwhitebit commented on #2399
[code]

I would only expect a violation where null is unnecessarily assigned to member variables. So, if the option is enabled, all ExplicitInitialization violations will be ignored except null.

onlyObjectReferences: Checks if any class or object member is explicitly initialized to null.

...but maybe I'm just the only one who would use this check :smile_cat:

[2015-11-06 01:44] romani commented on #2519
release as 6.12.1

[2015-11-06 01:44] #2519 closed

[2015-11-06 01:44] romani commented on #2518
workaround is released as 6.12.1

[2015-11-06 01:44] #2518 closed

[2015-11-06 01:45] romani commented on #2517
release as 6.12.1

[2015-11-06 01:45] #2517 closed

[2015-11-06 01:45] romani commented on #2442
release as 6.12.1

[2015-11-06 01:45] #2442 closed

[2015-11-06 01:52] romani commented on #2161
two files without "Input" prefix :
checkstyle/checkstyle/src/test/resources/com/puppycrawl/tools/checkstyle [master|✔] $ ls
LocalAnnotations.java
MyAnnotation.java

[2015-11-06 05:00] romani commented on #2290
merged.

[2015-11-06 05:00] #2290 closed

[2015-11-06 12:46] Vladlis opened #2539 "RequireThis reports false-positive when an instance method is overloaded with a static one"
Input:
[code]
Config:
[code]
Result:
[code]

The reason is searching for a called method just by name.

[2015-11-06 12:57] rnveach commented on #2161
@romani I fixed the remaining files.
InetSocketAddress should be the only one left because the test requires the same name as "java.net.InetSocketAddress".
I reviewed the 'forbiddenapis' and only 2 items can be removed. We can't remove more because it is based on the class names, not the file names, of the input files.

[2015-11-06 13:44] romani commented on #2161
http://docs.oracle.com/javase/7/docs/api/allclasses-noframe.html

@rnveach , Does it make sense to reuse some of standard classes with name started by Input ? For example - "InputStream" .

FYI: There is long awaited Check idea https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/256 that will help us to enforce that rule for future.

[2015-11-06 13:45] romani commented on #2161
Please remove at least these 2 item.

[2015-11-06 14:02] romani opened #2540 "Unify naming of all files with IT inputs"
Base on #2161.

please put "Input" to the prefix or as "Suffix" for file name at https://github.com/checkstyle/checkstyle/tree/master/src/it/resources/com/google/checkstyle/test.

[2015-11-06 14:04] swisstofu commented on #2404
Thanks for the feedback!

[2015-11-06 14:04] romani opened #2541 "Remove usage of System.out.println in IT resources"
triggered by https://github.com/checkstyle/checkstyle/issues/2161#issuecomment-147886384

All usages of "System.out.println" should be removed and substituted with any other dummy code.
List of excludes https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L897 should be minimized

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2015-11-06 14:05] romani commented on #2161
Two issues (#2541, #2540) are created to let us close this issue.

[2015-11-06 14:10] romani commented on #1930
merged

[2015-11-06 14:10] #1930 closed

[2015-11-06 14:37] rnveach commented on #2161
Yes, but this would be changing the purpose of the test the file is connected to.
"VisibilityModifierCheckTest.testImmutableSpecifiedSameTypeName" tests using the default configuration of VisibilityModifierCheck.
https://github.com/checkstyle/checkstyle/blob/e2cca1a0ad8e34442a7f18e3b214b13d300f165b/src/main/java/com/puppycrawl/tools/checkstyle/checks/design/VisibilityModifierCheck.java#L265
Thats

[2015-11-06 15:01] romani commented on #2161
please make a comment at our InetSocketAddress that we need the same name as it defined in Check , to avoid such questions in future.

[2015-11-06 15:05] romani commented on #2161
I will add a comment.

[2015-11-06 15:12] romani commented on #2161
closed.

[2015-11-06 15:12] #2161 closed

[2015-11-06 21:57] rnveach opened #2546 "new Check: RegexpOnFilename"
Copied from https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/256

This check applies a given regular expression to the names of files. Depending on the configuration, a warning is logged if a required match is not found, or if an illegal match is found.
This is useful for situations such as:
Checking that resources in certain directories follow a naming convention
Resource file names

[2015-11-07 07:32] mkordas commented on #1031
Will be released in 6.13.

[2015-11-07 07:32] #1031 closed

[2015-11-07 09:39] MEZk opened #2549 "Remove parameters validation from LocalVariableName"
@romani
1) LocalVariableName should not validate catch parameters because we already have ParameterName check to check both method and catch parameters. PARAMETER_DEF token should be removed from default and acceptable token sets of LocalVariableName. According to check's name, LocalVariableName should validate only variables, not parameters.
2) We need to update xdoc and javadoc.

Example of not

[2015-11-07 09:56] MEZk commented on #2530
@romani
Refactoring of while loop inside other while loop should be discussed.
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/CommentsIndentationCheck.java#L499

[2015-11-07 15:52] romani commented on #2451
@rnveach , To avoid wasting efforts for code changes for Abstracts lets discuss them before code changes.
I think that you have list of them at - https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/XDocsPagesTest.java#L68

please propose a list of Abstracts that you would like to remove and keep.

[2015-11-07 18:15] rnveach commented on #2451
@romani
We have already deprecated AbstractFormatCheck, AbstractIllegalCheck, AbstractIllegalMethodCheck, and AbstractDeclarationCollector. We have already decided to keep using AbstractNameCheck.
The following are the ones we haven't touched yet.

I feel the following should be deprecated. They don't provide us much benefit.
* AbstractAccessControlNameCheck, AbstractClassCouplingCheck, AbstractCo

[2015-11-07 23:20] romani opened #2551 "copy Check class to AbstractCheck class to let deprecate Check class"
we need to rename Check class to AbstractCheck class.
We can not do this easily and this is the main class that all Checks (most of them are out of our library) is using.

What we can do:
1) make a copy of Check class to AbstractCheck
2) Refactor all our Check to have new parent.
3) Update a Tree walker to accept custom Checks of Check.java class  and AbstractCheck.
4) Deprecate Check class, but d

[2015-11-08 01:39] rnveach commented on #2540
I will work on this since I love unifying :)
Will follow test's patterns

[2015-11-08 01:54] romani commented on #2451
AbstractAccessControlNameCheck extends AbstractNameCheck, lets keep it for now, as we keep AbstractNameCheck.

ClassDataAbstractionCouplingCheck and ClassFanOutComplexityCheck extends AbstractClassCouplingCheck, looks like they have whole logic as common, deprecation will result serious code duplication. Lets keep AbstractClassCouplingCheck for now.

AbstractComplexityCheck - we need to deprecate.

[2015-11-08 01:56] romani commented on #2540
I appreciate your help!

[2015-11-08 13:18] romani commented on #2540
@rnveach ,

Structure of test files could be a bit weird for you and not strict and all these ITs were created by student as a side task to get under control Google style implementation. During that time I only enforced top level structure. Feel free to propose any improvement.

please rename "rule333orderingandsoacing" to ".......spacing"
"toolongpackagetotestcoveragegooglesjavastylerool" --> "..

[2015-11-08 16:21] rnveach commented on #2540
I will look over it a little closer after I finish renaming the files.

ok.

[2015-11-08 16:59] romani commented on #2530
yes, case is not simple. But abrupt logic is bad and hard to read.

instead return, please do clean for stack and break. That will finish both loops.

[2015-11-08 18:04] rnveach commented on #2451
Are we keeping the undocumented properties or will we document them? Or make the check in question extend AbstractNameCheck?
https://github.com/checkstyle/checkstyle/blob/35ecc0b03fc1b4ad5454873c77a8b2694ee92e74/src/test/java/com/puppycrawl/tools/checkstyle/XDocsPagesTest.java#L114-L117

[2015-11-08 21:10] rnveach opened #2557 "UT to validate google/sun style xdocs"
Renaming package names from #2556 made links in the style documentation invalid since they weren't updated.
Some links for "config" are invalid from #2519 because they have "Check" in their name and we don't write "Check" in our configuration files.
Some check names displayed end with "Check", others don't. Same with test classes, some have "Check" others don't.
Some tests have 2 checks combined i

[2015-11-09 14:39] romani commented on #2130
some changes are released at 6.11, rest of warnings should be ignored.

[2015-11-09 14:39] #2130 closed

[2015-11-09 17:59] romani commented on #2344
merged.

[2015-11-09 17:59] #2344 closed

[2015-11-09 21:17] romani commented on #1438
merged.

[2015-11-09 21:17] #1438 closed

[2015-11-09 21:32] Vladlis commented on #2067
@mkordas

Please, add more details as for now this functionality is missed at all:
- should the check validate newlines only after the last method or after whatever last token in frame? (from specified in config tokens)?
- should this validation happen only when ```allowMultipleEmptyLines``` is false? or always? or a new option is needed?
- should we check for any newlines or only for multiple (mo

[2015-11-09 22:15] mkordas commented on #2067
ideally all tokens, but if it's not easy we can move this to separate issue and do just methods here

yes, only when `allowMultipleEmptyLines` is `false`

0 lines is ok, 1 line is ok, more than 1 line is not ok when `allowMultipleEmptyLines` is `false`

we can raise separate issue if something is missing here

[2015-11-10 14:21] romani commented on #56
@attatrol , just let me know if you need any help/explanations from me , I am OK to arrange voice call to speed up process.

[2015-11-10 15:10] attatrol commented on #56
@romani, i have no difficulties, i'll do this issue in 2 parts, at first i'll reach identity with pmd report (this can be easily verified), and after that i would start to implement try-catch-finally handling. The main difficulty is the lack of time, i picked too many courses for this term and have to represent my university at mathematical competitions.

[2015-11-10 16:35] romani commented on #56
ok, take your time.

[2015-11-10 22:05] mkordas opened #2575 "Create directory structure needed to store cache file"
Checkstyle currently cannot create directory structure to store cache file. Always existing directory needs to be provided.
For example `cacheFile` property is configured as `temp/checkstyle.cache`, but `temp` directory doesn't exist not very meaningful `IOException` is thrown

[2015-11-10 23:47] mkordas commented on #2549
There's nothing about catch parameters in [PackageName](http://checkstyle.sourceforge.net/config_naming.html#PackageName) docs, so probably it should be updated too.

[2015-11-11 00:23] ThrawnCA opened #2578 "New Check: Odd number of indenting spaces"
I've implemented a check that I find useful, for lines with an odd number of indenting spaces. Currently it's implemented as a single-line regex:

[code]

The `{0,6}` limit is just to keep it within regular sane bounds of indenting, but could be replaced with `*` or `+`. The exclusion for asterisk afterward is to handle Javadoc-style commenting.

Is this worth making a standard check?
##

[2015-11-11 02:19] romani commented on #2578
Please provide examples of code that cause violation and code you that you expect to have no violation. Share examples of bad code in opensource projects if you can

[2015-11-11 03:24] ThrawnCA commented on #2578
Er...I'm just talking about an odd number (1, 3, 5, 7, 9, 11, etc) of indenting spaces. Indents are typically 2, 4, 8 spaces, etc. An odd number usually indicates mistyping.

    void run() {
       int thisLineIsMissingASpace = 0;
        float thisLineIsFine = 1.0;
    }

[2015-11-11 04:47] romani commented on #2578
Should it be option of IndentationCheck ?

[2015-11-11 11:40] Schattensilber opened #2579 "add support for Lombok private constructor"
http://jnb.ociweb.com/jnb/jnbJan2010.html
https://projectlombok.org/api/lombok/NoArgsConstructor.html
https://projectlombok.org/features/Constructor.html

[code]
##

[2015-11-11 13:18] romani commented on #2579
Thanks for reporting the issue, most likely we will not support this, but I will think more about this case.

Please use suppressions for such cases  , they are so specific .

[2015-11-11 13:24] romani commented on #2549
@mkordas,  I do not understand your comment, please extend it or fix a typo.

[2015-11-11 14:18] mkordas commented on #2549
@romani
It relates to first sentence from issue description.

[2015-11-11 14:40] romani commented on #2541
work to be done , is to remove lines:
[code]
Input files could use any other methods.

[2015-11-11 14:44] romani commented on #2549
there is "ParameterName" not a "PackageName", I still do not understand. I might be blind , please point me to a problem.

[2015-11-11 20:16] robertwhitebit opened #2580 "[Google|Android] Test Method Naming Conventions"
Currently you can only specify a single format for all method names in your project.

However, Android suggests to use  _ (underscore) in test method names [1]. So it would be awesome to specify different formats for the production and test code.

Maybe a more flexible approach should be implemented? So you can limit checks to folders/files. This would effect all checks of course.

[1] http://sour

[2015-11-11 20:36] romani commented on #1487
Some work is done at #2194 , not sure that such changes could be reused, I have have to mention it there.

[2015-11-11 20:41] romani commented on #2580
no way to limit validaton to certain folder.

You can make two configurations for the same Check and do suppressions by Check ID in folders that you do not want.

Not related , but just FYI: in our code we also had such "_" in test, but after some time we just removed "_" and nobody of contributors notice anything,no damage to name happen.

[2015-11-11 20:47] romani commented on #2067
merged.

[2015-11-11 20:47] #2067 closed

[2015-11-11 21:33] MEZk commented on #2549
@romani
I got it. He meant ParameterName. There's nothing about catch parameters names in ParameterName.

I added only example for the option 'skipCatchParameter'
https://github.com/checkstyle/checkstyle/commit/176301250bfd2063f405fed4a960064e0a3e0230#diff-e10391ace65380d053fcf5809489a995R927

So, we should also update description section for ParameterName
http://checkstyle.sourceforge.net/config_

[2015-11-11 21:34] MEZk commented on #938
@romani
See https://github.com/checkstyle/contribution/pull/36

[2015-11-11 21:39] mkordas commented on #2549
@romani @MEZk you are right, I meant ParameterName. That's how things end up when you type comments from phone :)

[2015-11-11 21:47] romani commented on #938
Please put the same link to commit message

[2015-11-11 22:01] mkordas opened #2581 "Deactivate 'allowSamelineSingleParameterlessAnnotation' property of AnnotationLocation in Checkstyle config"
`allowSamelineSingleParameterlessAnnotation` is set to true by default. In #2577 we decided to disable that option for Checkstyle code.

[2015-11-11 22:34] lkoe commented on #2492
Please note that a change in this behaviour will have significant repercussions in eclipse-cs since the configuration editor would need additional metadata on which tokens are required and which optional.
Today only lists of the optional tokens are maintained in the extensive metadata compilation in eclipse-cs.

[2015-11-12 00:14] ThrawnCA commented on #2578
Hmm...I hadn't seen that check. Thanks for pointing it out.

I guess my suggested check would be a subset of what ``IndentationCheck`` does; it doesn't completely enforce indentation style, just makes sure that indentation is an even number.

Trying out IndentationCheck now, and I like it - although it doesn't like multiline annotations?

    @ManyToMany(fetch = FetchType.EAGER)
    @JoinTable(

[2015-11-12 00:33] ThrawnCA opened #2584 "Ignoring selected checks in test code?"
When using Checkstyle via the Maven plugin, is there an efficient way to apply certain checks to all main code, but ignore them for tests?

For example, 'magic' numbers are common in unit tests (eg making assertions about the size of a returned list and the element at each index). Catching generic exceptions is typically appropriate in tests, too.

[2015-11-12 00:53] romani commented on #2492
@lkoe, please provide more details on this and links to code of eclipse-cs to let us see downstream effects.

[2015-11-12 01:26] rnveach commented on #2584
@ThrawnCA
You can always suppress CS violations for specific folders or files for any reason your project wishes, like unit code.

Here is an example of CS' suppression of Magic Numbers on test code.
https://github.com/checkstyle/checkstyle/blob/ffaf99ed9905b6df24bdeb770bfee43066db7b75/config/suppressions.xml#L49

Here is how to configure suppressions.
http://checkstyle.sourceforge.net/config_filt

[2015-11-12 13:37] romani commented on #2581
merged.

[2015-11-12 13:37] #2581 closed

[2015-11-12 13:48] romani commented on #2451
http://checkstyle.sourceforge.net/config_naming.html#MethodName
Please document these option, they are pretty reasonable - https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/AbstractAccessControlNameCheck.java#L50.

[2015-11-12 14:09] Vladlis commented on #2240
Another false-negative:
Input
[code]
Config:
[code]
Result:
[code]

[2015-11-12 14:10] romani opened #2587 "Resolve nemo.sonarqube.org UTs coverage problem"
Problem: http://nemo.sonarqube.org/dashboard/index?id=com.puppycrawl.tools%3Acheckstyle
[code]

Problem details: https://groups.google.com/d/msgid/sonarqube/98939a88-af9c-4975-b5d6-59deaaf03bc6%40googlegroups.com?utm_medium=email&utm_source=footer

should be controlled by : https://github.com/checkstyle/checkstyle/blob/master/.travis.yml#L58

[2015-11-12 16:25] rnveach opened #2589 "unify it test code"
Created from  #2574.

Even though the IT folder isn't that big, then are a few improvements we can make to it to be more efficient and remove some of the problems we were seeing in other issues.

`getFilePath` and `ConfigurationBuilder` constantly keeps scanning the IT folder for input files every instance. It also has the problem of picking up the first file it finds by name, causing some input f

[2015-11-12 18:58] MEZk opened #2590 "Tests for validating commit message should not allow period at the end of commit message"
@romani, @liscju
Tests for validating commit message which were implemented in scope of https://github.com/checkstyle/checkstyle/pull/1518 skip period at the end of commit message.

Example: https://github.com/checkstyle/checkstyle/commit/17eaaa5a0aec1943cf0f2c59a95e81fa72b740c1

It leads to a problem for future release notes xdoc generator: some commits messages can have period at the end and oth

[2015-11-12 19:20] MEZk commented on #2549
@romani @mkordas
Is there any reason to validate catch parameters in LocalFinalVariableCheck? We even do not have proper UTs or ITs to check how the check works while validating catch blocks.

[2015-11-12 19:33] mkordas commented on #2549
@MEZk
In [Oracle docs](http://docs.oracle.com/javase/7/docs/technotes/guides/language/catch-multiple.html) they use name "catch parameters", so local variable check should not validate them. It should be done either by ParameterName check or better by new CatchParameterName check. @romani, what do you think? I believe it may happen that people want different pattern just for these variables like a

[2015-11-12 19:50] rnveach commented on #2590
@MEZk yes, I saw this validation when I started with my first commit.
I will start putting periods at the end of my commits.

[2015-11-12 19:58] MEZk commented on #2590
@rnveach
Sorry, I thought you were the author of the test. My mistake.
Please, do not put period at the end of the commit message. It is not allowed as discussed in #1518.

[2015-11-12 20:02] mkordas commented on #2590
@rnveach
Dots at the end of commit messages should be prohibited. Please see [How to Write a Git Commit Message - point 4](http://chris.beams.io/posts/git-commit/#end):

There are more rules to follow in this article like

Use the imperative mood in the subject line

First can be easily automated by requiring capital letter after `Issue #XXX: `. Second one can be implemented as a check that first

[2015-11-12 20:26] rnveach commented on #2590
@MEZk ok sorry for my added confusion, I thought the issue was implying we need the periods

[2015-11-12 20:32] robertwhitebit commented on #2580
Oh, thanks a lot! :bow: I somehow missed that completely. :disappointed: -> closed

I think I will drop the plan to use underscore for tests for now and will  pick it up again if its getting a problem. Thanks for sharing your experience.

[2015-11-12 20:32] #2580 closed

[2015-11-12 21:02] cgdecker opened #2594 "FallThroughCheck doesn't handle a synchronized block that definitely terminates"
It probably should.

[2015-11-12 21:31] mkordas commented on #2594
@cgdecker
Can you provide some code example with false positive?

[2015-11-13 01:45] romani commented on #2516
merged

[2015-11-13 01:45] #2516 closed

[2015-11-13 01:46] romani commented on #2516
#2570

[2015-11-13 01:53] romani opened #2599 "Create ITs base on jar that generated during package phase"
https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html#A_Build_Lifecycle_is_Made_Up_of_Phases , "integration-test" is right after "package"

We need to create tests that do validate all jars that we generate during package phase and also "....-all.jar".

Base on discussion at: https://github.com/checkstyle/checkstyle/pull/2570#issuecomment-155629508 , base on problem #2516

[2015-11-13 02:11] romani opened #2600 "Using Eclipse compiler in CI to control 0 Warning level"
Since it is not a regular Static Code Analysis tool, but a compiler I will need to investigate a way to show compiler warning/errors in the build flow. I will start from the checking this stackoverflow thread. If it will be too challenging to add it to the build we could just launch it by some command in CI.

Review and provide some shell instructions for Travis or Appveyor.
http://stackoverflow.c

[2015-11-13 03:12] #2589 closed

[2015-11-13 04:59] romani commented on #2549
in my experience with these Checks, I did allowance to all parameters to be 2chars https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L334 because of catch-parameters and name "id" that is used a lot in sources around the world.

But some projects could be more demanding for names and verbose and have regexp like "^(id)|([a-z][a-zA-Z0-9]+)$" ...... may be we also hav

[2015-11-13 05:02] romani commented on #2590
I am ok to remove this from regexp.

[2015-11-13 05:05] romani commented on #2594
please do not forget to provide configuration for this Check that you use

[2015-11-13 07:37] MEZk commented on #2590
@romani
New regexp should be **^(minor|config|infra|doc|spelling): .[^\.]*$** for minor, config, infra, doc, or spelling.
[^\.] match a single character not present in the list below.

**^Issue #\\d*: .[^\\.]*$** is for issue massages.
**^Pull #\\d*: .[^\\.]*$** is for pull request messages.

I've checked them with https://regex101.com/

[2015-11-13 12:25] MEZk commented on #938
@romani
Done

[2015-11-13 13:04] romani commented on #2590
Please send PR

[2015-11-13 23:58] e-taka opened #2601 "Checkstyle throw NumberFormatException on Japanese locale then sizes and metrics Checksa are used."
On Japanese, CheckStyle throws NumberFormatException.
Because some 'message_ja.properties' has invalid format elements.

[2015-11-14 08:53] MEZk commented on #2549
@romani

I agree.
Lets update documentation for ParameterName to point user how to write regexp to allow two ore more symbols parameter names and disallow one character names.

[2015-11-14 17:23] DidierLoiseau opened #2603 "WhitespaceAround should have an allowEmptyLambda parameter"
Consider the following code:

    Runnable noop = () -> {};

With the `LCURLY` and `RCURLY` parameters of [`WhitespaceAround`](http://checkstyle.sourceforge.net/config_whitespace.html#WhitespaceAround), it does not seem possible to configure it to accept this construct if there is no space between the curly brackets.

It thus seems that an `allowEmptyLambda` parameter would be useful, as there is

[2015-11-14 21:38] #2601 closed

[2015-11-14 22:36] romani commented on #2603
default value should be FALSE, to be consistent with "allowEmptyMethods" and "allowEmptyTypes"

[2015-11-14 23:15] mkordas commented on #2362
It's a great idea! We can make the check really usable without breaking backward compatibility.

[2015-11-15 00:53] DidierLoiseau commented on #2603
I feel like the convention is not to put a space but that seems difficult to attest. Nevertheless, consistency with the other parameters might be more important.

[2015-11-15 14:24] #2240 closed

[2015-11-15 14:52] romani opened #2604 "Update configuration for XXXXName Checks at checkstyle_checks.xml"
This issue need to addressed after completion of #2616 .

New patterns:
[code]
violations to resolve:
[code]

"sb" is questionable, most likely for local variables it s ok, but for parameters it is not example - http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/base/Joiner.html#appendTo%28java.lang.StringBuilder,%20java.lang.Iterable%29 .

Name in parameters usually used in

[2015-11-15 14:53] romani commented on #2604
@mkordas , @rnveach are you agree with such format change proposal ?

[2015-11-15 15:02] romani commented on #2604
"sb" is questionable, most likely for local variables it s ok, but for parameters it is not example - http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/base/Joiner.html#appendTo%28java.lang.StringBuilder,%20java.lang.Iterable%29 .

Name in parameters usually used in code generations, so even we could agree to be lazy in local variables, parameters should be verbose.

[2015-11-15 15:26] rnveach commented on #2604
I agree with removing 'sb' from all. We should be telling what the context of the variable is, more than its type.
I guess 'ex' isn't that bad, but I am more partial to writing full words, leads to less doubt as to the context of the item.
'id' has almost become synonymous with 'identifier', so it doesn't really bother me to keep it.

[2015-11-15 23:11] mkordas commented on #2604
I think the patterns are fine. Ideally, I would remove `ex` from local variables and parameter names, but it is not possible without separate check.
Allowing `sb` is questionable, as using name `builder` isn't overkill, while being more readable for people out of context.

Moreover, I would vote to update default patterns for these checks at some point of time.

[2015-11-16 14:33] romani commented on #2587
no fixes was made, problem is resolved somehow on sonarqube side.

[2015-11-16 14:33] #2587 closed

[2015-11-17 00:01] sabaka opened #2608 "Remove drag&drop from GUI"
There are plenty of ugly copy-paste from web in gui package and I propose to delete drag and drop at first phase of refactoring.
I don't think it's very useful.
We will re implement it in future with more modern way (I'm sure we can do it better) if users complain.

[2015-11-17 00:03] sabaka opened #2609 "Refactor gui package"
I don't like current code. Let's try to do it more close to MVC.
I'm going to add some proposals soon.

[2015-11-17 14:55] romani opened #2616 "new CatchParameterName Check: to validate names of catch-block parameters only"
Base on discussion at: #2549 , #2604, #2592

Root of the problem is #2549, where do need to remove support of parameters validation in LocalVariableName Check. Yes that is braking compatibility but Check will become logical.

Unfortunately the Check ParameterName does not validate catch parameters at all, it was hardcoded in is logic till #2290 (not released yet, so we could do revert).

Two ways

[2015-11-17 14:57] romani commented on #2549
To make final decision - please share your opinion at #2616 .

[2015-11-17 15:22] MEZk commented on #2616
@romani
I'm for new option 'skipMethodParameter'.
Is it a good idea to implement new check 'CatchParameterName' with completely the same functionality as ParameterName check has? The difference will be only in one if-else.

[2015-11-17 16:08] romani commented on #2616
We also have parameters in Lambdas.

it might be not that perfect in code , but for user it will be more clear. Both ways have their pros and cons.

[2015-11-17 18:20] rnveach commented on #2616
I find it odd the JLS calls the catch-clause variable a parameter. I never really thought of it as one. If anything I would have said it was a local variable, just like method parameters.

I am for 2, the new CatchParameterName. My reason is, after trying I still can't think of the catch-clause variable as a parameter and would find another check spelling out that they are 2 separate items to be e

[2015-11-17 19:50] daviderickson commented on #281
@romani Is there any progress on the above issues that are still present?

[2015-11-17 20:02] Vladlis commented on #2616
I'm for the second option, because:

1. I agree with @rnveach - the first thing I think about, when I read 'parameter name' is a name of a method or constructor parameter, but not a catch or lambda parameter.
2. 'skipParameter' is not an obvious name.
3. Most likely users will specify different patterns for catch parameters and other parameters, so it will be clearer for them to use different chec

[2015-11-17 20:38] mkordas commented on #2616
I'm also for the option 2. I'll try to raise PR today - it would be easier to discuss on real code.

[2015-11-18 00:26] rnveach opened #2618 "IndentationCheck: incorrect validation for imports and package"
D:\> type config.xml
[code]
D:\> type test.java
[code]

D:\> java -jar checkstyle-6.12.1-all.jar -c config.xml test.java
[code]

CS reports no errors on the code.
I was expecting CS to give error on the line 3, that says invalid because all imports should start at column 0.
I was expecting CS to give error on the line 7, that says invalid because CS gives an error saying it expected indent "4" if

[2015-11-18 00:47] rnveach commented on #2618
Package statement behaves the same way when it spans multiple lines.

[code]

[2015-11-18 13:55] romani commented on #2616
@MEZk , as majority voted for new Check, I reverted your changes - https://github.com/checkstyle/checkstyle/commit/c324b05dfdeb0ce41af355db95b7da3149f8f98a , sorry this happens sometime. Fortunately we caught it before release.

[2015-11-18 13:57] MEZk commented on #2616
@romani
Ok. Newertheless, ParameterName should skip catch parameters by default as discussed above.

[2015-11-18 14:16] romani opened #2619 "Use Nexus Staging Maven Plugin for release process"
Right now we have manual step to press "Close" and "Release" in Sonatype site to make a release.
This could be automated:
https://github.com/sonatype/nexus-maven-plugins/blob/master/staging/maven-plugin/README.md
https://solidsoft.wordpress.com/2015/03/24/automatic-promotion-of-artifacts-to-maven-central-from-gradle/

Example: https://github.com/kentyeh/springJdbiArch/blob/d59eafc66eec4f19ea11e969

[2015-11-18 14:19] romani commented on #2618
@rnveach , next time report an issue as proposed there - https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/report_issue.xml (will be released to web on next release).

first line is "package", please update a comment to be clear.

[2015-11-18 14:51] romani opened #2620 "RedundantModifier if transient on final field"
from SourceForge 598 "RedundateModifier if transient on static or final field "
Created: 2012-04-17
Creator: Daniel Holmes

http://checkstyle.sourceforge.net/config_modifier.html#RedundantModifier

http://www.xyzws.com/Javafaq/can-transient-variables-be-declared-as-final-or-static/0
This article shows that usage of "final" and "static" on transient fields doe snot make sense.

For "static":

So it

[2015-11-18 14:54] romani commented on #2620
@mkordas @rnveach , please share your thoughts about "static" validation on transient fields by new Check.

[2015-11-18 15:10] rnveach commented on #2618
@romani I added the CS I used.

Your cutting off the sentence. I didn't say "error on first line", but "error on the first line that says invalid". Line 3 has a comment that says "invalid". I added them to show which lines CS handles correctly and which it doesn't and made reference to them by that text.
I added line numbers in my original post to help clarify. Is this enough?

[2015-11-18 15:43] rnveach opened #2622 "update documentation for windows users"
Most of our documentation centers around commands that only work for linux users.
We should expand it to also include support for Windows users so anyone can use CS.

Examples:
https://github.com/checkstyle/checkstyle/blob/71950237c1728ec9a20c9b3d6801beb1f334857d/src/xdocs/report_issue.xml#L60
https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md

Window users must use `ty

[2015-11-18 16:43] mkordas commented on #2620
I think we should make two brand new checks for it. One for static, second
for final (harder one). Both of them require significant amount of docs and
reasoning, so I wouldn't put too much to RedundantModifier.

[2015-11-18 18:54] rnveach opened #2625 "refactor internal tests"
I wish to refactor the tests that test CS' internal configurations and xdoc files.

I plan to move XDocsPagesTest and AllChecksTest in their own folder, 'internal'. They test more the resources and internal files of CS, instead of testing direct functionality.

Both files use similar utility methods (Ex: `getCheckStyleChecksReferencedInConfig`), and have so many that they are starting to flood the

[2015-11-18 20:17] mkordas commented on #2625
+1

[2015-11-18 21:27] mkordas opened #2627 "Performance issue in Indentation check"
Method [com.puppycrawl.tools.checkstyle.checks.indentation.HandlerFactory#getHandler](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/HandlerFactory.java#L137) is consuming huge amount of resources:

![image](https://cloud.githubusercontent.com/assets/5467276/11254807/22988e76-8e43-11e5-9cc6-eedcba9bb42f.png)

I think it's becau

[2015-11-19 01:08] rnveach opened #2629 "IndentationCheck: incorrect validation for class definition"
D:> type config.xml

[code]

D:> type test.java

[code]

D:> java -jar checkstyle-6.12.1-all.jar -c config.xml test.java

[code]

I was expecting CS to not report any error on line 4 because similar code (the 2nd class) does require the line to be indented.
##

[2015-11-19 01:11] rnveach commented on #2629
D:\> type test2.java
[code]

D:\> java -jar checkstyle-6.12.1-all.jar -c config.xml test2.java
[code]

I was expecting CS to not show any errors once the indentation was fixed, but this shows it can't be satisfied.

[2015-11-19 13:29] #2608 closed

[2015-11-19 13:49] romani commented on #2530
issue is not closed, I will think more about 2nd case.

[2015-11-19 14:10] rnveach commented on #2620
I always thought deserializing would just recall the constructor. If it doesn't do that, I wonder how it is creating the instance in memory. The differences in the example for final transient are based on if the variable is set in constructor or on the field line, which I thought was placed in the constructor by the compiler anyways.

@mkordas
Why do we need a new check for static transient? Accor

[2015-11-19 14:47] romani commented on #2620
just another issue with RedundantModifier in serialized class https://github.com/checkstyle/checkstyle/issues/2508

[2015-11-19 14:53] romani commented on #2629
I do not understand second example ... what you are trying to show by it ? If CS is wrong, lets describe how it should be and do not mention attempt to satisfy wrong recommendations from CS.

[2015-11-19 15:31] rnveach commented on #2629
2nd example shows that the indentation of the class definition can't be satisified by IndentationCheck.
Imagine you code only contains `Test1`. CS says it is at the wrong indentation level, column 4, and should be at column 0. You change your code based on what IndentationCheck said, to be at column 0, which is what `Test2` is showing. If you run CS again, it gives another error saying your indent

[2015-11-19 16:27] vrozov opened #2630 "After upgrade to 6.12.1 IntelliJ plugin throws exceptions:"
[code]

[2015-11-19 16:32] mkordas commented on #2630
@vrozov, can you provide stacktrace?

[2015-11-19 16:36] mkordas commented on #2630
@vrozov Can you also provide `DiskStorage.java` and submit to github.com/checkstyle/checkstyle/issues?

[2015-11-19 17:38] vrozov commented on #2630
https://github.com/apache/incubator-apex-core/blob/master/bufferserver/src/main/java/com/datatorrent/bufferserver/storage/DiskStorage.java

checkstyle - https://github.com/apache/incubator-apex-core/blob/master/apex_checks.xml

[2015-11-19 21:38] mkordas opened #2631 "Performance issue in UnusedImportsCheck"
Significant amount of time is taken by pattern compilation while analysing Javadoc:
![image](https://cloud.githubusercontent.com/assets/5467276/11285089/0be76cc6-8f0e-11e5-9901-e8853d320bc7.png)
Check could be made faster by compiling patterns used in `JavadocUtils` only once.

[2015-11-19 23:15] romani commented on #2530
2nd case is not possible to refactor to more encapsulated view as , handleXXXXX methods have "log(" and "logMultilineIndentation(" and at handleSIngleLineCommentAtTheEndOfTheCodeBlock method  logging have different arguments, so can not be refactored to isXXXXXXXX view.

[2015-11-19 23:15] #2530 closed

[2015-11-20 18:28] priimak opened #2633 "GenericWhitespace: violation on generic like '...... instanceof Type<?>;'"
In the following example GenericWitesapce check triggers error

    public boolean foo(@Nullable Object otherObject) {
        return otherObject instanceof SomeObject<?>;
    }

There error is

    (whitespace) GenericWhitespace: '>' is followed by an illegal character.

Possible workaround is to enclose statement in the brackets (...) like so

    return (otherObject instanceof SomeObject<?>);

[2015-11-20 22:51] mkordas commented on #2080
Let's proceed with explanations:

**CastToConcreteClass**
Description:

65 such issues, we would need to create some additional interfaces, I don't see enough benefits of it.

**CheckedExceptionClass**

Description:

@romani, should we convert `CheckstyleException` to the unchecked one?

**AssertsWithoutMessages**

Description:

Not needed, tests and assertions should be readable without additiona

[2015-11-21 03:14] romani opened #2638 "Print parse tree from CLI to terminal"
this this good task for new contributors.

in connection with Javadoc tree #652 we need a option to main CLI to print parse tree to output.
That will help a lot .

right now we are forced to use Swing gui for this.

it is not clear for now in what format to print a tree, need to be discussed.

[2015-11-21 13:42] romani commented on #2080
Please put such reason comments to config file, in my experience if right now you not see a reason in a Rule/Check , there is non zero chance that you will change your mind after some time (I had a lot of examples from my own experience). But we need to know exact reason why we suppressed the case.

agree

this is good question, it is definitely decision of Checkstyle7 update. Please create issue