[2022-09-21 01:56] nrmancuso commented on #12221
Similar issue here, on linux:
[code]

Seeing as how checker relies on javac, it is possible that compiler warnings/errors can be different with each java version/vendor.

[2022-09-21 08:28] Vyom-Yadav commented on #12221
I am on it and will share the reason by tomorrow.

[2022-09-22 07:54] Vyom-Yadav commented on #12221
New errors coming up could be due to version/vendor of javac, I sent a fix for proper equals and hashCode contract in #12223, please check after applying that patch.

[2022-09-22 14:30] DmitryNeverovich opened #12224 "UnusedImports doc: add limitation regarding same-name imports"
I have read check documentation: https://checkstyle.sourceforge.io/config_imports.html#UnusedImports
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
Success
[code]
[code]
[code]
[code]
[code]
Starting audit...
Audit done.

--------------------

[2022-09-22 14:31] nrmancuso commented on #12224
Please follow issue template

[2022-09-22 14:54] DmitryNeverovich commented on #12224
changed

[2022-09-22 15:17] romani commented on #3955
This is not breaking compatibility as all previous variations of config continue to work as before. Behavior changed a bit.

[2022-09-22 15:24] romani commented on #3955
Fix is merged

[2022-09-22 15:24] #3955 closed

[2022-09-22 17:49] Vyom-Yadav commented on #12221
Please try with the version and distribution used in CI, it looks to be version dependent.

[2022-09-22 17:51] nrmancuso commented on #12221
Please provide details about version and distribution

[2022-09-22 18:16] rnveach commented on #12221
So have we confirmed this tool is directly tied to a specific compiler and if something changes in our CI or our local is different, we can expect differences in violations?

If we can narrow down a specific example, we should report this issue to the maintainers.

This doesn't seem like a very stable tool if we force users to only use a specific compiler. Even for pitest, I am able to to reproduc

[2022-09-22 18:41] rnveach commented on #12221
Numbers changed when fixing this.

Before was `308 new errors and 643 unnecessary errors` but is now `114 new errors and 449 unnecessary errors`.

[2022-09-22 18:54] rnveach commented on #12221
Comparing CI:
[code]
To Local:
[code]

It could be a parsing error on our end as there is extra `[WARNING]` text, I don't know this program well.

[2022-09-24 03:40] willhains opened #12226 "New LeftCurlyOption: `nl_or_singleline` to allow single-line blocks in otherwise Allman-style code"
I have read check documentation: https://checkstyle.org/config_blocks.html#LeftCurly
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
No.

**Describe the soluti

[2022-09-24 04:18] willhains commented on #12226
Another example that should be allowed with `nl_or_singleline` (if OneStatementPerLine is not used):
[code]

[2022-09-24 18:50] Vyom-Yadav commented on #12221
I will add support for windows paths too in the suppression model, and won't modify it like other suppression files where we have:
[code]
Instead, I would internally replace windows path separator with Linux ones while creating mutations.

[2022-09-24 23:56] romani commented on #12145
fix is merged.

I changed label to be bug, as user can continue to use his config.
the only change is behavior.

[2022-09-24 23:56] #12145 closed

[2022-09-25 13:50] romani commented on #12099
all changes are merged, if something else required, open new issue,

[2022-09-25 13:50] #12099 closed

[2022-09-25 14:50] romani opened #12227 "Heavy Github action should skip run on release commits"
Github CI executions should skip run on commits:
`[maven-release-plugin] prepare release .....`
`doc: release notes .....`

this is required as we have actual GithbAction for release process and all of them come to queue.
Execution of Pitest,Checker,.... does not make any sense on such commits.

Last commit of release process is `[maven-release-plugin] prepare for next development iteration` we sh

[2022-09-25 17:50] rnveach commented on #12099
2 items were not done at https://github.com/checkstyle/checkstyle/issues/12099#issuecomment-1233749876

[2022-09-25 18:51] romani commented on #12099
I pretty sure it is covered by our modifier Check.

It is covered by jarch cycle validation

[2022-09-25 23:47] romani commented on #7619
Yes

Yes

[2022-09-26 00:17] rnveach commented on #12099
Which one https://checkstyle.org/config_modifier.html ?

Cycle is 2 way. Package 1 > Package 2 > Package 1. This was 1 way. Package 1 > Package 2. It was to represent checks don't rely on other checks.

[2022-09-26 02:32] romani commented on #12099
https://checkstyle.org/config_design.html#VisibilityModifier

[2022-09-26 14:16] NitishKumar06 opened #12228 "Overview Section is quite confusing"
**Problem:**

The following link (https://checkstyle.org/config.html#Overview) gives an overview of what exactly is checkstyle. Although if you carefully read it, You'll find that the following lines:

_FileSetChecks - modules that take a set of input files and fire violation messages.
Filters - modules that filter audit events, including messages, for acceptance.
AuditListeners - modules that rep

[2022-09-26 14:59] rnveach commented on #12228
Remove the `s` on the end and you will find the classes in our code base.

Like the others, it is the name of the class. Other than that I thought it was explained well what TreeWalker does.

====

Regardless, if you have better ideas to make the documentation clearer, please submit a PR.

[2022-09-26 15:10] #11920 closed

[2022-09-26 15:17] romani opened #12229 "Rename all 'Checker-Framework / checker-..' actions"
On mobile long names are not good
We have "Checker-Framework / checker-..."
is what visible.
We need to rename them to be 'Checker / checker-...'

[2022-09-26 15:54] rnveach opened #12230 "checker-framework.groovy (generate): false differences when run locally"
When I run `groovy .ci/checker-framework.groovy checker-framework-nullness-optional-interning -g` locally on a clean master, I get the following differences (trimmed due to size) when I don't expect any:
[code]

I am on a Windows machine.
This is making completing changes in my PRs complex.

[2022-09-26 16:07] rnveach opened #12231 "ArchUnit slices_should_be_free_of_cycles_suppressions: false differences when using Eclipse"
Running `ArchUnitCyclesCheckTest` in Eclipse on a clean master produces the following differences (trimmed due to size) in `slices_should_be_free_of_cycles_suppressions` when using Eclipse :

[code]

[2022-09-26 17:46] rnveach opened #12232 "checker-framework.groovy (generate): no output on Linux"
When running `groovy ./.ci/checker-framework.groovy checker-framework-nullness-optional-interning -g` on linux, I get no XML output when I am expecting the tool to generate the new suppression file for me. It just ends with a build success.
Below is output:
[code]

[2022-09-26 18:09] tfij commented on #9118
@zkiss base on your code I've created lib with checks and released it to maven central. I've also added java record support. Here is my git repo with detail https://github.com/tfij/check-tfij-style.

@romani hope it could be a part of checkstyle... or you can think about changing the distribution model - separate the checkstyle engine and checks.

[2022-09-26 19:27] rnveach commented on #12232
First issue seems to be the groovy script requires the top checkstyle folder of source to be `checkstyle`.
https://github.com/checkstyle/checkstyle/blob/master/.ci/checker-framework.groovy#L164
In this case, my folder was named `checkstyle2` as this process takes a while to run and was starting to use 2 cloned repos to speed things up.

[2022-09-26 20:00] rnveach commented on #12230
I expanding these differences also to my linux machine.

[code]

[2022-09-26 20:44] romani commented on #12231
If behavior is different on different compiler, we need to move this test execution to separate profile to let it safely run in CI.
`Mvn test` must be very very stable in all OS, IDEs,... .

[2022-09-27 01:22] romani commented on #12228
Lets make all mention of it before definition to be a link to https://checkstyle.org/config.html#TreeWalker

[2022-09-27 01:24] romani commented on #12228
Title of this section should be with space https://checkstyle.org/config.html#AuditListeners as it is not class name.

[2022-09-27 10:00] NitishKumar06 commented on #12228
Great points mentioned by @romani  and @rnveach each. If FileSetChecks and AuditListener refers to a class, Why is the word 'module' mentioned there?

`FileSetChecks - modules that take a set of input files and fire violation messages.`
`AuditListeners - modules that report accepted events.`

I believe this text should be modified.

Talking about TreeWalker, we could mention a little definition of

[2022-09-27 12:49] romani commented on #12228
better to not consider them as class in this section (that is why I suggested spaces), as it is type of module. There are special section on this that describe all details.

[2022-09-27 15:17] romani commented on #10161
Please share what exact you mean by this. The more details the better, it is not only for me but for any other person who questioning such reasons.

[2022-09-27 19:04] Stephan202 commented on #10161
@romani I'm referring to Java's [service loading](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/ServiceLoader.html) mechanism, which [requires](https://github.com/openjdk/jdk/blob/739fdec7ea44be7ab12fdf418793276d581e58fe/src/java.base/share/classes/java/util/ServiceLoader.java#L654-L682) that types of instances loaded through [`ServiceLoader.load(Class)`](https://docs.orac

[2022-09-28 17:19] NitishKumar06 commented on #12228
@romani What exactly is FileSetChecks then? Are these some kind of modules? If yes, where can I find the path of this module?

[2022-09-29 09:07] sunchaser-lilu opened #12236 "Please tell me how to use MissingJavadocMethod, I have the following error."
just simple use

![image](https://user-images.githubusercontent.com/40930677/192988674-0045939f-89d5-4070-b700-dc43555ee17d.png)

[code]

[code]

Can anyone tell me where is the problem? thanks.

I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have exe

[2022-09-29 11:35] Kevin222004 commented on #11641
@romani

please give a look to https://github.com/checkstyle/checkstyle/issues/11641#issuecomment-1249681366 once again I have achieved this not the expectation like https://github.com/checkstyle/checkstyle/issues/11641#issue-1236303060

I am not understanding how user will provide the alias to us
 ex:- for
```  <property name="aliasList" value="ParameterNumber=paramnum" />```
in the original proj

[2022-09-29 14:31] rnveach commented on #12236
You did not provide any of the information requested in the template.

At just glance, I would confirm what version of checkstyle the maven plugin is using. The check was just introduced in 8.21 .

I am closing this as the issue is incompelte and may not be a problem with our library.

[2022-09-29 14:31] #12236 closed

[2022-09-30 11:40] stoyanK7 commented on #12224
On it.

[2022-09-30 12:19] stoyanK7 commented on #12224
I thought about this problem for a while and it is not possible to know which of both imports is unused. Maybe at best know how many of those same-named imports are unused but not which ones in particular.

Problem is that we can not extract any other information (such asmethod signature) from just an import statement. We only have `printFileAst` identifier in AST tree.
[code]
![Screenshot from 20

[2022-09-30 19:05] ud1 opened #12238 ""Unable to persist cache file" if target directory is a symlink"
To optimize build performance, I create all of my project's "target" directories as symlinks (using the Linux `ln -s` command) to directories that exist on the tmp filesystem (memory filesystem).

But checkstyle plugins fails:

[code]

This is because `Files.createDirectories` throws an exception if the directory is a symbolic link. As a workaround, you can add a `file.exists()` or `file.isDirecto

[2022-09-30 21:56] rnveach opened #12241 "PMD violations reported from backport 8"
Reporting incase we want to look into.

[code]

[2022-10-01 14:11] rnveach commented on #12224
We have import statement which has method name on the end. Is there a reason we cannot look for a method call using that method name in the Java file? Is it possibly to have false positives doing this?

[2022-10-01 15:51] stoyanK7 commented on #12224
Correct, we save that name in a `Set`-`imports` to later check if it is used in the file.
https://github.com/checkstyle/checkstyle/blob/3b91c5631e4625697150910cdcce8f81b421cbb5/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/UnusedImportsCheck.java#L286-L296

No reason not to. It is how this check works. The problem comes **when we have two or more imported methods that have the same

[2022-10-01 16:05] rnveach commented on #12224
Yes, this is a limitation of going by the source but is also an issue for compilers.

I checked a compiler and it knew which method was being used that had different parameter types. But when the signatures where the same, the compiler complained the method being called was "ambiguous".

It is better to no report a false violation, so probably in this case it is ok if both methods are seen as bein

[2022-10-01 16:11] stoyanK7 commented on #12224
Exactly, this is a job for compilers. They can realize what is used and what is not.

Agree, the current behavior is good for not having false positives. I will make a PR about this limitation.

[2022-10-01 18:43] rnveach opened #12242 "AuditEvents: Allow to Pass File Source"
Identified at https://github.com/checkstyle/checkstyle/pull/12151#discussion_r985102182 ,

[Filters](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/Filter.java#L34) have no way to collect the file source from the [AuditEvents](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/AuditEvent.jav

[2022-10-01 18:51] romani commented on #12238
Thanks a lot for report on this.
Can you reproduce problem by our CLI ?
You can set cache at Checker property https://checkstyle.org/config.html#Checker_Properties

If you have time please send PR to fix issue

[2022-10-01 18:55] romani commented on #12241
Why it is not an issue for our repo ?

[2022-10-01 19:00] romani commented on #12228
It should be "File Set Checks". It is not a class.
https://checkstyle.org/writingchecks.html#Writing_FileSetChecks it is group of classes that extends AbstractFileSetChecks

[2022-10-01 19:51] rnveach commented on #12241
Maybe @pbludov  might know but I originally assumed it was something between Java 8 and Java 11. I confirmed it is not any changes in the Java source file by porting it over to our main repo.

[2022-10-01 23:46] rnveach commented on #12241
Here is the minimal version to reproduce:
[code]
and it produces:
[code]

Please note the exception and the Java file was changed. If the Java file is not changed, both produce exceptions when specifying it targets 1.8 . It is correct that this class does not compile as is with Java 8, but this is just to show somehow backing the Java version is what shows/hides the issue.

I have no idea why this

[2022-10-02 03:19] rnveach opened #12243 "Pitest/Checker: Drop New/Unnecessary Displays And Switch to Git Diff"
From trying to work out making CI pass at https://github.com/checkstyle/checkstyle/pull/11617#event-7452762112 I have reached a new level of dislike towards Checker. Since I can't run this on my local, I have to rely on the faulty new/unnecessary display and figure out how to modify the file myself with not good results.

My suggestion is to drop the New/Unnecessary and rely on our git difference

[2022-10-02 04:49] Vyom-Yadav commented on #12243
I think the primary problem is the instability with the checker framework, pitest model works smoothly, not sure if git diff is better.

We can change to `-g` flag in all scripts to get the suppressions in XML, the only drawback is that it won't show line number then because we do not add line number in suppressions, you  would have to search by text in the file.

[2022-10-02 05:32] NitishKumar06 commented on #12228
@romani So Shall I raise a PR to mention "File Set Checks"?

[2022-10-02 05:52] Vyom-Yadav commented on #11772
Can we close this @romani @nrmancuso ?

[2022-10-02 05:53] Vyom-Yadav commented on #11766
@romani @nrmancuso Is this still valid? We dropped the idea of migrating to file based TC config.

[2022-10-02 07:32] Vyom-Yadav commented on #12221
From CI

[code]

[code]

[2022-10-02 12:01] ud1 commented on #12238
[test.zip](https://github.com/checkstyle/checkstyle/files/9692397/test.zip)
Problem is reproducible by command line, see check.sh.

[code]

[2022-10-02 12:04] rnveach commented on #12243
I am open to anything to make this a better experience.

[2022-10-02 12:08] nrmancuso commented on #12243
@rnveach to be clear, the goal of this issue is to have each groovy script generate/remove suppressions of violations in their respective files, and rely on git diff to fail build in CI?

[2022-10-02 12:12] rnveach commented on #11723
None of these use this method.

Unknown.

[2022-10-02 12:14] rnveach commented on #12241
Explanation of PMD at https://github.com/pmd/pmd/issues/4140#issuecomment-1264593609

It appears we may be able to remove package constructors and just make them private.

[2022-10-02 12:46] rnveach commented on #12243
Yes. This also provides the benefit that user can copy git diff and apply it to their local (mainly for checker) if all suppressions will stay.

I am open to other options like removing pitest from this, but I have really had enough trying to get checker to pass.

[2022-10-02 14:00] rnveach commented on #11997
@romani I am not seeing any security warnings. Is this resolved now?

[2022-10-02 15:03] romani commented on #11997
Yes, looks like resolved

[2022-10-02 15:03] #11997 closed

[2022-10-03 02:09] shubh220922 commented on #11214
I am on AnnotationUseStyleCheck.

[2022-10-03 04:42] romani commented on #12243
Git diff can be done in addition to embedded ability to provide "patch".

[2022-10-03 05:02] romani commented on #12238
It would have to wait for laptop time to validate issue. We demand CLI output on all exactly on purpose to see all details transparently and be able to copy paste from text if description to reproduce quickly.
I would appreciate if you find to create/print all by shell/bash/cmd commands.

[2022-10-03 22:03] Kevin222004 opened #12251 "Resolve Pitest suppression for AbstractParenPadCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

 kill mutation
https://github.com/checkstyle/checkstyle/blob/de37e02b799305fa9309f162f8961c4297fce865/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L17
for AbstractParenPadCheck

[2022-10-04 13:06] #12203 closed

[2022-10-04 13:19] romani commented on #12224
is it possible to just violate situation that there is static import for same method from different classes?
so one of them is definitely extra, and user will decide.

[2022-10-04 13:22] romani commented on #12228
yes, please raise PR, and we will see how it looks like.

you can generate web site by making comment "Github, generate website" in PR

[2022-10-04 14:17] stoyanK7 commented on #12224
@romani I think that should be possible, yes.

[2022-10-04 15:08] rnveach commented on #12224
@romani The issue I found during my own testing is we can't determine if all methods are used, only 1, or none. It is possible that both methods can be used even though they have the same name.

Example that compiles on Eclipse:
[code]

Please note that even though the methods have the same name they accept drastically different arguments. If you take away one of the static imports, the code fails

[2022-10-05 02:36] nrmancuso commented on #12141
Judging from linked PR, this issue references JavadocStyle check. Please read https://checkstyle.sourceforge.io/config_javadoc.html#JavadocStyle, specifically the Properties table, to see how to change the endOfSentenceFormat in your config.

[2022-10-05 02:36] #12141 closed

[2022-10-05 02:56] nrmancuso commented on #12241
@rnveach can we consolidate findings from PMD repo and intention into issue description, and update title of issue?

[2022-10-05 05:20] CorvusYe commented on #12141
Thanks~

[2022-10-05 06:02] hantsy commented on #3049
It seems openrewrite project provides a plugin to archive this purpose.
https://docs.openrewrite.org/tutorials/running-recipes/automatically-fix-checkstyle-violations

[2022-10-05 11:07] romani commented on #11876
@nrmancuso , please recheck issue completion. I think it is done.

[2022-10-05 11:09] nrmancuso commented on #11876
@romani thanks for reminder, all cleanup is completed.

[2022-10-05 11:09] #11876 closed

[2022-10-05 12:50] romani commented on #12241
@nrmancuso , look at PR.

[2022-10-05 12:54] romani commented on #10161
we did some fixed to remove `package` visibility in our code in scope of - https://github.com/checkstyle/checkstyle/issues/12241.

But this issue is still valid and Check should be updated.

[2022-10-05 13:00] NitishKumar06 commented on #12228
Sounds good! I'd be raising a PR to fix these minor typos and other I've come across this page.

[2022-10-05 13:21] romani commented on #12224
@rnveach , thanks a lot for investigation. I though it is not possible :).

@stoyanK7, please confirm rnveach example, if this is true, we can not support it. So we will close issue.

[2022-10-05 15:23] rnveach commented on #12241
Done.

[2022-10-05 15:29] stechio opened #12257 "EmptyLineSeparator check doesn't honor custom value of its tokens property"
I have read check documentation: https://checkstyle.org/config_whitespace.html#EmptyLineSeparator
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---
CURRENT BEHAVIOR
Despite having excluded `STATIC_INIT` from `EmptyLineSeparatorCheck.tokens`

[2022-10-05 15:57] rnveach commented on #12257
From a code perspective,
https://github.com/checkstyle/checkstyle/blob/399f1b48b79731d65e824eb927971ef6174c3463/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/EmptyLineSeparatorCheck.java#L715
The violation is being printed from on the `VARIABLE_DEF` token, which is added to the config. It is not related to the INIT(s).

Adding any of the INIT tokens, does not change the violation

[2022-10-05 17:24] stechio commented on #12257
As a user reasoning from a black-box point of view, I absolutely agree with your considerations:

Since the main documentation statement is:

the violation message should follow suit -- if the processed token is `VARIABLE_DEF`, then the output should be something like this:
[code]
instead of the current misleading output:
[code]
_IMO, library output as a result of user configuration should be info

[2022-10-06 00:44] romani commented on #12251
Do you understand what mutation is actually done to code?

[2022-10-06 06:31] Kevin222004 commented on #12251
yes I have described full detail in thread

[2022-10-06 14:07] NitishKumar06 commented on #12229
I'm working on this.

@romani Could you provide a link/reference where could I find "Checker-Framerwork/checker-...", It'd be helpful!

[2022-10-06 20:10] nrmancuso opened #12259 "Create CI task to fail PR if merge commit exists"
Noticed at https://github.com/checkstyle/checkstyle/pull/12256#issuecomment-1270588550, even though we have a bunch of checks in place for commit message, stale PR branch, etc., we do not fail CI for merge commits in PR branches.

I see github action https://github.com/greenled/no-merge-commits-check, maybe we can re-use the [script](https://github.com/greenled/no-merge-commits-check/blob/main/ent

[2022-10-06 22:46] romani commented on #12259
We need to recheck why our commit validation is not catching this.

[2022-10-06 23:04] rnveach commented on #12259
https://github.com/checkstyle/checkstyle/blob/70bbcd835e7d51062abd2801d3329b791854891c/src/test/java/com/puppycrawl/tools/checkstyle/internal/CommitValidationTest.java#L260
https://github.com/checkstyle/checkstyle/blob/70bbcd835e7d51062abd2801d3329b791854891c/src/test/java/com/puppycrawl/tools/checkstyle/internal/CommitValidationTest.java#L372

Merge commits will fail CI as travis always works as

[2022-10-06 23:05] Kevin222004 opened #12260 "Resolve Pitest suppression for AbstractParenPadCheck - 2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation

https://github.com/checkstyle/checkstyle/blob/70bbcd835e7d51062abd2801d3329b791854891c/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L8

for AbstractParenPadCheck

[2022-10-06 23:05] nrmancuso commented on #12259
Sounds like shell script is the best way to handle this case then.

[2022-10-06 23:55] nrmancuso commented on #12251
Closed via #12258

[2022-10-06 23:55] #12251 closed

[2022-10-07 00:31] Kevin222004 opened #12261 "Resolve Pitest suppression for EmptyForIteratorPadCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L53
and
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L44

 for EmptyForIte

[2022-10-07 00:55] romani commented on #12261
Can we fix all similar issues at one issue and multiple PR or one PR?

[2022-10-07 01:05] nrmancuso commented on #12261
If we are only adding tests, I think it would be fine to resolve a few of these in the scope of one PR/issue.

[2022-10-07 01:14] rnveach commented on #12261
My wording to him before this issue was:

Beware, if PRs start to get complex we will want them split more, so I would be careful on putting too much into a single PR. It is not that much more work to create separate branches and PRs.

`this check` was `AbstractParenPadCheck` at the time.

[2022-10-07 03:01] romani commented on #12229
Just search it in yml files, all is in sources of our repository

[2022-10-07 04:32] romani commented on #12259
What is we made update in code and allow skip of merged only if some system variable is defined. And set it in Travis. All others will run without allowance of merge commit.

[2022-10-07 04:39] romani commented on #11766
We should remove it from https://github.com/checkstyle/checkstyle/pull/12188/files#diff-d804a8b7018fcdc78e36a4cc2d3e9125fb1018c75a920275071de9ee1ee68858R8

@Vyom-Yadav , as this PR is not merged, can create new PR with copy of Nick changes and in extra commit removal suppression.

[2022-10-07 04:49] romani commented on #11772
No filters right now https://teamcity.jetbrains.com/admin/editTriggers.html?id=buildType:Checkstyle_IdeaInspectionsMaster

[2022-10-07 04:49] #11772 closed

[2022-10-07 05:14] Kevin222004 commented on #12261
I have updated the pr description

[2022-10-07 11:34] Kevin222004 opened #12264 "Resolve Pitest suppression for MethodParamPadCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L134

for MethodParamPadCheck

[2022-10-07 11:39] Kevin222004 opened #12265 "Resolve Pitest suppression for EmptyForInitializerPadCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L17
and
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L26

for EmptyForInit

[2022-10-07 11:45] Kevin222004 opened #12266 "Resolve Pitest suppression for OperatorWrapCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L143
and
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L152

for OperatorWr

[2022-10-07 11:46] Kevin222004 opened #12267 "Resolve Pitest suppression for SeperatorWrapCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L188
and
https://github.com/checkstyle/checkstyle/blob/ba8efc21659a66600a25ed662b62d1b1cb7611ea/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L197

for SeperatorW

[2022-10-07 12:41] rnveach commented on #12259
I remember we had issues with different CIs and looking at git history similar to PR view. Travis was just the one I remember clearly.

[2022-10-07 12:49] romani commented on #12259
At time we created this Junit validation Travis probably was the only CI we had.

[2022-10-07 12:56] rnveach commented on #12261
Fix was merged

[2022-10-07 12:56] #12261 closed

[2022-10-07 15:16] rnveach commented on #12260
Fix was merged

[2022-10-07 15:16] #12260 closed

[2022-10-07 17:28] rnveach commented on #12266
Fixed was merged

[2022-10-07 17:28] #12266 closed

[2022-10-07 22:55] rnveach commented on #12264
Fix was merged

[2022-10-07 22:55] #12264 closed

[2022-10-07 22:56] rnveach commented on #12265
Fix was merged

[2022-10-07 22:56] #12265 closed

[2022-10-08 13:21] romani commented on #11765
I updated https://github.com/checkstyle/checkstyle/wiki/How-to-Generate-and-Analyze-Pitest-Reports#experimental-naked-receiver to be more structured and shared link to example PR of how to resolve mutation. By example it is more easy to learn.

[2022-10-08 13:21] #11765 closed

[2022-10-08 13:44] romani commented on #6320
confirmed, all activated except for gui and indentation - it is expected.
gui do not need this level of testing.
indentation need major rewrite.

[2022-10-08 13:44] #6320 closed

[2022-10-08 13:54] romani commented on #5168
@rnveach , I think it is better to close this PR and wait for plugin to resolve issue.

[2022-10-08 14:23] Vyom-Yadav commented on #11766
Yes, once we get green CI in #12188, I will make a PR for the removal of suppressions. Let's get the inspections to run properly, later we can tweak it.

[2022-10-08 17:52] Kevin222004 opened #12275 "Resolve Pitest suppression for EmptyForInitializerPad-2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation

https://github.com/checkstyle/checkstyle/blob/357ba1ed99f82b07d5663d23091ca9c10bb382b8/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L4-L9

 for EmptyForInitializerPad

[2022-10-08 17:53] Kevin222004 commented on #12275
As of know it is different mutation, so I have taken just one mutation in this pr

[2022-10-08 19:22] #12267 closed

[2022-10-08 22:01] Kevin222004 opened #12278 "Resolve Pitest suppression for EmptyLineSeperator"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/49a93e4ab83c4a25d25c10e16a19dafe40595027/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L30-L37
and
https://github.com/checkstyle/checkstyle/blob/49a93e4ab83c4a25d25c10e16a19dafe40595027/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L57-L64

[2022-10-09 05:15] shubh220922 commented on #11446
I am on WriteTagCheckTest.

[2022-10-09 05:41] NitishKumar06 commented on #12278
I'm working on this.

[2022-10-09 08:21] Kevin222004 opened #12280 "Resolve Pitest suppression for SingleSpaceSeparatorCheck"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/fa6856985e3eb32f11ae63e56c19fc2181a50d06/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L120-L136

[2022-10-09 08:22] Kevin222004 commented on #12280
I am working on it, send pr when its approved

[2022-10-09 08:26] Kevin222004 opened #12281 "Resolve Pitest suppression for EmptyLineSeperator-2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/fa6856985e3eb32f11ae63e56c19fc2181a50d06/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L66-L73
and
https://github.com/checkstyle/checkstyle/blob/fa6856985e3eb32f11ae63e56c19fc2181a50d06/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L66-L73
and
https

[2022-10-09 08:27] Kevin222004 commented on #12281
I am on it, Make pr when it is approved

[2022-10-09 08:34] Kevin222004 opened #12282 "Resolve Pitest suppression for ParenPad"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/fa6856985e3eb32f11ae63e56c19fc2181a50d06/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L93-L100

[2022-10-09 11:37] Gairick52 commented on #12282
@Kevin222004 please suggest me some good first issues

[2022-10-09 17:33] romani commented on #12282
@Gairick52 , please read https://github.com/checkstyle/checkstyle/wiki/To-GSoC-participant, there are first,second,thrird issue to let you gradually be introduced to project.

[2022-10-09 20:15] raghav-rama commented on #12181
iam on it

[2022-10-09 23:29] romani opened #12285 "investigate violations from JUnitMalformedDeclaration Inspection 2022.2.2"
detected at https://app.circleci.com/pipelines/github/checkstyle/checkstyle/15555/workflows/e315e4de-42d6-440c-a5c0-f4dccf698bdc/jobs/185852/artifacts

[2022-10-09 23:30] romani opened #12286 "investigate violations from ParameterNameDiffersFromOverriddenParameter Inspection 2022.2.2"
from https://app.circleci.com/pipelines/github/checkstyle/checkstyle/15555/workflows/e315e4de-42d6-440c-a5c0-f4dccf698bdc/jobs/185852/artifactsa

[2022-10-09 23:38] rnveach commented on #12285
Everything in [JUnitMalformedDeclaration.xml](https://output.circle-artifacts.com/output/job/06ed169b-aee2-4691-aaa9-83f2d572ef64/artifacts/0/home/circleci/project/target/inspection-results/JUnitMalformedDeclaration.xml) appear to be:

[2022-10-09 23:52] rnveach commented on #12286
Everything in [ParameterNameDiffersFromOverriddenParameter.xml](https://output.circle-artifacts.com/output/job/06ed169b-aee2-4691-aaa9-83f2d572ef64/artifacts/0/home/circleci/project/target/inspection-results/ParameterNameDiffersFromOverriddenParameter.xml) is:

[2022-10-10 00:09] romani commented on #12087
migration is merged

[2022-10-10 00:09] #12087 closed

[2022-10-10 00:43] romani commented on #12087
I detached pullRequest builds
![image](https://user-images.githubusercontent.com/812984/194786928-2f8b6b30-210d-46a4-a07c-f2445d81e5b7.png)
with hope it will stop execution of TC on each PR

[2022-10-10 03:24] Gairick52 commented on #12282
@romani thank you very much

[2022-10-10 12:46] #12104 closed

[2022-10-10 12:47] nrmancuso commented on #12101
Closed via #12105

[2022-10-10 12:47] #12101 closed

[2022-10-10 21:11] rnveach opened #12291 "EmptyForInitializerPad: ArrayIndexOutOfBoundsException"
Identified at https://github.com/checkstyle/checkstyle/pull/12277 ,

[code]

I am expecting no violation.

[2022-10-11 00:50] romani commented on #12275
fix is merged

[2022-10-11 00:50] #12275 closed

[2022-10-11 10:55] Kevin222004 opened #12296 "Resolve Pitest suppression for block profile"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation

https://github.com/checkstyle/checkstyle/blob/b51b4af16093835732716d8237e45658b4afea04/.ci/pitest-suppressions/pitest-blocks-suppressions.xml#L2-L10
and
https://github.com/checkstyle/checkstyle/blob/b51b4af16093835732716d8237e45658b4afea04/.ci/pitest-suppressions/pitest-blocks-suppressions.xml#L12-L19
and
https://githu

[2022-10-11 10:56] Kevin222004 commented on #12296
I have contained a lots of mutation just a single pr because it is as similar as https://github.com/checkstyle/checkstyle/commit/4f9c2a47f9e4941f79559626a00b217ccdb35ad4

only requirement is of test file

[2022-10-11 10:56] Kevin222004 commented on #12296
I am on it

[2022-10-11 18:40] rnveach commented on #12296
@Kevin222004 Did that PR resolve this issue?

[2022-10-11 18:51] #12296 closed

[2022-10-11 19:05] Kevin222004 commented on #12296
Report is actually ready
May be , I forget to put it after making pr

[2022-10-11 19:05] Kevin222004 commented on #12296
1) EmptyBlockCheck

 https://kevin222004.github.io/blocks/com.puppycrawl.tools.checkstyle.checks.blocks/EmptyBlockCheck.java.html --->mutation at line 201

after killing mutation
https://kevin222004.github.io/solvedblocks/com.puppycrawl.tools.checkstyle.checks.blocks/EmptyBlockCheck.java.html

2) LeftCurlyCheck

https://kevin222004.github.io/blocks/com.puppycrawl.tools.checkstyle.checks.blocks/Lef

[2022-10-12 03:04] romani commented on #5389
Fix is merged

[2022-10-12 03:04] #5389 closed

[2022-10-12 20:59] PawelLipski opened #12298 "`CovariantEquals` doesn't detect default `boolean equals(NotObject other)` method from an interface"
[code]

Now `Foo` has the same problem as described in https://checkstyle.sourceforge.io/config_coding.html#CovariantEquals, but Checkstyle doesn't cover it (in accordance with its own docs: `Checks that classes and records which define a covariant equals()...`).

[2022-10-13 16:05] stoyanK7 commented on #12224
@rnveach In the example you gave specifically, we can determine that two different `method()` are used by looking at parameter `ELIST`. One is using `STRING_LITERAL`, other is using `NUM_INT`. We cannot tell which imports is which but we know 2/2 imports are used.
![Screenshot from 2022-10-13 17-57-55](https://user-images.githubusercontent.com/23459549/195647366-e629ad92-cac9-431b-b9d1-0ceff2c18c3

[2022-10-13 16:17] rnveach commented on #12224
@stoyanK7 Yes this is a limitation of Checkstyle, but we should update the documentation to show this and this is why we cannot determine which is used/unused in this circumstance.

[2022-10-13 21:43] rnveach commented on #9984
Running test in https://github.com/checkstyle/checkstyle/pull/12300 and it seems the verify works despite the failure messages.

[2022-10-14 20:00] romani commented on #12243
Issue is not finished, we have one more PR for it. Based on agreement in private chat we need to keep unstable feature just in case.
And improve new items that we found

[2022-10-16 19:56] DmytroBarabash opened #12308 "New Check - ForceEnumTrailingComma"
I miss (and so I'd like to create a new) check **ForceEnumTrailingCommaCheck**
The presence of a trailing comma makes diffs clean and code manipulations easier.

How it would work:
public enum Bad { // To be checked
  CIAO,
  ALOHA // violation - no trailing comma
}

public enum Good { // To be checked
  CIAO,
  ALOHA, // ok
}

I'd propose to check multiline enums only, so
enum Test1 {
  CIAO, ALO

[2022-10-16 20:09] rnveach commented on #12308
There may be a similar issue in sevntu at https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/464 that was partially started and then abandoned.

[2022-10-16 22:42] romani commented on #9984
fix is merged

[2022-10-16 22:42] #9984 closed

[2022-10-17 04:48] DmytroBarabash commented on #12308
I saw those issues, but they were abandoned so long ago, so I decided to start the new one

[2022-10-17 05:46] rnveach commented on #12308
Unless they are closed or attempting to cover something different, then starting a new issue for the same thing does not help any. Open issues are still in consideration until they are closed.

[2022-10-17 06:15] romani commented on #12136
Yes, it should.

[2022-10-17 06:15] #12136 closed

[2022-10-17 07:26] DmytroBarabash commented on #12308
What should I do in this case? Wait until somebody closes old dead issues? )
Is it possible to mark this issue as duplicated and link to (and resurrect) the old one?
Or just close this and place a comment in the old one? Which of those two is preferable to activate?
I don't understand what is the right procedure to move ahead, could you please advise?

[2022-10-17 12:48] romani commented on #7619
Fix is merged

[2022-10-17 12:48] #7619 closed

[2022-10-17 12:51] romani commented on #12308
Let's keep it open for now.

It is duplicate of https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/464
It should be implemented in sevntu repo.

We need somebody who has time to finish implementation.

[2022-10-17 15:12] romani commented on #12232
New location of hardcoded folder name https://github.com/checkstyle/checkstyle/blob/c6005cbec365444c3f4704725355ddfd3e588bab/.ci/checker-framework.groovy#L170

[2022-10-17 15:24] strkkk commented on #5133
@stoyanK7 it seems so, pull request is welcome

[2022-10-17 15:26] romani opened #12311 "checker-framework.groovy depends too much on name of repo"
From https://github.com/checkstyle/checkstyle/issues/12232#issuecomment-1258515152

It seems to be the groovy script requires the top checkstyle folder of source to be named `checkstyle`.
https://github.com/checkstyle/checkstyle/blob/c6005cbec365444c3f4704725355ddfd3e588bab/.ci/checker-framework.groovy#L170
In this case, my folder was named `checkstyle2` as this process takes a while to run and wa

[2022-10-17 15:29] #12232 closed

[2022-10-17 15:38] romani commented on #5133
I do not understand original request

We never did this, and why we should start doing this.
I removing approved label for now.

[2022-10-17 15:43] romani commented on #12230
@rnveach , is this still an issue ? Strange that me and CI doesn't able to reproduce this.

[2022-10-17 17:13] rnveach commented on #12230
Windows, which is what this issue was originally for, is a confirmed issue with how we are parsing the output from the maven command. The output is different between Windows and Linux that we only programmed it for the Linux output. I made comments on how I think we should fix it but I believe we are waiting for the utility to figure it out.

Linux is oddly not reporting it as an issue anymore.
[c

[2022-10-18 00:25] romani commented on #12230
@rnveach , please close this issue and let's keep/open issue on windows support.

[2022-10-18 01:48] rnveach commented on #12230
@romani Just to confirm, your referring to #12221 for Windows support?

[2022-10-18 05:12] romani commented on #12230
Ok, please close this issue, or confirm that is still a problem after recent changes.

[2022-10-18 05:15] romani commented on #12153
@Vyom-Yadav , please print some message on success of execution.

[2022-10-18 05:19] romani commented on #12143
I don't understand a reason of such methods.
We do not host methods that we are not using.

[2022-10-18 05:19] #12143 closed

[2022-10-18 05:23] romani commented on #12043
No feedback on details, and it is clearly not an issue in our library, might be some Gradle defect.

[2022-10-18 05:23] #12043 closed

[2022-10-18 05:46] DmytroBarabash commented on #12308
Thank you, @rnveach
I try to bring back to light [sevntu-checkstyle/sevntu.checkstyle#464](https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/464) by commenting )

[2022-10-18 12:23] #12230 closed

[2022-10-18 14:47] rnveach commented on #12224
Documentation update was merged

[2022-10-18 14:47] #12224 closed

[2022-10-19 07:40] romani commented on #11747
Can use Travis?

[2022-10-19 15:33] Kevin222004 opened #12314 "Resolve Pitest suppression for misc profile"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ad27aa0feb4804cf3a14430b2cb90c3d13dbe532/.ci/pitest-suppressions/pitest-misc-suppressions.xml#L39-L46
and
https://github.com/checkstyle/checkstyle/blob/ad27aa0feb4804cf3a14430b2cb90c3d13dbe532/.ci/pitest-suppressions/pitest-misc-suppressions.xml#L48-L55

[2022-10-19 15:53] Kevin222004 opened #12315 "Resolve Pitest suppression for Javadoc profile"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/ad27aa0feb4804cf3a14430b2cb90c3d13dbe532/.ci/pitest-suppressions/pitest-javadoc-suppressions.xml#L93-L109
and
https://github.com/checkstyle/checkstyle/blob/67a577de8adc38b9d3fb039fbcbb38c9088d3a1a/.ci/pitest-suppressions/pitest-javadoc-suppressions.xml#L543-L550
and
https://

[2022-10-20 09:51] Wujiaxuan007 commented on #4089
JavadocVariable: add "allowedAnnotations" property : (

[2022-10-20 19:09] Kevin222004 commented on #12282
@rnveach We have currently this line of code which is mutated https://github.com/checkstyle/checkstyle/blob/ad27aa0feb4804cf3a14430b2cb90c3d13dbe532/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/ParenPadCheck.java#L257

and the source code for this mutated code is just to remove it

[2022-10-20 19:12] rnveach commented on #12282
The mutation is not to remove it.

[2022-10-20 19:42] Kevin222004 commented on #12282
@rnveach yes we don't have to remove the switch case according to wiki I have also done like that before. and know it is clear to me

when we are making the changes like that I am getting errors in three input file i am sharing one with you
https://github.com/checkstyle/checkstyle/blob/ad27aa0feb4804cf3a14430b2cb90c3d13dbe532/src/test/resources/com/puppycrawl/tools/checkstyle/checks/whitespace/par

[2022-10-20 19:56] rnveach commented on #12282
If you make a change to mimic a mutation and our test fails, then either the mutation you applied isn't correct or there is more going on with pitest than the mutation alone (caching, etc...).  Normally tests do not fail with the mutation applied.

Please provide me the step by step we request. Provide me the mutated branch pushed to the server. Let me know if tests fail with the mutation applied.

[2022-10-21 02:36] romani commented on #12282
Please send PR with mutation to let us see all details.

Please try to remove all other "case" one by one.

[2022-10-21 06:04] romani commented on #12314
Fix is merged

[2022-10-21 06:04] #12314 closed

[2022-10-21 17:24] rnveach opened #12319 "CI: validate PR number when commit is for PR"
Identified at https://github.com/checkstyle/checkstyle/pull/12313#issuecomment-1287241561 ,

As title suggests, when a commit message references `Pull #`, it should validate the number to be the same number of the current PR.

We have never references other PRs with this commit message, and we shouldn't since release notes will be pulling in the title for the PR number given to it.

[2022-10-22 04:42] romani commented on #12315
Fix is merged

[2022-10-22 04:42] #12315 closed

[2022-10-22 07:40] shubh220922 commented on #11214
I am on  JavadocPackageCheck.

[2022-10-22 14:33] rnveach commented on #12282
Fix was merged, complex understanding of pitest is at https://github.com/checkstyle/checkstyle/pull/12318#issuecomment-1286800059 and simpler understanding at https://github.com/checkstyle/checkstyle/pull/12318#issuecomment-1287030155

[2022-10-22 14:33] #12282 closed

[2022-10-22 16:16] shubh220922 opened #12326 "Resolve Pitest suppression for AccessModifierOption"
Reference from https://github.com/checkstyle/checkstyle/issues/7797

Kill the mutation

https://github.com/checkstyle/checkstyle/blob/4c7c3cc832a2b6ddefa529a816008880a9db9255/.ci/pitest-suppressions/pitest-naming-suppressions.xml#L12-L19

[2022-10-22 16:52] shubh220922 commented on #12326
I am on it.

[2022-10-22 17:10] Kevin222004 opened #12327 "Resolve Switch case mutation for ParenPad"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/4c7c3cc832a2b6ddefa529a816008880a9db9255/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L84-L91

[2022-10-22 18:33] romani commented on #12311
@Vyom-Yadav , can you help us to resolve this issue ?

[2022-10-22 18:38] romani commented on #12221
@Vyom-Yadav , please help to resolve this issue.

We need to change parser to parser output more reliably to skip lines with "WARNING"

[2022-10-22 18:39] romani commented on #11766
TC is deprecated as it is constantly failing.

[2022-10-22 18:39] #11766 closed

[2022-10-22 18:49] romani commented on #11872
we now only about 15 jobs that take from 2m to 5min execution.
and only 4 job that takes from 2m to 3 minutes.
total amount of jobs is 28.

If we waste only 30sec per job for non-pitest execution, I think it is fine to keep it as it, time will increase as we continue to add more code and tests.

[2022-10-22 18:49] #11872 closed

[2022-10-22 18:51] romani commented on #11871
@Vyom-Yadav , can you take most long executed jobs (1-3) and compare results. I hope it would be great feeedback to owners of this library.

[2022-10-22 19:21] Kevin222004 commented on #12327
@romani @rnveach when I am trying to generate the regression on my local it is giving the error like this, am i making any mistake to run command or it is something else
[code]

[2022-10-22 19:29] romani commented on #12327
It might be related to groovy version. Try to use same version as in CI.

[2022-10-22 20:47] rnveach commented on #12229
@romani This issue is complete, right?

[2022-10-22 20:51] rnveach commented on #12327
@Kevin222004 https://github.com/checkstyle/contribution/tree/master/checkstyle-tester#setup
If you identify anything wrong or missing, update readme.

[2022-10-22 20:57] #12229 closed

[2022-10-22 21:54] Kevin222004 opened #12329 "Resolve Pitest for Annotation Profile"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-annotation-suppressions.xml#L1-L10
and
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-annotation-suppressions.xml#L12-L19
and
https:

[2022-10-22 21:55] Kevin222004 commented on #12329
Now, I guess I will handle this all in one pr by just solving one at a time in my local

[2022-10-22 22:03] Kevin222004 opened #12330 "Resolve Pitest for Block Profile-2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-blocks-suppressions.xml#L12-L19

[2022-10-22 22:08] Kevin222004 opened #12331 "Resolve Pitest for profile coding-2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation:-
part - 1
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-coding-2-suppressions.xml#L3-L28
and
part - 2
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-coding-2-suppressions.xml#L8

[2022-10-22 22:11] Kevin222004 opened #12332 "Resolve Pitest for profile coding-require-this-check"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-coding-require-this-check-suppressions.xml#L75-L144

[2022-10-22 22:18] Kevin222004 opened #12333 "Resolve pitest for profile metrics"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-metrics-suppressions.xml#L102-L145

[2022-10-22 22:19] Kevin222004 opened #12334 "Resolve pitest for profile misc-2"
Related to https://github.com/checkstyle/checkstyle/issues/7797

kill mutation
https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-misc-suppressions.xml#L147-L163

[2022-10-22 22:22] Kevin222004 commented on #12330
I am on it

[2022-10-23 03:39] romani commented on #12331
I recommend to keep each mutation separately to not block easy mutations

[2022-10-23 04:06] romani commented on #12329
I highly recommend to send PR as soon as killed one mutation (or batch it by day of work). The smaller PR the quicker it is merged.

[2022-10-23 04:15] romani commented on #12327
@Kevin222004 , how you resolved issue on your local?

[2022-10-23 04:15] #12327 closed

[2022-10-23 04:33] nrmancuso commented on #12311
I will take a look at this

[2022-10-23 06:05] rnveach opened #12338 "Remove CheckstyleAntTask's classpath"
Identified at https://github.com/checkstyle/checkstyle/pull/12335#discussion_r1002612965 ,

https://github.com/checkstyle/checkstyle/blob/527578f9a89abd7136552763bf942f9cb334c203/src/main/java/com/puppycrawl/tools/checkstyle/ant/CheckstyleAntTask.java#L92

This is left over when we had checks against the classpath. Code was removed at
https://github.com/checkstyle/checkstyle/commit/145160f5e21b80c

[2022-10-23 13:58] romani commented on #12338
If we did this property do nothing long time ago, we can remove any time now.

[2022-10-23 14:03] rnveach commented on #12338
I am fine with that. I just didn't think we would want to remove instantly.

[2022-10-23 14:07] romani commented on #12338
We do not have deprecation warning messages. We usually make it not functional to not break config loading phase on user side, but we change behavior.
Later on do hard removal.

[2022-10-23 15:02] romani commented on #11871
I did testing at https://github.com/checkstyle/checkstyle/pull/12336

[2022-10-23 20:15] nrmancuso opened #12341 "Resolve Pitest Suppressions"
This issue will be the main tracker issue for resolving Pitest suppressions.

## Summary
Surviving pit mutations are a form of [technical debt](https://en.wikipedia.org/wiki/Technical_debt), and we would like to kill all surviving mutations. **It is important to first understand what pitest is and how it works**. Please visit https://pitest.org/ to learn about this tool. Simply put, pitest changes

[2022-10-24 03:27] nrmancuso commented on #12334
@Kevin222004 please reference https://github.com/checkstyle/checkstyle/issues/12341 for any new pitest issues as you create them, this will help others to find your issues/PRs as examples in the future.

[2022-10-24 04:13] nrmancuso commented on #12243
I am on it

[2022-10-24 04:49] nrmancuso commented on #12259
I am on it

[2022-10-24 07:46] Kevin222004 commented on #12327
It is caused because of version issue only. I have just change my groovy version as same as ci (2.4.8) and report has successfully generated

[2022-10-24 15:22] romani commented on #11871
Our tests are complicated and heavy by design, on purpose. Our heavy tests produce more quality value. In such situations we value quality more than speed of tests.

[2022-10-24 15:24] #11871 closed

[2022-10-24 20:42] #12311 closed

[2022-10-24 20:42] romani commented on #12311
Fix is merged

[2022-10-25 01:40] #12259 closed

[2022-10-25 03:07] #12319 closed

[2022-10-26 00:21] rnveach commented on #11134
@nrmancuso @Vyom-Yadav Do we have a way forward to make this work again?

[2022-10-26 00:37] romani commented on #11134
From CI
https://cloud.drone.io/checkstyle/checkstyle/13134/4/2

[code]

There are no error message that we expect.

[2022-10-26 11:19] DrVanScott opened #12345 "False positive in NoWhiteSpaceAfter"
hi,

starting with ~~8.45~~ 8.44, checkstyle generates a false positive for this code

[code]
This leads to message like "There is a whitespace after 'o'"

[code]
produces this output using commandline / latest release 10.3.4
[code]

[2022-10-26 11:21] nrmancuso commented on #12345
Please follow the issue template.

[2022-10-26 14:19] DrVanScott commented on #12345
Sorry, was wrong about the version. Corrected to 8.44

[2022-10-26 14:45] DrVanScott commented on #12345
Hi, don't really now all that information. I use Eclipse to verify my code. What else do you need? It depends on the above example, on rule "NoWhitespaceAfter" and on a version >= 8.44. Should be easy to reproduce.

[2022-10-26 15:01] romani commented on #12345
Please reproduce it by our CLI as issue template demands

[2022-10-26 17:42] DrVanScott commented on #12345
Above jave code (Demo.java) compiles without error or warning

Using this config:
[code]
produces this output using commandline / latest release 10.3.4
[code]

[2022-10-26 20:05] strkkk commented on #12345
I reproduced issue, it is clearly a bug. I will try to submit PR with fix soon.

[2022-10-27 22:45] leojahn1 commented on #3183
I don't understand this problem. Based on this definition of Scope and excludeScope (https://checkstyle.sourceforge.io/property_types.html#Scope),
Scope is functioning properly. What are we trying to resolve here? Also, what reason would there be to set excludeScope=anoninner in the first place?

[2022-10-28 04:23] nrmancuso commented on #12345
Strange, it seems to be related to the combination of redundant `this` and casting to array type with access:

[code]

[2022-10-28 04:53] nrmancuso commented on #12243
@romani please confirm if what remains to do here (see https://github.com/checkstyle/checkstyle/issues/12243#issuecomment-1279405407)  is a duplicate of https://github.com/checkstyle/checkstyle/issues/12221. If so, please close this and we will continue there.

[2022-10-28 04:54] nrmancuso commented on #12221
I am looking into this

[2022-10-28 06:10] romani commented on #12243
Yes, I lost a reason of discussion there we did this in some updates over the script.

[2022-10-28 06:10] #12243 closed

[2022-10-28 09:21] Chandan-DK commented on #7608
Hi. I just checked https://checkstyle.org/config_design.html#DesignForExtension.
It has examples for all the configs. So, why isn't this issue closed?
Thank you

[2022-10-28 12:08] romani commented on #7608
https://checkstyle.org/config_design.html#DesignForExtension_Examples

We need example of code for default config.
We need to make all java codes to be same code to show user how only changes in config makes behavior (location of violations) different.

[2022-10-28 12:55] Chandan-DK commented on #7608
I will work on this issue.
I'll ask for any clarifications required when I start working on it

[2022-10-28 13:20] romani commented on #7608
I highly recommend to review other PRs for doc update, example https://github.com/checkstyle/checkstyle/pull/12187 , to see where new contributors have most of misunderstanding and how to make update less time consuming for you.

[2022-10-28 14:22] #11747 closed

[2022-10-28 14:23] nrmancuso commented on #11747
Closed via #12349

[2022-10-28 22:40] #12228 closed

[2022-10-28 22:40] rnveach commented on #12228
Fix was merged

[2022-10-29 07:32] Chandan-DK commented on #7608
@romani
1. You mean that the examples for default config and all these properties (https://checkstyle.org/config_design.html#DesignForExtension_Properties)
should be similar to each other?
If yes, shall I make changes to the existing examples provided for the properties? Because they are slightly different from each other

2. Should I include all the default values or just one or two of the defaul

[2022-10-29 12:39] romani commented on #7608
Yes, we need to change existing java examples.

We should show in examples all properties that we have in Properties table on doc page

[2022-10-29 17:15] Chandan-DK commented on #7608
I would like to confirm if these examples are alright.

1. Default Config Example
![image](https://user-images.githubusercontent.com/103727912/198844279-32532a5e-e105-447b-9816-43ad7173a751.png)

2. Example for ignoredAnnotations property with value="Deprecated, Test"
![image](https://user-images.githubusercontent.com/103727912/198844371-6361ed0d-b234-44b3-a377-e96e38d6c0b9.png)

3. Example for re

[2022-10-29 17:20] rnveach commented on #7608
@Chandan-DK Just pointing out that they are not ok in terms to what @romani specified in https://github.com/checkstyle/checkstyle/issues/7608#issuecomment-1295825128

I would also say that it was mentioned there is existing code. I would take those and try to match them against the properties and wording to get the violations that seem expected to you. If you can't it may be a sign our wording is

[2022-10-29 17:35] Chandan-DK commented on #7608
@rnveach Ok. I'll make all the code same and submit a PR

[2022-10-29 19:09] romani commented on #7608
Java code should be identical, only trailing comments are changing to highlight location of violations

[2022-10-30 04:01] Chandan-DK commented on #7608
After making changes, how do I view .xml files as .html files like this? https://checkstyle.org/config_design.html#DesignForExtension

[2022-10-30 04:08] gMan1990 commented on #11582
https://gitter.im/checkstyle/checkstyle?at=626bb56841f4560c6f7811e2

[2022-10-30 04:40] romani commented on #7608
https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations#how-to-generate-website-only

[2022-10-30 06:08] Chandan-DK commented on #7608
Here's the CLI output of the examples. I hope it's ok?

![image](https://user-images.githubusercontent.com/103727912/198864961-88474f7b-3593-4fcf-b51c-c6124c91c62b.png)

[2022-10-30 14:45] nrmancuso commented on #7608
@Chandan-DK please share output as code block in markdown, it makes it easy to read and copy paste.

[2022-10-30 15:39] romani opened #12351 "Action 'Bump version/Update Milestone' is failing to update milestones"
https://github.com/checkstyle/checkstyle/actions/runs/3356052486/jobs/5560809102

[code]

but commit is pushed - https://github.com/checkstyle/checkstyle/commit/9b4e1a6eec674ca1108f6aaa64f3616532718c98 ,  but milestone is failed to be updated

commit `minor: Bump release version to 10.4` was very confusing to me, we should rename it be `minor: Bump release version to 10.4-SNAPSHOT`

[2022-10-30 16:17] Chandan-DK commented on #7608
# Default Configuration

* Code

[code]

* XML Configuration

[code]

# Ignored Annotations Configuration

* Code

[code]

* XML Configuration

[code]

# Required JavaDoc Phrase Configuration (Example 1)

* Code

[code]

* XML Configuration

[code]

# Required JavaDoc Phrase Configuration (Example 2)

* Code

[code]

* XML Configuration

[code]

[2022-10-30 23:29] romani commented on #7608
Please send Pull Request, it is much easier to discuss items in PR

[2022-10-31 02:05] Sucran opened #12352 "Gradle plugin checkstyle cound not work offline"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

excep using this plugin, I also compile the checkstyle lastest version 8.29 in the dependencies, bu

[2022-10-31 02:10] rnveach commented on #12352
@Sucran Please read over your post and https://checkstyle.org/report_issue.html#How_to_report_a_bug.3F and follow our template to show us issue in our library.

Please note we are not maintainers of gradle plugin, so if you cannot reproduce an issue in our library, then most likely it is not our issue and is the plugin's instead.

[2022-10-31 03:00] Sucran commented on #12352
Reproduce this issue needs a env which not connecting to network. I had change the version of checkstyle, all errors points to "Cound not find host checkstyle.org" when analysing the xml file head with the dtd file's url "https://checkstyle.org/dtds/xxx.dtd". @rnveach

[2022-10-31 03:24] rnveach commented on #12352
We still need what we asked for in the template. If this can't be provided then we will have to close the issue as unable to be reproduced. I can only speculate at this point that you may not be using the correct DTD, but since nothing has been provided I cannot tell.

[2022-10-31 06:46] Sucran commented on #12352
Let me just check the dtd version whether it's compatible with the version of checkstyle. Sorry that I'm a new user of checkstyle, I had everythink ok in my laptop (which can connect to the Internet), but when I transfer all my config to my company's computer (which cannot connect to the Internet) It throws error says "could not find host checkstyle.org". I shouldn't capture the computer snapshot

[2022-10-31 06:46] #12352 closed

[2022-10-31 13:39] nrmancuso commented on #7608
@Chandan-DK The error message is cut off, but it is likely that the xdocs and Javadoc are not in sync. Look at other PRs for documentation updates to see how xml docs and Java docs should match as an example. Also, the command you are running generates the code coverage report, which isn’t needed if we are only updating documentation.

[2022-11-01 05:41] #12291 closed

[2022-11-01 05:42] pbludov commented on #12291
Fix is merged.

[2022-11-01 15:13] pcbouman-eur opened #12355 "Feature request: add FATAL SeverityLevel"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and show small examples below.

To summarize my feature request, I would like to have checkstyle support the same severity levels as PMD, which has a *fatal* severity level that checkstyle

[2022-11-01 15:32] romani commented on #12355
I don't understand why fatal is required. Need more details on this.
Is next severity is catastrophic ?

We have severity:
- do not show
- do not make exit code as failure
- do fail

Why we need more ?

[2022-11-01 16:19] pcbouman-eur commented on #12355
Good question,s I was indeed not entirely aware of the semantic meanings of the current levels from the documentation. I also fully understand the fear of a sliding scale.

I can agree with the argument that in a typical software engineering workflow adding more levels does not make a lot of sense. I might be stretching the usage scope of checkstyle by using it in a didactical workflow, rather tha

[2022-11-01 16:54] pcbouman-eur commented on #12355
The [documentation of PMD](https://pmd.sourceforge.io/pmd-5.3.3/customizing/rule-guidelines.html) contains more information on the meaning of their five severity levels. I do agree that checkstyle's documentation could be improved to reflect the semantics of the severity levels better.

An alternative solution to my problem could be to deal with this in a wrapper script. As a preprocessing step, a

[2022-11-03 04:26] nrmancuso opened #12359 "Resolve flaky IDEA Inspections"
We can use this issue to track flaky inspections.

Noticed at https://github.com/checkstyle/checkstyle/pull/12354 and https://github.com/checkstyle/checkstyle/pull/12357

On commit https://github.com/checkstyle/checkstyle/commit/73d92727546cb417ad630359263e05e7e434317e:
[code]
We have failing inspection: `DeprecatedIsStillUsed`. But, when we have `noinspection` tag in place, inspections reports `R

[2022-11-03 13:46] kameit00 opened #12361 "Should IllegalImportCheck also find usages of fully qualified Names within the code"
https://checkstyle.sourceforge.io/apidocs/com/puppycrawl/tools/checkstyle/checks/imports/IllegalImportCheck.html

This check does not find code that uses FQN instead of an import.

In the following example the Lists class of assertj is not found, because there is no import statement for this class.

[code]

Should IllegalImportCheck find such cases? Will it make the check too slow?
Should there be

[2022-11-03 13:49] rnveach commented on #12361
@kameit00 Please update your post to https://checkstyle.org/report_issue.html#How_to_request_new_Check.2FModule.3F .

Outside of that, one thing to not but probably not a full limiter is as a static checker, we can determine if `org` is a variable of some sorts, or the start of a static FQCP.

[2022-11-03 16:12] nitishfy opened #12364 "Modification of docs in running checkstyle locally"
The [following page](https://checkstyle.org/cmdline.html#Download_and_Run) shows how to run Checkstyle using the command line. If we read the documentation carefully, we find that there are no points mentioned about running it locally in a detailed way which is very important.

For eg. Ther is no line mentioned which says to open the jar file in the IDE you're using and make a java class there. Af

[2022-11-03 17:52] nrmancuso commented on #12364
Simply increasing detail/ verbosity of documentation is not always beneficial for the reader; good technical documents should be clear and concise.

There should be no line that says this; there is no requirement that anyone use an IDE to run Checkstyle.

We need to make *some* assumptions here, such as the reader having some basic knowledge of the command line and java; otherwise they would have

[2022-11-04 00:07] romani commented on #12364
I don't understand this.
On local you do not need ide, just download jar and use it.

[2022-11-04 13:11] romani commented on #12355
I am closing issue,but discussion can be continued if new ideas come up later on.

[2022-11-04 13:11] #12355 closed

[2022-11-04 14:51] pcbouman-eur commented on #12355
Thanks you for all the explanations! Now that I understand the levels better I agree that adding another one is arbitrary. I am also happy that you now have an improvement your documentation of this aspect in the pipeline!

After this discussion I imagine it could be nice to have some way to attach some form of user defined semantic metadata to the different checks. However, that is a feature requ

[2022-11-04 15:05] nrmancuso commented on #12355
@pcbouman-eur you could hack this by using the [id](After this discussion I imagine it could be nice to have some way to attach some form of user defined semantic metadata to the different checks.) property or adding some information to the [mesage]{https://checkstyle.sourceforge.io/config.html#Custom_messages) property, depending on how you want to "consume" your metadata. Consider:

[code]

[2022-11-05 08:45] NitishKumar06 commented on #12364
@romani What I mean by is that: Should we modify the documentation of how to run checkstyle locally in order to add more detail.

[2022-11-05 10:20] NitishKumar06 opened #12370 "Improper text in NewLineAtEndOfFileCheck documentation"
The following link (https://checkstyle.org/config_misc.html#NewlineAtEndOfFile) explains the check for adding a new line at the end of file. There's a line mentioned which says _Example (line 36 should not be in diff):_.

Although when you look at the image below, you find that there is no line number  present / way to find out the line number 36.

The IDE is capable of showing the line 36 but the

[2022-11-05 11:49] nrmancuso commented on #12364
We can update this section (mostly grammar) and add a bit more detail, but we should make no mention of IDE at all.

[2022-11-05 13:27] arinmodi commented on #7613
@pbludov, I made a PR on this, can you please review that ?

[2022-11-05 13:36] strkkk commented on #12370
I think it can be simpler, just 2 lines and refer to them as line 1 and line 2.

[2022-11-05 16:48] rnveach commented on #12221
This issue is approved, but will no longer be used as a base for PRs. New issues are needed for each item to work on.

[2022-11-05 18:37] romani commented on #12370
and use output of `diff -u`

[2022-11-05 19:21] romani commented on #12370
Probably better to send PR and discuss exact wording in PR.

[2022-11-06 09:47] NitishKumar06 commented on #12364
@nrmancuso I'd be raising a PR for this issue. Thanks for approving it and Please suggest the changes necessary there.

[2022-11-06 14:59] Stephan202 commented on #10161
It's been more than three weeks, but for completeness: [this](https://github.com/PicnicSupermarket/error-prone-support/blob/aa5ad4d25b91e8326729a2abd13fb52112c984ae/refaster-support/src/test/java/tech/picnic/errorprone/refaster/matchers/IsCharacterTest.java#L56-L61) is an example. Other cases can be found using [this](https://github.com/PicnicSupermarket/error-prone-support/search?q=%22checkstyle%

[2022-11-06 15:55] PowerStat opened #12377 "Commandline option to write the whole rulesets including default properties."
I already propsed this for pmd, but would like to see it for ChecklStyle in the same way:

**Is your feature request related to a problem? Please describe.**
From time to time (not regularly) I update my CheckStyle configs. And then it is hard to find out what I have changed in my config and what you have changed.

**Describe the solution you'd like**
A commandline option to write the whole known

[2022-11-06 16:14] rnveach commented on #12377
PMD Issue at https://github.com/pmd/pmd/issues/4187

[2022-11-06 17:04] rnveach commented on #5678
Just notifying that this is still an issue 4 years later. Powermock is still blocked.

If you run `verify` phase with Jacoco, you will have to do a clean after the run otherwise you will get this NoClassDefFoundError.

[2022-11-06 22:38] romani commented on #12377
Why you need all Checks in one file, nobody use all Checks at same time, some of them conflicts with each other, some of them should be used in very narrow code bases.

What if we do this only for one Check ?

https://checkstyle.org/cmdline.html

`java -jar checkstyle-10.4-all.jar --print-default-config=LineLengh`

Output:
[code]

[2022-11-07 01:05] rnveach opened #12379 "Checker: false violation removals on other failures"
Identified at https://github.com/checkstyle/checkstyle/actions/runs/3405402498/jobs/5663345165 ,

`xml-maven-plugin` failed and checker reported back all suppressions should be removed even though Checker never actually run.

We should skip anything else besides Checker to ensure groovy script behaves correctly.

[2022-11-07 13:51] nrmancuso commented on #12377
It would be better to allow a list of checks to be passed to `--print-default-config`, so that users can do something like the following:
[code]

Where the command in the subshell would print a comma separated list of all modules in your config, like so:
[code]

This list could be used to generate a config that matches an existing config in your project, but all with default values.

[2022-11-07 13:58] romani commented on #12377
@nrmancuso , you are experienced in shell, there numerous engineers who works on windows. Where all your magic is not available

[2022-11-07 14:16] nrmancuso commented on #12377
@romani see edit form above:

What do you think about this? Example:
[code]
?

[2022-11-07 16:24] romani commented on #12377
Good idea, much better, if we preserve formatting as is and only change value of property that is mentioned source config.

In other cases it would be hard to compare.

[2022-11-08 07:24] arinmodi commented on #11214
@Vyom-Yadav, can you explain me what is inputFiles ?

[2022-11-08 07:27] Vyom-Yadav commented on #11214
Checkstyle runs on java code, so while testing we need to recreate this behavior. To do that we create a test with proper configuration and an input file (the java code) for checkstyle to check on.

[2022-11-08 07:31] arinmodi commented on #11214
OK, got it

[2022-11-08 12:19] arinmodi commented on #11214
I am on WriteTagCheck

[2022-11-08 12:51] arinmodi commented on #11214
@vyom, I am defining the message for violation, what if the message is more than 100 char and that occurs in javadoc comments, should I take that to new line ?

[2022-11-08 13:21] romani commented on #11214
@arinmodi , there is already PR for WriteTagCheck.

https://github.com/checkstyle/checkstyle/pull/12288

[2022-11-08 14:09] romani commented on #11214
I don't see active PRs on this, please do

[2022-11-08 14:27] arinmodi commented on #11214
@romani, is DescendantTokenCheck work on the tree structure generated from java code, right ?

[2022-11-08 15:06] arinmodi commented on #11214
@Vyom-Yadav, what if there is 2 violation but both has same message, should I ignore that ?

[2022-11-08 16:12] romani commented on #11214
https://checkstyle.org/writingchecks.html

Create PR, and we will discuss all specific questions in PR

[2022-11-09 06:47] NitishKumar06 commented on #12370
I believe it'd be a good idea if we remove "line 36 should not be in diff" since different files have different line numbers which may leads to confusion.

[2022-11-09 17:51] rnveach opened #12385 "ModuleReflectionUtil/guava isn't working in pure ant with custom libraries"
Identified at https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/935 and confirmed through https://github.com/rnveach/sevntu_issue_935 .

Our code in question:
https://github.com/checkstyle/checkstyle/blob/f741ccecd32fb4d45946ade13ce3f858684cfdfd/src/main/java/com/puppycrawl/tools/checkstyle/utils/ModuleReflectionUtil.java#L57-L65

There are 2 issues going on with guava in pure ANT.
1)

[2022-11-09 18:06] arinmodi commented on #11446
@romani, can I work on WriteTagCheckTest ?

[2022-11-09 19:29] pci-mthompson commented on #12385
Can confirm everything was working with latest JDK8.  Switching to JDK11 is ok with the suggested workaround.

- Removed "-lib" argument from ant
- Removed xmlns  definition from CS
- Removed cs: from checkstyle task tag
- Updated config.xml to full class "com.github.sevntu.checkstyle.checks.coding.ForbidReturnInFinallyBlockCheck"
- Added these lines to build.xml

<path id="checkstyle.lib.path"><f

[2022-11-09 21:55] pci-mthompson commented on #12385
Another data point.  I tried again with my full checkstyle config and it fails with the same class not found for ForbidAnnotationElementValueCheck if I have MultipleVariableDeclarationsExtended included.  Commented out and everything is OK with numerous other base and SevNTU checks active.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration

[2022-11-10 02:41] nrmancuso commented on #11446
@arinmodi See comment at https://github.com/checkstyle/checkstyle/issues/11446#issuecomment-1272458268 as example, just say you are on a test and send PR, no need to ask.

[2022-11-10 03:59] arinmodi commented on #11446
@romani ?

[2022-11-10 04:01] arinmodi commented on #11446
I am on ImportControlCheckTest

[2022-11-10 16:29] #12370 closed

[2022-11-10 17:05] pci-mthompson commented on #12385
[config.xml.txt](https://github.com/checkstyle/checkstyle/files/9983132/config.xml.txt)

[2022-11-10 19:14] PowerStat commented on #12377
@romani I require all checks ithin one file, because I would like to compare it at once - keep in mind that in my config file I use comments  to switch off rules I don't need - but I am still interested in them for the case that they get new properties. Exporting single rules is completly useless for me. Also when talking about diff I mean Linux and Windows - for Windows you could use WinMerge whi

[2022-11-10 23:51] stoyanK7 commented on #12181
@romani I am getting `bad credentials` when trying to run this job on my fork. https://github.com/stoyanK7/checkstyle/actions/runs/3441249109/jobs/5740730073#step:3:125. Any ideas?

[2022-11-10 23:54] nrmancuso commented on #12181
@stoyanK7 please share details of token you are using, such as if it is PAT or built in, and the scopes you have granted if it is PAT

[2022-11-10 23:58] stoyanK7 commented on #12181
Personal Access Token(PAT) -> Token(classic) -> All scopes possible are granted.

[2022-11-11 00:02] nrmancuso commented on #12181
Check required environment variables, length of obfuscated token looks suspect, as does absence of builder token https://github.com/stoyanK7/checkstyle/actions/runs/3441249109/jobs/5740730073#step:3:5

also, I remember some nuance in GitHub actions with PAT, maybe search for this

[2022-11-11 11:36] nrmancuso commented on #12181
@stoyanK7  if you figured out PAT issue, please share details here to help the next person that might have the same :)

[2022-11-11 11:39] stoyanK7 commented on #12181
Oh, absolutely. PAT's permissions were alright and GitHub was picking it up correctly. I assumed` BUILDER_GITHUB_TOKEN` is something GitHub takes care of but it turns out you have to set it manually under `your checkstyle fork` -> `Settings` -> `Secrets` -> `Actions` -> `New repository secret` and you add it.

[2022-11-11 20:53] stoyanK7 commented on #12182
Any suggestions on how to reproduce this? My personal token has full access and I am not sure trial and error is the way to go here.

[2022-11-11 21:57] #12207 closed

[2022-11-11 21:58] romani commented on #12207
Fix is merged

[2022-11-11 22:32] romani opened #12389 "Create instance of regexp check to enforce usage of 'fail-with-body' in curl commands"
Detected at https://github.com/checkstyle/checkstyle/pull/12388/files#r1020286103

Should  be a requirement on all curls like we do with -e for mvn? It seems to me we should want to fail on all curl failures, just that this was one example.
Example: https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_non_main_files_checks.xml#L26-L32

[2022-11-11 22:41] romani commented on #12182
You can create your own repository, and not create own token but try to use token that is provided to all actions by default.

[2022-11-11 23:34] romani commented on #12377
You asking too much, we will not automate what you need in your CI/CD.
But

We can print by CLI default value of property in Check. To let you do extra script on your side and generate file in way you want.

`--print-default-property-value=MagicNumber.ignoreNumbers`

Will print `-1, 0, 1, 2` .

FYI: https://checkstyle.org/config_coding.html#MagicNumber_Properties

[2022-11-11 23:44] romani commented on #12385
@pci-mthompson, if you are in open source are please share link to your code and ant config

[2022-11-12 00:28] #12181 closed

[2022-11-12 00:29] rnveach commented on #12181
Fix was merged

[2022-11-12 07:40] NitishKumar06 opened #12393 "Missing Link found on Checkstyle docs"
**Problem:**

The following doc (https://checkstyle.org/cmdline.html#Command_line_usage) explains how to run checkstyle using the command line.

The last 3rd paragraph of this section says "Note that the -`n packageNamesFile` option has been dropped for Checkstyle 5.0, because of significant changes regarding package name file handling. See for details."

The text _See of details_ should actually

[2022-11-12 13:52] rnveach commented on #12393
https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/cmdline.xml.vm#L150
The link exists but the HTML for it is invalid, so nothing is showing up as a link or such.

[2022-11-12 18:18] #12351 closed

[2022-11-12 19:10] romani commented on #12389
Fix is merged

[2022-11-12 19:10] #12389 closed

[2022-11-13 10:05] NitishKumar06 commented on #12393
@rnveach Isn't there any way we could fix this?

[2022-11-13 10:08] NitishKumar06 commented on #12379
@rnveach I'd like to work on this issue but don't know how to get started . Any suggestions?

[2022-11-13 15:03] nrmancuso commented on #12221
Experience so far with Checker shows that it is very fragile due to reliance on compiler version and OS. Now that we have clearly identified some problems, I suggest we:

1. Create official "parent" issue for Windows support
2. Create clear task list in parent issue that will result in level of Windows support we want to achieve
3. Close this issue

As part of tasks in parent issue, we should comp

[2022-11-13 15:21] nrmancuso commented on #12379
@NitishKumar06 it is likely that we can resolve this issue with no code changes. Take a look at https://github.com/checkstyle/checkstyle/blob/7159bb04953e5fb6cce4897993f1c3ec09172430/.github/workflows/checker-framework.yml#L1.

If we can change conditions of some steps, that is all we should need. My thoughts are as follows:

Always run git diff, not only on failure. If there is no difference, wor

[2022-11-13 15:30] nrmancuso commented on #12393
@NitishKumar06 issue is approved, please send PR to fix invalid HTML

[2022-11-13 15:54] nrmancuso commented on #12257
Agreed here.

As a user, I would not expect Checkstyle to place a violation on a token that is not listed in the configuration. I should not have to anticipate all possible tokens that could precede the token I want to exclude, and remove them from my config, especially considering the language in the check description:

If nothing else, we need to update documentation to state that we are really

[2022-11-13 16:17] rnveach commented on #12379
I recommend we check if we can implement simplier maven solutions where we aren't copying the same turn offs everywhere.
Example: https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/.ci/validation.sh#L50

[2022-11-13 20:45] strkkk opened #12404 "Github rebase action does not work"
Example of failed job
https://github.com/checkstyle/checkstyle/actions/runs/3456817016/jobs/5769827096
it may be introduced by new github feature - workspaces
[code]

[2022-11-13 21:34] rnveach commented on #12404
Duplicate of https://github.com/checkstyle/checkstyle/issues/11134 , I suggest to close this one

[2022-11-13 21:58] #12404 closed

[2022-11-14 01:06] romani commented on #12393
Fix is merged

[2022-11-14 01:06] #12393 closed

[2022-11-14 04:52] NitishKumar06 commented on #7616
@romani I'm on it.

[2022-11-14 12:38] stoyanK7 commented on #12182
Looking at [failed actions job](https://github.com/checkstyle/checkstyle/actions/runs/3007532049/jobs/4830183641) that is mentioned in your comment, [`GITHUB_TOKEN` has the default permissions](https://github.com/checkstyle/checkstyle/actions/runs/3007532049/jobs/4830183641#step:1:16):
[code]

I checked out back to commit https://github.com/checkstyle/checkstyle/commit/46acc04a505826b8aae479be92a9

[2022-11-14 15:13] stoyanK7 commented on #12169
@romani Trying to replicate [the above comment's](https://github.com/checkstyle/checkstyle/issues/12169#issuecomment-1239374997) behavior on local but have had no success. Can you help with this?
[code]
[code]

[2022-11-14 15:46] stoyanK7 commented on #12169
The problem is because of unescaped `"` characters in GitHub page notes. This is where the conversion happens https://github.com/checkstyle/checkstyle/blob/d515c25aab3c7e0288575512c2b290df82986c00/.ci/update-github-page.sh#L76-L85

Will try to find a way to escape them via `\"`.

[2022-11-14 19:17] Bananeweizen opened #12406 "checkstyle tests depend on user Locale"
* check out checkstyle source
* mvn clean install

Many tests fail because the expected (English) messages don't match the German messages produced on my system. (the localized message would be correct, so the code as such is working as expected)

[code]
Assuming that it is possible to enforce checkstyle to be executed with a given locale, can that be added in the verification of itself, please?

[2022-11-14 19:22] rnveach commented on #12406
This is a known issue that is trying to be resolved.

First reported issue is at https://github.com/checkstyle/checkstyle/issues/7911 . Resolution is trying to be done at https://github.com/checkstyle/checkstyle/issues/12104 , but it is probably going to be a bit complex and may require breaking changes.

[2022-11-14 19:30] Bananeweizen commented on #12406
Thanks for the pointers. Closing as duplicate then.

[2022-11-14 19:30] #12406 closed

[2022-11-14 21:25] NickPaul41 opened #12409 "Inconsistent allowedAbbreviations when a method is contains an underscore."
https://checkstyle.org/config_naming.html#AbbreviationAsWordInName

[code]
[code]
[code]
[code]
---
There are four words in allowedAbbreviations when defining a method that has an underscore between different combinations, some are allowed and others are not. It is unclear to me why getTEST_OBSERVATION works and getORDER_OBSERVATION throws an an error.

---

[2022-11-14 23:57] rnveach commented on #12409
I am just talking about this from the code and the reason.

This seems similar to https://github.com/checkstyle/checkstyle/issues/8863 but this issue has a better report.

`getORDER_OBSERVATION` is not seen as `ORDER` to the code, but is seen as `ORDE`. The `R` is most likely seen as the next letter of the rest. If the name was "ORDERest", it sees "ORDE" and "Rest". If you add `ORDE` to the list o

[2022-11-15 02:28] NitishKumar06 commented on #7598
@romani I'm on it.

[2022-11-16 08:10] stoyanK7 commented on #12081
On it.

[2022-11-16 14:08] NitishKumar06 commented on #7598
@romani @rnveach Is this issue fixed? If no, I'd like to work on this issue.

[2022-11-16 14:28] NitishKumar06 commented on #7616
@romani @nrmancuso @rnveach Can I work on this issue?

[2022-11-16 14:29] nrmancuso commented on #7616
@NitishKumar06 please send PR, make sure to take a look at previous work

[2022-11-16 14:31] NitishKumar06 commented on #7616
I'm on it.

[2022-11-16 15:57] NitishKumar06 commented on #7616
@nrmancuso Would it be a good practice to make a file in a new location and use checkstyle jar over there? OR should I make a new file into  the checkstyle project folder itself for understanding VisibilityModifier check?

[2022-11-16 16:26] romani commented on #7616
Do it outside of your local git repository

[2022-11-16 16:41] NitishKumar06 commented on #7616
@romani Since this is my first gsoc issue , This might take a little time. Could you clear my doubts

1. Do we've to write the code in a separate test file which should violate that check whose examples we're trying to add?
2. Where can find the context for config.xml file?

[2022-11-16 16:52] nrmancuso commented on #7616
@NitishKumar06 personally, I have a `chcekstyle-tester` directory, where I download checkstyle jars, keep a config.xml, and keep a Test.java.

Do this and use it as your playground.

Read the check documentation.

[2022-11-16 17:23] NitishKumar06 commented on #7616
@nrmancuso This clears most of my doubts. So you basically experiment on that Test.java file and then copy the code and put it inside the project and raise a PR. Right?

[2022-11-17 02:04] #7613 closed

[2022-11-17 02:11] romani commented on #7616
Yes, look at example update that we merged recently, https://github.com/checkstyle/checkstyle/pull/12371 read whole communication to see what we need and how to play with it and how to change code.

[2022-11-17 02:12] romani commented on #7598
It is not fixed, please help to fix it

[2022-11-17 04:47] NitishKumar06 commented on #7616
@romani That's a good conversation! Thanks for explaining it really well.

[2022-11-17 05:17] romani commented on #7616
Do not use ide , use terminal, do all in terminal/console.

[2022-11-17 05:30] NitishKumar06 commented on #7616
In the above PR you've mentioned, the person is using VS Code terminal.
Here I'm using Intellij Terminal.

On Thu, 17 Nov, 2022, 10:47 am Roman Ivanov, ***@***.***>
wrote:

[2022-11-17 07:09] stoyanK7 commented on #12081
Everything seems to be fine now. Got my access back. Will try to have MR by today/tomorrow.

[2022-11-17 13:09] romani commented on #7616
Remove `/` before name of config.

https://checkstyle.org/cmdline.html#Command_line_usage

https://docs.oracle.com/javase/8/docs/technotes/guides/lang/resources.html#res_names

[2022-11-18 22:11] jxblum opened #12427 "Add more configuration options for `InterfaceTypeParameterName`"
One of my interfaces was flagged with this error, having a signature:

[code]

I believe it is because my type variable `ID` "`extends Comparable<ID>`" thereby not matching the default, configured format.

I like this check because I do want `ID` to be restricted by the format pattern, but effectively everything after "ID" should be ignored up to the next comma, or `>`.

A slightly more complex si

[2022-11-18 22:13] rnveach commented on #12427
@jxblum Please update your first post to have more details we ask for at https://checkstyle.org/report_issue.html#How_to_request_new_feature_for_existing_functionality.3F .

[2022-11-18 22:38] jxblum commented on #12427
@rnveach - I can specify more details after awhile. In summary, I'd say that the default format pattern ("`^[A-Z]$`") for the `InterfaceTypeParameterName` check is insufficient, but arguable a developer can also customize it.

In general type variables can get quite complex in their definitions, for example...

[code]

I am pretty sure this check would fail for multiple reasons in the interface de

[2022-11-18 23:10] jxblum commented on #12427
Actually, I think I could be complete wrong in my argument here and simply need to configure the `format` as "`^[A-Z]+$`" since most of my type variables are not a single letter.

In other words, I don't think the `InterfaceTypeParameterName` check cares that a type parameters "extends" another type that does not match the pattern.

[2022-11-18 23:11] jxblum commented on #12427
Damn! That was totally it. Sorry for the noise.

[2022-11-18 23:11] #12427 closed

[2022-11-19 01:22] romani commented on #12409
I think there is issue with `_` interpretation in Check. We might lack testing on snake naming convention.

I am approving issue.

Whole logic is at https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/AbbreviationAsWordInNameCheck.java
Test - https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checksty

[2022-11-19 15:31] arinmodi opened #12430 "Resolve Pitest suppression for SeparatorWrapCheck"
Parent #12341

Kill The Mutation :

https://github.com/checkstyle/checkstyle/blob/7e0f1533d39c2811bd7804c5163d4d3b7fc2cd6b/.ci/pitest-suppressions/pitest-whitespace-suppressions.xml#L84-L91

For SeparatorWrapCheck

[2022-11-19 15:33] arinmodi commented on #12430
I am on it

[2022-11-19 15:34] arinmodi commented on #12430
Any Maintainers, please guide me if am at wrong path

[2022-11-19 15:39] arinmodi commented on #12430
hardcoded mutation means, I have to replace the line specified in mutation with suggested line given as description ?

Am I correct ?

[2022-11-19 16:14] nrmancuso opened #12431 "Re-enable sonar"
We need to reactivate sonar since we temporarily disabled it at  https://github.com/checkstyle/checkstyle/commit/e7b2fd8175e62a2a7f722769168512bad8eb0c01

PR for this was merged prematurely, before sonar was working 100%

[2022-11-19 16:51] nrmancuso commented on #12430
It looks like this and following `trim` are suspect, this code was previously copy pasted from another check: https://github.com/checkstyle/checkstyle/pull/180/files#

@arinmodi Yes, all tests should still pass if you have hardcoded the correct mutation.

[2022-11-19 16:56] nrmancuso commented on #12430
@arinmodi please always reference parent issue at https://github.com/checkstyle/checkstyle/issues/12341 in issue description

[2022-11-20 14:55] romani commented on #12169
`jq` tool can escape it exactly as json need it, I posted comemment in PR

[2022-11-20 14:57] #12182 closed

[2022-11-20 15:57] nrmancuso opened #12435 "Create YAML linting CI task"
Now that we have invested heavily in CI jobs (more than 100), I think we should expand linting of yaml files. IDEA inspections has some basic checks, but tools like [yamllint](https://yamllint.readthedocs.io/en/stable/quickstart.html#installing-yamllint) offer more checks and formatting analysis.

At present, we have 32 yaml files:
[code]

Output is similar to checkstyle:
[code]

Suppression model

[2022-11-20 16:11] rnveach commented on #12435
`noTrailingWhitespace` is missing from `checkstyle_non_main_files_checks.xml` but it is also reporting resource folders.

Can we update this to 100?

[2022-11-22 00:08] rnveach commented on #12431
@romani @nrmancuso Does this close the issue?

[2022-11-22 01:01] nrmancuso commented on #12431
Let's leave it open, it looks like we need to tweak it a bit for master build: https://sonarcloud.io/summary/new_code?id=org.checkstyle%3Acheckstyle

I'm not sure if we need to update the quality gate or upload/sonar parameters, I will investigate.

[2022-11-22 04:44] nrmancuso commented on #8768
@romani added another violation to main description

[2022-11-22 17:04] #12430 closed

[2022-11-22 20:31] arinmodi opened #12441 "Resolve Pitest suppression for RightCurlyCheck"
Parent : #12341

Kill Mutations:

https://github.com/checkstyle/checkstyle/blob/55e09e57c77d0f63b65b931c31fddeec243298bd/.ci/pitest-suppressions/pitest-blocks-suppressions.xml#L138-L145

[2022-11-22 20:35] nrmancuso commented on #12441
@arinmodi please limit issues to a single mutation

[2022-11-22 22:53] motlin opened #12443 "checkstyle 10.3.3 and newer throws NullPointerException on annotated generic types from IllegalType rule"
I minimized my repro to narrow down the cause.

The config:

`❯ /bin/cat checkstyle-configuration.xml`

[code]

The code:

`❯ cat ExampleClass.java`

[code]

[code]

---

Note that any little change to the config file prevents this problem. Even getting rid of the trailing comma or space at the end of StringBuffer in `<property name="illegalClassNames" value="java.lang.StringBuffer, " />` prevents

[2022-11-22 23:48] rnveach commented on #12443
This issue is tied to https://github.com/checkstyle/checkstyle/issues/12017 and commits https://github.com/checkstyle/checkstyle/commit/308001394030b0ba52921dd8f1b0bef22c90ea83 and https://github.com/checkstyle/checkstyle/commit/01b7de64e59c5932a13f4936c2f2355bb56603ec and PRs https://github.com/checkstyle/checkstyle/pull/12034 and https://github.com/checkstyle/checkstyle/pull/12035.

Rationale wa

[2022-11-23 03:37] romani commented on #12443
We should restore trim.

[2022-11-23 04:10] nrmancuso commented on #12443
On it

[2022-11-23 04:42] nrmancuso commented on #12431
Master build is green now: https://circleci.com/gh/checkstyle/checkstyle/204262

Passed build in Sonar: https://sonarcloud.io/dashboard?id=org.checkstyle%3Acheckstyle&branch=master

I am closing this.

[2022-11-23 04:42] #12431 closed

[2022-11-23 05:36] nrmancuso commented on #8863
Closing in favor of https://github.com/checkstyle/checkstyle/issues/12409

[2022-11-23 05:36] #8863 closed

[2022-11-23 07:45] NitishKumar06 commented on #7598
I'm on it

[2022-11-23 13:44] nrmancuso opened #12445 "Relocate AccessModifierOption"
Noticed at https://github.com/checkstyle/checkstyle/pull/12340#issuecomment-1323675196, `AccessModifierOption` https://github.com/checkstyle/checkstyle/blob/276263b6493b2b47709407f2315524586619c0a1/src/main/java/com/puppycrawl/tools/checkstyle/checks/naming/AccessModifierOption.java#L30 currently lives in the `naming` package, but is used elsewhere. This class should be moved to a more general loc

[2022-11-23 14:27] anchitbhuhan commented on #7601
Can I work on this issue ?. I am currently going through how the checks works and how are they structured in the configuration xml file .

[2022-11-23 14:32] nrmancuso commented on #7601
@anchitbhuhan yes, just leave comment like "I am on it" and send PR

[2022-11-23 14:57] romani opened #12448 "PMD warning in execution logs"
[code]

https://pmd.github.io/latest/pmd_rules_java_bestpractices.html#unusedprivatefield

[2022-11-23 20:44] romani commented on #12326
Fix is merged

[2022-11-23 20:44] #12326 closed

[2022-11-24 00:44] #12169 closed

[2022-11-24 00:44] romani commented on #12169
Fix is merged

[2022-11-24 14:58] #12168 closed

[2022-11-24 15:03] romani commented on #12448
fix is merged

[2022-11-24 15:03] #12448 closed

[2022-11-24 15:26] romani opened #12451 "Restore curl --fail-with-body at summer 2023"
https://curl.se/mail/lib-2021-03/0056.html
released with `add --fail-with-body` at  Wed, 31 Mar 2021, but not all images in CI have it yet.

one of examples: https://github.com/checkstyle/checkstyle/pull/12446

we need to try to restore this flag in curl at summer of 2023.

[2022-11-24 18:15] #12081 closed

[2022-11-24 23:23] romani opened #12452 "migrate azure execution to https://dev.azure.com/checkstyle/"
migrate azure execution to https://dev.azure.com/checkstyle/
from https://dev.azure.com/romanivanovjr/

[2022-11-24 23:26] romani opened #12453 "Make release by another admin - rnveach"
@rnveach , please request access to checktyle namespace.
Example https://issues.sonatype.org/browse/OSSRH-11819

Share with me link to new issue to let me confirm access.

[2022-11-25 02:30] rnveach commented on #12453
https://issues.sonatype.org/browse/OSSRH-86535

[2022-11-25 15:42] rnveach commented on #12453
Sevntu at https://issues.sonatype.org/browse/OSSRH-86561

[2022-11-25 15:47] rnveach commented on #12453
@romani As a reminder, I don't have access to sevntu's organization at https://github.com/organizations/sevntu-checkstyle/settings/profile

[2022-11-25 21:48] romani commented on #12453
I will provide access for sure, to let you be admin of sevntu organization.

[2022-11-25 21:49] #12345 closed

[2022-11-25 22:14] strkkk commented on #12345
Fix is merged

[2022-11-26 00:03] romani opened #12456 "Remove new curl parameter from all GitHub actions for release"
Detected during update from 10.5 to 10.5.0
https://github.com/checkstyle/checkstyle/actions/runs/3551338748/jobs/5965427201

Reason to bump https://github.com/checkstyle/checkstyle/actions/runs/3551179138/jobs/5965170464#step:3:129

We should not use until https://github.com/checkstyle/checkstyle/issues/12451

[2022-11-26 00:04] romani commented on #12456
@stoyanK7 , please help to fix.

[2022-11-26 02:42] #12443 closed

[2022-11-26 02:42] romani commented on #12443
Fix is merged

[2022-11-26 04:20] shubh220922 commented on #11446
I am on SuppressionFilterTest.

[2022-11-26 07:05] shubh220922 opened #12458 "Resolve pitest suppression for SuppressionCommentFilter"
Related to #12341

Mutation to be killed

https://github.com/checkstyle/checkstyle/blob/7855254a0f847e53ef87ca8d9fdfcfc9fcaa8052/.ci/pitest-suppressions/pitest-filters-suppressions.xml#L291-L298

[2022-11-26 07:29] stoyanK7 commented on #12456
On it.

[2022-11-26 14:42] #12456 closed

[2022-11-26 14:43] romani commented on #12456
fix merged

[2022-11-26 14:52] romani commented on #12330
I removed from description

https://github.com/checkstyle/checkstyle/blob/aad6891485ab1ea6b5ecaedbb5bd5cc03539f2b0/.ci/pitest-suppressions/pitest-blocks-suppressions.xml#L48-L145

it is better to make issue for each suppression individually, as fixing it is not easy.

[2022-11-26 14:53] #12330 closed

[2022-11-26 15:28] romani commented on #12453
I made you as owner at https://github.com/orgs/sevntu-checkstyle/people?query=rn
![image](https://user-images.githubusercontent.com/812984/204096433-adb4a26e-d939-45b8-bae0-c238b0abb1b6.png)

by suggestion at https://stackoverflow.com/a/64107022

[2022-11-26 17:04] shubh220922 commented on #12458
I am on it.

[2022-11-27 12:02] nrmancuso commented on #12441
Fixed via #12442

[2022-11-27 12:02] #12441 closed

[2022-11-27 14:54] nrmancuso opened #12463 "Create CI task to enforce '.ci' directory contains only script files"
From https://github.com/checkstyle/checkstyle/pull/12462#issuecomment-1328141897:

Now that we have moved all non-script files out of the `.ci` directory, we should put some check in place to make sure that we do not begin to accumulate non-script files there again in the future.

[2022-11-27 19:22] romani opened #12464 "'R: Push Release Notes' failing"
https://github.com/checkstyle/checkstyle/actions/runs/3559572917/jobs/5979018889

[code]

[2022-11-28 01:35] romani opened #12465 "upate local environment to operate on same scripts as at remote"
on my local
[code]

workaround was to revert latest commit and continue release.

I need to update my local to comply to CI folder structure

[2022-11-28 04:08] romani opened #12468 "Remove 'releasenotes.xml after commit:'"
It is not working
https://github.com/checkstyle/checkstyle/actions/runs/3558720007/jobs/5977590221#step:3:411

Link to gist of log file: https://gist.githubusercontent.com/nrmancuso/7e3e88951736ad3689440a537b5a71d2/raw/72a9b026f7a779ce8dfad45fd049322b000ba2eb/log.txt

we have special script for this https://github.com/checkstyle/checkstyle/blob/135eec54c26ff07cfc64e26790475e94bd5d0671/.ci/releasen

[2022-11-28 18:59] arinmodi commented on #12409
@romani,

Config:

[code]

Are Following Violations or Not, According To Current Code it's not violation but I think it should be violation ?

[code]

[2022-11-28 22:30] romani commented on #12409
I should not be violation, as all capitalized words are in allowed list

[2022-11-29 01:27] arinmodi commented on #12409
If you see closely, it's not "VARIABLE" but it is "VARIABLEN" which is not part of allowed list. Still not violation ?

[2022-11-29 01:49] romani commented on #12409
`N` is part of next word.
In camel case notation it is like this.

[2022-11-29 02:33] rnveach commented on #12463
I assume this list should also include the README.md

[2022-11-29 03:23] arinmodi commented on #12409
Got it

[2022-11-29 10:50] nrmancuso commented on #12463
Closed via #12470

[2022-11-29 14:13] romani commented on #12079
@stoyanK7 , please help to test https://github.com/checkstyle/checkstyle/pull/12467#discussion_r1033071815
this might speed up execution it should help in testing.

[2022-11-29 14:26] romani commented on #12464
@stoyanK7 , please help with this problem.

[2022-11-29 15:48] stoyanK7 commented on #12464
On it.

[2022-11-30 01:02] #12464 closed

[2022-11-30 03:56] romani opened #12479 "'R: Push Release Notes' failing on push"
https://github.com/checkstyle/checkstyle/actions/runs/3580170024/jobs/6022052073
[code]

We need to define write permission to action.
https://github.com/checkstyle/checkstyle/blob/77040f2cce4767fbb49e60073203a85885c2e99c/.github/workflows/bump-version-and-update-milestone.yml#L13

[2022-11-30 03:56] romani commented on #12479
@stoyanK7 , please help to fix

[2022-11-30 09:30] belene opened #12480 "Use of mutation testing in checkstyle - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool pit in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently

[2022-11-30 09:47] nrmancuso commented on #12480
@belene would you like only one maintainer from our project to answer your survey, or if multiple maintainers are interested, is it ok for more than one to answer?

[2022-11-30 10:12] belene commented on #12480
Hello Nick,

Thanks for your reply. The more people involved in mutation testing respond
to the survey the better. Your help is very much appreciated.

Regards,
Ana

El mié, 30 nov 2022 a las 10:47, Nick Mancuso ***@***.***>)
escribió:

[2022-11-30 13:55] romani commented on #12468
fix is merged

[2022-11-30 13:55] #12468 closed

[2022-11-30 17:38] rnveach commented on #12453
Going by https://github.com/checkstyle/checkstyle/wiki/How-to-make-a-release#pre-reqs ,

Next on the list is I need a GPG key and upload it.
https://github.com/sevntu-checkstyle/dsm-maven-plugin/wiki/How-to-config-GPG-and-sign-artifact-with-it says how to go about doing this so I will start looking it over

[2022-11-30 19:04] stoyanK7 commented on #12479
On it.