[2022-02-03 13:41] pbludov commented on #11277
I'm ok with `noinspectionreason`.

[2022-02-03 13:56] romani commented on #11249
yes we can enforce space or comma after "ok". please put it in regexp, and this will be our small rule.

[2022-02-03 14:07] nmancus1 commented on #11277
I agree with custom tag, `noinspectionreason`. It would also be good to require `@noinspectionreason` tag if `@noinspection` tag is present somehow.

[2022-02-04 05:57] romani commented on #11277
Yes, any ideas how to make it  by existing Checks ?

[2022-02-04 06:00] romani commented on #11277
@rnveach , please share thoughts, if you just agree , please approve issue.

[2022-02-04 06:08] justdoit254 commented on #7582
@nmancus1 do I need to edit config_blocks.xml or LeftCurlyCheck.java to add more examples by creating a new branch.
I am a beginner so please guide me on the way.

[2022-02-04 13:49] JoshMcCullough commented on #2838
I'm still seeing ...

With this code:

[code]

I looked at the [docs](https://checkstyle.sourceforge.io/apidocs/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheck.html) but didn't see how to allow this. What am I missing? Thanks.

[2022-02-04 14:36] romani opened #11281 "remove extra checkstyle build in no-exception-test.sh"
detected at https://github.com/checkstyle/checkstyle/pull/11206#issuecomment-1030028019

checksyle buils is done in shell script:
https://github.com/checkstyle/checkstyle/blob/72f2d4c86626c39bb3b9647f98d7a6b5fb3f6e41/.ci/no-exception-test.sh#L17
+1 more checkstyle build is done in diff.groovy one more time, so 2 extra checkstyle builds :).

we do not need extra build in shell, we should remove it.

[2022-02-04 15:06] nmancus1 commented on #11277
[code]

[2022-02-04 17:56] Vyom-Yadav commented on #11281
on it.

[2022-02-04 22:47] #11281 closed

[2022-02-05 01:13] romani commented on #9146
fix is merged.

[2022-02-05 01:13] #9146 closed

[2022-02-05 01:34] romani commented on #9146
@pbludov , please address https://github.com/checkstyle/checkstyle/runs/5074848175?check_suite_focus=true

https://github.com/checkstyle/checkstyle/blob/246d24a1035467f2c68ade25b5b409f36ca390db/config/version-number-rules.xml#L29-L34

[2022-02-05 02:36] MUzairS15 commented on #11103
@Binita-tech you still working on this?

[2022-02-05 04:55] Binita-tech commented on #11103
You can work on this @MUzairS15

[2022-02-05 08:56] peterdemaeyer opened #11285 "EmptyStatement does not catch all empty statements"
The Coding/EmptyStatement module does not catch all empty statements that I expect it to.
It _does_ catch the one(s) it describes in the example it its own documentation, but it does not catch some others.
In the example below, I've put 3 empty statements, and it catches only 1 of them.
Depending on your viewpoint, this is either a bug or an improvement request of an existing feature.
I lean towar

[2022-02-05 10:37] strkkk commented on #2838
@JoshMcCullough this issue is not about indentation. Please submit new issue in proper format if something looks like a bug

[2022-02-05 10:44] strkkk commented on #11285
@peterdemaeyer technically speaking, in your example "missed" thing is NOT an empty statement, but a lonely semicolon. Statements can be only inside blocks (e.g. constructor or method body), but on class level it is not an empty statement.

For this case you need to use [UnnecessarySemicolonAfterTypeMemberDeclaration](https://checkstyle.org/config_coding.html#UnnecessarySemicolonAfterTypeMemberDec

[2022-02-05 10:44] #11285 closed

[2022-02-05 12:37] pbludov commented on #9146
done

[2022-02-05 15:05] peterdemaeyer commented on #11285
I see now, thanks for pointing that out!

[2022-02-05 15:23] peterdemaeyer commented on #11285
As a side note, I think it would be more intuitive for users if there would be a single module `UnnecessarySemicolon` with two optional properties `afterTypeMemberDeclaration` and `asEmptyStatement`.

[2022-02-05 15:43] peterdemaeyer opened #11286 "EmptyLineSeparator does not catch missing line separator before field declaration"
The documentation of EmptyLineSeparator says "Checks for empty line separators before package, all import declarations, **fields**, constructors, methods, nested classes, static initializers and instance initializers."
In particular, it doesn't work for fields, see example below.
Since a field is also known as an instance variable, I expect the VARIABLE_DEF to catch it, but it doesn't.

I have rea

[2022-02-05 17:22] romani commented on #9146
@pbludov , More to update:
https://checkstyle.org/#JRE_and_JDK
https://checkstyle.org/beginning_development.html#Before_development

[2022-02-05 17:30] nmancus1 commented on #10924
@strkkk @pbludov @romani @rnveach please take a look at https://github.com/checkstyle/checkstyle/issues/10924#issuecomment-1028534612 and share your thoughts.

@MUzairS15 you are contributor with the most experience with dealing with code points now, please share your thoughts about `UnicodeString` idea with respect to simplifying contributions.

[2022-02-05 19:09] pbludov commented on #9146
This should be`10.x | 11 and above` ?

[2022-02-05 20:05] romani commented on #7582
Yes, please proceed, after change run `mvn verify` and and fix problems if any detected

[2022-02-05 20:46] rnveach commented on #9146
https://checkstyle.org/#Backport
Should be updated. Backport 8 (https://github.com/rnveach/checkstyle-backport-jre8) will come once this is released.

[2022-02-06 06:30] pbludov commented on #10924
What package should this class be in? `util` or `api`?

[2022-02-06 06:38] pbludov opened #11289 "Mark deprecated methods for removal"
We are going to make a major version increase, so it is time to drop some deprecated methods.

- [x] AbstractCheck#getFileContents #11166
- [x] Configuration#getAttribute #10164
- [x] Configuration#getAttributeNames #10164
- [x] DefaultConfiguration#addAttribute #10164
- [x] DetailAST#branchContains #5234
- [x] DetailAST#getNumberOfChildren #7512

https://sonarcloud.io/project/issues?id=org.checks

[2022-02-06 07:15] theexplorist commented on #7617
Can I work on this issue, if it is open please assign me!

[2022-02-06 13:56] pbludov commented on #11289
I'm not sure be can drop these methods now (except for method `NumberOfChildren` which wasn't really used before deprecation).
I changed the description to "Mark for removal"

[2022-02-06 14:07] pbludov commented on #9004
This feature was completely broken since #3095 as there is hard coded "EOF" token for the root node in the `TreeTable` class.

[2022-02-06 14:31] nmancus1 commented on #10924
I think it should be in API, so that we can support users that write checks using `UnicodeString`; this way they will be informed about changes to this class in release notes, since we do not consider changes to the `util` package as breaking/ damaging compatibility.

[2022-02-06 14:37] justdoit254 commented on #7582
After running:

I am getting 2 errors.
[ERROR] Errors:
[ERROR]   XdocsJavaDocsTest.testAllCheckSectionJavaDocs:165->examineCheckSection:192 »  ...
[ERROR]   XdocsPagesTest.testAllXmlExamples:381->isValidCheckstyleXml:457 Checkstyle con...
[INFO]
[ERROR] Tests run: 3713, Failures: 0, Errors: 2, Skipped: 3

I found that I need to sync documentation content by reading https://github.com/checkstyle/ch

[2022-02-06 14:37] MUzairS15 commented on #10924
I do agree with the idea of `UnicodeString`, it will make updates to existing checks easy.
Also, in view of new contributors, it will be easy to understand codebase, without getting into details of  code points, surrogate pairs...
It will surely simplify things.

PS: growing size of targettests for pitest-utils with each PR can also be handled ( if it is a matter of concern).

[2022-02-06 14:44] nmancus1 commented on #7582
You must do this manually (update documentation in both files yourself), we do not have automation for this.

[2022-02-06 15:02] pbludov opened #11292 "Add icon to the GUI window"
Currently, the default Java application icon is used in the GUI window. This makes it difficult to use.
We have an icon image for the site `favicon`. It is possible to reuse this icon for GUI.

[2022-02-06 15:10] pbludov opened #11294 "NPE in gui.MainFrameModel#getLastDirectory"
When the GUI invoked with a file, i.e.

[code]

The filed `currentFile` will be set to a file without a parent path.
Subsequently, clicking on "Open File" button fails with NPE in `gui.MainFrameModel#getLastDirectory`

[2022-02-06 15:16] romani commented on #11292
share image how it is without icon

[2022-02-06 15:27] pbludov commented on #11292
The Java mascot:

![image](https://user-images.githubusercontent.com/900805/152688124-892c38cc-12e0-4ee2-9528-18f6f4aec854.png)

[2022-02-06 15:31] pbludov commented on #11292
Same for Alt+Tab:
![image](https://user-images.githubusercontent.com/900805/152688292-137f41fc-cc0a-4568-a224-449e54796957.png)

[2022-02-06 15:51] #11294 closed

[2022-02-06 15:52] pbludov commented on #11292
Now:
![image](https://user-images.githubusercontent.com/900805/152689102-a01f5085-5040-44af-80e8-3eb77b8c890f.png)

[2022-02-06 15:54] romani commented on #9004
@nmancus1 , this is a item we completely forgot to recheck.

[2022-02-06 18:01] justdoit254 commented on #7582
Is there any example or resource I can study to understand what are the steps?

Also in the error info, it is mentioned that the following Test files are creating the problem.
[ERROR] XdocsJavaDocsTest.testAllCheckSectionJavaDocs:165->examineCheckSection:192 » ...
[ERROR] XdocsPagesTest.testAllXmlExamples:381->isValidCheckstyleXml:457 Checkstyle con...

Does this error also mean that documentation

[2022-02-06 18:53] #11289 closed

[2022-02-06 19:53] romani commented on #7582
Javadoc and xdoc content should be in sync, yes, update both

[2022-02-06 20:36] romani commented on #7617
Issue is abandoned.
@theexplorist, just make a comment "I am on it" and send Pull-request

[2022-02-06 21:28] peterdemaeyer opened #11298 "WhitespaceAfter does not work on 'switch' and lambda statements"
I want to be able to configure Checkstyle to report a violation on missing space after 'switch', which is currently not possible.
WhitespaceAfter detects a missing space after 'for', 'if' etc. but _not_ after 'switch'.
It would be nice if there would be a LITERAL_SWITCH similar to LITERAL_FOR etc.

https://checkstyle.org/config_whitespace.html#WhitespaceAfter
I have downloaded the latest cli from:

[2022-02-06 23:15] romani commented on #11298
Reasonable request to extend list of target tokens

[2022-02-07 00:58] #7657 closed

[2022-02-07 00:58] romani commented on #7657
Fix is merged

[2022-02-07 00:59] romani commented on #7587
Yes.

[2022-02-07 03:59] #11116 closed

[2022-02-07 04:00] romani commented on #11298
@Vyom-Yadav, can you help us with this issue ?

[2022-02-07 04:02] Vyom-Yadav commented on #11298
Sure, I am on it.

[2022-02-07 04:54] Binita-tech commented on #6207
Can I work on this @romani?, please confirm so that I can start working on it.

[2022-02-07 05:07] romani commented on #6207
@Binita-tech , sure if we still have tests to create.
This collection should be empty
https://github.com/checkstyle/checkstyle/blob/4e820940caf04662200a51c13f7befd7135cbbe7/src/test/java/com/puppycrawl/tools/checkstyle/internal/XpathRegressionTest.java#L99-L102

[2022-02-07 09:59] justdoit254 commented on #7582
Yes, now it is showing Build Successful.
[code]

[2022-02-07 17:44] justdoit254 commented on #7582
@romani @nmancus1 I have made my first commit after `mvn verify` ran successfully.
But while generating a website with command as mentioned in https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations#how-to-generate-website-only
It is showing

 and following error in terminal:
[code]
Please tell me how can I generate website.

[2022-02-07 17:45] nmancus1 commented on #9004
Yes, it seems like the GUI is often an afterthought for us. I will send a PR soon.

[2022-02-07 18:38] Vyom-Yadav commented on #11087
@nmancus1 @rnveach  @pbludov  What about chained calls like-
[code]
If we extract it into a variable-
[code]
These are two different method chains, all the properties should be separate for them?
What I mean is-
[code]
[code]
for the same config-
[code]
We need clear rules for chaining when done in parentheses (parentheses may be redundant or useful). Please share your opinion.

[2022-02-07 21:43] romani commented on #7582
please share whole log file, something is not working with artifact downloads from internet (please recheck proxy or any other firewall like systems in your network).
please push your code to github to let us see your changes and CI will run this and print us all details.

[2022-02-08 00:02] nmancus1 commented on #7582
@justdoit254 you can delete your local maven repo and try again (usually `~/.m2/repository`)

[2022-02-09 21:40] peterdemaeyer commented on #11286
`CLASS_DEF` and `VARIABLE_DEF` are in the list of tokens, shouldn't the check just work between the two?
The way I see it, `class AlwaysNewlineAfterClassDeclaration {` is the class definition, and `int field = 0` in my aforementioned example is the variable definition, so why doesn't the check require a newline between both?

[2022-02-10 06:36] justdoit254 commented on #7582
I have made a commit can I get review on that so that I can make changes if any required.

[2022-02-10 16:15] MUzairS15 commented on #10924
@nmancus1 Can you pls suggest whether should I proceed with `UnicodeString`?

[2022-02-11 08:07] Perin-Mangukiya commented on #7624
In error it is showing <pre> element is not closed but as you can see in code it is closed. So then why it is showing error?
Error:
![image](https://user-images.githubusercontent.com/79306200/153555991-089e353f-9432-4fdd-9276-2f46354e54ca.png)
Code:
[code]

[2022-02-11 14:00] pavelicii commented on #10529
This can be closed now via #11245.

[2022-02-11 15:05] strkkk commented on #10529
fixed in https://github.com/checkstyle/checkstyle/issues/11241

[2022-02-11 15:05] #10529 closed

[2022-02-11 16:24] nmancus1 commented on #10924
@MUzairS15 we should wait for @romani to render decision to extend API or not before proceeding further.

[2022-02-11 16:39] JoshMcCullough opened #11307 "Indentation: Object initialization with double-curlies is not allowed"
Docs: https://checkstyle.sourceforge.io/config_misc.html#Indentation

[code]

---

object initialization should be supported as it is just static block in anonymous class declaration, but is being flagged by the `Indentation` check. Attention that there is no violations on methods/class blocks that starts at new line with same indentation.

According to the indentation docs, perhaps double-curly o

[2022-02-11 16:39] JoshMcCullough commented on #2838
@strkkk Gotcha, submitted #11307.

[2022-02-11 18:57] nmancus1 commented on #11307
@JoshMcCullough

The issue that you have linked to does not relate to `Indentation` check; each Checkstyle check is modular and does not depend on other checks.

Please update your issue description to follow issue template, i.e. read check documentation and add a link to documentation, and refine your configuration to only contain the related check (`Indentation`).

[2022-02-11 19:37] nmancus1 commented on #11286
It seems like `EmptyLineSeparator` does not check previous line for enclosing type declaration at all:

[code]

I think that issue is a bit more nuanced, though; I believe the intention of this check is to verify empty line separators between "parallel" elements  (i.e. separate class members). Additionally, I have seen that many projects that do use empty lines to separate class members do not use

[2022-02-11 19:46] strkkk commented on #11286
As for me, this check has plenty of properties, I think new check seems a better way

[2022-02-11 22:30] JoshMcCullough commented on #11307
@nmancus1 Updated as requested. According to the indentation docs, perhaps double-curly object initialization is just not supported unless it's formatted as follows (which of course works):

[code]

[2022-02-12 17:53] nmancus1 opened #11309 "Replace usages of deprecated method AccessibleObject.isAccessible"
Noticed in https://github.com/checkstyle/checkstyle/pull/10904/files#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8L1521

Now that we have moved to Java 11, we should be able to replace usages of `AccessibleObject#isAccessible` and remove supressions at:

https://github.com/checkstyle/checkstyle/blob/d60a1b6638aa59e6cfb247184ecf7191b0743791/pom.xml#L1520-L1523

[2022-02-12 18:19] rnveach commented on #11309
Added as part of https://github.com/checkstyle/checkstyle/issues/10391

[2022-02-12 19:07] #11309 closed

[2022-02-12 19:49] #11298 closed

[2022-02-12 21:35] strkkk opened #11311 "Investigate and add todocheck linter"
https://github.com/preslavmihaylov/todocheck

Right now we have https://github.com/checkstyle/checkstyle/blob/master/.ci/no_old_refs.sh, but todocheck tool seems more flexible and support multiple issue trackers out of the box.

[2022-02-13 10:02] Vyom-Yadav commented on #3082
@Rahulkhinchi03 Are you still on this? If not I would like to solve this issue.

[2022-02-13 10:37] Rahulkhinchi03 commented on #3082
@Vyom-Yadav I want to work on this issue but I'm stuck at one thing and not able to resolve the error!

[2022-02-13 11:57] Vyom-Yadav commented on #3082
Thanks for the kind words, I will start working on this issue.

[2022-02-14 20:31] peterdemaeyer commented on #11286
I'm not convinced a new check would be better, because it would add complexity whilst addressing largely the same concern as the existing check: to address line separators before/between/after class members. By changing the existing code, I can take the opportunity to make the existing code better.

To explain my rationale, consider the first line of documentation:

Note that it explicitly says _"

[2022-02-15 02:21] nmancus1 commented on #11087
I think we have three options:

1. Anything under one `EXPR` parent is one method call (passing though all tokens , checking `DOT` and `METHOD_CALL` tokens until we reach `EXPR`). This would mean that your example
[code]
would be one chain.
2. Consider any parent that is not a `DOT` or `METHOD_CALL` a "break" in the chain (the start of a new chain).
3. Parenthesis only is OK, but any other token w

[2022-02-15 02:50] Vyom-Yadav commented on #11087
@nmancus1 I have implemented 1 in my local already, I didn't like it as it was breaking the rule of method chaining, hence this doubt was there.

`INDEX_OP` will also be fine-
[code]
[code]
This other token will be `TYPECAST` in this case right? This will be a better solution, I will implement it.

[code]

[code]

[2022-02-15 03:08] nmancus1 commented on #11307
I am not sure that we should support this. "double-brace initialization" isn't a particular syntax, rather it is just a convenient way to initialize an anonymous inner class. Consider:

[code]

This is the same exact syntax. Would we treat this differently?

As an alternative, you could use `SuppressionXpathSingleFilter` to suppress warnings within anonymous class initializer blocks like so:

[cod

[2022-02-15 03:32] nmancus1 commented on #10747
@Vyom-Yadav I have a question; after this issue is solved, will build fail if XML files are not written?

[2022-02-15 04:15] nrmancuso opened #11315 "Forbid usage of Truth's `StandardSubjectBuilder#fail` method."
Noticed at https://github.com/checkstyle/checkstyle/pull/11270#discussion_r803082439

Now that we have come to an agreement on `assertThrows`, we should enforce usage by adding a `MatchXPath` module to `checkstyle_checks.xml`:

[code]

We will need to fix existing usages:
[code]

[2022-02-15 04:45] Vyom-Yadav commented on #11315
Isn't it `JUnit#assertThrows`, also why do we use `org.junit.Assert.assertThrows;` and not `org.junit.jupiter.api.Assertions.assertThrows;`, it's part of JUnit 5 whereas `org.junit` is not.

[2022-02-15 04:53] nmancus1 commented on #11315
Fixed, it is JUnit's Assert#assertThrows. :)

I would guess that we do not use extended/ extra utilites of JUnit because we have Truth for more complicated assertions; I think that the only JUnit method that we use is `assertThrows`, since Truth does not have a suitable replacement.

[2022-02-15 05:06] nmancus1 commented on #11087
Yes, good point.

I would consider the typecast to break the "chain" in this case.

I am approving new check. If implementation does not pass all maintainers, we can always move it to sevntu to let it mature. We can even do the same (move to senvtu) if we end up with issues/ controversy after release.

@Vyom-Yadav please proceed, just be aware that this may end up living in sevntu for some time if

[2022-02-15 05:22] nmancus1 commented on #11286
You are welcome to propose changes :) We can take a look at your idea, and go from there (regarding approval of issue).

Please be aware that quality bar is high if we even approve issue, we demand 100% code coverage, and 100% mutation coverage, all by real input (no pure unit tests).

[2022-02-15 06:46] Vyom-Yadav commented on #11087
@nmancus1 The more I read about it the more ambiguity it creates. Most of the definitions I found stated that method chaining is a technique in which multiple method calls are made in one **statement**. Technically -
[code]
is one statement. Many users might not like this behavior but some of them may like it, can we make a property for such type of behavior that satisfies both types of users?

[2022-02-15 10:54] Vyom-Yadav commented on #10747
@nmancus1

The test will fail if the file contains a Javadoc comment which does not contain any description. XML file for the check won't be created in this case.

[2022-02-15 12:18] nmancus1 commented on #11087
Yes, I have been thinking more about comments above, and looking through current PR. Let’s do (1) from https://github.com/checkstyle/checkstyle/issues/11087#issuecomment-1039781408. One statement, or one expression, is one method call chain. This gives us a clear “stopping” point when ascending through AST. We will let users dictate in the future whether we need to consider some other option/prope

[2022-02-15 16:52] Vyom-Yadav commented on #11087
@nmancus1 Some more cases in which I need some input-
[code]
Now it is hard to visualize this as a chain in general, this is just an example (not compilable) but other cases are possible in which expression are evaluated which result in an object on which method is called.
Should this also be considered as a single chain?

[2022-02-15 20:28] JoshMcCullough commented on #11307
@nmancus1 given that this "double-brace initialization" is specifically mentioned/supported in the `WhitespaceAround` module (https://github.com/checkstyle/checkstyle/issues/2838), it seemed like it should be allowed here, so things are consistent.

[code]

But I'll give your suggestion a try, thanks a lot!

[2022-02-15 20:33] JoshMcCullough commented on #11307
Note: it works, so we'll go with it for now but I'd love to see official support!

[2022-02-16 11:15] Kevin222004 commented on #11214
I am on WhitespaceAfterCheck

[2022-02-16 11:30] nmancus1 commented on #11087
Let's find concrete example and go from there. I think that this would still be "one chain", since it should be under one `EXPR` node.

[2022-02-16 12:01] SarveshLimaye commented on #11214
I am on RightCurlyCheck

[2022-02-17 09:54] Kevin222004 commented on #11214
![20220217_151201-compressed](https://user-images.githubusercontent.com/97679350/154450813-c931abdd-2764-44c4-b6ef-fffbb90e676c.jpg)

[2022-02-17 10:02] Kevin222004 commented on #11214
@Vyom-Yadav  I have found 13 input files contain the message // violation. can I sharing  a image to know that i am on right path or not

[2022-02-17 10:18] Vyom-Yadav commented on #11214
@Kevin222004 Sure

[2022-02-17 10:33] Kevin222004 commented on #11214
![20220217_151201-compressed](https://user-images.githubusercontent.com/97679350/154457903-440bf5f4-ea70-4a71-acd0-d4f228f67e4d.jpg)

[2022-02-17 10:36] Vyom-Yadav commented on #11214
@Kevin222004 currently we have `// violation` comment, you have to replace it with the actual violation message, you can see the violation message from respected test file, you can use https://github.com/checkstyle/checkstyle/commit/461cd048bb059ea6948945104682fb99d4e155dc as reference.

[2022-02-17 11:07] SarveshLimaye commented on #11214
@Vyom-Yadav  I am not able to find actual violation msg. Can you pls help me with it ?

[2022-02-17 11:15] Kevin222004 commented on #11214
@Vyom-Yadav can we go through this documentation

[2022-02-17 11:28] Vyom-Yadav commented on #11214
@SarveshLimaye  It will be in the `.properties` file, if you are not able to find it, just search within the whole project (Ctrl + Shift + F in intellij).

Yes, you can read whatever you wish to.

[2022-02-17 15:50] Kevin222004 commented on #11214
I have write a violant message in all file. I am sending you two pic please review
![20220217_204546 (1)](https://user-images.githubusercontent.com/97679350/154518220-ad53cd7b-bbdc-4173-8fcd-b2888e76f79d.jpg)
![20220217_205344 (1)](https://user-images.githubusercontent.com/97679350/154518323-95c5f284-44be-4703-87c3-b88665808372.jpg)

if it is fine please guide me for further

[2022-02-17 16:06] Vyom-Yadav commented on #11214
Kindly make PR's so we can see better, every check has a violation message `MSG_{someMsg}` which is equal to something like `block.empty` or some other short key that finally points to the complete message.
[code]
The overlapping portion is present in both the check and the `.properties` file.
`Ctrl + click` will take you to the declaration in intellij.

[2022-02-17 19:18] Kevin222004 commented on #11214
@Vyom-Yadav I have created a pull request
is it good

[2022-02-17 19:36] Kevin222004 commented on #11214
@Vyom-Yadav  I have created a issue but  I think there is some issue please guide for further
https://github.com/checkstyle/checkstyle/pull/11321

[2022-02-18 10:06] Kevin222004 commented on #11214
#

[2022-02-18 10:07] Kevin222004 commented on #11214
Added violation message in WhitespacespaceAfterCheck #11321

[2022-02-18 12:43] imosapatryk commented on #7989
@romani It's not a good idea to make developers look for exception in google. I lost a bit of time searching for the solution, now imagine thousands of developers doing the same. It was enough to mention it on main page which I read completely. It's really stupid explenation...

[2022-02-19 12:08] nmancus1 commented on #11087
Can we just skip any method call chain where the "innermost" (AST-wise) method call does not have a `DOT` first child with two `IDENT`s as children?

[2022-02-19 13:03] Kevin222004 commented on #11214
@Vyom-Yadav  How to add violation message which contain more than one violation (ex :-  // 2 violation and // 3 violation )

[2022-02-19 13:38] Vyom-Yadav commented on #11214
@Kevin222004 You don't have to specify a violation message where there are multiple `violations`, you can ignore those cases.

[2022-02-19 16:10] romani commented on #7989
I agree but in same time it is hard for us to put all details and we do miss something.
ones release notes content is generated for release it is never updated automatically, so you can send PR to update release notes with content that might help.

sources https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/releasenotes.xml

Note:
Maven plugin is not the only where checkstyle is used. W

[2022-02-19 17:17] Kevin222004 commented on #11214
@Vyom-Yadav
![Screenshot from 2022-02-19 22-42-05](https://user-images.githubusercontent.com/97679350/154811492-1538c40c-3b20-426a-9458-c95ae53f9863.png)
how to solve this error

[2022-02-19 19:11] Vyom-Yadav commented on #11214
The line shouldn't be longer than 100 characters. If your violation message is crossing 100 characters, eg-
[code]
you can change it to-
[code]
to reduce the line length.

[2022-02-19 20:42] romani commented on #11214
better to keep traling comment on same line as violation
`int a = 12; // violation, some lo*ng violation message`

as message supports regexp and allow us to remove some obvious parts.

[2022-02-19 20:45] romani commented on #11214
better to keep traling comment on same line as violation
`int a = 12; // violation, some lo*ng violation message`

as message supports regexp and allow us to remove some obvious parts.

[2022-02-19 23:46] romani commented on #11286
@peterdemaeyer , please share your expectations on class with two/few fields.

Your request looks reasonable, but we need more details to make sure we understand whole your style and we are not making problems to others.

[2022-02-19 23:57] romani commented on #7582
See request to update your commit at https://github.com/checkstyle/checkstyle/pull/11300#issuecomment-1046126721

[2022-02-20 07:59] Kevin222004 commented on #11214
I have  lot's to get rid out of error
I have tried both method
int a = 12;
// violation above, some looooooooooooooong violation message
and
int a = 12; // violation, some lo*ng violation message
but can't solve the error
please help me with this one message
![Screenshot from 2022-02-20 13-24-09](https://user-images.githubusercontent.com/97679350/154833786-7699d2b9-7611-4561-9c74-bff1b4fc2bfb.png)

[2022-02-20 08:40] #11268 closed

[2022-02-20 08:40] romani commented on #11268
fix is merged

[2022-02-20 09:12] peterdemaeyer commented on #11286
I already concluded that changing the existing check in a backwards compatible way is not possible, or at least not without adding even more complexity. I am not sure how far I am allowed to go in terms of incompatible changes, but I'm basically redefining the API of that whole check. Currently I'm defining a `StrictEmptyLineSeparatorCheck` as an alternative without touching `EmptyLineSeparatorChe

[2022-02-20 15:43] Kevin222004 commented on #11214
@Vyom-Yadav  I am not finding any specific solution for this error of ( Line should not be longer than 100 lines)
![Screenshot from 2022-02-20 21-06-45](https://user-images.githubusercontent.com/97679350/154850895-6576870a-8497-430f-853e-7c1abf79eb1e.png)

can you please help me with this one message

[2022-02-20 15:58] Vyom-Yadav commented on #11214
@Kevin222004 It's your decision, you have to decide what to do based on some factors, first ask yourself if I shorten this message with the help of regex, will it make sense? secondly if not then try wrapping the violation part on the next line to fall within the limits, there is no set of rules, you have to decide what to do, in this particular case I would have wrapped the second argument on the

[2022-02-20 16:49] #7588 closed

[2022-02-20 16:49] strkkk commented on #7588
fix is merged

[2022-02-21 02:30] romani commented on #11214
@Kevin222004 , you can shorten names parameters, change used types of parameter, you can do line wrap(but it will force you do more updates in test expectation due to line number shift.).
We might do removal of first argument, as it is not required for this validations.

[2022-02-21 06:33] SarveshLimaye commented on #11214
@Vyom-Yadav @romani  I am not able to solve this errors

![image](https://user-images.githubusercontent.com/74766567/154900789-ba5beda2-bdb6-4a72-bb52-f75f93e728d5.png)

[2022-02-21 13:22] salomvary opened #11329 "google_checks.xml fails with `Token "ELLIPSIS" was not found`"
I'm trying to use the latest `google_checks.xml` published in the `checkstyle` repo with no modifications: https://raw.githubusercontent.com/checkstyle/checkstyle/63d2e5cfea074bf200353b496cd0bfebe9b4ca97/src/main/resources/google_checks.xml

Note: `sun_checks.xml` seems to be working fine.

[code]

---

**Describe what you expect in detail.**

---

I expect checkstyle not to fail with `CheckstyleE

[2022-02-21 13:37] nmancus1 commented on #11329
Support for the `ELLIPSIS` token in `WhitespaceAfterCheck` has not been released yet, you can use the google_checks.xml file in the 9.3 zip until then.

[2022-02-21 13:56] salomvary commented on #11329
Oh, ok, that worked, thanks for the quick response!

[2022-02-21 14:12] nmancus1 commented on #11329
@salomvary please close issue if you are all set :)

[2022-02-21 15:04] #11329 closed

[2022-02-21 15:14] Kevin222004 commented on #11214
I have make changes like this
int a = 12; // violation, some lo*ng violation message
but in one line it would still show the error of ( Line should not be longer than 100 lines)
so I think To wrap the line so that it gives error
![Screenshot from 2022-02-21 20-32-53](https://user-images.githubusercontent.com/97679350/154980865-fb948c2b-825a-4684-bde1-035d2997ae9b.png)

I have  tried to make some c

[2022-02-22 04:16] romani commented on #11214
please send PR to let us see your problem and exact code (all details matter) that you have.

[2022-02-22 05:05] SarveshLimaye commented on #11214
@romani have already raised pr. Could you pls take a look .  #11322

[2022-02-22 12:09] Vyom-Yadav commented on #11087
@nmancus1 I was able to get some workaround logic-
[code]
`"abc".substring(0,2)` is a different chain, `((100000+pc)+"abc".substring(0,2)).substring(1)` is a different chain, it is effectively, `someObj.substring(1)` as user will specify this chain as `.*\.substring`.

Logic development is complete (as of now)  some more test cases will be added, few regression reports with a unique pattern (like

[2022-02-22 14:51] Vyom-Yadav opened #11335 "False Negative: VariableDeclarationUsageDistance"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#VariableDeclarationUsageDistance
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

**Describe what you expect in detail.**

[code]
---

Works perfectly fi

[2022-02-22 14:54] Vyom-Yadav commented on #11335
This was found while working on #11087, I may have the solution at present but cannot say anything with certainty right now, will update as soon the root cause is found.

[2022-02-22 18:10] Vyom-Yadav commented on #11335
@strkkk False positive?
config for all examples-
[code]
code-
[code]
Output-
[code]
code-
[code]
output-
[code]
No violation was expected as all statements are initialization statements (it could be some setter instead of `test` method), the particular method governing this in check-
https://github.com/checkstyle/checkstyle/blob/eeeb96e26a850133eba894d7ae7282560dd3ba0a/src/main/java/com/puppycrawl

[2022-02-22 18:46] strkkk commented on #11335
@Vyom-Yadav it looks like a separate issue. I am not very familiar with this check. It should be clearly specified what "initialization" means - invocations of random methods on object instance, or only setters, something else?

[2022-02-23 04:31] romani opened #11337 "inner lambdas right curly idented too much on left to much same ident as wrapper statement"
taken from https://github.com/checkstyle/checkstyle/pull/10772/commits/7cd6a8bffdb0a2af57ec67deb888616f3e8f5254#diff-af82a596b896afaece68cf7938ec0b6a7e51de544d79f1918564f599c21f5c76R501

![image](https://user-images.githubusercontent.com/812984/155261830-bbed8f34-35d1-4c35-aacc-5e817b518453.png)

fix to make it more read-able to me is:
[code]

[2022-02-23 04:35] Vyom-Yadav commented on #11335
I couldn't find any set of rules officiating this check, all I could find was
 https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/32 which adds support for not just setter but for any object calling a method. This was shifted from sevntu to the main repo.

The current implementation only considers initialization statements if they all are from the same object-
[code]
This won't give any

[2022-02-23 16:42] romani commented on #11335
Definition of initializing block is not clear.ain point here is to improve without false positives. So this Check is by design is not very strict as it better to not raise violation on code that should not be changed. Less violation is better than false positive.

But we still can improve our algorithm on this, if we get new idea.

[2022-02-23 17:18] Vyom-Yadav commented on #11335
@romani These were discovered in the diff report for `FullIdent` in #11231, let's not change any crucial logic because we don't have any solid rule governing this, the simple problem is in this method-
https://github.com/checkstyle/checkstyle/blob/aec751dfba46e7ce6eae351cd93fde43f2cf3105/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/VariableDeclarationUsageDistanceCheck.java#L430-L44

[2022-02-23 17:32] pbludov opened #11338 "FinalClassCheck should report private classes without constructor"
I have read check documentation: https://checkstyle.org/config_design.html#FinalClass
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]

[code]
[code]
[code]
---

From the check [description](https://checkstyle.org/config_design.html#Fina

[2022-02-23 17:34] pbludov commented on #11338
This should be fixed, OR the check description should be changed to "only **explicit** private constructors".

[2022-02-23 20:09] tfij opened #11340 "Add ignoreMethodAnnotatedBy property to ParameterNumberCheck"
Check name: [ParameterNumberCheck](https://checkstyle.org/config_sizes.html#ParameterNumber)

https://checkstyle.org/checks/sizes/parameternumber.html#ParameterNumber

## Problem

https://www.baeldung.com/jackson-annotations#1-jsoncreator
https://fasterxml.github.io/jackson-annotations/javadoc/2.7/com/fasterxml/jackson/annotation/JsonCreator.html
If I implement external API, I have no power over t

[2022-02-23 21:13] bgalek commented on #11340
Nice!

[2022-02-24 03:20] nmancus1 commented on #11340
Supression of constructors with this annotation can be achieved via [SuppresionXpathSingleFilter](https://checkstyle.sourceforge.io/config_filters.html#SuppressionXpathSingleFilter):

[code]

@tfij we typically try to avoid adding properties to checks when we can handle suppression of special cases with some filter. If you prefer to use a suppression file, you can use the same XPath with https://c

[2022-02-24 03:36] romani commented on #11340
@nmancus1 , @rnveach , @strkkk , @pbludov ,
lets think/vote/re-consider on our decision to avoid extra suppresion/ignore properties. We use to make this decision as we had no time to provide updates to all user requests, so Xpath is definitely workaround for user, but it is not very good for configurations as it imply two modules that are hard to keep together and manage later on.

in the same tim

[2022-02-24 03:44] romani commented on #11338
I think we should fix it in code.

[2022-02-24 03:55] nmancus1 commented on #11340
As for me, I prefer to keep checks simple, and only add properties if they cannot be covered by some reasonable/ reliable XPath or other filter. So,

would be my vote.

As experience has shown, checks with lots of properties become harder to maintain; not just from a simple code standpoint, but also the logic of how the properties interact with each other.

Just as a related note - I think that we

[2022-02-24 03:56] romani commented on #11335
We should be accurate with update. There are numerous ways to obfuscate code to do the same but look differently.
If you want to update, only Check should be updated to be a bit more smart.

[2022-02-24 03:59] romani commented on #11340
usually we resolved such cases, by example in documentation (xdoc) on how to handle frequently use edge cases, so googling usually helps to find solution.

[2022-02-24 04:06] nmancus1 commented on #8396
@Vyom-Yadav please create comment in here following the issue template, to make the problem clear.

[2022-02-24 04:13] Vyom-Yadav commented on #11335
**I need a set of rules to work on**, smartness can vary from approach to approach, I can't find any rules stating which state what type initialization statements should the check ignore, once we have those rules we can improve the check. Right now the problem is simple-

- `getInstanceName(DetailAST methodCallAst)` returns name of instance which is calling the method
- It is returning **wrong** v

[2022-02-24 04:21] romani commented on #11335
no, it is problem of Check, so Check should be updated if we decided to move forward with issue.
`FullIdent` is general class and should be simple and serve simple goal.

-------

I removing approval from issue as
[code]

as from user perspective it is better to not break block of `test(...` and keep it same in view as it might easier to see whole logic. Variable scope is very technical nuance tha

[2022-02-24 04:25] nmancus1 commented on #11335
If we make this a problem of FullIdent, we could impact the following checks:

[code]

Please show that typecast can be a problem to other checks listed above.

[2022-02-24 04:31] romani commented on #8396
yes, as we have text of better issue description, anybody from maintainers can copy-paste it issue description.

[2022-02-24 04:55] romani commented on #11315
I do not know why, but my brain do not not reading `assertThrows` properly. as it should be named `expectThrows` and assert on it done in separate block of code.
should we create util method in our repo? to wrap/re-call `assertThrows`. To just have different name of method that is more logical to my mind.

@pbludov , @nmancus1 , @rnveach , @strkkk , please share ideas/thoughts

[2022-02-24 05:01] nmancus1 commented on #11315
How about `getAssertThrowable` or just `getThrowable` ?

[2022-02-24 05:06] Vyom-Yadav commented on #11335
@romani I can guarantee that the check does not know about it and is not logically programmed to do so, it is just a bug that is helping that case pass. I will get a violation in this case-
[code]
In this case also user might want to break the block of `test(....)` but they will still get a violation.

I don't get why you can't see that the method is broken-
[code]
Test File-
[code]
Test-
[code]
T

[2022-02-24 05:21] Vyom-Yadav commented on #11335
@nmancus1 Some of these are utils, the complete list is [this](https://vyom-yadav.github.io/DiffReport/diffFullIdentChainedMethodCall/my_check.html) (1 or 2 checks are repeated in the config, won't make a difference).

It is a problem for only this check and ChainedMethodCall (currently in development)
https://vyom-yadav.github.io/DiffReport/diffFullIdentChainedMethodCall/index.html

[2022-02-24 05:54] nmancus1 commented on #11335
Also:
[code]

[2022-02-24 06:42] Vyom-Yadav commented on #8396
I have read check documentation: https://checkstyle.sourceforge.io/config_misc.html#Indentation
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

**Describe what you expect in detail.**
[code]
---

Indentation is absolutely correct, no erro

[2022-02-24 07:46] tfij commented on #11340
I agree with @romani

How about making it possible to set suppress property for any check configuration? In this case

[code]

or something like this.

It will solve a problem with two modules maintained separately.

[2022-02-24 16:04] faraazb commented on #11214
Hi! I am on `UnnecessaryParenthesesCheck`. I used the corresponding [test file](https://github.com/faraazb/checkstyle/blob/aec751dfba46e7ce6eae351cd93fde43f2cf3105/src/test/java/com/puppycrawl/tools/checkstyle/checks/coding/UnnecessaryParenthesesCheckTest.java) to identify the input files. Will make a PR soon!

[2022-02-25 03:16] romani commented on #11335
ok, you proved me util method has defect.
we can fix it.
But it would mean that we need update(if required) all Checks that use it to make sure that such update does not make false-positives (it might let Checks to do more validation and there might be false positives).
Users do not care about correctness of our util methods, they care that Checks works without false-positives.

Attention: false-n

[2022-02-25 03:47] romani commented on #11340
we did not make it like this few years ago, as implementation of Xpath was not mature enough, we still have items to finish to make it for all Checks. May be we can start sooner, somebody need to do deep thinking on this.

Even we will have this option, it is not user friendly approach and can help users for edge cases. But we still need to think on most common ways to suppress and allow them to b

[2022-02-25 04:06] romani commented on #11286
@peterdemaeyer , thanks a lot for brain storm on this and sharing ideas with us.

please reply.

[2022-02-25 07:31] Vyom-Yadav commented on #11335
Hmm, we have to define rules for what type of method calls should be considered as initialization, currently, the checks work as follows-
[code]
No violation was given to the user.

It won't raise a violation only if all the method calls in between are from the same object (`obj` in this case), if I change it to `obj2` somewhere then it will show an error.
Consider another example-
[code]
Here we

[2022-02-25 20:08] pbludov commented on #6320
@rnveach should this issue be closed? Will there be more PR?

[2022-02-25 20:14] peterdemaeyer commented on #11286
If I would have to change the existing check in a non-breaking way with minimal changes, I have two booleans in mind:
1. `checkBeforeInsteadOfAfter` which actually switches the check in "before" mode rather than "after". The default value would be `false` for backward compatibility. For my use case, it would be `true`.
2. `allowNoEmptyLinesBeforeBlockEnd` which flags violations if there are empty

[2022-02-25 21:13] rnveach commented on #6320
Mutator is not completely finished until suppression list is resolved.
https://github.com/checkstyle/checkstyle/commit/3ef61de60c1ae93cf0d9a06c56ad84cfedeefa88#diff-4e0a49a8be36cb3b594f01212755dcf16d2f4fc701ded58ee7404f7180ed958fR148

If it won't be done as part of this issue, then we need a new issue to cover it.

[2022-02-26 05:10] romani commented on #11335
Ideally violation should be in both cases.
First case should be violation as series of `obj.xxxxx ` does not use `var`.

[2022-02-26 05:33] Vyom-Yadav commented on #11335
According to me, there shouldn't be a violation in both cases-
The initialization statements in between are not counted, if this was `obj.setVal1()` then these would have made more sense. The documentation right now also says
`Variable declaration/initialization statements are not counted while calculating length. `

[2022-02-26 05:43] Vyom-Yadav commented on #11335
I agree we can add this behavior to check to not just only validate method calls associated with instance but to also validate same-named method calls without explicit instance.

[2022-02-26 09:03] pbludov commented on #11340
I am against complicating the check. Such property will fix this particular issue, but it won't work for another.
Suppressions are more flexible.

[2022-02-26 14:59] rnveach commented on #11340
I think I might like the idea of adding suppressions to the check itself, locking the 2 together. The only downside to that is there would need to be some type of double checking that this new suppression is only suppressing the violations of this check and not accidentally picking up some other check by user configuration error.

I am probably more extreme in that we have `ignoreOverriddenMethods

[2022-02-26 16:37] peterdemaeyer commented on #11286
While attempting a fix, I encountered some unexpected behaviour: when traversing the AST, when finding an `RCURLY` in an empty block, the corresponding `LCURLY` is its _parent_while I expected it to be its _previous sibling_. For example:

[code]

[2022-02-26 16:57] romani commented on #11340
Deprecation is long for us and painful process for users. Better to keep two options and let them work by same code inside.

Xpath is too brutal to user, it tooks awhile for users to understand how to do this, and how to make xpath expression that is required. @tfij, imagine we did not give you xpath expression, how much time you will spend to make it ?

But in the same time Lombok like libraries

[2022-02-26 17:05] romani commented on #11286
https://checkstyle.org/cmdline.html#Command_line_usage
Please use `-t` to show ast structure.
Our ast is not perfect by structure, but unfortunately if we missed inconsistency, it become set in stone.

[2022-02-26 17:19] faraazb commented on #11214
@Vyom-Yadav Please review #11342

[2022-02-26 17:26] romani commented on #11335
Good analysis, but I highly recommend to make rough implementation and test it in regression execution.

[2022-02-26 19:53] #10859 closed, assigned to nobody

[2022-02-26 20:00] tfij commented on #11340
Agree, xpath is very mysterious. Mainly because I don't know what XML structure I'm scanning.
I imagine that if user hadn't found a ready or similar solution in the documentation or on stackoverflow, it would take hours to work out this by themself.

[2022-02-26 21:10] nmancus1 commented on #11340
After reading through the discussion here, and thinking on this some more, I have reconsidered my general position on check properties. If a new check property that is a “feature” is proposed, I stay with my original position. But - if new property is some simple suppression (i.e. checking for a particular annotation) , we should consider it. Most of the time, this will just require some Boolean m

[2022-02-27 04:25] nrmancuso opened #11343 "Wrap `assertThrows` with `getExpectedThrowable` method."
From https://github.com/checkstyle/checkstyle/issues/11315#issuecomment-1049494653:

In the scope of this issue, we should:

1. Create `getExpectedThrowable`method in TestUtils
2. Restrict import of `Assertions#assertThrows` to TestUtils only
3. Fix all violations in project.
4. Update`MatchXPath` module introduced in #11315

We can consider using new feature mentioned at https://github.com/checks

[2022-02-27 04:26] nmancus1 commented on #11315
Majority are in agreement for `getExpectedThrowable`, issue opened at https://github.com/checkstyle/checkstyle/issues/11343.

[2022-02-27 05:53] romani opened #11344 "Unexpected output from archunit during test execution"
massive output from archunit

[code]

Expected: no output

[2022-02-27 06:17] romani opened #11345 "SuppressionsLoaderTest.loadFilterSet failing with SSLHandshakeException while fetching file from checkstyle.org"
I run into stable failure of UTs:
[code]

[2022-02-27 07:26] romani opened #11346 "StringIndexOutOfBoundsException during 10.0 release process"
blocker problem to make 10.0 release

passing in CI - https://cloud.drone.io/checkstyle/checkstyle/8882/3/3

but failing in local:

[code]

[2022-02-27 07:29] romani commented on #11346
I have:
[code]

[2022-02-27 15:57] peterdemaeyer commented on #11286
I created a PR for my "minimal non-breaking changes". There are 2 issues which I still need to resolve:
1. Translations to some languages. They make the build fail.
2. JaCoCo coverage is 96 %, I am missing some branches apparently, but IntelliJ shows me 100 % coverage and there is no HTML report as part of the build so I'm a bit blind as to what I am missing.

I could use some pointers for the rem

[2022-02-27 21:39] rnveach commented on #11346
[code]

You may need to confirm how commons-lang is being used, or its parent? This is an old version, 2.6 doesn't have a substring in this method, and from what I have seen of the javadoc area, it uses commons-lang3.
https://github.com/apache/maven-javadoc-plugin/blob/master/pom.xml#L257

[2022-02-27 23:39] nmancus1 commented on #11286
@peterdemaeyer please see https://github.com/checkstyle/checkstyle/wiki/How-to-run-certain-phases-and-validations#how-to-generate-ut-coverage-report

[2022-02-28 05:23] romani commented on #11346
thanks a lot.

not a problem in different JDK.
[code]

[2022-02-28 10:11] OldIMP commented on #1052
Would you guys still consider implementing this or just stay w/ a higher default(7)? The former would be really preferable since it's common to have a long `&&` chain in unit tests.

[2022-02-28 10:34] #11346 closed

[2022-02-28 10:36] JnRouvignac commented on #10859
Thank you very much to all involved!

[2022-02-28 18:27] rnveach commented on #1052
@OldIMP As the quoted text says, if the issue is still exists, then you can always create a new issue on it. I am not aware of any outstanding issues for this functionality but you can try searching first.

[2022-02-28 19:01] romani commented on #11344
I do not see out put at
https://dev.azure.com/romanivanovjr/romanivanovjr/_build/results?buildId=7861&view=logs&j=c902ebb4-c9f8-5f09-4e17-ff78fbbc842e&t=9ca98c81-ff64-58f0-9d03-a23ac1c4a111

From PR to update archunit

[2022-02-28 19:03] rnveach commented on #11344
Could output have started once we upgraded CI to JRE 11?

[2022-02-28 19:06] romani commented on #11344
I think it is just some defect in library

[2022-02-28 19:06] rnveach commented on #11344
Looks like issue was created for this at https://github.com/TNG/ArchUnit/issues/802 with a merged fix.

[2022-02-28 19:08] romani commented on #11344
Please restart Travis in PR, it is not opening for me.

[2022-02-28 19:11] romani commented on #11344
Please restart Travis in PR, it is not opening for me.

[2022-02-28 19:40] romani commented on #11286
Please do not polish code until issue is approved, we do not want to waste your time.
We need to agree on general design and expectations first, there are a lot of nuances.

[2022-02-28 20:03] romani commented on #11345
Fixed in 10.0 as it was blocker to release for me.

[2022-02-28 20:19] OldIMP commented on #1052
Found #1525, which has been open for a while.

[2022-02-28 20:27] romani opened #11352 "AvoidStarImport: update documentation with example for mix of properties"
Detected at: https://github.com/checkstyle/checkstyle/pull/11234#issuecomment-1029027904

We need to add one more example to documentation that mix allowXxxxxxxx properties with exclude property.

[2022-02-28 20:41] romani commented on #1525
I think we need to detect pattern of expression and allow to skip validation if whole expression is same pattern. I do not know how to make a logic on this, as it very subjective and not very deterministic.
Does anyone have ideas on how to do this ? AI ? :) Or some complicated string diff on subexpression?

[2022-02-28 20:42] romani commented on #1525
@OldIMP, ∆∆

[2022-03-01 04:43] nick-mancuso commented on #10924
@romani ping

[2022-03-01 06:11] romani commented on #11030
@Vyom-Yadav, please update issue description to be issue template that we demand. Now I need to recover whole context from scratch and it became hard, sorry that I didn't insist on strict following issue template from the beginning.

[2022-03-01 07:01] romani commented on #11030
Keep in mind that issue title and description is all that our user have to understand what is changed and how it should work after update.

[2022-03-01 08:51] romani commented on #11315
I do not think it correct was to count, better to run xpath check and count violations

[2022-03-01 09:00] romani commented on #11343
@pbludov , @strkkk , @rnveach , please share approval

[2022-03-01 09:13] romani commented on #11340
I more care about users experience, implementation pain is limited to few people during PR and eventually forgotten. We use/reconfigure checkstyle more than we spend time to code it.

Xpath suppression was good approach to resolve problem on user side quickly, temporary hack. And it might continue to serve this purpose.

But custom ignore properties are a way more easy to use.

[2022-03-01 09:30] romani commented on #11340
Ignore by annotation will be most used ignore/suppression approach. As annotation imply some third-party features/magic that happening in runtime or compilation time,
Checkstyle  is not working at that time, so we have to skip validation in some cases.

We did not have time to implement ignore properties in Checks, that is why we invested more in xpath to let users has workaround sooner, but if im

[2022-03-01 10:06] romani commented on #11166
@remal , please look at
https://github.com/checkstyle/checkstyle/blob/0b3a2606e535eb14d2d9dcd6c79d00db17c22f91/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AtclauseOrderCheck.java#L152

With such inheritance, you will get whole ast of javadoc content.
The only downside is performance degradation, but you can measure how critical it for you in your projects.

[2022-03-01 10:16] romani commented on #11166
Another approach is to override
https://github.com/checkstyle/checkstyle/blob/0b3a2606e535eb14d2d9dcd6c79d00db17c22f91/src/main/java/com/puppycrawl/tools/checkstyle/api/AbstractCheck.java#L85 to return "true" and your Check will get AST with all comment as plain text and you can parsing/matching content of comments as you need. You can find a lot of examples in our code of such override.
Such appr

[2022-03-01 10:17] romani commented on #11166
Another approach is to override
https://github.com/checkstyle/checkstyle/blob/0b3a2606e535eb14d2d9dcd6c79d00db17c22f91/src/main/java/com/puppycrawl/tools/checkstyle/api/AbstractCheck.java#L85 to return "true" and your Check will get AST with all comment as plain text and you can parsing/matching content of comments as you need. You can find a lot of examples in our code of such override.
Such appr

[2022-03-01 10:28] romani commented on #11109
We approve issue first.
After implantation is done and tested we define new label that is based 100% on implementation details.
Issue can looks simple bug but results in breaking compatibility.

[2022-03-01 10:36] romani commented on #7064
Discussion is continuing on PR

[2022-03-01 10:43] romani commented on #6024
Yes, this is correct expectations, there should be warning/violation.
This line is wrapping from previous, so should be extra indentation to right.

[2022-03-01 10:53] romani commented on #11230
We should not violate break to label. Any break should be good to consider it as valid code.

[2022-03-01 11:02] romani commented on #11178
@rnveach , can we create new issue with more clear description on what to do?

[2022-03-01 11:03] romani commented on #11178
@rnveach , can we create new issue with more clear description on what to do?

[2022-03-01 11:37] yshubham8419 commented on #6024
@romani
yes that is correct  but i was asking about the 5th line where
expectation=8

[2022-03-01 11:54] romani commented on #10858
Why extra run ?
I thought it would be just regular execution, but in config we will put property for fork name and branch name to get checkstyle sources from PR.
So it will be update to support PRs fork name and branch name in file with list of projects

[2022-03-01 12:00] AmrDeveloper commented on #11352
I am on it.

[2022-03-01 12:06] romani commented on #8240
Yes, we can all of this... It is a lot of work.
Let's imagine we have it, how much Checks you can think community need now?
If there a list of best practices for such files ?
If there no much usage...why to do that much work ?

In worse case user can create Fileset Check and parse file by regexp or something simple.

I have never seen such files in open source projects, it might be mostly applicab

[2022-03-01 12:25] romani commented on #11155
Indentation is most complicated Check in checkstyle, better to avoid fixing it if you are not experienced.

[2022-03-01 12:27] romani commented on #3619
Up to you, but better in separate PRs . Small PRs are merged quicker.

[2022-03-01 12:42] romani commented on #9332
https://checkstyle.org/config_blocks.html#NeedBraces

Is definitely not good name. But we see what you want. I have never seen such code and doubt such check support it. I do not even know how to formulate it.

NeedBraces is general Check if it doesn't work for yor style, it should not be used. You use sun style. Can you prove that such style is ok by sun style documentation ?

I would recommend x

[2022-03-01 12:52] #10860 closed

[2022-03-01 12:54] #10049 closed

[2022-03-01 13:06] romani commented on #3110
Fix was provided only for Main.java https://github.com/checkstyle/checkstyle/commit/dab682c2f0e2853858a6d24e1fe2c2088315a0cc , all other English hard codes that are referenced in this issue are still not done

[2022-03-01 13:14] romani commented on #10933
Can we use https://github.com/policeman-tools/forbidden-apis/wiki/SignaturesSyntax ?

[2022-03-01 13:42] romani commented on #6024
It is bad expectations, it should be 10+2 as line 5 is continuation of line 4 (wrapped line).
But be careful, if this Check first problem with indentation, all further wrapping indentation expectations are wrong most likely.
User has to resolve first violation first.

[2022-03-01 15:43] rnveach commented on #11352
@romani This doesn't close the issue?

[2022-03-01 15:53] rnveach commented on #10858
Correct.

My naming of "extra run" was just wording I used at the time. If I remember groovy correctly, it does actually run the checkstyle command over each project separately, so it is another run inside the current groovy run. It was not meant to require an extra run of the groovy script.

[2022-03-01 16:07] rnveach commented on #11343
I am fine with the new util method.

[2022-03-01 16:43] #10747 closed

[2022-03-01 16:44] rnveach commented on #10747
Final fix was merged

[2022-03-01 19:08] joakime commented on #8240
@romani the openjdk group has a spec for the order of elements in module-info, and many other projects are following the same spec now.

See: https://docs.oracle.com/javase/specs/jls/se17/html/jls-7.html#jls-ModuleDirective
Mentioned earlier in this issue: https://github.com/checkstyle/checkstyle/issues/8240#issuecomment-931277420

I would like to see a canonical order or import order style of che

[2022-03-01 22:07] peterdemaeyer commented on #11286
Thanks for considering my time, but I spent it now anyway because I like to finish what I started, and amended my initial commit.
I won't blame you if you discard it, it was my own choice to spent my time.
Anyway, I fixed the translations as well as I could, and also the coverage is now at 100%.
The build now fails on Checkstyle violations that I can't fix without turning the whole class inside ou

[2022-03-02 02:12] yshubham8419 commented on #6024
@romani
is it 10+4 (i. e 10+linewrapingindentation)
or
10+2 (i. e 10+basicOffset)

[2022-03-02 03:12] nick-mancuso commented on #10933
Looks like a great solution, thanks for recommendation.

[2022-03-02 15:30] Binita-tech commented on #4121
Can I work on this issue @romani?
Please guide how to proceed with this issue.

[2022-03-02 21:58] rnveach commented on #4121
To be clear this is not an issue marked easy.

We must review the check and all the tokens listed above. We must identify what kind of code each token checks and violate code on. We must then verify what the google style guide, located at https://checkstyle.org/styleguides/google-java-style-20180523/javaguide.html , says about those cases the tokens violate code on. Does the style guide say those

[2022-03-03 05:18] octylFractal commented on #10776
As requested in https://github.com/checkstyle/checkstyle/pull/10772#discussion_r818319192:

I didn't analyze it prior, but just now I tested:
[code]
[code]
So `javadoc` produces a hard error when this is placed on a non-method class member. Therefore, we don't check it in checkstyle.

[2022-03-03 08:05] faraazb opened #11357 "UnnecessaryParentheses reports incorrect violation message for return value in lambdas"
I have read check documentation: https://checkstyle.org/config_coding.html#UnnecessaryParentheses
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

When a lambda expression is assigned to a variable and has a return value surrounded in pare

[2022-03-03 08:22] romani commented on #11357
Please report issue as defined (strictly follow) in issue template

[2022-03-03 08:52] faraazb commented on #11357
Updated as per issue template.

[2022-03-03 10:13] romani commented on #11357
Please remove comment, and remove unnecessary code to make easy to see miminal code and distinct violations.

[2022-03-03 10:39] romani commented on #8240
Ok we have 1 potential Check.
I still recommend to not look for first class support now. We can make parser and parse file in each potential Check. While number of Checks is small it will be decently performant and flexible to change at any time it is required to get maturity.
Amount of such files in project is also should not be big, so extra parsing will not be big deal.

First class support wil

[2022-03-03 10:45] romani commented on #6024
10+linewrapingindentation

[2022-03-03 10:52] romani commented on #11286
Put suppression on them, to bypass and see next problems, we will see how to fix it when we come to deep code review.

[2022-03-03 13:06] AmrDeveloper commented on #11214
I am on MethodCountCheck

[2022-03-03 13:32] faraazb commented on #11357
Removed header comment and omitted some code.

[2022-03-03 17:35] JoshMcCullough commented on #11307
@romani Can you elaborate on how you ran the test in the OP? I just ran it again to make sure I wasn't crazy. Here are the commands I used and the output for 9.3 and 10.

[code]

[2022-03-04 14:45] yshubham8419 commented on #6024
where can i find info about when to increase indent and by how much
for example
[code]
here i need to know whether the expected indent for method 'xyz' is to be increased or not
so please tell me where can i find such info

i am aware of https://checkstyle.sourceforge.io/apidocs/com/puppycrawl/tools/checkstyle/checks/indentation/IndentationCheck.html
are there more detailed examples?

[2022-03-04 17:48] Vyom-Yadav commented on #11214
@romani This is still valid, many checks are pending.

[2022-03-04 17:50] rnveach commented on #11214
No PRs referencing this issue should say "Closes" or "Fixes" until all checks are complete. Reviewers need to make sure this is the case in each PR.

[2022-03-04 18:09] romani commented on #11357
please make code compilable, you missed "javac".
users/maintainer/contributor should copy output of "type" to their file and reproduce a problem.

[2022-03-04 18:22] Kevin222004 commented on #11214
I am on EmptyForInitializerPadCheck

[2022-03-04 18:23] romani commented on #11307
what is OP ?
you did good execution and sharing all details.

[2022-03-04 18:44] romani commented on #6024
5);

it should be `).xyz(5);` but user decided to wrap a line, so lineWrappingIndentation should affect indentation on wrapped line `5);`

https://checkstyle.org/config_misc.html#Indentation

[2022-03-04 21:05] AmrDeveloper commented on #11214
For `DeclarationOrderCheck` all violation messages are specified correctly and testing passed correctly so i will remove it from the InlineConfigParser list

https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks/coding/declarationorder

[2022-03-04 21:09] Kevin222004 commented on #11214
@Vyom-Yadav  Please review pr #11359

[2022-03-05 08:01] yshubham8419 commented on #6024
@romani
what should be the value returned by  `getIndentImpl() ` of  `MethodCallHandler `  in above scenario

[2022-03-05 08:09] romani commented on #6024
We can return any value, critical point for as is definition of violation of user code. All implementation details does not matter that much, we can change anything.

[2022-03-05 08:17] faraazb commented on #11357
I edited so that only the file header comment is removed. After the `javac` command, do I also need to mention that it compiles successfully?

[2022-03-05 08:23] Vyom-Yadav commented on #11259
I have read check documentation: http://checkstyle.sourceforge.net/config_modifier.html#RedundantModifier
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**
[code]

Related info https://docs.oracle.co

[2022-03-05 09:42] romani commented on #11357
We usually print that execution of javac return no output, as definition of compilable.

Please update output.

-------

Try to put yourself in foot of person who need to fix this issue. Any mismatched or missed details are very discouraging. Idea of this output is to let anybody in world copy results of type/cat to files, run the same command (copy-paste) and get the same result.

If something is

[2022-03-05 10:23] Kevin222004 commented on #11214
I am on WhitespaceAroundCheck

[2022-03-05 11:44] AmrDeveloper commented on #11214
I am on GenericWhitespaceCheck

[2022-03-05 12:31] romani commented on #10924
I do not think we have to extend API now, most of this `getLine()` usage is just bad design of Checks, as they should use AST to make decision. There might be some performance considerations, to use raw lines, but it is decision of each Check to take this responsibility and face other nuances.

I am not disagree to provide Unicode by API, but I need be sure that request for this is not bad design

[2022-03-05 16:04] faraazb commented on #11357
Updated the Checkstyle output. Also added indication after `javac` command to confirm compilation. I completely agree with you, I will take care next time. Sorry for the noise it has created in the comments.

[2022-03-05 16:23] Kevin222004 commented on #11214
@romain could you please help me with this I have written the message as same as asked but I am getting error
![Uploading Screenshot from 2022-03-05 21-50-48.png…]()
line no 25

[2022-03-05 16:55] Vyom-Yadav commented on #11214
If the violation message contains special regex characters, escape that character.

`+` is a special regex character, you need to escape it.

[2022-03-05 17:55] romani commented on #11357
I still see line 58 in description, please copy paste output. As you play with trailing comment s to show where is violation, please make sure CLI output and comments matches.

[2022-03-05 18:28] faraazb commented on #11357
😅I was making a dumb mistake. Should be good now. Maybe I should have used a different and smaller code example.

[2022-03-05 18:48] romani commented on #11357
Yes, please do

[2022-03-05 22:00] Kevin222004 commented on #11214
Please review #11364

[2022-03-06 00:50] JoshMcCullough commented on #11307
@romani thanks. And "OP" is "original post" e.g. my first post at the top. @nick-mancuso's solution works around the problem. I'm wondering if originally you tested using the [example in his comment](https://github.com/checkstyle/checkstyle/issues/11307#issuecomment-1039804246) rather than my original example?

[2022-03-06 04:10] romani commented on #11307
I usually do not run, until issue reported properly.

Please answer my question about

[2022-03-06 05:57] Vyom-Yadav commented on #11338
I am on it.

[2022-03-06 09:58] Vyom-Yadav opened #11365 "FinalClassCheck: False positive with anonymous classes"
I have read check documentation: https://checkstyle.sourceforge.io/config_design.html#FinalClass
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]
[code]
[code]
[code]
---

**Describe what you expect in detail.**
[code]
This was supposed

[2022-03-06 09:58] Vyom-Yadav commented on #11365
I am on it.

[2022-03-06 10:31] AmrDeveloper commented on #11214
I am on NewlineAtEndOfFileCheck

[2022-03-06 11:45] AmrDeveloper commented on #11214
I am on MultipleVariableDeclarationsCheck

[2022-03-06 14:52] #10933 closed

[2022-03-06 14:52] rnveach commented on #10933
Fix was merged

[2022-03-06 15:58] SanderGielisse opened #11370 "Large overhead from using streams in TokenUtil.isOfType"
By doing some time analysis using VisualVM, I found that the `isOfType` method of the `TokenUtil` class taking quite a lot of time, as shown below.
![issue0](https://user-images.githubusercontent.com/4587552/156930498-c85d7ad3-dbdb-4a47-a862-52abfb3114fc.png)

The current implementation is;
[code]

While the slight overhead of using streams (which was probably done to improve readability / maintai

[2022-03-06 16:06] nick-mancuso commented on #11370
@SanderGielisse I am curious, what prompted your investigation?

[2022-03-06 16:19] nick-mancuso commented on #1525
Yes, it probably isn't too bad, really. In cases like this, we would just have a chain of ancestor tokens that are all the same. So, we could have some property that allows same operator parents to only count as 1.

[2022-03-06 16:22] nick-mancuso commented on #11343
All approve, label added.

[2022-03-06 17:04] rnveach commented on #11370
From my local and running checkstyle on itself,
https://github.com/rnveach/checkstyle/commits/more_audits
[code]

Output:
[code]

Based on this, total time for `isOfType` is currently only 1.3% of the total execution time for Checkstyle. If your run was 60 minutes, we wouldn't even be talking about 1 minute of time.

[2022-03-06 17:22] Kevin222004 commented on #11214
I am on EmptyForIteratorPadCheck

[2022-03-06 17:25] rnveach commented on #11370
@SanderGielisse Also please provide us what version of checkstyle you are using and JDK.
I would also like to do a test run on your project if it is opensource.

[2022-03-06 17:48] SanderGielisse commented on #11370
You are right in your case, I've also confirmed that this is not an issue when running Checkstyle on Checkstyle using the Checkstyle configs. However, for me the issue exists under different conditions.

I was running Checkstyle on a project using the `google_checks.xml`configuration, though it never had been formatted / programmed for these checks (so LOTS of warning / errors). I am not sure if t

[2022-03-06 17:53] nick-mancuso commented on #11370
I think we can further improve on `TokenUtil#isOfType` implementation now that we switched to Java 11: modify `TokenUtil#isOfType` to accept a `Set` of tokens to check (via `Set#contains`), instead of an array of `int`s. We can pass tokens as an argument to method using `Set.of()`. We never care about the order of such tokens, so iteration is not needed. Both `Set#of` and `Set#contains` run in con

[2022-03-06 18:05] nick-mancuso commented on #10924
or do you want me to review all of them and ask the same question ? :)
please pin me in PR where you think codepoint update is required to your mind.

_Originally posted by @romani in https://github.com/checkstyle/checkstyle/issues/11366#issuecomment-1059936910_

@MUzairS15 as you show proof of each required check update, please consider filters like https://checkstyle.sourceforge.io/config_filter

[2022-03-06 18:08] SanderGielisse commented on #11370
Neat idea, yet I am unsure if it's necessarily faster. From what I saw during debugging, these 'sets' would usually be really small, like a couple of elements. Using a HashSet or something similar would be great for enormous sets, but I feel like when they are so small it might just be overhead (hash calculations, etc...); a naive loop might still be the fastest option. Currently, the naive loop i

[2022-03-06 18:11] nick-mancuso commented on #11370
Good point, most calls to `TokenUtil#isOfType` are with less than 10 elements, so extra method calls, etc. are probably not worth it.

[2022-03-06 18:16] rnveach commented on #11370
I didn't see an answer to my previous post, again, see it and provide us your project if you can. We really could be talking about make up of source files and errors outputted. I would think CPU speed between us would be relative to a degree.

`more_audits` is my unofficial way of doing speed tests for Checkstyle only. So pretty much no one has. :)

I will say it has not gone through any strict re

[2022-03-06 18:28] Kevin222004 commented on #11214
@romani  @Vyom-Yadav please reivew #11372

[2022-03-06 19:46] rnveach commented on #11370
I tried one last on a LONGER run. I ran `google_checks` over everything in Checkstyle, inputs and all.

`-c ${workspace_loc}\checkstyle\src\main\resources\google_checks.xml ${workspace_loc}\checkstyle --executeIgnoredModules`

[code]

I also did a second run to confirm the results.

[code]

While the results differ between each other, they show 50.7% and 38.6% , which now starts to align with @San

[2022-03-06 21:14] SanderGielisse commented on #11370
@rnveach thank you for the thorough investigation. I can confirm your following setup is indeed almost identical to mine. I was indeed running it on all of Checkstyle.

With regards to your timings, I ran the following two commands and obtain the following VisualVM plots;
`java -jar j_unfixed.jar -c ./google-checks.xml ./checkstyle --executeIgnoredModules`
![issue_unfixed](https://user-images.gith

[2022-03-06 21:54] rnveach commented on #11370
I am sure we are going off topic of the prime issue, but I pinged @romani to look at this for approval.

====

I think you are misunderstanding relative.

If naturally its 11 nanos, but with mine its 21 nanos, then that is their relative values to each other (11 to 21). 11 without will be 21 with. So if we slowed down and it becomes 22 without, it should remain relative as 42 with. Now if with my

[2022-03-06 22:13] SanderGielisse commented on #11370
Haha, we absolutely are, but thank you for pinging.

I believe the problem is with your following statement:

The overhead from running timings is a constant factor, it is independent of the function you are measuring, i.e. this took 10 nano's in your example, so if your function becomes twice as slow, from 11 to 22, your timings will add a constant 10 nano's again and make you end up with 32 nano

[2022-03-07 06:15] strkkk commented on #11370
@SanderGielisse Can you please provide JMH metrics for current implementation and proposed solution?
I think this will answer all questions.

[2022-03-07 09:22] Vyom-Yadav opened #11374 "False Positive: UnusedLocalVariableCheck"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#UnusedLocalVariable
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]
[code]
[code]
[code]
---

**Describe what you expect in detail.**
[code]

---

Dis

[2022-03-07 21:44] JoshMcCullough commented on #11307
Sorry but I'm not quite following you. My original post has a working (failing) scenario, the same as my [updated comment](https://github.com/checkstyle/checkstyle/issues/11307#issuecomment-1058306811).

Regarding that quote...

That is a direct quote from the docs for `WhiteSpaceAround`: https://checkstyle.sourceforge.io/config_whitespace.html#WhitespaceAround

So, with double-brace initializaion

[2022-03-07 22:14] SanderGielisse commented on #11370
I have done so but I have no idea for what values of `types` and `type` to test. The numbers I get are not representative of the problem I encountered, but look more like the values that @rnveach found earlier, so around a factor 2 difference. While it's nice, it's more like a 1% overall speedup, rather than the 30% of my specific case (by running Checkstyle on all of Checkstyle using google check

[2022-03-08 05:35] strkkk commented on #11370
You can take all tokens and every time pick some random token to search.

Autoboxing to Integer can be an issue. I doubt that implementation makes a copy.

[2022-03-08 12:16] AmrDeveloper commented on #11214
I am on OperatorWrapCheck

[2022-03-08 12:32] Vyom-Yadav commented on #11374
Approved? This may be a non-common case but the check has support for these types of cases.

[2022-03-08 13:20] nick-mancuso commented on #10858
@romani this would be very handy to have for issues like https://github.com/checkstyle/checkstyle/issues/10924, is there any details left to resolve before we approve this?

[2022-03-08 13:41] nick-mancuso commented on #11374
I agree that this is a false positive, please add proof of unused variable to issue description (i.e. print value of `j`) to make it obvious to maintainers.

[2022-03-08 15:28] Kevin222004 commented on #6207
@romani I want to work on this issue, I have a little confusion as Xpath Regression Test for IllegalToken is merged the tick marks has not been done in checkbox. The checkbox is about to just understand whether  Xpath Regression Test is completed or not right .
If I am wrong then please give a little guidance to start work on this issue

[2022-03-08 15:34] elmuerte opened #11380 "CustomImportOrder partially breaks ImportOrder when used in maven"
I've created an example project here: https://github.com/elmuerte/checkstyle-issue-importorder

When using the CustomImportOrder module and the ImportOrder module the following code is accepted when checked with maven.

[code]

When removing the CustomImportOrder module from the configuration the above code does not pass the checkstyle check via maven.

(The eclipse-cs plugin does report the viola

[2022-03-08 21:48] romani commented on #6207
List in github might be outdated
Actual list of what is not done yet is
https://github.com/checkstyle/checkstyle/blob/628a7643aeaa6736bec4c7c38910e5c0ab26aa4f/src/test/java/com/puppycrawl/tools/checkstyle/internal/XpathRegressionTest.java#L92

See commits referencing this issue as guidance on what to update and how

[2022-03-08 22:40] rnveach commented on #4121
@Binita-tech I think you skipped the most important part, which is what cases does this check and token validate.

In this case, this enforces that empty for loops must be commented if they are to remain completely empty giving a reason why it is there.

The link you referenced in the style guide does say empty blocks are allowed with no direct mention of for loops or only methods. But it does not

[2022-03-09 06:09] KishkinJ10 commented on #7576
Can I work on it ?? I want to participate in gsoc 2022 .

[2022-03-09 06:10] KishkinJ10 commented on #7601
Can I work on it ?? I would like to contribute for gsoc 2022.

[2022-03-09 13:11] romani commented on #7601
sure! if you want to work on issue just make a comment "I am on it"

[2022-03-09 13:11] romani commented on #7576
yes, make a comment "I am on it" and send PullRequest

[2022-03-09 13:19] KishkinJ10 commented on #7601
I am on it !

[2022-03-09 13:21] KishkinJ10 commented on #7576
I am on it !

[2022-03-09 13:46] #11259 closed

[2022-03-09 13:48] #11030 closed

[2022-03-09 13:49] nick-mancuso commented on #11380
@elmuerte thanks for example project. Please update issue description to follow template (with CLI output), this makes it easier for maintainers to evaluate issue and contributor/maintainer to clearly see failure and understand the problem.

[2022-03-09 14:00] ashraf546 commented on #11337
✔ ~/java/github/romani/checkstyle [octylFractal/feature/inline-return-tag-javadoc L|✚ 1]
20:20 $ git diff
diff --git a/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SummaryJavadocCheck.java b/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SummaryJavadocCheck.java
index d02ff5d..e5916a8 100644
--- a/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SummaryJav

[2022-03-09 14:08] romani commented on #11370
I am approving issue, but we will see in PR exact change and exact measurement of improvement to see if it matter to do this.

[2022-03-09 14:18] nick-mancuso commented on #11340
Let's make a decision here, in regards to this particular issue. If we want to continue discussion about adding check properties in general, let's create a Github discussion and continue there.

After thinking on @romani 's comments above, I am for approval of this issue.

[2022-03-09 15:26] JoshMcCullough commented on #11307
@romani I updated my original post, adding a bit more clarity and a more complete example.

[2022-03-10 06:15] MUzairS15 commented on #8965
[code]

Suppression is used to prevent existing issue #11103,
Check fails to recognize when line wrapping is used

[2022-03-10 06:45] Binita-tech commented on #7546
Since the above PR is abandoned, Can I work on this issue? @romani

[2022-03-10 12:42] KishkinJ10 commented on #7601
@romani Sir can you please guide me like exactly what is to be done and from where should I start ?? And in which files the additions are needed to be done.

[2022-03-10 14:02] romani commented on #7601
Please read all links in issue description, it has all details, look in git history similar updates for examples on what to update

[2022-03-10 14:04] romani commented on #7546
@Binita-tech, yes, please help, feel free to reuse work from abandoned PR to continue

[2022-03-10 14:37] Vyom-Yadav commented on #11374
Done.

[2022-03-10 15:44] BaldDemian commented on #7650
I'm working on it

[2022-03-12 16:03] rnveach commented on #11292
@romani @pbludov Is this issue fixed or is there still more to do?

[2022-03-12 16:11] rnveach commented on #10390
@romani @timurt Is this issue still valid and what is left to do? I could not find suppression listed in first post.

[2022-03-12 17:00] rnveach commented on #4845
Adding:
[code]
to `checkstyle_input_checks.xml` produces 248 violations which need to be looked over.

[2022-03-12 17:38] #11292 closed

[2022-03-12 17:45] romani commented on #4845
To make progress we need to apply this Check and add to suppression all items to resolve gradually. Good gsoc first issue.

[2022-03-12 17:50] romani commented on #10390
Link is working fine, bunch of suppression still there, we need to cleanup/explain them or fix them.

[2022-03-12 18:20] romani commented on #10390
Yes, we claim now that all is resolved
https://github.com/checkstyle/checkstyle/blob/5e4314550a38ff547d01874f9a16ad9e0c4a5724/pom.xml#L1544
But I would rather recheck why list is so big.
There might be some new separate tickets need to be created to resolve some of them.

[2022-03-12 23:15] romani commented on #10858
Sorry missed visual approval, approved

[2022-03-13 01:53] romani commented on #11380
Issue will be closed at the end of March if no details provided

[2022-03-13 03:03] romani commented on #11307
I am not sure how to support it in current design of this Check, but issue is valid, let's keep it, one day we will do big redesign, so we need to know this request.

[2022-03-13 04:15] rnveach commented on #4845
Issue is available for others to work on.

[2022-03-13 05:13] Vyom-Yadav opened #11407 "False Negative: SummaryJavadocCheck"
have read check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#SummaryJavadoc
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]
[code]
[code]
[code]
---

**Describe what you expect in detail.**

[code]

The `.` in `1

[2022-03-13 05:18] Vyom-Yadav commented on #11407
On it.

[2022-03-13 08:32] ranaDherya commented on #7619
Hey , can i work on this one?

[2022-03-13 09:29] Kevin222004 commented on #11214
Please review #11408

[2022-03-13 10:32] OttoKaaij commented on #11357
On this

[2022-03-13 11:24] MUzairS15 opened #11410 "False Negative: LeftCurlyCheck"
I have read check documentation: https://checkstyle.sourceforge.io/config_blocks.html#LeftCurly
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]
[code]
[code]

---
**Describe what you expect in detail.**
[code]

[2022-03-13 12:21] nick-mancuso commented on #11410
Fix for this should be to update check to use AST based approach only. @strkkk I feel like we have an issue opened for updating all checks like this, but I cannot find it. Do you have an idea of issue title?

[2022-03-13 12:31] nick-mancuso commented on #7619
@ranaDherya yes, please leave comment like "I am on it"

[2022-03-13 14:33] nick-mancuso commented on #11407
Please print out AST with javadoc for your example, and share it in a comment here.

[2022-03-13 15:25] OttoKaaij commented on #11410
@nick-mancuso I think you mean this? https://github.com/checkstyle/checkstyle/issues/11166

[2022-03-13 16:50] peterdemaeyer commented on #11286
Done in an additional commit.

[2022-03-13 23:50] rnveach commented on #11410
The issue seems to be the code is looking directly at the source file and not going based on our ASTs in this scenario.

Since the default is `EOL`, it appears the code is looking at the source file for all whitespace before the curly to declare it must be on the previous line.
See: https://github.com/checkstyle/checkstyle/blob/a8ac66635e2c5a0eb70d32b4e88d0715addfb04c/src/main/java/com/puppycrawl/

[2022-03-14 02:51] romani commented on #11410
To catch this violation Check should be updated to be comments aware.
Such code is very artificial, nobody write code like this :) (multiline comment in the middle), so missed violation is ok. But very technically Yes it is better to do violation on this.

[2022-03-14 03:28] MUzairS15 commented on #11410
Yes, we can check if there is a block comment, in addition, to checking for whitespace.

[2022-03-14 03:29] MUzairS15 commented on #11410
[code]

[2022-03-14 04:09] romani commented on #11407
Please share javadoc tool output on this, how html look like for this methods?

[2022-03-14 04:50] Vyom-Yadav commented on #11407
AST:-
[code]
![Screenshot from 2022-03-14 10-15-22](https://user-images.githubusercontent.com/73882557/158106486-b8ddb83a-d1e7-4b7e-8cad-99e295220526.png)

Summary is only displayed till period, eg-
[code]
![Screenshot from 2022-03-14 10-17-03](https://user-images.githubusercontent.com/73882557/158106654-0b8751f0-beaa-4a08-a0e4-8b8008531177.png)

[code]
The complete sentence is displayed and not t

[2022-03-14 05:11] romani commented on #11407
We need to be aligned with javadoc tool.

[2022-03-14 11:01] AmrDeveloper commented on #11214
I am on MissingOverrideCheck

[2022-03-15 00:43] x80486 opened #11415 "`HideUtilityClassConstructor` is behaving abnormaly for test cases"
Check documentation: https://checkstyle.org/config_design.html#HideUtilityClassConstructor

[code]

---

I'm using Checkstyle `9.2.1` with Gradle. The problem that I've seen is that this gets flagged as an error **for the test cases only**. Basically, the `@NoArgsConstructor(access = AccessLevel.PRIVATE)` is not visible for Checkstyle, I have to go and define the `private` constructor by myself.

[2022-03-15 01:23] romani commented on #11415
Checkstyle is unaware of Lombok. All Lombok annotations are just some annotations.
Checkstyle limitations https://checkstyle.org/writingchecks.html#Limitations

You need to  do special suppression for violations like this.
See workaround for "same" problem but different Check  https://github.com/checkstyle/checkstyle/issues/11340#issuecomment-1049455493

[2022-03-15 01:24] romani commented on #11340
One more example of Lombok usage that cause unwanted violation https://github.com/checkstyle/checkstyle/issues/11415

[2022-03-15 08:55] AmrDeveloper commented on #11214
I am on JavadocContentLocationCheck

[2022-03-15 10:43] strkkk commented on #11415
@romani to be honest, limitations section says nothing about work with generated bytecode, which is not visible for checkstyle. Doc can be improved to reflect this and specifically mention lombok, since checkstyle+lombok is a frequent question.

[2022-03-15 11:12] ranaDherya commented on #7619
I am on it

[2022-03-15 12:05] romani commented on #11415
Yes, we should update limitation text

[2022-03-15 16:57] MUzairS15 commented on #10924
@nick-mancuso Should I send PR to replace usage of `getLines` with `getLine` in `TrailingCommentCheck`?
as suggested in https://github.com/checkstyle/checkstyle/pull/11262#pullrequestreview-908268883

[code]

[2022-03-15 17:08] mananmehta3 commented on #7608
If the issue is not assigned I would like to work on it.

[2022-03-15 17:12] nick-mancuso commented on #7608
@mananmehta3 if “I am on it” comments are more than a month old with no PR, feel free to add “I am on it” comment and proceed.

[2022-03-15 17:15] mananmehta3 commented on #7608
The I am on it message on this issue is around a year old and there is no PR.
So I guess that is okay.

[2022-03-15 19:02] Tim-Vuong commented on #7598
I am on it (assuming that the last comment was almost a year ago).

[2022-03-16 01:32] romani commented on #10737
@Vyom-Yadav,
Please send update like
https://github.com/checkstyle/checkstyle/pull/11417
Please enforce no usage of old test method.

[2022-03-16 03:19] nick-mancuso commented on #10924
@MUzairS15 let's create a checklist from comment at https://github.com/checkstyle/checkstyle/issues/10924#issuecomment-986039442

[2022-03-16 04:07] MUzairS15 commented on #10924
`getLines` to be replaced with `getLine` if code points update is not required

- [x] AvoidEscapedUnicodeCharactersCheck
- [x] ArrayInitHandler
- [x] AnnotationArrayInitHandler
- [x] CommentsIndentationCheck
- [x] EmptyBlockCheck
- [x] MethodParamPadCheck
- [x] EmptyForIteratorPadCheck
- [x] EmptyForInitializerPadCheck
- [ ] FallThroughCheck (under review)
- [ ] AbstractParenPadCheck (under review

[2022-03-16 04:08] MUzairS15 commented on #10924
TODO:  move `CommonUtil.isCodePointWhitespace` to CodePointUtil

Will send PR when all checks have been updated.

[2022-03-16 05:02] Vyom-Yadav commented on #10737
@romani Please reopen this, SuppressionSingleFilterTest is not done, only the input files are migrated to inline config parser, the tests are not, they still use the traditional verification method.

[2022-03-16 06:52] elmuerte commented on #11380
checkstyle-842.xml
[code]

src/main/java/example/Foo.java
[code]

CLI output
[code]

yet, `mvn checkstyle:check` concludes "You have 0 Checkstyle violations." (as posted in description)

[2022-03-16 09:34] strkkk commented on #11380
@elmuerte what checkstyle version you use in maven plugin?

Please provide output of cli with version from maven.

[2022-03-16 15:48] romani commented on #11380
In post it is `checkstyle-10.0-all.jar`

[2022-03-16 15:49] romani commented on #11380
What is a reason to use both ?

[2022-03-16 15:52] romani commented on #11380
What is a reason to use both ?

Checks are independent from each other, behavior like this means that maven plugin is misconfigured and might use default configuration, not your custom

[2022-03-16 15:54] romani commented on #11380
Please do problem statement completely based on CLI, if you can not reproduce problem by CLI, it means it is plugin problem and you need to report it to plugin issue tracker.

[2022-03-17 00:51] HirumalPriyashan commented on #7613
I am on it.

(since last comment is more than two years ago and no related PRs)

[2022-03-17 01:59] nick-mancuso commented on #10737
Please share details here.

[2022-03-17 03:33] romani commented on #10737
Probably better to create two separate tickets, it will be easier to track them

[2022-03-17 03:36] #11357 closed

[2022-03-17 14:20] Vyom-Yadav commented on #10737
I did the changes in #11424, there were some missed tests and a few lines of dead code.

Fall under the same parent issue so creating a new ticket won't be required IMO :)

[2022-03-17 17:13] Vyom-Yadav opened #11425 "SummaryJavadocCheck not able to recognize summary inside HTML tags."
have read check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#SummaryJavadoc
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
[code]
[code]
[code]
[code]
---

**Describe what you expect in detail.**

[code]

The summary i

[2022-03-17 17:14] Vyom-Yadav commented on #11425
Related AST-
[code]

[2022-03-18 02:56] nick-mancuso commented on #11425
I will approve issue, but - I feel that a reliable fix for this will not be easy.

[2022-03-18 03:09] nick-mancuso commented on #11370
@SanderGielisse are you able to share the project that you have been using for your analysis?

[2022-03-18 03:53] nick-mancuso opened #11427 "Tracker for pitest-coding failures"
Since we have been seeing random (but regular) failures in `pitest-coding`, I thought it would be a good idea to track exactly which lines are causing pitest to fail. Maintainers, feel free to just add any failures that you notice below (in issue description).

- [x] `EqualsAvoidNullCheck.java.html:<td class='covered'><pre><span  class='survived'>            if (field.findFirstToken(TokenTypes.IDE

[2022-03-18 04:00] Vyom-Yadav commented on #11425
I feel the same, but getting text from nested HTML tags won't be difficult IMO, we don't care about the format, we just want some text and a period symbol which I feel is doable.

[2022-03-18 07:10] elmuerte commented on #11380
The issue happens with 8.40, 8.42, 9.0, and I reported it using 10.0.

Not sure if there is a good reason. The CustomImportOrder configuration was originally used, and ImportOrder was added later. With the CustomImportOrder's severity reduced to "ignore".

I can't reproduce it with just the CLI. So I will move this issue report to the maven plugin project.

[2022-03-18 07:10] #11380 closed

[2022-03-18 09:51] Bananeweizen opened #11432 "First example of AvoidEscapedUnicodeCharacters is wrong"
https://checkstyle.org/config_misc.html#AvoidEscapedUnicodeCharacters says "OK" for control characters in the first example. That's wrong, since the default for that flag is false. See line 3 of the below code block.

[code]
In fact, the second example then shows changing the flag, but has the same OK/violations outcome like the first example, clearly showing a contradiction here.

[2022-03-18 10:16] nick-mancuso commented on #11432
@Bananeweizen please show actual behavior of check in issue description, as shown in the bug report template (for both cases).

[2022-03-18 11:13] Rahulkhinchi03 commented on #11214
I am on JavadocParagraphCheck

[2022-03-18 11:33] SanderGielisse commented on #11370
For all the experiments above I ran Checkstyle on all of Checkstyle using the Google checks, as such; `java -jar checkstyle_compiled.jar -c ./google-checks.xml ./checkstyle --executeIgnoredModules`

[2022-03-18 11:57] Kevin222004 commented on #11214
I am on FileTabCharacterCheck

[2022-03-18 12:20] akuadane commented on #7619
I am on it!

[2022-03-18 21:18] Tim-Vuong commented on #7598
Hello! I've been stuck on mvn verify and mvn clean verify. I have removed all of my changes and realized that my mvn install fails:
<img width="1063" alt="Screen Shot 2022-03-18 at 5 11 58 PM" src="https://user-images.githubusercontent.com/72631688/159083676-fce33342-340e-4a22-ba77-c7b215f604d0.png">

This is the output from mvn clean verify (without my changes):
<img width="1056" alt="Screen Shot

[2022-03-19 02:56] nick-mancuso commented on #7598
@Tim-Vuong I recommend that you stick to `git` and CLI usage for version control, and use IDE for writing code. Just delete your cloned repo and start fresh.

[2022-03-19 13:07] #10737 closed

[2022-03-19 13:08] romani commented on #10737
Finally Resolved by @Vyom-Yadav

[2022-03-19 13:26] #10907 closed

[2022-03-19 13:26] rnveach commented on #10907
Fix was merged

[2022-03-19 13:43] #10776 closed

[2022-03-19 16:18] #11201 closed

[2022-03-19 16:28] romani commented on #10737
@Vyom-Yadav , please recheck https://github.com/checkstyle/checkstyle/runs/5612335973?check_suite_focus=true where we missed to remove reference to this issue?

[2022-03-19 16:28] romani commented on #11201
@Vyom-Yadav , please recheck https://github.com/checkstyle/checkstyle/runs/5612335973?check_suite_focus=true where we missed to remove reference to this issue?

[2022-03-19 17:23] romani commented on #7650
Merged

[2022-03-19 17:23] #7650 closed

[2022-03-19 18:53] romani opened #11438 "Conver test for SuppressionXpathFilterTest to use inlined config in Input files"
Detected at https://github.com/checkstyle/checkstyle/pull/11437/files

All filters should migrate to use config inlined in Input files.
Suppression that was left in that commit should be removed.

[2022-03-19 20:09] Tim-Vuong commented on #7598
@nick-mancuso Thank you for your help! After I restarted, mvn install worked, but I am stuck on passing mvn clean verify.

I added the following in /checkstyle/src/main/checks/javadoc/JavadocMethodCheck.java
<img width="377" alt="Screen Shot 2022-03-19 at 4 02 03 PM" src="https://user-images.githubusercontent.com/72631688/159136666-c5adf13a-4216-4685-bd53-d4166ad3ebba.png">

I added the following

[2022-03-19 21:33] romani opened #11439 "Conver test for SuppressionXpathSingleFilterTest to use inlined config in Input files"
Detected at https://github.com/checkstyle/checkstyle/pull/11437/files

All filters should migrate to use config inlined in Input files.
Suppression that was left in that commit should be removed.

[2022-03-19 21:37] romani opened #11440 "Conver test from XpathFilterElementTest to SuppressionXpathSingleFilterTest to use inlined config in Input files"
Detected at https://github.com/checkstyle/checkstyle/pull/11437/files

All filters should migrate to use config inlined in Input files.
Suppression that was left in that commit should be removed.

we should not have not real tests, we should cover all functionalilty by full functional tests, to make sure xpath works to match real nodes.

all tests from XpathFilterElementTest should be converted to

[2022-03-20 03:12] BaldDemian commented on #7592
I'm on it 🚀

[2022-03-20 05:10] Vyom-Yadav opened #11442 "Check no closed issue references workflow is not triggered on pull requests"
Noticed at - https://github.com/checkstyle/checkstyle/pull/11437#issuecomment-1073116935
The action doesn't run on pull requests. Also, it doesn't specify the location where the issue is mentioned.
[code]
The location along with the issue will be helpful.

----

What the related PR should do-

1. **Improved reporting:-** A clickable link is now given to the user which redirects it to the line wher

[2022-03-20 07:46] romani commented on #11442
Sometimes PR doesn't fix issue completely.
I doubt we can reliably validate until issue is closed

[2022-03-20 07:52] Vyom-Yadav commented on #11442
@romani If the PR is [linked to the issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) then also the issue will get automatically closed once PR is merged, so if the issue is referenced somewhere in the codebase and the PR is not fixing it, then it shouldn't be linked to that issue.

[2022-03-20 15:21] rnveach commented on #11427
It may be helpful to know which mutator is the issue as we have added multiple and one line can have multiple mutators involved. In the current example we could be mutating `findFirstToken` or we could be mutating the entire condition to true/false. We may have to look into how we can add this to the report.

[2022-03-20 15:22] rnveach commented on #11344
@romani I believe we merged the version upgrade. Is this issue still valid?

[2022-03-20 15:27] rnveach commented on #11442
It depends on how it is linked. If I say "#Issue" in the PR, then the issue stays open after merge. If I say "Closes #Issue" or "Fixes #Issue" or some other verbiage in the PR, then the issue does close after merge.

1) We may not realize or tag a PR as fixing the issue, even if it does close the issue. I do not use this wording as I think closing the issue should be manual and be verified that it

[2022-03-20 15:43] rnveach commented on #11201
[code]

[2022-03-20 15:58] Vyom-Yadav commented on #11442
Yes, it is possible that new individuals might not be aware of it, we can keep this in consideration while reviewing that the user links the PR to issue (if applicable). I have received those types of comments when I was a newbie.

[2022-03-20 22:30] romani commented on #11344
yes, issue is resolved

[2022-03-20 22:30] #11344 closed

[2022-03-20 23:21] romani opened #11446 "Update Tests to use new verify method that use inlined config in Input files"
Test need to be updated:
AllSinglelineCommentsTest
SuppressionCommentFilterTest
EmptyLineSeparatorCheckTest
SuppressWarningsHolderTest
ImportControlCheckTest
ImportOrderCheckTest
SuppressWithNearbyCommentFilterTest
CommentsIndentationCheckTest
SuppressionFilterTest
WriteTagCheckTest
AbstractJavadocCheckTest

[2022-03-21 02:13] nick-mancuso commented on #11446
I am on it, updating for AllSinglelineCommentsTest

[2022-03-21 05:44] Vyom-Yadav commented on #11438
I am on it.

[2022-03-21 10:41] shashwatj07 commented on #10737
Thanks a lot @Vyom-Yadav

My sincere apologies to @romani and everyone in the Checkstyle community for keeping this hanging. I tried my best to do it, and even did half the work in my local branch but failed to complete it due to personal and family health issues and university things.

[2022-03-21 13:39] ghulamrabbani883 commented on #11446
Can I work on this issue

[2022-03-21 15:26] romani commented on #11446
Will be covered at https://github.com/checkstyle/checkstyle/pull/11408
@Kevin222004, fyi.

[2022-03-21 18:20] EM-Creations commented on #8240
I'm also encountered this issue at work and it's causing a knock-on effect in SonarQube as it's also using checkStyle..

[2022-03-22 01:08] romani commented on #8240
@EM-Creations , please use https://checkstyle.org/config_filefilters.html#BeforeExecutionExclusionFileFilter_Examples to avoid problems with such files.

[2022-03-22 01:39] kvinay7 commented on #7575
Is any one working on this issue ?

[2022-03-22 04:00] Vishakhakumawat commented on #11374
I am on it.

[2022-03-22 04:01] Vyom-Yadav commented on #11374
@Vishakhakumawat Fix has already been done, just pushing to remote is remaining, it is mentiones in issue description

[2022-03-22 05:22] Vyom-Yadav commented on #11439
I am on it.

[2022-03-22 12:15] Vishakhakumawat commented on #11374
Hey can you help me actually I am new to open source and I have just
started so I don't have much idea about the checkstlye project actually
it's very large and I don't know to into which file I need to look in to
find issues .

On Tue, 22 Mar 2022, 9:31 am Vyom Yadav, ***@***.***> wrote:

[2022-03-22 12:24] Vyom-Yadav commented on #11374
https://github.com/checkstyle/checkstyle/wiki/To-GSoC-participant

[2022-03-22 13:04] romani opened #11453 "Error printed in spotbugs output"
build is not failed.

[code]

[2022-03-22 15:19] #11438 closed

[2022-03-22 18:07] romani commented on #7575
Yes

[2022-03-23 05:21] romani commented on #10390
I am closing this issue, we will do final updates at https://github.com/checkstyle/checkstyle/issues/11446

[2022-03-23 05:21] #10390 closed

[2022-03-23 07:12] strkkk opened #11455 "Add support for @snippet javadoc tags"
https://docs.oracle.com/en/java/javase/18/code-snippet/index.html

It is java18 feature. There are interesting things such as attributes and markup comments.

[2022-03-23 11:39] ShubhraSuman commented on #7613
I am on it.

[2022-03-23 16:36] Vyom-Yadav commented on #11439
@romani I need some advice, suppose we have the following inline config
[code]
Now the query line is exceeding the mark of 100, there are two options to fix this-

1. Just add suppression for line length
2. Create some custom logic in parser to handle XPath queries, for eg, it should be able to parse this-
[code]
It can handle multiline XPath queries, we surround the Xpath query by parentheses.

B

[2022-03-23 18:40] ShubhraSuman commented on #7592
Can I start on this one?

[2022-03-24 00:00] rnveach commented on #10828
@romani Should we close this as its been 5 months?

[2022-03-24 03:00] romani commented on #7597
@ShubhraSuman, please help us with this issue

[2022-03-24 03:20] romani commented on #7616
Everyone is welcome to fix this issue.

[2022-03-24 03:21] nick-mancuso commented on #11455
@strkkk @romani we should add some details about what we mean by "support".

Here is what current Javadoc AST looks like with snippet tag:

[code]

By "support", do we mean that `CUSTOM_NAME -> @snippet:` should be something like `SNIPPET_LITERAL -> @snippet:` ?

Also what existing checks would benefit from adding support for the `snippet` tag?

[2022-03-24 03:36] romani commented on #11455
1)Special token
2) attributes https://docs.oracle.com/en/java/javase/18/code-snippet/index.html#attributes

[2022-03-24 03:43] romani commented on #11439
We already support line wrap, see example at long 'token' values.

[2022-03-24 03:45] nick-mancuso commented on #11455
So, we should probably add 5 new tokens:
1. `SNIPPET_LITERAL`
2. "ATTRIBUTES`
3. `HIGHLIGHT_LITERAL`
4. `REPLACE_LITERAL`
5. `END_LITERAL`

[2022-03-24 03:51] romani commented on #11455
Sounds good

[2022-03-24 03:53] #10828 closed

[2022-03-24 04:18] ShubhraSuman commented on #7597
I am on it.

[2022-03-24 06:08] strkkk commented on #11455
May be just make one abstract MARKUP_TAG for all such markup tags instead?

[2022-03-24 08:42] Vyom-Yadav opened #11460 "SuppressionXpathSingleFilter suppresses all violations when used with the default configuration"
I have read check documentation: https://checkstyle.sourceforge.io/config_filters.html#SuppressionXpathSingleFilter
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---

**Describe what you expect in detail.**

The default configuration has all

[2022-03-24 10:04] ricardovogel commented on #11214
I am on FallThroughCheck

[2022-03-24 11:06] ShubhraSuman commented on #7597
@romani I can see PR is already merged for this issue.

[2022-03-24 11:14] ShubhraSuman commented on #7597
If something else is required, can you brief about it.

[2022-03-24 11:49] romani commented on #7597
Ohh, I confirming this, issue is resolved.
Sorry.

[2022-03-24 11:49] #7597 closed

[2022-03-24 12:54] nick-mancuso commented on #11455
This is probably a good idea, it is likely that the number of such tags could be extended in the future. Also: from a static analysis point of view, I do not see a great deal of value in discerning between tags.

[2022-03-24 13:13] nick-mancuso commented on #11427
In the case of `RequireThisCheck`:

Passing `pitest-coding`:
[code]

Failing `pitest-coding`:
[code]

[2022-03-25 04:35] #11439 closed

[2022-03-25 08:05] Vyom-Yadav commented on #11075
@romani @rnveach I did some testing, everything is fine, it is just the way of specifying violation messages that is wrong, suppose we have a violation like-
[code]
Now it is possible that at time the regex characters at the end weren't escaped, or partially escaped which can cause this issue. It can even be caused if you use `\Q` and `\E` in the wrong manner, example-
[code]
Note those extra spac

[2022-03-25 08:37] Vyom-Yadav commented on #11075
On further investigation there is one thing that we should consider, currently the method manually escapes some regex characters-
https://github.com/checkstyle/checkstyle/blob/23b1b29b6a0a865a68f2f29305ddc9709ece2e97/src/test/java/com/puppycrawl/tools/checkstyle/bdd/TestInputViolation.java#L76-L86
`{`, `(` and `)` is manually escaped by this method, if we use `\Q` and `\E` pattern, this can cause

[2022-03-25 09:16] ShubhraSuman commented on #7587
Can I work on this one?

[2022-03-25 14:37] Rahulkhinchi03 commented on #4121
@rnveach

### `INSTANCE_INIT`

When I ran google config on:
[code]
![Untitled](https://user-images.githubusercontent.com/71710042/160141127-a948b7c4-66fd-4478-b3ba-2b69a0dd67b1.png)

And as per the google guide:
`**Exception: In places where these rules allow a single statement ending with a semicolon (;), a block of statements can appear, and the opening brace of this block is preceded by a line

[2022-03-25 15:24] romani commented on #11075
Thanks a lot for investigation and clear explanation!

I think we should NOT to use heavy regexp in message at all, `.*` should be our most used regexp.

So better to auto escape some characters to ease reading.
May be one day, we will remove regexp and use wildcard symbols only to make it clear to user that crazy regexp is not allowed by design.

No need to do anything now, life will show us what

[2022-03-25 15:36] romani commented on #7587
You can work on all issues that does not have comment "I am in it" from some other people.

Please do not comment on a few issues. Choose one and focus on it , do not block others to pickup issue.

[2022-03-25 18:48] tfij commented on #11340
Hi, is there anything I can do to help make the decision?
I hope it will be the approval of this proposal :)

[2022-03-25 22:44] rnveach commented on #11427
It is not a constant issue. We would have to examine the bytecode between the failing and passing pitest. Pitest only deals with the bytecode, so it could be specific bytecode being generated that is the reason for the failures.

[2022-03-26 02:29] romani commented on #11427
Does anybody can reproduce this on local ? If not, it might be jdk specific issue and we can try to use container with different jdk.

[2022-03-26 05:17] romani commented on #4121
Please use our CLI and issue template to show how validation is happening now and how it should be.

[2022-03-27 03:26] justdoit254 commented on #7582
Please accept my apologies for the incomplete commit. Due to personal reasons, I could not actively contribute. However, I hope to contribute more in the future.

[2022-03-27 14:58] romani commented on #11453
still issue , noted during release build

[2022-03-27 15:10] nick-mancuso opened #11474 "Update doc for MethodLength"
https://checkstyle.org/config_sizes.html#MethodLength

Add example for each existing config to show what code is ok and what code cause violation.

A good example is https://checkstyle.org/config_naming.html#AbstractClassName.

Look at referenced commits of https://github.com/checkstyle/checkstyle/issues/5832, to see what and how should be changed in code.

Please play with module/check by means o

[2022-03-27 15:14] pbludov opened #11475 "Unit tests for Checkstyle GUI components"
## Issue
Checkstyle has minimalist graphical interface, used by developers for troubleshooting and research purpose.
This feature is not important, and has no much support. There is no tests for GUI in Checkstyle (except for the model).
And there is a reason for this. GUI tests require a physical display and exclusive access to input interfaces.
As a result, it is possible to break the GUI after s

[2022-03-27 15:15] nick-mancuso commented on #11474
We should show in new examples that both block and single line comments are not counted in length of method when `countEmpty` is false.

[2022-03-27 15:26] romani opened #11476 "Release notes mention breacking compatibility from previos version"
https://cloud.drone.io/checkstyle/checkstyle/9439/4/3

we just did minor update as leftover to braking changes in previos release, but release note generator made it as primary update.

[2022-03-27 16:15] Rahulkhinchi03 commented on #11178
@romani @rnveach if you can share some more details about this issue then I can try to resolve this issue.

[2022-03-27 17:17] romani commented on #11166
I pretty sure we need individual issue for each Check, updates are not simple and there might be breaking changes or kind of new functionality

[2022-03-27 22:04] romani commented on #11178
I see this issue as done for renaming
https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle/grammar files are renamed.

before we enorce limit of files for ExpectedXxxxx and other files lest finish https://github.com/checkstyle/checkstyle/issues/11163 first.

[2022-03-27 22:06] romani commented on #11163
@Rahulkhinchi03 , please help with this issue , it is easy, just split Input files into two or few and remove suppression.

[2022-03-28 03:42] Rahulkhinchi03 commented on #11163
@romani Before Starting I need to confirm a few things:

1. I have to limit Input files with 120 lines max + remove suppression for a single check input file and divide the big input files into two to more.
2. I have to update the UTs for the same.

Any other thing to include in PR?

[2022-03-28 04:10] romani commented on #11163
Yes, simple update, but would require attention to details and understanding how Check works.

[2022-03-28 07:06] ndimiduk commented on #8881
I think this is done with with `LeftCurly` option `nlow`.

[2022-03-28 07:06] #8881 closed

[2022-03-28 13:38] Kevin222004 commented on #11446
@Rahulkhinchi03  Please give a look to this

It will be covering at #11408 it has been already mentioned by @romani , in conversation

[2022-03-28 13:44] Rahulkhinchi03 commented on #11446
@Kevin222004  It was my mistake to open a PR on that. I am closing the PR. Thank you!

[2022-03-28 14:50] Rahulkhinchi03 commented on #11163
@romani The file `InputJavaDocStyle1 ` has 400 lines of code and It has to be divided into 4 different input files.

Can you help me in Naming the Files?
PS: We can't do InputJavaDocStyle2, InputJavaDocStyle3 as we have a total of 10 files which have to be distributed into 40 files.

[2022-03-28 15:33] romani commented on #11163
Please use numbers, I have no better naming model

[2022-03-28 21:21] strkkk commented on #11166
@Kevin222004 I would say it is better to pick up some other issue (with gsoc label), this changed are not easy for new contributors.

[2022-03-28 22:46] EM-Creations commented on #8240
Hi, that's what I've done but it's not really a fix, it's a work-a-round. The issue still remains in CheckStyle that it doesn't recognise valid Java 9 syntax which was released almost 5 years ago now.

[2022-03-29 03:14] romani commented on #8240
Wow it is part of Java language https://docs.oracle.com/javase/specs/jls/se9/html/jls-7.html#jls-7.7

[2022-03-29 07:32] Binita-tech commented on #11214
I am on RedundantImportCheck

[2022-03-29 11:34] ShubhraSuman commented on #7613
Do I need to write example for both properties or one is fine? Since both of them have same default values.

name	                                                            description	                                  type	default value
- format	                                        Specify pattern for exception class names. Pattern "^.*Exception$|^.*Error$|^.*Throwable$"
- extendedClassNameFo

[2022-03-29 12:26] romani commented on #7613
For both, and both should have custom values (not defaults)

[2022-03-29 13:06] Kevin222004 commented on #11214
I am on  MethodParamPadCheck

[2022-03-30 03:41] romani commented on #11214
Please create new collection
`private static final Set<String> Permanent _SUPPRESSED_CHECK`

And place this check in that collection.
Put comment above it that "inlined config is not supported for non java files."

Remove this check from SUPPRESSED_CHECK.

[2022-03-30 10:31] turbanoff opened #11489 "WhitespaceAfter should support LITERAL_TRY token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-03-30 13:21] romani commented on #11489
@Rahulkhinchi03 , can you help wit this issue ?

[2022-03-31 00:58] rnveach commented on #11427
Just a note on expanding pitest reporting, pitest does support other formats besides HTML if the HTML parsing is blocking us. Pitest also supports XML and CSV. Looking at the XML format though and it does not provide a snippet of the source code similar to the HTML and our current reporting.

[2022-03-31 08:52] AbhinavRajputEXE commented on #11214
I'm on UniquePropertiesCheck

[2022-03-31 16:00] Kevin222004 commented on #11446
@romani  ping,

  please let me know if I am wrong

[2022-03-31 16:13] romani commented on #11446
Yes it should be updated to use execute method

[2022-04-01 02:54] romani commented on #11340
@tfij, can I ask you to help :
We need to review all Checks that has same property and list all of them, and we need to choose a good name from existing or just new.

For now I think we should name it like: ignoreAnnothedBy or something similar. We should avoid usage of "method" or similar words to let it be used for any Check target.

Can we also analyze what Checks are highly likely to have such

[2022-04-01 09:28] turbanoff commented on #11489
BTW, there are 3 more keywords left, which I think make sense to support:
1. `LITERAL_FINALLY`
2. `LITERAL_SYNCHRONIZED`
3. `LITERAL_YIELD`

Should I create a separate feature request for each of them?

[2022-04-01 09:49] strkkk commented on #11489
@turbanoff yes

[2022-04-01 11:55] turbanoff opened #11493 "WhitespaceAfter should support LITERAL_FINALLY token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-04-01 11:59] turbanoff opened #11494 "WhitespaceAfter should support LITERAL_SYNCHRONIZED token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-04-01 16:51] Rahulkhinchi03 commented on #11493
I am on it

[2022-04-01 19:34] romani commented on #11494
Yes

[2022-04-02 03:56] #11442 closed

[2022-04-02 14:50] adekzs commented on #11474
Can I work on this

[2022-04-02 14:55] nick-mancuso commented on #11489
@turbanoff what do you think about `LITERAL_CATCH`?

[2022-04-02 14:57] nick-mancuso commented on #11474
Sure, please leave a comment "I am on it", and send PR. Pay special attention to comment at https://github.com/checkstyle/checkstyle/issues/11474#issuecomment-1079951359 pertaining to changes made at https://github.com/checkstyle/checkstyle/pull/11312

[2022-04-02 15:14] turbanoff opened #11498 "WhitespaceAfter should support LITERAL_CATCH token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-04-02 15:22] adekzs commented on #11474
I am on it

[2022-04-02 16:25] Binita-tech commented on #11498
I am on it.

[2022-04-02 20:04] romani commented on #11475
@pbludov , I presume we need to keep this issue to remove all excludes on gui classes.

Better to create new issue with more details on how exactly do updates what is left to fo

[2022-04-02 20:11] #11475 closed

[2022-04-02 20:16] pbludov commented on #11475
Nick is working on #11482 right now. We should merge it. Then it will be possible to calculate the coverage %.

[2022-04-02 22:30] AbhinavRajputEXE commented on #6207
I'm on ThrowsCount

[2022-04-03 08:32] Vyom-Yadav commented on #11446
@romani Why does `execute` use the traditional way of building configurations and not the parser? If the reason behind it is that it traverses all the lines in the file to `setViolations` then a execute method could be made that just set the configuration using the input file and parser and does not set violations.

[2022-04-03 10:32] nick-mancuso commented on #11446
The “check” that I created it for was not a real check, we just needed to execute a fake check with no properties on code to count lines. We should not use this method for real checks, IMO.

https://github.com/checkstyle/checkstyle/pull/11447

[2022-04-03 12:19] stechio opened #11504 "SuppressionCommentFilter: offComment should be included in the suppression (Eclipse formatter tags case)"
Check documentation: https://checkstyle.org/config_filters.html#SuppressionCommentFilter

[code]

---

EXPECTED BEHAVIOR
Using Eclipse's `@formatter` tags to disable formatting of certain code portions, I have the habit of keeping their respective comments at indentation level zero, much like C-preprocessor directives, to stick out of the actual code (instead of aligning to the current indentation

[2022-04-03 13:14] romani commented on #11446
loading of config from Input file very helpful when we do violations in such Input file, so we review config and violations in same place.
In case of test that expect exceptions in initialization or some test that not about functional behavior of test but about following of 100% coverage of tests - we do not need new approach.

[2022-04-03 13:18] romani commented on #11504
Looks like valid issue.

@rnveach , please confirm.

[2022-04-03 13:19] Vyom-Yadav commented on #11446
https://github.com/checkstyle/checkstyle/blob/df7b87d0d6db79cddbd8ed9da07d8815b8205d4b/src/test/java/com/puppycrawl/tools/checkstyle/checks/imports/ImportOrderCheckTest.java#L514-L534
@Kevin222004 `InputImportOrder5.java` is a present under non-compilable resources, please use `getNonCompilablePath("InputImportOrder5.java")` and send a minor fix.

[2022-04-03 13:32] nick-mancuso commented on #11489
@turbanoff do you plan to create an issue for `LITERAL_YIELD` as well?

[2022-04-03 13:42] #11489 closed

[2022-04-03 13:42] romani commented on #11489
fix is merged

[2022-04-03 16:06] #9004 closed

[2022-04-03 16:06] rnveach commented on #9004
Fixed was merged

[2022-04-03 18:06] stechio commented on #6694
Since today I stumbled upon this problem, I thought to report my test case to revive this 3-year-old issue.

NOTE: despite abbreviations here below are obfuscated into abstract alphanumeric sequences, my test case represents a real-world use case, NOT a theoretical edge case.

---

Check documentation: https://checkstyle.org/config_naming.html#AbbreviationAsWordInName

[code]

---

To my understan

[2022-04-03 22:59] rnveach opened #11506 "Can't extend configuration to files without an Extension with Extensions already listed"
[code]

I am expecting 2 errors and not just one.

I cannot figure out to extend the file extensions list to either include or specify only files with no extensions. I would like to add some checks to this type of file in a current configuration without having to create a brand new one. I thought the double `, ,` might won't but it doesn't.

The file in my case is a Jenkins build file and my setup

[2022-04-04 06:30] strkkk opened #11507 "Add new AbstractCheck#getFileName method in api"
As a part of FileContents#inPackageInfo deprecation in #11166, we need a new method in api to get file name.

[2022-04-04 10:36] turbanoff opened #11508 "WhitespaceAfter should support LITERAL_YIELD token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-04-04 11:20] Binita-tech commented on #11508
I am on it.

[2022-04-04 12:54] nick-mancuso commented on #11506
This is from Checkstyle adding `.` numerous times:

https://github.com/checkstyle/checkstyle/blob/a8ac66635e2c5a0eb70d32b4e88d0715addfb04c/src/main/java/com/puppycrawl/tools/checkstyle/Checker.java#L547-L557

https://github.com/checkstyle/checkstyle/blob/a8ac66635e2c5a0eb70d32b4e88d0715addfb04c/src/main/java/com/puppycrawl/tools/checkstyle/utils/CommonUtil.java#L114-L130

And also from the way tha

[2022-04-04 17:10] rnveach commented on #11507
Are we going to need more for some of the other uses like `getFilePath` as an example?

[2022-04-05 01:25] TheTrailblazer09 commented on #11476
I am on it

[2022-04-05 01:41] nick-mancuso commented on #11476
@TheTrailblazer09 this issue is not approved, please select another issue to work on until we work out details and add approved label.

[2022-04-05 03:36] romani commented on #11507
@strkkk , it makes sense to give whole path to file rather than just file name. What do you think about this?

[2022-04-05 05:59] strkkk commented on #11507
@romani @rnveach  this method already returns full path to file.

May be name `getFileName` is a bit misleading, in this case it can be renamed to `getFilePath`

[2022-04-05 14:43] Rahulkhinchi03 commented on #11446
I am on SuppressWithNearbyCommentFilterTest

[2022-04-05 15:22] romani commented on #11507
Yes, please

[2022-04-05 15:26] romani commented on #11506
File extension is habit of Windows users. If we want to fix it better way it might be good to give regexp to full path to let user do all they want.

[2022-04-05 18:25] pbludov opened #11514 "Improve code coverage for GUI classes"
Current coverage:

| Class | Coverage |
| :------- | :-----------: |
| BaseCellEditor | 8% |
| TreeTable.TreeTableCellEditor | 8% |
| TreeTableCellRenderer | 35% |
| TreeTable | 89% |
| ListToTreeSelectionModelWrapper | 63% |
| ParseTreeTableModel | 80% |
| TreeTableModelAdapter | 56% |
| CodeSelector | 80% |
| TreeTableModelAdapter.UpdatingTreeModelListener | 60% |

The goal is 100% code coverage

[2022-04-05 18:26] pbludov commented on #11475
Continuation of this issue will be done in #11514

[2022-04-05 19:08] #11493 closed

[2022-04-05 19:09] pbludov commented on #11493
Fix is merged.

[2022-04-06 02:09] romani commented on #11514
@pbludov, we need to enforce current coverage number, to make sure CI will not allow going down.
Human can not track this.

[2022-04-06 05:17] #10889 closed

[2022-04-06 05:17] romani commented on #10889
Fix is merged

[2022-04-06 05:33] shafemoh opened #11516 "Is Checkstyle plugin for Sonarqube affected by Spring4Shell vulnerability (CVE-2022-22965)"
Hi,
We are using Checkstyle plugin (v9.2) for Sonarqube EE (v9.2.4) but we would need your confirmation whether Checkstyle plugin has got any impact due to security vulnerability - CVE-2022-22965 (Spring4Shell)?

Regards,
@shafemoh

[2022-04-06 13:45] romani commented on #11516
There is no dependency to Spring in Checkstyle.

[2022-04-06 13:45] #11516 closed

[2022-04-06 14:56] Rahulkhinchi03 commented on #11440
@romani do we have to use the same check for `XpathFilterElementTest `  that we used for SuppressionXpathSingleFilterTest?
i.e.
`MagicNumberCheck, MissingJavadocTypeCheck, TypeNameCheck`

[2022-04-06 15:06] Bananeweizen commented on #11432
I don't get what you want from me. This is not a bug report for a checkstyle check, so there is nothing to reproduce. The documentation for that check is wrong.

[2022-04-06 15:14] nick-mancuso commented on #11432
This sounds like a bug report for our documentation, so it would be good for maintainers and contributors to see actual check behavior with given configs vs the current documentation.

Example of actual check behavior vs what the current documentation states, following our bug report template. It is always possible that there is a bug in our check, too :) It is important to make sure that expectat

[2022-04-06 15:16] romani commented on #11432
@Bananeweizen,

Please prove that Check behave not as described in documentation by our CLI

[2022-04-06 15:18] romani commented on #11440
We do not have to use same Check. Any easy to use Check is fine.

[2022-04-06 15:34] Rahulkhinchi03 commented on #11440
can we use `ConstantName `and `MemberName `Checks?

[2022-04-07 04:52] shafemoh commented on #11516
Thanks for confirming @romani. :)

[2022-04-07 18:50] franciscolimazup commented on #2873
@sanyarnd and @svbrunov , the solution didn't work for me! When I place the `<configuration>` inside an `<execution>` it just ignores the configuration and uses the default settings. The configuration is considered only when it's placed outside `<executions>` tag.
I think this problem is related to the support of multiple executions or multiple configs.

[2022-04-08 03:06] nick-mancuso opened #11522 "`checkstyle_checks.xml` should not allow single letter variable names in for loops"
Noticed at https://github.com/checkstyle/checkstyle/pull/11371#pullrequestreview-932821582:

https://github.com/checkstyle/checkstyle/blob/c1c41d49ca6829df3c0dcf3e8ca980838c8ef0bf/config/checkstyle_checks.xml#L758-L761

Right now, we have `allowOneCharVarInForLoop` property set to `true`, which allows for single letter variable names. For readability, we should enforce the same naming conventions

[2022-04-08 04:04] romani commented on #11522
Example of violation see in CI failures https://github.com/checkstyle/checkstyle/pull/11521#pullrequestreview-935864566

[2022-04-08 13:01] #11498 closed

[2022-04-08 13:02] romani commented on #11498
Fix is merged

[2022-04-08 13:35] romani commented on #11340
one more example how annotation make false positive for static analisys - https://github.com/checkstyle/checkstyle/pull/11481
pmd using property `ignoredAnnotations`

[2022-04-09 04:39] Kevin222004 commented on #11343
can i start work on this issue ?

[2022-04-09 05:35] #11494 closed

[2022-04-09 07:59] strkkk commented on #11343
@Kevin222004 yes

[2022-04-09 09:34] Shaman20 commented on #11474
Can I work on this issue?

[2022-04-09 09:37] Shaman20 commented on #7662
Can I work on this issue?

[2022-04-09 13:06] romani commented on #11474
No, there is already PR for this issue Issue https://github.com/checkstyle/checkstyle/pull/11523

[2022-04-09 13:06] romani commented on #7662
Yes, please send Pull-request

[2022-04-09 13:26] Shaman20 commented on #7662
Hey I'm a beginner and I understood what I need to do but could you please point me to an example. And should I send PR before fixing the issue or after. I know it's a stupid question but kindly bear with me.
Thank you.

[2022-04-09 14:23] romani opened #11527 "Extend TokenUtils.isOfType with more overloaded method inprove performance"
detected at https://github.com/checkstyle/checkstyle/pull/11371#discussion_r830507927

apply patch:
[code]

fix coverage:
![image](https://user-images.githubusercontent.com/812984/162578258-2b335a39-a042-49cc-b068-d7324f13671c.png)

[2022-04-09 14:34] romani commented on #7662
please read PR description and all links under it, it has all details and links to examples. if you need more search for issues "update doc for" and you will find numerous examples.

[2022-04-09 14:46] romani opened #11528 "Split pitest-coding execution into two executions and investigate instability"
pitest-coding is running too long in comparison to other and fails too often

we need stabilize it and make it quicker to execute.

I am open to any solutions.

related to https://github.com/checkstyle/checkstyle/issues/11427

[2022-04-09 14:47] romani commented on #11528
@Vyom-Yadav , can you help us with this ?

[2022-04-09 15:07] Vyom-Yadav commented on #11528
@romani Sure, I am on it.

[2022-04-09 16:12] rnveach commented on #11506
I don't have a specific preference, but regular expression does not let users do whatever they want. Negative expression regular expressions are not always the easiest to make, and sometimes become complicated between and/or and such.

In my case, I just want to be able to say this config should include files with no extension.

[2022-04-09 16:23] Rahulkhinchi03 commented on #11522
@nick-mancuso @romani
We juyst need to set `allowOneCharVarInForLoop` to `false`  and change `i`  to `index` right?

[2022-04-09 16:26] rnveach commented on #11522
There is already a PR to do this.
https://github.com/checkstyle/checkstyle/pull/11524/commits

Violations need to be fixed. If name is `i` and is used as an index, then that change would be valid. This fix depends on the context of the code.
Suppressions in the config attached to this issue need to be removed to show the issue is fixed.

[2022-04-09 16:28] Rahulkhinchi03 commented on #11522
Okay, thanks for the information!

[2022-04-09 16:39] romani commented on #11370
Fix is merged

[2022-04-09 16:39] #11370 closed

[2022-04-10 03:38] Shaman20 commented on #7662
mvn -e  clean verify
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] Inspecting build with total of 1 modules...
[INFO] Installing Nexus Staging features:
[INFO]   ... total of 1 executions of maven-deploy-plugin replaced with nexus-staging-maven-plugin
[INFO]
[INFO] ------------------< com.puppycrawl.tools:checkstyle >-------------------
[INFO] Building checkstyle 1

[2022-04-10 03:38] Shaman20 commented on #7662
I got this message when I ran mvn clean verify cmd after editing the xml file. Please help

[2022-04-10 03:44] romani commented on #7662
Can you read this? And follow what is requested

[2022-04-10 03:47] Shaman20 commented on #7662
Yes. Thank you

[2022-04-10 04:21] Shaman20 commented on #7662
mvn -e clean verify
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] Inspecting build with total of 1 modules...
[INFO] Installing Nexus Staging features:
[INFO]   ... total of 1 executions of maven-deploy-plugin replaced with nexus-staging-maven-plugin
[INFO]
[INFO] ------------------< com.puppycrawl.tools:checkstyle >-------------------
[INFO] Building checkstyle 10

[2022-04-10 04:22] Shaman20 commented on #7662
This compilation error is shown in XdocsJavaDocsTest.java file.

[2022-04-10 07:09] strkkk opened #11531 "Fix methods for package-info file check"
Current implementation of FileContents looks like
https://github.com/checkstyle/checkstyle/blob/5df2e3fdceabef4c8d269bac18e982ad11f4779d/src/main/java/com/puppycrawl/tools/checkstyle/api/FileContents.java#L332-L334

It will return true on inputs like `some-package-info.java`

It should be fixed. Also after https://github.com/checkstyle/checkstyle/pull/11502 replacement method CheckUtil#isPackageIn

[2022-04-10 07:46] Rahulkhinchi03 commented on #3511
@romani @rnveach @strkkk
If we move `anoninner `  in Scope then it causes an error of:
`'isIn(com.puppycrawl.tools.checkstyle.api.AccessModifier)' in 'com.puppycrawl.tools.checkstyle.api.AccessModifier' cannot be applied to '(com.puppycrawl.tools.checkstyle.Scope)'`

[code]

[2022-04-10 08:07] strkkk commented on #11522
Fix is merged

[2022-04-10 08:11] Shaman20 commented on #7662
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.913 s <<< FAILURE! - in com.puppycrawl.tools.checkstyle.internal.XdocsJavaDocsTest
[ERROR] testAllCheckSectionJavaDocs  Time elapsed: 1.912 s  <<< ERROR!
java.lang.Error: Error was thrown while processing src\main\java\com\puppycrawl\tools\checkstyle\checks\coding\SuperFinalizeCheck.java
        at com.puppycrawl.tools.check

[2022-04-10 08:12] Shaman20 commented on #7662
Could you please tell me how to resolve this error?.
Thank you

[2022-04-10 08:23] strkkk commented on #3511
@Rahulkhinchi03 it is not clear what you are asking about. Can you demonstrate the problem in your PR?

[2022-04-10 10:30] Rahulkhinchi03 commented on #8151
I am on XpathRegressionUpperEllTest

[2022-04-10 10:35] Rahulkhinchi03 commented on #8151
@romani @strkkk @rnveach
 `XpathRegressionNestedIfDepthTest` and  `XpathRegressionNestedForDepthTest` are already done. Please mark them done in PR description.

[2022-04-10 14:35] Rahulkhinchi03 commented on #5337
@rnveach is this issue still valid?

[2022-04-10 14:36] rnveach commented on #5337
Nothing has been said that would say otherwise.

[2022-04-10 14:59] Rahulkhinchi03 commented on #5337
I would like to try this issue. Can you please help in understanding how to mark this API as deprecated? Just a @deprecated works?

[2022-04-10 16:55] Rahulkhinchi03 commented on #4845
@romani @rnveach We need to add https://github.com/checkstyle/checkstyle/issues/4845#issuecomment-1065919289 and then work with one check/PR right?

[2022-04-10 20:55] romani commented on #5337
take a look at jacoco config in pom.xml, we have ability to exclude class from code coverage, we do not need to test something that use to work well and now become deprecated.

[2022-04-10 21:11] rnveach commented on #5337
@Rahulkhinchi03 This issue should be very similar to https://github.com/checkstyle/checkstyle/issues/2551 . Both renamed classes to others and marked them as deprecated and were eventually removed.

[2022-04-11 02:52] Kevin222004 commented on #7576
@romani It has been almost 1 month @KishkinJ10 has not send any pr
 should I start work on this issue

[2022-04-11 04:39] romani commented on #7576
Yes please

[2022-04-11 11:14] turbanoff opened #11536 "WhitespaceAfter should support LITERAL_RETURN token"
https://checkstyle.org/config_whitespace.html#WhitespaceAfter

I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
It would be nice if checkstyle could detect miss

[2022-04-11 12:15] stechio opened #11537 "Missing default value on custom module property values with property expansion"
Check documentation:
- https://checkstyle.sourceforge.io/config.html#Properties
- https://checkstyle.sourceforge.io/config_naming.html#TypeName

[code]

---

CURRENT BEHAVIOR

As I wanted to reuse the configuration document (checkstyle.xml) across my projects, I decided to expose custom properties like `checkstyle.typename.format` to decouple the (centralized) configuration document from its (dece

[2022-04-11 15:54] romani commented on #11537
There might be some confusion of:
1) default value of Check property if property not mentioned at all
2) custom/user's default value in config if property is mentioned but actual value is missing due to variable evaluation.

"1)" is for default values that we mentioning in our documentation.

"2)" is for situation when Check default is not good for user and he override it with some value, in addit

[2022-04-11 16:17] Shaman20 commented on #7662
[INFO] Running com.puppycrawl.tools.checkstyle.meta.MetadataGeneratorUtilTest
[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 26.385 s <<< FAILURE! - in com.puppycrawl.tools.checkstyle.meta.MetadataGeneratorUtilTest
[ERROR] testMetadataFilesGenerationAllFiles{Capturable}  Time elapsed: 26.384 s  <<< FAILURE!
com.google.common.truth.AssertionErrorWithFacts:
Expected and actu

[2022-04-11 16:17] Shaman20 commented on #7662
Hey got this error when I ran mvn clean verify. I do not know what's wrong please help

[2022-04-11 17:48] Rahulkhinchi03 commented on #11536
I am on it

[2022-04-11 20:12] peterdemaeyer commented on #11286
In the meantime I've also completed my `StrictEmptyLineSeparatorCheck` (modulo the documentation), which has less than half of the LOC (and less general complexity) compared to the `EmptyLineSeparatorCheck`, and is more powerful. I haven't created a PR yet, but in my mind it would be the ultimate replacement for the current check. I've updated my comment of 20 Feb with the current implementation.

[2022-04-12 06:28] strkkk commented on #11474
fix is merged

[2022-04-12 06:28] #11474 closed

[2022-04-12 06:49] stechio commented on #11537
Yes, exactly. In case of Check override, its `default` attribute should be inherited from the corresponding property's predefined `default` attribute.

[2022-04-12 08:19] stechio commented on #11537
BTW, this flaw affects also properties with _empty_ predefined `default` attribute, such as [`AbbreviationAsWordInName.allowedAbbreviations`](https://checkstyle.sourceforge.io/config_naming.html#AbbreviationAsWordInName): because of the lack of inheritance, users are forced to initialize the expandable property even if it's still empty!

[code]

[2022-04-12 15:29] romani commented on #7417
@DanySK, please try to use same version of plugins in your courses. Maintainers spend a lot of time to have plugin version for each version of library.
We are changing not only configuration but behavior too, so different versions of library might give different violations.
Our release notes are always correct and shows breaking changes https://checkstyle.org/releasenotes.html

As we are library,

[2022-04-12 15:44] DanySK commented on #7417
@romani you are right, but, unfortunately, I've got limited control over what bachelor students install on their own PCs, and very little over what technicians prepare for us in the labs as well. They do pull stuff from the Eclipse Marketplace, so it is up to me to try to cope with multiple versions (ideally, by providing a conf file that works throughout the latest year or so releases).

The chan

[2022-04-12 15:52] rnveach commented on #11507
Fix was merged

[2022-04-12 17:25] Rahulkhinchi03 commented on #11527
I am on it

[2022-04-12 18:15] pbludov commented on #5439
There are several nuances here:

* Check should (optionally?) ignore empty blocks (code block with some whitespace between).

[code]

* A style may require the blank line for some tokens, but forbid for other. For example, Checkstyle itself uses sparse types, but compact methods:

[code]

The advantage of this style is that looking at the closing brackets at the end of the file, you can understand

[2022-04-12 21:00] Kevin222004 commented on #11343
Maintainer it is request to you that it may be delay more to make a pull request My university  examination is starting
sorry for  inconsistency

[2022-04-12 21:38] geofflangenderfer commented on #5575
@thehcma or @rnveach could you give a minimal example? I'm struggling with this

[2022-04-13 01:14] romani commented on #5575
Is https://checkstyle.org/config_filters.html#SuppressionCommentFilter_Examples not enough ?

[2022-04-13 15:34] Kevin222004 commented on #7576
@romani I am not getting what exact violation is I have run the CLI tools with this config file and I am getting Audit done in every code example without any error
<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">

    <module n

[2022-04-13 18:25] kaungmyat-htet commented on #11214
I am on LeftCurlyCheck

[2022-04-14 11:42] adinayyu commented on #11531
I am adithya from India and as part of gsoc 2022 i want to work on open jdk code convention coverage or reconcile formatters of ides project. I want to work on this issue to contribute to checkstyle. How to work on this issue and this is my first issue

[2022-04-14 13:14] romani commented on #11531
Please read https://github.com/checkstyle/checkstyle/wiki/To-GSoC-participant attentively, first, second, third issues are mandatory to fix first.

[2022-04-14 13:48] adinayyu commented on #7619
I am adithya from India and as part of gsoc 2022 i want to work on open jdk code convention coverage or reconcile formatters of ides project. I want to work on this issue to contribute to checkstyle. How to work on this issue and this is my first issue

[2022-04-14 16:16] adinayyu commented on #11531
Thanks for clarification sir

[2022-04-14 20:48] Rahulkhinchi03 commented on #5573
@romani @rnveach Please close this issue if the fix is invalid as discussed here: https://github.com/checkstyle/checkstyle/issues/5573#issuecomment-727287740

[2022-04-15 03:43] romani commented on #7619
Read issue description

[2022-04-15 04:44] romani commented on #11340
All Checks, any readable format, to see what we have already

[2022-04-15 11:54] nick-mancuso commented on #10924
@MUzairS15 ping

[2022-04-16 14:09] Vyom-Yadav commented on #9999
@romani @nick-mancuso This was addressed by #11398. Please close this issue.

[2022-04-16 14:42] nick-mancuso commented on #9999
@Vyom-Yadav please show proof via CLI output using exact example from issue description.

[2022-04-16 16:38] tfij commented on #11340
@romani
This is a list of all checks with all not static fields (type and name).
https://gist.github.com/tfij/58f1b0e1e5e6e15c0a3730f46872762e
Hope it will be useful. Reach out if you need any other data.

[2022-04-17 01:13] rnveach commented on #11453
Issue still valid.

[2022-04-17 04:55] Vyom-Yadav commented on #9999
`config.xml`
[code]
`Test.java`
[code]
[code]

[2022-04-17 08:05] pbludov commented on #11453
More details: the root case is the method `com.puppycrawl.tools.checkstyle.grammar.javadoc.JavadocParser.TextContext#accept` generated by ANTLR
[code]

[2022-04-17 08:15] pbludov commented on #11453
I'm trying to set up minimal repro and found another (maybe unrelated) issue.
Anyway, there is something uncovered between CAST and RET in the Spotbugs code.

[2022-04-17 18:22] romani commented on #9999
Check does ignorance of packages and imports https://checkstyle.org/config_sizes.html#LineLength_Properties

Default value is set like this to keep compatibility. If user wants to be more strict, he needs to update config  with `<property name="ignorePattern" value="^$"/>`, see example above.

[2022-04-17 18:22] #9999 closed

[2022-04-18 08:34] Rahulkhinchi03 commented on #8151
@romani @strkkk  These are already done issues. Please mark them DONE in PR DESCRIPTION

[code]

[2022-04-18 09:29] Rahulkhinchi03 commented on #8151
How do we resolve it if we have no violation number: Is it a new issue or do we have a solution for it.

Error message at position 0 of 'expected' does not match actual message
expected: …onJavadocStyle.java:10:5: First sentence should end with a period.
but was: …onJavadocStyle.`java:9:` First sentence should end with a period.

INPUT FILE:
[code]

[2022-04-18 15:20] pbludov commented on #11453
Finally got a repro: https://github.com/spotbugs/spotbugs/issues/2019

[2022-04-18 17:21] romani commented on #8151
No column looks like defect, please show by CLI what is output on this input

[2022-04-18 17:25] Rahulkhinchi03 commented on #8151
![fgsdf](https://user-images.githubusercontent.com/71710042/163847303-cc7f4a74-e756-48da-8906-d5ec064a529e.png)

[2022-04-18 19:40] Rahulkhinchi03 commented on #8151
![rgh](https://user-images.githubusercontent.com/71710042/163866389-357c83d6-22eb-48fc-9ef3-02784b01aaa2.png)

[2022-04-18 19:45] #11536 closed

[2022-04-18 19:45] strkkk commented on #11536
fix is merged

[2022-04-18 19:51] rnveach commented on #11453
@pbludov Unrelated to the issue, but how did you print the bytecode for the issue you made in spotbugs?

[2022-04-18 20:54] Omar-Khas commented on #7624
I am on it

[2022-04-19 04:08] romani commented on #8151
Please create separate issue on this check to report violation on AST element (line and column), it might take a bit more effort than test creation.

[2022-04-19 08:11] Rahulkhinchi03 opened #11549 "JavadocStyleCheck should report violation on AST element (line and column)"
I have read check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#JavadocStyle
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

Found this issue when trying to resolve #8151

[code]

**Describe what you expect in detail.**

---
Th

[2022-04-19 10:21] pbludov commented on #11453
I used two commands to prepare the repro:
[code]
Option `-g` is important here. The built class can be analyzed with Spotbugs.

[code]
To produce the bytecode dump. But the bytecode for the Spotbugs issue was created with IDEA. There is option "Show bytecode" in the "View" menu. See [this topic](https://www.jetbrains.com/help/idea/decompiler.html#show-bytecode) for more information.

[2022-04-19 10:33] nick-mancuso commented on #11549
Your expectation is not clear.

Please clarify your expectation, and add line comments to show where violation is now, and where it should be.

[2022-04-19 10:36] Rahulkhinchi03 commented on #11549
Updated the comment. Please check now.

[2022-04-19 10:42] nick-mancuso commented on #11549
Punctuation is part of this check, and the Javadoc starting on line 9 has a description that does not end with a period . So I would expect a violation for the given input.

[2022-04-19 10:48] Rahulkhinchi03 commented on #11549
`java:9: First sentence should end with a period. [JavadocStyle]`

@nick-mancuso It doesn't provide the column number. How can we resolve that?

[2022-04-19 10:55] nick-mancuso commented on #11549
Please add line comments to your example like this:

[code]

And remove any expectation of no violations in this file.

[2022-04-19 11:14] Rahulkhinchi03 commented on #11549
Changes Done

[2022-04-19 11:15] nick-mancuso commented on #11549
Remove line numbers for easy copy/paste.

[2022-04-19 11:20] Rahulkhinchi03 commented on #11549
Changes Done

[2022-04-19 11:42] Vyom-Yadav commented on #11427
For `EqualsAvoidNullCheck.java.html:<td class='covered'><pre><span class='survived'> if (field.findFirstToken(TokenTypes.IDENT) != null) {</span></pre></td></tr>` it is [REMOVE_CONDITIONALS](https://pitest.org/quickstart/mutators/#REMOVE_CONDITIONALS), it changed the condition to `true` and the mutation survived.

This mutation might not be associated with the JDK version, the method-
[code]
adds

[2022-04-19 13:00] romani opened #11554 "Add 'git diff' validation after execution of verify phase to Azure"
detected at https://github.com/checkstyle/checkstyle/pull/11553

This is how it done in Travis:
https://github.com/checkstyle/checkstyle/blob/b09a9ce9d4f48c179f3d5647b6656e5737462656/.travis.yml#L127

we need to move this shell method to validation.sh as it become not specific to Travis and execute it in Azure as post build step after "mvn verify".

[2022-04-19 13:17] romani commented on #11549
here is explanation on why we do not support logging on AST - https://checkstyle.org/config_filters.html#SuppressionXpathFilter

[2022-04-19 13:23] romani commented on #8151
I marked XpathRegressionJavadocStyleTest as done, as we cannot compete it until #11549 , it will be done separately.

@Rahulkhinchi03 , can you help us to fix XpathRegressionOneTopLevelClassTest ? and close this issue.

[2022-04-19 13:49] Rahulkhinchi03 commented on #8151
Okay, I am on it.

[2022-04-19 14:00] kenyee commented on #11166
For our usage of getFileContents(), we just care about the filename.  Is there a better way to get that?

[2022-04-19 15:08] romani commented on #8151
Please update comment to be

`Until https://github.com/checkstyle/checkstyle/issues/11549`

[2022-04-19 15:13] romani commented on #11166
Please use
https://github.com/checkstyle/checkstyle/blob/b09a9ce9d4f48c179f3d5647b6656e5737462656/src/main/java/com/puppycrawl/tools/checkstyle/api/AbstractCheck.java#L306

[2022-04-19 19:47] nick-mancuso commented on #11528
Let’s make multiple PRs to close this issue. One for each instability, and then final PR to split execution.

[2022-04-21 19:50] atb-brown opened #11558 "FileLength Add ignorePattern Property"
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
No problem with existing functionality.

**Describe the solution you'd like**
It would be cool if there was a [

[2022-04-22 02:28] longtai-cn opened #11562 "Java8 try resource indent failed"
I have read check documentation: https://checkstyle.org/config_xxxxxx.html#NameOfAffectedCheck
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

**Describe what you expect in detail.**

The indentation of the second line in the try is form

[2022-04-22 04:35] Vyom-Yadav commented on #11558
Please remove lines from `Still not clear ???`, other than that looks good to me.

[2022-04-23 06:05] Vyom-Yadav commented on #11558
@romani @rnveach @nick-mancuso @strkkk @pbludov Please share your thoughts.

[2022-04-23 10:28] pbludov commented on #11558
@atb-brown Why don't you use [NCSS check](https://checkstyle.sourceforge.io/config_metrics.html#JavaNCSS)? It counts file lines **excluding** blank lines and comments.

[2022-04-23 10:29] 524130120 commented on #4216
@rnveach
I reproduce the examples that don't produce the violations as expected.
And I find it is because the variable 'field' in 'return field += "suffix";' is regarded as a returned value.
It happens in the method **getClassFrameWhereViolationIsFound**.

But, it is mentioned in the document that check will not raise violation for returned variable.
![requireThis](https://user-images.githubuserco

[2022-04-23 13:02] romani opened #11564 "Wercker service will be shutdown on October 31st, 2022"
Note: [OCI DevOps](https://www.oracle.com/devops/devops-service/) doesn't have a free build resource for free-tier "always free" account types; if you migrate to OCIDevOps, you will need a paid Oracle Cloud account. You can upgrade to a paid Oracle Cloud account by adding a payment method. OCI offers "Pay As You Go" if your usage is small. For larger accounts, please contact one of our Oracle [Sal

[2022-04-23 13:20] romani commented on #7624
everyone is welcome to fix this issue, referenced code could be reused.

[2022-04-23 13:21] romani commented on #7617
everyone is welcome to fix this issue, referenced code could be reused.

[2022-04-23 14:07] romani commented on #11528
EqualsAvoidNullCheck is fixed, Requirethis still need to be fixed, but we moved it to temp suppression to allow CI be green.

[2022-04-23 16:10] pbludov opened #11566 "Resolve IDEA violations from Teamcity 2022.04 (Bundled IntelliJ IDEA 2021.2.3)"
Link to the report: https://teamcity.jetbrains.com/viewLog.html?buildId=3844938&tab=Inspection&buildTypeId=Checkstyle_IdeaInspectionsPullRequest#

Mostly **Grammar** and **http links**, but other violations should be fixed.

## General
* [ ] Redundant suppression (Errors) (12)
* [ ] Syntax error (Errors) (2)
## Java/Abstraction issues
* [ ] Private method only used from inner class (Errors) (1)
##

[2022-04-23 17:07] romani commented on #11566
To speed up green state, it might be good to disable some inspections until fix is provided.

[2022-04-23 17:17] atb-brown commented on #11558
Ahh, interesting. I was unaware of that rule. Using that in combination with the `fileLength` rule seems like it would do the trick for my needs with Java. I also, however, would like to do something similar with non-Java files (in my case, XSLT).

I figure it would be easier to have support for custom regular expressions than it would be to have support for each an every language. But I could jus

[2022-04-23 17:27] romani commented on #11558
If you are so comment focused in code, you have to extend limit for file as you might presume that comment would take 25% of your code.

File length validation is always very rough measurement of code quality or level before split. It helps to guide people but it never absolute must. Even checkstyle project suppress violation from this Check in very certain cases.

[2022-04-23 17:39] pbludov commented on #11566
I'll try to fix all errors asap, warnings may be postponed.

[2022-04-23 19:03] Rahulkhinchi03 commented on #11564
@romani I would like to work on it. Please guide me on how to resolve this issue?

[2022-04-23 19:12] romani commented on #11564
Remove https://github.com/checkstyle/checkstyle/blob/master/wercker.yml file.

[2022-04-23 23:12] rnveach commented on #11564
https://github.com/checkstyle/checkstyle/blob/master/.ci/wercker.sh should also be moved to other files. Shell scripts should avoid being CI specific unless it is truly something that can only be done on that CI, which should be rare.

[2022-04-23 23:57] romani commented on #11564
https://github.com/checkstyle/checkstyle/blob/master/.ci/wercker.sh already empty, just need to be removed

[2022-04-24 00:03] romani commented on #4216
@524130120 , please update documentation to remove `// violation: Reference to instance...`  as it should be ok. We cal leave a comment `ok as it is method argument override class field `

[2022-04-24 01:06] romani commented on #11562
We do not support old version .
Please read https://checkstyle.org/cmdline.html#Download_and_Run and run on latest.

[2022-04-24 01:09] longtai-cn commented on #11562
@romani Thank you very much for your reply, I changed the indentation and the problem is solved.

[2022-04-24 01:09] #11562 closed

[2022-04-24 01:22] romani commented on #10798
Jdk version in TreeWalker is too much. If we make parser be able to disable some features, it will force us to test a lot with different versions of jdk. If AST be different for each version, we will have to support all and it is over commitment to support.

This Check is changing each time java get big update. There was  a lot to change during jdk8. Probably something was changed due to others jd

[2022-04-24 01:30] romani commented on #11340
@tfij, thanks a lot.
can ask you grep properties that are about ignorance/skip/exclude by annotations.

[2022-04-24 03:59] Zustin opened #11568 "MissingJavadocMethod should consider nested class"
I have read check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#MissingJavadocMethod
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---
**Describe what you expect in detail.**
---
Hi, I found a false negative about thi

[2022-04-24 04:17] romani commented on #11568
https://checkstyle.sourceforge.io/config_javadoc.html#MissingJavadocMethod_Properties

Default scope is public. Class is not public, so method is also not visible outside of outer class. So it will not be in html pages of jdk javadoc tool.

[2022-04-24 06:35] Zustin commented on #11568
Got it, thanks for your respones.

[2022-04-24 06:35] #11568 closed

[2022-04-24 07:08] Zustin opened #11569 "A false negative about the rule ClassMemberImpliedModifier"
I have read check documentation: https://checkstyle.sourceforge.io/config_modifier.html#ClassMemberImpliedModifier
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
---
**Describe what you expect in detail.**
---
Hi, I found a false negative abo

[2022-04-24 09:10] pbludov commented on #11460
This case is strange. `SuppressionXpathSingleFilter` with all properties set to `null' is useless.
It is better to throw a configuration error than silently do nothing if the filter is misconfigured.

[2022-04-24 09:14] pbludov commented on #11460
At least, this behaviour should be documented, similar to [this](https://checkstyle.sourceforge.io/config_coding.html#MatchXpath).

[2022-04-24 13:23] romani commented on #11460
There are a lot of modules that do nothing useful or match nothing by default.

[2022-04-24 13:34] romani opened #11572 "Replace maven-linkcheck-plugin to lychee-maven-plugin for HTML link checking"
https://checkstyle.org/linkcheck.html

Example of damaged link:

  | error apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html#getAcceptableJavadocTokens--: doesn't exist.

at page https://checkstyle.org/writingjavadocchecks.html#Customize_token_types_in_Javadoc_Checks
expected link https://checkstyle.org/apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJ

[2022-04-24 15:12] Zustin opened #11575 "A false negative about the rule RightCurly"
I have read check documentation: https://checkstyle.sourceforge.io/config_blocks.html#RightCurly
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]
**Describe what you expect in detail.**
Hi, I found a false negative about this rule RightCurly. P

[2022-04-24 16:12] strkkk commented on #11531
Fix is merged

[2022-04-24 16:12] #11531 closed

[2022-04-24 16:52] rnveach commented on #11572
This is reporting more than 1000 errors. Is this not controlled by CI and is there a way it can be reported sooner?

[2022-04-27 13:42] romani commented on #11566
I asked TC support to install previous version , they installed 2020.1.1

I activated this version in master build only, build is started
https://teamcity.jetbrains.com/buildConfiguration/Checkstyle_IdeaInspectionsMaster/3847241?hideProblemsFromDependencies=false&hideTestsFromDependencies=false

[2022-04-27 19:13] pbludov commented on #11566
These violations:
* [AutoCloseable used without 'try'-with-resources (Errors) (23)](https://teamcity.jetbrains.com/viewLog.html?buildId=3847241&tab=Inspection&buildTypeId=Checkstyle_IdeaInspectionsMaster#)
* I/O resource opened but not safely closed (12)

are false positives and were fixed in the new version.

[2022-04-28 05:55] romani commented on #11566
Does it means that we use to has different idea inspection installed?
So ideally we should have version that was there before, so we can come back to 0 violations at least in master.

[2022-04-28 06:57] Zustin opened #11580 "False negative about SimplifyBooleanReturn"
I have read check documentation: https://checkstyle.sourceforge.io/config_coding.html#SimplifyBooleanReturn
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

**Describe what you expect in detail.**
Hi, I found a false negative about the rule Si

[2022-04-28 13:50] Stypox opened #11581 "Add support for `@implNote`, `@implSpec` and `@apiNote`"
I have downloaded the latest cli from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

https://checkstyle.org/config_javadoc.html#JavadocType

**How it works Now:**

[code]

**Is your feature request related to a problem? Please describe.**
Since Java 8, Javadocs may *unofficially* contain `@imp

[2022-04-28 14:15] pbludov commented on #11566
Yes. We can revert 2b2391d95136208a0d6a14f6fd5c610a3414683c and re-apply it later.

[2022-04-29 03:48] romani commented on #11566
It would help a lot if we had TC config in file

[2022-04-29 04:54] romani commented on #11580
Can you share real code where it can be used ?
We do not evaluate expression, there are millions ways to write same bad code but by means of methods that return constant values.

[2022-04-29 05:12] romani commented on #8151
Final fix is merged

[2022-04-29 05:12] #8151 closed

[2022-04-29 08:25] gMan1990 opened #11582 "How to config RegexpSingleline(a) only for xml file, then another RegexpSingleline(b) for all files but not xml file?"

[2022-04-29 09:50] #11582 closed, assigned to nobody

[2022-04-29 12:52] strkkk commented on #11581
@Stypox article you provided says that
[code]
please provide more information.

Difference from #11455 is that there is an official feature of the language.

[2022-04-29 15:34] romani commented on #11566
I moved master build to new inspections version, we should fix by going forward as we are in the middle of updates and it might not easy to keep compatibility.

But I highly recommend to disable whole rules or put suppression quickly to gain green state asap, and deal with ideal solutions step by step.

[2022-04-29 15:37] romani commented on #11572
We need to review a reason, but I remember we suppressed such validation due to some nuances, such links were not really validteable, there were a lot of false positives.

[2022-04-30 07:46] Zustin commented on #11580
Hi @romani , thanks for your reply. Actually I am a static analysis fans and have a corpus to test SA tools. The reason that I submit this issue is the components of this expression are `all boolean literals` and I think checkstyle can handle this false negative based on current AST. Just expect a stronger checkstyle :)

[2022-04-30 08:50] strkkk opened #11584 "WriteTag reports violation with confusing message when there is no javadoc"
https://checkstyle.org/config_javadoc.html#WriteTag
[code]

Expected: no violation, since there is no javadoc.
Also note confusing violation message ("null" tag).

For javadoc presence there are other checks. And docs mention that with default config it does nothing, but it reports weird message instead.

P.S. Checkstyle has `WriteTag` with default config -
https://github.com/checkstyle/checkstyle

[2022-04-30 14:35] romani commented on #11580
it would take us a lot to do internally , and it still be not complete solution. In real life such code is highly unlikely to exists.

[2022-04-30 14:35] #11580 closed

[2022-04-30 17:43] romani commented on #11566
@pbludov , FYI
Downgrade to warn does not affect build status
https://github.com/checkstyle/checkstyle/commit/7e9943cfdeb1763131a229538f1ee24205f3559d#diff-ab946ffc43c4ac01e08c33ce3843b3f5bbc1d7e676b478f549a9372947ea0f15R653
We need to disable inspection.

[2022-05-01 02:02] romani opened #11588 "Resolve SimplifiableIfStatement inspection violations"
Taken from https://github.com/checkstyle/checkstyle/issues/11566

see commit: https://github.com/checkstyle/checkstyle/commit/009cffaae0f1bd79f5c0084f5354f45ed391e346

we need to revert suppression of SimplifiableIfStatement or explain why they should be permanent.

[2022-05-01 02:03] romani opened #11589 "Resolve violation from ResultOfMethodCallIgnored inspection"
Taken from https://github.com/checkstyle/checkstyle/issues/11566

commit: https://github.com/checkstyle/checkstyle/commit/009cffaae0f1bd79f5c0084f5354f45ed391e346

we need to revert suppression of ResultOfMethodCallIgnored or explain why they should be permanent.

[2022-05-01 02:04] romani opened #11590 "Resolve violation from RegExpDuplicateCharacterInClass inspection"
commit:

we need to revert suppression of RegExpDuplicateCharacterInClass or explain why they should be permanent.

[2022-05-01 03:20] romani opened #11591 "Re-export IDEA inspection config file"
Noticed during https://github.com/checkstyle/checkstyle/issues/11566

I noticed during update that some inspections in config looks different after export. It might be internal IDEA migration of inspection.

We need to have latest config format of inspections

How to do this:
Import inspection
Export them in separate files, manually review diff to spot different in structure, there will be bunch f

[2022-05-01 04:19] romani commented on #11566
We still need to fix or disable grammar inspection
https://www.jetbrains.com/help/idea/grammar.html#rules

I noticed this name in config file but didn't matched it to grammar

[2022-05-01 08:59] Stypox commented on #11581
I added more information to the issue description: actual and expected output and a better explanation with more sources and information

[2022-05-01 13:37] romani opened #11592 "Enable and resolve all violations from Proofreading-Grammar inspection"
commit:

we need enable of GrazieInspection or explain why they should be permanent.
After this inspection is enabled, another inspection become active. There will be around 200 violations.

`<inspection_tool class="GrazieInspection" enabled="true" level="TYPO" enabled_by_default="false" />`

[2022-05-01 14:15] romani commented on #11566
Most items were fixed.
There are few suppression were introduced and will be resolved as separate issues.

[2022-05-01 14:15] #11566 closed

[2022-05-01 14:37] romani opened #11594 "Report problem to IDEA issue tracker"
~Unfortunate false positive from inspection
https://github.com/checkstyle/checkstyle/commit/e892be80ddd3c82f03d153d51b680f2db1f2cfc9#diff-d30b04994870dfa6d43e4095694af6af2938eeddb1f2c0db3ddd55956bfdc10cR51~

Request option to ignore usage in  tests https://github.com/checkstyle/checkstyle/commit/e892be80ddd3c82f03d153d51b680f2db1f2cfc9#diff-efcf78d0957b14212cbef50a335aac82c9820f9a7956d2a57f74bddbe

[2022-05-01 21:57] nick-mancuso commented on #11588
On it

[2022-05-01 22:56] rnveach opened #11596 "Update Checkstyle's Copyright"
https://github.com/checkstyle/checkstyle/blob/master/config/java.header#L2

While we do primarily do validation against Java code, checkstyle does support other file types. [RegExp`](https://checkstyle.org/config_regexp.html#Regexp) can support any text-based file type and can be used to implement custom rules.

We should reword to:
[code]

[2022-05-02 02:24] rnveach opened #11597 "Remove Experimental from XPath Filter"
XPath filters have been around since 8.3 in late 2017. We should remove the "experimental" part from them as they have been a normal part for a while.

https://github.com/checkstyle/checkstyle/search?q=experimental

[2022-05-02 02:41] romani commented on #11596
It will sounds like we do any sources.
We still java only, and some other text files.

I would a second sentence to explain our abilities for text files.

[2022-05-02 02:46] romani commented on #11597
Yes, but now we have to support both names, as we lost a moment to get out of experimental.

But all in repo should be updated to not mention "experimental"

[2022-05-02 03:59] rnveach commented on #11596
How about?

Secondarily checks some other, text-based sources for adherence to a limited set of rules.

[2022-05-02 04:40] romani commented on #11596
text-based files

To make it clear we do not parse then properly.

[2022-05-02 09:45] Rahulkhinchi03 commented on #5386
@romani @rnveach does this issue still valid?
As per https://github.com/checkstyle/checkstyle/issues/11564, The Wercker services are going to be shut down, so?

[2022-05-02 09:53] Rahulkhinchi03 commented on #5826
@romani @rnveach What I understood from the above conversation is that we need to use `shellcheck` https://www.shellcheck.net/ and find out vulnerabilities in our .sh files?

[2022-05-02 15:38] romani commented on #5386
Yes, valid as all jobs are just moved to other CI services

[2022-05-02 15:40] romani commented on #5386
@rnveach , we might create new issue, as this issue with better instructions as this becomes too confusing. Please create new issue.

[2022-05-02 22:19] rnveach commented on #11596
I updated the first post with proposed wording.

[2022-05-02 22:54] rnveach commented on #5826
Yes to both, or explain why can't fix suggestions and suppress them.

[2022-05-02 23:00] nick-mancuso commented on #5826
It might be good to introduce shellcheck and suppress all in one PR, then send PRs by type of violation to remove suppression and fix code.

[2022-05-03 01:17] romani commented on #5826
It is better to not rely on certain CI to execute certain validation ( Travis build-in support of this validation) as we already know that non of CI stay forever, and we need ability to execute all on local and at other CIs. It is ok to require to install tool before execution.

We can start with CI specific if it gives some extra features ( not a simple short cut to execute)

[2022-05-03 04:06] nick-mancuso commented on #11594
https://github.com/checkstyle/checkstyle/commit/e892be80ddd3c82f03d153d51b680f2db1f2cfc9#diff-d30b04994870dfa6d43e4095694af6af2938eeddb1f2c0db3ddd55956bfdc10cR51 is not a false posittive, as `List.copyOf` returns an immutable list.

[2022-05-03 05:09] rnveach opened #11602 "Convert regressions that use maven-checkstyle-plugin to CLI based"
See https://issues.apache.org/jira/browse/MCHECKSTYLE-346 .
We need to deprecate all usage of maven-checkstyle-plugin so we can start implementing backward breaking changes.

A lot of regressions use maven-checkstyle-plugin to run checkstyle on the projects and will have to be converted to using the raw CLI.
Example is anything using `checkstyle:check` via a maven command. https://github.com/check

[2022-05-03 05:09] rnveach commented on #5386
Closed as new issue created at #11602

[2022-05-03 05:09] #5386 closed

[2022-05-03 13:07] romani commented on #11594
I do not see this method in javadoc, hmm

[2022-05-03 15:51] romani commented on #11596
Hmm, no, it is too much words for our header, nobody actually read this text, it is always hidden. Better to be single line.

I do not know origin of this working
But it might be from https://checkstyle.org/#Overview

What about?
`checkstyle: Check Java source code and other text files for adherence to a set of rules.`

[2022-05-03 19:48] rnveach commented on #11596
No issues, and updated first post again.

[2022-05-03 19:54] romani commented on #11596
Better to create shell command to update files as it will trigger updates in a lot of repositories.

[2022-05-04 01:30] rnveach opened #11604 "Remove some hardcoding of specifics so Checkstyle can be more Extensible"
I am tired of Checkstyle limiting itself to mainly Java files. I am looking for checkstyle to support more different type of unique files (XML, Properties, etc..) at https://github.com/rnveach/checkstyle-extras .

In the process of setting this process up and starting it, it started to become apparent how limited Checkstyle was making itself. Configuration isn't really the issue, as it already sup

[2022-05-04 04:04] Rahulkhinchi03 commented on #5826
- We can suppress the violation by just writing before the violation line:
 `#shellpcheck=VIOLATION ID`

- `shellcheck --exclude=CODE script.sh`

- [The environment variable](https://www.cyberciti.biz/faq/set-environment-variable-linux/) SHELLCHECK_OPTS can be set with default flags to exclude as follows.
For example:
` export SHELLCHECK_OPTS='--exclude=SC2124,SC2181'`

[2022-05-04 07:37] Rahulkhinchi03 commented on #5826
I tried to read more about shellcheck and found that it doesn't give any EXTRA feature other than executing .sh files and helping us to improve our code, It will save our code from tech debt and t's easier to read.

@romani @rnveach @nick-mancuso
So, should we just integrate shellcheck with travis.yml? like:

[code]

[2022-05-04 10:14] nick-mancuso commented on #5826
I would prefer to not use a CI specific solution.

None of the options listed at https://github.com/checkstyle/checkstyle/issues/5826#issuecomment-1116906005 are desirable. We might need to get creative and generate some report and use diff like we do with pitest.

Please investigate and propose a solution for violation suppression that does not require command line arguments, directives in the fi

[2022-05-04 14:39] alx-ut opened #11605 "InvalidJavadocPosition: false positive for the generic constructor without access modifier"
Check documentation: https://checkstyle.sourceforge.io/config_javadoc.html#InvalidJavadocPosition

/var/tmp $ javac Test.java

/var/tmp $ cat Test.java
[code]

/var/tmp $ cat config.xml
[code]
/var/tmp $ RUN_LOCALE="-Duser.language=en -Duser.country=US"
/var/tmp $ java $RUN_LOCALE -jar checkstyle-X.XX-all.jar -c config.xml Test.java
[code]

Expected: no validation error

[2022-05-04 16:28] Shaman20 commented on #7617
Can I work on this issue?

[2022-05-04 18:14] Binita-tech commented on #11508
[code]
I am using above code in input file but I am getting this error-
[ERROR]/C:/Users/Dell/OneDrive/Desktop/G_Checkstyle/checkstyle/src/test/resources/com/puppycrawl/tools/checkstyle/checks/whitespace/whitespaceafter/InputWhitespaceAfterLiteralYield.java:[12,14] switch expressions are not supported in -source 11
[ERROR]   (use -source 14 or higher to enable switch expressions)
I changed setting

[2022-05-04 18:19] nick-mancuso commented on #11508
You must put this input file in noncompilable test input folder. I find it helpful to work on these files separately in another editor window for syntax checking, etc.

[2022-05-04 19:51] romani commented on #7662
Fix is merged

[2022-05-04 19:51] #7662 closed

[2022-05-04 21:07] rnveach opened #11606 "Suppressions to XPath Suppressions"
Subset of https://github.com/checkstyle/checkstyle/issues/11604 ,

Clarification is needed here and in the code on what is the relationship between xpath suppressions and normal suppressions. There are a few conflicts in the code base and there is no simple answer on what this would mean if possibly another walker is added.

Resolving this can help clear up the code and possibly make the design si

[2022-05-05 08:39] jungm opened #11608 "SimplifyBooleanReturn false negatives"
I have read check documentation: https://checkstyle.org/config_coding.html#SimplifyBooleanReturn
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

[code]

---

I expect this check to also handle other cases from https://github.com/checkstyle/checkstyle

[2022-05-05 11:26] Shaman20 commented on #7601
Can I work on this issue?. If yes could you please point me to the resources that would help me to contribute.
Thank you.

[2022-05-05 11:31] Shaman20 commented on #7624
Can I work on this issue?.

[2022-05-05 11:43] strkkk commented on #11608
@jungm can you point to specific lines where you expect a violation?

Please also note that checkstyle cannot resolve types.

[2022-05-05 12:25] jungm commented on #11608
@strkkk The case I specifically encountered was like the one in `ifNoElse`, so the `if` in line 37 should be a violation.  I'd also expect to see violations in `a` (line 47) and `aa` (line 58), but without resolving the types of those variables and detecting that they're constant this will not be easily possible.

[2022-05-05 15:08] romani commented on #7624
Please send PR

[2022-05-05 15:09] romani commented on #7601
Please send PR.
Please read doc and play with Check by CLI

[2022-05-06 03:37] Rahulkhinchi03 commented on #5826
@nick-mancuso can we integrate it with `GitHub Actions` or `Maven` so that the violations can be found local only.

[2022-05-06 08:29] Rahulkhinchi03 commented on #6217
@romani I would like to try to work on this issue. Please guide me!

[2022-05-06 09:26] Rahulkhinchi03 commented on #2460
I am new to drone.io and I tried to check out its website but it says that it is no longer accepting any new registrations. They recommend installing the Drone on own hardware, or you can try out the new `Harness CI Cloud` but it is paid.

[2022-05-06 09:28] Rahulkhinchi03 commented on #2460
@romani @nick-mancuso @strkkk

I am new to drone.io and I tried to check out its website but it says that it is no longer accepting any new registrations. They recommend installing the Drone on your own hardware, or you can try out the new Harness CI Cloud but it is paid.

Should I install a drone on my own GitHub and follow this information?
https://docs.drone.io/server/provider/github/

[2022-05-06 14:50] Binita-tech commented on #11508
I made input file in resources-noncompilable folder like this-
![image](https://user-images.githubusercontent.com/78761614/167156793-f59c4521-7023-4bd9-b83d-ae78ba34a0e4.png)
Now, what should I do about below files as there is no file of InputWhitespaceAfterBad.java and  InputWhitespaceAfterGood.java in resources-noncompilable folder?
![image](https://user-images.githubusercontent.com/78761614/167

[2022-05-07 00:36] nick-mancuso commented on #11508
@Binita-tech please send PR with check update and check test/ input update only, and we will go from there. Let’s not worry about Google style inputs for this token yet.

[2022-05-07 08:38] Rahulkhinchi03 commented on #7045
@romani @nick-mancuso I have set up Azure DevOps on my local. I have also given access to you both.

[2022-05-07 08:43] Rahulkhinchi03 commented on #7045
@romani @nick-mancuso I have set up Azure and I want to work on this issue. Please guide me on how can I get started and what things need to be done.

[2022-05-07 22:04] #11594 closed

[2022-05-07 22:05] romani commented on #11594
done - https://github.com/checkstyle/checkstyle/commit/f7f6bed9db2e0107b6a67c369d02e672d49921fe

[2022-05-07 23:11] #11588 closed

[2022-05-08 02:56] romani commented on #2460
I am closing this issue
We already use it extensively https://cloud.drone.io/checkstyle/checkstyle/10182

[2022-05-08 02:56] #2460 closed

[2022-05-08 03:16] romani commented on #7045
Azure is already heavily in use
https://dev.azure.com/romanivanovjr/romanivanovjr/_build/results?buildId=9064&view=results

[2022-05-08 03:16] #7045 closed

[2022-05-08 03:31] romani commented on #5826
GitHub actions are fully used, we need to run this in some other CI.

[2022-05-08 06:31] Rahulkhinchi03 commented on #11564
@romani Is it the only way to move execution? Why can't we use SonarQube (https://www.sonarqube.org/)

[2022-05-08 10:17] Shubhamxshah commented on #11214
I am on JavaNCSSCheck

[2022-05-08 12:36] Shubhamxshah commented on #11214
![Screenshot (74)](https://user-images.githubusercontent.com/72330915/167296403-152881e9-deae-4348-8ccb-109c9ff51fc9.png)
@romani @rnveach getting this error

[2022-05-09 02:44] romani commented on #6217
Try to setup all for your fork. As you finish, we can reuse your experience to reapply all to main repo.

[2022-05-09 06:11] AbhinavRajputEXE commented on #11214
I'm on EqualsHashCodeCheck

[2022-05-09 09:36] Rahulkhinchi03 commented on #6217
@romani I have set up the LGTM: https://lgtm.com/projects/g/checkstyle/checkstyle/alerts/

We currently have: `10 ERRORS, 23 WARNINGS, and 1 RECOMMENDATION` by LGTM

The repository used: https://github.com/Rahulkhinchi03/checkstyle-testing-lgtm

It also shows other alerts (` i.e. 1.6k alerts`) but these files are excluded as
 LGTM classifies (or tags) files according to their purpose and their sou

[2022-05-09 09:55] strkkk commented on #10043
fix is merged

[2022-05-09 09:55] #10043 closed

[2022-05-09 11:45] Shubhamxshah commented on #11446
I am on ImportControlCheckTest

[2022-05-09 15:33] romani commented on #11446
Remove your change and run again it should pass, after that add changes gradually to get understanding what cause this problem.

[2022-05-09 16:50] rnveach commented on #6217
@Rahulkhinchi03 Are you able to customize the reporting so it only reports on non-Input files? I am seeing a few items being our IT inputs (it/resources).

[2022-05-09 17:07] Shaman20 commented on #7617
Can I work on this issue?

[2022-05-10 01:43] romani commented on #7617
Sure. Just write comment "I am on it"

[2022-05-10 04:07] nick-mancuso commented on #11606
From https://checkstyle.sourceforge.io/config_filters.html#SuppressionFilter:

A [suppressions XML document](https://checkstyle.sourceforge.io/dtds/suppressions_1_2.dtd) contains a set of suppress elements, where each suppress element can have the following attributes:

 - files - a [Pattern](https://checkstyle.sourceforge.io/property_types.html#Pattern) matched against the file name associated wi

[2022-05-10 07:04] Shubhamxshah commented on #7617
i am on it

[2022-05-10 07:04] Shubhamxshah commented on #7617
i am on it

[2022-05-10 08:04] Shubhamxshah commented on #11446
![Screenshot (79)](https://user-images.githubusercontent.com/72330915/167579274-10675304-b59a-4d25-87e3-d1f80da9816e.png)

just this highlighted part is causing below error

![Screenshot (80)](https://user-images.githubusercontent.com/72330915/167579750-07e43ba0-2685-421c-808e-19e1732be514.png)

[2022-05-10 15:16] Rahulkhinchi03 commented on #11596
$ grep -rl '// checkstyle: Checks Java source code for adherence to a set of rules.' `DIRECTORY_ADDRESS` | xargs sed -i 's_// checkstyle: Checks Java source code for adherence to a set of rules._// checkstyle: Check Java source code and other text files for adherence to a set of rules._g'

[2022-05-10 15:36] Rahulkhinchi03 commented on #3707
@rnveach @romani
Do we still need to encrypt the auth token in the `travis.yml` for master commit validation?

[2022-05-10 15:38] romani commented on #3707
Yes, encryption always required

[2022-05-10 16:28] Rahulkhinchi03 commented on #3707
I just need to add this lines in travis.yml files?
+ Where can I fin d the auth token which should be used? Do I have to generate a temporary GitHub Auth Token?
[code]

[2022-05-10 17:41] Shaman20 commented on #7624
I am on it

[2022-05-10 23:18] Shubhamxshah commented on #11214
i am on javancsscheck

[2022-05-11 01:45] Shubhamxshah commented on #11214
i am on javaNCSScheck

[2022-05-11 01:48] Shubhamxshah commented on #11214
![image](https://user-images.githubusercontent.com/72330915/167752260-5f81a0b4-9eae-4bf0-b52c-75a3b390960c.png)
how to fix column change?

[2022-05-11 01:50] Shubhamxshah commented on #11214
![image](https://user-images.githubusercontent.com/72330915/167752494-a8db3703-3d8d-4753-b701-06fa7df271db.png)

here, i've fixed the line number but i dont know how to change the value which is after colon for e.g. 16: 1 i dont know how to change 1 please guide

[2022-05-11 01:50] romani commented on #11214
Avoid column change, your goal is to add trailing comments only.
If change is not avoidable, we need change array `expected`

[2022-05-11 06:35] Rahulkhinchi03 commented on #5826
Okay, we can use dev.dimlight plugin for shell check from maven
https://search.maven.org/artifact/dev.dimlight/shellcheck-maven-plugin/0.4.1/maven-plugin

[2022-05-11 09:53] Shubhamxshah commented on #11446
you are right, imputimportcontrolfilenamenoextension missed violation message. however, while trying to find the extra // violation message, its showing blank. how to specify violation message now?

![Screenshot (86)](https://user-images.githubusercontent.com/72330915/167822782-8b1213b7-c449-45ed-a377-7f28d537aab3.png)

[2022-05-11 13:31] romani opened #11629 "RightCurly: Google style config does not detect misplaced '}' for annotation declaration"
I have read check documentation: https://checkstyle.org/config_blocks.html#RightCurly
I have downloaded the latest checkstyle from: https://checkstyle.org/cmdline.html#Download_and_Run
I have executed the cli and showed it below, as cli describes the problem better than 1,000 words

detected at https://github.com/checkstyle/checkstyle/pull/11585#discussion_r866844938
this input file is part of our

[2022-05-11 15:36] Shubhamxshah commented on #11446
i just wanna add i'm willing to work hard, i have fixed multiple among all three gsoc issues and i am ambitious towards my selected project i.e.  Reconcile formatters of Eclipse , NetBeans and IntelliJ IDEA IDEs by Checkstyle config.

if given a chance i'd work tirelessly and complete this project. so please consider selecting it. Regards

[2022-05-11 15:45] romani commented on #11446
Keep digging, do debug of tests to get more insight.
Look at other commits that are done by others to see how they did same updates.
Please show your ability to investigate and resolve problems without exact guidance.

[2022-05-11 16:28] Rahulkhinchi03 commented on #6217
@romani kindly review when you get some free time!

[2022-05-11 20:09] rnveach commented on #6217
@Rahulkhinchi03 Can you provide what queries can be applied to remove the false ones and allow us to see what is remaining as most likely actual issues?

Anything connected to our input files inside test/it resources folder should be what we ignore. They just represent test cases, and not actual code that needs "fixing".

[2022-05-11 20:39] rnveach commented on #11606
I like this. It is basically my first suggestion for option 3.

Another topic if we proceed down this path, is that our current suppression file method doesn't allow expansion to the same suppressions file by 3rd parties. Unfortunately, the DTD says what we can and cannot added. For a 3rd party to make a new type of suppression based file, it has to be something unique. This is different from modu

[2022-05-11 20:56] Rahulkhinchi03 commented on #6217
@rnveach As much I have used and investigated, We can use run Queries to find the total number of query-related errors.
But Also we can hide the error which we don't want to look after. I can do that if you suggest.

The errors in it/resources are 25.

[code]

Currently, we have only 7 errors other than input files.

2 are of Javascript:
`/src/site/resources/styleguides/google-java-style-20180523/

[2022-05-12 04:37] romani commented on #6217
Can we exclude Input files completely from scanning? They are nonsense code by design/nature .

[2022-05-12 06:48] Rahulkhinchi03 commented on #6217
@romani We can do that. We can suppress these violations one by one only by writing some comments or adding @SuppressionWarning in the code.

We already have some excluded errors. This is naturally done by LGTM. It classifies errors into `tagged` and  `untagged`. LGTM classifies (or tags) files according to their purpose and their source. "Normal" or "core" code files are untagged. Results for fil

[2022-05-12 08:35] #11508 closed

[2022-05-12 10:21] Rahulkhinchi03 commented on #6217
I recently found out that we can configure our analysis by adding `lgtm.yml` in the repository.
(https://lgtm.com/help/lgtm/customizing-file-classification)

I am trying to add configuration for excluding it/resources files.

[2022-05-12 12:57] romani commented on #7617
Fix is merged

[2022-05-12 12:58] #7617 closed

[2022-05-12 17:01] Rahulkhinchi03 commented on #6217
@rnveach I still don't understand that when I ran the build it was showing only the actual errors but after an hour, it is back to normal. It seems unstable.

[2022-05-12 20:11] romani commented on #6217
We need to suppress violations in ant class. All of them "won't fix" or false alert.
Can you do this by config file ?

[2022-05-12 20:39] Rahulkhinchi03 commented on #6217
@romani We can only add configuration with `LGTM.YML`, I believe.

As per the rules of LGTM:

![sdgh](https://user-images.githubusercontent.com/71710042/168163818-9eea5ece-9a7b-4fab-91d8-191cf7b1de65.png)

[2022-05-13 12:21] #11596 closed

[2022-05-13 12:51] romani commented on #11596
commands that I used to update other repos:
`grep -rl '////////////////////////////////////////////////////////////////////////////////' . | xargs sed -i 's_////////////////////////////////////////////////////////////////////////////////_///////////////////////////////////////////////////////////////////////////////////////////////_g'`

`grep -rl '// checkstyle: Checks Java source code for adheren

[2022-05-13 15:34] romani commented on #6217
It is awesome to have configuration by file, let's try to use it.

[2022-05-14 08:50] AbhinavRajputEXE commented on #11199
I'm on it

[2022-05-14 13:12] romani commented on #7624
Fix is merged

[2022-05-14 13:12] #7624 closed

[2022-05-14 13:13] Shaman20 commented on #11597
Is this issue still valid and can I work on it?

[2022-05-14 13:24] rnveach opened #11634 "Configuration: make getting property values easier"
Identified in https://github.com/checkstyle/checkstyle/pull/11585 ,

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/Configuration.java#L68

There is no easy way to test if a property exists. You can get the list of names in the configuration, but it comes back as a raw array which requires to loop through to identify if the property you need

[2022-05-14 13:32] Shaman20 commented on #11605
Hey is this issue still valid and Can I work on this?
If yes please point me to resources that might help in solving this.

[2022-05-14 13:43] nick-mancuso commented on #11605
1. Create input file containing given input in issue description.
2. Expand test input by adding classes with different constructor syntax, such as multiple generics, regular (not generic) constructors, different access modifiers on constructors , etc.
3. Create new test in related check test file that uses your new input file.
4. Test should be failing, so begin debugging check, find and fix fail

[2022-05-14 14:13] rnveach commented on #11597
Yes to both.

[2022-05-14 15:30] Shaman20 commented on #11597
I am on it

[2022-05-14 15:30] Shaman20 commented on #11605
I am on it

[2022-05-14 16:46] Shaman20 commented on #11597
It is throwing this error is there any other file which I have to edit?

![image](https://user-images.githubusercontent.com/70961605/168440936-b2bad6d4-6e45-48a2-be25-7c337cc39c7a.png)

[2022-05-14 16:54] romani commented on #11597
While you are blocked, please take some simple issue meanwhile

[2022-05-14 16:57] romani commented on #11634
I prefer API that doesn't throw exception

[2022-05-14 17:50] rnveach commented on #11634
I do not mind that, but I just wanted to point out that without an exception, then we have no way to determine if the config contains the property but the value it contains is just `null`. With the way our configs are handled from the files, I don't think a real `null` value is possible since everything is identified as a String at it's base.

[2022-05-14 19:05] Rahulkhinchi03 commented on #6217
@romani  Please let me know what are other investigation/information required. Or we can start using it with our main repository.

[2022-05-14 19:11] romani commented on #6217
Can we suppress violations in ant classes by yml config ?

[2022-05-14 20:39] Rahulkhinchi03 commented on #6217
@romani Yes we can do that by lgtm.yml file. We have an option of Generated Code, Library code, and Template Code. We can just write the file name which we want to exclude or we can exclude with queries too.

[2022-05-15 07:00] theWolf1198 commented on #11584
I want to work on this, however, I have a question:

This seems like an issue with a confusing message that is printed when there is no default tag, do you want me to refactor the output log message or change the check?

Thanks!

[2022-05-15 07:00] Rahulkhinchi03 opened #11637 "Use Shellcheck to resolve shell script violations"
ShellCheck is an open-source static analysis tool that automatically finds bugs in your shell scripts. (https://github.com/koalaman/shellcheck)

`./.ci/*sh` has all the shell scripts files and we have disabled all the violations at the `.shellcheckrc` file.
We are currently invoking spellcheck through Terminal (You can download it through apt or similar package managers)

TO-DO:
Pick a suppression

[2022-05-15 07:10] strkkk commented on #11584
@theWolf1198 I expected check to do not report violation if there is no javadoc

[2022-05-15 07:11] theWolf1198 commented on #11584
@romani @strkkk, I think that the code should allow empty Javadoc for default WriteTag as there are other checks to check if Javadoc is present or not.
Please let me know your thoughts.

[2022-05-15 07:12] theWolf1198 commented on #11584
@strkkk, sure I will start working on this right away.

[2022-05-15 14:25] romani opened #11641 "SuppressWarningsHolder should allow usage of simple name of Checks in aliasList"
https://checkstyle.org/config_annotation.html#SuppressWarningsHolder

[code]

Expected: no violation.

workaround is to use fully qualified name of Check.
see details - https://github.com/checkstyle/checkstyle/pull/11542#issuecomment-1126821468

[2022-05-15 15:00] Shaman20 commented on #11214
I am on AnnotationLocationCheck

[2022-05-15 16:12] Kevin222004 commented on #11641
we have to create a method in https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/SuppressWarningsHolder.java
am i right