[2017-01-06 03:08] rnveach commented on #1263
Incomplete PR is located at Pull #1422

[2017-01-06 03:42] rnveach commented on #883
eclipse-cs uses a custom listener called `CheckstyleAuditListener`.
[maven plugin uses those constructors with default value of `true`.](https://github.com/apache/maven-plugins/blob/8762d5746501b894cf766f38111fc514938be280/maven-checkstyle-plugin/src/main/java/org/apache/maven/plugin/checkstyle/CheckstyleViolationCheckMojo.java#L786-L793)

We will have to keep that signature unless we want to brea

[2017-01-06 14:48] romani commented on #3064
Old comment need to be removed https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_sevntu_checks.xml#L98 .

AvoidModifiersForTypes already use 3 options that were new in that release, it is enough.

[2017-01-06 14:51] romani commented on #2186
Message is ok.

Yes, if unknown parent, lets use default message

[2017-01-06 14:53] romani commented on #883
Marked as checkstyle8

[2017-01-06 15:43] romani commented on #3064
Fix is merged

[2017-01-06 15:43] #3064 closed

[2017-01-06 16:44] rnveach commented on #2186
Message cannot be fully changed in [AutomaticBean](https://github.com/checkstyle/checkstyle/blob/292ad0ebf2d18e1d8131127d60b3fde99aa0adf0/src/main/java/com/puppycrawl/tools/checkstyle/api/AutomaticBean.java#L264-L270) because to identify parent we need to know the child's type and to know the type we need an instance to work with.
If we want to continue with this change there, `AutomaticBean.setup

[2017-01-06 16:55] ilanKeshet opened #3698 "improve OverloadMethodsDeclarationOrder to optionally group static methods separately from instance methods"
Consider the following code:
[code]
---------------
Currently `OverloadMethodsDeclarationOrder` only considers the method name and does not take into account other information.

The **suggested improvement** is to allow a user to choose whether `static` methods should or shouldn't be considered as overloading instance methods.

[code]
The default should obviously `separateStatic=false` to maintain

[2017-01-06 18:19] romani commented on #2186
@rnveach ,

no, we do not need complication for such simple issue.
Is we can not goo message for user, we should stay with what we have and extend general wording:

`cannot initialize module TreeWalker - TreeWalker is not allowed as a parent of RegexpMultiline. Please review 'Parent Module' section for this Check in web documentation if Checks is standard.`

[2017-01-08 09:25] dimo414 opened #3700 "Control Characters are not skipped with google_checks config"
[code]
---------------

Describe what you expect in detail.
I expected this file to pass with no warnings, as `\u0007` [`BEL` is a control character](http://www.fileformat.info/info/unicode/char/0007/index.htm), and google_checks.xml permits unicode escapes for such characters.

--------------

If I switch from  `\u0007` to `\u0008` [BACKSPACE](http://www.fileformat.info/info/unicode/char/0008/ind

[2017-01-08 23:35] romani commented on #3700
issue is confirmed:

Google style config has option "allowEscapesForControlCharacters=true" , https://github.com/search?q=path%3Asrc%2Fmain%2Fresources+filename%3Agoogle_checks.xml+repo%3Acheckstyle%2Fcheckstyle+AvoidEscapedUnicodeCharacters

smth wrong in regexp - https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/AvoidEscapedUnicodeCharacter

[2017-01-08 23:51] romani opened #3701 "IllegalTokenText in google_checks should not has BACKSPACE character"
from #3700

problem is misconfiguration - https://github.com/checkstyle/checkstyle/blob/c25004bd0304d3c7466783c637e9c49bd5ebc72f/src/main/resources/google_checks.xml#L34
[Unicode Character 'BACKSPACE' (U+0008)](http://www.fileformat.info/info/unicode/char/0008)/index.htm should be removed from this list.

[code]

mapping of google style to checkstyle rule - http://checkstyle.sourceforge.net/google

[2017-01-08 23:56] romani commented on #3701
@dimo414 , please be welcome with PR.

build system will force you to change https://github.com/checkstyle/checkstyle/blob/master/src/it/resources/com/google/checkstyle/test/chapter2filebasic/rule232specialescape/InputIllegalTokenText.java , please place "// ok, as it is backspace symbol" comment left to all "\u0008"

[2017-01-09 07:03] dimo414 commented on #3701
@romani I'd also like to improve the error message (since I don't understand what the current one is telling me). What is this check actually trying to prevent, so that I can propose a more helpful fix? "Illegal text" isn't very informative :)

[2017-01-09 16:53] romani commented on #3701
Please propose better wording.
It could be fixed in 2 ways:
- in google_checks config - http://checkstyle.sourceforge.net/config.html#Custom_messages
- in message of the Check (all instances in all configs will be affected)

Most likely you need first approach.

[2017-01-09 17:01] romani opened #3702 "Google style: allow single character variables"
Based on google/styleguide#214

Local variables and catch arguments, method parameters should be allowed to be one characters

[2017-01-09 20:57] MEZk commented on #3511
I will add AccessModifier enum and the converter to use it in configuration in scope of issue #3675 . However, point 2 should be done in scope of this issue.

[2017-01-09 21:46] rnveach opened #3704 "Checker's haltOnException doesn't obey severity property"
[code]

Checker severity is set to `warning`, but checkstyle still ends with error when `haltOnException` is set to false and an exception happens.
Severity of violation must be `warning` for regression to not halt.

[2017-01-10 00:12] romani commented on #3704
`severity` is for violations only - for "expected"/"possible" feed-back from Checks/Modules.

Exceptions are not expected and reported to code that call checkstyle(Checker). Checkstyle should not log exceptions (I remember we fixed that some time ago), just throw it up to caller.

You use CLI, here Main class is caller of Checker, so Main class set log level to ERROR by default (with no customizat

[2017-01-10 00:17] romani commented on #3316
fix is merged.

[2017-01-10 00:17] #3316 closed

[2017-01-10 01:41] rnveach commented on #3704
@romani CLI is just example here as it is requested reporting for all issues, but this example does clearly show it reporting the violation as an error.

This issue is really tied to regression where we turn off `haltOnException`. Caller there is JXR and I believe maven-checkstyle-plugin.
[The purpose of `haltOnException` was to give us a way to print exceptions as a violation in regression becaus

[2017-01-10 02:39] romani opened #3707 "PR validation for "approved" label does not work"
PR validation for "approved" label does not work.
In PR there is no requied variables that are defined in TRAVIS

[code]

todo: for PRs we need to send request without auth token (I hope we will not quickly run into limit of free requests).
for master commit validation, auth token should be used it will help to catch accidental merge of unapproved issue.

[2017-01-10 02:41] romani commented on #3670
fix is merged

[2017-01-10 02:41] #3670 closed

[2017-01-10 05:18] romani commented on #3704
Hmm, i am ok  to make it as cli option but not in Checker.

[2017-01-10 12:13] rnveach commented on #3704
How would that get set during regression?

[2017-01-10 13:53] romani commented on #3271
All work is done in scope of #3316

[2017-01-10 13:53] #3271 closed

[2017-01-10 16:05] rnveach opened #3708 "Strive for 100% mutation coverage"
Now that we implemented `pitest` in #3271, we should try to increase [the mutation coverage for our different checks](https://github.com/checkstyle/checkstyle/blob/fde083d175b6032b1bc9c9e08e01e109739ff820/pom.xml#L1473-L1784).
Currently, `header` package has the lowest percentage at 78%, followed by `metrics` package at 83%.

FYI: Mutation coverage means a test should prove a line of production co

[2017-01-10 19:32] romani opened #3709 "Should we use Semantic Versioning in release numbers"
http://semver.org
format must be "X.Y.Z", some tools warn about this - https://www.versioneye.com/java/com.puppycrawl.tools:checkstyle/7.4

so, do we need to switch to that version format ?

Benefits:
- follow the standard user can clearly see backward-incomptible fixes

Inconveniences and nuances:
- does not work well with [time-based releases](https://en.wikipedia.org/wiki/Release_early,_release

[2017-01-10 20:16] jochenvdv commented on #3709
I think this is a good idea, it makes it clear when releases break backwards compatibility.

Indeed we need to make sure we adhere to the standard strictly and not introduce backwards incompatible changes in minor releases, only in major ones, else the benefit of semantic versioning is lost. According to the SemVer stanard this does not however apply to non-public APIs I believe, these can be chan

[2017-01-10 20:48] rnveach commented on #3709
If we are going to follow the format then it seems to me we need to follow what the numbers mean, otherwise I would rather stick to our current model, even if it isn't standard.

So the question becomes: Are we going to change how we release major/minor/patch changes and how are we going to do that?

We have a number of checkstyle 8 breaking changes, I assume all of them have to be released in 8.0

[2017-01-10 20:51] rnveach commented on #3707
Since we can't use private tokens in travis in PRs, why don't we encrypt the token directly in the YML file?
https://docs.travis-ci.com/user/encryption-keys/

[2017-01-10 23:59] romani commented on #564
@rnveach ,

Do we still need option to exclude a specific file from a specific check ?

No, this filter is covering what we wanted in this issue.

-------------

@jochenvdv ,

In this issue we wanted to skip not a certain file on certain Check, but to skip whole processing (java parsing ) to avoid crashes.

You can use suppressions - example https://github.com/checkstyle/checkstyle/blob/master/con

[2017-01-10 23:59] #564 closed

[2017-01-11 00:30] romani commented on #3698
#2652 is absolutely the same, but ssue was closed as author did not provide me more details and more examples of usage. I also raise for him my concern with visibility (as it was later raised in #3235) that was not answered.

Right now we have only 3 issues that looks like design solutions become more general.
You want to split by "static" , #3235 want to split by visibility.
All of them are modif

[2017-01-11 01:20] romani commented on #3704
checkstyle should not process unexpected situations and delegate this to CLI or plugins or ....

we have an option 'haltOnException' , that reports exceptional event as ERROR and continue. Exceptional event != violation. Severity are for violations only.
So severity is not applicable to exceptional events.

[2017-01-11 15:14] MaksimP commented on #3465
I think it is more correct to check in PMD.

[2017-01-11 17:29] romani commented on #3465
Checkstyle is single file valudation tool for now with additiobal limitation for no information about types.
All list of limitations - http://checkstyle.sourceforge.net/writingchecks.html#Limitations

Any implementations of this rule in currend design  will lead to tons of false-positives or over complicated config because it will be required to reguster all static methods.
Matching methods by par

[2017-01-11 17:29] #3465 closed

[2017-01-11 17:52] george-007 opened #3710 "ExceptionNameCheck"
It would be nice  to have a check for exception naming, i.e. classes that extends ``^.*Exception$``  has suffix ``Exception``.

[2017-01-11 18:32] rnveach commented on #3704
There is no way to delegate this out of the Root Module (Checker) at the moment. With `haltOnException` turned off, any exception is turned into a "violation" with a fixed severity of ERROR. Checker handles and prints all violations, and only passes back the number of errors it created. Violations are locked away inside Checker. We can hide violations with suppressions, we can change severity of n

[2017-01-11 18:32] #3704 closed

[2017-01-11 19:12] romani commented on #3710
Check need to be generalized to work for other types.
if extended class with some pattern , keep pattern (extends "*Error" should keep name as "*Error")

[2017-01-11 19:46] jochenvdv commented on #3462
I am implementing this. I added unit tests to `ImportControlCheckTest` which now raises a MethodCount violation (more than 35 methods).

What should I do about this? Should I create a new test containing only the tests for the `path` property (this seems overkill)?

[2017-01-11 20:12] MEZk commented on #3462
@romani
MethodCount should not rise violations on test classes. Lets turn it off for UTs and ITs.

[2017-01-11 21:13] romani commented on #3462
ok to suppress MethodCount at for UTs and ITs - https://github.com/checkstyle/checkstyle/blob/master/config/suppressions.xml#L30.

[2017-01-11 21:24] jochenvdv commented on #3462
@romani Do you mean to suppress only this test or all tests? If all tests I will make a separate PR. Right now some specific tests are already suppressed for MethodCount, but I think it makes sense to suppress the whole UT/IT directories.

[2017-01-11 21:32] romani commented on #3462
please do suppression for all tests in separate PR

[2017-01-11 23:33] cypai opened #3718 "NoWhitespaceBefore: Add support for varargs"
I was surprised to see that NoWhitespaceBefore does not support varargs:
[code]

There's no easy regex for this, so it would be nice to have this addition.

[2017-01-11 23:39] romani commented on #3718
I even surprised it is compilable, I have never seen such a code.

[2017-01-12 04:48] george-007 commented on #3710
What about two patterns then:
if extending class with name that matches ``pattern1``, class name should match ``pattern2``.

[2017-01-12 05:38] romani commented on #3710
Yes, we need to figureout good name for that that could be clear for user witjout reading documentation

[2017-01-12 05:40] romani commented on #3718
This token should be in set of defaults

[2017-01-12 09:42] jochenvdv commented on #3710
I propose to name the check `InheritedTypeName`.
For the properties I suggest `supertypeNamePattern `and `subtypeNamePattern`.

I prefer `Type ` over `Class ` because this check should also be usable on interfaces.

[2017-01-12 13:16] romani commented on #3710
Should it treat "extents" and "implements" as the same trigger for activation ?

[2017-01-12 13:36] jochenvdv commented on #3710
At least `extends`.

Example which allows `SortedSet `extending `Set`, but not `SetThatIsSorted`:

[code]

Working with `implements` will require more thought since multiple interfaces can be implemented and configurations could conflict.

Example that cannot be satisfied by subtype (name cannot end in both `InterfaceA `and `InterfaceB`):

[code]

Example which allows a class implementing `Interfa

[2017-01-12 13:51] rnveach commented on #3710
And how are you going to handle a class that implements multiple interfaces, each one with their own naming convention? Even a single `extend` and `implement` could have conflicting naming conventions.

As just an example, I ran into something sorta similar with a custom check I just made, but it uses `AbstractTypeAwareCheck` to look at the entire class hierarchy. In my case, I had classes extendi

[2017-01-12 14:35] romani commented on #3709
@jochenvdv ,

I am afraid to run major version to quickly. May be after stabilizing API and problematic design of existing modules we could switch to that model.
I extended issue description to have more details.

--------------------------

@rnveach ,
I extended issue description a bit , please read.

We will never release all that changes in one release. That is why I am kind of against blind fo

[2017-01-12 14:48] romani commented on #3709
from semantic description:

What is "incompatible API changes" for you ?
is it incompatible changes in API classes ? (affect other projects, where checkstyle is embeded)
is it incompatible changes in configuration ? (affects all config in whole world)

incompatible mean
- removal of class from api ?
- removal of module ?
- removal of property in module ?
- serious change in module logic ?
- change

[2017-01-12 15:28] rnveach commented on #3709
We must have 3 digits, yes, but it won't always be a 0. See [release 7.1.2](http://checkstyle.sourceforge.net/releasenotes.html#Release_7.1.2). I was only referring to the fact its not always 0.

Any public method signature change. Modifier change (`public` -> `private`, non-static to static), name change, parameter type change, number of parameter change, etc. Anything that would break external c

[2017-01-12 15:42] rnveach opened #3720 "Verify tokens in checkstyle config"
We have a test to verify all modules are used in our config file.
We don't have a test to verify we are using all tokens. Some of our check specify a limited amount of tokens to be used on in our configuration. It is not clear if this is on purpose, we don't want to use the token, or if we forgot to add the token in a PR when it was introduced.
Some checks are also split into 2 or more instances,

[2017-01-12 16:01] rnveach opened #3721 "AbbreviationAsWordInName: confusing violation message"
[code]

Violation message `no more than '0' capital letters` is confusing as one capital letter is allowed as seen in other method. It is more than 1 consecutive capital letter where violation occurs on.
I think just the message needs to be fixed, but then 0 for the config might be slightly confusing.

[2017-01-12 16:22] bamapookie commented on #3591
I am having this same issue.  Looking at your code above, and confirming by editing my own code, the violation happens because the closing parenthesis is immediately followed by another annotation.  The violation does not occur when the closing parenthesis is followed by the variable declaration.  In my own case, it was a class annotation, and thus should have been at level 0, but checkstyle was r

[2017-01-12 16:39] jochenvdv commented on #3709
I agree as well, we should wait until the API is stable. Having a new major version released every couple weeks is ridiculous.

[2017-01-12 16:46] jochenvdv commented on #3591
@romani [google-java-format](https://github.com/google/google-java-format)

[2017-01-12 19:59] romani commented on #3709
@jochenvdv , @rnveach ,
So I presume it is ok to stay with non-semver format (2-digit or 3-digit) to even not mimic that we are follow semantic versioning.

[2017-01-12 20:08] romani commented on #3591
how can we trust this tool ?
Look at amount of issues, we could trust it only after it become completed.
We are probably in the same or different illusion/interpretation of what google style paper mean in some cases.

we are participating in clarification process of Google style paper, some points in google style nobody follow.
Non of googlers follow this format even it exists :), each group have

[2017-01-12 20:34] jochenvdv commented on #3709
Yes, we should stick with the current 2-digit format for now.

[2017-01-12 20:43] rnveach commented on #3709
@romani Yes, that is my stance.

[2017-01-12 20:56] #3709 closed

[2017-01-12 21:03] romani commented on #3721
0 - abbreviations are not allowed.

But we need to find good wording for message to make human friendly.
Documentation should be extended too.

[2017-01-12 21:13] romani commented on #3721
if we make no abbreviations in our code we need to resolve following problems, some of them are complicated , may that is why we stick with length of 0:

in main code:
[code]

In test:
[code]

@rnveach , do think we should enforce 0 for abbreviations ?

[2017-01-12 21:39] rnveach commented on #3721
Those are complicated as they are one letter or dashed words.
Most of the questionable ones are classes, so we can always allow one for them if we can't come up with something else.

Those are just plain mistakes, not abbreviations. :)

I do.
On my other projects I also try to enforce this. Reading consecutive letters in camel case might be a little confusing at first and I do not see it as camel

[2017-01-13 00:50] romani commented on #3721
yes, do like good Camel case, too.

"XDoc" - "Xdoc"
"JTreeTable" - is it custom class so prefix "J" doe snot make any good. We could change it.
"NPathComplexityCheck" -- could be suppressed it is a name of check, we can not change it.

"xxxxxxPModel" - presentation models, "Pmodel", "PresModel" or ... ?

[2017-01-13 06:20] pbludov commented on #3122
I've got similar issue with annotations:

[code]

This code fits fine, but looks really stupid:
[code]

[2017-01-13 09:17] gdemecki commented on #893
I definitely agree  @vorburger  and @msteiger. Such a check would be valuable.

Although there may exists some projects which need CRLF line endings - I believe more than 9/10 should stick with the LF and `core.autocrlf = input` (on every platform). I've seen far too many accidental CRLF endings in my life.

@mkordas Please note that all 4 points raised by you are solved with a single Git option:

[2017-01-13 13:31] jochenvdv commented on #3567
Shouln't this issued be close? It seems resolved.

[2017-01-13 14:23] rnveach commented on #3567
@jochenvdv There is one item to look over that romani wasn't happy with on how I transformed it.

[2017-01-13 22:18] mkordas commented on #893
@gdemecki Now it's more than year after my comment from above and I had so many fights with incorrect line endings in projects that I definitely see a need for such check. We just need to document it properly, ideally with some hints how to configure Git to be compatible with every option.

[2017-01-14 00:27] romani commented on #893
I am OK to make this Check , as I told mentioned before I will put approved label as we get out of moratorium period

[2017-01-14 00:46] romani opened #3725 "doc: make example for IllegalToken with label usage detection"
in http://checkstyle.sourceforge.net/config_coding.html#IllegalToken
make exmaple on how to forbid label usage (goto analog).

http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle
/api/TokenTypes.html#LABELED_STAT

[2017-01-14 00:46] #3725 closed

[2017-01-14 00:46] romani commented on #3725
it is already there

[2017-01-14 13:39] romani commented on #3698
@ilanKeshet , can at least you share thoughts ?

[2017-01-14 15:04] romani opened #3727 "CLI is hanging on AST tree printing for Checker.java"
[code]
Checker.java - https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/Checker.java

Detected: hanging

Expected:
1) tree is shown
2) CI is extended to do print to all files in our repo for all modes (-t, -T, -j, -J)

[2017-01-14 15:15] ilanKeshet commented on #3698
Yes, thank you for the reminder and Sorry for the late reply.

I'm not sure it's an all or nothing kind of choice.
i.e. `groupBySameModifiers=true` is too broad, forcing the user to choose between grouping by method name only (as today) Or grouping by too many dimensions, and rendering the Rule kind of useless.

I would like, to have at least two switches
* `groupByVisibilityModifiers=true`
* `gro

[2017-01-14 15:34] rnveach commented on #3727
`-j` is just for printing pure javadoc files. Using it on a java file is like expecting our Java grammar to understand C++ code. It may get some parts, but eventually it will fail.
I'm surprised it doesn't end sooner. I would think the first `*/` it hits should be an indicator to end the parsing.

After 2 minutes or so, it ends in exception.
[code]

This is the line with the issue: `private final

[2017-01-14 15:51] rnveach commented on #3698
@romani I agree with @ilanKeshet on just wanting this for `static` alone. I too prefer similar code in my project.

[code]

I question the use of `true` or `false` switches as he demonstrated as it is not clear which grouping takes priority, `static` or `visibility` if both are on, but that just depends on if someone wants that much customization.

[2017-01-14 16:37] MEZk opened #3728 "Intorduce Snap CI as a new CI Server for Checkstyle"
Snap CI web site
https://www.snap-ci.com

It is free for Open Source projects.

**Features**
https://www.snap-ci.com/features/

**Note**, Snap CI may not have yml-based configuration.

**Rationale**
We can move a part of pitest tests from Shippable CI to Snap CI in order to reduce the time of the build.

[2017-01-14 16:46] ilanKeshet commented on #3698
@rnveach , good point.  I thought of the switches as being additive. where enabling a switch allows for a group with similar name to be split.

also, perhaps a the switch name would be better understood if writes as `allowSplitByVisibility=true`
and `allowSplitByStatic=true`

**some example of additive switches use:**

assuming all flags are `false` :
[code]

assuming all flags are `false` except

[2017-01-15 02:09] rnveach opened #3729 "reevaluate tokens in IllegalTokenText"
Taken from PR #3723 ,
When reviewing the tokens of IllegalTokenText, it was noticed that some tokens have no text that users can change, they are constants. It doesn't make sense to leave these tokens for the purpose of this check. If user wants to disallow a token, they should IllegalToken instead.

We need to identify these constant value tokens and remove them from the check.
We should try to m

[2017-01-15 02:25] rnveach opened #3730 "reevaluate tokens in checkstyle config for AnnotationLocationCheck"
Taken from PR #3723 ,
When reviewing the tokens of AnnotationLocationCheck, it is unclear if we should add the following tokens to our configuration.

We should review them and provide more examples in our xdocs for this check as it is not easy to understand what the tokens are being referred to.

[2017-01-15 03:23] rnveach opened #3731 "expand documentation on METHOD_REF token"
Taken from PR #3723 ,

Documentation for METHOD_REF at http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#METHOD_REF needs to be expanded, preferably with an example of it used in java code like some of the other tokens.

[2017-01-15 09:26] MEZk commented on #3698
@rnveach , @romani , @ilanKeshet
The main point of the issue was the idea of adding a new option called 'separateStatic'.  However, the option is too strict for me. I like @romani's proposal (groupBySameModifiers) as I prefer to group methods by modifiers. This is what I expect if groupBySameModifiers=true :

[code]
[code]

[code]
-------------------------------------------------
groupBySameModifi

[2017-01-16 01:24] bamapookie commented on #3591
Regardless of whether the code matches the output of the tool, Checkstyle is exhibiting a bug here.  The following code reports an error:
[code]

With the following checkstyle.xml:
[code]

[2017-01-16 04:12] romani commented on #3591
@bamapookie , please review https://github.com/checkstyle/checkstyle/issues?q=is%3Aopen+is%3Aissue+label%3Aindentaion and report issue if it snot reported. Everyone is welcome to contribute.

If smb wants to do comparison and deep analysis .... please do.

[2017-01-16 05:04] bamapookie commented on #3591
@romani thanks.  Will do.

[2017-01-16 16:53] maggu2810 opened #3732 "NPE on type parameter annotations for this"
* `/var/tmp $ javac Demo.java`

[code]
(compiled without error)

* `/var/tmp $ cat Demo.java`

[code]

* `/var/tmp $ cat config.xml`

[code]

* `/var/tmp $ java -jar ~/Downloads/checkstyle-7.4-all.jar -c config.xml Demo.java`

[code]

---------------

I would expect that a type parameter annotation for `this` works does not raise a NPE in the checker framework.
Such annotations are used e.g. if yo

[2017-01-16 16:55] maggu2810 commented on #3732
Without an understanding about your source code, this is at least a workaround for the NPE: https://github.com/maggu2810/checkstyle/commit/e91e37a6ccebae031abdd7cea43cc85565c496de

[2017-01-16 17:34] rnveach commented on #3732
The issue and the fix look valid to me.
The issue is with Java 8s 'receiver parameters'. They don't have a variable name, but the `this` literal. JavadocMethodCheck is trying to find only variable name parameters.

[2017-01-16 19:44] maggu2810 commented on #3732
Thanks @rnveach
Will create the PR after the approval label has been added.

[2017-01-17 08:41] maggu2810 commented on #3732
I found https://github.com/checkstyle/checkstyle/issues/3239 and it seems to be solved. Is this a regression or what is different here?

[2017-01-17 12:58] rnveach commented on #3732
@maggu2810 That was just adding the tokens to our antlr so we could identify and understand the java code syntax.

[2017-01-17 14:56] bamapookie opened #3733 "Indentation: Annotation with RParen on new line when followed by other annotations causes invalid expectation"
temp $ javac CheckstyleRightParenBug.java

temp $ cat CheckstyleRightParenBug.java
[code]

temp $ cat config.xml
[code]

temp $ java -jar checkstyle-7.4-all.jar -c config.xml CheckstyleRightParenBug.java
Starting audit...
[ERROR] /temp/CheckstyleRightParenBug.java:9: ')' have incorrect indentation level 0, expected level should be 4. [Indentation]
Audit done.
Checkstyle ends with 1 errors.

------

[2017-01-17 16:26] rnveach commented on #3507
Fix is merged

[2017-01-17 16:26] #3507 closed

[2017-01-17 16:38] bamapookie commented on #3733
Stepping through the test code, I see that the two annotations are bunched together when calling checkAnnotationIndentation in LineWrappingHandler.java.  The parameter atNode includes the lines from all the annotations and the public access modifier preceding the (class|method) declaration.  lastAnnotationNode gets set to the last line of the last annotation, and not the last line of the current a

[2017-01-17 20:09] romani commented on #3732
Issue is approved.
All old javadoc Checks do not pass our regression testing, so quality is less than for other Checks.
Old javadoc checks unfortunately are error prone and fragile.
Please be welcome with PR.

[2017-01-18 13:59] rnveach opened #3735 "reevaluate tokens in checkstyle config for NeedBraces"
Taken from PR #3723 ,

When reviewing the tokens of NeedBraces, it is unclear if we should add the token `LAMBDA` to our configuration. Our style demand braces in all case for IF, FOR, etc. so it seems LAMBDA should follow this rule too.

New configuration item created for this token:
[code]

When testing this out and fixing violations from adding the token, TeamCity failed with violations like:
[

[2017-01-18 14:02] romani commented on #3731
Assigned to Vadzim Matsiushona­k

[2017-01-18 14:08] rnveach commented on #3735
My opinion, I don't really use lambdas or a lot of Java 7+ features, but I think I like adding braces to lambdas just like we do for other constructs, especially if it spans multiple lines. It makes it easier to understand where the start and end is, especially when it is nested inside other method calls. It also makes it easier to see what is in the lambda and what isn't.
The reason why add brace

[2017-01-18 14:26] romani commented on #3735
Looks like the intend is to remove braces if possible -
https://blog.jetbrains.com/idea/2014/09/the-inspection-connection-issue-1/#crayon-587e989b37764467122309
but our style demand braces in all case for IF, FOR,..... so LAMBDA should follow this rule too, so Inspections set need to be updated.

[2017-01-18 14:31] TWiStErRob commented on #619
@romani bump, really need for that regex option.

[2017-01-18 15:18] jochenvdv opened #3736 "config: Remove redundant and incorrect rules from import control configuration"
The import control configuration has become a bit out of sync and has to be updated in several places. I will list the issues here as I go through the configuration and find more.

Please comment on how to handle these individual issues.

- `java.lang.reflect` is redundantly allowed: it is listed non-locally in the top package but also under the `checks.indentation` package. Should `java.lang.refl

[2017-01-18 18:10] andreevym opened #3738 "Override default modules"
can you add opportunity to override models in default xml?

[2017-01-18 18:27] romani commented on #3720
fix is merged.

[2017-01-18 18:27] #3720 closed

[2017-01-18 18:39] rnveach commented on #3720
@romani Do we want to extend this validation to sevntu or google configurations?

[2017-01-18 20:00] bamapookie commented on #3591
Opened issue #3733.  Fixed in pull request #3737.

[2017-01-18 20:26] romani commented on #3720
@rnveach , lets try to do this, but each config in separate issues.

[2017-01-18 20:51] romani commented on #3738
@andreevym , please be as detailed as possible.
What is "model" ? What do you mean by "override". Whats is "default xml" ?

just describe what you have now in details and what you would like to be able to do (in details).

[2017-01-18 20:54] 2is10 opened #3739 "Indentation: Allow customization for instance initializers (feature request)"
We use the default Indentation module configuration.

We have thousands of JMockit expectation blocks. We’d like to format them in [the canonical way](http://jmockit.org/tutorial/Mocking.html#expectation), but we get a checkstyle error:

[code]

As a workaround, we could simply indent the block contents an extra level, but then they appear to be indented too far—not just to our eyes, but to our ID

[2017-01-18 21:08] rnveach opened #3740 "Verify tokens in google config"
Spinoff of Issue #3720

We are now verifying if tokens should or shouldn't be in our checkstyle configuration and we found some missing ones that we added in the mentioned issue.

We should extend this to check tokens in google's configuration.

[2017-01-19 00:58] chao1995 opened #3741 "UnusedImports behaviour is different from documentation"
/var/tmp $ javac Test.java

No output.

/var/tmp $ cat Test.java

[code]

/var/tmp $ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.4-all.jar -c config.xml Test.java

Starting audit...
Audit done.

---------------

Describe what you expect in detail.

--------------

As documented [in the third item of UnusedImports description](http://checkstyle.sourceforge.net/config_imports.html#Unus

[2017-01-19 05:16] MEZk commented on #3741
@romani
Please. assign

[2017-01-19 12:33] andreevym commented on #3738
I have maven plugin with
There are 2 predefined rulesets: sun_checks.xml, google_checks.xml
I want to change predefined value:
1) does not require package-info.java
2) max line length 150
3) TODO becomes warning instead of error

My maven pom is
<plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-checkstyle-plugin</artifactId>
        <version>2.17</version>

[2017-01-19 13:16] jochenvdv commented on #3738
Checkstyle does not yet support overriding or inheriting configurations (this is a duplicate of issue #2873).

You have to create your own configuration file for now that you can base on the default Google or Sun style. Copy `sun_checks.xml` or `google_checks.xml` and adapt to your needs. Configure `pom.xml` to use your custom configuration using the `configLocation` tag.

[2017-01-19 14:51] icirellik opened #3742 "Google Style Checks"
The following line excludes using `e` as an exception name. Though the google style guide, I cannot find any reference to this claim.

https://github.com/checkstyle/checkstyle/blob/258c440a011f1845a2095e5b6361ae9639849f1f/src/main/resources/google_checks.xml#L125

Should this line be updated to match the current google style guide?

[2017-01-19 15:21] jochenvdv commented on #3742
Yes. This is a duplicate of issue #3702.

[2017-01-19 15:42] rnveach commented on #3742
Closing as a duplicate

[2017-01-19 15:42] #3742 closed

[2017-01-19 18:41] MEZk commented on #3698
After discussion with @romani we came to a conclusion that the examples and option (groupBySameModifiers) was difficult to understand. It will be mislead users of the check.

[2017-01-19 20:52] viliam-durina opened #3744 "File definition for suppressions should ignore path separator"
Currently, if we want the suppression rules to work on both Windows and Linux, we have to use `[\\/]` as the path separator. Our current configuration only works on Linux (https://github.com/hazelcast/hazelcast/blob/master/checkstyle/suppressions.xml). If we replace all path separators with `[\\/]`, the file becomes lot harder to read, have a look at your https://github.com/checkstyle/checkstyle/b

[2017-01-20 00:21] romani commented on #3744
http://checkstyle.sourceforge.net/config_filters.html#SuppressionFilter

problem is that user will have non certain situation in what slashes to write config. Window users will do by windows way, unix people by their way. It will create just another problem and misunderstanding.
Yes, it is pain, we have it too. ...  I do not see good solution for now. Lets keep that issue as place for community to

[2017-01-20 01:20] romani commented on #3738
OK you use maven plugin.
Let's imagine that all is possible. Please write us configuration you would like to have to make it happen for all three cases that you mentioned.

I need to know user preferences.

[2017-01-20 06:39] viliam-durina commented on #3744
Java happily opens files on Windows, if they are written with Unix separators:

    // this will work on windows, even though windows is in uppercase and forward slash is used
    InputStream is = new FileInputStream("c:/windows/system.ini");

However, backslash will not work on Linux

    // this will throw java.io.FileNotFoundException on Linux
    InputStream is = new FileInputStream("\\etc\\mt

[2017-01-20 13:22] rnveach commented on #3744
I am a Windows user and I still use backslashes regardless. Most of the time it is because I am copying paths from explorer instead of writing them out by hand. I usually work only with Windows outside Checkstyle, so I've had little need to learn to use forward slashes for linux. Even with working on Checkstyle, the majority of my time is not spent working with linux or it's own caveats.

	regexp=

[2017-01-21 00:52] romani commented on #3698
I removed comment of MEZk, as it produce only even more mess, and show that my initial model was far from good.

I do not like approach of @ilanKeshet , as it creates too much properties, support of such properties is known problem. So lets consider another approaches.

Here is another idea from me:
property "ModifiersThatGreateGroup" = list of String.
Examples :
`ModifiersThatGreateGroup` = "stat

[2017-01-21 18:33] romani commented on #3736
approved. no violations with
[code]

global level should be lowered, not all need this imports, fix is
[code]

[2017-01-21 19:40] romani opened #3746 "Enforce pitest mutation coverage on whole code"
Main point is to enforce pitest on checks - #3708

As we have 100% coverage, pitest could be enforced on whole code (utils, Checker, Treewalker, ....)

[2017-01-21 22:43] romani commented on #3698
@ychulovskyy , @supercobra, @LoPoBo , @rnveach, @MEZk , @ilanKeshet please review and be welcome with feedback.

[2017-01-22 07:33] ilanKeshet commented on #3698
@romani This is a good approach, I personally like it very much as it allows fine grain control over which groups to form.
However I think it is far from simple, and would result the same type of usage pattern of *Copy & Paste* configuration. Same as [DescendantToken](http://checkstyle.sourceforge.net/config_misc.html#DescendantToken) where the complexity of usage is such that (at least in my limi

[2017-01-22 09:36] ychulovskyy commented on #3698
@romani I would concentrate on KISS.
//ModifiersThatGreateGroup = "protected, private, package" is easy to write and understand.
And it resolves my problem.

Let's think about another simple case: keep static methods together, keep public method together:
[code]
Does  ````public static void foo()```` belong to public group or static group? Both groups or neither?
Should I write "public" or "public

[2017-01-22 13:06] #3462 closed

[2017-01-22 15:00] romani commented on #3698
@ilanKeshet , thanks a lot for detailed review.
Here are the answers.

advanced tuning, demands advanced understanding of configuration. User will have examples of most common requests to use. Most users should not have extra complicated ordering, just split for visibility and static is more than enough.

That is why we have WARNING on usage of it. It is for advanced and very demanding users . Jus

[2017-01-22 15:14] romani commented on #3698
@ychulovskyy , thanks for feedback.

it is not ideal, it force you to understand that all `public` will stay in default group. But yes, config looks simple.

good use case.
Config should be: `modifiersThatGreateGroup` = "static, public" (exactly as you defines, with nuance that "static" is first)
user defined string, will be split by `,` , then for each part we create RegExp, so we will have array

[2017-01-22 23:23] rnveach commented on #3741
Fix is merged

[2017-01-22 23:23] #3741 closed

[2017-01-23 11:08] jochenvdv commented on #2873
I gave this some thought and propose the following solution. Please give feedback.

Something we would have to deal with is the fact that modules can be configured multiple times.
A backwards-compatible solution would be to create an `id` property for modules and a new attribute on `Checker` to inherit from an existing configuration file. To override a module, the same id should be used, else it i

[2017-01-23 14:06] rnveach commented on #2873
Shouldn't the default be all properties are inherited?
If a module is a class and properties are methods (which they actually are), when I extend a class I expect to inherit all the methods of the that class. I don't expect to have to hand write them over again.

What happens then? Is it ignored or is it added as a new check?
You also do not provide an example of how to add a new check that the pa

[2017-01-23 15:56] rnveach opened #3748 "reevaluate 'default' and 'case' in google config for EmptyBlock"
Taken from PR #3743 ,

The tokens `default` and `case` shouldn't be empty according to http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.8.4-switch .
We should review and decide if tokens should be added to google configuration.

[2017-01-23 16:13] rnveach opened #3749 "reevaluate tokens in google config for OperatorWrapCheck"
Taken from PR #3743,
When reviewing the tokens of OperatorWrapCheck, it is unclear if we should add the following tokens to google configuration.

We should review them and ask google for clarification.

[2017-01-23 17:57] jochenvdv commented on #3736
@romani

We need to make some rules about the import control file and clean it up.
Sometimes packages are allowed, sometimes specific classes.
Sometimes local, sometimes not. We need to be specific and consistent.

I am willing to go over all the rules and make them consistent, but I am not completely familiar with how they should be done.
I propose that I make a PR with some fixes listed in this

[2017-01-23 18:13] jochenvdv commented on #2873
@rnveach I agree with all of your remarks and I like your example a lot. It requires more work for implementation and documentation but it solves all the issues with my proposed solution.

You say that duplicate id's will lead to unpredictable outcome but can't we simply throw an error if we detect this while reading the configuration files?

I think we should also add re-enabling grandparent modu

[2017-01-23 18:58] rnveach commented on #2873
Part of me was thinking of JavaScript/HTML when writing it, as it too has unpredictable results when duplicate `id`s are defined. Also the 'no exception' result went with the other non-errors situations like 'disabling a check that doesn't exist'. I didn't really want users to be negatively affected if owner of parent config decides to make changes in future revisions.

But it is mostly just an ex

[2017-01-23 19:02] romani commented on #3736
@jochenvdv ,

I would love to clean up this, you can start work by any means, I will share my thoughts and guide you.
If supposed update is big, it is might be better to discuss it before processing to PR.

One more issue that will help is ability to enforce import control for certain files not whole package , we already have issue on this somewhere. It will help to make a fence around Classes tha

[2017-01-23 19:31] jochenvdv commented on #3736
@romani I think you mean issue #3492? I agree, I will wait with the cleanup of the config until that issue is implemented, else we will have to redo it too many times.

[2017-01-23 19:57] romani commented on #3736
with issue #3492 we could finally enforce very strict model of import usages.
Some cleanup could be done independently. This clan up will generate more use cases for #3492 .
This issue could be done even now.

[2017-01-23 20:51] andreevym commented on #3738
I hope people wants customize common and override xml

We’ve found 967 code results
https://github.com/search?l=Maven+POM&q=sun_checks.xml&type=Code&utf8=%E2%9C%93

1) I comment

We’ve found 15,840 code results
https://github.com/search?q=%3C%21--%3Cmodule+name%3D%22JavadocPackage%22%2F%3E--%3E&type=Code&utf8=%E2%9C%93

2) add
    <module name="LineLength">
      <property name="max" value="150"/>

[2017-01-23 21:00] romani commented on #3738
@andreevym , customization is known demand.

main question how to users want it to looks like, overrides by Xpath or ....

[2017-01-23 21:23] andreevym commented on #3738
POM looks like they want to write xml, maybe add specific <override> and add in this block xml, or path to xml file.

I just think like work with xml like with JAXB objects for me it's one field, and I want to change this field.

[2017-01-24 03:06] romani opened #3751 "Config: forbid assert token by Illegal token Check"
https://github.com/checkstyle/checkstyle/blob/master/config/checkstyle_checks.xml#L223

Assert token should be added.
Why we have two lines for tokens ?  It is override. Should be forbidden by XML schema.

[2017-01-24 09:23] viliam-durina commented on #3744
If it's implemented according to my proposal, you'll be fine on Windows only.

	file=c:\work\Program.java
	regexp=\\work\\Program.java
	fileMatches=true

If you want to be portable, you'll just have to use `'/'` everywhere. That's it.

[2017-01-24 13:48] rnveach commented on #3751
@romani

[DefaultConfiguration merges multiple properties together like it was one line.](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/DefaultConfiguration.java#L106-L114) Some were already like this in the config, so I thought it was acceptable for history viewing to clearly show removes/adds.
[There is an old commit where tokens were purposel

[2017-01-24 14:31] rnveach opened #3752 "reevaluate tokens in google config for SeparatorWrapCheck"
Taken from PR #3743,
When reviewing the tokens of SeparatorWrapCheck, we would like more time to review the following tokens before adding them.

http://checkstyle.sourceforge.net/config_whitespace.html#SeparatorWrap

Right now we ignore usage of these tokens in [google config validator](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/internal/All

[2017-01-24 14:33] rnveach opened #3753 "reevaluate tokens in google config for NeedBracesCheck"
Taken from PR #3743,
When reviewing the tokens of NeedBracesCheck, we would like more time to review the following tokens before adding them.

[2017-01-24 16:16] romani commented on #3740
Mostly fixed.
There are few others issues created

[2017-01-24 16:16] #3740 closed

[2017-01-24 23:29] romani opened #3755 "google_checks: update to most recent version of style guide (3 November 2016)"
http://checkstyle.sourceforge.net/google_style.html
https://github.com/google/styleguide/commits/gh-pages/javaguide.html

change that we miss: https://github.com/google/styleguide/commit/db0a26320f3e930c6ea7225ed53539b4fb31310c

[2017-01-25 08:48] jochenvdv commented on #3736
Ok, I will list the issues here before I make a PR. Will take a while though since I am busy.

[2017-01-25 18:59] MEZk commented on #3702
[Chapter 5.2.6 Parameter Names](https://google.github.io/styleguide/javaguide.html#s5.2.6-parameter-names) will be covered by https://github.com/checkstyle/checkstyle/pull/3722

[2017-01-25 20:40] MEZk commented on #3702
@romani
I do not find any information about identifiers like ```aParam```. Should we allow them. Google Style guide does not prohibit their usage.

Even when final and immutable, local variables are not considered to be constants, and should not be styled as constants.

One-character parameter names in public methods should be avoided.

[lowerCamelCase section](https://google.github.io/styleguide/

[2017-01-25 20:46] rnveach commented on #3702
@MEZk

What about this?
https://google.github.io/styleguide/javaguide.html#s5.1-identifier-names

[2017-01-25 20:49] MEZk commented on #3702
@rnveach
Sorry, I did not notice that on the top and thought that ```identifiers``` did not refer to parameters) My fault.

[2017-01-25 20:55] rnveach commented on #3702
We name parameter name as `IDENT` in CS tree, so I assume `identifiers` means all variable names.

It sounds reasonable. `AbbreviationAsWordInName` should be set to 0 too like we are planning to do in our own config at https://github.com/checkstyle/checkstyle/issues/3721#issuecomment-272285236.

[2017-01-25 20:59] MEZk commented on #3702
https://google.github.io/styleguide/javaguide.html#s5.1-identifier-names is a bit controversial:

They says:

[code]

So one can think that identifiers with underscore are allowed: parameter_number1, parameter_number. But then Google Style states that

and

and

They should have prohibited underscore usage in the first sentence.

[2017-01-25 23:35] rnveach commented on #3753
`NeedBracesCheck` will require braces always when the statements are used.

http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.1-braces

It doesn't mention lambda, so it is not requesting them all the time.
http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.1.2-blocks-k-r-style is only mentioning if the braces are added.

Going even further, the

[2017-01-25 23:58] rnveach commented on #3749
All the tokens in question are assignment operators.

http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.5.1-line-wrapping-where-to-break

Either is acceptable, but they prefer after the symbol.
@romani How do we want to handle this? Just ignore the tokens since either method is acceptable?

[2017-01-26 00:09] rnveach commented on #3748
http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.8.4-switch

4.8.4.3

`default` clearly says it may contain no code. `case` says the group must contain one or more statements, but it also stated `default` in that same sentence.

@romani We can try asking for confirmation, but it seems `case` should be added and `default` shouldn't be.

[2017-01-26 00:13] romani commented on #3748
@rnveach , lets make issue on google style and request confirmation.

[2017-01-26 00:15] romani commented on #3749
if acceptable it means allowed.
checkstyle can not satisfy "preferred" term at all. In checkstyle it is either allowed or forbidden.

[2017-01-26 00:19] rnveach commented on #3749
@romani Then for this issue, we will not add the tokens or change the configuration and and just update the reason in the test, correct?

[2017-01-26 00:20] romani commented on #3753
yes, comment need to be updated

from new guide:

It is requirements. can Check cover it ?

[2017-01-26 00:22] romani commented on #3749
yes.
we might add this cases in ITs to enforce this a bit firmly.

[2017-01-26 00:28] rnveach commented on #3748
Requested confirmation at https://github.com/google/styleguide/issues/221

[2017-01-26 00:41] rnveach commented on #3753
@romani
`NeedBraces` doesn't deal with line breaks and the requirement is `unbraced`.
`unbraced` also throws out `LeftCurlyCheck`.
Even if `SeparatorWrap` or `OperatorWrap` could handle the lambda token, which it can't, it can't handle the extra requirement by default (`if the body of the lambda consists of a single unbraced expression`). The checks just look at the token itself for the most part.

[2017-01-26 01:07] rnveach commented on #3752
http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.8.5-annotations

We can't differentiate between field and non-field in this Check. So we can't add `AT` token.

http://checkstyle.sourceforge.net/reports/google-java-style-20160712.html#s4.8.3-arrays

I'm not sure anything specifies location of `ARRAY_DECLARATOR` (the `[` token of `[]`). Examples talk about after `[]` mos

[2017-01-26 04:18] romani commented on #3752
confirmed. please update ignore comment.

http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#ARRAY_DECLARATOR
http://checkstyle.sourceforge.net/property_types.html#wrapOp , usage as:
[code]
is so weird that it is hard to imagine that smb will do this, but we can recheck this :) .

it should be `eol`

I think semi-colon should be `eol`.

http://checkstyle.

[2017-01-26 04:42] romani commented on #3702
@MEZk , do you still need comments from me ?

[2017-01-26 04:53] MEZk commented on #3702
@romani
No.I'm OK to start resolving the issues.

[2017-01-26 13:38] rnveach commented on #3752
@romani I was trying to go by the rules alone in the documentation for specific allow/disallow. I agree allowing forms that the check would prevent look weird and shouldn't be allowed, but google doesn't specify one way or the other unless I am missing it.

Do you know what this means?

Since the examples you gave made the code not easy to ready, we'll use this as the excuse to add the other token

[2017-01-26 14:08] romani commented on #3752
it is ok, as it is impossible to specify all. Even we come to this point after few years of detailed reading of google style. If think our team is the only team who read this document with a lot of attention.
Google still in process of polishing of this document.
Lets create issue on google style to clarify.

we investigated this term in scope of indentation
https://google.github.io/styleguide/jav

[2017-01-26 16:49] romani commented on #3675
fix is merged.

[2017-01-26 16:49] #3675 closed

[2017-01-26 17:16] erikhuizinga commented on #3675
This 'fix' causes an error in the event log of IntelliJ IDEA:

I use [google_checks.xml](blob/master/src/main/resources/google_checks.xml) and the [Checkstyle-IDEA IntelliJ plugin](https://github.com/jshiell/checkstyle-idea) on IntelliJ IDEA 2016.3.3.

[2017-01-26 17:37] MEZk commented on #3675
@erikhuizinga
You gave the incorrect link
https://github.com/checkstyle/checkstyle/issues/blob/master/src/main/resources/google_checks.xml

I assume that you used  google_checks.xml from our master branch . That version of  google_checks.xml  has not been released yet. As you can see this issue has 'breaking compatibility' label which means that after release all changes in this issue become incom

[2017-01-26 17:42] MEZk commented on #3675
@romani
The [link](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml) to  Checkstyle configuration for 'Google Java Style' refers to master version of google_checks.xml. It means that all changes that we make in google_checks.xml are available for users who want to download the config from Checkstyle site.  google_checks.xml usually contains unreleased chang

[2017-01-26 18:17] erikhuizinga commented on #3675
@MEZk thanks, my bad! Also, the link was indeed broken, my bad again, but I fixed it.

Is there by chance a permalink to the latest release raw xml? I can only find a URL to the file in the specific release: https://raw.githubusercontent.com/checkstyle/checkstyle/checkstyle-7.4/src/main/resources/google_checks.xml

[2017-01-26 18:23] MEZk commented on #3675
@erikhuizinga
Sorry, but now we don't have the link, only specific release. We try to fix this ASAP.

[2017-01-26 18:27] romani commented on #3675
No. to avoid problems with version differences  please use xml config from checkstyle jar, that is embedded.
to reference it do "/google_config.xml" (it will load it from classpath).
Example: http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

we need to think how to change search URL to reference strict tag, if that is possible by github API, so we could create issue to make it more

[2017-01-26 18:34] MEZk opened #3760 "Links to google_checks.xml and sun_checks.xml on Checkstyle web site should point to the latest release"
Based on https://github.com/checkstyle/checkstyle/issues/3675#issuecomment-275449314 , https://github.com/checkstyle/checkstyle/issues/3675#issuecomment-275455444 , and https://github.com/checkstyle/checkstyle/issues/3675#issuecomment-275456856 links to google_checks.xml and sun_checks.xml on Checkstyle web site should point to the latest release. Now they both point to the latest master versions.

[2017-01-26 18:35] MEZk commented on #3675
@romani
Issue #3760 addresses the problem.

[2017-01-26 19:25] mhernand40 opened #3761 "Checkstyle 7.4 does not allow property 'accessModifiers' in module ParameterName"
/var/tmp $ javac Sample.java

/var/tmp $ cat Sample.java
[code]
/var/tmp $ cat snippet_from_google_checks.xml
[code]

/var/tmp $ java -jar checkstyle-7.4-all.jar -c snippet_from_google_checks.xml Sample.java
[code]

---------------

Describe what you expect in detail.

--------------

CheckStyle runs without any issues.

[2017-01-26 19:34] rnveach commented on #3761
@mhernand40 `accessModifiers` was just introduced and won't be ready until Checkstyle 7.5 is released.

[2017-01-26 19:34] #3761 closed

[2017-01-26 20:27] erikhuizinga commented on #3675
Take a look at: http://stackoverflow.com/questions/24987542/is-there-a-link-to-github-for-downloading-a-file-in-the-latest-release-of-a-repo

[2017-01-26 20:28] erikhuizinga commented on #3760
Take a look at: http://stackoverflow.com/questions/24987542/is-there-a-link-to-github-for-downloading-a-file-in-the-latest-release-of-a-repo

[2017-01-26 21:11] tinder-mhernandez opened #3762 "SingleLineJavadoc rule in google_checks.xml conflicts with Google Java Formatter"
/var/tmp $ java -jar [google-java-format-1.2-all-deps.jar](https://github.com/google/google-java-format/releases/download/google-java-format-1.2/google-java-format-1.2-all-deps.jar) -r Sample.java
/var/tmp $ javac Sample.java
/var/tmp $ cat Sample.java
[code]
/var/tmp $ cat [google_checks.xml](https://github.com/checkstyle/checkstyle/blob/checkstyle-7.4/src/main/resources/google_checks.xml)
[code]

[2017-01-26 23:57] romani commented on #3762
We do not consider comparison with other tools, there is a specification/guide and we follow only it.

please open issue on google-java-format , this tools is not correctly validate code, please read style guide attentively.

https://google.github.io/styleguide/javaguide.html#s7.1.1-javadoc-multi-line

Additional wave of discussion might speedup resolution of google/styleguide#215 .

[2017-01-26 23:57] #3762 closed

[2017-01-27 05:20] tinder-mhernandez commented on #3762
Thanks for the reply @romani. I filed https://github.com/google/google-java-format/issues/117, but it was also closed. It seems the guide's definition of [at-clause](https://google.github.io/styleguide/javaguide.html#s7.1.3-javadoc-at-clauses) is not thorough enough and sort of leaves it up to interpretation.

To me it sounds like the rule should be modified to at least specify:
[code]
Though the

[2017-01-27 14:06] romani commented on #3732
Fix is merged

[2017-01-27 14:06] #3732 closed

[2017-01-27 14:37] romani opened #3763 "try to avoid non jdk runtime exceptions in code"
We should avoid usage of non-jdk exceptions that could be thrown from our code.
`org.apache.commons.beanutils.ConversionException` should be changed to IllegalArgumentException.
Whole code should be reviewed to fins similar cases.
Try to forbid this by ImportControl check.

[code]

[2017-01-27 14:40] romani opened #3764 "refactoring: RightCurlyCheck code expression"
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L174

[code]

Why rcurly variable could store non `TokenTypes.RCURLY` .
I might miss smth, but expected code is
[code]

[2017-01-27 18:06] rnveach commented on #3764
`ELSE` doesn't verify that it has curlies.
https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L338-L348
https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L350-L355

[2017-01-27 20:00] cypai opened #3766 "Consider enum trailing commas for NoWhitespaceBefore semicolons"
http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceBefore

[code]

It would be nice if NoWhitespaceBefore would ignore the semicolon if it is on the line after a trailing comma in enums.

[2017-01-27 20:09] romani commented on #3764
get details method should put in field only curly AST token

[2017-01-27 20:12] romani commented on #3764
Fix is merged

[2017-01-27 20:12] #3764 closed

[2017-01-27 20:22] cypai opened #3767 "Consider enum trailing commas in SeparatorWrap semicolons"
[code]

It would be nice if SeparatorWrap would ignore the semicolon if it is on the line after a trailing comma in enums.

[2017-01-28 00:31] rnveach commented on #3755
Our copy of the guide was 2016-07-12 which corresponds to https://github.com/google/styleguide/commit/b075cb7cad464b224103fb2ec8fdb8521ec08e7f .

To see the differences between that version and current master, you can use the following URL:
https://github.com/google/styleguide/compare/b075cb7cad464b224103fb2ec8fdb8521ec08e7f...gh-pages#diff-b6c9191ee5ccb7a5ef170e98e51d94d8

[2017-01-28 01:07] romani commented on #3698
@ilanKeshet ,@ychulovskyy ,
Please confirm that you see no problems with design for now and we could convert it to issue with exact specification .

 @ilanKeshet , do you still have ability to help us implement this ?

[2017-01-28 03:34] romani commented on #3753
Fix is merged

[2017-01-28 03:34] #3753 closed

[2017-01-28 04:04] rnveach commented on #3729
There doesn't seem to be a way to identify token's with constant text from dynamic test unless we parse the grammar or generated java file.

Grammar: `#(#[ANNOTATION,"ANNOTATION"], `
Generate Java: `astFactory.create(ANNOTATIONS,"ANNOTATIONS")`

[2017-01-28 07:57] MEZk commented on #3702
@romani @rnveach
I came p with the following regexp pattern:
```^[a-z]{2,}([a-z0-9][A-Z]?[a-z0-9]*)*$```

Examples:
camelCase - MATCHES
Param1 - DOES NOT MATCH
singleLineCComment - DOES NOT MATCH
paramABBB - DOES NOT MATCH
param1 - MATCHES
1asd - DOES NOT MATCH

paramA1 - MATCHES (?)
paramA1Asdas - MATCHES (?)
asdqA1A1 - MATCHES (?)

(?) - Google Style guide allows digits in identifiers but says n

[2017-01-28 09:17] ychulovskyy commented on #3698
@romani confirmed

[2017-01-28 13:04] romani commented on #3041
Fix is merged

[2017-01-28 13:04] #3041 closed

[2017-01-28 14:29] romani commented on #3379
@mcandre ,

we have one more request for the same feature https://groups.google.com/forum/#!topic/checkstyle/rzNJDM_uvyg , and looks like I lost tracking of this issue.

please explain why you need multiple lines (2 empty lines or more) ?

[2017-01-28 14:34] ilanKeshet commented on #3698
@romani confirmed, looks good to go.

Yes, my offer to help implementing this issues still stands, I could start Friday (Feb 3)

[2017-01-28 14:57] romani opened #3770 "OverloadMethodsDeclarationOrder: new property to allow few groups of overloaded methods"
This is a summary of #3698 .
Successor for: #2652, #3235 .

property "ModifiersThatCreateGroup" = list of RegExp for modifiers.
It is ok to provide better name for property.

Examples :
`ModifiersThatCreateGroup` = "static" - all static methods should be separate (should cover request of this issue),
"ModifiersThatCreateGroup" = "public, private, protected, package" - 4 groups, each visibility mod

[2017-01-28 15:07] romani commented on #3698
closed in favor of #3770

[2017-01-28 15:07] #3698 closed

[2017-01-28 15:07] romani commented on #3235
closed in favor of #3770

[2017-01-28 15:07] #3235 closed

[2017-01-28 15:53] Tunaki opened #3771 "NullPointerException in AbstractHeaderCheck when cache file specified and no header file"
This affects Checkstyle 6.19, which is currently the last JDK 1.7 compatible version, and every version in the 7.x line. It was discovered trying to fix [MCHECKSTYLE-322](https://issues.apache.org/jira/browse/MCHECKSTYLE-322) for the Maven Checkstyle Plugin.

http://checkstyle.sourceforge.net/config_header.html#RegexpHeader#RegexpHeader

Given the following Java class

[code]

and the following `c

[2017-01-28 17:27] rnveach commented on #3771
The issue does look valid. [We need to check for `null` when creating the external resource for this check](https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/header/AbstractHeaderCheck.java#L196).

If you are stuck on an older version because of JDK8, I recommend you try https://github.com/rnveach/checkstyle-

[2017-01-28 18:16] romani commented on #3771
we do not provide packports, as it is too expensive for our tiny team.
But you can easily do this yourself and have its own version your maven repository.

[2017-01-28 18:33] Tunaki commented on #3771
Maven Checkstyle Plugin currently uses 6.11.2 with JDK 7, without the backport. The cache is always used so we can't really disable it (plus, users could configure the plugin with their own `config.xml` with a cache anyway). We'll update to 6.18 for now until we can move to JDK 8.

[2017-01-28 18:37] romani commented on #3771
@Tunaki , as workaround, you can move your header to some jar as resource (temp solution), change configuration to use headerFile property and checkstyle will load template from file - http://checkstyle.sourceforge.net/property_types.html#uri .

[2017-01-28 20:00] romani commented on #3771
fix is merged, will be released in 7.5.

[2017-01-28 20:00] #3771 closed

[2017-01-28 20:03] romani opened #3773 "remove functionality of Checker.setClassLoader and TreeWalker.setClassLoader"
Problem is detected at #3750 .

functionality of `Checker.setClassLoader` and `TreeWalker.setClassLoader` should be completely removed from as it is required only for deprecated approach of class loading in deprecated JavadocMethodCheck implementation.

we can not remove it earlier:
- it is causing validation problems at JavadocMethodCheck (failed UTs)
- it is used by eclipse-cs and maven plugin

[2017-01-28 22:30] romani commented on #3752
lets keep ignoring this token, as `;` could be a formating element in enums that are arranged in column, and in complicated sentences(builders) to keep `;` on separate line and allow ease insertion of new line.

[2017-01-28 22:54] romani commented on #3530
fix is merged

[2017-01-28 22:54] #3530 closed

[2017-01-28 23:11] romani opened #3775 "RightCurly: 'alone' mode skips empty blocks"
[code]

All cases are violations for "same" and "alone". There should be no violation only for "alone_or_singleline" mode.

[2017-01-28 23:15] romani commented on #3775
@MEZk , please address. It looks lie caused by last update on `alone_or_singleline` .

[2017-01-30 00:16] don-vip opened #3776 "RightCurly: handling of try-with-resources on several lines with CS 7.5"
/var/tmp $ javac Test.java

/var/tmp $ cat Test.java

[code]

/var/tmp $ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.5-all.jar -c config.xml Test.java

---------------

Checkstyle 7.4 did not raise error, and that's the behaviour we want.
http://checkstyle.sourceforge.net/config_blocks.html#RightCurly

[2017-01-30 00:25] romani opened #3777 "property_types.html#access_modifiers link does not exists"
link does not work http://checkstyle.sourceforge.net/property_types.html#access_modifiers

[2017-01-30 00:28] rnveach opened #3778 "PackageObjectFactory hides real exception"
While upgrading backport to 7.5, running Checkstyle on the project resulted in `AtclauseOrderCheck` to not be able to be instantiated.
[code]

There was no good reason for the problem given in the exception log so I had to dig into the problem manually. When debugging the problem, I found that the module was found in the `Map` and was located using `Class.for` but it failed to instantiate the chec

[2017-01-30 00:34] romani commented on #3776
regression is confirmed, no violations on 7.4 .

looks like we lost smth at recent updates:
https://github.com/checkstyle/checkstyle/commit/4cda2565674ea4260547e663e9660df0029709d1
https://github.com/checkstyle/checkstyle/commit/2c81de1bb030dbaf3885a17cdfff8a260a7b337e

[2017-01-30 00:43] romani commented on #3778
agree, the place for logic that is based on exception should be as narrow as possible. Brute force search is our old design problem. Ignorance of exceptions should only for code/lines that support brute force search of module in classpath.

[2017-01-30 01:10] romani commented on #3776
@don-vip , if you run checkstyle on open source project please share link to your code, we will add your project to our regression testing.

[2017-01-30 02:54] rnveach commented on #3777
@romani Link worked fine for me.

[2017-01-30 03:27] romani commented on #3777
And for me now, browser cache problem.

[2017-01-30 03:27] #3777 closed

[2017-01-30 06:56] asashour commented on #3776
HtmlUnit is an open-source project, and faces the same issue.

Code in https://sourceforge.net/p/htmlunit/code/HEAD/tree/trunk/htmlunit/

[2017-01-30 08:07] don-vip commented on #3776
Thank you! The project is there: https://josm.openstreetmap.de/svn/trunk/

The classes that provoque the error:

[code]

[2017-01-30 08:36] davelane opened #3779 "Checkstyle reports errors on correctly formatted nested / fluent code"
The following is correctly formatted (in my opinion):
[code]

with
[code]

But it reports:
[code]

[2017-01-31 21:52] romani commented on #3776
@asashour ,

At what version of your code have no violation ? trunk and latest release do have problems.
I can use your repo only if code has no validation errors.
[code]

[2017-01-31 22:39] asashour commented on #3776
Hi Ronam,

Thanks for looking into this.

I have to disagree, we use Continuous Integration, and `checkstyle:checkstyle` is part of the each and every build, it won't be green otherwise.

I believe you have local customization that fails HtmlUnit build, both locally on developers machines and on the build server, checkstyle passes.

Anyhow, I just committed the two `package-info.java` missing in t

[2017-01-31 22:59] romani commented on #3776
@don-vip , I just added your project to our regression testing and your trunk pass on latest code
https://travis-ci.org/checkstyle/checkstyle/jobs/197120534#L9456

PR: https://github.com/checkstyle/checkstyle/pull/3783
There are no code changes from 7.5 release - https://github.com/checkstyle/checkstyle/commits/master

Did I miss smth in my commands to run checkstyle on your project ?

[2017-01-31 23:08] romani commented on #3776
@asashour , thanks for a fix, now it works.
please do a favor and move "7.4" version to properties of pom.xml this will allow me to change version from command line to simplify build execution on our side.

[2017-01-31 23:14] asashour commented on #3776
Done, thanks.

[2017-01-31 23:42] don-vip commented on #3776
@romani "ant checkstyle" produces an output file called "checkstyle-josm.xml", is it parsed by your script or does it assume we print the errors on standard output? Also do you want us to remove the version number as well?

[2017-02-01 00:34] romani commented on #3776
@don-vip , just let me know how can I fail the build.
Do you have CI for checkstyle ?  How you control that there are no checkstyle violations in build ?

if you update your build.xml some how to make me change checkstyle version from command line it will be very helpful or any other simplification to avoid my changes of your sources.

[2017-02-01 03:32] rnveach commented on #3775
@romani This looks similar to what I messaged you about.
I think the issue is related to `shouldCheckLastRcurly` at https://github.com/checkstyle/checkstyle/blob/2551676ccf743822951d42658085c70e7aa869bd/src/main/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheck.java#L216 .
When we are dealing with last curly of a chain (if-else or try-catch-finally) we ignore all other checks and

[2017-02-01 10:32] don-vip commented on #3776
@romani yes our Jenkins is configured to report Checkstyle violations, yo can see the trend here: https://josm.openstreetmap.de/jenkins/job/JOSM/jdk=JDK8/checkstyle/trendDetails/

I just have removed the version number in https://josm.openstreetmap.de/changeset/11524/josm/

[2017-02-01 10:54] don-vip commented on #3776
@romani you have to add "failOnViolation=true" argument in our build.xml when we call checkstyle target. Depending on if you want the violations on standard outputs or not, you will probably have to change the formattre as well.

[2017-02-01 18:33] romani commented on #3776
@don-vip , it is better to do less changes to your code, I will parse output file.

But unfortunately Ia can not make Travis to analyze your repo, Very weird  error `2563 Killed                  ant -v checkstyle`
https://travis-ci.org/checkstyle/checkstyle/jobs/197385378#L418, and it works on my local .
I did not use ANT foe long time... , I do not what to do with this.

[2017-02-01 19:56] romani opened #3786 "Use JOSM in our CI"
from #3776

benefits:
- extra project for regression
- ANT project for regression

But unfortunately I can not make Travis to analyze your repo, Very weird  error
[code]
https://travis-ci.org/checkstyle/checkstyle/jobs/197385378#L418, and it works on my local (max memory usage is heapsize =1Gb, max usedheap=670Mb) .
![capture-checkstyle-and-on-travis](https://cloud.githubusercontent.com/assets/812

[2017-02-01 19:57] romani commented on #3776
openstreetmap integration to CI is moved to separate issue - #3786

[2017-02-01 21:17] romani commented on #3776
fix is merged.

[2017-02-01 21:17] #3776 closed

[2017-02-01 21:18] Kazzer opened #3787 "RightCurly: handling of try-with-resources when using 'alone' option"
/var/tmp $ javac TryRightCurly.java

[code]

/var/tmp $ cat TryRightCurly.java

[code]

/var/tmp $ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.5-all.jar -c config.xml TryRightCurly.java

[code]

---------------

I'm expecting to see no violation from this as the character being referenced at 12:54 is a right parenthesis, not a right curly brace. Behaviour in Checkstyle 7.4 behaved as

[2017-02-01 21:18] romani commented on #3778
fix is merged.

[2017-02-01 21:18] #3778 closed

[2017-02-01 21:21] rnveach commented on #3787
duplicate of #3776

[2017-02-01 21:21] #3787 closed

[2017-02-01 22:20] don-vip commented on #3786
Unfortunately I don't know Travis at all so I will be of little help. But if you need me to change anything in our build.xml I will do it with great pleasure.

[2017-02-02 10:57] mhendriks91 opened #3789 "RightCurly: multiline try-with-resources gives false positive"
/var/tmp $ cat Main.java

[code]

/var/tmp $ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.5-all.jar -c config.xml Main.java

[code]

---------------

The code should be accepted. There is not even a right curly on line 4 (column 36 contains a closing parenthesis), and every right curly in the file is on its own line. This occurs only on a multiline try-with-resources statement (multip

[2017-02-02 11:43] rnveach commented on #3789
duplicate of #3776 , the issue was fixed and will be in hot-fix release.

[2017-02-02 11:43] #3789 closed

[2017-02-02 16:56] yrodiere opened #3790 "Add the Hibernate Search project to the Checkstyle CI"
As per our discussion in https://github.com/yrodiere/hibernate-search/commit/a62a9e2e31edbb31f83ee3b893afb43b19659c42#commitcomment-20699212, I'm creating this ticket to add the [Hibernate Search](https://github.com/hibernate/hibernate-search) project to your CI.

The branch master has been [recently updated](https://github.com/hibernate/hibernate-search/commit/e0b13416813744a9c0554b23248cb5518b94

[2017-02-02 17:55] RickPoleshuck opened #3791 "Improper report of right curly should be on newline when actual problem is right parenthi"
[code]

[code]

[code]

[code]

[2017-02-02 18:01] rnveach commented on #3791
duplicate of #3776 , the issue was fixed and will be in hot-fix release.

@romani I am going to leave this open since this is the 4th time people we are reporting this issue.
Maybe make a special label for this kind of repeat fixed issue that hasn't been released yet.

[2017-02-02 18:29] romani commented on #3791
agree, lets keep it open till hotfix release.
hot fix release will be on February 5th.

[2017-02-02 21:36] rnveach opened #3792 "Can't override `-t` option for custom tree modules"
I am planning to start looking into making new custom trees in another project. It would be very helpful if Checkstyle's CLI allowed printing those module's trees. Right now `TreeWalker` has a monopoly on the `-t`/`-T` options. Those options go directly to `TreeWalker` and there is no way to override the default for custom modules with their own trees. Viewing trees is very helpful when debugging

[2017-02-03 08:13] novemberox opened #3793 "indention in nested @interface classes is shifted"
cat /tmp/Wrapper.java

[code]

/var/tmp cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.5-all.jar -c config.xml Wrapper.java

[code]

---------------

As you see class is formatted as expected using 4 space intent. If I change `@interface Bar` to `interface Bar` I wouldn't get those errors.

[2017-02-03 13:36] rnveach commented on #3793
This is probably a duplicate of #3134 . We don't register custom annotations and this is why the expected indentation is off by 4 or 1 brace's worth.

[2017-02-03 13:59] rnveach commented on #3739
Looks like a duplicate of #3122

[2017-02-03 14:14] rnveach commented on #3738
@romani Since this thread has become inactive, me and @jochenvdv came up with a more concrete examples of how we think inheritance in configurations should look like in #2873 .

[2017-02-03 14:31] rnveach commented on #820
@romani I am closing this as new issue, #3573, plans to do away with module entirely.

[2017-02-03 14:31] #820 closed

[2017-02-03 15:32] xpdavid commented on #3570
@rnveach @romani I think this is caused by the Javadoc parser. Maybe a bug in the parser?
If you write something like this
[code]
There are **three** HTML_ELEMENT (P_TAG_OPEN, SINGLETON_ELEMENT, P_TAG_CLOSE) in the javadoc tree.
But if you remove the `<br/>` tag
There are only  **one** HTML_ELEMENT (PARAGRAPH) in the javadoc tree. In this case, the check cannot detect the `<p>`(P_TAG_OPEN) tag pro

[2017-02-03 15:43] andreevym commented on #3738
Sorry guys, but I open this conversation to recognize requirements to solve this problem. I didn't understand why you discuss in another "issue".

[2017-02-03 15:43] #3738 closed

[2017-02-03 16:44] rnveach commented on #3570
@xpdavid You are right. When the `br` tag is added, our parser doesn't recognize the `p` tag as a paragraph. The tree should still look similar to both imo.
[The check is only looking at `HTML_ELEMENT` with a `P_TAG_OPEN` child](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocParagraphCheck.java#L142-L143).

https://github.co

[2017-02-03 17:50] 2is10 commented on #3739
They’re certainly related. That one’s about using a double curly brace to close an instance initializer. This one’s about the indentation level of the code inside an instance initializer.

[2017-02-03 18:36] novemberox commented on #3793
From my (very narrow) perspective it looks that we should treat `@interface` exactly as `interface`. Annotation declaration and interface declaration has an identical structure hence checkstyle(?).

[2017-02-03 19:34] jochenvdv commented on #3736
Some more issues, most of them are rules that I think can be made more restrictive:

- [line 81](https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml#L81): `checks` package allowed in `checks` package :dizzy_face:, let's remove this useless rule
- [line 61](https://github.com/checkstyle/checkstyle/blob/master/config/import-control.xml#L61):`java.text` allowed in `api` pac

[2017-02-03 21:46] romani commented on #3790
fix is merged.

[2017-02-03 21:46] #3790 closed

[2017-02-03 23:59] rnveach opened #3796 "Remove unnecessary text from Javadoc tokens"
When looking at some example Javadoc trees, I noticed if the javadoc is pretty big, we almost duplicate the entire contents multiple times in various nodes. We don't see this in the Java tree but this is mostly because of the differences between antlr2 and antlr4. One example of simplicity is `CLASS_DEF` in java where we just repeat the token name as the text.
I still think there is too much being

[2017-02-04 01:26] romani commented on #3790
additional updates (cleanup for cloned sources) were required to resolve wercker limitations:
[code]

[2017-02-04 13:51] romani opened #3797 "NPathComplexityCheck: set of tokens should not be customizable by user"
This check can not work with reliably if user can change set of TokenTypes, if user miss QUESTION in config, algorithm will work incorrectly. So user should now have ability to change this.

Current code is:
[code]

Looks like the intend was to let user control on what blocks of code to run Check: on methods, on ctors, on static initializations, or instance init. But in this case all other tokens

[2017-02-04 14:20] romani opened #3798 "wercker ci should have most of testing launches on real code to shorten time of Travis execution"
wercker CI become quick in executions (as it share the same running  instance and launches are sequential, so caching of checkstyle build helps a lot) - 7 min for all launches.
Travis CI is slow and takes about 30min.

Todo:
- move all NoExceptiontest and NoErrorTest to wercker.

[2017-02-04 16:49] ilanKeshet commented on #3770
Hi @romani, everybody
I've started working on #3770
You can see the work already done at https://github.com/ilanKeshet/checkstyle/commits/i3770

[2017-02-04 17:48] MEZk opened #3799 "Wercker CI should use Checkstyle's own Docker image"
As Wercker CI has become more popular (https://github.com/checkstyle/checkstyle/issues/3798, https://github.com/checkstyle/checkstyle/issues/3670, https://github.com/checkstyle/checkstyle/issues/3790), it would be good to have our own Docker Profile and Image.

What should be done in scope of this issue:

- Docker Profile need to be created

- Docker Profile need to be uploaded to Checkstyle's Git

[2017-02-04 17:54] MEZk commented on #3728
Just to keep in mind. From Snap CI doc:

2 CPUs
2 GB of memory
10 GB of disk space

[2017-02-04 18:46] romani commented on #3799
What is a reason of special docker ?

[2017-02-04 19:38] NickButcher1 opened #3800 "Typo in website documentation for JavadocMethod."
There is a typo in this sentence

	whether to ignore errors when a method declares that it throws exceptions but does have matching throws tags in the javadoc.

on this page

http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod

Replace "does have" with "does not have".

Thanks.

[2017-02-04 21:23] MEZk commented on #3799
Now Checkstyle Wercker config depends on Maven Docker Image which itself depends on Ubuntu Docker Image. It means that if they decided to change something in the image which can affect Checkstyle execution process, it will result in continuous build failure.

[2017-02-05 00:46] romani commented on #3799
It is is strict docker image. It will stay as it now for very long time. I do see any risk and any possible build failures.

[2017-02-05 09:02] MEZk commented on #3775
@romani

It is not a violation for SAME. Right curly is on the same line as a next statement.

[2017-02-05 09:19] MEZk commented on #3775
@romani
So final examples:

[code]

[code]

@romani @rnveach
Please, check this out, before I start fixing the issue.

[2017-02-05 09:59] MEZk commented on #3775
@romani @rnveach
We also need to define what ```single line block``` means for the check. From my point of view these are single line blocks:

1) do-while
[code]

2) while-do
[code]

3) if-else
[code]

4) if-else-if
[code]

5) for-loop
[code]

6) class
[code]

7) static / instance init block

[code]

[2017-02-06 12:36] robertpainsi commented on #1430
Hi! I opened the supplied example with the Checkstyle Graph GUI (and also did a quick debug session with the [current master](https://github.com/checkstyle/checkstyle/tree/a52c7a7a8ae8500a46bd998a1782e96dc481325d) with the same result).

![image](https://cloud.githubusercontent.com/assets/1794599/22646910/0c5d181c-ec6f-11e6-92e5-1cd0a09dbf1f.png)

As you can see, the `METHOD_DEF` doesn't cover `St

[2017-02-06 14:49] rnveach commented on #1430
@robertpainsi That looks like a different issue with the GUI and how the internal Tree isn't in the same order as the source code.
[Running the print tree option in the CLI on the code](http://checkstyle.sourceforge.net/cmdline.html#Command_line_usage), shows the String is indeed part of the `METHOD_DEF`:
[code]

The issue with indentation here is the `[]` is out of order compare to the `String`.

[2017-02-06 19:31] MEZk commented on #2777
@romani
Please, close this issue in favor of https://github.com/checkstyle/checkstyle/issues/3760

[2017-02-06 19:33] rnveach commented on #2777
Closing

[2017-02-06 19:33] #2777 closed

[2017-02-06 19:38] MEZk commented on #2599
@romani @rnveach
We have Travis test launcher for this.
https://github.com/checkstyle/checkstyle/blob/master/.ci/travis/travis.sh#L17

Do we need additional tests? If not, please, close the issue.

[2017-02-06 20:02] MEZk commented on #3603
@romani @rnveach
This duplicates https://github.com/checkstyle/checkstyle/issues/3775 .
Should be closed.

[2017-02-06 20:10] MEZk commented on #3648
Actual line from excludes
https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L1454

[2017-02-06 22:51] romani commented on #2777
it would be better to close new issue, as it has no details of what to change.

[2017-02-06 22:58] romani commented on #3603
code example is merged to #3775 .

[2017-02-06 22:58] #3603 closed

[2017-02-07 00:15] rnveach opened #3802 "IndentationCheck: ignoring line with sub-method call"
[code]

Taken from https://github.com/checkstyle/contribution/pull/174#discussion_r99702559
We are expecting a violation on line 7 as it is not formatted correctly. Indentation is currently 0, we expect 12 to be the correct placement.

[2017-02-07 06:36] pbludov opened #3803 "IndentationCheck: catch child indentation not checked"
$cat TestClass.java
[code]
$ cat TestConfig.xml
[code]

[code]
---------------

There must be two indentation errors: one for 'if', another for 'catch'.
It seems like the 'catch' handler lacks some code.

--------------

[2017-02-07 10:01] marschall opened #3804 "ParameterNameCheck documentation out of date"
The [ParameterName](http://checkstyle.sourceforge.net/config_naming.html#ParameterName) documentation does not mention the scope and excludeScope properties introduced in #3473

[2017-02-07 10:22] marschall commented on #3804
I just noticed they are deprecated.

[2017-02-07 10:22] #3804 closed

[2017-02-07 12:12] rnveach commented on #3803
The catch is being checked, but its expected indentation is 8 instead of probably what user expects to be 12.
`[ERROR] TestClass.java:9: 'catch' child have incorrect indentation level 0, expected level should be 8. [Indentation]`

[2017-02-07 15:52] #3799 closed

[2017-02-07 20:48] robertpainsi commented on #3089
I like the idea! I still think we need to discuss the specification.

Currently, the EmptyLineSeparator works based on siblings.
[code]
As you can see, siblings have the same indentation level.

Now to the discussion:
[code]
Should there be a violation on line 2 and 3 with just using the token CLASS_DEF?
If yes, you can't fine tune the violations. I will use ENUM_DEF as an example.
[code]
The enum

[2017-02-08 02:14] romani opened #3807 "infra: Docker-based CI from Codeship Pro"
Hey Roman,

I know that you are running your github.com/checkstyle/checkstyle tests with Codeship. Maybe you have seen that we are also offering a Docker-based CI system called Codeship Pro know. I would love to get you started on it (OSS builds are for free there too) and get your feedback about what we should improve.

Let me know if you are interested & need any help in setting it up.

Best,
Mo

[2017-02-08 09:58] pbludov opened #3808 "Indentaton: super() is ignored by the IndentationCheck"
$ cat Test.java
[code]
$ cat config.xml
[code]

[code]
---------------

Only happends with 'super' and only if the lambda comes first.
Increasing the indentation level won't help, the expected level grows as well.

--------------

[2017-02-08 14:18] rnveach commented on #3808
The main difference between the 2 is the parent of the `LambdaHandler` at https://github.com/checkstyle/checkstyle/blob/a52c7a7a8ae8500a46bd998a1782e96dc481325d/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/LambdaHandler.java#L50.
First's parent heirachy is: `SlistHandler`, `MethodDefHandler`
Second's parent heirachy is: `MethodCallHandler`, `SlistHandler`, `MethodDefHandler`

I

[2017-02-08 14:52] MEZk commented on #3601
Assigned to @SergeyDzyuba

[2017-02-08 22:39] romani commented on #3803
fix is merged

[2017-02-08 22:40] romani commented on #3803
@rnveach , please add UTs for IF expression indentation as reported in issue.

[2017-02-08 23:26] romani commented on #3736
@jochenvdv , sorry for delay.

:) , ok to remove.

in api in mandatory to be as strict as possible.

yes.

has to be limited as much as possible. should not be present in API, but we will address this in checkstyle8.

please do

lets keep it, math package has some good utils that might be useful. I do not see design harm from usage of this package. Do you see problems ?

yes

yes, please remove. I

[2017-02-08 23:33] romani commented on #3570
[code]

[2017-02-08 23:43] romani opened #3810 "JavadocParser: inconsistent AST tree with and without SINGLETON_ELEMENT"
from #3570.

[code]

if we add tag that has open and closed tag.
[code]

Looks like problem is related only to existence of `SINGLETON_ELEMENT`.
It is a bug in parser or there should be good explanation of this behavior and all checks need to be aware of it.

ATTENTION (update after merge of fix):
Breaking compatibility changes are due to changes in AST structure.

[2017-02-09 00:16] romani commented on #3766
try property `allowLineBreaks`, it might be what you need.

[code]

[2017-02-09 00:16] #3766 closed

[2017-02-09 00:24] romani commented on #3767
problem is part of misconception that Separator related Check use operator wrapping model - http://checkstyle.sourceforge.net/property_types.html#wrapOp

It is be good to have the same as in http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceBefore `allowLineBreaks` property.

@rnveach , please share your ideas on this issue.

[2017-02-09 00:57] rnveach commented on #3767
@romani

Yes, this property would not print violations for both cases. I am fine with doing that, but it seems the user might *prefer* a violation in one of these cases.

We can't meet this expectation with this check. The problem with these type of checks is they do a blind token match. Both areas are semi-colons and AST tree only knows them as a semi-colon. User wants that token but in a specifi

[2017-02-09 14:03] romani commented on #3767
Issue is related to #3766 by used code.

@cypai ,
do you expect violation on code like below? (the same formatting is used to minimize changes):
[code]

This SeparatorWrap is general simple Check, we can not introduce in it logic for special ";" processing in different contexts, new Check should be created.

[2017-02-09 14:17] rnveach commented on #3810
I will look into this issue to try and figure out why it is doing this.

@romani This could be why our Javadoc parser is slower than Java.
In Java, when we see a token lets say `{`, we instantly know what it is. All cases will have a list of statements after it followed by an end `}`. There is no exceptions or context needed.
In Javadoc, when we see almost any tag, `<p>` for now, we can't tell if

[2017-02-09 14:43] romani commented on #3810
if we can not make behavior consistent, we need to drop support of whole tag recognition (should be discussed and explained in detail).
Documentation HAS to be updated to explain nuances of result AST, in other case implementation of javadoc Check become nightmare.

[2017-02-09 14:56] romani commented on #3727
this issue is my bad , I misconfigured a tool and expect some good result.

`-j` is only for `*.javadoc` files withtout `/*` and `*/`, http://checkstyle.sourceforge.net/writingjavadocchecks.html#What_is_Javadoc_comment.
`-j` usage is explained at http://checkstyle.sourceforge.net/cmdline.html#Command_line_usage

[2017-02-09 14:56] #3727 closed

[2017-02-09 15:53] rnveach commented on #3810
When forcing grammar into `paragraph` token, this exception comes up: `IllegalArgumentException: [ERROR:0] Javadoc comment at column XX has parse error. Details: no viable alternative at input '<br' while parsing PARAGRAPH`

So it is acting like `paragraph` doesn't have `brTag` recognition.
[`brTag` is only defined in `singletonElement`](https://github.com/checkstyle/checkstyle/blob/4c2649f5721755

[2017-02-09 16:58] jochenvdv commented on #3736
Please comment on this, I think you forgot. It is a problem irrelevant of that bug.

Thanks for your input, I will fix these issues this weekend, as well as investigate/report that bug.

[2017-02-09 17:05] romani commented on #3736
we need to remove that global allowance. Even `utils` package usage in API is not allowed.
Lets just remove it and put allowances if required to child packages.
Unfortunately global allow and specific disallows is  hard to maintain, in our small projects lets avoid this.

[2017-02-09 17:17] romani commented on #3800
thanks a lot.

next time you find typo in docs, you can fix it yourself online (all documentation is in repo), without any code checkout
https://github.com/checkstyle/checkstyle/edit/master/src/xdocs/config_javadoc.xml#L256 , do changes, create PR, done.

[2017-02-09 17:34] romani commented on #3792
Checkstyle CLI is created only for checkstyle's purposes. it is not a api and it is not framework and not a toolkit, .... .

it not good idea.

it is good idea to just copy code from chekstyle (if you like it) and make smth other that will serve all your needs.

chekcstyle CLI and checkstyle functionality are different parts, ideally there should be less dependencies, we reuse TreeWalker because i

[2017-02-09 17:36] romani commented on #3779
@davelane , please make a issue description as it was requested - http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug

[2017-02-09 17:37] romani commented on #3791
release 7.5.1 is done - http://checkstyle.sourceforge.net/releasenotes.html#Release_7.5.1

[2017-02-09 17:37] #3791 closed

[2017-02-09 20:03] cypai commented on #3767
@romani
A violation there is fine.

For builders, having the semicolon at ```.build();``` is fine since the git diff would be at ```.setB()```.

[2017-02-09 20:11] MEZk opened #3812 "Change google_checks.xml to disallow abbreviations in identifiers names in accordance with Google Style Guide"
From [Google Java Style Guide section 5.3](https://google.github.io/styleguide/javaguide.html#s5.3-camel-case):

... each word, to yield upper camel case, or
... each word except the first, to yield lower camel case

Thus, we need to set ```allowedAbbreviationLength``` to 0. This issue need to be done after https://github.com/checkstyle/checkstyle/issues/3721

[2017-02-09 20:29] rnveach commented on #2777
I moved missing pieces to first description of new issue

[2017-02-09 20:44] romani commented on #3800
fix is merged.

[2017-02-09 20:44] #3800 closed

[2017-02-09 20:47] romani commented on #3812
There are number of interesting cases in Guava code, during implementation of this issue it might be required to create issue on Google Style to confirm that all that cases(in Guava) are wrong and should be fixed.
I still think that somebody who wrote that rule about abbreviations did not consider all cases or real life.

[2017-02-09 20:52] romani commented on #3767
@cypai , consider any other chain calls
[code]

keep in mind that you might have the same reason for such formatting as you you has in enum.
If I miss smth please share with me reason of formatting in Enum that you provided.

[2017-02-09 20:57] romani commented on #3797
fix is merged

[2017-02-09 20:57] #3797 closed

[2017-02-09 21:34] romani commented on #3744
idea of @viliam-durina need to be considered in details.

Another idea: is define filesystem marker in regexp string. Kind of similar idea as at gradle - https://docs.gradle.org/current/userguide/userguide_single.html#sec:executing_a_multiproject_build

So we can use new option:
treatAsFileSystemSerator="\"
path="src\org\...."

Check will substitude `treatAsFileSystemSerator` in `path`  before Reg

[2017-02-09 22:03] rnveach commented on #3702
Fix is merged

[2017-02-09 22:03] #3702 closed

[2017-02-09 22:05] rnveach commented on #3702
It should be noted that Google Style never responded to our requests to update their document.

Issue: https://github.com/google/styleguide/issues/226
PR: https://github.com/google/styleguide/pull/227

[2017-02-09 22:33] davelane commented on #3779
{ cs }  » javac Temp.java
    { cs }  » cat Temp.java
    import java.util.List;

    /**
     * Test
     */
    public class Temp {
        /**
         * test
         *
         * @param strings test
         */
        private void test(final List<String> strings) {
            final StringBuilder sb1 = new StringBuilder();
            final StringBuilder sb2 = new StringBuilder();

[2017-02-10 00:39] romani commented on #3798
all except for "NoExceptionTest - Guava with google_checks" are moved to Wercker, it takes him 27min to process tasks. This is still better than all on Travis.

[2017-02-10 00:39] #3798 closed

[2017-02-10 01:06] romani opened #3814 "NPathComplexity: clarify calculation for try-catch-finally and try-with-resources"
No information at documentation about try-catch-finally and try-with-resources blocks
but Checks is running on them.

http://checkstyle.sourceforge.net/config_metrics.html#NPathComplexity

current behavior:
[code]

TODO:
1) Figureout what rules should be.
2) Update code and documentation.

[2017-02-10 01:07] romani commented on #3814
taken from #3785:

Possible calculations:
http://stackoverflow.com/questions/31755570/calculate-npath-complexity-for-try-catch-finally?rq=1 (unanswered)
https://github.com/pdepend/pdepend/blob/master/src/main/php/PDepend/Metrics/Analyzer/NPathComplexityAnalyzer.php#L469-L509 (php way)

[2017-02-10 15:56] rnveach opened #3815 "Indentation: verify all lines are being validated"
In indentation, we verify violations for lines where indentation is correct.
We currently have no way to verify we are validating a line that is formatted correctly. Because of this, we can't tell the difference between a line that is correctly indented or a line that is being wrongly ignored.

I have a commit in my branch [indent-non-violations](https://github.com/rnveach/checkstyle/commits/inden

[2017-02-10 19:27] jochenvdv opened #3817 "Make import control configuration stricter for api package"
As discussed in #3736.

- Disallow `org.antlr.v4.runtime`
- Disalloc `com.puppycrawl.tools.checkstyle.utils`

This is for Checkstyle 8.

[2017-02-10 23:41] romani opened #3818 "travis should skip execution if configs of other CIs are changed"
To speed up Travis

files:
.github
appveyor.yml
circle.yml
distelli-manifest.yml
fast-forward-merge.sh
LICENSE
LICENSE.apache20
README.md
release.sh
RIGHTS.antlr
shippable.yml
wercker.yml

Command to test:
`git diff --name-only HEAD HEAD~1 | grep -vE "wercker\.yml|shippable.yml................" | cat | wc -c`

[2017-02-11 01:28] romani commented on #3089
Related discussion https://groups.google.com/forum/m/#!topic/checkstyle/rzNJDM_uvyg

[2017-02-11 02:50] rnveach commented on #3718
Fix is merged

[2017-02-11 02:50] #3718 closed

[2017-02-11 07:21] MEZk commented on #3775
@romani
Can you check the examples?

[2017-02-11 10:17] jochenvdv commented on #3736
@romani I investigated the possible bug but it is expected behaviour, not a bug.

When inner classes are imported they must be explicitly allowed (possibly with regex), else only the top-level class is matched.

[2017-02-11 14:45] romani commented on #3736
OK, we need to update documentation as it is not clear, even for us, we need to add some "Attention" note.

[2017-02-12 15:04] romani commented on #3818
fix is merged

[2017-02-12 19:55] romani commented on #3818
Deploy step also need to be skipped

[2017-02-13 01:16] romani commented on #2599
This issue is to create maven style IT. IT suppose to run after jar is created to recheck compatibility and other features.

[2017-02-13 02:19] romani commented on #3818
fix is merged.

[2017-02-13 02:19] #3818 closed

[2017-02-13 03:38] rnveach commented on #3736
Fix is merged

[2017-02-13 03:38] #3736 closed

[2017-02-13 13:09] rnveach commented on #3803
@romani We have examples similar to this in valid cases, no invalid ones that I could find. You still want me to add it?
https://github.com/checkstyle/checkstyle/blob/edb810c10e121b34f4222a4bba9012add00f1e41/src/test/resources/com/puppycrawl/tools/checkstyle/checks/indentation/InputValidCommaIndent.java

[2017-02-13 13:29] rnveach commented on #3748
@romani Its been 19 days and no response. No has modified style since December.
I suggest we go with recommendation and if it is wrong, someone will contact us.

[2017-02-13 13:46] rnveach commented on #3748
@romani Trying to add examples for `case` and I can't get a violation.
Is this a bug or is this because cases don't require `{}`s?

[code]

[2017-02-13 14:39] romani commented on #3803
Due to complexity of this check, it is better to have both valid and invalid cases. This will help us to catch regression on UT level.

[2017-02-13 15:26] rnveach commented on #3701
@dimo414 Any suggestions for the new message wording?

[2017-02-13 15:46] rnveach commented on #3700
@romani Should only 0007 be allowed as control character?
Is there someplace that lists all the control characters?

[2017-02-13 16:29] rnveach commented on #3721
`CComment` -> `BlockComment` (defined in CommentListener)
`CppComment` -> `SinglelineComment` (defined in CommentListener)
`xxxxxxPModel` -> `xxxxxxPresentationModel` (I am fine with long words, I didn't even know this is what `P` meant)
I will suppress `JTreeTable` as this is a Java convention for `javax.swing`. https://docs.oracle.com/javase/7/docs/api/javax/swing/package-summary.html

[2017-02-13 21:09] rnveach commented on #3796
SummaryJavadocCheck is affected by this change as it just gets the text of all the first level nodes, instead of getting the text from the specific children.
https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/SummaryJavadocCheck.java#L159

[2017-02-14 03:03] rnveach opened #3830 "DesignForExtension: order of annotations change violation"
[code]

As you can see, the example I get a violation even though `Test` is added as an annotation.
If you swap the 2 annotations so Test is first, the violation goes away.
I am expecting either there to be no violation as the method is set to be ignored by the annotation.

[2017-02-14 15:20] satob opened #3831 "messages_ja.properties contains funny (wrongly machine-translated) messages"
messages_ja.properties in directories listed below contains some funny (wrongly machine-translated) messages.

- src/main/resources/com/puppycrawl/tools/checkstyle/checks/annotation/messages_ja.properties
- src/main/resources/com/puppycrawl/tools/checkstyle/checks/blocks/messages_ja.properties
- src/main/resources/com/puppycrawl/tools/checkstyle/checks/coding/messages_ja.properties
- src/main/reso

[2017-02-14 16:09] rnveach commented on #3831
We have no native translators so we must rely on google translate.
If you can, feel free to give corrections and be welcome with a PR.

[2017-02-14 17:12] vanniktech opened #3832 "New Check for assuring empty lines between method declarations"
I'd like to check that between method declarations a new line is inserted. Given the class below:

**Failing class**

[code]

I'd expect the check to raise a warning since a new line should be inserted between the `foo` and the `abc` method.

**Non-Failing class**

[code]

I haven't found any check to do this currently. Are you open adding a new check for this one?

[2017-02-14 19:23] rnveach commented on #3832
Try EmptyLineSeparatorCheck.
http://checkstyle.sourceforge.net/config_whitespace.html#EmptyLineSeparator

[code]

[2017-02-15 01:51] #3832 closed

[2017-02-15 01:54] romani commented on #3830
@MEZk , please take a look ,  you were recently in this Check.

[2017-02-15 01:58] romani commented on #3796
SummaryJavadocCheck should be updated to work on new tree.

[2017-02-15 02:06] romani commented on #3721
CppComment -> SinglelineComment (defined in CommentListener)

Ok to update, if smth is still left.
but not for names of Check.

I am ok to update too. We are not going to have too much Presentation models in our code, so abbreviation as "P" does not make sense for us. In proprietary code it helped.

That is not our convention. Nothing force us to keep name that similar to java standard. Lets avoid

[2017-02-15 02:09] romani commented on #3700
@rnveach , 0007 should be enforced by UTs to show user that it will not happen again.
It will be good to recheck all other characters and enforce them by UTs too.

[2017-02-15 02:14] romani commented on #3701
@rnveach , if no reply in 1 week, please feel free to update message to what you think is reasonable.

[2017-02-15 02:23] romani commented on #3728
https://dzone.com/articles/snap-ci-shutting-down-what-others-have-to-say

[2017-02-15 02:23] #3728 closed

[2017-02-15 02:31] romani commented on #3729
@Vladlis , can we reuse checkstyle/target/generated-sources/antlr/com/puppycrawl/tools/checkstyle/grammars/GeneratedJavaTokenTypes.txt file for this validation ?
or reuse logic that generate this file and avoid dependencies to this file and do all in memory.

related files:
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/doclets/TokenTypesDoclet.j

[2017-02-15 06:25] romani commented on #3831
Fix is merged

[2017-02-15 06:25] #3831 closed

[2017-02-15 07:57] Vladlis commented on #3729
@romani , I don't see how these files can be useful
@rnveach , parsing might be too hard, try to find out what is the text of `CTOR_CALL` by parsing for example

I suppose we should try another @romani's idea: make a java file with all the tokens inside and see there whether names match texts taking into account a hardcoded list of exclusions (like text `;` for `SEMI`).

[2017-02-15 11:07] KTannenberg opened #3834 "Eclipse-CS plugin 7.3.0 cannot be installed from Marketplace or updatesite"
Eclipse-CS (7.3.0) can be found on Eclipse Marketplace, but installation fails:
![image](https://cloud.githubusercontent.com/assets/1444439/22971649/4e8f9c7c-f36e-11e6-9bd4-7470f3a11438.png)

Following error is shown in Error Log:
[code]

Eclipse-CS is also not available for installation from updatesite:
![image](https://cloud.githubusercontent.com/assets/1444439/22971750/a96866ba-f36e-11e6-8057-f

[2017-02-15 11:10] KTannenberg commented on #3834
Ups, wrong place, I'll move it to https://sourceforge.net/p/eclipse-cs/bugs/, sorry

[2017-02-15 11:10] #3834 closed

[2017-02-15 12:06] rnveach commented on #3729
This would work, but would require this file to have all tokens incase we update the grammar. Even with all tokens, I'm not sure if we would need different ways of creating the tree in-case we use the same token differently elsewhere.
All the files `checkstyle\src\test\resources\com\puppycrawl\tools\checkstyle\grammars\InputRegressionJava*` were made for this purpose. You could just reuse them by

[2017-02-15 13:03] rnveach commented on #3733
Fix is merged

[2017-02-15 13:03] #3733 closed

[2017-02-15 13:11] rnveach commented on #3591
I am closing this issue as it is a duplicate of #3733 and with it's fix, there are no more violations:
[code]

[2017-02-15 13:11] #3591 closed

[2017-02-15 21:08] romani commented on #3729
I did review of issue one more time.

I do not see good dynamic model of verification.
To resolve this issue I recommend to:
- make special UT in this check to control amount of Tokens to fail each time we will add new token.
- in UT we should make hardcoded list of tokens that will not have text from source/input file.
- to minimize hardcoded list, we can skip all tokens that have "LITERAL" in na

[2017-02-16 03:26] rnveach commented on #3830
The bug is somewhere in `DesignForExtensionCheck.hasAnnotation` or in `TokenUtils.findFirstTokenByPredicate` called by `hasAnnotation`. https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/design/DesignForExtensionCheck.java#L239-L242

For the test code above, `findFirstTokenByPredicate` gives the following toke

[2017-02-16 03:57] rnveach commented on #3830
@romani As shown in the debug output above, do you know why `DesignForExtensionCheck.hasAnnotation` has to examine the contents of the method? Won't this lead to false positives for this method?

`Examine: test[10x0] - 58` This line is the method call inside `method2`.

[2017-02-16 04:03] romani commented on #3830
it should not review content of method. modificators and annotations is enough for decision.

[2017-02-16 04:07] #3749 closed

[2017-02-16 04:11] romani commented on #3803
final fix is merged.

[2017-02-16 04:11] #3803 closed

[2017-02-16 04:29] romani commented on #3751
fix for config is merged.

[2017-02-16 04:29] #3751 closed

[2017-02-16 04:31] romani opened #3836 "reconsider behavior for multiple property lines of the same name in config"
from #3751

Why we have two lines for tokens ? It is override. Should be forbidden by XML schema.

[DefaultConfiguration merges multiple properties together like it was one line.](https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/DefaultConfiguration.java#L106-L114) Some were already like this in the config, so I thought it was acceptable for histor

[2017-02-16 04:39] romani commented on #3735
fix is merged.

[2017-02-16 04:39] #3735 closed

[2017-02-16 05:11] MEZk commented on #3830
I'll check this ASAP.

[2017-02-16 11:11] jochenvdv commented on #2935
Please assign me.

Javadoc for `ImportControlCheck `should also contain some examples. Other checks do this. This should probably be done in this issue.

Also, the comments in the import control DTD should be updated (they still mention `Guard`) and be linked to from xdocs.

distribution --> code

This makes it sound as if the config file is included with Checkstyle for other people to use, like f

[2017-02-16 12:16] romani commented on #2935
you can skip it.
FYI: we thinking about generation of xdoc from javadoc and unification of documentation and meta-data model.
https://groups.google.com/forum/#!topic/checkstyle-devel/lsNF6Dj90lo

no reason to share it with other. just wording need to be changed.
Distribution now is maven JAR artifact and "....-all.jar" with compiled classes that could be used by user.
text  in xdoc should be "sour

[2017-02-16 14:18] rnveach opened #3837 "NeedBraces: lambda with no braces not reported when contents span multiple lines"
[code]

`allowSingleLineStatement` is turned on, but this lambda isn't a single line as the method call for `test` spans 2 lines and is inside the lambda.
I was expecting a violation to be reported on line 5.

Example is taken from checkstyle at https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/imports/Redund

[2017-02-16 14:19] romani commented on #3701
fix is merged.

[2017-02-16 14:19] #3701 closed

[2017-02-17 17:01] ilanKeshet commented on #3770
@romani I have the implementation at a stage where it performs the required functionality with units tests. but it doesn't yet pass all of the checkstyle rules (though it does successfully pass most).

Is there a review process, does it only start after a pull request, what's the next step?

[2017-02-17 18:00] rnveach commented on #3770
@ilanKeshet The next process is a PR, but we usually don't start reviewing them until all CI passes.
We will provide assistance if you need help getting the CI to pass.
If your not ready for a PR, you can start a conversation in our google groups.

[2017-02-17 18:34] rnveach commented on #3469
According to old release notes, this behavior is intended from Release 2.2.
https://github.com/checkstyle/checkstyle/blob/25a37e5049b7816b34c552899841a978efc37a63/src/xdocs/releasenotes_old.xml#L2418

I don't see why all information for the exception wouldn't be written in the one tag.
I would still like this change, so it might require a property unless we want to drop old behavior.

[2017-02-17 18:42] romani commented on #3748
empty block in "case" is nonsense to use/have in code, it is kind of expected that guide does not clarify that point.

technically, fact that checkstyle does not report problems on this is a bug.
But in real life I think it is almost impossible to find.

[2017-02-17 19:27] rnveach commented on #3748
I will move the `case` to a new issue.

Within this issue, `default` will remain as not being added to `EmptyBlock` for google checks.

[2017-02-17 19:32] rnveach opened #3839 "EmptyBlock: can't get violation from case token"
Taken from https://github.com/checkstyle/checkstyle/issues/3748#issuecomment-279396341

[code]

http://checkstyle.sourceforge.net/config_blocks.html#EmptyBlock
`LITERAL_CASE` is an allowed token, but I can NOT produce a violation for it.

Our tests for the check makes no reference to cases. https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/checks/bl

[2017-02-17 19:50] romani commented on #3839
no , it is not a empty  block. The same as `catch (exception ex) { throw ex; }` - it is not empty catch.

[2017-02-17 20:05] rnveach commented on #3839
I was thinking along the lines of auto-generated code from IDEs. Generated `catch` usually isn't `throw`, but generated `case` usually are given a `break` for each additional case.

Should we change the token from `LITERAL_CASE` to `CASE_GROUP` then? 2+ cases right after each other shouldn't be considered empty, right? Just like we don't consider them for `FallThroughCheck`.

Examples if we are on

[2017-02-17 22:05] romani commented on #3721
fix is merged

[2017-02-17 22:05] #3721 closed

[2017-02-17 22:12] romani commented on #3839
http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html#CASE_GROUP
I do not think so, I do not see a reason.

switch(a5) { case 0: case 1: default: } // 1 violation???
switch(a6) { case 0: default: case 1: } // 1 violation???

There are no blocks.
There should be no violations, it is not this Check business and validation points.
Check should stay on validatio

[2017-02-17 22:18] romani commented on #3770
@ilanKeshet , please fix violations it will ease a lot review on my side. As you succeeded "mvn verify" please create PR. It is not a rare case then PR is full of discussions and redoing and .... .

If you want to discuss something before PR, maillist is good choice, or here at the issue.

[2017-02-17 22:33] rnveach commented on #3839
I was under the impression we would handle the entire `case` as if it was a block, not require users to actually add the blocks.

@romani Are these examples correct then? If not, could you show some?

[code]

[2017-02-17 22:46] rnveach commented on #3748
After some clarification from the new issue, `EmptyBlock` with `case`/`default` can't satisfy any google requirements as the brace must be written in. Google makes no mentions of braces in this scenario.

We will ignore both tokens for now.

[2017-02-18 00:34] romani commented on #3748
fix is merged.

[2017-02-18 00:34] #3748 closed

[2017-02-18 01:25] romani commented on #3839
This behavior will be valid as for me.

[2017-02-18 01:50] romani commented on #3775
Right.

Confirmed. Right behavior described.
We need to update xdoc for "same" mode to describe that it will violate all cases that are not for multi locks

[2017-02-18 08:50] jochenvdv commented on #2935
@romani Should I update all versions of the import control DTD? Or only the latest one?

[2017-02-18 13:54] romani commented on #2935
Only the latest, previous versions exists only to support old versions of checkstyle. Existing configurations most likely already do not need help with config.

[2017-02-18 16:56] rnveach opened #3843 "Code coverage is not working for certain classes in checkstyle"
Identified and confirmed in https://github.com/checkstyle/checkstyle/pull/3842

Cobertura code coverage it not producing any results for the DesignForExtensionCheck.
![coverage1](https://cloud.githubusercontent.com/assets/5427943/23094682/a00731fa-f5cb-11e6-9d31-5584f4349544.png)

When having travis print out `target/site/cobertura/coverage.xml` it confirms no results for that check but results fo

[2017-02-18 19:11] romani commented on #3767
@cypai , ping !

[2017-02-18 19:38] rnveach commented on #3843
Backport 7.5.1 doesn't have an issue with this check. It shows up in the report with the missing coverage.
Checkstyle 7.5.1 and 7.2 doesn't show the check.
Checkstyle 7.1 and 7.1.1 and 7.1.2 DOES show the check.

Commit 06716249cfb86d9f213f33a26877112e8ab45adc broke cobertura somehow for this check.
Debug output didn't give me anything that I could see.

I think the issue is related to Java 8 some

[2017-02-18 20:01] romani commented on #3843
we already considered jacoco, but 2 years ago, cobertura was much better. @MEZk , did investigation of jacoco usage, we even had profile to run validation.
jacoco is just another bag of problems (most problems are the same), even it is not stale.
here is a link to jacoco profile that I removed recently - https://github.com/checkstyle/checkstyle/wiki/How-to-generate-UT-coverage-report

[2017-02-18 20:46] rnveach commented on #3843
[After reverting the jacoco commit and minor fixing so all classes require 100% coverage](https://github.com/rnveach/checkstyle/commit/158962ed3b6d17ece053324b6e56e2b5fb3db897), I get the following results:
[code]
Command: `mvn -Pjacoco-check verify`

[2017-02-18 22:17] rnveach commented on #3729
Fix is merged

[2017-02-18 22:17] #3729 closed

[2017-02-18 23:20] MEZk commented on #3843
@rnveach
One of the reasons why we cannot use jacoco
https://github.com/jacoco/jacoco/issues/449

[2017-02-19 02:48] rnveach commented on #3843
Problem with cobertura is with `java.util.stream.Stream` class.
Any class that imports it and uses it, in some way, loses coverage. [10 production classes have it as an import in master right now](https://github.com/checkstyle/checkstyle/search?utf8=%E2%9C%93&q=%22java.util.stream.Stream%22) and are confirmed to be missing from the report.
It could be related to https://github.com/cobertura/cobert

[2017-02-19 05:54] ilanKeshet commented on #3770
Thanks @rnveach @romani

[2017-02-19 07:30] MEZk commented on #3843
Confirm. Removed it from DesignForExtension and cobertura showed 97% branch coverage. Let me fix the problem for DesignForExtension and I will continue working on https://github.com/checkstyle/checkstyle/pull/3842

[2017-02-19 13:39] rnveach commented on #3843
We should do 2 things for this Issue.
1) Disallow `java.util.stream.Stream` in import control with a reason to a new issue where we remove once cobertura get fixed.
2) Replace all uses of `Stream` with `Arrays.stream`

It would be great if we could add a CI item that would do a compare from the list of classes/interfaces/enumerations (including inners) in `src\main\java` to the list of classes in

[2017-02-19 14:56] MEZk commented on #3843
@rnveach
Can you change the title of the issue as it is more general.

[2017-02-19 23:10] romani commented on #3843
fix is merged

[2017-02-19 23:13] romani commented on #3843
agree.

it might be better to find all files in `target`, and just search them in report.

[2017-02-20 01:36] romani commented on #3843
One more point, some time ago we switched cobertura to quite mode, if we disable it in pom , smth valuable might be printed to output.

[2017-02-20 21:00] MaggieMa21 commented on #3133
I would like to work on this ticket. Should it be a new check or adding features to the existing LineWrappingHandler?

[2017-02-20 21:10] wubbzee commented on #1854
I'm on it!

[2017-02-20 21:14] romani commented on #3133
It is should be update for existing Check. Indentation Check wrap multiple of handlers.

[2017-02-20 21:38] Godin commented on #3843
FWIW - PowerMock works with JaCoCo offline instrumentation - see https://github.com/powermock/powermock/wiki/Code-coverage-with-JaCoCo#offline-instrumentation

[2017-02-20 21:55] romani commented on #146
PMD calculation is 32 too:

[code]

[2017-02-20 22:04] Godin commented on #3843
@MEZk

Could you please elaborate why this is super blocker? Rounding down in reports was implemented in https://github.com/jacoco/jacoco/pull/452 and as was said in https://github.com/jacoco/jacoco/issues/449#issuecomment-246319827 - "You can specify any precision for the check goal".

And also wondering what are the other reasons?

[2017-02-20 22:08] romani commented on #146
from Npath pdf specification:
-----------------------------------------------
Anomaly of the NPATH Measures
[code]
NPATH = 4 but it is clear that code paths is 2 only.
Code could be converted to:
[code]
NPATH=2.

-----------------------------------------------

So NPATH algorithm is not ideal and do have problems with calculations.

[2017-02-20 22:23] romani commented on #146
from Npath pdf spec:

The return statement terminates the execution of a
C function. A return statement can also contain an
expression. Therefore, the complexity of the return
statement is NP(( expr )).

[2017-02-20 22:35] romani commented on #146
from checkstyle.sourceforge.net/config_metrics.html#NPathComplexity

so
[code]

@yerenkow , we follow the algorithm that was described in pdf by author. There are bunch of anomalies. Any fixes to them will be another algorithm, so another Check/Metric.

[2017-02-20 22:35] #146 closed

[2017-02-20 22:44] romani commented on #616
All formulas from pdf specification of NPATH is at checkstyle.sourceforge.net/config_metrics.html#NPathComplexity
[code]

[2017-02-20 22:51] #616 closed

[2017-02-20 23:09] romani opened #3847 "NPathComplexity: wrong processing of return"
from pdf specifcation of NPath algorithm

The return statement terminates the execution of a
C function. A return statement can also contain an
expression. Therefore, the complexity of the return
statement is NP(( expr )).

[code]

Expected:
`[WARN] /var/tmp/Demo.java:2:5: NPath Complexity is 2 (max allowed is 1). [NPathComplexity]`

Xdoc also need to be fixed, to make in table for `return` "Compl

[2017-02-20 23:10] romani commented on #3847
PMD also calculate it as  `2`:
[code]

[2017-02-21 07:39] MaggieMa21 commented on #3135
BlockParentHandler.java are currently checking children of type
{TokenTypes.VARIABLE_DEF,
TokenTypes.EXPR,
TokenTypes.OBJBLOCK,
TokenTypes.LITERAL_BREAK,
TokenTypes.LITERAL_RETURN,
TokenTypes.LITERAL_THROW,
TokenTypes.LITERAL_CONTINUE,}

So when the body of if statement contains return, shown by the below lines of code does, it does throw error as expected even through curly braces:
        if (te

[2017-02-21 10:36] cypai commented on #3767
The main reason I had for this is similar to trailing commas in Arrays. It's easy to add/delete/sort elements by line, and if I do so at the end of the declaration, I won't need to go back to delete the semicolon, etc.

[code]
vs
[code]

So it's pretty much just a convenience issue.

For chain calls, I would prefer the semicolon on the same line. The last line in chain calls is typically a termina

[2017-02-21 14:35] rnveach commented on #3135
The tree with the if and no curly:
[code]

@MaggieMa21
As shown, the first child after the `if` statement is `EXPR` which is already in the list.

Further, [`CHECKED_CHILDREN` is only used in `checkIndentation` when we have an `SLIST`](https://github.com/checkstyle/checkstyle/blob/0de913bf4d7bca3ddbbf1657d651370002536bf0/src/main/java/com/puppycrawl/tools/checkstyle/checks/indentation/BlockParentH

[2017-02-21 14:49] rnveach commented on #3135
Looking closer at the tree structure, issue is most likely going to be completely related to the tree ordering.
[code]
`System` is the first text in the source, but it is not the first token in the tree. `EXPR` is and since it isn't the first token on the line this is probably why no violation is being printed.
No violation happens at same area as `return` because it thinks that the start column i

[2017-02-21 17:46] MEZk commented on #3843
@Godin
Java compiler creates synthetic code. For example for enums. Can jacoco deal with these code ? When I used JaCoCo recently there was a problem.

[2017-02-21 18:46] MEZk commented on #3843
@romani @rnveach
I created an issue in cobertura-maven-plugin GitHub repo:
https://github.com/mojohaus/cobertura-maven-plugin/issues/21#issuecomment-281437726
https://github.com/mojohaus/cobertura-maven-plugin/issues/18

[2017-02-21 19:23] Godin commented on #3843
@MEZk you're right that there are synthetic constructions that JaCoCo does not filter.

However the same way you do workarounds for cobertura, you can do workarounds for synthetic constructions, especially for enums :smiling_imp: both look awkward :wink:

BTW, without offence, but IMO inability of Cobertura to deal with some Java 8 constructions is of a bigger problem (especially given activity in

[2017-02-21 20:11] MEZk commented on #3843
@rnveach @robertpainsi
According to my investigation of Cobertura coverage report generation all interfaces from java.util.stream should be disallowed in our code.

[2017-02-21 21:25] romani commented on #3843
we lost coverage (base on http://checkstyle.sourceforge.net/cobertura/index.html) for:
FinalParametersCheck
IllegalCatchCheck
IllegalThrowsCheck
JavadocStyleCheck
ModifiedControlVariableCheck
ParameterNameCheck
VisibilityModifierCheck

useful commands to get this list:
[code]

[2017-02-21 21:26] MEZk commented on #3843
@romani
Coverage report after removing problematic imports
http://mezk.github.io/i3843-coverage/cobertura

[2017-02-21 21:29] romani commented on #3843
@MEZk , please move RequireThisCheck to excludes of cobertura and send PR to disallow usages of streams.

[2017-02-21 21:37] MEZk opened #3848 "RequireThisCheck is not fully covered with UTs"
Due to https://github.com/checkstyle/checkstyle/issues/3843 it appears that RequireThisCheck is not fully covered:

![screenshot at 2017-02-22 00-36-32](https://cloud.githubusercontent.com/assets/7242568/23186120/fcdf4228-f896-11e6-8821-79d13698ac48.png)

100% branches and lines coverage need to be reached.

[2017-02-22 04:21] rwalkerands opened #3850 "WhitespaceAfterCheck"
/var/tmp $ javac an/extremelylongpackagenamethat/hasmultiplecomponents/Test.java
/var/tmp $ cat an/extremelylongpackagenamethat/hasmultiplecomponents/Test.java
[code]
/var/tmp $ cat config.xml
[code]
/var/tmp $ java -jar checkstyle-7.5.1-all.jar -c config.xml an/extremelylongpackagenamethat/hasmultiplecomponents/Test.java
[code]

---------------

Describe what you expect in detail.

I expect no wa

[2017-02-22 13:17] averza commented on #3423
Hi,
It is still not fixed in the latest Checkstyle 7.5.1...

[2017-02-22 20:37] mavsoares opened #3852 "@Override isCommentNodesRequired() seems not to be working"
Hi,

I have created a checker to ensure that there is an empty line after the '{' at the outter class def. See code snippet below:

[code]

I've overridden isCommentNodesRequired() to return true, but when I call:

`DetailAST nextToken = objBlock.getFirstChild().getNextSibling(); // getFirstChild == '{'`

and the next token is a comment, nextToken var gets assigned the next token after the comment

[2017-02-22 22:07] rnveach commented on #3852
@mavsoares [I recommend you use the CLI's option to print the tree](http://checkstyle.sourceforge.net/cmdline.html#Command_line_usage) to see the tree that you are dealing with as you code your check.
Comments usually get inserted into places other than where you would think. In this case, it is in the `VARIABLE_DEF`'s `MODIFIER` section.
[code]

[2017-02-22 22:12] MEZk commented on #3423
@averza
Yes. The issue is not closed, so it has not fixed yet.

[2017-02-22 22:59] rnveach commented on #3850
@romani This looks valid. [When we first receive the token, we capture the line we are dealing with](https://github.com/checkstyle/checkstyle/blob/b4a337a599e853cdc44b19a76da28fcfab2956cd/src/main/java/com/puppycrawl/tools/checkstyle/checks/whitespace/WhitespaceAfterCheck.java#L104) and [this is the line we use to validate against for whitespaces](https://github.com/checkstyle/checkstyle/blob/b4a3

[2017-02-22 23:54] #3852 closed

[2017-02-22 23:55] romani commented on #3852
further discussions should be in mail-list.

[2017-02-23 00:09] romani commented on #3850
@rnveach , workaround is funny.

issue is approved.

@rwalkerands , please be welcome to provide the fix, as this case is  so rear.

[2017-02-23 00:38] rwalkerands commented on #3850
Adding a space at the end of a line is not possible for me, otherwise -- with my actual configuration (based on Sun checks) -- I get a warning about trailing whitespace. (And I have Eclipse configured to remove it on save, anyway.)

[2017-02-23 00:39] rwalkerands commented on #3850
Oh sorry, misread it completely. I now see where the space is. Indeed, it raised an eyebrow.

[2017-02-23 02:41] romani commented on #3767
There are such idea already https://github.com/sevntu-checkstyle/sevntu.checkstyle/issues/464
It is even almost implemented  https://github.com/sevntu-checkstyle/sevntu.checkstyle/pull/474 but looks like abandoned on the last step.

If smb have time to finish , please feel free.

[2017-02-23 13:15] MEZk commented on #3843
Classes which are missed in Cobertura coverage report:
com/puppycrawl/tools/checkstyle/checks/coding/IllegalCatchCheck
com/puppycrawl/tools/checkstyle/checks/coding/IllegalThrowsCheck
com/puppycrawl/tools/checkstyle/checks/coding/ModifiedControlVariableCheck
com/puppycrawl/tools/checkstyle/checks/coding/RequireThisCheck
com/puppycrawl/tools/checkstyle/checks/design/VisibilityModifierCheck
com/pupp

[2017-02-23 15:15] rnveach opened #3854 "AbstractJavadocCheck: more control over which javadocs to process"
Right now when a Javadoc is found via `visitToken`, [as long as it is a Javadoc comment and in the correct position](https://github.com/checkstyle/checkstyle/blob/0de913bf4d7bca3ddbbf1657d651370002536bf0/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.java#L254-L255), it will be processed by the check.

The problem is if I want to create a new check that specifica

[2017-02-23 22:52] rnveach commented on #3830
Fix is merged

[2017-02-23 22:52] #3830 closed

[2017-02-24 10:37] syabru opened #3855 "LeftCurlyCheck: clarify behavior of 'nlow' option after removal of 'maxLineLength'"
EDIT: only documentation is updated.

/var/tmp $ cat YOUR_FILE.java

[code]

/var/tmp $ cat config.xml

[code]
/var/tmp $ java -jar checkstyle-X.XX-all.jar -c config.xml YOUR_FILE.java

[code]

---------------

LeftCurly checker defined with nlow (new line on wrap). Default max line length of 80 is used. The statement in question is exactly 80 characters long with left curly brace on new line.

If

[2017-02-24 12:36] tomvandenberge opened #3857 "Type annotations on array make Checkstyle crash"
/var/tmp $ cat MyClass.java

[code]

/var/tmp $ java -jarcheckstyle-7.5.1-all -c /google_checks.xml MyClass.java
[code]
---------------

The type annotation on the array seem to be not supported?

[2017-02-24 13:39] romani commented on #3857
first line of PR template is verification that file is compilable by java, please do not skip it.

[code]

if that is allowed in some new java - please prove this by commands.

[2017-02-24 13:39] #3857 closed

[2017-02-24 14:01] romani opened #3858 "Travis CI is always green even command return not zero exit code"
master and PRs are affected:
https://travis-ci.org/checkstyle/checkstyle/jobs/204781086#L301
https://travis-ci.org/checkstyle/checkstyle/jobs/204944791#L864

[2017-02-24 14:34] tomvandenberge commented on #3857
This is supported since Java8.

I'm sorry, I didn't include an accurate reference to the NonNull annotation. You've picked an old version. You should get it from https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.annotation/src/org/eclipse/jdt/annotation/NonNull.java:

[code]

[2017-02-24 14:43] rnveach commented on #3855
checkstyle 6.9 reports no violation, but 6.10 does.
This looks like it is related to Issue #965 when we deprecated `maxLineLength` property.

http://checkstyle.sourceforge.net/property_types.html#lcurly

[Current code can't follow documentation as how can it know what can and can't fit on a previous line without a definition of how long the lines can be](https://github.com/checkstyle/checkstyle/bl

[2017-02-24 14:51] rnveach commented on #3857
If input is now compilable, it looks like it might be related to #3236. That example just has more annotation uses.

[2017-02-24 15:00] tomvandenberge commented on #3857
You're right, #3236 seems to be the same problem.

[2017-02-24 17:22] 1Mark opened #3859 "Eclipse Checkstyle - The following solutions are not available checkstyle plug-in 7.3.0"
I can't install checkstyle I keep getting

The following solutions are not available checkstyle plug-in 7.3.0

The same with other plugins too.

Help -> Eclipse Marketplace -> SearchBox (checkstyle) -> then I recieve

The following solutions are not available: Checkstyle Plug-in 7.3.0 (id=net.sf.eclipsecs.feature.group, site=http://eclipse-cs.sourceforge.net/update/)

[2017-02-24 18:14] rnveach commented on #3859
Looks the same as Issue #3834.

@1Mark You will probably have to contact the people who maintain the Eclipse-CS Plugin at https://sourceforge.net/p/eclipse-cs/bugs/ .
We only deal with the utility JAR, not the eclipse plugin.

[2017-02-24 18:14] #3859 closed

[2017-02-24 18:15] rnveach commented on #3859
This is the reported bug already: https://sourceforge.net/p/eclipse-cs/bugs/419/

[2017-02-24 18:56] rnveach commented on #3858
Checking the return code after the script executes may be a solution.
https://travis-ci.org/rnveach/checkstyle/builds/205072852#L189-L194

[2017-02-25 00:18] #3858 closed

[2017-02-25 13:43] romani opened #3862 "osx build on Travis are skipped by SKIP_CI=true, while on Linux it is SKIP_CI=false"
Linux: https://travis-ci.org/checkstyle/checkstyle/jobs/205271902#L197
`SKIP_CI=false`

https://travis-ci.org/checkstyle/checkstyle/jobs/205271921#L101
`SKIP_CI=true`

[2017-02-25 14:17] romani commented on #3862
reason is http://stackoverflow.com/questions/30927590/wc-on-osx-return-includes-spaces

[code]

[2017-02-25 14:53] romani commented on #3862
fix is merged

[2017-02-25 14:53] #3862 closed

[2017-02-25 14:55] romani commented on #3843
fix is merged.

[2017-02-25 14:55] #3843 closed

[2017-02-26 10:39] MEZk commented on #3855
@rnveach

Current implementation of the check requires the following changes in the code:

[code]

or
[code]

It looks a bit ugly. I remember that we decided to drop the option intentionally, however I believe that we did not take into account the case mentioned above. Note, that RightCurlyCheck does not have such option.

From my point of view, ```maxLineLength``` option was introduced to relax t

[2017-02-26 11:37] MEZk commented on #3848
I'm on it.

[2017-02-26 14:33] romani opened #3868 "Travis faliure: "sonatype-nexus-staging not found" during release"
This failure should be avoided https://travis-ci.org/checkstyle/checkstyle/jobs/205508035#L2724

Extra logic in travis should be added to skip build in case of version bump commit, as we do not do publishing from Travis yet (it is done from my local pc).

[code]

[2017-02-26 14:42] romani commented on #3868
fix is merged, will be tested on next release.

[2017-02-26 14:42] #3868 closed

[2017-02-26 18:43] romani commented on #3843
Fix for checking is merged.

[2017-02-27 00:58] romani opened #3869 "circleci: provide ability to skip CI executions base on commit files"
continuation of #3818 .

we need to extend build script to skip CI execution if non-related files are changed only.
wercker , travis, distelli, shippable are already  updated.

[2017-02-27 00:58] romani opened #3870 "appveyor: provide ability to skip CI executions base on commit files"
continuation of #3818 .

we need to extend build script to skip CI execution if non-related files are changed only.
wercker , travis, distelli, shippable are already  updated.

[2017-02-27 03:25] rnveach commented on #3763
fix is merged

[2017-02-27 03:25] #3763 closed

[2017-02-27 13:41] tfereyre opened #3871 "Pattern doesn't match the lowerCamelcase"
![testpattern](https://cloud.githubusercontent.com/assets/26063123/23363318/64214550-fcfa-11e6-9a4a-4ebb8864260c.jpg)

The local variable "aKey" doesn't match the following google style pattern : `"^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"`. See my test case

[2017-02-27 14:08] romani commented on #3871
issue need to be formatted as demanded at http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug

if no requested details provided , issue will be closed as invalid in 2 weeks.

[2017-02-27 14:58] tfereyre commented on #3871
It's just a pattern problem in google_checks.xml. Sorry but I will not have time to install an run checkstyle. I mean I solved the problem using the default checkstyle pattern instead of the google one.

[2017-02-27 15:38] #3871 closed

[2017-02-27 18:43] padmavasanth commented on #3870
Hi @romani - Can I work on this fix?

[2017-02-27 18:54] romani commented on #3870
be welcome !

[2017-02-27 19:12] rnveach commented on #3502
@romani I am closing this issue.
Somehow I missed the property `validateBetweenScopes` which solves this issue. I guess I accidentally assumed it would be on by default.

[code]

[2017-02-27 19:33] rnveach commented on #3502
Ignore my previous, deleted comment. I see the property `validateBetweenScopes` actually counts lines as if the braces didn't exist.

I believe the issue with the counter, is at https://github.com/checkstyle/checkstyle/blob/ee700b71b5414720afec1a2e38c7b8b1f77a7813/src/main/java/com/puppycrawl/tools/checkstyle/checks/coding/VariableDeclarationUsageDistanceCheck.java#L397 .
When we reach a block and

[2017-02-28 04:42] pbludov commented on #2840
As an easy and erroneous solution, you can fix the regular expression in
src/main/java/com/puppycrawl/tools/checkstyle/utils/JavadocUtils.java:78 as follows:
[code]

[2017-02-28 07:53] pbludov commented on #2840
Note that AbstractJavadocCheck won't fit in that case.
For now, it is not possible to code a "dual" check, for both java and javadoc.
It is possible to hack the system by a check with an inner check within.
Here we are:
[code]
The problematic part is
[code]
For the today, it works fine. Will it work in the future - who knows?

[2017-02-28 15:26] Luolc commented on #3731
I am on it :)

[2017-02-28 15:55] rnveach opened #3883 "WritingChecks: add documentation on java grammar"
'Writing Javadoc Checks' has a full example on using the CLI to print the javadoc tree. http://checkstyle.sourceforge.net/writingjavadocchecks.html#Tool_to_print_Javadoc_tree_structure

Java has a somewhat similar section with http://checkstyle.sourceforge.net/writingchecks.html#The_Checkstyle_SDK_Gui , but it doesn't contain a full example and doesn't mention the CLI.
I wanted to use something li

[2017-02-28 15:58] rnveach commented on #3796
Any documentation that prints the Javadoc tree is also affected by this change.
Example: http://checkstyle.sourceforge.net/writingjavadocchecks.html#Tool_to_print_Javadoc_tree_structure

[2017-02-28 18:50] romani commented on #3848
fix is merged.

[2017-02-28 18:50] #3848 closed

[2017-02-28 23:15] romani commented on #3219
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/DetailNodeTreeStringPrinter.java#L70

No exception should be thrown, or `DetailNodeTreeStringPrinter.printFileAst` should catch it and print only error message `getParseErrorMessage(status.getParseErrorMessage())`.

[2017-02-28 23:16] romani commented on #3219
assigned to aaditya sharma .
https://groups.google.com/forum/#!topic/checkstyle-devel/icKK3_JPcgc

[2017-03-01 05:22] cushon commented on #3762
The style guide has been [updated](https://github.com/google/styleguide/commit/594d91bfbb8dfcbcac0f148af8175f2b7ec9857b) to clarify that "at-clauses" only refers to block tags, not inline tags:

[2017-03-01 05:33] cushon opened #3885 "FallThrough check doesn't handle infinite loops"
None of the statement groups in this switch can complete normally, so checkstyle shouldn't warn about fall through.

[code]

[config](https://github.com/search?q=path%3Asrc%2Fmain%2Fresources+filename%3Agoogle_checks.xml+repo%3Acheckstyle%2Fcheckstyle+FallThrough).

[code]

[2017-03-01 09:57] demonfiddler opened #3886 "Erroneous 'Equals Avoid Null' reported when argument to equals(Object) is not a string literal"
There's no point reporting 'Equals Avoid Null' if transposing the equals() receiver and argument would result in the same error being reported. This error should **only** be reported for expressions of the form `variable.equals("string literal")`.

For example:

`return a.equals(b + c);`

gets flagged with an error, despite the fact that transposing the expression to:

`return (b + c).equals(a);`

[2017-03-01 13:22] rnveach commented on #3886
I am unable to reproduce your results.

issue need to be formatted as demanded at https://github.com/checkstyle/checkstyle/blob/master/.github/ISSUE_TEMPLATE.md (example: http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug )

[2017-03-01 13:36] romani commented on #3885
unfortunately this is conner cases. It is hard to maintain all variation of them.
Cases like following is hard to analyse, to make it worse imagine that TRUE is defined in other class - so that become completely impossible to detect by checkstyle.
[code]
as we can not cover all cases, should we start coverage of certain strict code structures ?

@rnveach , please share your thoughts on this issue.

[2017-03-01 13:38] romani opened #3888 "google_checks: update to most recent version of style guide ( Feb 28, 2017 )"
https://github.com/google/styleguide/commits/gh-pages/javaguide.html

have some changes, we need to cover them.

previous changed in style guide will be covered by #3755

I cached the page - http://checkstyle.sourceforge.net/reports/google-java-style-20170228.html

no actions, just terminology extension.

we can not cover this requirements, as we can not distinguish types, enum values may look the

[2017-03-01 13:39] romani commented on #3762
@cushon , thanks for notice - #3888

[2017-03-01 13:53] rnveach commented on #3885
@romani I agree.
My thoughts are I am ok with only handling the most obvious, no denying cases if they can be achieved without issue.
Example: `for (;;) {}` and `while (true)`.
There is no way they could be misunderstood that I can see and they are probably the most common ways of coding infinite loops. We still have to examine for `breaks` inside the infinite loops, but we should already be handl

[2017-03-01 14:12] romani commented on #3885
this is additional bag of problems and nuances, we will never be successful to cover all.
I become even more in position to not support this at all as this coding style is error prone.
If user so like it and want to keep it - he should use suppressions.
Extra `break` till not damage the code that much, extra verbosity, but it clearly show that no matter what happening inside of `case`, switch will

[2017-03-01 16:24] cushon commented on #3885
I don't have any open source code I can point to, but we've run into this a handful of times. I think there's value in staying as close as possible to the definition in [JLS 14.21](https://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-14.21).

And for what it's worth, none of the examples I've seen use a constant field as the condition.

[2017-03-01 16:58] romani commented on #3885
@cushon,

Can you provide chunk of code with abfuscation to not reveal any secret ?

I can not take this as prove of valid code. In this world so much code bad code. Non engineer was born ideal and left no bad code after him.

Checkstyle is working only on compilable sources. We are single file validation tool.

But a soon it could be, users will start to request to support that too.

------------

[2017-03-01 17:23] sagar-shah94 commented on #3883
I am on it.

[2017-03-01 20:07] cushon commented on #3885
I dug up a couple of examples.

[code]

[code]

The second one is from [here](https://github.com/google/turbine/blob/4a9a664dd17b17d4ca4641f6267a59f644f20a07/java/com/google/turbine/parse/StreamLexer.java#L100).

[2017-03-01 20:10] rnveach opened #3891 "Split and Organize Checkstyle inputs by Test"
Taken from https://github.com/checkstyle/checkstyle/pull/3887#discussion_r103765963

It makes it hard to review changes to one Check when multiple Checks are using the same input file and users modify that one file. It makes sense, imo, to add new stuff to an existing input file for simple fixes instead of always creating a new one.

We already restrict inputs to only be used by tests in a single

[2017-03-01 20:23] MEZk commented on #3891
@rnveach

Very good idea as for me. It is really annoying to read a huge input file for a test especially when there is a mixed content (two check's options use the same file, etc).

By the way, if we have individual input file for each test, we can add ```//violation``` comment to make the test input easy to understand and quick to read.

[2017-03-01 22:08] kukreja-vikramaditya opened #3892 "False positive in NoLineWrap Check for static imports"
[code]
---

I expect an error during audit process like the google guidelines mentioned [here](https://google.github.io/styleguide/javaguide.html#s3.3.2-import-line-wrapping). But the [NoLineWrap](http://checkstyle.sourceforge.net/config_whitespace.html#NoLineWrap) is unable to figure this. If `static` keyword is removed, audit prints the expected result.

[2017-03-02 01:33] romani opened #3893 "grammar: depreate METHOD_REF and user DOUBLE_COLON"
from https://github.com/checkstyle/checkstyle/pull/3884#issuecomment-283476031

I would suggest to try to remove it from syntax part and keep token in lexical part to keep compatibility. If grammar works fine we will be able to mark token as deprecated and remove.

on next major update of grammar we should resolve this. to keep DOUBLE_COLON as token type. Keep METHOD_REF (we can not remove tokens

[2017-03-02 02:05] rnveach commented on #3398
@ychulovskyy @linelect Just following up, was an issue ever filed?
Can we have the link to it?

[2017-03-02 02:08] rnveach commented on #3391
This is `br` tag inside `p` tag, which is the same as Issue #3810

[2017-03-02 02:10] rnveach commented on #3391
i am closing this in favor of the other issue

[2017-03-02 02:10] #3391 closed

[2017-03-02 02:21] rnveach commented on #3327
`DOUBLE_COLON` is not a valid token currently. Token needed to add is `METHOD_REF`.

[2017-03-02 02:46] rnveach commented on #3183
Most likely this is because of issues we have had with `Scope` enumeration and should switch to `AccessModifier` here like we did for `ParameterNameCheck`.

[2017-03-02 02:54] ychulovskyy commented on #3398
@rnveach Are you asking if I submitted an issue for IntelliJ Idea to describe that static and non static import orders are different? No, I didn't.
However original issue here is that I cannot setup Checkstyle to be compatible with default IntelliJ Idea settings for non static import order.
Are there any plans to fix this?

[2017-03-02 03:14] rnveach commented on #2928
I am unable to reproduce with current CS version or older ones.
[code]

[2017-03-02 03:17] rnveach commented on #2827
Most likely this is because of issues we have had with Scope enumeration and should switch to AccessModifier here like we did for ParameterNameCheck.

[2017-03-02 03:20] rnveach commented on #2812
@romani Do you think this should be a new module and not added onto existing checks?

[2017-03-02 03:36] rnveach commented on #2465
@romani This is the current state of the Check. It looks correct to me as 5 violations are shown for each `Incorrect` comment.
[code]

Violations start appearing in 6.3.

[2017-03-02 03:39] rnveach commented on #2446
Probably a duplicate of Issue #3134 and #3302 .
Referenced commit in this issue show user was starting to make a custom annotation handler at https://github.com/jakubadamek/checkstyle/commit/efab067ac302e4de020e90245566fb10844e80a6#diff-72eb3b1a1f87627d62fdf53865b57749R79 which is what is needed

[2017-03-02 03:41] rnveach commented on #2413
Probably a complete duplicate of Issue #3351

[2017-03-02 03:54] rnveach commented on #1664
I am closing this as there is no violation with Checkstyle 7.6.
[code]

[2017-03-02 03:54] #1664 closed

[2017-03-02 04:57] MEZk commented on #3892
@kukreja-vikramaditya
Please, add Checkstyle configuration xml into issue description.

[2017-03-02 05:07] Luolc commented on #2989
I am reviewing this issue but cannot recurrent the bug for now. Can anyone help?
[code]

[2017-03-02 05:10] liscju commented on #2928
I guess this is the result of https://github.com/checkstyle/checkstyle/pull/2920, i think this issue can be closed

[2017-03-02 07:00] sagar-shah94 commented on #3685
I am on it.

[2017-03-02 07:13] Luolc commented on #3700
I am on it :)

[2017-03-02 08:23] soon commented on #3329
Working on this issue.

In the line `java.util.function.Consumer c = ( o ) -> { o.toString() };` lambda is parsed as a `LAMBDA` token, but `ParenPadCheck` module does not accept lambdas and the checker skips the lambda.

In the line `java.util.stream.Stream.of().forEach(( o ) -> o.toString());` lambda is a part of `ELIST` of `METHOD_CALL` and therefore processed as an expression.

My first impress

[2017-03-02 10:07] Luolc opened #3896 "Test failed due to locale message settings. (with non-English locale settings)"
With a non-English locale settings (in my case is zh-CN), running [CheckerTest#testHaltOnExceptionOff](https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/CheckerTest.java#L756) will assert an error as following:
[code]
The difference is between `Got an exception` and `异常`, while `异常` is a Chinese translation of `Got an exception`.

I find that these

[2017-03-02 11:18] Luolc commented on #3492
I wanna have a try. :)
Since the issue is tagged with `medium`, it maybe better for me to list some to-dos and have a discussion with main contributors before working.

- A new element `class` will be introduced, so `import_control_{DTD_VERSION}.dtd` need update.
- Something about handling the `class` element should be added to `ImportControlLoader`, mostly in `startElement` method.
- Data structu

[2017-03-02 13:02] zygimantus commented on #1070
Using

Gives this error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:2.17:check (default-cli) on project idmgna: Failed during checkstyle execution: Failed during checkstyle configuration: unable to parse configuration stream - The processing instruction target matching "[xX][mM][lL]" is not allowed.:5:10 -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace

[2017-03-02 13:15] romani commented on #3869
fix is merged

[2017-03-02 13:15] #3869 closed

[2017-03-02 13:23] romani commented on #3896
as you have "zh-CN", java suppose to load "_zh.properties" files.
But looks like smth is not working ......

@Luolc , please try to do copy-paste of _zh.properties to _zh-CN.properties and look in debug what files java is expected to load for your locale.

[2017-03-02 13:46] romani opened #3897 "Split and Organize Checkstyle inputs by Test for WhitespaceAfterCheck"
subtask of #3891 .

do a copy of all test input files to separate folder for WhitespaceAfterCheck .
Not any other Check should use new inputs.

[2017-03-02 13:46] romani commented on #3897
pre-assigned to Pedro Portela .

[2017-03-02 13:50] rnveach commented on #1070
@zygimantus

Your `<?xml version="1.0"?>` in your config file must start on the first in the first column. No blank lines or whitespaces must appear before it otherwise you get this error.

[2017-03-02 13:57] Luolc commented on #3896
@romani
It loads `_zh_CN.properties`
I do a copy paste and change `异常` to `异常二` in _zh_CN file. I observed `LocalizedMessage` load the _zh_CN bundle and the error message is also contains `异常二`:
[code]

[2017-03-02 14:11] rnveach commented on #2928
@liscju I tried with older versions and I only got at most 1 error message but description says there was 2.
#2920 had one variable assign another, but in this description there are no assignments in example.

Can you recreate the issue? if not than we will close this.

[2017-03-02 14:33] soon commented on #3309
I am on it

[2017-03-02 14:35] rnveach commented on #3896
Test failure could be related to Issue #3377.

[2017-03-02 14:41] rnveach commented on #3892
@romani The issue looks valid to me.
http://checkstyle.sourceforge.net/config_whitespace.html#NoLineWrap
We already have `IMPORT` token, and we by default say we will verify `import` statements.
It seems we are just missing the `STATIC_IMPORT` token in acceptable and default.

[2017-03-02 14:54] rnveach commented on #3492
We need a new version of the DTD I believe, no update to the current one.
I'm not sure why we do this if the DTD remains backwards compatible. @romani Can confirm.

`xdocs` for the check needs to be updated to showcase the new feature to the user.  http://checkstyle.sourceforge.net/config_imports.html#ImportControl
Our own checkstyle configuration should be updated to use this new feature as descr

[2017-03-02 15:03] rnveach commented on #3329
This was mine as well. There is no other way for the check to examine this token unless we tell it to visit it.
`visitToken` might have to change depending on if `lambda` needs special handling than the default.

[2017-03-02 15:29] soon commented on #3329
@rnveach Suppose we're excluding `LAMBDA` from the tokens list via config. Should `java.util.stream.Stream.of().forEach(( o ) -> o.toString());` raise a violation it that case?

[2017-03-02 17:17] romani opened #3898 "Split and Organize Checkstyle inputs by Test for WhitespaceAround"
subtask of #3891 .

do a copy of all test input files to separate folder for WhitespaceAround.
Not any other Check should use new inputs.

[2017-03-02 17:18] romani commented on #3898
pre-assigned to Nikhil Shinde (https://groups.google.com/forum/#!topic/checkstyle-devel/zFiXoW7k9Co)

[2017-03-02 17:31] nikshinde1996 commented on #3898
I am on it !

[2017-03-02 18:02] romani commented on #3731
fix is merged.

[2017-03-02 18:02] #3731 closed

[2017-03-02 19:28] Pedro12909 commented on #3897
Working on it!

[2017-03-02 22:50] jplace opened #3899 "Indentation: google-java-format and Checkstyle disagree about switch block indentation"
https://checkstyle.org/config_misc.html#Indentation

`[jplace@Jordans-MacBook-Pro checkstyle-playground]$ cat src/main/java/Main.java `
[code]

`[jplace@Jordans-MacBook-Pro checkstyle-playground]$ cat checkstyle.xml`
[code]
I've distilled this from the Google Checkstyle configuration for the purposes of file this bug:
https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_c

[2017-03-02 23:35] romani commented on #3329
no.
http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad
See example. The same as if we remove "CTOR_CALL" from config, violations is disappear.

It would be super great if you put few examples of code+config to xdoc file (html site is generated from xdoc files) to show user how exactly config force code to looks like. Users like examples.

[2017-03-02 23:50] romani opened #3900 "Split and Organize Checkstyle inputs by Test for TypecastParenPad"
subtask of #3891 .

do a copy of all test input files to separate folder for TypecastParenPad.
Not any other Check should use new inputs.

[2017-03-02 23:54] romani commented on #3900
Pre-assigned to Rishabh Mehrotra .
https://groups.google.com/forum/m/#!topic/checkstyle-devel/5rsmhCi-jUI

[2017-03-03 00:29] Pedro12909 commented on #3897
I'm struggling to figure out what I'm supposed to do to fix this issue. Could you provide me some clearance? Thanks in advance!

[2017-03-03 03:44] Luolc commented on #3896
I find the reason eventually.

Firstly, a way to reproduce the bug is mentioned in Issue #3377 . As MEZk suggested, I add a `<argLine>-Duser.country=DE -Duser.language=de</argLine>` in my `pom.xml` and reproduced the bug with German error message. So I guess someone else with English environment can also reproduce the bug by this way.

The different behavior between Intellij test and command line

[2017-03-03 14:53] sagar-shah94 opened #3902 "Formatting issue in documentation"
At following link
http://checkstyle.sourceforge.net/writingjavadocchecks.html#HTML_Code_In_Javadoc_Comments
when ever you try to zoom in browser following line comes out of box and due to which scrollbar comes in bottom part of browser

line where issue is:
**[ERROR:0] Javadoc comment at column 1 has parse error. Missed HTML close tag 'audio'. Sometimes it means that close tag missed for one of pr

[2017-03-03 15:50] RishMeh19 opened #3903 "I am on it"
/var/tmp $ javac YOUR_FILE.java

[[PLACE YOUR OUTPUT HERE]]

/var/tmp $ cat YOUR_FILE.java

[[PLACE YOU OUTPUT HERE]]

/var/tmp $ cat config.xml

[[PLACE YOUR OUTPUT HERE]]

/var/tmp $ java -jar checkstyle-X.XX-all.jar -c config.xml YOUR_FILE.java

[[PLACE YOUR OUTPUT HERE]]

---------------

Describe what you expect in detail.

--------------

Still not clear ??? - see example - http://checkstyle

[2017-03-03 15:51] RishMeh19 commented on #3903
I am on it

[2017-03-03 15:55] romani commented on #3850
Fix is merged

[2017-03-03 15:55] #3850 closed

[2017-03-03 15:59] sagar-shah94 commented on #3902
i am on it

[2017-03-03 16:14] rnveach commented on #3896
This change looks valid to me. The cache is built upon this value, so if it changes, then so should the cache. IMO, I see no problem doing this.

https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/api/LocalizedMessage.java#L302-L304
Looking at the code, it is also dependent on the `ClassLoader`  which comes from the `sourceClass`. I'm not sure how po

[2017-03-03 17:33] romani commented on #3423
pre-assigned to @sagar-shah94.

[2017-03-03 17:36] ps-sp commented on #3900
Kindly review the modifications I made and let me know if it'd be alright to make a pull request for it.

[2017-03-03 17:42] romani opened #3904 "Split and Organize Checkstyle inputs by Test for SeparatorWrap"
subtask of #3891 .

do a copy of all test input files to separate folder for SeparatorWrap .
Not any other Check should use new inputs.

[2017-03-03 17:43] romani commented on #3904
pre-assigned to Vrushank Upadhyay
https://groups.google.com/forum/#!topic/checkstyle-devel/C-ZlDU-Qg78

[2017-03-03 17:46] romani commented on #3897
find UT file - WhitespaceAfterCheckTest
look for lines like "verify(configurationTestCast, getPath("InputWhitespace.java"), expected);"
you need to copy all input files to separate folder and name them as InputWhitespaceAfterXXXX. All that files should be in separate folder to let other check do not use them at all.

[2017-03-03 18:21] ps-sp commented on #3423
I am on it too.

[2017-03-03 18:55] romani opened #3906 "doc: update documentation for usage of "period" property at SummaryJavadoc"
http://checkstyle.sourceforge.net/config_javadoc.html#SummaryJavadoc

example for "period" should be added

[2017-03-03 18:55] romani commented on #2989
@Luolc , thanks for investigation, please crate issue to make an upgrade to xdoc to let users know how to use "period" property (you can copy changes from existing PR).

Issue #3906 .
please provide fix for new issue.

[2017-03-03 18:55] #2989 closed

[2017-03-03 19:09] romani opened #3907 "SummaryJavadoc: no violation on absent summary and on javadoc where '.' is used not as end of sentense"
taken from #3014

[code]

Expected: violations for each javadocs

[2017-03-03 19:12] rnveach commented on #3891
Small update to issue to describe that `[]`s are just for easy name separation and shouldn't be in final file name.
Small change that all inputs should be in their own directory separated from every other test in same package.

@MEZk

definately.

Originally I thought this was ok, but the downside to this is we won't have the same input file for different runs with different properties of the chec

[2017-03-03 19:19] romani opened #3908 "SummaryJavadoc: need special processing of inheritDoc tag"
taken from #3014

[code]

Expected no error.

generated javadoc html is:
[code]

[2017-03-03 19:42] rnveach commented on #3883
Fix is merged

[2017-03-03 19:42] #3883 closed

[2017-03-03 19:49] rnveach commented on #3902
If you zoom in enough, all source areas will see this issue. So it is not restricted to this one area.

[2017-03-03 22:01] MEZk commented on #3903
@romani @rnveach
Please close the issue as the author did not read [the manual](http://checkstyle.sourceforge.net/report_issue.html#How_to_report_a_bug) at all. Issue is unclear and looks like a mockery.

[2017-03-03 22:09] #3903 closed

[2017-03-03 23:02] romani commented on #2812
I think that such validation should be done by existing Checks.

[2017-03-03 23:06] romani commented on #2465
if it works now - lets close the issue

[2017-03-03 23:06] #2465 closed

[2017-03-03 23:26] romani commented on #3492
this is hard question.
If we update version in name of DTD, user will need to update checkstyle and after that do not forget to update link to DTD to get access to new feature.
If we put change in the same version: user will not be able to enforce structure by old format (how it was). Or have a case when DTD allow new tag, but checkstyle version does not (almost now way for user to track when new

[2017-03-03 23:37] romani commented on #3423
@sagar-shah94 please choose another issue.

[2017-03-03 23:40] romani commented on #3891
lets do split inputs for now only.

upgrade for UTs to describe configuration in comments and have strict "//violation" location is good approach that we already practicing, but lets do this as separate step - separate issue.

[2017-03-03 23:43] romani commented on #3902
problem with line wrap in code block is general for whole site. Some CSS magic is required.

[2017-03-04 01:22] rnveach opened #3910 "CommitValidationTest: add character limit to line"
Taken from https://github.com/checkstyle/checkstyle/pull/3905#issuecomment-284103522:

We restrict commit messages to be 1 line to be concise, but we don't limit how long that line can be allowing users to create 400+ character messages.

`CommitValidationTest` needs to be modified to restrict the line length to 200 characters.

Rules message needs to be updated to show this new rule with it's own

[2017-03-04 08:49] sagar-shah94 commented on #3910
i am on it.

[2017-03-04 09:09] MEZk commented on #3775
@romani  @rnveach

In the current implementation of brace policy `same` the current block of code is treated as valid:

[code]

However, according to [the documentation](http://checkstyle.sourceforge.net/property_types.html#rcurly) it should not be valid as the documentation states that if brace policy is same then the brace should be on the same line as the next part of a multi-block statement (o

[2017-03-04 09:46] ps-sp commented on #3910
On it

[2017-03-04 10:11] MEZk commented on #3775
@romani @rnveach
These are the UTs which I suggest for the check:
https://github.com/MEZk/checkstyle/blob/ff1a26b8a1730317fa90e452654b0fcd9b6089a9/src/test/java/com/puppycrawl/tools/checkstyle/checks/blocks/RightCurlyCheckTest.java#L341-L437
These are the test input files:
[InputRightCurlyEmptyBlocksAlone.java](https://github.com/MEZk/checkstyle/blob/ff1a26b8a1730317fa90e452654b0fcd9b6089a9/src/te

[2017-03-04 10:35] sagar-shah94 commented on #3910
Already sent pull request

[2017-03-04 10:41] ps-sp commented on #3910
kudos.

[2017-03-04 10:43] sagar-shah94 commented on #3910
Thanks @ps-sp

[2017-03-04 11:02] sagar-shah94 commented on #3906
I am on it.

[2017-03-04 11:18] ps-sp commented on #3910
I was almost done too man :P ! It hurts :P

[2017-03-04 11:23] sagar-shah94 commented on #3904
@romani Vrushank Upadhyay has not commented "i am on it"
Can i comment if i want to work on this issue?

[2017-03-04 11:24] sagar-shah94 commented on #3910
@ps-sp Sorry i did not know .when i commented i am on it .i did not see any comment that is why i commented.
Sorry :(

[2017-03-04 11:30] ps-sp commented on #3910
NO ! You don't have to be sorry bro. You got it done before me so it's rightfully yours. Also, if it makes you feel better, I'd have made a PR even in spite of seeing your comment, if I had completed it before you that is ! 😋

[2017-03-04 13:18] MEZk commented on #3755
I'm on it.

[2017-03-04 14:08] romani commented on #3910
who first did "i am on it.", that user will be assignee and I expect fix from it, any racing will be rejected.

[2017-03-04 14:09] romani commented on #3910
fix is merged

[2017-03-04 14:22] sagar-shah94 commented on #3907
I am on it

[2017-03-04 14:26] sagar-shah94 commented on #3904
I am on it

[2017-03-04 14:37] kukreja-vikramaditya commented on #3437
I'm on it

[2017-03-04 15:12] kukreja-vikramaditya commented on #3437
@romani
As per checkstyle's documentation, it is mentioned that [PackageDeclaration](http://checkstyle.sourceforge.net/config_coding.html#PackageDeclaration) can optionally check for  package name and directory name mismatch. So I would need to create a new MSG_KEY like (`mismatch.package.dir`)? or edit the [old one](https://github.com/search?q=path%3Asrc%2Fmain%2Fresources%2Fcom%2Fpuppycrawl%2Fto

[2017-03-04 15:20] rnveach commented on #3910
I am re-opennig the issue. Rule number was added but no updates were done to the violation message to inform the user of this new rule.
See https://github.com/checkstyle/checkstyle/blob/master/src/test/java/com/puppycrawl/tools/checkstyle/internal/CommitValidationTest.java#L289

@sagar-shah94 since you did first update, can you finish this?

[2017-03-04 15:33] rnveach commented on #3437
@kukreja-vikramaditya
Violation messages should be clear on guiding user to direct issue. Saying "Problem can be A or B" will be misguided and will require user to hunt down which one it is himself.
I don't see how original message can be updated and avoid that problem.
I think it is best to create a new message.

In addition to the logic change, we should have some example of new option in our xd

[2017-03-04 15:36] rnveach commented on #3755
@MEZk Yes, both are separate. This issue should apply changes up to date specified in title.
#3888 will do from this date to the next one in that title.

IMO, let us know if there are any. I haven't looked at both to see what is involved.

[2017-03-04 15:39] sagar-shah94 commented on #3910
@rnveach doing it now

[2017-03-04 15:47] sagar-shah94 commented on #3910
@rnveach Sir added violation message please review and approve

[2017-03-04 16:31] soon commented on #3309
@romani I'd like to discuss this issue. You said, that it is not very easy issue, but I don't see any problems with it.

All we need to do is to add another parameter like `excludedClasses` and use it in the [`isSignificant`](https://github.com/checkstyle/checkstyle/blob/55aa8cedc60d4faa776d7a36f8ae2d0bed0ada45/src/main/java/com/puppycrawl/tools/checkstyle/checks/metrics/AbstractClassCouplingCheck

[2017-03-04 17:52] ljacqu commented on #3908
Extending this finding, it would be interesting to have a configuration option to skip this check for certain fragments. Specifically, I'm interested in enabling this check but for trivial getters I want to allow just having a concise `@return blabla` javadoc:

[code]

[2017-03-04 18:33] romani commented on #3775
as `same` is for multi-blocks 17,20,21 should not be violation.

to my mind there should be no violations, `same` is only for multi-blocks. ONLY!

`same` should care only multi-blocks cases. This case is very tricky. As it is future IF-ELSE that would demand "}" to be located on next line. So user will need to only add " esle { ...." and do not need to format(move to new line) "}" of IF.

[2017-03-04 21:10] MEZk opened #3919 "RightCurlyCheck: incorrect behavior of shouldStartLine option together with ALONE brace policy"
[code]

You can check the example [here](http://rveach.no-ip.org/checkstyle/checkstyle.php?action=view&config=56560450bef11228b6e8e90281f9797e&code=2fc86e7033436fec2982aac0fd071d3c&checkstyle=checkstyle-7.6-all.jar&printTree=).

It is unclear why the first violation message require } on a new line while the second violation message require } to be placed alone on a line. From my point of view we s

[2017-03-04 21:23] sagar-shah94 commented on #3907
Sir How following java docs violates condition?
  /**
      * @return 1.
      */

 /**
     * @throws Exception if an error occurs.
     */

[2017-03-04 21:24] MEZk opened #3920 "RightCurlyCheck: False positive with SAME and METHOD_DEF token"
[code]

The first violation message is incorrect. If I put line break before '}' on line 3
[code]

there will be a violation:
[code]

[2017-03-04 21:28] MEZk opened #3921 "RightCurlyCheck: incorrect behavior of shouldStartLine option together with ALONE_OR_SINGLELINE brace policy"
[code]

You can check the example [here](http://rveach.no-ip.org/checkstyle/checkstyle.php?action=view&config=03264fc2e2d5e959b0e1ec4538bb2fc9&code=db2a9858b399e57ff3e0ebb990f6cf61&checkstyle=checkstyle-7.6-all.jar&printTree=).

If shouldStartLine is set to false and brace policy is ALONE_OR_SIGLELINE, the first violation message disappear. I expect that there will be a violation on line 3 in both

[2017-03-04 21:37] MEZk opened #3922 "RightCurlyCheck: false positive with SAME and double brace map initializer"
Similar to https://github.com/checkstyle/checkstyle/issues/3920 .

[code]

The first violation message is incorrect. If I put line break before '}' on line 6
[code]
there will be a violation:
[code]

[2017-03-04 21:37] sagar-shah94 commented on #3907
Do i have to consider this case?is it valid or invalid?
For java summary docs we have to consider only first line ..Am i right?
/**
* This is test
* Valid or invalid.
*/

[2017-03-04 21:40] MEZk commented on #3775
@romani
Fixing of this issue is postponed till investigation of https://github.com/checkstyle/checkstyle/issues/3921 and https://github.com/checkstyle/checkstyle/issues/3919.

[2017-03-04 21:42] romani commented on #3907
There are first sentence at all, so it is a violation. Javadoc Tagged lines are not a first sentence. They does not belong to description.

[2017-03-04 21:45] romani commented on #3907
Valid. Just first sentence is wrapped to few lines.

[2017-03-04 21:45] sagar-shah94 commented on #3907
ok sir thanx

[2017-03-04 22:12] Vladlis commented on #3546
I'm on it

[2017-03-04 23:37] romani commented on #3089
I reread issue and documentation again .....

from html documentation "..... line separators after ....." there is no word about "{" or "}". But usually "}" is signal for end of method/class. So some cases are covered.
Rules for empty line after "{" are a bit complicated there a a lot cases there it is done on purpose and not ....

[2017-03-04 23:53] romani commented on #3089
@robertpainsi ,

I updated your examples to show violations on current implementation of Check, to make it clear what is now and what you would like to have.

we can not rely on indentation. We should rely on AST structure only. Siblings should be in tree.

only on line 3, as Check take care about empty line "after" only (according to its description).

line 6 miss empty line in front of it, that

[2017-03-05 00:01] romani commented on #3089
unfortunately I need to close this issue.
As Check work as designed and described in documentation.

[code]

After "INTERFACE_DEF" there are no other class/interface so no need to do separation.
Check do separation between siblings base on AST tree. There is no sibling for "INTERFACE_DEF".

Request for some functionality to enforce empty line after "{" will be addressed at #3379.

[2017-03-05 00:01] #3089 closed

[2017-03-05 00:14] romani commented on #3089
I did minor documentation extension to make it clear in documentation.

[2017-03-05 00:20] rnveach commented on #3908
@ljacqu Create a new issue as this is only this one is for only dealing with `inheritDoc` tag.

[2017-03-05 00:21] romani opened #3923 "Rule to enforce blank lines as wrap of class declaration"
taken from #3379

[code]

Expected: with some new option(s) (to let compatibility with previous behavior) raise violation on "void blah();" that it does not separated from following "}". in other words make rule to demand empty line after strict (without consideration of next sibling existance).

How to enforce empty line after "{" is still not clear (from design stand point ) ..... is this update

[2017-03-05 00:29] romani commented on #3379
This issue is hard to read and understand what is requested.

I created new issue #3923 with clear request for new functionality.

request for "rule that enforces n (0, 1, 2, ...) blank lines in this context" is skipped as author did not explain a reason of it.

Implementation of new option as described in new issue will not brake compatibility with existing functionality.

If somebody care about

[2017-03-05 00:29] #3379 closed

[2017-03-05 00:36] robertpainsi commented on #3089
@romani, thank you very much for your answer. You perfectly summarized how the check currently works.

It seems that I failed to explain clearly how the check works and what the problems are when we force a newline after the `{` (see example in the description) without expanding the current check configuration. My other mistake was, that I already tried to work on the specification of the extended

[2017-03-05 01:20] rnveach commented on #3900
Fix is merged.

[2017-03-05 01:20] #3900 closed

[2017-03-05 01:25] romani commented on #3923
discussion about more general validation for all blocks `{  }` (not only classes) - https://groups.google.com/forum/#!topic/checkstyle/KZn_d8nC4c0

[2017-03-05 06:44] sagar-shah94 commented on #3923
Is this issue solved ? if it is not closed i would like to work on this

[2017-03-05 07:28] sagar-shah94 commented on #3908
I am on it

[2017-03-05 08:59] ljacqu opened #3925 "SummaryJavadoc: option for simple @return"
Originally posted in #3908, it would be interesting to have a configuration option to skip the SummaryJavadoc check for certain fragments. Specifically, I'm interested in enabling this check but for trivial getters I want to allow just having a concise `@return blabla` javadoc:

[code]

I could imagine that this can be made configurable by having a whitelisted javadoc tags config (if the javadoc j

[2017-03-05 11:43] ps-sp commented on #3839
@romani @rnveach

`switch(a3) { case 0: test(); {} } // no violation`

Why are we not to have a violation here ? There's an empty block in case ! Wouldn't it  be better to acknowledge every empty block ?

[2017-03-05 13:13] romani opened #3929 "Split and Organize Checkstyle inputs by Test for OperatorWrap"
subtask of #3891 .

do a copy of all test input files to separate folder for OperatorWrap .
Not any other Check should use new inputs.

[2017-03-05 13:14] romani commented on #3929
pre-assigned to @nikhilgupta23 .

[2017-03-05 13:20] romani commented on #3908
@ljacqu , in new issue please start to define what is " trivial getters " . In my experience, setter/getter detection is hard and tricky, so definition of this term should be strict.

[2017-03-05 13:24] romani commented on #3752
@rnveach , do you plan to continue ?

[2017-03-05 13:27] Pes2009k commented on #3752
no

[2017-03-05 13:28] romani opened #3930 "Split and Organize Checkstyle inputs by Test for NoWhitespaceBefore"
subtask of #3891 .

do a copy of all test input files to separate folder for NoWhitespaceBefore .
Not any other Check should use new inputs.

[2017-03-05 13:29] romani commented on #3930
pre-assigned https://mail.google.com/mail/u/0/#inbox/15a929548a82d33a

[2017-03-05 13:31] bansalayush commented on #3930
I am on it

[2017-03-05 13:32] ljacqu commented on #3925
Per input by @romani in the other issue, please note I'm not suggesting to check whether a method is a "trivial getter" or not – I mention it because it's my use case where I have different Javadoc.

I would simply like a way to check that there is a valid Javadoc summary _unless_ there is just an `@return` description.

[2017-03-05 13:36] romani opened #3931 "Split and Organize Checkstyle inputs by Test for NoWhitespaceAfter"
subtask of #3891 .

do a copy of all test input files to separate folder for NoWhitespaceAfter .
Not any other Check should use new inputs.

[2017-03-05 13:39] romani commented on #3931
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/fqVPQz-t1Zk

[2017-03-05 13:41] bansalayush commented on #3931
I am on it

[2017-03-05 13:42] vrush03 commented on #3930
I am on it.

[2017-03-05 13:42] bansalayush commented on #3931
I am on it

[2017-03-05 13:47] romani commented on #3925
@ljacqu , unfortunately it not good idea to skip if some tag is present.
Imagine that you run on real code, and you want to cleanup javadoc for critical part of it.
Javadoc that human is writing is full of problems and missed items. So you will have number of cases where even for big methods there is only `@return` is written.

It is more reliable to stay with "skip for getters" idea in this case.

[2017-03-05 13:48] kukreja-vikramaditya opened #3932 "Annotation Line Wrapping bug for google_checks.xml"
[code]
[code]
[code]

---------------

An error should have been mentioned as Google Java Style says that annotation should be one per line and that Line wraping is not valid on them. See https://google.github.io/styleguide/javaguide.html#s4.8.5-annotations. If this is a valid bug , then NoLineWrap will need a default check for annotations also apart from (`IMPORT`, `STATIC_IMPORT` and `PACKAGE_DE

[2017-03-05 13:49] romani commented on #3930
@bansalayush , you issue is #3931 . This issue belong to another contibutor

[2017-03-05 13:54] kukreja-vikramaditya commented on #3932
Please note a similar false positive is occurring when `sun_checks.xml` is used.
We should consider adding `ANNOTATION` token in NoLineWrap or atleast updating the `it` folder for this check

[2017-03-05 13:55] ljacqu commented on #3925
For me this would be OK as there is another inspection that checks for the presence of all required tags, right?

But if you want to go down that road I could imagine checking that the method has no args, a non-void return type. Possibly you could also perform a length check on the method ("trivial getter" is 1 line). I fear that if this length check is also configurable things become a little ove

[2017-03-05 14:00] nikhilgupta23 commented on #3929
I am on it.

[2017-03-05 14:14] romani commented on #3309
@soon ,
package names should be provided by user in form "java.util" (not "java.util." or "java.util.*").
Package name is identifier without any trailing symbols.

[2017-03-05 14:34] romani opened #3933 "Split and Organize Checkstyle inputs by Test for NoLineWrap"
subtask of #3891 .

do a copy of all test input files to separate folder for NoLineWrap .
Not any other Check should use new inputs.

[2017-03-05 14:35] romani commented on #3933
pre-assigned https://groups.google.com/forum/#!topic/checkstyle-devel/bIw5aEnEtT8

[2017-03-05 14:57] rnveach commented on #3752
@romani Not at this point, if you wish to assign this to someone to get it done faster than go ahead.

[2017-03-05 15:04] rnveach commented on #3925
@ljacqu Just curious. You say you want smaller javadoc for getters, but you still want full validation for setters requiring main description and parameter description? Why the difference?

[2017-03-05 15:11] romani opened #3934 "code cleanup: to make updates to xdoc easy to review"
apply patch:
[code]

patch is required to avoid changes on existing lines when new token is added

resolve UT failure:
[code]

[2017-03-05 15:47] rnveach commented on #3932
@kukreja-vikramaditya `NoLineWrap` is a simple check that verifies token and all it's children are all on 1 line.
Annotation's children would include the parentheses and the parameters of the annotation. There may be some valid cases where the annotation is too long to fit on one line and should be wrapped.
Example:
[code]
Wrapping makes the annotation easier to read.
We could add some special cod

[2017-03-05 16:46] ljacqu commented on #3925
@rnveach, I don't like seeing documentation like the following.
[code]
Besides not telling me anything I don't see in the code, it also contains the same information twice. So to improve this one can either omit the javadoc or write something like the example in my first post (keeping only the `@return` whose text has at least some minimal additional context).

Your question is why I don't handle

[2017-03-05 17:08] SergeyDzyuba commented on #3601
I am on it

[2017-03-05 18:45] divsidhu-26 commented on #3933
I am on it.........

[2017-03-05 20:07] Ahmed-Elkollaly commented on #3547
I'm on it

[2017-03-05 23:52] nikhilgupta23 commented on #3934
I am on it.

[2017-03-06 11:05] divsidhu-26 commented on #3933
Please review the changes i made and let me know if they are okay to make a pull request.

[2017-03-06 12:26] Luolc commented on #3896
@rnveach
I think the change of sourceClass won't be a problem. It is not a static field. There are no impact between test methods if we create new instance for each one.
I want to focus on bundle cache currently. We can consider the `sourceClass` if we find anything else about it should be changed later.

I am going to work on it :)

[2017-03-06 12:34] rnveach commented on #3933
@divsidhu-26 make a PR and we review there as it keeps issue clean of implementation fixes.
I can tell you right now we are only expecting changes in `NoLineWrapCheckTest` and it's inputs. Not any other class.

[2017-03-06 16:24] romani commented on #3896
My concern is CI validation, we need to figure out how to reproduce this problem on CI, after that make sure that this fix works. CI should help in future to catch localization problems. Non of us can write completely correct code in localization perspective.

[2017-03-06 16:29] Luolc commented on #3896
@romani
Agree. Maybe we need a new issue for the CI problem. This issue describes a specific bug while the reproducibility on CI could be more complicated.

[2017-03-06 19:29] nikhilgupta23 commented on #3619
I'll work on it. @romani Can you please provide some more details about what needs to be added?

[2017-03-06 20:25] romani opened #3943 "doc: add examples for xdoc for ArrayTrailingComma"
http://checkstyle.sourceforge.net/config_coding.html#ArrayTrailingComma

make examples of correct and code with violation in examples to make it clear for user how Check is working.

Good example: http://checkstyle.sourceforge.net/config_coding.html#MagicNumber

[2017-03-06 20:26] romani commented on #3943
pre assigned to  @Pedro12909  (time out 1 day).

[2017-03-06 20:30] sagar-shah94 commented on #3574
I am on it

[2017-03-06 20:35] rnveach commented on #3574
@sagar-shah94 You cannot work on this issue. It is labeled with Checkstyle 8 and we are still on version 7.
It is a backward-breaking change and most wait for the new version.

[2017-03-06 21:24] romani commented on #3377
on my pc (but some time it pass so failure is unstable):

[code]

[2017-03-06 21:51] Pedro12909 commented on #3943
Working on it

[2017-03-06 22:18] bogdandrutu commented on #3762
Hey all,

What is the resolution on this think? Are you going to update the google_checks?

[2017-03-07 01:08] romani opened #3946 "code cleanup: minimize future xdoc changes"
if new token is added diff looks like:
[code]

[code]

it will be good if "." will be located on new line , so any future appending of tokens did not change existing lines.

Example: https://github.com/checkstyle/checkstyle/blob/master/src/xdocs/config_annotation.xml#L83

changes should be done to all xdoc files that have Checks Tokens sets - https://github.com/checkstyle/checkstyle/blob/master/sr

[2017-03-07 01:10] romani commented on #3329
fix is merged.

[2017-03-07 01:10] #3329 closed

[2017-03-07 01:41] romani commented on #3839
Check is doing search of empty blocks that belong to Token, in this case to CASE.
`test(); {}` is just a general empty block that you can put any place in code not only a CASE.
This Check care only about blocks that are scope of CASE.

[2017-03-07 01:44] rnveach commented on #3762
@bogdandrutu We have 2 open issues to update the google_checks.
https://github.com/checkstyle/checkstyle/issues/3755
https://github.com/checkstyle/checkstyle/issues/3888

[2017-03-07 01:49] rnveach commented on #3906
Fix is merged

[2017-03-07 01:49] #3906 closed

[2017-03-07 04:29] bansalayush commented on #3931
Kindly review the modifications I made and let me know if it'd be alright to make a pull request for it.

[2017-03-07 07:05] sabaka commented on #3931
@bansalayush , where we can find changes you made?
I've tried to find any commits in your fork, but there is only copy of the main repo.

[2017-03-07 07:11] bansalayush commented on #3931
@sabaka my bad . Now you can see the changes in my fork https://github.com/bansalayush/checkstyle

[2017-03-07 11:51] Vladlis commented on #3377
May we try to move these tests to another CI?

[2017-03-07 12:42] rnveach commented on #3931
@bansalayush You must start a PR before we start reviewing your changes. We only review once CI in PR passes. This also keeps the issue clean of any implementation problems and only focuses and the issue.

[2017-03-07 14:27] ps-sp commented on #3839
@romani  ! Duly acknowledged. Thanks.

[2017-03-07 15:01] rnveach opened #3949 "NoWhitespaceBefore: add support for method reference operator"
"::" is separator, NOT a operator - https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.11

$ cat MethodRef.java

[code]

$ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
C:\Users\U0076777>java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module Tr

[2017-03-07 15:04] rnveach opened #3950 "NoWhitespaceAfter: add support for method reference operator"
"::" is separator, NOT a operator - https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.11

$ cat MethodRef.java

[code]

$ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
C:\Users\U0076777>java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module Tr

[2017-03-07 15:06] rnveach opened #3951 "SeparatorWrap: add support for method reference operator"
"::" is separator, NOT a operator - https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.11

$ cat MethodRef.java

[code]

$ cat config.xml

[code]

/var/tmp $ java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
C:\Users\U0076777>java -jar checkstyle-7.0-all.jar -c config.xml MethodRef.java
com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module Tr

[2017-03-07 15:06] rnveach commented on #3327
Closing as issue was split into 3 separate issues
#3949, #3950, #3951

[2017-03-07 15:06] #3327 closed

[2017-03-07 15:18] sagar-shah94 commented on #3949
I am on it

[2017-03-07 15:18] sagar-shah94 commented on #3950
I am on it

[2017-03-07 16:04] rnveach commented on #3950
@sagar-shah94 As I stated before, I think you should find harder Issues to work on and let new people take the easy issues.
We are waiting for fixes on atleast 4 of your PRs.

[2017-03-07 16:09] sagar-shah94 commented on #3950
@rnveach i will start working on issue labeled medium.

[2017-03-07 16:59] Pedro12909 commented on #3951
I am on it.

[2017-03-07 21:40] robertpainsi commented on #3089
please create separate issue on this. This check is simple , might be used by **somebody.**

Ah, the NoEmptyLineSeparator as I described it could be handled _sufficiently_ by "empty lines that wrap content of some block" with setting it to 0 lines. At least if it supports all blocks like methods/if/while/etc. https://groups.google.com/forum/#!topic/checkstyle/KZn_d8nC4c0

@embee1981, if you want t

[2017-03-07 23:08] romani opened #3954 "Split and Organize Checkstyle inputs by Test for MethodParamPad"
subtask of #3891 .

do a copy of all test input files to separate folder for MethodParamPad
Not any other Check should use new inputs.

[2017-03-07 23:13] romani commented on #3954
Pre-assigned to abulfazahmadov

[2017-03-08 01:53] romani commented on #3312
Pre-assigned to kuchevad

[2017-03-08 02:50] rnveach opened #3955 "IllegalInstantiation: make all tokens should be required, so no need to use custom values in tokens property"
http://checkstyle.sourceforge.net/config_coding.html#IllegalInstantiation

Usage of this token was to let users to skip local classes.
But `classes` allow to specify fully qualified name to exclude, local/nested classes also have fully qualified name. So all can be covered to make CLASS_DEF to be used all times, and let use play with classes only.

~There are no examples or explanation from what `

[2017-03-08 07:48] soon commented on #3312
I am on it

[2017-03-08 08:35] oglueck opened #3956 "StackOverflowError on lengthy if/else cascade"
Minimal test case:
http://odi.ch/download/issue83.tar.gz

Originally reported against the Sonar-Checkstyle plugin:
https://github.com/checkstyle/sonar-checkstyle/issues/83

[2017-03-08 09:45] xpdavid commented on #3648
I am on this. :)

[2017-03-08 10:03] bansalayush commented on #3931
Umm... What is PR and CI???

[2017-03-08 11:14] lordozb commented on #3219
I'm on it.

[2017-03-08 11:32] osho-agyeya commented on #3949
I am on it.

[2017-03-08 12:13] GitToasterhub commented on #3954
I am on it

[2017-03-08 13:14] rnveach commented on #3956
@oglueck Where you able to reproduce the problem with the checkstyle command line directly?
http://checkstyle.sourceforge.net/cmdline.html#Download_and_Run

[2017-03-08 13:18] rnveach commented on #3931
@bansalayush I assume you are familar with github and git?
https://help.github.com/articles/github-glossary/
https://en.wikipedia.org/wiki/Continuous_integration
PR = pull request, CI = continuous integration

[2017-03-08 13:40] oglueck commented on #3956
Ah! No, I can't reproduce it, even when I use Sonar's config file and the same Java options. So it must be the Sonar integration.

[2017-03-08 13:40] #3956 closed

[2017-03-08 14:35] ps-sp commented on #3423
class InputAllowNonOverlappingLocalVars {
    String s3 = null;
    void foo() {
        try {
            if (true) {
                String s3 = "Hello, World!";
                if (true) {
                    s3 = new String(); // No violation ?
                }
                else {
                    s3 = new String(); // No violation ?
                }
            }
        }
        cat

[2017-03-08 16:14] ps-sp commented on #3423
Also, when variableDeclarationFrame would be BLOCK_FRAME and there's no overlapping then there can never be a violation ! Correct me if I am wrong. Thanks.

[2017-03-08 16:41] romani opened #3958 "Split and Organize Checkstyle inputs by Test for GenericWhitespace"
subtask of #3891 .

do a copy of all test input files to separate folder for GenericWhitespace
Not any other Check should use new inputs.

[2017-03-08 16:42] romani commented on #3958
Pre-assigned to Subramanyam Dantu

[2017-03-08 16:47] romani opened #3959 "Split and Organize Checkstyle inputs by Test for FileTabCharacter"
subtask of #3891 .

do a copy of all test input files to separate folder for FileTabCharacter
Not any other Check should use new inputs.

[2017-03-08 16:48] romani commented on #3959
Pre-assigned to Osho Agyeya

[2017-03-08 16:49] subkrish commented on #3958
I am on it

[2017-03-08 16:54] romani commented on #3946
Pre assigned to ayush bansal .

[2017-03-08 18:29] romani commented on #3910
fix is merged.

[2017-03-08 18:29] #3910 closed

[2017-03-08 20:28] rnveach opened #3961 "DetailASTTest: 'checkTree' failing on deep AST tree"
Taken from https://github.com/checkstyle/checkstyle/pull/3894#issuecomment-285104957 and seen at https://travis-ci.org/checkstyle/checkstyle/jobs/208912195#L254 ,

	at com.puppycrawl.tools.checkstyle.api.DetailASTTest.checkTree(DetailASTTest.java:158)

We should find a way to re-write this test, if possible, so it doesn't use the stack for each child.
When we run this on a deeply nested tree, we g

[2017-03-08 21:14] romani commented on #3897
fix is merged.

[2017-03-08 21:14] #3897 closed

[2017-03-08 22:02] gaganis opened #3962 "ImportControlLoader does not close InputStream and leaks filehandles when xml is malformed."
## Overview
I have been looking into this checkstyle plugin related gradle issue https://github.com/gradle/gradle/issues/1416. One of the issues the original author has is a problem with the import-control.xml file remaining open after gradle has finished execution.

I have managed to replicate the issue on my Linux box using the provided project and checkstyle configuration.

I have tracked the p

[2017-03-08 22:23] rnveach commented on #3962
Once checkstyle ends in gradle, doesn't the JVM terminate and close the stream then?

[2017-03-08 22:50] gaganis commented on #3962
Gradle uses a daemon that runs in the background and is reused between successive builds.

[2017-03-09 01:08] romani commented on #3398
issue as created by @linelect -  https://youtrack.jetbrains.com/issueMobile/IDEA-163103

[2017-03-09 01:46] romani commented on #3929
fix is merged.

[2017-03-09 01:46] #3929 closed

[2017-03-09 01:46] rnveach commented on #3904
Fixed is merged

[2017-03-09 01:46] #3904 closed

[2017-03-09 01:52] rnveach commented on #3943
Fix is merged

[2017-03-09 01:52] #3943 closed

[2017-03-09 03:41] rnveach commented on #3950
Pre-assigned to Suraj Kumar

[2017-03-09 03:45] surajumang commented on #3950
I am on it

[2017-03-09 04:33] bansalayush commented on #3946
I am on it

[2017-03-09 04:38] bansalayush commented on #3931
Yeah, I have been using git for quiet some time but never collaborated with anyone ,anyways I will go through it ....

[2017-03-09 07:22] Luolc commented on #3961
I have reviewed some codes in DetailASTTest when handling https://github.com/checkstyle/checkstyle/issues/3700. I think I am able to rewrite the test 😄
I will work on it once approved.

[2017-03-09 10:28] Sukrityshrivastava commented on #3812
I am on it.

[2017-03-09 12:43] sabaka commented on #3931
@bansalayush try to make all changes in your fork in separate branches (one per issue) and keep master branch up to date with main checkstyle repo (I use two remotes: origin for my fork and upstream for main repo). With this approach, when your fix is ready, you can do pull from upstream to your master, do rebase of your topic branch and send PR from branch.

Now I would suggest you to do followin

[2017-03-09 13:01] romani commented on #3961
Approved

[2017-03-09 13:04] rnveach commented on #3961
@Luolc Since your PR fixed the file with the original test, it is probably best to start off with another file that will fail and then provide fix to show it isn't an issue anymore.

[2017-03-09 13:19] romani commented on #3700
fix is merged

[2017-03-09 13:19] #3700 closed

[2017-03-09 13:28] romani opened #3965 "remove from Input files "Compilable with Java8""
All files under https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle
should not have such comment "Compilable with Java8", whole checkstyle is on java8 already.
To avoid massive UTs updates for line numbers , new line should be added after imports.

[2017-03-09 13:32] Luolc commented on #3961
@rnveach That makes sense. So the steps tend to be:
1. Create an input file and let the CI failed.
2. Rewrite the test to prove the fix will work on a deeply nested tree.
3. Delete the input file.
I will do that step by step 😄

[2017-03-09 14:19] Luolc commented on #3965
Is that OK to just replace the comment with an empty line? That can be simply implemented by a plain replace operation. Or we may need the help of regular expression to do the replacement.

[2017-03-09 14:19] rnveach commented on #3961
Yes to all except step 3. The file needs to stay to prove we don't revert back and break the test again.

[2017-03-09 14:22] rnveach commented on #3965
Yes, empty line is fine.

We will leave how it be done by the person who does the PR. I am not sure on the variations of the comment.

[2017-03-09 14:30] Luolc commented on #3961
@rnveach Got it. Just not sure where to put the input file. I am doing with step one now and the input file is put at https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl/tools/checkstyle/checks (where the `InputAllEscapedUnicodeCharacters` in #3700 is). Should I put the file at https://github.com/checkstyle/checkstyle/tree/master/src/test/resources/com/puppycrawl

[2017-03-09 15:17] Luolc commented on #3965
@rnveach Got it.
I am on it :)

[2017-03-09 16:35] romani commented on #3965
Empty line in NOT ok

[2017-03-09 17:03] romani commented on #3423
No violations in this case as Check is enforcing "this." To appear. There is no way to but "this." In your example.

[2017-03-09 18:03] osho-agyeya commented on #3959
I am on it.

[2017-03-09 18:43] rnveach commented on #3965
My bad, I missed the idea of just putting the empty line after the imports.

[2017-03-09 22:00] GitToasterhub commented on #3954
I created as it's stated in task, new folder in resource/check/whitespace/inputmethodparampad
and placed there 2 input files of  MethodParamPadCheckTest, InputParamPad.java and InputWhitespaceAround.java respectively
Also I changed a bit in getPath() method ,to a new input files position,and I ran this test,I got 4 successful 3 failed with reason (  '(' is preceded with whitespace.  )
I was trying

[2017-03-09 22:18] sabaka opened #3970 "Split and Organize Checkstyle inputs by Test for EmptyForInitializerPadCheck"
subtask of #3891 .

do a copy of all test input files to separate folder for EmptyForInitializerPad.
Not any other Check should use new inputs.